#cntSafetyRelayOutputsCell_1_GridLine1 {
  top: 0px;
  position: absolute;
}

#cntSafetyRelayOutputsCell_1_GridLine1 {
  left: 0px;
  position: absolute;
}

#cntSafetyRelayOutputsCell_1_GridLine1 {
  width: 300px;
}

#cntSafetyRelayOutputsCell_1_GridLine1 {
  height: 540px;
}

#cntSafetyRelayOutputsCell_1_GridLine1 {
  z-index: 0;
}

#cntSafetyRelayOutputsCell_1_GridLine1 .container {
  padding: 5px 0px;
}

#cntSafetyRelayOutputsCell_1_GridLineItem2 {
  z-index: 0;
}

#cntSafetyRelayOutputsCell_1_GridLineItem2 {
  padding: 0px 10px 10px 10px;
}

#cntSafetyRelayOutputsCell_1_Label2 {
  height: 30px;
}

#cntSafetyRelayOutputsCell_1_Label2 {
  top: 0px;
  position: absolute;
}

#cntSafetyRelayOutputsCell_1_Label2 {
  left: 15px;
  position: absolute;
}

#cntSafetyRelayOutputsCell_1_Label2 {
  width: 255px;
}

#cntSafetyRelayOutputsCell_1_Label2 {
  z-index: 0;
}

#cntSafetyRelayOutputsCell_1_Label2 span {
  color: dimgray;
}

#cntSafetyRelayOutputsCell_1_Label2 {
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntSafetyRelayOutputsCell_1_Label2 span {
  text-decoration: underline;
}

#cntSafetyRelayOutputsCell_1_ImageList1 {
  top: 35px;
  position: absolute;
}

#cntSafetyRelayOutputsCell_1_ImageList1 {
  left: 5px;
  position: absolute;
}

#cntSafetyRelayOutputsCell_1_ImageList1 {
  width: 20px;
}

#cntSafetyRelayOutputsCell_1_ImageList1 {
  height: 20px;
}

#cntSafetyRelayOutputsCell_1_ImageList1 {
  z-index: 1;
}

#cntSafetyRelayOutputsCell_1_ImageList2 {
  top: 65px;
  position: absolute;
}

#cntSafetyRelayOutputsCell_1_ImageList2 {
  left: 5px;
  position: absolute;
}

#cntSafetyRelayOutputsCell_1_ImageList2 {
  width: 20px;
}

#cntSafetyRelayOutputsCell_1_ImageList2 {
  height: 20px;
}

#cntSafetyRelayOutputsCell_1_ImageList2 {
  z-index: 2;
}

#cntSafetyRelayOutputsCell_1_ImageList3 {
  top: 95px;
  position: absolute;
}

#cntSafetyRelayOutputsCell_1_ImageList3 {
  left: 5px;
  position: absolute;
}

#cntSafetyRelayOutputsCell_1_ImageList3 {
  width: 20px;
}

#cntSafetyRelayOutputsCell_1_ImageList3 {
  height: 20px;
}

#cntSafetyRelayOutputsCell_1_ImageList3 {
  z-index: 3;
}

#cntSafetyRelayOutputsCell_1_ImageList4 {
  top: 125px;
  position: absolute;
}

#cntSafetyRelayOutputsCell_1_ImageList4 {
  left: 5px;
  position: absolute;
}

#cntSafetyRelayOutputsCell_1_ImageList4 {
  width: 20px;
}

#cntSafetyRelayOutputsCell_1_ImageList4 {
  height: 20px;
}

#cntSafetyRelayOutputsCell_1_ImageList4 {
  z-index: 4;
}

#cntSafetyRelayOutputsCell_1_Label_Bool101 {
  top: 35px;
  position: absolute;
}

#cntSafetyRelayOutputsCell_1_Label_Bool101 {
  left: 45px;
  position: absolute;
}

#cntSafetyRelayOutputsCell_1_Label_Bool101 {
  width: 195px;
}

#cntSafetyRelayOutputsCell_1_Label_Bool101 {
  height: 25px;
}

#cntSafetyRelayOutputsCell_1_Label_Bool101 {
  z-index: 5;
}

#cntSafetyRelayOutputsCell_1_LAbel_Bool102 {
  top: 65px;
  position: absolute;
}

#cntSafetyRelayOutputsCell_1_LAbel_Bool102 {
  left: 45px;
  position: absolute;
}

#cntSafetyRelayOutputsCell_1_LAbel_Bool102 {
  width: 195px;
}

#cntSafetyRelayOutputsCell_1_LAbel_Bool102 {
  height: 25px;
}

#cntSafetyRelayOutputsCell_1_LAbel_Bool102 {
  z-index: 6;
}

#cntSafetyRelayOutputsCell_1_label_Bool103 {
  top: 95px;
  position: absolute;
}

#cntSafetyRelayOutputsCell_1_label_Bool103 {
  left: 45px;
  position: absolute;
}

#cntSafetyRelayOutputsCell_1_label_Bool103 {
  width: 210px;
}

#cntSafetyRelayOutputsCell_1_label_Bool103 {
  height: 25px;
}

#cntSafetyRelayOutputsCell_1_label_Bool103 {
  z-index: 7;
}

#cntSafetyRelayOutputsCell_1_Label_bool4 {
  top: 125px;
  position: absolute;
}

#cntSafetyRelayOutputsCell_1_Label_bool4 {
  left: 45px;
  position: absolute;
}

#cntSafetyRelayOutputsCell_1_Label_bool4 {
  width: 225px;
}

#cntSafetyRelayOutputsCell_1_Label_bool4 {
  height: 25px;
}

#cntSafetyRelayOutputsCell_1_Label_bool4 {
  z-index: 8;
}

#cntSafetyRelayOutputsCell_1_GridLineItem4 {
  z-index: 1;
}

#cntSafetyRelayOutputsCell_1_GridLineItem4 {
  padding: 0px 10px 10px 10px;
}

#cntSafetyRelayOutputsCell_1_Label_bool117 {
  top: 35px;
  position: absolute;
}

#cntSafetyRelayOutputsCell_1_Label_bool117 {
  left: 45px;
  position: absolute;
}

#cntSafetyRelayOutputsCell_1_Label_bool117 {
  width: 235px;
}

#cntSafetyRelayOutputsCell_1_Label_bool117 {
  height: 25px;
}

#cntSafetyRelayOutputsCell_1_Label_bool117 {
  z-index: 0;
}

#cntSafetyRelayOutputsCell_1_Label_bool117 {
  font-weight: normal;
}

#cntSafetyRelayOutputsCell_1_Label_bool118 {
  top: 65px;
  position: absolute;
}

#cntSafetyRelayOutputsCell_1_Label_bool118 {
  left: 45px;
  position: absolute;
}

#cntSafetyRelayOutputsCell_1_Label_bool118 {
  width: 235px;
}

#cntSafetyRelayOutputsCell_1_Label_bool118 {
  height: 25px;
}

#cntSafetyRelayOutputsCell_1_Label_bool118 {
  z-index: 1;
}

#cntSafetyRelayOutputsCell_1_Label_bool119 {
  top: 95px;
  position: absolute;
}

#cntSafetyRelayOutputsCell_1_Label_bool119 {
  left: 45px;
  position: absolute;
}

#cntSafetyRelayOutputsCell_1_Label_bool119 {
  width: 235px;
}

#cntSafetyRelayOutputsCell_1_Label_bool119 {
  height: 25px;
}

#cntSafetyRelayOutputsCell_1_Label_bool119 {
  z-index: 2;
}

#cntSafetyRelayOutputsCell_1_Label_bool120 {
  top: 125px;
  position: absolute;
}

#cntSafetyRelayOutputsCell_1_Label_bool120 {
  left: 45px;
  position: absolute;
}

#cntSafetyRelayOutputsCell_1_Label_bool120 {
  width: 235px;
}

#cntSafetyRelayOutputsCell_1_Label_bool120 {
  height: 25px;
}

#cntSafetyRelayOutputsCell_1_Label_bool120 {
  z-index: 3;
}

#cntSafetyRelayOutputsCell_1_ImageList33 {
  top: 35px;
  position: absolute;
}

#cntSafetyRelayOutputsCell_1_ImageList33 {
  left: 5px;
  position: absolute;
}

#cntSafetyRelayOutputsCell_1_ImageList33 {
  width: 20px;
}

#cntSafetyRelayOutputsCell_1_ImageList33 {
  height: 20px;
}

#cntSafetyRelayOutputsCell_1_ImageList33 {
  z-index: 4;
}

#cntSafetyRelayOutputsCell_1_ImageList34 {
  top: 65px;
  position: absolute;
}

#cntSafetyRelayOutputsCell_1_ImageList34 {
  left: 5px;
  position: absolute;
}

#cntSafetyRelayOutputsCell_1_ImageList34 {
  width: 20px;
}

#cntSafetyRelayOutputsCell_1_ImageList34 {
  height: 20px;
}

#cntSafetyRelayOutputsCell_1_ImageList34 {
  z-index: 5;
}

#cntSafetyRelayOutputsCell_1_ImageList35 {
  top: 95px;
  position: absolute;
}

#cntSafetyRelayOutputsCell_1_ImageList35 {
  left: 5px;
  position: absolute;
}

#cntSafetyRelayOutputsCell_1_ImageList35 {
  width: 20px;
}

#cntSafetyRelayOutputsCell_1_ImageList35 {
  height: 20px;
}

#cntSafetyRelayOutputsCell_1_ImageList35 {
  z-index: 6;
}

#cntSafetyRelayOutputsCell_1_ImageList36 {
  top: 125px;
  position: absolute;
}

#cntSafetyRelayOutputsCell_1_ImageList36 {
  left: 5px;
  position: absolute;
}

#cntSafetyRelayOutputsCell_1_ImageList36 {
  width: 20px;
}

#cntSafetyRelayOutputsCell_1_ImageList36 {
  height: 20px;
}

#cntSafetyRelayOutputsCell_1_ImageList36 {
  z-index: 7;
}

#cntSafetyRelayOutputsCell_1_Label3 {
  height: 30px;
}

#cntSafetyRelayOutputsCell_1_Label3 {
  top: 0px;
  position: absolute;
}

#cntSafetyRelayOutputsCell_1_Label3 {
  left: 15px;
  position: absolute;
}

#cntSafetyRelayOutputsCell_1_Label3 {
  width: 255px;
}

#cntSafetyRelayOutputsCell_1_Label3 {
  z-index: 8;
}

#cntSafetyRelayOutputsCell_1_Label3 span {
  color: dimgray;
}

#cntSafetyRelayOutputsCell_1_Label3 {
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntSafetyRelayOutputsCell_1_Label3 span {
  text-decoration: underline;
}

#cntSafetyRelayOutputsCell_1_CheckBox_SafetyRelOut {
  top: 0px;
  position: absolute;
}

#cntSafetyRelayOutputsCell_1_CheckBox_SafetyRelOut {
  left: 250px;
  position: absolute;
}

#cntSafetyRelayOutputsCell_1_CheckBox_SafetyRelOut {
  width: 45px;
}

#cntSafetyRelayOutputsCell_1_CheckBox_SafetyRelOut {
  height: 45px;
}

#cntSafetyRelayOutputsCell_1_CheckBox_SafetyRelOut {
  z-index: 1;
}

#cntSafetyRelayOutputsCell_1_CheckBox_SafetyRelOut span {
  font-style: italic;
}

#cntSafetyRelayOutputsCell_1_CheckBox_SafetyRelOut.checked:not(.disabled) svg {
  fill: red;
}
