﻿@import "mixins.scss";
#cntSafetyRelayOutputsCell_1_GridLine1 {
	@include elemTop(0);
}
#cntSafetyRelayOutputsCell_1_GridLine1 {
	@include elemLeft(0);
}
#cntSafetyRelayOutputsCell_1_GridLine1 {
	@include elemWidth(300);
}
#cntSafetyRelayOutputsCell_1_GridLine1 {
	@include elemHeight(540);
}
#cntSafetyRelayOutputsCell_1_GridLine1 {
		z-index: 0;
}
#cntSafetyRelayOutputsCell_1_GridLine1 {
	.container{
		padding: 5px 0px;
	}
}
#cntSafetyRelayOutputsCell_1_GridLineItem2 {
		z-index: 0;
}
#cntSafetyRelayOutputsCell_1_GridLineItem2 {
		padding: 0px 10px 10px 10px;
}
#cntSafetyRelayOutputsCell_1_Label2 {
	@include elemAutoHeight(30);
}
#cntSafetyRelayOutputsCell_1_Label2 {
	@include elemTop(0);
}
#cntSafetyRelayOutputsCell_1_Label2 {
	@include elemLeft(15);
}
#cntSafetyRelayOutputsCell_1_Label2 {
	@include elemAutoWidth(255);
}
#cntSafetyRelayOutputsCell_1_Label2 {
		z-index: 0;
}
#cntSafetyRelayOutputsCell_1_Label2 {
	& span{
		color: rgba(105, 105, 105, 1);
	}
}
#cntSafetyRelayOutputsCell_1_Label2 {
	@include text-alignment-all('center');
}
#cntSafetyRelayOutputsCell_1_Label2 {
	span{
	@include text-decoration-underline(true);
	}
}
#cntSafetyRelayOutputsCell_1_ImageList1 {
	@include elemTop(35);
}
#cntSafetyRelayOutputsCell_1_ImageList1 {
	@include elemLeft(5);
}
#cntSafetyRelayOutputsCell_1_ImageList1 {
	@include elemWidth(20);
}
#cntSafetyRelayOutputsCell_1_ImageList1 {
	@include elemHeight(20);
}
#cntSafetyRelayOutputsCell_1_ImageList1 {
		z-index: 1;
}
#cntSafetyRelayOutputsCell_1_ImageList2 {
	@include elemTop(65);
}
#cntSafetyRelayOutputsCell_1_ImageList2 {
	@include elemLeft(5);
}
#cntSafetyRelayOutputsCell_1_ImageList2 {
	@include elemWidth(20);
}
#cntSafetyRelayOutputsCell_1_ImageList2 {
	@include elemHeight(20);
}
#cntSafetyRelayOutputsCell_1_ImageList2 {
		z-index: 2;
}
#cntSafetyRelayOutputsCell_1_ImageList3 {
	@include elemTop(95);
}
#cntSafetyRelayOutputsCell_1_ImageList3 {
	@include elemLeft(5);
}
#cntSafetyRelayOutputsCell_1_ImageList3 {
	@include elemWidth(20);
}
#cntSafetyRelayOutputsCell_1_ImageList3 {
	@include elemHeight(20);
}
#cntSafetyRelayOutputsCell_1_ImageList3 {
		z-index: 3;
}
#cntSafetyRelayOutputsCell_1_ImageList4 {
	@include elemTop(125);
}
#cntSafetyRelayOutputsCell_1_ImageList4 {
	@include elemLeft(5);
}
#cntSafetyRelayOutputsCell_1_ImageList4 {
	@include elemWidth(20);
}
#cntSafetyRelayOutputsCell_1_ImageList4 {
	@include elemHeight(20);
}
#cntSafetyRelayOutputsCell_1_ImageList4 {
		z-index: 4;
}
#cntSafetyRelayOutputsCell_1_Label_Bool101 {
	@include elemTop(35);
}
#cntSafetyRelayOutputsCell_1_Label_Bool101 {
	@include elemLeft(45);
}
#cntSafetyRelayOutputsCell_1_Label_Bool101 {
	@include elemAutoWidth(195);
}
#cntSafetyRelayOutputsCell_1_Label_Bool101 {
	@include elemAutoHeight(25);
}
#cntSafetyRelayOutputsCell_1_Label_Bool101 {
		z-index: 5;
}
#cntSafetyRelayOutputsCell_1_LAbel_Bool102 {
	@include elemTop(65);
}
#cntSafetyRelayOutputsCell_1_LAbel_Bool102 {
	@include elemLeft(45);
}
#cntSafetyRelayOutputsCell_1_LAbel_Bool102 {
	@include elemAutoWidth(195);
}
#cntSafetyRelayOutputsCell_1_LAbel_Bool102 {
	@include elemAutoHeight(25);
}
#cntSafetyRelayOutputsCell_1_LAbel_Bool102 {
		z-index: 6;
}
#cntSafetyRelayOutputsCell_1_label_Bool103 {
	@include elemTop(95);
}
#cntSafetyRelayOutputsCell_1_label_Bool103 {
	@include elemLeft(45);
}
#cntSafetyRelayOutputsCell_1_label_Bool103 {
	@include elemAutoWidth(210);
}
#cntSafetyRelayOutputsCell_1_label_Bool103 {
	@include elemAutoHeight(25);
}
#cntSafetyRelayOutputsCell_1_label_Bool103 {
		z-index: 7;
}
#cntSafetyRelayOutputsCell_1_Label_bool4 {
	@include elemTop(125);
}
#cntSafetyRelayOutputsCell_1_Label_bool4 {
	@include elemLeft(45);
}
#cntSafetyRelayOutputsCell_1_Label_bool4 {
	@include elemAutoWidth(225);
}
#cntSafetyRelayOutputsCell_1_Label_bool4 {
	@include elemAutoHeight(25);
}
#cntSafetyRelayOutputsCell_1_Label_bool4 {
		z-index: 8;
}
#cntSafetyRelayOutputsCell_1_GridLineItem4 {
		z-index: 1;
}
#cntSafetyRelayOutputsCell_1_GridLineItem4 {
		padding: 0px 10px 10px 10px;
}
#cntSafetyRelayOutputsCell_1_Label_bool117 {
	@include elemTop(35);
}
#cntSafetyRelayOutputsCell_1_Label_bool117 {
	@include elemLeft(45);
}
#cntSafetyRelayOutputsCell_1_Label_bool117 {
	@include elemAutoWidth(235);
}
#cntSafetyRelayOutputsCell_1_Label_bool117 {
	@include elemAutoHeight(25);
}
#cntSafetyRelayOutputsCell_1_Label_bool117 {
		z-index: 0;
}
#cntSafetyRelayOutputsCell_1_Label_bool117 {
	@include font-weight-bold(false);
}
#cntSafetyRelayOutputsCell_1_Label_bool118 {
	@include elemTop(65);
}
#cntSafetyRelayOutputsCell_1_Label_bool118 {
	@include elemLeft(45);
}
#cntSafetyRelayOutputsCell_1_Label_bool118 {
	@include elemAutoWidth(235);
}
#cntSafetyRelayOutputsCell_1_Label_bool118 {
	@include elemAutoHeight(25);
}
#cntSafetyRelayOutputsCell_1_Label_bool118 {
		z-index: 1;
}
#cntSafetyRelayOutputsCell_1_Label_bool119 {
	@include elemTop(95);
}
#cntSafetyRelayOutputsCell_1_Label_bool119 {
	@include elemLeft(45);
}
#cntSafetyRelayOutputsCell_1_Label_bool119 {
	@include elemAutoWidth(235);
}
#cntSafetyRelayOutputsCell_1_Label_bool119 {
	@include elemAutoHeight(25);
}
#cntSafetyRelayOutputsCell_1_Label_bool119 {
		z-index: 2;
}
#cntSafetyRelayOutputsCell_1_Label_bool120 {
	@include elemTop(125);
}
#cntSafetyRelayOutputsCell_1_Label_bool120 {
	@include elemLeft(45);
}
#cntSafetyRelayOutputsCell_1_Label_bool120 {
	@include elemAutoWidth(235);
}
#cntSafetyRelayOutputsCell_1_Label_bool120 {
	@include elemAutoHeight(25);
}
#cntSafetyRelayOutputsCell_1_Label_bool120 {
		z-index: 3;
}
#cntSafetyRelayOutputsCell_1_ImageList33 {
	@include elemTop(35);
}
#cntSafetyRelayOutputsCell_1_ImageList33 {
	@include elemLeft(5);
}
#cntSafetyRelayOutputsCell_1_ImageList33 {
	@include elemWidth(20);
}
#cntSafetyRelayOutputsCell_1_ImageList33 {
	@include elemHeight(20);
}
#cntSafetyRelayOutputsCell_1_ImageList33 {
		z-index: 4;
}
#cntSafetyRelayOutputsCell_1_ImageList34 {
	@include elemTop(65);
}
#cntSafetyRelayOutputsCell_1_ImageList34 {
	@include elemLeft(5);
}
#cntSafetyRelayOutputsCell_1_ImageList34 {
	@include elemWidth(20);
}
#cntSafetyRelayOutputsCell_1_ImageList34 {
	@include elemHeight(20);
}
#cntSafetyRelayOutputsCell_1_ImageList34 {
		z-index: 5;
}
#cntSafetyRelayOutputsCell_1_ImageList35 {
	@include elemTop(95);
}
#cntSafetyRelayOutputsCell_1_ImageList35 {
	@include elemLeft(5);
}
#cntSafetyRelayOutputsCell_1_ImageList35 {
	@include elemWidth(20);
}
#cntSafetyRelayOutputsCell_1_ImageList35 {
	@include elemHeight(20);
}
#cntSafetyRelayOutputsCell_1_ImageList35 {
		z-index: 6;
}
#cntSafetyRelayOutputsCell_1_ImageList36 {
	@include elemTop(125);
}
#cntSafetyRelayOutputsCell_1_ImageList36 {
	@include elemLeft(5);
}
#cntSafetyRelayOutputsCell_1_ImageList36 {
	@include elemWidth(20);
}
#cntSafetyRelayOutputsCell_1_ImageList36 {
	@include elemHeight(20);
}
#cntSafetyRelayOutputsCell_1_ImageList36 {
		z-index: 7;
}
#cntSafetyRelayOutputsCell_1_Label3 {
	@include elemAutoHeight(30);
}
#cntSafetyRelayOutputsCell_1_Label3 {
	@include elemTop(0);
}
#cntSafetyRelayOutputsCell_1_Label3 {
	@include elemLeft(15);
}
#cntSafetyRelayOutputsCell_1_Label3 {
	@include elemAutoWidth(255);
}
#cntSafetyRelayOutputsCell_1_Label3 {
		z-index: 8;
}
#cntSafetyRelayOutputsCell_1_Label3 {
	& span{
		color: rgba(105, 105, 105, 1);
	}
}
#cntSafetyRelayOutputsCell_1_Label3 {
	@include text-alignment-all('center');
}
#cntSafetyRelayOutputsCell_1_Label3 {
	span{
	@include text-decoration-underline(true);
	}
}
#cntSafetyRelayOutputsCell_1_CheckBox_SafetyRelOut {
	@include elemTop(0);
}
#cntSafetyRelayOutputsCell_1_CheckBox_SafetyRelOut {
	@include elemLeft(250);
}
#cntSafetyRelayOutputsCell_1_CheckBox_SafetyRelOut {
	@include elemAutoWidth(45);
}
#cntSafetyRelayOutputsCell_1_CheckBox_SafetyRelOut {
	@include elemAutoHeight(45);
}
#cntSafetyRelayOutputsCell_1_CheckBox_SafetyRelOut {
		z-index: 1;
}
#cntSafetyRelayOutputsCell_1_CheckBox_SafetyRelOut {
	span{
	@include font-style-italic(true);
	}
}
#cntSafetyRelayOutputsCell_1_CheckBox_SafetyRelOut {
	&.checked:not(.disabled) svg{
		fill: rgba(255, 0, 0, 1);
	}
}
