.widgets_brease_GridLine_style_default{width:500px;height:200px;border-width:1px;border-color:#000000;border-style:solid;background-color:transparent;margin:0px;border-radius:0px}.widgets_brease_GridLine_style_default .container{padding:10px 0px}.widgets_brease_GridLine_style_default .container .breaseGridLineItem svg.expanded{fill:#000000}.widgets_brease_GridLine_style_default .container .breaseGridLineItem svg.collapsed{fill:#000000}.widgets_brease_GridLine_style_default .container .breaseGridLineItem svg.modify{fill:#000000}
