﻿<script>brease.setOptions("cntHome_Cell1_Image_TopDoor",{"top": 195,"left": 180,"width": 420,"height": 150,"zIndex": 0,"image": "Media/CellPng/KapiAcikTop.png","sizeMode": "fill","className":"widgets/brease/Image","parentContentId":"cntHome_Cell1"});
brease.setOptions("cntHome_Cell1_Image1",{"top": 345,"left": 180,"width": 555,"height": 420,"zIndex": 1,"image": "Media/CellPng/Cell1/Cell1_On.png","sizeMode": "fill","className":"widgets/brease/Image","parentContentId":"cntHome_Cell1"});
brease.setOptions("cntHome_Cell1_Image_SideDoor",{"top": 420,"left": 15,"width": 165,"height": 270,"zIndex": 2,"image": "Media/CellPng/KapiAcikSide.png","sizeMode": "fill","className":"widgets/brease/Image","parentContentId":"cntHome_Cell1"});
brease.setOptions("cntHome_Cell1_Image_BottomDoor",{"top": 765,"left": 195,"width": 390,"height": 165,"zIndex": 3,"image": "Media/CellPng/KapiAcikBot.png","sizeMode": "fill","className":"widgets/brease/Image","parentContentId":"cntHome_Cell1"});
brease.setOptions("cntHome_Cell1_ImageList_EmgRedCell1",{"top": 765,"left": 600,"width": 75,"height": 75,"zIndex": 4,"imageList": ['Media/CellPng/redemg_0.png', 'Media/CellPng/redemg_90.png', 'Media/CellPng/redemg_180.png', 'Media/CellPng/redemg_270.png'],"className":"widgets/brease/ImageList","parentContentId":"cntHome_Cell1"});
brease.setOptions("cntHome_Cell1_Image_EmgGreenCell1",{"top": 765,"left": 600,"width": 75,"height": 75,"zIndex": 5,"image": "Media/CellPng/greenemg.png","className":"widgets/brease/Image","parentContentId":"cntHome_Cell1"});
brease.setOptions("cntHome_Cell1_btnYSockParts",{"top": 345,"left": 195,"width": 525,"height": 120,"zIndex": 6,"style": "transparent","className":"widgets/brease/Button","parentContentId":"cntHome_Cell1"});
brease.setOptions("cntHome_Cell1_btnRobot",{"top": 495,"left": 390,"width": 90,"height": 105,"zIndex": 7,"style": "transparent","className":"widgets/brease/Button","parentContentId":"cntHome_Cell1"});
brease.setOptions("cntHome_Cell1_btnCamera",{"top": 480,"left": 480,"width": 105,"height": 150,"zIndex": 8,"textAlign": "left","style": "transparent","className":"widgets/brease/Button","parentContentId":"cntHome_Cell1"});
brease.setOptions("cntHome_Cell1_btnLeftPlate",{"top": 480,"left": 615,"width": 105,"height": 75,"zIndex": 9,"cornerRadius": "0px","style": "transparent","className":"widgets/brease/Button","parentContentId":"cntHome_Cell1"});
brease.setOptions("cntHome_Cell1_btnRightPlate",{"top": 555,"left": 615,"width": 105,"height": 75,"zIndex": 10,"cornerRadius": "0px","style": "transparent","className":"widgets/brease/Button","parentContentId":"cntHome_Cell1"});
brease.setOptions("cntHome_Cell1_btnYSockParts1",{"top": 645,"left": 180,"width": 555,"height": 120,"zIndex": 11,"style": "transparent","className":"widgets/brease/Button","parentContentId":"cntHome_Cell1"});
brease.setOptions("cntHome_Cell1_Rectangle1",{"top": 0,"left": 210,"width": 525,"height": 135,"zIndex": 12,"borderStyle": "outset","borderWidth": "5px","lineColor": "rgba(200, 200, 200, 1)","className":"widgets/brease/Rectangle","parentContentId":"cntHome_Cell1"});
brease.setOptions("cntHome_Cell1_Label1",{"top": 0,"left": 0,"width": 210,"height": 135,"zIndex": 13,"text": "$IAT/Home/Cell1/Cell1","borderWidth": "5px 0px 5px 5px","borderStyle": "outset","fontSize": "50px","style": "Caption","className":"widgets/brease/Label","parentContentId":"cntHome_Cell1"});
brease.setOptions("cntHome_Cell1_Label2",{"top": 30,"left": 230,"width": 195,"height": 45,"zIndex": 14,"text": "$IAT/Home/Cell1/MachineStatus","style": "Information","className":"widgets/brease/Label","parentContentId":"cntHome_Cell1"});
brease.setOptions("cntHome_Cell1_Information",{"top": 80,"left": 230,"width": 195,"height": 45,"zIndex": 15,"text": "$IAT/Home/Cell1/MachineMode","style": "Information","className":"widgets/brease/Label","parentContentId":"cntHome_Cell1"});
brease.setOptions("cntHome_Cell1_Image_Cell1Tepe",{"top": 239,"left": 645,"width": 30,"height": 105,"zIndex": 16,"image": "Media/CellPng/TepeLambEmpty.png","className":"widgets/brease/Image","parentContentId":"cntHome_Cell1"});
brease.setOptions("cntHome_Cell1_ImageList_Cell1Lamb",{"top": 240,"left": 645,"width": 30,"height": 105,"zIndex": 17,"imageList": ['Media/CellPng/Red_Lamb.png', 'Media/CellPng/Yellow_Lamb.png', 'Media/CellPng/Green_Lamb.png'],"selectedIndex": 2,"sizeMode": "fill","className":"widgets/brease/ImageList","parentContentId":"cntHome_Cell1"});
</script><div id="cntHome_Cell1_Image_TopDoor" data-brease-widget="widgets/brease/Image"></div><div id="cntHome_Cell1_Image1" data-brease-widget="widgets/brease/Image"></div><div id="cntHome_Cell1_Image_SideDoor" data-brease-widget="widgets/brease/Image"></div><div id="cntHome_Cell1_Image_BottomDoor" data-brease-widget="widgets/brease/Image"></div><div id="cntHome_Cell1_ImageList_EmgRedCell1" data-brease-widget="widgets/brease/ImageList"></div><div id="cntHome_Cell1_Image_EmgGreenCell1" data-brease-widget="widgets/brease/Image"></div><div id="cntHome_Cell1_btnYSockParts" data-brease-widget="widgets/brease/Button"></div><div id="cntHome_Cell1_btnRobot" data-brease-widget="widgets/brease/Button"></div><div id="cntHome_Cell1_btnCamera" data-brease-widget="widgets/brease/Button"></div><div id="cntHome_Cell1_btnLeftPlate" data-brease-widget="widgets/brease/Button"></div><div id="cntHome_Cell1_btnRightPlate" data-brease-widget="widgets/brease/Button"></div><div id="cntHome_Cell1_btnYSockParts1" data-brease-widget="widgets/brease/Button"></div><div id="cntHome_Cell1_Rectangle1" data-brease-widget="widgets/brease/Rectangle"></div><label id="cntHome_Cell1_Label1" data-brease-widget="widgets/brease/Label"></label><label id="cntHome_Cell1_Label2" data-brease-widget="widgets/brease/Label"></label><label id="cntHome_Cell1_Information" data-brease-widget="widgets/brease/Label"></label><div id="cntHome_Cell1_Image_Cell1Tepe" data-brease-widget="widgets/brease/Image"></div><div id="cntHome_Cell1_ImageList_Cell1Lamb" data-brease-widget="widgets/brease/ImageList"></div>