﻿<script>brease.setOptions("cntIOImageCell_2_ImageList3",{"top": 30,"left": 195,"width": 30,"height": 225,"zIndex": 0,"imageList": ['Media/Config/IO-Red.png', 'Media/Config/IO-Green.png'],"sizeMode": "fill","className":"widgets/brease/ImageList","parentContentId":"cntIOImageCell_2"});
brease.setOptions("cntIOImageCell_2_ImageList4",{"top": 30,"left": 225,"width": 30,"height": 225,"zIndex": 1,"imageList": ['Media/Config/IO-Red.png', 'Media/Config/IO-Green.png'],"sizeMode": "fill","className":"widgets/brease/ImageList","parentContentId":"cntIOImageCell_2"});
brease.setOptions("cntIOImageCell_2_ImageList5",{"top": 30,"left": 255,"width": 30,"height": 225,"zIndex": 2,"imageList": ['Media/Config/IO-Red.png', 'Media/Config/IO-Green.png'],"sizeMode": "fill","className":"widgets/brease/ImageList","parentContentId":"cntIOImageCell_2"});
brease.setOptions("cntIOImageCell_2_ImageList6",{"top": 30,"left": 285,"width": 30,"height": 225,"zIndex": 3,"imageList": ['Media/Config/IO-Red.png', 'Media/Config/IO-Green.png'],"sizeMode": "fill","className":"widgets/brease/ImageList","parentContentId":"cntIOImageCell_2"});
brease.setOptions("cntIOImageCell_2_ImageList7",{"top": 30,"left": 315,"width": 30,"height": 225,"zIndex": 4,"imageList": ['Media/Config/IO-Red.png', 'Media/Config/IO-Green.png'],"sizeMode": "fill","className":"widgets/brease/ImageList","parentContentId":"cntIOImageCell_2"});
brease.setOptions("cntIOImageCell_2_ImageList8",{"top": 30,"left": 375,"width": 30,"height": 225,"zIndex": 5,"imageList": ['Media/Config/IO-Red.png', 'Media/Config/IO-Green.png'],"sizeMode": "fill","className":"widgets/brease/ImageList","parentContentId":"cntIOImageCell_2"});
brease.setOptions("cntIOImageCell_2_ImageList9",{"top": 30,"left": 345,"width": 30,"height": 225,"zIndex": 6,"imageList": ['Media/Config/IO-Red.png', 'Media/Config/IO-Green.png'],"sizeMode": "fill","className":"widgets/brease/ImageList","parentContentId":"cntIOImageCell_2"});
brease.setOptions("cntIOImageCell_2_ImageList_SafetyIO",{"top": 30,"left": 405,"width": 45,"height": 225,"zIndex": 7,"imageList": ['Media/Config/X20SI9100-Red.png', 'Media/Config/X20SI9100-Green.png'],"sizeMode": "fill","className":"widgets/brease/ImageList","parentContentId":"cntIOImageCell_2"});
brease.setOptions("cntIOImageCell_2_ImageList_SafetyIO2",{"top": 30,"left": 450,"width": 45,"height": 225,"zIndex": 8,"imageList": ['Media/Config/X20SO4110-Red.png', 'Media/Config/X20SO4110-Green.png'],"sizeMode": "fill","className":"widgets/brease/ImageList","parentContentId":"cntIOImageCell_2"});
brease.setOptions("cntIOImageCell_2_ImageList_SafetyIO3",{"top": 30,"left": 495,"width": 45,"height": 225,"zIndex": 9,"imageList": ['Media/Config/X20SO4110-Red.png', 'Media/Config/X20SO4110-Green.png'],"sizeMode": "fill","className":"widgets/brease/ImageList","parentContentId":"cntIOImageCell_2"});
brease.setOptions("cntIOImageCell_2_ImageList_SafetyIO4",{"top": 30,"left": 540,"width": 45,"height": 225,"zIndex": 10,"imageList": ['Media/Config/X20SO4110-Red.png', 'Media/Config/X20SO4110-Green.png'],"sizeMode": "fill","className":"widgets/brease/ImageList","parentContentId":"cntIOImageCell_2"});
brease.setOptions("cntIOImageCell_2_ImageList_Robot",{"top": 300,"left": 45,"width": 165,"height": 240,"zIndex": 11,"imageList": ['Media/Config/ABB-1200-Red.png', 'Media/Config/ABB-1200-Green.png'],"sizeMode": "fill","className":"widgets/brease/ImageList","parentContentId":"cntIOImageCell_2"});
brease.setOptions("cntIOImageCell_2_ImageList_CPX",{"top": 300,"left": 285,"width": 375,"height": 195,"zIndex": 12,"imageList": ['Media/Config/CPXModule-Red.png', 'Media/Config/CPXModule-Green.png'],"sizeMode": "fill","className":"widgets/brease/ImageList","parentContentId":"cntIOImageCell_2"});
brease.setOptions("cntIOImageCell_2_Button_ControllerCell2",{"top": 30,"left": 90,"width": 320,"height": 225,"zIndex": 16,"cornerRadius": "0px","style": "transparent","className":"widgets/brease/Button","parentContentId":"cntIOImageCell_2"});
brease.setOptions("cntIOImageCell_2_Button_SafetyCell2",{"top": 110,"left": 420,"width": 180,"height": 225,"zIndex": 13,"cornerRadius": "0px","style": "transparent","className":"widgets/brease/Button","parentContentId":"cntIOImageCell_2"});
brease.setOptions("cntIOImageCell_2_ImageList2",{"top": 25,"left": 84,"width": 80,"height": 230,"zIndex": 14,"imageList": ['Media/Config/X20BC083-Red.png', 'Media/Config/X20Bc083-Green.png'],"sizeMode": "fill","backColor": "rgba(255, 255, 255, 0)","margin": "0px","className":"widgets/brease/ImageList","parentContentId":"cntIOImageCell_2"});
brease.setOptions("cntIOImageCell_2_ImageList10",{"top": 25,"left": 162,"width": 34,"height": 225,"zIndex": 15,"imageList": ['Media/Config/X20PS9400-Red.png', 'Media/Config/X20PS9400-Green.png'],"sizeMode": "fill","className":"widgets/brease/ImageList","parentContentId":"cntIOImageCell_2"});
</script><div id="cntIOImageCell_2_ImageList3" data-brease-widget="widgets/brease/ImageList"></div><div id="cntIOImageCell_2_ImageList4" data-brease-widget="widgets/brease/ImageList"></div><div id="cntIOImageCell_2_ImageList5" data-brease-widget="widgets/brease/ImageList"></div><div id="cntIOImageCell_2_ImageList6" data-brease-widget="widgets/brease/ImageList"></div><div id="cntIOImageCell_2_ImageList7" data-brease-widget="widgets/brease/ImageList"></div><div id="cntIOImageCell_2_ImageList8" data-brease-widget="widgets/brease/ImageList"></div><div id="cntIOImageCell_2_ImageList9" data-brease-widget="widgets/brease/ImageList"></div><div id="cntIOImageCell_2_ImageList_SafetyIO" data-brease-widget="widgets/brease/ImageList"></div><div id="cntIOImageCell_2_ImageList_SafetyIO2" data-brease-widget="widgets/brease/ImageList"></div><div id="cntIOImageCell_2_ImageList_SafetyIO3" data-brease-widget="widgets/brease/ImageList"></div><div id="cntIOImageCell_2_ImageList_SafetyIO4" data-brease-widget="widgets/brease/ImageList"></div><div id="cntIOImageCell_2_ImageList_Robot" data-brease-widget="widgets/brease/ImageList"></div><div id="cntIOImageCell_2_ImageList_CPX" data-brease-widget="widgets/brease/ImageList"></div><div id="cntIOImageCell_2_Button_ControllerCell2" data-brease-widget="widgets/brease/Button"></div><div id="cntIOImageCell_2_Button_SafetyCell2" data-brease-widget="widgets/brease/Button"></div><div id="cntIOImageCell_2_ImageList2" data-brease-widget="widgets/brease/ImageList"></div><div id="cntIOImageCell_2_ImageList10" data-brease-widget="widgets/brease/ImageList"></div>