﻿<script>brease.setOptions("cntIOImageCell_1_ImageList1",{"top": 40,"left": 170,"width": 60,"height": 225,"zIndex": 0,"imageList": ['Media/Config/X20IF10E3-Red.png', 'Media/Config/X20IF10E3-Green.png'],"sizeMode": "fill","className":"widgets/brease/ImageList","parentContentId":"cntIOImageCell_1"});
brease.setOptions("cntIOImageCell_1_ImageList2",{"top": 40,"left": 225,"width": 60,"height": 230,"zIndex": 1,"imageList": ['Media/Config/X20BC083-Red.png', 'Media/Config/X20Bc083-Green.png'],"sizeMode": "fill","backColor": "rgba(255, 255, 255, 0)","margin": "0px","className":"widgets/brease/ImageList","parentContentId":"cntIOImageCell_1"});
brease.setOptions("cntIOImageCell_1_ImageList3",{"top": 45,"left": 315,"width": 30,"height": 225,"zIndex": 2,"imageList": ['Media/Config/IO-Red.png', 'Media/Config/IO-Green.png'],"sizeMode": "fill","className":"widgets/brease/ImageList","parentContentId":"cntIOImageCell_1"});
brease.setOptions("cntIOImageCell_1_ImageList4",{"top": 45,"left": 345,"width": 30,"height": 225,"zIndex": 3,"imageList": ['Media/Config/IO-Red.png', 'Media/Config/IO-Green.png'],"sizeMode": "fill","className":"widgets/brease/ImageList","parentContentId":"cntIOImageCell_1"});
brease.setOptions("cntIOImageCell_1_ImageList5",{"top": 45,"left": 375,"width": 30,"height": 225,"zIndex": 4,"imageList": ['Media/Config/IO-Red.png', 'Media/Config/IO-Green.png'],"sizeMode": "fill","className":"widgets/brease/ImageList","parentContentId":"cntIOImageCell_1"});
brease.setOptions("cntIOImageCell_1_ImageList6",{"top": 45,"left": 405,"width": 30,"height": 225,"zIndex": 5,"imageList": ['Media/Config/IO-Red.png', 'Media/Config/IO-Green.png'],"sizeMode": "fill","className":"widgets/brease/ImageList","parentContentId":"cntIOImageCell_1"});
brease.setOptions("cntIOImageCell_1_ImageList7",{"top": 45,"left": 435,"width": 30,"height": 225,"zIndex": 6,"imageList": ['Media/Config/IO-Red.png', 'Media/Config/IO-Green.png'],"sizeMode": "fill","className":"widgets/brease/ImageList","parentContentId":"cntIOImageCell_1"});
brease.setOptions("cntIOImageCell_1_ImageList_SafetyIO",{"top": 45,"left": 465,"width": 45,"height": 225,"zIndex": 7,"imageList": ['Media/Config/X20SI9100-Red.png', 'Media/Config/X20SI9100-Green.png'],"sizeMode": "fill","className":"widgets/brease/ImageList","parentContentId":"cntIOImageCell_1"});
brease.setOptions("cntIOImageCell_1_ImageList_SafetyIO2",{"top": 45,"left": 510,"width": 60,"height": 225,"zIndex": 8,"imageList": ['Media/Config/X20SO4110-Red.png', 'Media/Config/X20SO4110-Green.png'],"sizeMode": "fill","className":"widgets/brease/ImageList","parentContentId":"cntIOImageCell_1"});
brease.setOptions("cntIOImageCell_1_ImageList10",{"top": 45,"left": 570,"width": 60,"height": 225,"zIndex": 9,"imageList": ['Media/Config/X20SO4110-Red.png', 'Media/Config/X20SO4110-Green.png'],"sizeMode": "fill","className":"widgets/brease/ImageList","parentContentId":"cntIOImageCell_1"});
brease.setOptions("cntIOImageCell_1_ImageList11",{"top": 45,"left": 630,"width": 30,"height": 225,"zIndex": 10,"imageList": ['Media/Config/IO-Red.png', 'Media/Config/IO-Green.png'],"sizeMode": "fill","className":"widgets/brease/ImageList","parentContentId":"cntIOImageCell_1"});
brease.setOptions("cntIOImageCell_1_ImageList_SafetyRelay",{"top": 45,"left": 45,"width": 90,"height": 225,"zIndex": 11,"imageList": ['Media/Config/Safety-Red.png', 'Media/Config/Safety-Green.png'],"sizeMode": "fill","className":"widgets/brease/ImageList","parentContentId":"cntIOImageCell_1"});
brease.setOptions("cntIOImageCell_1_ImageList_Robot",{"top": 300,"left": 90,"width": 165,"height": 240,"zIndex": 12,"imageList": ['Media/Config/ABB-1200-Red.png', 'Media/Config/ABB-1200-Green.png'],"sizeMode": "fill","className":"widgets/brease/ImageList","parentContentId":"cntIOImageCell_1"});
brease.setOptions("cntIOImageCell_1_Button1_Cntller",{"top": 40,"left": 170,"width": 295,"height": 225,"zIndex": 16,"style": "transparent","className":"widgets/brease/Button","parentContentId":"cntIOImageCell_1"});
brease.setOptions("cntIOImageCell_1_ImageList_SuctionModule",{"top": 315,"left": 375,"width": 195,"height": 205,"zIndex": 13,"imageList": ['Media/Config/Suction-Red.png', 'Media/Config/Suction-Green.png'],"className":"widgets/brease/ImageList","parentContentId":"cntIOImageCell_1"});
brease.setOptions("cntIOImageCell_1_Button_SafetyIO",{"top": 50,"left": 470,"width": 160,"height": 215,"zIndex": 14,"style": "transparent","className":"widgets/brease/Button","parentContentId":"cntIOImageCell_1"});
brease.setOptions("cntIOImageCell_1_ImageList8",{"top": 40,"left": 285,"width": 30,"height": 225,"zIndex": 15,"imageList": ['Media/Config/X20PS9400-Red.png', 'Media/Config/X20PS9400-Green.png'],"sizeMode": "fill","className":"widgets/brease/ImageList","parentContentId":"cntIOImageCell_1"});
</script><div id="cntIOImageCell_1_ImageList1" data-brease-widget="widgets/brease/ImageList"></div><div id="cntIOImageCell_1_ImageList2" data-brease-widget="widgets/brease/ImageList"></div><div id="cntIOImageCell_1_ImageList3" data-brease-widget="widgets/brease/ImageList"></div><div id="cntIOImageCell_1_ImageList4" data-brease-widget="widgets/brease/ImageList"></div><div id="cntIOImageCell_1_ImageList5" data-brease-widget="widgets/brease/ImageList"></div><div id="cntIOImageCell_1_ImageList6" data-brease-widget="widgets/brease/ImageList"></div><div id="cntIOImageCell_1_ImageList7" data-brease-widget="widgets/brease/ImageList"></div><div id="cntIOImageCell_1_ImageList_SafetyIO" data-brease-widget="widgets/brease/ImageList"></div><div id="cntIOImageCell_1_ImageList_SafetyIO2" data-brease-widget="widgets/brease/ImageList"></div><div id="cntIOImageCell_1_ImageList10" data-brease-widget="widgets/brease/ImageList"></div><div id="cntIOImageCell_1_ImageList11" data-brease-widget="widgets/brease/ImageList"></div><div id="cntIOImageCell_1_ImageList_SafetyRelay" data-brease-widget="widgets/brease/ImageList"></div><div id="cntIOImageCell_1_ImageList_Robot" data-brease-widget="widgets/brease/ImageList"></div><div id="cntIOImageCell_1_Button1_Cntller" data-brease-widget="widgets/brease/Button"></div><div id="cntIOImageCell_1_ImageList_SuctionModule" data-brease-widget="widgets/brease/ImageList"></div><div id="cntIOImageCell_1_Button_SafetyIO" data-brease-widget="widgets/brease/Button"></div><div id="cntIOImageCell_1_ImageList8" data-brease-widget="widgets/brease/ImageList"></div>