﻿<script>brease.setOptions("cntRecipe_ActiveRecipeImage_Image1",{"top": 0,"left": 80,"width": 1379,"height": 340,"zIndex": 0,"image": "Media/RecipePage/AllCell2.png","sizeMode": "fill","className":"widgets/brease/Image","parentContentId":"cntRecipe_ActiveRecipeImage"});
brease.setOptions("cntRecipe_ActiveRecipeImage_Button_Cell12345",{"top": 109,"left": 109,"width": 592,"height": 123,"zIndex": 1,"style": "transparent","className":"widgets/brease/Button","parentContentId":"cntRecipe_ActiveRecipeImage"});
brease.setOptions("cntRecipe_ActiveRecipeImage_Button_Cell6789",{"top": 20,"left": 710,"width": 730,"height": 123,"zIndex": 2,"style": "transparent","className":"widgets/brease/Button","parentContentId":"cntRecipe_ActiveRecipeImage"});
brease.setOptions("cntRecipe_ActiveRecipeImage_Button_Cell1011126",{"top": 200,"left": 710,"width": 730,"height": 123,"zIndex": 3,"style": "transparent","className":"widgets/brease/Button","parentContentId":"cntRecipe_ActiveRecipeImage"});
</script><div id="cntRecipe_ActiveRecipeImage_Image1" data-brease-widget="widgets/brease/Image"></div><div id="cntRecipe_ActiveRecipeImage_Button_Cell12345" data-brease-widget="widgets/brease/Button"></div><div id="cntRecipe_ActiveRecipeImage_Button_Cell6789" data-brease-widget="widgets/brease/Button"></div><div id="cntRecipe_ActiveRecipeImage_Button_Cell1011126" data-brease-widget="widgets/brease/Button"></div>