﻿<script>brease.setOptions("cntSettings_Documents_TabControl1",{"top": 0,"left": 60,"width": 1530,"height": 975,"zIndex": 0,"tabPosition": "bottom","className":"widgets/brease/TabControl","parentContentId":"cntSettings_Documents"});
brease.setOptions("cntSettings_Documents_TabItem1",{"left": 0,"width": 450,"height": 75,"zIndex": 0,"text": "Example Pdf","className":"widgets/brease/TabItem","parentContentId":"cntSettings_Documents"});
brease.setOptions("cntSettings_Documents_PDFViewer1",{"top": 0,"left": 0,"width": 1170,"height": 880,"zIndex": 0,"src": "Media/PDF/X20_Datasheet.pdf","usePlugin": false,"className":"widgets/brease/PDFViewer","parentContentId":"cntSettings_Documents"});
brease.setOptions("cntSettings_Documents_TabItem2",{"left": 0,"width": 450,"height": 75,"zIndex": 1,"text": "TabItem2","className":"widgets/brease/TabItem","parentContentId":"cntSettings_Documents"});
</script><div id="cntSettings_Documents_TabControl1" data-brease-widget="widgets/brease/TabControl"><div id="cntSettings_Documents_TabItem1" data-brease-widget="widgets/brease/TabItem"><div id="cntSettings_Documents_PDFViewer1" data-brease-widget="widgets/brease/PDFViewer"></div></div><div id="cntSettings_Documents_TabItem2" data-brease-widget="widgets/brease/TabItem"></div></div>