﻿<script>brease.setOptions("cntSuctionOutputsCell_1_GridLine1",{"top": 0,"left": 0,"width": 300,"height": 540,"zIndex": 0,"gridSize": "150px","modifyAnimation": true,"snapToPosition": true,"transitionTime": 250,"padding": "5px 0px","className":"widgets/brease/GridLine","parentContentId":"cntSuctionOutputsCell_1"});
brease.setOptions("cntSuctionOutputsCell_1_GridLineItem1",{"zIndex": 0,"showExpanded": true,"margin": "0px 10px 10px 10px","className":"widgets/brease/GridLineItem","parentContentId":"cntSuctionOutputsCell_1"});
brease.setOptions("cntSuctionOutputsCell_1_ImageList1",{"top": 75,"left": 30,"width": 20,"height": 20,"zIndex": 0,"imageList": ['Media/Config/False.png', 'Media/Config/True.png'],"sizeMode": "fill","className":"widgets/brease/ImageList","parentContentId":"cntSuctionOutputsCell_1"});
brease.setOptions("cntSuctionOutputsCell_1_NumericOutput1",{"height": 30,"top": 30,"left": 0,"width": 105,"zIndex": 1,"textAlign": "left","className":"widgets/brease/NumericOutput","parentContentId":"cntSuctionOutputsCell_1"});
brease.setOptions("cntSuctionOutputsCell_1_ImageList2",{"top": 105,"left": 30,"width": 20,"height": 20,"zIndex": 2,"imageList": ['Media/Config/False.png', 'Media/Config/True.png'],"sizeMode": "fill","className":"widgets/brease/ImageList","parentContentId":"cntSuctionOutputsCell_1"});
brease.setOptions("cntSuctionOutputsCell_1_ImageList3",{"top": 135,"left": 30,"width": 20,"height": 20,"zIndex": 3,"imageList": ['Media/Config/False.png', 'Media/Config/True.png'],"sizeMode": "fill","className":"widgets/brease/ImageList","parentContentId":"cntSuctionOutputsCell_1"});
brease.setOptions("cntSuctionOutputsCell_1_ImageList4",{"top": 165,"left": 30,"width": 20,"height": 20,"zIndex": 4,"imageList": ['Media/Config/False.png', 'Media/Config/True.png'],"sizeMode": "fill","className":"widgets/brease/ImageList","parentContentId":"cntSuctionOutputsCell_1"});
brease.setOptions("cntSuctionOutputsCell_1_ImageList5",{"top": 195,"left": 30,"width": 20,"height": 20,"zIndex": 5,"imageList": ['Media/Config/False.png', 'Media/Config/True.png'],"sizeMode": "fill","className":"widgets/brease/ImageList","parentContentId":"cntSuctionOutputsCell_1"});
brease.setOptions("cntSuctionOutputsCell_1_ImageList6",{"top": 225,"left": 30,"width": 20,"height": 20,"zIndex": 6,"imageList": ['Media/Config/False.png', 'Media/Config/True.png'],"sizeMode": "fill","className":"widgets/brease/ImageList","parentContentId":"cntSuctionOutputsCell_1"});
brease.setOptions("cntSuctionOutputsCell_1_ImageList7",{"top": 255,"left": 30,"width": 20,"height": 20,"zIndex": 7,"imageList": ['Media/Config/False.png', 'Media/Config/True.png'],"sizeMode": "fill","className":"widgets/brease/ImageList","parentContentId":"cntSuctionOutputsCell_1"});
brease.setOptions("cntSuctionOutputsCell_1_ImageList8",{"top": 285,"left": 30,"width": 20,"height": 20,"zIndex": 8,"imageList": ['Media/Config/False.png', 'Media/Config/True.png'],"sizeMode": "fill","className":"widgets/brease/ImageList","parentContentId":"cntSuctionOutputsCell_1"});
brease.setOptions("cntSuctionOutputsCell_1_ImageList9",{"top": 315,"left": 30,"width": 20,"height": 20,"zIndex": 9,"imageList": ['Media/Config/False.png', 'Media/Config/True.png'],"sizeMode": "fill","className":"widgets/brease/ImageList","parentContentId":"cntSuctionOutputsCell_1"});
brease.setOptions("cntSuctionOutputsCell_1_ImageList10",{"top": 345,"left": 30,"width": 20,"height": 20,"zIndex": 10,"imageList": ['Media/Config/False.png', 'Media/Config/True.png'],"sizeMode": "fill","className":"widgets/brease/ImageList","parentContentId":"cntSuctionOutputsCell_1"});
brease.setOptions("cntSuctionOutputsCell_1_Label1",{"height": 30,"top": 30,"left": 75,"width": 210,"zIndex": 11,"text": "goDeviceSupplyPressure","className":"widgets/brease/Label","parentContentId":"cntSuctionOutputsCell_1"});
brease.setOptions("cntSuctionOutputsCell_1_Label2",{"height": 30,"top": 75,"left": 75,"width": 225,"zIndex": 12,"text": "doS1_EjectorSuction","className":"widgets/brease/Label","parentContentId":"cntSuctionOutputsCell_1"});
brease.setOptions("cntSuctionOutputsCell_1_CheckBox_SuctOut",{"top": -5,"left": 245,"width": 45,"height": 45,"zIndex": 13,"boxSize": 35,"checkedBoxImage": "Media/ABB/ABB_picto_48x48_08_pin_0366.svg","uncheckedBoxImage": "Media/Unpin.svg","italic": true,"checkedBoxImageColor": "rgba(255, 0, 0, 1)","style": "Caption","className":"widgets/brease/CheckBox","parentContentId":"cntSuctionOutputsCell_1"});
</script><div id="cntSuctionOutputsCell_1_GridLine1" data-brease-widget="widgets/brease/GridLine"><div id="cntSuctionOutputsCell_1_GridLineItem1" data-brease-widget="widgets/brease/GridLineItem"><div id="cntSuctionOutputsCell_1_ImageList1" data-brease-widget="widgets/brease/ImageList"></div><div id="cntSuctionOutputsCell_1_NumericOutput1" data-brease-widget="widgets/brease/NumericOutput"></div><div id="cntSuctionOutputsCell_1_ImageList2" data-brease-widget="widgets/brease/ImageList"></div><div id="cntSuctionOutputsCell_1_ImageList3" data-brease-widget="widgets/brease/ImageList"></div><div id="cntSuctionOutputsCell_1_ImageList4" data-brease-widget="widgets/brease/ImageList"></div><div id="cntSuctionOutputsCell_1_ImageList5" data-brease-widget="widgets/brease/ImageList"></div><div id="cntSuctionOutputsCell_1_ImageList6" data-brease-widget="widgets/brease/ImageList"></div><div id="cntSuctionOutputsCell_1_ImageList7" data-brease-widget="widgets/brease/ImageList"></div><div id="cntSuctionOutputsCell_1_ImageList8" data-brease-widget="widgets/brease/ImageList"></div><div id="cntSuctionOutputsCell_1_ImageList9" data-brease-widget="widgets/brease/ImageList"></div><div id="cntSuctionOutputsCell_1_ImageList10" data-brease-widget="widgets/brease/ImageList"></div><label id="cntSuctionOutputsCell_1_Label1" data-brease-widget="widgets/brease/Label"></label><label id="cntSuctionOutputsCell_1_Label2" data-brease-widget="widgets/brease/Label"></label><div id="cntSuctionOutputsCell_1_CheckBox_SuctOut" data-brease-widget="widgets/brease/CheckBox"></div></div></div>