#cntHomeCell_2_SewingMachine_ChckBx_SM_Cell2 {
  top: 0px;
  position: absolute;
}

#cntHomeCell_2_SewingMachine_ChckBx_SM_Cell2 {
  left: 390px;
  position: absolute;
}

#cntHomeCell_2_SewingMachine_ChckBx_SM_Cell2 {
  width: 45px;
}

#cntHomeCell_2_SewingMachine_ChckBx_SM_Cell2 {
  height: 45px;
}

#cntHomeCell_2_SewingMachine_ChckBx_SM_Cell2 {
  z-index: 0;
}

#cntHomeCell_2_SewingMachine_ChckBx_SM_Cell2 span {
  font-style: italic;
}

#cntHomeCell_2_SewingMachine_ChckBx_SM_Cell2 {
  padding: 0px;
}

#cntHomeCell_2_SewingMachine_ChckBx_SM_Cell2.checked:not(.disabled) svg {
  fill: red;
}
