#cntSuctionInputsCell_1_GridLine1 {
  top: 0px;
  position: absolute;
}

#cntSuctionInputsCell_1_GridLine1 {
  left: 0px;
  position: absolute;
}

#cntSuctionInputsCell_1_GridLine1 {
  width: 300px;
}

#cntSuctionInputsCell_1_GridLine1 {
  height: 540px;
}

#cntSuctionInputsCell_1_GridLine1 {
  z-index: 0;
}

#cntSuctionInputsCell_1_GridLine1 .container {
  padding: 5px 0px;
}

#cntSuctionInputsCell_1_GridLineItem1 {
  z-index: 0;
}

#cntSuctionInputsCell_1_GridLineItem1 {
  padding: 0px 10px 10px 10px;
}

#cntSuctionInputsCell_1_ImageList1 {
  top: 105px;
  position: absolute;
}

#cntSuctionInputsCell_1_ImageList1 {
  left: 15px;
  position: absolute;
}

#cntSuctionInputsCell_1_ImageList1 {
  width: 20px;
}

#cntSuctionInputsCell_1_ImageList1 {
  height: 20px;
}

#cntSuctionInputsCell_1_ImageList1 {
  z-index: 0;
}

#cntSuctionInputsCell_1_NumericOutput1 {
  height: 30px;
}

#cntSuctionInputsCell_1_NumericOutput1 {
  top: 30px;
  position: absolute;
}

#cntSuctionInputsCell_1_NumericOutput1 {
  left: -15px;
  position: absolute;
}

#cntSuctionInputsCell_1_NumericOutput1 {
  width: 75px;
}

#cntSuctionInputsCell_1_NumericOutput1 {
  z-index: 1;
}

#cntSuctionInputsCell_1_Label1 {
  height: 30px;
}

#cntSuctionInputsCell_1_Label1 {
  top: 105px;
  position: absolute;
}

#cntSuctionInputsCell_1_Label1 {
  left: 75px;
  position: absolute;
}

#cntSuctionInputsCell_1_Label1 {
  width: 195px;
}

#cntSuctionInputsCell_1_Label1 {
  z-index: 2;
}

#cntSuctionInputsCell_1_ImageList2 {
  top: 135px;
  position: absolute;
}

#cntSuctionInputsCell_1_ImageList2 {
  left: 15px;
  position: absolute;
}

#cntSuctionInputsCell_1_ImageList2 {
  width: 20px;
}

#cntSuctionInputsCell_1_ImageList2 {
  height: 20px;
}

#cntSuctionInputsCell_1_ImageList2 {
  z-index: 3;
}

#cntSuctionInputsCell_1_ImageList3 {
  top: 165px;
  position: absolute;
}

#cntSuctionInputsCell_1_ImageList3 {
  left: 15px;
  position: absolute;
}

#cntSuctionInputsCell_1_ImageList3 {
  width: 20px;
}

#cntSuctionInputsCell_1_ImageList3 {
  height: 20px;
}

#cntSuctionInputsCell_1_ImageList3 {
  z-index: 4;
}

#cntSuctionInputsCell_1_ImageList4 {
  top: 195px;
  position: absolute;
}

#cntSuctionInputsCell_1_ImageList4 {
  left: 15px;
  position: absolute;
}

#cntSuctionInputsCell_1_ImageList4 {
  width: 20px;
}

#cntSuctionInputsCell_1_ImageList4 {
  height: 20px;
}

#cntSuctionInputsCell_1_ImageList4 {
  z-index: 5;
}

#cntSuctionInputsCell_1_Label2 {
  height: 30px;
}

#cntSuctionInputsCell_1_Label2 {
  top: 30px;
  position: absolute;
}

#cntSuctionInputsCell_1_Label2 {
  left: 60px;
  position: absolute;
}

#cntSuctionInputsCell_1_Label2 {
  width: 210px;
}

#cntSuctionInputsCell_1_Label2 {
  z-index: 6;
}

#cntSuctionInputsCell_1_ImageList5 {
  top: 225px;
  position: absolute;
}

#cntSuctionInputsCell_1_ImageList5 {
  left: 15px;
  position: absolute;
}

#cntSuctionInputsCell_1_ImageList5 {
  width: 20px;
}

#cntSuctionInputsCell_1_ImageList5 {
  height: 20px;
}

#cntSuctionInputsCell_1_ImageList5 {
  z-index: 7;
}

#cntSuctionInputsCell_1_ImageList6 {
  top: 255px;
  position: absolute;
}

#cntSuctionInputsCell_1_ImageList6 {
  left: 15px;
  position: absolute;
}

#cntSuctionInputsCell_1_ImageList6 {
  width: 20px;
}

#cntSuctionInputsCell_1_ImageList6 {
  height: 20px;
}

#cntSuctionInputsCell_1_ImageList6 {
  z-index: 8;
}

#cntSuctionInputsCell_1_ImageList7 {
  top: 285px;
  position: absolute;
}

#cntSuctionInputsCell_1_ImageList7 {
  left: 15px;
  position: absolute;
}

#cntSuctionInputsCell_1_ImageList7 {
  width: 20px;
}

#cntSuctionInputsCell_1_ImageList7 {
  height: 20px;
}

#cntSuctionInputsCell_1_ImageList7 {
  z-index: 9;
}

#cntSuctionInputsCell_1_ImageList8 {
  top: 315px;
  position: absolute;
}

#cntSuctionInputsCell_1_ImageList8 {
  left: 15px;
  position: absolute;
}

#cntSuctionInputsCell_1_ImageList8 {
  width: 20px;
}

#cntSuctionInputsCell_1_ImageList8 {
  height: 20px;
}

#cntSuctionInputsCell_1_ImageList8 {
  z-index: 10;
}

#cntSuctionInputsCell_1_ImageList9 {
  top: 345px;
  position: absolute;
}

#cntSuctionInputsCell_1_ImageList9 {
  left: 15px;
  position: absolute;
}

#cntSuctionInputsCell_1_ImageList9 {
  width: 20px;
}

#cntSuctionInputsCell_1_ImageList9 {
  height: 20px;
}

#cntSuctionInputsCell_1_ImageList9 {
  z-index: 11;
}

#cntSuctionInputsCell_1_ImageList10 {
  top: 375px;
  position: absolute;
}

#cntSuctionInputsCell_1_ImageList10 {
  left: 15px;
  position: absolute;
}

#cntSuctionInputsCell_1_ImageList10 {
  width: 20px;
}

#cntSuctionInputsCell_1_ImageList10 {
  height: 20px;
}

#cntSuctionInputsCell_1_ImageList10 {
  z-index: 12;
}

#cntSuctionInputsCell_1_ImageList11 {
  top: 405px;
  position: absolute;
}

#cntSuctionInputsCell_1_ImageList11 {
  left: 15px;
  position: absolute;
}

#cntSuctionInputsCell_1_ImageList11 {
  width: 20px;
}

#cntSuctionInputsCell_1_ImageList11 {
  height: 20px;
}

#cntSuctionInputsCell_1_ImageList11 {
  z-index: 13;
}

#cntSuctionInputsCell_1_ImageList12 {
  top: 435px;
  position: absolute;
}

#cntSuctionInputsCell_1_ImageList12 {
  left: 15px;
  position: absolute;
}

#cntSuctionInputsCell_1_ImageList12 {
  width: 20px;
}

#cntSuctionInputsCell_1_ImageList12 {
  height: 20px;
}

#cntSuctionInputsCell_1_ImageList12 {
  z-index: 14;
}

#cntSuctionInputsCell_1_ImageList13 {
  top: 465px;
  position: absolute;
}

#cntSuctionInputsCell_1_ImageList13 {
  left: 15px;
  position: absolute;
}

#cntSuctionInputsCell_1_ImageList13 {
  width: 20px;
}

#cntSuctionInputsCell_1_ImageList13 {
  height: 20px;
}

#cntSuctionInputsCell_1_ImageList13 {
  z-index: 15;
}

#cntSuctionInputsCell_1_ImageList14 {
  top: 495px;
  position: absolute;
}

#cntSuctionInputsCell_1_ImageList14 {
  left: 15px;
  position: absolute;
}

#cntSuctionInputsCell_1_ImageList14 {
  width: 20px;
}

#cntSuctionInputsCell_1_ImageList14 {
  height: 20px;
}

#cntSuctionInputsCell_1_ImageList14 {
  z-index: 16;
}

#cntSuctionInputsCell_1_NumericOutput2 {
  height: 30px;
}

#cntSuctionInputsCell_1_NumericOutput2 {
  top: 60px;
  position: absolute;
}

#cntSuctionInputsCell_1_NumericOutput2 {
  left: -15px;
  position: absolute;
}

#cntSuctionInputsCell_1_NumericOutput2 {
  width: 75px;
}

#cntSuctionInputsCell_1_NumericOutput2 {
  z-index: 17;
}

#cntSuctionInputsCell_1_Label3 {
  height: 30px;
}

#cntSuctionInputsCell_1_Label3 {
  top: 60px;
  position: absolute;
}

#cntSuctionInputsCell_1_Label3 {
  left: 60px;
  position: absolute;
}

#cntSuctionInputsCell_1_Label3 {
  width: 210px;
}

#cntSuctionInputsCell_1_Label3 {
  z-index: 18;
}

#cntSuctionInputsCell_1_GridLineItem2 {
  z-index: 1;
}

#cntSuctionInputsCell_1_GridLineItem2 {
  padding: 0px 10px 10px 10px;
}

#cntSuctionInputsCell_1_ImageList15 {
  top: 45px;
  position: absolute;
}

#cntSuctionInputsCell_1_ImageList15 {
  left: 15px;
  position: absolute;
}

#cntSuctionInputsCell_1_ImageList15 {
  width: 20px;
}

#cntSuctionInputsCell_1_ImageList15 {
  height: 20px;
}

#cntSuctionInputsCell_1_ImageList15 {
  z-index: 0;
}

#cntSuctionInputsCell_1_ImageList16 {
  top: 75px;
  position: absolute;
}

#cntSuctionInputsCell_1_ImageList16 {
  left: 15px;
  position: absolute;
}

#cntSuctionInputsCell_1_ImageList16 {
  width: 20px;
}

#cntSuctionInputsCell_1_ImageList16 {
  height: 20px;
}

#cntSuctionInputsCell_1_ImageList16 {
  z-index: 1;
}

#cntSuctionInputsCell_1_ImageList17 {
  top: 105px;
  position: absolute;
}

#cntSuctionInputsCell_1_ImageList17 {
  left: 15px;
  position: absolute;
}

#cntSuctionInputsCell_1_ImageList17 {
  width: 20px;
}

#cntSuctionInputsCell_1_ImageList17 {
  height: 20px;
}

#cntSuctionInputsCell_1_ImageList17 {
  z-index: 2;
}

#cntSuctionInputsCell_1_ImageList18 {
  top: 135px;
  position: absolute;
}

#cntSuctionInputsCell_1_ImageList18 {
  left: 15px;
  position: absolute;
}

#cntSuctionInputsCell_1_ImageList18 {
  width: 20px;
}

#cntSuctionInputsCell_1_ImageList18 {
  height: 20px;
}

#cntSuctionInputsCell_1_ImageList18 {
  z-index: 3;
}

#cntSuctionInputsCell_1_ImageList19 {
  top: 165px;
  position: absolute;
}

#cntSuctionInputsCell_1_ImageList19 {
  left: 15px;
  position: absolute;
}

#cntSuctionInputsCell_1_ImageList19 {
  width: 20px;
}

#cntSuctionInputsCell_1_ImageList19 {
  height: 20px;
}

#cntSuctionInputsCell_1_ImageList19 {
  z-index: 4;
}

#cntSuctionInputsCell_1_ImageList20 {
  top: 195px;
  position: absolute;
}

#cntSuctionInputsCell_1_ImageList20 {
  left: 15px;
  position: absolute;
}

#cntSuctionInputsCell_1_ImageList20 {
  width: 20px;
}

#cntSuctionInputsCell_1_ImageList20 {
  height: 20px;
}

#cntSuctionInputsCell_1_ImageList20 {
  z-index: 5;
}

#cntSuctionInputsCell_1_ImageList21 {
  top: 225px;
  position: absolute;
}

#cntSuctionInputsCell_1_ImageList21 {
  left: 15px;
  position: absolute;
}

#cntSuctionInputsCell_1_ImageList21 {
  width: 20px;
}

#cntSuctionInputsCell_1_ImageList21 {
  height: 20px;
}

#cntSuctionInputsCell_1_ImageList21 {
  z-index: 6;
}

#cntSuctionInputsCell_1_ImageList22 {
  top: 255px;
  position: absolute;
}

#cntSuctionInputsCell_1_ImageList22 {
  left: 15px;
  position: absolute;
}

#cntSuctionInputsCell_1_ImageList22 {
  width: 20px;
}

#cntSuctionInputsCell_1_ImageList22 {
  height: 20px;
}

#cntSuctionInputsCell_1_ImageList22 {
  z-index: 7;
}

#cntSuctionInputsCell_1_ImageList23 {
  top: 285px;
  position: absolute;
}

#cntSuctionInputsCell_1_ImageList23 {
  left: 15px;
  position: absolute;
}

#cntSuctionInputsCell_1_ImageList23 {
  width: 20px;
}

#cntSuctionInputsCell_1_ImageList23 {
  height: 20px;
}

#cntSuctionInputsCell_1_ImageList23 {
  z-index: 8;
}

#cntSuctionInputsCell_1_ImageList24 {
  top: 315px;
  position: absolute;
}

#cntSuctionInputsCell_1_ImageList24 {
  left: 15px;
  position: absolute;
}

#cntSuctionInputsCell_1_ImageList24 {
  width: 20px;
}

#cntSuctionInputsCell_1_ImageList24 {
  height: 20px;
}

#cntSuctionInputsCell_1_ImageList24 {
  z-index: 9;
}

#cntSuctionInputsCell_1_ImageList25 {
  top: 345px;
  position: absolute;
}

#cntSuctionInputsCell_1_ImageList25 {
  left: 15px;
  position: absolute;
}

#cntSuctionInputsCell_1_ImageList25 {
  width: 20px;
}

#cntSuctionInputsCell_1_ImageList25 {
  height: 20px;
}

#cntSuctionInputsCell_1_ImageList25 {
  z-index: 10;
}

#cntSuctionInputsCell_1_ImageList26 {
  top: 375px;
  position: absolute;
}

#cntSuctionInputsCell_1_ImageList26 {
  left: 15px;
  position: absolute;
}

#cntSuctionInputsCell_1_ImageList26 {
  width: 20px;
}

#cntSuctionInputsCell_1_ImageList26 {
  height: 20px;
}

#cntSuctionInputsCell_1_ImageList26 {
  z-index: 11;
}

#cntSuctionInputsCell_1_ImageList27 {
  top: 405px;
  position: absolute;
}

#cntSuctionInputsCell_1_ImageList27 {
  left: 15px;
  position: absolute;
}

#cntSuctionInputsCell_1_ImageList27 {
  width: 20px;
}

#cntSuctionInputsCell_1_ImageList27 {
  height: 20px;
}

#cntSuctionInputsCell_1_ImageList27 {
  z-index: 12;
}

#cntSuctionInputsCell_1_ImageList28 {
  top: 435px;
  position: absolute;
}

#cntSuctionInputsCell_1_ImageList28 {
  left: 15px;
  position: absolute;
}

#cntSuctionInputsCell_1_ImageList28 {
  width: 20px;
}

#cntSuctionInputsCell_1_ImageList28 {
  height: 20px;
}

#cntSuctionInputsCell_1_ImageList28 {
  z-index: 13;
}

#cntSuctionInputsCell_1_ImageList29 {
  top: 465px;
  position: absolute;
}

#cntSuctionInputsCell_1_ImageList29 {
  left: 15px;
  position: absolute;
}

#cntSuctionInputsCell_1_ImageList29 {
  width: 20px;
}

#cntSuctionInputsCell_1_ImageList29 {
  height: 20px;
}

#cntSuctionInputsCell_1_ImageList29 {
  z-index: 14;
}

#cntSuctionInputsCell_1_ImageList30 {
  top: 495px;
  position: absolute;
}

#cntSuctionInputsCell_1_ImageList30 {
  left: 16px;
  position: absolute;
}

#cntSuctionInputsCell_1_ImageList30 {
  width: 20px;
}

#cntSuctionInputsCell_1_ImageList30 {
  height: 20px;
}

#cntSuctionInputsCell_1_ImageList30 {
  z-index: 15;
}

#cntSuctionInputsCell_1_GridLineItem3 {
  z-index: 2;
}

#cntSuctionInputsCell_1_GridLineItem3 {
  padding: 0px 10px 10px 10px;
}

#cntSuctionInputsCell_1_ImageList31 {
  top: 30px;
  position: absolute;
}

#cntSuctionInputsCell_1_ImageList31 {
  left: 15px;
  position: absolute;
}

#cntSuctionInputsCell_1_ImageList31 {
  width: 20px;
}

#cntSuctionInputsCell_1_ImageList31 {
  height: 20px;
}

#cntSuctionInputsCell_1_ImageList31 {
  z-index: 0;
}

#cntSuctionInputsCell_1_ImageList32 {
  top: 60px;
  position: absolute;
}

#cntSuctionInputsCell_1_ImageList32 {
  left: 15px;
  position: absolute;
}

#cntSuctionInputsCell_1_ImageList32 {
  width: 20px;
}

#cntSuctionInputsCell_1_ImageList32 {
  height: 20px;
}

#cntSuctionInputsCell_1_ImageList32 {
  z-index: 1;
}

#cntSuctionInputsCell_1_ImageList33 {
  top: 90px;
  position: absolute;
}

#cntSuctionInputsCell_1_ImageList33 {
  left: 15px;
  position: absolute;
}

#cntSuctionInputsCell_1_ImageList33 {
  width: 20px;
}

#cntSuctionInputsCell_1_ImageList33 {
  height: 20px;
}

#cntSuctionInputsCell_1_ImageList33 {
  z-index: 2;
}

#cntSuctionInputsCell_1_ImageList34 {
  top: 120px;
  position: absolute;
}

#cntSuctionInputsCell_1_ImageList34 {
  left: 15px;
  position: absolute;
}

#cntSuctionInputsCell_1_ImageList34 {
  width: 20px;
}

#cntSuctionInputsCell_1_ImageList34 {
  height: 20px;
}

#cntSuctionInputsCell_1_ImageList34 {
  z-index: 3;
}

#cntSuctionInputsCell_1_ImageList35 {
  top: 150px;
  position: absolute;
}

#cntSuctionInputsCell_1_ImageList35 {
  left: 15px;
  position: absolute;
}

#cntSuctionInputsCell_1_ImageList35 {
  width: 20px;
}

#cntSuctionInputsCell_1_ImageList35 {
  height: 20px;
}

#cntSuctionInputsCell_1_ImageList35 {
  z-index: 4;
}

#cntSuctionInputsCell_1_ImageList36 {
  top: 180px;
  position: absolute;
}

#cntSuctionInputsCell_1_ImageList36 {
  left: 15px;
  position: absolute;
}

#cntSuctionInputsCell_1_ImageList36 {
  width: 20px;
}

#cntSuctionInputsCell_1_ImageList36 {
  height: 20px;
}

#cntSuctionInputsCell_1_ImageList36 {
  z-index: 5;
}

#cntSuctionInputsCell_1_ImageList37 {
  top: 210px;
  position: absolute;
}

#cntSuctionInputsCell_1_ImageList37 {
  left: 15px;
  position: absolute;
}

#cntSuctionInputsCell_1_ImageList37 {
  width: 20px;
}

#cntSuctionInputsCell_1_ImageList37 {
  height: 20px;
}

#cntSuctionInputsCell_1_ImageList37 {
  z-index: 6;
}

#cntSuctionInputsCell_1_ImageList38 {
  top: 240px;
  position: absolute;
}

#cntSuctionInputsCell_1_ImageList38 {
  left: 15px;
  position: absolute;
}

#cntSuctionInputsCell_1_ImageList38 {
  width: 20px;
}

#cntSuctionInputsCell_1_ImageList38 {
  height: 20px;
}

#cntSuctionInputsCell_1_ImageList38 {
  z-index: 7;
}

#cntSuctionInputsCell_1_ImageList39 {
  top: 270px;
  position: absolute;
}

#cntSuctionInputsCell_1_ImageList39 {
  left: 15px;
  position: absolute;
}

#cntSuctionInputsCell_1_ImageList39 {
  width: 20px;
}

#cntSuctionInputsCell_1_ImageList39 {
  height: 20px;
}

#cntSuctionInputsCell_1_ImageList39 {
  z-index: 8;
}

#cntSuctionInputsCell_1_ImageList40 {
  top: 300px;
  position: absolute;
}

#cntSuctionInputsCell_1_ImageList40 {
  left: 15px;
  position: absolute;
}

#cntSuctionInputsCell_1_ImageList40 {
  width: 20px;
}

#cntSuctionInputsCell_1_ImageList40 {
  height: 20px;
}

#cntSuctionInputsCell_1_ImageList40 {
  z-index: 9;
}

#cntSuctionInputsCell_1_ImageList41 {
  top: 330px;
  position: absolute;
}

#cntSuctionInputsCell_1_ImageList41 {
  left: 15px;
  position: absolute;
}

#cntSuctionInputsCell_1_ImageList41 {
  width: 20px;
}

#cntSuctionInputsCell_1_ImageList41 {
  height: 20px;
}

#cntSuctionInputsCell_1_ImageList41 {
  z-index: 10;
}

#cntSuctionInputsCell_1_ImageList42 {
  top: 360px;
  position: absolute;
}

#cntSuctionInputsCell_1_ImageList42 {
  left: 15px;
  position: absolute;
}

#cntSuctionInputsCell_1_ImageList42 {
  width: 20px;
}

#cntSuctionInputsCell_1_ImageList42 {
  height: 20px;
}

#cntSuctionInputsCell_1_ImageList42 {
  z-index: 11;
}

#cntSuctionInputsCell_1_ImageList43 {
  top: 390px;
  position: absolute;
}

#cntSuctionInputsCell_1_ImageList43 {
  left: 15px;
  position: absolute;
}

#cntSuctionInputsCell_1_ImageList43 {
  width: 20px;
}

#cntSuctionInputsCell_1_ImageList43 {
  height: 20px;
}

#cntSuctionInputsCell_1_ImageList43 {
  z-index: 12;
}

#cntSuctionInputsCell_1_ImageList44 {
  top: 420px;
  position: absolute;
}

#cntSuctionInputsCell_1_ImageList44 {
  left: 15px;
  position: absolute;
}

#cntSuctionInputsCell_1_ImageList44 {
  width: 20px;
}

#cntSuctionInputsCell_1_ImageList44 {
  height: 20px;
}

#cntSuctionInputsCell_1_ImageList44 {
  z-index: 13;
}

#cntSuctionInputsCell_1_ImageList45 {
  top: 450px;
  position: absolute;
}

#cntSuctionInputsCell_1_ImageList45 {
  left: 15px;
  position: absolute;
}

#cntSuctionInputsCell_1_ImageList45 {
  width: 20px;
}

#cntSuctionInputsCell_1_ImageList45 {
  height: 20px;
}

#cntSuctionInputsCell_1_ImageList45 {
  z-index: 14;
}

#cntSuctionInputsCell_1_ImageList46 {
  top: 480px;
  position: absolute;
}

#cntSuctionInputsCell_1_ImageList46 {
  left: 15px;
  position: absolute;
}

#cntSuctionInputsCell_1_ImageList46 {
  width: 20px;
}

#cntSuctionInputsCell_1_ImageList46 {
  height: 20px;
}

#cntSuctionInputsCell_1_ImageList46 {
  z-index: 15;
}

#cntSuctionInputsCell_1_CheckBox_SuctIn {
  top: 0px;
  position: absolute;
}

#cntSuctionInputsCell_1_CheckBox_SuctIn {
  left: 250px;
  position: absolute;
}

#cntSuctionInputsCell_1_CheckBox_SuctIn {
  width: 45px;
}

#cntSuctionInputsCell_1_CheckBox_SuctIn {
  height: 45px;
}

#cntSuctionInputsCell_1_CheckBox_SuctIn {
  z-index: 1;
}

#cntSuctionInputsCell_1_CheckBox_SuctIn span {
  font-style: italic;
}

#cntSuctionInputsCell_1_CheckBox_SuctIn.checked:not(.disabled) svg {
  fill: red;
}
