﻿@import "mixins.scss";
#cntSuctionInputsCell_1_GridLine1 {
	@include elemTop(0);
}
#cntSuctionInputsCell_1_GridLine1 {
	@include elemLeft(0);
}
#cntSuctionInputsCell_1_GridLine1 {
	@include elemWidth(300);
}
#cntSuctionInputsCell_1_GridLine1 {
	@include elemHeight(540);
}
#cntSuctionInputsCell_1_GridLine1 {
		z-index: 0;
}
#cntSuctionInputsCell_1_GridLine1 {
	.container{
		padding: 5px 0px;
	}
}
#cntSuctionInputsCell_1_GridLineItem1 {
		z-index: 0;
}
#cntSuctionInputsCell_1_GridLineItem1 {
		padding: 0px 10px 10px 10px;
}
#cntSuctionInputsCell_1_ImageList1 {
	@include elemTop(105);
}
#cntSuctionInputsCell_1_ImageList1 {
	@include elemLeft(15);
}
#cntSuctionInputsCell_1_ImageList1 {
	@include elemWidth(20);
}
#cntSuctionInputsCell_1_ImageList1 {
	@include elemHeight(20);
}
#cntSuctionInputsCell_1_ImageList1 {
		z-index: 0;
}
#cntSuctionInputsCell_1_NumericOutput1 {
	@include elemAutoHeight(30);
}
#cntSuctionInputsCell_1_NumericOutput1 {
	@include elemTop(30);
}
#cntSuctionInputsCell_1_NumericOutput1 {
	@include elemLeft(-15);
}
#cntSuctionInputsCell_1_NumericOutput1 {
	@include elemAutoWidth(75);
}
#cntSuctionInputsCell_1_NumericOutput1 {
		z-index: 1;
}
#cntSuctionInputsCell_1_Label1 {
	@include elemAutoHeight(30);
}
#cntSuctionInputsCell_1_Label1 {
	@include elemTop(105);
}
#cntSuctionInputsCell_1_Label1 {
	@include elemLeft(75);
}
#cntSuctionInputsCell_1_Label1 {
	@include elemAutoWidth(195);
}
#cntSuctionInputsCell_1_Label1 {
		z-index: 2;
}
#cntSuctionInputsCell_1_ImageList2 {
	@include elemTop(135);
}
#cntSuctionInputsCell_1_ImageList2 {
	@include elemLeft(15);
}
#cntSuctionInputsCell_1_ImageList2 {
	@include elemWidth(20);
}
#cntSuctionInputsCell_1_ImageList2 {
	@include elemHeight(20);
}
#cntSuctionInputsCell_1_ImageList2 {
		z-index: 3;
}
#cntSuctionInputsCell_1_ImageList3 {
	@include elemTop(165);
}
#cntSuctionInputsCell_1_ImageList3 {
	@include elemLeft(15);
}
#cntSuctionInputsCell_1_ImageList3 {
	@include elemWidth(20);
}
#cntSuctionInputsCell_1_ImageList3 {
	@include elemHeight(20);
}
#cntSuctionInputsCell_1_ImageList3 {
		z-index: 4;
}
#cntSuctionInputsCell_1_ImageList4 {
	@include elemTop(195);
}
#cntSuctionInputsCell_1_ImageList4 {
	@include elemLeft(15);
}
#cntSuctionInputsCell_1_ImageList4 {
	@include elemWidth(20);
}
#cntSuctionInputsCell_1_ImageList4 {
	@include elemHeight(20);
}
#cntSuctionInputsCell_1_ImageList4 {
		z-index: 5;
}
#cntSuctionInputsCell_1_Label2 {
	@include elemAutoHeight(30);
}
#cntSuctionInputsCell_1_Label2 {
	@include elemTop(30);
}
#cntSuctionInputsCell_1_Label2 {
	@include elemLeft(60);
}
#cntSuctionInputsCell_1_Label2 {
	@include elemAutoWidth(210);
}
#cntSuctionInputsCell_1_Label2 {
		z-index: 6;
}
#cntSuctionInputsCell_1_ImageList5 {
	@include elemTop(225);
}
#cntSuctionInputsCell_1_ImageList5 {
	@include elemLeft(15);
}
#cntSuctionInputsCell_1_ImageList5 {
	@include elemWidth(20);
}
#cntSuctionInputsCell_1_ImageList5 {
	@include elemHeight(20);
}
#cntSuctionInputsCell_1_ImageList5 {
		z-index: 7;
}
#cntSuctionInputsCell_1_ImageList6 {
	@include elemTop(255);
}
#cntSuctionInputsCell_1_ImageList6 {
	@include elemLeft(15);
}
#cntSuctionInputsCell_1_ImageList6 {
	@include elemWidth(20);
}
#cntSuctionInputsCell_1_ImageList6 {
	@include elemHeight(20);
}
#cntSuctionInputsCell_1_ImageList6 {
		z-index: 8;
}
#cntSuctionInputsCell_1_ImageList7 {
	@include elemTop(285);
}
#cntSuctionInputsCell_1_ImageList7 {
	@include elemLeft(15);
}
#cntSuctionInputsCell_1_ImageList7 {
	@include elemWidth(20);
}
#cntSuctionInputsCell_1_ImageList7 {
	@include elemHeight(20);
}
#cntSuctionInputsCell_1_ImageList7 {
		z-index: 9;
}
#cntSuctionInputsCell_1_ImageList8 {
	@include elemTop(315);
}
#cntSuctionInputsCell_1_ImageList8 {
	@include elemLeft(15);
}
#cntSuctionInputsCell_1_ImageList8 {
	@include elemWidth(20);
}
#cntSuctionInputsCell_1_ImageList8 {
	@include elemHeight(20);
}
#cntSuctionInputsCell_1_ImageList8 {
		z-index: 10;
}
#cntSuctionInputsCell_1_ImageList9 {
	@include elemTop(345);
}
#cntSuctionInputsCell_1_ImageList9 {
	@include elemLeft(15);
}
#cntSuctionInputsCell_1_ImageList9 {
	@include elemWidth(20);
}
#cntSuctionInputsCell_1_ImageList9 {
	@include elemHeight(20);
}
#cntSuctionInputsCell_1_ImageList9 {
		z-index: 11;
}
#cntSuctionInputsCell_1_ImageList10 {
	@include elemTop(375);
}
#cntSuctionInputsCell_1_ImageList10 {
	@include elemLeft(15);
}
#cntSuctionInputsCell_1_ImageList10 {
	@include elemWidth(20);
}
#cntSuctionInputsCell_1_ImageList10 {
	@include elemHeight(20);
}
#cntSuctionInputsCell_1_ImageList10 {
		z-index: 12;
}
#cntSuctionInputsCell_1_ImageList11 {
	@include elemTop(405);
}
#cntSuctionInputsCell_1_ImageList11 {
	@include elemLeft(15);
}
#cntSuctionInputsCell_1_ImageList11 {
	@include elemWidth(20);
}
#cntSuctionInputsCell_1_ImageList11 {
	@include elemHeight(20);
}
#cntSuctionInputsCell_1_ImageList11 {
		z-index: 13;
}
#cntSuctionInputsCell_1_ImageList12 {
	@include elemTop(435);
}
#cntSuctionInputsCell_1_ImageList12 {
	@include elemLeft(15);
}
#cntSuctionInputsCell_1_ImageList12 {
	@include elemWidth(20);
}
#cntSuctionInputsCell_1_ImageList12 {
	@include elemHeight(20);
}
#cntSuctionInputsCell_1_ImageList12 {
		z-index: 14;
}
#cntSuctionInputsCell_1_ImageList13 {
	@include elemTop(465);
}
#cntSuctionInputsCell_1_ImageList13 {
	@include elemLeft(15);
}
#cntSuctionInputsCell_1_ImageList13 {
	@include elemWidth(20);
}
#cntSuctionInputsCell_1_ImageList13 {
	@include elemHeight(20);
}
#cntSuctionInputsCell_1_ImageList13 {
		z-index: 15;
}
#cntSuctionInputsCell_1_ImageList14 {
	@include elemTop(495);
}
#cntSuctionInputsCell_1_ImageList14 {
	@include elemLeft(15);
}
#cntSuctionInputsCell_1_ImageList14 {
	@include elemWidth(20);
}
#cntSuctionInputsCell_1_ImageList14 {
	@include elemHeight(20);
}
#cntSuctionInputsCell_1_ImageList14 {
		z-index: 16;
}
#cntSuctionInputsCell_1_NumericOutput2 {
	@include elemAutoHeight(30);
}
#cntSuctionInputsCell_1_NumericOutput2 {
	@include elemTop(60);
}
#cntSuctionInputsCell_1_NumericOutput2 {
	@include elemLeft(-15);
}
#cntSuctionInputsCell_1_NumericOutput2 {
	@include elemAutoWidth(75);
}
#cntSuctionInputsCell_1_NumericOutput2 {
		z-index: 17;
}
#cntSuctionInputsCell_1_Label3 {
	@include elemAutoHeight(30);
}
#cntSuctionInputsCell_1_Label3 {
	@include elemTop(60);
}
#cntSuctionInputsCell_1_Label3 {
	@include elemLeft(60);
}
#cntSuctionInputsCell_1_Label3 {
	@include elemAutoWidth(210);
}
#cntSuctionInputsCell_1_Label3 {
		z-index: 18;
}
#cntSuctionInputsCell_1_GridLineItem2 {
		z-index: 1;
}
#cntSuctionInputsCell_1_GridLineItem2 {
		padding: 0px 10px 10px 10px;
}
#cntSuctionInputsCell_1_ImageList15 {
	@include elemTop(45);
}
#cntSuctionInputsCell_1_ImageList15 {
	@include elemLeft(15);
}
#cntSuctionInputsCell_1_ImageList15 {
	@include elemWidth(20);
}
#cntSuctionInputsCell_1_ImageList15 {
	@include elemHeight(20);
}
#cntSuctionInputsCell_1_ImageList15 {
		z-index: 0;
}
#cntSuctionInputsCell_1_ImageList16 {
	@include elemTop(75);
}
#cntSuctionInputsCell_1_ImageList16 {
	@include elemLeft(15);
}
#cntSuctionInputsCell_1_ImageList16 {
	@include elemWidth(20);
}
#cntSuctionInputsCell_1_ImageList16 {
	@include elemHeight(20);
}
#cntSuctionInputsCell_1_ImageList16 {
		z-index: 1;
}
#cntSuctionInputsCell_1_ImageList17 {
	@include elemTop(105);
}
#cntSuctionInputsCell_1_ImageList17 {
	@include elemLeft(15);
}
#cntSuctionInputsCell_1_ImageList17 {
	@include elemWidth(20);
}
#cntSuctionInputsCell_1_ImageList17 {
	@include elemHeight(20);
}
#cntSuctionInputsCell_1_ImageList17 {
		z-index: 2;
}
#cntSuctionInputsCell_1_ImageList18 {
	@include elemTop(135);
}
#cntSuctionInputsCell_1_ImageList18 {
	@include elemLeft(15);
}
#cntSuctionInputsCell_1_ImageList18 {
	@include elemWidth(20);
}
#cntSuctionInputsCell_1_ImageList18 {
	@include elemHeight(20);
}
#cntSuctionInputsCell_1_ImageList18 {
		z-index: 3;
}
#cntSuctionInputsCell_1_ImageList19 {
	@include elemTop(165);
}
#cntSuctionInputsCell_1_ImageList19 {
	@include elemLeft(15);
}
#cntSuctionInputsCell_1_ImageList19 {
	@include elemWidth(20);
}
#cntSuctionInputsCell_1_ImageList19 {
	@include elemHeight(20);
}
#cntSuctionInputsCell_1_ImageList19 {
		z-index: 4;
}
#cntSuctionInputsCell_1_ImageList20 {
	@include elemTop(195);
}
#cntSuctionInputsCell_1_ImageList20 {
	@include elemLeft(15);
}
#cntSuctionInputsCell_1_ImageList20 {
	@include elemWidth(20);
}
#cntSuctionInputsCell_1_ImageList20 {
	@include elemHeight(20);
}
#cntSuctionInputsCell_1_ImageList20 {
		z-index: 5;
}
#cntSuctionInputsCell_1_ImageList21 {
	@include elemTop(225);
}
#cntSuctionInputsCell_1_ImageList21 {
	@include elemLeft(15);
}
#cntSuctionInputsCell_1_ImageList21 {
	@include elemWidth(20);
}
#cntSuctionInputsCell_1_ImageList21 {
	@include elemHeight(20);
}
#cntSuctionInputsCell_1_ImageList21 {
		z-index: 6;
}
#cntSuctionInputsCell_1_ImageList22 {
	@include elemTop(255);
}
#cntSuctionInputsCell_1_ImageList22 {
	@include elemLeft(15);
}
#cntSuctionInputsCell_1_ImageList22 {
	@include elemWidth(20);
}
#cntSuctionInputsCell_1_ImageList22 {
	@include elemHeight(20);
}
#cntSuctionInputsCell_1_ImageList22 {
		z-index: 7;
}
#cntSuctionInputsCell_1_ImageList23 {
	@include elemTop(285);
}
#cntSuctionInputsCell_1_ImageList23 {
	@include elemLeft(15);
}
#cntSuctionInputsCell_1_ImageList23 {
	@include elemWidth(20);
}
#cntSuctionInputsCell_1_ImageList23 {
	@include elemHeight(20);
}
#cntSuctionInputsCell_1_ImageList23 {
		z-index: 8;
}
#cntSuctionInputsCell_1_ImageList24 {
	@include elemTop(315);
}
#cntSuctionInputsCell_1_ImageList24 {
	@include elemLeft(15);
}
#cntSuctionInputsCell_1_ImageList24 {
	@include elemWidth(20);
}
#cntSuctionInputsCell_1_ImageList24 {
	@include elemHeight(20);
}
#cntSuctionInputsCell_1_ImageList24 {
		z-index: 9;
}
#cntSuctionInputsCell_1_ImageList25 {
	@include elemTop(345);
}
#cntSuctionInputsCell_1_ImageList25 {
	@include elemLeft(15);
}
#cntSuctionInputsCell_1_ImageList25 {
	@include elemWidth(20);
}
#cntSuctionInputsCell_1_ImageList25 {
	@include elemHeight(20);
}
#cntSuctionInputsCell_1_ImageList25 {
		z-index: 10;
}
#cntSuctionInputsCell_1_ImageList26 {
	@include elemTop(375);
}
#cntSuctionInputsCell_1_ImageList26 {
	@include elemLeft(15);
}
#cntSuctionInputsCell_1_ImageList26 {
	@include elemWidth(20);
}
#cntSuctionInputsCell_1_ImageList26 {
	@include elemHeight(20);
}
#cntSuctionInputsCell_1_ImageList26 {
		z-index: 11;
}
#cntSuctionInputsCell_1_ImageList27 {
	@include elemTop(405);
}
#cntSuctionInputsCell_1_ImageList27 {
	@include elemLeft(15);
}
#cntSuctionInputsCell_1_ImageList27 {
	@include elemWidth(20);
}
#cntSuctionInputsCell_1_ImageList27 {
	@include elemHeight(20);
}
#cntSuctionInputsCell_1_ImageList27 {
		z-index: 12;
}
#cntSuctionInputsCell_1_ImageList28 {
	@include elemTop(435);
}
#cntSuctionInputsCell_1_ImageList28 {
	@include elemLeft(15);
}
#cntSuctionInputsCell_1_ImageList28 {
	@include elemWidth(20);
}
#cntSuctionInputsCell_1_ImageList28 {
	@include elemHeight(20);
}
#cntSuctionInputsCell_1_ImageList28 {
		z-index: 13;
}
#cntSuctionInputsCell_1_ImageList29 {
	@include elemTop(465);
}
#cntSuctionInputsCell_1_ImageList29 {
	@include elemLeft(15);
}
#cntSuctionInputsCell_1_ImageList29 {
	@include elemWidth(20);
}
#cntSuctionInputsCell_1_ImageList29 {
	@include elemHeight(20);
}
#cntSuctionInputsCell_1_ImageList29 {
		z-index: 14;
}
#cntSuctionInputsCell_1_ImageList30 {
	@include elemTop(495);
}
#cntSuctionInputsCell_1_ImageList30 {
	@include elemLeft(16);
}
#cntSuctionInputsCell_1_ImageList30 {
	@include elemWidth(20);
}
#cntSuctionInputsCell_1_ImageList30 {
	@include elemHeight(20);
}
#cntSuctionInputsCell_1_ImageList30 {
		z-index: 15;
}
#cntSuctionInputsCell_1_GridLineItem3 {
		z-index: 2;
}
#cntSuctionInputsCell_1_GridLineItem3 {
		padding: 0px 10px 10px 10px;
}
#cntSuctionInputsCell_1_ImageList31 {
	@include elemTop(30);
}
#cntSuctionInputsCell_1_ImageList31 {
	@include elemLeft(15);
}
#cntSuctionInputsCell_1_ImageList31 {
	@include elemWidth(20);
}
#cntSuctionInputsCell_1_ImageList31 {
	@include elemHeight(20);
}
#cntSuctionInputsCell_1_ImageList31 {
		z-index: 0;
}
#cntSuctionInputsCell_1_ImageList32 {
	@include elemTop(60);
}
#cntSuctionInputsCell_1_ImageList32 {
	@include elemLeft(15);
}
#cntSuctionInputsCell_1_ImageList32 {
	@include elemWidth(20);
}
#cntSuctionInputsCell_1_ImageList32 {
	@include elemHeight(20);
}
#cntSuctionInputsCell_1_ImageList32 {
		z-index: 1;
}
#cntSuctionInputsCell_1_ImageList33 {
	@include elemTop(90);
}
#cntSuctionInputsCell_1_ImageList33 {
	@include elemLeft(15);
}
#cntSuctionInputsCell_1_ImageList33 {
	@include elemWidth(20);
}
#cntSuctionInputsCell_1_ImageList33 {
	@include elemHeight(20);
}
#cntSuctionInputsCell_1_ImageList33 {
		z-index: 2;
}
#cntSuctionInputsCell_1_ImageList34 {
	@include elemTop(120);
}
#cntSuctionInputsCell_1_ImageList34 {
	@include elemLeft(15);
}
#cntSuctionInputsCell_1_ImageList34 {
	@include elemWidth(20);
}
#cntSuctionInputsCell_1_ImageList34 {
	@include elemHeight(20);
}
#cntSuctionInputsCell_1_ImageList34 {
		z-index: 3;
}
#cntSuctionInputsCell_1_ImageList35 {
	@include elemTop(150);
}
#cntSuctionInputsCell_1_ImageList35 {
	@include elemLeft(15);
}
#cntSuctionInputsCell_1_ImageList35 {
	@include elemWidth(20);
}
#cntSuctionInputsCell_1_ImageList35 {
	@include elemHeight(20);
}
#cntSuctionInputsCell_1_ImageList35 {
		z-index: 4;
}
#cntSuctionInputsCell_1_ImageList36 {
	@include elemTop(180);
}
#cntSuctionInputsCell_1_ImageList36 {
	@include elemLeft(15);
}
#cntSuctionInputsCell_1_ImageList36 {
	@include elemWidth(20);
}
#cntSuctionInputsCell_1_ImageList36 {
	@include elemHeight(20);
}
#cntSuctionInputsCell_1_ImageList36 {
		z-index: 5;
}
#cntSuctionInputsCell_1_ImageList37 {
	@include elemTop(210);
}
#cntSuctionInputsCell_1_ImageList37 {
	@include elemLeft(15);
}
#cntSuctionInputsCell_1_ImageList37 {
	@include elemWidth(20);
}
#cntSuctionInputsCell_1_ImageList37 {
	@include elemHeight(20);
}
#cntSuctionInputsCell_1_ImageList37 {
		z-index: 6;
}
#cntSuctionInputsCell_1_ImageList38 {
	@include elemTop(240);
}
#cntSuctionInputsCell_1_ImageList38 {
	@include elemLeft(15);
}
#cntSuctionInputsCell_1_ImageList38 {
	@include elemWidth(20);
}
#cntSuctionInputsCell_1_ImageList38 {
	@include elemHeight(20);
}
#cntSuctionInputsCell_1_ImageList38 {
		z-index: 7;
}
#cntSuctionInputsCell_1_ImageList39 {
	@include elemTop(270);
}
#cntSuctionInputsCell_1_ImageList39 {
	@include elemLeft(15);
}
#cntSuctionInputsCell_1_ImageList39 {
	@include elemWidth(20);
}
#cntSuctionInputsCell_1_ImageList39 {
	@include elemHeight(20);
}
#cntSuctionInputsCell_1_ImageList39 {
		z-index: 8;
}
#cntSuctionInputsCell_1_ImageList40 {
	@include elemTop(300);
}
#cntSuctionInputsCell_1_ImageList40 {
	@include elemLeft(15);
}
#cntSuctionInputsCell_1_ImageList40 {
	@include elemWidth(20);
}
#cntSuctionInputsCell_1_ImageList40 {
	@include elemHeight(20);
}
#cntSuctionInputsCell_1_ImageList40 {
		z-index: 9;
}
#cntSuctionInputsCell_1_ImageList41 {
	@include elemTop(330);
}
#cntSuctionInputsCell_1_ImageList41 {
	@include elemLeft(15);
}
#cntSuctionInputsCell_1_ImageList41 {
	@include elemWidth(20);
}
#cntSuctionInputsCell_1_ImageList41 {
	@include elemHeight(20);
}
#cntSuctionInputsCell_1_ImageList41 {
		z-index: 10;
}
#cntSuctionInputsCell_1_ImageList42 {
	@include elemTop(360);
}
#cntSuctionInputsCell_1_ImageList42 {
	@include elemLeft(15);
}
#cntSuctionInputsCell_1_ImageList42 {
	@include elemWidth(20);
}
#cntSuctionInputsCell_1_ImageList42 {
	@include elemHeight(20);
}
#cntSuctionInputsCell_1_ImageList42 {
		z-index: 11;
}
#cntSuctionInputsCell_1_ImageList43 {
	@include elemTop(390);
}
#cntSuctionInputsCell_1_ImageList43 {
	@include elemLeft(15);
}
#cntSuctionInputsCell_1_ImageList43 {
	@include elemWidth(20);
}
#cntSuctionInputsCell_1_ImageList43 {
	@include elemHeight(20);
}
#cntSuctionInputsCell_1_ImageList43 {
		z-index: 12;
}
#cntSuctionInputsCell_1_ImageList44 {
	@include elemTop(420);
}
#cntSuctionInputsCell_1_ImageList44 {
	@include elemLeft(15);
}
#cntSuctionInputsCell_1_ImageList44 {
	@include elemWidth(20);
}
#cntSuctionInputsCell_1_ImageList44 {
	@include elemHeight(20);
}
#cntSuctionInputsCell_1_ImageList44 {
		z-index: 13;
}
#cntSuctionInputsCell_1_ImageList45 {
	@include elemTop(450);
}
#cntSuctionInputsCell_1_ImageList45 {
	@include elemLeft(15);
}
#cntSuctionInputsCell_1_ImageList45 {
	@include elemWidth(20);
}
#cntSuctionInputsCell_1_ImageList45 {
	@include elemHeight(20);
}
#cntSuctionInputsCell_1_ImageList45 {
		z-index: 14;
}
#cntSuctionInputsCell_1_ImageList46 {
	@include elemTop(480);
}
#cntSuctionInputsCell_1_ImageList46 {
	@include elemLeft(15);
}
#cntSuctionInputsCell_1_ImageList46 {
	@include elemWidth(20);
}
#cntSuctionInputsCell_1_ImageList46 {
	@include elemHeight(20);
}
#cntSuctionInputsCell_1_ImageList46 {
		z-index: 15;
}
#cntSuctionInputsCell_1_CheckBox_SuctIn {
	@include elemTop(0);
}
#cntSuctionInputsCell_1_CheckBox_SuctIn {
	@include elemLeft(250);
}
#cntSuctionInputsCell_1_CheckBox_SuctIn {
	@include elemAutoWidth(45);
}
#cntSuctionInputsCell_1_CheckBox_SuctIn {
	@include elemAutoHeight(45);
}
#cntSuctionInputsCell_1_CheckBox_SuctIn {
		z-index: 1;
}
#cntSuctionInputsCell_1_CheckBox_SuctIn {
	span{
	@include font-style-italic(true);
	}
}
#cntSuctionInputsCell_1_CheckBox_SuctIn {
	&.checked:not(.disabled) svg{
		fill: rgba(255, 0, 0, 1);
	}
}
