#cntSafetyRelayInputsCell_1_GridLine2 {
  top: 0px;
  position: absolute;
}

#cntSafetyRelayInputsCell_1_GridLine2 {
  left: 0px;
  position: absolute;
}

#cntSafetyRelayInputsCell_1_GridLine2 {
  width: 300px;
}

#cntSafetyRelayInputsCell_1_GridLine2 {
  height: 540px;
}

#cntSafetyRelayInputsCell_1_GridLine2 {
  z-index: 0;
}

#cntSafetyRelayInputsCell_1_GridLine2 .container {
  padding: 5px 0px;
}

#cntSafetyRelayInputsCell_1_GridLineItem2 {
  z-index: 0;
}

#cntSafetyRelayInputsCell_1_GridLineItem2 {
  padding: 0px 10px 10px 10px;
}

#cntSafetyRelayInputsCell_1_Label2 {
  height: 30px;
}

#cntSafetyRelayInputsCell_1_Label2 {
  top: 0px;
  position: absolute;
}

#cntSafetyRelayInputsCell_1_Label2 {
  left: 45px;
  position: absolute;
}

#cntSafetyRelayInputsCell_1_Label2 {
  width: 195px;
}

#cntSafetyRelayInputsCell_1_Label2 {
  z-index: 0;
}

#cntSafetyRelayInputsCell_1_Label2 span {
  color: dimgray;
}

#cntSafetyRelayInputsCell_1_Label2 {
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntSafetyRelayInputsCell_1_Label2 span {
  text-decoration: underline;
}

#cntSafetyRelayInputsCell_1_ImageList1 {
  top: 35px;
  position: absolute;
}

#cntSafetyRelayInputsCell_1_ImageList1 {
  left: 5px;
  position: absolute;
}

#cntSafetyRelayInputsCell_1_ImageList1 {
  width: 20px;
}

#cntSafetyRelayInputsCell_1_ImageList1 {
  height: 20px;
}

#cntSafetyRelayInputsCell_1_ImageList1 {
  z-index: 1;
}

#cntSafetyRelayInputsCell_1_ImageList2 {
  top: 65px;
  position: absolute;
}

#cntSafetyRelayInputsCell_1_ImageList2 {
  left: 5px;
  position: absolute;
}

#cntSafetyRelayInputsCell_1_ImageList2 {
  width: 20px;
}

#cntSafetyRelayInputsCell_1_ImageList2 {
  height: 20px;
}

#cntSafetyRelayInputsCell_1_ImageList2 {
  z-index: 2;
}

#cntSafetyRelayInputsCell_1_ImageList3 {
  top: 95px;
  position: absolute;
}

#cntSafetyRelayInputsCell_1_ImageList3 {
  left: 5px;
  position: absolute;
}

#cntSafetyRelayInputsCell_1_ImageList3 {
  width: 20px;
}

#cntSafetyRelayInputsCell_1_ImageList3 {
  height: 20px;
}

#cntSafetyRelayInputsCell_1_ImageList3 {
  z-index: 3;
}

#cntSafetyRelayInputsCell_1_ImageList4 {
  top: 125px;
  position: absolute;
}

#cntSafetyRelayInputsCell_1_ImageList4 {
  left: 5px;
  position: absolute;
}

#cntSafetyRelayInputsCell_1_ImageList4 {
  width: 20px;
}

#cntSafetyRelayInputsCell_1_ImageList4 {
  height: 20px;
}

#cntSafetyRelayInputsCell_1_ImageList4 {
  z-index: 4;
}

#cntSafetyRelayInputsCell_1_ImageList5 {
  top: 155px;
  position: absolute;
}

#cntSafetyRelayInputsCell_1_ImageList5 {
  left: 5px;
  position: absolute;
}

#cntSafetyRelayInputsCell_1_ImageList5 {
  width: 20px;
}

#cntSafetyRelayInputsCell_1_ImageList5 {
  height: 20px;
}

#cntSafetyRelayInputsCell_1_ImageList5 {
  z-index: 5;
}

#cntSafetyRelayInputsCell_1_ImageList6 {
  top: 185px;
  position: absolute;
}

#cntSafetyRelayInputsCell_1_ImageList6 {
  left: 5px;
  position: absolute;
}

#cntSafetyRelayInputsCell_1_ImageList6 {
  width: 20px;
}

#cntSafetyRelayInputsCell_1_ImageList6 {
  height: 20px;
}

#cntSafetyRelayInputsCell_1_ImageList6 {
  z-index: 6;
}

#cntSafetyRelayInputsCell_1_ImageList7 {
  top: 215px;
  position: absolute;
}

#cntSafetyRelayInputsCell_1_ImageList7 {
  left: 5px;
  position: absolute;
}

#cntSafetyRelayInputsCell_1_ImageList7 {
  width: 20px;
}

#cntSafetyRelayInputsCell_1_ImageList7 {
  height: 20px;
}

#cntSafetyRelayInputsCell_1_ImageList7 {
  z-index: 7;
}

#cntSafetyRelayInputsCell_1_ImageList8 {
  top: 245px;
  position: absolute;
}

#cntSafetyRelayInputsCell_1_ImageList8 {
  left: 5px;
  position: absolute;
}

#cntSafetyRelayInputsCell_1_ImageList8 {
  width: 20px;
}

#cntSafetyRelayInputsCell_1_ImageList8 {
  height: 20px;
}

#cntSafetyRelayInputsCell_1_ImageList8 {
  z-index: 8;
}

#cntSafetyRelayInputsCell_1_ImageList9 {
  top: 275px;
  position: absolute;
}

#cntSafetyRelayInputsCell_1_ImageList9 {
  left: 5px;
  position: absolute;
}

#cntSafetyRelayInputsCell_1_ImageList9 {
  width: 20px;
}

#cntSafetyRelayInputsCell_1_ImageList9 {
  height: 20px;
}

#cntSafetyRelayInputsCell_1_ImageList9 {
  z-index: 9;
}

#cntSafetyRelayInputsCell_1_ImageList10 {
  top: 305px;
  position: absolute;
}

#cntSafetyRelayInputsCell_1_ImageList10 {
  left: 5px;
  position: absolute;
}

#cntSafetyRelayInputsCell_1_ImageList10 {
  width: 20px;
}

#cntSafetyRelayInputsCell_1_ImageList10 {
  height: 20px;
}

#cntSafetyRelayInputsCell_1_ImageList10 {
  z-index: 10;
}

#cntSafetyRelayInputsCell_1_ImageList11 {
  top: 335px;
  position: absolute;
}

#cntSafetyRelayInputsCell_1_ImageList11 {
  left: 5px;
  position: absolute;
}

#cntSafetyRelayInputsCell_1_ImageList11 {
  width: 20px;
}

#cntSafetyRelayInputsCell_1_ImageList11 {
  height: 20px;
}

#cntSafetyRelayInputsCell_1_ImageList11 {
  z-index: 11;
}

#cntSafetyRelayInputsCell_1_ImageList12 {
  top: 365px;
  position: absolute;
}

#cntSafetyRelayInputsCell_1_ImageList12 {
  left: 5px;
  position: absolute;
}

#cntSafetyRelayInputsCell_1_ImageList12 {
  width: 20px;
}

#cntSafetyRelayInputsCell_1_ImageList12 {
  height: 20px;
}

#cntSafetyRelayInputsCell_1_ImageList12 {
  z-index: 12;
}

#cntSafetyRelayInputsCell_1_ImageList13 {
  top: 395px;
  position: absolute;
}

#cntSafetyRelayInputsCell_1_ImageList13 {
  left: 5px;
  position: absolute;
}

#cntSafetyRelayInputsCell_1_ImageList13 {
  width: 20px;
}

#cntSafetyRelayInputsCell_1_ImageList13 {
  height: 20px;
}

#cntSafetyRelayInputsCell_1_ImageList13 {
  z-index: 13;
}

#cntSafetyRelayInputsCell_1_ImageList14 {
  top: 425px;
  position: absolute;
}

#cntSafetyRelayInputsCell_1_ImageList14 {
  left: 5px;
  position: absolute;
}

#cntSafetyRelayInputsCell_1_ImageList14 {
  width: 20px;
}

#cntSafetyRelayInputsCell_1_ImageList14 {
  height: 20px;
}

#cntSafetyRelayInputsCell_1_ImageList14 {
  z-index: 14;
}

#cntSafetyRelayInputsCell_1_ImageList15 {
  top: 455px;
  position: absolute;
}

#cntSafetyRelayInputsCell_1_ImageList15 {
  left: 5px;
  position: absolute;
}

#cntSafetyRelayInputsCell_1_ImageList15 {
  width: 20px;
}

#cntSafetyRelayInputsCell_1_ImageList15 {
  height: 20px;
}

#cntSafetyRelayInputsCell_1_ImageList15 {
  z-index: 15;
}

#cntSafetyRelayInputsCell_1_ImageList16 {
  top: 485px;
  position: absolute;
}

#cntSafetyRelayInputsCell_1_ImageList16 {
  left: 5px;
  position: absolute;
}

#cntSafetyRelayInputsCell_1_ImageList16 {
  width: 20px;
}

#cntSafetyRelayInputsCell_1_ImageList16 {
  height: 20px;
}

#cntSafetyRelayInputsCell_1_ImageList16 {
  z-index: 16;
}

#cntSafetyRelayInputsCell_1_Label_Bool1 {
  top: 35px;
  position: absolute;
}

#cntSafetyRelayInputsCell_1_Label_Bool1 {
  left: 35px;
  position: absolute;
}

#cntSafetyRelayInputsCell_1_Label_Bool1 {
  width: 230px;
}

#cntSafetyRelayInputsCell_1_Label_Bool1 {
  height: 20px;
}

#cntSafetyRelayInputsCell_1_Label_Bool1 {
  z-index: 17;
}

#cntSafetyRelayInputsCell_1_LAbel_Bool2 {
  top: 65px;
  position: absolute;
}

#cntSafetyRelayInputsCell_1_LAbel_Bool2 {
  left: 35px;
  position: absolute;
}

#cntSafetyRelayInputsCell_1_LAbel_Bool2 {
  width: 230px;
}

#cntSafetyRelayInputsCell_1_LAbel_Bool2 {
  height: 20px;
}

#cntSafetyRelayInputsCell_1_LAbel_Bool2 {
  z-index: 18;
}

#cntSafetyRelayInputsCell_1_label_Bool3 {
  top: 95px;
  position: absolute;
}

#cntSafetyRelayInputsCell_1_label_Bool3 {
  left: 35px;
  position: absolute;
}

#cntSafetyRelayInputsCell_1_label_Bool3 {
  width: 230px;
}

#cntSafetyRelayInputsCell_1_label_Bool3 {
  height: 20px;
}

#cntSafetyRelayInputsCell_1_label_Bool3 {
  z-index: 19;
}

#cntSafetyRelayInputsCell_1_Label_bool4 {
  top: 125px;
  position: absolute;
}

#cntSafetyRelayInputsCell_1_Label_bool4 {
  left: 35px;
  position: absolute;
}

#cntSafetyRelayInputsCell_1_Label_bool4 {
  width: 230px;
}

#cntSafetyRelayInputsCell_1_Label_bool4 {
  height: 20px;
}

#cntSafetyRelayInputsCell_1_Label_bool4 {
  z-index: 20;
}

#cntSafetyRelayInputsCell_1_label_bool5 {
  top: 155px;
  position: absolute;
}

#cntSafetyRelayInputsCell_1_label_bool5 {
  left: 35px;
  position: absolute;
}

#cntSafetyRelayInputsCell_1_label_bool5 {
  width: 230px;
}

#cntSafetyRelayInputsCell_1_label_bool5 {
  height: 20px;
}

#cntSafetyRelayInputsCell_1_label_bool5 {
  z-index: 21;
}

#cntSafetyRelayInputsCell_1_Label_bool6 {
  top: 185px;
  position: absolute;
}

#cntSafetyRelayInputsCell_1_Label_bool6 {
  left: 35px;
  position: absolute;
}

#cntSafetyRelayInputsCell_1_Label_bool6 {
  width: 230px;
}

#cntSafetyRelayInputsCell_1_Label_bool6 {
  height: 20px;
}

#cntSafetyRelayInputsCell_1_Label_bool6 {
  z-index: 22;
}

#cntSafetyRelayInputsCell_1_Label_bool7 {
  top: 215px;
  position: absolute;
}

#cntSafetyRelayInputsCell_1_Label_bool7 {
  left: 35px;
  position: absolute;
}

#cntSafetyRelayInputsCell_1_Label_bool7 {
  width: 230px;
}

#cntSafetyRelayInputsCell_1_Label_bool7 {
  height: 20px;
}

#cntSafetyRelayInputsCell_1_Label_bool7 {
  z-index: 23;
}

#cntSafetyRelayInputsCell_1_Label_bool8 {
  top: 245px;
  position: absolute;
}

#cntSafetyRelayInputsCell_1_Label_bool8 {
  left: 35px;
  position: absolute;
}

#cntSafetyRelayInputsCell_1_Label_bool8 {
  width: 230px;
}

#cntSafetyRelayInputsCell_1_Label_bool8 {
  height: 20px;
}

#cntSafetyRelayInputsCell_1_Label_bool8 {
  z-index: 24;
}

#cntSafetyRelayInputsCell_1_Label_bool9 {
  top: 275px;
  position: absolute;
}

#cntSafetyRelayInputsCell_1_Label_bool9 {
  left: 35px;
  position: absolute;
}

#cntSafetyRelayInputsCell_1_Label_bool9 {
  width: 230px;
}

#cntSafetyRelayInputsCell_1_Label_bool9 {
  height: 20px;
}

#cntSafetyRelayInputsCell_1_Label_bool9 {
  z-index: 25;
}

#cntSafetyRelayInputsCell_1_Label_bool10 {
  top: 305px;
  position: absolute;
}

#cntSafetyRelayInputsCell_1_Label_bool10 {
  left: 35px;
  position: absolute;
}

#cntSafetyRelayInputsCell_1_Label_bool10 {
  width: 230px;
}

#cntSafetyRelayInputsCell_1_Label_bool10 {
  height: 20px;
}

#cntSafetyRelayInputsCell_1_Label_bool10 {
  z-index: 26;
}

#cntSafetyRelayInputsCell_1_Label_bool11 {
  top: 335px;
  position: absolute;
}

#cntSafetyRelayInputsCell_1_Label_bool11 {
  left: 35px;
  position: absolute;
}

#cntSafetyRelayInputsCell_1_Label_bool11 {
  width: 230px;
}

#cntSafetyRelayInputsCell_1_Label_bool11 {
  height: 20px;
}

#cntSafetyRelayInputsCell_1_Label_bool11 {
  z-index: 27;
}

#cntSafetyRelayInputsCell_1_Label_bool12 {
  top: 365px;
  position: absolute;
}

#cntSafetyRelayInputsCell_1_Label_bool12 {
  left: 35px;
  position: absolute;
}

#cntSafetyRelayInputsCell_1_Label_bool12 {
  width: 230px;
}

#cntSafetyRelayInputsCell_1_Label_bool12 {
  height: 20px;
}

#cntSafetyRelayInputsCell_1_Label_bool12 {
  z-index: 28;
}

#cntSafetyRelayInputsCell_1_Label_bool13 {
  top: 395px;
  position: absolute;
}

#cntSafetyRelayInputsCell_1_Label_bool13 {
  left: 35px;
  position: absolute;
}

#cntSafetyRelayInputsCell_1_Label_bool13 {
  width: 230px;
}

#cntSafetyRelayInputsCell_1_Label_bool13 {
  height: 20px;
}

#cntSafetyRelayInputsCell_1_Label_bool13 {
  z-index: 29;
}

#cntSafetyRelayInputsCell_1_Label_bool14 {
  top: 425px;
  position: absolute;
}

#cntSafetyRelayInputsCell_1_Label_bool14 {
  left: 35px;
  position: absolute;
}

#cntSafetyRelayInputsCell_1_Label_bool14 {
  width: 230px;
}

#cntSafetyRelayInputsCell_1_Label_bool14 {
  height: 20px;
}

#cntSafetyRelayInputsCell_1_Label_bool14 {
  z-index: 30;
}

#cntSafetyRelayInputsCell_1_Label_bool15 {
  top: 455px;
  position: absolute;
}

#cntSafetyRelayInputsCell_1_Label_bool15 {
  left: 35px;
  position: absolute;
}

#cntSafetyRelayInputsCell_1_Label_bool15 {
  width: 230px;
}

#cntSafetyRelayInputsCell_1_Label_bool15 {
  height: 20px;
}

#cntSafetyRelayInputsCell_1_Label_bool15 {
  z-index: 31;
}

#cntSafetyRelayInputsCell_1_Label_bool16 {
  top: 485px;
  position: absolute;
}

#cntSafetyRelayInputsCell_1_Label_bool16 {
  left: 35px;
  position: absolute;
}

#cntSafetyRelayInputsCell_1_Label_bool16 {
  width: 230px;
}

#cntSafetyRelayInputsCell_1_Label_bool16 {
  height: 20px;
}

#cntSafetyRelayInputsCell_1_Label_bool16 {
  z-index: 32;
}

#cntSafetyRelayInputsCell_1_GridLineItem1 {
  z-index: 1;
}

#cntSafetyRelayInputsCell_1_Label3 {
  height: 30px;
}

#cntSafetyRelayInputsCell_1_Label3 {
  top: 0px;
  position: absolute;
}

#cntSafetyRelayInputsCell_1_Label3 {
  left: 45px;
  position: absolute;
}

#cntSafetyRelayInputsCell_1_Label3 {
  width: 195px;
}

#cntSafetyRelayInputsCell_1_Label3 {
  z-index: 0;
}

#cntSafetyRelayInputsCell_1_Label3 span {
  color: dimgray;
}

#cntSafetyRelayInputsCell_1_Label3 {
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntSafetyRelayInputsCell_1_Label3 span {
  text-decoration: underline;
}

#cntSafetyRelayInputsCell_1_ImageList17 {
  top: 35px;
  position: absolute;
}

#cntSafetyRelayInputsCell_1_ImageList17 {
  left: 5px;
  position: absolute;
}

#cntSafetyRelayInputsCell_1_ImageList17 {
  width: 20px;
}

#cntSafetyRelayInputsCell_1_ImageList17 {
  height: 20px;
}

#cntSafetyRelayInputsCell_1_ImageList17 {
  z-index: 1;
}

#cntSafetyRelayInputsCell_1_ImageList18 {
  top: 65px;
  position: absolute;
}

#cntSafetyRelayInputsCell_1_ImageList18 {
  left: 5px;
  position: absolute;
}

#cntSafetyRelayInputsCell_1_ImageList18 {
  width: 20px;
}

#cntSafetyRelayInputsCell_1_ImageList18 {
  height: 20px;
}

#cntSafetyRelayInputsCell_1_ImageList18 {
  z-index: 2;
}

#cntSafetyRelayInputsCell_1_Label_Bool2 {
  top: 35px;
  position: absolute;
}

#cntSafetyRelayInputsCell_1_Label_Bool2 {
  left: 35px;
  position: absolute;
}

#cntSafetyRelayInputsCell_1_Label_Bool2 {
  width: 230px;
}

#cntSafetyRelayInputsCell_1_Label_Bool2 {
  height: 20px;
}

#cntSafetyRelayInputsCell_1_Label_Bool2 {
  z-index: 3;
}

#cntSafetyRelayInputsCell_1_LAbel_Bool3 {
  top: 65px;
  position: absolute;
}

#cntSafetyRelayInputsCell_1_LAbel_Bool3 {
  left: 35px;
  position: absolute;
}

#cntSafetyRelayInputsCell_1_LAbel_Bool3 {
  width: 230px;
}

#cntSafetyRelayInputsCell_1_LAbel_Bool3 {
  height: 20px;
}

#cntSafetyRelayInputsCell_1_LAbel_Bool3 {
  z-index: 4;
}

#cntSafetyRelayInputsCell_1_ImageList19 {
  top: 95px;
  position: absolute;
}

#cntSafetyRelayInputsCell_1_ImageList19 {
  left: 5px;
  position: absolute;
}

#cntSafetyRelayInputsCell_1_ImageList19 {
  width: 20px;
}

#cntSafetyRelayInputsCell_1_ImageList19 {
  height: 20px;
}

#cntSafetyRelayInputsCell_1_ImageList19 {
  z-index: 5;
}

#cntSafetyRelayInputsCell_1_LAbel_Bool4 {
  top: 95px;
  position: absolute;
}

#cntSafetyRelayInputsCell_1_LAbel_Bool4 {
  left: 35px;
  position: absolute;
}

#cntSafetyRelayInputsCell_1_LAbel_Bool4 {
  width: 230px;
}

#cntSafetyRelayInputsCell_1_LAbel_Bool4 {
  height: 20px;
}

#cntSafetyRelayInputsCell_1_LAbel_Bool4 {
  z-index: 6;
}

#cntSafetyRelayInputsCell_1_ImageList20 {
  top: 125px;
  position: absolute;
}

#cntSafetyRelayInputsCell_1_ImageList20 {
  left: 5px;
  position: absolute;
}

#cntSafetyRelayInputsCell_1_ImageList20 {
  width: 20px;
}

#cntSafetyRelayInputsCell_1_ImageList20 {
  height: 20px;
}

#cntSafetyRelayInputsCell_1_ImageList20 {
  z-index: 7;
}

#cntSafetyRelayInputsCell_1_LAbel_Bool5 {
  top: 125px;
  position: absolute;
}

#cntSafetyRelayInputsCell_1_LAbel_Bool5 {
  left: 35px;
  position: absolute;
}

#cntSafetyRelayInputsCell_1_LAbel_Bool5 {
  width: 230px;
}

#cntSafetyRelayInputsCell_1_LAbel_Bool5 {
  height: 20px;
}

#cntSafetyRelayInputsCell_1_LAbel_Bool5 {
  z-index: 8;
}

#cntSafetyRelayInputsCell_1_ImageList21 {
  top: 155px;
  position: absolute;
}

#cntSafetyRelayInputsCell_1_ImageList21 {
  left: 5px;
  position: absolute;
}

#cntSafetyRelayInputsCell_1_ImageList21 {
  width: 20px;
}

#cntSafetyRelayInputsCell_1_ImageList21 {
  height: 20px;
}

#cntSafetyRelayInputsCell_1_ImageList21 {
  z-index: 9;
}

#cntSafetyRelayInputsCell_1_LAbel_Bool6 {
  top: 155px;
  position: absolute;
}

#cntSafetyRelayInputsCell_1_LAbel_Bool6 {
  left: 35px;
  position: absolute;
}

#cntSafetyRelayInputsCell_1_LAbel_Bool6 {
  width: 230px;
}

#cntSafetyRelayInputsCell_1_LAbel_Bool6 {
  height: 20px;
}

#cntSafetyRelayInputsCell_1_LAbel_Bool6 {
  z-index: 10;
}

#cntSafetyRelayInputsCell_1_CheckBox_SafetyRelayInput {
  top: 0px;
  position: absolute;
}

#cntSafetyRelayInputsCell_1_CheckBox_SafetyRelayInput {
  left: 250px;
  position: absolute;
}

#cntSafetyRelayInputsCell_1_CheckBox_SafetyRelayInput {
  width: 45px;
}

#cntSafetyRelayInputsCell_1_CheckBox_SafetyRelayInput {
  height: 45px;
}

#cntSafetyRelayInputsCell_1_CheckBox_SafetyRelayInput {
  z-index: 1;
}

#cntSafetyRelayInputsCell_1_CheckBox_SafetyRelayInput span {
  font-style: italic;
}

#cntSafetyRelayInputsCell_1_CheckBox_SafetyRelayInput.checked:not(.disabled) svg {
  fill: red;
}
