﻿@import "mixins.scss";
#cntSafetyRelayInputsCell_1_GridLine2 {
	@include elemTop(0);
}
#cntSafetyRelayInputsCell_1_GridLine2 {
	@include elemLeft(0);
}
#cntSafetyRelayInputsCell_1_GridLine2 {
	@include elemWidth(300);
}
#cntSafetyRelayInputsCell_1_GridLine2 {
	@include elemHeight(540);
}
#cntSafetyRelayInputsCell_1_GridLine2 {
		z-index: 0;
}
#cntSafetyRelayInputsCell_1_GridLine2 {
	.container{
		padding: 5px 0px;
	}
}
#cntSafetyRelayInputsCell_1_GridLineItem2 {
		z-index: 0;
}
#cntSafetyRelayInputsCell_1_GridLineItem2 {
		padding: 0px 10px 10px 10px;
}
#cntSafetyRelayInputsCell_1_Label2 {
	@include elemAutoHeight(30);
}
#cntSafetyRelayInputsCell_1_Label2 {
	@include elemTop(0);
}
#cntSafetyRelayInputsCell_1_Label2 {
	@include elemLeft(45);
}
#cntSafetyRelayInputsCell_1_Label2 {
	@include elemAutoWidth(195);
}
#cntSafetyRelayInputsCell_1_Label2 {
		z-index: 0;
}
#cntSafetyRelayInputsCell_1_Label2 {
	& span{
		color: rgba(105, 105, 105, 1);
	}
}
#cntSafetyRelayInputsCell_1_Label2 {
	@include text-alignment-all('center');
}
#cntSafetyRelayInputsCell_1_Label2 {
	span{
	@include text-decoration-underline(true);
	}
}
#cntSafetyRelayInputsCell_1_ImageList1 {
	@include elemTop(35);
}
#cntSafetyRelayInputsCell_1_ImageList1 {
	@include elemLeft(5);
}
#cntSafetyRelayInputsCell_1_ImageList1 {
	@include elemWidth(20);
}
#cntSafetyRelayInputsCell_1_ImageList1 {
	@include elemHeight(20);
}
#cntSafetyRelayInputsCell_1_ImageList1 {
		z-index: 1;
}
#cntSafetyRelayInputsCell_1_ImageList2 {
	@include elemTop(65);
}
#cntSafetyRelayInputsCell_1_ImageList2 {
	@include elemLeft(5);
}
#cntSafetyRelayInputsCell_1_ImageList2 {
	@include elemWidth(20);
}
#cntSafetyRelayInputsCell_1_ImageList2 {
	@include elemHeight(20);
}
#cntSafetyRelayInputsCell_1_ImageList2 {
		z-index: 2;
}
#cntSafetyRelayInputsCell_1_ImageList3 {
	@include elemTop(95);
}
#cntSafetyRelayInputsCell_1_ImageList3 {
	@include elemLeft(5);
}
#cntSafetyRelayInputsCell_1_ImageList3 {
	@include elemWidth(20);
}
#cntSafetyRelayInputsCell_1_ImageList3 {
	@include elemHeight(20);
}
#cntSafetyRelayInputsCell_1_ImageList3 {
		z-index: 3;
}
#cntSafetyRelayInputsCell_1_ImageList4 {
	@include elemTop(125);
}
#cntSafetyRelayInputsCell_1_ImageList4 {
	@include elemLeft(5);
}
#cntSafetyRelayInputsCell_1_ImageList4 {
	@include elemWidth(20);
}
#cntSafetyRelayInputsCell_1_ImageList4 {
	@include elemHeight(20);
}
#cntSafetyRelayInputsCell_1_ImageList4 {
		z-index: 4;
}
#cntSafetyRelayInputsCell_1_ImageList5 {
	@include elemTop(155);
}
#cntSafetyRelayInputsCell_1_ImageList5 {
	@include elemLeft(5);
}
#cntSafetyRelayInputsCell_1_ImageList5 {
	@include elemWidth(20);
}
#cntSafetyRelayInputsCell_1_ImageList5 {
	@include elemHeight(20);
}
#cntSafetyRelayInputsCell_1_ImageList5 {
		z-index: 5;
}
#cntSafetyRelayInputsCell_1_ImageList6 {
	@include elemTop(185);
}
#cntSafetyRelayInputsCell_1_ImageList6 {
	@include elemLeft(5);
}
#cntSafetyRelayInputsCell_1_ImageList6 {
	@include elemWidth(20);
}
#cntSafetyRelayInputsCell_1_ImageList6 {
	@include elemHeight(20);
}
#cntSafetyRelayInputsCell_1_ImageList6 {
		z-index: 6;
}
#cntSafetyRelayInputsCell_1_ImageList7 {
	@include elemTop(215);
}
#cntSafetyRelayInputsCell_1_ImageList7 {
	@include elemLeft(5);
}
#cntSafetyRelayInputsCell_1_ImageList7 {
	@include elemWidth(20);
}
#cntSafetyRelayInputsCell_1_ImageList7 {
	@include elemHeight(20);
}
#cntSafetyRelayInputsCell_1_ImageList7 {
		z-index: 7;
}
#cntSafetyRelayInputsCell_1_ImageList8 {
	@include elemTop(245);
}
#cntSafetyRelayInputsCell_1_ImageList8 {
	@include elemLeft(5);
}
#cntSafetyRelayInputsCell_1_ImageList8 {
	@include elemWidth(20);
}
#cntSafetyRelayInputsCell_1_ImageList8 {
	@include elemHeight(20);
}
#cntSafetyRelayInputsCell_1_ImageList8 {
		z-index: 8;
}
#cntSafetyRelayInputsCell_1_ImageList9 {
	@include elemTop(275);
}
#cntSafetyRelayInputsCell_1_ImageList9 {
	@include elemLeft(5);
}
#cntSafetyRelayInputsCell_1_ImageList9 {
	@include elemWidth(20);
}
#cntSafetyRelayInputsCell_1_ImageList9 {
	@include elemHeight(20);
}
#cntSafetyRelayInputsCell_1_ImageList9 {
		z-index: 9;
}
#cntSafetyRelayInputsCell_1_ImageList10 {
	@include elemTop(305);
}
#cntSafetyRelayInputsCell_1_ImageList10 {
	@include elemLeft(5);
}
#cntSafetyRelayInputsCell_1_ImageList10 {
	@include elemWidth(20);
}
#cntSafetyRelayInputsCell_1_ImageList10 {
	@include elemHeight(20);
}
#cntSafetyRelayInputsCell_1_ImageList10 {
		z-index: 10;
}
#cntSafetyRelayInputsCell_1_ImageList11 {
	@include elemTop(335);
}
#cntSafetyRelayInputsCell_1_ImageList11 {
	@include elemLeft(5);
}
#cntSafetyRelayInputsCell_1_ImageList11 {
	@include elemWidth(20);
}
#cntSafetyRelayInputsCell_1_ImageList11 {
	@include elemHeight(20);
}
#cntSafetyRelayInputsCell_1_ImageList11 {
		z-index: 11;
}
#cntSafetyRelayInputsCell_1_ImageList12 {
	@include elemTop(365);
}
#cntSafetyRelayInputsCell_1_ImageList12 {
	@include elemLeft(5);
}
#cntSafetyRelayInputsCell_1_ImageList12 {
	@include elemWidth(20);
}
#cntSafetyRelayInputsCell_1_ImageList12 {
	@include elemHeight(20);
}
#cntSafetyRelayInputsCell_1_ImageList12 {
		z-index: 12;
}
#cntSafetyRelayInputsCell_1_ImageList13 {
	@include elemTop(395);
}
#cntSafetyRelayInputsCell_1_ImageList13 {
	@include elemLeft(5);
}
#cntSafetyRelayInputsCell_1_ImageList13 {
	@include elemWidth(20);
}
#cntSafetyRelayInputsCell_1_ImageList13 {
	@include elemHeight(20);
}
#cntSafetyRelayInputsCell_1_ImageList13 {
		z-index: 13;
}
#cntSafetyRelayInputsCell_1_ImageList14 {
	@include elemTop(425);
}
#cntSafetyRelayInputsCell_1_ImageList14 {
	@include elemLeft(5);
}
#cntSafetyRelayInputsCell_1_ImageList14 {
	@include elemWidth(20);
}
#cntSafetyRelayInputsCell_1_ImageList14 {
	@include elemHeight(20);
}
#cntSafetyRelayInputsCell_1_ImageList14 {
		z-index: 14;
}
#cntSafetyRelayInputsCell_1_ImageList15 {
	@include elemTop(455);
}
#cntSafetyRelayInputsCell_1_ImageList15 {
	@include elemLeft(5);
}
#cntSafetyRelayInputsCell_1_ImageList15 {
	@include elemWidth(20);
}
#cntSafetyRelayInputsCell_1_ImageList15 {
	@include elemHeight(20);
}
#cntSafetyRelayInputsCell_1_ImageList15 {
		z-index: 15;
}
#cntSafetyRelayInputsCell_1_ImageList16 {
	@include elemTop(485);
}
#cntSafetyRelayInputsCell_1_ImageList16 {
	@include elemLeft(5);
}
#cntSafetyRelayInputsCell_1_ImageList16 {
	@include elemWidth(20);
}
#cntSafetyRelayInputsCell_1_ImageList16 {
	@include elemHeight(20);
}
#cntSafetyRelayInputsCell_1_ImageList16 {
		z-index: 16;
}
#cntSafetyRelayInputsCell_1_Label_Bool1 {
	@include elemTop(35);
}
#cntSafetyRelayInputsCell_1_Label_Bool1 {
	@include elemLeft(35);
}
#cntSafetyRelayInputsCell_1_Label_Bool1 {
	@include elemAutoWidth(230);
}
#cntSafetyRelayInputsCell_1_Label_Bool1 {
	@include elemAutoHeight(20);
}
#cntSafetyRelayInputsCell_1_Label_Bool1 {
		z-index: 17;
}
#cntSafetyRelayInputsCell_1_LAbel_Bool2 {
	@include elemTop(65);
}
#cntSafetyRelayInputsCell_1_LAbel_Bool2 {
	@include elemLeft(35);
}
#cntSafetyRelayInputsCell_1_LAbel_Bool2 {
	@include elemAutoWidth(230);
}
#cntSafetyRelayInputsCell_1_LAbel_Bool2 {
	@include elemAutoHeight(20);
}
#cntSafetyRelayInputsCell_1_LAbel_Bool2 {
		z-index: 18;
}
#cntSafetyRelayInputsCell_1_label_Bool3 {
	@include elemTop(95);
}
#cntSafetyRelayInputsCell_1_label_Bool3 {
	@include elemLeft(35);
}
#cntSafetyRelayInputsCell_1_label_Bool3 {
	@include elemAutoWidth(230);
}
#cntSafetyRelayInputsCell_1_label_Bool3 {
	@include elemAutoHeight(20);
}
#cntSafetyRelayInputsCell_1_label_Bool3 {
		z-index: 19;
}
#cntSafetyRelayInputsCell_1_Label_bool4 {
	@include elemTop(125);
}
#cntSafetyRelayInputsCell_1_Label_bool4 {
	@include elemLeft(35);
}
#cntSafetyRelayInputsCell_1_Label_bool4 {
	@include elemAutoWidth(230);
}
#cntSafetyRelayInputsCell_1_Label_bool4 {
	@include elemAutoHeight(20);
}
#cntSafetyRelayInputsCell_1_Label_bool4 {
		z-index: 20;
}
#cntSafetyRelayInputsCell_1_label_bool5 {
	@include elemTop(155);
}
#cntSafetyRelayInputsCell_1_label_bool5 {
	@include elemLeft(35);
}
#cntSafetyRelayInputsCell_1_label_bool5 {
	@include elemAutoWidth(230);
}
#cntSafetyRelayInputsCell_1_label_bool5 {
	@include elemAutoHeight(20);
}
#cntSafetyRelayInputsCell_1_label_bool5 {
		z-index: 21;
}
#cntSafetyRelayInputsCell_1_Label_bool6 {
	@include elemTop(185);
}
#cntSafetyRelayInputsCell_1_Label_bool6 {
	@include elemLeft(35);
}
#cntSafetyRelayInputsCell_1_Label_bool6 {
	@include elemAutoWidth(230);
}
#cntSafetyRelayInputsCell_1_Label_bool6 {
	@include elemAutoHeight(20);
}
#cntSafetyRelayInputsCell_1_Label_bool6 {
		z-index: 22;
}
#cntSafetyRelayInputsCell_1_Label_bool7 {
	@include elemTop(215);
}
#cntSafetyRelayInputsCell_1_Label_bool7 {
	@include elemLeft(35);
}
#cntSafetyRelayInputsCell_1_Label_bool7 {
	@include elemAutoWidth(230);
}
#cntSafetyRelayInputsCell_1_Label_bool7 {
	@include elemAutoHeight(20);
}
#cntSafetyRelayInputsCell_1_Label_bool7 {
		z-index: 23;
}
#cntSafetyRelayInputsCell_1_Label_bool8 {
	@include elemTop(245);
}
#cntSafetyRelayInputsCell_1_Label_bool8 {
	@include elemLeft(35);
}
#cntSafetyRelayInputsCell_1_Label_bool8 {
	@include elemAutoWidth(230);
}
#cntSafetyRelayInputsCell_1_Label_bool8 {
	@include elemAutoHeight(20);
}
#cntSafetyRelayInputsCell_1_Label_bool8 {
		z-index: 24;
}
#cntSafetyRelayInputsCell_1_Label_bool9 {
	@include elemTop(275);
}
#cntSafetyRelayInputsCell_1_Label_bool9 {
	@include elemLeft(35);
}
#cntSafetyRelayInputsCell_1_Label_bool9 {
	@include elemAutoWidth(230);
}
#cntSafetyRelayInputsCell_1_Label_bool9 {
	@include elemAutoHeight(20);
}
#cntSafetyRelayInputsCell_1_Label_bool9 {
		z-index: 25;
}
#cntSafetyRelayInputsCell_1_Label_bool10 {
	@include elemTop(305);
}
#cntSafetyRelayInputsCell_1_Label_bool10 {
	@include elemLeft(35);
}
#cntSafetyRelayInputsCell_1_Label_bool10 {
	@include elemAutoWidth(230);
}
#cntSafetyRelayInputsCell_1_Label_bool10 {
	@include elemAutoHeight(20);
}
#cntSafetyRelayInputsCell_1_Label_bool10 {
		z-index: 26;
}
#cntSafetyRelayInputsCell_1_Label_bool11 {
	@include elemTop(335);
}
#cntSafetyRelayInputsCell_1_Label_bool11 {
	@include elemLeft(35);
}
#cntSafetyRelayInputsCell_1_Label_bool11 {
	@include elemAutoWidth(230);
}
#cntSafetyRelayInputsCell_1_Label_bool11 {
	@include elemAutoHeight(20);
}
#cntSafetyRelayInputsCell_1_Label_bool11 {
		z-index: 27;
}
#cntSafetyRelayInputsCell_1_Label_bool12 {
	@include elemTop(365);
}
#cntSafetyRelayInputsCell_1_Label_bool12 {
	@include elemLeft(35);
}
#cntSafetyRelayInputsCell_1_Label_bool12 {
	@include elemAutoWidth(230);
}
#cntSafetyRelayInputsCell_1_Label_bool12 {
	@include elemAutoHeight(20);
}
#cntSafetyRelayInputsCell_1_Label_bool12 {
		z-index: 28;
}
#cntSafetyRelayInputsCell_1_Label_bool13 {
	@include elemTop(395);
}
#cntSafetyRelayInputsCell_1_Label_bool13 {
	@include elemLeft(35);
}
#cntSafetyRelayInputsCell_1_Label_bool13 {
	@include elemAutoWidth(230);
}
#cntSafetyRelayInputsCell_1_Label_bool13 {
	@include elemAutoHeight(20);
}
#cntSafetyRelayInputsCell_1_Label_bool13 {
		z-index: 29;
}
#cntSafetyRelayInputsCell_1_Label_bool14 {
	@include elemTop(425);
}
#cntSafetyRelayInputsCell_1_Label_bool14 {
	@include elemLeft(35);
}
#cntSafetyRelayInputsCell_1_Label_bool14 {
	@include elemAutoWidth(230);
}
#cntSafetyRelayInputsCell_1_Label_bool14 {
	@include elemAutoHeight(20);
}
#cntSafetyRelayInputsCell_1_Label_bool14 {
		z-index: 30;
}
#cntSafetyRelayInputsCell_1_Label_bool15 {
	@include elemTop(455);
}
#cntSafetyRelayInputsCell_1_Label_bool15 {
	@include elemLeft(35);
}
#cntSafetyRelayInputsCell_1_Label_bool15 {
	@include elemAutoWidth(230);
}
#cntSafetyRelayInputsCell_1_Label_bool15 {
	@include elemAutoHeight(20);
}
#cntSafetyRelayInputsCell_1_Label_bool15 {
		z-index: 31;
}
#cntSafetyRelayInputsCell_1_Label_bool16 {
	@include elemTop(485);
}
#cntSafetyRelayInputsCell_1_Label_bool16 {
	@include elemLeft(35);
}
#cntSafetyRelayInputsCell_1_Label_bool16 {
	@include elemAutoWidth(230);
}
#cntSafetyRelayInputsCell_1_Label_bool16 {
	@include elemAutoHeight(20);
}
#cntSafetyRelayInputsCell_1_Label_bool16 {
		z-index: 32;
}
#cntSafetyRelayInputsCell_1_GridLineItem1 {
		z-index: 1;
}
#cntSafetyRelayInputsCell_1_Label3 {
	@include elemAutoHeight(30);
}
#cntSafetyRelayInputsCell_1_Label3 {
	@include elemTop(0);
}
#cntSafetyRelayInputsCell_1_Label3 {
	@include elemLeft(45);
}
#cntSafetyRelayInputsCell_1_Label3 {
	@include elemAutoWidth(195);
}
#cntSafetyRelayInputsCell_1_Label3 {
		z-index: 0;
}
#cntSafetyRelayInputsCell_1_Label3 {
	& span{
		color: rgba(105, 105, 105, 1);
	}
}
#cntSafetyRelayInputsCell_1_Label3 {
	@include text-alignment-all('center');
}
#cntSafetyRelayInputsCell_1_Label3 {
	span{
	@include text-decoration-underline(true);
	}
}
#cntSafetyRelayInputsCell_1_ImageList17 {
	@include elemTop(35);
}
#cntSafetyRelayInputsCell_1_ImageList17 {
	@include elemLeft(5);
}
#cntSafetyRelayInputsCell_1_ImageList17 {
	@include elemWidth(20);
}
#cntSafetyRelayInputsCell_1_ImageList17 {
	@include elemHeight(20);
}
#cntSafetyRelayInputsCell_1_ImageList17 {
		z-index: 1;
}
#cntSafetyRelayInputsCell_1_ImageList18 {
	@include elemTop(65);
}
#cntSafetyRelayInputsCell_1_ImageList18 {
	@include elemLeft(5);
}
#cntSafetyRelayInputsCell_1_ImageList18 {
	@include elemWidth(20);
}
#cntSafetyRelayInputsCell_1_ImageList18 {
	@include elemHeight(20);
}
#cntSafetyRelayInputsCell_1_ImageList18 {
		z-index: 2;
}
#cntSafetyRelayInputsCell_1_Label_Bool2 {
	@include elemTop(35);
}
#cntSafetyRelayInputsCell_1_Label_Bool2 {
	@include elemLeft(35);
}
#cntSafetyRelayInputsCell_1_Label_Bool2 {
	@include elemAutoWidth(230);
}
#cntSafetyRelayInputsCell_1_Label_Bool2 {
	@include elemAutoHeight(20);
}
#cntSafetyRelayInputsCell_1_Label_Bool2 {
		z-index: 3;
}
#cntSafetyRelayInputsCell_1_LAbel_Bool3 {
	@include elemTop(65);
}
#cntSafetyRelayInputsCell_1_LAbel_Bool3 {
	@include elemLeft(35);
}
#cntSafetyRelayInputsCell_1_LAbel_Bool3 {
	@include elemAutoWidth(230);
}
#cntSafetyRelayInputsCell_1_LAbel_Bool3 {
	@include elemAutoHeight(20);
}
#cntSafetyRelayInputsCell_1_LAbel_Bool3 {
		z-index: 4;
}
#cntSafetyRelayInputsCell_1_ImageList19 {
	@include elemTop(95);
}
#cntSafetyRelayInputsCell_1_ImageList19 {
	@include elemLeft(5);
}
#cntSafetyRelayInputsCell_1_ImageList19 {
	@include elemWidth(20);
}
#cntSafetyRelayInputsCell_1_ImageList19 {
	@include elemHeight(20);
}
#cntSafetyRelayInputsCell_1_ImageList19 {
		z-index: 5;
}
#cntSafetyRelayInputsCell_1_LAbel_Bool4 {
	@include elemTop(95);
}
#cntSafetyRelayInputsCell_1_LAbel_Bool4 {
	@include elemLeft(35);
}
#cntSafetyRelayInputsCell_1_LAbel_Bool4 {
	@include elemAutoWidth(230);
}
#cntSafetyRelayInputsCell_1_LAbel_Bool4 {
	@include elemAutoHeight(20);
}
#cntSafetyRelayInputsCell_1_LAbel_Bool4 {
		z-index: 6;
}
#cntSafetyRelayInputsCell_1_ImageList20 {
	@include elemTop(125);
}
#cntSafetyRelayInputsCell_1_ImageList20 {
	@include elemLeft(5);
}
#cntSafetyRelayInputsCell_1_ImageList20 {
	@include elemWidth(20);
}
#cntSafetyRelayInputsCell_1_ImageList20 {
	@include elemHeight(20);
}
#cntSafetyRelayInputsCell_1_ImageList20 {
		z-index: 7;
}
#cntSafetyRelayInputsCell_1_LAbel_Bool5 {
	@include elemTop(125);
}
#cntSafetyRelayInputsCell_1_LAbel_Bool5 {
	@include elemLeft(35);
}
#cntSafetyRelayInputsCell_1_LAbel_Bool5 {
	@include elemAutoWidth(230);
}
#cntSafetyRelayInputsCell_1_LAbel_Bool5 {
	@include elemAutoHeight(20);
}
#cntSafetyRelayInputsCell_1_LAbel_Bool5 {
		z-index: 8;
}
#cntSafetyRelayInputsCell_1_ImageList21 {
	@include elemTop(155);
}
#cntSafetyRelayInputsCell_1_ImageList21 {
	@include elemLeft(5);
}
#cntSafetyRelayInputsCell_1_ImageList21 {
	@include elemWidth(20);
}
#cntSafetyRelayInputsCell_1_ImageList21 {
	@include elemHeight(20);
}
#cntSafetyRelayInputsCell_1_ImageList21 {
		z-index: 9;
}
#cntSafetyRelayInputsCell_1_LAbel_Bool6 {
	@include elemTop(155);
}
#cntSafetyRelayInputsCell_1_LAbel_Bool6 {
	@include elemLeft(35);
}
#cntSafetyRelayInputsCell_1_LAbel_Bool6 {
	@include elemAutoWidth(230);
}
#cntSafetyRelayInputsCell_1_LAbel_Bool6 {
	@include elemAutoHeight(20);
}
#cntSafetyRelayInputsCell_1_LAbel_Bool6 {
		z-index: 10;
}
#cntSafetyRelayInputsCell_1_CheckBox_SafetyRelayInput {
	@include elemTop(0);
}
#cntSafetyRelayInputsCell_1_CheckBox_SafetyRelayInput {
	@include elemLeft(250);
}
#cntSafetyRelayInputsCell_1_CheckBox_SafetyRelayInput {
	@include elemAutoWidth(45);
}
#cntSafetyRelayInputsCell_1_CheckBox_SafetyRelayInput {
	@include elemAutoHeight(45);
}
#cntSafetyRelayInputsCell_1_CheckBox_SafetyRelayInput {
		z-index: 1;
}
#cntSafetyRelayInputsCell_1_CheckBox_SafetyRelayInput {
	span{
	@include font-style-italic(true);
	}
}
#cntSafetyRelayInputsCell_1_CheckBox_SafetyRelayInput {
	&.checked:not(.disabled) svg{
		fill: rgba(255, 0, 0, 1);
	}
}
