div[data-brease-dialogId='DialogHomeCell_2_Camera'] .breaseDialogWindowHeader {
  background-color: #dbdbdb;
}

div[data-brease-dialogId='DialogHomeCell_2_Camera'] .breaseDialogWindowHeader {
  height: 30px;
}

div[data-brease-dialogId='DialogHomeCell_2_Camera'] .breaseDialogWindowHeader .breaseWindowClose {
  height: 30px;
}

div[data-brease-dialogId='DialogHomeCell_2_Camera'] .breaseDialogWindowHeader .breaseWindowClose {
  line-height: 30px;
}

div[data-brease-dialogId='DialogHomeCell_2_Camera'] .breaseDialogWindowHeader .imageDiv {
  min-width: 30px;
}

div[data-brease-dialogId='DialogHomeCell_2_Camera'] .breaseDialogWindowHeader div.innerHeader {
  line-height: 30px;
}

div[data-brease-dialogId='DialogHomeCell_2_Camera'] .breaseDialogWindowHeader div.textDiv {
  line-height: 30px;
}

div[data-brease-dialogId='DialogHomeCell_2_Camera'] .breaseDialogWindowHeader div.innerHeader {
  height: 30px;
}

div[data-brease-dialogId='DialogHomeCell_2_Camera'] .breaseDialogWindowHeader div.imageDiv {
  max-width: 60px;
}

div[data-brease-dialogId='DialogHomeCell_2_Camera'] .breaseDialogWindowHeader .textDiv {
  font-weight: normal;
}

div[data-brease-dialogId='DialogHomeCell_2_Camera'] .breaseDialogWindowHeader .textDiv {
  font-family: Times New Roman;
}

div[data-brease-dialogId='DialogHomeCell_2_Camera'] .breaseDialogWindowHeader .textDiv {
  font-size: 20px;
}

div[data-brease-dialogId='DialogHomeCell_2_Camera'] .breaseWindowClose {
  display: none;
}
