﻿@import "mixins.scss";
div[data-brease-dialogId='DialogHomeCell_2_Camera'] {
	.breaseDialogWindowHeader{
	background-color: rgba(219, 219, 219, 1);
	}
}
div[data-brease-dialogId='DialogHomeCell_2_Camera'] {
	.breaseDialogWindowHeader{
	height: 30px;
	}
}
div[data-brease-dialogId='DialogHomeCell_2_Camera'] {
	.breaseDialogWindowHeader .breaseWindowClose{
	height: 30px;
	}
}
div[data-brease-dialogId='DialogHomeCell_2_Camera'] {
	.breaseDialogWindowHeader .breaseWindowClose{
	line-height: 30px;
	}
}
div[data-brease-dialogId='DialogHomeCell_2_Camera'] {
	.breaseDialogWindowHeader .imageDiv{
	min-width: 30px;
	}
}
div[data-brease-dialogId='DialogHomeCell_2_Camera'] {
	.breaseDialogWindowHeader div.innerHeader{
	line-height: 30px;
	}
}
div[data-brease-dialogId='DialogHomeCell_2_Camera'] {
	.breaseDialogWindowHeader div.textDiv{
	line-height: 30px;
	}
}
div[data-brease-dialogId='DialogHomeCell_2_Camera'] {
	.breaseDialogWindowHeader div.innerHeader{
	height: 30px;
	}
}
div[data-brease-dialogId='DialogHomeCell_2_Camera'] {
	.breaseDialogWindowHeader div.imageDiv{
@include factor('max-width',30px, 2);
	}
}
div[data-brease-dialogId='DialogHomeCell_2_Camera'] {
	.breaseDialogWindowHeader .textDiv{
@include font-weight-bold(false);
	}
}
div[data-brease-dialogId='DialogHomeCell_2_Camera'] {
	.breaseDialogWindowHeader .textDiv{
	font-family: Times New Roman;
	}
}
div[data-brease-dialogId='DialogHomeCell_2_Camera'] {
	.breaseDialogWindowHeader .textDiv{
	font-size: 20px;
	}
}
div[data-brease-dialogId='DialogHomeCell_2_Camera'] {
	.breaseWindowClose{
@include display(false);
	}
}
