﻿@import "mixins.scss";
#cntProduction_GroupBox1 {
	@include elemTop(10);
}
#cntProduction_GroupBox1 {
	@include elemLeft(90);
}
#cntProduction_GroupBox1 {
	@include elemWidth(1279);
}
#cntProduction_GroupBox1 {
	@include elemHeight(460);
}
#cntProduction_GroupBox1 {
		z-index: 0;
}
#cntProduction_GroupBox1 {
		border-width: 1px;
}
#cntProduction_GroupBox1 {
	> .header{
		border-width: 1px;
	}
}
#cntProduction_Label1 {
	@include elemTop(59);
}
#cntProduction_Label1 {
	@include elemLeft(40);
}
#cntProduction_Label1 {
	@include elemAutoWidth(311);
}
#cntProduction_Label1 {
	@include elemAutoHeight(50);
}
#cntProduction_Label1 {
		z-index: 0;
}
#cntProduction_NumericOutput_Total {
	@include elemTop(59);
}
#cntProduction_NumericOutput_Total {
	@include elemLeft(230);
}
#cntProduction_NumericOutput_Total {
	@include elemAutoWidth(120);
}
#cntProduction_NumericOutput_Total {
	@include elemAutoHeight(50);
}
#cntProduction_NumericOutput_Total {
		z-index: 2;
}
#cntProduction_NumericOutput_Total {
	input{
	@include text-alignment(center);
	}
}
#cntProduction_Label2 {
	@include elemTop(129);
}
#cntProduction_Label2 {
	@include elemLeft(40);
}
#cntProduction_Label2 {
	@include elemAutoWidth(311);
}
#cntProduction_Label2 {
	@include elemAutoHeight(51);
}
#cntProduction_Label2 {
		z-index: 1;
}
#cntProduction_DateTimeOutput1 {
	@include elemTop(0);
}
#cntProduction_DateTimeOutput1 {
	@include elemLeft(-1);
}
#cntProduction_DateTimeOutput1 {
	@include elemAutoWidth(591);
}
#cntProduction_DateTimeOutput1 {
	@include elemAutoHeight(40);
}
#cntProduction_DateTimeOutput1 {
		z-index: 3;
}
#cntProduction_DateTimeOutput1 {
		padding: 0px;
}
#cntProduction_DateTimeOutput2 {
	@include elemTop(-1);
}
#cntProduction_DateTimeOutput2 {
	@include elemLeft(590);
}
#cntProduction_DateTimeOutput2 {
	@include elemAutoWidth(290);
}
#cntProduction_DateTimeOutput2 {
	@include elemAutoHeight(41);
}
#cntProduction_DateTimeOutput2 {
		z-index: 4;
}
#cntProduction_TextOutput1 {
	@include elemTop(-1);
}
#cntProduction_TextOutput1 {
	@include elemLeft(879);
}
#cntProduction_TextOutput1 {
	@include elemAutoWidth(341);
}
#cntProduction_TextOutput1 {
	@include elemAutoHeight(42);
}
#cntProduction_TextOutput1 {
		z-index: 7;
}
#cntProduction_TextOutput1 {
	@include text-alignment-all('center');
}
#cntProduction_Label4 {
	@include elemTop(59);
}
#cntProduction_Label4 {
	@include elemLeft(710);
}
#cntProduction_Label4 {
	@include elemAutoWidth(441);
}
#cntProduction_Label4 {
	@include elemAutoHeight(71);
}
#cntProduction_Label4 {
		z-index: 5;
}
#cntProduction_Label4 {
		border-width: 2px 2px 0px;
}
#cntProduction_Label5 {
	@include elemTop(119);
}
#cntProduction_Label5 {
	@include elemLeft(710);
}
#cntProduction_Label5 {
	@include elemAutoWidth(441);
}
#cntProduction_Label5 {
	@include elemAutoHeight(70);
}
#cntProduction_Label5 {
		z-index: 6;
}
#cntProduction_Label5 {
		border-width: 0px 2px 2px;
}
#cntProduction_NumericOutput_Total1 {
	@include elemTop(49);
}
#cntProduction_NumericOutput_Total1 {
	@include elemLeft(1010);
}
#cntProduction_NumericOutput_Total1 {
	@include elemAutoWidth(141);
}
#cntProduction_NumericOutput_Total1 {
	@include elemAutoHeight(50);
}
#cntProduction_NumericOutput_Total1 {
		z-index: 8;
}
#cntProduction_NumericOutput_Total1 {
	input{
	@include text-alignment(center);
	}
}
#cntProduction_NumericOutput_Total2 {
	@include elemTop(129);
}
#cntProduction_NumericOutput_Total2 {
	@include elemLeft(1010);
}
#cntProduction_NumericOutput_Total2 {
	@include elemAutoWidth(141);
}
#cntProduction_NumericOutput_Total2 {
	@include elemAutoHeight(50);
}
#cntProduction_NumericOutput_Total2 {
		z-index: 9;
}
#cntProduction_NumericOutput_Total2 {
	input{
		color: rgba(255, 0, 0, 1);
	}
}
#cntProduction_NumericOutput_Total2 {
	span.breaseNumericOutput_unit{
		color: rgba(255, 0, 0, 1);
	}
}
#cntProduction_NumericOutput_Total2 {
	input{
	@include text-alignment(center);
	}
}
#cntProduction_Table1 {
	@include elemTop(299);
}
#cntProduction_Table1 {
	@include elemLeft(119);
}
#cntProduction_Table1 {
	@include elemWidth(901);
}
#cntProduction_Table1 {
	@include elemHeight(130);
}
#cntProduction_Table1 {
		z-index: 10;
}
#cntProduction_Table1 {
	.tableCells tbody tr td:not(.override){
		border-width: 1px 1px 1px 1px;
	}
}
#cntProduction_Table1 {
	.dataTables_scrollBody.horizontalOrientation .tableCells tbody tr:first-child td:not(.override){
		border-width: 1px 1px 1px 1px;
	}
}
#cntProduction_Table1 {
	.dataTables_scrollBody.verticalOrientation .tableCells tbody tr td:first-child:not(.override){
		border-width: 1px 1px 1px 1px;
	}
}
#cntProduction_Table1 {
	.tableHeader div:not(.override){
		border-width: 1px 1px 1px 1px;
	}
}
#cntProduction_Table1 {
	.dataTables_scrollHead div{
		border-width: 1px 1px 1px 1px;
	}
}
#cntProduction_Table1 {
	.dataTables_scrollHead.verticalOrientation .tableHeader div:first-child:not(.override){
		border-width: 1px 1px 1px 1px;
	}
}
#cntProduction_Table1 {
	.dataTables_scrollHead.verticalOrientation .tableHeader div:not(.override){
		border-width: 1px 1px 1px 1px;
	}
}
#cntProduction_Table1 {
	.dataTables_scrollHead.horizontalOrientation .tableHeader div:first-child:not(.override){
		border-width: 1px 1px 1px 1px;
	}
}
#cntProduction_Table1 {
	.dataTables_scrollHead.horizontalOrientation .tableHeader div:not(.override){
		border-width: 1px 1px 1px 1px;
	}
}
#cntProduction_TableItem1 {
		z-index: 0;
}
#cntProduction_TableItem2 {
		z-index: 1;
}
#cntProduction_TableItem3 {
		z-index: 2;
}
#cntProduction_TableItem4 {
		z-index: 3;
}
#cntProduction_ProgressBar1 {
	@include elemTop(209);
}
#cntProduction_ProgressBar1 {
	@include elemLeft(700);
}
#cntProduction_ProgressBar1 {
	@include elemWidth(481);
}
#cntProduction_ProgressBar1 {
	@include elemHeight(34);
}
#cntProduction_ProgressBar1 {
		z-index: 11;
}
#cntProduction_ProgressBar1 {
	.pb-progress{
		background-color: rgba(34, 139, 34, 1);
	}
}
#cntProduction_ProgressBar1 {
	.pb-label-text{
	@include font-weight-bold(true);
	}
}
#cntProduction_LinearGauge1 {
	@include elemTop(199);
}
#cntProduction_LinearGauge1 {
	@include elemLeft(0);
}
#cntProduction_LinearGauge1 {
	@include elemWidth(410);
}
#cntProduction_LinearGauge1 {
	@include elemHeight(61);
}
#cntProduction_LinearGauge1 {
		z-index: 12;
}
#cntProduction_LinearGauge1 {
	.scaleArea1{
		fill: rgba(139, 0, 0, 1);
	}
}
#cntProduction_LinearGauge1 {
	.scaleArea2{
		fill: rgba(255, 0, 0, 1);
	}
}
#cntProduction_LinearGauge1 {
	.scaleArea3{
		fill: rgba(255, 215, 0, 1);
	}
}
#cntProduction_LinearGauge1 {
	.scaleArea4{
		fill: rgba(173, 255, 47, 1);
	}
}
#cntProduction_LinearGauge1 {
	.scaleArea5{
		fill: rgba(0, 128, 0, 1);
	}
}
#cntProduction_Label6 {
	@include elemTop(239);
}
#cntProduction_Label6 {
	@include elemLeft(149);
}
#cntProduction_Label6 {
	@include elemAutoWidth(120);
}
#cntProduction_Label6 {
	@include elemAutoHeight(31);
}
#cntProduction_Label6 {
		z-index: 13;
}
#cntProduction_Label6 {
		border-style: none;
}
#cntProduction_Label6 {
	&:before{
		border-style: none;
	}
}
#cntProduction_Label6 {
	&:after{
		border-style: none;
	}
}
#cntProduction_Label6 {
	@include text-alignment-all('center top');
}
#cntProduction_Label6 {
		font-size: 13px;
}
#cntProduction_Label6 {
	@include font-style-italic(true);
}
#cntProduction_Label7 {
	@include elemAutoHeight(30);
}
#cntProduction_Label7 {
	@include elemTop(239);
}
#cntProduction_Label7 {
	@include elemLeft(889);
}
#cntProduction_Label7 {
	@include elemAutoWidth(120);
}
#cntProduction_Label7 {
		z-index: 14;
}
#cntProduction_Label7 {
		border-style: none;
}
#cntProduction_Label7 {
	&:before{
		border-style: none;
	}
}
#cntProduction_Label7 {
	&:after{
		border-style: none;
	}
}
#cntProduction_Label7 {
	@include text-alignment-all('center top');
}
#cntProduction_Label7 {
		font-size: 13px;
}
#cntProduction_Label7 {
	@include font-style-italic(true);
}
#cntProduction_NumericOutput_TArget {
	@include elemTop(129);
}
#cntProduction_NumericOutput_TArget {
	@include elemLeft(230);
}
#cntProduction_NumericOutput_TArget {
	@include elemAutoWidth(120);
}
#cntProduction_NumericOutput_TArget {
	@include elemAutoHeight(50);
}
#cntProduction_NumericOutput_TArget {
		z-index: 15;
}
#cntProduction_NumericOutput_TArget {
	input{
	@include text-alignment(center);
	}
}
#cntProduction_FlyOut1 {
	&.right{
	@include elemTop(0);
	}
}
#cntProduction_FlyOut1 {
	&.left{
	@include elemTop(0);
	}
}
#cntProduction_FlyOut1 {
	&.top{
	@include elemLeft(0);
	}
}
#cntProduction_FlyOut1 {
	&.bottom{
	@include elemLeft(0);
	}
}
#cntProduction_FlyOut1_breaseFlyOutWrapper {
	.breaseFlyOutWrapper > .container{
	@include elemWidth(1890);
	}
}
#cntProduction_FlyOut1_breaseFlyOutWrapper {
	.breaseFlyOutWrapper > .container{
	@include elemHeight(540);
	}
}
#cntProduction_FlyOut1 {
		z-index: 2;
}
#cntProduction_FlyOut1_breaseFlyOutWrapper {
	.breaseFlyOutWrapper > .flyoutButton{
	@include elemHeight(75);
	}
}
#cntProduction_FlyOut1 {
	@include elemHeight(75);
}
#cntProduction_FlyOut1_breaseFlyOutWrapper {
	.breaseFlyOutWrapper > .flyoutButton{
	@include elemWidth(250);
	}
}
#cntProduction_FlyOut1 {
	@include elemWidth(250);
}
#cntProduction_FlyOut1_breaseFlyOutWrapper {
	.breaseFlyOutWrapper > .container{
		background-color: rgba(255, 255, 255, 0);
	}
}
#cntProduction_FlyOut1_breaseFlyOutWrapper {
	.breaseFlyOutWrapper > .container{
	@include backGroundGradient('linear-gradient(to bottom, rgba(255,255,255,1),rgba(229,229,229,1))');
	}
}
#cntProduction_FlyOut1_breaseFlyOutWrapper {
	.breaseFlyOutWrapper > .flyoutButton span{
		font-size: 20px;
	}
}
#cntProduction_FlyOut1_breaseFlyOutWrapper {
	.breaseFlyOutWrapper > .flyoutButton span{
	@include font-style-italic(false);
	}
}
#cntProduction_AuditList1 {
	@include elemTop(10);
}
#cntProduction_AuditList1 {
	@include elemLeft(10);
}
#cntProduction_AuditList1 {
	@include elemWidth(1660);
}
#cntProduction_AuditList1 {
	@include elemHeight(500);
}
#cntProduction_AuditList1 {
		z-index: 0;
}
#cntProduction_AuditList1 {
	&.breaseTableWidget .dataTable>tbody>tr.selected td{
		color: rgba(255, 69, 0, 1);
	}
}
#cntProduction_AuditList1 {
	&.breaseTableWidget .dataTable>tbody>tr>td{
		font-size: 20px;
	}
}
#cntProduction_AuditList1 {
	&.breaseTableWidget .devTableColumnWidget{
	@include font-style-italic(false);
	}
}
#cntProduction_AuditList1 {
	&.breaseTableWidget .tw_table table tbody tr td{
	@include font-weight-bold(false);
	}
}
#cntProduction_AuditListItem2 {
	@include elemWidth(1350);
}
#cntProduction_AuditListItem2 {
		z-index: 0;
}
#cntProduction_AuditListItem3 {
	@include elemWidth(320);
}
#cntProduction_AuditListItem3 {
		z-index: 1;
}
#cntProduction_PushButtonFilter {
	@include elemTop(50);
}
#cntProduction_PushButtonFilter {
	@include elemLeft(1680);
}
#cntProduction_PushButtonFilter {
	@include elemAutoWidth(160);
}
#cntProduction_PushButtonFilter {
	@include elemAutoHeight(153);
}
#cntProduction_PushButtonFilter {
		z-index: 1;
}
#cntProduction_PushButtonFilter {
	@include border-radius(8px);
}
#cntProduction_PushButton_Export {
	@include elemTop(350);
}
#cntProduction_PushButton_Export {
	@include elemLeft(1690);
}
#cntProduction_PushButton_Export {
	@include elemAutoWidth(160);
}
#cntProduction_PushButton_Export {
	@include elemAutoHeight(150);
}
#cntProduction_PushButton_Export {
		z-index: 2;
}
#cntProduction_PushButton_Export {
	@include border-radius(8px);
}
#cntProduction_GroupBox2 {
	@include elemTop(10);
}
#cntProduction_GroupBox2 {
	@include elemLeft(1390);
}
#cntProduction_GroupBox2 {
	@include elemWidth(450);
}
#cntProduction_GroupBox2 {
	@include elemHeight(880);
}
#cntProduction_GroupBox2 {
		z-index: 3;
}
#cntProduction_GroupBox2 {
	> .header{
	@include backGroundGradient('linear-gradient(to bottom, rgba(235,235,235,0.5) 0%, rgba(235,235,235,0.5) 100%)');
	}
}
#cntProduction_Label8 {
	@include elemTop(682);
}
#cntProduction_Label8 {
	@include elemLeft(-102);
}
#cntProduction_Label8 {
	@include elemAutoWidth(352);
}
#cntProduction_Label8 {
	@include elemAutoHeight(47);
}
#cntProduction_Label8 {
		z-index: 4;
}
#cntProduction_Label8 {
	& span{
		color: rgba(128, 128, 128, 1);
	}
}
#cntProduction_Label8 {
	@include text-alignment-all('center');
}
#cntProduction_Label8 {
	@include rotate(-90deg);
}
#cntProduction_Label8 {
		font-size: 30px;
}
#cntProduction_Label8 {
	@include font-weight-bold(true);
}
#cntProduction_FlexBox1 {
	@include elemTop(480);
}
#cntProduction_FlexBox1 {
	@include elemLeft(90);
}
#cntProduction_FlexBox1 {
	@include elemWidth(1280);
}
#cntProduction_FlexBox1 {
	@include elemHeight(490);
}
#cntProduction_FlexBox1 {
		z-index: 5;
}
#cntProduction_FlexBoxItem_Monday {
		z-index: 0;
}
#cntProduction_FlexBoxItem_Monday {
	@include border-radius(0px 0px 0px 0px);
}
#cntProduction_TextOutput_Monday {
	@include elemTop(206);
}
#cntProduction_TextOutput_Monday {
	@include elemLeft(-205);
}
#cntProduction_TextOutput_Monday {
	@include elemAutoWidth(456);
}
#cntProduction_TextOutput_Monday {
	@include elemAutoHeight(50);
}
#cntProduction_TextOutput_Monday {
		z-index: 0;
}
#cntProduction_DropDownBox1 {
	&.DropDownBoxView{
	@include elemHeight(30);
	}
}
#cntProduction_DropDownBox1 {
	@include elemTop(13);
}
#cntProduction_DropDownBox1 {
	@include elemLeft(718);
}
#cntProduction_DropDownBox1 {
	&.DropDownBoxView{
	@include elemWidth(172);
	}
}
#cntProduction_DropDownBox1 {
		z-index: 1;
}
#cntProduction_Table2 {
	@include elemTop(73);
}
#cntProduction_Table2 {
	@include elemLeft(110);
}
#cntProduction_Table2 {
	@include elemWidth(770);
}
#cntProduction_Table2 {
	@include elemHeight(87);
}
#cntProduction_Table2 {
		z-index: 2;
}
#cntProduction_Table2 {
	.tableCells tbody tr td:not(.override){
	@include text-position('center center');
	}
}
#cntProduction_Table2 {
	.tableCells tbody tr td:not(.override) > img{
	@include image-align('center center');
	}
}
#cntProduction_Table2 {
	.tableHeader > .headerElement:not(.override){
	@include flex-position('center center');
	}
}
#cntProduction_Table2 {
	.tableHeader > .headerElement:not(.override) > span{
	@include text-position('center center');
	}
}
#cntProduction_TableItem5 {
		z-index: 0;
}
#cntProduction_TableItem6 {
		z-index: 1;
}
#cntProduction_TableItem7 {
		z-index: 2;
}
#cntProduction_TableItem11 {
		z-index: 3;
}
#cntProduction_TableItem12 {
		z-index: 4;
}
#cntProduction_Table3 {
	@include elemTop(250);
}
#cntProduction_Table3 {
	@include elemLeft(110);
}
#cntProduction_Table3 {
	@include elemWidth(770);
}
#cntProduction_Table3 {
	@include elemHeight(160);
}
#cntProduction_Table3 {
		z-index: 3;
}
#cntProduction_TableItem8 {
		z-index: 0;
}
#cntProduction_TableItem9 {
		z-index: 1;
}
#cntProduction_TableItem10 {
		z-index: 2;
}
#cntProduction_TableItem13 {
		z-index: 3;
}
#cntProduction_FlexBoxItem_Tuesday {
		z-index: 1;
}
#cntProduction_FlexBoxItem_Tuesday {
	@include border-radius(0px 0px 0px 0px);
}
#cntProduction_TextOutput_Tuesday {
	@include elemTop(206);
}
#cntProduction_TextOutput_Tuesday {
	@include elemLeft(-197);
}
#cntProduction_TextOutput_Tuesday {
	@include elemAutoWidth(456);
}
#cntProduction_TextOutput_Tuesday {
	@include elemAutoHeight(50);
}
#cntProduction_TextOutput_Tuesday {
		z-index: 0;
}
#cntProduction_DropDownBox2 {
	&.DropDownBoxView{
	@include elemHeight(30);
	}
}
#cntProduction_DropDownBox2 {
	@include elemTop(23);
}
#cntProduction_DropDownBox2 {
	@include elemLeft(713);
}
#cntProduction_DropDownBox2 {
	&.DropDownBoxView{
	@include elemWidth(172);
	}
}
#cntProduction_DropDownBox2 {
		z-index: 1;
}
#cntProduction_Table4 {
	@include elemTop(83);
}
#cntProduction_Table4 {
	@include elemLeft(105);
}
#cntProduction_Table4 {
	@include elemWidth(770);
}
#cntProduction_Table4 {
	@include elemHeight(87);
}
#cntProduction_Table4 {
		z-index: 2;
}
#cntProduction_Table4 {
	.tableCells tbody tr td:not(.override){
	@include text-position('center center');
	}
}
#cntProduction_Table4 {
	.tableCells tbody tr td:not(.override) > img{
	@include image-align('center center');
	}
}
#cntProduction_Table4 {
	.tableHeader > .headerElement:not(.override){
	@include flex-position('center center');
	}
}
#cntProduction_Table4 {
	.tableHeader > .headerElement:not(.override) > span{
	@include text-position('center center');
	}
}
#cntProduction_TableItem14 {
		z-index: 0;
}
#cntProduction_TableItem15 {
		z-index: 1;
}
#cntProduction_TableItem16 {
		z-index: 2;
}
#cntProduction_TableItem17 {
		z-index: 3;
}
#cntProduction_TableItem18 {
		z-index: 4;
}
#cntProduction_Table5 {
	@include elemTop(260);
}
#cntProduction_Table5 {
	@include elemLeft(105);
}
#cntProduction_Table5 {
	@include elemWidth(770);
}
#cntProduction_Table5 {
	@include elemHeight(160);
}
#cntProduction_Table5 {
		z-index: 3;
}
#cntProduction_TableItem19 {
		z-index: 0;
}
#cntProduction_TableItem20 {
		z-index: 1;
}
#cntProduction_TableItem21 {
		z-index: 2;
}
#cntProduction_TableItem22 {
		z-index: 3;
}
#cntProduction_FlexBoxItem_Wednesday {
		z-index: 2;
}
#cntProduction_FlexBoxItem_Wednesday {
	@include border-radius(0px 0px 0px 0px);
}
#cntProduction_TextOutput_Wednesday {
	@include elemTop(206);
}
#cntProduction_TextOutput_Wednesday {
	@include elemLeft(-196);
}
#cntProduction_TextOutput_Wednesday {
	@include elemAutoWidth(456);
}
#cntProduction_TextOutput_Wednesday {
	@include elemAutoHeight(50);
}
#cntProduction_TextOutput_Wednesday {
		z-index: 0;
}
#cntProduction_DropDownBox3 {
	&.DropDownBoxView{
	@include elemHeight(30);
	}
}
#cntProduction_DropDownBox3 {
	@include elemTop(23);
}
#cntProduction_DropDownBox3 {
	@include elemLeft(721);
}
#cntProduction_DropDownBox3 {
	&.DropDownBoxView{
	@include elemWidth(172);
	}
}
#cntProduction_DropDownBox3 {
		z-index: 1;
}
#cntProduction_Table6 {
	@include elemTop(83);
}
#cntProduction_Table6 {
	@include elemLeft(113);
}
#cntProduction_Table6 {
	@include elemWidth(770);
}
#cntProduction_Table6 {
	@include elemHeight(87);
}
#cntProduction_Table6 {
		z-index: 2;
}
#cntProduction_Table6 {
	.tableCells tbody tr td:not(.override){
	@include text-position('center center');
	}
}
#cntProduction_Table6 {
	.tableCells tbody tr td:not(.override) > img{
	@include image-align('center center');
	}
}
#cntProduction_Table6 {
	.tableHeader > .headerElement:not(.override){
	@include flex-position('center center');
	}
}
#cntProduction_Table6 {
	.tableHeader > .headerElement:not(.override) > span{
	@include text-position('center center');
	}
}
#cntProduction_TableItem23 {
		z-index: 0;
}
#cntProduction_TableItem24 {
		z-index: 1;
}
#cntProduction_TableItem25 {
		z-index: 2;
}
#cntProduction_TableItem26 {
		z-index: 3;
}
#cntProduction_TableItem27 {
		z-index: 4;
}
#cntProduction_Table7 {
	@include elemTop(260);
}
#cntProduction_Table7 {
	@include elemLeft(113);
}
#cntProduction_Table7 {
	@include elemWidth(770);
}
#cntProduction_Table7 {
	@include elemHeight(160);
}
#cntProduction_Table7 {
		z-index: 3;
}
#cntProduction_TableItem28 {
		z-index: 0;
}
#cntProduction_TableItem29 {
		z-index: 1;
}
#cntProduction_TableItem30 {
		z-index: 2;
}
#cntProduction_TableItem31 {
		z-index: 3;
}
#cntProduction_FlexBoxItem_Thursday {
		z-index: 3;
}
#cntProduction_FlexBoxItem_Thursday {
	@include border-radius(0px 0px 0px 0px);
}
#cntProduction_TextOutput_Thursday {
	@include elemTop(206);
}
#cntProduction_TextOutput_Thursday {
	@include elemLeft(-194);
}
#cntProduction_TextOutput_Thursday {
	@include elemAutoWidth(456);
}
#cntProduction_TextOutput_Thursday {
	@include elemAutoHeight(51);
}
#cntProduction_TextOutput_Thursday {
		z-index: 0;
}
#cntProduction_DropDownBox4 {
	&.DropDownBoxView{
	@include elemHeight(30);
	}
}
#cntProduction_DropDownBox4 {
	@include elemTop(23);
}
#cntProduction_DropDownBox4 {
	@include elemLeft(719);
}
#cntProduction_DropDownBox4 {
	&.DropDownBoxView{
	@include elemWidth(172);
	}
}
#cntProduction_DropDownBox4 {
		z-index: 1;
}
#cntProduction_Table8 {
	@include elemTop(83);
}
#cntProduction_Table8 {
	@include elemLeft(111);
}
#cntProduction_Table8 {
	@include elemWidth(770);
}
#cntProduction_Table8 {
	@include elemHeight(87);
}
#cntProduction_Table8 {
		z-index: 2;
}
#cntProduction_Table8 {
	.tableCells tbody tr td:not(.override){
	@include text-position('center center');
	}
}
#cntProduction_Table8 {
	.tableCells tbody tr td:not(.override) > img{
	@include image-align('center center');
	}
}
#cntProduction_Table8 {
	.tableHeader > .headerElement:not(.override){
	@include flex-position('center center');
	}
}
#cntProduction_Table8 {
	.tableHeader > .headerElement:not(.override) > span{
	@include text-position('center center');
	}
}
#cntProduction_TableItem32 {
		z-index: 0;
}
#cntProduction_TableItem33 {
		z-index: 1;
}
#cntProduction_TableItem34 {
		z-index: 2;
}
#cntProduction_TableItem35 {
		z-index: 3;
}
#cntProduction_TableItem36 {
		z-index: 4;
}
#cntProduction_Table9 {
	@include elemTop(260);
}
#cntProduction_Table9 {
	@include elemLeft(111);
}
#cntProduction_Table9 {
	@include elemWidth(770);
}
#cntProduction_Table9 {
	@include elemHeight(160);
}
#cntProduction_Table9 {
		z-index: 3;
}
#cntProduction_TableItem37 {
		z-index: 0;
}
#cntProduction_TableItem38 {
		z-index: 1;
}
#cntProduction_TableItem39 {
		z-index: 2;
}
#cntProduction_TableItem40 {
		z-index: 3;
}
#cntProduction_FlexBoxItem_Friday {
		z-index: 4;
}
#cntProduction_FlexBoxItem_Friday {
	@include border-radius(0px 0px 0px 0px);
}
#cntProduction_TextOutput_Friday {
	@include elemTop(206);
}
#cntProduction_TextOutput_Friday {
	@include elemLeft(-195);
}
#cntProduction_TextOutput_Friday {
	@include elemAutoWidth(456);
}
#cntProduction_TextOutput_Friday {
	@include elemAutoHeight(50);
}
#cntProduction_TextOutput_Friday {
		z-index: 0;
}
#cntProduction_DropDownBox5 {
	&.DropDownBoxView{
	@include elemHeight(30);
	}
}
#cntProduction_DropDownBox5 {
	@include elemTop(23);
}
#cntProduction_DropDownBox5 {
	@include elemLeft(717);
}
#cntProduction_DropDownBox5 {
	&.DropDownBoxView{
	@include elemWidth(172);
	}
}
#cntProduction_DropDownBox5 {
		z-index: 1;
}
#cntProduction_Table10 {
	@include elemTop(83);
}
#cntProduction_Table10 {
	@include elemLeft(109);
}
#cntProduction_Table10 {
	@include elemWidth(770);
}
#cntProduction_Table10 {
	@include elemHeight(87);
}
#cntProduction_Table10 {
		z-index: 2;
}
#cntProduction_Table10 {
	.tableCells tbody tr td:not(.override){
	@include text-position('center center');
	}
}
#cntProduction_Table10 {
	.tableCells tbody tr td:not(.override) > img{
	@include image-align('center center');
	}
}
#cntProduction_Table10 {
	.tableHeader > .headerElement:not(.override){
	@include flex-position('center center');
	}
}
#cntProduction_Table10 {
	.tableHeader > .headerElement:not(.override) > span{
	@include text-position('center center');
	}
}
#cntProduction_TableItem41 {
		z-index: 0;
}
#cntProduction_TableItem42 {
		z-index: 1;
}
#cntProduction_TableItem43 {
		z-index: 2;
}
#cntProduction_TableItem44 {
		z-index: 3;
}
#cntProduction_TableItem45 {
		z-index: 4;
}
#cntProduction_Table11 {
	@include elemTop(260);
}
#cntProduction_Table11 {
	@include elemLeft(109);
}
#cntProduction_Table11 {
	@include elemWidth(770);
}
#cntProduction_Table11 {
	@include elemHeight(160);
}
#cntProduction_Table11 {
		z-index: 3;
}
#cntProduction_TableItem46 {
		z-index: 0;
}
#cntProduction_TableItem47 {
		z-index: 1;
}
#cntProduction_TableItem48 {
		z-index: 2;
}
#cntProduction_TableItem49 {
		z-index: 3;
}
#cntProduction_FlexBox_Saturday {
		z-index: 5;
}
#cntProduction_FlexBox_Saturday {
	@include border-radius(0px 0px 0px 0px);
}
#cntProduction_TextOutput_Saturday {
	@include elemTop(206);
}
#cntProduction_TextOutput_Saturday {
	@include elemLeft(-194);
}
#cntProduction_TextOutput_Saturday {
	@include elemAutoWidth(456);
}
#cntProduction_TextOutput_Saturday {
	@include elemAutoHeight(50);
}
#cntProduction_TextOutput_Saturday {
		z-index: 0;
}
#cntProduction_DropDownBox6 {
	&.DropDownBoxView{
	@include elemHeight(30);
	}
}
#cntProduction_DropDownBox6 {
	@include elemTop(13);
}
#cntProduction_DropDownBox6 {
	@include elemLeft(715);
}
#cntProduction_DropDownBox6 {
	&.DropDownBoxView{
	@include elemWidth(172);
	}
}
#cntProduction_DropDownBox6 {
		z-index: 1;
}
#cntProduction_Table12 {
	@include elemTop(73);
}
#cntProduction_Table12 {
	@include elemLeft(107);
}
#cntProduction_Table12 {
	@include elemWidth(770);
}
#cntProduction_Table12 {
	@include elemHeight(87);
}
#cntProduction_Table12 {
		z-index: 2;
}
#cntProduction_Table12 {
	.tableCells tbody tr td:not(.override){
	@include text-position('center center');
	}
}
#cntProduction_Table12 {
	.tableCells tbody tr td:not(.override) > img{
	@include image-align('center center');
	}
}
#cntProduction_Table12 {
	.tableHeader > .headerElement:not(.override){
	@include flex-position('center center');
	}
}
#cntProduction_Table12 {
	.tableHeader > .headerElement:not(.override) > span{
	@include text-position('center center');
	}
}
#cntProduction_TableItem50 {
		z-index: 0;
}
#cntProduction_TableItem51 {
		z-index: 1;
}
#cntProduction_TableItem52 {
		z-index: 2;
}
#cntProduction_TableItem53 {
		z-index: 3;
}
#cntProduction_TableItem54 {
		z-index: 4;
}
#cntProduction_Table13 {
	@include elemTop(250);
}
#cntProduction_Table13 {
	@include elemLeft(107);
}
#cntProduction_Table13 {
	@include elemWidth(770);
}
#cntProduction_Table13 {
	@include elemHeight(160);
}
#cntProduction_Table13 {
		z-index: 3;
}
#cntProduction_TableItem55 {
		z-index: 0;
}
#cntProduction_TableItem56 {
		z-index: 1;
}
#cntProduction_TableItem57 {
		z-index: 2;
}
#cntProduction_TableItem58 {
		z-index: 3;
}
#cntProduction_FlexBoxItem_Sunday {
		z-index: 6;
}
#cntProduction_FlexBoxItem_Sunday {
	@include border-radius(0px 0px 0px 0px);
}
#cntProduction_TextOutput_Sunday {
	@include elemTop(207);
}
#cntProduction_TextOutput_Sunday {
	@include elemLeft(-192);
}
#cntProduction_TextOutput_Sunday {
	@include elemAutoWidth(456);
}
#cntProduction_TextOutput_Sunday {
	@include elemAutoHeight(50);
}
#cntProduction_TextOutput_Sunday {
		z-index: 0;
}
#cntProduction_DropDownBox7 {
	&.DropDownBoxView{
	@include elemHeight(30);
	}
}
#cntProduction_DropDownBox7 {
	@include elemTop(13);
}
#cntProduction_DropDownBox7 {
	@include elemLeft(722);
}
#cntProduction_DropDownBox7 {
	&.DropDownBoxView{
	@include elemWidth(172);
	}
}
#cntProduction_DropDownBox7 {
		z-index: 1;
}
#cntProduction_Table14 {
	@include elemTop(73);
}
#cntProduction_Table14 {
	@include elemLeft(114);
}
#cntProduction_Table14 {
	@include elemWidth(770);
}
#cntProduction_Table14 {
	@include elemHeight(87);
}
#cntProduction_Table14 {
		z-index: 2;
}
#cntProduction_Table14 {
	.tableCells tbody tr td:not(.override){
	@include text-position('center center');
	}
}
#cntProduction_Table14 {
	.tableCells tbody tr td:not(.override) > img{
	@include image-align('center center');
	}
}
#cntProduction_Table14 {
	.tableHeader > .headerElement:not(.override){
	@include flex-position('center center');
	}
}
#cntProduction_Table14 {
	.tableHeader > .headerElement:not(.override) > span{
	@include text-position('center center');
	}
}
#cntProduction_TableItem59 {
		z-index: 0;
}
#cntProduction_TableItem60 {
		z-index: 1;
}
#cntProduction_TableItem61 {
		z-index: 2;
}
#cntProduction_TableItem62 {
		z-index: 3;
}
#cntProduction_TableItem63 {
		z-index: 4;
}
#cntProduction_Table15 {
	@include elemTop(250);
}
#cntProduction_Table15 {
	@include elemLeft(114);
}
#cntProduction_Table15 {
	@include elemWidth(770);
}
#cntProduction_Table15 {
	@include elemHeight(160);
}
#cntProduction_Table15 {
		z-index: 3;
}
#cntProduction_TableItem64 {
		z-index: 0;
}
#cntProduction_TableItem65 {
		z-index: 1;
}
#cntProduction_TableItem66 {
		z-index: 2;
}
#cntProduction_TableItem67 {
		z-index: 3;
}
#cntProduction_Label3 {
	@include elemTop(225);
}
#cntProduction_Label3 {
	@include elemLeft(-155);
}
#cntProduction_Label3 {
	@include elemAutoWidth(452);
}
#cntProduction_Label3 {
	@include elemAutoHeight(41);
}
#cntProduction_Label3 {
		z-index: 1;
}
#cntProduction_Label3 {
	& span{
		color: rgba(128, 128, 128, 1);
	}
}
#cntProduction_Label3 {
	@include text-alignment-all('center');
}
#cntProduction_Label3 {
	@include rotate(-90deg);
}
#cntProduction_Label3 {
		font-size: 30px;
}
#cntProduction_Label3 {
	@include font-weight-bold(true);
}
