#cntProduction_GroupBox1 {
  top: 10px;
  position: absolute;
}

#cntProduction_GroupBox1 {
  left: 90px;
  position: absolute;
}

#cntProduction_GroupBox1 {
  width: 1279px;
}

#cntProduction_GroupBox1 {
  height: 460px;
}

#cntProduction_GroupBox1 {
  z-index: 0;
}

#cntProduction_GroupBox1 {
  border-width: 1px;
}

#cntProduction_GroupBox1 > .header {
  border-width: 1px;
}

#cntProduction_Label1 {
  top: 59px;
  position: absolute;
}

#cntProduction_Label1 {
  left: 40px;
  position: absolute;
}

#cntProduction_Label1 {
  width: 311px;
}

#cntProduction_Label1 {
  height: 50px;
}

#cntProduction_Label1 {
  z-index: 0;
}

#cntProduction_NumericOutput_Total {
  top: 59px;
  position: absolute;
}

#cntProduction_NumericOutput_Total {
  left: 230px;
  position: absolute;
}

#cntProduction_NumericOutput_Total {
  width: 120px;
}

#cntProduction_NumericOutput_Total {
  height: 50px;
}

#cntProduction_NumericOutput_Total {
  z-index: 2;
}

#cntProduction_NumericOutput_Total input {
  justify-content: center;
  text-align: center;
}

#cntProduction_Label2 {
  top: 129px;
  position: absolute;
}

#cntProduction_Label2 {
  left: 40px;
  position: absolute;
}

#cntProduction_Label2 {
  width: 311px;
}

#cntProduction_Label2 {
  height: 51px;
}

#cntProduction_Label2 {
  z-index: 1;
}

#cntProduction_DateTimeOutput1 {
  top: 0px;
  position: absolute;
}

#cntProduction_DateTimeOutput1 {
  left: -1px;
  position: absolute;
}

#cntProduction_DateTimeOutput1 {
  width: 591px;
}

#cntProduction_DateTimeOutput1 {
  height: 40px;
}

#cntProduction_DateTimeOutput1 {
  z-index: 3;
}

#cntProduction_DateTimeOutput1 {
  padding: 0px;
}

#cntProduction_DateTimeOutput2 {
  top: -1px;
  position: absolute;
}

#cntProduction_DateTimeOutput2 {
  left: 590px;
  position: absolute;
}

#cntProduction_DateTimeOutput2 {
  width: 290px;
}

#cntProduction_DateTimeOutput2 {
  height: 41px;
}

#cntProduction_DateTimeOutput2 {
  z-index: 4;
}

#cntProduction_TextOutput1 {
  top: -1px;
  position: absolute;
}

#cntProduction_TextOutput1 {
  left: 879px;
  position: absolute;
}

#cntProduction_TextOutput1 {
  width: 341px;
}

#cntProduction_TextOutput1 {
  height: 42px;
}

#cntProduction_TextOutput1 {
  z-index: 7;
}

#cntProduction_TextOutput1 {
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntProduction_Label4 {
  top: 59px;
  position: absolute;
}

#cntProduction_Label4 {
  left: 710px;
  position: absolute;
}

#cntProduction_Label4 {
  width: 441px;
}

#cntProduction_Label4 {
  height: 71px;
}

#cntProduction_Label4 {
  z-index: 5;
}

#cntProduction_Label4 {
  border-width: 2px 2px 0px;
}

#cntProduction_Label5 {
  top: 119px;
  position: absolute;
}

#cntProduction_Label5 {
  left: 710px;
  position: absolute;
}

#cntProduction_Label5 {
  width: 441px;
}

#cntProduction_Label5 {
  height: 70px;
}

#cntProduction_Label5 {
  z-index: 6;
}

#cntProduction_Label5 {
  border-width: 0px 2px 2px;
}

#cntProduction_NumericOutput_Total1 {
  top: 49px;
  position: absolute;
}

#cntProduction_NumericOutput_Total1 {
  left: 1010px;
  position: absolute;
}

#cntProduction_NumericOutput_Total1 {
  width: 141px;
}

#cntProduction_NumericOutput_Total1 {
  height: 50px;
}

#cntProduction_NumericOutput_Total1 {
  z-index: 8;
}

#cntProduction_NumericOutput_Total1 input {
  justify-content: center;
  text-align: center;
}

#cntProduction_NumericOutput_Total2 {
  top: 129px;
  position: absolute;
}

#cntProduction_NumericOutput_Total2 {
  left: 1010px;
  position: absolute;
}

#cntProduction_NumericOutput_Total2 {
  width: 141px;
}

#cntProduction_NumericOutput_Total2 {
  height: 50px;
}

#cntProduction_NumericOutput_Total2 {
  z-index: 9;
}

#cntProduction_NumericOutput_Total2 input {
  color: red;
}

#cntProduction_NumericOutput_Total2 span.breaseNumericOutput_unit {
  color: red;
}

#cntProduction_NumericOutput_Total2 input {
  justify-content: center;
  text-align: center;
}

#cntProduction_Table1 {
  top: 299px;
  position: absolute;
}

#cntProduction_Table1 {
  left: 119px;
  position: absolute;
}

#cntProduction_Table1 {
  width: 901px;
}

#cntProduction_Table1 {
  height: 130px;
}

#cntProduction_Table1 {
  z-index: 10;
}

#cntProduction_Table1 .tableCells tbody tr td:not(.override) {
  border-width: 1px 1px 1px 1px;
}

#cntProduction_Table1 .dataTables_scrollBody.horizontalOrientation .tableCells tbody tr:first-child td:not(.override) {
  border-width: 1px 1px 1px 1px;
}

#cntProduction_Table1 .dataTables_scrollBody.verticalOrientation .tableCells tbody tr td:first-child:not(.override) {
  border-width: 1px 1px 1px 1px;
}

#cntProduction_Table1 .tableHeader div:not(.override) {
  border-width: 1px 1px 1px 1px;
}

#cntProduction_Table1 .dataTables_scrollHead div {
  border-width: 1px 1px 1px 1px;
}

#cntProduction_Table1 .dataTables_scrollHead.verticalOrientation .tableHeader div:first-child:not(.override) {
  border-width: 1px 1px 1px 1px;
}

#cntProduction_Table1 .dataTables_scrollHead.verticalOrientation .tableHeader div:not(.override) {
  border-width: 1px 1px 1px 1px;
}

#cntProduction_Table1 .dataTables_scrollHead.horizontalOrientation .tableHeader div:first-child:not(.override) {
  border-width: 1px 1px 1px 1px;
}

#cntProduction_Table1 .dataTables_scrollHead.horizontalOrientation .tableHeader div:not(.override) {
  border-width: 1px 1px 1px 1px;
}

#cntProduction_TableItem1 {
  z-index: 0;
}

#cntProduction_TableItem2 {
  z-index: 1;
}

#cntProduction_TableItem3 {
  z-index: 2;
}

#cntProduction_TableItem4 {
  z-index: 3;
}

#cntProduction_ProgressBar1 {
  top: 209px;
  position: absolute;
}

#cntProduction_ProgressBar1 {
  left: 700px;
  position: absolute;
}

#cntProduction_ProgressBar1 {
  width: 481px;
}

#cntProduction_ProgressBar1 {
  height: 34px;
}

#cntProduction_ProgressBar1 {
  z-index: 11;
}

#cntProduction_ProgressBar1 .pb-progress {
  background-color: forestgreen;
}

#cntProduction_ProgressBar1 .pb-label-text {
  font-weight: bold;
}

#cntProduction_LinearGauge1 {
  top: 199px;
  position: absolute;
}

#cntProduction_LinearGauge1 {
  left: 0px;
  position: absolute;
}

#cntProduction_LinearGauge1 {
  width: 410px;
}

#cntProduction_LinearGauge1 {
  height: 61px;
}

#cntProduction_LinearGauge1 {
  z-index: 12;
}

#cntProduction_LinearGauge1 .scaleArea1 {
  fill: darkred;
}

#cntProduction_LinearGauge1 .scaleArea2 {
  fill: red;
}

#cntProduction_LinearGauge1 .scaleArea3 {
  fill: gold;
}

#cntProduction_LinearGauge1 .scaleArea4 {
  fill: greenyellow;
}

#cntProduction_LinearGauge1 .scaleArea5 {
  fill: green;
}

#cntProduction_Label6 {
  top: 239px;
  position: absolute;
}

#cntProduction_Label6 {
  left: 149px;
  position: absolute;
}

#cntProduction_Label6 {
  width: 120px;
}

#cntProduction_Label6 {
  height: 31px;
}

#cntProduction_Label6 {
  z-index: 13;
}

#cntProduction_Label6 {
  border-style: none;
}

#cntProduction_Label6:before {
  border-style: none;
}

#cntProduction_Label6:after {
  border-style: none;
}

#cntProduction_Label6 {
  justify-content: center;
  text-align: center;
  -webkit-box-align: start;
  -moz-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

#cntProduction_Label6 {
  font-size: 13px;
}

#cntProduction_Label6 {
  font-style: italic;
}

#cntProduction_Label7 {
  height: 30px;
}

#cntProduction_Label7 {
  top: 239px;
  position: absolute;
}

#cntProduction_Label7 {
  left: 889px;
  position: absolute;
}

#cntProduction_Label7 {
  width: 120px;
}

#cntProduction_Label7 {
  z-index: 14;
}

#cntProduction_Label7 {
  border-style: none;
}

#cntProduction_Label7:before {
  border-style: none;
}

#cntProduction_Label7:after {
  border-style: none;
}

#cntProduction_Label7 {
  justify-content: center;
  text-align: center;
  -webkit-box-align: start;
  -moz-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

#cntProduction_Label7 {
  font-size: 13px;
}

#cntProduction_Label7 {
  font-style: italic;
}

#cntProduction_NumericOutput_TArget {
  top: 129px;
  position: absolute;
}

#cntProduction_NumericOutput_TArget {
  left: 230px;
  position: absolute;
}

#cntProduction_NumericOutput_TArget {
  width: 120px;
}

#cntProduction_NumericOutput_TArget {
  height: 50px;
}

#cntProduction_NumericOutput_TArget {
  z-index: 15;
}

#cntProduction_NumericOutput_TArget input {
  justify-content: center;
  text-align: center;
}

#cntProduction_FlyOut1.right {
  top: 0px;
  position: absolute;
}

#cntProduction_FlyOut1.left {
  top: 0px;
  position: absolute;
}

#cntProduction_FlyOut1.top {
  left: 0px;
  position: absolute;
}

#cntProduction_FlyOut1.bottom {
  left: 0px;
  position: absolute;
}

#cntProduction_FlyOut1_breaseFlyOutWrapper .breaseFlyOutWrapper > .container {
  width: 1890px;
}

#cntProduction_FlyOut1_breaseFlyOutWrapper .breaseFlyOutWrapper > .container {
  height: 540px;
}

#cntProduction_FlyOut1 {
  z-index: 2;
}

#cntProduction_FlyOut1_breaseFlyOutWrapper .breaseFlyOutWrapper > .flyoutButton {
  height: 75px;
}

#cntProduction_FlyOut1 {
  height: 75px;
}

#cntProduction_FlyOut1_breaseFlyOutWrapper .breaseFlyOutWrapper > .flyoutButton {
  width: 250px;
}

#cntProduction_FlyOut1 {
  width: 250px;
}

#cntProduction_FlyOut1_breaseFlyOutWrapper .breaseFlyOutWrapper > .container {
  background-color: rgba(255, 255, 255, 0);
}

#cntProduction_FlyOut1_breaseFlyOutWrapper .breaseFlyOutWrapper > .container {
  background-image: linear-gradient(to bottom, rgba(255,255,255,1),rgba(229,229,229,1));
}

#cntProduction_FlyOut1_breaseFlyOutWrapper .breaseFlyOutWrapper > .flyoutButton span {
  font-size: 20px;
}

#cntProduction_FlyOut1_breaseFlyOutWrapper .breaseFlyOutWrapper > .flyoutButton span {
  font-style: normal;
}

#cntProduction_AuditList1 {
  top: 10px;
  position: absolute;
}

#cntProduction_AuditList1 {
  left: 10px;
  position: absolute;
}

#cntProduction_AuditList1 {
  width: 1660px;
}

#cntProduction_AuditList1 {
  height: 500px;
}

#cntProduction_AuditList1 {
  z-index: 0;
}

#cntProduction_AuditList1.breaseTableWidget .dataTable > tbody > tr.selected td {
  color: orangered;
}

#cntProduction_AuditList1.breaseTableWidget .dataTable > tbody > tr > td {
  font-size: 20px;
}

#cntProduction_AuditList1.breaseTableWidget .devTableColumnWidget {
  font-style: normal;
}

#cntProduction_AuditList1.breaseTableWidget .tw_table table tbody tr td {
  font-weight: normal;
}

#cntProduction_AuditListItem2 {
  width: 1350px;
}

#cntProduction_AuditListItem2 {
  z-index: 0;
}

#cntProduction_AuditListItem3 {
  width: 320px;
}

#cntProduction_AuditListItem3 {
  z-index: 1;
}

#cntProduction_PushButtonFilter {
  top: 50px;
  position: absolute;
}

#cntProduction_PushButtonFilter {
  left: 1680px;
  position: absolute;
}

#cntProduction_PushButtonFilter {
  width: 160px;
}

#cntProduction_PushButtonFilter {
  height: 153px;
}

#cntProduction_PushButtonFilter {
  z-index: 1;
}

#cntProduction_PushButtonFilter {
  border-radius: 8px;
}

#cntProduction_PushButton_Export {
  top: 350px;
  position: absolute;
}

#cntProduction_PushButton_Export {
  left: 1690px;
  position: absolute;
}

#cntProduction_PushButton_Export {
  width: 160px;
}

#cntProduction_PushButton_Export {
  height: 150px;
}

#cntProduction_PushButton_Export {
  z-index: 2;
}

#cntProduction_PushButton_Export {
  border-radius: 8px;
}

#cntProduction_GroupBox2 {
  top: 10px;
  position: absolute;
}

#cntProduction_GroupBox2 {
  left: 1390px;
  position: absolute;
}

#cntProduction_GroupBox2 {
  width: 450px;
}

#cntProduction_GroupBox2 {
  height: 880px;
}

#cntProduction_GroupBox2 {
  z-index: 3;
}

#cntProduction_GroupBox2 > .header {
  background-image: linear-gradient(to bottom, rgba(235,235,235,0.5) 0%, rgba(235,235,235,0.5) 100%);
}

#cntProduction_Label8 {
  top: 682px;
  position: absolute;
}

#cntProduction_Label8 {
  left: -102px;
  position: absolute;
}

#cntProduction_Label8 {
  width: 352px;
}

#cntProduction_Label8 {
  height: 47px;
}

#cntProduction_Label8 {
  z-index: 4;
}

#cntProduction_Label8 span {
  color: gray;
}

#cntProduction_Label8 {
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntProduction_Label8 {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

#cntProduction_Label8 {
  font-size: 30px;
}

#cntProduction_Label8 {
  font-weight: bold;
}

#cntProduction_FlexBox1 {
  top: 480px;
  position: absolute;
}

#cntProduction_FlexBox1 {
  left: 90px;
  position: absolute;
}

#cntProduction_FlexBox1 {
  width: 1280px;
}

#cntProduction_FlexBox1 {
  height: 490px;
}

#cntProduction_FlexBox1 {
  z-index: 5;
}

#cntProduction_FlexBoxItem_Monday {
  z-index: 0;
}

#cntProduction_FlexBoxItem_Monday {
  border-radius: 0px 0px 0px 0px;
}

#cntProduction_TextOutput_Monday {
  top: 206px;
  position: absolute;
}

#cntProduction_TextOutput_Monday {
  left: -205px;
  position: absolute;
}

#cntProduction_TextOutput_Monday {
  width: 456px;
}

#cntProduction_TextOutput_Monday {
  height: 50px;
}

#cntProduction_TextOutput_Monday {
  z-index: 0;
}

#cntProduction_DropDownBox1.DropDownBoxView {
  height: 30px;
}

#cntProduction_DropDownBox1 {
  top: 13px;
  position: absolute;
}

#cntProduction_DropDownBox1 {
  left: 718px;
  position: absolute;
}

#cntProduction_DropDownBox1.DropDownBoxView {
  width: 172px;
}

#cntProduction_DropDownBox1 {
  z-index: 1;
}

#cntProduction_Table2 {
  top: 73px;
  position: absolute;
}

#cntProduction_Table2 {
  left: 110px;
  position: absolute;
}

#cntProduction_Table2 {
  width: 770px;
}

#cntProduction_Table2 {
  height: 87px;
}

#cntProduction_Table2 {
  z-index: 2;
}

#cntProduction_Table2 .tableCells tbody tr td:not(.override) {
  vertical-align: middle;
  text-align: center;
}

#cntProduction_Table2 .tableHeader > .headerElement:not(.override) {
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntProduction_Table2 .tableHeader > .headerElement:not(.override) > span {
  vertical-align: middle;
  text-align: center;
}

#cntProduction_TableItem5 {
  z-index: 0;
}

#cntProduction_TableItem6 {
  z-index: 1;
}

#cntProduction_TableItem7 {
  z-index: 2;
}

#cntProduction_TableItem11 {
  z-index: 3;
}

#cntProduction_TableItem12 {
  z-index: 4;
}

#cntProduction_Table3 {
  top: 250px;
  position: absolute;
}

#cntProduction_Table3 {
  left: 110px;
  position: absolute;
}

#cntProduction_Table3 {
  width: 770px;
}

#cntProduction_Table3 {
  height: 160px;
}

#cntProduction_Table3 {
  z-index: 3;
}

#cntProduction_TableItem8 {
  z-index: 0;
}

#cntProduction_TableItem9 {
  z-index: 1;
}

#cntProduction_TableItem10 {
  z-index: 2;
}

#cntProduction_TableItem13 {
  z-index: 3;
}

#cntProduction_FlexBoxItem_Tuesday {
  z-index: 1;
}

#cntProduction_FlexBoxItem_Tuesday {
  border-radius: 0px 0px 0px 0px;
}

#cntProduction_TextOutput_Tuesday {
  top: 206px;
  position: absolute;
}

#cntProduction_TextOutput_Tuesday {
  left: -197px;
  position: absolute;
}

#cntProduction_TextOutput_Tuesday {
  width: 456px;
}

#cntProduction_TextOutput_Tuesday {
  height: 50px;
}

#cntProduction_TextOutput_Tuesday {
  z-index: 0;
}

#cntProduction_DropDownBox2.DropDownBoxView {
  height: 30px;
}

#cntProduction_DropDownBox2 {
  top: 23px;
  position: absolute;
}

#cntProduction_DropDownBox2 {
  left: 713px;
  position: absolute;
}

#cntProduction_DropDownBox2.DropDownBoxView {
  width: 172px;
}

#cntProduction_DropDownBox2 {
  z-index: 1;
}

#cntProduction_Table4 {
  top: 83px;
  position: absolute;
}

#cntProduction_Table4 {
  left: 105px;
  position: absolute;
}

#cntProduction_Table4 {
  width: 770px;
}

#cntProduction_Table4 {
  height: 87px;
}

#cntProduction_Table4 {
  z-index: 2;
}

#cntProduction_Table4 .tableCells tbody tr td:not(.override) {
  vertical-align: middle;
  text-align: center;
}

#cntProduction_Table4 .tableHeader > .headerElement:not(.override) {
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntProduction_Table4 .tableHeader > .headerElement:not(.override) > span {
  vertical-align: middle;
  text-align: center;
}

#cntProduction_TableItem14 {
  z-index: 0;
}

#cntProduction_TableItem15 {
  z-index: 1;
}

#cntProduction_TableItem16 {
  z-index: 2;
}

#cntProduction_TableItem17 {
  z-index: 3;
}

#cntProduction_TableItem18 {
  z-index: 4;
}

#cntProduction_Table5 {
  top: 260px;
  position: absolute;
}

#cntProduction_Table5 {
  left: 105px;
  position: absolute;
}

#cntProduction_Table5 {
  width: 770px;
}

#cntProduction_Table5 {
  height: 160px;
}

#cntProduction_Table5 {
  z-index: 3;
}

#cntProduction_TableItem19 {
  z-index: 0;
}

#cntProduction_TableItem20 {
  z-index: 1;
}

#cntProduction_TableItem21 {
  z-index: 2;
}

#cntProduction_TableItem22 {
  z-index: 3;
}

#cntProduction_FlexBoxItem_Wednesday {
  z-index: 2;
}

#cntProduction_FlexBoxItem_Wednesday {
  border-radius: 0px 0px 0px 0px;
}

#cntProduction_TextOutput_Wednesday {
  top: 206px;
  position: absolute;
}

#cntProduction_TextOutput_Wednesday {
  left: -196px;
  position: absolute;
}

#cntProduction_TextOutput_Wednesday {
  width: 456px;
}

#cntProduction_TextOutput_Wednesday {
  height: 50px;
}

#cntProduction_TextOutput_Wednesday {
  z-index: 0;
}

#cntProduction_DropDownBox3.DropDownBoxView {
  height: 30px;
}

#cntProduction_DropDownBox3 {
  top: 23px;
  position: absolute;
}

#cntProduction_DropDownBox3 {
  left: 721px;
  position: absolute;
}

#cntProduction_DropDownBox3.DropDownBoxView {
  width: 172px;
}

#cntProduction_DropDownBox3 {
  z-index: 1;
}

#cntProduction_Table6 {
  top: 83px;
  position: absolute;
}

#cntProduction_Table6 {
  left: 113px;
  position: absolute;
}

#cntProduction_Table6 {
  width: 770px;
}

#cntProduction_Table6 {
  height: 87px;
}

#cntProduction_Table6 {
  z-index: 2;
}

#cntProduction_Table6 .tableCells tbody tr td:not(.override) {
  vertical-align: middle;
  text-align: center;
}

#cntProduction_Table6 .tableHeader > .headerElement:not(.override) {
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntProduction_Table6 .tableHeader > .headerElement:not(.override) > span {
  vertical-align: middle;
  text-align: center;
}

#cntProduction_TableItem23 {
  z-index: 0;
}

#cntProduction_TableItem24 {
  z-index: 1;
}

#cntProduction_TableItem25 {
  z-index: 2;
}

#cntProduction_TableItem26 {
  z-index: 3;
}

#cntProduction_TableItem27 {
  z-index: 4;
}

#cntProduction_Table7 {
  top: 260px;
  position: absolute;
}

#cntProduction_Table7 {
  left: 113px;
  position: absolute;
}

#cntProduction_Table7 {
  width: 770px;
}

#cntProduction_Table7 {
  height: 160px;
}

#cntProduction_Table7 {
  z-index: 3;
}

#cntProduction_TableItem28 {
  z-index: 0;
}

#cntProduction_TableItem29 {
  z-index: 1;
}

#cntProduction_TableItem30 {
  z-index: 2;
}

#cntProduction_TableItem31 {
  z-index: 3;
}

#cntProduction_FlexBoxItem_Thursday {
  z-index: 3;
}

#cntProduction_FlexBoxItem_Thursday {
  border-radius: 0px 0px 0px 0px;
}

#cntProduction_TextOutput_Thursday {
  top: 206px;
  position: absolute;
}

#cntProduction_TextOutput_Thursday {
  left: -194px;
  position: absolute;
}

#cntProduction_TextOutput_Thursday {
  width: 456px;
}

#cntProduction_TextOutput_Thursday {
  height: 51px;
}

#cntProduction_TextOutput_Thursday {
  z-index: 0;
}

#cntProduction_DropDownBox4.DropDownBoxView {
  height: 30px;
}

#cntProduction_DropDownBox4 {
  top: 23px;
  position: absolute;
}

#cntProduction_DropDownBox4 {
  left: 719px;
  position: absolute;
}

#cntProduction_DropDownBox4.DropDownBoxView {
  width: 172px;
}

#cntProduction_DropDownBox4 {
  z-index: 1;
}

#cntProduction_Table8 {
  top: 83px;
  position: absolute;
}

#cntProduction_Table8 {
  left: 111px;
  position: absolute;
}

#cntProduction_Table8 {
  width: 770px;
}

#cntProduction_Table8 {
  height: 87px;
}

#cntProduction_Table8 {
  z-index: 2;
}

#cntProduction_Table8 .tableCells tbody tr td:not(.override) {
  vertical-align: middle;
  text-align: center;
}

#cntProduction_Table8 .tableHeader > .headerElement:not(.override) {
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntProduction_Table8 .tableHeader > .headerElement:not(.override) > span {
  vertical-align: middle;
  text-align: center;
}

#cntProduction_TableItem32 {
  z-index: 0;
}

#cntProduction_TableItem33 {
  z-index: 1;
}

#cntProduction_TableItem34 {
  z-index: 2;
}

#cntProduction_TableItem35 {
  z-index: 3;
}

#cntProduction_TableItem36 {
  z-index: 4;
}

#cntProduction_Table9 {
  top: 260px;
  position: absolute;
}

#cntProduction_Table9 {
  left: 111px;
  position: absolute;
}

#cntProduction_Table9 {
  width: 770px;
}

#cntProduction_Table9 {
  height: 160px;
}

#cntProduction_Table9 {
  z-index: 3;
}

#cntProduction_TableItem37 {
  z-index: 0;
}

#cntProduction_TableItem38 {
  z-index: 1;
}

#cntProduction_TableItem39 {
  z-index: 2;
}

#cntProduction_TableItem40 {
  z-index: 3;
}

#cntProduction_FlexBoxItem_Friday {
  z-index: 4;
}

#cntProduction_FlexBoxItem_Friday {
  border-radius: 0px 0px 0px 0px;
}

#cntProduction_TextOutput_Friday {
  top: 206px;
  position: absolute;
}

#cntProduction_TextOutput_Friday {
  left: -195px;
  position: absolute;
}

#cntProduction_TextOutput_Friday {
  width: 456px;
}

#cntProduction_TextOutput_Friday {
  height: 50px;
}

#cntProduction_TextOutput_Friday {
  z-index: 0;
}

#cntProduction_DropDownBox5.DropDownBoxView {
  height: 30px;
}

#cntProduction_DropDownBox5 {
  top: 23px;
  position: absolute;
}

#cntProduction_DropDownBox5 {
  left: 717px;
  position: absolute;
}

#cntProduction_DropDownBox5.DropDownBoxView {
  width: 172px;
}

#cntProduction_DropDownBox5 {
  z-index: 1;
}

#cntProduction_Table10 {
  top: 83px;
  position: absolute;
}

#cntProduction_Table10 {
  left: 109px;
  position: absolute;
}

#cntProduction_Table10 {
  width: 770px;
}

#cntProduction_Table10 {
  height: 87px;
}

#cntProduction_Table10 {
  z-index: 2;
}

#cntProduction_Table10 .tableCells tbody tr td:not(.override) {
  vertical-align: middle;
  text-align: center;
}

#cntProduction_Table10 .tableHeader > .headerElement:not(.override) {
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntProduction_Table10 .tableHeader > .headerElement:not(.override) > span {
  vertical-align: middle;
  text-align: center;
}

#cntProduction_TableItem41 {
  z-index: 0;
}

#cntProduction_TableItem42 {
  z-index: 1;
}

#cntProduction_TableItem43 {
  z-index: 2;
}

#cntProduction_TableItem44 {
  z-index: 3;
}

#cntProduction_TableItem45 {
  z-index: 4;
}

#cntProduction_Table11 {
  top: 260px;
  position: absolute;
}

#cntProduction_Table11 {
  left: 109px;
  position: absolute;
}

#cntProduction_Table11 {
  width: 770px;
}

#cntProduction_Table11 {
  height: 160px;
}

#cntProduction_Table11 {
  z-index: 3;
}

#cntProduction_TableItem46 {
  z-index: 0;
}

#cntProduction_TableItem47 {
  z-index: 1;
}

#cntProduction_TableItem48 {
  z-index: 2;
}

#cntProduction_TableItem49 {
  z-index: 3;
}

#cntProduction_FlexBox_Saturday {
  z-index: 5;
}

#cntProduction_FlexBox_Saturday {
  border-radius: 0px 0px 0px 0px;
}

#cntProduction_TextOutput_Saturday {
  top: 206px;
  position: absolute;
}

#cntProduction_TextOutput_Saturday {
  left: -194px;
  position: absolute;
}

#cntProduction_TextOutput_Saturday {
  width: 456px;
}

#cntProduction_TextOutput_Saturday {
  height: 50px;
}

#cntProduction_TextOutput_Saturday {
  z-index: 0;
}

#cntProduction_DropDownBox6.DropDownBoxView {
  height: 30px;
}

#cntProduction_DropDownBox6 {
  top: 13px;
  position: absolute;
}

#cntProduction_DropDownBox6 {
  left: 715px;
  position: absolute;
}

#cntProduction_DropDownBox6.DropDownBoxView {
  width: 172px;
}

#cntProduction_DropDownBox6 {
  z-index: 1;
}

#cntProduction_Table12 {
  top: 73px;
  position: absolute;
}

#cntProduction_Table12 {
  left: 107px;
  position: absolute;
}

#cntProduction_Table12 {
  width: 770px;
}

#cntProduction_Table12 {
  height: 87px;
}

#cntProduction_Table12 {
  z-index: 2;
}

#cntProduction_Table12 .tableCells tbody tr td:not(.override) {
  vertical-align: middle;
  text-align: center;
}

#cntProduction_Table12 .tableHeader > .headerElement:not(.override) {
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntProduction_Table12 .tableHeader > .headerElement:not(.override) > span {
  vertical-align: middle;
  text-align: center;
}

#cntProduction_TableItem50 {
  z-index: 0;
}

#cntProduction_TableItem51 {
  z-index: 1;
}

#cntProduction_TableItem52 {
  z-index: 2;
}

#cntProduction_TableItem53 {
  z-index: 3;
}

#cntProduction_TableItem54 {
  z-index: 4;
}

#cntProduction_Table13 {
  top: 250px;
  position: absolute;
}

#cntProduction_Table13 {
  left: 107px;
  position: absolute;
}

#cntProduction_Table13 {
  width: 770px;
}

#cntProduction_Table13 {
  height: 160px;
}

#cntProduction_Table13 {
  z-index: 3;
}

#cntProduction_TableItem55 {
  z-index: 0;
}

#cntProduction_TableItem56 {
  z-index: 1;
}

#cntProduction_TableItem57 {
  z-index: 2;
}

#cntProduction_TableItem58 {
  z-index: 3;
}

#cntProduction_FlexBoxItem_Sunday {
  z-index: 6;
}

#cntProduction_FlexBoxItem_Sunday {
  border-radius: 0px 0px 0px 0px;
}

#cntProduction_TextOutput_Sunday {
  top: 207px;
  position: absolute;
}

#cntProduction_TextOutput_Sunday {
  left: -192px;
  position: absolute;
}

#cntProduction_TextOutput_Sunday {
  width: 456px;
}

#cntProduction_TextOutput_Sunday {
  height: 50px;
}

#cntProduction_TextOutput_Sunday {
  z-index: 0;
}

#cntProduction_DropDownBox7.DropDownBoxView {
  height: 30px;
}

#cntProduction_DropDownBox7 {
  top: 13px;
  position: absolute;
}

#cntProduction_DropDownBox7 {
  left: 722px;
  position: absolute;
}

#cntProduction_DropDownBox7.DropDownBoxView {
  width: 172px;
}

#cntProduction_DropDownBox7 {
  z-index: 1;
}

#cntProduction_Table14 {
  top: 73px;
  position: absolute;
}

#cntProduction_Table14 {
  left: 114px;
  position: absolute;
}

#cntProduction_Table14 {
  width: 770px;
}

#cntProduction_Table14 {
  height: 87px;
}

#cntProduction_Table14 {
  z-index: 2;
}

#cntProduction_Table14 .tableCells tbody tr td:not(.override) {
  vertical-align: middle;
  text-align: center;
}

#cntProduction_Table14 .tableHeader > .headerElement:not(.override) {
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntProduction_Table14 .tableHeader > .headerElement:not(.override) > span {
  vertical-align: middle;
  text-align: center;
}

#cntProduction_TableItem59 {
  z-index: 0;
}

#cntProduction_TableItem60 {
  z-index: 1;
}

#cntProduction_TableItem61 {
  z-index: 2;
}

#cntProduction_TableItem62 {
  z-index: 3;
}

#cntProduction_TableItem63 {
  z-index: 4;
}

#cntProduction_Table15 {
  top: 250px;
  position: absolute;
}

#cntProduction_Table15 {
  left: 114px;
  position: absolute;
}

#cntProduction_Table15 {
  width: 770px;
}

#cntProduction_Table15 {
  height: 160px;
}

#cntProduction_Table15 {
  z-index: 3;
}

#cntProduction_TableItem64 {
  z-index: 0;
}

#cntProduction_TableItem65 {
  z-index: 1;
}

#cntProduction_TableItem66 {
  z-index: 2;
}

#cntProduction_TableItem67 {
  z-index: 3;
}

#cntProduction_Label3 {
  top: 225px;
  position: absolute;
}

#cntProduction_Label3 {
  left: -155px;
  position: absolute;
}

#cntProduction_Label3 {
  width: 452px;
}

#cntProduction_Label3 {
  height: 41px;
}

#cntProduction_Label3 {
  z-index: 1;
}

#cntProduction_Label3 span {
  color: gray;
}

#cntProduction_Label3 {
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntProduction_Label3 {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

#cntProduction_Label3 {
  font-size: 30px;
}

#cntProduction_Label3 {
  font-weight: bold;
}
