@import "mixins.scss";
@mixin widgets_brease_TextInput_base {
	@include elemWidth(100);
	@include elemHeight(30);
&:not(.disabled) {
	border-width: 2px 6px 2px 2px;
}
&.active {
	border-width: 2px 6px 2px 2px;
}
&.disabled {
	border-width: 2px 6px 2px 2px;
}
	@include border-radius(2px);
&:not(.disabled):not(.active) {
	background-color: #F7F7FF;
}
&.disabled {
	background-color: #F1F1F1;
}
&:not(.disabled) {
	@include backGroundGradient('');
}
&.disabled {
	@include backGroundGradient('');
}
&:not(.disabled):not(.active) {
	border-color: #555555;
}
&.disabled {
	border-color: #C8C8C8;
}
	border-style: solid;
&:not(.disabled):not(.active) input {
	color: #333333;
}
input::placeholder {
	color: #C8C8C8;
}
input::-webkit-input-placeholder {
	color: #C8C8C8;
}
&.disabled input {
	color: #C8C8C8;
}
&.disabled span.breaseNumericInput_unit {
	color: #C8C8C8;
}
&:not(.disabled).active {
	border-color: #FF8800;
}
&:not(.disabled).active {
	background-color: #F7F7FF;
}
&:not(.disabled).active input {
	color: #333333;
}
input {
	@include text-alignment(right);
}
	opacity: 1;
input {
	font-family: Arial;
}
input {
	font-size: 21px;
}
input {
	@include font-weight-bold(false);
}
	@include rotate(0deg);
input {
	@include font-style-italic(false);
}
	@include box-shadow(none);
	padding: 0 15px 0 15px;
	margin: 0px;

}

