@import "mixins.scss";
@mixin widgets_brease_FlexBoxItem_base {
	border-width: 1px;
> .header {
	border-width: 1px;
}
	@include border-radius(0px);
	background-color: transparent;
> .header {
	background-color: transparent;
}
> .header {
	@include backGroundGradient('');
}
> .container {
	@include backGroundGradient('');
}
	border-color: #DFDFDF;
> .header {
	border-color: #DFDFDF;
}
	border-style: solid;
> .header {
	border-bottom-style: solid;
}
> .header span {
	color: #000000;
}
> .header > svg {
	fill: #000000;
}
> .header > img {
	@include imageWidth(0);
}
> .header > svg {
	@include imageWidth(0);
}
> .header > img {
	@include imageHeight(0);
}
> .header > svg {
	@include imageHeight(0);
}
> .header span {
	font-family: Arial;
}
> .header span {
	font-size: 12px;
}
> .header {
	height: 12px + 20px;
}
> .header span {
	@include font-weight-bold(true);
}
> .header span {
	@include font-style-italic(false);
}
> .header {
	@include text-alignment(center);
}
	opacity: 1;
	@include box-shadow(none);
> .container {
	padding: 0px;
}
	margin: 5px 0px 5px 0px;
	@include elemFlexBasis(0);

}

