div[data-brease-dialogId='DialogUserUIConnectError'] .breaseDialogWindowHeader .imageDiv {
  background-image: url("../Media/SymbolLib/Alarm/Error.svg");
}

div[data-brease-dialogId='DialogUserUIConnectError'] .breaseDialogWindowHeader .textDiv {
  font-weight: bold;
}

div[data-brease-dialogId='DialogUserUIConnectError'] .breaseDialogWindowHeader .textDiv {
  font-size: 25px;
}

div[data-brease-dialogId='DialogUserUIConnectError'] .breaseWindowClose {
  display: none;
}
