﻿@import "mixins.scss";
#cntAlarm_FlexBox2 {
	@include elemTop(0);
}
#cntAlarm_FlexBox2 {
	@include elemLeft(0);
}
#cntAlarm_FlexBox2 {
	@include elemWidth(1920);
}
#cntAlarm_FlexBox2 {
	@include elemHeight(980);
}
#cntAlarm_FlexBox2 {
		z-index: 0;
}
#cntAlarm_FlexBox2 {
		border-width: 0px;
}
#cntAlarm_FlexBox2 {
	> .header{
		border-width: 0px;
	}
}
#cntAlarm_FlexBox2 {
	> .container{
		padding: 0px;
	}
}
#cntAlarm_FlexBoxItem16 {
		z-index: 0;
}
#cntAlarm_FlexBoxItem16 {
		background-color: rgba(255, 255, 255, 1);
}
#cntAlarm_FlexBoxItem16 {
		border-style: none;
}
#cntAlarm_FlexBoxItem16 {
	> .header{
		border-bottom-style: none;
	}
}
#cntAlarm_TextOutput16 {
	@include elemTop(-5);
}
#cntAlarm_TextOutput16 {
	@include elemLeft(0);
}
#cntAlarm_TextOutput16 {
	@include elemAutoWidth(1900);
}
#cntAlarm_TextOutput16 {
	@include elemAutoHeight(70);
}
#cntAlarm_TextOutput16 {
		z-index: 0;
}
#cntAlarm_TextOutput16 {
		border-width: 0px;
}
#cntAlarm_TextOutput16 {
		background-color: rgba(255, 255, 255, 0);
}
#cntAlarm_TextOutput16 {
		border-color: rgba(255, 255, 255, 0);
}
#cntAlarm_TextOutput16 {
	&:before{
		border-color: rgba(255, 255, 255, 0);
	}
}
#cntAlarm_TextOutput16 {
	&:after{
		border-color: rgba(255, 255, 255, 0);
	}
}
#cntAlarm_TextOutput16 {
		border-style: none;
}
#cntAlarm_TextOutput16 {
	&:before{
		border-style: none;
	}
}
#cntAlarm_TextOutput16 {
	&:after{
		border-style: none;
	}
}
#cntAlarm_TextOutput16 {
	@include text-alignment-all('left');
}
#cntAlarm_TextOutput16 {
	@include rotate(0deg);
}
#cntAlarm_TextOutput16 {
		font-size: 45px;
}
#cntAlarm_TextOutput16 {
	@include font-weight-bold(true);
}
#cntAlarm_TextOutput16 {
	span{
	@include text-decoration-underline(false);
	}
}
#cntAlarm_TabControl1 {
	@include elemTop(90);
}
#cntAlarm_TabControl1 {
	@include elemLeft(14);
}
#cntAlarm_TabControl1 {
	@include elemWidth(1862);
}
#cntAlarm_TabControl1 {
	@include elemHeight(705);
}
#cntAlarm_TabControl1 {
		z-index: 1;
}
#cntAlarm_TabControl1 {
	> .tabItemContainer{
		border-style: none;
	}
}
#cntAlarm_TabItem_CrrntAlrm_breaseTabItemTab {
	&.tabItem{
	@include elemWidth(930);
	}
}
#cntAlarm_TabItem_CrrntAlrm_breaseTabItemTab {
	&.tabItem{
	@include elemHeight(100);
	}
}
#cntAlarm_TabItem_CrrntAlrm {
		z-index: 0;
}
#cntAlarm_TabItem_CrrntAlrm_breaseTabItemTab {
	&.tabItem.active{
		background-color: rgba(255, 255, 255, 1);
	}
}
#cntAlarm_TabItem_CrrntAlrm_breaseTabItemTab {
	&.tabItem{
		opacity: 1;
	}
}
#cntAlarm_AlarmList2 {
	@include elemTop(0);
}
#cntAlarm_AlarmList2 {
	@include elemLeft(0);
}
#cntAlarm_AlarmList2 {
	@include elemWidth(1860);
}
#cntAlarm_AlarmList2 {
	@include elemHeight(450);
}
#cntAlarm_AlarmList2 {
		z-index: 0;
}
#cntAlarm_AlarmListItem_Time {
	@include elemWidth(320);
}
#cntAlarm_AlarmListItem_Time {
		z-index: 0;
}
#cntAlarm_AlarmListItem_Name {
	@include elemWidth(345);
}
#cntAlarm_AlarmListItem_Name {
		z-index: 1;
}
#cntAlarm_AlarmListItem_Messge {
	@include elemWidth(465);
}
#cntAlarm_AlarmListItem_Messge {
		z-index: 2;
}
#cntAlarm_AlarmListItem_Code {
	@include elemWidth(195);
}
#cntAlarm_AlarmListItem_Code {
		z-index: 3;
}
#cntAlarm_AlarmListItem_State {
	@include elemWidth(285);
}
#cntAlarm_AlarmListItem_State {
		z-index: 4;
}
#cntAlarm_AdditionalInformation {
	@include elemTop(464);
}
#cntAlarm_AdditionalInformation {
	@include elemLeft(150);
}
#cntAlarm_AdditionalInformation {
	@include elemAutoWidth(240);
}
#cntAlarm_AdditionalInformation {
	@include elemAutoHeight(122);
}
#cntAlarm_AdditionalInformation {
		z-index: 1;
}
#cntAlarm_AdditionalInformation {
	img{
	@include imageHeight(55);
	}
}
#cntAlarm_AdditionalInformation {
	svg{
	@include imageHeight(55);
	}
}
#cntAlarm_AdditionalInformation {
	img{
	@include imageWidth(55);
	}
}
#cntAlarm_AdditionalInformation {
	svg{
	@include imageWidth(55);
	}
}
#cntAlarm_AdditionalInformation {
	span{
		font-size: 15px;
	}
}
#cntAlarm_AdditionalInformation {
	&:not(.active):not(.checked){
	@include box-shadow(0px 0px rgba(62, 79, 92, 0.75));
	}
}
#cntAlarm_AdditionalInformation {
	&.disabled.active{
	@include box-shadow(0px 0px rgba(62, 79, 92, 0.75));
	}
}
#cntAlarm_AdditionalInformation {
	&.disabled.checked{
	@include box-shadow(0px 0px rgba(62, 79, 92, 0.75));
	}
}
#cntAlarm_Push_AlrmRst {
	@include elemTop(464);
}
#cntAlarm_Push_AlrmRst {
	@include elemLeft(1305);
}
#cntAlarm_Push_AlrmRst {
	@include elemAutoWidth(240);
}
#cntAlarm_Push_AlrmRst {
	@include elemAutoHeight(122);
}
#cntAlarm_Push_AlrmRst {
		z-index: 2;
}
#cntAlarm_Push_AlrmRst {
	img{
	@include imageHeight(55);
	}
}
#cntAlarm_Push_AlrmRst {
	svg{
	@include imageHeight(55);
	}
}
#cntAlarm_Push_AlrmRst {
	img{
	@include imageWidth(55);
	}
}
#cntAlarm_Push_AlrmRst {
	svg{
	@include imageWidth(55);
	}
}
#cntAlarm_Push_AlrmRst {
	@include text-alignment(center);
}
#cntAlarm_Push_AlrmRst {
	&:not(.active):not(.checked){
	@include box-shadow(0px 0px rgba(62, 79, 92, 0.75));
	}
}
#cntAlarm_Push_AlrmRst {
	&.disabled.active{
	@include box-shadow(0px 0px rgba(62, 79, 92, 0.75));
	}
}
#cntAlarm_Push_AlrmRst {
	&.disabled.checked{
	@include box-shadow(0px 0px rgba(62, 79, 92, 0.75));
	}
}
#cntAlarm_TabItemAlrmHist_breaseTabItemTab {
	&.tabItem{
	@include elemWidth(930);
	}
}
#cntAlarm_TabItemAlrmHist_breaseTabItemTab {
	&.tabItem{
	@include elemHeight(100);
	}
}
#cntAlarm_TabItemAlrmHist {
		z-index: 1;
}
#cntAlarm_AlarmHistory1 {
	@include elemTop(0);
}
#cntAlarm_AlarmHistory1 {
	@include elemLeft(0);
}
#cntAlarm_AlarmHistory1 {
	@include elemWidth(1860);
}
#cntAlarm_AlarmHistory1 {
	@include elemHeight(450);
}
#cntAlarm_AlarmHistory1 {
		z-index: 0;
}
#cntAlarm_AlarmHistory1 {
	&.breaseTableWidget{
		background-color: rgba(255, 255, 255, 0);
	}
}
#cntAlarm_AlarmHistory1 {
	&.breaseTableWidget .devTableColumnWidget{
	@include font-style-italic(true);
	}
}
#cntAlarm_AlarmHistoryItem_Time {
	@include elemWidth(300);
}
#cntAlarm_AlarmHistoryItem_Time {
		z-index: 0;
}
#cntAlarm_AlarmHistoryItem_Name {
	@include elemWidth(315);
}
#cntAlarm_AlarmHistoryItem_Name {
		z-index: 1;
}
#cntAlarm_AlarmHistoryItem_message {
	@include elemWidth(450);
}
#cntAlarm_AlarmHistoryItem_message {
		z-index: 2;
}
#cntAlarm_AlarmHistoryItem_OldState {
	@include elemWidth(225);
}
#cntAlarm_AlarmHistoryItem_OldState {
		z-index: 3;
}
#cntAlarm_AlarmHistoryItem_NewState {
	@include elemWidth(135);
}
#cntAlarm_AlarmHistoryItem_NewState {
		z-index: 4;
}
#cntAlarm_AlarmHistoryItem1 {
	@include elemWidth(200);
}
#cntAlarm_AlarmHistoryItem1 {
		z-index: 5;
}
#cntAlarm_MpAlarmXHistoryExport {
	@include elemTop(469);
}
#cntAlarm_MpAlarmXHistoryExport {
	@include elemLeft(750);
}
#cntAlarm_MpAlarmXHistoryExport {
	@include elemAutoWidth(240);
}
#cntAlarm_MpAlarmXHistoryExport {
	@include elemAutoHeight(122);
}
#cntAlarm_MpAlarmXHistoryExport {
		z-index: 1;
}
#cntAlarm_MpAlarmXHistoryExport {
	&:not(.active):not(.checked){
	@include box-shadow(0px 0px rgba(62, 79, 92, 0.75));
	}
}
#cntAlarm_MpAlarmXHistoryExport {
	&.disabled.active{
	@include box-shadow(0px 0px rgba(62, 79, 92, 0.75));
	}
}
#cntAlarm_MpAlarmXHistoryExport {
	&.disabled.checked{
	@include box-shadow(0px 0px rgba(62, 79, 92, 0.75));
	}
}
#cntAlarm_FlexBoxItem17 {
		z-index: 1;
}
#cntAlarm_FlexBox1 {
	@include elemTop(-14);
}
#cntAlarm_FlexBox1 {
	@include elemLeft(0);
}
#cntAlarm_FlexBox1 {
	@include elemWidth(1905);
}
#cntAlarm_FlexBox1 {
	@include elemHeight(884);
}
#cntAlarm_FlexBox1 {
		z-index: 0;
}
#cntAlarm_FlexBox1 {
		border-width: 0px;
}
#cntAlarm_FlexBox1 {
	> .header{
		border-width: 0px;
	}
}
#cntAlarm_FlexBox1 {
		background-color: rgba(255, 255, 255, 0);
}
#cntAlarm_FlexBox1 {
		border-style: none;
}
#cntAlarm_FlexBox1 {
	> .header{
		border-bottom-style: none;
	}
}
#cntAlarm_FlexBoxItem1 {
		z-index: 0;
}
#cntAlarm_FlexBoxItem1 {
	> .container{
	@include backGroundGradient('linear-gradient(to bottom, #ffffff 0%,#dcdcdc 30%)');
	}
}
#cntAlarm_TextOutput1 {
	@include elemTop(485);
}
#cntAlarm_TextOutput1 {
	@include elemLeft(-460);
}
#cntAlarm_TextOutput1 {
	@include elemAutoWidth(980);
}
#cntAlarm_TextOutput1 {
	@include elemAutoHeight(55);
}
#cntAlarm_TextOutput1 {
		z-index: 0;
}
#cntAlarm_TextOutput1 {
		border-width: 0px;
}
#cntAlarm_TextOutput1 {
	@include text-alignment-all('right');
}
#cntAlarm_TextOutput1 {
	@include rotate(-90deg);
}
#cntAlarm_TextOutput1 {
	@include font-weight-bold(true);
}
#cntAlarm_TextOutput1 {
	span{
	@include text-decoration-underline(false);
	}
}
#cntAlarm_AlarmList1 {
	@include elemTop(60);
}
#cntAlarm_AlarmList1 {
	@include elemLeft(140);
}
#cntAlarm_AlarmList1 {
	@include elemWidth(800);
}
#cntAlarm_AlarmList1 {
	@include elemHeight(670);
}
#cntAlarm_AlarmList1 {
		z-index: 1;
}
#cntAlarm_FlexBoxItem2 {
		z-index: 1;
}
#cntAlarm_FlexBoxItem2 {
		background-color: rgba(255, 255, 255, 0);
}
#cntAlarm_FlexBoxItem2 {
	> .container{
	@include backGroundGradient('linear-gradient(to bottom, #ffffff 0%,#dcdcdc 35%)');
	}
}
#cntAlarm_TextOutput2 {
	@include elemTop(485);
}
#cntAlarm_TextOutput2 {
	@include elemLeft(-460);
}
#cntAlarm_TextOutput2 {
	@include elemAutoWidth(980);
}
#cntAlarm_TextOutput2 {
	@include elemAutoHeight(55);
}
#cntAlarm_TextOutput2 {
		z-index: 0;
}
#cntAlarm_TextOutput2 {
	@include text-alignment-all('right');
}
#cntAlarm_TextOutput2 {
	@include rotate(-90deg);
}
#cntAlarm_TextOutput2 {
	@include font-weight-bold(true);
}
#cntAlarm_TextOutput2 {
	span{
	@include text-decoration-underline(false);
	}
}
#cntAlarm_FlexBoxItem3 {
		z-index: 2;
}
#cntAlarm_FlexBoxItem3 {
		background-color: rgba(255, 255, 255, 0);
}
#cntAlarm_FlexBoxItem3 {
	> .container{
	@include backGroundGradient('linear-gradient(to bottom, #ffffff 0%,#dcdcdc 40%)');
	}
}
#cntAlarm_TextOutput3 {
	@include elemTop(480);
}
#cntAlarm_TextOutput3 {
	@include elemLeft(-450);
}
#cntAlarm_TextOutput3 {
	@include elemAutoWidth(980);
}
#cntAlarm_TextOutput3 {
	@include elemAutoHeight(55);
}
#cntAlarm_TextOutput3 {
		z-index: 0;
}
#cntAlarm_TextOutput3 {
	@include text-alignment-all('right');
}
#cntAlarm_TextOutput3 {
	@include rotate(-90deg);
}
#cntAlarm_TextOutput3 {
	@include font-weight-bold(true);
}
#cntAlarm_TextOutput3 {
	span{
	@include text-decoration-underline(false);
	}
}
#cntAlarm_FlexBoxItem4 {
		z-index: 3;
}
#cntAlarm_FlexBoxItem4 {
		background-color: rgba(255, 255, 255, 0);
}
#cntAlarm_FlexBoxItem4 {
	> .container{
	@include backGroundGradient('linear-gradient(to bottom, #ffffff 0%,#dcdcdc 45%)');
	}
}
#cntAlarm_TextOutput4 {
	@include elemTop(480);
}
#cntAlarm_TextOutput4 {
	@include elemLeft(-456);
}
#cntAlarm_TextOutput4 {
	@include elemAutoWidth(980);
}
#cntAlarm_TextOutput4 {
	@include elemAutoHeight(55);
}
#cntAlarm_TextOutput4 {
		z-index: 0;
}
#cntAlarm_TextOutput4 {
	@include text-alignment-all('right');
}
#cntAlarm_TextOutput4 {
	@include rotate(-90deg);
}
#cntAlarm_TextOutput4 {
	@include font-weight-bold(true);
}
#cntAlarm_TextOutput4 {
	span{
	@include text-decoration-underline(false);
	}
}
#cntAlarm_FlexBoxItem5 {
		z-index: 4;
}
#cntAlarm_FlexBoxItem5 {
		background-color: rgba(255, 255, 255, 0);
}
#cntAlarm_FlexBoxItem5 {
	> .container{
	@include backGroundGradient('linear-gradient(to bottom, #ffffff 0%,#dcdcdc 50%)');
	}
}
#cntAlarm_TextOutput5 {
	@include elemTop(485);
}
#cntAlarm_TextOutput5 {
	@include elemLeft(-460);
}
#cntAlarm_TextOutput5 {
	@include elemAutoWidth(980);
}
#cntAlarm_TextOutput5 {
	@include elemAutoHeight(55);
}
#cntAlarm_TextOutput5 {
		z-index: 0;
}
#cntAlarm_TextOutput5 {
	@include text-alignment-all('right');
}
#cntAlarm_TextOutput5 {
	@include rotate(-90deg);
}
#cntAlarm_TextOutput5 {
	@include font-weight-bold(true);
}
#cntAlarm_TextOutput5 {
	span{
	@include text-decoration-underline(false);
	}
}
#cntAlarm_FlexBoxItem6 {
		z-index: 5;
}
#cntAlarm_FlexBoxItem6 {
		background-color: rgba(255, 255, 255, 0);
}
#cntAlarm_FlexBoxItem6 {
	> .container{
	@include backGroundGradient('linear-gradient(to bottom, #ffffff 0%,#dcdcdc 55%)');
	}
}
#cntAlarm_TextOutput6 {
	@include elemTop(485);
}
#cntAlarm_TextOutput6 {
	@include elemLeft(-460);
}
#cntAlarm_TextOutput6 {
	@include elemAutoWidth(980);
}
#cntAlarm_TextOutput6 {
	@include elemAutoHeight(55);
}
#cntAlarm_TextOutput6 {
		z-index: 0;
}
#cntAlarm_TextOutput6 {
	@include text-alignment-all('right');
}
#cntAlarm_TextOutput6 {
	@include rotate(-90deg);
}
#cntAlarm_TextOutput6 {
	@include font-weight-bold(true);
}
#cntAlarm_TextOutput6 {
	span{
	@include text-decoration-underline(false);
	}
}
#cntAlarm_FlexBoxItem7 {
		z-index: 6;
}
#cntAlarm_FlexBoxItem7 {
		background-color: rgba(255, 255, 255, 0);
}
#cntAlarm_FlexBoxItem7 {
	> .container{
	@include backGroundGradient('linear-gradient(to bottom, #ffffff 0%,#dcdcdc 60%)');
	}
}
#cntAlarm_TextOutput7 {
	@include elemTop(490);
}
#cntAlarm_TextOutput7 {
	@include elemLeft(-467);
}
#cntAlarm_TextOutput7 {
	@include elemAutoWidth(997);
}
#cntAlarm_TextOutput7 {
	@include elemAutoHeight(57);
}
#cntAlarm_TextOutput7 {
		z-index: 0;
}
#cntAlarm_TextOutput7 {
	@include text-alignment-all('right');
}
#cntAlarm_TextOutput7 {
	@include rotate(-90deg);
}
#cntAlarm_TextOutput7 {
	@include font-weight-bold(true);
}
#cntAlarm_TextOutput7 {
	span{
	@include text-decoration-underline(false);
	}
}
#cntAlarm_FlexBoxItem8 {
		z-index: 7;
}
#cntAlarm_FlexBoxItem8 {
		background-color: rgba(255, 255, 255, 0);
}
#cntAlarm_FlexBoxItem8 {
	> .container{
	@include backGroundGradient('linear-gradient(to bottom, #ffffff 0%,#dcdcdc 65%)');
	}
}
#cntAlarm_TextOutput8 {
	@include elemTop(485);
}
#cntAlarm_TextOutput8 {
	@include elemLeft(-460);
}
#cntAlarm_TextOutput8 {
	@include elemAutoWidth(980);
}
#cntAlarm_TextOutput8 {
	@include elemAutoHeight(55);
}
#cntAlarm_TextOutput8 {
		z-index: 0;
}
#cntAlarm_TextOutput8 {
	@include text-alignment-all('right');
}
#cntAlarm_TextOutput8 {
	@include rotate(-90deg);
}
#cntAlarm_TextOutput8 {
	@include font-weight-bold(true);
}
#cntAlarm_TextOutput8 {
	span{
	@include text-decoration-underline(false);
	}
}
#cntAlarm_FlexBoxItem9 {
		z-index: 8;
}
#cntAlarm_FlexBoxItem9 {
		background-color: rgba(255, 255, 255, 0);
}
#cntAlarm_FlexBoxItem9 {
	> .container{
	@include backGroundGradient('linear-gradient(to bottom, #ffffff 0%,#dcdcdc 70%)');
	}
}
#cntAlarm_TextOutput9 {
	@include elemTop(485);
}
#cntAlarm_TextOutput9 {
	@include elemLeft(-460);
}
#cntAlarm_TextOutput9 {
	@include elemAutoWidth(980);
}
#cntAlarm_TextOutput9 {
	@include elemAutoHeight(55);
}
#cntAlarm_TextOutput9 {
		z-index: 0;
}
#cntAlarm_TextOutput9 {
	@include text-alignment-all('right');
}
#cntAlarm_TextOutput9 {
	@include rotate(-90deg);
}
#cntAlarm_TextOutput9 {
	@include font-weight-bold(true);
}
#cntAlarm_TextOutput9 {
	span{
	@include text-decoration-underline(false);
	}
}
#cntAlarm_FlexBoxItem10 {
		z-index: 9;
}
#cntAlarm_FlexBoxItem10 {
		background-color: rgba(255, 255, 255, 0);
}
#cntAlarm_FlexBoxItem10 {
	> .container{
	@include backGroundGradient('linear-gradient(to bottom, #ffffff 0%,#dcdcdc 75%)');
	}
}
#cntAlarm_TextOutput10 {
	@include elemTop(485);
}
#cntAlarm_TextOutput10 {
	@include elemLeft(-460);
}
#cntAlarm_TextOutput10 {
	@include elemAutoWidth(980);
}
#cntAlarm_TextOutput10 {
	@include elemAutoHeight(55);
}
#cntAlarm_TextOutput10 {
		z-index: 0;
}
#cntAlarm_TextOutput10 {
	@include text-alignment-all('right');
}
#cntAlarm_TextOutput10 {
	@include rotate(-90deg);
}
#cntAlarm_TextOutput10 {
	@include font-weight-bold(true);
}
#cntAlarm_TextOutput10 {
	span{
	@include text-decoration-underline(false);
	}
}
#cntAlarm_FlexBoxItem11 {
		z-index: 10;
}
#cntAlarm_FlexBoxItem11 {
		background-color: rgba(255, 255, 255, 0);
}
#cntAlarm_FlexBoxItem11 {
	> .container{
	@include backGroundGradient('linear-gradient(to bottom, #ffffff 0%,#dcdcdc 80%)');
	}
}
#cntAlarm_TextOutput11 {
	@include elemTop(479);
}
#cntAlarm_TextOutput11 {
	@include elemLeft(-469);
}
#cntAlarm_TextOutput11 {
	@include elemAutoWidth(980);
}
#cntAlarm_TextOutput11 {
	@include elemAutoHeight(55);
}
#cntAlarm_TextOutput11 {
		z-index: 0;
}
#cntAlarm_TextOutput11 {
	@include text-alignment-all('right');
}
#cntAlarm_TextOutput11 {
	@include rotate(-90deg);
}
#cntAlarm_TextOutput11 {
	@include font-weight-bold(true);
}
#cntAlarm_TextOutput11 {
	span{
	@include text-decoration-underline(false);
	}
}
#cntAlarm_FlexBoxItem12 {
		z-index: 11;
}
#cntAlarm_FlexBoxItem12 {
		background-color: rgba(255, 255, 255, 0);
}
#cntAlarm_FlexBoxItem12 {
	> .container{
	@include backGroundGradient('linear-gradient(to bottom, #ffffff 0%,#dcdcdc 85%)');
	}
}
#cntAlarm_TextOutput12 {
	@include elemTop(479);
}
#cntAlarm_TextOutput12 {
	@include elemLeft(-454);
}
#cntAlarm_TextOutput12 {
	@include elemAutoWidth(980);
}
#cntAlarm_TextOutput12 {
	@include elemAutoHeight(55);
}
#cntAlarm_TextOutput12 {
		z-index: 0;
}
#cntAlarm_TextOutput12 {
	@include text-alignment-all('right');
}
#cntAlarm_TextOutput12 {
	@include rotate(-90deg);
}
#cntAlarm_TextOutput12 {
	@include font-weight-bold(true);
}
#cntAlarm_TextOutput12 {
	span{
	@include text-decoration-underline(false);
	}
}
#cntAlarm_FlexBoxItem13 {
		z-index: 12;
}
#cntAlarm_FlexBoxItem13 {
		background-color: rgba(255, 255, 255, 0);
}
#cntAlarm_FlexBoxItem13 {
	> .container{
	@include backGroundGradient('linear-gradient(to bottom, #ffffff 0%,#dcdcdc 90%)');
	}
}
#cntAlarm_TextOutput13 {
	@include elemTop(485);
}
#cntAlarm_TextOutput13 {
	@include elemLeft(-460);
}
#cntAlarm_TextOutput13 {
	@include elemAutoWidth(980);
}
#cntAlarm_TextOutput13 {
	@include elemAutoHeight(55);
}
#cntAlarm_TextOutput13 {
		z-index: 0;
}
#cntAlarm_TextOutput13 {
	@include text-alignment-all('right');
}
#cntAlarm_TextOutput13 {
	@include rotate(-90deg);
}
#cntAlarm_TextOutput13 {
	@include font-weight-bold(true);
}
#cntAlarm_TextOutput13 {
	span{
	@include text-decoration-underline(false);
	}
}
#cntAlarm_FlexBoxItem14 {
		z-index: 13;
}
#cntAlarm_FlexBoxItem14 {
		border-width: 0px 0px 0px 0px;
}
#cntAlarm_FlexBoxItem14 {
	> .header{
		border-width: 0px 0px 0px 0px;
	}
}
#cntAlarm_FlexBoxItem14 {
		background-color: rgba(255, 255, 255, 0);
}
#cntAlarm_FlexBoxItem14 {
	> .container{
	@include backGroundGradient('linear-gradient(to bottom, #ffffff 0%,#dcdcdc 95%)');
	}
}
#cntAlarm_FlexBoxItem14 {
		border-color: transparent;
}
#cntAlarm_FlexBoxItem14 {
	> .header{
		border-color: transparent;
	}
}
#cntAlarm_TextOutput14 {
	@include elemTop(485);
}
#cntAlarm_TextOutput14 {
	@include elemLeft(-460);
}
#cntAlarm_TextOutput14 {
	@include elemAutoWidth(980);
}
#cntAlarm_TextOutput14 {
	@include elemAutoHeight(55);
}
#cntAlarm_TextOutput14 {
		z-index: 0;
}
#cntAlarm_TextOutput14 {
	@include text-alignment-all('right');
}
#cntAlarm_TextOutput14 {
	@include rotate(-90deg);
}
#cntAlarm_TextOutput14 {
	@include font-weight-bold(true);
}
#cntAlarm_TextOutput14 {
	span{
	@include text-decoration-underline(false);
	}
}
#cntAlarm_FlexBoxItem15 {
		z-index: 14;
}
#cntAlarm_FlexBoxItem15 {
		background-color: rgba(255, 255, 255, 0);
}
#cntAlarm_FlexBoxItem15 {
	> .container{
	@include backGroundGradient('linear-gradient(to bottom, #ffffff 0%,#dcdcdc 100%)');
	}
}
#cntAlarm_TextOutput15 {
	@include elemTop(485);
}
#cntAlarm_TextOutput15 {
	@include elemLeft(-460);
}
#cntAlarm_TextOutput15 {
	@include elemAutoWidth(980);
}
#cntAlarm_TextOutput15 {
	@include elemAutoHeight(55);
}
#cntAlarm_TextOutput15 {
		z-index: 0;
}
#cntAlarm_TextOutput15 {
	@include text-alignment-all('right');
}
#cntAlarm_TextOutput15 {
	@include rotate(-90deg);
}
#cntAlarm_TextOutput15 {
	@include font-weight-bold(true);
}
#cntAlarm_TextOutput15 {
	span{
	@include text-decoration-underline(false);
	}
}
