#cntAlarm_FlexBox2 {
  top: 0px;
  position: absolute;
}

#cntAlarm_FlexBox2 {
  left: 0px;
  position: absolute;
}

#cntAlarm_FlexBox2 {
  width: 1920px;
}

#cntAlarm_FlexBox2 {
  height: 980px;
}

#cntAlarm_FlexBox2 {
  z-index: 0;
}

#cntAlarm_FlexBox2 {
  border-width: 0px;
}

#cntAlarm_FlexBox2 > .header {
  border-width: 0px;
}

#cntAlarm_FlexBox2 > .container {
  padding: 0px;
}

#cntAlarm_FlexBoxItem16 {
  z-index: 0;
}

#cntAlarm_FlexBoxItem16 {
  background-color: white;
}

#cntAlarm_FlexBoxItem16 {
  border-style: none;
}

#cntAlarm_FlexBoxItem16 > .header {
  border-bottom-style: none;
}

#cntAlarm_TextOutput16 {
  top: -5px;
  position: absolute;
}

#cntAlarm_TextOutput16 {
  left: 0px;
  position: absolute;
}

#cntAlarm_TextOutput16 {
  width: 1900px;
}

#cntAlarm_TextOutput16 {
  height: 70px;
}

#cntAlarm_TextOutput16 {
  z-index: 0;
}

#cntAlarm_TextOutput16 {
  border-width: 0px;
}

#cntAlarm_TextOutput16 {
  background-color: rgba(255, 255, 255, 0);
}

#cntAlarm_TextOutput16 {
  border-color: rgba(255, 255, 255, 0);
}

#cntAlarm_TextOutput16:before {
  border-color: rgba(255, 255, 255, 0);
}

#cntAlarm_TextOutput16:after {
  border-color: rgba(255, 255, 255, 0);
}

#cntAlarm_TextOutput16 {
  border-style: none;
}

#cntAlarm_TextOutput16:before {
  border-style: none;
}

#cntAlarm_TextOutput16:after {
  border-style: none;
}

#cntAlarm_TextOutput16 {
  justify-content: flex-start;
  text-align: left;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntAlarm_TextOutput16 {
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}

#cntAlarm_TextOutput16 {
  font-size: 45px;
}

#cntAlarm_TextOutput16 {
  font-weight: bold;
}

#cntAlarm_TabControl1 {
  top: 90px;
  position: absolute;
}

#cntAlarm_TabControl1 {
  left: 14px;
  position: absolute;
}

#cntAlarm_TabControl1 {
  width: 1862px;
}

#cntAlarm_TabControl1 {
  height: 705px;
}

#cntAlarm_TabControl1 {
  z-index: 1;
}

#cntAlarm_TabControl1 > .tabItemContainer {
  border-style: none;
}

#cntAlarm_TabItem_CrrntAlrm_breaseTabItemTab.tabItem {
  width: 930px;
}

#cntAlarm_TabItem_CrrntAlrm_breaseTabItemTab.tabItem {
  height: 100px;
}

#cntAlarm_TabItem_CrrntAlrm {
  z-index: 0;
}

#cntAlarm_TabItem_CrrntAlrm_breaseTabItemTab.tabItem.active {
  background-color: white;
}

#cntAlarm_TabItem_CrrntAlrm_breaseTabItemTab.tabItem {
  opacity: 1;
}

#cntAlarm_AlarmList2 {
  top: 0px;
  position: absolute;
}

#cntAlarm_AlarmList2 {
  left: 0px;
  position: absolute;
}

#cntAlarm_AlarmList2 {
  width: 1860px;
}

#cntAlarm_AlarmList2 {
  height: 450px;
}

#cntAlarm_AlarmList2 {
  z-index: 0;
}

#cntAlarm_AlarmListItem_Time {
  width: 320px;
}

#cntAlarm_AlarmListItem_Time {
  z-index: 0;
}

#cntAlarm_AlarmListItem_Name {
  width: 345px;
}

#cntAlarm_AlarmListItem_Name {
  z-index: 1;
}

#cntAlarm_AlarmListItem_Messge {
  width: 465px;
}

#cntAlarm_AlarmListItem_Messge {
  z-index: 2;
}

#cntAlarm_AlarmListItem_Code {
  width: 195px;
}

#cntAlarm_AlarmListItem_Code {
  z-index: 3;
}

#cntAlarm_AlarmListItem_State {
  width: 285px;
}

#cntAlarm_AlarmListItem_State {
  z-index: 4;
}

#cntAlarm_AdditionalInformation {
  top: 464px;
  position: absolute;
}

#cntAlarm_AdditionalInformation {
  left: 150px;
  position: absolute;
}

#cntAlarm_AdditionalInformation {
  width: 240px;
}

#cntAlarm_AdditionalInformation {
  height: 122px;
}

#cntAlarm_AdditionalInformation {
  z-index: 1;
}

#cntAlarm_AdditionalInformation img {
  height: 55px;
}

#cntAlarm_AdditionalInformation svg {
  height: 55px;
}

#cntAlarm_AdditionalInformation img {
  width: 55px;
}

#cntAlarm_AdditionalInformation svg {
  width: 55px;
}

#cntAlarm_AdditionalInformation span {
  font-size: 15px;
}

#cntAlarm_AdditionalInformation:not(.active):not(.checked) {
  box-shadow: 0px 0px rgba(62, 79, 92, 0.75);
}

#cntAlarm_AdditionalInformation.disabled.active {
  box-shadow: 0px 0px rgba(62, 79, 92, 0.75);
}

#cntAlarm_AdditionalInformation.disabled.checked {
  box-shadow: 0px 0px rgba(62, 79, 92, 0.75);
}

#cntAlarm_Push_AlrmRst {
  top: 464px;
  position: absolute;
}

#cntAlarm_Push_AlrmRst {
  left: 1305px;
  position: absolute;
}

#cntAlarm_Push_AlrmRst {
  width: 240px;
}

#cntAlarm_Push_AlrmRst {
  height: 122px;
}

#cntAlarm_Push_AlrmRst {
  z-index: 2;
}

#cntAlarm_Push_AlrmRst img {
  height: 55px;
}

#cntAlarm_Push_AlrmRst svg {
  height: 55px;
}

#cntAlarm_Push_AlrmRst img {
  width: 55px;
}

#cntAlarm_Push_AlrmRst svg {
  width: 55px;
}

#cntAlarm_Push_AlrmRst {
  justify-content: center;
  text-align: center;
}

#cntAlarm_Push_AlrmRst:not(.active):not(.checked) {
  box-shadow: 0px 0px rgba(62, 79, 92, 0.75);
}

#cntAlarm_Push_AlrmRst.disabled.active {
  box-shadow: 0px 0px rgba(62, 79, 92, 0.75);
}

#cntAlarm_Push_AlrmRst.disabled.checked {
  box-shadow: 0px 0px rgba(62, 79, 92, 0.75);
}

#cntAlarm_TabItemAlrmHist_breaseTabItemTab.tabItem {
  width: 930px;
}

#cntAlarm_TabItemAlrmHist_breaseTabItemTab.tabItem {
  height: 100px;
}

#cntAlarm_TabItemAlrmHist {
  z-index: 1;
}

#cntAlarm_AlarmHistory1 {
  top: 0px;
  position: absolute;
}

#cntAlarm_AlarmHistory1 {
  left: 0px;
  position: absolute;
}

#cntAlarm_AlarmHistory1 {
  width: 1860px;
}

#cntAlarm_AlarmHistory1 {
  height: 450px;
}

#cntAlarm_AlarmHistory1 {
  z-index: 0;
}

#cntAlarm_AlarmHistory1.breaseTableWidget {
  background-color: rgba(255, 255, 255, 0);
}

#cntAlarm_AlarmHistory1.breaseTableWidget .devTableColumnWidget {
  font-style: italic;
}

#cntAlarm_AlarmHistoryItem_Time {
  width: 300px;
}

#cntAlarm_AlarmHistoryItem_Time {
  z-index: 0;
}

#cntAlarm_AlarmHistoryItem_Name {
  width: 315px;
}

#cntAlarm_AlarmHistoryItem_Name {
  z-index: 1;
}

#cntAlarm_AlarmHistoryItem_message {
  width: 450px;
}

#cntAlarm_AlarmHistoryItem_message {
  z-index: 2;
}

#cntAlarm_AlarmHistoryItem_OldState {
  width: 225px;
}

#cntAlarm_AlarmHistoryItem_OldState {
  z-index: 3;
}

#cntAlarm_AlarmHistoryItem_NewState {
  width: 135px;
}

#cntAlarm_AlarmHistoryItem_NewState {
  z-index: 4;
}

#cntAlarm_AlarmHistoryItem1 {
  width: 200px;
}

#cntAlarm_AlarmHistoryItem1 {
  z-index: 5;
}

#cntAlarm_MpAlarmXHistoryExport {
  top: 469px;
  position: absolute;
}

#cntAlarm_MpAlarmXHistoryExport {
  left: 750px;
  position: absolute;
}

#cntAlarm_MpAlarmXHistoryExport {
  width: 240px;
}

#cntAlarm_MpAlarmXHistoryExport {
  height: 122px;
}

#cntAlarm_MpAlarmXHistoryExport {
  z-index: 1;
}

#cntAlarm_MpAlarmXHistoryExport:not(.active):not(.checked) {
  box-shadow: 0px 0px rgba(62, 79, 92, 0.75);
}

#cntAlarm_MpAlarmXHistoryExport.disabled.active {
  box-shadow: 0px 0px rgba(62, 79, 92, 0.75);
}

#cntAlarm_MpAlarmXHistoryExport.disabled.checked {
  box-shadow: 0px 0px rgba(62, 79, 92, 0.75);
}

#cntAlarm_FlexBoxItem17 {
  z-index: 1;
}

#cntAlarm_FlexBox1 {
  top: -14px;
  position: absolute;
}

#cntAlarm_FlexBox1 {
  left: 0px;
  position: absolute;
}

#cntAlarm_FlexBox1 {
  width: 1905px;
}

#cntAlarm_FlexBox1 {
  height: 884px;
}

#cntAlarm_FlexBox1 {
  z-index: 0;
}

#cntAlarm_FlexBox1 {
  border-width: 0px;
}

#cntAlarm_FlexBox1 > .header {
  border-width: 0px;
}

#cntAlarm_FlexBox1 {
  background-color: rgba(255, 255, 255, 0);
}

#cntAlarm_FlexBox1 {
  border-style: none;
}

#cntAlarm_FlexBox1 > .header {
  border-bottom-style: none;
}

#cntAlarm_FlexBoxItem1 {
  z-index: 0;
}

#cntAlarm_FlexBoxItem1 > .container {
  background-image: linear-gradient(to bottom, #ffffff 0%,#dcdcdc 30%);
}

#cntAlarm_TextOutput1 {
  top: 485px;
  position: absolute;
}

#cntAlarm_TextOutput1 {
  left: -460px;
  position: absolute;
}

#cntAlarm_TextOutput1 {
  width: 980px;
}

#cntAlarm_TextOutput1 {
  height: 55px;
}

#cntAlarm_TextOutput1 {
  z-index: 0;
}

#cntAlarm_TextOutput1 {
  border-width: 0px;
}

#cntAlarm_TextOutput1 {
  justify-content: flex-end;
  text-align: right;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntAlarm_TextOutput1 {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

#cntAlarm_TextOutput1 {
  font-weight: bold;
}

#cntAlarm_AlarmList1 {
  top: 60px;
  position: absolute;
}

#cntAlarm_AlarmList1 {
  left: 140px;
  position: absolute;
}

#cntAlarm_AlarmList1 {
  width: 800px;
}

#cntAlarm_AlarmList1 {
  height: 670px;
}

#cntAlarm_AlarmList1 {
  z-index: 1;
}

#cntAlarm_FlexBoxItem2 {
  z-index: 1;
}

#cntAlarm_FlexBoxItem2 {
  background-color: rgba(255, 255, 255, 0);
}

#cntAlarm_FlexBoxItem2 > .container {
  background-image: linear-gradient(to bottom, #ffffff 0%,#dcdcdc 35%);
}

#cntAlarm_TextOutput2 {
  top: 485px;
  position: absolute;
}

#cntAlarm_TextOutput2 {
  left: -460px;
  position: absolute;
}

#cntAlarm_TextOutput2 {
  width: 980px;
}

#cntAlarm_TextOutput2 {
  height: 55px;
}

#cntAlarm_TextOutput2 {
  z-index: 0;
}

#cntAlarm_TextOutput2 {
  justify-content: flex-end;
  text-align: right;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntAlarm_TextOutput2 {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

#cntAlarm_TextOutput2 {
  font-weight: bold;
}

#cntAlarm_FlexBoxItem3 {
  z-index: 2;
}

#cntAlarm_FlexBoxItem3 {
  background-color: rgba(255, 255, 255, 0);
}

#cntAlarm_FlexBoxItem3 > .container {
  background-image: linear-gradient(to bottom, #ffffff 0%,#dcdcdc 40%);
}

#cntAlarm_TextOutput3 {
  top: 480px;
  position: absolute;
}

#cntAlarm_TextOutput3 {
  left: -450px;
  position: absolute;
}

#cntAlarm_TextOutput3 {
  width: 980px;
}

#cntAlarm_TextOutput3 {
  height: 55px;
}

#cntAlarm_TextOutput3 {
  z-index: 0;
}

#cntAlarm_TextOutput3 {
  justify-content: flex-end;
  text-align: right;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntAlarm_TextOutput3 {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

#cntAlarm_TextOutput3 {
  font-weight: bold;
}

#cntAlarm_FlexBoxItem4 {
  z-index: 3;
}

#cntAlarm_FlexBoxItem4 {
  background-color: rgba(255, 255, 255, 0);
}

#cntAlarm_FlexBoxItem4 > .container {
  background-image: linear-gradient(to bottom, #ffffff 0%,#dcdcdc 45%);
}

#cntAlarm_TextOutput4 {
  top: 480px;
  position: absolute;
}

#cntAlarm_TextOutput4 {
  left: -456px;
  position: absolute;
}

#cntAlarm_TextOutput4 {
  width: 980px;
}

#cntAlarm_TextOutput4 {
  height: 55px;
}

#cntAlarm_TextOutput4 {
  z-index: 0;
}

#cntAlarm_TextOutput4 {
  justify-content: flex-end;
  text-align: right;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntAlarm_TextOutput4 {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

#cntAlarm_TextOutput4 {
  font-weight: bold;
}

#cntAlarm_FlexBoxItem5 {
  z-index: 4;
}

#cntAlarm_FlexBoxItem5 {
  background-color: rgba(255, 255, 255, 0);
}

#cntAlarm_FlexBoxItem5 > .container {
  background-image: linear-gradient(to bottom, #ffffff 0%,#dcdcdc 50%);
}

#cntAlarm_TextOutput5 {
  top: 485px;
  position: absolute;
}

#cntAlarm_TextOutput5 {
  left: -460px;
  position: absolute;
}

#cntAlarm_TextOutput5 {
  width: 980px;
}

#cntAlarm_TextOutput5 {
  height: 55px;
}

#cntAlarm_TextOutput5 {
  z-index: 0;
}

#cntAlarm_TextOutput5 {
  justify-content: flex-end;
  text-align: right;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntAlarm_TextOutput5 {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

#cntAlarm_TextOutput5 {
  font-weight: bold;
}

#cntAlarm_FlexBoxItem6 {
  z-index: 5;
}

#cntAlarm_FlexBoxItem6 {
  background-color: rgba(255, 255, 255, 0);
}

#cntAlarm_FlexBoxItem6 > .container {
  background-image: linear-gradient(to bottom, #ffffff 0%,#dcdcdc 55%);
}

#cntAlarm_TextOutput6 {
  top: 485px;
  position: absolute;
}

#cntAlarm_TextOutput6 {
  left: -460px;
  position: absolute;
}

#cntAlarm_TextOutput6 {
  width: 980px;
}

#cntAlarm_TextOutput6 {
  height: 55px;
}

#cntAlarm_TextOutput6 {
  z-index: 0;
}

#cntAlarm_TextOutput6 {
  justify-content: flex-end;
  text-align: right;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntAlarm_TextOutput6 {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

#cntAlarm_TextOutput6 {
  font-weight: bold;
}

#cntAlarm_FlexBoxItem7 {
  z-index: 6;
}

#cntAlarm_FlexBoxItem7 {
  background-color: rgba(255, 255, 255, 0);
}

#cntAlarm_FlexBoxItem7 > .container {
  background-image: linear-gradient(to bottom, #ffffff 0%,#dcdcdc 60%);
}

#cntAlarm_TextOutput7 {
  top: 490px;
  position: absolute;
}

#cntAlarm_TextOutput7 {
  left: -467px;
  position: absolute;
}

#cntAlarm_TextOutput7 {
  width: 997px;
}

#cntAlarm_TextOutput7 {
  height: 57px;
}

#cntAlarm_TextOutput7 {
  z-index: 0;
}

#cntAlarm_TextOutput7 {
  justify-content: flex-end;
  text-align: right;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntAlarm_TextOutput7 {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

#cntAlarm_TextOutput7 {
  font-weight: bold;
}

#cntAlarm_FlexBoxItem8 {
  z-index: 7;
}

#cntAlarm_FlexBoxItem8 {
  background-color: rgba(255, 255, 255, 0);
}

#cntAlarm_FlexBoxItem8 > .container {
  background-image: linear-gradient(to bottom, #ffffff 0%,#dcdcdc 65%);
}

#cntAlarm_TextOutput8 {
  top: 485px;
  position: absolute;
}

#cntAlarm_TextOutput8 {
  left: -460px;
  position: absolute;
}

#cntAlarm_TextOutput8 {
  width: 980px;
}

#cntAlarm_TextOutput8 {
  height: 55px;
}

#cntAlarm_TextOutput8 {
  z-index: 0;
}

#cntAlarm_TextOutput8 {
  justify-content: flex-end;
  text-align: right;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntAlarm_TextOutput8 {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

#cntAlarm_TextOutput8 {
  font-weight: bold;
}

#cntAlarm_FlexBoxItem9 {
  z-index: 8;
}

#cntAlarm_FlexBoxItem9 {
  background-color: rgba(255, 255, 255, 0);
}

#cntAlarm_FlexBoxItem9 > .container {
  background-image: linear-gradient(to bottom, #ffffff 0%,#dcdcdc 70%);
}

#cntAlarm_TextOutput9 {
  top: 485px;
  position: absolute;
}

#cntAlarm_TextOutput9 {
  left: -460px;
  position: absolute;
}

#cntAlarm_TextOutput9 {
  width: 980px;
}

#cntAlarm_TextOutput9 {
  height: 55px;
}

#cntAlarm_TextOutput9 {
  z-index: 0;
}

#cntAlarm_TextOutput9 {
  justify-content: flex-end;
  text-align: right;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntAlarm_TextOutput9 {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

#cntAlarm_TextOutput9 {
  font-weight: bold;
}

#cntAlarm_FlexBoxItem10 {
  z-index: 9;
}

#cntAlarm_FlexBoxItem10 {
  background-color: rgba(255, 255, 255, 0);
}

#cntAlarm_FlexBoxItem10 > .container {
  background-image: linear-gradient(to bottom, #ffffff 0%,#dcdcdc 75%);
}

#cntAlarm_TextOutput10 {
  top: 485px;
  position: absolute;
}

#cntAlarm_TextOutput10 {
  left: -460px;
  position: absolute;
}

#cntAlarm_TextOutput10 {
  width: 980px;
}

#cntAlarm_TextOutput10 {
  height: 55px;
}

#cntAlarm_TextOutput10 {
  z-index: 0;
}

#cntAlarm_TextOutput10 {
  justify-content: flex-end;
  text-align: right;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntAlarm_TextOutput10 {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

#cntAlarm_TextOutput10 {
  font-weight: bold;
}

#cntAlarm_FlexBoxItem11 {
  z-index: 10;
}

#cntAlarm_FlexBoxItem11 {
  background-color: rgba(255, 255, 255, 0);
}

#cntAlarm_FlexBoxItem11 > .container {
  background-image: linear-gradient(to bottom, #ffffff 0%,#dcdcdc 80%);
}

#cntAlarm_TextOutput11 {
  top: 479px;
  position: absolute;
}

#cntAlarm_TextOutput11 {
  left: -469px;
  position: absolute;
}

#cntAlarm_TextOutput11 {
  width: 980px;
}

#cntAlarm_TextOutput11 {
  height: 55px;
}

#cntAlarm_TextOutput11 {
  z-index: 0;
}

#cntAlarm_TextOutput11 {
  justify-content: flex-end;
  text-align: right;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntAlarm_TextOutput11 {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

#cntAlarm_TextOutput11 {
  font-weight: bold;
}

#cntAlarm_FlexBoxItem12 {
  z-index: 11;
}

#cntAlarm_FlexBoxItem12 {
  background-color: rgba(255, 255, 255, 0);
}

#cntAlarm_FlexBoxItem12 > .container {
  background-image: linear-gradient(to bottom, #ffffff 0%,#dcdcdc 85%);
}

#cntAlarm_TextOutput12 {
  top: 479px;
  position: absolute;
}

#cntAlarm_TextOutput12 {
  left: -454px;
  position: absolute;
}

#cntAlarm_TextOutput12 {
  width: 980px;
}

#cntAlarm_TextOutput12 {
  height: 55px;
}

#cntAlarm_TextOutput12 {
  z-index: 0;
}

#cntAlarm_TextOutput12 {
  justify-content: flex-end;
  text-align: right;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntAlarm_TextOutput12 {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

#cntAlarm_TextOutput12 {
  font-weight: bold;
}

#cntAlarm_FlexBoxItem13 {
  z-index: 12;
}

#cntAlarm_FlexBoxItem13 {
  background-color: rgba(255, 255, 255, 0);
}

#cntAlarm_FlexBoxItem13 > .container {
  background-image: linear-gradient(to bottom, #ffffff 0%,#dcdcdc 90%);
}

#cntAlarm_TextOutput13 {
  top: 485px;
  position: absolute;
}

#cntAlarm_TextOutput13 {
  left: -460px;
  position: absolute;
}

#cntAlarm_TextOutput13 {
  width: 980px;
}

#cntAlarm_TextOutput13 {
  height: 55px;
}

#cntAlarm_TextOutput13 {
  z-index: 0;
}

#cntAlarm_TextOutput13 {
  justify-content: flex-end;
  text-align: right;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntAlarm_TextOutput13 {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

#cntAlarm_TextOutput13 {
  font-weight: bold;
}

#cntAlarm_FlexBoxItem14 {
  z-index: 13;
}

#cntAlarm_FlexBoxItem14 {
  border-width: 0px 0px 0px 0px;
}

#cntAlarm_FlexBoxItem14 > .header {
  border-width: 0px 0px 0px 0px;
}

#cntAlarm_FlexBoxItem14 {
  background-color: rgba(255, 255, 255, 0);
}

#cntAlarm_FlexBoxItem14 > .container {
  background-image: linear-gradient(to bottom, #ffffff 0%,#dcdcdc 95%);
}

#cntAlarm_FlexBoxItem14 {
  border-color: transparent;
}

#cntAlarm_FlexBoxItem14 > .header {
  border-color: transparent;
}

#cntAlarm_TextOutput14 {
  top: 485px;
  position: absolute;
}

#cntAlarm_TextOutput14 {
  left: -460px;
  position: absolute;
}

#cntAlarm_TextOutput14 {
  width: 980px;
}

#cntAlarm_TextOutput14 {
  height: 55px;
}

#cntAlarm_TextOutput14 {
  z-index: 0;
}

#cntAlarm_TextOutput14 {
  justify-content: flex-end;
  text-align: right;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntAlarm_TextOutput14 {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

#cntAlarm_TextOutput14 {
  font-weight: bold;
}

#cntAlarm_FlexBoxItem15 {
  z-index: 14;
}

#cntAlarm_FlexBoxItem15 {
  background-color: rgba(255, 255, 255, 0);
}

#cntAlarm_FlexBoxItem15 > .container {
  background-image: linear-gradient(to bottom, #ffffff 0%,#dcdcdc 100%);
}

#cntAlarm_TextOutput15 {
  top: 485px;
  position: absolute;
}

#cntAlarm_TextOutput15 {
  left: -460px;
  position: absolute;
}

#cntAlarm_TextOutput15 {
  width: 980px;
}

#cntAlarm_TextOutput15 {
  height: 55px;
}

#cntAlarm_TextOutput15 {
  z-index: 0;
}

#cntAlarm_TextOutput15 {
  justify-content: flex-end;
  text-align: right;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntAlarm_TextOutput15 {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

#cntAlarm_TextOutput15 {
  font-weight: bold;
}
