#cntHomeCell_4_Robot_ChckBx_Robot_Cell4 {
  top: 0px;
  position: absolute;
}

#cntHomeCell_4_Robot_ChckBx_Robot_Cell4 {
  left: 380px;
  position: absolute;
}

#cntHomeCell_4_Robot_ChckBx_Robot_Cell4 {
  width: 45px;
}

#cntHomeCell_4_Robot_ChckBx_Robot_Cell4 {
  height: 45px;
}

#cntHomeCell_4_Robot_ChckBx_Robot_Cell4 {
  z-index: 0;
}

#cntHomeCell_4_Robot_ChckBx_Robot_Cell4 span {
  font-style: italic;
}

#cntHomeCell_4_Robot_ChckBx_Robot_Cell4 {
  padding: 0px;
}

#cntHomeCell_4_Robot_ChckBx_Robot_Cell4.checked:not(.disabled) svg {
  fill: red;
}
