#cntSafetyOutputsCell_3_GridLine1 {
  top: 0px;
  position: absolute;
}

#cntSafetyOutputsCell_3_GridLine1 {
  left: 0px;
  position: absolute;
}

#cntSafetyOutputsCell_3_GridLine1 {
  width: 300px;
}

#cntSafetyOutputsCell_3_GridLine1 {
  height: 540px;
}

#cntSafetyOutputsCell_3_GridLine1 {
  z-index: 0;
}

#cntSafetyOutputsCell_3_GridLine1 {
  margin: 0px 0px 0px 0px;
}

#cntSafetyOutputsCell_3_GridLine1 .container {
  padding: 5px 0px;
}

#cntSafetyOutputsCell_3_GridLineItem1 {
  z-index: 0;
}

#cntSafetyOutputsCell_3_GridLineItem1 {
  padding: 0px 10px 10px 10px;
}

#cntSafetyOutputsCell_3_Label2 {
  top: 8px;
  position: absolute;
}

#cntSafetyOutputsCell_3_Label2 {
  left: 40px;
  position: absolute;
}

#cntSafetyOutputsCell_3_Label2 {
  width: 200px;
}

#cntSafetyOutputsCell_3_Label2 {
  height: 20px;
}

#cntSafetyOutputsCell_3_Label2 {
  z-index: 0;
}

#cntSafetyOutputsCell_3_Label2 span {
  color: dimgray;
}

#cntSafetyOutputsCell_3_Label2 {
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntSafetyOutputsCell_3_Label2 span {
  text-decoration: underline;
}

#cntSafetyOutputsCell_3_ImageList1 {
  top: 35px;
  position: absolute;
}

#cntSafetyOutputsCell_3_ImageList1 {
  left: 5px;
  position: absolute;
}

#cntSafetyOutputsCell_3_ImageList1 {
  width: 20px;
}

#cntSafetyOutputsCell_3_ImageList1 {
  height: 20px;
}

#cntSafetyOutputsCell_3_ImageList1 {
  z-index: 1;
}

#cntSafetyOutputsCell_3_ImageList2 {
  top: 65px;
  position: absolute;
}

#cntSafetyOutputsCell_3_ImageList2 {
  left: 5px;
  position: absolute;
}

#cntSafetyOutputsCell_3_ImageList2 {
  width: 20px;
}

#cntSafetyOutputsCell_3_ImageList2 {
  height: 20px;
}

#cntSafetyOutputsCell_3_ImageList2 {
  z-index: 2;
}

#cntSafetyOutputsCell_3_ImageList3 {
  top: 95px;
  position: absolute;
}

#cntSafetyOutputsCell_3_ImageList3 {
  left: 5px;
  position: absolute;
}

#cntSafetyOutputsCell_3_ImageList3 {
  width: 20px;
}

#cntSafetyOutputsCell_3_ImageList3 {
  height: 20px;
}

#cntSafetyOutputsCell_3_ImageList3 {
  z-index: 3;
}

#cntSafetyOutputsCell_3_ImageList4 {
  top: 125px;
  position: absolute;
}

#cntSafetyOutputsCell_3_ImageList4 {
  left: 5px;
  position: absolute;
}

#cntSafetyOutputsCell_3_ImageList4 {
  width: 20px;
}

#cntSafetyOutputsCell_3_ImageList4 {
  height: 20px;
}

#cntSafetyOutputsCell_3_ImageList4 {
  z-index: 4;
}

#cntSafetyOutputsCell_3_Label_do33 {
  top: 35px;
  position: absolute;
}

#cntSafetyOutputsCell_3_Label_do33 {
  left: 35px;
  position: absolute;
}

#cntSafetyOutputsCell_3_Label_do33 {
  width: 220px;
}

#cntSafetyOutputsCell_3_Label_do33 {
  height: 20px;
}

#cntSafetyOutputsCell_3_Label_do33 {
  z-index: 5;
}

#cntSafetyOutputsCell_3_Label_do34 {
  top: 65px;
  position: absolute;
}

#cntSafetyOutputsCell_3_Label_do34 {
  left: 35px;
  position: absolute;
}

#cntSafetyOutputsCell_3_Label_do34 {
  width: 220px;
}

#cntSafetyOutputsCell_3_Label_do34 {
  height: 20px;
}

#cntSafetyOutputsCell_3_Label_do34 {
  z-index: 6;
}

#cntSafetyOutputsCell_3_Label_do35 {
  top: 95px;
  position: absolute;
}

#cntSafetyOutputsCell_3_Label_do35 {
  left: 35px;
  position: absolute;
}

#cntSafetyOutputsCell_3_Label_do35 {
  width: 220px;
}

#cntSafetyOutputsCell_3_Label_do35 {
  height: 20px;
}

#cntSafetyOutputsCell_3_Label_do35 {
  z-index: 7;
}

#cntSafetyOutputsCell_3_Label_do36 {
  top: 125px;
  position: absolute;
}

#cntSafetyOutputsCell_3_Label_do36 {
  left: 35px;
  position: absolute;
}

#cntSafetyOutputsCell_3_Label_do36 {
  width: 220px;
}

#cntSafetyOutputsCell_3_Label_do36 {
  height: 20px;
}

#cntSafetyOutputsCell_3_Label_do36 {
  z-index: 8;
}

#cntSafetyOutputsCell_3_GridLineItem2 {
  z-index: 1;
}

#cntSafetyOutputsCell_3_GridLineItem2 {
  padding: 0px 10px 10px 10px;
}

#cntSafetyOutputsCell_3_Label3 {
  top: 6px;
  position: absolute;
}

#cntSafetyOutputsCell_3_Label3 {
  left: 40px;
  position: absolute;
}

#cntSafetyOutputsCell_3_Label3 {
  width: 200px;
}

#cntSafetyOutputsCell_3_Label3 {
  height: 20px;
}

#cntSafetyOutputsCell_3_Label3 {
  z-index: 0;
}

#cntSafetyOutputsCell_3_Label3 span {
  color: dimgray;
}

#cntSafetyOutputsCell_3_Label3 {
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntSafetyOutputsCell_3_Label3 span {
  text-decoration: underline;
}

#cntSafetyOutputsCell_3_ImageList17 {
  top: 35px;
  position: absolute;
}

#cntSafetyOutputsCell_3_ImageList17 {
  left: 5px;
  position: absolute;
}

#cntSafetyOutputsCell_3_ImageList17 {
  width: 20px;
}

#cntSafetyOutputsCell_3_ImageList17 {
  height: 20px;
}

#cntSafetyOutputsCell_3_ImageList17 {
  z-index: 1;
}

#cntSafetyOutputsCell_3_ImageList18 {
  top: 65px;
  position: absolute;
}

#cntSafetyOutputsCell_3_ImageList18 {
  left: 5px;
  position: absolute;
}

#cntSafetyOutputsCell_3_ImageList18 {
  width: 20px;
}

#cntSafetyOutputsCell_3_ImageList18 {
  height: 20px;
}

#cntSafetyOutputsCell_3_ImageList18 {
  z-index: 2;
}

#cntSafetyOutputsCell_3_ImageList19 {
  top: 95px;
  position: absolute;
}

#cntSafetyOutputsCell_3_ImageList19 {
  left: 5px;
  position: absolute;
}

#cntSafetyOutputsCell_3_ImageList19 {
  width: 20px;
}

#cntSafetyOutputsCell_3_ImageList19 {
  height: 20px;
}

#cntSafetyOutputsCell_3_ImageList19 {
  z-index: 3;
}

#cntSafetyOutputsCell_3_ImageList20 {
  top: 125px;
  position: absolute;
}

#cntSafetyOutputsCell_3_ImageList20 {
  left: 5px;
  position: absolute;
}

#cntSafetyOutputsCell_3_ImageList20 {
  width: 20px;
}

#cntSafetyOutputsCell_3_ImageList20 {
  height: 20px;
}

#cntSafetyOutputsCell_3_ImageList20 {
  z-index: 4;
}

#cntSafetyOutputsCell_3_Label_do37 {
  top: 35px;
  position: absolute;
}

#cntSafetyOutputsCell_3_Label_do37 {
  left: 30px;
  position: absolute;
}

#cntSafetyOutputsCell_3_Label_do37 {
  width: 220px;
}

#cntSafetyOutputsCell_3_Label_do37 {
  height: 20px;
}

#cntSafetyOutputsCell_3_Label_do37 {
  z-index: 5;
}

#cntSafetyOutputsCell_3_Label_do38 {
  top: 65px;
  position: absolute;
}

#cntSafetyOutputsCell_3_Label_do38 {
  left: 30px;
  position: absolute;
}

#cntSafetyOutputsCell_3_Label_do38 {
  width: 220px;
}

#cntSafetyOutputsCell_3_Label_do38 {
  height: 20px;
}

#cntSafetyOutputsCell_3_Label_do38 {
  z-index: 6;
}

#cntSafetyOutputsCell_3_Label_do39 {
  top: 95px;
  position: absolute;
}

#cntSafetyOutputsCell_3_Label_do39 {
  left: 30px;
  position: absolute;
}

#cntSafetyOutputsCell_3_Label_do39 {
  width: 220px;
}

#cntSafetyOutputsCell_3_Label_do39 {
  height: 20px;
}

#cntSafetyOutputsCell_3_Label_do39 {
  z-index: 7;
}

#cntSafetyOutputsCell_3_Label_do40 {
  top: 125px;
  position: absolute;
}

#cntSafetyOutputsCell_3_Label_do40 {
  left: 30px;
  position: absolute;
}

#cntSafetyOutputsCell_3_Label_do40 {
  width: 220px;
}

#cntSafetyOutputsCell_3_Label_do40 {
  height: 20px;
}

#cntSafetyOutputsCell_3_Label_do40 {
  z-index: 8;
}

#cntSafetyOutputsCell_3_CheckBox_SafetyOut {
  top: 0px;
  position: absolute;
}

#cntSafetyOutputsCell_3_CheckBox_SafetyOut {
  left: 250px;
  position: absolute;
}

#cntSafetyOutputsCell_3_CheckBox_SafetyOut {
  width: 45px;
}

#cntSafetyOutputsCell_3_CheckBox_SafetyOut {
  height: 45px;
}

#cntSafetyOutputsCell_3_CheckBox_SafetyOut {
  z-index: 1;
}

#cntSafetyOutputsCell_3_CheckBox_SafetyOut span {
  font-style: italic;
}

#cntSafetyOutputsCell_3_CheckBox_SafetyOut.checked:not(.disabled) svg {
  fill: red;
}
