﻿@import "mixins.scss";
#cntSafetyOutputsCell_3_GridLine1 {
	@include elemTop(0);
}
#cntSafetyOutputsCell_3_GridLine1 {
	@include elemLeft(0);
}
#cntSafetyOutputsCell_3_GridLine1 {
	@include elemWidth(300);
}
#cntSafetyOutputsCell_3_GridLine1 {
	@include elemHeight(540);
}
#cntSafetyOutputsCell_3_GridLine1 {
		z-index: 0;
}
#cntSafetyOutputsCell_3_GridLine1 {
		margin: 0px 0px 0px 0px;
}
#cntSafetyOutputsCell_3_GridLine1 {
	.container{
		padding: 5px 0px;
	}
}
#cntSafetyOutputsCell_3_GridLineItem1 {
		z-index: 0;
}
#cntSafetyOutputsCell_3_GridLineItem1 {
		padding: 0px 10px 10px 10px;
}
#cntSafetyOutputsCell_3_Label2 {
	@include elemTop(8);
}
#cntSafetyOutputsCell_3_Label2 {
	@include elemLeft(40);
}
#cntSafetyOutputsCell_3_Label2 {
	@include elemAutoWidth(200);
}
#cntSafetyOutputsCell_3_Label2 {
	@include elemAutoHeight(20);
}
#cntSafetyOutputsCell_3_Label2 {
		z-index: 0;
}
#cntSafetyOutputsCell_3_Label2 {
	& span{
		color: rgba(105, 105, 105, 1);
	}
}
#cntSafetyOutputsCell_3_Label2 {
	@include text-alignment-all('center');
}
#cntSafetyOutputsCell_3_Label2 {
	span{
	@include text-decoration-underline(true);
	}
}
#cntSafetyOutputsCell_3_ImageList1 {
	@include elemTop(35);
}
#cntSafetyOutputsCell_3_ImageList1 {
	@include elemLeft(5);
}
#cntSafetyOutputsCell_3_ImageList1 {
	@include elemWidth(20);
}
#cntSafetyOutputsCell_3_ImageList1 {
	@include elemHeight(20);
}
#cntSafetyOutputsCell_3_ImageList1 {
		z-index: 1;
}
#cntSafetyOutputsCell_3_ImageList2 {
	@include elemTop(65);
}
#cntSafetyOutputsCell_3_ImageList2 {
	@include elemLeft(5);
}
#cntSafetyOutputsCell_3_ImageList2 {
	@include elemWidth(20);
}
#cntSafetyOutputsCell_3_ImageList2 {
	@include elemHeight(20);
}
#cntSafetyOutputsCell_3_ImageList2 {
		z-index: 2;
}
#cntSafetyOutputsCell_3_ImageList3 {
	@include elemTop(95);
}
#cntSafetyOutputsCell_3_ImageList3 {
	@include elemLeft(5);
}
#cntSafetyOutputsCell_3_ImageList3 {
	@include elemWidth(20);
}
#cntSafetyOutputsCell_3_ImageList3 {
	@include elemHeight(20);
}
#cntSafetyOutputsCell_3_ImageList3 {
		z-index: 3;
}
#cntSafetyOutputsCell_3_ImageList4 {
	@include elemTop(125);
}
#cntSafetyOutputsCell_3_ImageList4 {
	@include elemLeft(5);
}
#cntSafetyOutputsCell_3_ImageList4 {
	@include elemWidth(20);
}
#cntSafetyOutputsCell_3_ImageList4 {
	@include elemHeight(20);
}
#cntSafetyOutputsCell_3_ImageList4 {
		z-index: 4;
}
#cntSafetyOutputsCell_3_Label_do33 {
	@include elemTop(35);
}
#cntSafetyOutputsCell_3_Label_do33 {
	@include elemLeft(35);
}
#cntSafetyOutputsCell_3_Label_do33 {
	@include elemAutoWidth(220);
}
#cntSafetyOutputsCell_3_Label_do33 {
	@include elemAutoHeight(20);
}
#cntSafetyOutputsCell_3_Label_do33 {
		z-index: 5;
}
#cntSafetyOutputsCell_3_Label_do34 {
	@include elemTop(65);
}
#cntSafetyOutputsCell_3_Label_do34 {
	@include elemLeft(35);
}
#cntSafetyOutputsCell_3_Label_do34 {
	@include elemAutoWidth(220);
}
#cntSafetyOutputsCell_3_Label_do34 {
	@include elemAutoHeight(20);
}
#cntSafetyOutputsCell_3_Label_do34 {
		z-index: 6;
}
#cntSafetyOutputsCell_3_Label_do35 {
	@include elemTop(95);
}
#cntSafetyOutputsCell_3_Label_do35 {
	@include elemLeft(35);
}
#cntSafetyOutputsCell_3_Label_do35 {
	@include elemAutoWidth(220);
}
#cntSafetyOutputsCell_3_Label_do35 {
	@include elemAutoHeight(20);
}
#cntSafetyOutputsCell_3_Label_do35 {
		z-index: 7;
}
#cntSafetyOutputsCell_3_Label_do36 {
	@include elemTop(125);
}
#cntSafetyOutputsCell_3_Label_do36 {
	@include elemLeft(35);
}
#cntSafetyOutputsCell_3_Label_do36 {
	@include elemAutoWidth(220);
}
#cntSafetyOutputsCell_3_Label_do36 {
	@include elemAutoHeight(20);
}
#cntSafetyOutputsCell_3_Label_do36 {
		z-index: 8;
}
#cntSafetyOutputsCell_3_GridLineItem2 {
		z-index: 1;
}
#cntSafetyOutputsCell_3_GridLineItem2 {
		padding: 0px 10px 10px 10px;
}
#cntSafetyOutputsCell_3_Label3 {
	@include elemTop(6);
}
#cntSafetyOutputsCell_3_Label3 {
	@include elemLeft(40);
}
#cntSafetyOutputsCell_3_Label3 {
	@include elemAutoWidth(200);
}
#cntSafetyOutputsCell_3_Label3 {
	@include elemAutoHeight(20);
}
#cntSafetyOutputsCell_3_Label3 {
		z-index: 0;
}
#cntSafetyOutputsCell_3_Label3 {
	& span{
		color: rgba(105, 105, 105, 1);
	}
}
#cntSafetyOutputsCell_3_Label3 {
	@include text-alignment-all('center');
}
#cntSafetyOutputsCell_3_Label3 {
	span{
	@include text-decoration-underline(true);
	}
}
#cntSafetyOutputsCell_3_ImageList17 {
	@include elemTop(35);
}
#cntSafetyOutputsCell_3_ImageList17 {
	@include elemLeft(5);
}
#cntSafetyOutputsCell_3_ImageList17 {
	@include elemWidth(20);
}
#cntSafetyOutputsCell_3_ImageList17 {
	@include elemHeight(20);
}
#cntSafetyOutputsCell_3_ImageList17 {
		z-index: 1;
}
#cntSafetyOutputsCell_3_ImageList18 {
	@include elemTop(65);
}
#cntSafetyOutputsCell_3_ImageList18 {
	@include elemLeft(5);
}
#cntSafetyOutputsCell_3_ImageList18 {
	@include elemWidth(20);
}
#cntSafetyOutputsCell_3_ImageList18 {
	@include elemHeight(20);
}
#cntSafetyOutputsCell_3_ImageList18 {
		z-index: 2;
}
#cntSafetyOutputsCell_3_ImageList19 {
	@include elemTop(95);
}
#cntSafetyOutputsCell_3_ImageList19 {
	@include elemLeft(5);
}
#cntSafetyOutputsCell_3_ImageList19 {
	@include elemWidth(20);
}
#cntSafetyOutputsCell_3_ImageList19 {
	@include elemHeight(20);
}
#cntSafetyOutputsCell_3_ImageList19 {
		z-index: 3;
}
#cntSafetyOutputsCell_3_ImageList20 {
	@include elemTop(125);
}
#cntSafetyOutputsCell_3_ImageList20 {
	@include elemLeft(5);
}
#cntSafetyOutputsCell_3_ImageList20 {
	@include elemWidth(20);
}
#cntSafetyOutputsCell_3_ImageList20 {
	@include elemHeight(20);
}
#cntSafetyOutputsCell_3_ImageList20 {
		z-index: 4;
}
#cntSafetyOutputsCell_3_Label_do37 {
	@include elemTop(35);
}
#cntSafetyOutputsCell_3_Label_do37 {
	@include elemLeft(30);
}
#cntSafetyOutputsCell_3_Label_do37 {
	@include elemAutoWidth(220);
}
#cntSafetyOutputsCell_3_Label_do37 {
	@include elemAutoHeight(20);
}
#cntSafetyOutputsCell_3_Label_do37 {
		z-index: 5;
}
#cntSafetyOutputsCell_3_Label_do38 {
	@include elemTop(65);
}
#cntSafetyOutputsCell_3_Label_do38 {
	@include elemLeft(30);
}
#cntSafetyOutputsCell_3_Label_do38 {
	@include elemAutoWidth(220);
}
#cntSafetyOutputsCell_3_Label_do38 {
	@include elemAutoHeight(20);
}
#cntSafetyOutputsCell_3_Label_do38 {
		z-index: 6;
}
#cntSafetyOutputsCell_3_Label_do39 {
	@include elemTop(95);
}
#cntSafetyOutputsCell_3_Label_do39 {
	@include elemLeft(30);
}
#cntSafetyOutputsCell_3_Label_do39 {
	@include elemAutoWidth(220);
}
#cntSafetyOutputsCell_3_Label_do39 {
	@include elemAutoHeight(20);
}
#cntSafetyOutputsCell_3_Label_do39 {
		z-index: 7;
}
#cntSafetyOutputsCell_3_Label_do40 {
	@include elemTop(125);
}
#cntSafetyOutputsCell_3_Label_do40 {
	@include elemLeft(30);
}
#cntSafetyOutputsCell_3_Label_do40 {
	@include elemAutoWidth(220);
}
#cntSafetyOutputsCell_3_Label_do40 {
	@include elemAutoHeight(20);
}
#cntSafetyOutputsCell_3_Label_do40 {
		z-index: 8;
}
#cntSafetyOutputsCell_3_CheckBox_SafetyOut {
	@include elemTop(0);
}
#cntSafetyOutputsCell_3_CheckBox_SafetyOut {
	@include elemLeft(250);
}
#cntSafetyOutputsCell_3_CheckBox_SafetyOut {
	@include elemAutoWidth(45);
}
#cntSafetyOutputsCell_3_CheckBox_SafetyOut {
	@include elemAutoHeight(45);
}
#cntSafetyOutputsCell_3_CheckBox_SafetyOut {
		z-index: 1;
}
#cntSafetyOutputsCell_3_CheckBox_SafetyOut {
	span{
	@include font-style-italic(true);
	}
}
#cntSafetyOutputsCell_3_CheckBox_SafetyOut {
	&.checked:not(.disabled) svg{
		fill: rgba(255, 0, 0, 1);
	}
}
