#cntSafetyInputsCell_3_GridLine1 {
  top: 0px;
  position: absolute;
}

#cntSafetyInputsCell_3_GridLine1 {
  left: 0px;
  position: absolute;
}

#cntSafetyInputsCell_3_GridLine1 {
  width: 300px;
}

#cntSafetyInputsCell_3_GridLine1 {
  height: 540px;
}

#cntSafetyInputsCell_3_GridLine1 {
  z-index: 0;
}

#cntSafetyInputsCell_3_GridLine1 .container {
  padding: 5px 0px;
}

#cntSafetyInputsCell_3_GridLineItem1 {
  z-index: 0;
}

#cntSafetyInputsCell_3_GridLineItem1 {
  padding: 0px 10px 10px 10px;
}

#cntSafetyInputsCell_3_Label2 {
  height: 30px;
}

#cntSafetyInputsCell_3_Label2 {
  top: 0px;
  position: absolute;
}

#cntSafetyInputsCell_3_Label2 {
  left: 15px;
  position: absolute;
}

#cntSafetyInputsCell_3_Label2 {
  width: 255px;
}

#cntSafetyInputsCell_3_Label2 {
  z-index: 0;
}

#cntSafetyInputsCell_3_Label2 span {
  color: dimgray;
}

#cntSafetyInputsCell_3_Label2 {
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntSafetyInputsCell_3_Label2 span {
  text-decoration: underline;
}

#cntSafetyInputsCell_3_ImageList1 {
  top: 35px;
  position: absolute;
}

#cntSafetyInputsCell_3_ImageList1 {
  left: 5px;
  position: absolute;
}

#cntSafetyInputsCell_3_ImageList1 {
  width: 20px;
}

#cntSafetyInputsCell_3_ImageList1 {
  height: 20px;
}

#cntSafetyInputsCell_3_ImageList1 {
  z-index: 1;
}

#cntSafetyInputsCell_3_ImageList2 {
  top: 65px;
  position: absolute;
}

#cntSafetyInputsCell_3_ImageList2 {
  left: 5px;
  position: absolute;
}

#cntSafetyInputsCell_3_ImageList2 {
  width: 20px;
}

#cntSafetyInputsCell_3_ImageList2 {
  height: 20px;
}

#cntSafetyInputsCell_3_ImageList2 {
  z-index: 2;
}

#cntSafetyInputsCell_3_ImageList3 {
  top: 95px;
  position: absolute;
}

#cntSafetyInputsCell_3_ImageList3 {
  left: 5px;
  position: absolute;
}

#cntSafetyInputsCell_3_ImageList3 {
  width: 20px;
}

#cntSafetyInputsCell_3_ImageList3 {
  height: 20px;
}

#cntSafetyInputsCell_3_ImageList3 {
  z-index: 3;
}

#cntSafetyInputsCell_3_ImageList4 {
  top: 125px;
  position: absolute;
}

#cntSafetyInputsCell_3_ImageList4 {
  left: 5px;
  position: absolute;
}

#cntSafetyInputsCell_3_ImageList4 {
  width: 20px;
}

#cntSafetyInputsCell_3_ImageList4 {
  height: 20px;
}

#cntSafetyInputsCell_3_ImageList4 {
  z-index: 4;
}

#cntSafetyInputsCell_3_ImageList5 {
  top: 155px;
  position: absolute;
}

#cntSafetyInputsCell_3_ImageList5 {
  left: 5px;
  position: absolute;
}

#cntSafetyInputsCell_3_ImageList5 {
  width: 20px;
}

#cntSafetyInputsCell_3_ImageList5 {
  height: 20px;
}

#cntSafetyInputsCell_3_ImageList5 {
  z-index: 5;
}

#cntSafetyInputsCell_3_ImageList6 {
  top: 185px;
  position: absolute;
}

#cntSafetyInputsCell_3_ImageList6 {
  left: 5px;
  position: absolute;
}

#cntSafetyInputsCell_3_ImageList6 {
  width: 20px;
}

#cntSafetyInputsCell_3_ImageList6 {
  height: 20px;
}

#cntSafetyInputsCell_3_ImageList6 {
  z-index: 6;
}

#cntSafetyInputsCell_3_ImageList7 {
  top: 215px;
  position: absolute;
}

#cntSafetyInputsCell_3_ImageList7 {
  left: 5px;
  position: absolute;
}

#cntSafetyInputsCell_3_ImageList7 {
  width: 20px;
}

#cntSafetyInputsCell_3_ImageList7 {
  height: 20px;
}

#cntSafetyInputsCell_3_ImageList7 {
  z-index: 7;
}

#cntSafetyInputsCell_3_ImageList8 {
  top: 245px;
  position: absolute;
}

#cntSafetyInputsCell_3_ImageList8 {
  left: 5px;
  position: absolute;
}

#cntSafetyInputsCell_3_ImageList8 {
  width: 20px;
}

#cntSafetyInputsCell_3_ImageList8 {
  height: 20px;
}

#cntSafetyInputsCell_3_ImageList8 {
  z-index: 8;
}

#cntSafetyInputsCell_3_ImageList9 {
  top: 275px;
  position: absolute;
}

#cntSafetyInputsCell_3_ImageList9 {
  left: 5px;
  position: absolute;
}

#cntSafetyInputsCell_3_ImageList9 {
  width: 20px;
}

#cntSafetyInputsCell_3_ImageList9 {
  height: 20px;
}

#cntSafetyInputsCell_3_ImageList9 {
  z-index: 9;
}

#cntSafetyInputsCell_3_ImageList10 {
  top: 305px;
  position: absolute;
}

#cntSafetyInputsCell_3_ImageList10 {
  left: 5px;
  position: absolute;
}

#cntSafetyInputsCell_3_ImageList10 {
  width: 20px;
}

#cntSafetyInputsCell_3_ImageList10 {
  height: 20px;
}

#cntSafetyInputsCell_3_ImageList10 {
  z-index: 10;
}

#cntSafetyInputsCell_3_ImageList11 {
  top: 335px;
  position: absolute;
}

#cntSafetyInputsCell_3_ImageList11 {
  left: 5px;
  position: absolute;
}

#cntSafetyInputsCell_3_ImageList11 {
  width: 20px;
}

#cntSafetyInputsCell_3_ImageList11 {
  height: 20px;
}

#cntSafetyInputsCell_3_ImageList11 {
  z-index: 11;
}

#cntSafetyInputsCell_3_ImageList12 {
  top: 365px;
  position: absolute;
}

#cntSafetyInputsCell_3_ImageList12 {
  left: 5px;
  position: absolute;
}

#cntSafetyInputsCell_3_ImageList12 {
  width: 20px;
}

#cntSafetyInputsCell_3_ImageList12 {
  height: 20px;
}

#cntSafetyInputsCell_3_ImageList12 {
  z-index: 12;
}

#cntSafetyInputsCell_3_ImageList13 {
  top: 395px;
  position: absolute;
}

#cntSafetyInputsCell_3_ImageList13 {
  left: 5px;
  position: absolute;
}

#cntSafetyInputsCell_3_ImageList13 {
  width: 20px;
}

#cntSafetyInputsCell_3_ImageList13 {
  height: 20px;
}

#cntSafetyInputsCell_3_ImageList13 {
  z-index: 13;
}

#cntSafetyInputsCell_3_ImageList14 {
  top: 425px;
  position: absolute;
}

#cntSafetyInputsCell_3_ImageList14 {
  left: 5px;
  position: absolute;
}

#cntSafetyInputsCell_3_ImageList14 {
  width: 20px;
}

#cntSafetyInputsCell_3_ImageList14 {
  height: 20px;
}

#cntSafetyInputsCell_3_ImageList14 {
  z-index: 14;
}

#cntSafetyInputsCell_3_ImageList15 {
  top: 455px;
  position: absolute;
}

#cntSafetyInputsCell_3_ImageList15 {
  left: 5px;
  position: absolute;
}

#cntSafetyInputsCell_3_ImageList15 {
  width: 20px;
}

#cntSafetyInputsCell_3_ImageList15 {
  height: 20px;
}

#cntSafetyInputsCell_3_ImageList15 {
  z-index: 15;
}

#cntSafetyInputsCell_3_ImageList16 {
  top: 485px;
  position: absolute;
}

#cntSafetyInputsCell_3_ImageList16 {
  left: 5px;
  position: absolute;
}

#cntSafetyInputsCell_3_ImageList16 {
  width: 20px;
}

#cntSafetyInputsCell_3_ImageList16 {
  height: 20px;
}

#cntSafetyInputsCell_3_ImageList16 {
  z-index: 16;
}

#cntSafetyInputsCell_3_Label_do33 {
  top: 35px;
  position: absolute;
}

#cntSafetyInputsCell_3_Label_do33 {
  left: 35px;
  position: absolute;
}

#cntSafetyInputsCell_3_Label_do33 {
  width: 220px;
}

#cntSafetyInputsCell_3_Label_do33 {
  height: 20px;
}

#cntSafetyInputsCell_3_Label_do33 {
  z-index: 17;
}

#cntSafetyInputsCell_3_Label_do34 {
  top: 65px;
  position: absolute;
}

#cntSafetyInputsCell_3_Label_do34 {
  left: 35px;
  position: absolute;
}

#cntSafetyInputsCell_3_Label_do34 {
  width: 220px;
}

#cntSafetyInputsCell_3_Label_do34 {
  height: 20px;
}

#cntSafetyInputsCell_3_Label_do34 {
  z-index: 18;
}

#cntSafetyInputsCell_3_Label_do35 {
  top: 95px;
  position: absolute;
}

#cntSafetyInputsCell_3_Label_do35 {
  left: 35px;
  position: absolute;
}

#cntSafetyInputsCell_3_Label_do35 {
  width: 220px;
}

#cntSafetyInputsCell_3_Label_do35 {
  height: 20px;
}

#cntSafetyInputsCell_3_Label_do35 {
  z-index: 19;
}

#cntSafetyInputsCell_3_Label_do36 {
  top: 125px;
  position: absolute;
}

#cntSafetyInputsCell_3_Label_do36 {
  left: 35px;
  position: absolute;
}

#cntSafetyInputsCell_3_Label_do36 {
  width: 220px;
}

#cntSafetyInputsCell_3_Label_do36 {
  height: 20px;
}

#cntSafetyInputsCell_3_Label_do36 {
  z-index: 20;
}

#cntSafetyInputsCell_3_Label_do37 {
  top: 155px;
  position: absolute;
}

#cntSafetyInputsCell_3_Label_do37 {
  left: 35px;
  position: absolute;
}

#cntSafetyInputsCell_3_Label_do37 {
  width: 220px;
}

#cntSafetyInputsCell_3_Label_do37 {
  height: 20px;
}

#cntSafetyInputsCell_3_Label_do37 {
  z-index: 21;
}

#cntSafetyInputsCell_3_Label_do38 {
  top: 185px;
  position: absolute;
}

#cntSafetyInputsCell_3_Label_do38 {
  left: 35px;
  position: absolute;
}

#cntSafetyInputsCell_3_Label_do38 {
  width: 220px;
}

#cntSafetyInputsCell_3_Label_do38 {
  height: 20px;
}

#cntSafetyInputsCell_3_Label_do38 {
  z-index: 22;
}

#cntSafetyInputsCell_3_Label_do39 {
  top: 215px;
  position: absolute;
}

#cntSafetyInputsCell_3_Label_do39 {
  left: 35px;
  position: absolute;
}

#cntSafetyInputsCell_3_Label_do39 {
  width: 220px;
}

#cntSafetyInputsCell_3_Label_do39 {
  height: 20px;
}

#cntSafetyInputsCell_3_Label_do39 {
  z-index: 23;
}

#cntSafetyInputsCell_3_Label_do40 {
  top: 245px;
  position: absolute;
}

#cntSafetyInputsCell_3_Label_do40 {
  left: 35px;
  position: absolute;
}

#cntSafetyInputsCell_3_Label_do40 {
  width: 220px;
}

#cntSafetyInputsCell_3_Label_do40 {
  height: 20px;
}

#cntSafetyInputsCell_3_Label_do40 {
  z-index: 24;
}

#cntSafetyInputsCell_3_Label_do41 {
  top: 275px;
  position: absolute;
}

#cntSafetyInputsCell_3_Label_do41 {
  left: 35px;
  position: absolute;
}

#cntSafetyInputsCell_3_Label_do41 {
  width: 220px;
}

#cntSafetyInputsCell_3_Label_do41 {
  height: 20px;
}

#cntSafetyInputsCell_3_Label_do41 {
  z-index: 25;
}

#cntSafetyInputsCell_3_Label_do42 {
  top: 305px;
  position: absolute;
}

#cntSafetyInputsCell_3_Label_do42 {
  left: 35px;
  position: absolute;
}

#cntSafetyInputsCell_3_Label_do42 {
  width: 220px;
}

#cntSafetyInputsCell_3_Label_do42 {
  height: 20px;
}

#cntSafetyInputsCell_3_Label_do42 {
  z-index: 26;
}

#cntSafetyInputsCell_3_Label_do43 {
  top: 335px;
  position: absolute;
}

#cntSafetyInputsCell_3_Label_do43 {
  left: 35px;
  position: absolute;
}

#cntSafetyInputsCell_3_Label_do43 {
  width: 220px;
}

#cntSafetyInputsCell_3_Label_do43 {
  height: 20px;
}

#cntSafetyInputsCell_3_Label_do43 {
  z-index: 27;
}

#cntSafetyInputsCell_3_Label_do44 {
  top: 365px;
  position: absolute;
}

#cntSafetyInputsCell_3_Label_do44 {
  left: 35px;
  position: absolute;
}

#cntSafetyInputsCell_3_Label_do44 {
  width: 220px;
}

#cntSafetyInputsCell_3_Label_do44 {
  height: 20px;
}

#cntSafetyInputsCell_3_Label_do44 {
  z-index: 28;
}

#cntSafetyInputsCell_3_Label_do45 {
  top: 395px;
  position: absolute;
}

#cntSafetyInputsCell_3_Label_do45 {
  left: 35px;
  position: absolute;
}

#cntSafetyInputsCell_3_Label_do45 {
  width: 220px;
}

#cntSafetyInputsCell_3_Label_do45 {
  height: 20px;
}

#cntSafetyInputsCell_3_Label_do45 {
  z-index: 29;
}

#cntSafetyInputsCell_3_Label_do46 {
  top: 425px;
  position: absolute;
}

#cntSafetyInputsCell_3_Label_do46 {
  left: 35px;
  position: absolute;
}

#cntSafetyInputsCell_3_Label_do46 {
  width: 220px;
}

#cntSafetyInputsCell_3_Label_do46 {
  height: 20px;
}

#cntSafetyInputsCell_3_Label_do46 {
  z-index: 30;
}

#cntSafetyInputsCell_3_Label_do47 {
  top: 455px;
  position: absolute;
}

#cntSafetyInputsCell_3_Label_do47 {
  left: 35px;
  position: absolute;
}

#cntSafetyInputsCell_3_Label_do47 {
  width: 220px;
}

#cntSafetyInputsCell_3_Label_do47 {
  height: 20px;
}

#cntSafetyInputsCell_3_Label_do47 {
  z-index: 31;
}

#cntSafetyInputsCell_3_Label_do48 {
  top: 485px;
  position: absolute;
}

#cntSafetyInputsCell_3_Label_do48 {
  left: 35px;
  position: absolute;
}

#cntSafetyInputsCell_3_Label_do48 {
  width: 220px;
}

#cntSafetyInputsCell_3_Label_do48 {
  height: 20px;
}

#cntSafetyInputsCell_3_Label_do48 {
  z-index: 32;
}

#cntSafetyInputsCell_3_CheckBox_SafetyIn {
  top: 0px;
  position: absolute;
}

#cntSafetyInputsCell_3_CheckBox_SafetyIn {
  left: 250px;
  position: absolute;
}

#cntSafetyInputsCell_3_CheckBox_SafetyIn {
  width: 45px;
}

#cntSafetyInputsCell_3_CheckBox_SafetyIn {
  height: 45px;
}

#cntSafetyInputsCell_3_CheckBox_SafetyIn {
  z-index: 1;
}

#cntSafetyInputsCell_3_CheckBox_SafetyIn span {
  font-style: italic;
}

#cntSafetyInputsCell_3_CheckBox_SafetyIn.checked:not(.disabled) svg {
  fill: red;
}
