#cntManual_Cell1_GridLine1 {
  top: 0px;
  position: absolute;
}

#cntManual_Cell1_GridLine1 {
  left: 0px;
  position: absolute;
}

#cntManual_Cell1_GridLine1 {
  width: 1890px;
}

#cntManual_Cell1_GridLine1 {
  height: 530px;
}

#cntManual_Cell1_GridLine1 {
  z-index: 0;
}

#cntManual_Cell1_GridLine1 {
  margin: 0px 0px 0px 0px;
}

#cntManual_Cell1_GridLine1 .container {
  padding: 5px 0px;
}

#cntManual_Cell1_GridLineItem1 {
  z-index: 0;
}

#cntManual_Cell1_GridLineItem1 {
  padding: 2px 20px 10px 10px;
}

#cntManual_Cell1_GridLineItem1 > .container {
  border-radius: 2px;
}

#cntManual_Cell1_GroupBox6 {
  top: 0px;
  position: absolute;
}

#cntManual_Cell1_GroupBox6 {
  left: 0px;
  position: absolute;
}

#cntManual_Cell1_GroupBox6 {
  width: 375px;
}

#cntManual_Cell1_GroupBox6 {
  height: 255px;
}

#cntManual_Cell1_GroupBox6 {
  z-index: 0;
}

#cntManual_Cell1_Cell1LeftStackerOpenButton {
  top: 25px;
  position: absolute;
}

#cntManual_Cell1_Cell1LeftStackerOpenButton {
  left: 15px;
  position: absolute;
}

#cntManual_Cell1_Cell1LeftStackerOpenButton {
  width: 130px;
}

#cntManual_Cell1_Cell1LeftStackerOpenButton {
  height: 73px;
}

#cntManual_Cell1_Cell1LeftStackerOpenButton {
  z-index: 0;
}

#cntManual_Cell1_Cell1LeftStackerCloseButton {
  top: 25px;
  position: absolute;
}

#cntManual_Cell1_Cell1LeftStackerCloseButton {
  left: 215px;
  position: absolute;
}

#cntManual_Cell1_Cell1LeftStackerCloseButton {
  width: 130px;
}

#cntManual_Cell1_Cell1LeftStackerCloseButton {
  height: 67px;
}

#cntManual_Cell1_Cell1LeftStackerCloseButton {
  z-index: 1;
}

#cntManual_Cell1_Label13 {
  top: 170px;
  position: absolute;
}

#cntManual_Cell1_Label13 {
  left: 10px;
  position: absolute;
}

#cntManual_Cell1_Label13 {
  width: 90px;
}

#cntManual_Cell1_Label13 {
  height: 46px;
}

#cntManual_Cell1_Label13 {
  z-index: 2;
}

#cntManual_Cell1_Label13 {
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntManual_Cell1_Label13 {
  font-weight: bold;
}

#cntManual_Cell1_Line13 {
  z-index: 3;
}

#cntManual_Cell1_Line14 {
  z-index: 4;
}

#cntManual_Cell1_Label14 {
  height: 30px;
}

#cntManual_Cell1_Label14 {
  top: 110px;
  position: absolute;
}

#cntManual_Cell1_Label14 {
  left: 15px;
  position: absolute;
}

#cntManual_Cell1_Label14 {
  width: 130px;
}

#cntManual_Cell1_Label14 {
  z-index: 5;
}

#cntManual_Cell1_Label14 {
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntManual_Cell1_lbl_Closed6 {
  height: 30px;
}

#cntManual_Cell1_lbl_Closed6 {
  top: 110px;
  position: absolute;
}

#cntManual_Cell1_lbl_Closed6 {
  left: 215px;
  position: absolute;
}

#cntManual_Cell1_lbl_Closed6 {
  width: 130px;
}

#cntManual_Cell1_lbl_Closed6 {
  z-index: 6;
}

#cntManual_Cell1_lbl_Closed6 {
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntManual_Cell1_txtLeftStacker {
  top: 170px;
  position: absolute;
}

#cntManual_Cell1_txtLeftStacker {
  left: 100px;
  position: absolute;
}

#cntManual_Cell1_txtLeftStacker {
  width: 270px;
}

#cntManual_Cell1_txtLeftStacker {
  height: 43px;
}

#cntManual_Cell1_txtLeftStacker {
  z-index: 7;
}

#cntManual_Cell1_GroupBox7 {
  top: 255px;
  position: absolute;
}

#cntManual_Cell1_GroupBox7 {
  left: 0px;
  position: absolute;
}

#cntManual_Cell1_GroupBox7 {
  width: 375px;
}

#cntManual_Cell1_GroupBox7 {
  height: 255px;
}

#cntManual_Cell1_GroupBox7 {
  z-index: 1;
}

#cntManual_Cell1_RightStackerOpenButton {
  top: 25px;
  position: absolute;
}

#cntManual_Cell1_RightStackerOpenButton {
  left: 15px;
  position: absolute;
}

#cntManual_Cell1_RightStackerOpenButton {
  width: 130px;
}

#cntManual_Cell1_RightStackerOpenButton {
  height: 67px;
}

#cntManual_Cell1_RightStackerOpenButton {
  z-index: 0;
}

#cntManual_Cell1_RightStackerCloseButton {
  top: 25px;
  position: absolute;
}

#cntManual_Cell1_RightStackerCloseButton {
  left: 215px;
  position: absolute;
}

#cntManual_Cell1_RightStackerCloseButton {
  width: 130px;
}

#cntManual_Cell1_RightStackerCloseButton {
  height: 67px;
}

#cntManual_Cell1_RightStackerCloseButton {
  z-index: 1;
}

#cntManual_Cell1_Label15 {
  top: 170px;
  position: absolute;
}

#cntManual_Cell1_Label15 {
  left: -1px;
  position: absolute;
}

#cntManual_Cell1_Label15 {
  width: 106px;
}

#cntManual_Cell1_Label15 {
  height: 46px;
}

#cntManual_Cell1_Label15 {
  z-index: 2;
}

#cntManual_Cell1_Label15 {
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntManual_Cell1_Label15 {
  font-weight: bold;
}

#cntManual_Cell1_Line15 {
  z-index: 3;
}

#cntManual_Cell1_Line16 {
  z-index: 4;
}

#cntManual_Cell1_Label16 {
  height: 30px;
}

#cntManual_Cell1_Label16 {
  top: 110px;
  position: absolute;
}

#cntManual_Cell1_Label16 {
  left: 15px;
  position: absolute;
}

#cntManual_Cell1_Label16 {
  width: 130px;
}

#cntManual_Cell1_Label16 {
  z-index: 5;
}

#cntManual_Cell1_Label16 {
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntManual_Cell1_lbl_Closed7 {
  height: 30px;
}

#cntManual_Cell1_lbl_Closed7 {
  top: 110px;
  position: absolute;
}

#cntManual_Cell1_lbl_Closed7 {
  left: 215px;
  position: absolute;
}

#cntManual_Cell1_lbl_Closed7 {
  width: 130px;
}

#cntManual_Cell1_lbl_Closed7 {
  z-index: 6;
}

#cntManual_Cell1_lbl_Closed7 {
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntManual_Cell1_txtRightStacker {
  top: 169px;
  position: absolute;
}

#cntManual_Cell1_txtRightStacker {
  left: 100px;
  position: absolute;
}

#cntManual_Cell1_txtRightStacker {
  width: 270px;
}

#cntManual_Cell1_txtRightStacker {
  height: 41px;
}

#cntManual_Cell1_txtRightStacker {
  z-index: 7;
}

#cntManual_Cell1_GroupBox8 {
  top: 0px;
  position: absolute;
}

#cntManual_Cell1_GroupBox8 {
  left: 375px;
  position: absolute;
}

#cntManual_Cell1_GroupBox8 {
  width: 375px;
}

#cntManual_Cell1_GroupBox8 {
  height: 255px;
}

#cntManual_Cell1_GroupBox8 {
  z-index: 2;
}

#cntManual_Cell1_Cell1BannerCellLights {
  top: 25px;
  position: absolute;
}

#cntManual_Cell1_Cell1BannerCellLights {
  left: 115px;
  position: absolute;
}

#cntManual_Cell1_Cell1BannerCellLights {
  width: 130px;
}

#cntManual_Cell1_Cell1BannerCellLights {
  height: 67px;
}

#cntManual_Cell1_Cell1BannerCellLights {
  z-index: 0;
}

#cntManual_Cell1_Label17 {
  top: 170px;
  position: absolute;
}

#cntManual_Cell1_Label17 {
  left: -1px;
  position: absolute;
}

#cntManual_Cell1_Label17 {
  width: 91px;
}

#cntManual_Cell1_Label17 {
  height: 46px;
}

#cntManual_Cell1_Label17 {
  z-index: 1;
}

#cntManual_Cell1_Label17 {
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntManual_Cell1_Label17 {
  font-weight: bold;
}

#cntManual_Cell1_Line17 {
  z-index: 2;
}

#cntManual_Cell1_Line18 {
  z-index: 3;
}

#cntManual_Cell1_Label18 {
  height: 30px;
}

#cntManual_Cell1_Label18 {
  top: 110px;
  position: absolute;
}

#cntManual_Cell1_Label18 {
  left: 115px;
  position: absolute;
}

#cntManual_Cell1_Label18 {
  width: 130px;
}

#cntManual_Cell1_Label18 {
  z-index: 4;
}

#cntManual_Cell1_Label18 {
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntManual_Cell1_txtBannerCellLight {
  top: 175px;
  position: absolute;
}

#cntManual_Cell1_txtBannerCellLight {
  left: 113px;
  position: absolute;
}

#cntManual_Cell1_txtBannerCellLight {
  width: 240px;
}

#cntManual_Cell1_txtBannerCellLight {
  height: 33px;
}

#cntManual_Cell1_txtBannerCellLight {
  z-index: 5;
}

#cntManual_Cell1_MomentaryPushButton22 {
  top: 22px;
  position: absolute;
}

#cntManual_Cell1_MomentaryPushButton22 {
  left: 625px;
  position: absolute;
}

#cntManual_Cell1_MomentaryPushButton22 {
  width: 137px;
}

#cntManual_Cell1_MomentaryPushButton22 {
  height: 67px;
}

#cntManual_Cell1_MomentaryPushButton22 {
  z-index: 6;
}

#cntManual_Cell1_GroupBox9 {
  top: 255px;
  position: absolute;
}

#cntManual_Cell1_GroupBox9 {
  left: 375px;
  position: absolute;
}

#cntManual_Cell1_GroupBox9 {
  width: 375px;
}

#cntManual_Cell1_GroupBox9 {
  height: 255px;
}

#cntManual_Cell1_GroupBox9 {
  z-index: 3;
}

#cntManual_Cell1_Cell1AirBlowerButton {
  top: 25px;
  position: absolute;
}

#cntManual_Cell1_Cell1AirBlowerButton {
  left: 115px;
  position: absolute;
}

#cntManual_Cell1_Cell1AirBlowerButton {
  width: 130px;
}

#cntManual_Cell1_Cell1AirBlowerButton {
  height: 67px;
}

#cntManual_Cell1_Cell1AirBlowerButton {
  z-index: 0;
}

#cntManual_Cell1_Label19 {
  top: 170px;
  position: absolute;
}

#cntManual_Cell1_Label19 {
  left: -1px;
  position: absolute;
}

#cntManual_Cell1_Label19 {
  width: 106px;
}

#cntManual_Cell1_Label19 {
  height: 46px;
}

#cntManual_Cell1_Label19 {
  z-index: 1;
}

#cntManual_Cell1_Label19 {
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntManual_Cell1_Label19 {
  font-weight: bold;
}

#cntManual_Cell1_Line19 {
  z-index: 2;
}

#cntManual_Cell1_Line20 {
  z-index: 3;
}

#cntManual_Cell1_Label20 {
  height: 30px;
}

#cntManual_Cell1_Label20 {
  top: 110px;
  position: absolute;
}

#cntManual_Cell1_Label20 {
  left: 115px;
  position: absolute;
}

#cntManual_Cell1_Label20 {
  width: 130px;
}

#cntManual_Cell1_Label20 {
  z-index: 4;
}

#cntManual_Cell1_Label20 {
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntManual_Cell1_txtAirBlower {
  top: 169px;
  position: absolute;
}

#cntManual_Cell1_txtAirBlower {
  left: 102px;
  position: absolute;
}

#cntManual_Cell1_txtAirBlower {
  width: 268px;
}

#cntManual_Cell1_txtAirBlower {
  height: 44px;
}

#cntManual_Cell1_txtAirBlower {
  z-index: 5;
}

#cntManual_Cell1_GroupBox10 {
  top: 0px;
  position: absolute;
}

#cntManual_Cell1_GroupBox10 {
  left: 750px;
  position: absolute;
}

#cntManual_Cell1_GroupBox10 {
  width: 375px;
}

#cntManual_Cell1_GroupBox10 {
  height: 255px;
}

#cntManual_Cell1_GroupBox10 {
  z-index: 5;
}

#cntManual_Cell1_GroupBox10 {
  border-radius: 0px 0px 0px 0px;
}

#cntManual_Cell1_Cell1CamLightBottomButton {
  top: 25px;
  position: absolute;
}

#cntManual_Cell1_Cell1CamLightBottomButton {
  left: 115px;
  position: absolute;
}

#cntManual_Cell1_Cell1CamLightBottomButton {
  width: 130px;
}

#cntManual_Cell1_Cell1CamLightBottomButton {
  height: 67px;
}

#cntManual_Cell1_Cell1CamLightBottomButton {
  z-index: 0;
}

#cntManual_Cell1_Label21 {
  top: 170px;
  position: absolute;
}

#cntManual_Cell1_Label21 {
  left: -1px;
  position: absolute;
}

#cntManual_Cell1_Label21 {
  width: 91px;
}

#cntManual_Cell1_Label21 {
  height: 46px;
}

#cntManual_Cell1_Label21 {
  z-index: 1;
}

#cntManual_Cell1_Label21 {
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntManual_Cell1_Label21 {
  font-weight: bold;
}

#cntManual_Cell1_Line21 {
  z-index: 2;
}

#cntManual_Cell1_Line22 {
  z-index: 3;
}

#cntManual_Cell1_Label22 {
  height: 30px;
}

#cntManual_Cell1_Label22 {
  top: 110px;
  position: absolute;
}

#cntManual_Cell1_Label22 {
  left: 115px;
  position: absolute;
}

#cntManual_Cell1_Label22 {
  width: 130px;
}

#cntManual_Cell1_Label22 {
  z-index: 4;
}

#cntManual_Cell1_Label22 {
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntManual_Cell1_txtCameraLight {
  top: 170px;
  position: absolute;
}

#cntManual_Cell1_txtCameraLight {
  left: 100px;
  position: absolute;
}

#cntManual_Cell1_txtCameraLight {
  width: 270px;
}

#cntManual_Cell1_txtCameraLight {
  height: 43px;
}

#cntManual_Cell1_txtCameraLight {
  z-index: 5;
}

#cntManual_Cell1_GroupBox11 {
  top: 255px;
  position: absolute;
}

#cntManual_Cell1_GroupBox11 {
  left: 750px;
  position: absolute;
}

#cntManual_Cell1_GroupBox11 {
  width: 375px;
}

#cntManual_Cell1_GroupBox11 {
  height: 255px;
}

#cntManual_Cell1_GroupBox11 {
  z-index: 4;
}

#cntManual_Cell1_Cell1GripperToolLockOpenButton {
  top: 25px;
  position: absolute;
}

#cntManual_Cell1_Cell1GripperToolLockOpenButton {
  left: 15px;
  position: absolute;
}

#cntManual_Cell1_Cell1GripperToolLockOpenButton {
  width: 130px;
}

#cntManual_Cell1_Cell1GripperToolLockOpenButton {
  height: 67px;
}

#cntManual_Cell1_Cell1GripperToolLockOpenButton {
  z-index: 0;
}

#cntManual_Cell1_Label23 {
  top: 160px;
  position: absolute;
}

#cntManual_Cell1_Label23 {
  left: 0px;
  position: absolute;
}

#cntManual_Cell1_Label23 {
  width: 98px;
}

#cntManual_Cell1_Label23 {
  height: 55px;
}

#cntManual_Cell1_Label23 {
  z-index: 1;
}

#cntManual_Cell1_Label23 {
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntManual_Cell1_Label23 {
  font-weight: bold;
}

#cntManual_Cell1_Line23 {
  z-index: 2;
}

#cntManual_Cell1_Line24 {
  z-index: 3;
}

#cntManual_Cell1_Label24 {
  height: 30px;
}

#cntManual_Cell1_Label24 {
  top: 110px;
  position: absolute;
}

#cntManual_Cell1_Label24 {
  left: 15px;
  position: absolute;
}

#cntManual_Cell1_Label24 {
  width: 130px;
}

#cntManual_Cell1_Label24 {
  z-index: 4;
}

#cntManual_Cell1_Label24 {
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntManual_Cell1_lbl_Closed11 {
  height: 30px;
}

#cntManual_Cell1_lbl_Closed11 {
  top: 110px;
  position: absolute;
}

#cntManual_Cell1_lbl_Closed11 {
  left: 215px;
  position: absolute;
}

#cntManual_Cell1_lbl_Closed11 {
  width: 130px;
}

#cntManual_Cell1_lbl_Closed11 {
  z-index: 5;
}

#cntManual_Cell1_lbl_Closed11 {
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntManual_Cell1_txtGripperCompensator {
  top: 170px;
  position: absolute;
}

#cntManual_Cell1_txtGripperCompensator {
  left: 100px;
  position: absolute;
}

#cntManual_Cell1_txtGripperCompensator {
  width: 270px;
}

#cntManual_Cell1_txtGripperCompensator {
  height: 40px;
}

#cntManual_Cell1_txtGripperCompensator {
  z-index: 6;
}

#cntManual_Cell1_Cell1GripperToolLockCloseButton {
  top: 25px;
  position: absolute;
}

#cntManual_Cell1_Cell1GripperToolLockCloseButton {
  left: 215px;
  position: absolute;
}

#cntManual_Cell1_Cell1GripperToolLockCloseButton {
  width: 130px;
}

#cntManual_Cell1_Cell1GripperToolLockCloseButton {
  height: 67px;
}

#cntManual_Cell1_Cell1GripperToolLockCloseButton {
  z-index: 7;
}

#cntManual_Cell1_GroupBox13 {
  top: 0px;
  position: absolute;
}

#cntManual_Cell1_GroupBox13 {
  left: 1500px;
  position: absolute;
}

#cntManual_Cell1_GroupBox13 {
  width: 375px;
}

#cntManual_Cell1_GroupBox13 {
  height: 255px;
}

#cntManual_Cell1_GroupBox13 {
  z-index: 6;
}

#cntManual_Cell1_GroupBox13 {
  border-radius: 0px 0px 0px 0px;
}

#cntManual_Cell1_Cell1Vacuum2BlowButton {
  top: 25px;
  position: absolute;
}

#cntManual_Cell1_Cell1Vacuum2BlowButton {
  left: 15px;
  position: absolute;
}

#cntManual_Cell1_Cell1Vacuum2BlowButton {
  width: 130px;
}

#cntManual_Cell1_Cell1Vacuum2BlowButton {
  height: 67px;
}

#cntManual_Cell1_Cell1Vacuum2BlowButton {
  z-index: 1;
}

#cntManual_Cell1_Label27 {
  top: 170px;
  position: absolute;
}

#cntManual_Cell1_Label27 {
  left: -1px;
  position: absolute;
}

#cntManual_Cell1_Label27 {
  width: 91px;
}

#cntManual_Cell1_Label27 {
  height: 46px;
}

#cntManual_Cell1_Label27 {
  z-index: 2;
}

#cntManual_Cell1_Label27 {
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntManual_Cell1_Label27 {
  font-weight: bold;
}

#cntManual_Cell1_Line27 {
  z-index: 3;
}

#cntManual_Cell1_Line28 {
  z-index: 4;
}

#cntManual_Cell1_Label28 {
  height: 30px;
}

#cntManual_Cell1_Label28 {
  top: 110px;
  position: absolute;
}

#cntManual_Cell1_Label28 {
  left: 15px;
  position: absolute;
}

#cntManual_Cell1_Label28 {
  width: 130px;
}

#cntManual_Cell1_Label28 {
  z-index: 5;
}

#cntManual_Cell1_Label28 {
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntManual_Cell1_lbl_Closed13 {
  height: 30px;
}

#cntManual_Cell1_lbl_Closed13 {
  top: 110px;
  position: absolute;
}

#cntManual_Cell1_lbl_Closed13 {
  left: 215px;
  position: absolute;
}

#cntManual_Cell1_lbl_Closed13 {
  width: 130px;
}

#cntManual_Cell1_lbl_Closed13 {
  z-index: 0;
}

#cntManual_Cell1_lbl_Closed13 {
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntManual_Cell1_txtCameraLight2 {
  top: 170px;
  position: absolute;
}

#cntManual_Cell1_txtCameraLight2 {
  left: 100px;
  position: absolute;
}

#cntManual_Cell1_txtCameraLight2 {
  width: 270px;
}

#cntManual_Cell1_txtCameraLight2 {
  height: 43px;
}

#cntManual_Cell1_txtCameraLight2 {
  z-index: 6;
}

#cntManual_Cell1_Cell1Vacuum2SuctionButton {
  top: 25px;
  position: absolute;
}

#cntManual_Cell1_Cell1Vacuum2SuctionButton {
  left: 215px;
  position: absolute;
}

#cntManual_Cell1_Cell1Vacuum2SuctionButton {
  width: 130px;
}

#cntManual_Cell1_Cell1Vacuum2SuctionButton {
  height: 67px;
}

#cntManual_Cell1_Cell1Vacuum2SuctionButton {
  z-index: 7;
}

#cntManual_Cell1_GroupBox14 {
  top: 255px;
  position: absolute;
}

#cntManual_Cell1_GroupBox14 {
  left: 1125px;
  position: absolute;
}

#cntManual_Cell1_GroupBox14 {
  width: 375px;
}

#cntManual_Cell1_GroupBox14 {
  height: 255px;
}

#cntManual_Cell1_GroupBox14 {
  z-index: 7;
}

#cntManual_Cell1_GroupBox14 {
  border-radius: 0px 0px 0px 0px;
}

#cntManual_Cell1_Cell1Vacuum1BlowButton {
  top: 25px;
  position: absolute;
}

#cntManual_Cell1_Cell1Vacuum1BlowButton {
  left: 15px;
  position: absolute;
}

#cntManual_Cell1_Cell1Vacuum1BlowButton {
  width: 130px;
}

#cntManual_Cell1_Cell1Vacuum1BlowButton {
  height: 67px;
}

#cntManual_Cell1_Cell1Vacuum1BlowButton {
  z-index: 1;
}

#cntManual_Cell1_Label29 {
  top: 170px;
  position: absolute;
}

#cntManual_Cell1_Label29 {
  left: -1px;
  position: absolute;
}

#cntManual_Cell1_Label29 {
  width: 91px;
}

#cntManual_Cell1_Label29 {
  height: 46px;
}

#cntManual_Cell1_Label29 {
  z-index: 2;
}

#cntManual_Cell1_Label29 {
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntManual_Cell1_Label29 {
  font-weight: bold;
}

#cntManual_Cell1_Line29 {
  z-index: 3;
}

#cntManual_Cell1_Line30 {
  z-index: 4;
}

#cntManual_Cell1_Label30 {
  height: 30px;
}

#cntManual_Cell1_Label30 {
  top: 110px;
  position: absolute;
}

#cntManual_Cell1_Label30 {
  left: 15px;
  position: absolute;
}

#cntManual_Cell1_Label30 {
  width: 130px;
}

#cntManual_Cell1_Label30 {
  z-index: 5;
}

#cntManual_Cell1_Label30 {
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntManual_Cell1_lbl_Closed14 {
  height: 30px;
}

#cntManual_Cell1_lbl_Closed14 {
  top: 110px;
  position: absolute;
}

#cntManual_Cell1_lbl_Closed14 {
  left: 215px;
  position: absolute;
}

#cntManual_Cell1_lbl_Closed14 {
  width: 130px;
}

#cntManual_Cell1_lbl_Closed14 {
  z-index: 0;
}

#cntManual_Cell1_lbl_Closed14 {
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntManual_Cell1_txtCameraLight3 {
  top: 170px;
  position: absolute;
}

#cntManual_Cell1_txtCameraLight3 {
  left: 100px;
  position: absolute;
}

#cntManual_Cell1_txtCameraLight3 {
  width: 270px;
}

#cntManual_Cell1_txtCameraLight3 {
  height: 43px;
}

#cntManual_Cell1_txtCameraLight3 {
  z-index: 6;
}

#cntManual_Cell1_Cell1Vacuum1SuctionButton {
  top: 25px;
  position: absolute;
}

#cntManual_Cell1_Cell1Vacuum1SuctionButton {
  left: 215px;
  position: absolute;
}

#cntManual_Cell1_Cell1Vacuum1SuctionButton {
  width: 130px;
}

#cntManual_Cell1_Cell1Vacuum1SuctionButton {
  height: 67px;
}

#cntManual_Cell1_Cell1Vacuum1SuctionButton {
  z-index: 7;
}

#cntManual_Cell1_GroupBox15 {
  top: 255px;
  position: absolute;
}

#cntManual_Cell1_GroupBox15 {
  left: 1500px;
  position: absolute;
}

#cntManual_Cell1_GroupBox15 {
  width: 375px;
}

#cntManual_Cell1_GroupBox15 {
  height: 255px;
}

#cntManual_Cell1_GroupBox15 {
  z-index: 8;
}

#cntManual_Cell1_GroupBox15 {
  border-radius: 0px 0px 0px 0px;
}

#cntManual_Cell1_Cell1Vacuum3BlowButton {
  top: 25px;
  position: absolute;
}

#cntManual_Cell1_Cell1Vacuum3BlowButton {
  left: 15px;
  position: absolute;
}

#cntManual_Cell1_Cell1Vacuum3BlowButton {
  width: 130px;
}

#cntManual_Cell1_Cell1Vacuum3BlowButton {
  height: 67px;
}

#cntManual_Cell1_Cell1Vacuum3BlowButton {
  z-index: 1;
}

#cntManual_Cell1_Label31 {
  top: 170px;
  position: absolute;
}

#cntManual_Cell1_Label31 {
  left: -1px;
  position: absolute;
}

#cntManual_Cell1_Label31 {
  width: 91px;
}

#cntManual_Cell1_Label31 {
  height: 46px;
}

#cntManual_Cell1_Label31 {
  z-index: 2;
}

#cntManual_Cell1_Label31 {
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntManual_Cell1_Label31 {
  font-weight: bold;
}

#cntManual_Cell1_Line31 {
  z-index: 3;
}

#cntManual_Cell1_Line32 {
  z-index: 4;
}

#cntManual_Cell1_Label32 {
  height: 30px;
}

#cntManual_Cell1_Label32 {
  top: 110px;
  position: absolute;
}

#cntManual_Cell1_Label32 {
  left: 15px;
  position: absolute;
}

#cntManual_Cell1_Label32 {
  width: 130px;
}

#cntManual_Cell1_Label32 {
  z-index: 5;
}

#cntManual_Cell1_Label32 {
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntManual_Cell1_lbl_Closed15 {
  height: 30px;
}

#cntManual_Cell1_lbl_Closed15 {
  top: 110px;
  position: absolute;
}

#cntManual_Cell1_lbl_Closed15 {
  left: 215px;
  position: absolute;
}

#cntManual_Cell1_lbl_Closed15 {
  width: 130px;
}

#cntManual_Cell1_lbl_Closed15 {
  z-index: 0;
}

#cntManual_Cell1_lbl_Closed15 {
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntManual_Cell1_txtCameraLight4 {
  top: 170px;
  position: absolute;
}

#cntManual_Cell1_txtCameraLight4 {
  left: 100px;
  position: absolute;
}

#cntManual_Cell1_txtCameraLight4 {
  width: 270px;
}

#cntManual_Cell1_txtCameraLight4 {
  height: 43px;
}

#cntManual_Cell1_txtCameraLight4 {
  z-index: 6;
}

#cntManual_Cell1_Cell1Vacuum3SuctionButton {
  top: 25px;
  position: absolute;
}

#cntManual_Cell1_Cell1Vacuum3SuctionButton {
  left: 215px;
  position: absolute;
}

#cntManual_Cell1_Cell1Vacuum3SuctionButton {
  width: 130px;
}

#cntManual_Cell1_Cell1Vacuum3SuctionButton {
  height: 67px;
}

#cntManual_Cell1_Cell1Vacuum3SuctionButton {
  z-index: 7;
}

#cntManual_Cell1_GroupBox18 {
  top: 0px;
  position: absolute;
}

#cntManual_Cell1_GroupBox18 {
  left: 1125px;
  position: absolute;
}

#cntManual_Cell1_GroupBox18 {
  width: 375px;
}

#cntManual_Cell1_GroupBox18 {
  height: 255px;
}

#cntManual_Cell1_GroupBox18 {
  z-index: 9;
}

#cntManual_Cell1_GroupBox18 {
  border-radius: 0px 0px 0px 0px;
}

#cntManual_Cell1_Label37 {
  top: 170px;
  position: absolute;
}

#cntManual_Cell1_Label37 {
  left: -1px;
  position: absolute;
}

#cntManual_Cell1_Label37 {
  width: 91px;
}

#cntManual_Cell1_Label37 {
  height: 46px;
}

#cntManual_Cell1_Label37 {
  z-index: 1;
}

#cntManual_Cell1_Label37 {
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntManual_Cell1_Label37 {
  font-weight: bold;
}

#cntManual_Cell1_Line37 {
  z-index: 2;
}

#cntManual_Cell1_Line38 {
  z-index: 3;
}

#cntManual_Cell1_Label38 {
  height: 30px;
}

#cntManual_Cell1_Label38 {
  top: 110px;
  position: absolute;
}

#cntManual_Cell1_Label38 {
  left: 15px;
  position: absolute;
}

#cntManual_Cell1_Label38 {
  width: 130px;
}

#cntManual_Cell1_Label38 {
  z-index: 4;
}

#cntManual_Cell1_Label38 {
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntManual_Cell1_lbl_Closed18 {
  height: 30px;
}

#cntManual_Cell1_lbl_Closed18 {
  top: 110px;
  position: absolute;
}

#cntManual_Cell1_lbl_Closed18 {
  left: 215px;
  position: absolute;
}

#cntManual_Cell1_lbl_Closed18 {
  width: 130px;
}

#cntManual_Cell1_lbl_Closed18 {
  z-index: 0;
}

#cntManual_Cell1_lbl_Closed18 {
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntManual_Cell1_txtCameraLight7 {
  top: 170px;
  position: absolute;
}

#cntManual_Cell1_txtCameraLight7 {
  left: 100px;
  position: absolute;
}

#cntManual_Cell1_txtCameraLight7 {
  width: 270px;
}

#cntManual_Cell1_txtCameraLight7 {
  height: 43px;
}

#cntManual_Cell1_txtCameraLight7 {
  z-index: 5;
}

#cntManual_Cell1_Cell1GrpCmpnstrOpenButton {
  top: 25px;
  position: absolute;
}

#cntManual_Cell1_Cell1GrpCmpnstrOpenButton {
  left: 15px;
  position: absolute;
}

#cntManual_Cell1_Cell1GrpCmpnstrOpenButton {
  width: 130px;
}

#cntManual_Cell1_Cell1GrpCmpnstrOpenButton {
  height: 67px;
}

#cntManual_Cell1_Cell1GrpCmpnstrOpenButton {
  z-index: 6;
}

#cntManual_Cell1_Cell1GrpCmpnstrCloseButton {
  top: 25px;
  position: absolute;
}

#cntManual_Cell1_Cell1GrpCmpnstrCloseButton {
  left: 215px;
  position: absolute;
}

#cntManual_Cell1_Cell1GrpCmpnstrCloseButton {
  width: 130px;
}

#cntManual_Cell1_Cell1GrpCmpnstrCloseButton {
  height: 67px;
}

#cntManual_Cell1_Cell1GrpCmpnstrCloseButton {
  z-index: 7;
}

#cntManual_Cell1_GridLineItem2 {
  z-index: 1;
}

#cntManual_Cell1_GridLineItem2 > .container {
  border-radius: 4px;
}

#cntManual_Cell1_GroupBox17 {
  top: 255px;
  position: absolute;
}

#cntManual_Cell1_GroupBox17 {
  left: 0px;
  position: absolute;
}

#cntManual_Cell1_GroupBox17 {
  width: 375px;
}

#cntManual_Cell1_GroupBox17 {
  height: 255px;
}

#cntManual_Cell1_GroupBox17 {
  z-index: 0;
}

#cntManual_Cell1_GroupBox17 {
  border-radius: 0px 0px 0px 0px;
}

#cntManual_Cell1_Cell1Vacuum5BlowButton {
  top: 25px;
  position: absolute;
}

#cntManual_Cell1_Cell1Vacuum5BlowButton {
  left: 15px;
  position: absolute;
}

#cntManual_Cell1_Cell1Vacuum5BlowButton {
  width: 130px;
}

#cntManual_Cell1_Cell1Vacuum5BlowButton {
  height: 67px;
}

#cntManual_Cell1_Cell1Vacuum5BlowButton {
  z-index: 1;
}

#cntManual_Cell1_Label35 {
  top: 170px;
  position: absolute;
}

#cntManual_Cell1_Label35 {
  left: -1px;
  position: absolute;
}

#cntManual_Cell1_Label35 {
  width: 91px;
}

#cntManual_Cell1_Label35 {
  height: 46px;
}

#cntManual_Cell1_Label35 {
  z-index: 2;
}

#cntManual_Cell1_Label35 {
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntManual_Cell1_Label35 {
  font-weight: bold;
}

#cntManual_Cell1_Line35 {
  z-index: 3;
}

#cntManual_Cell1_Line36 {
  z-index: 4;
}

#cntManual_Cell1_Label36 {
  height: 30px;
}

#cntManual_Cell1_Label36 {
  top: 110px;
  position: absolute;
}

#cntManual_Cell1_Label36 {
  left: 15px;
  position: absolute;
}

#cntManual_Cell1_Label36 {
  width: 130px;
}

#cntManual_Cell1_Label36 {
  z-index: 5;
}

#cntManual_Cell1_Label36 {
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntManual_Cell1_lbl_Closed17 {
  height: 30px;
}

#cntManual_Cell1_lbl_Closed17 {
  top: 110px;
  position: absolute;
}

#cntManual_Cell1_lbl_Closed17 {
  left: 215px;
  position: absolute;
}

#cntManual_Cell1_lbl_Closed17 {
  width: 130px;
}

#cntManual_Cell1_lbl_Closed17 {
  z-index: 0;
}

#cntManual_Cell1_lbl_Closed17 {
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntManual_Cell1_txtCameraLight6 {
  top: 170px;
  position: absolute;
}

#cntManual_Cell1_txtCameraLight6 {
  left: 100px;
  position: absolute;
}

#cntManual_Cell1_txtCameraLight6 {
  width: 270px;
}

#cntManual_Cell1_txtCameraLight6 {
  height: 43px;
}

#cntManual_Cell1_txtCameraLight6 {
  z-index: 6;
}

#cntManual_Cell1_Cell1Vacuum5SuctionButton {
  top: 25px;
  position: absolute;
}

#cntManual_Cell1_Cell1Vacuum5SuctionButton {
  left: 215px;
  position: absolute;
}

#cntManual_Cell1_Cell1Vacuum5SuctionButton {
  width: 130px;
}

#cntManual_Cell1_Cell1Vacuum5SuctionButton {
  height: 67px;
}

#cntManual_Cell1_Cell1Vacuum5SuctionButton {
  z-index: 7;
}

#cntManual_Cell1_GroupBox19 {
  top: 0px;
  position: absolute;
}

#cntManual_Cell1_GroupBox19 {
  left: 0px;
  position: absolute;
}

#cntManual_Cell1_GroupBox19 {
  width: 375px;
}

#cntManual_Cell1_GroupBox19 {
  height: 255px;
}

#cntManual_Cell1_GroupBox19 {
  z-index: 1;
}

#cntManual_Cell1_GroupBox19 {
  border-radius: 0px 0px 0px 0px;
}

#cntManual_Cell1_Cell1Vacuum4BlowButton {
  top: 25px;
  position: absolute;
}

#cntManual_Cell1_Cell1Vacuum4BlowButton {
  left: 15px;
  position: absolute;
}

#cntManual_Cell1_Cell1Vacuum4BlowButton {
  width: 130px;
}

#cntManual_Cell1_Cell1Vacuum4BlowButton {
  height: 67px;
}

#cntManual_Cell1_Cell1Vacuum4BlowButton {
  z-index: 1;
}

#cntManual_Cell1_Label39 {
  top: 170px;
  position: absolute;
}

#cntManual_Cell1_Label39 {
  left: -1px;
  position: absolute;
}

#cntManual_Cell1_Label39 {
  width: 91px;
}

#cntManual_Cell1_Label39 {
  height: 46px;
}

#cntManual_Cell1_Label39 {
  z-index: 2;
}

#cntManual_Cell1_Label39 {
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntManual_Cell1_Label39 {
  font-weight: bold;
}

#cntManual_Cell1_Line39 {
  z-index: 3;
}

#cntManual_Cell1_Line40 {
  z-index: 4;
}

#cntManual_Cell1_Label40 {
  height: 30px;
}

#cntManual_Cell1_Label40 {
  top: 110px;
  position: absolute;
}

#cntManual_Cell1_Label40 {
  left: 15px;
  position: absolute;
}

#cntManual_Cell1_Label40 {
  width: 130px;
}

#cntManual_Cell1_Label40 {
  z-index: 5;
}

#cntManual_Cell1_Label40 {
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntManual_Cell1_lbl_Closed19 {
  height: 30px;
}

#cntManual_Cell1_lbl_Closed19 {
  top: 110px;
  position: absolute;
}

#cntManual_Cell1_lbl_Closed19 {
  left: 215px;
  position: absolute;
}

#cntManual_Cell1_lbl_Closed19 {
  width: 130px;
}

#cntManual_Cell1_lbl_Closed19 {
  z-index: 0;
}

#cntManual_Cell1_lbl_Closed19 {
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntManual_Cell1_txtCameraLight8 {
  top: 170px;
  position: absolute;
}

#cntManual_Cell1_txtCameraLight8 {
  left: 100px;
  position: absolute;
}

#cntManual_Cell1_txtCameraLight8 {
  width: 270px;
}

#cntManual_Cell1_txtCameraLight8 {
  height: 43px;
}

#cntManual_Cell1_txtCameraLight8 {
  z-index: 6;
}

#cntManual_Cell1_Cell1Vacuum4SuctionButton {
  top: 25px;
  position: absolute;
}

#cntManual_Cell1_Cell1Vacuum4SuctionButton {
  left: 215px;
  position: absolute;
}

#cntManual_Cell1_Cell1Vacuum4SuctionButton {
  width: 130px;
}

#cntManual_Cell1_Cell1Vacuum4SuctionButton {
  height: 67px;
}

#cntManual_Cell1_Cell1Vacuum4SuctionButton {
  z-index: 7;
}
