﻿@import "mixins.scss";
#cntManual_Cell2_GridLine1 {
	@include elemTop(0);
}
#cntManual_Cell2_GridLine1 {
	@include elemLeft(0);
}
#cntManual_Cell2_GridLine1 {
	@include elemWidth(1890);
}
#cntManual_Cell2_GridLine1 {
	@include elemHeight(530);
}
#cntManual_Cell2_GridLine1 {
		z-index: 0;
}
#cntManual_Cell2_GridLineItem1 {
		z-index: 0;
}
#cntManual_Cell2_GridLineItem1 {
		padding: 2px 20px 5px 10px;
}
#cntManual_Cell2_GroupBox1 {
	@include elemTop(0);
}
#cntManual_Cell2_GroupBox1 {
	@include elemLeft(0);
}
#cntManual_Cell2_GroupBox1 {
	@include elemWidth(375);
}
#cntManual_Cell2_GroupBox1 {
	@include elemHeight(255);
}
#cntManual_Cell2_GroupBox1 {
		z-index: 0;
}
#cntManual_Cell2_Cell2AirBlowButton {
	@include elemTop(12);
}
#cntManual_Cell2_Cell2AirBlowButton {
	@include elemLeft(115);
}
#cntManual_Cell2_Cell2AirBlowButton {
	@include elemAutoWidth(137);
}
#cntManual_Cell2_Cell2AirBlowButton {
	@include elemAutoHeight(67);
}
#cntManual_Cell2_Cell2AirBlowButton {
		z-index: 0;
}
#cntManual_Cell2_Label24 {
	@include elemAutoHeight(30);
}
#cntManual_Cell2_Label24 {
	@include elemTop(112);
}
#cntManual_Cell2_Label24 {
	@include elemLeft(115);
}
#cntManual_Cell2_Label24 {
	@include elemAutoWidth(135);
}
#cntManual_Cell2_Label24 {
		z-index: 1;
}
#cntManual_Cell2_Label24 {
	@include text-alignment-all('center');
}
#cntManual_Cell2_Label23 {
	@include elemTop(162);
}
#cntManual_Cell2_Label23 {
	@include elemLeft(7);
}
#cntManual_Cell2_Label23 {
	@include elemAutoWidth(75);
}
#cntManual_Cell2_Label23 {
	@include elemAutoHeight(55);
}
#cntManual_Cell2_Label23 {
		z-index: 2;
}
#cntManual_Cell2_Label23 {
		border-width: 0px 3px 0px 0px;
}
#cntManual_Cell2_Label23 {
		border-color: rgba(105, 105, 105, 1);
}
#cntManual_Cell2_Label23 {
	&:before{
		border-color: rgba(105, 105, 105, 1);
	}
}
#cntManual_Cell2_Label23 {
	&:after{
		border-color: rgba(105, 105, 105, 1);
	}
}
#cntManual_Cell2_Label23 {
		border-style: solid;
}
#cntManual_Cell2_Label23 {
	&:before{
		border-style: solid;
	}
}
#cntManual_Cell2_Label23 {
	&:after{
		border-style: solid;
	}
}
#cntManual_Cell2_Label23 {
	@include text-alignment-all('center');
}
#cntManual_Cell2_Label23 {
	@include font-weight-bold(true);
}
#cntManual_Cell2_Line1 {
		z-index: 3;
}
#cntManual_Cell2_Line1 {
	line{
		stroke: rgba(105, 105, 105, 1);
	}
}
#cntManual_Cell2_Line1 {
	line{
		stroke-width: 2px;
	}
}
#cntManual_Cell2_TextOutput1 {
	@include elemTop(160);
}
#cntManual_Cell2_TextOutput1 {
	@include elemLeft(80);
}
#cntManual_Cell2_TextOutput1 {
	@include elemAutoWidth(290);
}
#cntManual_Cell2_TextOutput1 {
	@include elemAutoHeight(50);
}
#cntManual_Cell2_TextOutput1 {
		z-index: 4;
}
#cntManual_Cell2_GroupBox2 {
	@include elemTop(0);
}
#cntManual_Cell2_GroupBox2 {
	@include elemLeft(375);
}
#cntManual_Cell2_GroupBox2 {
	@include elemWidth(375);
}
#cntManual_Cell2_GroupBox2 {
	@include elemHeight(255);
}
#cntManual_Cell2_GroupBox2 {
		z-index: 1;
}
#cntManual_Cell2_Cell2GrpToolLockOpenButton {
	@include elemTop(12);
}
#cntManual_Cell2_Cell2GrpToolLockOpenButton {
	@include elemLeft(15);
}
#cntManual_Cell2_Cell2GrpToolLockOpenButton {
	@include elemAutoWidth(137);
}
#cntManual_Cell2_Cell2GrpToolLockOpenButton {
	@include elemAutoHeight(67);
}
#cntManual_Cell2_Cell2GrpToolLockOpenButton {
		z-index: 0;
}
#cntManual_Cell2_Cell2GrpToolLockCloseButton {
	@include elemTop(12);
}
#cntManual_Cell2_Cell2GrpToolLockCloseButton {
	@include elemLeft(215);
}
#cntManual_Cell2_Cell2GrpToolLockCloseButton {
	@include elemAutoWidth(137);
}
#cntManual_Cell2_Cell2GrpToolLockCloseButton {
	@include elemAutoHeight(67);
}
#cntManual_Cell2_Cell2GrpToolLockCloseButton {
		z-index: 1;
}
#cntManual_Cell2_Label25 {
	@include elemAutoHeight(30);
}
#cntManual_Cell2_Label25 {
	@include elemTop(112);
}
#cntManual_Cell2_Label25 {
	@include elemLeft(15);
}
#cntManual_Cell2_Label25 {
	@include elemAutoWidth(135);
}
#cntManual_Cell2_Label25 {
		z-index: 2;
}
#cntManual_Cell2_Label25 {
	@include text-alignment-all('center');
}
#cntManual_Cell2_lbl_Closed12 {
	@include elemAutoHeight(30);
}
#cntManual_Cell2_lbl_Closed12 {
	@include elemTop(112);
}
#cntManual_Cell2_lbl_Closed12 {
	@include elemLeft(215);
}
#cntManual_Cell2_lbl_Closed12 {
	@include elemAutoWidth(135);
}
#cntManual_Cell2_lbl_Closed12 {
		z-index: 3;
}
#cntManual_Cell2_lbl_Closed12 {
	@include text-alignment-all('center');
}
#cntManual_Cell2_Label26 {
	@include elemTop(162);
}
#cntManual_Cell2_Label26 {
	@include elemLeft(7);
}
#cntManual_Cell2_Label26 {
	@include elemAutoWidth(75);
}
#cntManual_Cell2_Label26 {
	@include elemAutoHeight(55);
}
#cntManual_Cell2_Label26 {
		z-index: 4;
}
#cntManual_Cell2_Label26 {
		border-width: 0px 3px 0px 0px;
}
#cntManual_Cell2_Label26 {
		border-color: rgba(105, 105, 105, 1);
}
#cntManual_Cell2_Label26 {
	&:before{
		border-color: rgba(105, 105, 105, 1);
	}
}
#cntManual_Cell2_Label26 {
	&:after{
		border-color: rgba(105, 105, 105, 1);
	}
}
#cntManual_Cell2_Label26 {
		border-style: solid;
}
#cntManual_Cell2_Label26 {
	&:before{
		border-style: solid;
	}
}
#cntManual_Cell2_Label26 {
	&:after{
		border-style: solid;
	}
}
#cntManual_Cell2_Label26 {
	@include text-alignment-all('center');
}
#cntManual_Cell2_Label26 {
	@include font-weight-bold(true);
}
#cntManual_Cell2_Line2 {
		z-index: 5;
}
#cntManual_Cell2_Line2 {
	line{
		stroke: rgba(105, 105, 105, 1);
	}
}
#cntManual_Cell2_Line2 {
	line{
		stroke-width: 2px;
	}
}
#cntManual_Cell2_TextOutput2 {
	@include elemTop(164);
}
#cntManual_Cell2_TextOutput2 {
	@include elemLeft(82);
}
#cntManual_Cell2_TextOutput2 {
	@include elemAutoWidth(288);
}
#cntManual_Cell2_TextOutput2 {
	@include elemAutoHeight(56);
}
#cntManual_Cell2_TextOutput2 {
		z-index: 6;
}
#cntManual_Cell2_GroupBox3 {
	@include elemTop(0);
}
#cntManual_Cell2_GroupBox3 {
	@include elemLeft(750);
}
#cntManual_Cell2_GroupBox3 {
	@include elemWidth(375);
}
#cntManual_Cell2_GroupBox3 {
	@include elemHeight(255);
}
#cntManual_Cell2_GroupBox3 {
		z-index: 2;
}
#cntManual_Cell2_Cell2MechFoldingDownButton {
	@include elemTop(15);
}
#cntManual_Cell2_Cell2MechFoldingDownButton {
	@include elemLeft(115);
}
#cntManual_Cell2_Cell2MechFoldingDownButton {
	@include elemAutoWidth(137);
}
#cntManual_Cell2_Cell2MechFoldingDownButton {
	@include elemAutoHeight(67);
}
#cntManual_Cell2_Cell2MechFoldingDownButton {
		z-index: 0;
}
#cntManual_Cell2_Label27 {
	@include elemAutoHeight(30);
}
#cntManual_Cell2_Label27 {
	@include elemTop(112);
}
#cntManual_Cell2_Label27 {
	@include elemLeft(115);
}
#cntManual_Cell2_Label27 {
	@include elemAutoWidth(135);
}
#cntManual_Cell2_Label27 {
		z-index: 1;
}
#cntManual_Cell2_Label27 {
	@include text-alignment-all('center');
}
#cntManual_Cell2_Label28 {
	@include elemTop(162);
}
#cntManual_Cell2_Label28 {
	@include elemLeft(7);
}
#cntManual_Cell2_Label28 {
	@include elemAutoWidth(75);
}
#cntManual_Cell2_Label28 {
	@include elemAutoHeight(55);
}
#cntManual_Cell2_Label28 {
		z-index: 2;
}
#cntManual_Cell2_Label28 {
		border-width: 0px 3px 0px 0px;
}
#cntManual_Cell2_Label28 {
		border-color: rgba(105, 105, 105, 1);
}
#cntManual_Cell2_Label28 {
	&:before{
		border-color: rgba(105, 105, 105, 1);
	}
}
#cntManual_Cell2_Label28 {
	&:after{
		border-color: rgba(105, 105, 105, 1);
	}
}
#cntManual_Cell2_Label28 {
		border-style: solid;
}
#cntManual_Cell2_Label28 {
	&:before{
		border-style: solid;
	}
}
#cntManual_Cell2_Label28 {
	&:after{
		border-style: solid;
	}
}
#cntManual_Cell2_Label28 {
	@include text-alignment-all('center');
}
#cntManual_Cell2_Label28 {
	@include font-weight-bold(true);
}
#cntManual_Cell2_Line3 {
		z-index: 3;
}
#cntManual_Cell2_Line3 {
	line{
		stroke: rgba(105, 105, 105, 1);
	}
}
#cntManual_Cell2_Line3 {
	line{
		stroke-width: 2px;
	}
}
#cntManual_Cell2_TextOutput3 {
	@include elemTop(164);
}
#cntManual_Cell2_TextOutput3 {
	@include elemLeft(86);
}
#cntManual_Cell2_TextOutput3 {
	@include elemAutoWidth(280);
}
#cntManual_Cell2_TextOutput3 {
	@include elemAutoHeight(54);
}
#cntManual_Cell2_TextOutput3 {
		z-index: 4;
}
#cntManual_Cell2_GroupBox4 {
	@include elemTop(255);
}
#cntManual_Cell2_GroupBox4 {
	@include elemLeft(0);
}
#cntManual_Cell2_GroupBox4 {
	@include elemWidth(375);
}
#cntManual_Cell2_GroupBox4 {
	@include elemHeight(255);
}
#cntManual_Cell2_GroupBox4 {
		z-index: 3;
}
#cntManual_Cell2_Cell2GrpCmpnstrOpenButton {
	@include elemTop(12);
}
#cntManual_Cell2_Cell2GrpCmpnstrOpenButton {
	@include elemLeft(15);
}
#cntManual_Cell2_Cell2GrpCmpnstrOpenButton {
	@include elemAutoWidth(137);
}
#cntManual_Cell2_Cell2GrpCmpnstrOpenButton {
	@include elemAutoHeight(67);
}
#cntManual_Cell2_Cell2GrpCmpnstrOpenButton {
		z-index: 0;
}
#cntManual_Cell2_Cell2GrpCmpnstrCloseButton {
	@include elemTop(12);
}
#cntManual_Cell2_Cell2GrpCmpnstrCloseButton {
	@include elemLeft(215);
}
#cntManual_Cell2_Cell2GrpCmpnstrCloseButton {
	@include elemAutoWidth(137);
}
#cntManual_Cell2_Cell2GrpCmpnstrCloseButton {
	@include elemAutoHeight(67);
}
#cntManual_Cell2_Cell2GrpCmpnstrCloseButton {
		z-index: 1;
}
#cntManual_Cell2_Label29 {
	@include elemAutoHeight(30);
}
#cntManual_Cell2_Label29 {
	@include elemTop(112);
}
#cntManual_Cell2_Label29 {
	@include elemLeft(15);
}
#cntManual_Cell2_Label29 {
	@include elemAutoWidth(135);
}
#cntManual_Cell2_Label29 {
		z-index: 2;
}
#cntManual_Cell2_Label29 {
	@include text-alignment-all('center');
}
#cntManual_Cell2_lbl_Closed14 {
	@include elemAutoHeight(30);
}
#cntManual_Cell2_lbl_Closed14 {
	@include elemTop(112);
}
#cntManual_Cell2_lbl_Closed14 {
	@include elemLeft(215);
}
#cntManual_Cell2_lbl_Closed14 {
	@include elemAutoWidth(135);
}
#cntManual_Cell2_lbl_Closed14 {
		z-index: 3;
}
#cntManual_Cell2_lbl_Closed14 {
	@include text-alignment-all('center');
}
#cntManual_Cell2_Label30 {
	@include elemTop(162);
}
#cntManual_Cell2_Label30 {
	@include elemLeft(7);
}
#cntManual_Cell2_Label30 {
	@include elemAutoWidth(75);
}
#cntManual_Cell2_Label30 {
	@include elemAutoHeight(55);
}
#cntManual_Cell2_Label30 {
		z-index: 4;
}
#cntManual_Cell2_Label30 {
		border-width: 0px 3px 0px 0px;
}
#cntManual_Cell2_Label30 {
		border-color: rgba(105, 105, 105, 1);
}
#cntManual_Cell2_Label30 {
	&:before{
		border-color: rgba(105, 105, 105, 1);
	}
}
#cntManual_Cell2_Label30 {
	&:after{
		border-color: rgba(105, 105, 105, 1);
	}
}
#cntManual_Cell2_Label30 {
		border-style: solid;
}
#cntManual_Cell2_Label30 {
	&:before{
		border-style: solid;
	}
}
#cntManual_Cell2_Label30 {
	&:after{
		border-style: solid;
	}
}
#cntManual_Cell2_Label30 {
	@include text-alignment-all('center');
}
#cntManual_Cell2_Label30 {
	@include font-weight-bold(true);
}
#cntManual_Cell2_Line4 {
		z-index: 5;
}
#cntManual_Cell2_Line4 {
	line{
		stroke: rgba(105, 105, 105, 1);
	}
}
#cntManual_Cell2_Line4 {
	line{
		stroke-width: 2px;
	}
}
#cntManual_Cell2_TextOutput4 {
	@include elemTop(159);
}
#cntManual_Cell2_TextOutput4 {
	@include elemLeft(76);
}
#cntManual_Cell2_TextOutput4 {
	@include elemAutoWidth(294);
}
#cntManual_Cell2_TextOutput4 {
	@include elemAutoHeight(60);
}
#cntManual_Cell2_TextOutput4 {
		z-index: 6;
}
#cntManual_Cell2_GroupBox5 {
	@include elemTop(255);
}
#cntManual_Cell2_GroupBox5 {
	@include elemLeft(375);
}
#cntManual_Cell2_GroupBox5 {
	@include elemWidth(375);
}
#cntManual_Cell2_GroupBox5 {
	@include elemHeight(255);
}
#cntManual_Cell2_GroupBox5 {
		z-index: 4;
}
#cntManual_Cell2_Cell2BannerLightButton {
	@include elemTop(12);
}
#cntManual_Cell2_Cell2BannerLightButton {
	@include elemLeft(115);
}
#cntManual_Cell2_Cell2BannerLightButton {
	@include elemAutoWidth(137);
}
#cntManual_Cell2_Cell2BannerLightButton {
	@include elemAutoHeight(67);
}
#cntManual_Cell2_Cell2BannerLightButton {
		z-index: 0;
}
#cntManual_Cell2_Label31 {
	@include elemAutoHeight(30);
}
#cntManual_Cell2_Label31 {
	@include elemTop(112);
}
#cntManual_Cell2_Label31 {
	@include elemLeft(115);
}
#cntManual_Cell2_Label31 {
	@include elemAutoWidth(135);
}
#cntManual_Cell2_Label31 {
		z-index: 1;
}
#cntManual_Cell2_Label31 {
	@include text-alignment-all('center');
}
#cntManual_Cell2_Label32 {
	@include elemTop(162);
}
#cntManual_Cell2_Label32 {
	@include elemLeft(7);
}
#cntManual_Cell2_Label32 {
	@include elemAutoWidth(75);
}
#cntManual_Cell2_Label32 {
	@include elemAutoHeight(55);
}
#cntManual_Cell2_Label32 {
		z-index: 2;
}
#cntManual_Cell2_Label32 {
		border-width: 0px 3px 0px 0px;
}
#cntManual_Cell2_Label32 {
		border-color: rgba(105, 105, 105, 1);
}
#cntManual_Cell2_Label32 {
	&:before{
		border-color: rgba(105, 105, 105, 1);
	}
}
#cntManual_Cell2_Label32 {
	&:after{
		border-color: rgba(105, 105, 105, 1);
	}
}
#cntManual_Cell2_Label32 {
		border-style: solid;
}
#cntManual_Cell2_Label32 {
	&:before{
		border-style: solid;
	}
}
#cntManual_Cell2_Label32 {
	&:after{
		border-style: solid;
	}
}
#cntManual_Cell2_Label32 {
	@include text-alignment-all('center');
}
#cntManual_Cell2_Label32 {
	@include font-weight-bold(true);
}
#cntManual_Cell2_Line5 {
		z-index: 3;
}
#cntManual_Cell2_Line5 {
	line{
		stroke: rgba(105, 105, 105, 1);
	}
}
#cntManual_Cell2_Line5 {
	line{
		stroke-width: 2px;
	}
}
#cntManual_Cell2_TextOutput5 {
	@include elemTop(159);
}
#cntManual_Cell2_TextOutput5 {
	@include elemLeft(81);
}
#cntManual_Cell2_TextOutput5 {
	@include elemAutoWidth(280);
}
#cntManual_Cell2_TextOutput5 {
	@include elemAutoHeight(60);
}
#cntManual_Cell2_TextOutput5 {
		z-index: 4;
}
#cntManual_Cell2_GroupBox6 {
	@include elemTop(255);
}
#cntManual_Cell2_GroupBox6 {
	@include elemLeft(750);
}
#cntManual_Cell2_GroupBox6 {
	@include elemWidth(375);
}
#cntManual_Cell2_GroupBox6 {
	@include elemHeight(255);
}
#cntManual_Cell2_GroupBox6 {
		z-index: 5;
}
#cntManual_Cell2_Cell2MechLinCylndrBwdButton {
	@include elemTop(12);
}
#cntManual_Cell2_Cell2MechLinCylndrBwdButton {
	@include elemLeft(15);
}
#cntManual_Cell2_Cell2MechLinCylndrBwdButton {
	@include elemAutoWidth(137);
}
#cntManual_Cell2_Cell2MechLinCylndrBwdButton {
	@include elemAutoHeight(67);
}
#cntManual_Cell2_Cell2MechLinCylndrBwdButton {
		z-index: 0;
}
#cntManual_Cell2_Cell2MechLinCylndrFwdButton {
	@include elemTop(12);
}
#cntManual_Cell2_Cell2MechLinCylndrFwdButton {
	@include elemLeft(215);
}
#cntManual_Cell2_Cell2MechLinCylndrFwdButton {
	@include elemAutoWidth(137);
}
#cntManual_Cell2_Cell2MechLinCylndrFwdButton {
	@include elemAutoHeight(67);
}
#cntManual_Cell2_Cell2MechLinCylndrFwdButton {
		z-index: 1;
}
#cntManual_Cell2_Label33 {
	@include elemAutoHeight(30);
}
#cntManual_Cell2_Label33 {
	@include elemTop(112);
}
#cntManual_Cell2_Label33 {
	@include elemLeft(15);
}
#cntManual_Cell2_Label33 {
	@include elemAutoWidth(135);
}
#cntManual_Cell2_Label33 {
		z-index: 2;
}
#cntManual_Cell2_Label33 {
	@include text-alignment-all('center');
}
#cntManual_Cell2_lbl_Closed16 {
	@include elemAutoHeight(30);
}
#cntManual_Cell2_lbl_Closed16 {
	@include elemTop(112);
}
#cntManual_Cell2_lbl_Closed16 {
	@include elemLeft(215);
}
#cntManual_Cell2_lbl_Closed16 {
	@include elemAutoWidth(135);
}
#cntManual_Cell2_lbl_Closed16 {
		z-index: 3;
}
#cntManual_Cell2_lbl_Closed16 {
	@include text-alignment-all('center');
}
#cntManual_Cell2_Label34 {
	@include elemTop(162);
}
#cntManual_Cell2_Label34 {
	@include elemLeft(7);
}
#cntManual_Cell2_Label34 {
	@include elemAutoWidth(75);
}
#cntManual_Cell2_Label34 {
	@include elemAutoHeight(55);
}
#cntManual_Cell2_Label34 {
		z-index: 4;
}
#cntManual_Cell2_Label34 {
		border-width: 0px 3px 0px 0px;
}
#cntManual_Cell2_Label34 {
		border-color: rgba(105, 105, 105, 1);
}
#cntManual_Cell2_Label34 {
	&:before{
		border-color: rgba(105, 105, 105, 1);
	}
}
#cntManual_Cell2_Label34 {
	&:after{
		border-color: rgba(105, 105, 105, 1);
	}
}
#cntManual_Cell2_Label34 {
		border-style: solid;
}
#cntManual_Cell2_Label34 {
	&:before{
		border-style: solid;
	}
}
#cntManual_Cell2_Label34 {
	&:after{
		border-style: solid;
	}
}
#cntManual_Cell2_Label34 {
	@include text-alignment-all('center');
}
#cntManual_Cell2_Label34 {
	@include font-weight-bold(true);
}
#cntManual_Cell2_Line6 {
		z-index: 5;
}
#cntManual_Cell2_Line6 {
	line{
		stroke: rgba(105, 105, 105, 1);
	}
}
#cntManual_Cell2_Line6 {
	line{
		stroke-width: 2px;
	}
}
#cntManual_Cell2_TextOutput6 {
	@include elemTop(159);
}
#cntManual_Cell2_TextOutput6 {
	@include elemLeft(76);
}
#cntManual_Cell2_TextOutput6 {
	@include elemAutoWidth(284);
}
#cntManual_Cell2_TextOutput6 {
	@include elemAutoHeight(60);
}
#cntManual_Cell2_TextOutput6 {
		z-index: 6;
}
#cntManual_Cell2_GroupBox7 {
	@include elemTop(0);
}
#cntManual_Cell2_GroupBox7 {
	@include elemLeft(1125);
}
#cntManual_Cell2_GroupBox7 {
	@include elemWidth(375);
}
#cntManual_Cell2_GroupBox7 {
	@include elemHeight(255);
}
#cntManual_Cell2_GroupBox7 {
		z-index: 6;
}
#cntManual_Cell2_Cell2MechPickDownButton {
	@include elemTop(12);
}
#cntManual_Cell2_Cell2MechPickDownButton {
	@include elemLeft(115);
}
#cntManual_Cell2_Cell2MechPickDownButton {
	@include elemAutoWidth(137);
}
#cntManual_Cell2_Cell2MechPickDownButton {
	@include elemAutoHeight(67);
}
#cntManual_Cell2_Cell2MechPickDownButton {
		z-index: 0;
}
#cntManual_Cell2_Label35 {
	@include elemAutoHeight(30);
}
#cntManual_Cell2_Label35 {
	@include elemTop(112);
}
#cntManual_Cell2_Label35 {
	@include elemLeft(115);
}
#cntManual_Cell2_Label35 {
	@include elemAutoWidth(135);
}
#cntManual_Cell2_Label35 {
		z-index: 1;
}
#cntManual_Cell2_Label35 {
	@include text-alignment-all('center');
}
#cntManual_Cell2_Label36 {
	@include elemTop(162);
}
#cntManual_Cell2_Label36 {
	@include elemLeft(7);
}
#cntManual_Cell2_Label36 {
	@include elemAutoWidth(75);
}
#cntManual_Cell2_Label36 {
	@include elemAutoHeight(55);
}
#cntManual_Cell2_Label36 {
		z-index: 2;
}
#cntManual_Cell2_Label36 {
		border-width: 0px 3px 0px 0px;
}
#cntManual_Cell2_Label36 {
		border-color: rgba(105, 105, 105, 1);
}
#cntManual_Cell2_Label36 {
	&:before{
		border-color: rgba(105, 105, 105, 1);
	}
}
#cntManual_Cell2_Label36 {
	&:after{
		border-color: rgba(105, 105, 105, 1);
	}
}
#cntManual_Cell2_Label36 {
		border-style: solid;
}
#cntManual_Cell2_Label36 {
	&:before{
		border-style: solid;
	}
}
#cntManual_Cell2_Label36 {
	&:after{
		border-style: solid;
	}
}
#cntManual_Cell2_Label36 {
	@include text-alignment-all('center');
}
#cntManual_Cell2_Label36 {
	@include font-weight-bold(true);
}
#cntManual_Cell2_Line7 {
		z-index: 3;
}
#cntManual_Cell2_Line7 {
	line{
		stroke: rgba(105, 105, 105, 1);
	}
}
#cntManual_Cell2_Line7 {
	line{
		stroke-width: 2px;
	}
}
#cntManual_Cell2_TextOutput7 {
	@include elemTop(159);
}
#cntManual_Cell2_TextOutput7 {
	@include elemLeft(76);
}
#cntManual_Cell2_TextOutput7 {
	@include elemAutoWidth(284);
}
#cntManual_Cell2_TextOutput7 {
	@include elemAutoHeight(60);
}
#cntManual_Cell2_TextOutput7 {
		z-index: 4;
}
#cntManual_Cell2_GroupBox8 {
	@include elemTop(255);
}
#cntManual_Cell2_GroupBox8 {
	@include elemLeft(1125);
}
#cntManual_Cell2_GroupBox8 {
	@include elemWidth(375);
}
#cntManual_Cell2_GroupBox8 {
	@include elemHeight(255);
}
#cntManual_Cell2_GroupBox8 {
		z-index: 7;
}
#cntManual_Cell2_Cell2MechTurnDownButton {
	@include elemTop(12);
}
#cntManual_Cell2_Cell2MechTurnDownButton {
	@include elemLeft(15);
}
#cntManual_Cell2_Cell2MechTurnDownButton {
	@include elemAutoWidth(137);
}
#cntManual_Cell2_Cell2MechTurnDownButton {
	@include elemAutoHeight(67);
}
#cntManual_Cell2_Cell2MechTurnDownButton {
		z-index: 0;
}
#cntManual_Cell2_Cell2MechTurnUpButton {
	@include elemTop(12);
}
#cntManual_Cell2_Cell2MechTurnUpButton {
	@include elemLeft(215);
}
#cntManual_Cell2_Cell2MechTurnUpButton {
	@include elemAutoWidth(137);
}
#cntManual_Cell2_Cell2MechTurnUpButton {
	@include elemAutoHeight(67);
}
#cntManual_Cell2_Cell2MechTurnUpButton {
		z-index: 1;
}
#cntManual_Cell2_Label37 {
	@include elemAutoHeight(30);
}
#cntManual_Cell2_Label37 {
	@include elemTop(112);
}
#cntManual_Cell2_Label37 {
	@include elemLeft(15);
}
#cntManual_Cell2_Label37 {
	@include elemAutoWidth(135);
}
#cntManual_Cell2_Label37 {
		z-index: 2;
}
#cntManual_Cell2_Label37 {
	@include text-alignment-all('center');
}
#cntManual_Cell2_lbl_Closed18 {
	@include elemAutoHeight(30);
}
#cntManual_Cell2_lbl_Closed18 {
	@include elemTop(112);
}
#cntManual_Cell2_lbl_Closed18 {
	@include elemLeft(215);
}
#cntManual_Cell2_lbl_Closed18 {
	@include elemAutoWidth(135);
}
#cntManual_Cell2_lbl_Closed18 {
		z-index: 3;
}
#cntManual_Cell2_lbl_Closed18 {
	@include text-alignment-all('center');
}
#cntManual_Cell2_Label38 {
	@include elemTop(162);
}
#cntManual_Cell2_Label38 {
	@include elemLeft(7);
}
#cntManual_Cell2_Label38 {
	@include elemAutoWidth(75);
}
#cntManual_Cell2_Label38 {
	@include elemAutoHeight(55);
}
#cntManual_Cell2_Label38 {
		z-index: 4;
}
#cntManual_Cell2_Label38 {
		border-width: 0px 3px 0px 0px;
}
#cntManual_Cell2_Label38 {
		border-color: rgba(105, 105, 105, 1);
}
#cntManual_Cell2_Label38 {
	&:before{
		border-color: rgba(105, 105, 105, 1);
	}
}
#cntManual_Cell2_Label38 {
	&:after{
		border-color: rgba(105, 105, 105, 1);
	}
}
#cntManual_Cell2_Label38 {
		border-style: solid;
}
#cntManual_Cell2_Label38 {
	&:before{
		border-style: solid;
	}
}
#cntManual_Cell2_Label38 {
	&:after{
		border-style: solid;
	}
}
#cntManual_Cell2_Label38 {
	@include text-alignment-all('center');
}
#cntManual_Cell2_Label38 {
	@include font-weight-bold(true);
}
#cntManual_Cell2_Line8 {
		z-index: 5;
}
#cntManual_Cell2_Line8 {
	line{
		stroke: rgba(105, 105, 105, 1);
	}
}
#cntManual_Cell2_Line8 {
	line{
		stroke-width: 2px;
	}
}
#cntManual_Cell2_TextOutput8 {
	@include elemTop(159);
}
#cntManual_Cell2_TextOutput8 {
	@include elemLeft(76);
}
#cntManual_Cell2_TextOutput8 {
	@include elemAutoWidth(284);
}
#cntManual_Cell2_TextOutput8 {
	@include elemAutoHeight(60);
}
#cntManual_Cell2_TextOutput8 {
		z-index: 6;
}
#cntManual_Cell2_GroupBox9 {
	@include elemTop(0);
}
#cntManual_Cell2_GroupBox9 {
	@include elemLeft(1500);
}
#cntManual_Cell2_GroupBox9 {
	@include elemWidth(369);
}
#cntManual_Cell2_GroupBox9 {
	@include elemHeight(255);
}
#cntManual_Cell2_GroupBox9 {
		z-index: 8;
}
#cntManual_Cell2_Cell2SmClampOpenButton {
	@include elemTop(15);
}
#cntManual_Cell2_Cell2SmClampOpenButton {
	@include elemLeft(115);
}
#cntManual_Cell2_Cell2SmClampOpenButton {
	@include elemAutoWidth(137);
}
#cntManual_Cell2_Cell2SmClampOpenButton {
	@include elemAutoHeight(67);
}
#cntManual_Cell2_Cell2SmClampOpenButton {
		z-index: 0;
}
#cntManual_Cell2_Label39 {
	@include elemAutoHeight(30);
}
#cntManual_Cell2_Label39 {
	@include elemTop(112);
}
#cntManual_Cell2_Label39 {
	@include elemLeft(115);
}
#cntManual_Cell2_Label39 {
	@include elemAutoWidth(135);
}
#cntManual_Cell2_Label39 {
		z-index: 1;
}
#cntManual_Cell2_Label39 {
	@include text-alignment-all('center');
}
#cntManual_Cell2_Label40 {
	@include elemTop(162);
}
#cntManual_Cell2_Label40 {
	@include elemLeft(7);
}
#cntManual_Cell2_Label40 {
	@include elemAutoWidth(75);
}
#cntManual_Cell2_Label40 {
	@include elemAutoHeight(55);
}
#cntManual_Cell2_Label40 {
		z-index: 2;
}
#cntManual_Cell2_Label40 {
		border-width: 0px 3px 0px 0px;
}
#cntManual_Cell2_Label40 {
		border-color: rgba(105, 105, 105, 1);
}
#cntManual_Cell2_Label40 {
	&:before{
		border-color: rgba(105, 105, 105, 1);
	}
}
#cntManual_Cell2_Label40 {
	&:after{
		border-color: rgba(105, 105, 105, 1);
	}
}
#cntManual_Cell2_Label40 {
		border-style: solid;
}
#cntManual_Cell2_Label40 {
	&:before{
		border-style: solid;
	}
}
#cntManual_Cell2_Label40 {
	&:after{
		border-style: solid;
	}
}
#cntManual_Cell2_Label40 {
	@include text-alignment-all('center');
}
#cntManual_Cell2_Label40 {
	@include font-weight-bold(true);
}
#cntManual_Cell2_Line9 {
		z-index: 3;
}
#cntManual_Cell2_Line9 {
	line{
		stroke: rgba(105, 105, 105, 1);
	}
}
#cntManual_Cell2_Line9 {
	line{
		stroke-width: 2px;
	}
}
#cntManual_Cell2_TextOutput9 {
	@include elemTop(159);
}
#cntManual_Cell2_TextOutput9 {
	@include elemLeft(76);
}
#cntManual_Cell2_TextOutput9 {
	@include elemAutoWidth(284);
}
#cntManual_Cell2_TextOutput9 {
	@include elemAutoHeight(60);
}
#cntManual_Cell2_TextOutput9 {
		z-index: 4;
}
#cntManual_Cell2_GroupBox10 {
	@include elemTop(255);
}
#cntManual_Cell2_GroupBox10 {
	@include elemLeft(1500);
}
#cntManual_Cell2_GroupBox10 {
	@include elemWidth(369);
}
#cntManual_Cell2_GroupBox10 {
	@include elemHeight(255);
}
#cntManual_Cell2_GroupBox10 {
		z-index: 9;
}
#cntManual_Cell2_Cell2SmLockCylndrOpenButton {
	@include elemTop(12);
}
#cntManual_Cell2_Cell2SmLockCylndrOpenButton {
	@include elemLeft(15);
}
#cntManual_Cell2_Cell2SmLockCylndrOpenButton {
	@include elemAutoWidth(137);
}
#cntManual_Cell2_Cell2SmLockCylndrOpenButton {
	@include elemAutoHeight(67);
}
#cntManual_Cell2_Cell2SmLockCylndrOpenButton {
		z-index: 0;
}
#cntManual_Cell2_Cell2SmLockCylndrCloseButton {
	@include elemTop(12);
}
#cntManual_Cell2_Cell2SmLockCylndrCloseButton {
	@include elemLeft(215);
}
#cntManual_Cell2_Cell2SmLockCylndrCloseButton {
	@include elemAutoWidth(137);
}
#cntManual_Cell2_Cell2SmLockCylndrCloseButton {
	@include elemAutoHeight(67);
}
#cntManual_Cell2_Cell2SmLockCylndrCloseButton {
		z-index: 1;
}
#cntManual_Cell2_Label41 {
	@include elemAutoHeight(30);
}
#cntManual_Cell2_Label41 {
	@include elemTop(112);
}
#cntManual_Cell2_Label41 {
	@include elemLeft(15);
}
#cntManual_Cell2_Label41 {
	@include elemAutoWidth(135);
}
#cntManual_Cell2_Label41 {
		z-index: 2;
}
#cntManual_Cell2_Label41 {
	@include text-alignment-all('center');
}
#cntManual_Cell2_lbl_Closed20 {
	@include elemAutoHeight(30);
}
#cntManual_Cell2_lbl_Closed20 {
	@include elemTop(112);
}
#cntManual_Cell2_lbl_Closed20 {
	@include elemLeft(215);
}
#cntManual_Cell2_lbl_Closed20 {
	@include elemAutoWidth(135);
}
#cntManual_Cell2_lbl_Closed20 {
		z-index: 3;
}
#cntManual_Cell2_lbl_Closed20 {
	@include text-alignment-all('center');
}
#cntManual_Cell2_Label42 {
	@include elemTop(162);
}
#cntManual_Cell2_Label42 {
	@include elemLeft(7);
}
#cntManual_Cell2_Label42 {
	@include elemAutoWidth(75);
}
#cntManual_Cell2_Label42 {
	@include elemAutoHeight(55);
}
#cntManual_Cell2_Label42 {
		z-index: 4;
}
#cntManual_Cell2_Label42 {
		border-width: 0px 3px 0px 0px;
}
#cntManual_Cell2_Label42 {
		border-color: rgba(105, 105, 105, 1);
}
#cntManual_Cell2_Label42 {
	&:before{
		border-color: rgba(105, 105, 105, 1);
	}
}
#cntManual_Cell2_Label42 {
	&:after{
		border-color: rgba(105, 105, 105, 1);
	}
}
#cntManual_Cell2_Label42 {
		border-style: solid;
}
#cntManual_Cell2_Label42 {
	&:before{
		border-style: solid;
	}
}
#cntManual_Cell2_Label42 {
	&:after{
		border-style: solid;
	}
}
#cntManual_Cell2_Label42 {
	@include text-alignment-all('center');
}
#cntManual_Cell2_Label42 {
	@include font-weight-bold(true);
}
#cntManual_Cell2_Line10 {
		z-index: 5;
}
#cntManual_Cell2_Line10 {
	line{
		stroke: rgba(105, 105, 105, 1);
	}
}
#cntManual_Cell2_Line10 {
	line{
		stroke-width: 2px;
	}
}
#cntManual_Cell2_TextOutput10 {
	@include elemTop(159);
}
#cntManual_Cell2_TextOutput10 {
	@include elemLeft(76);
}
#cntManual_Cell2_TextOutput10 {
	@include elemAutoWidth(284);
}
#cntManual_Cell2_TextOutput10 {
	@include elemAutoHeight(60);
}
#cntManual_Cell2_TextOutput10 {
		z-index: 6;
}
#cntManual_Cell2_GridLineItem2 {
		z-index: 1;
}
#cntManual_Cell2_GroupBox11 {
	@include elemTop(0);
}
#cntManual_Cell2_GroupBox11 {
	@include elemLeft(0);
}
#cntManual_Cell2_GroupBox11 {
	@include elemWidth(369);
}
#cntManual_Cell2_GroupBox11 {
	@include elemHeight(255);
}
#cntManual_Cell2_GroupBox11 {
		z-index: 0;
}
#cntManual_Cell2_Cell2TrVacuum1BlowButton {
	@include elemTop(12);
}
#cntManual_Cell2_Cell2TrVacuum1BlowButton {
	@include elemLeft(15);
}
#cntManual_Cell2_Cell2TrVacuum1BlowButton {
	@include elemAutoWidth(137);
}
#cntManual_Cell2_Cell2TrVacuum1BlowButton {
	@include elemAutoHeight(67);
}
#cntManual_Cell2_Cell2TrVacuum1BlowButton {
		z-index: 0;
}
#cntManual_Cell2_Cell2TrVacuum1SuctionButton {
	@include elemTop(12);
}
#cntManual_Cell2_Cell2TrVacuum1SuctionButton {
	@include elemLeft(215);
}
#cntManual_Cell2_Cell2TrVacuum1SuctionButton {
	@include elemAutoWidth(137);
}
#cntManual_Cell2_Cell2TrVacuum1SuctionButton {
	@include elemAutoHeight(67);
}
#cntManual_Cell2_Cell2TrVacuum1SuctionButton {
		z-index: 1;
}
#cntManual_Cell2_Label43 {
	@include elemAutoHeight(30);
}
#cntManual_Cell2_Label43 {
	@include elemTop(112);
}
#cntManual_Cell2_Label43 {
	@include elemLeft(15);
}
#cntManual_Cell2_Label43 {
	@include elemAutoWidth(135);
}
#cntManual_Cell2_Label43 {
		z-index: 2;
}
#cntManual_Cell2_Label43 {
	@include text-alignment-all('center');
}
#cntManual_Cell2_lbl_Closed21 {
	@include elemAutoHeight(30);
}
#cntManual_Cell2_lbl_Closed21 {
	@include elemTop(112);
}
#cntManual_Cell2_lbl_Closed21 {
	@include elemLeft(215);
}
#cntManual_Cell2_lbl_Closed21 {
	@include elemAutoWidth(135);
}
#cntManual_Cell2_lbl_Closed21 {
		z-index: 3;
}
#cntManual_Cell2_lbl_Closed21 {
	@include text-alignment-all('center');
}
#cntManual_Cell2_Label44 {
	@include elemTop(162);
}
#cntManual_Cell2_Label44 {
	@include elemLeft(7);
}
#cntManual_Cell2_Label44 {
	@include elemAutoWidth(75);
}
#cntManual_Cell2_Label44 {
	@include elemAutoHeight(55);
}
#cntManual_Cell2_Label44 {
		z-index: 4;
}
#cntManual_Cell2_Label44 {
		border-width: 0px 3px 0px 0px;
}
#cntManual_Cell2_Label44 {
		border-color: rgba(105, 105, 105, 1);
}
#cntManual_Cell2_Label44 {
	&:before{
		border-color: rgba(105, 105, 105, 1);
	}
}
#cntManual_Cell2_Label44 {
	&:after{
		border-color: rgba(105, 105, 105, 1);
	}
}
#cntManual_Cell2_Label44 {
		border-style: solid;
}
#cntManual_Cell2_Label44 {
	&:before{
		border-style: solid;
	}
}
#cntManual_Cell2_Label44 {
	&:after{
		border-style: solid;
	}
}
#cntManual_Cell2_Label44 {
	@include text-alignment-all('center');
}
#cntManual_Cell2_Label44 {
	@include font-weight-bold(true);
}
#cntManual_Cell2_Line11 {
		z-index: 5;
}
#cntManual_Cell2_Line11 {
	line{
		stroke: rgba(105, 105, 105, 1);
	}
}
#cntManual_Cell2_Line11 {
	line{
		stroke-width: 2px;
	}
}
#cntManual_Cell2_TextOutput11 {
	@include elemTop(159);
}
#cntManual_Cell2_TextOutput11 {
	@include elemLeft(76);
}
#cntManual_Cell2_TextOutput11 {
	@include elemAutoWidth(284);
}
#cntManual_Cell2_TextOutput11 {
	@include elemAutoHeight(60);
}
#cntManual_Cell2_TextOutput11 {
		z-index: 6;
}
#cntManual_Cell2_GroupBox12 {
	@include elemTop(255);
}
#cntManual_Cell2_GroupBox12 {
	@include elemLeft(0);
}
#cntManual_Cell2_GroupBox12 {
	@include elemWidth(369);
}
#cntManual_Cell2_GroupBox12 {
	@include elemHeight(255);
}
#cntManual_Cell2_GroupBox12 {
		z-index: 1;
}
#cntManual_Cell2_Cell2TrVacuum2BlowButton {
	@include elemTop(12);
}
#cntManual_Cell2_Cell2TrVacuum2BlowButton {
	@include elemLeft(15);
}
#cntManual_Cell2_Cell2TrVacuum2BlowButton {
	@include elemAutoWidth(137);
}
#cntManual_Cell2_Cell2TrVacuum2BlowButton {
	@include elemAutoHeight(67);
}
#cntManual_Cell2_Cell2TrVacuum2BlowButton {
		z-index: 0;
}
#cntManual_Cell2_Cell2TrVacuum2SuctionButton {
	@include elemTop(12);
}
#cntManual_Cell2_Cell2TrVacuum2SuctionButton {
	@include elemLeft(215);
}
#cntManual_Cell2_Cell2TrVacuum2SuctionButton {
	@include elemAutoWidth(137);
}
#cntManual_Cell2_Cell2TrVacuum2SuctionButton {
	@include elemAutoHeight(67);
}
#cntManual_Cell2_Cell2TrVacuum2SuctionButton {
		z-index: 1;
}
#cntManual_Cell2_Label45 {
	@include elemAutoHeight(30);
}
#cntManual_Cell2_Label45 {
	@include elemTop(112);
}
#cntManual_Cell2_Label45 {
	@include elemLeft(15);
}
#cntManual_Cell2_Label45 {
	@include elemAutoWidth(135);
}
#cntManual_Cell2_Label45 {
		z-index: 2;
}
#cntManual_Cell2_Label45 {
	@include text-alignment-all('center');
}
#cntManual_Cell2_lbl_Closed22 {
	@include elemAutoHeight(30);
}
#cntManual_Cell2_lbl_Closed22 {
	@include elemTop(112);
}
#cntManual_Cell2_lbl_Closed22 {
	@include elemLeft(215);
}
#cntManual_Cell2_lbl_Closed22 {
	@include elemAutoWidth(135);
}
#cntManual_Cell2_lbl_Closed22 {
		z-index: 3;
}
#cntManual_Cell2_lbl_Closed22 {
	@include text-alignment-all('center');
}
#cntManual_Cell2_Label46 {
	@include elemTop(162);
}
#cntManual_Cell2_Label46 {
	@include elemLeft(7);
}
#cntManual_Cell2_Label46 {
	@include elemAutoWidth(75);
}
#cntManual_Cell2_Label46 {
	@include elemAutoHeight(55);
}
#cntManual_Cell2_Label46 {
		z-index: 4;
}
#cntManual_Cell2_Label46 {
		border-width: 0px 3px 0px 0px;
}
#cntManual_Cell2_Label46 {
		border-color: rgba(105, 105, 105, 1);
}
#cntManual_Cell2_Label46 {
	&:before{
		border-color: rgba(105, 105, 105, 1);
	}
}
#cntManual_Cell2_Label46 {
	&:after{
		border-color: rgba(105, 105, 105, 1);
	}
}
#cntManual_Cell2_Label46 {
		border-style: solid;
}
#cntManual_Cell2_Label46 {
	&:before{
		border-style: solid;
	}
}
#cntManual_Cell2_Label46 {
	&:after{
		border-style: solid;
	}
}
#cntManual_Cell2_Label46 {
	@include text-alignment-all('center');
}
#cntManual_Cell2_Label46 {
	@include font-weight-bold(true);
}
#cntManual_Cell2_Line12 {
		z-index: 5;
}
#cntManual_Cell2_Line12 {
	line{
		stroke: rgba(105, 105, 105, 1);
	}
}
#cntManual_Cell2_Line12 {
	line{
		stroke-width: 2px;
	}
}
#cntManual_Cell2_TextOutput12 {
	@include elemTop(159);
}
#cntManual_Cell2_TextOutput12 {
	@include elemLeft(76);
}
#cntManual_Cell2_TextOutput12 {
	@include elemAutoWidth(284);
}
#cntManual_Cell2_TextOutput12 {
	@include elemAutoHeight(60);
}
#cntManual_Cell2_TextOutput12 {
		z-index: 6;
}
#cntManual_Cell2_GroupBox13 {
	@include elemTop(0);
}
#cntManual_Cell2_GroupBox13 {
	@include elemLeft(369);
}
#cntManual_Cell2_GroupBox13 {
	@include elemWidth(369);
}
#cntManual_Cell2_GroupBox13 {
	@include elemHeight(255);
}
#cntManual_Cell2_GroupBox13 {
		z-index: 2;
}
#cntManual_Cell2_Cell2VacuumBlowButton {
	@include elemTop(12);
}
#cntManual_Cell2_Cell2VacuumBlowButton {
	@include elemLeft(15);
}
#cntManual_Cell2_Cell2VacuumBlowButton {
	@include elemAutoWidth(137);
}
#cntManual_Cell2_Cell2VacuumBlowButton {
	@include elemAutoHeight(67);
}
#cntManual_Cell2_Cell2VacuumBlowButton {
		z-index: 0;
}
#cntManual_Cell2_Cell2VacuumSuctionButton {
	@include elemTop(12);
}
#cntManual_Cell2_Cell2VacuumSuctionButton {
	@include elemLeft(215);
}
#cntManual_Cell2_Cell2VacuumSuctionButton {
	@include elemAutoWidth(137);
}
#cntManual_Cell2_Cell2VacuumSuctionButton {
	@include elemAutoHeight(67);
}
#cntManual_Cell2_Cell2VacuumSuctionButton {
		z-index: 1;
}
#cntManual_Cell2_Label47 {
	@include elemAutoHeight(30);
}
#cntManual_Cell2_Label47 {
	@include elemTop(112);
}
#cntManual_Cell2_Label47 {
	@include elemLeft(15);
}
#cntManual_Cell2_Label47 {
	@include elemAutoWidth(135);
}
#cntManual_Cell2_Label47 {
		z-index: 2;
}
#cntManual_Cell2_Label47 {
	@include text-alignment-all('center');
}
#cntManual_Cell2_lbl_Closed23 {
	@include elemAutoHeight(30);
}
#cntManual_Cell2_lbl_Closed23 {
	@include elemTop(112);
}
#cntManual_Cell2_lbl_Closed23 {
	@include elemLeft(215);
}
#cntManual_Cell2_lbl_Closed23 {
	@include elemAutoWidth(135);
}
#cntManual_Cell2_lbl_Closed23 {
		z-index: 3;
}
#cntManual_Cell2_lbl_Closed23 {
	@include text-alignment-all('center');
}
#cntManual_Cell2_Label48 {
	@include elemTop(162);
}
#cntManual_Cell2_Label48 {
	@include elemLeft(7);
}
#cntManual_Cell2_Label48 {
	@include elemAutoWidth(75);
}
#cntManual_Cell2_Label48 {
	@include elemAutoHeight(55);
}
#cntManual_Cell2_Label48 {
		z-index: 4;
}
#cntManual_Cell2_Label48 {
		border-width: 0px 3px 0px 0px;
}
#cntManual_Cell2_Label48 {
		border-color: rgba(105, 105, 105, 1);
}
#cntManual_Cell2_Label48 {
	&:before{
		border-color: rgba(105, 105, 105, 1);
	}
}
#cntManual_Cell2_Label48 {
	&:after{
		border-color: rgba(105, 105, 105, 1);
	}
}
#cntManual_Cell2_Label48 {
		border-style: solid;
}
#cntManual_Cell2_Label48 {
	&:before{
		border-style: solid;
	}
}
#cntManual_Cell2_Label48 {
	&:after{
		border-style: solid;
	}
}
#cntManual_Cell2_Label48 {
	@include text-alignment-all('center');
}
#cntManual_Cell2_Label48 {
	@include font-weight-bold(true);
}
#cntManual_Cell2_Line13 {
		z-index: 5;
}
#cntManual_Cell2_Line13 {
	line{
		stroke: rgba(105, 105, 105, 1);
	}
}
#cntManual_Cell2_Line13 {
	line{
		stroke-width: 2px;
	}
}
#cntManual_Cell2_TextOutput13 {
	@include elemTop(159);
}
#cntManual_Cell2_TextOutput13 {
	@include elemLeft(76);
}
#cntManual_Cell2_TextOutput13 {
	@include elemAutoWidth(284);
}
#cntManual_Cell2_TextOutput13 {
	@include elemAutoHeight(60);
}
#cntManual_Cell2_TextOutput13 {
		z-index: 6;
}
#cntManual_Cell2_GroupBox20 {
	@include elemTop(0);
}
#cntManual_Cell2_GroupBox20 {
	@include elemLeft(738);
}
#cntManual_Cell2_GroupBox20 {
	@include elemWidth(369);
}
#cntManual_Cell2_GroupBox20 {
	@include elemHeight(255);
}
#cntManual_Cell2_GroupBox20 {
		z-index: 3;
}
#cntManual_Cell2_Cell2CamLightBottomOpenButton {
	@include elemTop(12);
}
#cntManual_Cell2_Cell2CamLightBottomOpenButton {
	@include elemLeft(115);
}
#cntManual_Cell2_Cell2CamLightBottomOpenButton {
	@include elemAutoWidth(137);
}
#cntManual_Cell2_Cell2CamLightBottomOpenButton {
	@include elemAutoHeight(67);
}
#cntManual_Cell2_Cell2CamLightBottomOpenButton {
		z-index: 0;
}
#cntManual_Cell2_Label61 {
	@include elemAutoHeight(30);
}
#cntManual_Cell2_Label61 {
	@include elemTop(112);
}
#cntManual_Cell2_Label61 {
	@include elemLeft(115);
}
#cntManual_Cell2_Label61 {
	@include elemAutoWidth(135);
}
#cntManual_Cell2_Label61 {
		z-index: 1;
}
#cntManual_Cell2_Label61 {
	@include text-alignment-all('center');
}
#cntManual_Cell2_Label62 {
	@include elemTop(162);
}
#cntManual_Cell2_Label62 {
	@include elemLeft(7);
}
#cntManual_Cell2_Label62 {
	@include elemAutoWidth(75);
}
#cntManual_Cell2_Label62 {
	@include elemAutoHeight(55);
}
#cntManual_Cell2_Label62 {
		z-index: 2;
}
#cntManual_Cell2_Label62 {
		border-width: 0px 3px 0px 0px;
}
#cntManual_Cell2_Label62 {
		border-color: rgba(105, 105, 105, 1);
}
#cntManual_Cell2_Label62 {
	&:before{
		border-color: rgba(105, 105, 105, 1);
	}
}
#cntManual_Cell2_Label62 {
	&:after{
		border-color: rgba(105, 105, 105, 1);
	}
}
#cntManual_Cell2_Label62 {
		border-style: solid;
}
#cntManual_Cell2_Label62 {
	&:before{
		border-style: solid;
	}
}
#cntManual_Cell2_Label62 {
	&:after{
		border-style: solid;
	}
}
#cntManual_Cell2_Label62 {
	@include text-alignment-all('center');
}
#cntManual_Cell2_Label62 {
	@include font-weight-bold(true);
}
#cntManual_Cell2_Line20 {
		z-index: 3;
}
#cntManual_Cell2_Line20 {
	line{
		stroke: rgba(105, 105, 105, 1);
	}
}
#cntManual_Cell2_Line20 {
	line{
		stroke-width: 2px;
	}
}
#cntManual_Cell2_TextOutput20 {
	@include elemTop(159);
}
#cntManual_Cell2_TextOutput20 {
	@include elemLeft(76);
}
#cntManual_Cell2_TextOutput20 {
	@include elemAutoWidth(294);
}
#cntManual_Cell2_TextOutput20 {
	@include elemAutoHeight(60);
}
#cntManual_Cell2_TextOutput20 {
		z-index: 4;
}
#cntManual_Cell2_GroupBox19 {
	@include elemTop(255);
}
#cntManual_Cell2_GroupBox19 {
	@include elemLeft(369);
}
#cntManual_Cell2_GroupBox19 {
	@include elemWidth(369);
}
#cntManual_Cell2_GroupBox19 {
	@include elemHeight(255);
}
#cntManual_Cell2_GroupBox19 {
		z-index: 4;
}
#cntManual_Cell2_Cell2CamLightTopOpenButton {
	@include elemTop(12);
}
#cntManual_Cell2_Cell2CamLightTopOpenButton {
	@include elemLeft(115);
}
#cntManual_Cell2_Cell2CamLightTopOpenButton {
	@include elemAutoWidth(137);
}
#cntManual_Cell2_Cell2CamLightTopOpenButton {
	@include elemAutoHeight(67);
}
#cntManual_Cell2_Cell2CamLightTopOpenButton {
		z-index: 0;
}
#cntManual_Cell2_Label59 {
	@include elemAutoHeight(30);
}
#cntManual_Cell2_Label59 {
	@include elemTop(112);
}
#cntManual_Cell2_Label59 {
	@include elemLeft(115);
}
#cntManual_Cell2_Label59 {
	@include elemAutoWidth(135);
}
#cntManual_Cell2_Label59 {
		z-index: 1;
}
#cntManual_Cell2_Label59 {
	@include text-alignment-all('center');
}
#cntManual_Cell2_Label60 {
	@include elemTop(162);
}
#cntManual_Cell2_Label60 {
	@include elemLeft(7);
}
#cntManual_Cell2_Label60 {
	@include elemAutoWidth(75);
}
#cntManual_Cell2_Label60 {
	@include elemAutoHeight(55);
}
#cntManual_Cell2_Label60 {
		z-index: 2;
}
#cntManual_Cell2_Label60 {
		border-width: 0px 3px 0px 0px;
}
#cntManual_Cell2_Label60 {
		border-color: rgba(105, 105, 105, 1);
}
#cntManual_Cell2_Label60 {
	&:before{
		border-color: rgba(105, 105, 105, 1);
	}
}
#cntManual_Cell2_Label60 {
	&:after{
		border-color: rgba(105, 105, 105, 1);
	}
}
#cntManual_Cell2_Label60 {
		border-style: solid;
}
#cntManual_Cell2_Label60 {
	&:before{
		border-style: solid;
	}
}
#cntManual_Cell2_Label60 {
	&:after{
		border-style: solid;
	}
}
#cntManual_Cell2_Label60 {
	@include text-alignment-all('center');
}
#cntManual_Cell2_Label60 {
	@include font-weight-bold(true);
}
#cntManual_Cell2_Line19 {
		z-index: 3;
}
#cntManual_Cell2_Line19 {
	line{
		stroke: rgba(105, 105, 105, 1);
	}
}
#cntManual_Cell2_Line19 {
	line{
		stroke-width: 2px;
	}
}
#cntManual_Cell2_TextOutput19 {
	@include elemTop(159);
}
#cntManual_Cell2_TextOutput19 {
	@include elemLeft(76);
}
#cntManual_Cell2_TextOutput19 {
	@include elemAutoWidth(294);
}
#cntManual_Cell2_TextOutput19 {
	@include elemAutoHeight(60);
}
#cntManual_Cell2_TextOutput19 {
		z-index: 4;
}
