#cntManual_Cell2_GridLine1 {
  top: 0px;
  position: absolute;
}

#cntManual_Cell2_GridLine1 {
  left: 0px;
  position: absolute;
}

#cntManual_Cell2_GridLine1 {
  width: 1890px;
}

#cntManual_Cell2_GridLine1 {
  height: 530px;
}

#cntManual_Cell2_GridLine1 {
  z-index: 0;
}

#cntManual_Cell2_GridLineItem1 {
  z-index: 0;
}

#cntManual_Cell2_GridLineItem1 {
  padding: 2px 20px 5px 10px;
}

#cntManual_Cell2_GroupBox1 {
  top: 0px;
  position: absolute;
}

#cntManual_Cell2_GroupBox1 {
  left: 0px;
  position: absolute;
}

#cntManual_Cell2_GroupBox1 {
  width: 375px;
}

#cntManual_Cell2_GroupBox1 {
  height: 255px;
}

#cntManual_Cell2_GroupBox1 {
  z-index: 0;
}

#cntManual_Cell2_Cell2AirBlowButton {
  top: 12px;
  position: absolute;
}

#cntManual_Cell2_Cell2AirBlowButton {
  left: 115px;
  position: absolute;
}

#cntManual_Cell2_Cell2AirBlowButton {
  width: 137px;
}

#cntManual_Cell2_Cell2AirBlowButton {
  height: 67px;
}

#cntManual_Cell2_Cell2AirBlowButton {
  z-index: 0;
}

#cntManual_Cell2_Label24 {
  height: 30px;
}

#cntManual_Cell2_Label24 {
  top: 112px;
  position: absolute;
}

#cntManual_Cell2_Label24 {
  left: 115px;
  position: absolute;
}

#cntManual_Cell2_Label24 {
  width: 135px;
}

#cntManual_Cell2_Label24 {
  z-index: 1;
}

#cntManual_Cell2_Label24 {
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntManual_Cell2_Label23 {
  top: 162px;
  position: absolute;
}

#cntManual_Cell2_Label23 {
  left: 7px;
  position: absolute;
}

#cntManual_Cell2_Label23 {
  width: 75px;
}

#cntManual_Cell2_Label23 {
  height: 55px;
}

#cntManual_Cell2_Label23 {
  z-index: 2;
}

#cntManual_Cell2_Label23 {
  border-width: 0px 3px 0px 0px;
}

#cntManual_Cell2_Label23 {
  border-color: dimgray;
}

#cntManual_Cell2_Label23:before {
  border-color: dimgray;
}

#cntManual_Cell2_Label23:after {
  border-color: dimgray;
}

#cntManual_Cell2_Label23 {
  border-style: solid;
}

#cntManual_Cell2_Label23:before {
  border-style: solid;
}

#cntManual_Cell2_Label23:after {
  border-style: solid;
}

#cntManual_Cell2_Label23 {
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntManual_Cell2_Label23 {
  font-weight: bold;
}

#cntManual_Cell2_Line1 {
  z-index: 3;
}

#cntManual_Cell2_Line1 line {
  stroke: dimgray;
}

#cntManual_Cell2_Line1 line {
  stroke-width: 2px;
}

#cntManual_Cell2_TextOutput1 {
  top: 160px;
  position: absolute;
}

#cntManual_Cell2_TextOutput1 {
  left: 80px;
  position: absolute;
}

#cntManual_Cell2_TextOutput1 {
  width: 290px;
}

#cntManual_Cell2_TextOutput1 {
  height: 50px;
}

#cntManual_Cell2_TextOutput1 {
  z-index: 4;
}

#cntManual_Cell2_GroupBox2 {
  top: 0px;
  position: absolute;
}

#cntManual_Cell2_GroupBox2 {
  left: 375px;
  position: absolute;
}

#cntManual_Cell2_GroupBox2 {
  width: 375px;
}

#cntManual_Cell2_GroupBox2 {
  height: 255px;
}

#cntManual_Cell2_GroupBox2 {
  z-index: 1;
}

#cntManual_Cell2_Cell2GrpToolLockOpenButton {
  top: 12px;
  position: absolute;
}

#cntManual_Cell2_Cell2GrpToolLockOpenButton {
  left: 15px;
  position: absolute;
}

#cntManual_Cell2_Cell2GrpToolLockOpenButton {
  width: 137px;
}

#cntManual_Cell2_Cell2GrpToolLockOpenButton {
  height: 67px;
}

#cntManual_Cell2_Cell2GrpToolLockOpenButton {
  z-index: 0;
}

#cntManual_Cell2_Cell2GrpToolLockCloseButton {
  top: 12px;
  position: absolute;
}

#cntManual_Cell2_Cell2GrpToolLockCloseButton {
  left: 215px;
  position: absolute;
}

#cntManual_Cell2_Cell2GrpToolLockCloseButton {
  width: 137px;
}

#cntManual_Cell2_Cell2GrpToolLockCloseButton {
  height: 67px;
}

#cntManual_Cell2_Cell2GrpToolLockCloseButton {
  z-index: 1;
}

#cntManual_Cell2_Label25 {
  height: 30px;
}

#cntManual_Cell2_Label25 {
  top: 112px;
  position: absolute;
}

#cntManual_Cell2_Label25 {
  left: 15px;
  position: absolute;
}

#cntManual_Cell2_Label25 {
  width: 135px;
}

#cntManual_Cell2_Label25 {
  z-index: 2;
}

#cntManual_Cell2_Label25 {
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntManual_Cell2_lbl_Closed12 {
  height: 30px;
}

#cntManual_Cell2_lbl_Closed12 {
  top: 112px;
  position: absolute;
}

#cntManual_Cell2_lbl_Closed12 {
  left: 215px;
  position: absolute;
}

#cntManual_Cell2_lbl_Closed12 {
  width: 135px;
}

#cntManual_Cell2_lbl_Closed12 {
  z-index: 3;
}

#cntManual_Cell2_lbl_Closed12 {
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntManual_Cell2_Label26 {
  top: 162px;
  position: absolute;
}

#cntManual_Cell2_Label26 {
  left: 7px;
  position: absolute;
}

#cntManual_Cell2_Label26 {
  width: 75px;
}

#cntManual_Cell2_Label26 {
  height: 55px;
}

#cntManual_Cell2_Label26 {
  z-index: 4;
}

#cntManual_Cell2_Label26 {
  border-width: 0px 3px 0px 0px;
}

#cntManual_Cell2_Label26 {
  border-color: dimgray;
}

#cntManual_Cell2_Label26:before {
  border-color: dimgray;
}

#cntManual_Cell2_Label26:after {
  border-color: dimgray;
}

#cntManual_Cell2_Label26 {
  border-style: solid;
}

#cntManual_Cell2_Label26:before {
  border-style: solid;
}

#cntManual_Cell2_Label26:after {
  border-style: solid;
}

#cntManual_Cell2_Label26 {
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntManual_Cell2_Label26 {
  font-weight: bold;
}

#cntManual_Cell2_Line2 {
  z-index: 5;
}

#cntManual_Cell2_Line2 line {
  stroke: dimgray;
}

#cntManual_Cell2_Line2 line {
  stroke-width: 2px;
}

#cntManual_Cell2_TextOutput2 {
  top: 164px;
  position: absolute;
}

#cntManual_Cell2_TextOutput2 {
  left: 82px;
  position: absolute;
}

#cntManual_Cell2_TextOutput2 {
  width: 288px;
}

#cntManual_Cell2_TextOutput2 {
  height: 56px;
}

#cntManual_Cell2_TextOutput2 {
  z-index: 6;
}

#cntManual_Cell2_GroupBox3 {
  top: 0px;
  position: absolute;
}

#cntManual_Cell2_GroupBox3 {
  left: 750px;
  position: absolute;
}

#cntManual_Cell2_GroupBox3 {
  width: 375px;
}

#cntManual_Cell2_GroupBox3 {
  height: 255px;
}

#cntManual_Cell2_GroupBox3 {
  z-index: 2;
}

#cntManual_Cell2_Cell2MechFoldingDownButton {
  top: 15px;
  position: absolute;
}

#cntManual_Cell2_Cell2MechFoldingDownButton {
  left: 115px;
  position: absolute;
}

#cntManual_Cell2_Cell2MechFoldingDownButton {
  width: 137px;
}

#cntManual_Cell2_Cell2MechFoldingDownButton {
  height: 67px;
}

#cntManual_Cell2_Cell2MechFoldingDownButton {
  z-index: 0;
}

#cntManual_Cell2_Label27 {
  height: 30px;
}

#cntManual_Cell2_Label27 {
  top: 112px;
  position: absolute;
}

#cntManual_Cell2_Label27 {
  left: 115px;
  position: absolute;
}

#cntManual_Cell2_Label27 {
  width: 135px;
}

#cntManual_Cell2_Label27 {
  z-index: 1;
}

#cntManual_Cell2_Label27 {
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntManual_Cell2_Label28 {
  top: 162px;
  position: absolute;
}

#cntManual_Cell2_Label28 {
  left: 7px;
  position: absolute;
}

#cntManual_Cell2_Label28 {
  width: 75px;
}

#cntManual_Cell2_Label28 {
  height: 55px;
}

#cntManual_Cell2_Label28 {
  z-index: 2;
}

#cntManual_Cell2_Label28 {
  border-width: 0px 3px 0px 0px;
}

#cntManual_Cell2_Label28 {
  border-color: dimgray;
}

#cntManual_Cell2_Label28:before {
  border-color: dimgray;
}

#cntManual_Cell2_Label28:after {
  border-color: dimgray;
}

#cntManual_Cell2_Label28 {
  border-style: solid;
}

#cntManual_Cell2_Label28:before {
  border-style: solid;
}

#cntManual_Cell2_Label28:after {
  border-style: solid;
}

#cntManual_Cell2_Label28 {
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntManual_Cell2_Label28 {
  font-weight: bold;
}

#cntManual_Cell2_Line3 {
  z-index: 3;
}

#cntManual_Cell2_Line3 line {
  stroke: dimgray;
}

#cntManual_Cell2_Line3 line {
  stroke-width: 2px;
}

#cntManual_Cell2_TextOutput3 {
  top: 164px;
  position: absolute;
}

#cntManual_Cell2_TextOutput3 {
  left: 86px;
  position: absolute;
}

#cntManual_Cell2_TextOutput3 {
  width: 280px;
}

#cntManual_Cell2_TextOutput3 {
  height: 54px;
}

#cntManual_Cell2_TextOutput3 {
  z-index: 4;
}

#cntManual_Cell2_GroupBox4 {
  top: 255px;
  position: absolute;
}

#cntManual_Cell2_GroupBox4 {
  left: 0px;
  position: absolute;
}

#cntManual_Cell2_GroupBox4 {
  width: 375px;
}

#cntManual_Cell2_GroupBox4 {
  height: 255px;
}

#cntManual_Cell2_GroupBox4 {
  z-index: 3;
}

#cntManual_Cell2_Cell2GrpCmpnstrOpenButton {
  top: 12px;
  position: absolute;
}

#cntManual_Cell2_Cell2GrpCmpnstrOpenButton {
  left: 15px;
  position: absolute;
}

#cntManual_Cell2_Cell2GrpCmpnstrOpenButton {
  width: 137px;
}

#cntManual_Cell2_Cell2GrpCmpnstrOpenButton {
  height: 67px;
}

#cntManual_Cell2_Cell2GrpCmpnstrOpenButton {
  z-index: 0;
}

#cntManual_Cell2_Cell2GrpCmpnstrCloseButton {
  top: 12px;
  position: absolute;
}

#cntManual_Cell2_Cell2GrpCmpnstrCloseButton {
  left: 215px;
  position: absolute;
}

#cntManual_Cell2_Cell2GrpCmpnstrCloseButton {
  width: 137px;
}

#cntManual_Cell2_Cell2GrpCmpnstrCloseButton {
  height: 67px;
}

#cntManual_Cell2_Cell2GrpCmpnstrCloseButton {
  z-index: 1;
}

#cntManual_Cell2_Label29 {
  height: 30px;
}

#cntManual_Cell2_Label29 {
  top: 112px;
  position: absolute;
}

#cntManual_Cell2_Label29 {
  left: 15px;
  position: absolute;
}

#cntManual_Cell2_Label29 {
  width: 135px;
}

#cntManual_Cell2_Label29 {
  z-index: 2;
}

#cntManual_Cell2_Label29 {
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntManual_Cell2_lbl_Closed14 {
  height: 30px;
}

#cntManual_Cell2_lbl_Closed14 {
  top: 112px;
  position: absolute;
}

#cntManual_Cell2_lbl_Closed14 {
  left: 215px;
  position: absolute;
}

#cntManual_Cell2_lbl_Closed14 {
  width: 135px;
}

#cntManual_Cell2_lbl_Closed14 {
  z-index: 3;
}

#cntManual_Cell2_lbl_Closed14 {
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntManual_Cell2_Label30 {
  top: 162px;
  position: absolute;
}

#cntManual_Cell2_Label30 {
  left: 7px;
  position: absolute;
}

#cntManual_Cell2_Label30 {
  width: 75px;
}

#cntManual_Cell2_Label30 {
  height: 55px;
}

#cntManual_Cell2_Label30 {
  z-index: 4;
}

#cntManual_Cell2_Label30 {
  border-width: 0px 3px 0px 0px;
}

#cntManual_Cell2_Label30 {
  border-color: dimgray;
}

#cntManual_Cell2_Label30:before {
  border-color: dimgray;
}

#cntManual_Cell2_Label30:after {
  border-color: dimgray;
}

#cntManual_Cell2_Label30 {
  border-style: solid;
}

#cntManual_Cell2_Label30:before {
  border-style: solid;
}

#cntManual_Cell2_Label30:after {
  border-style: solid;
}

#cntManual_Cell2_Label30 {
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntManual_Cell2_Label30 {
  font-weight: bold;
}

#cntManual_Cell2_Line4 {
  z-index: 5;
}

#cntManual_Cell2_Line4 line {
  stroke: dimgray;
}

#cntManual_Cell2_Line4 line {
  stroke-width: 2px;
}

#cntManual_Cell2_TextOutput4 {
  top: 159px;
  position: absolute;
}

#cntManual_Cell2_TextOutput4 {
  left: 76px;
  position: absolute;
}

#cntManual_Cell2_TextOutput4 {
  width: 294px;
}

#cntManual_Cell2_TextOutput4 {
  height: 60px;
}

#cntManual_Cell2_TextOutput4 {
  z-index: 6;
}

#cntManual_Cell2_GroupBox5 {
  top: 255px;
  position: absolute;
}

#cntManual_Cell2_GroupBox5 {
  left: 375px;
  position: absolute;
}

#cntManual_Cell2_GroupBox5 {
  width: 375px;
}

#cntManual_Cell2_GroupBox5 {
  height: 255px;
}

#cntManual_Cell2_GroupBox5 {
  z-index: 4;
}

#cntManual_Cell2_Cell2BannerLightButton {
  top: 12px;
  position: absolute;
}

#cntManual_Cell2_Cell2BannerLightButton {
  left: 115px;
  position: absolute;
}

#cntManual_Cell2_Cell2BannerLightButton {
  width: 137px;
}

#cntManual_Cell2_Cell2BannerLightButton {
  height: 67px;
}

#cntManual_Cell2_Cell2BannerLightButton {
  z-index: 0;
}

#cntManual_Cell2_Label31 {
  height: 30px;
}

#cntManual_Cell2_Label31 {
  top: 112px;
  position: absolute;
}

#cntManual_Cell2_Label31 {
  left: 115px;
  position: absolute;
}

#cntManual_Cell2_Label31 {
  width: 135px;
}

#cntManual_Cell2_Label31 {
  z-index: 1;
}

#cntManual_Cell2_Label31 {
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntManual_Cell2_Label32 {
  top: 162px;
  position: absolute;
}

#cntManual_Cell2_Label32 {
  left: 7px;
  position: absolute;
}

#cntManual_Cell2_Label32 {
  width: 75px;
}

#cntManual_Cell2_Label32 {
  height: 55px;
}

#cntManual_Cell2_Label32 {
  z-index: 2;
}

#cntManual_Cell2_Label32 {
  border-width: 0px 3px 0px 0px;
}

#cntManual_Cell2_Label32 {
  border-color: dimgray;
}

#cntManual_Cell2_Label32:before {
  border-color: dimgray;
}

#cntManual_Cell2_Label32:after {
  border-color: dimgray;
}

#cntManual_Cell2_Label32 {
  border-style: solid;
}

#cntManual_Cell2_Label32:before {
  border-style: solid;
}

#cntManual_Cell2_Label32:after {
  border-style: solid;
}

#cntManual_Cell2_Label32 {
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntManual_Cell2_Label32 {
  font-weight: bold;
}

#cntManual_Cell2_Line5 {
  z-index: 3;
}

#cntManual_Cell2_Line5 line {
  stroke: dimgray;
}

#cntManual_Cell2_Line5 line {
  stroke-width: 2px;
}

#cntManual_Cell2_TextOutput5 {
  top: 159px;
  position: absolute;
}

#cntManual_Cell2_TextOutput5 {
  left: 81px;
  position: absolute;
}

#cntManual_Cell2_TextOutput5 {
  width: 280px;
}

#cntManual_Cell2_TextOutput5 {
  height: 60px;
}

#cntManual_Cell2_TextOutput5 {
  z-index: 4;
}

#cntManual_Cell2_GroupBox6 {
  top: 255px;
  position: absolute;
}

#cntManual_Cell2_GroupBox6 {
  left: 750px;
  position: absolute;
}

#cntManual_Cell2_GroupBox6 {
  width: 375px;
}

#cntManual_Cell2_GroupBox6 {
  height: 255px;
}

#cntManual_Cell2_GroupBox6 {
  z-index: 5;
}

#cntManual_Cell2_Cell2MechLinCylndrBwdButton {
  top: 12px;
  position: absolute;
}

#cntManual_Cell2_Cell2MechLinCylndrBwdButton {
  left: 15px;
  position: absolute;
}

#cntManual_Cell2_Cell2MechLinCylndrBwdButton {
  width: 137px;
}

#cntManual_Cell2_Cell2MechLinCylndrBwdButton {
  height: 67px;
}

#cntManual_Cell2_Cell2MechLinCylndrBwdButton {
  z-index: 0;
}

#cntManual_Cell2_Cell2MechLinCylndrFwdButton {
  top: 12px;
  position: absolute;
}

#cntManual_Cell2_Cell2MechLinCylndrFwdButton {
  left: 215px;
  position: absolute;
}

#cntManual_Cell2_Cell2MechLinCylndrFwdButton {
  width: 137px;
}

#cntManual_Cell2_Cell2MechLinCylndrFwdButton {
  height: 67px;
}

#cntManual_Cell2_Cell2MechLinCylndrFwdButton {
  z-index: 1;
}

#cntManual_Cell2_Label33 {
  height: 30px;
}

#cntManual_Cell2_Label33 {
  top: 112px;
  position: absolute;
}

#cntManual_Cell2_Label33 {
  left: 15px;
  position: absolute;
}

#cntManual_Cell2_Label33 {
  width: 135px;
}

#cntManual_Cell2_Label33 {
  z-index: 2;
}

#cntManual_Cell2_Label33 {
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntManual_Cell2_lbl_Closed16 {
  height: 30px;
}

#cntManual_Cell2_lbl_Closed16 {
  top: 112px;
  position: absolute;
}

#cntManual_Cell2_lbl_Closed16 {
  left: 215px;
  position: absolute;
}

#cntManual_Cell2_lbl_Closed16 {
  width: 135px;
}

#cntManual_Cell2_lbl_Closed16 {
  z-index: 3;
}

#cntManual_Cell2_lbl_Closed16 {
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntManual_Cell2_Label34 {
  top: 162px;
  position: absolute;
}

#cntManual_Cell2_Label34 {
  left: 7px;
  position: absolute;
}

#cntManual_Cell2_Label34 {
  width: 75px;
}

#cntManual_Cell2_Label34 {
  height: 55px;
}

#cntManual_Cell2_Label34 {
  z-index: 4;
}

#cntManual_Cell2_Label34 {
  border-width: 0px 3px 0px 0px;
}

#cntManual_Cell2_Label34 {
  border-color: dimgray;
}

#cntManual_Cell2_Label34:before {
  border-color: dimgray;
}

#cntManual_Cell2_Label34:after {
  border-color: dimgray;
}

#cntManual_Cell2_Label34 {
  border-style: solid;
}

#cntManual_Cell2_Label34:before {
  border-style: solid;
}

#cntManual_Cell2_Label34:after {
  border-style: solid;
}

#cntManual_Cell2_Label34 {
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntManual_Cell2_Label34 {
  font-weight: bold;
}

#cntManual_Cell2_Line6 {
  z-index: 5;
}

#cntManual_Cell2_Line6 line {
  stroke: dimgray;
}

#cntManual_Cell2_Line6 line {
  stroke-width: 2px;
}

#cntManual_Cell2_TextOutput6 {
  top: 159px;
  position: absolute;
}

#cntManual_Cell2_TextOutput6 {
  left: 76px;
  position: absolute;
}

#cntManual_Cell2_TextOutput6 {
  width: 284px;
}

#cntManual_Cell2_TextOutput6 {
  height: 60px;
}

#cntManual_Cell2_TextOutput6 {
  z-index: 6;
}

#cntManual_Cell2_GroupBox7 {
  top: 0px;
  position: absolute;
}

#cntManual_Cell2_GroupBox7 {
  left: 1125px;
  position: absolute;
}

#cntManual_Cell2_GroupBox7 {
  width: 375px;
}

#cntManual_Cell2_GroupBox7 {
  height: 255px;
}

#cntManual_Cell2_GroupBox7 {
  z-index: 6;
}

#cntManual_Cell2_Cell2MechPickDownButton {
  top: 12px;
  position: absolute;
}

#cntManual_Cell2_Cell2MechPickDownButton {
  left: 115px;
  position: absolute;
}

#cntManual_Cell2_Cell2MechPickDownButton {
  width: 137px;
}

#cntManual_Cell2_Cell2MechPickDownButton {
  height: 67px;
}

#cntManual_Cell2_Cell2MechPickDownButton {
  z-index: 0;
}

#cntManual_Cell2_Label35 {
  height: 30px;
}

#cntManual_Cell2_Label35 {
  top: 112px;
  position: absolute;
}

#cntManual_Cell2_Label35 {
  left: 115px;
  position: absolute;
}

#cntManual_Cell2_Label35 {
  width: 135px;
}

#cntManual_Cell2_Label35 {
  z-index: 1;
}

#cntManual_Cell2_Label35 {
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntManual_Cell2_Label36 {
  top: 162px;
  position: absolute;
}

#cntManual_Cell2_Label36 {
  left: 7px;
  position: absolute;
}

#cntManual_Cell2_Label36 {
  width: 75px;
}

#cntManual_Cell2_Label36 {
  height: 55px;
}

#cntManual_Cell2_Label36 {
  z-index: 2;
}

#cntManual_Cell2_Label36 {
  border-width: 0px 3px 0px 0px;
}

#cntManual_Cell2_Label36 {
  border-color: dimgray;
}

#cntManual_Cell2_Label36:before {
  border-color: dimgray;
}

#cntManual_Cell2_Label36:after {
  border-color: dimgray;
}

#cntManual_Cell2_Label36 {
  border-style: solid;
}

#cntManual_Cell2_Label36:before {
  border-style: solid;
}

#cntManual_Cell2_Label36:after {
  border-style: solid;
}

#cntManual_Cell2_Label36 {
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntManual_Cell2_Label36 {
  font-weight: bold;
}

#cntManual_Cell2_Line7 {
  z-index: 3;
}

#cntManual_Cell2_Line7 line {
  stroke: dimgray;
}

#cntManual_Cell2_Line7 line {
  stroke-width: 2px;
}

#cntManual_Cell2_TextOutput7 {
  top: 159px;
  position: absolute;
}

#cntManual_Cell2_TextOutput7 {
  left: 76px;
  position: absolute;
}

#cntManual_Cell2_TextOutput7 {
  width: 284px;
}

#cntManual_Cell2_TextOutput7 {
  height: 60px;
}

#cntManual_Cell2_TextOutput7 {
  z-index: 4;
}

#cntManual_Cell2_GroupBox8 {
  top: 255px;
  position: absolute;
}

#cntManual_Cell2_GroupBox8 {
  left: 1125px;
  position: absolute;
}

#cntManual_Cell2_GroupBox8 {
  width: 375px;
}

#cntManual_Cell2_GroupBox8 {
  height: 255px;
}

#cntManual_Cell2_GroupBox8 {
  z-index: 7;
}

#cntManual_Cell2_Cell2MechTurnDownButton {
  top: 12px;
  position: absolute;
}

#cntManual_Cell2_Cell2MechTurnDownButton {
  left: 15px;
  position: absolute;
}

#cntManual_Cell2_Cell2MechTurnDownButton {
  width: 137px;
}

#cntManual_Cell2_Cell2MechTurnDownButton {
  height: 67px;
}

#cntManual_Cell2_Cell2MechTurnDownButton {
  z-index: 0;
}

#cntManual_Cell2_Cell2MechTurnUpButton {
  top: 12px;
  position: absolute;
}

#cntManual_Cell2_Cell2MechTurnUpButton {
  left: 215px;
  position: absolute;
}

#cntManual_Cell2_Cell2MechTurnUpButton {
  width: 137px;
}

#cntManual_Cell2_Cell2MechTurnUpButton {
  height: 67px;
}

#cntManual_Cell2_Cell2MechTurnUpButton {
  z-index: 1;
}

#cntManual_Cell2_Label37 {
  height: 30px;
}

#cntManual_Cell2_Label37 {
  top: 112px;
  position: absolute;
}

#cntManual_Cell2_Label37 {
  left: 15px;
  position: absolute;
}

#cntManual_Cell2_Label37 {
  width: 135px;
}

#cntManual_Cell2_Label37 {
  z-index: 2;
}

#cntManual_Cell2_Label37 {
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntManual_Cell2_lbl_Closed18 {
  height: 30px;
}

#cntManual_Cell2_lbl_Closed18 {
  top: 112px;
  position: absolute;
}

#cntManual_Cell2_lbl_Closed18 {
  left: 215px;
  position: absolute;
}

#cntManual_Cell2_lbl_Closed18 {
  width: 135px;
}

#cntManual_Cell2_lbl_Closed18 {
  z-index: 3;
}

#cntManual_Cell2_lbl_Closed18 {
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntManual_Cell2_Label38 {
  top: 162px;
  position: absolute;
}

#cntManual_Cell2_Label38 {
  left: 7px;
  position: absolute;
}

#cntManual_Cell2_Label38 {
  width: 75px;
}

#cntManual_Cell2_Label38 {
  height: 55px;
}

#cntManual_Cell2_Label38 {
  z-index: 4;
}

#cntManual_Cell2_Label38 {
  border-width: 0px 3px 0px 0px;
}

#cntManual_Cell2_Label38 {
  border-color: dimgray;
}

#cntManual_Cell2_Label38:before {
  border-color: dimgray;
}

#cntManual_Cell2_Label38:after {
  border-color: dimgray;
}

#cntManual_Cell2_Label38 {
  border-style: solid;
}

#cntManual_Cell2_Label38:before {
  border-style: solid;
}

#cntManual_Cell2_Label38:after {
  border-style: solid;
}

#cntManual_Cell2_Label38 {
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntManual_Cell2_Label38 {
  font-weight: bold;
}

#cntManual_Cell2_Line8 {
  z-index: 5;
}

#cntManual_Cell2_Line8 line {
  stroke: dimgray;
}

#cntManual_Cell2_Line8 line {
  stroke-width: 2px;
}

#cntManual_Cell2_TextOutput8 {
  top: 159px;
  position: absolute;
}

#cntManual_Cell2_TextOutput8 {
  left: 76px;
  position: absolute;
}

#cntManual_Cell2_TextOutput8 {
  width: 284px;
}

#cntManual_Cell2_TextOutput8 {
  height: 60px;
}

#cntManual_Cell2_TextOutput8 {
  z-index: 6;
}

#cntManual_Cell2_GroupBox9 {
  top: 0px;
  position: absolute;
}

#cntManual_Cell2_GroupBox9 {
  left: 1500px;
  position: absolute;
}

#cntManual_Cell2_GroupBox9 {
  width: 369px;
}

#cntManual_Cell2_GroupBox9 {
  height: 255px;
}

#cntManual_Cell2_GroupBox9 {
  z-index: 8;
}

#cntManual_Cell2_Cell2SmClampOpenButton {
  top: 15px;
  position: absolute;
}

#cntManual_Cell2_Cell2SmClampOpenButton {
  left: 115px;
  position: absolute;
}

#cntManual_Cell2_Cell2SmClampOpenButton {
  width: 137px;
}

#cntManual_Cell2_Cell2SmClampOpenButton {
  height: 67px;
}

#cntManual_Cell2_Cell2SmClampOpenButton {
  z-index: 0;
}

#cntManual_Cell2_Label39 {
  height: 30px;
}

#cntManual_Cell2_Label39 {
  top: 112px;
  position: absolute;
}

#cntManual_Cell2_Label39 {
  left: 115px;
  position: absolute;
}

#cntManual_Cell2_Label39 {
  width: 135px;
}

#cntManual_Cell2_Label39 {
  z-index: 1;
}

#cntManual_Cell2_Label39 {
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntManual_Cell2_Label40 {
  top: 162px;
  position: absolute;
}

#cntManual_Cell2_Label40 {
  left: 7px;
  position: absolute;
}

#cntManual_Cell2_Label40 {
  width: 75px;
}

#cntManual_Cell2_Label40 {
  height: 55px;
}

#cntManual_Cell2_Label40 {
  z-index: 2;
}

#cntManual_Cell2_Label40 {
  border-width: 0px 3px 0px 0px;
}

#cntManual_Cell2_Label40 {
  border-color: dimgray;
}

#cntManual_Cell2_Label40:before {
  border-color: dimgray;
}

#cntManual_Cell2_Label40:after {
  border-color: dimgray;
}

#cntManual_Cell2_Label40 {
  border-style: solid;
}

#cntManual_Cell2_Label40:before {
  border-style: solid;
}

#cntManual_Cell2_Label40:after {
  border-style: solid;
}

#cntManual_Cell2_Label40 {
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntManual_Cell2_Label40 {
  font-weight: bold;
}

#cntManual_Cell2_Line9 {
  z-index: 3;
}

#cntManual_Cell2_Line9 line {
  stroke: dimgray;
}

#cntManual_Cell2_Line9 line {
  stroke-width: 2px;
}

#cntManual_Cell2_TextOutput9 {
  top: 159px;
  position: absolute;
}

#cntManual_Cell2_TextOutput9 {
  left: 76px;
  position: absolute;
}

#cntManual_Cell2_TextOutput9 {
  width: 284px;
}

#cntManual_Cell2_TextOutput9 {
  height: 60px;
}

#cntManual_Cell2_TextOutput9 {
  z-index: 4;
}

#cntManual_Cell2_GroupBox10 {
  top: 255px;
  position: absolute;
}

#cntManual_Cell2_GroupBox10 {
  left: 1500px;
  position: absolute;
}

#cntManual_Cell2_GroupBox10 {
  width: 369px;
}

#cntManual_Cell2_GroupBox10 {
  height: 255px;
}

#cntManual_Cell2_GroupBox10 {
  z-index: 9;
}

#cntManual_Cell2_Cell2SmLockCylndrOpenButton {
  top: 12px;
  position: absolute;
}

#cntManual_Cell2_Cell2SmLockCylndrOpenButton {
  left: 15px;
  position: absolute;
}

#cntManual_Cell2_Cell2SmLockCylndrOpenButton {
  width: 137px;
}

#cntManual_Cell2_Cell2SmLockCylndrOpenButton {
  height: 67px;
}

#cntManual_Cell2_Cell2SmLockCylndrOpenButton {
  z-index: 0;
}

#cntManual_Cell2_Cell2SmLockCylndrCloseButton {
  top: 12px;
  position: absolute;
}

#cntManual_Cell2_Cell2SmLockCylndrCloseButton {
  left: 215px;
  position: absolute;
}

#cntManual_Cell2_Cell2SmLockCylndrCloseButton {
  width: 137px;
}

#cntManual_Cell2_Cell2SmLockCylndrCloseButton {
  height: 67px;
}

#cntManual_Cell2_Cell2SmLockCylndrCloseButton {
  z-index: 1;
}

#cntManual_Cell2_Label41 {
  height: 30px;
}

#cntManual_Cell2_Label41 {
  top: 112px;
  position: absolute;
}

#cntManual_Cell2_Label41 {
  left: 15px;
  position: absolute;
}

#cntManual_Cell2_Label41 {
  width: 135px;
}

#cntManual_Cell2_Label41 {
  z-index: 2;
}

#cntManual_Cell2_Label41 {
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntManual_Cell2_lbl_Closed20 {
  height: 30px;
}

#cntManual_Cell2_lbl_Closed20 {
  top: 112px;
  position: absolute;
}

#cntManual_Cell2_lbl_Closed20 {
  left: 215px;
  position: absolute;
}

#cntManual_Cell2_lbl_Closed20 {
  width: 135px;
}

#cntManual_Cell2_lbl_Closed20 {
  z-index: 3;
}

#cntManual_Cell2_lbl_Closed20 {
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntManual_Cell2_Label42 {
  top: 162px;
  position: absolute;
}

#cntManual_Cell2_Label42 {
  left: 7px;
  position: absolute;
}

#cntManual_Cell2_Label42 {
  width: 75px;
}

#cntManual_Cell2_Label42 {
  height: 55px;
}

#cntManual_Cell2_Label42 {
  z-index: 4;
}

#cntManual_Cell2_Label42 {
  border-width: 0px 3px 0px 0px;
}

#cntManual_Cell2_Label42 {
  border-color: dimgray;
}

#cntManual_Cell2_Label42:before {
  border-color: dimgray;
}

#cntManual_Cell2_Label42:after {
  border-color: dimgray;
}

#cntManual_Cell2_Label42 {
  border-style: solid;
}

#cntManual_Cell2_Label42:before {
  border-style: solid;
}

#cntManual_Cell2_Label42:after {
  border-style: solid;
}

#cntManual_Cell2_Label42 {
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntManual_Cell2_Label42 {
  font-weight: bold;
}

#cntManual_Cell2_Line10 {
  z-index: 5;
}

#cntManual_Cell2_Line10 line {
  stroke: dimgray;
}

#cntManual_Cell2_Line10 line {
  stroke-width: 2px;
}

#cntManual_Cell2_TextOutput10 {
  top: 159px;
  position: absolute;
}

#cntManual_Cell2_TextOutput10 {
  left: 76px;
  position: absolute;
}

#cntManual_Cell2_TextOutput10 {
  width: 284px;
}

#cntManual_Cell2_TextOutput10 {
  height: 60px;
}

#cntManual_Cell2_TextOutput10 {
  z-index: 6;
}

#cntManual_Cell2_GridLineItem2 {
  z-index: 1;
}

#cntManual_Cell2_GroupBox11 {
  top: 0px;
  position: absolute;
}

#cntManual_Cell2_GroupBox11 {
  left: 0px;
  position: absolute;
}

#cntManual_Cell2_GroupBox11 {
  width: 369px;
}

#cntManual_Cell2_GroupBox11 {
  height: 255px;
}

#cntManual_Cell2_GroupBox11 {
  z-index: 0;
}

#cntManual_Cell2_Cell2TrVacuum1BlowButton {
  top: 12px;
  position: absolute;
}

#cntManual_Cell2_Cell2TrVacuum1BlowButton {
  left: 15px;
  position: absolute;
}

#cntManual_Cell2_Cell2TrVacuum1BlowButton {
  width: 137px;
}

#cntManual_Cell2_Cell2TrVacuum1BlowButton {
  height: 67px;
}

#cntManual_Cell2_Cell2TrVacuum1BlowButton {
  z-index: 0;
}

#cntManual_Cell2_Cell2TrVacuum1SuctionButton {
  top: 12px;
  position: absolute;
}

#cntManual_Cell2_Cell2TrVacuum1SuctionButton {
  left: 215px;
  position: absolute;
}

#cntManual_Cell2_Cell2TrVacuum1SuctionButton {
  width: 137px;
}

#cntManual_Cell2_Cell2TrVacuum1SuctionButton {
  height: 67px;
}

#cntManual_Cell2_Cell2TrVacuum1SuctionButton {
  z-index: 1;
}

#cntManual_Cell2_Label43 {
  height: 30px;
}

#cntManual_Cell2_Label43 {
  top: 112px;
  position: absolute;
}

#cntManual_Cell2_Label43 {
  left: 15px;
  position: absolute;
}

#cntManual_Cell2_Label43 {
  width: 135px;
}

#cntManual_Cell2_Label43 {
  z-index: 2;
}

#cntManual_Cell2_Label43 {
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntManual_Cell2_lbl_Closed21 {
  height: 30px;
}

#cntManual_Cell2_lbl_Closed21 {
  top: 112px;
  position: absolute;
}

#cntManual_Cell2_lbl_Closed21 {
  left: 215px;
  position: absolute;
}

#cntManual_Cell2_lbl_Closed21 {
  width: 135px;
}

#cntManual_Cell2_lbl_Closed21 {
  z-index: 3;
}

#cntManual_Cell2_lbl_Closed21 {
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntManual_Cell2_Label44 {
  top: 162px;
  position: absolute;
}

#cntManual_Cell2_Label44 {
  left: 7px;
  position: absolute;
}

#cntManual_Cell2_Label44 {
  width: 75px;
}

#cntManual_Cell2_Label44 {
  height: 55px;
}

#cntManual_Cell2_Label44 {
  z-index: 4;
}

#cntManual_Cell2_Label44 {
  border-width: 0px 3px 0px 0px;
}

#cntManual_Cell2_Label44 {
  border-color: dimgray;
}

#cntManual_Cell2_Label44:before {
  border-color: dimgray;
}

#cntManual_Cell2_Label44:after {
  border-color: dimgray;
}

#cntManual_Cell2_Label44 {
  border-style: solid;
}

#cntManual_Cell2_Label44:before {
  border-style: solid;
}

#cntManual_Cell2_Label44:after {
  border-style: solid;
}

#cntManual_Cell2_Label44 {
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntManual_Cell2_Label44 {
  font-weight: bold;
}

#cntManual_Cell2_Line11 {
  z-index: 5;
}

#cntManual_Cell2_Line11 line {
  stroke: dimgray;
}

#cntManual_Cell2_Line11 line {
  stroke-width: 2px;
}

#cntManual_Cell2_TextOutput11 {
  top: 159px;
  position: absolute;
}

#cntManual_Cell2_TextOutput11 {
  left: 76px;
  position: absolute;
}

#cntManual_Cell2_TextOutput11 {
  width: 284px;
}

#cntManual_Cell2_TextOutput11 {
  height: 60px;
}

#cntManual_Cell2_TextOutput11 {
  z-index: 6;
}

#cntManual_Cell2_GroupBox12 {
  top: 255px;
  position: absolute;
}

#cntManual_Cell2_GroupBox12 {
  left: 0px;
  position: absolute;
}

#cntManual_Cell2_GroupBox12 {
  width: 369px;
}

#cntManual_Cell2_GroupBox12 {
  height: 255px;
}

#cntManual_Cell2_GroupBox12 {
  z-index: 1;
}

#cntManual_Cell2_Cell2TrVacuum2BlowButton {
  top: 12px;
  position: absolute;
}

#cntManual_Cell2_Cell2TrVacuum2BlowButton {
  left: 15px;
  position: absolute;
}

#cntManual_Cell2_Cell2TrVacuum2BlowButton {
  width: 137px;
}

#cntManual_Cell2_Cell2TrVacuum2BlowButton {
  height: 67px;
}

#cntManual_Cell2_Cell2TrVacuum2BlowButton {
  z-index: 0;
}

#cntManual_Cell2_Cell2TrVacuum2SuctionButton {
  top: 12px;
  position: absolute;
}

#cntManual_Cell2_Cell2TrVacuum2SuctionButton {
  left: 215px;
  position: absolute;
}

#cntManual_Cell2_Cell2TrVacuum2SuctionButton {
  width: 137px;
}

#cntManual_Cell2_Cell2TrVacuum2SuctionButton {
  height: 67px;
}

#cntManual_Cell2_Cell2TrVacuum2SuctionButton {
  z-index: 1;
}

#cntManual_Cell2_Label45 {
  height: 30px;
}

#cntManual_Cell2_Label45 {
  top: 112px;
  position: absolute;
}

#cntManual_Cell2_Label45 {
  left: 15px;
  position: absolute;
}

#cntManual_Cell2_Label45 {
  width: 135px;
}

#cntManual_Cell2_Label45 {
  z-index: 2;
}

#cntManual_Cell2_Label45 {
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntManual_Cell2_lbl_Closed22 {
  height: 30px;
}

#cntManual_Cell2_lbl_Closed22 {
  top: 112px;
  position: absolute;
}

#cntManual_Cell2_lbl_Closed22 {
  left: 215px;
  position: absolute;
}

#cntManual_Cell2_lbl_Closed22 {
  width: 135px;
}

#cntManual_Cell2_lbl_Closed22 {
  z-index: 3;
}

#cntManual_Cell2_lbl_Closed22 {
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntManual_Cell2_Label46 {
  top: 162px;
  position: absolute;
}

#cntManual_Cell2_Label46 {
  left: 7px;
  position: absolute;
}

#cntManual_Cell2_Label46 {
  width: 75px;
}

#cntManual_Cell2_Label46 {
  height: 55px;
}

#cntManual_Cell2_Label46 {
  z-index: 4;
}

#cntManual_Cell2_Label46 {
  border-width: 0px 3px 0px 0px;
}

#cntManual_Cell2_Label46 {
  border-color: dimgray;
}

#cntManual_Cell2_Label46:before {
  border-color: dimgray;
}

#cntManual_Cell2_Label46:after {
  border-color: dimgray;
}

#cntManual_Cell2_Label46 {
  border-style: solid;
}

#cntManual_Cell2_Label46:before {
  border-style: solid;
}

#cntManual_Cell2_Label46:after {
  border-style: solid;
}

#cntManual_Cell2_Label46 {
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntManual_Cell2_Label46 {
  font-weight: bold;
}

#cntManual_Cell2_Line12 {
  z-index: 5;
}

#cntManual_Cell2_Line12 line {
  stroke: dimgray;
}

#cntManual_Cell2_Line12 line {
  stroke-width: 2px;
}

#cntManual_Cell2_TextOutput12 {
  top: 159px;
  position: absolute;
}

#cntManual_Cell2_TextOutput12 {
  left: 76px;
  position: absolute;
}

#cntManual_Cell2_TextOutput12 {
  width: 284px;
}

#cntManual_Cell2_TextOutput12 {
  height: 60px;
}

#cntManual_Cell2_TextOutput12 {
  z-index: 6;
}

#cntManual_Cell2_GroupBox13 {
  top: 0px;
  position: absolute;
}

#cntManual_Cell2_GroupBox13 {
  left: 369px;
  position: absolute;
}

#cntManual_Cell2_GroupBox13 {
  width: 369px;
}

#cntManual_Cell2_GroupBox13 {
  height: 255px;
}

#cntManual_Cell2_GroupBox13 {
  z-index: 2;
}

#cntManual_Cell2_Cell2VacuumBlowButton {
  top: 12px;
  position: absolute;
}

#cntManual_Cell2_Cell2VacuumBlowButton {
  left: 15px;
  position: absolute;
}

#cntManual_Cell2_Cell2VacuumBlowButton {
  width: 137px;
}

#cntManual_Cell2_Cell2VacuumBlowButton {
  height: 67px;
}

#cntManual_Cell2_Cell2VacuumBlowButton {
  z-index: 0;
}

#cntManual_Cell2_Cell2VacuumSuctionButton {
  top: 12px;
  position: absolute;
}

#cntManual_Cell2_Cell2VacuumSuctionButton {
  left: 215px;
  position: absolute;
}

#cntManual_Cell2_Cell2VacuumSuctionButton {
  width: 137px;
}

#cntManual_Cell2_Cell2VacuumSuctionButton {
  height: 67px;
}

#cntManual_Cell2_Cell2VacuumSuctionButton {
  z-index: 1;
}

#cntManual_Cell2_Label47 {
  height: 30px;
}

#cntManual_Cell2_Label47 {
  top: 112px;
  position: absolute;
}

#cntManual_Cell2_Label47 {
  left: 15px;
  position: absolute;
}

#cntManual_Cell2_Label47 {
  width: 135px;
}

#cntManual_Cell2_Label47 {
  z-index: 2;
}

#cntManual_Cell2_Label47 {
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntManual_Cell2_lbl_Closed23 {
  height: 30px;
}

#cntManual_Cell2_lbl_Closed23 {
  top: 112px;
  position: absolute;
}

#cntManual_Cell2_lbl_Closed23 {
  left: 215px;
  position: absolute;
}

#cntManual_Cell2_lbl_Closed23 {
  width: 135px;
}

#cntManual_Cell2_lbl_Closed23 {
  z-index: 3;
}

#cntManual_Cell2_lbl_Closed23 {
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntManual_Cell2_Label48 {
  top: 162px;
  position: absolute;
}

#cntManual_Cell2_Label48 {
  left: 7px;
  position: absolute;
}

#cntManual_Cell2_Label48 {
  width: 75px;
}

#cntManual_Cell2_Label48 {
  height: 55px;
}

#cntManual_Cell2_Label48 {
  z-index: 4;
}

#cntManual_Cell2_Label48 {
  border-width: 0px 3px 0px 0px;
}

#cntManual_Cell2_Label48 {
  border-color: dimgray;
}

#cntManual_Cell2_Label48:before {
  border-color: dimgray;
}

#cntManual_Cell2_Label48:after {
  border-color: dimgray;
}

#cntManual_Cell2_Label48 {
  border-style: solid;
}

#cntManual_Cell2_Label48:before {
  border-style: solid;
}

#cntManual_Cell2_Label48:after {
  border-style: solid;
}

#cntManual_Cell2_Label48 {
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntManual_Cell2_Label48 {
  font-weight: bold;
}

#cntManual_Cell2_Line13 {
  z-index: 5;
}

#cntManual_Cell2_Line13 line {
  stroke: dimgray;
}

#cntManual_Cell2_Line13 line {
  stroke-width: 2px;
}

#cntManual_Cell2_TextOutput13 {
  top: 159px;
  position: absolute;
}

#cntManual_Cell2_TextOutput13 {
  left: 76px;
  position: absolute;
}

#cntManual_Cell2_TextOutput13 {
  width: 284px;
}

#cntManual_Cell2_TextOutput13 {
  height: 60px;
}

#cntManual_Cell2_TextOutput13 {
  z-index: 6;
}

#cntManual_Cell2_GroupBox20 {
  top: 0px;
  position: absolute;
}

#cntManual_Cell2_GroupBox20 {
  left: 738px;
  position: absolute;
}

#cntManual_Cell2_GroupBox20 {
  width: 369px;
}

#cntManual_Cell2_GroupBox20 {
  height: 255px;
}

#cntManual_Cell2_GroupBox20 {
  z-index: 3;
}

#cntManual_Cell2_Cell2CamLightBottomOpenButton {
  top: 12px;
  position: absolute;
}

#cntManual_Cell2_Cell2CamLightBottomOpenButton {
  left: 115px;
  position: absolute;
}

#cntManual_Cell2_Cell2CamLightBottomOpenButton {
  width: 137px;
}

#cntManual_Cell2_Cell2CamLightBottomOpenButton {
  height: 67px;
}

#cntManual_Cell2_Cell2CamLightBottomOpenButton {
  z-index: 0;
}

#cntManual_Cell2_Label61 {
  height: 30px;
}

#cntManual_Cell2_Label61 {
  top: 112px;
  position: absolute;
}

#cntManual_Cell2_Label61 {
  left: 115px;
  position: absolute;
}

#cntManual_Cell2_Label61 {
  width: 135px;
}

#cntManual_Cell2_Label61 {
  z-index: 1;
}

#cntManual_Cell2_Label61 {
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntManual_Cell2_Label62 {
  top: 162px;
  position: absolute;
}

#cntManual_Cell2_Label62 {
  left: 7px;
  position: absolute;
}

#cntManual_Cell2_Label62 {
  width: 75px;
}

#cntManual_Cell2_Label62 {
  height: 55px;
}

#cntManual_Cell2_Label62 {
  z-index: 2;
}

#cntManual_Cell2_Label62 {
  border-width: 0px 3px 0px 0px;
}

#cntManual_Cell2_Label62 {
  border-color: dimgray;
}

#cntManual_Cell2_Label62:before {
  border-color: dimgray;
}

#cntManual_Cell2_Label62:after {
  border-color: dimgray;
}

#cntManual_Cell2_Label62 {
  border-style: solid;
}

#cntManual_Cell2_Label62:before {
  border-style: solid;
}

#cntManual_Cell2_Label62:after {
  border-style: solid;
}

#cntManual_Cell2_Label62 {
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntManual_Cell2_Label62 {
  font-weight: bold;
}

#cntManual_Cell2_Line20 {
  z-index: 3;
}

#cntManual_Cell2_Line20 line {
  stroke: dimgray;
}

#cntManual_Cell2_Line20 line {
  stroke-width: 2px;
}

#cntManual_Cell2_TextOutput20 {
  top: 159px;
  position: absolute;
}

#cntManual_Cell2_TextOutput20 {
  left: 76px;
  position: absolute;
}

#cntManual_Cell2_TextOutput20 {
  width: 294px;
}

#cntManual_Cell2_TextOutput20 {
  height: 60px;
}

#cntManual_Cell2_TextOutput20 {
  z-index: 4;
}

#cntManual_Cell2_GroupBox19 {
  top: 255px;
  position: absolute;
}

#cntManual_Cell2_GroupBox19 {
  left: 369px;
  position: absolute;
}

#cntManual_Cell2_GroupBox19 {
  width: 369px;
}

#cntManual_Cell2_GroupBox19 {
  height: 255px;
}

#cntManual_Cell2_GroupBox19 {
  z-index: 4;
}

#cntManual_Cell2_Cell2CamLightTopOpenButton {
  top: 12px;
  position: absolute;
}

#cntManual_Cell2_Cell2CamLightTopOpenButton {
  left: 115px;
  position: absolute;
}

#cntManual_Cell2_Cell2CamLightTopOpenButton {
  width: 137px;
}

#cntManual_Cell2_Cell2CamLightTopOpenButton {
  height: 67px;
}

#cntManual_Cell2_Cell2CamLightTopOpenButton {
  z-index: 0;
}

#cntManual_Cell2_Label59 {
  height: 30px;
}

#cntManual_Cell2_Label59 {
  top: 112px;
  position: absolute;
}

#cntManual_Cell2_Label59 {
  left: 115px;
  position: absolute;
}

#cntManual_Cell2_Label59 {
  width: 135px;
}

#cntManual_Cell2_Label59 {
  z-index: 1;
}

#cntManual_Cell2_Label59 {
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntManual_Cell2_Label60 {
  top: 162px;
  position: absolute;
}

#cntManual_Cell2_Label60 {
  left: 7px;
  position: absolute;
}

#cntManual_Cell2_Label60 {
  width: 75px;
}

#cntManual_Cell2_Label60 {
  height: 55px;
}

#cntManual_Cell2_Label60 {
  z-index: 2;
}

#cntManual_Cell2_Label60 {
  border-width: 0px 3px 0px 0px;
}

#cntManual_Cell2_Label60 {
  border-color: dimgray;
}

#cntManual_Cell2_Label60:before {
  border-color: dimgray;
}

#cntManual_Cell2_Label60:after {
  border-color: dimgray;
}

#cntManual_Cell2_Label60 {
  border-style: solid;
}

#cntManual_Cell2_Label60:before {
  border-style: solid;
}

#cntManual_Cell2_Label60:after {
  border-style: solid;
}

#cntManual_Cell2_Label60 {
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntManual_Cell2_Label60 {
  font-weight: bold;
}

#cntManual_Cell2_Line19 {
  z-index: 3;
}

#cntManual_Cell2_Line19 line {
  stroke: dimgray;
}

#cntManual_Cell2_Line19 line {
  stroke-width: 2px;
}

#cntManual_Cell2_TextOutput19 {
  top: 159px;
  position: absolute;
}

#cntManual_Cell2_TextOutput19 {
  left: 76px;
  position: absolute;
}

#cntManual_Cell2_TextOutput19 {
  width: 294px;
}

#cntManual_Cell2_TextOutput19 {
  height: 60px;
}

#cntManual_Cell2_TextOutput19 {
  z-index: 4;
}
