﻿@import "mixins.scss";
#cntManual_Cell1_GridLine1 {
	@include elemTop(0);
}
#cntManual_Cell1_GridLine1 {
	@include elemLeft(0);
}
#cntManual_Cell1_GridLine1 {
	@include elemWidth(1890);
}
#cntManual_Cell1_GridLine1 {
	@include elemHeight(530);
}
#cntManual_Cell1_GridLine1 {
		z-index: 0;
}
#cntManual_Cell1_GridLine1 {
		margin: 0px 0px 0px 0px;
}
#cntManual_Cell1_GridLine1 {
	.container{
		padding: 5px 0px;
	}
}
#cntManual_Cell1_GridLineItem1 {
		z-index: 0;
}
#cntManual_Cell1_GridLineItem1 {
		padding: 2px 20px 10px 10px;
}
#cntManual_Cell1_GridLineItem1 {
	> .container{
	@include border-radius(2px);
	}
}
#cntManual_Cell1_GroupBox6 {
	@include elemTop(0);
}
#cntManual_Cell1_GroupBox6 {
	@include elemLeft(0);
}
#cntManual_Cell1_GroupBox6 {
	@include elemWidth(375);
}
#cntManual_Cell1_GroupBox6 {
	@include elemHeight(255);
}
#cntManual_Cell1_GroupBox6 {
		z-index: 0;
}
#cntManual_Cell1_Cell1LeftStackerOpenButton {
	@include elemTop(25);
}
#cntManual_Cell1_Cell1LeftStackerOpenButton {
	@include elemLeft(15);
}
#cntManual_Cell1_Cell1LeftStackerOpenButton {
	@include elemAutoWidth(130);
}
#cntManual_Cell1_Cell1LeftStackerOpenButton {
	@include elemAutoHeight(73);
}
#cntManual_Cell1_Cell1LeftStackerOpenButton {
		z-index: 0;
}
#cntManual_Cell1_Cell1LeftStackerCloseButton {
	@include elemTop(25);
}
#cntManual_Cell1_Cell1LeftStackerCloseButton {
	@include elemLeft(215);
}
#cntManual_Cell1_Cell1LeftStackerCloseButton {
	@include elemAutoWidth(130);
}
#cntManual_Cell1_Cell1LeftStackerCloseButton {
	@include elemAutoHeight(67);
}
#cntManual_Cell1_Cell1LeftStackerCloseButton {
		z-index: 1;
}
#cntManual_Cell1_Label13 {
	@include elemTop(170);
}
#cntManual_Cell1_Label13 {
	@include elemLeft(10);
}
#cntManual_Cell1_Label13 {
	@include elemAutoWidth(90);
}
#cntManual_Cell1_Label13 {
	@include elemAutoHeight(46);
}
#cntManual_Cell1_Label13 {
		z-index: 2;
}
#cntManual_Cell1_Label13 {
	@include text-alignment-all('center');
}
#cntManual_Cell1_Label13 {
	@include font-weight-bold(true);
}
#cntManual_Cell1_Line13 {
		z-index: 3;
}
#cntManual_Cell1_Line14 {
		z-index: 4;
}
#cntManual_Cell1_Label14 {
	@include elemAutoHeight(30);
}
#cntManual_Cell1_Label14 {
	@include elemTop(110);
}
#cntManual_Cell1_Label14 {
	@include elemLeft(15);
}
#cntManual_Cell1_Label14 {
	@include elemAutoWidth(130);
}
#cntManual_Cell1_Label14 {
		z-index: 5;
}
#cntManual_Cell1_Label14 {
	@include text-alignment-all('center');
}
#cntManual_Cell1_lbl_Closed6 {
	@include elemAutoHeight(30);
}
#cntManual_Cell1_lbl_Closed6 {
	@include elemTop(110);
}
#cntManual_Cell1_lbl_Closed6 {
	@include elemLeft(215);
}
#cntManual_Cell1_lbl_Closed6 {
	@include elemAutoWidth(130);
}
#cntManual_Cell1_lbl_Closed6 {
		z-index: 6;
}
#cntManual_Cell1_lbl_Closed6 {
	@include text-alignment-all('center');
}
#cntManual_Cell1_txtLeftStacker {
	@include elemTop(170);
}
#cntManual_Cell1_txtLeftStacker {
	@include elemLeft(100);
}
#cntManual_Cell1_txtLeftStacker {
	@include elemAutoWidth(270);
}
#cntManual_Cell1_txtLeftStacker {
	@include elemAutoHeight(43);
}
#cntManual_Cell1_txtLeftStacker {
		z-index: 7;
}
#cntManual_Cell1_GroupBox7 {
	@include elemTop(255);
}
#cntManual_Cell1_GroupBox7 {
	@include elemLeft(0);
}
#cntManual_Cell1_GroupBox7 {
	@include elemWidth(375);
}
#cntManual_Cell1_GroupBox7 {
	@include elemHeight(255);
}
#cntManual_Cell1_GroupBox7 {
		z-index: 1;
}
#cntManual_Cell1_RightStackerOpenButton {
	@include elemTop(25);
}
#cntManual_Cell1_RightStackerOpenButton {
	@include elemLeft(15);
}
#cntManual_Cell1_RightStackerOpenButton {
	@include elemAutoWidth(130);
}
#cntManual_Cell1_RightStackerOpenButton {
	@include elemAutoHeight(67);
}
#cntManual_Cell1_RightStackerOpenButton {
		z-index: 0;
}
#cntManual_Cell1_RightStackerCloseButton {
	@include elemTop(25);
}
#cntManual_Cell1_RightStackerCloseButton {
	@include elemLeft(215);
}
#cntManual_Cell1_RightStackerCloseButton {
	@include elemAutoWidth(130);
}
#cntManual_Cell1_RightStackerCloseButton {
	@include elemAutoHeight(67);
}
#cntManual_Cell1_RightStackerCloseButton {
		z-index: 1;
}
#cntManual_Cell1_Label15 {
	@include elemTop(170);
}
#cntManual_Cell1_Label15 {
	@include elemLeft(-1);
}
#cntManual_Cell1_Label15 {
	@include elemAutoWidth(106);
}
#cntManual_Cell1_Label15 {
	@include elemAutoHeight(46);
}
#cntManual_Cell1_Label15 {
		z-index: 2;
}
#cntManual_Cell1_Label15 {
	@include text-alignment-all('center');
}
#cntManual_Cell1_Label15 {
	@include font-weight-bold(true);
}
#cntManual_Cell1_Line15 {
		z-index: 3;
}
#cntManual_Cell1_Line16 {
		z-index: 4;
}
#cntManual_Cell1_Label16 {
	@include elemAutoHeight(30);
}
#cntManual_Cell1_Label16 {
	@include elemTop(110);
}
#cntManual_Cell1_Label16 {
	@include elemLeft(15);
}
#cntManual_Cell1_Label16 {
	@include elemAutoWidth(130);
}
#cntManual_Cell1_Label16 {
		z-index: 5;
}
#cntManual_Cell1_Label16 {
	@include text-alignment-all('center');
}
#cntManual_Cell1_lbl_Closed7 {
	@include elemAutoHeight(30);
}
#cntManual_Cell1_lbl_Closed7 {
	@include elemTop(110);
}
#cntManual_Cell1_lbl_Closed7 {
	@include elemLeft(215);
}
#cntManual_Cell1_lbl_Closed7 {
	@include elemAutoWidth(130);
}
#cntManual_Cell1_lbl_Closed7 {
		z-index: 6;
}
#cntManual_Cell1_lbl_Closed7 {
	@include text-alignment-all('center');
}
#cntManual_Cell1_txtRightStacker {
	@include elemTop(169);
}
#cntManual_Cell1_txtRightStacker {
	@include elemLeft(100);
}
#cntManual_Cell1_txtRightStacker {
	@include elemAutoWidth(270);
}
#cntManual_Cell1_txtRightStacker {
	@include elemAutoHeight(41);
}
#cntManual_Cell1_txtRightStacker {
		z-index: 7;
}
#cntManual_Cell1_GroupBox8 {
	@include elemTop(0);
}
#cntManual_Cell1_GroupBox8 {
	@include elemLeft(375);
}
#cntManual_Cell1_GroupBox8 {
	@include elemWidth(375);
}
#cntManual_Cell1_GroupBox8 {
	@include elemHeight(255);
}
#cntManual_Cell1_GroupBox8 {
		z-index: 2;
}
#cntManual_Cell1_Cell1BannerCellLights {
	@include elemTop(25);
}
#cntManual_Cell1_Cell1BannerCellLights {
	@include elemLeft(115);
}
#cntManual_Cell1_Cell1BannerCellLights {
	@include elemAutoWidth(130);
}
#cntManual_Cell1_Cell1BannerCellLights {
	@include elemAutoHeight(67);
}
#cntManual_Cell1_Cell1BannerCellLights {
		z-index: 0;
}
#cntManual_Cell1_Label17 {
	@include elemTop(170);
}
#cntManual_Cell1_Label17 {
	@include elemLeft(-1);
}
#cntManual_Cell1_Label17 {
	@include elemAutoWidth(91);
}
#cntManual_Cell1_Label17 {
	@include elemAutoHeight(46);
}
#cntManual_Cell1_Label17 {
		z-index: 1;
}
#cntManual_Cell1_Label17 {
	@include text-alignment-all('center');
}
#cntManual_Cell1_Label17 {
	@include font-weight-bold(true);
}
#cntManual_Cell1_Line17 {
		z-index: 2;
}
#cntManual_Cell1_Line18 {
		z-index: 3;
}
#cntManual_Cell1_Label18 {
	@include elemAutoHeight(30);
}
#cntManual_Cell1_Label18 {
	@include elemTop(110);
}
#cntManual_Cell1_Label18 {
	@include elemLeft(115);
}
#cntManual_Cell1_Label18 {
	@include elemAutoWidth(130);
}
#cntManual_Cell1_Label18 {
		z-index: 4;
}
#cntManual_Cell1_Label18 {
	@include text-alignment-all('center');
}
#cntManual_Cell1_txtBannerCellLight {
	@include elemTop(175);
}
#cntManual_Cell1_txtBannerCellLight {
	@include elemLeft(113);
}
#cntManual_Cell1_txtBannerCellLight {
	@include elemAutoWidth(240);
}
#cntManual_Cell1_txtBannerCellLight {
	@include elemAutoHeight(33);
}
#cntManual_Cell1_txtBannerCellLight {
		z-index: 5;
}
#cntManual_Cell1_MomentaryPushButton22 {
	@include elemTop(22);
}
#cntManual_Cell1_MomentaryPushButton22 {
	@include elemLeft(625);
}
#cntManual_Cell1_MomentaryPushButton22 {
	@include elemAutoWidth(137);
}
#cntManual_Cell1_MomentaryPushButton22 {
	@include elemAutoHeight(67);
}
#cntManual_Cell1_MomentaryPushButton22 {
		z-index: 6;
}
#cntManual_Cell1_GroupBox9 {
	@include elemTop(255);
}
#cntManual_Cell1_GroupBox9 {
	@include elemLeft(375);
}
#cntManual_Cell1_GroupBox9 {
	@include elemWidth(375);
}
#cntManual_Cell1_GroupBox9 {
	@include elemHeight(255);
}
#cntManual_Cell1_GroupBox9 {
		z-index: 3;
}
#cntManual_Cell1_Cell1AirBlowerButton {
	@include elemTop(25);
}
#cntManual_Cell1_Cell1AirBlowerButton {
	@include elemLeft(115);
}
#cntManual_Cell1_Cell1AirBlowerButton {
	@include elemAutoWidth(130);
}
#cntManual_Cell1_Cell1AirBlowerButton {
	@include elemAutoHeight(67);
}
#cntManual_Cell1_Cell1AirBlowerButton {
		z-index: 0;
}
#cntManual_Cell1_Label19 {
	@include elemTop(170);
}
#cntManual_Cell1_Label19 {
	@include elemLeft(-1);
}
#cntManual_Cell1_Label19 {
	@include elemAutoWidth(106);
}
#cntManual_Cell1_Label19 {
	@include elemAutoHeight(46);
}
#cntManual_Cell1_Label19 {
		z-index: 1;
}
#cntManual_Cell1_Label19 {
	@include text-alignment-all('center');
}
#cntManual_Cell1_Label19 {
	@include font-weight-bold(true);
}
#cntManual_Cell1_Line19 {
		z-index: 2;
}
#cntManual_Cell1_Line20 {
		z-index: 3;
}
#cntManual_Cell1_Label20 {
	@include elemAutoHeight(30);
}
#cntManual_Cell1_Label20 {
	@include elemTop(110);
}
#cntManual_Cell1_Label20 {
	@include elemLeft(115);
}
#cntManual_Cell1_Label20 {
	@include elemAutoWidth(130);
}
#cntManual_Cell1_Label20 {
		z-index: 4;
}
#cntManual_Cell1_Label20 {
	@include text-alignment-all('center');
}
#cntManual_Cell1_txtAirBlower {
	@include elemTop(169);
}
#cntManual_Cell1_txtAirBlower {
	@include elemLeft(102);
}
#cntManual_Cell1_txtAirBlower {
	@include elemAutoWidth(268);
}
#cntManual_Cell1_txtAirBlower {
	@include elemAutoHeight(44);
}
#cntManual_Cell1_txtAirBlower {
		z-index: 5;
}
#cntManual_Cell1_GroupBox10 {
	@include elemTop(0);
}
#cntManual_Cell1_GroupBox10 {
	@include elemLeft(750);
}
#cntManual_Cell1_GroupBox10 {
	@include elemWidth(375);
}
#cntManual_Cell1_GroupBox10 {
	@include elemHeight(255);
}
#cntManual_Cell1_GroupBox10 {
		z-index: 5;
}
#cntManual_Cell1_GroupBox10 {
	@include border-radius(0px 0px 0px 0px);
}
#cntManual_Cell1_Cell1CamLightBottomButton {
	@include elemTop(25);
}
#cntManual_Cell1_Cell1CamLightBottomButton {
	@include elemLeft(115);
}
#cntManual_Cell1_Cell1CamLightBottomButton {
	@include elemAutoWidth(130);
}
#cntManual_Cell1_Cell1CamLightBottomButton {
	@include elemAutoHeight(67);
}
#cntManual_Cell1_Cell1CamLightBottomButton {
		z-index: 0;
}
#cntManual_Cell1_Label21 {
	@include elemTop(170);
}
#cntManual_Cell1_Label21 {
	@include elemLeft(-1);
}
#cntManual_Cell1_Label21 {
	@include elemAutoWidth(91);
}
#cntManual_Cell1_Label21 {
	@include elemAutoHeight(46);
}
#cntManual_Cell1_Label21 {
		z-index: 1;
}
#cntManual_Cell1_Label21 {
	@include text-alignment-all('center');
}
#cntManual_Cell1_Label21 {
	@include font-weight-bold(true);
}
#cntManual_Cell1_Line21 {
		z-index: 2;
}
#cntManual_Cell1_Line22 {
		z-index: 3;
}
#cntManual_Cell1_Label22 {
	@include elemAutoHeight(30);
}
#cntManual_Cell1_Label22 {
	@include elemTop(110);
}
#cntManual_Cell1_Label22 {
	@include elemLeft(115);
}
#cntManual_Cell1_Label22 {
	@include elemAutoWidth(130);
}
#cntManual_Cell1_Label22 {
		z-index: 4;
}
#cntManual_Cell1_Label22 {
	@include text-alignment-all('center');
}
#cntManual_Cell1_txtCameraLight {
	@include elemTop(170);
}
#cntManual_Cell1_txtCameraLight {
	@include elemLeft(100);
}
#cntManual_Cell1_txtCameraLight {
	@include elemAutoWidth(270);
}
#cntManual_Cell1_txtCameraLight {
	@include elemAutoHeight(43);
}
#cntManual_Cell1_txtCameraLight {
		z-index: 5;
}
#cntManual_Cell1_GroupBox11 {
	@include elemTop(255);
}
#cntManual_Cell1_GroupBox11 {
	@include elemLeft(750);
}
#cntManual_Cell1_GroupBox11 {
	@include elemWidth(375);
}
#cntManual_Cell1_GroupBox11 {
	@include elemHeight(255);
}
#cntManual_Cell1_GroupBox11 {
		z-index: 4;
}
#cntManual_Cell1_Cell1GripperToolLockOpenButton {
	@include elemTop(25);
}
#cntManual_Cell1_Cell1GripperToolLockOpenButton {
	@include elemLeft(15);
}
#cntManual_Cell1_Cell1GripperToolLockOpenButton {
	@include elemAutoWidth(130);
}
#cntManual_Cell1_Cell1GripperToolLockOpenButton {
	@include elemAutoHeight(67);
}
#cntManual_Cell1_Cell1GripperToolLockOpenButton {
		z-index: 0;
}
#cntManual_Cell1_Label23 {
	@include elemTop(160);
}
#cntManual_Cell1_Label23 {
	@include elemLeft(0);
}
#cntManual_Cell1_Label23 {
	@include elemAutoWidth(98);
}
#cntManual_Cell1_Label23 {
	@include elemAutoHeight(55);
}
#cntManual_Cell1_Label23 {
		z-index: 1;
}
#cntManual_Cell1_Label23 {
	@include text-alignment-all('center');
}
#cntManual_Cell1_Label23 {
	@include font-weight-bold(true);
}
#cntManual_Cell1_Line23 {
		z-index: 2;
}
#cntManual_Cell1_Line24 {
		z-index: 3;
}
#cntManual_Cell1_Label24 {
	@include elemAutoHeight(30);
}
#cntManual_Cell1_Label24 {
	@include elemTop(110);
}
#cntManual_Cell1_Label24 {
	@include elemLeft(15);
}
#cntManual_Cell1_Label24 {
	@include elemAutoWidth(130);
}
#cntManual_Cell1_Label24 {
		z-index: 4;
}
#cntManual_Cell1_Label24 {
	@include text-alignment-all('center');
}
#cntManual_Cell1_lbl_Closed11 {
	@include elemAutoHeight(30);
}
#cntManual_Cell1_lbl_Closed11 {
	@include elemTop(110);
}
#cntManual_Cell1_lbl_Closed11 {
	@include elemLeft(215);
}
#cntManual_Cell1_lbl_Closed11 {
	@include elemAutoWidth(130);
}
#cntManual_Cell1_lbl_Closed11 {
		z-index: 5;
}
#cntManual_Cell1_lbl_Closed11 {
	@include text-alignment-all('center');
}
#cntManual_Cell1_txtGripperCompensator {
	@include elemTop(170);
}
#cntManual_Cell1_txtGripperCompensator {
	@include elemLeft(100);
}
#cntManual_Cell1_txtGripperCompensator {
	@include elemAutoWidth(270);
}
#cntManual_Cell1_txtGripperCompensator {
	@include elemAutoHeight(40);
}
#cntManual_Cell1_txtGripperCompensator {
		z-index: 6;
}
#cntManual_Cell1_Cell1GripperToolLockCloseButton {
	@include elemTop(25);
}
#cntManual_Cell1_Cell1GripperToolLockCloseButton {
	@include elemLeft(215);
}
#cntManual_Cell1_Cell1GripperToolLockCloseButton {
	@include elemAutoWidth(130);
}
#cntManual_Cell1_Cell1GripperToolLockCloseButton {
	@include elemAutoHeight(67);
}
#cntManual_Cell1_Cell1GripperToolLockCloseButton {
		z-index: 7;
}
#cntManual_Cell1_GroupBox13 {
	@include elemTop(0);
}
#cntManual_Cell1_GroupBox13 {
	@include elemLeft(1500);
}
#cntManual_Cell1_GroupBox13 {
	@include elemWidth(375);
}
#cntManual_Cell1_GroupBox13 {
	@include elemHeight(255);
}
#cntManual_Cell1_GroupBox13 {
		z-index: 6;
}
#cntManual_Cell1_GroupBox13 {
	@include border-radius(0px 0px 0px 0px);
}
#cntManual_Cell1_Cell1Vacuum2BlowButton {
	@include elemTop(25);
}
#cntManual_Cell1_Cell1Vacuum2BlowButton {
	@include elemLeft(15);
}
#cntManual_Cell1_Cell1Vacuum2BlowButton {
	@include elemAutoWidth(130);
}
#cntManual_Cell1_Cell1Vacuum2BlowButton {
	@include elemAutoHeight(67);
}
#cntManual_Cell1_Cell1Vacuum2BlowButton {
		z-index: 1;
}
#cntManual_Cell1_Label27 {
	@include elemTop(170);
}
#cntManual_Cell1_Label27 {
	@include elemLeft(-1);
}
#cntManual_Cell1_Label27 {
	@include elemAutoWidth(91);
}
#cntManual_Cell1_Label27 {
	@include elemAutoHeight(46);
}
#cntManual_Cell1_Label27 {
		z-index: 2;
}
#cntManual_Cell1_Label27 {
	@include text-alignment-all('center');
}
#cntManual_Cell1_Label27 {
	@include font-weight-bold(true);
}
#cntManual_Cell1_Line27 {
		z-index: 3;
}
#cntManual_Cell1_Line28 {
		z-index: 4;
}
#cntManual_Cell1_Label28 {
	@include elemAutoHeight(30);
}
#cntManual_Cell1_Label28 {
	@include elemTop(110);
}
#cntManual_Cell1_Label28 {
	@include elemLeft(15);
}
#cntManual_Cell1_Label28 {
	@include elemAutoWidth(130);
}
#cntManual_Cell1_Label28 {
		z-index: 5;
}
#cntManual_Cell1_Label28 {
	@include text-alignment-all('center');
}
#cntManual_Cell1_lbl_Closed13 {
	@include elemAutoHeight(30);
}
#cntManual_Cell1_lbl_Closed13 {
	@include elemTop(110);
}
#cntManual_Cell1_lbl_Closed13 {
	@include elemLeft(215);
}
#cntManual_Cell1_lbl_Closed13 {
	@include elemAutoWidth(130);
}
#cntManual_Cell1_lbl_Closed13 {
		z-index: 0;
}
#cntManual_Cell1_lbl_Closed13 {
	@include text-alignment-all('center');
}
#cntManual_Cell1_txtCameraLight2 {
	@include elemTop(170);
}
#cntManual_Cell1_txtCameraLight2 {
	@include elemLeft(100);
}
#cntManual_Cell1_txtCameraLight2 {
	@include elemAutoWidth(270);
}
#cntManual_Cell1_txtCameraLight2 {
	@include elemAutoHeight(43);
}
#cntManual_Cell1_txtCameraLight2 {
		z-index: 6;
}
#cntManual_Cell1_Cell1Vacuum2SuctionButton {
	@include elemTop(25);
}
#cntManual_Cell1_Cell1Vacuum2SuctionButton {
	@include elemLeft(215);
}
#cntManual_Cell1_Cell1Vacuum2SuctionButton {
	@include elemAutoWidth(130);
}
#cntManual_Cell1_Cell1Vacuum2SuctionButton {
	@include elemAutoHeight(67);
}
#cntManual_Cell1_Cell1Vacuum2SuctionButton {
		z-index: 7;
}
#cntManual_Cell1_GroupBox14 {
	@include elemTop(255);
}
#cntManual_Cell1_GroupBox14 {
	@include elemLeft(1125);
}
#cntManual_Cell1_GroupBox14 {
	@include elemWidth(375);
}
#cntManual_Cell1_GroupBox14 {
	@include elemHeight(255);
}
#cntManual_Cell1_GroupBox14 {
		z-index: 7;
}
#cntManual_Cell1_GroupBox14 {
	@include border-radius(0px 0px 0px 0px);
}
#cntManual_Cell1_Cell1Vacuum1BlowButton {
	@include elemTop(25);
}
#cntManual_Cell1_Cell1Vacuum1BlowButton {
	@include elemLeft(15);
}
#cntManual_Cell1_Cell1Vacuum1BlowButton {
	@include elemAutoWidth(130);
}
#cntManual_Cell1_Cell1Vacuum1BlowButton {
	@include elemAutoHeight(67);
}
#cntManual_Cell1_Cell1Vacuum1BlowButton {
		z-index: 1;
}
#cntManual_Cell1_Label29 {
	@include elemTop(170);
}
#cntManual_Cell1_Label29 {
	@include elemLeft(-1);
}
#cntManual_Cell1_Label29 {
	@include elemAutoWidth(91);
}
#cntManual_Cell1_Label29 {
	@include elemAutoHeight(46);
}
#cntManual_Cell1_Label29 {
		z-index: 2;
}
#cntManual_Cell1_Label29 {
	@include text-alignment-all('center');
}
#cntManual_Cell1_Label29 {
	@include font-weight-bold(true);
}
#cntManual_Cell1_Line29 {
		z-index: 3;
}
#cntManual_Cell1_Line30 {
		z-index: 4;
}
#cntManual_Cell1_Label30 {
	@include elemAutoHeight(30);
}
#cntManual_Cell1_Label30 {
	@include elemTop(110);
}
#cntManual_Cell1_Label30 {
	@include elemLeft(15);
}
#cntManual_Cell1_Label30 {
	@include elemAutoWidth(130);
}
#cntManual_Cell1_Label30 {
		z-index: 5;
}
#cntManual_Cell1_Label30 {
	@include text-alignment-all('center');
}
#cntManual_Cell1_lbl_Closed14 {
	@include elemAutoHeight(30);
}
#cntManual_Cell1_lbl_Closed14 {
	@include elemTop(110);
}
#cntManual_Cell1_lbl_Closed14 {
	@include elemLeft(215);
}
#cntManual_Cell1_lbl_Closed14 {
	@include elemAutoWidth(130);
}
#cntManual_Cell1_lbl_Closed14 {
		z-index: 0;
}
#cntManual_Cell1_lbl_Closed14 {
	@include text-alignment-all('center');
}
#cntManual_Cell1_txtCameraLight3 {
	@include elemTop(170);
}
#cntManual_Cell1_txtCameraLight3 {
	@include elemLeft(100);
}
#cntManual_Cell1_txtCameraLight3 {
	@include elemAutoWidth(270);
}
#cntManual_Cell1_txtCameraLight3 {
	@include elemAutoHeight(43);
}
#cntManual_Cell1_txtCameraLight3 {
		z-index: 6;
}
#cntManual_Cell1_Cell1Vacuum1SuctionButton {
	@include elemTop(25);
}
#cntManual_Cell1_Cell1Vacuum1SuctionButton {
	@include elemLeft(215);
}
#cntManual_Cell1_Cell1Vacuum1SuctionButton {
	@include elemAutoWidth(130);
}
#cntManual_Cell1_Cell1Vacuum1SuctionButton {
	@include elemAutoHeight(67);
}
#cntManual_Cell1_Cell1Vacuum1SuctionButton {
		z-index: 7;
}
#cntManual_Cell1_GroupBox15 {
	@include elemTop(255);
}
#cntManual_Cell1_GroupBox15 {
	@include elemLeft(1500);
}
#cntManual_Cell1_GroupBox15 {
	@include elemWidth(375);
}
#cntManual_Cell1_GroupBox15 {
	@include elemHeight(255);
}
#cntManual_Cell1_GroupBox15 {
		z-index: 8;
}
#cntManual_Cell1_GroupBox15 {
	@include border-radius(0px 0px 0px 0px);
}
#cntManual_Cell1_Cell1Vacuum3BlowButton {
	@include elemTop(25);
}
#cntManual_Cell1_Cell1Vacuum3BlowButton {
	@include elemLeft(15);
}
#cntManual_Cell1_Cell1Vacuum3BlowButton {
	@include elemAutoWidth(130);
}
#cntManual_Cell1_Cell1Vacuum3BlowButton {
	@include elemAutoHeight(67);
}
#cntManual_Cell1_Cell1Vacuum3BlowButton {
		z-index: 1;
}
#cntManual_Cell1_Label31 {
	@include elemTop(170);
}
#cntManual_Cell1_Label31 {
	@include elemLeft(-1);
}
#cntManual_Cell1_Label31 {
	@include elemAutoWidth(91);
}
#cntManual_Cell1_Label31 {
	@include elemAutoHeight(46);
}
#cntManual_Cell1_Label31 {
		z-index: 2;
}
#cntManual_Cell1_Label31 {
	@include text-alignment-all('center');
}
#cntManual_Cell1_Label31 {
	@include font-weight-bold(true);
}
#cntManual_Cell1_Line31 {
		z-index: 3;
}
#cntManual_Cell1_Line32 {
		z-index: 4;
}
#cntManual_Cell1_Label32 {
	@include elemAutoHeight(30);
}
#cntManual_Cell1_Label32 {
	@include elemTop(110);
}
#cntManual_Cell1_Label32 {
	@include elemLeft(15);
}
#cntManual_Cell1_Label32 {
	@include elemAutoWidth(130);
}
#cntManual_Cell1_Label32 {
		z-index: 5;
}
#cntManual_Cell1_Label32 {
	@include text-alignment-all('center');
}
#cntManual_Cell1_lbl_Closed15 {
	@include elemAutoHeight(30);
}
#cntManual_Cell1_lbl_Closed15 {
	@include elemTop(110);
}
#cntManual_Cell1_lbl_Closed15 {
	@include elemLeft(215);
}
#cntManual_Cell1_lbl_Closed15 {
	@include elemAutoWidth(130);
}
#cntManual_Cell1_lbl_Closed15 {
		z-index: 0;
}
#cntManual_Cell1_lbl_Closed15 {
	@include text-alignment-all('center');
}
#cntManual_Cell1_txtCameraLight4 {
	@include elemTop(170);
}
#cntManual_Cell1_txtCameraLight4 {
	@include elemLeft(100);
}
#cntManual_Cell1_txtCameraLight4 {
	@include elemAutoWidth(270);
}
#cntManual_Cell1_txtCameraLight4 {
	@include elemAutoHeight(43);
}
#cntManual_Cell1_txtCameraLight4 {
		z-index: 6;
}
#cntManual_Cell1_Cell1Vacuum3SuctionButton {
	@include elemTop(25);
}
#cntManual_Cell1_Cell1Vacuum3SuctionButton {
	@include elemLeft(215);
}
#cntManual_Cell1_Cell1Vacuum3SuctionButton {
	@include elemAutoWidth(130);
}
#cntManual_Cell1_Cell1Vacuum3SuctionButton {
	@include elemAutoHeight(67);
}
#cntManual_Cell1_Cell1Vacuum3SuctionButton {
		z-index: 7;
}
#cntManual_Cell1_GroupBox18 {
	@include elemTop(0);
}
#cntManual_Cell1_GroupBox18 {
	@include elemLeft(1125);
}
#cntManual_Cell1_GroupBox18 {
	@include elemWidth(375);
}
#cntManual_Cell1_GroupBox18 {
	@include elemHeight(255);
}
#cntManual_Cell1_GroupBox18 {
		z-index: 9;
}
#cntManual_Cell1_GroupBox18 {
	@include border-radius(0px 0px 0px 0px);
}
#cntManual_Cell1_Label37 {
	@include elemTop(170);
}
#cntManual_Cell1_Label37 {
	@include elemLeft(-1);
}
#cntManual_Cell1_Label37 {
	@include elemAutoWidth(91);
}
#cntManual_Cell1_Label37 {
	@include elemAutoHeight(46);
}
#cntManual_Cell1_Label37 {
		z-index: 1;
}
#cntManual_Cell1_Label37 {
	@include text-alignment-all('center');
}
#cntManual_Cell1_Label37 {
	@include font-weight-bold(true);
}
#cntManual_Cell1_Line37 {
		z-index: 2;
}
#cntManual_Cell1_Line38 {
		z-index: 3;
}
#cntManual_Cell1_Label38 {
	@include elemAutoHeight(30);
}
#cntManual_Cell1_Label38 {
	@include elemTop(110);
}
#cntManual_Cell1_Label38 {
	@include elemLeft(15);
}
#cntManual_Cell1_Label38 {
	@include elemAutoWidth(130);
}
#cntManual_Cell1_Label38 {
		z-index: 4;
}
#cntManual_Cell1_Label38 {
	@include text-alignment-all('center');
}
#cntManual_Cell1_lbl_Closed18 {
	@include elemAutoHeight(30);
}
#cntManual_Cell1_lbl_Closed18 {
	@include elemTop(110);
}
#cntManual_Cell1_lbl_Closed18 {
	@include elemLeft(215);
}
#cntManual_Cell1_lbl_Closed18 {
	@include elemAutoWidth(130);
}
#cntManual_Cell1_lbl_Closed18 {
		z-index: 0;
}
#cntManual_Cell1_lbl_Closed18 {
	@include text-alignment-all('center');
}
#cntManual_Cell1_txtCameraLight7 {
	@include elemTop(170);
}
#cntManual_Cell1_txtCameraLight7 {
	@include elemLeft(100);
}
#cntManual_Cell1_txtCameraLight7 {
	@include elemAutoWidth(270);
}
#cntManual_Cell1_txtCameraLight7 {
	@include elemAutoHeight(43);
}
#cntManual_Cell1_txtCameraLight7 {
		z-index: 5;
}
#cntManual_Cell1_Cell1GrpCmpnstrOpenButton {
	@include elemTop(25);
}
#cntManual_Cell1_Cell1GrpCmpnstrOpenButton {
	@include elemLeft(15);
}
#cntManual_Cell1_Cell1GrpCmpnstrOpenButton {
	@include elemAutoWidth(130);
}
#cntManual_Cell1_Cell1GrpCmpnstrOpenButton {
	@include elemAutoHeight(67);
}
#cntManual_Cell1_Cell1GrpCmpnstrOpenButton {
		z-index: 6;
}
#cntManual_Cell1_Cell1GrpCmpnstrCloseButton {
	@include elemTop(25);
}
#cntManual_Cell1_Cell1GrpCmpnstrCloseButton {
	@include elemLeft(215);
}
#cntManual_Cell1_Cell1GrpCmpnstrCloseButton {
	@include elemAutoWidth(130);
}
#cntManual_Cell1_Cell1GrpCmpnstrCloseButton {
	@include elemAutoHeight(67);
}
#cntManual_Cell1_Cell1GrpCmpnstrCloseButton {
		z-index: 7;
}
#cntManual_Cell1_GridLineItem2 {
		z-index: 1;
}
#cntManual_Cell1_GridLineItem2 {
	> .container{
	@include border-radius(4px);
	}
}
#cntManual_Cell1_GroupBox17 {
	@include elemTop(255);
}
#cntManual_Cell1_GroupBox17 {
	@include elemLeft(0);
}
#cntManual_Cell1_GroupBox17 {
	@include elemWidth(375);
}
#cntManual_Cell1_GroupBox17 {
	@include elemHeight(255);
}
#cntManual_Cell1_GroupBox17 {
		z-index: 0;
}
#cntManual_Cell1_GroupBox17 {
	@include border-radius(0px 0px 0px 0px);
}
#cntManual_Cell1_Cell1Vacuum5BlowButton {
	@include elemTop(25);
}
#cntManual_Cell1_Cell1Vacuum5BlowButton {
	@include elemLeft(15);
}
#cntManual_Cell1_Cell1Vacuum5BlowButton {
	@include elemAutoWidth(130);
}
#cntManual_Cell1_Cell1Vacuum5BlowButton {
	@include elemAutoHeight(67);
}
#cntManual_Cell1_Cell1Vacuum5BlowButton {
		z-index: 1;
}
#cntManual_Cell1_Label35 {
	@include elemTop(170);
}
#cntManual_Cell1_Label35 {
	@include elemLeft(-1);
}
#cntManual_Cell1_Label35 {
	@include elemAutoWidth(91);
}
#cntManual_Cell1_Label35 {
	@include elemAutoHeight(46);
}
#cntManual_Cell1_Label35 {
		z-index: 2;
}
#cntManual_Cell1_Label35 {
	@include text-alignment-all('center');
}
#cntManual_Cell1_Label35 {
	@include font-weight-bold(true);
}
#cntManual_Cell1_Line35 {
		z-index: 3;
}
#cntManual_Cell1_Line36 {
		z-index: 4;
}
#cntManual_Cell1_Label36 {
	@include elemAutoHeight(30);
}
#cntManual_Cell1_Label36 {
	@include elemTop(110);
}
#cntManual_Cell1_Label36 {
	@include elemLeft(15);
}
#cntManual_Cell1_Label36 {
	@include elemAutoWidth(130);
}
#cntManual_Cell1_Label36 {
		z-index: 5;
}
#cntManual_Cell1_Label36 {
	@include text-alignment-all('center');
}
#cntManual_Cell1_lbl_Closed17 {
	@include elemAutoHeight(30);
}
#cntManual_Cell1_lbl_Closed17 {
	@include elemTop(110);
}
#cntManual_Cell1_lbl_Closed17 {
	@include elemLeft(215);
}
#cntManual_Cell1_lbl_Closed17 {
	@include elemAutoWidth(130);
}
#cntManual_Cell1_lbl_Closed17 {
		z-index: 0;
}
#cntManual_Cell1_lbl_Closed17 {
	@include text-alignment-all('center');
}
#cntManual_Cell1_txtCameraLight6 {
	@include elemTop(170);
}
#cntManual_Cell1_txtCameraLight6 {
	@include elemLeft(100);
}
#cntManual_Cell1_txtCameraLight6 {
	@include elemAutoWidth(270);
}
#cntManual_Cell1_txtCameraLight6 {
	@include elemAutoHeight(43);
}
#cntManual_Cell1_txtCameraLight6 {
		z-index: 6;
}
#cntManual_Cell1_Cell1Vacuum5SuctionButton {
	@include elemTop(25);
}
#cntManual_Cell1_Cell1Vacuum5SuctionButton {
	@include elemLeft(215);
}
#cntManual_Cell1_Cell1Vacuum5SuctionButton {
	@include elemAutoWidth(130);
}
#cntManual_Cell1_Cell1Vacuum5SuctionButton {
	@include elemAutoHeight(67);
}
#cntManual_Cell1_Cell1Vacuum5SuctionButton {
		z-index: 7;
}
#cntManual_Cell1_GroupBox19 {
	@include elemTop(0);
}
#cntManual_Cell1_GroupBox19 {
	@include elemLeft(0);
}
#cntManual_Cell1_GroupBox19 {
	@include elemWidth(375);
}
#cntManual_Cell1_GroupBox19 {
	@include elemHeight(255);
}
#cntManual_Cell1_GroupBox19 {
		z-index: 1;
}
#cntManual_Cell1_GroupBox19 {
	@include border-radius(0px 0px 0px 0px);
}
#cntManual_Cell1_Cell1Vacuum4BlowButton {
	@include elemTop(25);
}
#cntManual_Cell1_Cell1Vacuum4BlowButton {
	@include elemLeft(15);
}
#cntManual_Cell1_Cell1Vacuum4BlowButton {
	@include elemAutoWidth(130);
}
#cntManual_Cell1_Cell1Vacuum4BlowButton {
	@include elemAutoHeight(67);
}
#cntManual_Cell1_Cell1Vacuum4BlowButton {
		z-index: 1;
}
#cntManual_Cell1_Label39 {
	@include elemTop(170);
}
#cntManual_Cell1_Label39 {
	@include elemLeft(-1);
}
#cntManual_Cell1_Label39 {
	@include elemAutoWidth(91);
}
#cntManual_Cell1_Label39 {
	@include elemAutoHeight(46);
}
#cntManual_Cell1_Label39 {
		z-index: 2;
}
#cntManual_Cell1_Label39 {
	@include text-alignment-all('center');
}
#cntManual_Cell1_Label39 {
	@include font-weight-bold(true);
}
#cntManual_Cell1_Line39 {
		z-index: 3;
}
#cntManual_Cell1_Line40 {
		z-index: 4;
}
#cntManual_Cell1_Label40 {
	@include elemAutoHeight(30);
}
#cntManual_Cell1_Label40 {
	@include elemTop(110);
}
#cntManual_Cell1_Label40 {
	@include elemLeft(15);
}
#cntManual_Cell1_Label40 {
	@include elemAutoWidth(130);
}
#cntManual_Cell1_Label40 {
		z-index: 5;
}
#cntManual_Cell1_Label40 {
	@include text-alignment-all('center');
}
#cntManual_Cell1_lbl_Closed19 {
	@include elemAutoHeight(30);
}
#cntManual_Cell1_lbl_Closed19 {
	@include elemTop(110);
}
#cntManual_Cell1_lbl_Closed19 {
	@include elemLeft(215);
}
#cntManual_Cell1_lbl_Closed19 {
	@include elemAutoWidth(130);
}
#cntManual_Cell1_lbl_Closed19 {
		z-index: 0;
}
#cntManual_Cell1_lbl_Closed19 {
	@include text-alignment-all('center');
}
#cntManual_Cell1_txtCameraLight8 {
	@include elemTop(170);
}
#cntManual_Cell1_txtCameraLight8 {
	@include elemLeft(100);
}
#cntManual_Cell1_txtCameraLight8 {
	@include elemAutoWidth(270);
}
#cntManual_Cell1_txtCameraLight8 {
	@include elemAutoHeight(43);
}
#cntManual_Cell1_txtCameraLight8 {
		z-index: 6;
}
#cntManual_Cell1_Cell1Vacuum4SuctionButton {
	@include elemTop(25);
}
#cntManual_Cell1_Cell1Vacuum4SuctionButton {
	@include elemLeft(215);
}
#cntManual_Cell1_Cell1Vacuum4SuctionButton {
	@include elemAutoWidth(130);
}
#cntManual_Cell1_Cell1Vacuum4SuctionButton {
	@include elemAutoHeight(67);
}
#cntManual_Cell1_Cell1Vacuum4SuctionButton {
		z-index: 7;
}
