﻿@import "mixins.scss";
#cntManual_ImageAllCels {
	@include elemTop(20);
}
#cntManual_ImageAllCels {
	@include elemLeft(0);
}
#cntManual_ImageAllCels {
	@include elemAutoWidth(1880);
}
#cntManual_ImageAllCels {
	@include elemAutoHeight(420);
}
#cntManual_ImageAllCels {
		z-index: 0;
}
#cntManual_Button_Cell1 {
	@include elemTop(135);
}
#cntManual_Button_Cell1 {
	@include elemLeft(0);
}
#cntManual_Button_Cell1 {
	@include elemAutoWidth(210);
}
#cntManual_Button_Cell1 {
	@include elemAutoHeight(180);
}
#cntManual_Button_Cell1 {
		z-index: 1;
}
#cntManual_Button_Cell2 {
	@include elemTop(135);
}
#cntManual_Button_Cell2 {
	@include elemLeft(208);
}
#cntManual_Button_Cell2 {
	@include elemAutoWidth(213);
}
#cntManual_Button_Cell2 {
	@include elemAutoHeight(180);
}
#cntManual_Button_Cell2 {
		z-index: 2;
}
#cntManual_Button_Cell3 {
	@include elemTop(135);
}
#cntManual_Button_Cell3 {
	@include elemLeft(420);
}
#cntManual_Button_Cell3 {
	@include elemAutoWidth(195);
}
#cntManual_Button_Cell3 {
	@include elemAutoHeight(180);
}
#cntManual_Button_Cell3 {
		z-index: 3;
}
#cntManual_Button_Cell4 {
	@include elemTop(135);
}
#cntManual_Button_Cell4 {
	@include elemLeft(615);
}
#cntManual_Button_Cell4 {
	@include elemAutoWidth(210);
}
#cntManual_Button_Cell4 {
	@include elemAutoHeight(180);
}
#cntManual_Button_Cell4 {
		z-index: 4;
}
#cntManual_Button_Cell5 {
	@include elemTop(20);
}
#cntManual_Button_Cell5 {
	@include elemLeft(840);
}
#cntManual_Button_Cell5 {
	@include elemAutoWidth(195);
}
#cntManual_Button_Cell5 {
	@include elemAutoHeight(418);
}
#cntManual_Button_Cell5 {
		z-index: 5;
}
#cntManual_Button_Cell6_I {
	@include elemTop(30);
}
#cntManual_Button_Cell6_I {
	@include elemLeft(1470);
}
#cntManual_Button_Cell6_I {
	@include elemAutoWidth(198);
}
#cntManual_Button_Cell6_I {
	@include elemAutoHeight(150);
}
#cntManual_Button_Cell6_I {
		z-index: 6;
}
#cntManual_Button_Cell7 {
	@include elemTop(20);
}
#cntManual_Button_Cell7 {
	@include elemLeft(1050);
}
#cntManual_Button_Cell7 {
	@include elemAutoWidth(195);
}
#cntManual_Button_Cell7 {
	@include elemAutoHeight(160);
}
#cntManual_Button_Cell7 {
		z-index: 7;
}
#cntManual_Button_Cell8 {
	@include elemTop(20);
}
#cntManual_Button_Cell8 {
	@include elemLeft(1260);
}
#cntManual_Button_Cell8 {
	@include elemAutoWidth(193);
}
#cntManual_Button_Cell8 {
	@include elemAutoHeight(175);
}
#cntManual_Button_Cell8 {
		z-index: 8;
}
#cntManual_Button_Cell9 {
	@include elemTop(20);
}
#cntManual_Button_Cell9 {
	@include elemLeft(1680);
}
#cntManual_Button_Cell9 {
	@include elemAutoWidth(195);
}
#cntManual_Button_Cell9 {
	@include elemAutoHeight(178);
}
#cntManual_Button_Cell9 {
		z-index: 9;
}
#cntManual_Button_Cell10 {
	@include elemTop(270);
}
#cntManual_Button_Cell10 {
	@include elemLeft(1050);
}
#cntManual_Button_Cell10 {
	@include elemAutoWidth(195);
}
#cntManual_Button_Cell10 {
	@include elemAutoHeight(165);
}
#cntManual_Button_Cell10 {
		z-index: 10;
}
#cntManual_Button_Cell11 {
	@include elemTop(270);
}
#cntManual_Button_Cell11 {
	@include elemLeft(1270);
}
#cntManual_Button_Cell11 {
	@include elemAutoWidth(195);
}
#cntManual_Button_Cell11 {
	@include elemAutoHeight(165);
}
#cntManual_Button_Cell11 {
		z-index: 11;
}
#cntManual_Button_Cell12 {
	@include elemTop(270);
}
#cntManual_Button_Cell12 {
	@include elemLeft(1680);
}
#cntManual_Button_Cell12 {
	@include elemAutoWidth(198);
}
#cntManual_Button_Cell12 {
	@include elemAutoHeight(173);
}
#cntManual_Button_Cell12 {
		z-index: 12;
}
#cntManual_Button_Cell6_II {
	@include elemTop(270);
}
#cntManual_Button_Cell6_II {
	@include elemLeft(1460);
}
#cntManual_Button_Cell6_II {
	@include elemAutoWidth(213);
}
#cntManual_Button_Cell6_II {
	@include elemAutoHeight(165);
}
#cntManual_Button_Cell6_II {
		z-index: 13;
}
#cntManual_Image_Cell1 {
	@include elemTop(310);
}
#cntManual_Image_Cell1 {
	@include elemLeft(60);
}
#cntManual_Image_Cell1 {
	@include elemAutoWidth(70);
}
#cntManual_Image_Cell1 {
	@include elemAutoHeight(70);
}
#cntManual_Image_Cell1 {
		z-index: 14;
}
#cntManual_Image_Cell2 {
	@include elemTop(310);
}
#cntManual_Image_Cell2 {
	@include elemLeft(270);
}
#cntManual_Image_Cell2 {
	@include elemAutoWidth(70);
}
#cntManual_Image_Cell2 {
	@include elemAutoHeight(70);
}
#cntManual_Image_Cell2 {
		z-index: 15;
}
#cntManual_Image_Cell3 {
	@include elemTop(310);
}
#cntManual_Image_Cell3 {
	@include elemLeft(480);
}
#cntManual_Image_Cell3 {
	@include elemAutoWidth(70);
}
#cntManual_Image_Cell3 {
	@include elemAutoHeight(70);
}
#cntManual_Image_Cell3 {
		z-index: 16;
}
#cntManual_Image_Cell4 {
	@include elemTop(310);
}
#cntManual_Image_Cell4 {
	@include elemLeft(690);
}
#cntManual_Image_Cell4 {
	@include elemAutoWidth(70);
}
#cntManual_Image_Cell4 {
	@include elemAutoHeight(70);
}
#cntManual_Image_Cell4 {
		z-index: 17;
}
