﻿@import "mixins.scss";
#cntManual_Cell3_GridLine1 {
	@include elemTop(0);
}
#cntManual_Cell3_GridLine1 {
	@include elemLeft(0);
}
#cntManual_Cell3_GridLine1 {
	@include elemWidth(1890);
}
#cntManual_Cell3_GridLine1 {
	@include elemHeight(530);
}
#cntManual_Cell3_GridLine1 {
		z-index: 0;
}
#cntManual_Cell3_GridLineItem1 {
		z-index: 0;
}
#cntManual_Cell3_GroupBox9 {
	@include elemTop(0);
}
#cntManual_Cell3_GroupBox9 {
	@include elemLeft(0);
}
#cntManual_Cell3_GroupBox9 {
	@include elemWidth(375);
}
#cntManual_Cell3_GroupBox9 {
	@include elemHeight(255);
}
#cntManual_Cell3_GroupBox9 {
		z-index: 0;
}
#cntManual_Cell3_Cell3CamAirBlow {
	@include elemTop(12);
}
#cntManual_Cell3_Cell3CamAirBlow {
	@include elemLeft(115);
}
#cntManual_Cell3_Cell3CamAirBlow {
	@include elemAutoWidth(137);
}
#cntManual_Cell3_Cell3CamAirBlow {
	@include elemAutoHeight(67);
}
#cntManual_Cell3_Cell3CamAirBlow {
		z-index: 0;
}
#cntManual_Cell3_Label39 {
	@include elemAutoHeight(30);
}
#cntManual_Cell3_Label39 {
	@include elemTop(112);
}
#cntManual_Cell3_Label39 {
	@include elemLeft(115);
}
#cntManual_Cell3_Label39 {
	@include elemAutoWidth(135);
}
#cntManual_Cell3_Label39 {
		z-index: 1;
}
#cntManual_Cell3_Label39 {
	@include text-alignment-all('center');
}
#cntManual_Cell3_Label40 {
	@include elemTop(162);
}
#cntManual_Cell3_Label40 {
	@include elemLeft(7);
}
#cntManual_Cell3_Label40 {
	@include elemAutoWidth(75);
}
#cntManual_Cell3_Label40 {
	@include elemAutoHeight(55);
}
#cntManual_Cell3_Label40 {
		z-index: 2;
}
#cntManual_Cell3_Label40 {
		border-width: 0px 3px 0px 0px;
}
#cntManual_Cell3_Label40 {
		border-color: rgba(105, 105, 105, 1);
}
#cntManual_Cell3_Label40 {
	&:before{
		border-color: rgba(105, 105, 105, 1);
	}
}
#cntManual_Cell3_Label40 {
	&:after{
		border-color: rgba(105, 105, 105, 1);
	}
}
#cntManual_Cell3_Label40 {
		border-style: solid;
}
#cntManual_Cell3_Label40 {
	&:before{
		border-style: solid;
	}
}
#cntManual_Cell3_Label40 {
	&:after{
		border-style: solid;
	}
}
#cntManual_Cell3_Label40 {
	@include text-alignment-all('center');
}
#cntManual_Cell3_Label40 {
	@include font-weight-bold(true);
}
#cntManual_Cell3_Line9 {
		z-index: 3;
}
#cntManual_Cell3_Line9 {
	line{
		stroke: rgba(105, 105, 105, 1);
	}
}
#cntManual_Cell3_Line9 {
	line{
		stroke-width: 2px;
	}
}
#cntManual_Cell3_TextOutput9 {
	@include elemTop(159);
}
#cntManual_Cell3_TextOutput9 {
	@include elemLeft(76);
}
#cntManual_Cell3_TextOutput9 {
	@include elemAutoWidth(294);
}
#cntManual_Cell3_TextOutput9 {
	@include elemAutoHeight(60);
}
#cntManual_Cell3_TextOutput9 {
		z-index: 4;
}
#cntManual_Cell3_GroupBox10 {
	@include elemTop(0);
}
#cntManual_Cell3_GroupBox10 {
	@include elemLeft(375);
}
#cntManual_Cell3_GroupBox10 {
	@include elemWidth(375);
}
#cntManual_Cell3_GroupBox10 {
	@include elemHeight(255);
}
#cntManual_Cell3_GroupBox10 {
		z-index: 1;
}
#cntManual_Cell3_Cell3GrpToolLockOpenButton {
	@include elemTop(12);
}
#cntManual_Cell3_Cell3GrpToolLockOpenButton {
	@include elemLeft(15);
}
#cntManual_Cell3_Cell3GrpToolLockOpenButton {
	@include elemAutoWidth(137);
}
#cntManual_Cell3_Cell3GrpToolLockOpenButton {
	@include elemAutoHeight(67);
}
#cntManual_Cell3_Cell3GrpToolLockOpenButton {
		z-index: 0;
}
#cntManual_Cell3_Cell3GrpToolLockCloseButton {
	@include elemTop(12);
}
#cntManual_Cell3_Cell3GrpToolLockCloseButton {
	@include elemLeft(215);
}
#cntManual_Cell3_Cell3GrpToolLockCloseButton {
	@include elemAutoWidth(137);
}
#cntManual_Cell3_Cell3GrpToolLockCloseButton {
	@include elemAutoHeight(67);
}
#cntManual_Cell3_Cell3GrpToolLockCloseButton {
		z-index: 1;
}
#cntManual_Cell3_Label41 {
	@include elemAutoHeight(30);
}
#cntManual_Cell3_Label41 {
	@include elemTop(112);
}
#cntManual_Cell3_Label41 {
	@include elemLeft(15);
}
#cntManual_Cell3_Label41 {
	@include elemAutoWidth(135);
}
#cntManual_Cell3_Label41 {
		z-index: 2;
}
#cntManual_Cell3_Label41 {
	@include text-alignment-all('center');
}
#cntManual_Cell3_lbl_Closed20 {
	@include elemAutoHeight(30);
}
#cntManual_Cell3_lbl_Closed20 {
	@include elemTop(112);
}
#cntManual_Cell3_lbl_Closed20 {
	@include elemLeft(215);
}
#cntManual_Cell3_lbl_Closed20 {
	@include elemAutoWidth(135);
}
#cntManual_Cell3_lbl_Closed20 {
		z-index: 3;
}
#cntManual_Cell3_lbl_Closed20 {
	@include text-alignment-all('center');
}
#cntManual_Cell3_Label42 {
	@include elemTop(162);
}
#cntManual_Cell3_Label42 {
	@include elemLeft(7);
}
#cntManual_Cell3_Label42 {
	@include elemAutoWidth(75);
}
#cntManual_Cell3_Label42 {
	@include elemAutoHeight(55);
}
#cntManual_Cell3_Label42 {
		z-index: 4;
}
#cntManual_Cell3_Label42 {
		border-width: 0px 3px 0px 0px;
}
#cntManual_Cell3_Label42 {
		border-color: rgba(105, 105, 105, 1);
}
#cntManual_Cell3_Label42 {
	&:before{
		border-color: rgba(105, 105, 105, 1);
	}
}
#cntManual_Cell3_Label42 {
	&:after{
		border-color: rgba(105, 105, 105, 1);
	}
}
#cntManual_Cell3_Label42 {
		border-style: solid;
}
#cntManual_Cell3_Label42 {
	&:before{
		border-style: solid;
	}
}
#cntManual_Cell3_Label42 {
	&:after{
		border-style: solid;
	}
}
#cntManual_Cell3_Label42 {
	@include text-alignment-all('center');
}
#cntManual_Cell3_Label42 {
	@include font-weight-bold(true);
}
#cntManual_Cell3_Line10 {
		z-index: 5;
}
#cntManual_Cell3_Line10 {
	line{
		stroke: rgba(105, 105, 105, 1);
	}
}
#cntManual_Cell3_Line10 {
	line{
		stroke-width: 2px;
	}
}
#cntManual_Cell3_TextOutput10 {
	@include elemTop(159);
}
#cntManual_Cell3_TextOutput10 {
	@include elemLeft(76);
}
#cntManual_Cell3_TextOutput10 {
	@include elemAutoWidth(294);
}
#cntManual_Cell3_TextOutput10 {
	@include elemAutoHeight(60);
}
#cntManual_Cell3_TextOutput10 {
		z-index: 6;
}
#cntManual_Cell3_GroupBox11 {
	@include elemTop(0);
}
#cntManual_Cell3_GroupBox11 {
	@include elemLeft(750);
}
#cntManual_Cell3_GroupBox11 {
	@include elemWidth(375);
}
#cntManual_Cell3_GroupBox11 {
	@include elemHeight(255);
}
#cntManual_Cell3_GroupBox11 {
		z-index: 2;
}
#cntManual_Cell3_Cell3SwMechClampOpenButton {
	@include elemTop(12);
}
#cntManual_Cell3_Cell3SwMechClampOpenButton {
	@include elemLeft(15);
}
#cntManual_Cell3_Cell3SwMechClampOpenButton {
	@include elemAutoWidth(137);
}
#cntManual_Cell3_Cell3SwMechClampOpenButton {
	@include elemAutoHeight(67);
}
#cntManual_Cell3_Cell3SwMechClampOpenButton {
		z-index: 0;
}
#cntManual_Cell3_Cell3SwMechClampCloseButton {
	@include elemTop(12);
}
#cntManual_Cell3_Cell3SwMechClampCloseButton {
	@include elemLeft(215);
}
#cntManual_Cell3_Cell3SwMechClampCloseButton {
	@include elemAutoWidth(137);
}
#cntManual_Cell3_Cell3SwMechClampCloseButton {
	@include elemAutoHeight(67);
}
#cntManual_Cell3_Cell3SwMechClampCloseButton {
		z-index: 1;
}
#cntManual_Cell3_Label43 {
	@include elemAutoHeight(30);
}
#cntManual_Cell3_Label43 {
	@include elemTop(112);
}
#cntManual_Cell3_Label43 {
	@include elemLeft(15);
}
#cntManual_Cell3_Label43 {
	@include elemAutoWidth(135);
}
#cntManual_Cell3_Label43 {
		z-index: 2;
}
#cntManual_Cell3_Label43 {
	@include text-alignment-all('center');
}
#cntManual_Cell3_lbl_Closed21 {
	@include elemAutoHeight(30);
}
#cntManual_Cell3_lbl_Closed21 {
	@include elemTop(112);
}
#cntManual_Cell3_lbl_Closed21 {
	@include elemLeft(215);
}
#cntManual_Cell3_lbl_Closed21 {
	@include elemAutoWidth(135);
}
#cntManual_Cell3_lbl_Closed21 {
		z-index: 3;
}
#cntManual_Cell3_lbl_Closed21 {
	@include text-alignment-all('center');
}
#cntManual_Cell3_Label44 {
	@include elemTop(162);
}
#cntManual_Cell3_Label44 {
	@include elemLeft(7);
}
#cntManual_Cell3_Label44 {
	@include elemAutoWidth(75);
}
#cntManual_Cell3_Label44 {
	@include elemAutoHeight(55);
}
#cntManual_Cell3_Label44 {
		z-index: 4;
}
#cntManual_Cell3_Label44 {
		border-width: 0px 3px 0px 0px;
}
#cntManual_Cell3_Label44 {
		border-color: rgba(105, 105, 105, 1);
}
#cntManual_Cell3_Label44 {
	&:before{
		border-color: rgba(105, 105, 105, 1);
	}
}
#cntManual_Cell3_Label44 {
	&:after{
		border-color: rgba(105, 105, 105, 1);
	}
}
#cntManual_Cell3_Label44 {
		border-style: solid;
}
#cntManual_Cell3_Label44 {
	&:before{
		border-style: solid;
	}
}
#cntManual_Cell3_Label44 {
	&:after{
		border-style: solid;
	}
}
#cntManual_Cell3_Label44 {
	@include text-alignment-all('center');
}
#cntManual_Cell3_Label44 {
	@include font-weight-bold(true);
}
#cntManual_Cell3_Line11 {
		z-index: 5;
}
#cntManual_Cell3_Line11 {
	line{
		stroke: rgba(105, 105, 105, 1);
	}
}
#cntManual_Cell3_Line11 {
	line{
		stroke-width: 2px;
	}
}
#cntManual_Cell3_TextOutput11 {
	@include elemTop(159);
}
#cntManual_Cell3_TextOutput11 {
	@include elemLeft(76);
}
#cntManual_Cell3_TextOutput11 {
	@include elemAutoWidth(294);
}
#cntManual_Cell3_TextOutput11 {
	@include elemAutoHeight(60);
}
#cntManual_Cell3_TextOutput11 {
		z-index: 6;
}
#cntManual_Cell3_GroupBox12 {
	@include elemTop(0);
}
#cntManual_Cell3_GroupBox12 {
	@include elemLeft(1125);
}
#cntManual_Cell3_GroupBox12 {
	@include elemWidth(375);
}
#cntManual_Cell3_GroupBox12 {
	@include elemHeight(255);
}
#cntManual_Cell3_GroupBox12 {
		z-index: 3;
}
#cntManual_Cell3_Cell3TablaClampOpenButton {
	@include elemTop(12);
}
#cntManual_Cell3_Cell3TablaClampOpenButton {
	@include elemLeft(15);
}
#cntManual_Cell3_Cell3TablaClampOpenButton {
	@include elemAutoWidth(137);
}
#cntManual_Cell3_Cell3TablaClampOpenButton {
	@include elemAutoHeight(67);
}
#cntManual_Cell3_Cell3TablaClampOpenButton {
		z-index: 0;
}
#cntManual_Cell3_Label45 {
	@include elemAutoHeight(30);
}
#cntManual_Cell3_Label45 {
	@include elemTop(112);
}
#cntManual_Cell3_Label45 {
	@include elemLeft(15);
}
#cntManual_Cell3_Label45 {
	@include elemAutoWidth(135);
}
#cntManual_Cell3_Label45 {
		z-index: 1;
}
#cntManual_Cell3_Label45 {
	@include text-alignment-all('center');
}
#cntManual_Cell3_Label46 {
	@include elemTop(162);
}
#cntManual_Cell3_Label46 {
	@include elemLeft(7);
}
#cntManual_Cell3_Label46 {
	@include elemAutoWidth(75);
}
#cntManual_Cell3_Label46 {
	@include elemAutoHeight(55);
}
#cntManual_Cell3_Label46 {
		z-index: 2;
}
#cntManual_Cell3_Label46 {
		border-width: 0px 3px 0px 0px;
}
#cntManual_Cell3_Label46 {
		border-color: rgba(105, 105, 105, 1);
}
#cntManual_Cell3_Label46 {
	&:before{
		border-color: rgba(105, 105, 105, 1);
	}
}
#cntManual_Cell3_Label46 {
	&:after{
		border-color: rgba(105, 105, 105, 1);
	}
}
#cntManual_Cell3_Label46 {
		border-style: solid;
}
#cntManual_Cell3_Label46 {
	&:before{
		border-style: solid;
	}
}
#cntManual_Cell3_Label46 {
	&:after{
		border-style: solid;
	}
}
#cntManual_Cell3_Label46 {
	@include text-alignment-all('center');
}
#cntManual_Cell3_Label46 {
	@include font-weight-bold(true);
}
#cntManual_Cell3_Line12 {
		z-index: 3;
}
#cntManual_Cell3_Line12 {
	line{
		stroke: rgba(105, 105, 105, 1);
	}
}
#cntManual_Cell3_Line12 {
	line{
		stroke-width: 2px;
	}
}
#cntManual_Cell3_TextOutput12 {
	@include elemTop(159);
}
#cntManual_Cell3_TextOutput12 {
	@include elemLeft(76);
}
#cntManual_Cell3_TextOutput12 {
	@include elemAutoWidth(294);
}
#cntManual_Cell3_TextOutput12 {
	@include elemAutoHeight(60);
}
#cntManual_Cell3_TextOutput12 {
		z-index: 4;
}
#cntManual_Cell3_Cell3TablaClampCloseButton {
	@include elemTop(12);
}
#cntManual_Cell3_Cell3TablaClampCloseButton {
	@include elemLeft(215);
}
#cntManual_Cell3_Cell3TablaClampCloseButton {
	@include elemAutoWidth(137);
}
#cntManual_Cell3_Cell3TablaClampCloseButton {
	@include elemAutoHeight(67);
}
#cntManual_Cell3_Cell3TablaClampCloseButton {
		z-index: 5;
}
#cntManual_Cell3_lbl_Closed29 {
	@include elemAutoHeight(30);
}
#cntManual_Cell3_lbl_Closed29 {
	@include elemTop(115);
}
#cntManual_Cell3_lbl_Closed29 {
	@include elemLeft(215);
}
#cntManual_Cell3_lbl_Closed29 {
	@include elemAutoWidth(135);
}
#cntManual_Cell3_lbl_Closed29 {
		z-index: 6;
}
#cntManual_Cell3_lbl_Closed29 {
	@include text-alignment-all('center');
}
#cntManual_Cell3_GroupBox13 {
	@include elemTop(255);
}
#cntManual_Cell3_GroupBox13 {
	@include elemLeft(0);
}
#cntManual_Cell3_GroupBox13 {
	@include elemWidth(375);
}
#cntManual_Cell3_GroupBox13 {
	@include elemHeight(255);
}
#cntManual_Cell3_GroupBox13 {
		z-index: 4;
}
#cntManual_Cell3_Cell3GrpCmpnstrOpenButton {
	@include elemTop(12);
}
#cntManual_Cell3_Cell3GrpCmpnstrOpenButton {
	@include elemLeft(15);
}
#cntManual_Cell3_Cell3GrpCmpnstrOpenButton {
	@include elemAutoWidth(137);
}
#cntManual_Cell3_Cell3GrpCmpnstrOpenButton {
	@include elemAutoHeight(67);
}
#cntManual_Cell3_Cell3GrpCmpnstrOpenButton {
		z-index: 0;
}
#cntManual_Cell3_Cell3GrpCmpnstrCloseButton {
	@include elemTop(12);
}
#cntManual_Cell3_Cell3GrpCmpnstrCloseButton {
	@include elemLeft(215);
}
#cntManual_Cell3_Cell3GrpCmpnstrCloseButton {
	@include elemAutoWidth(137);
}
#cntManual_Cell3_Cell3GrpCmpnstrCloseButton {
	@include elemAutoHeight(67);
}
#cntManual_Cell3_Cell3GrpCmpnstrCloseButton {
		z-index: 1;
}
#cntManual_Cell3_Label47 {
	@include elemAutoHeight(30);
}
#cntManual_Cell3_Label47 {
	@include elemTop(112);
}
#cntManual_Cell3_Label47 {
	@include elemLeft(15);
}
#cntManual_Cell3_Label47 {
	@include elemAutoWidth(135);
}
#cntManual_Cell3_Label47 {
		z-index: 2;
}
#cntManual_Cell3_Label47 {
	@include text-alignment-all('center');
}
#cntManual_Cell3_lbl_Closed23 {
	@include elemAutoHeight(30);
}
#cntManual_Cell3_lbl_Closed23 {
	@include elemTop(112);
}
#cntManual_Cell3_lbl_Closed23 {
	@include elemLeft(215);
}
#cntManual_Cell3_lbl_Closed23 {
	@include elemAutoWidth(135);
}
#cntManual_Cell3_lbl_Closed23 {
		z-index: 3;
}
#cntManual_Cell3_lbl_Closed23 {
	@include text-alignment-all('center');
}
#cntManual_Cell3_Label48 {
	@include elemTop(162);
}
#cntManual_Cell3_Label48 {
	@include elemLeft(7);
}
#cntManual_Cell3_Label48 {
	@include elemAutoWidth(75);
}
#cntManual_Cell3_Label48 {
	@include elemAutoHeight(55);
}
#cntManual_Cell3_Label48 {
		z-index: 4;
}
#cntManual_Cell3_Label48 {
		border-width: 0px 3px 0px 0px;
}
#cntManual_Cell3_Label48 {
		border-color: rgba(105, 105, 105, 1);
}
#cntManual_Cell3_Label48 {
	&:before{
		border-color: rgba(105, 105, 105, 1);
	}
}
#cntManual_Cell3_Label48 {
	&:after{
		border-color: rgba(105, 105, 105, 1);
	}
}
#cntManual_Cell3_Label48 {
		border-style: solid;
}
#cntManual_Cell3_Label48 {
	&:before{
		border-style: solid;
	}
}
#cntManual_Cell3_Label48 {
	&:after{
		border-style: solid;
	}
}
#cntManual_Cell3_Label48 {
	@include text-alignment-all('center');
}
#cntManual_Cell3_Label48 {
	@include font-weight-bold(true);
}
#cntManual_Cell3_Line13 {
		z-index: 5;
}
#cntManual_Cell3_Line13 {
	line{
		stroke: rgba(105, 105, 105, 1);
	}
}
#cntManual_Cell3_Line13 {
	line{
		stroke-width: 2px;
	}
}
#cntManual_Cell3_TextOutput13 {
	@include elemTop(159);
}
#cntManual_Cell3_TextOutput13 {
	@include elemLeft(76);
}
#cntManual_Cell3_TextOutput13 {
	@include elemAutoWidth(294);
}
#cntManual_Cell3_TextOutput13 {
	@include elemAutoHeight(60);
}
#cntManual_Cell3_TextOutput13 {
		z-index: 6;
}
#cntManual_Cell3_GroupBox14 {
	@include elemTop(255);
}
#cntManual_Cell3_GroupBox14 {
	@include elemLeft(375);
}
#cntManual_Cell3_GroupBox14 {
	@include elemWidth(375);
}
#cntManual_Cell3_GroupBox14 {
	@include elemHeight(255);
}
#cntManual_Cell3_GroupBox14 {
		z-index: 5;
}
#cntManual_Cell3_Cell3BannerCellLightButton {
	@include elemTop(12);
}
#cntManual_Cell3_Cell3BannerCellLightButton {
	@include elemLeft(115);
}
#cntManual_Cell3_Cell3BannerCellLightButton {
	@include elemAutoWidth(137);
}
#cntManual_Cell3_Cell3BannerCellLightButton {
	@include elemAutoHeight(67);
}
#cntManual_Cell3_Cell3BannerCellLightButton {
		z-index: 0;
}
#cntManual_Cell3_Label49 {
	@include elemAutoHeight(30);
}
#cntManual_Cell3_Label49 {
	@include elemTop(112);
}
#cntManual_Cell3_Label49 {
	@include elemLeft(115);
}
#cntManual_Cell3_Label49 {
	@include elemAutoWidth(135);
}
#cntManual_Cell3_Label49 {
		z-index: 1;
}
#cntManual_Cell3_Label49 {
	@include text-alignment-all('center');
}
#cntManual_Cell3_Label50 {
	@include elemTop(162);
}
#cntManual_Cell3_Label50 {
	@include elemLeft(7);
}
#cntManual_Cell3_Label50 {
	@include elemAutoWidth(75);
}
#cntManual_Cell3_Label50 {
	@include elemAutoHeight(55);
}
#cntManual_Cell3_Label50 {
		z-index: 2;
}
#cntManual_Cell3_Label50 {
		border-width: 0px 3px 0px 0px;
}
#cntManual_Cell3_Label50 {
		border-color: rgba(105, 105, 105, 1);
}
#cntManual_Cell3_Label50 {
	&:before{
		border-color: rgba(105, 105, 105, 1);
	}
}
#cntManual_Cell3_Label50 {
	&:after{
		border-color: rgba(105, 105, 105, 1);
	}
}
#cntManual_Cell3_Label50 {
		border-style: solid;
}
#cntManual_Cell3_Label50 {
	&:before{
		border-style: solid;
	}
}
#cntManual_Cell3_Label50 {
	&:after{
		border-style: solid;
	}
}
#cntManual_Cell3_Label50 {
	@include text-alignment-all('center');
}
#cntManual_Cell3_Label50 {
	@include font-weight-bold(true);
}
#cntManual_Cell3_Line14 {
		z-index: 3;
}
#cntManual_Cell3_Line14 {
	line{
		stroke: rgba(105, 105, 105, 1);
	}
}
#cntManual_Cell3_Line14 {
	line{
		stroke-width: 2px;
	}
}
#cntManual_Cell3_TextOutput14 {
	@include elemTop(159);
}
#cntManual_Cell3_TextOutput14 {
	@include elemLeft(76);
}
#cntManual_Cell3_TextOutput14 {
	@include elemAutoWidth(294);
}
#cntManual_Cell3_TextOutput14 {
	@include elemAutoHeight(60);
}
#cntManual_Cell3_TextOutput14 {
		z-index: 4;
}
#cntManual_Cell3_GroupBox15 {
	@include elemTop(255);
}
#cntManual_Cell3_GroupBox15 {
	@include elemLeft(750);
}
#cntManual_Cell3_GroupBox15 {
	@include elemWidth(375);
}
#cntManual_Cell3_GroupBox15 {
	@include elemHeight(255);
}
#cntManual_Cell3_GroupBox15 {
		z-index: 6;
}
#cntManual_Cell3_Cell3SwMechLockCylndrOpenButton {
	@include elemTop(12);
}
#cntManual_Cell3_Cell3SwMechLockCylndrOpenButton {
	@include elemLeft(15);
}
#cntManual_Cell3_Cell3SwMechLockCylndrOpenButton {
	@include elemAutoWidth(137);
}
#cntManual_Cell3_Cell3SwMechLockCylndrOpenButton {
	@include elemAutoHeight(67);
}
#cntManual_Cell3_Cell3SwMechLockCylndrOpenButton {
		z-index: 0;
}
#cntManual_Cell3_Cell3SwMechLockCylndrCloseButton {
	@include elemTop(12);
}
#cntManual_Cell3_Cell3SwMechLockCylndrCloseButton {
	@include elemLeft(215);
}
#cntManual_Cell3_Cell3SwMechLockCylndrCloseButton {
	@include elemAutoWidth(137);
}
#cntManual_Cell3_Cell3SwMechLockCylndrCloseButton {
	@include elemAutoHeight(67);
}
#cntManual_Cell3_Cell3SwMechLockCylndrCloseButton {
		z-index: 1;
}
#cntManual_Cell3_Label51 {
	@include elemAutoHeight(30);
}
#cntManual_Cell3_Label51 {
	@include elemTop(112);
}
#cntManual_Cell3_Label51 {
	@include elemLeft(15);
}
#cntManual_Cell3_Label51 {
	@include elemAutoWidth(135);
}
#cntManual_Cell3_Label51 {
		z-index: 2;
}
#cntManual_Cell3_Label51 {
	@include text-alignment-all('center');
}
#cntManual_Cell3_lbl_Closed25 {
	@include elemAutoHeight(30);
}
#cntManual_Cell3_lbl_Closed25 {
	@include elemTop(112);
}
#cntManual_Cell3_lbl_Closed25 {
	@include elemLeft(215);
}
#cntManual_Cell3_lbl_Closed25 {
	@include elemAutoWidth(135);
}
#cntManual_Cell3_lbl_Closed25 {
		z-index: 3;
}
#cntManual_Cell3_lbl_Closed25 {
	@include text-alignment-all('center');
}
#cntManual_Cell3_Label52 {
	@include elemTop(162);
}
#cntManual_Cell3_Label52 {
	@include elemLeft(7);
}
#cntManual_Cell3_Label52 {
	@include elemAutoWidth(75);
}
#cntManual_Cell3_Label52 {
	@include elemAutoHeight(55);
}
#cntManual_Cell3_Label52 {
		z-index: 4;
}
#cntManual_Cell3_Label52 {
		border-width: 0px 3px 0px 0px;
}
#cntManual_Cell3_Label52 {
		border-color: rgba(105, 105, 105, 1);
}
#cntManual_Cell3_Label52 {
	&:before{
		border-color: rgba(105, 105, 105, 1);
	}
}
#cntManual_Cell3_Label52 {
	&:after{
		border-color: rgba(105, 105, 105, 1);
	}
}
#cntManual_Cell3_Label52 {
		border-style: solid;
}
#cntManual_Cell3_Label52 {
	&:before{
		border-style: solid;
	}
}
#cntManual_Cell3_Label52 {
	&:after{
		border-style: solid;
	}
}
#cntManual_Cell3_Label52 {
	@include text-alignment-all('center');
}
#cntManual_Cell3_Label52 {
	@include font-weight-bold(true);
}
#cntManual_Cell3_Line15 {
		z-index: 5;
}
#cntManual_Cell3_Line15 {
	line{
		stroke: rgba(105, 105, 105, 1);
	}
}
#cntManual_Cell3_Line15 {
	line{
		stroke-width: 2px;
	}
}
#cntManual_Cell3_TextOutput15 {
	@include elemTop(159);
}
#cntManual_Cell3_TextOutput15 {
	@include elemLeft(76);
}
#cntManual_Cell3_TextOutput15 {
	@include elemAutoWidth(294);
}
#cntManual_Cell3_TextOutput15 {
	@include elemAutoHeight(60);
}
#cntManual_Cell3_TextOutput15 {
		z-index: 6;
}
#cntManual_Cell3_GroupBox16 {
	@include elemTop(255);
}
#cntManual_Cell3_GroupBox16 {
	@include elemLeft(1125);
}
#cntManual_Cell3_GroupBox16 {
	@include elemWidth(375);
}
#cntManual_Cell3_GroupBox16 {
	@include elemHeight(255);
}
#cntManual_Cell3_GroupBox16 {
		z-index: 7;
}
#cntManual_Cell3_Cell3TablaCylndrOpenButton {
	@include elemTop(12);
}
#cntManual_Cell3_Cell3TablaCylndrOpenButton {
	@include elemLeft(15);
}
#cntManual_Cell3_Cell3TablaCylndrOpenButton {
	@include elemAutoWidth(137);
}
#cntManual_Cell3_Cell3TablaCylndrOpenButton {
	@include elemAutoHeight(67);
}
#cntManual_Cell3_Cell3TablaCylndrOpenButton {
		z-index: 0;
}
#cntManual_Cell3_Cell3TablaCylndrCloseButton {
	@include elemTop(12);
}
#cntManual_Cell3_Cell3TablaCylndrCloseButton {
	@include elemLeft(215);
}
#cntManual_Cell3_Cell3TablaCylndrCloseButton {
	@include elemAutoWidth(137);
}
#cntManual_Cell3_Cell3TablaCylndrCloseButton {
	@include elemAutoHeight(67);
}
#cntManual_Cell3_Cell3TablaCylndrCloseButton {
		z-index: 1;
}
#cntManual_Cell3_Label53 {
	@include elemAutoHeight(30);
}
#cntManual_Cell3_Label53 {
	@include elemTop(112);
}
#cntManual_Cell3_Label53 {
	@include elemLeft(15);
}
#cntManual_Cell3_Label53 {
	@include elemAutoWidth(135);
}
#cntManual_Cell3_Label53 {
		z-index: 2;
}
#cntManual_Cell3_Label53 {
	@include text-alignment-all('center');
}
#cntManual_Cell3_lbl_Closed26 {
	@include elemAutoHeight(30);
}
#cntManual_Cell3_lbl_Closed26 {
	@include elemTop(112);
}
#cntManual_Cell3_lbl_Closed26 {
	@include elemLeft(215);
}
#cntManual_Cell3_lbl_Closed26 {
	@include elemAutoWidth(135);
}
#cntManual_Cell3_lbl_Closed26 {
		z-index: 3;
}
#cntManual_Cell3_lbl_Closed26 {
	@include text-alignment-all('center');
}
#cntManual_Cell3_Label54 {
	@include elemTop(162);
}
#cntManual_Cell3_Label54 {
	@include elemLeft(7);
}
#cntManual_Cell3_Label54 {
	@include elemAutoWidth(75);
}
#cntManual_Cell3_Label54 {
	@include elemAutoHeight(55);
}
#cntManual_Cell3_Label54 {
		z-index: 4;
}
#cntManual_Cell3_Label54 {
		border-width: 0px 3px 0px 0px;
}
#cntManual_Cell3_Label54 {
		border-color: rgba(105, 105, 105, 1);
}
#cntManual_Cell3_Label54 {
	&:before{
		border-color: rgba(105, 105, 105, 1);
	}
}
#cntManual_Cell3_Label54 {
	&:after{
		border-color: rgba(105, 105, 105, 1);
	}
}
#cntManual_Cell3_Label54 {
		border-style: solid;
}
#cntManual_Cell3_Label54 {
	&:before{
		border-style: solid;
	}
}
#cntManual_Cell3_Label54 {
	&:after{
		border-style: solid;
	}
}
#cntManual_Cell3_Label54 {
	@include text-alignment-all('center');
}
#cntManual_Cell3_Label54 {
	@include font-weight-bold(true);
}
#cntManual_Cell3_Line16 {
		z-index: 5;
}
#cntManual_Cell3_Line16 {
	line{
		stroke: rgba(105, 105, 105, 1);
	}
}
#cntManual_Cell3_Line16 {
	line{
		stroke-width: 2px;
	}
}
#cntManual_Cell3_TextOutput16 {
	@include elemTop(159);
}
#cntManual_Cell3_TextOutput16 {
	@include elemLeft(76);
}
#cntManual_Cell3_TextOutput16 {
	@include elemAutoWidth(294);
}
#cntManual_Cell3_TextOutput16 {
	@include elemAutoHeight(60);
}
#cntManual_Cell3_TextOutput16 {
		z-index: 6;
}
#cntManual_Cell3_GroupBox17 {
	@include elemTop(0);
}
#cntManual_Cell3_GroupBox17 {
	@include elemLeft(1500);
}
#cntManual_Cell3_GroupBox17 {
	@include elemWidth(369);
}
#cntManual_Cell3_GroupBox17 {
	@include elemHeight(255);
}
#cntManual_Cell3_GroupBox17 {
		z-index: 8;
}
#cntManual_Cell3_Cell3TablaVacuumBlowButton {
	@include elemTop(12);
}
#cntManual_Cell3_Cell3TablaVacuumBlowButton {
	@include elemLeft(15);
}
#cntManual_Cell3_Cell3TablaVacuumBlowButton {
	@include elemAutoWidth(137);
}
#cntManual_Cell3_Cell3TablaVacuumBlowButton {
	@include elemAutoHeight(67);
}
#cntManual_Cell3_Cell3TablaVacuumBlowButton {
		z-index: 0;
}
#cntManual_Cell3_Cell3TablaVacuumSuctionButton {
	@include elemTop(12);
}
#cntManual_Cell3_Cell3TablaVacuumSuctionButton {
	@include elemLeft(215);
}
#cntManual_Cell3_Cell3TablaVacuumSuctionButton {
	@include elemAutoWidth(137);
}
#cntManual_Cell3_Cell3TablaVacuumSuctionButton {
	@include elemAutoHeight(67);
}
#cntManual_Cell3_Cell3TablaVacuumSuctionButton {
		z-index: 1;
}
#cntManual_Cell3_Label55 {
	@include elemAutoHeight(30);
}
#cntManual_Cell3_Label55 {
	@include elemTop(112);
}
#cntManual_Cell3_Label55 {
	@include elemLeft(15);
}
#cntManual_Cell3_Label55 {
	@include elemAutoWidth(135);
}
#cntManual_Cell3_Label55 {
		z-index: 2;
}
#cntManual_Cell3_Label55 {
	@include text-alignment-all('center');
}
#cntManual_Cell3_lbl_Closed27 {
	@include elemAutoHeight(30);
}
#cntManual_Cell3_lbl_Closed27 {
	@include elemTop(112);
}
#cntManual_Cell3_lbl_Closed27 {
	@include elemLeft(215);
}
#cntManual_Cell3_lbl_Closed27 {
	@include elemAutoWidth(135);
}
#cntManual_Cell3_lbl_Closed27 {
		z-index: 3;
}
#cntManual_Cell3_lbl_Closed27 {
	@include text-alignment-all('center');
}
#cntManual_Cell3_Label56 {
	@include elemTop(162);
}
#cntManual_Cell3_Label56 {
	@include elemLeft(7);
}
#cntManual_Cell3_Label56 {
	@include elemAutoWidth(75);
}
#cntManual_Cell3_Label56 {
	@include elemAutoHeight(55);
}
#cntManual_Cell3_Label56 {
		z-index: 4;
}
#cntManual_Cell3_Label56 {
		border-width: 0px 3px 0px 0px;
}
#cntManual_Cell3_Label56 {
		border-color: rgba(105, 105, 105, 1);
}
#cntManual_Cell3_Label56 {
	&:before{
		border-color: rgba(105, 105, 105, 1);
	}
}
#cntManual_Cell3_Label56 {
	&:after{
		border-color: rgba(105, 105, 105, 1);
	}
}
#cntManual_Cell3_Label56 {
		border-style: solid;
}
#cntManual_Cell3_Label56 {
	&:before{
		border-style: solid;
	}
}
#cntManual_Cell3_Label56 {
	&:after{
		border-style: solid;
	}
}
#cntManual_Cell3_Label56 {
	@include text-alignment-all('center');
}
#cntManual_Cell3_Label56 {
	@include font-weight-bold(true);
}
#cntManual_Cell3_Line17 {
		z-index: 5;
}
#cntManual_Cell3_Line17 {
	line{
		stroke: rgba(105, 105, 105, 1);
	}
}
#cntManual_Cell3_Line17 {
	line{
		stroke-width: 2px;
	}
}
#cntManual_Cell3_TextOutput17 {
	@include elemTop(159);
}
#cntManual_Cell3_TextOutput17 {
	@include elemLeft(76);
}
#cntManual_Cell3_TextOutput17 {
	@include elemAutoWidth(284);
}
#cntManual_Cell3_TextOutput17 {
	@include elemAutoHeight(60);
}
#cntManual_Cell3_TextOutput17 {
		z-index: 6;
}
#cntManual_Cell3_GroupBox18 {
	@include elemTop(255);
}
#cntManual_Cell3_GroupBox18 {
	@include elemLeft(1500);
}
#cntManual_Cell3_GroupBox18 {
	@include elemWidth(369);
}
#cntManual_Cell3_GroupBox18 {
	@include elemHeight(255);
}
#cntManual_Cell3_GroupBox18 {
		z-index: 9;
}
#cntManual_Cell3_Cell3VacuumBlowButton {
	@include elemTop(12);
}
#cntManual_Cell3_Cell3VacuumBlowButton {
	@include elemLeft(15);
}
#cntManual_Cell3_Cell3VacuumBlowButton {
	@include elemAutoWidth(137);
}
#cntManual_Cell3_Cell3VacuumBlowButton {
	@include elemAutoHeight(67);
}
#cntManual_Cell3_Cell3VacuumBlowButton {
		z-index: 0;
}
#cntManual_Cell3_Cell3VacuumSuctionButton {
	@include elemTop(12);
}
#cntManual_Cell3_Cell3VacuumSuctionButton {
	@include elemLeft(215);
}
#cntManual_Cell3_Cell3VacuumSuctionButton {
	@include elemAutoWidth(137);
}
#cntManual_Cell3_Cell3VacuumSuctionButton {
	@include elemAutoHeight(67);
}
#cntManual_Cell3_Cell3VacuumSuctionButton {
		z-index: 1;
}
#cntManual_Cell3_Label57 {
	@include elemAutoHeight(30);
}
#cntManual_Cell3_Label57 {
	@include elemTop(112);
}
#cntManual_Cell3_Label57 {
	@include elemLeft(15);
}
#cntManual_Cell3_Label57 {
	@include elemAutoWidth(135);
}
#cntManual_Cell3_Label57 {
		z-index: 2;
}
#cntManual_Cell3_Label57 {
	@include text-alignment-all('center');
}
#cntManual_Cell3_lbl_Closed28 {
	@include elemAutoHeight(30);
}
#cntManual_Cell3_lbl_Closed28 {
	@include elemTop(112);
}
#cntManual_Cell3_lbl_Closed28 {
	@include elemLeft(215);
}
#cntManual_Cell3_lbl_Closed28 {
	@include elemAutoWidth(135);
}
#cntManual_Cell3_lbl_Closed28 {
		z-index: 3;
}
#cntManual_Cell3_lbl_Closed28 {
	@include text-alignment-all('center');
}
#cntManual_Cell3_Label58 {
	@include elemTop(162);
}
#cntManual_Cell3_Label58 {
	@include elemLeft(7);
}
#cntManual_Cell3_Label58 {
	@include elemAutoWidth(75);
}
#cntManual_Cell3_Label58 {
	@include elemAutoHeight(55);
}
#cntManual_Cell3_Label58 {
		z-index: 4;
}
#cntManual_Cell3_Label58 {
		border-width: 0px 3px 0px 0px;
}
#cntManual_Cell3_Label58 {
		border-color: rgba(105, 105, 105, 1);
}
#cntManual_Cell3_Label58 {
	&:before{
		border-color: rgba(105, 105, 105, 1);
	}
}
#cntManual_Cell3_Label58 {
	&:after{
		border-color: rgba(105, 105, 105, 1);
	}
}
#cntManual_Cell3_Label58 {
		border-style: solid;
}
#cntManual_Cell3_Label58 {
	&:before{
		border-style: solid;
	}
}
#cntManual_Cell3_Label58 {
	&:after{
		border-style: solid;
	}
}
#cntManual_Cell3_Label58 {
	@include text-alignment-all('center');
}
#cntManual_Cell3_Label58 {
	@include font-weight-bold(true);
}
#cntManual_Cell3_Line18 {
		z-index: 5;
}
#cntManual_Cell3_Line18 {
	line{
		stroke: rgba(105, 105, 105, 1);
	}
}
#cntManual_Cell3_Line18 {
	line{
		stroke-width: 2px;
	}
}
#cntManual_Cell3_TextOutput18 {
	@include elemTop(157);
}
#cntManual_Cell3_TextOutput18 {
	@include elemLeft(85);
}
#cntManual_Cell3_TextOutput18 {
	@include elemAutoWidth(284);
}
#cntManual_Cell3_TextOutput18 {
	@include elemAutoHeight(60);
}
#cntManual_Cell3_TextOutput18 {
		z-index: 6;
}
#cntManual_Cell3_GridLineItem2 {
		z-index: 1;
}
#cntManual_Cell3_GroupBox19 {
	@include elemTop(-1);
}
#cntManual_Cell3_GroupBox19 {
	@include elemLeft(-1);
}
#cntManual_Cell3_GroupBox19 {
	@include elemWidth(375);
}
#cntManual_Cell3_GroupBox19 {
	@include elemHeight(255);
}
#cntManual_Cell3_GroupBox19 {
		z-index: 0;
}
#cntManual_Cell3_Cell3CamLightTopButton {
	@include elemTop(12);
}
#cntManual_Cell3_Cell3CamLightTopButton {
	@include elemLeft(115);
}
#cntManual_Cell3_Cell3CamLightTopButton {
	@include elemAutoWidth(137);
}
#cntManual_Cell3_Cell3CamLightTopButton {
	@include elemAutoHeight(67);
}
#cntManual_Cell3_Cell3CamLightTopButton {
		z-index: 0;
}
#cntManual_Cell3_Label59 {
	@include elemAutoHeight(30);
}
#cntManual_Cell3_Label59 {
	@include elemTop(112);
}
#cntManual_Cell3_Label59 {
	@include elemLeft(115);
}
#cntManual_Cell3_Label59 {
	@include elemAutoWidth(135);
}
#cntManual_Cell3_Label59 {
		z-index: 1;
}
#cntManual_Cell3_Label59 {
	@include text-alignment-all('center');
}
#cntManual_Cell3_Label60 {
	@include elemTop(162);
}
#cntManual_Cell3_Label60 {
	@include elemLeft(7);
}
#cntManual_Cell3_Label60 {
	@include elemAutoWidth(75);
}
#cntManual_Cell3_Label60 {
	@include elemAutoHeight(55);
}
#cntManual_Cell3_Label60 {
		z-index: 2;
}
#cntManual_Cell3_Label60 {
		border-width: 0px 3px 0px 0px;
}
#cntManual_Cell3_Label60 {
		border-color: rgba(105, 105, 105, 1);
}
#cntManual_Cell3_Label60 {
	&:before{
		border-color: rgba(105, 105, 105, 1);
	}
}
#cntManual_Cell3_Label60 {
	&:after{
		border-color: rgba(105, 105, 105, 1);
	}
}
#cntManual_Cell3_Label60 {
		border-style: solid;
}
#cntManual_Cell3_Label60 {
	&:before{
		border-style: solid;
	}
}
#cntManual_Cell3_Label60 {
	&:after{
		border-style: solid;
	}
}
#cntManual_Cell3_Label60 {
	@include text-alignment-all('center');
}
#cntManual_Cell3_Label60 {
	@include font-weight-bold(true);
}
#cntManual_Cell3_Line19 {
		z-index: 3;
}
#cntManual_Cell3_Line19 {
	line{
		stroke: rgba(105, 105, 105, 1);
	}
}
#cntManual_Cell3_Line19 {
	line{
		stroke-width: 2px;
	}
}
#cntManual_Cell3_TextOutput19 {
	@include elemTop(159);
}
#cntManual_Cell3_TextOutput19 {
	@include elemLeft(76);
}
#cntManual_Cell3_TextOutput19 {
	@include elemAutoWidth(294);
}
#cntManual_Cell3_TextOutput19 {
	@include elemAutoHeight(60);
}
#cntManual_Cell3_TextOutput19 {
		z-index: 4;
}
#cntManual_Cell3_GroupBox20 {
	@include elemTop(254);
}
#cntManual_Cell3_GroupBox20 {
	@include elemLeft(-1);
}
#cntManual_Cell3_GroupBox20 {
	@include elemWidth(375);
}
#cntManual_Cell3_GroupBox20 {
	@include elemHeight(255);
}
#cntManual_Cell3_GroupBox20 {
		z-index: 1;
}
#cntManual_Cell3_Cell3CamLightBottomButton {
	@include elemTop(12);
}
#cntManual_Cell3_Cell3CamLightBottomButton {
	@include elemLeft(115);
}
#cntManual_Cell3_Cell3CamLightBottomButton {
	@include elemAutoWidth(137);
}
#cntManual_Cell3_Cell3CamLightBottomButton {
	@include elemAutoHeight(67);
}
#cntManual_Cell3_Cell3CamLightBottomButton {
		z-index: 0;
}
#cntManual_Cell3_Label61 {
	@include elemAutoHeight(30);
}
#cntManual_Cell3_Label61 {
	@include elemTop(112);
}
#cntManual_Cell3_Label61 {
	@include elemLeft(115);
}
#cntManual_Cell3_Label61 {
	@include elemAutoWidth(135);
}
#cntManual_Cell3_Label61 {
		z-index: 1;
}
#cntManual_Cell3_Label61 {
	@include text-alignment-all('center');
}
#cntManual_Cell3_Label62 {
	@include elemTop(162);
}
#cntManual_Cell3_Label62 {
	@include elemLeft(7);
}
#cntManual_Cell3_Label62 {
	@include elemAutoWidth(75);
}
#cntManual_Cell3_Label62 {
	@include elemAutoHeight(55);
}
#cntManual_Cell3_Label62 {
		z-index: 2;
}
#cntManual_Cell3_Label62 {
		border-width: 0px 3px 0px 0px;
}
#cntManual_Cell3_Label62 {
		border-color: rgba(105, 105, 105, 1);
}
#cntManual_Cell3_Label62 {
	&:before{
		border-color: rgba(105, 105, 105, 1);
	}
}
#cntManual_Cell3_Label62 {
	&:after{
		border-color: rgba(105, 105, 105, 1);
	}
}
#cntManual_Cell3_Label62 {
		border-style: solid;
}
#cntManual_Cell3_Label62 {
	&:before{
		border-style: solid;
	}
}
#cntManual_Cell3_Label62 {
	&:after{
		border-style: solid;
	}
}
#cntManual_Cell3_Label62 {
	@include text-alignment-all('center');
}
#cntManual_Cell3_Label62 {
	@include font-weight-bold(true);
}
#cntManual_Cell3_Line20 {
		z-index: 3;
}
#cntManual_Cell3_Line20 {
	line{
		stroke: rgba(105, 105, 105, 1);
	}
}
#cntManual_Cell3_Line20 {
	line{
		stroke-width: 2px;
	}
}
#cntManual_Cell3_TextOutput20 {
	@include elemTop(159);
}
#cntManual_Cell3_TextOutput20 {
	@include elemLeft(76);
}
#cntManual_Cell3_TextOutput20 {
	@include elemAutoWidth(294);
}
#cntManual_Cell3_TextOutput20 {
	@include elemAutoHeight(60);
}
#cntManual_Cell3_TextOutput20 {
		z-index: 4;
}
