#cntManual_ImageAllCels {
  top: 20px;
  position: absolute;
}

#cntManual_ImageAllCels {
  left: 0px;
  position: absolute;
}

#cntManual_ImageAllCels {
  width: 1880px;
}

#cntManual_ImageAllCels {
  height: 420px;
}

#cntManual_ImageAllCels {
  z-index: 0;
}

#cntManual_Button_Cell1 {
  top: 135px;
  position: absolute;
}

#cntManual_Button_Cell1 {
  left: 0px;
  position: absolute;
}

#cntManual_Button_Cell1 {
  width: 210px;
}

#cntManual_Button_Cell1 {
  height: 180px;
}

#cntManual_Button_Cell1 {
  z-index: 1;
}

#cntManual_Button_Cell2 {
  top: 135px;
  position: absolute;
}

#cntManual_Button_Cell2 {
  left: 208px;
  position: absolute;
}

#cntManual_Button_Cell2 {
  width: 213px;
}

#cntManual_Button_Cell2 {
  height: 180px;
}

#cntManual_Button_Cell2 {
  z-index: 2;
}

#cntManual_Button_Cell3 {
  top: 135px;
  position: absolute;
}

#cntManual_Button_Cell3 {
  left: 420px;
  position: absolute;
}

#cntManual_Button_Cell3 {
  width: 195px;
}

#cntManual_Button_Cell3 {
  height: 180px;
}

#cntManual_Button_Cell3 {
  z-index: 3;
}

#cntManual_Button_Cell4 {
  top: 135px;
  position: absolute;
}

#cntManual_Button_Cell4 {
  left: 615px;
  position: absolute;
}

#cntManual_Button_Cell4 {
  width: 210px;
}

#cntManual_Button_Cell4 {
  height: 180px;
}

#cntManual_Button_Cell4 {
  z-index: 4;
}

#cntManual_Button_Cell5 {
  top: 20px;
  position: absolute;
}

#cntManual_Button_Cell5 {
  left: 840px;
  position: absolute;
}

#cntManual_Button_Cell5 {
  width: 195px;
}

#cntManual_Button_Cell5 {
  height: 418px;
}

#cntManual_Button_Cell5 {
  z-index: 5;
}

#cntManual_Button_Cell6_I {
  top: 30px;
  position: absolute;
}

#cntManual_Button_Cell6_I {
  left: 1470px;
  position: absolute;
}

#cntManual_Button_Cell6_I {
  width: 198px;
}

#cntManual_Button_Cell6_I {
  height: 150px;
}

#cntManual_Button_Cell6_I {
  z-index: 6;
}

#cntManual_Button_Cell7 {
  top: 20px;
  position: absolute;
}

#cntManual_Button_Cell7 {
  left: 1050px;
  position: absolute;
}

#cntManual_Button_Cell7 {
  width: 195px;
}

#cntManual_Button_Cell7 {
  height: 160px;
}

#cntManual_Button_Cell7 {
  z-index: 7;
}

#cntManual_Button_Cell8 {
  top: 20px;
  position: absolute;
}

#cntManual_Button_Cell8 {
  left: 1260px;
  position: absolute;
}

#cntManual_Button_Cell8 {
  width: 193px;
}

#cntManual_Button_Cell8 {
  height: 175px;
}

#cntManual_Button_Cell8 {
  z-index: 8;
}

#cntManual_Button_Cell9 {
  top: 20px;
  position: absolute;
}

#cntManual_Button_Cell9 {
  left: 1680px;
  position: absolute;
}

#cntManual_Button_Cell9 {
  width: 195px;
}

#cntManual_Button_Cell9 {
  height: 178px;
}

#cntManual_Button_Cell9 {
  z-index: 9;
}

#cntManual_Button_Cell10 {
  top: 270px;
  position: absolute;
}

#cntManual_Button_Cell10 {
  left: 1050px;
  position: absolute;
}

#cntManual_Button_Cell10 {
  width: 195px;
}

#cntManual_Button_Cell10 {
  height: 165px;
}

#cntManual_Button_Cell10 {
  z-index: 10;
}

#cntManual_Button_Cell11 {
  top: 270px;
  position: absolute;
}

#cntManual_Button_Cell11 {
  left: 1270px;
  position: absolute;
}

#cntManual_Button_Cell11 {
  width: 195px;
}

#cntManual_Button_Cell11 {
  height: 165px;
}

#cntManual_Button_Cell11 {
  z-index: 11;
}

#cntManual_Button_Cell12 {
  top: 270px;
  position: absolute;
}

#cntManual_Button_Cell12 {
  left: 1680px;
  position: absolute;
}

#cntManual_Button_Cell12 {
  width: 198px;
}

#cntManual_Button_Cell12 {
  height: 173px;
}

#cntManual_Button_Cell12 {
  z-index: 12;
}

#cntManual_Button_Cell6_II {
  top: 270px;
  position: absolute;
}

#cntManual_Button_Cell6_II {
  left: 1460px;
  position: absolute;
}

#cntManual_Button_Cell6_II {
  width: 213px;
}

#cntManual_Button_Cell6_II {
  height: 165px;
}

#cntManual_Button_Cell6_II {
  z-index: 13;
}

#cntManual_Image_Cell1 {
  top: 310px;
  position: absolute;
}

#cntManual_Image_Cell1 {
  left: 60px;
  position: absolute;
}

#cntManual_Image_Cell1 {
  width: 70px;
}

#cntManual_Image_Cell1 {
  height: 70px;
}

#cntManual_Image_Cell1 {
  z-index: 14;
}

#cntManual_Image_Cell2 {
  top: 310px;
  position: absolute;
}

#cntManual_Image_Cell2 {
  left: 270px;
  position: absolute;
}

#cntManual_Image_Cell2 {
  width: 70px;
}

#cntManual_Image_Cell2 {
  height: 70px;
}

#cntManual_Image_Cell2 {
  z-index: 15;
}

#cntManual_Image_Cell3 {
  top: 310px;
  position: absolute;
}

#cntManual_Image_Cell3 {
  left: 480px;
  position: absolute;
}

#cntManual_Image_Cell3 {
  width: 70px;
}

#cntManual_Image_Cell3 {
  height: 70px;
}

#cntManual_Image_Cell3 {
  z-index: 16;
}

#cntManual_Image_Cell4 {
  top: 310px;
  position: absolute;
}

#cntManual_Image_Cell4 {
  left: 690px;
  position: absolute;
}

#cntManual_Image_Cell4 {
  width: 70px;
}

#cntManual_Image_Cell4 {
  height: 70px;
}

#cntManual_Image_Cell4 {
  z-index: 17;
}
