#cntManual_Cell4_GridLine1 {
  top: 0px;
  position: absolute;
}

#cntManual_Cell4_GridLine1 {
  left: 0px;
  position: absolute;
}

#cntManual_Cell4_GridLine1 {
  width: 1890px;
}

#cntManual_Cell4_GridLine1 {
  height: 530px;
}

#cntManual_Cell4_GridLine1 {
  z-index: 0;
}

#cntManual_Cell4_GridLineItem1 {
  z-index: 0;
}

#cntManual_Cell4_GroupBox10 {
  top: 255px;
  position: absolute;
}

#cntManual_Cell4_GroupBox10 {
  left: 375px;
  position: absolute;
}

#cntManual_Cell4_GroupBox10 {
  width: 375px;
}

#cntManual_Cell4_GroupBox10 {
  height: 255px;
}

#cntManual_Cell4_GroupBox10 {
  z-index: 0;
}

#cntManual_Cell4_Cell4BannerCellLightButton {
  top: 12px;
  position: absolute;
}

#cntManual_Cell4_Cell4BannerCellLightButton {
  left: 115px;
  position: absolute;
}

#cntManual_Cell4_Cell4BannerCellLightButton {
  width: 137px;
}

#cntManual_Cell4_Cell4BannerCellLightButton {
  height: 67px;
}

#cntManual_Cell4_Cell4BannerCellLightButton {
  z-index: 0;
}

#cntManual_Cell4_Label41 {
  height: 30px;
}

#cntManual_Cell4_Label41 {
  top: 112px;
  position: absolute;
}

#cntManual_Cell4_Label41 {
  left: 115px;
  position: absolute;
}

#cntManual_Cell4_Label41 {
  width: 135px;
}

#cntManual_Cell4_Label41 {
  z-index: 1;
}

#cntManual_Cell4_Label41 {
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntManual_Cell4_Label42 {
  top: 162px;
  position: absolute;
}

#cntManual_Cell4_Label42 {
  left: 7px;
  position: absolute;
}

#cntManual_Cell4_Label42 {
  width: 75px;
}

#cntManual_Cell4_Label42 {
  height: 55px;
}

#cntManual_Cell4_Label42 {
  z-index: 2;
}

#cntManual_Cell4_Label42 {
  border-width: 0px 3px 0px 0px;
}

#cntManual_Cell4_Label42 {
  border-color: dimgray;
}

#cntManual_Cell4_Label42:before {
  border-color: dimgray;
}

#cntManual_Cell4_Label42:after {
  border-color: dimgray;
}

#cntManual_Cell4_Label42 {
  border-style: solid;
}

#cntManual_Cell4_Label42:before {
  border-style: solid;
}

#cntManual_Cell4_Label42:after {
  border-style: solid;
}

#cntManual_Cell4_Label42 {
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntManual_Cell4_Label42 {
  font-weight: bold;
}

#cntManual_Cell4_Line10 {
  z-index: 3;
}

#cntManual_Cell4_Line10 line {
  stroke: dimgray;
}

#cntManual_Cell4_Line10 line {
  stroke-width: 2px;
}

#cntManual_Cell4_TextOutput10 {
  top: 159px;
  position: absolute;
}

#cntManual_Cell4_TextOutput10 {
  left: 76px;
  position: absolute;
}

#cntManual_Cell4_TextOutput10 {
  width: 294px;
}

#cntManual_Cell4_TextOutput10 {
  height: 60px;
}

#cntManual_Cell4_TextOutput10 {
  z-index: 4;
}

#cntManual_Cell4_GroupBox11 {
  top: 0px;
  position: absolute;
}

#cntManual_Cell4_GroupBox11 {
  left: 0px;
  position: absolute;
}

#cntManual_Cell4_GroupBox11 {
  width: 375px;
}

#cntManual_Cell4_GroupBox11 {
  height: 255px;
}

#cntManual_Cell4_GroupBox11 {
  z-index: 1;
}

#cntManual_Cell4_Cell4CamAirBlow {
  top: 12px;
  position: absolute;
}

#cntManual_Cell4_Cell4CamAirBlow {
  left: 115px;
  position: absolute;
}

#cntManual_Cell4_Cell4CamAirBlow {
  width: 137px;
}

#cntManual_Cell4_Cell4CamAirBlow {
  height: 67px;
}

#cntManual_Cell4_Cell4CamAirBlow {
  z-index: 0;
}

#cntManual_Cell4_Label43 {
  height: 30px;
}

#cntManual_Cell4_Label43 {
  top: 112px;
  position: absolute;
}

#cntManual_Cell4_Label43 {
  left: 115px;
  position: absolute;
}

#cntManual_Cell4_Label43 {
  width: 135px;
}

#cntManual_Cell4_Label43 {
  z-index: 1;
}

#cntManual_Cell4_Label43 {
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntManual_Cell4_Label44 {
  top: 162px;
  position: absolute;
}

#cntManual_Cell4_Label44 {
  left: 7px;
  position: absolute;
}

#cntManual_Cell4_Label44 {
  width: 75px;
}

#cntManual_Cell4_Label44 {
  height: 55px;
}

#cntManual_Cell4_Label44 {
  z-index: 2;
}

#cntManual_Cell4_Label44 {
  border-width: 0px 3px 0px 0px;
}

#cntManual_Cell4_Label44 {
  border-color: dimgray;
}

#cntManual_Cell4_Label44:before {
  border-color: dimgray;
}

#cntManual_Cell4_Label44:after {
  border-color: dimgray;
}

#cntManual_Cell4_Label44 {
  border-style: solid;
}

#cntManual_Cell4_Label44:before {
  border-style: solid;
}

#cntManual_Cell4_Label44:after {
  border-style: solid;
}

#cntManual_Cell4_Label44 {
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntManual_Cell4_Label44 {
  font-weight: bold;
}

#cntManual_Cell4_Line11 {
  z-index: 3;
}

#cntManual_Cell4_Line11 line {
  stroke: dimgray;
}

#cntManual_Cell4_Line11 line {
  stroke-width: 2px;
}

#cntManual_Cell4_TextOutput11 {
  top: 159px;
  position: absolute;
}

#cntManual_Cell4_TextOutput11 {
  left: 76px;
  position: absolute;
}

#cntManual_Cell4_TextOutput11 {
  width: 294px;
}

#cntManual_Cell4_TextOutput11 {
  height: 60px;
}

#cntManual_Cell4_TextOutput11 {
  z-index: 4;
}

#cntManual_Cell4_GroupBox12 {
  top: 255px;
  position: absolute;
}

#cntManual_Cell4_GroupBox12 {
  left: 0px;
  position: absolute;
}

#cntManual_Cell4_GroupBox12 {
  width: 375px;
}

#cntManual_Cell4_GroupBox12 {
  height: 255px;
}

#cntManual_Cell4_GroupBox12 {
  z-index: 2;
}

#cntManual_Cell4_Cell4GrpCmpnstrOpenButton {
  top: 12px;
  position: absolute;
}

#cntManual_Cell4_Cell4GrpCmpnstrOpenButton {
  left: 15px;
  position: absolute;
}

#cntManual_Cell4_Cell4GrpCmpnstrOpenButton {
  width: 137px;
}

#cntManual_Cell4_Cell4GrpCmpnstrOpenButton {
  height: 67px;
}

#cntManual_Cell4_Cell4GrpCmpnstrOpenButton {
  z-index: 0;
}

#cntManual_Cell4_Cell4GrpCmpnstrCloseButton {
  top: 12px;
  position: absolute;
}

#cntManual_Cell4_Cell4GrpCmpnstrCloseButton {
  left: 215px;
  position: absolute;
}

#cntManual_Cell4_Cell4GrpCmpnstrCloseButton {
  width: 137px;
}

#cntManual_Cell4_Cell4GrpCmpnstrCloseButton {
  height: 67px;
}

#cntManual_Cell4_Cell4GrpCmpnstrCloseButton {
  z-index: 1;
}

#cntManual_Cell4_Label45 {
  height: 30px;
}

#cntManual_Cell4_Label45 {
  top: 112px;
  position: absolute;
}

#cntManual_Cell4_Label45 {
  left: 15px;
  position: absolute;
}

#cntManual_Cell4_Label45 {
  width: 135px;
}

#cntManual_Cell4_Label45 {
  z-index: 2;
}

#cntManual_Cell4_Label45 {
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntManual_Cell4_lbl_Closed22 {
  height: 30px;
}

#cntManual_Cell4_lbl_Closed22 {
  top: 112px;
  position: absolute;
}

#cntManual_Cell4_lbl_Closed22 {
  left: 215px;
  position: absolute;
}

#cntManual_Cell4_lbl_Closed22 {
  width: 135px;
}

#cntManual_Cell4_lbl_Closed22 {
  z-index: 3;
}

#cntManual_Cell4_lbl_Closed22 {
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntManual_Cell4_Label46 {
  top: 162px;
  position: absolute;
}

#cntManual_Cell4_Label46 {
  left: 7px;
  position: absolute;
}

#cntManual_Cell4_Label46 {
  width: 75px;
}

#cntManual_Cell4_Label46 {
  height: 55px;
}

#cntManual_Cell4_Label46 {
  z-index: 4;
}

#cntManual_Cell4_Label46 {
  border-width: 0px 3px 0px 0px;
}

#cntManual_Cell4_Label46 {
  border-color: dimgray;
}

#cntManual_Cell4_Label46:before {
  border-color: dimgray;
}

#cntManual_Cell4_Label46:after {
  border-color: dimgray;
}

#cntManual_Cell4_Label46 {
  border-style: solid;
}

#cntManual_Cell4_Label46:before {
  border-style: solid;
}

#cntManual_Cell4_Label46:after {
  border-style: solid;
}

#cntManual_Cell4_Label46 {
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntManual_Cell4_Label46 {
  font-weight: bold;
}

#cntManual_Cell4_Line12 {
  z-index: 5;
}

#cntManual_Cell4_Line12 line {
  stroke: dimgray;
}

#cntManual_Cell4_Line12 line {
  stroke-width: 2px;
}

#cntManual_Cell4_TextOutput12 {
  top: 159px;
  position: absolute;
}

#cntManual_Cell4_TextOutput12 {
  left: 76px;
  position: absolute;
}

#cntManual_Cell4_TextOutput12 {
  width: 294px;
}

#cntManual_Cell4_TextOutput12 {
  height: 60px;
}

#cntManual_Cell4_TextOutput12 {
  z-index: 6;
}

#cntManual_Cell4_GroupBox13 {
  top: 0px;
  position: absolute;
}

#cntManual_Cell4_GroupBox13 {
  left: 375px;
  position: absolute;
}

#cntManual_Cell4_GroupBox13 {
  width: 375px;
}

#cntManual_Cell4_GroupBox13 {
  height: 255px;
}

#cntManual_Cell4_GroupBox13 {
  z-index: 3;
}

#cntManual_Cell4_Cell4GrpToolLockOpenButton {
  top: 12px;
  position: absolute;
}

#cntManual_Cell4_Cell4GrpToolLockOpenButton {
  left: 15px;
  position: absolute;
}

#cntManual_Cell4_Cell4GrpToolLockOpenButton {
  width: 137px;
}

#cntManual_Cell4_Cell4GrpToolLockOpenButton {
  height: 67px;
}

#cntManual_Cell4_Cell4GrpToolLockOpenButton {
  z-index: 0;
}

#cntManual_Cell4_Cell4GrpToolLockCloseButton {
  top: 12px;
  position: absolute;
}

#cntManual_Cell4_Cell4GrpToolLockCloseButton {
  left: 215px;
  position: absolute;
}

#cntManual_Cell4_Cell4GrpToolLockCloseButton {
  width: 137px;
}

#cntManual_Cell4_Cell4GrpToolLockCloseButton {
  height: 67px;
}

#cntManual_Cell4_Cell4GrpToolLockCloseButton {
  z-index: 1;
}

#cntManual_Cell4_Label47 {
  height: 30px;
}

#cntManual_Cell4_Label47 {
  top: 112px;
  position: absolute;
}

#cntManual_Cell4_Label47 {
  left: 15px;
  position: absolute;
}

#cntManual_Cell4_Label47 {
  width: 135px;
}

#cntManual_Cell4_Label47 {
  z-index: 2;
}

#cntManual_Cell4_Label47 {
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntManual_Cell4_lbl_Closed23 {
  height: 30px;
}

#cntManual_Cell4_lbl_Closed23 {
  top: 112px;
  position: absolute;
}

#cntManual_Cell4_lbl_Closed23 {
  left: 215px;
  position: absolute;
}

#cntManual_Cell4_lbl_Closed23 {
  width: 135px;
}

#cntManual_Cell4_lbl_Closed23 {
  z-index: 3;
}

#cntManual_Cell4_lbl_Closed23 {
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntManual_Cell4_Label48 {
  top: 162px;
  position: absolute;
}

#cntManual_Cell4_Label48 {
  left: 7px;
  position: absolute;
}

#cntManual_Cell4_Label48 {
  width: 75px;
}

#cntManual_Cell4_Label48 {
  height: 55px;
}

#cntManual_Cell4_Label48 {
  z-index: 4;
}

#cntManual_Cell4_Label48 {
  border-width: 0px 3px 0px 0px;
}

#cntManual_Cell4_Label48 {
  border-color: dimgray;
}

#cntManual_Cell4_Label48:before {
  border-color: dimgray;
}

#cntManual_Cell4_Label48:after {
  border-color: dimgray;
}

#cntManual_Cell4_Label48 {
  border-style: solid;
}

#cntManual_Cell4_Label48:before {
  border-style: solid;
}

#cntManual_Cell4_Label48:after {
  border-style: solid;
}

#cntManual_Cell4_Label48 {
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntManual_Cell4_Label48 {
  font-weight: bold;
}

#cntManual_Cell4_Line13 {
  z-index: 5;
}

#cntManual_Cell4_Line13 line {
  stroke: dimgray;
}

#cntManual_Cell4_Line13 line {
  stroke-width: 2px;
}

#cntManual_Cell4_TextOutput13 {
  top: 159px;
  position: absolute;
}

#cntManual_Cell4_TextOutput13 {
  left: 76px;
  position: absolute;
}

#cntManual_Cell4_TextOutput13 {
  width: 294px;
}

#cntManual_Cell4_TextOutput13 {
  height: 60px;
}

#cntManual_Cell4_TextOutput13 {
  z-index: 6;
}

#cntManual_Cell4_GroupBox14 {
  top: 0px;
  position: absolute;
}

#cntManual_Cell4_GroupBox14 {
  left: 750px;
  position: absolute;
}

#cntManual_Cell4_GroupBox14 {
  width: 375px;
}

#cntManual_Cell4_GroupBox14 {
  height: 255px;
}

#cntManual_Cell4_GroupBox14 {
  z-index: 4;
}

#cntManual_Cell4_Cell4SwMechClampOpenButton {
  top: 12px;
  position: absolute;
}

#cntManual_Cell4_Cell4SwMechClampOpenButton {
  left: 15px;
  position: absolute;
}

#cntManual_Cell4_Cell4SwMechClampOpenButton {
  width: 137px;
}

#cntManual_Cell4_Cell4SwMechClampOpenButton {
  height: 67px;
}

#cntManual_Cell4_Cell4SwMechClampOpenButton {
  z-index: 0;
}

#cntManual_Cell4_Label49 {
  height: 30px;
}

#cntManual_Cell4_Label49 {
  top: 112px;
  position: absolute;
}

#cntManual_Cell4_Label49 {
  left: 15px;
  position: absolute;
}

#cntManual_Cell4_Label49 {
  width: 135px;
}

#cntManual_Cell4_Label49 {
  z-index: 1;
}

#cntManual_Cell4_Label49 {
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntManual_Cell4_Label50 {
  top: 162px;
  position: absolute;
}

#cntManual_Cell4_Label50 {
  left: 7px;
  position: absolute;
}

#cntManual_Cell4_Label50 {
  width: 75px;
}

#cntManual_Cell4_Label50 {
  height: 55px;
}

#cntManual_Cell4_Label50 {
  z-index: 2;
}

#cntManual_Cell4_Label50 {
  border-width: 0px 3px 0px 0px;
}

#cntManual_Cell4_Label50 {
  border-color: dimgray;
}

#cntManual_Cell4_Label50:before {
  border-color: dimgray;
}

#cntManual_Cell4_Label50:after {
  border-color: dimgray;
}

#cntManual_Cell4_Label50 {
  border-style: solid;
}

#cntManual_Cell4_Label50:before {
  border-style: solid;
}

#cntManual_Cell4_Label50:after {
  border-style: solid;
}

#cntManual_Cell4_Label50 {
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntManual_Cell4_Label50 {
  font-weight: bold;
}

#cntManual_Cell4_Line14 {
  z-index: 3;
}

#cntManual_Cell4_Line14 line {
  stroke: dimgray;
}

#cntManual_Cell4_Line14 line {
  stroke-width: 2px;
}

#cntManual_Cell4_TextOutput14 {
  top: 159px;
  position: absolute;
}

#cntManual_Cell4_TextOutput14 {
  left: 76px;
  position: absolute;
}

#cntManual_Cell4_TextOutput14 {
  width: 294px;
}

#cntManual_Cell4_TextOutput14 {
  height: 60px;
}

#cntManual_Cell4_TextOutput14 {
  z-index: 4;
}

#cntManual_Cell4_Cell4SwMechClampCloseButton {
  top: 15px;
  position: absolute;
}

#cntManual_Cell4_Cell4SwMechClampCloseButton {
  left: 218px;
  position: absolute;
}

#cntManual_Cell4_Cell4SwMechClampCloseButton {
  width: 137px;
}

#cntManual_Cell4_Cell4SwMechClampCloseButton {
  height: 67px;
}

#cntManual_Cell4_Cell4SwMechClampCloseButton {
  z-index: 5;
}

#cntManual_Cell4_lbl_Closed28 {
  height: 30px;
}

#cntManual_Cell4_lbl_Closed28 {
  top: 115px;
  position: absolute;
}

#cntManual_Cell4_lbl_Closed28 {
  left: 218px;
  position: absolute;
}

#cntManual_Cell4_lbl_Closed28 {
  width: 135px;
}

#cntManual_Cell4_lbl_Closed28 {
  z-index: 6;
}

#cntManual_Cell4_lbl_Closed28 {
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntManual_Cell4_GroupBox15 {
  top: 255px;
  position: absolute;
}

#cntManual_Cell4_GroupBox15 {
  left: 750px;
  position: absolute;
}

#cntManual_Cell4_GroupBox15 {
  width: 375px;
}

#cntManual_Cell4_GroupBox15 {
  height: 255px;
}

#cntManual_Cell4_GroupBox15 {
  z-index: 5;
}

#cntManual_Cell4_Cell3SwMechLockCylndrOpenButton {
  top: 12px;
  position: absolute;
}

#cntManual_Cell4_Cell3SwMechLockCylndrOpenButton {
  left: 15px;
  position: absolute;
}

#cntManual_Cell4_Cell3SwMechLockCylndrOpenButton {
  width: 137px;
}

#cntManual_Cell4_Cell3SwMechLockCylndrOpenButton {
  height: 67px;
}

#cntManual_Cell4_Cell3SwMechLockCylndrOpenButton {
  z-index: 0;
}

#cntManual_Cell4_Cell4SwMechLockCylndrCloseButton {
  top: 12px;
  position: absolute;
}

#cntManual_Cell4_Cell4SwMechLockCylndrCloseButton {
  left: 215px;
  position: absolute;
}

#cntManual_Cell4_Cell4SwMechLockCylndrCloseButton {
  width: 137px;
}

#cntManual_Cell4_Cell4SwMechLockCylndrCloseButton {
  height: 67px;
}

#cntManual_Cell4_Cell4SwMechLockCylndrCloseButton {
  z-index: 1;
}

#cntManual_Cell4_Label51 {
  height: 30px;
}

#cntManual_Cell4_Label51 {
  top: 112px;
  position: absolute;
}

#cntManual_Cell4_Label51 {
  left: 15px;
  position: absolute;
}

#cntManual_Cell4_Label51 {
  width: 135px;
}

#cntManual_Cell4_Label51 {
  z-index: 2;
}

#cntManual_Cell4_Label51 {
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntManual_Cell4_lbl_Closed25 {
  height: 30px;
}

#cntManual_Cell4_lbl_Closed25 {
  top: 112px;
  position: absolute;
}

#cntManual_Cell4_lbl_Closed25 {
  left: 215px;
  position: absolute;
}

#cntManual_Cell4_lbl_Closed25 {
  width: 135px;
}

#cntManual_Cell4_lbl_Closed25 {
  z-index: 3;
}

#cntManual_Cell4_lbl_Closed25 {
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntManual_Cell4_Label52 {
  top: 162px;
  position: absolute;
}

#cntManual_Cell4_Label52 {
  left: 7px;
  position: absolute;
}

#cntManual_Cell4_Label52 {
  width: 75px;
}

#cntManual_Cell4_Label52 {
  height: 55px;
}

#cntManual_Cell4_Label52 {
  z-index: 4;
}

#cntManual_Cell4_Label52 {
  border-width: 0px 3px 0px 0px;
}

#cntManual_Cell4_Label52 {
  border-color: dimgray;
}

#cntManual_Cell4_Label52:before {
  border-color: dimgray;
}

#cntManual_Cell4_Label52:after {
  border-color: dimgray;
}

#cntManual_Cell4_Label52 {
  border-style: solid;
}

#cntManual_Cell4_Label52:before {
  border-style: solid;
}

#cntManual_Cell4_Label52:after {
  border-style: solid;
}

#cntManual_Cell4_Label52 {
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntManual_Cell4_Label52 {
  font-weight: bold;
}

#cntManual_Cell4_Line15 {
  z-index: 5;
}

#cntManual_Cell4_Line15 line {
  stroke: dimgray;
}

#cntManual_Cell4_Line15 line {
  stroke-width: 2px;
}

#cntManual_Cell4_TextOutput15 {
  top: 159px;
  position: absolute;
}

#cntManual_Cell4_TextOutput15 {
  left: 76px;
  position: absolute;
}

#cntManual_Cell4_TextOutput15 {
  width: 294px;
}

#cntManual_Cell4_TextOutput15 {
  height: 60px;
}

#cntManual_Cell4_TextOutput15 {
  z-index: 6;
}

#cntManual_Cell4_GroupBox16 {
  top: 255px;
  position: absolute;
}

#cntManual_Cell4_GroupBox16 {
  left: 1125px;
  position: absolute;
}

#cntManual_Cell4_GroupBox16 {
  width: 375px;
}

#cntManual_Cell4_GroupBox16 {
  height: 255px;
}

#cntManual_Cell4_GroupBox16 {
  z-index: 6;
}

#cntManual_Cell4_Cell3TableVacuumBlowButton {
  top: 12px;
  position: absolute;
}

#cntManual_Cell4_Cell3TableVacuumBlowButton {
  left: 15px;
  position: absolute;
}

#cntManual_Cell4_Cell3TableVacuumBlowButton {
  width: 137px;
}

#cntManual_Cell4_Cell3TableVacuumBlowButton {
  height: 67px;
}

#cntManual_Cell4_Cell3TableVacuumBlowButton {
  z-index: 0;
}

#cntManual_Cell4_Cell4TableVacuumSuctionButton {
  top: 12px;
  position: absolute;
}

#cntManual_Cell4_Cell4TableVacuumSuctionButton {
  left: 215px;
  position: absolute;
}

#cntManual_Cell4_Cell4TableVacuumSuctionButton {
  width: 137px;
}

#cntManual_Cell4_Cell4TableVacuumSuctionButton {
  height: 67px;
}

#cntManual_Cell4_Cell4TableVacuumSuctionButton {
  z-index: 1;
}

#cntManual_Cell4_Label53 {
  height: 30px;
}

#cntManual_Cell4_Label53 {
  top: 112px;
  position: absolute;
}

#cntManual_Cell4_Label53 {
  left: 15px;
  position: absolute;
}

#cntManual_Cell4_Label53 {
  width: 135px;
}

#cntManual_Cell4_Label53 {
  z-index: 2;
}

#cntManual_Cell4_Label53 {
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntManual_Cell4_lbl_Closed26 {
  height: 30px;
}

#cntManual_Cell4_lbl_Closed26 {
  top: 112px;
  position: absolute;
}

#cntManual_Cell4_lbl_Closed26 {
  left: 215px;
  position: absolute;
}

#cntManual_Cell4_lbl_Closed26 {
  width: 135px;
}

#cntManual_Cell4_lbl_Closed26 {
  z-index: 3;
}

#cntManual_Cell4_lbl_Closed26 {
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntManual_Cell4_Label54 {
  top: 162px;
  position: absolute;
}

#cntManual_Cell4_Label54 {
  left: 7px;
  position: absolute;
}

#cntManual_Cell4_Label54 {
  width: 75px;
}

#cntManual_Cell4_Label54 {
  height: 55px;
}

#cntManual_Cell4_Label54 {
  z-index: 4;
}

#cntManual_Cell4_Label54 {
  border-width: 0px 3px 0px 0px;
}

#cntManual_Cell4_Label54 {
  border-color: dimgray;
}

#cntManual_Cell4_Label54:before {
  border-color: dimgray;
}

#cntManual_Cell4_Label54:after {
  border-color: dimgray;
}

#cntManual_Cell4_Label54 {
  border-style: solid;
}

#cntManual_Cell4_Label54:before {
  border-style: solid;
}

#cntManual_Cell4_Label54:after {
  border-style: solid;
}

#cntManual_Cell4_Label54 {
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntManual_Cell4_Label54 {
  font-weight: bold;
}

#cntManual_Cell4_Line16 {
  z-index: 5;
}

#cntManual_Cell4_Line16 line {
  stroke: dimgray;
}

#cntManual_Cell4_Line16 line {
  stroke-width: 2px;
}

#cntManual_Cell4_TextOutput16 {
  top: 159px;
  position: absolute;
}

#cntManual_Cell4_TextOutput16 {
  left: 76px;
  position: absolute;
}

#cntManual_Cell4_TextOutput16 {
  width: 294px;
}

#cntManual_Cell4_TextOutput16 {
  height: 60px;
}

#cntManual_Cell4_TextOutput16 {
  z-index: 6;
}

#cntManual_Cell4_GroupBox17 {
  top: 0px;
  position: absolute;
}

#cntManual_Cell4_GroupBox17 {
  left: 1125px;
  position: absolute;
}

#cntManual_Cell4_GroupBox17 {
  width: 375px;
}

#cntManual_Cell4_GroupBox17 {
  height: 255px;
}

#cntManual_Cell4_GroupBox17 {
  z-index: 7;
}

#cntManual_Cell4_Cell4TablaCylndrOpenButton {
  top: 12px;
  position: absolute;
}

#cntManual_Cell4_Cell4TablaCylndrOpenButton {
  left: 15px;
  position: absolute;
}

#cntManual_Cell4_Cell4TablaCylndrOpenButton {
  width: 137px;
}

#cntManual_Cell4_Cell4TablaCylndrOpenButton {
  height: 67px;
}

#cntManual_Cell4_Cell4TablaCylndrOpenButton {
  z-index: 0;
}

#cntManual_Cell4_Cell4TablaCylndrCloseButton {
  top: 12px;
  position: absolute;
}

#cntManual_Cell4_Cell4TablaCylndrCloseButton {
  left: 215px;
  position: absolute;
}

#cntManual_Cell4_Cell4TablaCylndrCloseButton {
  width: 137px;
}

#cntManual_Cell4_Cell4TablaCylndrCloseButton {
  height: 67px;
}

#cntManual_Cell4_Cell4TablaCylndrCloseButton {
  z-index: 1;
}

#cntManual_Cell4_Label55 {
  height: 30px;
}

#cntManual_Cell4_Label55 {
  top: 112px;
  position: absolute;
}

#cntManual_Cell4_Label55 {
  left: 15px;
  position: absolute;
}

#cntManual_Cell4_Label55 {
  width: 135px;
}

#cntManual_Cell4_Label55 {
  z-index: 2;
}

#cntManual_Cell4_Label55 {
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntManual_Cell4_lbl_Closed27 {
  height: 30px;
}

#cntManual_Cell4_lbl_Closed27 {
  top: 112px;
  position: absolute;
}

#cntManual_Cell4_lbl_Closed27 {
  left: 215px;
  position: absolute;
}

#cntManual_Cell4_lbl_Closed27 {
  width: 135px;
}

#cntManual_Cell4_lbl_Closed27 {
  z-index: 3;
}

#cntManual_Cell4_lbl_Closed27 {
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntManual_Cell4_Label56 {
  top: 162px;
  position: absolute;
}

#cntManual_Cell4_Label56 {
  left: 7px;
  position: absolute;
}

#cntManual_Cell4_Label56 {
  width: 75px;
}

#cntManual_Cell4_Label56 {
  height: 55px;
}

#cntManual_Cell4_Label56 {
  z-index: 4;
}

#cntManual_Cell4_Label56 {
  border-width: 0px 3px 0px 0px;
}

#cntManual_Cell4_Label56 {
  border-color: dimgray;
}

#cntManual_Cell4_Label56:before {
  border-color: dimgray;
}

#cntManual_Cell4_Label56:after {
  border-color: dimgray;
}

#cntManual_Cell4_Label56 {
  border-style: solid;
}

#cntManual_Cell4_Label56:before {
  border-style: solid;
}

#cntManual_Cell4_Label56:after {
  border-style: solid;
}

#cntManual_Cell4_Label56 {
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntManual_Cell4_Label56 {
  font-weight: bold;
}

#cntManual_Cell4_Line17 {
  z-index: 5;
}

#cntManual_Cell4_Line17 line {
  stroke: dimgray;
}

#cntManual_Cell4_Line17 line {
  stroke-width: 2px;
}

#cntManual_Cell4_TextOutput17 {
  top: 159px;
  position: absolute;
}

#cntManual_Cell4_TextOutput17 {
  left: 76px;
  position: absolute;
}

#cntManual_Cell4_TextOutput17 {
  width: 294px;
}

#cntManual_Cell4_TextOutput17 {
  height: 60px;
}

#cntManual_Cell4_TextOutput17 {
  z-index: 6;
}

#cntManual_Cell4_GroupBox9 {
  top: 0px;
  position: absolute;
}

#cntManual_Cell4_GroupBox9 {
  left: 1500px;
  position: absolute;
}

#cntManual_Cell4_GroupBox9 {
  width: 369px;
}

#cntManual_Cell4_GroupBox9 {
  height: 255px;
}

#cntManual_Cell4_GroupBox9 {
  z-index: 8;
}

#cntManual_Cell4_Cell4VacuumBlowButton {
  top: 12px;
  position: absolute;
}

#cntManual_Cell4_Cell4VacuumBlowButton {
  left: 15px;
  position: absolute;
}

#cntManual_Cell4_Cell4VacuumBlowButton {
  width: 137px;
}

#cntManual_Cell4_Cell4VacuumBlowButton {
  height: 67px;
}

#cntManual_Cell4_Cell4VacuumBlowButton {
  z-index: 0;
}

#cntManual_Cell4_Cell4VacuumSuctionButton {
  top: 12px;
  position: absolute;
}

#cntManual_Cell4_Cell4VacuumSuctionButton {
  left: 215px;
  position: absolute;
}

#cntManual_Cell4_Cell4VacuumSuctionButton {
  width: 137px;
}

#cntManual_Cell4_Cell4VacuumSuctionButton {
  height: 67px;
}

#cntManual_Cell4_Cell4VacuumSuctionButton {
  z-index: 1;
}

#cntManual_Cell4_Label39 {
  height: 30px;
}

#cntManual_Cell4_Label39 {
  top: 112px;
  position: absolute;
}

#cntManual_Cell4_Label39 {
  left: 15px;
  position: absolute;
}

#cntManual_Cell4_Label39 {
  width: 135px;
}

#cntManual_Cell4_Label39 {
  z-index: 2;
}

#cntManual_Cell4_Label39 {
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntManual_Cell4_lbl_Closed19 {
  height: 30px;
}

#cntManual_Cell4_lbl_Closed19 {
  top: 112px;
  position: absolute;
}

#cntManual_Cell4_lbl_Closed19 {
  left: 215px;
  position: absolute;
}

#cntManual_Cell4_lbl_Closed19 {
  width: 135px;
}

#cntManual_Cell4_lbl_Closed19 {
  z-index: 3;
}

#cntManual_Cell4_lbl_Closed19 {
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntManual_Cell4_Label40 {
  top: 162px;
  position: absolute;
}

#cntManual_Cell4_Label40 {
  left: 7px;
  position: absolute;
}

#cntManual_Cell4_Label40 {
  width: 75px;
}

#cntManual_Cell4_Label40 {
  height: 55px;
}

#cntManual_Cell4_Label40 {
  z-index: 4;
}

#cntManual_Cell4_Label40 {
  border-width: 0px 3px 0px 0px;
}

#cntManual_Cell4_Label40 {
  border-color: dimgray;
}

#cntManual_Cell4_Label40:before {
  border-color: dimgray;
}

#cntManual_Cell4_Label40:after {
  border-color: dimgray;
}

#cntManual_Cell4_Label40 {
  border-style: solid;
}

#cntManual_Cell4_Label40:before {
  border-style: solid;
}

#cntManual_Cell4_Label40:after {
  border-style: solid;
}

#cntManual_Cell4_Label40 {
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntManual_Cell4_Label40 {
  font-weight: bold;
}

#cntManual_Cell4_Line9 {
  z-index: 5;
}

#cntManual_Cell4_Line9 line {
  stroke: dimgray;
}

#cntManual_Cell4_Line9 line {
  stroke-width: 2px;
}

#cntManual_Cell4_TextOutput9 {
  top: 159px;
  position: absolute;
}

#cntManual_Cell4_TextOutput9 {
  left: 76px;
  position: absolute;
}

#cntManual_Cell4_TextOutput9 {
  width: 284px;
}

#cntManual_Cell4_TextOutput9 {
  height: 60px;
}

#cntManual_Cell4_TextOutput9 {
  z-index: 6;
}

#cntManual_Cell4_GridLineItem2 {
  z-index: 1;
}

#cntManual_Cell4_GroupBox19 {
  top: 0px;
  position: absolute;
}

#cntManual_Cell4_GroupBox19 {
  left: 0px;
  position: absolute;
}

#cntManual_Cell4_GroupBox19 {
  width: 375px;
}

#cntManual_Cell4_GroupBox19 {
  height: 255px;
}

#cntManual_Cell4_GroupBox19 {
  z-index: 0;
}

#cntManual_Cell4_Cell4CamLightTopButton {
  top: 12px;
  position: absolute;
}

#cntManual_Cell4_Cell4CamLightTopButton {
  left: 115px;
  position: absolute;
}

#cntManual_Cell4_Cell4CamLightTopButton {
  width: 137px;
}

#cntManual_Cell4_Cell4CamLightTopButton {
  height: 67px;
}

#cntManual_Cell4_Cell4CamLightTopButton {
  z-index: 0;
}

#cntManual_Cell4_Label59 {
  height: 30px;
}

#cntManual_Cell4_Label59 {
  top: 112px;
  position: absolute;
}

#cntManual_Cell4_Label59 {
  left: 115px;
  position: absolute;
}

#cntManual_Cell4_Label59 {
  width: 135px;
}

#cntManual_Cell4_Label59 {
  z-index: 1;
}

#cntManual_Cell4_Label59 {
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntManual_Cell4_Label60 {
  top: 162px;
  position: absolute;
}

#cntManual_Cell4_Label60 {
  left: 7px;
  position: absolute;
}

#cntManual_Cell4_Label60 {
  width: 75px;
}

#cntManual_Cell4_Label60 {
  height: 55px;
}

#cntManual_Cell4_Label60 {
  z-index: 2;
}

#cntManual_Cell4_Label60 {
  border-width: 0px 3px 0px 0px;
}

#cntManual_Cell4_Label60 {
  border-color: dimgray;
}

#cntManual_Cell4_Label60:before {
  border-color: dimgray;
}

#cntManual_Cell4_Label60:after {
  border-color: dimgray;
}

#cntManual_Cell4_Label60 {
  border-style: solid;
}

#cntManual_Cell4_Label60:before {
  border-style: solid;
}

#cntManual_Cell4_Label60:after {
  border-style: solid;
}

#cntManual_Cell4_Label60 {
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntManual_Cell4_Label60 {
  font-weight: bold;
}

#cntManual_Cell4_Line19 {
  z-index: 3;
}

#cntManual_Cell4_Line19 line {
  stroke: dimgray;
}

#cntManual_Cell4_Line19 line {
  stroke-width: 2px;
}

#cntManual_Cell4_TextOutput19 {
  top: 159px;
  position: absolute;
}

#cntManual_Cell4_TextOutput19 {
  left: 76px;
  position: absolute;
}

#cntManual_Cell4_TextOutput19 {
  width: 294px;
}

#cntManual_Cell4_TextOutput19 {
  height: 60px;
}

#cntManual_Cell4_TextOutput19 {
  z-index: 4;
}

#cntManual_Cell4_GroupBox20 {
  top: 255px;
  position: absolute;
}

#cntManual_Cell4_GroupBox20 {
  left: 0px;
  position: absolute;
}

#cntManual_Cell4_GroupBox20 {
  width: 375px;
}

#cntManual_Cell4_GroupBox20 {
  height: 255px;
}

#cntManual_Cell4_GroupBox20 {
  z-index: 1;
}

#cntManual_Cell4_Cell4CamLightBottonButton {
  top: 12px;
  position: absolute;
}

#cntManual_Cell4_Cell4CamLightBottonButton {
  left: 115px;
  position: absolute;
}

#cntManual_Cell4_Cell4CamLightBottonButton {
  width: 137px;
}

#cntManual_Cell4_Cell4CamLightBottonButton {
  height: 67px;
}

#cntManual_Cell4_Cell4CamLightBottonButton {
  z-index: 0;
}

#cntManual_Cell4_Label61 {
  height: 30px;
}

#cntManual_Cell4_Label61 {
  top: 112px;
  position: absolute;
}

#cntManual_Cell4_Label61 {
  left: 115px;
  position: absolute;
}

#cntManual_Cell4_Label61 {
  width: 135px;
}

#cntManual_Cell4_Label61 {
  z-index: 1;
}

#cntManual_Cell4_Label61 {
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntManual_Cell4_Label62 {
  top: 162px;
  position: absolute;
}

#cntManual_Cell4_Label62 {
  left: 7px;
  position: absolute;
}

#cntManual_Cell4_Label62 {
  width: 75px;
}

#cntManual_Cell4_Label62 {
  height: 55px;
}

#cntManual_Cell4_Label62 {
  z-index: 2;
}

#cntManual_Cell4_Label62 {
  border-width: 0px 3px 0px 0px;
}

#cntManual_Cell4_Label62 {
  border-color: dimgray;
}

#cntManual_Cell4_Label62:before {
  border-color: dimgray;
}

#cntManual_Cell4_Label62:after {
  border-color: dimgray;
}

#cntManual_Cell4_Label62 {
  border-style: solid;
}

#cntManual_Cell4_Label62:before {
  border-style: solid;
}

#cntManual_Cell4_Label62:after {
  border-style: solid;
}

#cntManual_Cell4_Label62 {
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntManual_Cell4_Label62 {
  font-weight: bold;
}

#cntManual_Cell4_Line20 {
  z-index: 3;
}

#cntManual_Cell4_Line20 line {
  stroke: dimgray;
}

#cntManual_Cell4_Line20 line {
  stroke-width: 2px;
}

#cntManual_Cell4_TextOutput20 {
  top: 159px;
  position: absolute;
}

#cntManual_Cell4_TextOutput20 {
  left: 76px;
  position: absolute;
}

#cntManual_Cell4_TextOutput20 {
  width: 294px;
}

#cntManual_Cell4_TextOutput20 {
  height: 60px;
}

#cntManual_Cell4_TextOutput20 {
  z-index: 4;
}
