﻿@import "mixins.scss";
#cntManual_Cell4_GridLine1 {
	@include elemTop(0);
}
#cntManual_Cell4_GridLine1 {
	@include elemLeft(0);
}
#cntManual_Cell4_GridLine1 {
	@include elemWidth(1890);
}
#cntManual_Cell4_GridLine1 {
	@include elemHeight(530);
}
#cntManual_Cell4_GridLine1 {
		z-index: 0;
}
#cntManual_Cell4_GridLineItem1 {
		z-index: 0;
}
#cntManual_Cell4_GroupBox10 {
	@include elemTop(255);
}
#cntManual_Cell4_GroupBox10 {
	@include elemLeft(375);
}
#cntManual_Cell4_GroupBox10 {
	@include elemWidth(375);
}
#cntManual_Cell4_GroupBox10 {
	@include elemHeight(255);
}
#cntManual_Cell4_GroupBox10 {
		z-index: 0;
}
#cntManual_Cell4_Cell4BannerCellLightButton {
	@include elemTop(12);
}
#cntManual_Cell4_Cell4BannerCellLightButton {
	@include elemLeft(115);
}
#cntManual_Cell4_Cell4BannerCellLightButton {
	@include elemAutoWidth(137);
}
#cntManual_Cell4_Cell4BannerCellLightButton {
	@include elemAutoHeight(67);
}
#cntManual_Cell4_Cell4BannerCellLightButton {
		z-index: 0;
}
#cntManual_Cell4_Label41 {
	@include elemAutoHeight(30);
}
#cntManual_Cell4_Label41 {
	@include elemTop(112);
}
#cntManual_Cell4_Label41 {
	@include elemLeft(115);
}
#cntManual_Cell4_Label41 {
	@include elemAutoWidth(135);
}
#cntManual_Cell4_Label41 {
		z-index: 1;
}
#cntManual_Cell4_Label41 {
	@include text-alignment-all('center');
}
#cntManual_Cell4_Label42 {
	@include elemTop(162);
}
#cntManual_Cell4_Label42 {
	@include elemLeft(7);
}
#cntManual_Cell4_Label42 {
	@include elemAutoWidth(75);
}
#cntManual_Cell4_Label42 {
	@include elemAutoHeight(55);
}
#cntManual_Cell4_Label42 {
		z-index: 2;
}
#cntManual_Cell4_Label42 {
		border-width: 0px 3px 0px 0px;
}
#cntManual_Cell4_Label42 {
		border-color: rgba(105, 105, 105, 1);
}
#cntManual_Cell4_Label42 {
	&:before{
		border-color: rgba(105, 105, 105, 1);
	}
}
#cntManual_Cell4_Label42 {
	&:after{
		border-color: rgba(105, 105, 105, 1);
	}
}
#cntManual_Cell4_Label42 {
		border-style: solid;
}
#cntManual_Cell4_Label42 {
	&:before{
		border-style: solid;
	}
}
#cntManual_Cell4_Label42 {
	&:after{
		border-style: solid;
	}
}
#cntManual_Cell4_Label42 {
	@include text-alignment-all('center');
}
#cntManual_Cell4_Label42 {
	@include font-weight-bold(true);
}
#cntManual_Cell4_Line10 {
		z-index: 3;
}
#cntManual_Cell4_Line10 {
	line{
		stroke: rgba(105, 105, 105, 1);
	}
}
#cntManual_Cell4_Line10 {
	line{
		stroke-width: 2px;
	}
}
#cntManual_Cell4_TextOutput10 {
	@include elemTop(159);
}
#cntManual_Cell4_TextOutput10 {
	@include elemLeft(76);
}
#cntManual_Cell4_TextOutput10 {
	@include elemAutoWidth(294);
}
#cntManual_Cell4_TextOutput10 {
	@include elemAutoHeight(60);
}
#cntManual_Cell4_TextOutput10 {
		z-index: 4;
}
#cntManual_Cell4_GroupBox11 {
	@include elemTop(0);
}
#cntManual_Cell4_GroupBox11 {
	@include elemLeft(0);
}
#cntManual_Cell4_GroupBox11 {
	@include elemWidth(375);
}
#cntManual_Cell4_GroupBox11 {
	@include elemHeight(255);
}
#cntManual_Cell4_GroupBox11 {
		z-index: 1;
}
#cntManual_Cell4_Cell4CamAirBlow {
	@include elemTop(12);
}
#cntManual_Cell4_Cell4CamAirBlow {
	@include elemLeft(115);
}
#cntManual_Cell4_Cell4CamAirBlow {
	@include elemAutoWidth(137);
}
#cntManual_Cell4_Cell4CamAirBlow {
	@include elemAutoHeight(67);
}
#cntManual_Cell4_Cell4CamAirBlow {
		z-index: 0;
}
#cntManual_Cell4_Label43 {
	@include elemAutoHeight(30);
}
#cntManual_Cell4_Label43 {
	@include elemTop(112);
}
#cntManual_Cell4_Label43 {
	@include elemLeft(115);
}
#cntManual_Cell4_Label43 {
	@include elemAutoWidth(135);
}
#cntManual_Cell4_Label43 {
		z-index: 1;
}
#cntManual_Cell4_Label43 {
	@include text-alignment-all('center');
}
#cntManual_Cell4_Label44 {
	@include elemTop(162);
}
#cntManual_Cell4_Label44 {
	@include elemLeft(7);
}
#cntManual_Cell4_Label44 {
	@include elemAutoWidth(75);
}
#cntManual_Cell4_Label44 {
	@include elemAutoHeight(55);
}
#cntManual_Cell4_Label44 {
		z-index: 2;
}
#cntManual_Cell4_Label44 {
		border-width: 0px 3px 0px 0px;
}
#cntManual_Cell4_Label44 {
		border-color: rgba(105, 105, 105, 1);
}
#cntManual_Cell4_Label44 {
	&:before{
		border-color: rgba(105, 105, 105, 1);
	}
}
#cntManual_Cell4_Label44 {
	&:after{
		border-color: rgba(105, 105, 105, 1);
	}
}
#cntManual_Cell4_Label44 {
		border-style: solid;
}
#cntManual_Cell4_Label44 {
	&:before{
		border-style: solid;
	}
}
#cntManual_Cell4_Label44 {
	&:after{
		border-style: solid;
	}
}
#cntManual_Cell4_Label44 {
	@include text-alignment-all('center');
}
#cntManual_Cell4_Label44 {
	@include font-weight-bold(true);
}
#cntManual_Cell4_Line11 {
		z-index: 3;
}
#cntManual_Cell4_Line11 {
	line{
		stroke: rgba(105, 105, 105, 1);
	}
}
#cntManual_Cell4_Line11 {
	line{
		stroke-width: 2px;
	}
}
#cntManual_Cell4_TextOutput11 {
	@include elemTop(159);
}
#cntManual_Cell4_TextOutput11 {
	@include elemLeft(76);
}
#cntManual_Cell4_TextOutput11 {
	@include elemAutoWidth(294);
}
#cntManual_Cell4_TextOutput11 {
	@include elemAutoHeight(60);
}
#cntManual_Cell4_TextOutput11 {
		z-index: 4;
}
#cntManual_Cell4_GroupBox12 {
	@include elemTop(255);
}
#cntManual_Cell4_GroupBox12 {
	@include elemLeft(0);
}
#cntManual_Cell4_GroupBox12 {
	@include elemWidth(375);
}
#cntManual_Cell4_GroupBox12 {
	@include elemHeight(255);
}
#cntManual_Cell4_GroupBox12 {
		z-index: 2;
}
#cntManual_Cell4_Cell4GrpCmpnstrOpenButton {
	@include elemTop(12);
}
#cntManual_Cell4_Cell4GrpCmpnstrOpenButton {
	@include elemLeft(15);
}
#cntManual_Cell4_Cell4GrpCmpnstrOpenButton {
	@include elemAutoWidth(137);
}
#cntManual_Cell4_Cell4GrpCmpnstrOpenButton {
	@include elemAutoHeight(67);
}
#cntManual_Cell4_Cell4GrpCmpnstrOpenButton {
		z-index: 0;
}
#cntManual_Cell4_Cell4GrpCmpnstrCloseButton {
	@include elemTop(12);
}
#cntManual_Cell4_Cell4GrpCmpnstrCloseButton {
	@include elemLeft(215);
}
#cntManual_Cell4_Cell4GrpCmpnstrCloseButton {
	@include elemAutoWidth(137);
}
#cntManual_Cell4_Cell4GrpCmpnstrCloseButton {
	@include elemAutoHeight(67);
}
#cntManual_Cell4_Cell4GrpCmpnstrCloseButton {
		z-index: 1;
}
#cntManual_Cell4_Label45 {
	@include elemAutoHeight(30);
}
#cntManual_Cell4_Label45 {
	@include elemTop(112);
}
#cntManual_Cell4_Label45 {
	@include elemLeft(15);
}
#cntManual_Cell4_Label45 {
	@include elemAutoWidth(135);
}
#cntManual_Cell4_Label45 {
		z-index: 2;
}
#cntManual_Cell4_Label45 {
	@include text-alignment-all('center');
}
#cntManual_Cell4_lbl_Closed22 {
	@include elemAutoHeight(30);
}
#cntManual_Cell4_lbl_Closed22 {
	@include elemTop(112);
}
#cntManual_Cell4_lbl_Closed22 {
	@include elemLeft(215);
}
#cntManual_Cell4_lbl_Closed22 {
	@include elemAutoWidth(135);
}
#cntManual_Cell4_lbl_Closed22 {
		z-index: 3;
}
#cntManual_Cell4_lbl_Closed22 {
	@include text-alignment-all('center');
}
#cntManual_Cell4_Label46 {
	@include elemTop(162);
}
#cntManual_Cell4_Label46 {
	@include elemLeft(7);
}
#cntManual_Cell4_Label46 {
	@include elemAutoWidth(75);
}
#cntManual_Cell4_Label46 {
	@include elemAutoHeight(55);
}
#cntManual_Cell4_Label46 {
		z-index: 4;
}
#cntManual_Cell4_Label46 {
		border-width: 0px 3px 0px 0px;
}
#cntManual_Cell4_Label46 {
		border-color: rgba(105, 105, 105, 1);
}
#cntManual_Cell4_Label46 {
	&:before{
		border-color: rgba(105, 105, 105, 1);
	}
}
#cntManual_Cell4_Label46 {
	&:after{
		border-color: rgba(105, 105, 105, 1);
	}
}
#cntManual_Cell4_Label46 {
		border-style: solid;
}
#cntManual_Cell4_Label46 {
	&:before{
		border-style: solid;
	}
}
#cntManual_Cell4_Label46 {
	&:after{
		border-style: solid;
	}
}
#cntManual_Cell4_Label46 {
	@include text-alignment-all('center');
}
#cntManual_Cell4_Label46 {
	@include font-weight-bold(true);
}
#cntManual_Cell4_Line12 {
		z-index: 5;
}
#cntManual_Cell4_Line12 {
	line{
		stroke: rgba(105, 105, 105, 1);
	}
}
#cntManual_Cell4_Line12 {
	line{
		stroke-width: 2px;
	}
}
#cntManual_Cell4_TextOutput12 {
	@include elemTop(159);
}
#cntManual_Cell4_TextOutput12 {
	@include elemLeft(76);
}
#cntManual_Cell4_TextOutput12 {
	@include elemAutoWidth(294);
}
#cntManual_Cell4_TextOutput12 {
	@include elemAutoHeight(60);
}
#cntManual_Cell4_TextOutput12 {
		z-index: 6;
}
#cntManual_Cell4_GroupBox13 {
	@include elemTop(0);
}
#cntManual_Cell4_GroupBox13 {
	@include elemLeft(375);
}
#cntManual_Cell4_GroupBox13 {
	@include elemWidth(375);
}
#cntManual_Cell4_GroupBox13 {
	@include elemHeight(255);
}
#cntManual_Cell4_GroupBox13 {
		z-index: 3;
}
#cntManual_Cell4_Cell4GrpToolLockOpenButton {
	@include elemTop(12);
}
#cntManual_Cell4_Cell4GrpToolLockOpenButton {
	@include elemLeft(15);
}
#cntManual_Cell4_Cell4GrpToolLockOpenButton {
	@include elemAutoWidth(137);
}
#cntManual_Cell4_Cell4GrpToolLockOpenButton {
	@include elemAutoHeight(67);
}
#cntManual_Cell4_Cell4GrpToolLockOpenButton {
		z-index: 0;
}
#cntManual_Cell4_Cell4GrpToolLockCloseButton {
	@include elemTop(12);
}
#cntManual_Cell4_Cell4GrpToolLockCloseButton {
	@include elemLeft(215);
}
#cntManual_Cell4_Cell4GrpToolLockCloseButton {
	@include elemAutoWidth(137);
}
#cntManual_Cell4_Cell4GrpToolLockCloseButton {
	@include elemAutoHeight(67);
}
#cntManual_Cell4_Cell4GrpToolLockCloseButton {
		z-index: 1;
}
#cntManual_Cell4_Label47 {
	@include elemAutoHeight(30);
}
#cntManual_Cell4_Label47 {
	@include elemTop(112);
}
#cntManual_Cell4_Label47 {
	@include elemLeft(15);
}
#cntManual_Cell4_Label47 {
	@include elemAutoWidth(135);
}
#cntManual_Cell4_Label47 {
		z-index: 2;
}
#cntManual_Cell4_Label47 {
	@include text-alignment-all('center');
}
#cntManual_Cell4_lbl_Closed23 {
	@include elemAutoHeight(30);
}
#cntManual_Cell4_lbl_Closed23 {
	@include elemTop(112);
}
#cntManual_Cell4_lbl_Closed23 {
	@include elemLeft(215);
}
#cntManual_Cell4_lbl_Closed23 {
	@include elemAutoWidth(135);
}
#cntManual_Cell4_lbl_Closed23 {
		z-index: 3;
}
#cntManual_Cell4_lbl_Closed23 {
	@include text-alignment-all('center');
}
#cntManual_Cell4_Label48 {
	@include elemTop(162);
}
#cntManual_Cell4_Label48 {
	@include elemLeft(7);
}
#cntManual_Cell4_Label48 {
	@include elemAutoWidth(75);
}
#cntManual_Cell4_Label48 {
	@include elemAutoHeight(55);
}
#cntManual_Cell4_Label48 {
		z-index: 4;
}
#cntManual_Cell4_Label48 {
		border-width: 0px 3px 0px 0px;
}
#cntManual_Cell4_Label48 {
		border-color: rgba(105, 105, 105, 1);
}
#cntManual_Cell4_Label48 {
	&:before{
		border-color: rgba(105, 105, 105, 1);
	}
}
#cntManual_Cell4_Label48 {
	&:after{
		border-color: rgba(105, 105, 105, 1);
	}
}
#cntManual_Cell4_Label48 {
		border-style: solid;
}
#cntManual_Cell4_Label48 {
	&:before{
		border-style: solid;
	}
}
#cntManual_Cell4_Label48 {
	&:after{
		border-style: solid;
	}
}
#cntManual_Cell4_Label48 {
	@include text-alignment-all('center');
}
#cntManual_Cell4_Label48 {
	@include font-weight-bold(true);
}
#cntManual_Cell4_Line13 {
		z-index: 5;
}
#cntManual_Cell4_Line13 {
	line{
		stroke: rgba(105, 105, 105, 1);
	}
}
#cntManual_Cell4_Line13 {
	line{
		stroke-width: 2px;
	}
}
#cntManual_Cell4_TextOutput13 {
	@include elemTop(159);
}
#cntManual_Cell4_TextOutput13 {
	@include elemLeft(76);
}
#cntManual_Cell4_TextOutput13 {
	@include elemAutoWidth(294);
}
#cntManual_Cell4_TextOutput13 {
	@include elemAutoHeight(60);
}
#cntManual_Cell4_TextOutput13 {
		z-index: 6;
}
#cntManual_Cell4_GroupBox14 {
	@include elemTop(0);
}
#cntManual_Cell4_GroupBox14 {
	@include elemLeft(750);
}
#cntManual_Cell4_GroupBox14 {
	@include elemWidth(375);
}
#cntManual_Cell4_GroupBox14 {
	@include elemHeight(255);
}
#cntManual_Cell4_GroupBox14 {
		z-index: 4;
}
#cntManual_Cell4_Cell4SwMechClampOpenButton {
	@include elemTop(12);
}
#cntManual_Cell4_Cell4SwMechClampOpenButton {
	@include elemLeft(15);
}
#cntManual_Cell4_Cell4SwMechClampOpenButton {
	@include elemAutoWidth(137);
}
#cntManual_Cell4_Cell4SwMechClampOpenButton {
	@include elemAutoHeight(67);
}
#cntManual_Cell4_Cell4SwMechClampOpenButton {
		z-index: 0;
}
#cntManual_Cell4_Label49 {
	@include elemAutoHeight(30);
}
#cntManual_Cell4_Label49 {
	@include elemTop(112);
}
#cntManual_Cell4_Label49 {
	@include elemLeft(15);
}
#cntManual_Cell4_Label49 {
	@include elemAutoWidth(135);
}
#cntManual_Cell4_Label49 {
		z-index: 1;
}
#cntManual_Cell4_Label49 {
	@include text-alignment-all('center');
}
#cntManual_Cell4_Label50 {
	@include elemTop(162);
}
#cntManual_Cell4_Label50 {
	@include elemLeft(7);
}
#cntManual_Cell4_Label50 {
	@include elemAutoWidth(75);
}
#cntManual_Cell4_Label50 {
	@include elemAutoHeight(55);
}
#cntManual_Cell4_Label50 {
		z-index: 2;
}
#cntManual_Cell4_Label50 {
		border-width: 0px 3px 0px 0px;
}
#cntManual_Cell4_Label50 {
		border-color: rgba(105, 105, 105, 1);
}
#cntManual_Cell4_Label50 {
	&:before{
		border-color: rgba(105, 105, 105, 1);
	}
}
#cntManual_Cell4_Label50 {
	&:after{
		border-color: rgba(105, 105, 105, 1);
	}
}
#cntManual_Cell4_Label50 {
		border-style: solid;
}
#cntManual_Cell4_Label50 {
	&:before{
		border-style: solid;
	}
}
#cntManual_Cell4_Label50 {
	&:after{
		border-style: solid;
	}
}
#cntManual_Cell4_Label50 {
	@include text-alignment-all('center');
}
#cntManual_Cell4_Label50 {
	@include font-weight-bold(true);
}
#cntManual_Cell4_Line14 {
		z-index: 3;
}
#cntManual_Cell4_Line14 {
	line{
		stroke: rgba(105, 105, 105, 1);
	}
}
#cntManual_Cell4_Line14 {
	line{
		stroke-width: 2px;
	}
}
#cntManual_Cell4_TextOutput14 {
	@include elemTop(159);
}
#cntManual_Cell4_TextOutput14 {
	@include elemLeft(76);
}
#cntManual_Cell4_TextOutput14 {
	@include elemAutoWidth(294);
}
#cntManual_Cell4_TextOutput14 {
	@include elemAutoHeight(60);
}
#cntManual_Cell4_TextOutput14 {
		z-index: 4;
}
#cntManual_Cell4_Cell4SwMechClampCloseButton {
	@include elemTop(15);
}
#cntManual_Cell4_Cell4SwMechClampCloseButton {
	@include elemLeft(218);
}
#cntManual_Cell4_Cell4SwMechClampCloseButton {
	@include elemAutoWidth(137);
}
#cntManual_Cell4_Cell4SwMechClampCloseButton {
	@include elemAutoHeight(67);
}
#cntManual_Cell4_Cell4SwMechClampCloseButton {
		z-index: 5;
}
#cntManual_Cell4_lbl_Closed28 {
	@include elemAutoHeight(30);
}
#cntManual_Cell4_lbl_Closed28 {
	@include elemTop(115);
}
#cntManual_Cell4_lbl_Closed28 {
	@include elemLeft(218);
}
#cntManual_Cell4_lbl_Closed28 {
	@include elemAutoWidth(135);
}
#cntManual_Cell4_lbl_Closed28 {
		z-index: 6;
}
#cntManual_Cell4_lbl_Closed28 {
	@include text-alignment-all('center');
}
#cntManual_Cell4_GroupBox15 {
	@include elemTop(255);
}
#cntManual_Cell4_GroupBox15 {
	@include elemLeft(750);
}
#cntManual_Cell4_GroupBox15 {
	@include elemWidth(375);
}
#cntManual_Cell4_GroupBox15 {
	@include elemHeight(255);
}
#cntManual_Cell4_GroupBox15 {
		z-index: 5;
}
#cntManual_Cell4_Cell3SwMechLockCylndrOpenButton {
	@include elemTop(12);
}
#cntManual_Cell4_Cell3SwMechLockCylndrOpenButton {
	@include elemLeft(15);
}
#cntManual_Cell4_Cell3SwMechLockCylndrOpenButton {
	@include elemAutoWidth(137);
}
#cntManual_Cell4_Cell3SwMechLockCylndrOpenButton {
	@include elemAutoHeight(67);
}
#cntManual_Cell4_Cell3SwMechLockCylndrOpenButton {
		z-index: 0;
}
#cntManual_Cell4_Cell4SwMechLockCylndrCloseButton {
	@include elemTop(12);
}
#cntManual_Cell4_Cell4SwMechLockCylndrCloseButton {
	@include elemLeft(215);
}
#cntManual_Cell4_Cell4SwMechLockCylndrCloseButton {
	@include elemAutoWidth(137);
}
#cntManual_Cell4_Cell4SwMechLockCylndrCloseButton {
	@include elemAutoHeight(67);
}
#cntManual_Cell4_Cell4SwMechLockCylndrCloseButton {
		z-index: 1;
}
#cntManual_Cell4_Label51 {
	@include elemAutoHeight(30);
}
#cntManual_Cell4_Label51 {
	@include elemTop(112);
}
#cntManual_Cell4_Label51 {
	@include elemLeft(15);
}
#cntManual_Cell4_Label51 {
	@include elemAutoWidth(135);
}
#cntManual_Cell4_Label51 {
		z-index: 2;
}
#cntManual_Cell4_Label51 {
	@include text-alignment-all('center');
}
#cntManual_Cell4_lbl_Closed25 {
	@include elemAutoHeight(30);
}
#cntManual_Cell4_lbl_Closed25 {
	@include elemTop(112);
}
#cntManual_Cell4_lbl_Closed25 {
	@include elemLeft(215);
}
#cntManual_Cell4_lbl_Closed25 {
	@include elemAutoWidth(135);
}
#cntManual_Cell4_lbl_Closed25 {
		z-index: 3;
}
#cntManual_Cell4_lbl_Closed25 {
	@include text-alignment-all('center');
}
#cntManual_Cell4_Label52 {
	@include elemTop(162);
}
#cntManual_Cell4_Label52 {
	@include elemLeft(7);
}
#cntManual_Cell4_Label52 {
	@include elemAutoWidth(75);
}
#cntManual_Cell4_Label52 {
	@include elemAutoHeight(55);
}
#cntManual_Cell4_Label52 {
		z-index: 4;
}
#cntManual_Cell4_Label52 {
		border-width: 0px 3px 0px 0px;
}
#cntManual_Cell4_Label52 {
		border-color: rgba(105, 105, 105, 1);
}
#cntManual_Cell4_Label52 {
	&:before{
		border-color: rgba(105, 105, 105, 1);
	}
}
#cntManual_Cell4_Label52 {
	&:after{
		border-color: rgba(105, 105, 105, 1);
	}
}
#cntManual_Cell4_Label52 {
		border-style: solid;
}
#cntManual_Cell4_Label52 {
	&:before{
		border-style: solid;
	}
}
#cntManual_Cell4_Label52 {
	&:after{
		border-style: solid;
	}
}
#cntManual_Cell4_Label52 {
	@include text-alignment-all('center');
}
#cntManual_Cell4_Label52 {
	@include font-weight-bold(true);
}
#cntManual_Cell4_Line15 {
		z-index: 5;
}
#cntManual_Cell4_Line15 {
	line{
		stroke: rgba(105, 105, 105, 1);
	}
}
#cntManual_Cell4_Line15 {
	line{
		stroke-width: 2px;
	}
}
#cntManual_Cell4_TextOutput15 {
	@include elemTop(159);
}
#cntManual_Cell4_TextOutput15 {
	@include elemLeft(76);
}
#cntManual_Cell4_TextOutput15 {
	@include elemAutoWidth(294);
}
#cntManual_Cell4_TextOutput15 {
	@include elemAutoHeight(60);
}
#cntManual_Cell4_TextOutput15 {
		z-index: 6;
}
#cntManual_Cell4_GroupBox16 {
	@include elemTop(255);
}
#cntManual_Cell4_GroupBox16 {
	@include elemLeft(1125);
}
#cntManual_Cell4_GroupBox16 {
	@include elemWidth(375);
}
#cntManual_Cell4_GroupBox16 {
	@include elemHeight(255);
}
#cntManual_Cell4_GroupBox16 {
		z-index: 6;
}
#cntManual_Cell4_Cell3TableVacuumBlowButton {
	@include elemTop(12);
}
#cntManual_Cell4_Cell3TableVacuumBlowButton {
	@include elemLeft(15);
}
#cntManual_Cell4_Cell3TableVacuumBlowButton {
	@include elemAutoWidth(137);
}
#cntManual_Cell4_Cell3TableVacuumBlowButton {
	@include elemAutoHeight(67);
}
#cntManual_Cell4_Cell3TableVacuumBlowButton {
		z-index: 0;
}
#cntManual_Cell4_Cell4TableVacuumSuctionButton {
	@include elemTop(12);
}
#cntManual_Cell4_Cell4TableVacuumSuctionButton {
	@include elemLeft(215);
}
#cntManual_Cell4_Cell4TableVacuumSuctionButton {
	@include elemAutoWidth(137);
}
#cntManual_Cell4_Cell4TableVacuumSuctionButton {
	@include elemAutoHeight(67);
}
#cntManual_Cell4_Cell4TableVacuumSuctionButton {
		z-index: 1;
}
#cntManual_Cell4_Label53 {
	@include elemAutoHeight(30);
}
#cntManual_Cell4_Label53 {
	@include elemTop(112);
}
#cntManual_Cell4_Label53 {
	@include elemLeft(15);
}
#cntManual_Cell4_Label53 {
	@include elemAutoWidth(135);
}
#cntManual_Cell4_Label53 {
		z-index: 2;
}
#cntManual_Cell4_Label53 {
	@include text-alignment-all('center');
}
#cntManual_Cell4_lbl_Closed26 {
	@include elemAutoHeight(30);
}
#cntManual_Cell4_lbl_Closed26 {
	@include elemTop(112);
}
#cntManual_Cell4_lbl_Closed26 {
	@include elemLeft(215);
}
#cntManual_Cell4_lbl_Closed26 {
	@include elemAutoWidth(135);
}
#cntManual_Cell4_lbl_Closed26 {
		z-index: 3;
}
#cntManual_Cell4_lbl_Closed26 {
	@include text-alignment-all('center');
}
#cntManual_Cell4_Label54 {
	@include elemTop(162);
}
#cntManual_Cell4_Label54 {
	@include elemLeft(7);
}
#cntManual_Cell4_Label54 {
	@include elemAutoWidth(75);
}
#cntManual_Cell4_Label54 {
	@include elemAutoHeight(55);
}
#cntManual_Cell4_Label54 {
		z-index: 4;
}
#cntManual_Cell4_Label54 {
		border-width: 0px 3px 0px 0px;
}
#cntManual_Cell4_Label54 {
		border-color: rgba(105, 105, 105, 1);
}
#cntManual_Cell4_Label54 {
	&:before{
		border-color: rgba(105, 105, 105, 1);
	}
}
#cntManual_Cell4_Label54 {
	&:after{
		border-color: rgba(105, 105, 105, 1);
	}
}
#cntManual_Cell4_Label54 {
		border-style: solid;
}
#cntManual_Cell4_Label54 {
	&:before{
		border-style: solid;
	}
}
#cntManual_Cell4_Label54 {
	&:after{
		border-style: solid;
	}
}
#cntManual_Cell4_Label54 {
	@include text-alignment-all('center');
}
#cntManual_Cell4_Label54 {
	@include font-weight-bold(true);
}
#cntManual_Cell4_Line16 {
		z-index: 5;
}
#cntManual_Cell4_Line16 {
	line{
		stroke: rgba(105, 105, 105, 1);
	}
}
#cntManual_Cell4_Line16 {
	line{
		stroke-width: 2px;
	}
}
#cntManual_Cell4_TextOutput16 {
	@include elemTop(159);
}
#cntManual_Cell4_TextOutput16 {
	@include elemLeft(76);
}
#cntManual_Cell4_TextOutput16 {
	@include elemAutoWidth(294);
}
#cntManual_Cell4_TextOutput16 {
	@include elemAutoHeight(60);
}
#cntManual_Cell4_TextOutput16 {
		z-index: 6;
}
#cntManual_Cell4_GroupBox17 {
	@include elemTop(0);
}
#cntManual_Cell4_GroupBox17 {
	@include elemLeft(1125);
}
#cntManual_Cell4_GroupBox17 {
	@include elemWidth(375);
}
#cntManual_Cell4_GroupBox17 {
	@include elemHeight(255);
}
#cntManual_Cell4_GroupBox17 {
		z-index: 7;
}
#cntManual_Cell4_Cell4TablaCylndrOpenButton {
	@include elemTop(12);
}
#cntManual_Cell4_Cell4TablaCylndrOpenButton {
	@include elemLeft(15);
}
#cntManual_Cell4_Cell4TablaCylndrOpenButton {
	@include elemAutoWidth(137);
}
#cntManual_Cell4_Cell4TablaCylndrOpenButton {
	@include elemAutoHeight(67);
}
#cntManual_Cell4_Cell4TablaCylndrOpenButton {
		z-index: 0;
}
#cntManual_Cell4_Cell4TablaCylndrCloseButton {
	@include elemTop(12);
}
#cntManual_Cell4_Cell4TablaCylndrCloseButton {
	@include elemLeft(215);
}
#cntManual_Cell4_Cell4TablaCylndrCloseButton {
	@include elemAutoWidth(137);
}
#cntManual_Cell4_Cell4TablaCylndrCloseButton {
	@include elemAutoHeight(67);
}
#cntManual_Cell4_Cell4TablaCylndrCloseButton {
		z-index: 1;
}
#cntManual_Cell4_Label55 {
	@include elemAutoHeight(30);
}
#cntManual_Cell4_Label55 {
	@include elemTop(112);
}
#cntManual_Cell4_Label55 {
	@include elemLeft(15);
}
#cntManual_Cell4_Label55 {
	@include elemAutoWidth(135);
}
#cntManual_Cell4_Label55 {
		z-index: 2;
}
#cntManual_Cell4_Label55 {
	@include text-alignment-all('center');
}
#cntManual_Cell4_lbl_Closed27 {
	@include elemAutoHeight(30);
}
#cntManual_Cell4_lbl_Closed27 {
	@include elemTop(112);
}
#cntManual_Cell4_lbl_Closed27 {
	@include elemLeft(215);
}
#cntManual_Cell4_lbl_Closed27 {
	@include elemAutoWidth(135);
}
#cntManual_Cell4_lbl_Closed27 {
		z-index: 3;
}
#cntManual_Cell4_lbl_Closed27 {
	@include text-alignment-all('center');
}
#cntManual_Cell4_Label56 {
	@include elemTop(162);
}
#cntManual_Cell4_Label56 {
	@include elemLeft(7);
}
#cntManual_Cell4_Label56 {
	@include elemAutoWidth(75);
}
#cntManual_Cell4_Label56 {
	@include elemAutoHeight(55);
}
#cntManual_Cell4_Label56 {
		z-index: 4;
}
#cntManual_Cell4_Label56 {
		border-width: 0px 3px 0px 0px;
}
#cntManual_Cell4_Label56 {
		border-color: rgba(105, 105, 105, 1);
}
#cntManual_Cell4_Label56 {
	&:before{
		border-color: rgba(105, 105, 105, 1);
	}
}
#cntManual_Cell4_Label56 {
	&:after{
		border-color: rgba(105, 105, 105, 1);
	}
}
#cntManual_Cell4_Label56 {
		border-style: solid;
}
#cntManual_Cell4_Label56 {
	&:before{
		border-style: solid;
	}
}
#cntManual_Cell4_Label56 {
	&:after{
		border-style: solid;
	}
}
#cntManual_Cell4_Label56 {
	@include text-alignment-all('center');
}
#cntManual_Cell4_Label56 {
	@include font-weight-bold(true);
}
#cntManual_Cell4_Line17 {
		z-index: 5;
}
#cntManual_Cell4_Line17 {
	line{
		stroke: rgba(105, 105, 105, 1);
	}
}
#cntManual_Cell4_Line17 {
	line{
		stroke-width: 2px;
	}
}
#cntManual_Cell4_TextOutput17 {
	@include elemTop(159);
}
#cntManual_Cell4_TextOutput17 {
	@include elemLeft(76);
}
#cntManual_Cell4_TextOutput17 {
	@include elemAutoWidth(294);
}
#cntManual_Cell4_TextOutput17 {
	@include elemAutoHeight(60);
}
#cntManual_Cell4_TextOutput17 {
		z-index: 6;
}
#cntManual_Cell4_GroupBox9 {
	@include elemTop(0);
}
#cntManual_Cell4_GroupBox9 {
	@include elemLeft(1500);
}
#cntManual_Cell4_GroupBox9 {
	@include elemWidth(369);
}
#cntManual_Cell4_GroupBox9 {
	@include elemHeight(255);
}
#cntManual_Cell4_GroupBox9 {
		z-index: 8;
}
#cntManual_Cell4_Cell4VacuumBlowButton {
	@include elemTop(12);
}
#cntManual_Cell4_Cell4VacuumBlowButton {
	@include elemLeft(15);
}
#cntManual_Cell4_Cell4VacuumBlowButton {
	@include elemAutoWidth(137);
}
#cntManual_Cell4_Cell4VacuumBlowButton {
	@include elemAutoHeight(67);
}
#cntManual_Cell4_Cell4VacuumBlowButton {
		z-index: 0;
}
#cntManual_Cell4_Cell4VacuumSuctionButton {
	@include elemTop(12);
}
#cntManual_Cell4_Cell4VacuumSuctionButton {
	@include elemLeft(215);
}
#cntManual_Cell4_Cell4VacuumSuctionButton {
	@include elemAutoWidth(137);
}
#cntManual_Cell4_Cell4VacuumSuctionButton {
	@include elemAutoHeight(67);
}
#cntManual_Cell4_Cell4VacuumSuctionButton {
		z-index: 1;
}
#cntManual_Cell4_Label39 {
	@include elemAutoHeight(30);
}
#cntManual_Cell4_Label39 {
	@include elemTop(112);
}
#cntManual_Cell4_Label39 {
	@include elemLeft(15);
}
#cntManual_Cell4_Label39 {
	@include elemAutoWidth(135);
}
#cntManual_Cell4_Label39 {
		z-index: 2;
}
#cntManual_Cell4_Label39 {
	@include text-alignment-all('center');
}
#cntManual_Cell4_lbl_Closed19 {
	@include elemAutoHeight(30);
}
#cntManual_Cell4_lbl_Closed19 {
	@include elemTop(112);
}
#cntManual_Cell4_lbl_Closed19 {
	@include elemLeft(215);
}
#cntManual_Cell4_lbl_Closed19 {
	@include elemAutoWidth(135);
}
#cntManual_Cell4_lbl_Closed19 {
		z-index: 3;
}
#cntManual_Cell4_lbl_Closed19 {
	@include text-alignment-all('center');
}
#cntManual_Cell4_Label40 {
	@include elemTop(162);
}
#cntManual_Cell4_Label40 {
	@include elemLeft(7);
}
#cntManual_Cell4_Label40 {
	@include elemAutoWidth(75);
}
#cntManual_Cell4_Label40 {
	@include elemAutoHeight(55);
}
#cntManual_Cell4_Label40 {
		z-index: 4;
}
#cntManual_Cell4_Label40 {
		border-width: 0px 3px 0px 0px;
}
#cntManual_Cell4_Label40 {
		border-color: rgba(105, 105, 105, 1);
}
#cntManual_Cell4_Label40 {
	&:before{
		border-color: rgba(105, 105, 105, 1);
	}
}
#cntManual_Cell4_Label40 {
	&:after{
		border-color: rgba(105, 105, 105, 1);
	}
}
#cntManual_Cell4_Label40 {
		border-style: solid;
}
#cntManual_Cell4_Label40 {
	&:before{
		border-style: solid;
	}
}
#cntManual_Cell4_Label40 {
	&:after{
		border-style: solid;
	}
}
#cntManual_Cell4_Label40 {
	@include text-alignment-all('center');
}
#cntManual_Cell4_Label40 {
	@include font-weight-bold(true);
}
#cntManual_Cell4_Line9 {
		z-index: 5;
}
#cntManual_Cell4_Line9 {
	line{
		stroke: rgba(105, 105, 105, 1);
	}
}
#cntManual_Cell4_Line9 {
	line{
		stroke-width: 2px;
	}
}
#cntManual_Cell4_TextOutput9 {
	@include elemTop(159);
}
#cntManual_Cell4_TextOutput9 {
	@include elemLeft(76);
}
#cntManual_Cell4_TextOutput9 {
	@include elemAutoWidth(284);
}
#cntManual_Cell4_TextOutput9 {
	@include elemAutoHeight(60);
}
#cntManual_Cell4_TextOutput9 {
		z-index: 6;
}
#cntManual_Cell4_GridLineItem2 {
		z-index: 1;
}
#cntManual_Cell4_GroupBox19 {
	@include elemTop(0);
}
#cntManual_Cell4_GroupBox19 {
	@include elemLeft(0);
}
#cntManual_Cell4_GroupBox19 {
	@include elemWidth(375);
}
#cntManual_Cell4_GroupBox19 {
	@include elemHeight(255);
}
#cntManual_Cell4_GroupBox19 {
		z-index: 0;
}
#cntManual_Cell4_Cell4CamLightTopButton {
	@include elemTop(12);
}
#cntManual_Cell4_Cell4CamLightTopButton {
	@include elemLeft(115);
}
#cntManual_Cell4_Cell4CamLightTopButton {
	@include elemAutoWidth(137);
}
#cntManual_Cell4_Cell4CamLightTopButton {
	@include elemAutoHeight(67);
}
#cntManual_Cell4_Cell4CamLightTopButton {
		z-index: 0;
}
#cntManual_Cell4_Label59 {
	@include elemAutoHeight(30);
}
#cntManual_Cell4_Label59 {
	@include elemTop(112);
}
#cntManual_Cell4_Label59 {
	@include elemLeft(115);
}
#cntManual_Cell4_Label59 {
	@include elemAutoWidth(135);
}
#cntManual_Cell4_Label59 {
		z-index: 1;
}
#cntManual_Cell4_Label59 {
	@include text-alignment-all('center');
}
#cntManual_Cell4_Label60 {
	@include elemTop(162);
}
#cntManual_Cell4_Label60 {
	@include elemLeft(7);
}
#cntManual_Cell4_Label60 {
	@include elemAutoWidth(75);
}
#cntManual_Cell4_Label60 {
	@include elemAutoHeight(55);
}
#cntManual_Cell4_Label60 {
		z-index: 2;
}
#cntManual_Cell4_Label60 {
		border-width: 0px 3px 0px 0px;
}
#cntManual_Cell4_Label60 {
		border-color: rgba(105, 105, 105, 1);
}
#cntManual_Cell4_Label60 {
	&:before{
		border-color: rgba(105, 105, 105, 1);
	}
}
#cntManual_Cell4_Label60 {
	&:after{
		border-color: rgba(105, 105, 105, 1);
	}
}
#cntManual_Cell4_Label60 {
		border-style: solid;
}
#cntManual_Cell4_Label60 {
	&:before{
		border-style: solid;
	}
}
#cntManual_Cell4_Label60 {
	&:after{
		border-style: solid;
	}
}
#cntManual_Cell4_Label60 {
	@include text-alignment-all('center');
}
#cntManual_Cell4_Label60 {
	@include font-weight-bold(true);
}
#cntManual_Cell4_Line19 {
		z-index: 3;
}
#cntManual_Cell4_Line19 {
	line{
		stroke: rgba(105, 105, 105, 1);
	}
}
#cntManual_Cell4_Line19 {
	line{
		stroke-width: 2px;
	}
}
#cntManual_Cell4_TextOutput19 {
	@include elemTop(159);
}
#cntManual_Cell4_TextOutput19 {
	@include elemLeft(76);
}
#cntManual_Cell4_TextOutput19 {
	@include elemAutoWidth(294);
}
#cntManual_Cell4_TextOutput19 {
	@include elemAutoHeight(60);
}
#cntManual_Cell4_TextOutput19 {
		z-index: 4;
}
#cntManual_Cell4_GroupBox20 {
	@include elemTop(255);
}
#cntManual_Cell4_GroupBox20 {
	@include elemLeft(0);
}
#cntManual_Cell4_GroupBox20 {
	@include elemWidth(375);
}
#cntManual_Cell4_GroupBox20 {
	@include elemHeight(255);
}
#cntManual_Cell4_GroupBox20 {
		z-index: 1;
}
#cntManual_Cell4_Cell4CamLightBottonButton {
	@include elemTop(12);
}
#cntManual_Cell4_Cell4CamLightBottonButton {
	@include elemLeft(115);
}
#cntManual_Cell4_Cell4CamLightBottonButton {
	@include elemAutoWidth(137);
}
#cntManual_Cell4_Cell4CamLightBottonButton {
	@include elemAutoHeight(67);
}
#cntManual_Cell4_Cell4CamLightBottonButton {
		z-index: 0;
}
#cntManual_Cell4_Label61 {
	@include elemAutoHeight(30);
}
#cntManual_Cell4_Label61 {
	@include elemTop(112);
}
#cntManual_Cell4_Label61 {
	@include elemLeft(115);
}
#cntManual_Cell4_Label61 {
	@include elemAutoWidth(135);
}
#cntManual_Cell4_Label61 {
		z-index: 1;
}
#cntManual_Cell4_Label61 {
	@include text-alignment-all('center');
}
#cntManual_Cell4_Label62 {
	@include elemTop(162);
}
#cntManual_Cell4_Label62 {
	@include elemLeft(7);
}
#cntManual_Cell4_Label62 {
	@include elemAutoWidth(75);
}
#cntManual_Cell4_Label62 {
	@include elemAutoHeight(55);
}
#cntManual_Cell4_Label62 {
		z-index: 2;
}
#cntManual_Cell4_Label62 {
		border-width: 0px 3px 0px 0px;
}
#cntManual_Cell4_Label62 {
		border-color: rgba(105, 105, 105, 1);
}
#cntManual_Cell4_Label62 {
	&:before{
		border-color: rgba(105, 105, 105, 1);
	}
}
#cntManual_Cell4_Label62 {
	&:after{
		border-color: rgba(105, 105, 105, 1);
	}
}
#cntManual_Cell4_Label62 {
		border-style: solid;
}
#cntManual_Cell4_Label62 {
	&:before{
		border-style: solid;
	}
}
#cntManual_Cell4_Label62 {
	&:after{
		border-style: solid;
	}
}
#cntManual_Cell4_Label62 {
	@include text-alignment-all('center');
}
#cntManual_Cell4_Label62 {
	@include font-weight-bold(true);
}
#cntManual_Cell4_Line20 {
		z-index: 3;
}
#cntManual_Cell4_Line20 {
	line{
		stroke: rgba(105, 105, 105, 1);
	}
}
#cntManual_Cell4_Line20 {
	line{
		stroke-width: 2px;
	}
}
#cntManual_Cell4_TextOutput20 {
	@include elemTop(159);
}
#cntManual_Cell4_TextOutput20 {
	@include elemLeft(76);
}
#cntManual_Cell4_TextOutput20 {
	@include elemAutoWidth(294);
}
#cntManual_Cell4_TextOutput20 {
	@include elemAutoHeight(60);
}
#cntManual_Cell4_TextOutput20 {
		z-index: 4;
}
