#cntRobotInputsCell_4_GridLine1 {
  top: 0px;
  position: absolute;
}

#cntRobotInputsCell_4_GridLine1 {
  left: 0px;
  position: absolute;
}

#cntRobotInputsCell_4_GridLine1 {
  width: 300px;
}

#cntRobotInputsCell_4_GridLine1 {
  height: 540px;
}

#cntRobotInputsCell_4_GridLine1 {
  z-index: 0;
}

#cntRobotInputsCell_4_GridLine1 .container {
  padding: 5px 0px;
}

#cntRobotInputsCell_4_GridLineItem1 {
  z-index: 0;
}

#cntRobotInputsCell_4_GridLineItem1 {
  padding: 0px 10px 10px 10px;
}

#cntRobotInputsCell_4_ImageList1 {
  top: 92px;
  position: absolute;
}

#cntRobotInputsCell_4_ImageList1 {
  left: 11px;
  position: absolute;
}

#cntRobotInputsCell_4_ImageList1 {
  width: 20px;
}

#cntRobotInputsCell_4_ImageList1 {
  height: 20px;
}

#cntRobotInputsCell_4_ImageList1 {
  z-index: 0;
}

#cntRobotInputsCell_4_ImageList2 {
  top: 122px;
  position: absolute;
}

#cntRobotInputsCell_4_ImageList2 {
  left: 11px;
  position: absolute;
}

#cntRobotInputsCell_4_ImageList2 {
  width: 20px;
}

#cntRobotInputsCell_4_ImageList2 {
  height: 20px;
}

#cntRobotInputsCell_4_ImageList2 {
  z-index: 1;
}

#cntRobotInputsCell_4_ImageList3 {
  top: 152px;
  position: absolute;
}

#cntRobotInputsCell_4_ImageList3 {
  left: 11px;
  position: absolute;
}

#cntRobotInputsCell_4_ImageList3 {
  width: 20px;
}

#cntRobotInputsCell_4_ImageList3 {
  height: 20px;
}

#cntRobotInputsCell_4_ImageList3 {
  z-index: 2;
}

#cntRobotInputsCell_4_ImageList4 {
  top: 182px;
  position: absolute;
}

#cntRobotInputsCell_4_ImageList4 {
  left: 11px;
  position: absolute;
}

#cntRobotInputsCell_4_ImageList4 {
  width: 20px;
}

#cntRobotInputsCell_4_ImageList4 {
  height: 20px;
}

#cntRobotInputsCell_4_ImageList4 {
  z-index: 3;
}

#cntRobotInputsCell_4_ImageList5 {
  top: 212px;
  position: absolute;
}

#cntRobotInputsCell_4_ImageList5 {
  left: 11px;
  position: absolute;
}

#cntRobotInputsCell_4_ImageList5 {
  width: 20px;
}

#cntRobotInputsCell_4_ImageList5 {
  height: 20px;
}

#cntRobotInputsCell_4_ImageList5 {
  z-index: 4;
}

#cntRobotInputsCell_4_ImageList6 {
  top: 242px;
  position: absolute;
}

#cntRobotInputsCell_4_ImageList6 {
  left: 11px;
  position: absolute;
}

#cntRobotInputsCell_4_ImageList6 {
  width: 20px;
}

#cntRobotInputsCell_4_ImageList6 {
  height: 20px;
}

#cntRobotInputsCell_4_ImageList6 {
  z-index: 5;
}

#cntRobotInputsCell_4_ImageList7 {
  top: 272px;
  position: absolute;
}

#cntRobotInputsCell_4_ImageList7 {
  left: 11px;
  position: absolute;
}

#cntRobotInputsCell_4_ImageList7 {
  width: 20px;
}

#cntRobotInputsCell_4_ImageList7 {
  height: 20px;
}

#cntRobotInputsCell_4_ImageList7 {
  z-index: 6;
}

#cntRobotInputsCell_4_ImageList8 {
  top: 302px;
  position: absolute;
}

#cntRobotInputsCell_4_ImageList8 {
  left: 11px;
  position: absolute;
}

#cntRobotInputsCell_4_ImageList8 {
  width: 20px;
}

#cntRobotInputsCell_4_ImageList8 {
  height: 20px;
}

#cntRobotInputsCell_4_ImageList8 {
  z-index: 7;
}

#cntRobotInputsCell_4_ImageList9 {
  top: 332px;
  position: absolute;
}

#cntRobotInputsCell_4_ImageList9 {
  left: 11px;
  position: absolute;
}

#cntRobotInputsCell_4_ImageList9 {
  width: 20px;
}

#cntRobotInputsCell_4_ImageList9 {
  height: 20px;
}

#cntRobotInputsCell_4_ImageList9 {
  z-index: 8;
}

#cntRobotInputsCell_4_ImageList10 {
  top: 362px;
  position: absolute;
}

#cntRobotInputsCell_4_ImageList10 {
  left: 11px;
  position: absolute;
}

#cntRobotInputsCell_4_ImageList10 {
  width: 20px;
}

#cntRobotInputsCell_4_ImageList10 {
  height: 20px;
}

#cntRobotInputsCell_4_ImageList10 {
  z-index: 9;
}

#cntRobotInputsCell_4_ImageList11 {
  top: 392px;
  position: absolute;
}

#cntRobotInputsCell_4_ImageList11 {
  left: 11px;
  position: absolute;
}

#cntRobotInputsCell_4_ImageList11 {
  width: 20px;
}

#cntRobotInputsCell_4_ImageList11 {
  height: 20px;
}

#cntRobotInputsCell_4_ImageList11 {
  z-index: 10;
}

#cntRobotInputsCell_4_ImageList12 {
  top: 422px;
  position: absolute;
}

#cntRobotInputsCell_4_ImageList12 {
  left: 11px;
  position: absolute;
}

#cntRobotInputsCell_4_ImageList12 {
  width: 20px;
}

#cntRobotInputsCell_4_ImageList12 {
  height: 20px;
}

#cntRobotInputsCell_4_ImageList12 {
  z-index: 11;
}

#cntRobotInputsCell_4_ImageList13 {
  top: 452px;
  position: absolute;
}

#cntRobotInputsCell_4_ImageList13 {
  left: 11px;
  position: absolute;
}

#cntRobotInputsCell_4_ImageList13 {
  width: 20px;
}

#cntRobotInputsCell_4_ImageList13 {
  height: 20px;
}

#cntRobotInputsCell_4_ImageList13 {
  z-index: 12;
}

#cntRobotInputsCell_4_ImageList14 {
  top: 482px;
  position: absolute;
}

#cntRobotInputsCell_4_ImageList14 {
  left: 11px;
  position: absolute;
}

#cntRobotInputsCell_4_ImageList14 {
  width: 20px;
}

#cntRobotInputsCell_4_ImageList14 {
  height: 20px;
}

#cntRobotInputsCell_4_ImageList14 {
  z-index: 13;
}

#cntRobotInputsCell_4_ImageList47 {
  top: 62px;
  position: absolute;
}

#cntRobotInputsCell_4_ImageList47 {
  left: 11px;
  position: absolute;
}

#cntRobotInputsCell_4_ImageList47 {
  width: 20px;
}

#cntRobotInputsCell_4_ImageList47 {
  height: 20px;
}

#cntRobotInputsCell_4_ImageList47 {
  z-index: 14;
}

#cntRobotInputsCell_4_ImageList48 {
  top: 32px;
  position: absolute;
}

#cntRobotInputsCell_4_ImageList48 {
  left: 11px;
  position: absolute;
}

#cntRobotInputsCell_4_ImageList48 {
  width: 20px;
}

#cntRobotInputsCell_4_ImageList48 {
  height: 20px;
}

#cntRobotInputsCell_4_ImageList48 {
  z-index: 15;
}

#cntRobotInputsCell_4_Label2 {
  top: 5px;
  position: absolute;
}

#cntRobotInputsCell_4_Label2 {
  left: 51px;
  position: absolute;
}

#cntRobotInputsCell_4_Label2 {
  width: 190px;
}

#cntRobotInputsCell_4_Label2 {
  height: 20px;
}

#cntRobotInputsCell_4_Label2 {
  z-index: 16;
}

#cntRobotInputsCell_4_Label2 span {
  color: dimgray;
}

#cntRobotInputsCell_4_Label2 {
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntRobotInputsCell_4_Label2 {
  font-size: 18px;
}

#cntRobotInputsCell_4_Label2 span {
  text-decoration: underline;
}

#cntRobotInputsCell_4_Label_do33 {
  top: 32px;
  position: absolute;
}

#cntRobotInputsCell_4_Label_do33 {
  left: 46px;
  position: absolute;
}

#cntRobotInputsCell_4_Label_do33 {
  width: 220px;
}

#cntRobotInputsCell_4_Label_do33 {
  height: 20px;
}

#cntRobotInputsCell_4_Label_do33 {
  z-index: 17;
}

#cntRobotInputsCell_4_Label_do34 {
  top: 62px;
  position: absolute;
}

#cntRobotInputsCell_4_Label_do34 {
  left: 46px;
  position: absolute;
}

#cntRobotInputsCell_4_Label_do34 {
  width: 220px;
}

#cntRobotInputsCell_4_Label_do34 {
  height: 20px;
}

#cntRobotInputsCell_4_Label_do34 {
  z-index: 18;
}

#cntRobotInputsCell_4_Label_do35 {
  top: 92px;
  position: absolute;
}

#cntRobotInputsCell_4_Label_do35 {
  left: 46px;
  position: absolute;
}

#cntRobotInputsCell_4_Label_do35 {
  width: 220px;
}

#cntRobotInputsCell_4_Label_do35 {
  height: 20px;
}

#cntRobotInputsCell_4_Label_do35 {
  z-index: 19;
}

#cntRobotInputsCell_4_Label_do36 {
  top: 122px;
  position: absolute;
}

#cntRobotInputsCell_4_Label_do36 {
  left: 46px;
  position: absolute;
}

#cntRobotInputsCell_4_Label_do36 {
  width: 220px;
}

#cntRobotInputsCell_4_Label_do36 {
  height: 20px;
}

#cntRobotInputsCell_4_Label_do36 {
  z-index: 20;
}

#cntRobotInputsCell_4_Label_do37 {
  top: 152px;
  position: absolute;
}

#cntRobotInputsCell_4_Label_do37 {
  left: 46px;
  position: absolute;
}

#cntRobotInputsCell_4_Label_do37 {
  width: 220px;
}

#cntRobotInputsCell_4_Label_do37 {
  height: 20px;
}

#cntRobotInputsCell_4_Label_do37 {
  z-index: 21;
}

#cntRobotInputsCell_4_Label_do38 {
  top: 182px;
  position: absolute;
}

#cntRobotInputsCell_4_Label_do38 {
  left: 46px;
  position: absolute;
}

#cntRobotInputsCell_4_Label_do38 {
  width: 220px;
}

#cntRobotInputsCell_4_Label_do38 {
  height: 20px;
}

#cntRobotInputsCell_4_Label_do38 {
  z-index: 22;
}

#cntRobotInputsCell_4_Label_do39 {
  top: 212px;
  position: absolute;
}

#cntRobotInputsCell_4_Label_do39 {
  left: 46px;
  position: absolute;
}

#cntRobotInputsCell_4_Label_do39 {
  width: 220px;
}

#cntRobotInputsCell_4_Label_do39 {
  height: 20px;
}

#cntRobotInputsCell_4_Label_do39 {
  z-index: 23;
}

#cntRobotInputsCell_4_Label_do40 {
  top: 242px;
  position: absolute;
}

#cntRobotInputsCell_4_Label_do40 {
  left: 46px;
  position: absolute;
}

#cntRobotInputsCell_4_Label_do40 {
  width: 220px;
}

#cntRobotInputsCell_4_Label_do40 {
  height: 20px;
}

#cntRobotInputsCell_4_Label_do40 {
  z-index: 24;
}

#cntRobotInputsCell_4_Label_do41 {
  top: 272px;
  position: absolute;
}

#cntRobotInputsCell_4_Label_do41 {
  left: 46px;
  position: absolute;
}

#cntRobotInputsCell_4_Label_do41 {
  width: 220px;
}

#cntRobotInputsCell_4_Label_do41 {
  height: 20px;
}

#cntRobotInputsCell_4_Label_do41 {
  z-index: 25;
}

#cntRobotInputsCell_4_Label_do42 {
  top: 302px;
  position: absolute;
}

#cntRobotInputsCell_4_Label_do42 {
  left: 46px;
  position: absolute;
}

#cntRobotInputsCell_4_Label_do42 {
  width: 220px;
}

#cntRobotInputsCell_4_Label_do42 {
  height: 20px;
}

#cntRobotInputsCell_4_Label_do42 {
  z-index: 26;
}

#cntRobotInputsCell_4_Label_do43 {
  top: 332px;
  position: absolute;
}

#cntRobotInputsCell_4_Label_do43 {
  left: 46px;
  position: absolute;
}

#cntRobotInputsCell_4_Label_do43 {
  width: 220px;
}

#cntRobotInputsCell_4_Label_do43 {
  height: 20px;
}

#cntRobotInputsCell_4_Label_do43 {
  z-index: 27;
}

#cntRobotInputsCell_4_Label_do44 {
  top: 362px;
  position: absolute;
}

#cntRobotInputsCell_4_Label_do44 {
  left: 46px;
  position: absolute;
}

#cntRobotInputsCell_4_Label_do44 {
  width: 220px;
}

#cntRobotInputsCell_4_Label_do44 {
  height: 20px;
}

#cntRobotInputsCell_4_Label_do44 {
  z-index: 28;
}

#cntRobotInputsCell_4_Label_do45 {
  top: 392px;
  position: absolute;
}

#cntRobotInputsCell_4_Label_do45 {
  left: 46px;
  position: absolute;
}

#cntRobotInputsCell_4_Label_do45 {
  width: 220px;
}

#cntRobotInputsCell_4_Label_do45 {
  height: 20px;
}

#cntRobotInputsCell_4_Label_do45 {
  z-index: 29;
}

#cntRobotInputsCell_4_Label_do46 {
  top: 422px;
  position: absolute;
}

#cntRobotInputsCell_4_Label_do46 {
  left: 46px;
  position: absolute;
}

#cntRobotInputsCell_4_Label_do46 {
  width: 220px;
}

#cntRobotInputsCell_4_Label_do46 {
  height: 20px;
}

#cntRobotInputsCell_4_Label_do46 {
  z-index: 30;
}

#cntRobotInputsCell_4_Label_do47 {
  top: 452px;
  position: absolute;
}

#cntRobotInputsCell_4_Label_do47 {
  left: 46px;
  position: absolute;
}

#cntRobotInputsCell_4_Label_do47 {
  width: 220px;
}

#cntRobotInputsCell_4_Label_do47 {
  height: 20px;
}

#cntRobotInputsCell_4_Label_do47 {
  z-index: 31;
}

#cntRobotInputsCell_4_Label_do48 {
  top: 482px;
  position: absolute;
}

#cntRobotInputsCell_4_Label_do48 {
  left: 46px;
  position: absolute;
}

#cntRobotInputsCell_4_Label_do48 {
  width: 220px;
}

#cntRobotInputsCell_4_Label_do48 {
  height: 20px;
}

#cntRobotInputsCell_4_Label_do48 {
  z-index: 32;
}

#cntRobotInputsCell_4_GridLineItem2 {
  z-index: 1;
}

#cntRobotInputsCell_4_GridLineItem2 {
  padding: 0px 10px 10px 10px;
}

#cntRobotInputsCell_4_ImageList15 {
  top: 92px;
  position: absolute;
}

#cntRobotInputsCell_4_ImageList15 {
  left: 5px;
  position: absolute;
}

#cntRobotInputsCell_4_ImageList15 {
  width: 20px;
}

#cntRobotInputsCell_4_ImageList15 {
  height: 20px;
}

#cntRobotInputsCell_4_ImageList15 {
  z-index: 0;
}

#cntRobotInputsCell_4_ImageList16 {
  top: 122px;
  position: absolute;
}

#cntRobotInputsCell_4_ImageList16 {
  left: 5px;
  position: absolute;
}

#cntRobotInputsCell_4_ImageList16 {
  width: 20px;
}

#cntRobotInputsCell_4_ImageList16 {
  height: 20px;
}

#cntRobotInputsCell_4_ImageList16 {
  z-index: 1;
}

#cntRobotInputsCell_4_ImageList17 {
  top: 152px;
  position: absolute;
}

#cntRobotInputsCell_4_ImageList17 {
  left: 5px;
  position: absolute;
}

#cntRobotInputsCell_4_ImageList17 {
  width: 20px;
}

#cntRobotInputsCell_4_ImageList17 {
  height: 20px;
}

#cntRobotInputsCell_4_ImageList17 {
  z-index: 2;
}

#cntRobotInputsCell_4_ImageList18 {
  top: 182px;
  position: absolute;
}

#cntRobotInputsCell_4_ImageList18 {
  left: 5px;
  position: absolute;
}

#cntRobotInputsCell_4_ImageList18 {
  width: 20px;
}

#cntRobotInputsCell_4_ImageList18 {
  height: 20px;
}

#cntRobotInputsCell_4_ImageList18 {
  z-index: 3;
}

#cntRobotInputsCell_4_ImageList19 {
  top: 212px;
  position: absolute;
}

#cntRobotInputsCell_4_ImageList19 {
  left: 5px;
  position: absolute;
}

#cntRobotInputsCell_4_ImageList19 {
  width: 20px;
}

#cntRobotInputsCell_4_ImageList19 {
  height: 20px;
}

#cntRobotInputsCell_4_ImageList19 {
  z-index: 4;
}

#cntRobotInputsCell_4_ImageList20 {
  top: 242px;
  position: absolute;
}

#cntRobotInputsCell_4_ImageList20 {
  left: 5px;
  position: absolute;
}

#cntRobotInputsCell_4_ImageList20 {
  width: 20px;
}

#cntRobotInputsCell_4_ImageList20 {
  height: 20px;
}

#cntRobotInputsCell_4_ImageList20 {
  z-index: 5;
}

#cntRobotInputsCell_4_ImageList21 {
  top: 272px;
  position: absolute;
}

#cntRobotInputsCell_4_ImageList21 {
  left: 5px;
  position: absolute;
}

#cntRobotInputsCell_4_ImageList21 {
  width: 20px;
}

#cntRobotInputsCell_4_ImageList21 {
  height: 20px;
}

#cntRobotInputsCell_4_ImageList21 {
  z-index: 6;
}

#cntRobotInputsCell_4_ImageList22 {
  top: 302px;
  position: absolute;
}

#cntRobotInputsCell_4_ImageList22 {
  left: 5px;
  position: absolute;
}

#cntRobotInputsCell_4_ImageList22 {
  width: 20px;
}

#cntRobotInputsCell_4_ImageList22 {
  height: 20px;
}

#cntRobotInputsCell_4_ImageList22 {
  z-index: 7;
}

#cntRobotInputsCell_4_ImageList23 {
  top: 332px;
  position: absolute;
}

#cntRobotInputsCell_4_ImageList23 {
  left: 5px;
  position: absolute;
}

#cntRobotInputsCell_4_ImageList23 {
  width: 20px;
}

#cntRobotInputsCell_4_ImageList23 {
  height: 20px;
}

#cntRobotInputsCell_4_ImageList23 {
  z-index: 8;
}

#cntRobotInputsCell_4_ImageList24 {
  top: 362px;
  position: absolute;
}

#cntRobotInputsCell_4_ImageList24 {
  left: 5px;
  position: absolute;
}

#cntRobotInputsCell_4_ImageList24 {
  width: 20px;
}

#cntRobotInputsCell_4_ImageList24 {
  height: 20px;
}

#cntRobotInputsCell_4_ImageList24 {
  z-index: 9;
}

#cntRobotInputsCell_4_ImageList25 {
  top: 392px;
  position: absolute;
}

#cntRobotInputsCell_4_ImageList25 {
  left: 5px;
  position: absolute;
}

#cntRobotInputsCell_4_ImageList25 {
  width: 20px;
}

#cntRobotInputsCell_4_ImageList25 {
  height: 20px;
}

#cntRobotInputsCell_4_ImageList25 {
  z-index: 10;
}

#cntRobotInputsCell_4_ImageList26 {
  top: 422px;
  position: absolute;
}

#cntRobotInputsCell_4_ImageList26 {
  left: 5px;
  position: absolute;
}

#cntRobotInputsCell_4_ImageList26 {
  width: 20px;
}

#cntRobotInputsCell_4_ImageList26 {
  height: 20px;
}

#cntRobotInputsCell_4_ImageList26 {
  z-index: 11;
}

#cntRobotInputsCell_4_ImageList27 {
  top: 452px;
  position: absolute;
}

#cntRobotInputsCell_4_ImageList27 {
  left: 5px;
  position: absolute;
}

#cntRobotInputsCell_4_ImageList27 {
  width: 20px;
}

#cntRobotInputsCell_4_ImageList27 {
  height: 20px;
}

#cntRobotInputsCell_4_ImageList27 {
  z-index: 12;
}

#cntRobotInputsCell_4_ImageList28 {
  top: 482px;
  position: absolute;
}

#cntRobotInputsCell_4_ImageList28 {
  left: 5px;
  position: absolute;
}

#cntRobotInputsCell_4_ImageList28 {
  width: 20px;
}

#cntRobotInputsCell_4_ImageList28 {
  height: 20px;
}

#cntRobotInputsCell_4_ImageList28 {
  z-index: 13;
}

#cntRobotInputsCell_4_ImageList49 {
  top: 62px;
  position: absolute;
}

#cntRobotInputsCell_4_ImageList49 {
  left: 5px;
  position: absolute;
}

#cntRobotInputsCell_4_ImageList49 {
  width: 20px;
}

#cntRobotInputsCell_4_ImageList49 {
  height: 20px;
}

#cntRobotInputsCell_4_ImageList49 {
  z-index: 14;
}

#cntRobotInputsCell_4_ImageList50 {
  top: 32px;
  position: absolute;
}

#cntRobotInputsCell_4_ImageList50 {
  left: 5px;
  position: absolute;
}

#cntRobotInputsCell_4_ImageList50 {
  width: 20px;
}

#cntRobotInputsCell_4_ImageList50 {
  height: 20px;
}

#cntRobotInputsCell_4_ImageList50 {
  z-index: 15;
}

#cntRobotInputsCell_4_Label3 {
  top: 5px;
  position: absolute;
}

#cntRobotInputsCell_4_Label3 {
  left: 51px;
  position: absolute;
}

#cntRobotInputsCell_4_Label3 {
  width: 190px;
}

#cntRobotInputsCell_4_Label3 {
  height: 20px;
}

#cntRobotInputsCell_4_Label3 {
  z-index: 16;
}

#cntRobotInputsCell_4_Label3 span {
  color: dimgray;
}

#cntRobotInputsCell_4_Label3 {
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntRobotInputsCell_4_Label3 {
  font-size: 18px;
}

#cntRobotInputsCell_4_Label3 span {
  text-decoration: underline;
}

#cntRobotInputsCell_4_Label_do49 {
  top: 32px;
  position: absolute;
}

#cntRobotInputsCell_4_Label_do49 {
  left: 35px;
  position: absolute;
}

#cntRobotInputsCell_4_Label_do49 {
  width: 245px;
}

#cntRobotInputsCell_4_Label_do49 {
  height: 20px;
}

#cntRobotInputsCell_4_Label_do49 {
  z-index: 17;
}

#cntRobotInputsCell_4_Label_do50 {
  top: 62px;
  position: absolute;
}

#cntRobotInputsCell_4_Label_do50 {
  left: 35px;
  position: absolute;
}

#cntRobotInputsCell_4_Label_do50 {
  width: 245px;
}

#cntRobotInputsCell_4_Label_do50 {
  height: 20px;
}

#cntRobotInputsCell_4_Label_do50 {
  z-index: 18;
}

#cntRobotInputsCell_4_Label_do51 {
  top: 92px;
  position: absolute;
}

#cntRobotInputsCell_4_Label_do51 {
  left: 35px;
  position: absolute;
}

#cntRobotInputsCell_4_Label_do51 {
  width: 245px;
}

#cntRobotInputsCell_4_Label_do51 {
  height: 20px;
}

#cntRobotInputsCell_4_Label_do51 {
  z-index: 19;
}

#cntRobotInputsCell_4_Label_do52 {
  top: 122px;
  position: absolute;
}

#cntRobotInputsCell_4_Label_do52 {
  left: 35px;
  position: absolute;
}

#cntRobotInputsCell_4_Label_do52 {
  width: 245px;
}

#cntRobotInputsCell_4_Label_do52 {
  height: 20px;
}

#cntRobotInputsCell_4_Label_do52 {
  z-index: 20;
}

#cntRobotInputsCell_4_Label_do53 {
  top: 152px;
  position: absolute;
}

#cntRobotInputsCell_4_Label_do53 {
  left: 35px;
  position: absolute;
}

#cntRobotInputsCell_4_Label_do53 {
  width: 245px;
}

#cntRobotInputsCell_4_Label_do53 {
  height: 20px;
}

#cntRobotInputsCell_4_Label_do53 {
  z-index: 21;
}

#cntRobotInputsCell_4_Label_do54 {
  top: 182px;
  position: absolute;
}

#cntRobotInputsCell_4_Label_do54 {
  left: 35px;
  position: absolute;
}

#cntRobotInputsCell_4_Label_do54 {
  width: 245px;
}

#cntRobotInputsCell_4_Label_do54 {
  height: 20px;
}

#cntRobotInputsCell_4_Label_do54 {
  z-index: 22;
}

#cntRobotInputsCell_4_Label_do55 {
  top: 212px;
  position: absolute;
}

#cntRobotInputsCell_4_Label_do55 {
  left: 35px;
  position: absolute;
}

#cntRobotInputsCell_4_Label_do55 {
  width: 245px;
}

#cntRobotInputsCell_4_Label_do55 {
  height: 20px;
}

#cntRobotInputsCell_4_Label_do55 {
  z-index: 23;
}

#cntRobotInputsCell_4_Label_do56 {
  top: 242px;
  position: absolute;
}

#cntRobotInputsCell_4_Label_do56 {
  left: 35px;
  position: absolute;
}

#cntRobotInputsCell_4_Label_do56 {
  width: 245px;
}

#cntRobotInputsCell_4_Label_do56 {
  height: 20px;
}

#cntRobotInputsCell_4_Label_do56 {
  z-index: 24;
}

#cntRobotInputsCell_4_Label_do57 {
  top: 272px;
  position: absolute;
}

#cntRobotInputsCell_4_Label_do57 {
  left: 35px;
  position: absolute;
}

#cntRobotInputsCell_4_Label_do57 {
  width: 245px;
}

#cntRobotInputsCell_4_Label_do57 {
  height: 20px;
}

#cntRobotInputsCell_4_Label_do57 {
  z-index: 25;
}

#cntRobotInputsCell_4_Label_do58 {
  top: 302px;
  position: absolute;
}

#cntRobotInputsCell_4_Label_do58 {
  left: 35px;
  position: absolute;
}

#cntRobotInputsCell_4_Label_do58 {
  width: 245px;
}

#cntRobotInputsCell_4_Label_do58 {
  height: 20px;
}

#cntRobotInputsCell_4_Label_do58 {
  z-index: 26;
}

#cntRobotInputsCell_4_Label_do59 {
  top: 332px;
  position: absolute;
}

#cntRobotInputsCell_4_Label_do59 {
  left: 35px;
  position: absolute;
}

#cntRobotInputsCell_4_Label_do59 {
  width: 245px;
}

#cntRobotInputsCell_4_Label_do59 {
  height: 20px;
}

#cntRobotInputsCell_4_Label_do59 {
  z-index: 27;
}

#cntRobotInputsCell_4_Label_do60 {
  top: 362px;
  position: absolute;
}

#cntRobotInputsCell_4_Label_do60 {
  left: 35px;
  position: absolute;
}

#cntRobotInputsCell_4_Label_do60 {
  width: 245px;
}

#cntRobotInputsCell_4_Label_do60 {
  height: 20px;
}

#cntRobotInputsCell_4_Label_do60 {
  z-index: 28;
}

#cntRobotInputsCell_4_Label_do61 {
  top: 392px;
  position: absolute;
}

#cntRobotInputsCell_4_Label_do61 {
  left: 35px;
  position: absolute;
}

#cntRobotInputsCell_4_Label_do61 {
  width: 245px;
}

#cntRobotInputsCell_4_Label_do61 {
  height: 20px;
}

#cntRobotInputsCell_4_Label_do61 {
  z-index: 29;
}

#cntRobotInputsCell_4_Label_do62 {
  top: 422px;
  position: absolute;
}

#cntRobotInputsCell_4_Label_do62 {
  left: 35px;
  position: absolute;
}

#cntRobotInputsCell_4_Label_do62 {
  width: 245px;
}

#cntRobotInputsCell_4_Label_do62 {
  height: 20px;
}

#cntRobotInputsCell_4_Label_do62 {
  z-index: 30;
}

#cntRobotInputsCell_4_Label_do63 {
  top: 452px;
  position: absolute;
}

#cntRobotInputsCell_4_Label_do63 {
  left: 35px;
  position: absolute;
}

#cntRobotInputsCell_4_Label_do63 {
  width: 245px;
}

#cntRobotInputsCell_4_Label_do63 {
  height: 20px;
}

#cntRobotInputsCell_4_Label_do63 {
  z-index: 31;
}

#cntRobotInputsCell_4_Label_do64 {
  top: 482px;
  position: absolute;
}

#cntRobotInputsCell_4_Label_do64 {
  left: 35px;
  position: absolute;
}

#cntRobotInputsCell_4_Label_do64 {
  width: 245px;
}

#cntRobotInputsCell_4_Label_do64 {
  height: 20px;
}

#cntRobotInputsCell_4_Label_do64 {
  z-index: 32;
}

#cntRobotInputsCell_4_GridLineItem3 {
  z-index: 2;
}

#cntRobotInputsCell_4_GridLineItem3 {
  padding: 0px 10px 10px 10px;
}

#cntRobotInputsCell_4_ImageList29 {
  top: 92px;
  position: absolute;
}

#cntRobotInputsCell_4_ImageList29 {
  left: 5px;
  position: absolute;
}

#cntRobotInputsCell_4_ImageList29 {
  width: 20px;
}

#cntRobotInputsCell_4_ImageList29 {
  height: 20px;
}

#cntRobotInputsCell_4_ImageList29 {
  z-index: 0;
}

#cntRobotInputsCell_4_ImageList30 {
  top: 122px;
  position: absolute;
}

#cntRobotInputsCell_4_ImageList30 {
  left: 5px;
  position: absolute;
}

#cntRobotInputsCell_4_ImageList30 {
  width: 20px;
}

#cntRobotInputsCell_4_ImageList30 {
  height: 20px;
}

#cntRobotInputsCell_4_ImageList30 {
  z-index: 1;
}

#cntRobotInputsCell_4_ImageList31 {
  top: 152px;
  position: absolute;
}

#cntRobotInputsCell_4_ImageList31 {
  left: 5px;
  position: absolute;
}

#cntRobotInputsCell_4_ImageList31 {
  width: 20px;
}

#cntRobotInputsCell_4_ImageList31 {
  height: 20px;
}

#cntRobotInputsCell_4_ImageList31 {
  z-index: 2;
}

#cntRobotInputsCell_4_ImageList32 {
  top: 182px;
  position: absolute;
}

#cntRobotInputsCell_4_ImageList32 {
  left: 5px;
  position: absolute;
}

#cntRobotInputsCell_4_ImageList32 {
  width: 20px;
}

#cntRobotInputsCell_4_ImageList32 {
  height: 20px;
}

#cntRobotInputsCell_4_ImageList32 {
  z-index: 3;
}

#cntRobotInputsCell_4_ImageList33 {
  top: 212px;
  position: absolute;
}

#cntRobotInputsCell_4_ImageList33 {
  left: 5px;
  position: absolute;
}

#cntRobotInputsCell_4_ImageList33 {
  width: 20px;
}

#cntRobotInputsCell_4_ImageList33 {
  height: 20px;
}

#cntRobotInputsCell_4_ImageList33 {
  z-index: 4;
}

#cntRobotInputsCell_4_ImageList34 {
  top: 242px;
  position: absolute;
}

#cntRobotInputsCell_4_ImageList34 {
  left: 5px;
  position: absolute;
}

#cntRobotInputsCell_4_ImageList34 {
  width: 20px;
}

#cntRobotInputsCell_4_ImageList34 {
  height: 20px;
}

#cntRobotInputsCell_4_ImageList34 {
  z-index: 5;
}

#cntRobotInputsCell_4_ImageList35 {
  top: 272px;
  position: absolute;
}

#cntRobotInputsCell_4_ImageList35 {
  left: 5px;
  position: absolute;
}

#cntRobotInputsCell_4_ImageList35 {
  width: 20px;
}

#cntRobotInputsCell_4_ImageList35 {
  height: 20px;
}

#cntRobotInputsCell_4_ImageList35 {
  z-index: 6;
}

#cntRobotInputsCell_4_ImageList51 {
  top: 62px;
  position: absolute;
}

#cntRobotInputsCell_4_ImageList51 {
  left: 5px;
  position: absolute;
}

#cntRobotInputsCell_4_ImageList51 {
  width: 20px;
}

#cntRobotInputsCell_4_ImageList51 {
  height: 20px;
}

#cntRobotInputsCell_4_ImageList51 {
  z-index: 7;
}

#cntRobotInputsCell_4_Label4 {
  top: 5px;
  position: absolute;
}

#cntRobotInputsCell_4_Label4 {
  left: 51px;
  position: absolute;
}

#cntRobotInputsCell_4_Label4 {
  width: 190px;
}

#cntRobotInputsCell_4_Label4 {
  height: 20px;
}

#cntRobotInputsCell_4_Label4 {
  z-index: 8;
}

#cntRobotInputsCell_4_Label4 span {
  color: dimgray;
}

#cntRobotInputsCell_4_Label4 {
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntRobotInputsCell_4_Label4 {
  font-size: 18px;
}

#cntRobotInputsCell_4_Label4 span {
  text-decoration: underline;
}

#cntRobotInputsCell_4_Label_do65 {
  top: 32px;
  position: absolute;
}

#cntRobotInputsCell_4_Label_do65 {
  left: 35px;
  position: absolute;
}

#cntRobotInputsCell_4_Label_do65 {
  width: 245px;
}

#cntRobotInputsCell_4_Label_do65 {
  height: 20px;
}

#cntRobotInputsCell_4_Label_do65 {
  z-index: 9;
}

#cntRobotInputsCell_4_Label_do66 {
  top: 62px;
  position: absolute;
}

#cntRobotInputsCell_4_Label_do66 {
  left: 35px;
  position: absolute;
}

#cntRobotInputsCell_4_Label_do66 {
  width: 245px;
}

#cntRobotInputsCell_4_Label_do66 {
  height: 20px;
}

#cntRobotInputsCell_4_Label_do66 {
  z-index: 10;
}

#cntRobotInputsCell_4_Label_do67 {
  top: 92px;
  position: absolute;
}

#cntRobotInputsCell_4_Label_do67 {
  left: 35px;
  position: absolute;
}

#cntRobotInputsCell_4_Label_do67 {
  width: 245px;
}

#cntRobotInputsCell_4_Label_do67 {
  height: 20px;
}

#cntRobotInputsCell_4_Label_do67 {
  z-index: 11;
}

#cntRobotInputsCell_4_Label_do68 {
  top: 122px;
  position: absolute;
}

#cntRobotInputsCell_4_Label_do68 {
  left: 35px;
  position: absolute;
}

#cntRobotInputsCell_4_Label_do68 {
  width: 245px;
}

#cntRobotInputsCell_4_Label_do68 {
  height: 20px;
}

#cntRobotInputsCell_4_Label_do68 {
  z-index: 12;
}

#cntRobotInputsCell_4_Label_do69 {
  top: 152px;
  position: absolute;
}

#cntRobotInputsCell_4_Label_do69 {
  left: 35px;
  position: absolute;
}

#cntRobotInputsCell_4_Label_do69 {
  width: 245px;
}

#cntRobotInputsCell_4_Label_do69 {
  height: 20px;
}

#cntRobotInputsCell_4_Label_do69 {
  z-index: 13;
}

#cntRobotInputsCell_4_Label_do70 {
  top: 182px;
  position: absolute;
}

#cntRobotInputsCell_4_Label_do70 {
  left: 35px;
  position: absolute;
}

#cntRobotInputsCell_4_Label_do70 {
  width: 245px;
}

#cntRobotInputsCell_4_Label_do70 {
  height: 20px;
}

#cntRobotInputsCell_4_Label_do70 {
  z-index: 14;
}

#cntRobotInputsCell_4_Label_do71 {
  top: 212px;
  position: absolute;
}

#cntRobotInputsCell_4_Label_do71 {
  left: 35px;
  position: absolute;
}

#cntRobotInputsCell_4_Label_do71 {
  width: 245px;
}

#cntRobotInputsCell_4_Label_do71 {
  height: 20px;
}

#cntRobotInputsCell_4_Label_do71 {
  z-index: 15;
}

#cntRobotInputsCell_4_Label_do72 {
  top: 242px;
  position: absolute;
}

#cntRobotInputsCell_4_Label_do72 {
  left: 35px;
  position: absolute;
}

#cntRobotInputsCell_4_Label_do72 {
  width: 245px;
}

#cntRobotInputsCell_4_Label_do72 {
  height: 20px;
}

#cntRobotInputsCell_4_Label_do72 {
  z-index: 16;
}

#cntRobotInputsCell_4_Label_do73 {
  top: 272px;
  position: absolute;
}

#cntRobotInputsCell_4_Label_do73 {
  left: 35px;
  position: absolute;
}

#cntRobotInputsCell_4_Label_do73 {
  width: 245px;
}

#cntRobotInputsCell_4_Label_do73 {
  height: 20px;
}

#cntRobotInputsCell_4_Label_do73 {
  z-index: 17;
}

#cntRobotInputsCell_4_NumericOutput5 {
  top: 35px;
  position: absolute;
}

#cntRobotInputsCell_4_NumericOutput5 {
  left: 0px;
  position: absolute;
}

#cntRobotInputsCell_4_NumericOutput5 {
  width: 60px;
}

#cntRobotInputsCell_4_NumericOutput5 {
  height: 20px;
}

#cntRobotInputsCell_4_NumericOutput5 {
  z-index: 18;
}

#cntRobotInputsCell_4_NumericOutput5 {
  border-color: black;
}

#cntRobotInputsCell_4_NumericOutput5 input {
  color: black;
}

#cntRobotInputsCell_4_NumericOutput5 span.breaseNumericOutput_unit {
  color: black;
}

#cntRobotInputsCell_4_NumericOutput5 input {
  font-size: 14px;
}

#cntRobotInputsCell_4_NumericOutput5 {
  margin: 0px;
}

#cntRobotInputsCell_4_CheckBox_RobotIn {
  top: 0px;
  position: absolute;
}

#cntRobotInputsCell_4_CheckBox_RobotIn {
  left: 250px;
  position: absolute;
}

#cntRobotInputsCell_4_CheckBox_RobotIn {
  width: 45px;
}

#cntRobotInputsCell_4_CheckBox_RobotIn {
  height: 45px;
}

#cntRobotInputsCell_4_CheckBox_RobotIn {
  z-index: 1;
}

#cntRobotInputsCell_4_CheckBox_RobotIn span {
  font-style: italic;
}

#cntRobotInputsCell_4_CheckBox_RobotIn.checked:not(.disabled) svg {
  fill: red;
}
