﻿@import "mixins.scss";
#cntRobotInputsCell_4_GridLine1 {
	@include elemTop(0);
}
#cntRobotInputsCell_4_GridLine1 {
	@include elemLeft(0);
}
#cntRobotInputsCell_4_GridLine1 {
	@include elemWidth(300);
}
#cntRobotInputsCell_4_GridLine1 {
	@include elemHeight(540);
}
#cntRobotInputsCell_4_GridLine1 {
		z-index: 0;
}
#cntRobotInputsCell_4_GridLine1 {
	.container{
		padding: 5px 0px;
	}
}
#cntRobotInputsCell_4_GridLineItem1 {
		z-index: 0;
}
#cntRobotInputsCell_4_GridLineItem1 {
		padding: 0px 10px 10px 10px;
}
#cntRobotInputsCell_4_ImageList1 {
	@include elemTop(92);
}
#cntRobotInputsCell_4_ImageList1 {
	@include elemLeft(11);
}
#cntRobotInputsCell_4_ImageList1 {
	@include elemWidth(20);
}
#cntRobotInputsCell_4_ImageList1 {
	@include elemHeight(20);
}
#cntRobotInputsCell_4_ImageList1 {
		z-index: 0;
}
#cntRobotInputsCell_4_ImageList2 {
	@include elemTop(122);
}
#cntRobotInputsCell_4_ImageList2 {
	@include elemLeft(11);
}
#cntRobotInputsCell_4_ImageList2 {
	@include elemWidth(20);
}
#cntRobotInputsCell_4_ImageList2 {
	@include elemHeight(20);
}
#cntRobotInputsCell_4_ImageList2 {
		z-index: 1;
}
#cntRobotInputsCell_4_ImageList3 {
	@include elemTop(152);
}
#cntRobotInputsCell_4_ImageList3 {
	@include elemLeft(11);
}
#cntRobotInputsCell_4_ImageList3 {
	@include elemWidth(20);
}
#cntRobotInputsCell_4_ImageList3 {
	@include elemHeight(20);
}
#cntRobotInputsCell_4_ImageList3 {
		z-index: 2;
}
#cntRobotInputsCell_4_ImageList4 {
	@include elemTop(182);
}
#cntRobotInputsCell_4_ImageList4 {
	@include elemLeft(11);
}
#cntRobotInputsCell_4_ImageList4 {
	@include elemWidth(20);
}
#cntRobotInputsCell_4_ImageList4 {
	@include elemHeight(20);
}
#cntRobotInputsCell_4_ImageList4 {
		z-index: 3;
}
#cntRobotInputsCell_4_ImageList5 {
	@include elemTop(212);
}
#cntRobotInputsCell_4_ImageList5 {
	@include elemLeft(11);
}
#cntRobotInputsCell_4_ImageList5 {
	@include elemWidth(20);
}
#cntRobotInputsCell_4_ImageList5 {
	@include elemHeight(20);
}
#cntRobotInputsCell_4_ImageList5 {
		z-index: 4;
}
#cntRobotInputsCell_4_ImageList6 {
	@include elemTop(242);
}
#cntRobotInputsCell_4_ImageList6 {
	@include elemLeft(11);
}
#cntRobotInputsCell_4_ImageList6 {
	@include elemWidth(20);
}
#cntRobotInputsCell_4_ImageList6 {
	@include elemHeight(20);
}
#cntRobotInputsCell_4_ImageList6 {
		z-index: 5;
}
#cntRobotInputsCell_4_ImageList7 {
	@include elemTop(272);
}
#cntRobotInputsCell_4_ImageList7 {
	@include elemLeft(11);
}
#cntRobotInputsCell_4_ImageList7 {
	@include elemWidth(20);
}
#cntRobotInputsCell_4_ImageList7 {
	@include elemHeight(20);
}
#cntRobotInputsCell_4_ImageList7 {
		z-index: 6;
}
#cntRobotInputsCell_4_ImageList8 {
	@include elemTop(302);
}
#cntRobotInputsCell_4_ImageList8 {
	@include elemLeft(11);
}
#cntRobotInputsCell_4_ImageList8 {
	@include elemWidth(20);
}
#cntRobotInputsCell_4_ImageList8 {
	@include elemHeight(20);
}
#cntRobotInputsCell_4_ImageList8 {
		z-index: 7;
}
#cntRobotInputsCell_4_ImageList9 {
	@include elemTop(332);
}
#cntRobotInputsCell_4_ImageList9 {
	@include elemLeft(11);
}
#cntRobotInputsCell_4_ImageList9 {
	@include elemWidth(20);
}
#cntRobotInputsCell_4_ImageList9 {
	@include elemHeight(20);
}
#cntRobotInputsCell_4_ImageList9 {
		z-index: 8;
}
#cntRobotInputsCell_4_ImageList10 {
	@include elemTop(362);
}
#cntRobotInputsCell_4_ImageList10 {
	@include elemLeft(11);
}
#cntRobotInputsCell_4_ImageList10 {
	@include elemWidth(20);
}
#cntRobotInputsCell_4_ImageList10 {
	@include elemHeight(20);
}
#cntRobotInputsCell_4_ImageList10 {
		z-index: 9;
}
#cntRobotInputsCell_4_ImageList11 {
	@include elemTop(392);
}
#cntRobotInputsCell_4_ImageList11 {
	@include elemLeft(11);
}
#cntRobotInputsCell_4_ImageList11 {
	@include elemWidth(20);
}
#cntRobotInputsCell_4_ImageList11 {
	@include elemHeight(20);
}
#cntRobotInputsCell_4_ImageList11 {
		z-index: 10;
}
#cntRobotInputsCell_4_ImageList12 {
	@include elemTop(422);
}
#cntRobotInputsCell_4_ImageList12 {
	@include elemLeft(11);
}
#cntRobotInputsCell_4_ImageList12 {
	@include elemWidth(20);
}
#cntRobotInputsCell_4_ImageList12 {
	@include elemHeight(20);
}
#cntRobotInputsCell_4_ImageList12 {
		z-index: 11;
}
#cntRobotInputsCell_4_ImageList13 {
	@include elemTop(452);
}
#cntRobotInputsCell_4_ImageList13 {
	@include elemLeft(11);
}
#cntRobotInputsCell_4_ImageList13 {
	@include elemWidth(20);
}
#cntRobotInputsCell_4_ImageList13 {
	@include elemHeight(20);
}
#cntRobotInputsCell_4_ImageList13 {
		z-index: 12;
}
#cntRobotInputsCell_4_ImageList14 {
	@include elemTop(482);
}
#cntRobotInputsCell_4_ImageList14 {
	@include elemLeft(11);
}
#cntRobotInputsCell_4_ImageList14 {
	@include elemWidth(20);
}
#cntRobotInputsCell_4_ImageList14 {
	@include elemHeight(20);
}
#cntRobotInputsCell_4_ImageList14 {
		z-index: 13;
}
#cntRobotInputsCell_4_ImageList47 {
	@include elemTop(62);
}
#cntRobotInputsCell_4_ImageList47 {
	@include elemLeft(11);
}
#cntRobotInputsCell_4_ImageList47 {
	@include elemWidth(20);
}
#cntRobotInputsCell_4_ImageList47 {
	@include elemHeight(20);
}
#cntRobotInputsCell_4_ImageList47 {
		z-index: 14;
}
#cntRobotInputsCell_4_ImageList48 {
	@include elemTop(32);
}
#cntRobotInputsCell_4_ImageList48 {
	@include elemLeft(11);
}
#cntRobotInputsCell_4_ImageList48 {
	@include elemWidth(20);
}
#cntRobotInputsCell_4_ImageList48 {
	@include elemHeight(20);
}
#cntRobotInputsCell_4_ImageList48 {
		z-index: 15;
}
#cntRobotInputsCell_4_Label2 {
	@include elemTop(5);
}
#cntRobotInputsCell_4_Label2 {
	@include elemLeft(51);
}
#cntRobotInputsCell_4_Label2 {
	@include elemAutoWidth(190);
}
#cntRobotInputsCell_4_Label2 {
	@include elemAutoHeight(20);
}
#cntRobotInputsCell_4_Label2 {
		z-index: 16;
}
#cntRobotInputsCell_4_Label2 {
	& span{
		color: rgba(105, 105, 105, 1);
	}
}
#cntRobotInputsCell_4_Label2 {
	@include text-alignment-all('center');
}
#cntRobotInputsCell_4_Label2 {
		font-size: 18px;
}
#cntRobotInputsCell_4_Label2 {
	span{
	@include text-decoration-underline(true);
	}
}
#cntRobotInputsCell_4_Label_do33 {
	@include elemTop(32);
}
#cntRobotInputsCell_4_Label_do33 {
	@include elemLeft(46);
}
#cntRobotInputsCell_4_Label_do33 {
	@include elemAutoWidth(220);
}
#cntRobotInputsCell_4_Label_do33 {
	@include elemAutoHeight(20);
}
#cntRobotInputsCell_4_Label_do33 {
		z-index: 17;
}
#cntRobotInputsCell_4_Label_do34 {
	@include elemTop(62);
}
#cntRobotInputsCell_4_Label_do34 {
	@include elemLeft(46);
}
#cntRobotInputsCell_4_Label_do34 {
	@include elemAutoWidth(220);
}
#cntRobotInputsCell_4_Label_do34 {
	@include elemAutoHeight(20);
}
#cntRobotInputsCell_4_Label_do34 {
		z-index: 18;
}
#cntRobotInputsCell_4_Label_do35 {
	@include elemTop(92);
}
#cntRobotInputsCell_4_Label_do35 {
	@include elemLeft(46);
}
#cntRobotInputsCell_4_Label_do35 {
	@include elemAutoWidth(220);
}
#cntRobotInputsCell_4_Label_do35 {
	@include elemAutoHeight(20);
}
#cntRobotInputsCell_4_Label_do35 {
		z-index: 19;
}
#cntRobotInputsCell_4_Label_do36 {
	@include elemTop(122);
}
#cntRobotInputsCell_4_Label_do36 {
	@include elemLeft(46);
}
#cntRobotInputsCell_4_Label_do36 {
	@include elemAutoWidth(220);
}
#cntRobotInputsCell_4_Label_do36 {
	@include elemAutoHeight(20);
}
#cntRobotInputsCell_4_Label_do36 {
		z-index: 20;
}
#cntRobotInputsCell_4_Label_do37 {
	@include elemTop(152);
}
#cntRobotInputsCell_4_Label_do37 {
	@include elemLeft(46);
}
#cntRobotInputsCell_4_Label_do37 {
	@include elemAutoWidth(220);
}
#cntRobotInputsCell_4_Label_do37 {
	@include elemAutoHeight(20);
}
#cntRobotInputsCell_4_Label_do37 {
		z-index: 21;
}
#cntRobotInputsCell_4_Label_do38 {
	@include elemTop(182);
}
#cntRobotInputsCell_4_Label_do38 {
	@include elemLeft(46);
}
#cntRobotInputsCell_4_Label_do38 {
	@include elemAutoWidth(220);
}
#cntRobotInputsCell_4_Label_do38 {
	@include elemAutoHeight(20);
}
#cntRobotInputsCell_4_Label_do38 {
		z-index: 22;
}
#cntRobotInputsCell_4_Label_do39 {
	@include elemTop(212);
}
#cntRobotInputsCell_4_Label_do39 {
	@include elemLeft(46);
}
#cntRobotInputsCell_4_Label_do39 {
	@include elemAutoWidth(220);
}
#cntRobotInputsCell_4_Label_do39 {
	@include elemAutoHeight(20);
}
#cntRobotInputsCell_4_Label_do39 {
		z-index: 23;
}
#cntRobotInputsCell_4_Label_do40 {
	@include elemTop(242);
}
#cntRobotInputsCell_4_Label_do40 {
	@include elemLeft(46);
}
#cntRobotInputsCell_4_Label_do40 {
	@include elemAutoWidth(220);
}
#cntRobotInputsCell_4_Label_do40 {
	@include elemAutoHeight(20);
}
#cntRobotInputsCell_4_Label_do40 {
		z-index: 24;
}
#cntRobotInputsCell_4_Label_do41 {
	@include elemTop(272);
}
#cntRobotInputsCell_4_Label_do41 {
	@include elemLeft(46);
}
#cntRobotInputsCell_4_Label_do41 {
	@include elemAutoWidth(220);
}
#cntRobotInputsCell_4_Label_do41 {
	@include elemAutoHeight(20);
}
#cntRobotInputsCell_4_Label_do41 {
		z-index: 25;
}
#cntRobotInputsCell_4_Label_do42 {
	@include elemTop(302);
}
#cntRobotInputsCell_4_Label_do42 {
	@include elemLeft(46);
}
#cntRobotInputsCell_4_Label_do42 {
	@include elemAutoWidth(220);
}
#cntRobotInputsCell_4_Label_do42 {
	@include elemAutoHeight(20);
}
#cntRobotInputsCell_4_Label_do42 {
		z-index: 26;
}
#cntRobotInputsCell_4_Label_do43 {
	@include elemTop(332);
}
#cntRobotInputsCell_4_Label_do43 {
	@include elemLeft(46);
}
#cntRobotInputsCell_4_Label_do43 {
	@include elemAutoWidth(220);
}
#cntRobotInputsCell_4_Label_do43 {
	@include elemAutoHeight(20);
}
#cntRobotInputsCell_4_Label_do43 {
		z-index: 27;
}
#cntRobotInputsCell_4_Label_do44 {
	@include elemTop(362);
}
#cntRobotInputsCell_4_Label_do44 {
	@include elemLeft(46);
}
#cntRobotInputsCell_4_Label_do44 {
	@include elemAutoWidth(220);
}
#cntRobotInputsCell_4_Label_do44 {
	@include elemAutoHeight(20);
}
#cntRobotInputsCell_4_Label_do44 {
		z-index: 28;
}
#cntRobotInputsCell_4_Label_do45 {
	@include elemTop(392);
}
#cntRobotInputsCell_4_Label_do45 {
	@include elemLeft(46);
}
#cntRobotInputsCell_4_Label_do45 {
	@include elemAutoWidth(220);
}
#cntRobotInputsCell_4_Label_do45 {
	@include elemAutoHeight(20);
}
#cntRobotInputsCell_4_Label_do45 {
		z-index: 29;
}
#cntRobotInputsCell_4_Label_do46 {
	@include elemTop(422);
}
#cntRobotInputsCell_4_Label_do46 {
	@include elemLeft(46);
}
#cntRobotInputsCell_4_Label_do46 {
	@include elemAutoWidth(220);
}
#cntRobotInputsCell_4_Label_do46 {
	@include elemAutoHeight(20);
}
#cntRobotInputsCell_4_Label_do46 {
		z-index: 30;
}
#cntRobotInputsCell_4_Label_do47 {
	@include elemTop(452);
}
#cntRobotInputsCell_4_Label_do47 {
	@include elemLeft(46);
}
#cntRobotInputsCell_4_Label_do47 {
	@include elemAutoWidth(220);
}
#cntRobotInputsCell_4_Label_do47 {
	@include elemAutoHeight(20);
}
#cntRobotInputsCell_4_Label_do47 {
		z-index: 31;
}
#cntRobotInputsCell_4_Label_do48 {
	@include elemTop(482);
}
#cntRobotInputsCell_4_Label_do48 {
	@include elemLeft(46);
}
#cntRobotInputsCell_4_Label_do48 {
	@include elemAutoWidth(220);
}
#cntRobotInputsCell_4_Label_do48 {
	@include elemAutoHeight(20);
}
#cntRobotInputsCell_4_Label_do48 {
		z-index: 32;
}
#cntRobotInputsCell_4_GridLineItem2 {
		z-index: 1;
}
#cntRobotInputsCell_4_GridLineItem2 {
		padding: 0px 10px 10px 10px;
}
#cntRobotInputsCell_4_ImageList15 {
	@include elemTop(92);
}
#cntRobotInputsCell_4_ImageList15 {
	@include elemLeft(5);
}
#cntRobotInputsCell_4_ImageList15 {
	@include elemWidth(20);
}
#cntRobotInputsCell_4_ImageList15 {
	@include elemHeight(20);
}
#cntRobotInputsCell_4_ImageList15 {
		z-index: 0;
}
#cntRobotInputsCell_4_ImageList16 {
	@include elemTop(122);
}
#cntRobotInputsCell_4_ImageList16 {
	@include elemLeft(5);
}
#cntRobotInputsCell_4_ImageList16 {
	@include elemWidth(20);
}
#cntRobotInputsCell_4_ImageList16 {
	@include elemHeight(20);
}
#cntRobotInputsCell_4_ImageList16 {
		z-index: 1;
}
#cntRobotInputsCell_4_ImageList17 {
	@include elemTop(152);
}
#cntRobotInputsCell_4_ImageList17 {
	@include elemLeft(5);
}
#cntRobotInputsCell_4_ImageList17 {
	@include elemWidth(20);
}
#cntRobotInputsCell_4_ImageList17 {
	@include elemHeight(20);
}
#cntRobotInputsCell_4_ImageList17 {
		z-index: 2;
}
#cntRobotInputsCell_4_ImageList18 {
	@include elemTop(182);
}
#cntRobotInputsCell_4_ImageList18 {
	@include elemLeft(5);
}
#cntRobotInputsCell_4_ImageList18 {
	@include elemWidth(20);
}
#cntRobotInputsCell_4_ImageList18 {
	@include elemHeight(20);
}
#cntRobotInputsCell_4_ImageList18 {
		z-index: 3;
}
#cntRobotInputsCell_4_ImageList19 {
	@include elemTop(212);
}
#cntRobotInputsCell_4_ImageList19 {
	@include elemLeft(5);
}
#cntRobotInputsCell_4_ImageList19 {
	@include elemWidth(20);
}
#cntRobotInputsCell_4_ImageList19 {
	@include elemHeight(20);
}
#cntRobotInputsCell_4_ImageList19 {
		z-index: 4;
}
#cntRobotInputsCell_4_ImageList20 {
	@include elemTop(242);
}
#cntRobotInputsCell_4_ImageList20 {
	@include elemLeft(5);
}
#cntRobotInputsCell_4_ImageList20 {
	@include elemWidth(20);
}
#cntRobotInputsCell_4_ImageList20 {
	@include elemHeight(20);
}
#cntRobotInputsCell_4_ImageList20 {
		z-index: 5;
}
#cntRobotInputsCell_4_ImageList21 {
	@include elemTop(272);
}
#cntRobotInputsCell_4_ImageList21 {
	@include elemLeft(5);
}
#cntRobotInputsCell_4_ImageList21 {
	@include elemWidth(20);
}
#cntRobotInputsCell_4_ImageList21 {
	@include elemHeight(20);
}
#cntRobotInputsCell_4_ImageList21 {
		z-index: 6;
}
#cntRobotInputsCell_4_ImageList22 {
	@include elemTop(302);
}
#cntRobotInputsCell_4_ImageList22 {
	@include elemLeft(5);
}
#cntRobotInputsCell_4_ImageList22 {
	@include elemWidth(20);
}
#cntRobotInputsCell_4_ImageList22 {
	@include elemHeight(20);
}
#cntRobotInputsCell_4_ImageList22 {
		z-index: 7;
}
#cntRobotInputsCell_4_ImageList23 {
	@include elemTop(332);
}
#cntRobotInputsCell_4_ImageList23 {
	@include elemLeft(5);
}
#cntRobotInputsCell_4_ImageList23 {
	@include elemWidth(20);
}
#cntRobotInputsCell_4_ImageList23 {
	@include elemHeight(20);
}
#cntRobotInputsCell_4_ImageList23 {
		z-index: 8;
}
#cntRobotInputsCell_4_ImageList24 {
	@include elemTop(362);
}
#cntRobotInputsCell_4_ImageList24 {
	@include elemLeft(5);
}
#cntRobotInputsCell_4_ImageList24 {
	@include elemWidth(20);
}
#cntRobotInputsCell_4_ImageList24 {
	@include elemHeight(20);
}
#cntRobotInputsCell_4_ImageList24 {
		z-index: 9;
}
#cntRobotInputsCell_4_ImageList25 {
	@include elemTop(392);
}
#cntRobotInputsCell_4_ImageList25 {
	@include elemLeft(5);
}
#cntRobotInputsCell_4_ImageList25 {
	@include elemWidth(20);
}
#cntRobotInputsCell_4_ImageList25 {
	@include elemHeight(20);
}
#cntRobotInputsCell_4_ImageList25 {
		z-index: 10;
}
#cntRobotInputsCell_4_ImageList26 {
	@include elemTop(422);
}
#cntRobotInputsCell_4_ImageList26 {
	@include elemLeft(5);
}
#cntRobotInputsCell_4_ImageList26 {
	@include elemWidth(20);
}
#cntRobotInputsCell_4_ImageList26 {
	@include elemHeight(20);
}
#cntRobotInputsCell_4_ImageList26 {
		z-index: 11;
}
#cntRobotInputsCell_4_ImageList27 {
	@include elemTop(452);
}
#cntRobotInputsCell_4_ImageList27 {
	@include elemLeft(5);
}
#cntRobotInputsCell_4_ImageList27 {
	@include elemWidth(20);
}
#cntRobotInputsCell_4_ImageList27 {
	@include elemHeight(20);
}
#cntRobotInputsCell_4_ImageList27 {
		z-index: 12;
}
#cntRobotInputsCell_4_ImageList28 {
	@include elemTop(482);
}
#cntRobotInputsCell_4_ImageList28 {
	@include elemLeft(5);
}
#cntRobotInputsCell_4_ImageList28 {
	@include elemWidth(20);
}
#cntRobotInputsCell_4_ImageList28 {
	@include elemHeight(20);
}
#cntRobotInputsCell_4_ImageList28 {
		z-index: 13;
}
#cntRobotInputsCell_4_ImageList49 {
	@include elemTop(62);
}
#cntRobotInputsCell_4_ImageList49 {
	@include elemLeft(5);
}
#cntRobotInputsCell_4_ImageList49 {
	@include elemWidth(20);
}
#cntRobotInputsCell_4_ImageList49 {
	@include elemHeight(20);
}
#cntRobotInputsCell_4_ImageList49 {
		z-index: 14;
}
#cntRobotInputsCell_4_ImageList50 {
	@include elemTop(32);
}
#cntRobotInputsCell_4_ImageList50 {
	@include elemLeft(5);
}
#cntRobotInputsCell_4_ImageList50 {
	@include elemWidth(20);
}
#cntRobotInputsCell_4_ImageList50 {
	@include elemHeight(20);
}
#cntRobotInputsCell_4_ImageList50 {
		z-index: 15;
}
#cntRobotInputsCell_4_Label3 {
	@include elemTop(5);
}
#cntRobotInputsCell_4_Label3 {
	@include elemLeft(51);
}
#cntRobotInputsCell_4_Label3 {
	@include elemAutoWidth(190);
}
#cntRobotInputsCell_4_Label3 {
	@include elemAutoHeight(20);
}
#cntRobotInputsCell_4_Label3 {
		z-index: 16;
}
#cntRobotInputsCell_4_Label3 {
	& span{
		color: rgba(105, 105, 105, 1);
	}
}
#cntRobotInputsCell_4_Label3 {
	@include text-alignment-all('center');
}
#cntRobotInputsCell_4_Label3 {
		font-size: 18px;
}
#cntRobotInputsCell_4_Label3 {
	span{
	@include text-decoration-underline(true);
	}
}
#cntRobotInputsCell_4_Label_do49 {
	@include elemTop(32);
}
#cntRobotInputsCell_4_Label_do49 {
	@include elemLeft(35);
}
#cntRobotInputsCell_4_Label_do49 {
	@include elemAutoWidth(245);
}
#cntRobotInputsCell_4_Label_do49 {
	@include elemAutoHeight(20);
}
#cntRobotInputsCell_4_Label_do49 {
		z-index: 17;
}
#cntRobotInputsCell_4_Label_do50 {
	@include elemTop(62);
}
#cntRobotInputsCell_4_Label_do50 {
	@include elemLeft(35);
}
#cntRobotInputsCell_4_Label_do50 {
	@include elemAutoWidth(245);
}
#cntRobotInputsCell_4_Label_do50 {
	@include elemAutoHeight(20);
}
#cntRobotInputsCell_4_Label_do50 {
		z-index: 18;
}
#cntRobotInputsCell_4_Label_do51 {
	@include elemTop(92);
}
#cntRobotInputsCell_4_Label_do51 {
	@include elemLeft(35);
}
#cntRobotInputsCell_4_Label_do51 {
	@include elemAutoWidth(245);
}
#cntRobotInputsCell_4_Label_do51 {
	@include elemAutoHeight(20);
}
#cntRobotInputsCell_4_Label_do51 {
		z-index: 19;
}
#cntRobotInputsCell_4_Label_do52 {
	@include elemTop(122);
}
#cntRobotInputsCell_4_Label_do52 {
	@include elemLeft(35);
}
#cntRobotInputsCell_4_Label_do52 {
	@include elemAutoWidth(245);
}
#cntRobotInputsCell_4_Label_do52 {
	@include elemAutoHeight(20);
}
#cntRobotInputsCell_4_Label_do52 {
		z-index: 20;
}
#cntRobotInputsCell_4_Label_do53 {
	@include elemTop(152);
}
#cntRobotInputsCell_4_Label_do53 {
	@include elemLeft(35);
}
#cntRobotInputsCell_4_Label_do53 {
	@include elemAutoWidth(245);
}
#cntRobotInputsCell_4_Label_do53 {
	@include elemAutoHeight(20);
}
#cntRobotInputsCell_4_Label_do53 {
		z-index: 21;
}
#cntRobotInputsCell_4_Label_do54 {
	@include elemTop(182);
}
#cntRobotInputsCell_4_Label_do54 {
	@include elemLeft(35);
}
#cntRobotInputsCell_4_Label_do54 {
	@include elemAutoWidth(245);
}
#cntRobotInputsCell_4_Label_do54 {
	@include elemAutoHeight(20);
}
#cntRobotInputsCell_4_Label_do54 {
		z-index: 22;
}
#cntRobotInputsCell_4_Label_do55 {
	@include elemTop(212);
}
#cntRobotInputsCell_4_Label_do55 {
	@include elemLeft(35);
}
#cntRobotInputsCell_4_Label_do55 {
	@include elemAutoWidth(245);
}
#cntRobotInputsCell_4_Label_do55 {
	@include elemAutoHeight(20);
}
#cntRobotInputsCell_4_Label_do55 {
		z-index: 23;
}
#cntRobotInputsCell_4_Label_do56 {
	@include elemTop(242);
}
#cntRobotInputsCell_4_Label_do56 {
	@include elemLeft(35);
}
#cntRobotInputsCell_4_Label_do56 {
	@include elemAutoWidth(245);
}
#cntRobotInputsCell_4_Label_do56 {
	@include elemAutoHeight(20);
}
#cntRobotInputsCell_4_Label_do56 {
		z-index: 24;
}
#cntRobotInputsCell_4_Label_do57 {
	@include elemTop(272);
}
#cntRobotInputsCell_4_Label_do57 {
	@include elemLeft(35);
}
#cntRobotInputsCell_4_Label_do57 {
	@include elemAutoWidth(245);
}
#cntRobotInputsCell_4_Label_do57 {
	@include elemAutoHeight(20);
}
#cntRobotInputsCell_4_Label_do57 {
		z-index: 25;
}
#cntRobotInputsCell_4_Label_do58 {
	@include elemTop(302);
}
#cntRobotInputsCell_4_Label_do58 {
	@include elemLeft(35);
}
#cntRobotInputsCell_4_Label_do58 {
	@include elemAutoWidth(245);
}
#cntRobotInputsCell_4_Label_do58 {
	@include elemAutoHeight(20);
}
#cntRobotInputsCell_4_Label_do58 {
		z-index: 26;
}
#cntRobotInputsCell_4_Label_do59 {
	@include elemTop(332);
}
#cntRobotInputsCell_4_Label_do59 {
	@include elemLeft(35);
}
#cntRobotInputsCell_4_Label_do59 {
	@include elemAutoWidth(245);
}
#cntRobotInputsCell_4_Label_do59 {
	@include elemAutoHeight(20);
}
#cntRobotInputsCell_4_Label_do59 {
		z-index: 27;
}
#cntRobotInputsCell_4_Label_do60 {
	@include elemTop(362);
}
#cntRobotInputsCell_4_Label_do60 {
	@include elemLeft(35);
}
#cntRobotInputsCell_4_Label_do60 {
	@include elemAutoWidth(245);
}
#cntRobotInputsCell_4_Label_do60 {
	@include elemAutoHeight(20);
}
#cntRobotInputsCell_4_Label_do60 {
		z-index: 28;
}
#cntRobotInputsCell_4_Label_do61 {
	@include elemTop(392);
}
#cntRobotInputsCell_4_Label_do61 {
	@include elemLeft(35);
}
#cntRobotInputsCell_4_Label_do61 {
	@include elemAutoWidth(245);
}
#cntRobotInputsCell_4_Label_do61 {
	@include elemAutoHeight(20);
}
#cntRobotInputsCell_4_Label_do61 {
		z-index: 29;
}
#cntRobotInputsCell_4_Label_do62 {
	@include elemTop(422);
}
#cntRobotInputsCell_4_Label_do62 {
	@include elemLeft(35);
}
#cntRobotInputsCell_4_Label_do62 {
	@include elemAutoWidth(245);
}
#cntRobotInputsCell_4_Label_do62 {
	@include elemAutoHeight(20);
}
#cntRobotInputsCell_4_Label_do62 {
		z-index: 30;
}
#cntRobotInputsCell_4_Label_do63 {
	@include elemTop(452);
}
#cntRobotInputsCell_4_Label_do63 {
	@include elemLeft(35);
}
#cntRobotInputsCell_4_Label_do63 {
	@include elemAutoWidth(245);
}
#cntRobotInputsCell_4_Label_do63 {
	@include elemAutoHeight(20);
}
#cntRobotInputsCell_4_Label_do63 {
		z-index: 31;
}
#cntRobotInputsCell_4_Label_do64 {
	@include elemTop(482);
}
#cntRobotInputsCell_4_Label_do64 {
	@include elemLeft(35);
}
#cntRobotInputsCell_4_Label_do64 {
	@include elemAutoWidth(245);
}
#cntRobotInputsCell_4_Label_do64 {
	@include elemAutoHeight(20);
}
#cntRobotInputsCell_4_Label_do64 {
		z-index: 32;
}
#cntRobotInputsCell_4_GridLineItem3 {
		z-index: 2;
}
#cntRobotInputsCell_4_GridLineItem3 {
		padding: 0px 10px 10px 10px;
}
#cntRobotInputsCell_4_ImageList29 {
	@include elemTop(92);
}
#cntRobotInputsCell_4_ImageList29 {
	@include elemLeft(5);
}
#cntRobotInputsCell_4_ImageList29 {
	@include elemWidth(20);
}
#cntRobotInputsCell_4_ImageList29 {
	@include elemHeight(20);
}
#cntRobotInputsCell_4_ImageList29 {
		z-index: 0;
}
#cntRobotInputsCell_4_ImageList30 {
	@include elemTop(122);
}
#cntRobotInputsCell_4_ImageList30 {
	@include elemLeft(5);
}
#cntRobotInputsCell_4_ImageList30 {
	@include elemWidth(20);
}
#cntRobotInputsCell_4_ImageList30 {
	@include elemHeight(20);
}
#cntRobotInputsCell_4_ImageList30 {
		z-index: 1;
}
#cntRobotInputsCell_4_ImageList31 {
	@include elemTop(152);
}
#cntRobotInputsCell_4_ImageList31 {
	@include elemLeft(5);
}
#cntRobotInputsCell_4_ImageList31 {
	@include elemWidth(20);
}
#cntRobotInputsCell_4_ImageList31 {
	@include elemHeight(20);
}
#cntRobotInputsCell_4_ImageList31 {
		z-index: 2;
}
#cntRobotInputsCell_4_ImageList32 {
	@include elemTop(182);
}
#cntRobotInputsCell_4_ImageList32 {
	@include elemLeft(5);
}
#cntRobotInputsCell_4_ImageList32 {
	@include elemWidth(20);
}
#cntRobotInputsCell_4_ImageList32 {
	@include elemHeight(20);
}
#cntRobotInputsCell_4_ImageList32 {
		z-index: 3;
}
#cntRobotInputsCell_4_ImageList33 {
	@include elemTop(212);
}
#cntRobotInputsCell_4_ImageList33 {
	@include elemLeft(5);
}
#cntRobotInputsCell_4_ImageList33 {
	@include elemWidth(20);
}
#cntRobotInputsCell_4_ImageList33 {
	@include elemHeight(20);
}
#cntRobotInputsCell_4_ImageList33 {
		z-index: 4;
}
#cntRobotInputsCell_4_ImageList34 {
	@include elemTop(242);
}
#cntRobotInputsCell_4_ImageList34 {
	@include elemLeft(5);
}
#cntRobotInputsCell_4_ImageList34 {
	@include elemWidth(20);
}
#cntRobotInputsCell_4_ImageList34 {
	@include elemHeight(20);
}
#cntRobotInputsCell_4_ImageList34 {
		z-index: 5;
}
#cntRobotInputsCell_4_ImageList35 {
	@include elemTop(272);
}
#cntRobotInputsCell_4_ImageList35 {
	@include elemLeft(5);
}
#cntRobotInputsCell_4_ImageList35 {
	@include elemWidth(20);
}
#cntRobotInputsCell_4_ImageList35 {
	@include elemHeight(20);
}
#cntRobotInputsCell_4_ImageList35 {
		z-index: 6;
}
#cntRobotInputsCell_4_ImageList51 {
	@include elemTop(62);
}
#cntRobotInputsCell_4_ImageList51 {
	@include elemLeft(5);
}
#cntRobotInputsCell_4_ImageList51 {
	@include elemWidth(20);
}
#cntRobotInputsCell_4_ImageList51 {
	@include elemHeight(20);
}
#cntRobotInputsCell_4_ImageList51 {
		z-index: 7;
}
#cntRobotInputsCell_4_Label4 {
	@include elemTop(5);
}
#cntRobotInputsCell_4_Label4 {
	@include elemLeft(51);
}
#cntRobotInputsCell_4_Label4 {
	@include elemAutoWidth(190);
}
#cntRobotInputsCell_4_Label4 {
	@include elemAutoHeight(20);
}
#cntRobotInputsCell_4_Label4 {
		z-index: 8;
}
#cntRobotInputsCell_4_Label4 {
	& span{
		color: rgba(105, 105, 105, 1);
	}
}
#cntRobotInputsCell_4_Label4 {
	@include text-alignment-all('center');
}
#cntRobotInputsCell_4_Label4 {
		font-size: 18px;
}
#cntRobotInputsCell_4_Label4 {
	span{
	@include text-decoration-underline(true);
	}
}
#cntRobotInputsCell_4_Label_do65 {
	@include elemTop(32);
}
#cntRobotInputsCell_4_Label_do65 {
	@include elemLeft(35);
}
#cntRobotInputsCell_4_Label_do65 {
	@include elemAutoWidth(245);
}
#cntRobotInputsCell_4_Label_do65 {
	@include elemAutoHeight(20);
}
#cntRobotInputsCell_4_Label_do65 {
		z-index: 9;
}
#cntRobotInputsCell_4_Label_do66 {
	@include elemTop(62);
}
#cntRobotInputsCell_4_Label_do66 {
	@include elemLeft(35);
}
#cntRobotInputsCell_4_Label_do66 {
	@include elemAutoWidth(245);
}
#cntRobotInputsCell_4_Label_do66 {
	@include elemAutoHeight(20);
}
#cntRobotInputsCell_4_Label_do66 {
		z-index: 10;
}
#cntRobotInputsCell_4_Label_do67 {
	@include elemTop(92);
}
#cntRobotInputsCell_4_Label_do67 {
	@include elemLeft(35);
}
#cntRobotInputsCell_4_Label_do67 {
	@include elemAutoWidth(245);
}
#cntRobotInputsCell_4_Label_do67 {
	@include elemAutoHeight(20);
}
#cntRobotInputsCell_4_Label_do67 {
		z-index: 11;
}
#cntRobotInputsCell_4_Label_do68 {
	@include elemTop(122);
}
#cntRobotInputsCell_4_Label_do68 {
	@include elemLeft(35);
}
#cntRobotInputsCell_4_Label_do68 {
	@include elemAutoWidth(245);
}
#cntRobotInputsCell_4_Label_do68 {
	@include elemAutoHeight(20);
}
#cntRobotInputsCell_4_Label_do68 {
		z-index: 12;
}
#cntRobotInputsCell_4_Label_do69 {
	@include elemTop(152);
}
#cntRobotInputsCell_4_Label_do69 {
	@include elemLeft(35);
}
#cntRobotInputsCell_4_Label_do69 {
	@include elemAutoWidth(245);
}
#cntRobotInputsCell_4_Label_do69 {
	@include elemAutoHeight(20);
}
#cntRobotInputsCell_4_Label_do69 {
		z-index: 13;
}
#cntRobotInputsCell_4_Label_do70 {
	@include elemTop(182);
}
#cntRobotInputsCell_4_Label_do70 {
	@include elemLeft(35);
}
#cntRobotInputsCell_4_Label_do70 {
	@include elemAutoWidth(245);
}
#cntRobotInputsCell_4_Label_do70 {
	@include elemAutoHeight(20);
}
#cntRobotInputsCell_4_Label_do70 {
		z-index: 14;
}
#cntRobotInputsCell_4_Label_do71 {
	@include elemTop(212);
}
#cntRobotInputsCell_4_Label_do71 {
	@include elemLeft(35);
}
#cntRobotInputsCell_4_Label_do71 {
	@include elemAutoWidth(245);
}
#cntRobotInputsCell_4_Label_do71 {
	@include elemAutoHeight(20);
}
#cntRobotInputsCell_4_Label_do71 {
		z-index: 15;
}
#cntRobotInputsCell_4_Label_do72 {
	@include elemTop(242);
}
#cntRobotInputsCell_4_Label_do72 {
	@include elemLeft(35);
}
#cntRobotInputsCell_4_Label_do72 {
	@include elemAutoWidth(245);
}
#cntRobotInputsCell_4_Label_do72 {
	@include elemAutoHeight(20);
}
#cntRobotInputsCell_4_Label_do72 {
		z-index: 16;
}
#cntRobotInputsCell_4_Label_do73 {
	@include elemTop(272);
}
#cntRobotInputsCell_4_Label_do73 {
	@include elemLeft(35);
}
#cntRobotInputsCell_4_Label_do73 {
	@include elemAutoWidth(245);
}
#cntRobotInputsCell_4_Label_do73 {
	@include elemAutoHeight(20);
}
#cntRobotInputsCell_4_Label_do73 {
		z-index: 17;
}
#cntRobotInputsCell_4_NumericOutput5 {
	@include elemTop(35);
}
#cntRobotInputsCell_4_NumericOutput5 {
	@include elemLeft(0);
}
#cntRobotInputsCell_4_NumericOutput5 {
	@include elemAutoWidth(60);
}
#cntRobotInputsCell_4_NumericOutput5 {
	@include elemAutoHeight(20);
}
#cntRobotInputsCell_4_NumericOutput5 {
		z-index: 18;
}
#cntRobotInputsCell_4_NumericOutput5 {
		border-color: rgba(0, 0, 0, 1);
}
#cntRobotInputsCell_4_NumericOutput5 {
	input{
		color: rgba(0, 0, 0, 1);
	}
}
#cntRobotInputsCell_4_NumericOutput5 {
	span.breaseNumericOutput_unit{
		color: rgba(0, 0, 0, 1);
	}
}
#cntRobotInputsCell_4_NumericOutput5 {
	input{
		font-size: 14px;
	}
}
#cntRobotInputsCell_4_NumericOutput5 {
		margin: 0px;
}
#cntRobotInputsCell_4_CheckBox_RobotIn {
	@include elemTop(0);
}
#cntRobotInputsCell_4_CheckBox_RobotIn {
	@include elemLeft(250);
}
#cntRobotInputsCell_4_CheckBox_RobotIn {
	@include elemAutoWidth(45);
}
#cntRobotInputsCell_4_CheckBox_RobotIn {
	@include elemAutoHeight(45);
}
#cntRobotInputsCell_4_CheckBox_RobotIn {
		z-index: 1;
}
#cntRobotInputsCell_4_CheckBox_RobotIn {
	span{
	@include font-style-italic(true);
	}
}
#cntRobotInputsCell_4_CheckBox_RobotIn {
	&.checked:not(.disabled) svg{
		fill: rgba(255, 0, 0, 1);
	}
}
