#cntDigitalInputsCell_1_GridLine1 {
  top: 0px;
  position: absolute;
}

#cntDigitalInputsCell_1_GridLine1 {
  left: 0px;
  position: absolute;
}

#cntDigitalInputsCell_1_GridLine1 {
  width: 300px;
}

#cntDigitalInputsCell_1_GridLine1 {
  height: 540px;
}

#cntDigitalInputsCell_1_GridLine1 {
  z-index: 0;
}

#cntDigitalInputsCell_1_GridLine1 .container {
  padding: 5px 0px;
}

#cntDigitalInputsCell_1_GridLineItem1 {
  z-index: 0;
}

#cntDigitalInputsCell_1_GridLineItem1 {
  padding: 0px 10px 10px 10px;
}

#cntDigitalInputsCell_1_Label2 {
  height: 30px;
}

#cntDigitalInputsCell_1_Label2 {
  top: 0px;
  position: absolute;
}

#cntDigitalInputsCell_1_Label2 {
  left: 5px;
  position: absolute;
}

#cntDigitalInputsCell_1_Label2 {
  width: 265px;
}

#cntDigitalInputsCell_1_Label2 {
  z-index: 0;
}

#cntDigitalInputsCell_1_Label2 span {
  color: dimgray;
}

#cntDigitalInputsCell_1_Label2 {
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntDigitalInputsCell_1_Label2 span {
  text-decoration: underline;
}

#cntDigitalInputsCell_1_ImageList1 {
  top: 35px;
  position: absolute;
}

#cntDigitalInputsCell_1_ImageList1 {
  left: 5px;
  position: absolute;
}

#cntDigitalInputsCell_1_ImageList1 {
  width: 20px;
}

#cntDigitalInputsCell_1_ImageList1 {
  height: 20px;
}

#cntDigitalInputsCell_1_ImageList1 {
  z-index: 1;
}

#cntDigitalInputsCell_1_ImageList2 {
  top: 65px;
  position: absolute;
}

#cntDigitalInputsCell_1_ImageList2 {
  left: 5px;
  position: absolute;
}

#cntDigitalInputsCell_1_ImageList2 {
  width: 20px;
}

#cntDigitalInputsCell_1_ImageList2 {
  height: 20px;
}

#cntDigitalInputsCell_1_ImageList2 {
  z-index: 2;
}

#cntDigitalInputsCell_1_ImageList3 {
  top: 95px;
  position: absolute;
}

#cntDigitalInputsCell_1_ImageList3 {
  left: 5px;
  position: absolute;
}

#cntDigitalInputsCell_1_ImageList3 {
  width: 20px;
}

#cntDigitalInputsCell_1_ImageList3 {
  height: 20px;
}

#cntDigitalInputsCell_1_ImageList3 {
  z-index: 3;
}

#cntDigitalInputsCell_1_ImageList4 {
  top: 125px;
  position: absolute;
}

#cntDigitalInputsCell_1_ImageList4 {
  left: 5px;
  position: absolute;
}

#cntDigitalInputsCell_1_ImageList4 {
  width: 20px;
}

#cntDigitalInputsCell_1_ImageList4 {
  height: 20px;
}

#cntDigitalInputsCell_1_ImageList4 {
  z-index: 4;
}

#cntDigitalInputsCell_1_ImageList5 {
  top: 155px;
  position: absolute;
}

#cntDigitalInputsCell_1_ImageList5 {
  left: 5px;
  position: absolute;
}

#cntDigitalInputsCell_1_ImageList5 {
  width: 20px;
}

#cntDigitalInputsCell_1_ImageList5 {
  height: 20px;
}

#cntDigitalInputsCell_1_ImageList5 {
  z-index: 5;
}

#cntDigitalInputsCell_1_ImageList6 {
  top: 185px;
  position: absolute;
}

#cntDigitalInputsCell_1_ImageList6 {
  left: 5px;
  position: absolute;
}

#cntDigitalInputsCell_1_ImageList6 {
  width: 20px;
}

#cntDigitalInputsCell_1_ImageList6 {
  height: 20px;
}

#cntDigitalInputsCell_1_ImageList6 {
  z-index: 6;
}

#cntDigitalInputsCell_1_ImageList7 {
  top: 215px;
  position: absolute;
}

#cntDigitalInputsCell_1_ImageList7 {
  left: 5px;
  position: absolute;
}

#cntDigitalInputsCell_1_ImageList7 {
  width: 20px;
}

#cntDigitalInputsCell_1_ImageList7 {
  height: 20px;
}

#cntDigitalInputsCell_1_ImageList7 {
  z-index: 7;
}

#cntDigitalInputsCell_1_ImageList8 {
  top: 245px;
  position: absolute;
}

#cntDigitalInputsCell_1_ImageList8 {
  left: 5px;
  position: absolute;
}

#cntDigitalInputsCell_1_ImageList8 {
  width: 20px;
}

#cntDigitalInputsCell_1_ImageList8 {
  height: 20px;
}

#cntDigitalInputsCell_1_ImageList8 {
  z-index: 8;
}

#cntDigitalInputsCell_1_ImageList9 {
  top: 275px;
  position: absolute;
}

#cntDigitalInputsCell_1_ImageList9 {
  left: 5px;
  position: absolute;
}

#cntDigitalInputsCell_1_ImageList9 {
  width: 20px;
}

#cntDigitalInputsCell_1_ImageList9 {
  height: 20px;
}

#cntDigitalInputsCell_1_ImageList9 {
  z-index: 9;
}

#cntDigitalInputsCell_1_ImageList10 {
  top: 305px;
  position: absolute;
}

#cntDigitalInputsCell_1_ImageList10 {
  left: 5px;
  position: absolute;
}

#cntDigitalInputsCell_1_ImageList10 {
  width: 20px;
}

#cntDigitalInputsCell_1_ImageList10 {
  height: 20px;
}

#cntDigitalInputsCell_1_ImageList10 {
  z-index: 10;
}

#cntDigitalInputsCell_1_ImageList11 {
  top: 335px;
  position: absolute;
}

#cntDigitalInputsCell_1_ImageList11 {
  left: 5px;
  position: absolute;
}

#cntDigitalInputsCell_1_ImageList11 {
  width: 20px;
}

#cntDigitalInputsCell_1_ImageList11 {
  height: 20px;
}

#cntDigitalInputsCell_1_ImageList11 {
  z-index: 11;
}

#cntDigitalInputsCell_1_ImageList12 {
  top: 365px;
  position: absolute;
}

#cntDigitalInputsCell_1_ImageList12 {
  left: 5px;
  position: absolute;
}

#cntDigitalInputsCell_1_ImageList12 {
  width: 20px;
}

#cntDigitalInputsCell_1_ImageList12 {
  height: 20px;
}

#cntDigitalInputsCell_1_ImageList12 {
  z-index: 12;
}

#cntDigitalInputsCell_1_ImageList13 {
  top: 395px;
  position: absolute;
}

#cntDigitalInputsCell_1_ImageList13 {
  left: 5px;
  position: absolute;
}

#cntDigitalInputsCell_1_ImageList13 {
  width: 20px;
}

#cntDigitalInputsCell_1_ImageList13 {
  height: 20px;
}

#cntDigitalInputsCell_1_ImageList13 {
  z-index: 13;
}

#cntDigitalInputsCell_1_ImageList14 {
  top: 425px;
  position: absolute;
}

#cntDigitalInputsCell_1_ImageList14 {
  left: 5px;
  position: absolute;
}

#cntDigitalInputsCell_1_ImageList14 {
  width: 20px;
}

#cntDigitalInputsCell_1_ImageList14 {
  height: 20px;
}

#cntDigitalInputsCell_1_ImageList14 {
  z-index: 14;
}

#cntDigitalInputsCell_1_ImageList15 {
  top: 455px;
  position: absolute;
}

#cntDigitalInputsCell_1_ImageList15 {
  left: 5px;
  position: absolute;
}

#cntDigitalInputsCell_1_ImageList15 {
  width: 20px;
}

#cntDigitalInputsCell_1_ImageList15 {
  height: 20px;
}

#cntDigitalInputsCell_1_ImageList15 {
  z-index: 15;
}

#cntDigitalInputsCell_1_ImageList16 {
  top: 485px;
  position: absolute;
}

#cntDigitalInputsCell_1_ImageList16 {
  left: 5px;
  position: absolute;
}

#cntDigitalInputsCell_1_ImageList16 {
  width: 20px;
}

#cntDigitalInputsCell_1_ImageList16 {
  height: 20px;
}

#cntDigitalInputsCell_1_ImageList16 {
  z-index: 16;
}

#cntDigitalInputsCell_1_Label_di1 {
  top: 35px;
  position: absolute;
}

#cntDigitalInputsCell_1_Label_di1 {
  left: 35px;
  position: absolute;
}

#cntDigitalInputsCell_1_Label_di1 {
  width: 230px;
}

#cntDigitalInputsCell_1_Label_di1 {
  height: 20px;
}

#cntDigitalInputsCell_1_Label_di1 {
  z-index: 17;
}

#cntDigitalInputsCell_1_Label_di2 {
  top: 65px;
  position: absolute;
}

#cntDigitalInputsCell_1_Label_di2 {
  left: 35px;
  position: absolute;
}

#cntDigitalInputsCell_1_Label_di2 {
  width: 230px;
}

#cntDigitalInputsCell_1_Label_di2 {
  height: 20px;
}

#cntDigitalInputsCell_1_Label_di2 {
  z-index: 18;
}

#cntDigitalInputsCell_1_label_di3 {
  top: 95px;
  position: absolute;
}

#cntDigitalInputsCell_1_label_di3 {
  left: 35px;
  position: absolute;
}

#cntDigitalInputsCell_1_label_di3 {
  width: 230px;
}

#cntDigitalInputsCell_1_label_di3 {
  height: 20px;
}

#cntDigitalInputsCell_1_label_di3 {
  z-index: 19;
}

#cntDigitalInputsCell_1_Label_di4 {
  top: 125px;
  position: absolute;
}

#cntDigitalInputsCell_1_Label_di4 {
  left: 35px;
  position: absolute;
}

#cntDigitalInputsCell_1_Label_di4 {
  width: 230px;
}

#cntDigitalInputsCell_1_Label_di4 {
  height: 20px;
}

#cntDigitalInputsCell_1_Label_di4 {
  z-index: 20;
}

#cntDigitalInputsCell_1_label_di5 {
  top: 155px;
  position: absolute;
}

#cntDigitalInputsCell_1_label_di5 {
  left: 35px;
  position: absolute;
}

#cntDigitalInputsCell_1_label_di5 {
  width: 230px;
}

#cntDigitalInputsCell_1_label_di5 {
  height: 20px;
}

#cntDigitalInputsCell_1_label_di5 {
  z-index: 21;
}

#cntDigitalInputsCell_1_Label_di6 {
  top: 185px;
  position: absolute;
}

#cntDigitalInputsCell_1_Label_di6 {
  left: 35px;
  position: absolute;
}

#cntDigitalInputsCell_1_Label_di6 {
  width: 230px;
}

#cntDigitalInputsCell_1_Label_di6 {
  height: 20px;
}

#cntDigitalInputsCell_1_Label_di6 {
  z-index: 22;
}

#cntDigitalInputsCell_1_Label_di7 {
  top: 215px;
  position: absolute;
}

#cntDigitalInputsCell_1_Label_di7 {
  left: 35px;
  position: absolute;
}

#cntDigitalInputsCell_1_Label_di7 {
  width: 230px;
}

#cntDigitalInputsCell_1_Label_di7 {
  height: 20px;
}

#cntDigitalInputsCell_1_Label_di7 {
  z-index: 23;
}

#cntDigitalInputsCell_1_Label_di8 {
  top: 245px;
  position: absolute;
}

#cntDigitalInputsCell_1_Label_di8 {
  left: 35px;
  position: absolute;
}

#cntDigitalInputsCell_1_Label_di8 {
  width: 230px;
}

#cntDigitalInputsCell_1_Label_di8 {
  height: 20px;
}

#cntDigitalInputsCell_1_Label_di8 {
  z-index: 24;
}

#cntDigitalInputsCell_1_Label_di9 {
  top: 275px;
  position: absolute;
}

#cntDigitalInputsCell_1_Label_di9 {
  left: 35px;
  position: absolute;
}

#cntDigitalInputsCell_1_Label_di9 {
  width: 230px;
}

#cntDigitalInputsCell_1_Label_di9 {
  height: 20px;
}

#cntDigitalInputsCell_1_Label_di9 {
  z-index: 25;
}

#cntDigitalInputsCell_1_Label_di10 {
  top: 305px;
  position: absolute;
}

#cntDigitalInputsCell_1_Label_di10 {
  left: 35px;
  position: absolute;
}

#cntDigitalInputsCell_1_Label_di10 {
  width: 230px;
}

#cntDigitalInputsCell_1_Label_di10 {
  height: 20px;
}

#cntDigitalInputsCell_1_Label_di10 {
  z-index: 26;
}

#cntDigitalInputsCell_1_Label_di11 {
  top: 335px;
  position: absolute;
}

#cntDigitalInputsCell_1_Label_di11 {
  left: 35px;
  position: absolute;
}

#cntDigitalInputsCell_1_Label_di11 {
  width: 230px;
}

#cntDigitalInputsCell_1_Label_di11 {
  height: 20px;
}

#cntDigitalInputsCell_1_Label_di11 {
  z-index: 27;
}

#cntDigitalInputsCell_1_Label_di12 {
  top: 365px;
  position: absolute;
}

#cntDigitalInputsCell_1_Label_di12 {
  left: 35px;
  position: absolute;
}

#cntDigitalInputsCell_1_Label_di12 {
  width: 230px;
}

#cntDigitalInputsCell_1_Label_di12 {
  height: 20px;
}

#cntDigitalInputsCell_1_Label_di12 {
  z-index: 28;
}

#cntDigitalInputsCell_1_Label_di13 {
  top: 395px;
  position: absolute;
}

#cntDigitalInputsCell_1_Label_di13 {
  left: 35px;
  position: absolute;
}

#cntDigitalInputsCell_1_Label_di13 {
  width: 230px;
}

#cntDigitalInputsCell_1_Label_di13 {
  height: 20px;
}

#cntDigitalInputsCell_1_Label_di13 {
  z-index: 29;
}

#cntDigitalInputsCell_1_Label_di14 {
  top: 425px;
  position: absolute;
}

#cntDigitalInputsCell_1_Label_di14 {
  left: 35px;
  position: absolute;
}

#cntDigitalInputsCell_1_Label_di14 {
  width: 230px;
}

#cntDigitalInputsCell_1_Label_di14 {
  height: 20px;
}

#cntDigitalInputsCell_1_Label_di14 {
  z-index: 30;
}

#cntDigitalInputsCell_1_Label_di15 {
  top: 455px;
  position: absolute;
}

#cntDigitalInputsCell_1_Label_di15 {
  left: 35px;
  position: absolute;
}

#cntDigitalInputsCell_1_Label_di15 {
  width: 230px;
}

#cntDigitalInputsCell_1_Label_di15 {
  height: 20px;
}

#cntDigitalInputsCell_1_Label_di15 {
  z-index: 31;
}

#cntDigitalInputsCell_1_Label_di16 {
  top: 485px;
  position: absolute;
}

#cntDigitalInputsCell_1_Label_di16 {
  left: 35px;
  position: absolute;
}

#cntDigitalInputsCell_1_Label_di16 {
  width: 230px;
}

#cntDigitalInputsCell_1_Label_di16 {
  height: 20px;
}

#cntDigitalInputsCell_1_Label_di16 {
  z-index: 32;
}

#cntDigitalInputsCell_1_GridLineItem3 {
  z-index: 1;
}

#cntDigitalInputsCell_1_GridLineItem3 {
  padding: 0px 10px 10px 10px;
}

#cntDigitalInputsCell_1_Label3 {
  height: 30px;
}

#cntDigitalInputsCell_1_Label3 {
  top: 0px;
  position: absolute;
}

#cntDigitalInputsCell_1_Label3 {
  left: 5px;
  position: absolute;
}

#cntDigitalInputsCell_1_Label3 {
  width: 265px;
}

#cntDigitalInputsCell_1_Label3 {
  z-index: 0;
}

#cntDigitalInputsCell_1_Label3 span {
  color: dimgray;
}

#cntDigitalInputsCell_1_Label3 {
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntDigitalInputsCell_1_Label3 span {
  text-decoration: underline;
}

#cntDigitalInputsCell_1_ImageList17 {
  top: 35px;
  position: absolute;
}

#cntDigitalInputsCell_1_ImageList17 {
  left: 5px;
  position: absolute;
}

#cntDigitalInputsCell_1_ImageList17 {
  width: 20px;
}

#cntDigitalInputsCell_1_ImageList17 {
  height: 20px;
}

#cntDigitalInputsCell_1_ImageList17 {
  z-index: 1;
}

#cntDigitalInputsCell_1_ImageList18 {
  top: 65px;
  position: absolute;
}

#cntDigitalInputsCell_1_ImageList18 {
  left: 5px;
  position: absolute;
}

#cntDigitalInputsCell_1_ImageList18 {
  width: 20px;
}

#cntDigitalInputsCell_1_ImageList18 {
  height: 20px;
}

#cntDigitalInputsCell_1_ImageList18 {
  z-index: 2;
}

#cntDigitalInputsCell_1_ImageList19 {
  top: 95px;
  position: absolute;
}

#cntDigitalInputsCell_1_ImageList19 {
  left: 5px;
  position: absolute;
}

#cntDigitalInputsCell_1_ImageList19 {
  width: 20px;
}

#cntDigitalInputsCell_1_ImageList19 {
  height: 20px;
}

#cntDigitalInputsCell_1_ImageList19 {
  z-index: 3;
}

#cntDigitalInputsCell_1_ImageList20 {
  top: 125px;
  position: absolute;
}

#cntDigitalInputsCell_1_ImageList20 {
  left: 5px;
  position: absolute;
}

#cntDigitalInputsCell_1_ImageList20 {
  width: 20px;
}

#cntDigitalInputsCell_1_ImageList20 {
  height: 20px;
}

#cntDigitalInputsCell_1_ImageList20 {
  z-index: 4;
}

#cntDigitalInputsCell_1_ImageList21 {
  top: 155px;
  position: absolute;
}

#cntDigitalInputsCell_1_ImageList21 {
  left: 5px;
  position: absolute;
}

#cntDigitalInputsCell_1_ImageList21 {
  width: 20px;
}

#cntDigitalInputsCell_1_ImageList21 {
  height: 20px;
}

#cntDigitalInputsCell_1_ImageList21 {
  z-index: 5;
}

#cntDigitalInputsCell_1_ImageList22 {
  top: 185px;
  position: absolute;
}

#cntDigitalInputsCell_1_ImageList22 {
  left: 5px;
  position: absolute;
}

#cntDigitalInputsCell_1_ImageList22 {
  width: 20px;
}

#cntDigitalInputsCell_1_ImageList22 {
  height: 20px;
}

#cntDigitalInputsCell_1_ImageList22 {
  z-index: 6;
}

#cntDigitalInputsCell_1_ImageList23 {
  top: 215px;
  position: absolute;
}

#cntDigitalInputsCell_1_ImageList23 {
  left: 5px;
  position: absolute;
}

#cntDigitalInputsCell_1_ImageList23 {
  width: 20px;
}

#cntDigitalInputsCell_1_ImageList23 {
  height: 20px;
}

#cntDigitalInputsCell_1_ImageList23 {
  z-index: 7;
}

#cntDigitalInputsCell_1_ImageList24 {
  top: 245px;
  position: absolute;
}

#cntDigitalInputsCell_1_ImageList24 {
  left: 5px;
  position: absolute;
}

#cntDigitalInputsCell_1_ImageList24 {
  width: 20px;
}

#cntDigitalInputsCell_1_ImageList24 {
  height: 20px;
}

#cntDigitalInputsCell_1_ImageList24 {
  z-index: 8;
}

#cntDigitalInputsCell_1_ImageList25 {
  top: 275px;
  position: absolute;
}

#cntDigitalInputsCell_1_ImageList25 {
  left: 5px;
  position: absolute;
}

#cntDigitalInputsCell_1_ImageList25 {
  width: 20px;
}

#cntDigitalInputsCell_1_ImageList25 {
  height: 20px;
}

#cntDigitalInputsCell_1_ImageList25 {
  z-index: 9;
}

#cntDigitalInputsCell_1_ImageList26 {
  top: 305px;
  position: absolute;
}

#cntDigitalInputsCell_1_ImageList26 {
  left: 5px;
  position: absolute;
}

#cntDigitalInputsCell_1_ImageList26 {
  width: 20px;
}

#cntDigitalInputsCell_1_ImageList26 {
  height: 20px;
}

#cntDigitalInputsCell_1_ImageList26 {
  z-index: 10;
}

#cntDigitalInputsCell_1_ImageList27 {
  top: 335px;
  position: absolute;
}

#cntDigitalInputsCell_1_ImageList27 {
  left: 5px;
  position: absolute;
}

#cntDigitalInputsCell_1_ImageList27 {
  width: 20px;
}

#cntDigitalInputsCell_1_ImageList27 {
  height: 20px;
}

#cntDigitalInputsCell_1_ImageList27 {
  z-index: 11;
}

#cntDigitalInputsCell_1_ImageList28 {
  top: 365px;
  position: absolute;
}

#cntDigitalInputsCell_1_ImageList28 {
  left: 5px;
  position: absolute;
}

#cntDigitalInputsCell_1_ImageList28 {
  width: 20px;
}

#cntDigitalInputsCell_1_ImageList28 {
  height: 20px;
}

#cntDigitalInputsCell_1_ImageList28 {
  z-index: 12;
}

#cntDigitalInputsCell_1_ImageList29 {
  top: 395px;
  position: absolute;
}

#cntDigitalInputsCell_1_ImageList29 {
  left: 5px;
  position: absolute;
}

#cntDigitalInputsCell_1_ImageList29 {
  width: 20px;
}

#cntDigitalInputsCell_1_ImageList29 {
  height: 20px;
}

#cntDigitalInputsCell_1_ImageList29 {
  z-index: 13;
}

#cntDigitalInputsCell_1_ImageList30 {
  top: 425px;
  position: absolute;
}

#cntDigitalInputsCell_1_ImageList30 {
  left: 5px;
  position: absolute;
}

#cntDigitalInputsCell_1_ImageList30 {
  width: 20px;
}

#cntDigitalInputsCell_1_ImageList30 {
  height: 20px;
}

#cntDigitalInputsCell_1_ImageList30 {
  z-index: 14;
}

#cntDigitalInputsCell_1_ImageList31 {
  top: 455px;
  position: absolute;
}

#cntDigitalInputsCell_1_ImageList31 {
  left: 5px;
  position: absolute;
}

#cntDigitalInputsCell_1_ImageList31 {
  width: 20px;
}

#cntDigitalInputsCell_1_ImageList31 {
  height: 20px;
}

#cntDigitalInputsCell_1_ImageList31 {
  z-index: 15;
}

#cntDigitalInputsCell_1_ImageList32 {
  top: 485px;
  position: absolute;
}

#cntDigitalInputsCell_1_ImageList32 {
  left: 5px;
  position: absolute;
}

#cntDigitalInputsCell_1_ImageList32 {
  width: 20px;
}

#cntDigitalInputsCell_1_ImageList32 {
  height: 20px;
}

#cntDigitalInputsCell_1_ImageList32 {
  z-index: 16;
}

#cntDigitalInputsCell_1_Label_di17 {
  top: 35px;
  position: absolute;
}

#cntDigitalInputsCell_1_Label_di17 {
  left: 35px;
  position: absolute;
}

#cntDigitalInputsCell_1_Label_di17 {
  width: 230px;
}

#cntDigitalInputsCell_1_Label_di17 {
  height: 20px;
}

#cntDigitalInputsCell_1_Label_di17 {
  z-index: 17;
}

#cntDigitalInputsCell_1_Label_di17 {
  font-weight: normal;
}

#cntDigitalInputsCell_1_Label_di18 {
  top: 65px;
  position: absolute;
}

#cntDigitalInputsCell_1_Label_di18 {
  left: 35px;
  position: absolute;
}

#cntDigitalInputsCell_1_Label_di18 {
  width: 230px;
}

#cntDigitalInputsCell_1_Label_di18 {
  height: 20px;
}

#cntDigitalInputsCell_1_Label_di18 {
  z-index: 18;
}

#cntDigitalInputsCell_1_Label_di19 {
  top: 95px;
  position: absolute;
}

#cntDigitalInputsCell_1_Label_di19 {
  left: 35px;
  position: absolute;
}

#cntDigitalInputsCell_1_Label_di19 {
  width: 230px;
}

#cntDigitalInputsCell_1_Label_di19 {
  height: 20px;
}

#cntDigitalInputsCell_1_Label_di19 {
  z-index: 19;
}

#cntDigitalInputsCell_1_Label_di20 {
  top: 125px;
  position: absolute;
}

#cntDigitalInputsCell_1_Label_di20 {
  left: 35px;
  position: absolute;
}

#cntDigitalInputsCell_1_Label_di20 {
  width: 230px;
}

#cntDigitalInputsCell_1_Label_di20 {
  height: 20px;
}

#cntDigitalInputsCell_1_Label_di20 {
  z-index: 20;
}

#cntDigitalInputsCell_1_Label_di21 {
  top: 155px;
  position: absolute;
}

#cntDigitalInputsCell_1_Label_di21 {
  left: 35px;
  position: absolute;
}

#cntDigitalInputsCell_1_Label_di21 {
  width: 230px;
}

#cntDigitalInputsCell_1_Label_di21 {
  height: 20px;
}

#cntDigitalInputsCell_1_Label_di21 {
  z-index: 21;
}

#cntDigitalInputsCell_1_Label_di22 {
  top: 185px;
  position: absolute;
}

#cntDigitalInputsCell_1_Label_di22 {
  left: 35px;
  position: absolute;
}

#cntDigitalInputsCell_1_Label_di22 {
  width: 230px;
}

#cntDigitalInputsCell_1_Label_di22 {
  height: 20px;
}

#cntDigitalInputsCell_1_Label_di22 {
  z-index: 22;
}

#cntDigitalInputsCell_1_Label_di23 {
  top: 215px;
  position: absolute;
}

#cntDigitalInputsCell_1_Label_di23 {
  left: 35px;
  position: absolute;
}

#cntDigitalInputsCell_1_Label_di23 {
  width: 230px;
}

#cntDigitalInputsCell_1_Label_di23 {
  height: 20px;
}

#cntDigitalInputsCell_1_Label_di23 {
  z-index: 23;
}

#cntDigitalInputsCell_1_Label_di24 {
  top: 245px;
  position: absolute;
}

#cntDigitalInputsCell_1_Label_di24 {
  left: 35px;
  position: absolute;
}

#cntDigitalInputsCell_1_Label_di24 {
  width: 230px;
}

#cntDigitalInputsCell_1_Label_di24 {
  height: 20px;
}

#cntDigitalInputsCell_1_Label_di24 {
  z-index: 24;
}

#cntDigitalInputsCell_1_Label_di25 {
  top: 275px;
  position: absolute;
}

#cntDigitalInputsCell_1_Label_di25 {
  left: 35px;
  position: absolute;
}

#cntDigitalInputsCell_1_Label_di25 {
  width: 230px;
}

#cntDigitalInputsCell_1_Label_di25 {
  height: 20px;
}

#cntDigitalInputsCell_1_Label_di25 {
  z-index: 25;
}

#cntDigitalInputsCell_1_Label_di26 {
  top: 305px;
  position: absolute;
}

#cntDigitalInputsCell_1_Label_di26 {
  left: 35px;
  position: absolute;
}

#cntDigitalInputsCell_1_Label_di26 {
  width: 230px;
}

#cntDigitalInputsCell_1_Label_di26 {
  height: 20px;
}

#cntDigitalInputsCell_1_Label_di26 {
  z-index: 26;
}

#cntDigitalInputsCell_1_Label_di27 {
  top: 335px;
  position: absolute;
}

#cntDigitalInputsCell_1_Label_di27 {
  left: 35px;
  position: absolute;
}

#cntDigitalInputsCell_1_Label_di27 {
  width: 230px;
}

#cntDigitalInputsCell_1_Label_di27 {
  height: 20px;
}

#cntDigitalInputsCell_1_Label_di27 {
  z-index: 27;
}

#cntDigitalInputsCell_1_Label_di28 {
  top: 365px;
  position: absolute;
}

#cntDigitalInputsCell_1_Label_di28 {
  left: 35px;
  position: absolute;
}

#cntDigitalInputsCell_1_Label_di28 {
  width: 230px;
}

#cntDigitalInputsCell_1_Label_di28 {
  height: 20px;
}

#cntDigitalInputsCell_1_Label_di28 {
  z-index: 28;
}

#cntDigitalInputsCell_1_Label-di29 {
  top: 395px;
  position: absolute;
}

#cntDigitalInputsCell_1_Label-di29 {
  left: 35px;
  position: absolute;
}

#cntDigitalInputsCell_1_Label-di29 {
  width: 230px;
}

#cntDigitalInputsCell_1_Label-di29 {
  height: 20px;
}

#cntDigitalInputsCell_1_Label-di29 {
  z-index: 29;
}

#cntDigitalInputsCell_1_Label_di30 {
  top: 425px;
  position: absolute;
}

#cntDigitalInputsCell_1_Label_di30 {
  left: 35px;
  position: absolute;
}

#cntDigitalInputsCell_1_Label_di30 {
  width: 230px;
}

#cntDigitalInputsCell_1_Label_di30 {
  height: 20px;
}

#cntDigitalInputsCell_1_Label_di30 {
  z-index: 30;
}

#cntDigitalInputsCell_1_Label_di31 {
  top: 455px;
  position: absolute;
}

#cntDigitalInputsCell_1_Label_di31 {
  left: 35px;
  position: absolute;
}

#cntDigitalInputsCell_1_Label_di31 {
  width: 230px;
}

#cntDigitalInputsCell_1_Label_di31 {
  height: 20px;
}

#cntDigitalInputsCell_1_Label_di31 {
  z-index: 31;
}

#cntDigitalInputsCell_1_Label_di32 {
  top: 485px;
  position: absolute;
}

#cntDigitalInputsCell_1_Label_di32 {
  left: 35px;
  position: absolute;
}

#cntDigitalInputsCell_1_Label_di32 {
  width: 230px;
}

#cntDigitalInputsCell_1_Label_di32 {
  height: 20px;
}

#cntDigitalInputsCell_1_Label_di32 {
  z-index: 32;
}

#cntDigitalInputsCell_1_CheckBox_DigitalINput {
  top: 0px;
  position: absolute;
}

#cntDigitalInputsCell_1_CheckBox_DigitalINput {
  left: 250px;
  position: absolute;
}

#cntDigitalInputsCell_1_CheckBox_DigitalINput {
  width: 45px;
}

#cntDigitalInputsCell_1_CheckBox_DigitalINput {
  height: 45px;
}

#cntDigitalInputsCell_1_CheckBox_DigitalINput {
  z-index: 1;
}

#cntDigitalInputsCell_1_CheckBox_DigitalINput span {
  font-style: italic;
}

#cntDigitalInputsCell_1_CheckBox_DigitalINput {
  padding: 0px;
}

#cntDigitalInputsCell_1_CheckBox_DigitalINput.checked:not(.disabled) svg {
  fill: red;
}
