﻿@import "mixins.scss";
#cntDigitalInputsCell_1_GridLine1 {
	@include elemTop(0);
}
#cntDigitalInputsCell_1_GridLine1 {
	@include elemLeft(0);
}
#cntDigitalInputsCell_1_GridLine1 {
	@include elemWidth(300);
}
#cntDigitalInputsCell_1_GridLine1 {
	@include elemHeight(540);
}
#cntDigitalInputsCell_1_GridLine1 {
		z-index: 0;
}
#cntDigitalInputsCell_1_GridLine1 {
	.container{
		padding: 5px 0px;
	}
}
#cntDigitalInputsCell_1_GridLineItem1 {
		z-index: 0;
}
#cntDigitalInputsCell_1_GridLineItem1 {
		padding: 0px 10px 10px 10px;
}
#cntDigitalInputsCell_1_Label2 {
	@include elemAutoHeight(30);
}
#cntDigitalInputsCell_1_Label2 {
	@include elemTop(0);
}
#cntDigitalInputsCell_1_Label2 {
	@include elemLeft(5);
}
#cntDigitalInputsCell_1_Label2 {
	@include elemAutoWidth(265);
}
#cntDigitalInputsCell_1_Label2 {
		z-index: 0;
}
#cntDigitalInputsCell_1_Label2 {
	& span{
		color: rgba(105, 105, 105, 1);
	}
}
#cntDigitalInputsCell_1_Label2 {
	@include text-alignment-all('center');
}
#cntDigitalInputsCell_1_Label2 {
	span{
	@include text-decoration-underline(true);
	}
}
#cntDigitalInputsCell_1_ImageList1 {
	@include elemTop(35);
}
#cntDigitalInputsCell_1_ImageList1 {
	@include elemLeft(5);
}
#cntDigitalInputsCell_1_ImageList1 {
	@include elemWidth(20);
}
#cntDigitalInputsCell_1_ImageList1 {
	@include elemHeight(20);
}
#cntDigitalInputsCell_1_ImageList1 {
		z-index: 1;
}
#cntDigitalInputsCell_1_ImageList2 {
	@include elemTop(65);
}
#cntDigitalInputsCell_1_ImageList2 {
	@include elemLeft(5);
}
#cntDigitalInputsCell_1_ImageList2 {
	@include elemWidth(20);
}
#cntDigitalInputsCell_1_ImageList2 {
	@include elemHeight(20);
}
#cntDigitalInputsCell_1_ImageList2 {
		z-index: 2;
}
#cntDigitalInputsCell_1_ImageList3 {
	@include elemTop(95);
}
#cntDigitalInputsCell_1_ImageList3 {
	@include elemLeft(5);
}
#cntDigitalInputsCell_1_ImageList3 {
	@include elemWidth(20);
}
#cntDigitalInputsCell_1_ImageList3 {
	@include elemHeight(20);
}
#cntDigitalInputsCell_1_ImageList3 {
		z-index: 3;
}
#cntDigitalInputsCell_1_ImageList4 {
	@include elemTop(125);
}
#cntDigitalInputsCell_1_ImageList4 {
	@include elemLeft(5);
}
#cntDigitalInputsCell_1_ImageList4 {
	@include elemWidth(20);
}
#cntDigitalInputsCell_1_ImageList4 {
	@include elemHeight(20);
}
#cntDigitalInputsCell_1_ImageList4 {
		z-index: 4;
}
#cntDigitalInputsCell_1_ImageList5 {
	@include elemTop(155);
}
#cntDigitalInputsCell_1_ImageList5 {
	@include elemLeft(5);
}
#cntDigitalInputsCell_1_ImageList5 {
	@include elemWidth(20);
}
#cntDigitalInputsCell_1_ImageList5 {
	@include elemHeight(20);
}
#cntDigitalInputsCell_1_ImageList5 {
		z-index: 5;
}
#cntDigitalInputsCell_1_ImageList6 {
	@include elemTop(185);
}
#cntDigitalInputsCell_1_ImageList6 {
	@include elemLeft(5);
}
#cntDigitalInputsCell_1_ImageList6 {
	@include elemWidth(20);
}
#cntDigitalInputsCell_1_ImageList6 {
	@include elemHeight(20);
}
#cntDigitalInputsCell_1_ImageList6 {
		z-index: 6;
}
#cntDigitalInputsCell_1_ImageList7 {
	@include elemTop(215);
}
#cntDigitalInputsCell_1_ImageList7 {
	@include elemLeft(5);
}
#cntDigitalInputsCell_1_ImageList7 {
	@include elemWidth(20);
}
#cntDigitalInputsCell_1_ImageList7 {
	@include elemHeight(20);
}
#cntDigitalInputsCell_1_ImageList7 {
		z-index: 7;
}
#cntDigitalInputsCell_1_ImageList8 {
	@include elemTop(245);
}
#cntDigitalInputsCell_1_ImageList8 {
	@include elemLeft(5);
}
#cntDigitalInputsCell_1_ImageList8 {
	@include elemWidth(20);
}
#cntDigitalInputsCell_1_ImageList8 {
	@include elemHeight(20);
}
#cntDigitalInputsCell_1_ImageList8 {
		z-index: 8;
}
#cntDigitalInputsCell_1_ImageList9 {
	@include elemTop(275);
}
#cntDigitalInputsCell_1_ImageList9 {
	@include elemLeft(5);
}
#cntDigitalInputsCell_1_ImageList9 {
	@include elemWidth(20);
}
#cntDigitalInputsCell_1_ImageList9 {
	@include elemHeight(20);
}
#cntDigitalInputsCell_1_ImageList9 {
		z-index: 9;
}
#cntDigitalInputsCell_1_ImageList10 {
	@include elemTop(305);
}
#cntDigitalInputsCell_1_ImageList10 {
	@include elemLeft(5);
}
#cntDigitalInputsCell_1_ImageList10 {
	@include elemWidth(20);
}
#cntDigitalInputsCell_1_ImageList10 {
	@include elemHeight(20);
}
#cntDigitalInputsCell_1_ImageList10 {
		z-index: 10;
}
#cntDigitalInputsCell_1_ImageList11 {
	@include elemTop(335);
}
#cntDigitalInputsCell_1_ImageList11 {
	@include elemLeft(5);
}
#cntDigitalInputsCell_1_ImageList11 {
	@include elemWidth(20);
}
#cntDigitalInputsCell_1_ImageList11 {
	@include elemHeight(20);
}
#cntDigitalInputsCell_1_ImageList11 {
		z-index: 11;
}
#cntDigitalInputsCell_1_ImageList12 {
	@include elemTop(365);
}
#cntDigitalInputsCell_1_ImageList12 {
	@include elemLeft(5);
}
#cntDigitalInputsCell_1_ImageList12 {
	@include elemWidth(20);
}
#cntDigitalInputsCell_1_ImageList12 {
	@include elemHeight(20);
}
#cntDigitalInputsCell_1_ImageList12 {
		z-index: 12;
}
#cntDigitalInputsCell_1_ImageList13 {
	@include elemTop(395);
}
#cntDigitalInputsCell_1_ImageList13 {
	@include elemLeft(5);
}
#cntDigitalInputsCell_1_ImageList13 {
	@include elemWidth(20);
}
#cntDigitalInputsCell_1_ImageList13 {
	@include elemHeight(20);
}
#cntDigitalInputsCell_1_ImageList13 {
		z-index: 13;
}
#cntDigitalInputsCell_1_ImageList14 {
	@include elemTop(425);
}
#cntDigitalInputsCell_1_ImageList14 {
	@include elemLeft(5);
}
#cntDigitalInputsCell_1_ImageList14 {
	@include elemWidth(20);
}
#cntDigitalInputsCell_1_ImageList14 {
	@include elemHeight(20);
}
#cntDigitalInputsCell_1_ImageList14 {
		z-index: 14;
}
#cntDigitalInputsCell_1_ImageList15 {
	@include elemTop(455);
}
#cntDigitalInputsCell_1_ImageList15 {
	@include elemLeft(5);
}
#cntDigitalInputsCell_1_ImageList15 {
	@include elemWidth(20);
}
#cntDigitalInputsCell_1_ImageList15 {
	@include elemHeight(20);
}
#cntDigitalInputsCell_1_ImageList15 {
		z-index: 15;
}
#cntDigitalInputsCell_1_ImageList16 {
	@include elemTop(485);
}
#cntDigitalInputsCell_1_ImageList16 {
	@include elemLeft(5);
}
#cntDigitalInputsCell_1_ImageList16 {
	@include elemWidth(20);
}
#cntDigitalInputsCell_1_ImageList16 {
	@include elemHeight(20);
}
#cntDigitalInputsCell_1_ImageList16 {
		z-index: 16;
}
#cntDigitalInputsCell_1_Label_di1 {
	@include elemTop(35);
}
#cntDigitalInputsCell_1_Label_di1 {
	@include elemLeft(35);
}
#cntDigitalInputsCell_1_Label_di1 {
	@include elemAutoWidth(230);
}
#cntDigitalInputsCell_1_Label_di1 {
	@include elemAutoHeight(20);
}
#cntDigitalInputsCell_1_Label_di1 {
		z-index: 17;
}
#cntDigitalInputsCell_1_Label_di2 {
	@include elemTop(65);
}
#cntDigitalInputsCell_1_Label_di2 {
	@include elemLeft(35);
}
#cntDigitalInputsCell_1_Label_di2 {
	@include elemAutoWidth(230);
}
#cntDigitalInputsCell_1_Label_di2 {
	@include elemAutoHeight(20);
}
#cntDigitalInputsCell_1_Label_di2 {
		z-index: 18;
}
#cntDigitalInputsCell_1_label_di3 {
	@include elemTop(95);
}
#cntDigitalInputsCell_1_label_di3 {
	@include elemLeft(35);
}
#cntDigitalInputsCell_1_label_di3 {
	@include elemAutoWidth(230);
}
#cntDigitalInputsCell_1_label_di3 {
	@include elemAutoHeight(20);
}
#cntDigitalInputsCell_1_label_di3 {
		z-index: 19;
}
#cntDigitalInputsCell_1_Label_di4 {
	@include elemTop(125);
}
#cntDigitalInputsCell_1_Label_di4 {
	@include elemLeft(35);
}
#cntDigitalInputsCell_1_Label_di4 {
	@include elemAutoWidth(230);
}
#cntDigitalInputsCell_1_Label_di4 {
	@include elemAutoHeight(20);
}
#cntDigitalInputsCell_1_Label_di4 {
		z-index: 20;
}
#cntDigitalInputsCell_1_label_di5 {
	@include elemTop(155);
}
#cntDigitalInputsCell_1_label_di5 {
	@include elemLeft(35);
}
#cntDigitalInputsCell_1_label_di5 {
	@include elemAutoWidth(230);
}
#cntDigitalInputsCell_1_label_di5 {
	@include elemAutoHeight(20);
}
#cntDigitalInputsCell_1_label_di5 {
		z-index: 21;
}
#cntDigitalInputsCell_1_Label_di6 {
	@include elemTop(185);
}
#cntDigitalInputsCell_1_Label_di6 {
	@include elemLeft(35);
}
#cntDigitalInputsCell_1_Label_di6 {
	@include elemAutoWidth(230);
}
#cntDigitalInputsCell_1_Label_di6 {
	@include elemAutoHeight(20);
}
#cntDigitalInputsCell_1_Label_di6 {
		z-index: 22;
}
#cntDigitalInputsCell_1_Label_di7 {
	@include elemTop(215);
}
#cntDigitalInputsCell_1_Label_di7 {
	@include elemLeft(35);
}
#cntDigitalInputsCell_1_Label_di7 {
	@include elemAutoWidth(230);
}
#cntDigitalInputsCell_1_Label_di7 {
	@include elemAutoHeight(20);
}
#cntDigitalInputsCell_1_Label_di7 {
		z-index: 23;
}
#cntDigitalInputsCell_1_Label_di8 {
	@include elemTop(245);
}
#cntDigitalInputsCell_1_Label_di8 {
	@include elemLeft(35);
}
#cntDigitalInputsCell_1_Label_di8 {
	@include elemAutoWidth(230);
}
#cntDigitalInputsCell_1_Label_di8 {
	@include elemAutoHeight(20);
}
#cntDigitalInputsCell_1_Label_di8 {
		z-index: 24;
}
#cntDigitalInputsCell_1_Label_di9 {
	@include elemTop(275);
}
#cntDigitalInputsCell_1_Label_di9 {
	@include elemLeft(35);
}
#cntDigitalInputsCell_1_Label_di9 {
	@include elemAutoWidth(230);
}
#cntDigitalInputsCell_1_Label_di9 {
	@include elemAutoHeight(20);
}
#cntDigitalInputsCell_1_Label_di9 {
		z-index: 25;
}
#cntDigitalInputsCell_1_Label_di10 {
	@include elemTop(305);
}
#cntDigitalInputsCell_1_Label_di10 {
	@include elemLeft(35);
}
#cntDigitalInputsCell_1_Label_di10 {
	@include elemAutoWidth(230);
}
#cntDigitalInputsCell_1_Label_di10 {
	@include elemAutoHeight(20);
}
#cntDigitalInputsCell_1_Label_di10 {
		z-index: 26;
}
#cntDigitalInputsCell_1_Label_di11 {
	@include elemTop(335);
}
#cntDigitalInputsCell_1_Label_di11 {
	@include elemLeft(35);
}
#cntDigitalInputsCell_1_Label_di11 {
	@include elemAutoWidth(230);
}
#cntDigitalInputsCell_1_Label_di11 {
	@include elemAutoHeight(20);
}
#cntDigitalInputsCell_1_Label_di11 {
		z-index: 27;
}
#cntDigitalInputsCell_1_Label_di12 {
	@include elemTop(365);
}
#cntDigitalInputsCell_1_Label_di12 {
	@include elemLeft(35);
}
#cntDigitalInputsCell_1_Label_di12 {
	@include elemAutoWidth(230);
}
#cntDigitalInputsCell_1_Label_di12 {
	@include elemAutoHeight(20);
}
#cntDigitalInputsCell_1_Label_di12 {
		z-index: 28;
}
#cntDigitalInputsCell_1_Label_di13 {
	@include elemTop(395);
}
#cntDigitalInputsCell_1_Label_di13 {
	@include elemLeft(35);
}
#cntDigitalInputsCell_1_Label_di13 {
	@include elemAutoWidth(230);
}
#cntDigitalInputsCell_1_Label_di13 {
	@include elemAutoHeight(20);
}
#cntDigitalInputsCell_1_Label_di13 {
		z-index: 29;
}
#cntDigitalInputsCell_1_Label_di14 {
	@include elemTop(425);
}
#cntDigitalInputsCell_1_Label_di14 {
	@include elemLeft(35);
}
#cntDigitalInputsCell_1_Label_di14 {
	@include elemAutoWidth(230);
}
#cntDigitalInputsCell_1_Label_di14 {
	@include elemAutoHeight(20);
}
#cntDigitalInputsCell_1_Label_di14 {
		z-index: 30;
}
#cntDigitalInputsCell_1_Label_di15 {
	@include elemTop(455);
}
#cntDigitalInputsCell_1_Label_di15 {
	@include elemLeft(35);
}
#cntDigitalInputsCell_1_Label_di15 {
	@include elemAutoWidth(230);
}
#cntDigitalInputsCell_1_Label_di15 {
	@include elemAutoHeight(20);
}
#cntDigitalInputsCell_1_Label_di15 {
		z-index: 31;
}
#cntDigitalInputsCell_1_Label_di16 {
	@include elemTop(485);
}
#cntDigitalInputsCell_1_Label_di16 {
	@include elemLeft(35);
}
#cntDigitalInputsCell_1_Label_di16 {
	@include elemAutoWidth(230);
}
#cntDigitalInputsCell_1_Label_di16 {
	@include elemAutoHeight(20);
}
#cntDigitalInputsCell_1_Label_di16 {
		z-index: 32;
}
#cntDigitalInputsCell_1_GridLineItem3 {
		z-index: 1;
}
#cntDigitalInputsCell_1_GridLineItem3 {
		padding: 0px 10px 10px 10px;
}
#cntDigitalInputsCell_1_Label3 {
	@include elemAutoHeight(30);
}
#cntDigitalInputsCell_1_Label3 {
	@include elemTop(0);
}
#cntDigitalInputsCell_1_Label3 {
	@include elemLeft(5);
}
#cntDigitalInputsCell_1_Label3 {
	@include elemAutoWidth(265);
}
#cntDigitalInputsCell_1_Label3 {
		z-index: 0;
}
#cntDigitalInputsCell_1_Label3 {
	& span{
		color: rgba(105, 105, 105, 1);
	}
}
#cntDigitalInputsCell_1_Label3 {
	@include text-alignment-all('center');
}
#cntDigitalInputsCell_1_Label3 {
	span{
	@include text-decoration-underline(true);
	}
}
#cntDigitalInputsCell_1_ImageList17 {
	@include elemTop(35);
}
#cntDigitalInputsCell_1_ImageList17 {
	@include elemLeft(5);
}
#cntDigitalInputsCell_1_ImageList17 {
	@include elemWidth(20);
}
#cntDigitalInputsCell_1_ImageList17 {
	@include elemHeight(20);
}
#cntDigitalInputsCell_1_ImageList17 {
		z-index: 1;
}
#cntDigitalInputsCell_1_ImageList18 {
	@include elemTop(65);
}
#cntDigitalInputsCell_1_ImageList18 {
	@include elemLeft(5);
}
#cntDigitalInputsCell_1_ImageList18 {
	@include elemWidth(20);
}
#cntDigitalInputsCell_1_ImageList18 {
	@include elemHeight(20);
}
#cntDigitalInputsCell_1_ImageList18 {
		z-index: 2;
}
#cntDigitalInputsCell_1_ImageList19 {
	@include elemTop(95);
}
#cntDigitalInputsCell_1_ImageList19 {
	@include elemLeft(5);
}
#cntDigitalInputsCell_1_ImageList19 {
	@include elemWidth(20);
}
#cntDigitalInputsCell_1_ImageList19 {
	@include elemHeight(20);
}
#cntDigitalInputsCell_1_ImageList19 {
		z-index: 3;
}
#cntDigitalInputsCell_1_ImageList20 {
	@include elemTop(125);
}
#cntDigitalInputsCell_1_ImageList20 {
	@include elemLeft(5);
}
#cntDigitalInputsCell_1_ImageList20 {
	@include elemWidth(20);
}
#cntDigitalInputsCell_1_ImageList20 {
	@include elemHeight(20);
}
#cntDigitalInputsCell_1_ImageList20 {
		z-index: 4;
}
#cntDigitalInputsCell_1_ImageList21 {
	@include elemTop(155);
}
#cntDigitalInputsCell_1_ImageList21 {
	@include elemLeft(5);
}
#cntDigitalInputsCell_1_ImageList21 {
	@include elemWidth(20);
}
#cntDigitalInputsCell_1_ImageList21 {
	@include elemHeight(20);
}
#cntDigitalInputsCell_1_ImageList21 {
		z-index: 5;
}
#cntDigitalInputsCell_1_ImageList22 {
	@include elemTop(185);
}
#cntDigitalInputsCell_1_ImageList22 {
	@include elemLeft(5);
}
#cntDigitalInputsCell_1_ImageList22 {
	@include elemWidth(20);
}
#cntDigitalInputsCell_1_ImageList22 {
	@include elemHeight(20);
}
#cntDigitalInputsCell_1_ImageList22 {
		z-index: 6;
}
#cntDigitalInputsCell_1_ImageList23 {
	@include elemTop(215);
}
#cntDigitalInputsCell_1_ImageList23 {
	@include elemLeft(5);
}
#cntDigitalInputsCell_1_ImageList23 {
	@include elemWidth(20);
}
#cntDigitalInputsCell_1_ImageList23 {
	@include elemHeight(20);
}
#cntDigitalInputsCell_1_ImageList23 {
		z-index: 7;
}
#cntDigitalInputsCell_1_ImageList24 {
	@include elemTop(245);
}
#cntDigitalInputsCell_1_ImageList24 {
	@include elemLeft(5);
}
#cntDigitalInputsCell_1_ImageList24 {
	@include elemWidth(20);
}
#cntDigitalInputsCell_1_ImageList24 {
	@include elemHeight(20);
}
#cntDigitalInputsCell_1_ImageList24 {
		z-index: 8;
}
#cntDigitalInputsCell_1_ImageList25 {
	@include elemTop(275);
}
#cntDigitalInputsCell_1_ImageList25 {
	@include elemLeft(5);
}
#cntDigitalInputsCell_1_ImageList25 {
	@include elemWidth(20);
}
#cntDigitalInputsCell_1_ImageList25 {
	@include elemHeight(20);
}
#cntDigitalInputsCell_1_ImageList25 {
		z-index: 9;
}
#cntDigitalInputsCell_1_ImageList26 {
	@include elemTop(305);
}
#cntDigitalInputsCell_1_ImageList26 {
	@include elemLeft(5);
}
#cntDigitalInputsCell_1_ImageList26 {
	@include elemWidth(20);
}
#cntDigitalInputsCell_1_ImageList26 {
	@include elemHeight(20);
}
#cntDigitalInputsCell_1_ImageList26 {
		z-index: 10;
}
#cntDigitalInputsCell_1_ImageList27 {
	@include elemTop(335);
}
#cntDigitalInputsCell_1_ImageList27 {
	@include elemLeft(5);
}
#cntDigitalInputsCell_1_ImageList27 {
	@include elemWidth(20);
}
#cntDigitalInputsCell_1_ImageList27 {
	@include elemHeight(20);
}
#cntDigitalInputsCell_1_ImageList27 {
		z-index: 11;
}
#cntDigitalInputsCell_1_ImageList28 {
	@include elemTop(365);
}
#cntDigitalInputsCell_1_ImageList28 {
	@include elemLeft(5);
}
#cntDigitalInputsCell_1_ImageList28 {
	@include elemWidth(20);
}
#cntDigitalInputsCell_1_ImageList28 {
	@include elemHeight(20);
}
#cntDigitalInputsCell_1_ImageList28 {
		z-index: 12;
}
#cntDigitalInputsCell_1_ImageList29 {
	@include elemTop(395);
}
#cntDigitalInputsCell_1_ImageList29 {
	@include elemLeft(5);
}
#cntDigitalInputsCell_1_ImageList29 {
	@include elemWidth(20);
}
#cntDigitalInputsCell_1_ImageList29 {
	@include elemHeight(20);
}
#cntDigitalInputsCell_1_ImageList29 {
		z-index: 13;
}
#cntDigitalInputsCell_1_ImageList30 {
	@include elemTop(425);
}
#cntDigitalInputsCell_1_ImageList30 {
	@include elemLeft(5);
}
#cntDigitalInputsCell_1_ImageList30 {
	@include elemWidth(20);
}
#cntDigitalInputsCell_1_ImageList30 {
	@include elemHeight(20);
}
#cntDigitalInputsCell_1_ImageList30 {
		z-index: 14;
}
#cntDigitalInputsCell_1_ImageList31 {
	@include elemTop(455);
}
#cntDigitalInputsCell_1_ImageList31 {
	@include elemLeft(5);
}
#cntDigitalInputsCell_1_ImageList31 {
	@include elemWidth(20);
}
#cntDigitalInputsCell_1_ImageList31 {
	@include elemHeight(20);
}
#cntDigitalInputsCell_1_ImageList31 {
		z-index: 15;
}
#cntDigitalInputsCell_1_ImageList32 {
	@include elemTop(485);
}
#cntDigitalInputsCell_1_ImageList32 {
	@include elemLeft(5);
}
#cntDigitalInputsCell_1_ImageList32 {
	@include elemWidth(20);
}
#cntDigitalInputsCell_1_ImageList32 {
	@include elemHeight(20);
}
#cntDigitalInputsCell_1_ImageList32 {
		z-index: 16;
}
#cntDigitalInputsCell_1_Label_di17 {
	@include elemTop(35);
}
#cntDigitalInputsCell_1_Label_di17 {
	@include elemLeft(35);
}
#cntDigitalInputsCell_1_Label_di17 {
	@include elemAutoWidth(230);
}
#cntDigitalInputsCell_1_Label_di17 {
	@include elemAutoHeight(20);
}
#cntDigitalInputsCell_1_Label_di17 {
		z-index: 17;
}
#cntDigitalInputsCell_1_Label_di17 {
	@include font-weight-bold(false);
}
#cntDigitalInputsCell_1_Label_di18 {
	@include elemTop(65);
}
#cntDigitalInputsCell_1_Label_di18 {
	@include elemLeft(35);
}
#cntDigitalInputsCell_1_Label_di18 {
	@include elemAutoWidth(230);
}
#cntDigitalInputsCell_1_Label_di18 {
	@include elemAutoHeight(20);
}
#cntDigitalInputsCell_1_Label_di18 {
		z-index: 18;
}
#cntDigitalInputsCell_1_Label_di19 {
	@include elemTop(95);
}
#cntDigitalInputsCell_1_Label_di19 {
	@include elemLeft(35);
}
#cntDigitalInputsCell_1_Label_di19 {
	@include elemAutoWidth(230);
}
#cntDigitalInputsCell_1_Label_di19 {
	@include elemAutoHeight(20);
}
#cntDigitalInputsCell_1_Label_di19 {
		z-index: 19;
}
#cntDigitalInputsCell_1_Label_di20 {
	@include elemTop(125);
}
#cntDigitalInputsCell_1_Label_di20 {
	@include elemLeft(35);
}
#cntDigitalInputsCell_1_Label_di20 {
	@include elemAutoWidth(230);
}
#cntDigitalInputsCell_1_Label_di20 {
	@include elemAutoHeight(20);
}
#cntDigitalInputsCell_1_Label_di20 {
		z-index: 20;
}
#cntDigitalInputsCell_1_Label_di21 {
	@include elemTop(155);
}
#cntDigitalInputsCell_1_Label_di21 {
	@include elemLeft(35);
}
#cntDigitalInputsCell_1_Label_di21 {
	@include elemAutoWidth(230);
}
#cntDigitalInputsCell_1_Label_di21 {
	@include elemAutoHeight(20);
}
#cntDigitalInputsCell_1_Label_di21 {
		z-index: 21;
}
#cntDigitalInputsCell_1_Label_di22 {
	@include elemTop(185);
}
#cntDigitalInputsCell_1_Label_di22 {
	@include elemLeft(35);
}
#cntDigitalInputsCell_1_Label_di22 {
	@include elemAutoWidth(230);
}
#cntDigitalInputsCell_1_Label_di22 {
	@include elemAutoHeight(20);
}
#cntDigitalInputsCell_1_Label_di22 {
		z-index: 22;
}
#cntDigitalInputsCell_1_Label_di23 {
	@include elemTop(215);
}
#cntDigitalInputsCell_1_Label_di23 {
	@include elemLeft(35);
}
#cntDigitalInputsCell_1_Label_di23 {
	@include elemAutoWidth(230);
}
#cntDigitalInputsCell_1_Label_di23 {
	@include elemAutoHeight(20);
}
#cntDigitalInputsCell_1_Label_di23 {
		z-index: 23;
}
#cntDigitalInputsCell_1_Label_di24 {
	@include elemTop(245);
}
#cntDigitalInputsCell_1_Label_di24 {
	@include elemLeft(35);
}
#cntDigitalInputsCell_1_Label_di24 {
	@include elemAutoWidth(230);
}
#cntDigitalInputsCell_1_Label_di24 {
	@include elemAutoHeight(20);
}
#cntDigitalInputsCell_1_Label_di24 {
		z-index: 24;
}
#cntDigitalInputsCell_1_Label_di25 {
	@include elemTop(275);
}
#cntDigitalInputsCell_1_Label_di25 {
	@include elemLeft(35);
}
#cntDigitalInputsCell_1_Label_di25 {
	@include elemAutoWidth(230);
}
#cntDigitalInputsCell_1_Label_di25 {
	@include elemAutoHeight(20);
}
#cntDigitalInputsCell_1_Label_di25 {
		z-index: 25;
}
#cntDigitalInputsCell_1_Label_di26 {
	@include elemTop(305);
}
#cntDigitalInputsCell_1_Label_di26 {
	@include elemLeft(35);
}
#cntDigitalInputsCell_1_Label_di26 {
	@include elemAutoWidth(230);
}
#cntDigitalInputsCell_1_Label_di26 {
	@include elemAutoHeight(20);
}
#cntDigitalInputsCell_1_Label_di26 {
		z-index: 26;
}
#cntDigitalInputsCell_1_Label_di27 {
	@include elemTop(335);
}
#cntDigitalInputsCell_1_Label_di27 {
	@include elemLeft(35);
}
#cntDigitalInputsCell_1_Label_di27 {
	@include elemAutoWidth(230);
}
#cntDigitalInputsCell_1_Label_di27 {
	@include elemAutoHeight(20);
}
#cntDigitalInputsCell_1_Label_di27 {
		z-index: 27;
}
#cntDigitalInputsCell_1_Label_di28 {
	@include elemTop(365);
}
#cntDigitalInputsCell_1_Label_di28 {
	@include elemLeft(35);
}
#cntDigitalInputsCell_1_Label_di28 {
	@include elemAutoWidth(230);
}
#cntDigitalInputsCell_1_Label_di28 {
	@include elemAutoHeight(20);
}
#cntDigitalInputsCell_1_Label_di28 {
		z-index: 28;
}
#cntDigitalInputsCell_1_Label-di29 {
	@include elemTop(395);
}
#cntDigitalInputsCell_1_Label-di29 {
	@include elemLeft(35);
}
#cntDigitalInputsCell_1_Label-di29 {
	@include elemAutoWidth(230);
}
#cntDigitalInputsCell_1_Label-di29 {
	@include elemAutoHeight(20);
}
#cntDigitalInputsCell_1_Label-di29 {
		z-index: 29;
}
#cntDigitalInputsCell_1_Label_di30 {
	@include elemTop(425);
}
#cntDigitalInputsCell_1_Label_di30 {
	@include elemLeft(35);
}
#cntDigitalInputsCell_1_Label_di30 {
	@include elemAutoWidth(230);
}
#cntDigitalInputsCell_1_Label_di30 {
	@include elemAutoHeight(20);
}
#cntDigitalInputsCell_1_Label_di30 {
		z-index: 30;
}
#cntDigitalInputsCell_1_Label_di31 {
	@include elemTop(455);
}
#cntDigitalInputsCell_1_Label_di31 {
	@include elemLeft(35);
}
#cntDigitalInputsCell_1_Label_di31 {
	@include elemAutoWidth(230);
}
#cntDigitalInputsCell_1_Label_di31 {
	@include elemAutoHeight(20);
}
#cntDigitalInputsCell_1_Label_di31 {
		z-index: 31;
}
#cntDigitalInputsCell_1_Label_di32 {
	@include elemTop(485);
}
#cntDigitalInputsCell_1_Label_di32 {
	@include elemLeft(35);
}
#cntDigitalInputsCell_1_Label_di32 {
	@include elemAutoWidth(230);
}
#cntDigitalInputsCell_1_Label_di32 {
	@include elemAutoHeight(20);
}
#cntDigitalInputsCell_1_Label_di32 {
		z-index: 32;
}
#cntDigitalInputsCell_1_CheckBox_DigitalINput {
	@include elemTop(0);
}
#cntDigitalInputsCell_1_CheckBox_DigitalINput {
	@include elemLeft(250);
}
#cntDigitalInputsCell_1_CheckBox_DigitalINput {
	@include elemAutoWidth(45);
}
#cntDigitalInputsCell_1_CheckBox_DigitalINput {
	@include elemAutoHeight(45);
}
#cntDigitalInputsCell_1_CheckBox_DigitalINput {
		z-index: 1;
}
#cntDigitalInputsCell_1_CheckBox_DigitalINput {
	span{
	@include font-style-italic(true);
	}
}
#cntDigitalInputsCell_1_CheckBox_DigitalINput {
		padding: 0px;
}
#cntDigitalInputsCell_1_CheckBox_DigitalINput {
	&.checked:not(.disabled) svg{
		fill: rgba(255, 0, 0, 1);
	}
}
