﻿@import "mixins.scss";
#cntRobotOutputsCell_3_GridLine1 {
	@include elemTop(0);
}
#cntRobotOutputsCell_3_GridLine1 {
	@include elemLeft(0);
}
#cntRobotOutputsCell_3_GridLine1 {
	@include elemWidth(300);
}
#cntRobotOutputsCell_3_GridLine1 {
	@include elemHeight(540);
}
#cntRobotOutputsCell_3_GridLine1 {
		z-index: 0;
}
#cntRobotOutputsCell_3_GridLine1 {
	.container{
		padding: 5px 0px;
	}
}
#cntRobotOutputsCell_3_GridLineItem1 {
		z-index: 0;
}
#cntRobotOutputsCell_3_GridLineItem1 {
		padding: 0px 10px 10px 10px;
}
#cntRobotOutputsCell_3_ImageList47 {
	@include elemTop(32);
}
#cntRobotOutputsCell_3_ImageList47 {
	@include elemLeft(5);
}
#cntRobotOutputsCell_3_ImageList47 {
	@include elemWidth(20);
}
#cntRobotOutputsCell_3_ImageList47 {
	@include elemHeight(20);
}
#cntRobotOutputsCell_3_ImageList47 {
		z-index: 0;
}
#cntRobotOutputsCell_3_ImageList48 {
	@include elemTop(62);
}
#cntRobotOutputsCell_3_ImageList48 {
	@include elemLeft(5);
}
#cntRobotOutputsCell_3_ImageList48 {
	@include elemWidth(20);
}
#cntRobotOutputsCell_3_ImageList48 {
	@include elemHeight(20);
}
#cntRobotOutputsCell_3_ImageList48 {
		z-index: 1;
}
#cntRobotOutputsCell_3_ImageList49 {
	@include elemTop(92);
}
#cntRobotOutputsCell_3_ImageList49 {
	@include elemLeft(5);
}
#cntRobotOutputsCell_3_ImageList49 {
	@include elemWidth(20);
}
#cntRobotOutputsCell_3_ImageList49 {
	@include elemHeight(20);
}
#cntRobotOutputsCell_3_ImageList49 {
		z-index: 2;
}
#cntRobotOutputsCell_3_ImageList50 {
	@include elemTop(122);
}
#cntRobotOutputsCell_3_ImageList50 {
	@include elemLeft(5);
}
#cntRobotOutputsCell_3_ImageList50 {
	@include elemWidth(20);
}
#cntRobotOutputsCell_3_ImageList50 {
	@include elemHeight(20);
}
#cntRobotOutputsCell_3_ImageList50 {
		z-index: 3;
}
#cntRobotOutputsCell_3_ImageList51 {
	@include elemTop(152);
}
#cntRobotOutputsCell_3_ImageList51 {
	@include elemLeft(5);
}
#cntRobotOutputsCell_3_ImageList51 {
	@include elemWidth(20);
}
#cntRobotOutputsCell_3_ImageList51 {
	@include elemHeight(20);
}
#cntRobotOutputsCell_3_ImageList51 {
		z-index: 4;
}
#cntRobotOutputsCell_3_ImageList52 {
	@include elemTop(182);
}
#cntRobotOutputsCell_3_ImageList52 {
	@include elemLeft(5);
}
#cntRobotOutputsCell_3_ImageList52 {
	@include elemWidth(20);
}
#cntRobotOutputsCell_3_ImageList52 {
	@include elemHeight(20);
}
#cntRobotOutputsCell_3_ImageList52 {
		z-index: 5;
}
#cntRobotOutputsCell_3_ImageList53 {
	@include elemTop(212);
}
#cntRobotOutputsCell_3_ImageList53 {
	@include elemLeft(5);
}
#cntRobotOutputsCell_3_ImageList53 {
	@include elemWidth(20);
}
#cntRobotOutputsCell_3_ImageList53 {
	@include elemHeight(20);
}
#cntRobotOutputsCell_3_ImageList53 {
		z-index: 6;
}
#cntRobotOutputsCell_3_ImageList54 {
	@include elemTop(242);
}
#cntRobotOutputsCell_3_ImageList54 {
	@include elemLeft(5);
}
#cntRobotOutputsCell_3_ImageList54 {
	@include elemWidth(20);
}
#cntRobotOutputsCell_3_ImageList54 {
	@include elemHeight(20);
}
#cntRobotOutputsCell_3_ImageList54 {
		z-index: 7;
}
#cntRobotOutputsCell_3_ImageList55 {
	@include elemTop(272);
}
#cntRobotOutputsCell_3_ImageList55 {
	@include elemLeft(5);
}
#cntRobotOutputsCell_3_ImageList55 {
	@include elemWidth(20);
}
#cntRobotOutputsCell_3_ImageList55 {
	@include elemHeight(20);
}
#cntRobotOutputsCell_3_ImageList55 {
		z-index: 8;
}
#cntRobotOutputsCell_3_ImageList56 {
	@include elemTop(302);
}
#cntRobotOutputsCell_3_ImageList56 {
	@include elemLeft(5);
}
#cntRobotOutputsCell_3_ImageList56 {
	@include elemWidth(20);
}
#cntRobotOutputsCell_3_ImageList56 {
	@include elemHeight(20);
}
#cntRobotOutputsCell_3_ImageList56 {
		z-index: 9;
}
#cntRobotOutputsCell_3_ImageList57 {
	@include elemTop(332);
}
#cntRobotOutputsCell_3_ImageList57 {
	@include elemLeft(5);
}
#cntRobotOutputsCell_3_ImageList57 {
	@include elemWidth(20);
}
#cntRobotOutputsCell_3_ImageList57 {
	@include elemHeight(20);
}
#cntRobotOutputsCell_3_ImageList57 {
		z-index: 10;
}
#cntRobotOutputsCell_3_ImageList58 {
	@include elemTop(362);
}
#cntRobotOutputsCell_3_ImageList58 {
	@include elemLeft(5);
}
#cntRobotOutputsCell_3_ImageList58 {
	@include elemWidth(20);
}
#cntRobotOutputsCell_3_ImageList58 {
	@include elemHeight(20);
}
#cntRobotOutputsCell_3_ImageList58 {
		z-index: 11;
}
#cntRobotOutputsCell_3_ImageList59 {
	@include elemTop(392);
}
#cntRobotOutputsCell_3_ImageList59 {
	@include elemLeft(5);
}
#cntRobotOutputsCell_3_ImageList59 {
	@include elemWidth(20);
}
#cntRobotOutputsCell_3_ImageList59 {
	@include elemHeight(20);
}
#cntRobotOutputsCell_3_ImageList59 {
		z-index: 12;
}
#cntRobotOutputsCell_3_ImageList60 {
	@include elemTop(422);
}
#cntRobotOutputsCell_3_ImageList60 {
	@include elemLeft(5);
}
#cntRobotOutputsCell_3_ImageList60 {
	@include elemWidth(20);
}
#cntRobotOutputsCell_3_ImageList60 {
	@include elemHeight(20);
}
#cntRobotOutputsCell_3_ImageList60 {
		z-index: 13;
}
#cntRobotOutputsCell_3_ImageList61 {
	@include elemTop(452);
}
#cntRobotOutputsCell_3_ImageList61 {
	@include elemLeft(5);
}
#cntRobotOutputsCell_3_ImageList61 {
	@include elemWidth(20);
}
#cntRobotOutputsCell_3_ImageList61 {
	@include elemHeight(20);
}
#cntRobotOutputsCell_3_ImageList61 {
		z-index: 14;
}
#cntRobotOutputsCell_3_ImageList62 {
	@include elemTop(482);
}
#cntRobotOutputsCell_3_ImageList62 {
	@include elemLeft(5);
}
#cntRobotOutputsCell_3_ImageList62 {
	@include elemWidth(20);
}
#cntRobotOutputsCell_3_ImageList62 {
	@include elemHeight(20);
}
#cntRobotOutputsCell_3_ImageList62 {
		z-index: 15;
}
#cntRobotOutputsCell_3_Label4 {
	@include elemTop(8);
}
#cntRobotOutputsCell_3_Label4 {
	@include elemLeft(50);
}
#cntRobotOutputsCell_3_Label4 {
	@include elemAutoWidth(190);
}
#cntRobotOutputsCell_3_Label4 {
	@include elemAutoHeight(20);
}
#cntRobotOutputsCell_3_Label4 {
		z-index: 16;
}
#cntRobotOutputsCell_3_Label4 {
	& span{
		color: rgba(105, 105, 105, 1);
	}
}
#cntRobotOutputsCell_3_Label4 {
	@include text-alignment-all('center');
}
#cntRobotOutputsCell_3_Label4 {
		font-size: 18px;
}
#cntRobotOutputsCell_3_Label4 {
	span{
	@include text-decoration-underline(true);
	}
}
#cntRobotOutputsCell_3_Label_do55 {
	@include elemTop(32);
}
#cntRobotOutputsCell_3_Label_do55 {
	@include elemLeft(33);
}
#cntRobotOutputsCell_3_Label_do55 {
	@include elemAutoWidth(230);
}
#cntRobotOutputsCell_3_Label_do55 {
	@include elemAutoHeight(20);
}
#cntRobotOutputsCell_3_Label_do55 {
		z-index: 17;
}
#cntRobotOutputsCell_3_Label_do66 {
	@include elemTop(62);
}
#cntRobotOutputsCell_3_Label_do66 {
	@include elemLeft(33);
}
#cntRobotOutputsCell_3_Label_do66 {
	@include elemAutoWidth(240);
}
#cntRobotOutputsCell_3_Label_do66 {
	@include elemAutoHeight(20);
}
#cntRobotOutputsCell_3_Label_do66 {
		z-index: 18;
}
#cntRobotOutputsCell_3_Label_do67 {
	@include elemTop(92);
}
#cntRobotOutputsCell_3_Label_do67 {
	@include elemLeft(33);
}
#cntRobotOutputsCell_3_Label_do67 {
	@include elemAutoWidth(240);
}
#cntRobotOutputsCell_3_Label_do67 {
	@include elemAutoHeight(20);
}
#cntRobotOutputsCell_3_Label_do67 {
		z-index: 19;
}
#cntRobotOutputsCell_3_Label_do68 {
	@include elemTop(122);
}
#cntRobotOutputsCell_3_Label_do68 {
	@include elemLeft(33);
}
#cntRobotOutputsCell_3_Label_do68 {
	@include elemAutoWidth(240);
}
#cntRobotOutputsCell_3_Label_do68 {
	@include elemAutoHeight(20);
}
#cntRobotOutputsCell_3_Label_do68 {
		z-index: 20;
}
#cntRobotOutputsCell_3_Label_do69 {
	@include elemTop(152);
}
#cntRobotOutputsCell_3_Label_do69 {
	@include elemLeft(33);
}
#cntRobotOutputsCell_3_Label_do69 {
	@include elemAutoWidth(240);
}
#cntRobotOutputsCell_3_Label_do69 {
	@include elemAutoHeight(20);
}
#cntRobotOutputsCell_3_Label_do69 {
		z-index: 21;
}
#cntRobotOutputsCell_3_Label_do70 {
	@include elemTop(182);
}
#cntRobotOutputsCell_3_Label_do70 {
	@include elemLeft(33);
}
#cntRobotOutputsCell_3_Label_do70 {
	@include elemAutoWidth(240);
}
#cntRobotOutputsCell_3_Label_do70 {
	@include elemAutoHeight(20);
}
#cntRobotOutputsCell_3_Label_do70 {
		z-index: 22;
}
#cntRobotOutputsCell_3_Label_do71 {
	@include elemTop(212);
}
#cntRobotOutputsCell_3_Label_do71 {
	@include elemLeft(33);
}
#cntRobotOutputsCell_3_Label_do71 {
	@include elemAutoWidth(240);
}
#cntRobotOutputsCell_3_Label_do71 {
	@include elemAutoHeight(20);
}
#cntRobotOutputsCell_3_Label_do71 {
		z-index: 23;
}
#cntRobotOutputsCell_3_Label_do72 {
	@include elemTop(242);
}
#cntRobotOutputsCell_3_Label_do72 {
	@include elemLeft(33);
}
#cntRobotOutputsCell_3_Label_do72 {
	@include elemAutoWidth(240);
}
#cntRobotOutputsCell_3_Label_do72 {
	@include elemAutoHeight(20);
}
#cntRobotOutputsCell_3_Label_do72 {
		z-index: 24;
}
#cntRobotOutputsCell_3_Label_do73 {
	@include elemTop(272);
}
#cntRobotOutputsCell_3_Label_do73 {
	@include elemLeft(33);
}
#cntRobotOutputsCell_3_Label_do73 {
	@include elemAutoWidth(230);
}
#cntRobotOutputsCell_3_Label_do73 {
	@include elemAutoHeight(20);
}
#cntRobotOutputsCell_3_Label_do73 {
		z-index: 25;
}
#cntRobotOutputsCell_3_Label_do74 {
	@include elemTop(302);
}
#cntRobotOutputsCell_3_Label_do74 {
	@include elemLeft(33);
}
#cntRobotOutputsCell_3_Label_do74 {
	@include elemAutoWidth(230);
}
#cntRobotOutputsCell_3_Label_do74 {
	@include elemAutoHeight(20);
}
#cntRobotOutputsCell_3_Label_do74 {
		z-index: 26;
}
#cntRobotOutputsCell_3_Label_do75 {
	@include elemTop(332);
}
#cntRobotOutputsCell_3_Label_do75 {
	@include elemLeft(33);
}
#cntRobotOutputsCell_3_Label_do75 {
	@include elemAutoWidth(230);
}
#cntRobotOutputsCell_3_Label_do75 {
	@include elemAutoHeight(20);
}
#cntRobotOutputsCell_3_Label_do75 {
		z-index: 27;
}
#cntRobotOutputsCell_3_Label_do76 {
	@include elemTop(362);
}
#cntRobotOutputsCell_3_Label_do76 {
	@include elemLeft(33);
}
#cntRobotOutputsCell_3_Label_do76 {
	@include elemAutoWidth(230);
}
#cntRobotOutputsCell_3_Label_do76 {
	@include elemAutoHeight(20);
}
#cntRobotOutputsCell_3_Label_do76 {
		z-index: 28;
}
#cntRobotOutputsCell_3_Label_do77 {
	@include elemTop(392);
}
#cntRobotOutputsCell_3_Label_do77 {
	@include elemLeft(33);
}
#cntRobotOutputsCell_3_Label_do77 {
	@include elemAutoWidth(230);
}
#cntRobotOutputsCell_3_Label_do77 {
	@include elemAutoHeight(20);
}
#cntRobotOutputsCell_3_Label_do77 {
		z-index: 29;
}
#cntRobotOutputsCell_3_Label_do78 {
	@include elemTop(422);
}
#cntRobotOutputsCell_3_Label_do78 {
	@include elemLeft(33);
}
#cntRobotOutputsCell_3_Label_do78 {
	@include elemAutoWidth(230);
}
#cntRobotOutputsCell_3_Label_do78 {
	@include elemAutoHeight(20);
}
#cntRobotOutputsCell_3_Label_do78 {
		z-index: 30;
}
#cntRobotOutputsCell_3_Label_do79 {
	@include elemTop(452);
}
#cntRobotOutputsCell_3_Label_do79 {
	@include elemLeft(33);
}
#cntRobotOutputsCell_3_Label_do79 {
	@include elemAutoWidth(230);
}
#cntRobotOutputsCell_3_Label_do79 {
	@include elemAutoHeight(20);
}
#cntRobotOutputsCell_3_Label_do79 {
		z-index: 31;
}
#cntRobotOutputsCell_3_Label_do80 {
	@include elemTop(482);
}
#cntRobotOutputsCell_3_Label_do80 {
	@include elemLeft(33);
}
#cntRobotOutputsCell_3_Label_do80 {
	@include elemAutoWidth(230);
}
#cntRobotOutputsCell_3_Label_do80 {
	@include elemAutoHeight(20);
}
#cntRobotOutputsCell_3_Label_do80 {
		z-index: 32;
}
#cntRobotOutputsCell_3_GridLineItem2 {
		z-index: 1;
}
#cntRobotOutputsCell_3_GridLineItem2 {
		padding: 0px 10px 10px 10px;
}
#cntRobotOutputsCell_3_ImageList63 {
	@include elemTop(30);
}
#cntRobotOutputsCell_3_ImageList63 {
	@include elemLeft(5);
}
#cntRobotOutputsCell_3_ImageList63 {
	@include elemWidth(20);
}
#cntRobotOutputsCell_3_ImageList63 {
	@include elemHeight(20);
}
#cntRobotOutputsCell_3_ImageList63 {
		z-index: 0;
}
#cntRobotOutputsCell_3_ImageList64 {
	@include elemTop(60);
}
#cntRobotOutputsCell_3_ImageList64 {
	@include elemLeft(5);
}
#cntRobotOutputsCell_3_ImageList64 {
	@include elemWidth(20);
}
#cntRobotOutputsCell_3_ImageList64 {
	@include elemHeight(20);
}
#cntRobotOutputsCell_3_ImageList64 {
		z-index: 1;
}
#cntRobotOutputsCell_3_ImageList65 {
	@include elemTop(90);
}
#cntRobotOutputsCell_3_ImageList65 {
	@include elemLeft(5);
}
#cntRobotOutputsCell_3_ImageList65 {
	@include elemWidth(20);
}
#cntRobotOutputsCell_3_ImageList65 {
	@include elemHeight(20);
}
#cntRobotOutputsCell_3_ImageList65 {
		z-index: 2;
}
#cntRobotOutputsCell_3_ImageList66 {
	@include elemTop(120);
}
#cntRobotOutputsCell_3_ImageList66 {
	@include elemLeft(5);
}
#cntRobotOutputsCell_3_ImageList66 {
	@include elemWidth(20);
}
#cntRobotOutputsCell_3_ImageList66 {
	@include elemHeight(20);
}
#cntRobotOutputsCell_3_ImageList66 {
		z-index: 3;
}
#cntRobotOutputsCell_3_ImageList67 {
	@include elemTop(150);
}
#cntRobotOutputsCell_3_ImageList67 {
	@include elemLeft(5);
}
#cntRobotOutputsCell_3_ImageList67 {
	@include elemWidth(20);
}
#cntRobotOutputsCell_3_ImageList67 {
	@include elemHeight(20);
}
#cntRobotOutputsCell_3_ImageList67 {
		z-index: 4;
}
#cntRobotOutputsCell_3_ImageList68 {
	@include elemTop(180);
}
#cntRobotOutputsCell_3_ImageList68 {
	@include elemLeft(5);
}
#cntRobotOutputsCell_3_ImageList68 {
	@include elemWidth(20);
}
#cntRobotOutputsCell_3_ImageList68 {
	@include elemHeight(20);
}
#cntRobotOutputsCell_3_ImageList68 {
		z-index: 5;
}
#cntRobotOutputsCell_3_ImageList69 {
	@include elemTop(210);
}
#cntRobotOutputsCell_3_ImageList69 {
	@include elemLeft(5);
}
#cntRobotOutputsCell_3_ImageList69 {
	@include elemWidth(20);
}
#cntRobotOutputsCell_3_ImageList69 {
	@include elemHeight(20);
}
#cntRobotOutputsCell_3_ImageList69 {
		z-index: 6;
}
#cntRobotOutputsCell_3_ImageList70 {
	@include elemTop(240);
}
#cntRobotOutputsCell_3_ImageList70 {
	@include elemLeft(5);
}
#cntRobotOutputsCell_3_ImageList70 {
	@include elemWidth(20);
}
#cntRobotOutputsCell_3_ImageList70 {
	@include elemHeight(20);
}
#cntRobotOutputsCell_3_ImageList70 {
		z-index: 7;
}
#cntRobotOutputsCell_3_ImageList74 {
	@include elemTop(360);
}
#cntRobotOutputsCell_3_ImageList74 {
	@include elemLeft(5);
}
#cntRobotOutputsCell_3_ImageList74 {
	@include elemWidth(20);
}
#cntRobotOutputsCell_3_ImageList74 {
	@include elemHeight(20);
}
#cntRobotOutputsCell_3_ImageList74 {
		z-index: 8;
}
#cntRobotOutputsCell_3_ImageList75 {
	@include elemTop(390);
}
#cntRobotOutputsCell_3_ImageList75 {
	@include elemLeft(5);
}
#cntRobotOutputsCell_3_ImageList75 {
	@include elemWidth(20);
}
#cntRobotOutputsCell_3_ImageList75 {
	@include elemHeight(20);
}
#cntRobotOutputsCell_3_ImageList75 {
		z-index: 9;
}
#cntRobotOutputsCell_3_ImageList76 {
	@include elemTop(420);
}
#cntRobotOutputsCell_3_ImageList76 {
	@include elemLeft(5);
}
#cntRobotOutputsCell_3_ImageList76 {
	@include elemWidth(20);
}
#cntRobotOutputsCell_3_ImageList76 {
	@include elemHeight(20);
}
#cntRobotOutputsCell_3_ImageList76 {
		z-index: 10;
}
#cntRobotOutputsCell_3_ImageList77 {
	@include elemTop(450);
}
#cntRobotOutputsCell_3_ImageList77 {
	@include elemLeft(5);
}
#cntRobotOutputsCell_3_ImageList77 {
	@include elemWidth(20);
}
#cntRobotOutputsCell_3_ImageList77 {
	@include elemHeight(20);
}
#cntRobotOutputsCell_3_ImageList77 {
		z-index: 11;
}
#cntRobotOutputsCell_3_ImageList78 {
	@include elemTop(480);
}
#cntRobotOutputsCell_3_ImageList78 {
	@include elemLeft(5);
}
#cntRobotOutputsCell_3_ImageList78 {
	@include elemWidth(20);
}
#cntRobotOutputsCell_3_ImageList78 {
	@include elemHeight(20);
}
#cntRobotOutputsCell_3_ImageList78 {
		z-index: 12;
}
#cntRobotOutputsCell_3_Label5 {
	@include elemTop(6);
}
#cntRobotOutputsCell_3_Label5 {
	@include elemLeft(49);
}
#cntRobotOutputsCell_3_Label5 {
	@include elemAutoWidth(190);
}
#cntRobotOutputsCell_3_Label5 {
	@include elemAutoHeight(20);
}
#cntRobotOutputsCell_3_Label5 {
		z-index: 13;
}
#cntRobotOutputsCell_3_Label5 {
	& span{
		color: rgba(105, 105, 105, 1);
	}
}
#cntRobotOutputsCell_3_Label5 {
	@include text-alignment-all('center');
}
#cntRobotOutputsCell_3_Label5 {
		font-size: 18px;
}
#cntRobotOutputsCell_3_Label5 {
	span{
	@include text-decoration-underline(true);
	}
}
#cntRobotOutputsCell_3_Label_do56 {
	@include elemTop(30);
}
#cntRobotOutputsCell_3_Label_do56 {
	@include elemLeft(32);
}
#cntRobotOutputsCell_3_Label_do56 {
	@include elemAutoWidth(230);
}
#cntRobotOutputsCell_3_Label_do56 {
	@include elemAutoHeight(20);
}
#cntRobotOutputsCell_3_Label_do56 {
		z-index: 14;
}
#cntRobotOutputsCell_3_Label_do81 {
	@include elemTop(60);
}
#cntRobotOutputsCell_3_Label_do81 {
	@include elemLeft(32);
}
#cntRobotOutputsCell_3_Label_do81 {
	@include elemAutoWidth(240);
}
#cntRobotOutputsCell_3_Label_do81 {
	@include elemAutoHeight(20);
}
#cntRobotOutputsCell_3_Label_do81 {
		z-index: 15;
}
#cntRobotOutputsCell_3_Label_do82 {
	@include elemTop(90);
}
#cntRobotOutputsCell_3_Label_do82 {
	@include elemLeft(32);
}
#cntRobotOutputsCell_3_Label_do82 {
	@include elemAutoWidth(240);
}
#cntRobotOutputsCell_3_Label_do82 {
	@include elemAutoHeight(20);
}
#cntRobotOutputsCell_3_Label_do82 {
		z-index: 16;
}
#cntRobotOutputsCell_3_Label_do83 {
	@include elemTop(120);
}
#cntRobotOutputsCell_3_Label_do83 {
	@include elemLeft(32);
}
#cntRobotOutputsCell_3_Label_do83 {
	@include elemAutoWidth(240);
}
#cntRobotOutputsCell_3_Label_do83 {
	@include elemAutoHeight(20);
}
#cntRobotOutputsCell_3_Label_do83 {
		z-index: 17;
}
#cntRobotOutputsCell_3_Label_do84 {
	@include elemTop(150);
}
#cntRobotOutputsCell_3_Label_do84 {
	@include elemLeft(32);
}
#cntRobotOutputsCell_3_Label_do84 {
	@include elemAutoWidth(240);
}
#cntRobotOutputsCell_3_Label_do84 {
	@include elemAutoHeight(20);
}
#cntRobotOutputsCell_3_Label_do84 {
		z-index: 18;
}
#cntRobotOutputsCell_3_Label_do85 {
	@include elemTop(180);
}
#cntRobotOutputsCell_3_Label_do85 {
	@include elemLeft(32);
}
#cntRobotOutputsCell_3_Label_do85 {
	@include elemAutoWidth(240);
}
#cntRobotOutputsCell_3_Label_do85 {
	@include elemAutoHeight(20);
}
#cntRobotOutputsCell_3_Label_do85 {
		z-index: 19;
}
#cntRobotOutputsCell_3_Label_do86 {
	@include elemTop(210);
}
#cntRobotOutputsCell_3_Label_do86 {
	@include elemLeft(32);
}
#cntRobotOutputsCell_3_Label_do86 {
	@include elemAutoWidth(240);
}
#cntRobotOutputsCell_3_Label_do86 {
	@include elemAutoHeight(20);
}
#cntRobotOutputsCell_3_Label_do86 {
		z-index: 20;
}
#cntRobotOutputsCell_3_Label_do87 {
	@include elemTop(240);
}
#cntRobotOutputsCell_3_Label_do87 {
	@include elemLeft(32);
}
#cntRobotOutputsCell_3_Label_do87 {
	@include elemAutoWidth(240);
}
#cntRobotOutputsCell_3_Label_do87 {
	@include elemAutoHeight(20);
}
#cntRobotOutputsCell_3_Label_do87 {
		z-index: 21;
}
#cntRobotOutputsCell_3_Label_do88 {
	@include elemTop(270);
}
#cntRobotOutputsCell_3_Label_do88 {
	@include elemLeft(32);
}
#cntRobotOutputsCell_3_Label_do88 {
	@include elemAutoWidth(230);
}
#cntRobotOutputsCell_3_Label_do88 {
	@include elemAutoHeight(20);
}
#cntRobotOutputsCell_3_Label_do88 {
		z-index: 22;
}
#cntRobotOutputsCell_3_Label_do89 {
	@include elemTop(300);
}
#cntRobotOutputsCell_3_Label_do89 {
	@include elemLeft(32);
}
#cntRobotOutputsCell_3_Label_do89 {
	@include elemAutoWidth(230);
}
#cntRobotOutputsCell_3_Label_do89 {
	@include elemAutoHeight(20);
}
#cntRobotOutputsCell_3_Label_do89 {
		z-index: 23;
}
#cntRobotOutputsCell_3_Label_do90 {
	@include elemTop(330);
}
#cntRobotOutputsCell_3_Label_do90 {
	@include elemLeft(32);
}
#cntRobotOutputsCell_3_Label_do90 {
	@include elemAutoWidth(230);
}
#cntRobotOutputsCell_3_Label_do90 {
	@include elemAutoHeight(20);
}
#cntRobotOutputsCell_3_Label_do90 {
		z-index: 24;
}
#cntRobotOutputsCell_3_Label_do91 {
	@include elemTop(360);
}
#cntRobotOutputsCell_3_Label_do91 {
	@include elemLeft(32);
}
#cntRobotOutputsCell_3_Label_do91 {
	@include elemAutoWidth(248);
}
#cntRobotOutputsCell_3_Label_do91 {
	@include elemAutoHeight(20);
}
#cntRobotOutputsCell_3_Label_do91 {
		z-index: 25;
}
#cntRobotOutputsCell_3_Label_do92 {
	@include elemTop(390);
}
#cntRobotOutputsCell_3_Label_do92 {
	@include elemLeft(32);
}
#cntRobotOutputsCell_3_Label_do92 {
	@include elemAutoWidth(248);
}
#cntRobotOutputsCell_3_Label_do92 {
	@include elemAutoHeight(20);
}
#cntRobotOutputsCell_3_Label_do92 {
		z-index: 26;
}
#cntRobotOutputsCell_3_Label_do93 {
	@include elemTop(420);
}
#cntRobotOutputsCell_3_Label_do93 {
	@include elemLeft(32);
}
#cntRobotOutputsCell_3_Label_do93 {
	@include elemAutoWidth(248);
}
#cntRobotOutputsCell_3_Label_do93 {
	@include elemAutoHeight(20);
}
#cntRobotOutputsCell_3_Label_do93 {
		z-index: 27;
}
#cntRobotOutputsCell_3_Label_do94 {
	@include elemTop(450);
}
#cntRobotOutputsCell_3_Label_do94 {
	@include elemLeft(32);
}
#cntRobotOutputsCell_3_Label_do94 {
	@include elemAutoWidth(248);
}
#cntRobotOutputsCell_3_Label_do94 {
	@include elemAutoHeight(20);
}
#cntRobotOutputsCell_3_Label_do94 {
		z-index: 28;
}
#cntRobotOutputsCell_3_Label_do95 {
	@include elemTop(480);
}
#cntRobotOutputsCell_3_Label_do95 {
	@include elemLeft(32);
}
#cntRobotOutputsCell_3_Label_do95 {
	@include elemAutoWidth(248);
}
#cntRobotOutputsCell_3_Label_do95 {
	@include elemAutoHeight(20);
}
#cntRobotOutputsCell_3_Label_do95 {
		z-index: 29;
}
#cntRobotOutputsCell_3_NumericOutput5 {
	@include elemTop(270);
}
#cntRobotOutputsCell_3_NumericOutput5 {
	@include elemLeft(0);
}
#cntRobotOutputsCell_3_NumericOutput5 {
	@include elemAutoWidth(60);
}
#cntRobotOutputsCell_3_NumericOutput5 {
	@include elemAutoHeight(20);
}
#cntRobotOutputsCell_3_NumericOutput5 {
		z-index: 30;
}
#cntRobotOutputsCell_3_NumericOutput5 {
		border-color: rgba(0, 0, 0, 1);
}
#cntRobotOutputsCell_3_NumericOutput5 {
	input{
		color: rgba(0, 0, 0, 1);
	}
}
#cntRobotOutputsCell_3_NumericOutput5 {
	span.breaseNumericOutput_unit{
		color: rgba(0, 0, 0, 1);
	}
}
#cntRobotOutputsCell_3_NumericOutput5 {
	input{
		font-size: 14px;
	}
}
#cntRobotOutputsCell_3_NumericOutput5 {
		margin: 0px;
}
#cntRobotOutputsCell_3_NumericOutput6 {
	@include elemTop(300);
}
#cntRobotOutputsCell_3_NumericOutput6 {
	@include elemLeft(0);
}
#cntRobotOutputsCell_3_NumericOutput6 {
	@include elemAutoWidth(60);
}
#cntRobotOutputsCell_3_NumericOutput6 {
	@include elemAutoHeight(20);
}
#cntRobotOutputsCell_3_NumericOutput6 {
		z-index: 31;
}
#cntRobotOutputsCell_3_NumericOutput6 {
		border-color: rgba(0, 0, 0, 1);
}
#cntRobotOutputsCell_3_NumericOutput6 {
	input{
		color: rgba(0, 0, 0, 1);
	}
}
#cntRobotOutputsCell_3_NumericOutput6 {
	span.breaseNumericOutput_unit{
		color: rgba(0, 0, 0, 1);
	}
}
#cntRobotOutputsCell_3_NumericOutput6 {
	input{
		font-size: 14px;
	}
}
#cntRobotOutputsCell_3_NumericOutput6 {
		margin: 0px;
}
#cntRobotOutputsCell_3_NumericOutput7 {
	@include elemTop(330);
}
#cntRobotOutputsCell_3_NumericOutput7 {
	@include elemLeft(0);
}
#cntRobotOutputsCell_3_NumericOutput7 {
	@include elemAutoWidth(60);
}
#cntRobotOutputsCell_3_NumericOutput7 {
	@include elemAutoHeight(20);
}
#cntRobotOutputsCell_3_NumericOutput7 {
		z-index: 32;
}
#cntRobotOutputsCell_3_NumericOutput7 {
		border-color: rgba(0, 0, 0, 1);
}
#cntRobotOutputsCell_3_NumericOutput7 {
	input{
		color: rgba(0, 0, 0, 1);
	}
}
#cntRobotOutputsCell_3_NumericOutput7 {
	span.breaseNumericOutput_unit{
		color: rgba(0, 0, 0, 1);
	}
}
#cntRobotOutputsCell_3_NumericOutput7 {
	input{
		font-size: 14px;
	}
}
#cntRobotOutputsCell_3_NumericOutput7 {
		margin: 0px;
}
#cntRobotOutputsCell_3_GridLineItem3 {
		z-index: 2;
}
#cntRobotOutputsCell_3_GridLineItem3 {
		padding: 0px 10px 10px 10px;
}
#cntRobotOutputsCell_3_ImageList79 {
	@include elemTop(30);
}
#cntRobotOutputsCell_3_ImageList79 {
	@include elemLeft(5);
}
#cntRobotOutputsCell_3_ImageList79 {
	@include elemWidth(20);
}
#cntRobotOutputsCell_3_ImageList79 {
	@include elemHeight(20);
}
#cntRobotOutputsCell_3_ImageList79 {
		z-index: 0;
}
#cntRobotOutputsCell_3_ImageList80 {
	@include elemTop(60);
}
#cntRobotOutputsCell_3_ImageList80 {
	@include elemLeft(5);
}
#cntRobotOutputsCell_3_ImageList80 {
	@include elemWidth(20);
}
#cntRobotOutputsCell_3_ImageList80 {
	@include elemHeight(20);
}
#cntRobotOutputsCell_3_ImageList80 {
		z-index: 1;
}
#cntRobotOutputsCell_3_ImageList81 {
	@include elemTop(90);
}
#cntRobotOutputsCell_3_ImageList81 {
	@include elemLeft(5);
}
#cntRobotOutputsCell_3_ImageList81 {
	@include elemWidth(20);
}
#cntRobotOutputsCell_3_ImageList81 {
	@include elemHeight(20);
}
#cntRobotOutputsCell_3_ImageList81 {
		z-index: 2;
}
#cntRobotOutputsCell_3_ImageList82 {
	@include elemTop(120);
}
#cntRobotOutputsCell_3_ImageList82 {
	@include elemLeft(5);
}
#cntRobotOutputsCell_3_ImageList82 {
	@include elemWidth(20);
}
#cntRobotOutputsCell_3_ImageList82 {
	@include elemHeight(20);
}
#cntRobotOutputsCell_3_ImageList82 {
		z-index: 3;
}
#cntRobotOutputsCell_3_ImageList83 {
	@include elemTop(150);
}
#cntRobotOutputsCell_3_ImageList83 {
	@include elemLeft(5);
}
#cntRobotOutputsCell_3_ImageList83 {
	@include elemWidth(20);
}
#cntRobotOutputsCell_3_ImageList83 {
	@include elemHeight(20);
}
#cntRobotOutputsCell_3_ImageList83 {
		z-index: 4;
}
#cntRobotOutputsCell_3_ImageList84 {
	@include elemTop(180);
}
#cntRobotOutputsCell_3_ImageList84 {
	@include elemLeft(5);
}
#cntRobotOutputsCell_3_ImageList84 {
	@include elemWidth(20);
}
#cntRobotOutputsCell_3_ImageList84 {
	@include elemHeight(20);
}
#cntRobotOutputsCell_3_ImageList84 {
		z-index: 5;
}
#cntRobotOutputsCell_3_ImageList85 {
	@include elemTop(210);
}
#cntRobotOutputsCell_3_ImageList85 {
	@include elemLeft(5);
}
#cntRobotOutputsCell_3_ImageList85 {
	@include elemWidth(20);
}
#cntRobotOutputsCell_3_ImageList85 {
	@include elemHeight(20);
}
#cntRobotOutputsCell_3_ImageList85 {
		z-index: 6;
}
#cntRobotOutputsCell_3_ImageList86 {
	@include elemTop(240);
}
#cntRobotOutputsCell_3_ImageList86 {
	@include elemLeft(5);
}
#cntRobotOutputsCell_3_ImageList86 {
	@include elemWidth(20);
}
#cntRobotOutputsCell_3_ImageList86 {
	@include elemHeight(20);
}
#cntRobotOutputsCell_3_ImageList86 {
		z-index: 7;
}
#cntRobotOutputsCell_3_ImageList87 {
	@include elemTop(270);
}
#cntRobotOutputsCell_3_ImageList87 {
	@include elemLeft(5);
}
#cntRobotOutputsCell_3_ImageList87 {
	@include elemWidth(20);
}
#cntRobotOutputsCell_3_ImageList87 {
	@include elemHeight(20);
}
#cntRobotOutputsCell_3_ImageList87 {
		z-index: 8;
}
#cntRobotOutputsCell_3_ImageList88 {
	@include elemTop(300);
}
#cntRobotOutputsCell_3_ImageList88 {
	@include elemLeft(5);
}
#cntRobotOutputsCell_3_ImageList88 {
	@include elemWidth(20);
}
#cntRobotOutputsCell_3_ImageList88 {
	@include elemHeight(20);
}
#cntRobotOutputsCell_3_ImageList88 {
		z-index: 9;
}
#cntRobotOutputsCell_3_ImageList89 {
	@include elemTop(330);
}
#cntRobotOutputsCell_3_ImageList89 {
	@include elemLeft(5);
}
#cntRobotOutputsCell_3_ImageList89 {
	@include elemWidth(20);
}
#cntRobotOutputsCell_3_ImageList89 {
	@include elemHeight(20);
}
#cntRobotOutputsCell_3_ImageList89 {
		z-index: 10;
}
#cntRobotOutputsCell_3_ImageList93 {
	@include elemTop(450);
}
#cntRobotOutputsCell_3_ImageList93 {
	@include elemLeft(5);
}
#cntRobotOutputsCell_3_ImageList93 {
	@include elemWidth(20);
}
#cntRobotOutputsCell_3_ImageList93 {
	@include elemHeight(20);
}
#cntRobotOutputsCell_3_ImageList93 {
		z-index: 11;
}
#cntRobotOutputsCell_3_ImageList94 {
	@include elemTop(480);
}
#cntRobotOutputsCell_3_ImageList94 {
	@include elemLeft(5);
}
#cntRobotOutputsCell_3_ImageList94 {
	@include elemWidth(20);
}
#cntRobotOutputsCell_3_ImageList94 {
	@include elemHeight(20);
}
#cntRobotOutputsCell_3_ImageList94 {
		z-index: 12;
}
#cntRobotOutputsCell_3_Label6 {
	@include elemTop(6);
}
#cntRobotOutputsCell_3_Label6 {
	@include elemLeft(49);
}
#cntRobotOutputsCell_3_Label6 {
	@include elemAutoWidth(190);
}
#cntRobotOutputsCell_3_Label6 {
	@include elemAutoHeight(20);
}
#cntRobotOutputsCell_3_Label6 {
		z-index: 13;
}
#cntRobotOutputsCell_3_Label6 {
	& span{
		color: rgba(105, 105, 105, 1);
	}
}
#cntRobotOutputsCell_3_Label6 {
	@include text-alignment-all('center');
}
#cntRobotOutputsCell_3_Label6 {
		font-size: 18px;
}
#cntRobotOutputsCell_3_Label6 {
	span{
	@include text-decoration-underline(true);
	}
}
#cntRobotOutputsCell_3_Label_do57 {
	@include elemTop(30);
}
#cntRobotOutputsCell_3_Label_do57 {
	@include elemLeft(32);
}
#cntRobotOutputsCell_3_Label_do57 {
	@include elemAutoWidth(248);
}
#cntRobotOutputsCell_3_Label_do57 {
	@include elemAutoHeight(20);
}
#cntRobotOutputsCell_3_Label_do57 {
		z-index: 14;
}
#cntRobotOutputsCell_3_Label_do96 {
	@include elemTop(60);
}
#cntRobotOutputsCell_3_Label_do96 {
	@include elemLeft(32);
}
#cntRobotOutputsCell_3_Label_do96 {
	@include elemAutoWidth(240);
}
#cntRobotOutputsCell_3_Label_do96 {
	@include elemAutoHeight(20);
}
#cntRobotOutputsCell_3_Label_do96 {
		z-index: 15;
}
#cntRobotOutputsCell_3_Label_do97 {
	@include elemTop(90);
}
#cntRobotOutputsCell_3_Label_do97 {
	@include elemLeft(32);
}
#cntRobotOutputsCell_3_Label_do97 {
	@include elemAutoWidth(240);
}
#cntRobotOutputsCell_3_Label_do97 {
	@include elemAutoHeight(20);
}
#cntRobotOutputsCell_3_Label_do97 {
		z-index: 16;
}
#cntRobotOutputsCell_3_Label_do98 {
	@include elemTop(120);
}
#cntRobotOutputsCell_3_Label_do98 {
	@include elemLeft(32);
}
#cntRobotOutputsCell_3_Label_do98 {
	@include elemAutoWidth(240);
}
#cntRobotOutputsCell_3_Label_do98 {
	@include elemAutoHeight(20);
}
#cntRobotOutputsCell_3_Label_do98 {
		z-index: 17;
}
#cntRobotOutputsCell_3_Label_do99 {
	@include elemTop(150);
}
#cntRobotOutputsCell_3_Label_do99 {
	@include elemLeft(32);
}
#cntRobotOutputsCell_3_Label_do99 {
	@include elemAutoWidth(240);
}
#cntRobotOutputsCell_3_Label_do99 {
	@include elemAutoHeight(20);
}
#cntRobotOutputsCell_3_Label_do99 {
		z-index: 18;
}
#cntRobotOutputsCell_3_Label_do100 {
	@include elemTop(180);
}
#cntRobotOutputsCell_3_Label_do100 {
	@include elemLeft(32);
}
#cntRobotOutputsCell_3_Label_do100 {
	@include elemAutoWidth(240);
}
#cntRobotOutputsCell_3_Label_do100 {
	@include elemAutoHeight(20);
}
#cntRobotOutputsCell_3_Label_do100 {
		z-index: 19;
}
#cntRobotOutputsCell_3_Label_do101 {
	@include elemTop(210);
}
#cntRobotOutputsCell_3_Label_do101 {
	@include elemLeft(32);
}
#cntRobotOutputsCell_3_Label_do101 {
	@include elemAutoWidth(240);
}
#cntRobotOutputsCell_3_Label_do101 {
	@include elemAutoHeight(20);
}
#cntRobotOutputsCell_3_Label_do101 {
		z-index: 20;
}
#cntRobotOutputsCell_3_Label_do102 {
	@include elemTop(240);
}
#cntRobotOutputsCell_3_Label_do102 {
	@include elemLeft(32);
}
#cntRobotOutputsCell_3_Label_do102 {
	@include elemAutoWidth(240);
}
#cntRobotOutputsCell_3_Label_do102 {
	@include elemAutoHeight(20);
}
#cntRobotOutputsCell_3_Label_do102 {
		z-index: 21;
}
#cntRobotOutputsCell_3_Label_do103 {
	@include elemTop(270);
}
#cntRobotOutputsCell_3_Label_do103 {
	@include elemLeft(32);
}
#cntRobotOutputsCell_3_Label_do103 {
	@include elemAutoWidth(230);
}
#cntRobotOutputsCell_3_Label_do103 {
	@include elemAutoHeight(20);
}
#cntRobotOutputsCell_3_Label_do103 {
		z-index: 22;
}
#cntRobotOutputsCell_3_Label_do104 {
	@include elemTop(300);
}
#cntRobotOutputsCell_3_Label_do104 {
	@include elemLeft(32);
}
#cntRobotOutputsCell_3_Label_do104 {
	@include elemAutoWidth(230);
}
#cntRobotOutputsCell_3_Label_do104 {
	@include elemAutoHeight(20);
}
#cntRobotOutputsCell_3_Label_do104 {
		z-index: 23;
}
#cntRobotOutputsCell_3_Label_do105 {
	@include elemTop(330);
}
#cntRobotOutputsCell_3_Label_do105 {
	@include elemLeft(32);
}
#cntRobotOutputsCell_3_Label_do105 {
	@include elemAutoWidth(230);
}
#cntRobotOutputsCell_3_Label_do105 {
	@include elemAutoHeight(20);
}
#cntRobotOutputsCell_3_Label_do105 {
		z-index: 24;
}
#cntRobotOutputsCell_3_Label_do106 {
	@include elemTop(360);
}
#cntRobotOutputsCell_3_Label_do106 {
	@include elemLeft(32);
}
#cntRobotOutputsCell_3_Label_do106 {
	@include elemAutoWidth(230);
}
#cntRobotOutputsCell_3_Label_do106 {
	@include elemAutoHeight(20);
}
#cntRobotOutputsCell_3_Label_do106 {
		z-index: 25;
}
#cntRobotOutputsCell_3_Label_do107 {
	@include elemTop(390);
}
#cntRobotOutputsCell_3_Label_do107 {
	@include elemLeft(32);
}
#cntRobotOutputsCell_3_Label_do107 {
	@include elemAutoWidth(230);
}
#cntRobotOutputsCell_3_Label_do107 {
	@include elemAutoHeight(20);
}
#cntRobotOutputsCell_3_Label_do107 {
		z-index: 26;
}
#cntRobotOutputsCell_3_Label_do108 {
	@include elemTop(420);
}
#cntRobotOutputsCell_3_Label_do108 {
	@include elemLeft(32);
}
#cntRobotOutputsCell_3_Label_do108 {
	@include elemAutoWidth(230);
}
#cntRobotOutputsCell_3_Label_do108 {
	@include elemAutoHeight(20);
}
#cntRobotOutputsCell_3_Label_do108 {
		z-index: 27;
}
#cntRobotOutputsCell_3_Label_do109 {
	@include elemTop(450);
}
#cntRobotOutputsCell_3_Label_do109 {
	@include elemLeft(32);
}
#cntRobotOutputsCell_3_Label_do109 {
	@include elemAutoWidth(248);
}
#cntRobotOutputsCell_3_Label_do109 {
	@include elemAutoHeight(20);
}
#cntRobotOutputsCell_3_Label_do109 {
		z-index: 28;
}
#cntRobotOutputsCell_3_Label_do110 {
	@include elemTop(480);
}
#cntRobotOutputsCell_3_Label_do110 {
	@include elemLeft(32);
}
#cntRobotOutputsCell_3_Label_do110 {
	@include elemAutoWidth(248);
}
#cntRobotOutputsCell_3_Label_do110 {
	@include elemAutoHeight(20);
}
#cntRobotOutputsCell_3_Label_do110 {
		z-index: 29;
}
#cntRobotOutputsCell_3_NumericOutput8 {
	@include elemTop(360);
}
#cntRobotOutputsCell_3_NumericOutput8 {
	@include elemLeft(0);
}
#cntRobotOutputsCell_3_NumericOutput8 {
	@include elemAutoWidth(60);
}
#cntRobotOutputsCell_3_NumericOutput8 {
	@include elemAutoHeight(20);
}
#cntRobotOutputsCell_3_NumericOutput8 {
		z-index: 30;
}
#cntRobotOutputsCell_3_NumericOutput8 {
		border-color: rgba(0, 0, 0, 1);
}
#cntRobotOutputsCell_3_NumericOutput8 {
	input{
		color: rgba(0, 0, 0, 1);
	}
}
#cntRobotOutputsCell_3_NumericOutput8 {
	span.breaseNumericOutput_unit{
		color: rgba(0, 0, 0, 1);
	}
}
#cntRobotOutputsCell_3_NumericOutput8 {
	input{
		font-size: 14px;
	}
}
#cntRobotOutputsCell_3_NumericOutput8 {
		margin: 0px;
}
#cntRobotOutputsCell_3_NumericOutput9 {
	@include elemTop(390);
}
#cntRobotOutputsCell_3_NumericOutput9 {
	@include elemLeft(0);
}
#cntRobotOutputsCell_3_NumericOutput9 {
	@include elemAutoWidth(60);
}
#cntRobotOutputsCell_3_NumericOutput9 {
	@include elemAutoHeight(20);
}
#cntRobotOutputsCell_3_NumericOutput9 {
		z-index: 31;
}
#cntRobotOutputsCell_3_NumericOutput9 {
		border-color: rgba(0, 0, 0, 1);
}
#cntRobotOutputsCell_3_NumericOutput9 {
	input{
		color: rgba(0, 0, 0, 1);
	}
}
#cntRobotOutputsCell_3_NumericOutput9 {
	span.breaseNumericOutput_unit{
		color: rgba(0, 0, 0, 1);
	}
}
#cntRobotOutputsCell_3_NumericOutput9 {
	input{
		font-size: 14px;
	}
}
#cntRobotOutputsCell_3_NumericOutput9 {
		margin: 0px;
}
#cntRobotOutputsCell_3_NumericOutput10 {
	@include elemTop(420);
}
#cntRobotOutputsCell_3_NumericOutput10 {
	@include elemLeft(0);
}
#cntRobotOutputsCell_3_NumericOutput10 {
	@include elemAutoWidth(60);
}
#cntRobotOutputsCell_3_NumericOutput10 {
	@include elemAutoHeight(20);
}
#cntRobotOutputsCell_3_NumericOutput10 {
		z-index: 32;
}
#cntRobotOutputsCell_3_NumericOutput10 {
		border-color: rgba(0, 0, 0, 1);
}
#cntRobotOutputsCell_3_NumericOutput10 {
	input{
		color: rgba(0, 0, 0, 1);
	}
}
#cntRobotOutputsCell_3_NumericOutput10 {
	span.breaseNumericOutput_unit{
		color: rgba(0, 0, 0, 1);
	}
}
#cntRobotOutputsCell_3_NumericOutput10 {
	input{
		font-size: 14px;
	}
}
#cntRobotOutputsCell_3_NumericOutput10 {
		margin: 0px;
}
#cntRobotOutputsCell_3_GridLineItem4 {
		z-index: 3;
}
#cntRobotOutputsCell_3_GridLineItem4 {
		padding: 0px 10px 10px 10px;
}
#cntRobotOutputsCell_3_ImageList95 {
	@include elemTop(30);
}
#cntRobotOutputsCell_3_ImageList95 {
	@include elemLeft(4);
}
#cntRobotOutputsCell_3_ImageList95 {
	@include elemWidth(20);
}
#cntRobotOutputsCell_3_ImageList95 {
	@include elemHeight(20);
}
#cntRobotOutputsCell_3_ImageList95 {
		z-index: 0;
}
#cntRobotOutputsCell_3_ImageList96 {
	@include elemTop(60);
}
#cntRobotOutputsCell_3_ImageList96 {
	@include elemLeft(4);
}
#cntRobotOutputsCell_3_ImageList96 {
	@include elemWidth(20);
}
#cntRobotOutputsCell_3_ImageList96 {
	@include elemHeight(20);
}
#cntRobotOutputsCell_3_ImageList96 {
		z-index: 1;
}
#cntRobotOutputsCell_3_ImageList97 {
	@include elemTop(90);
}
#cntRobotOutputsCell_3_ImageList97 {
	@include elemLeft(4);
}
#cntRobotOutputsCell_3_ImageList97 {
	@include elemWidth(20);
}
#cntRobotOutputsCell_3_ImageList97 {
	@include elemHeight(20);
}
#cntRobotOutputsCell_3_ImageList97 {
		z-index: 2;
}
#cntRobotOutputsCell_3_ImageList98 {
	@include elemTop(120);
}
#cntRobotOutputsCell_3_ImageList98 {
	@include elemLeft(4);
}
#cntRobotOutputsCell_3_ImageList98 {
	@include elemWidth(20);
}
#cntRobotOutputsCell_3_ImageList98 {
	@include elemHeight(20);
}
#cntRobotOutputsCell_3_ImageList98 {
		z-index: 3;
}
#cntRobotOutputsCell_3_ImageList99 {
	@include elemTop(150);
}
#cntRobotOutputsCell_3_ImageList99 {
	@include elemLeft(4);
}
#cntRobotOutputsCell_3_ImageList99 {
	@include elemWidth(20);
}
#cntRobotOutputsCell_3_ImageList99 {
	@include elemHeight(20);
}
#cntRobotOutputsCell_3_ImageList99 {
		z-index: 4;
}
#cntRobotOutputsCell_3_ImageList100 {
	@include elemTop(180);
}
#cntRobotOutputsCell_3_ImageList100 {
	@include elemLeft(4);
}
#cntRobotOutputsCell_3_ImageList100 {
	@include elemWidth(20);
}
#cntRobotOutputsCell_3_ImageList100 {
	@include elemHeight(20);
}
#cntRobotOutputsCell_3_ImageList100 {
		z-index: 5;
}
#cntRobotOutputsCell_3_ImageList101 {
	@include elemTop(210);
}
#cntRobotOutputsCell_3_ImageList101 {
	@include elemLeft(4);
}
#cntRobotOutputsCell_3_ImageList101 {
	@include elemWidth(20);
}
#cntRobotOutputsCell_3_ImageList101 {
	@include elemHeight(20);
}
#cntRobotOutputsCell_3_ImageList101 {
		z-index: 6;
}
#cntRobotOutputsCell_3_ImageList102 {
	@include elemTop(240);
}
#cntRobotOutputsCell_3_ImageList102 {
	@include elemLeft(4);
}
#cntRobotOutputsCell_3_ImageList102 {
	@include elemWidth(20);
}
#cntRobotOutputsCell_3_ImageList102 {
	@include elemHeight(20);
}
#cntRobotOutputsCell_3_ImageList102 {
		z-index: 7;
}
#cntRobotOutputsCell_3_ImageList103 {
	@include elemTop(270);
}
#cntRobotOutputsCell_3_ImageList103 {
	@include elemLeft(4);
}
#cntRobotOutputsCell_3_ImageList103 {
	@include elemWidth(20);
}
#cntRobotOutputsCell_3_ImageList103 {
	@include elemHeight(20);
}
#cntRobotOutputsCell_3_ImageList103 {
		z-index: 8;
}
#cntRobotOutputsCell_3_ImageList104 {
	@include elemTop(300);
}
#cntRobotOutputsCell_3_ImageList104 {
	@include elemLeft(4);
}
#cntRobotOutputsCell_3_ImageList104 {
	@include elemWidth(20);
}
#cntRobotOutputsCell_3_ImageList104 {
	@include elemHeight(20);
}
#cntRobotOutputsCell_3_ImageList104 {
		z-index: 9;
}
#cntRobotOutputsCell_3_ImageList105 {
	@include elemTop(330);
}
#cntRobotOutputsCell_3_ImageList105 {
	@include elemLeft(4);
}
#cntRobotOutputsCell_3_ImageList105 {
	@include elemWidth(20);
}
#cntRobotOutputsCell_3_ImageList105 {
	@include elemHeight(20);
}
#cntRobotOutputsCell_3_ImageList105 {
		z-index: 10;
}
#cntRobotOutputsCell_3_ImageList106 {
	@include elemTop(360);
}
#cntRobotOutputsCell_3_ImageList106 {
	@include elemLeft(4);
}
#cntRobotOutputsCell_3_ImageList106 {
	@include elemWidth(20);
}
#cntRobotOutputsCell_3_ImageList106 {
	@include elemHeight(20);
}
#cntRobotOutputsCell_3_ImageList106 {
		z-index: 11;
}
#cntRobotOutputsCell_3_ImageList107 {
	@include elemTop(390);
}
#cntRobotOutputsCell_3_ImageList107 {
	@include elemLeft(4);
}
#cntRobotOutputsCell_3_ImageList107 {
	@include elemWidth(20);
}
#cntRobotOutputsCell_3_ImageList107 {
	@include elemHeight(20);
}
#cntRobotOutputsCell_3_ImageList107 {
		z-index: 12;
}
#cntRobotOutputsCell_3_ImageList108 {
	@include elemTop(420);
}
#cntRobotOutputsCell_3_ImageList108 {
	@include elemLeft(4);
}
#cntRobotOutputsCell_3_ImageList108 {
	@include elemWidth(20);
}
#cntRobotOutputsCell_3_ImageList108 {
	@include elemHeight(20);
}
#cntRobotOutputsCell_3_ImageList108 {
		z-index: 13;
}
#cntRobotOutputsCell_3_Label7 {
	@include elemTop(6);
}
#cntRobotOutputsCell_3_Label7 {
	@include elemLeft(49);
}
#cntRobotOutputsCell_3_Label7 {
	@include elemAutoWidth(190);
}
#cntRobotOutputsCell_3_Label7 {
	@include elemAutoHeight(20);
}
#cntRobotOutputsCell_3_Label7 {
		z-index: 14;
}
#cntRobotOutputsCell_3_Label7 {
	& span{
		color: rgba(105, 105, 105, 1);
	}
}
#cntRobotOutputsCell_3_Label7 {
	@include text-alignment-all('center');
}
#cntRobotOutputsCell_3_Label7 {
		font-size: 18px;
}
#cntRobotOutputsCell_3_Label7 {
	span{
	@include text-decoration-underline(true);
	}
}
#cntRobotOutputsCell_3_Label_do58 {
	@include elemTop(30);
}
#cntRobotOutputsCell_3_Label_do58 {
	@include elemLeft(32);
}
#cntRobotOutputsCell_3_Label_do58 {
	@include elemAutoWidth(248);
}
#cntRobotOutputsCell_3_Label_do58 {
	@include elemAutoHeight(20);
}
#cntRobotOutputsCell_3_Label_do58 {
		z-index: 15;
}
#cntRobotOutputsCell_3_Label_do58 {
		font-size: 15px;
}
#cntRobotOutputsCell_3_Label_do111 {
	@include elemTop(60);
}
#cntRobotOutputsCell_3_Label_do111 {
	@include elemLeft(32);
}
#cntRobotOutputsCell_3_Label_do111 {
	@include elemAutoWidth(268);
}
#cntRobotOutputsCell_3_Label_do111 {
	@include elemAutoHeight(20);
}
#cntRobotOutputsCell_3_Label_do111 {
		z-index: 16;
}
#cntRobotOutputsCell_3_Label_do111 {
		font-size: 15px;
}
#cntRobotOutputsCell_3_Label_do112 {
	@include elemTop(90);
}
#cntRobotOutputsCell_3_Label_do112 {
	@include elemLeft(32);
}
#cntRobotOutputsCell_3_Label_do112 {
	@include elemAutoWidth(268);
}
#cntRobotOutputsCell_3_Label_do112 {
	@include elemAutoHeight(20);
}
#cntRobotOutputsCell_3_Label_do112 {
		z-index: 17;
}
#cntRobotOutputsCell_3_Label_do112 {
		font-size: 15px;
}
#cntRobotOutputsCell_3_Label_do113 {
	@include elemTop(120);
}
#cntRobotOutputsCell_3_Label_do113 {
	@include elemLeft(32);
}
#cntRobotOutputsCell_3_Label_do113 {
	@include elemAutoWidth(268);
}
#cntRobotOutputsCell_3_Label_do113 {
	@include elemAutoHeight(20);
}
#cntRobotOutputsCell_3_Label_do113 {
		z-index: 18;
}
#cntRobotOutputsCell_3_Label_do113 {
		font-size: 15px;
}
#cntRobotOutputsCell_3_Label_do114 {
	@include elemTop(150);
}
#cntRobotOutputsCell_3_Label_do114 {
	@include elemLeft(32);
}
#cntRobotOutputsCell_3_Label_do114 {
	@include elemAutoWidth(240);
}
#cntRobotOutputsCell_3_Label_do114 {
	@include elemAutoHeight(20);
}
#cntRobotOutputsCell_3_Label_do114 {
		z-index: 19;
}
#cntRobotOutputsCell_3_Label_do115 {
	@include elemTop(180);
}
#cntRobotOutputsCell_3_Label_do115 {
	@include elemLeft(32);
}
#cntRobotOutputsCell_3_Label_do115 {
	@include elemAutoWidth(240);
}
#cntRobotOutputsCell_3_Label_do115 {
	@include elemAutoHeight(20);
}
#cntRobotOutputsCell_3_Label_do115 {
		z-index: 20;
}
#cntRobotOutputsCell_3_Label_do116 {
	@include elemTop(210);
}
#cntRobotOutputsCell_3_Label_do116 {
	@include elemLeft(32);
}
#cntRobotOutputsCell_3_Label_do116 {
	@include elemAutoWidth(240);
}
#cntRobotOutputsCell_3_Label_do116 {
	@include elemAutoHeight(20);
}
#cntRobotOutputsCell_3_Label_do116 {
		z-index: 21;
}
#cntRobotOutputsCell_3_Label_do117 {
	@include elemTop(240);
}
#cntRobotOutputsCell_3_Label_do117 {
	@include elemLeft(32);
}
#cntRobotOutputsCell_3_Label_do117 {
	@include elemAutoWidth(240);
}
#cntRobotOutputsCell_3_Label_do117 {
	@include elemAutoHeight(20);
}
#cntRobotOutputsCell_3_Label_do117 {
		z-index: 22;
}
#cntRobotOutputsCell_3_Label_do118 {
	@include elemTop(270);
}
#cntRobotOutputsCell_3_Label_do118 {
	@include elemLeft(32);
}
#cntRobotOutputsCell_3_Label_do118 {
	@include elemAutoWidth(230);
}
#cntRobotOutputsCell_3_Label_do118 {
	@include elemAutoHeight(20);
}
#cntRobotOutputsCell_3_Label_do118 {
		z-index: 23;
}
#cntRobotOutputsCell_3_Label_do119 {
	@include elemTop(300);
}
#cntRobotOutputsCell_3_Label_do119 {
	@include elemLeft(32);
}
#cntRobotOutputsCell_3_Label_do119 {
	@include elemAutoWidth(230);
}
#cntRobotOutputsCell_3_Label_do119 {
	@include elemAutoHeight(20);
}
#cntRobotOutputsCell_3_Label_do119 {
		z-index: 24;
}
#cntRobotOutputsCell_3_Label_do120 {
	@include elemTop(330);
}
#cntRobotOutputsCell_3_Label_do120 {
	@include elemLeft(32);
}
#cntRobotOutputsCell_3_Label_do120 {
	@include elemAutoWidth(230);
}
#cntRobotOutputsCell_3_Label_do120 {
	@include elemAutoHeight(20);
}
#cntRobotOutputsCell_3_Label_do120 {
		z-index: 25;
}
#cntRobotOutputsCell_3_Label_do121 {
	@include elemTop(360);
}
#cntRobotOutputsCell_3_Label_do121 {
	@include elemLeft(32);
}
#cntRobotOutputsCell_3_Label_do121 {
	@include elemAutoWidth(230);
}
#cntRobotOutputsCell_3_Label_do121 {
	@include elemAutoHeight(20);
}
#cntRobotOutputsCell_3_Label_do121 {
		z-index: 26;
}
#cntRobotOutputsCell_3_Label_do122 {
	@include elemTop(390);
}
#cntRobotOutputsCell_3_Label_do122 {
	@include elemLeft(32);
}
#cntRobotOutputsCell_3_Label_do122 {
	@include elemAutoWidth(230);
}
#cntRobotOutputsCell_3_Label_do122 {
	@include elemAutoHeight(20);
}
#cntRobotOutputsCell_3_Label_do122 {
		z-index: 27;
}
#cntRobotOutputsCell_3_Label_do123 {
	@include elemTop(420);
}
#cntRobotOutputsCell_3_Label_do123 {
	@include elemLeft(32);
}
#cntRobotOutputsCell_3_Label_do123 {
	@include elemAutoWidth(230);
}
#cntRobotOutputsCell_3_Label_do123 {
	@include elemAutoHeight(20);
}
#cntRobotOutputsCell_3_Label_do123 {
		z-index: 28;
}
#cntRobotOutputsCell_3_Label_do124 {
	@include elemTop(450);
}
#cntRobotOutputsCell_3_Label_do124 {
	@include elemLeft(32);
}
#cntRobotOutputsCell_3_Label_do124 {
	@include elemAutoWidth(230);
}
#cntRobotOutputsCell_3_Label_do124 {
	@include elemAutoHeight(20);
}
#cntRobotOutputsCell_3_Label_do124 {
		z-index: 29;
}
#cntRobotOutputsCell_3_Label_do125 {
	@include elemTop(480);
}
#cntRobotOutputsCell_3_Label_do125 {
	@include elemLeft(32);
}
#cntRobotOutputsCell_3_Label_do125 {
	@include elemAutoWidth(230);
}
#cntRobotOutputsCell_3_Label_do125 {
	@include elemAutoHeight(20);
}
#cntRobotOutputsCell_3_Label_do125 {
		z-index: 30;
}
#cntRobotOutputsCell_3_NumericOutput11 {
	@include elemTop(450);
}
#cntRobotOutputsCell_3_NumericOutput11 {
	@include elemLeft(0);
}
#cntRobotOutputsCell_3_NumericOutput11 {
	@include elemAutoWidth(60);
}
#cntRobotOutputsCell_3_NumericOutput11 {
	@include elemAutoHeight(20);
}
#cntRobotOutputsCell_3_NumericOutput11 {
		z-index: 31;
}
#cntRobotOutputsCell_3_NumericOutput11 {
		border-color: rgba(0, 0, 0, 1);
}
#cntRobotOutputsCell_3_NumericOutput11 {
	input{
		color: rgba(0, 0, 0, 1);
	}
}
#cntRobotOutputsCell_3_NumericOutput11 {
	span.breaseNumericOutput_unit{
		color: rgba(0, 0, 0, 1);
	}
}
#cntRobotOutputsCell_3_NumericOutput11 {
	input{
		font-size: 14px;
	}
}
#cntRobotOutputsCell_3_NumericOutput11 {
		margin: 0px;
}
#cntRobotOutputsCell_3_NumericOutput12 {
	@include elemTop(480);
}
#cntRobotOutputsCell_3_NumericOutput12 {
	@include elemLeft(0);
}
#cntRobotOutputsCell_3_NumericOutput12 {
	@include elemAutoWidth(60);
}
#cntRobotOutputsCell_3_NumericOutput12 {
	@include elemAutoHeight(20);
}
#cntRobotOutputsCell_3_NumericOutput12 {
		z-index: 32;
}
#cntRobotOutputsCell_3_NumericOutput12 {
		border-color: rgba(0, 0, 0, 1);
}
#cntRobotOutputsCell_3_NumericOutput12 {
	input{
		color: rgba(0, 0, 0, 1);
	}
}
#cntRobotOutputsCell_3_NumericOutput12 {
	span.breaseNumericOutput_unit{
		color: rgba(0, 0, 0, 1);
	}
}
#cntRobotOutputsCell_3_NumericOutput12 {
	input{
		font-size: 14px;
	}
}
#cntRobotOutputsCell_3_NumericOutput12 {
		margin: 0px;
}
#cntRobotOutputsCell_3_GridLineItem5 {
		z-index: 4;
}
#cntRobotOutputsCell_3_GridLineItem5 {
		padding: 0px 10px 10px 10px;
}
#cntRobotOutputsCell_3_ImageList111 {
	@include elemTop(95);
}
#cntRobotOutputsCell_3_ImageList111 {
	@include elemLeft(5);
}
#cntRobotOutputsCell_3_ImageList111 {
	@include elemWidth(20);
}
#cntRobotOutputsCell_3_ImageList111 {
	@include elemHeight(20);
}
#cntRobotOutputsCell_3_ImageList111 {
		z-index: 0;
}
#cntRobotOutputsCell_3_ImageList112 {
	@include elemTop(125);
}
#cntRobotOutputsCell_3_ImageList112 {
	@include elemLeft(5);
}
#cntRobotOutputsCell_3_ImageList112 {
	@include elemWidth(20);
}
#cntRobotOutputsCell_3_ImageList112 {
	@include elemHeight(20);
}
#cntRobotOutputsCell_3_ImageList112 {
		z-index: 1;
}
#cntRobotOutputsCell_3_ImageList113 {
	@include elemTop(155);
}
#cntRobotOutputsCell_3_ImageList113 {
	@include elemLeft(5);
}
#cntRobotOutputsCell_3_ImageList113 {
	@include elemWidth(20);
}
#cntRobotOutputsCell_3_ImageList113 {
	@include elemHeight(20);
}
#cntRobotOutputsCell_3_ImageList113 {
		z-index: 2;
}
#cntRobotOutputsCell_3_ImageList114 {
	@include elemTop(185);
}
#cntRobotOutputsCell_3_ImageList114 {
	@include elemLeft(5);
}
#cntRobotOutputsCell_3_ImageList114 {
	@include elemWidth(20);
}
#cntRobotOutputsCell_3_ImageList114 {
	@include elemHeight(20);
}
#cntRobotOutputsCell_3_ImageList114 {
		z-index: 3;
}
#cntRobotOutputsCell_3_ImageList115 {
	@include elemTop(215);
}
#cntRobotOutputsCell_3_ImageList115 {
	@include elemLeft(5);
}
#cntRobotOutputsCell_3_ImageList115 {
	@include elemWidth(20);
}
#cntRobotOutputsCell_3_ImageList115 {
	@include elemHeight(20);
}
#cntRobotOutputsCell_3_ImageList115 {
		z-index: 4;
}
#cntRobotOutputsCell_3_ImageList116 {
	@include elemTop(245);
}
#cntRobotOutputsCell_3_ImageList116 {
	@include elemLeft(5);
}
#cntRobotOutputsCell_3_ImageList116 {
	@include elemWidth(20);
}
#cntRobotOutputsCell_3_ImageList116 {
	@include elemHeight(20);
}
#cntRobotOutputsCell_3_ImageList116 {
		z-index: 5;
}
#cntRobotOutputsCell_3_Label8 {
	@include elemTop(8);
}
#cntRobotOutputsCell_3_Label8 {
	@include elemLeft(45);
}
#cntRobotOutputsCell_3_Label8 {
	@include elemAutoWidth(190);
}
#cntRobotOutputsCell_3_Label8 {
	@include elemAutoHeight(20);
}
#cntRobotOutputsCell_3_Label8 {
		z-index: 6;
}
#cntRobotOutputsCell_3_Label8 {
	& span{
		color: rgba(105, 105, 105, 1);
	}
}
#cntRobotOutputsCell_3_Label8 {
	@include text-alignment-all('center');
}
#cntRobotOutputsCell_3_Label8 {
		font-size: 18px;
}
#cntRobotOutputsCell_3_Label8 {
	span{
	@include text-decoration-underline(true);
	}
}
#cntRobotOutputsCell_3_Label_do59 {
	@include elemTop(35);
}
#cntRobotOutputsCell_3_Label_do59 {
	@include elemLeft(35);
}
#cntRobotOutputsCell_3_Label_do59 {
	@include elemAutoWidth(230);
}
#cntRobotOutputsCell_3_Label_do59 {
	@include elemAutoHeight(20);
}
#cntRobotOutputsCell_3_Label_do59 {
		z-index: 7;
}
#cntRobotOutputsCell_3_Label_do126 {
	@include elemTop(65);
}
#cntRobotOutputsCell_3_Label_do126 {
	@include elemLeft(35);
}
#cntRobotOutputsCell_3_Label_do126 {
	@include elemAutoWidth(230);
}
#cntRobotOutputsCell_3_Label_do126 {
	@include elemAutoHeight(20);
}
#cntRobotOutputsCell_3_Label_do126 {
		z-index: 8;
}
#cntRobotOutputsCell_3_Label_do127 {
	@include elemTop(95);
}
#cntRobotOutputsCell_3_Label_do127 {
	@include elemLeft(35);
}
#cntRobotOutputsCell_3_Label_do127 {
	@include elemAutoWidth(265);
}
#cntRobotOutputsCell_3_Label_do127 {
	@include elemAutoHeight(20);
}
#cntRobotOutputsCell_3_Label_do127 {
		z-index: 9;
}
#cntRobotOutputsCell_3_Label_do127 {
		font-size: 15px;
}
#cntRobotOutputsCell_3_Label_do128 {
	@include elemTop(125);
}
#cntRobotOutputsCell_3_Label_do128 {
	@include elemLeft(35);
}
#cntRobotOutputsCell_3_Label_do128 {
	@include elemAutoWidth(265);
}
#cntRobotOutputsCell_3_Label_do128 {
	@include elemAutoHeight(20);
}
#cntRobotOutputsCell_3_Label_do128 {
		z-index: 10;
}
#cntRobotOutputsCell_3_Label_do128 {
		font-size: 15px;
}
#cntRobotOutputsCell_3_Label_do129 {
	@include elemTop(155);
}
#cntRobotOutputsCell_3_Label_do129 {
	@include elemLeft(35);
}
#cntRobotOutputsCell_3_Label_do129 {
	@include elemAutoWidth(265);
}
#cntRobotOutputsCell_3_Label_do129 {
	@include elemAutoHeight(20);
}
#cntRobotOutputsCell_3_Label_do129 {
		z-index: 11;
}
#cntRobotOutputsCell_3_Label_do129 {
		font-size: 15px;
}
#cntRobotOutputsCell_3_Label_do130 {
	@include elemTop(185);
}
#cntRobotOutputsCell_3_Label_do130 {
	@include elemLeft(35);
}
#cntRobotOutputsCell_3_Label_do130 {
	@include elemAutoWidth(265);
}
#cntRobotOutputsCell_3_Label_do130 {
	@include elemAutoHeight(20);
}
#cntRobotOutputsCell_3_Label_do130 {
		z-index: 12;
}
#cntRobotOutputsCell_3_Label_do130 {
		font-size: 15px;
}
#cntRobotOutputsCell_3_Label_do131 {
	@include elemTop(215);
}
#cntRobotOutputsCell_3_Label_do131 {
	@include elemLeft(35);
}
#cntRobotOutputsCell_3_Label_do131 {
	@include elemAutoWidth(265);
}
#cntRobotOutputsCell_3_Label_do131 {
	@include elemAutoHeight(20);
}
#cntRobotOutputsCell_3_Label_do131 {
		z-index: 13;
}
#cntRobotOutputsCell_3_Label_do131 {
		font-size: 15px;
}
#cntRobotOutputsCell_3_Label_do132 {
	@include elemTop(245);
}
#cntRobotOutputsCell_3_Label_do132 {
	@include elemLeft(35);
}
#cntRobotOutputsCell_3_Label_do132 {
	@include elemAutoWidth(265);
}
#cntRobotOutputsCell_3_Label_do132 {
	@include elemAutoHeight(20);
}
#cntRobotOutputsCell_3_Label_do132 {
		z-index: 14;
}
#cntRobotOutputsCell_3_Label_do132 {
		font-size: 15px;
}
#cntRobotOutputsCell_3_NumericOutput13 {
	@include elemTop(35);
}
#cntRobotOutputsCell_3_NumericOutput13 {
	@include elemLeft(0);
}
#cntRobotOutputsCell_3_NumericOutput13 {
	@include elemAutoWidth(60);
}
#cntRobotOutputsCell_3_NumericOutput13 {
	@include elemAutoHeight(20);
}
#cntRobotOutputsCell_3_NumericOutput13 {
		z-index: 15;
}
#cntRobotOutputsCell_3_NumericOutput13 {
		border-color: rgba(0, 0, 0, 1);
}
#cntRobotOutputsCell_3_NumericOutput13 {
	input{
		color: rgba(0, 0, 0, 1);
	}
}
#cntRobotOutputsCell_3_NumericOutput13 {
	span.breaseNumericOutput_unit{
		color: rgba(0, 0, 0, 1);
	}
}
#cntRobotOutputsCell_3_NumericOutput13 {
	input{
		font-size: 14px;
	}
}
#cntRobotOutputsCell_3_NumericOutput13 {
		margin: 0px;
}
#cntRobotOutputsCell_3_NumericOutput14 {
	@include elemTop(65);
}
#cntRobotOutputsCell_3_NumericOutput14 {
	@include elemLeft(0);
}
#cntRobotOutputsCell_3_NumericOutput14 {
	@include elemAutoWidth(60);
}
#cntRobotOutputsCell_3_NumericOutput14 {
	@include elemAutoHeight(20);
}
#cntRobotOutputsCell_3_NumericOutput14 {
		z-index: 16;
}
#cntRobotOutputsCell_3_NumericOutput14 {
		border-color: rgba(0, 0, 0, 1);
}
#cntRobotOutputsCell_3_NumericOutput14 {
	input{
		color: rgba(0, 0, 0, 1);
	}
}
#cntRobotOutputsCell_3_NumericOutput14 {
	span.breaseNumericOutput_unit{
		color: rgba(0, 0, 0, 1);
	}
}
#cntRobotOutputsCell_3_NumericOutput14 {
	input{
		font-size: 14px;
	}
}
#cntRobotOutputsCell_3_NumericOutput14 {
		margin: 0px;
}
#cntRobotOutputsCell_3_CheckBox_RobotOut {
	@include elemTop(0);
}
#cntRobotOutputsCell_3_CheckBox_RobotOut {
	@include elemLeft(250);
}
#cntRobotOutputsCell_3_CheckBox_RobotOut {
	@include elemAutoWidth(45);
}
#cntRobotOutputsCell_3_CheckBox_RobotOut {
	@include elemAutoHeight(45);
}
#cntRobotOutputsCell_3_CheckBox_RobotOut {
		z-index: 1;
}
#cntRobotOutputsCell_3_CheckBox_RobotOut {
	span{
	@include font-style-italic(true);
	}
}
#cntRobotOutputsCell_3_CheckBox_RobotOut {
	&.checked:not(.disabled) svg{
		fill: rgba(255, 0, 0, 1);
	}
}
