#cntRobotOutputsCell_3_GridLine1 {
  top: 0px;
  position: absolute;
}

#cntRobotOutputsCell_3_GridLine1 {
  left: 0px;
  position: absolute;
}

#cntRobotOutputsCell_3_GridLine1 {
  width: 300px;
}

#cntRobotOutputsCell_3_GridLine1 {
  height: 540px;
}

#cntRobotOutputsCell_3_GridLine1 {
  z-index: 0;
}

#cntRobotOutputsCell_3_GridLine1 .container {
  padding: 5px 0px;
}

#cntRobotOutputsCell_3_GridLineItem1 {
  z-index: 0;
}

#cntRobotOutputsCell_3_GridLineItem1 {
  padding: 0px 10px 10px 10px;
}

#cntRobotOutputsCell_3_ImageList47 {
  top: 32px;
  position: absolute;
}

#cntRobotOutputsCell_3_ImageList47 {
  left: 5px;
  position: absolute;
}

#cntRobotOutputsCell_3_ImageList47 {
  width: 20px;
}

#cntRobotOutputsCell_3_ImageList47 {
  height: 20px;
}

#cntRobotOutputsCell_3_ImageList47 {
  z-index: 0;
}

#cntRobotOutputsCell_3_ImageList48 {
  top: 62px;
  position: absolute;
}

#cntRobotOutputsCell_3_ImageList48 {
  left: 5px;
  position: absolute;
}

#cntRobotOutputsCell_3_ImageList48 {
  width: 20px;
}

#cntRobotOutputsCell_3_ImageList48 {
  height: 20px;
}

#cntRobotOutputsCell_3_ImageList48 {
  z-index: 1;
}

#cntRobotOutputsCell_3_ImageList49 {
  top: 92px;
  position: absolute;
}

#cntRobotOutputsCell_3_ImageList49 {
  left: 5px;
  position: absolute;
}

#cntRobotOutputsCell_3_ImageList49 {
  width: 20px;
}

#cntRobotOutputsCell_3_ImageList49 {
  height: 20px;
}

#cntRobotOutputsCell_3_ImageList49 {
  z-index: 2;
}

#cntRobotOutputsCell_3_ImageList50 {
  top: 122px;
  position: absolute;
}

#cntRobotOutputsCell_3_ImageList50 {
  left: 5px;
  position: absolute;
}

#cntRobotOutputsCell_3_ImageList50 {
  width: 20px;
}

#cntRobotOutputsCell_3_ImageList50 {
  height: 20px;
}

#cntRobotOutputsCell_3_ImageList50 {
  z-index: 3;
}

#cntRobotOutputsCell_3_ImageList51 {
  top: 152px;
  position: absolute;
}

#cntRobotOutputsCell_3_ImageList51 {
  left: 5px;
  position: absolute;
}

#cntRobotOutputsCell_3_ImageList51 {
  width: 20px;
}

#cntRobotOutputsCell_3_ImageList51 {
  height: 20px;
}

#cntRobotOutputsCell_3_ImageList51 {
  z-index: 4;
}

#cntRobotOutputsCell_3_ImageList52 {
  top: 182px;
  position: absolute;
}

#cntRobotOutputsCell_3_ImageList52 {
  left: 5px;
  position: absolute;
}

#cntRobotOutputsCell_3_ImageList52 {
  width: 20px;
}

#cntRobotOutputsCell_3_ImageList52 {
  height: 20px;
}

#cntRobotOutputsCell_3_ImageList52 {
  z-index: 5;
}

#cntRobotOutputsCell_3_ImageList53 {
  top: 212px;
  position: absolute;
}

#cntRobotOutputsCell_3_ImageList53 {
  left: 5px;
  position: absolute;
}

#cntRobotOutputsCell_3_ImageList53 {
  width: 20px;
}

#cntRobotOutputsCell_3_ImageList53 {
  height: 20px;
}

#cntRobotOutputsCell_3_ImageList53 {
  z-index: 6;
}

#cntRobotOutputsCell_3_ImageList54 {
  top: 242px;
  position: absolute;
}

#cntRobotOutputsCell_3_ImageList54 {
  left: 5px;
  position: absolute;
}

#cntRobotOutputsCell_3_ImageList54 {
  width: 20px;
}

#cntRobotOutputsCell_3_ImageList54 {
  height: 20px;
}

#cntRobotOutputsCell_3_ImageList54 {
  z-index: 7;
}

#cntRobotOutputsCell_3_ImageList55 {
  top: 272px;
  position: absolute;
}

#cntRobotOutputsCell_3_ImageList55 {
  left: 5px;
  position: absolute;
}

#cntRobotOutputsCell_3_ImageList55 {
  width: 20px;
}

#cntRobotOutputsCell_3_ImageList55 {
  height: 20px;
}

#cntRobotOutputsCell_3_ImageList55 {
  z-index: 8;
}

#cntRobotOutputsCell_3_ImageList56 {
  top: 302px;
  position: absolute;
}

#cntRobotOutputsCell_3_ImageList56 {
  left: 5px;
  position: absolute;
}

#cntRobotOutputsCell_3_ImageList56 {
  width: 20px;
}

#cntRobotOutputsCell_3_ImageList56 {
  height: 20px;
}

#cntRobotOutputsCell_3_ImageList56 {
  z-index: 9;
}

#cntRobotOutputsCell_3_ImageList57 {
  top: 332px;
  position: absolute;
}

#cntRobotOutputsCell_3_ImageList57 {
  left: 5px;
  position: absolute;
}

#cntRobotOutputsCell_3_ImageList57 {
  width: 20px;
}

#cntRobotOutputsCell_3_ImageList57 {
  height: 20px;
}

#cntRobotOutputsCell_3_ImageList57 {
  z-index: 10;
}

#cntRobotOutputsCell_3_ImageList58 {
  top: 362px;
  position: absolute;
}

#cntRobotOutputsCell_3_ImageList58 {
  left: 5px;
  position: absolute;
}

#cntRobotOutputsCell_3_ImageList58 {
  width: 20px;
}

#cntRobotOutputsCell_3_ImageList58 {
  height: 20px;
}

#cntRobotOutputsCell_3_ImageList58 {
  z-index: 11;
}

#cntRobotOutputsCell_3_ImageList59 {
  top: 392px;
  position: absolute;
}

#cntRobotOutputsCell_3_ImageList59 {
  left: 5px;
  position: absolute;
}

#cntRobotOutputsCell_3_ImageList59 {
  width: 20px;
}

#cntRobotOutputsCell_3_ImageList59 {
  height: 20px;
}

#cntRobotOutputsCell_3_ImageList59 {
  z-index: 12;
}

#cntRobotOutputsCell_3_ImageList60 {
  top: 422px;
  position: absolute;
}

#cntRobotOutputsCell_3_ImageList60 {
  left: 5px;
  position: absolute;
}

#cntRobotOutputsCell_3_ImageList60 {
  width: 20px;
}

#cntRobotOutputsCell_3_ImageList60 {
  height: 20px;
}

#cntRobotOutputsCell_3_ImageList60 {
  z-index: 13;
}

#cntRobotOutputsCell_3_ImageList61 {
  top: 452px;
  position: absolute;
}

#cntRobotOutputsCell_3_ImageList61 {
  left: 5px;
  position: absolute;
}

#cntRobotOutputsCell_3_ImageList61 {
  width: 20px;
}

#cntRobotOutputsCell_3_ImageList61 {
  height: 20px;
}

#cntRobotOutputsCell_3_ImageList61 {
  z-index: 14;
}

#cntRobotOutputsCell_3_ImageList62 {
  top: 482px;
  position: absolute;
}

#cntRobotOutputsCell_3_ImageList62 {
  left: 5px;
  position: absolute;
}

#cntRobotOutputsCell_3_ImageList62 {
  width: 20px;
}

#cntRobotOutputsCell_3_ImageList62 {
  height: 20px;
}

#cntRobotOutputsCell_3_ImageList62 {
  z-index: 15;
}

#cntRobotOutputsCell_3_Label4 {
  top: 8px;
  position: absolute;
}

#cntRobotOutputsCell_3_Label4 {
  left: 50px;
  position: absolute;
}

#cntRobotOutputsCell_3_Label4 {
  width: 190px;
}

#cntRobotOutputsCell_3_Label4 {
  height: 20px;
}

#cntRobotOutputsCell_3_Label4 {
  z-index: 16;
}

#cntRobotOutputsCell_3_Label4 span {
  color: dimgray;
}

#cntRobotOutputsCell_3_Label4 {
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntRobotOutputsCell_3_Label4 {
  font-size: 18px;
}

#cntRobotOutputsCell_3_Label4 span {
  text-decoration: underline;
}

#cntRobotOutputsCell_3_Label_do55 {
  top: 32px;
  position: absolute;
}

#cntRobotOutputsCell_3_Label_do55 {
  left: 33px;
  position: absolute;
}

#cntRobotOutputsCell_3_Label_do55 {
  width: 230px;
}

#cntRobotOutputsCell_3_Label_do55 {
  height: 20px;
}

#cntRobotOutputsCell_3_Label_do55 {
  z-index: 17;
}

#cntRobotOutputsCell_3_Label_do66 {
  top: 62px;
  position: absolute;
}

#cntRobotOutputsCell_3_Label_do66 {
  left: 33px;
  position: absolute;
}

#cntRobotOutputsCell_3_Label_do66 {
  width: 240px;
}

#cntRobotOutputsCell_3_Label_do66 {
  height: 20px;
}

#cntRobotOutputsCell_3_Label_do66 {
  z-index: 18;
}

#cntRobotOutputsCell_3_Label_do67 {
  top: 92px;
  position: absolute;
}

#cntRobotOutputsCell_3_Label_do67 {
  left: 33px;
  position: absolute;
}

#cntRobotOutputsCell_3_Label_do67 {
  width: 240px;
}

#cntRobotOutputsCell_3_Label_do67 {
  height: 20px;
}

#cntRobotOutputsCell_3_Label_do67 {
  z-index: 19;
}

#cntRobotOutputsCell_3_Label_do68 {
  top: 122px;
  position: absolute;
}

#cntRobotOutputsCell_3_Label_do68 {
  left: 33px;
  position: absolute;
}

#cntRobotOutputsCell_3_Label_do68 {
  width: 240px;
}

#cntRobotOutputsCell_3_Label_do68 {
  height: 20px;
}

#cntRobotOutputsCell_3_Label_do68 {
  z-index: 20;
}

#cntRobotOutputsCell_3_Label_do69 {
  top: 152px;
  position: absolute;
}

#cntRobotOutputsCell_3_Label_do69 {
  left: 33px;
  position: absolute;
}

#cntRobotOutputsCell_3_Label_do69 {
  width: 240px;
}

#cntRobotOutputsCell_3_Label_do69 {
  height: 20px;
}

#cntRobotOutputsCell_3_Label_do69 {
  z-index: 21;
}

#cntRobotOutputsCell_3_Label_do70 {
  top: 182px;
  position: absolute;
}

#cntRobotOutputsCell_3_Label_do70 {
  left: 33px;
  position: absolute;
}

#cntRobotOutputsCell_3_Label_do70 {
  width: 240px;
}

#cntRobotOutputsCell_3_Label_do70 {
  height: 20px;
}

#cntRobotOutputsCell_3_Label_do70 {
  z-index: 22;
}

#cntRobotOutputsCell_3_Label_do71 {
  top: 212px;
  position: absolute;
}

#cntRobotOutputsCell_3_Label_do71 {
  left: 33px;
  position: absolute;
}

#cntRobotOutputsCell_3_Label_do71 {
  width: 240px;
}

#cntRobotOutputsCell_3_Label_do71 {
  height: 20px;
}

#cntRobotOutputsCell_3_Label_do71 {
  z-index: 23;
}

#cntRobotOutputsCell_3_Label_do72 {
  top: 242px;
  position: absolute;
}

#cntRobotOutputsCell_3_Label_do72 {
  left: 33px;
  position: absolute;
}

#cntRobotOutputsCell_3_Label_do72 {
  width: 240px;
}

#cntRobotOutputsCell_3_Label_do72 {
  height: 20px;
}

#cntRobotOutputsCell_3_Label_do72 {
  z-index: 24;
}

#cntRobotOutputsCell_3_Label_do73 {
  top: 272px;
  position: absolute;
}

#cntRobotOutputsCell_3_Label_do73 {
  left: 33px;
  position: absolute;
}

#cntRobotOutputsCell_3_Label_do73 {
  width: 230px;
}

#cntRobotOutputsCell_3_Label_do73 {
  height: 20px;
}

#cntRobotOutputsCell_3_Label_do73 {
  z-index: 25;
}

#cntRobotOutputsCell_3_Label_do74 {
  top: 302px;
  position: absolute;
}

#cntRobotOutputsCell_3_Label_do74 {
  left: 33px;
  position: absolute;
}

#cntRobotOutputsCell_3_Label_do74 {
  width: 230px;
}

#cntRobotOutputsCell_3_Label_do74 {
  height: 20px;
}

#cntRobotOutputsCell_3_Label_do74 {
  z-index: 26;
}

#cntRobotOutputsCell_3_Label_do75 {
  top: 332px;
  position: absolute;
}

#cntRobotOutputsCell_3_Label_do75 {
  left: 33px;
  position: absolute;
}

#cntRobotOutputsCell_3_Label_do75 {
  width: 230px;
}

#cntRobotOutputsCell_3_Label_do75 {
  height: 20px;
}

#cntRobotOutputsCell_3_Label_do75 {
  z-index: 27;
}

#cntRobotOutputsCell_3_Label_do76 {
  top: 362px;
  position: absolute;
}

#cntRobotOutputsCell_3_Label_do76 {
  left: 33px;
  position: absolute;
}

#cntRobotOutputsCell_3_Label_do76 {
  width: 230px;
}

#cntRobotOutputsCell_3_Label_do76 {
  height: 20px;
}

#cntRobotOutputsCell_3_Label_do76 {
  z-index: 28;
}

#cntRobotOutputsCell_3_Label_do77 {
  top: 392px;
  position: absolute;
}

#cntRobotOutputsCell_3_Label_do77 {
  left: 33px;
  position: absolute;
}

#cntRobotOutputsCell_3_Label_do77 {
  width: 230px;
}

#cntRobotOutputsCell_3_Label_do77 {
  height: 20px;
}

#cntRobotOutputsCell_3_Label_do77 {
  z-index: 29;
}

#cntRobotOutputsCell_3_Label_do78 {
  top: 422px;
  position: absolute;
}

#cntRobotOutputsCell_3_Label_do78 {
  left: 33px;
  position: absolute;
}

#cntRobotOutputsCell_3_Label_do78 {
  width: 230px;
}

#cntRobotOutputsCell_3_Label_do78 {
  height: 20px;
}

#cntRobotOutputsCell_3_Label_do78 {
  z-index: 30;
}

#cntRobotOutputsCell_3_Label_do79 {
  top: 452px;
  position: absolute;
}

#cntRobotOutputsCell_3_Label_do79 {
  left: 33px;
  position: absolute;
}

#cntRobotOutputsCell_3_Label_do79 {
  width: 230px;
}

#cntRobotOutputsCell_3_Label_do79 {
  height: 20px;
}

#cntRobotOutputsCell_3_Label_do79 {
  z-index: 31;
}

#cntRobotOutputsCell_3_Label_do80 {
  top: 482px;
  position: absolute;
}

#cntRobotOutputsCell_3_Label_do80 {
  left: 33px;
  position: absolute;
}

#cntRobotOutputsCell_3_Label_do80 {
  width: 230px;
}

#cntRobotOutputsCell_3_Label_do80 {
  height: 20px;
}

#cntRobotOutputsCell_3_Label_do80 {
  z-index: 32;
}

#cntRobotOutputsCell_3_GridLineItem2 {
  z-index: 1;
}

#cntRobotOutputsCell_3_GridLineItem2 {
  padding: 0px 10px 10px 10px;
}

#cntRobotOutputsCell_3_ImageList63 {
  top: 30px;
  position: absolute;
}

#cntRobotOutputsCell_3_ImageList63 {
  left: 5px;
  position: absolute;
}

#cntRobotOutputsCell_3_ImageList63 {
  width: 20px;
}

#cntRobotOutputsCell_3_ImageList63 {
  height: 20px;
}

#cntRobotOutputsCell_3_ImageList63 {
  z-index: 0;
}

#cntRobotOutputsCell_3_ImageList64 {
  top: 60px;
  position: absolute;
}

#cntRobotOutputsCell_3_ImageList64 {
  left: 5px;
  position: absolute;
}

#cntRobotOutputsCell_3_ImageList64 {
  width: 20px;
}

#cntRobotOutputsCell_3_ImageList64 {
  height: 20px;
}

#cntRobotOutputsCell_3_ImageList64 {
  z-index: 1;
}

#cntRobotOutputsCell_3_ImageList65 {
  top: 90px;
  position: absolute;
}

#cntRobotOutputsCell_3_ImageList65 {
  left: 5px;
  position: absolute;
}

#cntRobotOutputsCell_3_ImageList65 {
  width: 20px;
}

#cntRobotOutputsCell_3_ImageList65 {
  height: 20px;
}

#cntRobotOutputsCell_3_ImageList65 {
  z-index: 2;
}

#cntRobotOutputsCell_3_ImageList66 {
  top: 120px;
  position: absolute;
}

#cntRobotOutputsCell_3_ImageList66 {
  left: 5px;
  position: absolute;
}

#cntRobotOutputsCell_3_ImageList66 {
  width: 20px;
}

#cntRobotOutputsCell_3_ImageList66 {
  height: 20px;
}

#cntRobotOutputsCell_3_ImageList66 {
  z-index: 3;
}

#cntRobotOutputsCell_3_ImageList67 {
  top: 150px;
  position: absolute;
}

#cntRobotOutputsCell_3_ImageList67 {
  left: 5px;
  position: absolute;
}

#cntRobotOutputsCell_3_ImageList67 {
  width: 20px;
}

#cntRobotOutputsCell_3_ImageList67 {
  height: 20px;
}

#cntRobotOutputsCell_3_ImageList67 {
  z-index: 4;
}

#cntRobotOutputsCell_3_ImageList68 {
  top: 180px;
  position: absolute;
}

#cntRobotOutputsCell_3_ImageList68 {
  left: 5px;
  position: absolute;
}

#cntRobotOutputsCell_3_ImageList68 {
  width: 20px;
}

#cntRobotOutputsCell_3_ImageList68 {
  height: 20px;
}

#cntRobotOutputsCell_3_ImageList68 {
  z-index: 5;
}

#cntRobotOutputsCell_3_ImageList69 {
  top: 210px;
  position: absolute;
}

#cntRobotOutputsCell_3_ImageList69 {
  left: 5px;
  position: absolute;
}

#cntRobotOutputsCell_3_ImageList69 {
  width: 20px;
}

#cntRobotOutputsCell_3_ImageList69 {
  height: 20px;
}

#cntRobotOutputsCell_3_ImageList69 {
  z-index: 6;
}

#cntRobotOutputsCell_3_ImageList70 {
  top: 240px;
  position: absolute;
}

#cntRobotOutputsCell_3_ImageList70 {
  left: 5px;
  position: absolute;
}

#cntRobotOutputsCell_3_ImageList70 {
  width: 20px;
}

#cntRobotOutputsCell_3_ImageList70 {
  height: 20px;
}

#cntRobotOutputsCell_3_ImageList70 {
  z-index: 7;
}

#cntRobotOutputsCell_3_ImageList74 {
  top: 360px;
  position: absolute;
}

#cntRobotOutputsCell_3_ImageList74 {
  left: 5px;
  position: absolute;
}

#cntRobotOutputsCell_3_ImageList74 {
  width: 20px;
}

#cntRobotOutputsCell_3_ImageList74 {
  height: 20px;
}

#cntRobotOutputsCell_3_ImageList74 {
  z-index: 8;
}

#cntRobotOutputsCell_3_ImageList75 {
  top: 390px;
  position: absolute;
}

#cntRobotOutputsCell_3_ImageList75 {
  left: 5px;
  position: absolute;
}

#cntRobotOutputsCell_3_ImageList75 {
  width: 20px;
}

#cntRobotOutputsCell_3_ImageList75 {
  height: 20px;
}

#cntRobotOutputsCell_3_ImageList75 {
  z-index: 9;
}

#cntRobotOutputsCell_3_ImageList76 {
  top: 420px;
  position: absolute;
}

#cntRobotOutputsCell_3_ImageList76 {
  left: 5px;
  position: absolute;
}

#cntRobotOutputsCell_3_ImageList76 {
  width: 20px;
}

#cntRobotOutputsCell_3_ImageList76 {
  height: 20px;
}

#cntRobotOutputsCell_3_ImageList76 {
  z-index: 10;
}

#cntRobotOutputsCell_3_ImageList77 {
  top: 450px;
  position: absolute;
}

#cntRobotOutputsCell_3_ImageList77 {
  left: 5px;
  position: absolute;
}

#cntRobotOutputsCell_3_ImageList77 {
  width: 20px;
}

#cntRobotOutputsCell_3_ImageList77 {
  height: 20px;
}

#cntRobotOutputsCell_3_ImageList77 {
  z-index: 11;
}

#cntRobotOutputsCell_3_ImageList78 {
  top: 480px;
  position: absolute;
}

#cntRobotOutputsCell_3_ImageList78 {
  left: 5px;
  position: absolute;
}

#cntRobotOutputsCell_3_ImageList78 {
  width: 20px;
}

#cntRobotOutputsCell_3_ImageList78 {
  height: 20px;
}

#cntRobotOutputsCell_3_ImageList78 {
  z-index: 12;
}

#cntRobotOutputsCell_3_Label5 {
  top: 6px;
  position: absolute;
}

#cntRobotOutputsCell_3_Label5 {
  left: 49px;
  position: absolute;
}

#cntRobotOutputsCell_3_Label5 {
  width: 190px;
}

#cntRobotOutputsCell_3_Label5 {
  height: 20px;
}

#cntRobotOutputsCell_3_Label5 {
  z-index: 13;
}

#cntRobotOutputsCell_3_Label5 span {
  color: dimgray;
}

#cntRobotOutputsCell_3_Label5 {
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntRobotOutputsCell_3_Label5 {
  font-size: 18px;
}

#cntRobotOutputsCell_3_Label5 span {
  text-decoration: underline;
}

#cntRobotOutputsCell_3_Label_do56 {
  top: 30px;
  position: absolute;
}

#cntRobotOutputsCell_3_Label_do56 {
  left: 32px;
  position: absolute;
}

#cntRobotOutputsCell_3_Label_do56 {
  width: 230px;
}

#cntRobotOutputsCell_3_Label_do56 {
  height: 20px;
}

#cntRobotOutputsCell_3_Label_do56 {
  z-index: 14;
}

#cntRobotOutputsCell_3_Label_do81 {
  top: 60px;
  position: absolute;
}

#cntRobotOutputsCell_3_Label_do81 {
  left: 32px;
  position: absolute;
}

#cntRobotOutputsCell_3_Label_do81 {
  width: 240px;
}

#cntRobotOutputsCell_3_Label_do81 {
  height: 20px;
}

#cntRobotOutputsCell_3_Label_do81 {
  z-index: 15;
}

#cntRobotOutputsCell_3_Label_do82 {
  top: 90px;
  position: absolute;
}

#cntRobotOutputsCell_3_Label_do82 {
  left: 32px;
  position: absolute;
}

#cntRobotOutputsCell_3_Label_do82 {
  width: 240px;
}

#cntRobotOutputsCell_3_Label_do82 {
  height: 20px;
}

#cntRobotOutputsCell_3_Label_do82 {
  z-index: 16;
}

#cntRobotOutputsCell_3_Label_do83 {
  top: 120px;
  position: absolute;
}

#cntRobotOutputsCell_3_Label_do83 {
  left: 32px;
  position: absolute;
}

#cntRobotOutputsCell_3_Label_do83 {
  width: 240px;
}

#cntRobotOutputsCell_3_Label_do83 {
  height: 20px;
}

#cntRobotOutputsCell_3_Label_do83 {
  z-index: 17;
}

#cntRobotOutputsCell_3_Label_do84 {
  top: 150px;
  position: absolute;
}

#cntRobotOutputsCell_3_Label_do84 {
  left: 32px;
  position: absolute;
}

#cntRobotOutputsCell_3_Label_do84 {
  width: 240px;
}

#cntRobotOutputsCell_3_Label_do84 {
  height: 20px;
}

#cntRobotOutputsCell_3_Label_do84 {
  z-index: 18;
}

#cntRobotOutputsCell_3_Label_do85 {
  top: 180px;
  position: absolute;
}

#cntRobotOutputsCell_3_Label_do85 {
  left: 32px;
  position: absolute;
}

#cntRobotOutputsCell_3_Label_do85 {
  width: 240px;
}

#cntRobotOutputsCell_3_Label_do85 {
  height: 20px;
}

#cntRobotOutputsCell_3_Label_do85 {
  z-index: 19;
}

#cntRobotOutputsCell_3_Label_do86 {
  top: 210px;
  position: absolute;
}

#cntRobotOutputsCell_3_Label_do86 {
  left: 32px;
  position: absolute;
}

#cntRobotOutputsCell_3_Label_do86 {
  width: 240px;
}

#cntRobotOutputsCell_3_Label_do86 {
  height: 20px;
}

#cntRobotOutputsCell_3_Label_do86 {
  z-index: 20;
}

#cntRobotOutputsCell_3_Label_do87 {
  top: 240px;
  position: absolute;
}

#cntRobotOutputsCell_3_Label_do87 {
  left: 32px;
  position: absolute;
}

#cntRobotOutputsCell_3_Label_do87 {
  width: 240px;
}

#cntRobotOutputsCell_3_Label_do87 {
  height: 20px;
}

#cntRobotOutputsCell_3_Label_do87 {
  z-index: 21;
}

#cntRobotOutputsCell_3_Label_do88 {
  top: 270px;
  position: absolute;
}

#cntRobotOutputsCell_3_Label_do88 {
  left: 32px;
  position: absolute;
}

#cntRobotOutputsCell_3_Label_do88 {
  width: 230px;
}

#cntRobotOutputsCell_3_Label_do88 {
  height: 20px;
}

#cntRobotOutputsCell_3_Label_do88 {
  z-index: 22;
}

#cntRobotOutputsCell_3_Label_do89 {
  top: 300px;
  position: absolute;
}

#cntRobotOutputsCell_3_Label_do89 {
  left: 32px;
  position: absolute;
}

#cntRobotOutputsCell_3_Label_do89 {
  width: 230px;
}

#cntRobotOutputsCell_3_Label_do89 {
  height: 20px;
}

#cntRobotOutputsCell_3_Label_do89 {
  z-index: 23;
}

#cntRobotOutputsCell_3_Label_do90 {
  top: 330px;
  position: absolute;
}

#cntRobotOutputsCell_3_Label_do90 {
  left: 32px;
  position: absolute;
}

#cntRobotOutputsCell_3_Label_do90 {
  width: 230px;
}

#cntRobotOutputsCell_3_Label_do90 {
  height: 20px;
}

#cntRobotOutputsCell_3_Label_do90 {
  z-index: 24;
}

#cntRobotOutputsCell_3_Label_do91 {
  top: 360px;
  position: absolute;
}

#cntRobotOutputsCell_3_Label_do91 {
  left: 32px;
  position: absolute;
}

#cntRobotOutputsCell_3_Label_do91 {
  width: 248px;
}

#cntRobotOutputsCell_3_Label_do91 {
  height: 20px;
}

#cntRobotOutputsCell_3_Label_do91 {
  z-index: 25;
}

#cntRobotOutputsCell_3_Label_do92 {
  top: 390px;
  position: absolute;
}

#cntRobotOutputsCell_3_Label_do92 {
  left: 32px;
  position: absolute;
}

#cntRobotOutputsCell_3_Label_do92 {
  width: 248px;
}

#cntRobotOutputsCell_3_Label_do92 {
  height: 20px;
}

#cntRobotOutputsCell_3_Label_do92 {
  z-index: 26;
}

#cntRobotOutputsCell_3_Label_do93 {
  top: 420px;
  position: absolute;
}

#cntRobotOutputsCell_3_Label_do93 {
  left: 32px;
  position: absolute;
}

#cntRobotOutputsCell_3_Label_do93 {
  width: 248px;
}

#cntRobotOutputsCell_3_Label_do93 {
  height: 20px;
}

#cntRobotOutputsCell_3_Label_do93 {
  z-index: 27;
}

#cntRobotOutputsCell_3_Label_do94 {
  top: 450px;
  position: absolute;
}

#cntRobotOutputsCell_3_Label_do94 {
  left: 32px;
  position: absolute;
}

#cntRobotOutputsCell_3_Label_do94 {
  width: 248px;
}

#cntRobotOutputsCell_3_Label_do94 {
  height: 20px;
}

#cntRobotOutputsCell_3_Label_do94 {
  z-index: 28;
}

#cntRobotOutputsCell_3_Label_do95 {
  top: 480px;
  position: absolute;
}

#cntRobotOutputsCell_3_Label_do95 {
  left: 32px;
  position: absolute;
}

#cntRobotOutputsCell_3_Label_do95 {
  width: 248px;
}

#cntRobotOutputsCell_3_Label_do95 {
  height: 20px;
}

#cntRobotOutputsCell_3_Label_do95 {
  z-index: 29;
}

#cntRobotOutputsCell_3_NumericOutput5 {
  top: 270px;
  position: absolute;
}

#cntRobotOutputsCell_3_NumericOutput5 {
  left: 0px;
  position: absolute;
}

#cntRobotOutputsCell_3_NumericOutput5 {
  width: 60px;
}

#cntRobotOutputsCell_3_NumericOutput5 {
  height: 20px;
}

#cntRobotOutputsCell_3_NumericOutput5 {
  z-index: 30;
}

#cntRobotOutputsCell_3_NumericOutput5 {
  border-color: black;
}

#cntRobotOutputsCell_3_NumericOutput5 input {
  color: black;
}

#cntRobotOutputsCell_3_NumericOutput5 span.breaseNumericOutput_unit {
  color: black;
}

#cntRobotOutputsCell_3_NumericOutput5 input {
  font-size: 14px;
}

#cntRobotOutputsCell_3_NumericOutput5 {
  margin: 0px;
}

#cntRobotOutputsCell_3_NumericOutput6 {
  top: 300px;
  position: absolute;
}

#cntRobotOutputsCell_3_NumericOutput6 {
  left: 0px;
  position: absolute;
}

#cntRobotOutputsCell_3_NumericOutput6 {
  width: 60px;
}

#cntRobotOutputsCell_3_NumericOutput6 {
  height: 20px;
}

#cntRobotOutputsCell_3_NumericOutput6 {
  z-index: 31;
}

#cntRobotOutputsCell_3_NumericOutput6 {
  border-color: black;
}

#cntRobotOutputsCell_3_NumericOutput6 input {
  color: black;
}

#cntRobotOutputsCell_3_NumericOutput6 span.breaseNumericOutput_unit {
  color: black;
}

#cntRobotOutputsCell_3_NumericOutput6 input {
  font-size: 14px;
}

#cntRobotOutputsCell_3_NumericOutput6 {
  margin: 0px;
}

#cntRobotOutputsCell_3_NumericOutput7 {
  top: 330px;
  position: absolute;
}

#cntRobotOutputsCell_3_NumericOutput7 {
  left: 0px;
  position: absolute;
}

#cntRobotOutputsCell_3_NumericOutput7 {
  width: 60px;
}

#cntRobotOutputsCell_3_NumericOutput7 {
  height: 20px;
}

#cntRobotOutputsCell_3_NumericOutput7 {
  z-index: 32;
}

#cntRobotOutputsCell_3_NumericOutput7 {
  border-color: black;
}

#cntRobotOutputsCell_3_NumericOutput7 input {
  color: black;
}

#cntRobotOutputsCell_3_NumericOutput7 span.breaseNumericOutput_unit {
  color: black;
}

#cntRobotOutputsCell_3_NumericOutput7 input {
  font-size: 14px;
}

#cntRobotOutputsCell_3_NumericOutput7 {
  margin: 0px;
}

#cntRobotOutputsCell_3_GridLineItem3 {
  z-index: 2;
}

#cntRobotOutputsCell_3_GridLineItem3 {
  padding: 0px 10px 10px 10px;
}

#cntRobotOutputsCell_3_ImageList79 {
  top: 30px;
  position: absolute;
}

#cntRobotOutputsCell_3_ImageList79 {
  left: 5px;
  position: absolute;
}

#cntRobotOutputsCell_3_ImageList79 {
  width: 20px;
}

#cntRobotOutputsCell_3_ImageList79 {
  height: 20px;
}

#cntRobotOutputsCell_3_ImageList79 {
  z-index: 0;
}

#cntRobotOutputsCell_3_ImageList80 {
  top: 60px;
  position: absolute;
}

#cntRobotOutputsCell_3_ImageList80 {
  left: 5px;
  position: absolute;
}

#cntRobotOutputsCell_3_ImageList80 {
  width: 20px;
}

#cntRobotOutputsCell_3_ImageList80 {
  height: 20px;
}

#cntRobotOutputsCell_3_ImageList80 {
  z-index: 1;
}

#cntRobotOutputsCell_3_ImageList81 {
  top: 90px;
  position: absolute;
}

#cntRobotOutputsCell_3_ImageList81 {
  left: 5px;
  position: absolute;
}

#cntRobotOutputsCell_3_ImageList81 {
  width: 20px;
}

#cntRobotOutputsCell_3_ImageList81 {
  height: 20px;
}

#cntRobotOutputsCell_3_ImageList81 {
  z-index: 2;
}

#cntRobotOutputsCell_3_ImageList82 {
  top: 120px;
  position: absolute;
}

#cntRobotOutputsCell_3_ImageList82 {
  left: 5px;
  position: absolute;
}

#cntRobotOutputsCell_3_ImageList82 {
  width: 20px;
}

#cntRobotOutputsCell_3_ImageList82 {
  height: 20px;
}

#cntRobotOutputsCell_3_ImageList82 {
  z-index: 3;
}

#cntRobotOutputsCell_3_ImageList83 {
  top: 150px;
  position: absolute;
}

#cntRobotOutputsCell_3_ImageList83 {
  left: 5px;
  position: absolute;
}

#cntRobotOutputsCell_3_ImageList83 {
  width: 20px;
}

#cntRobotOutputsCell_3_ImageList83 {
  height: 20px;
}

#cntRobotOutputsCell_3_ImageList83 {
  z-index: 4;
}

#cntRobotOutputsCell_3_ImageList84 {
  top: 180px;
  position: absolute;
}

#cntRobotOutputsCell_3_ImageList84 {
  left: 5px;
  position: absolute;
}

#cntRobotOutputsCell_3_ImageList84 {
  width: 20px;
}

#cntRobotOutputsCell_3_ImageList84 {
  height: 20px;
}

#cntRobotOutputsCell_3_ImageList84 {
  z-index: 5;
}

#cntRobotOutputsCell_3_ImageList85 {
  top: 210px;
  position: absolute;
}

#cntRobotOutputsCell_3_ImageList85 {
  left: 5px;
  position: absolute;
}

#cntRobotOutputsCell_3_ImageList85 {
  width: 20px;
}

#cntRobotOutputsCell_3_ImageList85 {
  height: 20px;
}

#cntRobotOutputsCell_3_ImageList85 {
  z-index: 6;
}

#cntRobotOutputsCell_3_ImageList86 {
  top: 240px;
  position: absolute;
}

#cntRobotOutputsCell_3_ImageList86 {
  left: 5px;
  position: absolute;
}

#cntRobotOutputsCell_3_ImageList86 {
  width: 20px;
}

#cntRobotOutputsCell_3_ImageList86 {
  height: 20px;
}

#cntRobotOutputsCell_3_ImageList86 {
  z-index: 7;
}

#cntRobotOutputsCell_3_ImageList87 {
  top: 270px;
  position: absolute;
}

#cntRobotOutputsCell_3_ImageList87 {
  left: 5px;
  position: absolute;
}

#cntRobotOutputsCell_3_ImageList87 {
  width: 20px;
}

#cntRobotOutputsCell_3_ImageList87 {
  height: 20px;
}

#cntRobotOutputsCell_3_ImageList87 {
  z-index: 8;
}

#cntRobotOutputsCell_3_ImageList88 {
  top: 300px;
  position: absolute;
}

#cntRobotOutputsCell_3_ImageList88 {
  left: 5px;
  position: absolute;
}

#cntRobotOutputsCell_3_ImageList88 {
  width: 20px;
}

#cntRobotOutputsCell_3_ImageList88 {
  height: 20px;
}

#cntRobotOutputsCell_3_ImageList88 {
  z-index: 9;
}

#cntRobotOutputsCell_3_ImageList89 {
  top: 330px;
  position: absolute;
}

#cntRobotOutputsCell_3_ImageList89 {
  left: 5px;
  position: absolute;
}

#cntRobotOutputsCell_3_ImageList89 {
  width: 20px;
}

#cntRobotOutputsCell_3_ImageList89 {
  height: 20px;
}

#cntRobotOutputsCell_3_ImageList89 {
  z-index: 10;
}

#cntRobotOutputsCell_3_ImageList93 {
  top: 450px;
  position: absolute;
}

#cntRobotOutputsCell_3_ImageList93 {
  left: 5px;
  position: absolute;
}

#cntRobotOutputsCell_3_ImageList93 {
  width: 20px;
}

#cntRobotOutputsCell_3_ImageList93 {
  height: 20px;
}

#cntRobotOutputsCell_3_ImageList93 {
  z-index: 11;
}

#cntRobotOutputsCell_3_ImageList94 {
  top: 480px;
  position: absolute;
}

#cntRobotOutputsCell_3_ImageList94 {
  left: 5px;
  position: absolute;
}

#cntRobotOutputsCell_3_ImageList94 {
  width: 20px;
}

#cntRobotOutputsCell_3_ImageList94 {
  height: 20px;
}

#cntRobotOutputsCell_3_ImageList94 {
  z-index: 12;
}

#cntRobotOutputsCell_3_Label6 {
  top: 6px;
  position: absolute;
}

#cntRobotOutputsCell_3_Label6 {
  left: 49px;
  position: absolute;
}

#cntRobotOutputsCell_3_Label6 {
  width: 190px;
}

#cntRobotOutputsCell_3_Label6 {
  height: 20px;
}

#cntRobotOutputsCell_3_Label6 {
  z-index: 13;
}

#cntRobotOutputsCell_3_Label6 span {
  color: dimgray;
}

#cntRobotOutputsCell_3_Label6 {
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntRobotOutputsCell_3_Label6 {
  font-size: 18px;
}

#cntRobotOutputsCell_3_Label6 span {
  text-decoration: underline;
}

#cntRobotOutputsCell_3_Label_do57 {
  top: 30px;
  position: absolute;
}

#cntRobotOutputsCell_3_Label_do57 {
  left: 32px;
  position: absolute;
}

#cntRobotOutputsCell_3_Label_do57 {
  width: 248px;
}

#cntRobotOutputsCell_3_Label_do57 {
  height: 20px;
}

#cntRobotOutputsCell_3_Label_do57 {
  z-index: 14;
}

#cntRobotOutputsCell_3_Label_do96 {
  top: 60px;
  position: absolute;
}

#cntRobotOutputsCell_3_Label_do96 {
  left: 32px;
  position: absolute;
}

#cntRobotOutputsCell_3_Label_do96 {
  width: 240px;
}

#cntRobotOutputsCell_3_Label_do96 {
  height: 20px;
}

#cntRobotOutputsCell_3_Label_do96 {
  z-index: 15;
}

#cntRobotOutputsCell_3_Label_do97 {
  top: 90px;
  position: absolute;
}

#cntRobotOutputsCell_3_Label_do97 {
  left: 32px;
  position: absolute;
}

#cntRobotOutputsCell_3_Label_do97 {
  width: 240px;
}

#cntRobotOutputsCell_3_Label_do97 {
  height: 20px;
}

#cntRobotOutputsCell_3_Label_do97 {
  z-index: 16;
}

#cntRobotOutputsCell_3_Label_do98 {
  top: 120px;
  position: absolute;
}

#cntRobotOutputsCell_3_Label_do98 {
  left: 32px;
  position: absolute;
}

#cntRobotOutputsCell_3_Label_do98 {
  width: 240px;
}

#cntRobotOutputsCell_3_Label_do98 {
  height: 20px;
}

#cntRobotOutputsCell_3_Label_do98 {
  z-index: 17;
}

#cntRobotOutputsCell_3_Label_do99 {
  top: 150px;
  position: absolute;
}

#cntRobotOutputsCell_3_Label_do99 {
  left: 32px;
  position: absolute;
}

#cntRobotOutputsCell_3_Label_do99 {
  width: 240px;
}

#cntRobotOutputsCell_3_Label_do99 {
  height: 20px;
}

#cntRobotOutputsCell_3_Label_do99 {
  z-index: 18;
}

#cntRobotOutputsCell_3_Label_do100 {
  top: 180px;
  position: absolute;
}

#cntRobotOutputsCell_3_Label_do100 {
  left: 32px;
  position: absolute;
}

#cntRobotOutputsCell_3_Label_do100 {
  width: 240px;
}

#cntRobotOutputsCell_3_Label_do100 {
  height: 20px;
}

#cntRobotOutputsCell_3_Label_do100 {
  z-index: 19;
}

#cntRobotOutputsCell_3_Label_do101 {
  top: 210px;
  position: absolute;
}

#cntRobotOutputsCell_3_Label_do101 {
  left: 32px;
  position: absolute;
}

#cntRobotOutputsCell_3_Label_do101 {
  width: 240px;
}

#cntRobotOutputsCell_3_Label_do101 {
  height: 20px;
}

#cntRobotOutputsCell_3_Label_do101 {
  z-index: 20;
}

#cntRobotOutputsCell_3_Label_do102 {
  top: 240px;
  position: absolute;
}

#cntRobotOutputsCell_3_Label_do102 {
  left: 32px;
  position: absolute;
}

#cntRobotOutputsCell_3_Label_do102 {
  width: 240px;
}

#cntRobotOutputsCell_3_Label_do102 {
  height: 20px;
}

#cntRobotOutputsCell_3_Label_do102 {
  z-index: 21;
}

#cntRobotOutputsCell_3_Label_do103 {
  top: 270px;
  position: absolute;
}

#cntRobotOutputsCell_3_Label_do103 {
  left: 32px;
  position: absolute;
}

#cntRobotOutputsCell_3_Label_do103 {
  width: 230px;
}

#cntRobotOutputsCell_3_Label_do103 {
  height: 20px;
}

#cntRobotOutputsCell_3_Label_do103 {
  z-index: 22;
}

#cntRobotOutputsCell_3_Label_do104 {
  top: 300px;
  position: absolute;
}

#cntRobotOutputsCell_3_Label_do104 {
  left: 32px;
  position: absolute;
}

#cntRobotOutputsCell_3_Label_do104 {
  width: 230px;
}

#cntRobotOutputsCell_3_Label_do104 {
  height: 20px;
}

#cntRobotOutputsCell_3_Label_do104 {
  z-index: 23;
}

#cntRobotOutputsCell_3_Label_do105 {
  top: 330px;
  position: absolute;
}

#cntRobotOutputsCell_3_Label_do105 {
  left: 32px;
  position: absolute;
}

#cntRobotOutputsCell_3_Label_do105 {
  width: 230px;
}

#cntRobotOutputsCell_3_Label_do105 {
  height: 20px;
}

#cntRobotOutputsCell_3_Label_do105 {
  z-index: 24;
}

#cntRobotOutputsCell_3_Label_do106 {
  top: 360px;
  position: absolute;
}

#cntRobotOutputsCell_3_Label_do106 {
  left: 32px;
  position: absolute;
}

#cntRobotOutputsCell_3_Label_do106 {
  width: 230px;
}

#cntRobotOutputsCell_3_Label_do106 {
  height: 20px;
}

#cntRobotOutputsCell_3_Label_do106 {
  z-index: 25;
}

#cntRobotOutputsCell_3_Label_do107 {
  top: 390px;
  position: absolute;
}

#cntRobotOutputsCell_3_Label_do107 {
  left: 32px;
  position: absolute;
}

#cntRobotOutputsCell_3_Label_do107 {
  width: 230px;
}

#cntRobotOutputsCell_3_Label_do107 {
  height: 20px;
}

#cntRobotOutputsCell_3_Label_do107 {
  z-index: 26;
}

#cntRobotOutputsCell_3_Label_do108 {
  top: 420px;
  position: absolute;
}

#cntRobotOutputsCell_3_Label_do108 {
  left: 32px;
  position: absolute;
}

#cntRobotOutputsCell_3_Label_do108 {
  width: 230px;
}

#cntRobotOutputsCell_3_Label_do108 {
  height: 20px;
}

#cntRobotOutputsCell_3_Label_do108 {
  z-index: 27;
}

#cntRobotOutputsCell_3_Label_do109 {
  top: 450px;
  position: absolute;
}

#cntRobotOutputsCell_3_Label_do109 {
  left: 32px;
  position: absolute;
}

#cntRobotOutputsCell_3_Label_do109 {
  width: 248px;
}

#cntRobotOutputsCell_3_Label_do109 {
  height: 20px;
}

#cntRobotOutputsCell_3_Label_do109 {
  z-index: 28;
}

#cntRobotOutputsCell_3_Label_do110 {
  top: 480px;
  position: absolute;
}

#cntRobotOutputsCell_3_Label_do110 {
  left: 32px;
  position: absolute;
}

#cntRobotOutputsCell_3_Label_do110 {
  width: 248px;
}

#cntRobotOutputsCell_3_Label_do110 {
  height: 20px;
}

#cntRobotOutputsCell_3_Label_do110 {
  z-index: 29;
}

#cntRobotOutputsCell_3_NumericOutput8 {
  top: 360px;
  position: absolute;
}

#cntRobotOutputsCell_3_NumericOutput8 {
  left: 0px;
  position: absolute;
}

#cntRobotOutputsCell_3_NumericOutput8 {
  width: 60px;
}

#cntRobotOutputsCell_3_NumericOutput8 {
  height: 20px;
}

#cntRobotOutputsCell_3_NumericOutput8 {
  z-index: 30;
}

#cntRobotOutputsCell_3_NumericOutput8 {
  border-color: black;
}

#cntRobotOutputsCell_3_NumericOutput8 input {
  color: black;
}

#cntRobotOutputsCell_3_NumericOutput8 span.breaseNumericOutput_unit {
  color: black;
}

#cntRobotOutputsCell_3_NumericOutput8 input {
  font-size: 14px;
}

#cntRobotOutputsCell_3_NumericOutput8 {
  margin: 0px;
}

#cntRobotOutputsCell_3_NumericOutput9 {
  top: 390px;
  position: absolute;
}

#cntRobotOutputsCell_3_NumericOutput9 {
  left: 0px;
  position: absolute;
}

#cntRobotOutputsCell_3_NumericOutput9 {
  width: 60px;
}

#cntRobotOutputsCell_3_NumericOutput9 {
  height: 20px;
}

#cntRobotOutputsCell_3_NumericOutput9 {
  z-index: 31;
}

#cntRobotOutputsCell_3_NumericOutput9 {
  border-color: black;
}

#cntRobotOutputsCell_3_NumericOutput9 input {
  color: black;
}

#cntRobotOutputsCell_3_NumericOutput9 span.breaseNumericOutput_unit {
  color: black;
}

#cntRobotOutputsCell_3_NumericOutput9 input {
  font-size: 14px;
}

#cntRobotOutputsCell_3_NumericOutput9 {
  margin: 0px;
}

#cntRobotOutputsCell_3_NumericOutput10 {
  top: 420px;
  position: absolute;
}

#cntRobotOutputsCell_3_NumericOutput10 {
  left: 0px;
  position: absolute;
}

#cntRobotOutputsCell_3_NumericOutput10 {
  width: 60px;
}

#cntRobotOutputsCell_3_NumericOutput10 {
  height: 20px;
}

#cntRobotOutputsCell_3_NumericOutput10 {
  z-index: 32;
}

#cntRobotOutputsCell_3_NumericOutput10 {
  border-color: black;
}

#cntRobotOutputsCell_3_NumericOutput10 input {
  color: black;
}

#cntRobotOutputsCell_3_NumericOutput10 span.breaseNumericOutput_unit {
  color: black;
}

#cntRobotOutputsCell_3_NumericOutput10 input {
  font-size: 14px;
}

#cntRobotOutputsCell_3_NumericOutput10 {
  margin: 0px;
}

#cntRobotOutputsCell_3_GridLineItem4 {
  z-index: 3;
}

#cntRobotOutputsCell_3_GridLineItem4 {
  padding: 0px 10px 10px 10px;
}

#cntRobotOutputsCell_3_ImageList95 {
  top: 30px;
  position: absolute;
}

#cntRobotOutputsCell_3_ImageList95 {
  left: 4px;
  position: absolute;
}

#cntRobotOutputsCell_3_ImageList95 {
  width: 20px;
}

#cntRobotOutputsCell_3_ImageList95 {
  height: 20px;
}

#cntRobotOutputsCell_3_ImageList95 {
  z-index: 0;
}

#cntRobotOutputsCell_3_ImageList96 {
  top: 60px;
  position: absolute;
}

#cntRobotOutputsCell_3_ImageList96 {
  left: 4px;
  position: absolute;
}

#cntRobotOutputsCell_3_ImageList96 {
  width: 20px;
}

#cntRobotOutputsCell_3_ImageList96 {
  height: 20px;
}

#cntRobotOutputsCell_3_ImageList96 {
  z-index: 1;
}

#cntRobotOutputsCell_3_ImageList97 {
  top: 90px;
  position: absolute;
}

#cntRobotOutputsCell_3_ImageList97 {
  left: 4px;
  position: absolute;
}

#cntRobotOutputsCell_3_ImageList97 {
  width: 20px;
}

#cntRobotOutputsCell_3_ImageList97 {
  height: 20px;
}

#cntRobotOutputsCell_3_ImageList97 {
  z-index: 2;
}

#cntRobotOutputsCell_3_ImageList98 {
  top: 120px;
  position: absolute;
}

#cntRobotOutputsCell_3_ImageList98 {
  left: 4px;
  position: absolute;
}

#cntRobotOutputsCell_3_ImageList98 {
  width: 20px;
}

#cntRobotOutputsCell_3_ImageList98 {
  height: 20px;
}

#cntRobotOutputsCell_3_ImageList98 {
  z-index: 3;
}

#cntRobotOutputsCell_3_ImageList99 {
  top: 150px;
  position: absolute;
}

#cntRobotOutputsCell_3_ImageList99 {
  left: 4px;
  position: absolute;
}

#cntRobotOutputsCell_3_ImageList99 {
  width: 20px;
}

#cntRobotOutputsCell_3_ImageList99 {
  height: 20px;
}

#cntRobotOutputsCell_3_ImageList99 {
  z-index: 4;
}

#cntRobotOutputsCell_3_ImageList100 {
  top: 180px;
  position: absolute;
}

#cntRobotOutputsCell_3_ImageList100 {
  left: 4px;
  position: absolute;
}

#cntRobotOutputsCell_3_ImageList100 {
  width: 20px;
}

#cntRobotOutputsCell_3_ImageList100 {
  height: 20px;
}

#cntRobotOutputsCell_3_ImageList100 {
  z-index: 5;
}

#cntRobotOutputsCell_3_ImageList101 {
  top: 210px;
  position: absolute;
}

#cntRobotOutputsCell_3_ImageList101 {
  left: 4px;
  position: absolute;
}

#cntRobotOutputsCell_3_ImageList101 {
  width: 20px;
}

#cntRobotOutputsCell_3_ImageList101 {
  height: 20px;
}

#cntRobotOutputsCell_3_ImageList101 {
  z-index: 6;
}

#cntRobotOutputsCell_3_ImageList102 {
  top: 240px;
  position: absolute;
}

#cntRobotOutputsCell_3_ImageList102 {
  left: 4px;
  position: absolute;
}

#cntRobotOutputsCell_3_ImageList102 {
  width: 20px;
}

#cntRobotOutputsCell_3_ImageList102 {
  height: 20px;
}

#cntRobotOutputsCell_3_ImageList102 {
  z-index: 7;
}

#cntRobotOutputsCell_3_ImageList103 {
  top: 270px;
  position: absolute;
}

#cntRobotOutputsCell_3_ImageList103 {
  left: 4px;
  position: absolute;
}

#cntRobotOutputsCell_3_ImageList103 {
  width: 20px;
}

#cntRobotOutputsCell_3_ImageList103 {
  height: 20px;
}

#cntRobotOutputsCell_3_ImageList103 {
  z-index: 8;
}

#cntRobotOutputsCell_3_ImageList104 {
  top: 300px;
  position: absolute;
}

#cntRobotOutputsCell_3_ImageList104 {
  left: 4px;
  position: absolute;
}

#cntRobotOutputsCell_3_ImageList104 {
  width: 20px;
}

#cntRobotOutputsCell_3_ImageList104 {
  height: 20px;
}

#cntRobotOutputsCell_3_ImageList104 {
  z-index: 9;
}

#cntRobotOutputsCell_3_ImageList105 {
  top: 330px;
  position: absolute;
}

#cntRobotOutputsCell_3_ImageList105 {
  left: 4px;
  position: absolute;
}

#cntRobotOutputsCell_3_ImageList105 {
  width: 20px;
}

#cntRobotOutputsCell_3_ImageList105 {
  height: 20px;
}

#cntRobotOutputsCell_3_ImageList105 {
  z-index: 10;
}

#cntRobotOutputsCell_3_ImageList106 {
  top: 360px;
  position: absolute;
}

#cntRobotOutputsCell_3_ImageList106 {
  left: 4px;
  position: absolute;
}

#cntRobotOutputsCell_3_ImageList106 {
  width: 20px;
}

#cntRobotOutputsCell_3_ImageList106 {
  height: 20px;
}

#cntRobotOutputsCell_3_ImageList106 {
  z-index: 11;
}

#cntRobotOutputsCell_3_ImageList107 {
  top: 390px;
  position: absolute;
}

#cntRobotOutputsCell_3_ImageList107 {
  left: 4px;
  position: absolute;
}

#cntRobotOutputsCell_3_ImageList107 {
  width: 20px;
}

#cntRobotOutputsCell_3_ImageList107 {
  height: 20px;
}

#cntRobotOutputsCell_3_ImageList107 {
  z-index: 12;
}

#cntRobotOutputsCell_3_ImageList108 {
  top: 420px;
  position: absolute;
}

#cntRobotOutputsCell_3_ImageList108 {
  left: 4px;
  position: absolute;
}

#cntRobotOutputsCell_3_ImageList108 {
  width: 20px;
}

#cntRobotOutputsCell_3_ImageList108 {
  height: 20px;
}

#cntRobotOutputsCell_3_ImageList108 {
  z-index: 13;
}

#cntRobotOutputsCell_3_Label7 {
  top: 6px;
  position: absolute;
}

#cntRobotOutputsCell_3_Label7 {
  left: 49px;
  position: absolute;
}

#cntRobotOutputsCell_3_Label7 {
  width: 190px;
}

#cntRobotOutputsCell_3_Label7 {
  height: 20px;
}

#cntRobotOutputsCell_3_Label7 {
  z-index: 14;
}

#cntRobotOutputsCell_3_Label7 span {
  color: dimgray;
}

#cntRobotOutputsCell_3_Label7 {
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntRobotOutputsCell_3_Label7 {
  font-size: 18px;
}

#cntRobotOutputsCell_3_Label7 span {
  text-decoration: underline;
}

#cntRobotOutputsCell_3_Label_do58 {
  top: 30px;
  position: absolute;
}

#cntRobotOutputsCell_3_Label_do58 {
  left: 32px;
  position: absolute;
}

#cntRobotOutputsCell_3_Label_do58 {
  width: 248px;
}

#cntRobotOutputsCell_3_Label_do58 {
  height: 20px;
}

#cntRobotOutputsCell_3_Label_do58 {
  z-index: 15;
}

#cntRobotOutputsCell_3_Label_do58 {
  font-size: 15px;
}

#cntRobotOutputsCell_3_Label_do111 {
  top: 60px;
  position: absolute;
}

#cntRobotOutputsCell_3_Label_do111 {
  left: 32px;
  position: absolute;
}

#cntRobotOutputsCell_3_Label_do111 {
  width: 268px;
}

#cntRobotOutputsCell_3_Label_do111 {
  height: 20px;
}

#cntRobotOutputsCell_3_Label_do111 {
  z-index: 16;
}

#cntRobotOutputsCell_3_Label_do111 {
  font-size: 15px;
}

#cntRobotOutputsCell_3_Label_do112 {
  top: 90px;
  position: absolute;
}

#cntRobotOutputsCell_3_Label_do112 {
  left: 32px;
  position: absolute;
}

#cntRobotOutputsCell_3_Label_do112 {
  width: 268px;
}

#cntRobotOutputsCell_3_Label_do112 {
  height: 20px;
}

#cntRobotOutputsCell_3_Label_do112 {
  z-index: 17;
}

#cntRobotOutputsCell_3_Label_do112 {
  font-size: 15px;
}

#cntRobotOutputsCell_3_Label_do113 {
  top: 120px;
  position: absolute;
}

#cntRobotOutputsCell_3_Label_do113 {
  left: 32px;
  position: absolute;
}

#cntRobotOutputsCell_3_Label_do113 {
  width: 268px;
}

#cntRobotOutputsCell_3_Label_do113 {
  height: 20px;
}

#cntRobotOutputsCell_3_Label_do113 {
  z-index: 18;
}

#cntRobotOutputsCell_3_Label_do113 {
  font-size: 15px;
}

#cntRobotOutputsCell_3_Label_do114 {
  top: 150px;
  position: absolute;
}

#cntRobotOutputsCell_3_Label_do114 {
  left: 32px;
  position: absolute;
}

#cntRobotOutputsCell_3_Label_do114 {
  width: 240px;
}

#cntRobotOutputsCell_3_Label_do114 {
  height: 20px;
}

#cntRobotOutputsCell_3_Label_do114 {
  z-index: 19;
}

#cntRobotOutputsCell_3_Label_do115 {
  top: 180px;
  position: absolute;
}

#cntRobotOutputsCell_3_Label_do115 {
  left: 32px;
  position: absolute;
}

#cntRobotOutputsCell_3_Label_do115 {
  width: 240px;
}

#cntRobotOutputsCell_3_Label_do115 {
  height: 20px;
}

#cntRobotOutputsCell_3_Label_do115 {
  z-index: 20;
}

#cntRobotOutputsCell_3_Label_do116 {
  top: 210px;
  position: absolute;
}

#cntRobotOutputsCell_3_Label_do116 {
  left: 32px;
  position: absolute;
}

#cntRobotOutputsCell_3_Label_do116 {
  width: 240px;
}

#cntRobotOutputsCell_3_Label_do116 {
  height: 20px;
}

#cntRobotOutputsCell_3_Label_do116 {
  z-index: 21;
}

#cntRobotOutputsCell_3_Label_do117 {
  top: 240px;
  position: absolute;
}

#cntRobotOutputsCell_3_Label_do117 {
  left: 32px;
  position: absolute;
}

#cntRobotOutputsCell_3_Label_do117 {
  width: 240px;
}

#cntRobotOutputsCell_3_Label_do117 {
  height: 20px;
}

#cntRobotOutputsCell_3_Label_do117 {
  z-index: 22;
}

#cntRobotOutputsCell_3_Label_do118 {
  top: 270px;
  position: absolute;
}

#cntRobotOutputsCell_3_Label_do118 {
  left: 32px;
  position: absolute;
}

#cntRobotOutputsCell_3_Label_do118 {
  width: 230px;
}

#cntRobotOutputsCell_3_Label_do118 {
  height: 20px;
}

#cntRobotOutputsCell_3_Label_do118 {
  z-index: 23;
}

#cntRobotOutputsCell_3_Label_do119 {
  top: 300px;
  position: absolute;
}

#cntRobotOutputsCell_3_Label_do119 {
  left: 32px;
  position: absolute;
}

#cntRobotOutputsCell_3_Label_do119 {
  width: 230px;
}

#cntRobotOutputsCell_3_Label_do119 {
  height: 20px;
}

#cntRobotOutputsCell_3_Label_do119 {
  z-index: 24;
}

#cntRobotOutputsCell_3_Label_do120 {
  top: 330px;
  position: absolute;
}

#cntRobotOutputsCell_3_Label_do120 {
  left: 32px;
  position: absolute;
}

#cntRobotOutputsCell_3_Label_do120 {
  width: 230px;
}

#cntRobotOutputsCell_3_Label_do120 {
  height: 20px;
}

#cntRobotOutputsCell_3_Label_do120 {
  z-index: 25;
}

#cntRobotOutputsCell_3_Label_do121 {
  top: 360px;
  position: absolute;
}

#cntRobotOutputsCell_3_Label_do121 {
  left: 32px;
  position: absolute;
}

#cntRobotOutputsCell_3_Label_do121 {
  width: 230px;
}

#cntRobotOutputsCell_3_Label_do121 {
  height: 20px;
}

#cntRobotOutputsCell_3_Label_do121 {
  z-index: 26;
}

#cntRobotOutputsCell_3_Label_do122 {
  top: 390px;
  position: absolute;
}

#cntRobotOutputsCell_3_Label_do122 {
  left: 32px;
  position: absolute;
}

#cntRobotOutputsCell_3_Label_do122 {
  width: 230px;
}

#cntRobotOutputsCell_3_Label_do122 {
  height: 20px;
}

#cntRobotOutputsCell_3_Label_do122 {
  z-index: 27;
}

#cntRobotOutputsCell_3_Label_do123 {
  top: 420px;
  position: absolute;
}

#cntRobotOutputsCell_3_Label_do123 {
  left: 32px;
  position: absolute;
}

#cntRobotOutputsCell_3_Label_do123 {
  width: 230px;
}

#cntRobotOutputsCell_3_Label_do123 {
  height: 20px;
}

#cntRobotOutputsCell_3_Label_do123 {
  z-index: 28;
}

#cntRobotOutputsCell_3_Label_do124 {
  top: 450px;
  position: absolute;
}

#cntRobotOutputsCell_3_Label_do124 {
  left: 32px;
  position: absolute;
}

#cntRobotOutputsCell_3_Label_do124 {
  width: 230px;
}

#cntRobotOutputsCell_3_Label_do124 {
  height: 20px;
}

#cntRobotOutputsCell_3_Label_do124 {
  z-index: 29;
}

#cntRobotOutputsCell_3_Label_do125 {
  top: 480px;
  position: absolute;
}

#cntRobotOutputsCell_3_Label_do125 {
  left: 32px;
  position: absolute;
}

#cntRobotOutputsCell_3_Label_do125 {
  width: 230px;
}

#cntRobotOutputsCell_3_Label_do125 {
  height: 20px;
}

#cntRobotOutputsCell_3_Label_do125 {
  z-index: 30;
}

#cntRobotOutputsCell_3_NumericOutput11 {
  top: 450px;
  position: absolute;
}

#cntRobotOutputsCell_3_NumericOutput11 {
  left: 0px;
  position: absolute;
}

#cntRobotOutputsCell_3_NumericOutput11 {
  width: 60px;
}

#cntRobotOutputsCell_3_NumericOutput11 {
  height: 20px;
}

#cntRobotOutputsCell_3_NumericOutput11 {
  z-index: 31;
}

#cntRobotOutputsCell_3_NumericOutput11 {
  border-color: black;
}

#cntRobotOutputsCell_3_NumericOutput11 input {
  color: black;
}

#cntRobotOutputsCell_3_NumericOutput11 span.breaseNumericOutput_unit {
  color: black;
}

#cntRobotOutputsCell_3_NumericOutput11 input {
  font-size: 14px;
}

#cntRobotOutputsCell_3_NumericOutput11 {
  margin: 0px;
}

#cntRobotOutputsCell_3_NumericOutput12 {
  top: 480px;
  position: absolute;
}

#cntRobotOutputsCell_3_NumericOutput12 {
  left: 0px;
  position: absolute;
}

#cntRobotOutputsCell_3_NumericOutput12 {
  width: 60px;
}

#cntRobotOutputsCell_3_NumericOutput12 {
  height: 20px;
}

#cntRobotOutputsCell_3_NumericOutput12 {
  z-index: 32;
}

#cntRobotOutputsCell_3_NumericOutput12 {
  border-color: black;
}

#cntRobotOutputsCell_3_NumericOutput12 input {
  color: black;
}

#cntRobotOutputsCell_3_NumericOutput12 span.breaseNumericOutput_unit {
  color: black;
}

#cntRobotOutputsCell_3_NumericOutput12 input {
  font-size: 14px;
}

#cntRobotOutputsCell_3_NumericOutput12 {
  margin: 0px;
}

#cntRobotOutputsCell_3_GridLineItem5 {
  z-index: 4;
}

#cntRobotOutputsCell_3_GridLineItem5 {
  padding: 0px 10px 10px 10px;
}

#cntRobotOutputsCell_3_ImageList111 {
  top: 95px;
  position: absolute;
}

#cntRobotOutputsCell_3_ImageList111 {
  left: 5px;
  position: absolute;
}

#cntRobotOutputsCell_3_ImageList111 {
  width: 20px;
}

#cntRobotOutputsCell_3_ImageList111 {
  height: 20px;
}

#cntRobotOutputsCell_3_ImageList111 {
  z-index: 0;
}

#cntRobotOutputsCell_3_ImageList112 {
  top: 125px;
  position: absolute;
}

#cntRobotOutputsCell_3_ImageList112 {
  left: 5px;
  position: absolute;
}

#cntRobotOutputsCell_3_ImageList112 {
  width: 20px;
}

#cntRobotOutputsCell_3_ImageList112 {
  height: 20px;
}

#cntRobotOutputsCell_3_ImageList112 {
  z-index: 1;
}

#cntRobotOutputsCell_3_ImageList113 {
  top: 155px;
  position: absolute;
}

#cntRobotOutputsCell_3_ImageList113 {
  left: 5px;
  position: absolute;
}

#cntRobotOutputsCell_3_ImageList113 {
  width: 20px;
}

#cntRobotOutputsCell_3_ImageList113 {
  height: 20px;
}

#cntRobotOutputsCell_3_ImageList113 {
  z-index: 2;
}

#cntRobotOutputsCell_3_ImageList114 {
  top: 185px;
  position: absolute;
}

#cntRobotOutputsCell_3_ImageList114 {
  left: 5px;
  position: absolute;
}

#cntRobotOutputsCell_3_ImageList114 {
  width: 20px;
}

#cntRobotOutputsCell_3_ImageList114 {
  height: 20px;
}

#cntRobotOutputsCell_3_ImageList114 {
  z-index: 3;
}

#cntRobotOutputsCell_3_ImageList115 {
  top: 215px;
  position: absolute;
}

#cntRobotOutputsCell_3_ImageList115 {
  left: 5px;
  position: absolute;
}

#cntRobotOutputsCell_3_ImageList115 {
  width: 20px;
}

#cntRobotOutputsCell_3_ImageList115 {
  height: 20px;
}

#cntRobotOutputsCell_3_ImageList115 {
  z-index: 4;
}

#cntRobotOutputsCell_3_ImageList116 {
  top: 245px;
  position: absolute;
}

#cntRobotOutputsCell_3_ImageList116 {
  left: 5px;
  position: absolute;
}

#cntRobotOutputsCell_3_ImageList116 {
  width: 20px;
}

#cntRobotOutputsCell_3_ImageList116 {
  height: 20px;
}

#cntRobotOutputsCell_3_ImageList116 {
  z-index: 5;
}

#cntRobotOutputsCell_3_Label8 {
  top: 8px;
  position: absolute;
}

#cntRobotOutputsCell_3_Label8 {
  left: 45px;
  position: absolute;
}

#cntRobotOutputsCell_3_Label8 {
  width: 190px;
}

#cntRobotOutputsCell_3_Label8 {
  height: 20px;
}

#cntRobotOutputsCell_3_Label8 {
  z-index: 6;
}

#cntRobotOutputsCell_3_Label8 span {
  color: dimgray;
}

#cntRobotOutputsCell_3_Label8 {
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntRobotOutputsCell_3_Label8 {
  font-size: 18px;
}

#cntRobotOutputsCell_3_Label8 span {
  text-decoration: underline;
}

#cntRobotOutputsCell_3_Label_do59 {
  top: 35px;
  position: absolute;
}

#cntRobotOutputsCell_3_Label_do59 {
  left: 35px;
  position: absolute;
}

#cntRobotOutputsCell_3_Label_do59 {
  width: 230px;
}

#cntRobotOutputsCell_3_Label_do59 {
  height: 20px;
}

#cntRobotOutputsCell_3_Label_do59 {
  z-index: 7;
}

#cntRobotOutputsCell_3_Label_do126 {
  top: 65px;
  position: absolute;
}

#cntRobotOutputsCell_3_Label_do126 {
  left: 35px;
  position: absolute;
}

#cntRobotOutputsCell_3_Label_do126 {
  width: 230px;
}

#cntRobotOutputsCell_3_Label_do126 {
  height: 20px;
}

#cntRobotOutputsCell_3_Label_do126 {
  z-index: 8;
}

#cntRobotOutputsCell_3_Label_do127 {
  top: 95px;
  position: absolute;
}

#cntRobotOutputsCell_3_Label_do127 {
  left: 35px;
  position: absolute;
}

#cntRobotOutputsCell_3_Label_do127 {
  width: 265px;
}

#cntRobotOutputsCell_3_Label_do127 {
  height: 20px;
}

#cntRobotOutputsCell_3_Label_do127 {
  z-index: 9;
}

#cntRobotOutputsCell_3_Label_do127 {
  font-size: 15px;
}

#cntRobotOutputsCell_3_Label_do128 {
  top: 125px;
  position: absolute;
}

#cntRobotOutputsCell_3_Label_do128 {
  left: 35px;
  position: absolute;
}

#cntRobotOutputsCell_3_Label_do128 {
  width: 265px;
}

#cntRobotOutputsCell_3_Label_do128 {
  height: 20px;
}

#cntRobotOutputsCell_3_Label_do128 {
  z-index: 10;
}

#cntRobotOutputsCell_3_Label_do128 {
  font-size: 15px;
}

#cntRobotOutputsCell_3_Label_do129 {
  top: 155px;
  position: absolute;
}

#cntRobotOutputsCell_3_Label_do129 {
  left: 35px;
  position: absolute;
}

#cntRobotOutputsCell_3_Label_do129 {
  width: 265px;
}

#cntRobotOutputsCell_3_Label_do129 {
  height: 20px;
}

#cntRobotOutputsCell_3_Label_do129 {
  z-index: 11;
}

#cntRobotOutputsCell_3_Label_do129 {
  font-size: 15px;
}

#cntRobotOutputsCell_3_Label_do130 {
  top: 185px;
  position: absolute;
}

#cntRobotOutputsCell_3_Label_do130 {
  left: 35px;
  position: absolute;
}

#cntRobotOutputsCell_3_Label_do130 {
  width: 265px;
}

#cntRobotOutputsCell_3_Label_do130 {
  height: 20px;
}

#cntRobotOutputsCell_3_Label_do130 {
  z-index: 12;
}

#cntRobotOutputsCell_3_Label_do130 {
  font-size: 15px;
}

#cntRobotOutputsCell_3_Label_do131 {
  top: 215px;
  position: absolute;
}

#cntRobotOutputsCell_3_Label_do131 {
  left: 35px;
  position: absolute;
}

#cntRobotOutputsCell_3_Label_do131 {
  width: 265px;
}

#cntRobotOutputsCell_3_Label_do131 {
  height: 20px;
}

#cntRobotOutputsCell_3_Label_do131 {
  z-index: 13;
}

#cntRobotOutputsCell_3_Label_do131 {
  font-size: 15px;
}

#cntRobotOutputsCell_3_Label_do132 {
  top: 245px;
  position: absolute;
}

#cntRobotOutputsCell_3_Label_do132 {
  left: 35px;
  position: absolute;
}

#cntRobotOutputsCell_3_Label_do132 {
  width: 265px;
}

#cntRobotOutputsCell_3_Label_do132 {
  height: 20px;
}

#cntRobotOutputsCell_3_Label_do132 {
  z-index: 14;
}

#cntRobotOutputsCell_3_Label_do132 {
  font-size: 15px;
}

#cntRobotOutputsCell_3_NumericOutput13 {
  top: 35px;
  position: absolute;
}

#cntRobotOutputsCell_3_NumericOutput13 {
  left: 0px;
  position: absolute;
}

#cntRobotOutputsCell_3_NumericOutput13 {
  width: 60px;
}

#cntRobotOutputsCell_3_NumericOutput13 {
  height: 20px;
}

#cntRobotOutputsCell_3_NumericOutput13 {
  z-index: 15;
}

#cntRobotOutputsCell_3_NumericOutput13 {
  border-color: black;
}

#cntRobotOutputsCell_3_NumericOutput13 input {
  color: black;
}

#cntRobotOutputsCell_3_NumericOutput13 span.breaseNumericOutput_unit {
  color: black;
}

#cntRobotOutputsCell_3_NumericOutput13 input {
  font-size: 14px;
}

#cntRobotOutputsCell_3_NumericOutput13 {
  margin: 0px;
}

#cntRobotOutputsCell_3_NumericOutput14 {
  top: 65px;
  position: absolute;
}

#cntRobotOutputsCell_3_NumericOutput14 {
  left: 0px;
  position: absolute;
}

#cntRobotOutputsCell_3_NumericOutput14 {
  width: 60px;
}

#cntRobotOutputsCell_3_NumericOutput14 {
  height: 20px;
}

#cntRobotOutputsCell_3_NumericOutput14 {
  z-index: 16;
}

#cntRobotOutputsCell_3_NumericOutput14 {
  border-color: black;
}

#cntRobotOutputsCell_3_NumericOutput14 input {
  color: black;
}

#cntRobotOutputsCell_3_NumericOutput14 span.breaseNumericOutput_unit {
  color: black;
}

#cntRobotOutputsCell_3_NumericOutput14 input {
  font-size: 14px;
}

#cntRobotOutputsCell_3_NumericOutput14 {
  margin: 0px;
}

#cntRobotOutputsCell_3_CheckBox_RobotOut {
  top: 0px;
  position: absolute;
}

#cntRobotOutputsCell_3_CheckBox_RobotOut {
  left: 250px;
  position: absolute;
}

#cntRobotOutputsCell_3_CheckBox_RobotOut {
  width: 45px;
}

#cntRobotOutputsCell_3_CheckBox_RobotOut {
  height: 45px;
}

#cntRobotOutputsCell_3_CheckBox_RobotOut {
  z-index: 1;
}

#cntRobotOutputsCell_3_CheckBox_RobotOut span {
  font-style: italic;
}

#cntRobotOutputsCell_3_CheckBox_RobotOut.checked:not(.disabled) svg {
  fill: red;
}
