﻿@import "mixins.scss";
#cntDialogCreateRole_TextInput1 {
	@include elemTop(50);
}
#cntDialogCreateRole_TextInput1 {
	@include elemLeft(200);
}
#cntDialogCreateRole_TextInput1 {
	@include elemWidth(190);
}
#cntDialogCreateRole_TextInput1 {
	@include elemHeight(40);
}
#cntDialogCreateRole_TextInput1 {
		z-index: 0;
}
#cntDialogCreateRole_labUserManagment {
	@include elemTop(40);
}
#cntDialogCreateRole_labUserManagment {
	@include elemLeft(0);
}
#cntDialogCreateRole_labUserManagment {
	@include elemAutoWidth(180);
}
#cntDialogCreateRole_labUserManagment {
	@include elemAutoHeight(60);
}
#cntDialogCreateRole_labUserManagment {
		z-index: 1;
}
#cntDialogCreateRole_labUserManagment {
	@include text-alignment-all('center');
}
#cntDialogCreateRole_labUserManagment {
		font-size: 20px;
}
#cntDialogCreateRole_labUserManagment {
	span{
		padding: 0px;
	}
}
#cntDialogCreateRole_NumericInput1 {
	@include elemHeight(30);
}
#cntDialogCreateRole_NumericInput1 {
	@include elemTop(130);
}
#cntDialogCreateRole_NumericInput1 {
	@include elemLeft(200);
}
#cntDialogCreateRole_NumericInput1 {
	@include elemWidth(190);
}
#cntDialogCreateRole_NumericInput1 {
		z-index: 2;
}
#cntDialogCreateRole_labUserManagment1 {
	@include elemTop(120);
}
#cntDialogCreateRole_labUserManagment1 {
	@include elemLeft(0);
}
#cntDialogCreateRole_labUserManagment1 {
	@include elemAutoWidth(180);
}
#cntDialogCreateRole_labUserManagment1 {
	@include elemAutoHeight(60);
}
#cntDialogCreateRole_labUserManagment1 {
		z-index: 3;
}
#cntDialogCreateRole_labUserManagment1 {
	@include text-alignment-all('center');
}
#cntDialogCreateRole_labUserManagment1 {
		font-size: 20px;
}
#cntDialogCreateRole_labUserManagment1 {
	span{
		padding: 0px;
	}
}
#cntDialogCreateRole_labUserManagment2 {
	@include elemTop(200);
}
#cntDialogCreateRole_labUserManagment2 {
	@include elemLeft(0);
}
#cntDialogCreateRole_labUserManagment2 {
	@include elemAutoWidth(180);
}
#cntDialogCreateRole_labUserManagment2 {
	@include elemAutoHeight(60);
}
#cntDialogCreateRole_labUserManagment2 {
		z-index: 4;
}
#cntDialogCreateRole_labUserManagment2 {
	@include text-alignment-all('center');
}
#cntDialogCreateRole_labUserManagment2 {
		font-size: 20px;
}
#cntDialogCreateRole_labUserManagment2 {
	span{
		padding: 0px;
	}
}
#cntDialogCreateRole_PushButton_Confirm {
	@include elemTop(320);
}
#cntDialogCreateRole_PushButton_Confirm {
	@include elemLeft(240);
}
#cntDialogCreateRole_PushButton_Confirm {
	@include elemAutoWidth(140);
}
#cntDialogCreateRole_PushButton_Confirm {
	@include elemAutoHeight(40);
}
#cntDialogCreateRole_PushButton_Confirm {
		z-index: 5;
}
#cntDialogCreateRole_PushButton_Cancel {
	@include elemTop(320);
}
#cntDialogCreateRole_PushButton_Cancel {
	@include elemLeft(10);
}
#cntDialogCreateRole_PushButton_Cancel {
	@include elemAutoWidth(125);
}
#cntDialogCreateRole_PushButton_Cancel {
	@include elemAutoHeight(40);
}
#cntDialogCreateRole_PushButton_Cancel {
		z-index: 6;
}
#cntDialogCreateRole_CheckBox1 {
	@include elemAutoWidth(150);
}
#cntDialogCreateRole_CheckBox1 {
	@include elemTop(210);
}
#cntDialogCreateRole_CheckBox1 {
	@include elemLeft(240);
}
#cntDialogCreateRole_CheckBox1 {
	@include elemAutoHeight(40);
}
#cntDialogCreateRole_CheckBox1 {
		z-index: 7;
}
#cntDialogCreateRole_CheckBox1 {
	span{
		text-align: center;
	}
}
#cntDialogCreateRole_CheckBox1 {
	&.checked:not(.disabled) svg{
		fill: rgba(0, 128, 0, 1);
	}
}
#cntDialogCreateRole_CheckBox1 {
	&.checked.disabled svg{
		fill: rgba(255, 0, 0, 1);
	}
}
