#cntDialogCreateRole_TextInput1 {
  top: 50px;
  position: absolute;
}

#cntDialogCreateRole_TextInput1 {
  left: 200px;
  position: absolute;
}

#cntDialogCreateRole_TextInput1 {
  width: 190px;
}

#cntDialogCreateRole_TextInput1 {
  height: 40px;
}

#cntDialogCreateRole_TextInput1 {
  z-index: 0;
}

#cntDialogCreateRole_labUserManagment {
  top: 40px;
  position: absolute;
}

#cntDialogCreateRole_labUserManagment {
  left: 0px;
  position: absolute;
}

#cntDialogCreateRole_labUserManagment {
  width: 180px;
}

#cntDialogCreateRole_labUserManagment {
  height: 60px;
}

#cntDialogCreateRole_labUserManagment {
  z-index: 1;
}

#cntDialogCreateRole_labUserManagment {
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntDialogCreateRole_labUserManagment {
  font-size: 20px;
}

#cntDialogCreateRole_labUserManagment span {
  padding: 0px;
}

#cntDialogCreateRole_NumericInput1 {
  height: 30px;
}

#cntDialogCreateRole_NumericInput1 {
  top: 130px;
  position: absolute;
}

#cntDialogCreateRole_NumericInput1 {
  left: 200px;
  position: absolute;
}

#cntDialogCreateRole_NumericInput1 {
  width: 190px;
}

#cntDialogCreateRole_NumericInput1 {
  z-index: 2;
}

#cntDialogCreateRole_labUserManagment1 {
  top: 120px;
  position: absolute;
}

#cntDialogCreateRole_labUserManagment1 {
  left: 0px;
  position: absolute;
}

#cntDialogCreateRole_labUserManagment1 {
  width: 180px;
}

#cntDialogCreateRole_labUserManagment1 {
  height: 60px;
}

#cntDialogCreateRole_labUserManagment1 {
  z-index: 3;
}

#cntDialogCreateRole_labUserManagment1 {
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntDialogCreateRole_labUserManagment1 {
  font-size: 20px;
}

#cntDialogCreateRole_labUserManagment1 span {
  padding: 0px;
}

#cntDialogCreateRole_labUserManagment2 {
  top: 200px;
  position: absolute;
}

#cntDialogCreateRole_labUserManagment2 {
  left: 0px;
  position: absolute;
}

#cntDialogCreateRole_labUserManagment2 {
  width: 180px;
}

#cntDialogCreateRole_labUserManagment2 {
  height: 60px;
}

#cntDialogCreateRole_labUserManagment2 {
  z-index: 4;
}

#cntDialogCreateRole_labUserManagment2 {
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntDialogCreateRole_labUserManagment2 {
  font-size: 20px;
}

#cntDialogCreateRole_labUserManagment2 span {
  padding: 0px;
}

#cntDialogCreateRole_PushButton_Confirm {
  top: 320px;
  position: absolute;
}

#cntDialogCreateRole_PushButton_Confirm {
  left: 240px;
  position: absolute;
}

#cntDialogCreateRole_PushButton_Confirm {
  width: 140px;
}

#cntDialogCreateRole_PushButton_Confirm {
  height: 40px;
}

#cntDialogCreateRole_PushButton_Confirm {
  z-index: 5;
}

#cntDialogCreateRole_PushButton_Cancel {
  top: 320px;
  position: absolute;
}

#cntDialogCreateRole_PushButton_Cancel {
  left: 10px;
  position: absolute;
}

#cntDialogCreateRole_PushButton_Cancel {
  width: 125px;
}

#cntDialogCreateRole_PushButton_Cancel {
  height: 40px;
}

#cntDialogCreateRole_PushButton_Cancel {
  z-index: 6;
}

#cntDialogCreateRole_CheckBox1 {
  width: 150px;
}

#cntDialogCreateRole_CheckBox1 {
  top: 210px;
  position: absolute;
}

#cntDialogCreateRole_CheckBox1 {
  left: 240px;
  position: absolute;
}

#cntDialogCreateRole_CheckBox1 {
  height: 40px;
}

#cntDialogCreateRole_CheckBox1 {
  z-index: 7;
}

#cntDialogCreateRole_CheckBox1 span {
  text-align: center;
}

#cntDialogCreateRole_CheckBox1.checked:not(.disabled) svg {
  fill: green;
}

#cntDialogCreateRole_CheckBox1.checked.disabled svg {
  fill: red;
}
