﻿@import "mixins.scss";
#cntSafetyInputsCell_1_GridLine1 {
	@include elemTop(0);
}
#cntSafetyInputsCell_1_GridLine1 {
	@include elemLeft(0);
}
#cntSafetyInputsCell_1_GridLine1 {
	@include elemWidth(300);
}
#cntSafetyInputsCell_1_GridLine1 {
	@include elemHeight(540);
}
#cntSafetyInputsCell_1_GridLine1 {
		z-index: 0;
}
#cntSafetyInputsCell_1_GridLine1 {
	.container{
		padding: 5px 0px;
	}
}
#cntSafetyInputsCell_1_GridLineItem1 {
		z-index: 0;
}
#cntSafetyInputsCell_1_GridLineItem1 {
		padding: 0px 10px 10px 10px;
}
#cntSafetyInputsCell_1_Label2 {
	@include elemAutoHeight(30);
}
#cntSafetyInputsCell_1_Label2 {
	@include elemTop(0);
}
#cntSafetyInputsCell_1_Label2 {
	@include elemLeft(15);
}
#cntSafetyInputsCell_1_Label2 {
	@include elemAutoWidth(255);
}
#cntSafetyInputsCell_1_Label2 {
		z-index: 0;
}
#cntSafetyInputsCell_1_Label2 {
	& span{
		color: rgba(105, 105, 105, 1);
	}
}
#cntSafetyInputsCell_1_Label2 {
	@include text-alignment-all('center');
}
#cntSafetyInputsCell_1_Label2 {
	span{
	@include text-decoration-underline(true);
	}
}
#cntSafetyInputsCell_1_ImageList1 {
	@include elemTop(35);
}
#cntSafetyInputsCell_1_ImageList1 {
	@include elemLeft(5);
}
#cntSafetyInputsCell_1_ImageList1 {
	@include elemWidth(20);
}
#cntSafetyInputsCell_1_ImageList1 {
	@include elemHeight(20);
}
#cntSafetyInputsCell_1_ImageList1 {
		z-index: 1;
}
#cntSafetyInputsCell_1_ImageList2 {
	@include elemTop(65);
}
#cntSafetyInputsCell_1_ImageList2 {
	@include elemLeft(5);
}
#cntSafetyInputsCell_1_ImageList2 {
	@include elemWidth(20);
}
#cntSafetyInputsCell_1_ImageList2 {
	@include elemHeight(20);
}
#cntSafetyInputsCell_1_ImageList2 {
		z-index: 2;
}
#cntSafetyInputsCell_1_ImageList3 {
	@include elemTop(95);
}
#cntSafetyInputsCell_1_ImageList3 {
	@include elemLeft(5);
}
#cntSafetyInputsCell_1_ImageList3 {
	@include elemWidth(20);
}
#cntSafetyInputsCell_1_ImageList3 {
	@include elemHeight(20);
}
#cntSafetyInputsCell_1_ImageList3 {
		z-index: 3;
}
#cntSafetyInputsCell_1_ImageList4 {
	@include elemTop(125);
}
#cntSafetyInputsCell_1_ImageList4 {
	@include elemLeft(5);
}
#cntSafetyInputsCell_1_ImageList4 {
	@include elemWidth(20);
}
#cntSafetyInputsCell_1_ImageList4 {
	@include elemHeight(20);
}
#cntSafetyInputsCell_1_ImageList4 {
		z-index: 4;
}
#cntSafetyInputsCell_1_ImageList5 {
	@include elemTop(155);
}
#cntSafetyInputsCell_1_ImageList5 {
	@include elemLeft(5);
}
#cntSafetyInputsCell_1_ImageList5 {
	@include elemWidth(20);
}
#cntSafetyInputsCell_1_ImageList5 {
	@include elemHeight(20);
}
#cntSafetyInputsCell_1_ImageList5 {
		z-index: 5;
}
#cntSafetyInputsCell_1_ImageList6 {
	@include elemTop(185);
}
#cntSafetyInputsCell_1_ImageList6 {
	@include elemLeft(5);
}
#cntSafetyInputsCell_1_ImageList6 {
	@include elemWidth(20);
}
#cntSafetyInputsCell_1_ImageList6 {
	@include elemHeight(20);
}
#cntSafetyInputsCell_1_ImageList6 {
		z-index: 6;
}
#cntSafetyInputsCell_1_ImageList7 {
	@include elemTop(215);
}
#cntSafetyInputsCell_1_ImageList7 {
	@include elemLeft(5);
}
#cntSafetyInputsCell_1_ImageList7 {
	@include elemWidth(20);
}
#cntSafetyInputsCell_1_ImageList7 {
	@include elemHeight(20);
}
#cntSafetyInputsCell_1_ImageList7 {
		z-index: 7;
}
#cntSafetyInputsCell_1_ImageList8 {
	@include elemTop(245);
}
#cntSafetyInputsCell_1_ImageList8 {
	@include elemLeft(5);
}
#cntSafetyInputsCell_1_ImageList8 {
	@include elemWidth(20);
}
#cntSafetyInputsCell_1_ImageList8 {
	@include elemHeight(20);
}
#cntSafetyInputsCell_1_ImageList8 {
		z-index: 8;
}
#cntSafetyInputsCell_1_ImageList9 {
	@include elemTop(275);
}
#cntSafetyInputsCell_1_ImageList9 {
	@include elemLeft(5);
}
#cntSafetyInputsCell_1_ImageList9 {
	@include elemWidth(20);
}
#cntSafetyInputsCell_1_ImageList9 {
	@include elemHeight(20);
}
#cntSafetyInputsCell_1_ImageList9 {
		z-index: 9;
}
#cntSafetyInputsCell_1_ImageList10 {
	@include elemTop(305);
}
#cntSafetyInputsCell_1_ImageList10 {
	@include elemLeft(5);
}
#cntSafetyInputsCell_1_ImageList10 {
	@include elemWidth(20);
}
#cntSafetyInputsCell_1_ImageList10 {
	@include elemHeight(20);
}
#cntSafetyInputsCell_1_ImageList10 {
		z-index: 10;
}
#cntSafetyInputsCell_1_ImageList11 {
	@include elemTop(335);
}
#cntSafetyInputsCell_1_ImageList11 {
	@include elemLeft(5);
}
#cntSafetyInputsCell_1_ImageList11 {
	@include elemWidth(20);
}
#cntSafetyInputsCell_1_ImageList11 {
	@include elemHeight(20);
}
#cntSafetyInputsCell_1_ImageList11 {
		z-index: 11;
}
#cntSafetyInputsCell_1_ImageList12 {
	@include elemTop(365);
}
#cntSafetyInputsCell_1_ImageList12 {
	@include elemLeft(5);
}
#cntSafetyInputsCell_1_ImageList12 {
	@include elemWidth(20);
}
#cntSafetyInputsCell_1_ImageList12 {
	@include elemHeight(20);
}
#cntSafetyInputsCell_1_ImageList12 {
		z-index: 12;
}
#cntSafetyInputsCell_1_ImageList13 {
	@include elemTop(395);
}
#cntSafetyInputsCell_1_ImageList13 {
	@include elemLeft(5);
}
#cntSafetyInputsCell_1_ImageList13 {
	@include elemWidth(20);
}
#cntSafetyInputsCell_1_ImageList13 {
	@include elemHeight(20);
}
#cntSafetyInputsCell_1_ImageList13 {
		z-index: 13;
}
#cntSafetyInputsCell_1_ImageList14 {
	@include elemTop(425);
}
#cntSafetyInputsCell_1_ImageList14 {
	@include elemLeft(5);
}
#cntSafetyInputsCell_1_ImageList14 {
	@include elemWidth(20);
}
#cntSafetyInputsCell_1_ImageList14 {
	@include elemHeight(20);
}
#cntSafetyInputsCell_1_ImageList14 {
		z-index: 14;
}
#cntSafetyInputsCell_1_ImageList15 {
	@include elemTop(455);
}
#cntSafetyInputsCell_1_ImageList15 {
	@include elemLeft(5);
}
#cntSafetyInputsCell_1_ImageList15 {
	@include elemWidth(20);
}
#cntSafetyInputsCell_1_ImageList15 {
	@include elemHeight(20);
}
#cntSafetyInputsCell_1_ImageList15 {
		z-index: 15;
}
#cntSafetyInputsCell_1_ImageList16 {
	@include elemTop(485);
}
#cntSafetyInputsCell_1_ImageList16 {
	@include elemLeft(5);
}
#cntSafetyInputsCell_1_ImageList16 {
	@include elemWidth(20);
}
#cntSafetyInputsCell_1_ImageList16 {
	@include elemHeight(20);
}
#cntSafetyInputsCell_1_ImageList16 {
		z-index: 16;
}
#cntSafetyInputsCell_1_Label_si01 {
	@include elemTop(35);
}
#cntSafetyInputsCell_1_Label_si01 {
	@include elemLeft(35);
}
#cntSafetyInputsCell_1_Label_si01 {
	@include elemAutoWidth(230);
}
#cntSafetyInputsCell_1_Label_si01 {
	@include elemAutoHeight(20);
}
#cntSafetyInputsCell_1_Label_si01 {
		z-index: 17;
}
#cntSafetyInputsCell_1_Label_si2 {
	@include elemTop(65);
}
#cntSafetyInputsCell_1_Label_si2 {
	@include elemLeft(35);
}
#cntSafetyInputsCell_1_Label_si2 {
	@include elemAutoWidth(230);
}
#cntSafetyInputsCell_1_Label_si2 {
	@include elemAutoHeight(20);
}
#cntSafetyInputsCell_1_Label_si2 {
		z-index: 18;
}
#cntSafetyInputsCell_1_Label_si3 {
	@include elemTop(95);
}
#cntSafetyInputsCell_1_Label_si3 {
	@include elemLeft(35);
}
#cntSafetyInputsCell_1_Label_si3 {
	@include elemAutoWidth(230);
}
#cntSafetyInputsCell_1_Label_si3 {
	@include elemAutoHeight(20);
}
#cntSafetyInputsCell_1_Label_si3 {
		z-index: 19;
}
#cntSafetyInputsCell_1_Label_si4 {
	@include elemTop(125);
}
#cntSafetyInputsCell_1_Label_si4 {
	@include elemLeft(35);
}
#cntSafetyInputsCell_1_Label_si4 {
	@include elemAutoWidth(230);
}
#cntSafetyInputsCell_1_Label_si4 {
	@include elemAutoHeight(20);
}
#cntSafetyInputsCell_1_Label_si4 {
		z-index: 20;
}
#cntSafetyInputsCell_1_Label_si5 {
	@include elemTop(155);
}
#cntSafetyInputsCell_1_Label_si5 {
	@include elemLeft(35);
}
#cntSafetyInputsCell_1_Label_si5 {
	@include elemAutoWidth(230);
}
#cntSafetyInputsCell_1_Label_si5 {
	@include elemAutoHeight(20);
}
#cntSafetyInputsCell_1_Label_si5 {
		z-index: 21;
}
#cntSafetyInputsCell_1_Label_si6 {
	@include elemTop(185);
}
#cntSafetyInputsCell_1_Label_si6 {
	@include elemLeft(35);
}
#cntSafetyInputsCell_1_Label_si6 {
	@include elemAutoWidth(230);
}
#cntSafetyInputsCell_1_Label_si6 {
	@include elemAutoHeight(20);
}
#cntSafetyInputsCell_1_Label_si6 {
		z-index: 22;
}
#cntSafetyInputsCell_1_Label_si7 {
	@include elemTop(215);
}
#cntSafetyInputsCell_1_Label_si7 {
	@include elemLeft(35);
}
#cntSafetyInputsCell_1_Label_si7 {
	@include elemAutoWidth(230);
}
#cntSafetyInputsCell_1_Label_si7 {
	@include elemAutoHeight(20);
}
#cntSafetyInputsCell_1_Label_si7 {
		z-index: 23;
}
#cntSafetyInputsCell_1_Label_si8 {
	@include elemTop(245);
}
#cntSafetyInputsCell_1_Label_si8 {
	@include elemLeft(35);
}
#cntSafetyInputsCell_1_Label_si8 {
	@include elemAutoWidth(230);
}
#cntSafetyInputsCell_1_Label_si8 {
	@include elemAutoHeight(20);
}
#cntSafetyInputsCell_1_Label_si8 {
		z-index: 24;
}
#cntSafetyInputsCell_1_Label_si9 {
	@include elemTop(275);
}
#cntSafetyInputsCell_1_Label_si9 {
	@include elemLeft(35);
}
#cntSafetyInputsCell_1_Label_si9 {
	@include elemAutoWidth(230);
}
#cntSafetyInputsCell_1_Label_si9 {
	@include elemAutoHeight(20);
}
#cntSafetyInputsCell_1_Label_si9 {
		z-index: 25;
}
#cntSafetyInputsCell_1_Label_si10 {
	@include elemTop(305);
}
#cntSafetyInputsCell_1_Label_si10 {
	@include elemLeft(35);
}
#cntSafetyInputsCell_1_Label_si10 {
	@include elemAutoWidth(230);
}
#cntSafetyInputsCell_1_Label_si10 {
	@include elemAutoHeight(20);
}
#cntSafetyInputsCell_1_Label_si10 {
		z-index: 26;
}
#cntSafetyInputsCell_1_Label_si11 {
	@include elemTop(335);
}
#cntSafetyInputsCell_1_Label_si11 {
	@include elemLeft(35);
}
#cntSafetyInputsCell_1_Label_si11 {
	@include elemAutoWidth(230);
}
#cntSafetyInputsCell_1_Label_si11 {
	@include elemAutoHeight(20);
}
#cntSafetyInputsCell_1_Label_si11 {
		z-index: 27;
}
#cntSafetyInputsCell_1_Label_si12 {
	@include elemTop(365);
}
#cntSafetyInputsCell_1_Label_si12 {
	@include elemLeft(35);
}
#cntSafetyInputsCell_1_Label_si12 {
	@include elemAutoWidth(230);
}
#cntSafetyInputsCell_1_Label_si12 {
	@include elemAutoHeight(20);
}
#cntSafetyInputsCell_1_Label_si12 {
		z-index: 28;
}
#cntSafetyInputsCell_1_Label_si13 {
	@include elemTop(395);
}
#cntSafetyInputsCell_1_Label_si13 {
	@include elemLeft(35);
}
#cntSafetyInputsCell_1_Label_si13 {
	@include elemAutoWidth(230);
}
#cntSafetyInputsCell_1_Label_si13 {
	@include elemAutoHeight(20);
}
#cntSafetyInputsCell_1_Label_si13 {
		z-index: 29;
}
#cntSafetyInputsCell_1_Label_si14 {
	@include elemTop(425);
}
#cntSafetyInputsCell_1_Label_si14 {
	@include elemLeft(35);
}
#cntSafetyInputsCell_1_Label_si14 {
	@include elemAutoWidth(230);
}
#cntSafetyInputsCell_1_Label_si14 {
	@include elemAutoHeight(20);
}
#cntSafetyInputsCell_1_Label_si14 {
		z-index: 30;
}
#cntSafetyInputsCell_1_Label_si15 {
	@include elemTop(455);
}
#cntSafetyInputsCell_1_Label_si15 {
	@include elemLeft(35);
}
#cntSafetyInputsCell_1_Label_si15 {
	@include elemAutoWidth(230);
}
#cntSafetyInputsCell_1_Label_si15 {
	@include elemAutoHeight(20);
}
#cntSafetyInputsCell_1_Label_si15 {
		z-index: 31;
}
#cntSafetyInputsCell_1_Label_si16 {
	@include elemTop(480);
}
#cntSafetyInputsCell_1_Label_si16 {
	@include elemLeft(35);
}
#cntSafetyInputsCell_1_Label_si16 {
	@include elemAutoWidth(230);
}
#cntSafetyInputsCell_1_Label_si16 {
	@include elemAutoHeight(20);
}
#cntSafetyInputsCell_1_Label_si16 {
		z-index: 32;
}
#cntSafetyInputsCell_1_GridLineItem4 {
		z-index: 1;
}
#cntSafetyInputsCell_1_GridLineItem4 {
		padding: 0px 10px 10px 10px;
}
#cntSafetyInputsCell_1_Label_si17 {
	@include elemTop(30);
}
#cntSafetyInputsCell_1_Label_si17 {
	@include elemLeft(35);
}
#cntSafetyInputsCell_1_Label_si17 {
	@include elemAutoWidth(230);
}
#cntSafetyInputsCell_1_Label_si17 {
	@include elemAutoHeight(20);
}
#cntSafetyInputsCell_1_Label_si17 {
		z-index: 0;
}
#cntSafetyInputsCell_1_Label_si17 {
	@include font-weight-bold(false);
}
#cntSafetyInputsCell_1_ImageList33 {
	@include elemTop(30);
}
#cntSafetyInputsCell_1_ImageList33 {
	@include elemLeft(5);
}
#cntSafetyInputsCell_1_ImageList33 {
	@include elemWidth(20);
}
#cntSafetyInputsCell_1_ImageList33 {
	@include elemHeight(20);
}
#cntSafetyInputsCell_1_ImageList33 {
		z-index: 1;
}
#cntSafetyInputsCell_1_ImageList34 {
	@include elemTop(60);
}
#cntSafetyInputsCell_1_ImageList34 {
	@include elemLeft(5);
}
#cntSafetyInputsCell_1_ImageList34 {
	@include elemWidth(20);
}
#cntSafetyInputsCell_1_ImageList34 {
	@include elemHeight(20);
}
#cntSafetyInputsCell_1_ImageList34 {
		z-index: 2;
}
#cntSafetyInputsCell_1_ImageList35 {
	@include elemTop(90);
}
#cntSafetyInputsCell_1_ImageList35 {
	@include elemLeft(5);
}
#cntSafetyInputsCell_1_ImageList35 {
	@include elemWidth(20);
}
#cntSafetyInputsCell_1_ImageList35 {
	@include elemHeight(20);
}
#cntSafetyInputsCell_1_ImageList35 {
		z-index: 3;
}
#cntSafetyInputsCell_1_ImageList36 {
	@include elemTop(120);
}
#cntSafetyInputsCell_1_ImageList36 {
	@include elemLeft(5);
}
#cntSafetyInputsCell_1_ImageList36 {
	@include elemWidth(20);
}
#cntSafetyInputsCell_1_ImageList36 {
	@include elemHeight(20);
}
#cntSafetyInputsCell_1_ImageList36 {
		z-index: 4;
}
#cntSafetyInputsCell_1_ImageList37 {
	@include elemTop(150);
}
#cntSafetyInputsCell_1_ImageList37 {
	@include elemLeft(5);
}
#cntSafetyInputsCell_1_ImageList37 {
	@include elemWidth(20);
}
#cntSafetyInputsCell_1_ImageList37 {
	@include elemHeight(20);
}
#cntSafetyInputsCell_1_ImageList37 {
		z-index: 5;
}
#cntSafetyInputsCell_1_ImageList38 {
	@include elemTop(180);
}
#cntSafetyInputsCell_1_ImageList38 {
	@include elemLeft(5);
}
#cntSafetyInputsCell_1_ImageList38 {
	@include elemWidth(20);
}
#cntSafetyInputsCell_1_ImageList38 {
	@include elemHeight(20);
}
#cntSafetyInputsCell_1_ImageList38 {
		z-index: 6;
}
#cntSafetyInputsCell_1_ImageList39 {
	@include elemTop(210);
}
#cntSafetyInputsCell_1_ImageList39 {
	@include elemLeft(5);
}
#cntSafetyInputsCell_1_ImageList39 {
	@include elemWidth(20);
}
#cntSafetyInputsCell_1_ImageList39 {
	@include elemHeight(20);
}
#cntSafetyInputsCell_1_ImageList39 {
		z-index: 7;
}
#cntSafetyInputsCell_1_ImageList40 {
	@include elemTop(240);
}
#cntSafetyInputsCell_1_ImageList40 {
	@include elemLeft(5);
}
#cntSafetyInputsCell_1_ImageList40 {
	@include elemWidth(20);
}
#cntSafetyInputsCell_1_ImageList40 {
	@include elemHeight(20);
}
#cntSafetyInputsCell_1_ImageList40 {
		z-index: 8;
}
#cntSafetyInputsCell_1_ImageList41 {
	@include elemTop(270);
}
#cntSafetyInputsCell_1_ImageList41 {
	@include elemLeft(5);
}
#cntSafetyInputsCell_1_ImageList41 {
	@include elemWidth(20);
}
#cntSafetyInputsCell_1_ImageList41 {
	@include elemHeight(20);
}
#cntSafetyInputsCell_1_ImageList41 {
		z-index: 9;
}
#cntSafetyInputsCell_1_ImageList42 {
	@include elemTop(300);
}
#cntSafetyInputsCell_1_ImageList42 {
	@include elemLeft(5);
}
#cntSafetyInputsCell_1_ImageList42 {
	@include elemWidth(20);
}
#cntSafetyInputsCell_1_ImageList42 {
	@include elemHeight(20);
}
#cntSafetyInputsCell_1_ImageList42 {
		z-index: 10;
}
#cntSafetyInputsCell_1_ImageList43 {
	@include elemTop(330);
}
#cntSafetyInputsCell_1_ImageList43 {
	@include elemLeft(5);
}
#cntSafetyInputsCell_1_ImageList43 {
	@include elemWidth(20);
}
#cntSafetyInputsCell_1_ImageList43 {
	@include elemHeight(20);
}
#cntSafetyInputsCell_1_ImageList43 {
		z-index: 11;
}
#cntSafetyInputsCell_1_ImageList44 {
	@include elemTop(360);
}
#cntSafetyInputsCell_1_ImageList44 {
	@include elemLeft(5);
}
#cntSafetyInputsCell_1_ImageList44 {
	@include elemWidth(20);
}
#cntSafetyInputsCell_1_ImageList44 {
	@include elemHeight(20);
}
#cntSafetyInputsCell_1_ImageList44 {
		z-index: 12;
}
#cntSafetyInputsCell_1_ImageList45 {
	@include elemTop(390);
}
#cntSafetyInputsCell_1_ImageList45 {
	@include elemLeft(5);
}
#cntSafetyInputsCell_1_ImageList45 {
	@include elemWidth(20);
}
#cntSafetyInputsCell_1_ImageList45 {
	@include elemHeight(20);
}
#cntSafetyInputsCell_1_ImageList45 {
		z-index: 13;
}
#cntSafetyInputsCell_1_ImageList46 {
	@include elemTop(420);
}
#cntSafetyInputsCell_1_ImageList46 {
	@include elemLeft(5);
}
#cntSafetyInputsCell_1_ImageList46 {
	@include elemWidth(20);
}
#cntSafetyInputsCell_1_ImageList46 {
	@include elemHeight(20);
}
#cntSafetyInputsCell_1_ImageList46 {
		z-index: 14;
}
#cntSafetyInputsCell_1_ImageList47 {
	@include elemTop(450);
}
#cntSafetyInputsCell_1_ImageList47 {
	@include elemLeft(5);
}
#cntSafetyInputsCell_1_ImageList47 {
	@include elemWidth(20);
}
#cntSafetyInputsCell_1_ImageList47 {
	@include elemHeight(20);
}
#cntSafetyInputsCell_1_ImageList47 {
		z-index: 15;
}
#cntSafetyInputsCell_1_ImageList48 {
	@include elemTop(480);
}
#cntSafetyInputsCell_1_ImageList48 {
	@include elemLeft(5);
}
#cntSafetyInputsCell_1_ImageList48 {
	@include elemWidth(20);
}
#cntSafetyInputsCell_1_ImageList48 {
	@include elemHeight(20);
}
#cntSafetyInputsCell_1_ImageList48 {
		z-index: 16;
}
#cntSafetyInputsCell_1_Label_si18 {
	@include elemTop(60);
}
#cntSafetyInputsCell_1_Label_si18 {
	@include elemLeft(35);
}
#cntSafetyInputsCell_1_Label_si18 {
	@include elemAutoWidth(230);
}
#cntSafetyInputsCell_1_Label_si18 {
	@include elemAutoHeight(20);
}
#cntSafetyInputsCell_1_Label_si18 {
		z-index: 17;
}
#cntSafetyInputsCell_1_Label_si18 {
	@include font-weight-bold(false);
}
#cntSafetyInputsCell_1_Label_si19 {
	@include elemTop(90);
}
#cntSafetyInputsCell_1_Label_si19 {
	@include elemLeft(35);
}
#cntSafetyInputsCell_1_Label_si19 {
	@include elemAutoWidth(230);
}
#cntSafetyInputsCell_1_Label_si19 {
	@include elemAutoHeight(20);
}
#cntSafetyInputsCell_1_Label_si19 {
		z-index: 18;
}
#cntSafetyInputsCell_1_Label_si19 {
	@include font-weight-bold(false);
}
#cntSafetyInputsCell_1_Label_si20 {
	@include elemTop(120);
}
#cntSafetyInputsCell_1_Label_si20 {
	@include elemLeft(35);
}
#cntSafetyInputsCell_1_Label_si20 {
	@include elemAutoWidth(230);
}
#cntSafetyInputsCell_1_Label_si20 {
	@include elemAutoHeight(20);
}
#cntSafetyInputsCell_1_Label_si20 {
		z-index: 19;
}
#cntSafetyInputsCell_1_Label_si20 {
	@include font-weight-bold(false);
}
#cntSafetyInputsCell_1_Label_si0102 {
	@include elemTop(150);
}
#cntSafetyInputsCell_1_Label_si0102 {
	@include elemLeft(35);
}
#cntSafetyInputsCell_1_Label_si0102 {
	@include elemAutoWidth(230);
}
#cntSafetyInputsCell_1_Label_si0102 {
	@include elemAutoHeight(20);
}
#cntSafetyInputsCell_1_Label_si0102 {
		z-index: 20;
}
#cntSafetyInputsCell_1_Label_si0102 {
	@include font-weight-bold(false);
}
#cntSafetyInputsCell_1_Label_si0304 {
	@include elemTop(180);
}
#cntSafetyInputsCell_1_Label_si0304 {
	@include elemLeft(35);
}
#cntSafetyInputsCell_1_Label_si0304 {
	@include elemAutoWidth(230);
}
#cntSafetyInputsCell_1_Label_si0304 {
	@include elemAutoHeight(20);
}
#cntSafetyInputsCell_1_Label_si0304 {
		z-index: 21;
}
#cntSafetyInputsCell_1_Label_si0304 {
	@include font-weight-bold(false);
}
#cntSafetyInputsCell_1_Label_si0506 {
	@include elemTop(210);
}
#cntSafetyInputsCell_1_Label_si0506 {
	@include elemLeft(35);
}
#cntSafetyInputsCell_1_Label_si0506 {
	@include elemAutoWidth(230);
}
#cntSafetyInputsCell_1_Label_si0506 {
	@include elemAutoHeight(20);
}
#cntSafetyInputsCell_1_Label_si0506 {
		z-index: 22;
}
#cntSafetyInputsCell_1_Label_si0506 {
	@include font-weight-bold(false);
}
#cntSafetyInputsCell_1_Label_si0708 {
	@include elemTop(240);
}
#cntSafetyInputsCell_1_Label_si0708 {
	@include elemLeft(35);
}
#cntSafetyInputsCell_1_Label_si0708 {
	@include elemAutoWidth(230);
}
#cntSafetyInputsCell_1_Label_si0708 {
	@include elemAutoHeight(20);
}
#cntSafetyInputsCell_1_Label_si0708 {
		z-index: 23;
}
#cntSafetyInputsCell_1_Label_si0708 {
	@include font-weight-bold(false);
}
#cntSafetyInputsCell_1_Label_si0910 {
	@include elemTop(270);
}
#cntSafetyInputsCell_1_Label_si0910 {
	@include elemLeft(35);
}
#cntSafetyInputsCell_1_Label_si0910 {
	@include elemAutoWidth(230);
}
#cntSafetyInputsCell_1_Label_si0910 {
	@include elemAutoHeight(20);
}
#cntSafetyInputsCell_1_Label_si0910 {
		z-index: 24;
}
#cntSafetyInputsCell_1_Label_si0910 {
	@include font-weight-bold(false);
}
#cntSafetyInputsCell_1_Label_s1112 {
	@include elemTop(300);
}
#cntSafetyInputsCell_1_Label_s1112 {
	@include elemLeft(35);
}
#cntSafetyInputsCell_1_Label_s1112 {
	@include elemAutoWidth(230);
}
#cntSafetyInputsCell_1_Label_s1112 {
	@include elemAutoHeight(20);
}
#cntSafetyInputsCell_1_Label_s1112 {
		z-index: 25;
}
#cntSafetyInputsCell_1_Label_s1112 {
	@include font-weight-bold(false);
}
#cntSafetyInputsCell_1_Label_s1314 {
	@include elemTop(330);
}
#cntSafetyInputsCell_1_Label_s1314 {
	@include elemLeft(35);
}
#cntSafetyInputsCell_1_Label_s1314 {
	@include elemAutoWidth(230);
}
#cntSafetyInputsCell_1_Label_s1314 {
	@include elemAutoHeight(20);
}
#cntSafetyInputsCell_1_Label_s1314 {
		z-index: 26;
}
#cntSafetyInputsCell_1_Label_s1314 {
	@include font-weight-bold(false);
}
#cntSafetyInputsCell_1_Label_s1516 {
	@include elemTop(360);
}
#cntSafetyInputsCell_1_Label_s1516 {
	@include elemLeft(35);
}
#cntSafetyInputsCell_1_Label_s1516 {
	@include elemAutoWidth(230);
}
#cntSafetyInputsCell_1_Label_s1516 {
	@include elemAutoHeight(20);
}
#cntSafetyInputsCell_1_Label_s1516 {
		z-index: 27;
}
#cntSafetyInputsCell_1_Label_s1516 {
	@include font-weight-bold(false);
}
#cntSafetyInputsCell_1_Label_s1718 {
	@include elemTop(390);
}
#cntSafetyInputsCell_1_Label_s1718 {
	@include elemLeft(35);
}
#cntSafetyInputsCell_1_Label_s1718 {
	@include elemAutoWidth(230);
}
#cntSafetyInputsCell_1_Label_s1718 {
	@include elemAutoHeight(20);
}
#cntSafetyInputsCell_1_Label_s1718 {
		z-index: 28;
}
#cntSafetyInputsCell_1_Label_s1718 {
	@include font-weight-bold(false);
}
#cntSafetyInputsCell_1_Label_si1920 {
	@include elemTop(420);
}
#cntSafetyInputsCell_1_Label_si1920 {
	@include elemLeft(35);
}
#cntSafetyInputsCell_1_Label_si1920 {
	@include elemAutoWidth(230);
}
#cntSafetyInputsCell_1_Label_si1920 {
	@include elemAutoHeight(20);
}
#cntSafetyInputsCell_1_Label_si1920 {
		z-index: 29;
}
#cntSafetyInputsCell_1_Label_si1920 {
	@include font-weight-bold(false);
}
#cntSafetyInputsCell_1_Label_siStatdi1 {
	@include elemTop(450);
}
#cntSafetyInputsCell_1_Label_siStatdi1 {
	@include elemLeft(35);
}
#cntSafetyInputsCell_1_Label_siStatdi1 {
	@include elemAutoWidth(230);
}
#cntSafetyInputsCell_1_Label_siStatdi1 {
	@include elemAutoHeight(20);
}
#cntSafetyInputsCell_1_Label_siStatdi1 {
		z-index: 30;
}
#cntSafetyInputsCell_1_Label_siStatdi1 {
	@include font-weight-bold(false);
}
#cntSafetyInputsCell_1_Label_siStatdi2 {
	@include elemTop(480);
}
#cntSafetyInputsCell_1_Label_siStatdi2 {
	@include elemLeft(35);
}
#cntSafetyInputsCell_1_Label_siStatdi2 {
	@include elemAutoWidth(230);
}
#cntSafetyInputsCell_1_Label_siStatdi2 {
	@include elemAutoHeight(20);
}
#cntSafetyInputsCell_1_Label_siStatdi2 {
		z-index: 31;
}
#cntSafetyInputsCell_1_Label_siStatdi2 {
	@include font-weight-bold(false);
}
#cntSafetyInputsCell_1_Label3 {
	@include elemTop(5);
}
#cntSafetyInputsCell_1_Label3 {
	@include elemLeft(10);
}
#cntSafetyInputsCell_1_Label3 {
	@include elemAutoWidth(255);
}
#cntSafetyInputsCell_1_Label3 {
	@include elemAutoHeight(20);
}
#cntSafetyInputsCell_1_Label3 {
		z-index: 32;
}
#cntSafetyInputsCell_1_Label3 {
	& span{
		color: rgba(105, 105, 105, 1);
	}
}
#cntSafetyInputsCell_1_Label3 {
	@include text-alignment-all('center');
}
#cntSafetyInputsCell_1_Label3 {
	span{
	@include text-decoration-underline(true);
	}
}
#cntSafetyInputsCell_1_GridLineItem3 {
		z-index: 2;
}
#cntSafetyInputsCell_1_GridLineItem3 {
		padding: 0px 10px 10px 10px;
}
#cntSafetyInputsCell_1_ImageList49 {
	@include elemTop(40);
}
#cntSafetyInputsCell_1_ImageList49 {
	@include elemLeft(5);
}
#cntSafetyInputsCell_1_ImageList49 {
	@include elemWidth(20);
}
#cntSafetyInputsCell_1_ImageList49 {
	@include elemHeight(20);
}
#cntSafetyInputsCell_1_ImageList49 {
		z-index: 0;
}
#cntSafetyInputsCell_1_ImageList50 {
	@include elemTop(70);
}
#cntSafetyInputsCell_1_ImageList50 {
	@include elemLeft(5);
}
#cntSafetyInputsCell_1_ImageList50 {
	@include elemWidth(20);
}
#cntSafetyInputsCell_1_ImageList50 {
	@include elemHeight(20);
}
#cntSafetyInputsCell_1_ImageList50 {
		z-index: 1;
}
#cntSafetyInputsCell_1_ImageList51 {
	@include elemTop(100);
}
#cntSafetyInputsCell_1_ImageList51 {
	@include elemLeft(5);
}
#cntSafetyInputsCell_1_ImageList51 {
	@include elemWidth(20);
}
#cntSafetyInputsCell_1_ImageList51 {
	@include elemHeight(20);
}
#cntSafetyInputsCell_1_ImageList51 {
		z-index: 2;
}
#cntSafetyInputsCell_1_ImageList52 {
	@include elemTop(130);
}
#cntSafetyInputsCell_1_ImageList52 {
	@include elemLeft(5);
}
#cntSafetyInputsCell_1_ImageList52 {
	@include elemWidth(20);
}
#cntSafetyInputsCell_1_ImageList52 {
	@include elemHeight(20);
}
#cntSafetyInputsCell_1_ImageList52 {
		z-index: 3;
}
#cntSafetyInputsCell_1_ImageList53 {
	@include elemTop(160);
}
#cntSafetyInputsCell_1_ImageList53 {
	@include elemLeft(5);
}
#cntSafetyInputsCell_1_ImageList53 {
	@include elemWidth(20);
}
#cntSafetyInputsCell_1_ImageList53 {
	@include elemHeight(20);
}
#cntSafetyInputsCell_1_ImageList53 {
		z-index: 4;
}
#cntSafetyInputsCell_1_ImageList54 {
	@include elemTop(190);
}
#cntSafetyInputsCell_1_ImageList54 {
	@include elemLeft(5);
}
#cntSafetyInputsCell_1_ImageList54 {
	@include elemWidth(20);
}
#cntSafetyInputsCell_1_ImageList54 {
	@include elemHeight(20);
}
#cntSafetyInputsCell_1_ImageList54 {
		z-index: 5;
}
#cntSafetyInputsCell_1_ImageList55 {
	@include elemTop(220);
}
#cntSafetyInputsCell_1_ImageList55 {
	@include elemLeft(5);
}
#cntSafetyInputsCell_1_ImageList55 {
	@include elemWidth(20);
}
#cntSafetyInputsCell_1_ImageList55 {
	@include elemHeight(20);
}
#cntSafetyInputsCell_1_ImageList55 {
		z-index: 6;
}
#cntSafetyInputsCell_1_ImageList56 {
	@include elemTop(250);
}
#cntSafetyInputsCell_1_ImageList56 {
	@include elemLeft(5);
}
#cntSafetyInputsCell_1_ImageList56 {
	@include elemWidth(20);
}
#cntSafetyInputsCell_1_ImageList56 {
	@include elemHeight(20);
}
#cntSafetyInputsCell_1_ImageList56 {
		z-index: 7;
}
#cntSafetyInputsCell_1_ImageList57 {
	@include elemTop(280);
}
#cntSafetyInputsCell_1_ImageList57 {
	@include elemLeft(5);
}
#cntSafetyInputsCell_1_ImageList57 {
	@include elemWidth(20);
}
#cntSafetyInputsCell_1_ImageList57 {
	@include elemHeight(20);
}
#cntSafetyInputsCell_1_ImageList57 {
		z-index: 8;
}
#cntSafetyInputsCell_1_ImageList58 {
	@include elemTop(310);
}
#cntSafetyInputsCell_1_ImageList58 {
	@include elemLeft(5);
}
#cntSafetyInputsCell_1_ImageList58 {
	@include elemWidth(20);
}
#cntSafetyInputsCell_1_ImageList58 {
	@include elemHeight(20);
}
#cntSafetyInputsCell_1_ImageList58 {
		z-index: 9;
}
#cntSafetyInputsCell_1_ImageList59 {
	@include elemTop(340);
}
#cntSafetyInputsCell_1_ImageList59 {
	@include elemLeft(5);
}
#cntSafetyInputsCell_1_ImageList59 {
	@include elemWidth(20);
}
#cntSafetyInputsCell_1_ImageList59 {
	@include elemHeight(20);
}
#cntSafetyInputsCell_1_ImageList59 {
		z-index: 10;
}
#cntSafetyInputsCell_1_ImageList60 {
	@include elemTop(370);
}
#cntSafetyInputsCell_1_ImageList60 {
	@include elemLeft(5);
}
#cntSafetyInputsCell_1_ImageList60 {
	@include elemWidth(20);
}
#cntSafetyInputsCell_1_ImageList60 {
	@include elemHeight(20);
}
#cntSafetyInputsCell_1_ImageList60 {
		z-index: 11;
}
#cntSafetyInputsCell_1_ImageList61 {
	@include elemTop(400);
}
#cntSafetyInputsCell_1_ImageList61 {
	@include elemLeft(5);
}
#cntSafetyInputsCell_1_ImageList61 {
	@include elemWidth(20);
}
#cntSafetyInputsCell_1_ImageList61 {
	@include elemHeight(20);
}
#cntSafetyInputsCell_1_ImageList61 {
		z-index: 12;
}
#cntSafetyInputsCell_1_ImageList62 {
	@include elemTop(430);
}
#cntSafetyInputsCell_1_ImageList62 {
	@include elemLeft(5);
}
#cntSafetyInputsCell_1_ImageList62 {
	@include elemWidth(20);
}
#cntSafetyInputsCell_1_ImageList62 {
	@include elemHeight(20);
}
#cntSafetyInputsCell_1_ImageList62 {
		z-index: 13;
}
#cntSafetyInputsCell_1_ImageList63 {
	@include elemTop(460);
}
#cntSafetyInputsCell_1_ImageList63 {
	@include elemLeft(5);
}
#cntSafetyInputsCell_1_ImageList63 {
	@include elemWidth(20);
}
#cntSafetyInputsCell_1_ImageList63 {
	@include elemHeight(20);
}
#cntSafetyInputsCell_1_ImageList63 {
		z-index: 14;
}
#cntSafetyInputsCell_1_ImageList64 {
	@include elemTop(490);
}
#cntSafetyInputsCell_1_ImageList64 {
	@include elemLeft(5);
}
#cntSafetyInputsCell_1_ImageList64 {
	@include elemWidth(20);
}
#cntSafetyInputsCell_1_ImageList64 {
	@include elemHeight(20);
}
#cntSafetyInputsCell_1_ImageList64 {
		z-index: 15;
}
#cntSafetyInputsCell_1_Label_siStatdi3 {
	@include elemTop(40);
}
#cntSafetyInputsCell_1_Label_siStatdi3 {
	@include elemLeft(35);
}
#cntSafetyInputsCell_1_Label_siStatdi3 {
	@include elemAutoWidth(230);
}
#cntSafetyInputsCell_1_Label_siStatdi3 {
	@include elemAutoHeight(20);
}
#cntSafetyInputsCell_1_Label_siStatdi3 {
		z-index: 16;
}
#cntSafetyInputsCell_1_Label_siStatdi3 {
	@include font-weight-bold(false);
}
#cntSafetyInputsCell_1_Label_siStatdi4 {
	@include elemTop(70);
}
#cntSafetyInputsCell_1_Label_siStatdi4 {
	@include elemLeft(35);
}
#cntSafetyInputsCell_1_Label_siStatdi4 {
	@include elemAutoWidth(230);
}
#cntSafetyInputsCell_1_Label_siStatdi4 {
	@include elemAutoHeight(20);
}
#cntSafetyInputsCell_1_Label_siStatdi4 {
		z-index: 17;
}
#cntSafetyInputsCell_1_Label_siStatdi4 {
	@include font-weight-bold(false);
}
#cntSafetyInputsCell_1_Label_siStatdi5 {
	@include elemTop(100);
}
#cntSafetyInputsCell_1_Label_siStatdi5 {
	@include elemLeft(35);
}
#cntSafetyInputsCell_1_Label_siStatdi5 {
	@include elemAutoWidth(230);
}
#cntSafetyInputsCell_1_Label_siStatdi5 {
	@include elemAutoHeight(20);
}
#cntSafetyInputsCell_1_Label_siStatdi5 {
		z-index: 18;
}
#cntSafetyInputsCell_1_Label_siStatdi5 {
	@include font-weight-bold(false);
}
#cntSafetyInputsCell_1_Label_siStatdi6 {
	@include elemTop(130);
}
#cntSafetyInputsCell_1_Label_siStatdi6 {
	@include elemLeft(35);
}
#cntSafetyInputsCell_1_Label_siStatdi6 {
	@include elemAutoWidth(230);
}
#cntSafetyInputsCell_1_Label_siStatdi6 {
	@include elemAutoHeight(20);
}
#cntSafetyInputsCell_1_Label_siStatdi6 {
		z-index: 19;
}
#cntSafetyInputsCell_1_Label_siStatdi6 {
	@include font-weight-bold(false);
}
#cntSafetyInputsCell_1_Label_siStatdi7 {
	@include elemTop(160);
}
#cntSafetyInputsCell_1_Label_siStatdi7 {
	@include elemLeft(35);
}
#cntSafetyInputsCell_1_Label_siStatdi7 {
	@include elemAutoWidth(230);
}
#cntSafetyInputsCell_1_Label_siStatdi7 {
	@include elemAutoHeight(20);
}
#cntSafetyInputsCell_1_Label_siStatdi7 {
		z-index: 20;
}
#cntSafetyInputsCell_1_Label_siStatdi7 {
	@include font-weight-bold(false);
}
#cntSafetyInputsCell_1_Label_siStatdi8 {
	@include elemTop(190);
}
#cntSafetyInputsCell_1_Label_siStatdi8 {
	@include elemLeft(35);
}
#cntSafetyInputsCell_1_Label_siStatdi8 {
	@include elemAutoWidth(230);
}
#cntSafetyInputsCell_1_Label_siStatdi8 {
	@include elemAutoHeight(20);
}
#cntSafetyInputsCell_1_Label_siStatdi8 {
		z-index: 21;
}
#cntSafetyInputsCell_1_Label_siStatdi8 {
	@include font-weight-bold(false);
}
#cntSafetyInputsCell_1_Label_siStatdi9 {
	@include elemTop(340);
}
#cntSafetyInputsCell_1_Label_siStatdi9 {
	@include elemLeft(35);
}
#cntSafetyInputsCell_1_Label_siStatdi9 {
	@include elemAutoWidth(230);
}
#cntSafetyInputsCell_1_Label_siStatdi9 {
	@include elemAutoHeight(20);
}
#cntSafetyInputsCell_1_Label_siStatdi9 {
		z-index: 22;
}
#cntSafetyInputsCell_1_Label_siStatdi9 {
		font-size: 14px;
}
#cntSafetyInputsCell_1_Label_siStatdi9 {
	@include font-weight-bold(false);
}
#cntSafetyInputsCell_1_Label_siStatdi10 {
	@include elemTop(250);
}
#cntSafetyInputsCell_1_Label_siStatdi10 {
	@include elemLeft(35);
}
#cntSafetyInputsCell_1_Label_siStatdi10 {
	@include elemAutoWidth(230);
}
#cntSafetyInputsCell_1_Label_siStatdi10 {
	@include elemAutoHeight(20);
}
#cntSafetyInputsCell_1_Label_siStatdi10 {
		z-index: 23;
}
#cntSafetyInputsCell_1_Label_siStatdi10 {
	@include font-weight-bold(false);
}
#cntSafetyInputsCell_1_Label_siStatdi11 {
	@include elemTop(280);
}
#cntSafetyInputsCell_1_Label_siStatdi11 {
	@include elemLeft(35);
}
#cntSafetyInputsCell_1_Label_siStatdi11 {
	@include elemAutoWidth(230);
}
#cntSafetyInputsCell_1_Label_siStatdi11 {
	@include elemAutoHeight(20);
}
#cntSafetyInputsCell_1_Label_siStatdi11 {
		z-index: 24;
}
#cntSafetyInputsCell_1_Label_siStatdi11 {
	@include font-weight-bold(false);
}
#cntSafetyInputsCell_1_Label_siStatdi12 {
	@include elemTop(310);
}
#cntSafetyInputsCell_1_Label_siStatdi12 {
	@include elemLeft(35);
}
#cntSafetyInputsCell_1_Label_siStatdi12 {
	@include elemAutoWidth(230);
}
#cntSafetyInputsCell_1_Label_siStatdi12 {
	@include elemAutoHeight(20);
}
#cntSafetyInputsCell_1_Label_siStatdi12 {
		z-index: 25;
}
#cntSafetyInputsCell_1_Label_siStatdi12 {
	@include font-weight-bold(false);
}
#cntSafetyInputsCell_1_Label_siStatdi13 {
	@include elemTop(220);
}
#cntSafetyInputsCell_1_Label_siStatdi13 {
	@include elemLeft(35);
}
#cntSafetyInputsCell_1_Label_siStatdi13 {
	@include elemAutoWidth(230);
}
#cntSafetyInputsCell_1_Label_siStatdi13 {
	@include elemAutoHeight(20);
}
#cntSafetyInputsCell_1_Label_siStatdi13 {
		z-index: 26;
}
#cntSafetyInputsCell_1_Label_siStatdi13 {
	@include font-weight-bold(false);
}
#cntSafetyInputsCell_1_Label_siStatdi14 {
	@include elemTop(370);
}
#cntSafetyInputsCell_1_Label_siStatdi14 {
	@include elemLeft(35);
}
#cntSafetyInputsCell_1_Label_siStatdi14 {
	@include elemAutoWidth(230);
}
#cntSafetyInputsCell_1_Label_siStatdi14 {
	@include elemAutoHeight(20);
}
#cntSafetyInputsCell_1_Label_siStatdi14 {
		z-index: 27;
}
#cntSafetyInputsCell_1_Label_siStatdi14 {
		font-size: 14px;
}
#cntSafetyInputsCell_1_Label_siStatdi14 {
	@include font-weight-bold(false);
}
#cntSafetyInputsCell_1_Label_siStatdi15 {
	@include elemTop(400);
}
#cntSafetyInputsCell_1_Label_siStatdi15 {
	@include elemLeft(35);
}
#cntSafetyInputsCell_1_Label_siStatdi15 {
	@include elemAutoWidth(230);
}
#cntSafetyInputsCell_1_Label_siStatdi15 {
	@include elemAutoHeight(20);
}
#cntSafetyInputsCell_1_Label_siStatdi15 {
		z-index: 28;
}
#cntSafetyInputsCell_1_Label_siStatdi15 {
		font-size: 14px;
}
#cntSafetyInputsCell_1_Label_siStatdi15 {
	@include font-weight-bold(false);
}
#cntSafetyInputsCell_1_Label_siStatdi16 {
	@include elemTop(430);
}
#cntSafetyInputsCell_1_Label_siStatdi16 {
	@include elemLeft(35);
}
#cntSafetyInputsCell_1_Label_siStatdi16 {
	@include elemAutoWidth(230);
}
#cntSafetyInputsCell_1_Label_siStatdi16 {
	@include elemAutoHeight(20);
}
#cntSafetyInputsCell_1_Label_siStatdi16 {
		z-index: 29;
}
#cntSafetyInputsCell_1_Label_siStatdi16 {
		font-size: 14px;
}
#cntSafetyInputsCell_1_Label_siStatdi16 {
	@include font-weight-bold(false);
}
#cntSafetyInputsCell_1_Label_siStatdi17 {
	@include elemTop(460);
}
#cntSafetyInputsCell_1_Label_siStatdi17 {
	@include elemLeft(35);
}
#cntSafetyInputsCell_1_Label_siStatdi17 {
	@include elemAutoWidth(230);
}
#cntSafetyInputsCell_1_Label_siStatdi17 {
	@include elemAutoHeight(20);
}
#cntSafetyInputsCell_1_Label_siStatdi17 {
		z-index: 30;
}
#cntSafetyInputsCell_1_Label_siStatdi17 {
	@include font-weight-bold(false);
}
#cntSafetyInputsCell_1_Label_siStatdi18 {
	@include elemTop(490);
}
#cntSafetyInputsCell_1_Label_siStatdi18 {
	@include elemLeft(35);
}
#cntSafetyInputsCell_1_Label_siStatdi18 {
	@include elemAutoWidth(230);
}
#cntSafetyInputsCell_1_Label_siStatdi18 {
	@include elemAutoHeight(20);
}
#cntSafetyInputsCell_1_Label_siStatdi18 {
		z-index: 31;
}
#cntSafetyInputsCell_1_Label_siStatdi18 {
	@include font-weight-bold(false);
}
#cntSafetyInputsCell_1_Label4 {
	@include elemTop(8);
}
#cntSafetyInputsCell_1_Label4 {
	@include elemLeft(10);
}
#cntSafetyInputsCell_1_Label4 {
	@include elemAutoWidth(255);
}
#cntSafetyInputsCell_1_Label4 {
	@include elemAutoHeight(20);
}
#cntSafetyInputsCell_1_Label4 {
		z-index: 32;
}
#cntSafetyInputsCell_1_Label4 {
	& span{
		color: rgba(105, 105, 105, 1);
	}
}
#cntSafetyInputsCell_1_Label4 {
	@include text-alignment-all('center');
}
#cntSafetyInputsCell_1_Label4 {
	span{
	@include text-decoration-underline(true);
	}
}
#cntSafetyInputsCell_1_GridLineItem5 {
		z-index: 3;
}
#cntSafetyInputsCell_1_GridLineItem5 {
		padding: 0px 10px 10px 10px;
}
#cntSafetyInputsCell_1_ImageList65 {
	@include elemTop(40);
}
#cntSafetyInputsCell_1_ImageList65 {
	@include elemLeft(5);
}
#cntSafetyInputsCell_1_ImageList65 {
	@include elemWidth(20);
}
#cntSafetyInputsCell_1_ImageList65 {
	@include elemHeight(20);
}
#cntSafetyInputsCell_1_ImageList65 {
		z-index: 0;
}
#cntSafetyInputsCell_1_ImageList66 {
	@include elemTop(70);
}
#cntSafetyInputsCell_1_ImageList66 {
	@include elemLeft(5);
}
#cntSafetyInputsCell_1_ImageList66 {
	@include elemWidth(20);
}
#cntSafetyInputsCell_1_ImageList66 {
	@include elemHeight(20);
}
#cntSafetyInputsCell_1_ImageList66 {
		z-index: 1;
}
#cntSafetyInputsCell_1_ImageList67 {
	@include elemTop(100);
}
#cntSafetyInputsCell_1_ImageList67 {
	@include elemLeft(5);
}
#cntSafetyInputsCell_1_ImageList67 {
	@include elemWidth(20);
}
#cntSafetyInputsCell_1_ImageList67 {
	@include elemHeight(20);
}
#cntSafetyInputsCell_1_ImageList67 {
		z-index: 2;
}
#cntSafetyInputsCell_1_ImageList68 {
	@include elemTop(130);
}
#cntSafetyInputsCell_1_ImageList68 {
	@include elemLeft(5);
}
#cntSafetyInputsCell_1_ImageList68 {
	@include elemWidth(20);
}
#cntSafetyInputsCell_1_ImageList68 {
	@include elemHeight(20);
}
#cntSafetyInputsCell_1_ImageList68 {
		z-index: 3;
}
#cntSafetyInputsCell_1_ImageList69 {
	@include elemTop(160);
}
#cntSafetyInputsCell_1_ImageList69 {
	@include elemLeft(5);
}
#cntSafetyInputsCell_1_ImageList69 {
	@include elemWidth(20);
}
#cntSafetyInputsCell_1_ImageList69 {
	@include elemHeight(20);
}
#cntSafetyInputsCell_1_ImageList69 {
		z-index: 4;
}
#cntSafetyInputsCell_1_ImageList70 {
	@include elemTop(190);
}
#cntSafetyInputsCell_1_ImageList70 {
	@include elemLeft(5);
}
#cntSafetyInputsCell_1_ImageList70 {
	@include elemWidth(20);
}
#cntSafetyInputsCell_1_ImageList70 {
	@include elemHeight(20);
}
#cntSafetyInputsCell_1_ImageList70 {
		z-index: 5;
}
#cntSafetyInputsCell_1_ImageList71 {
	@include elemTop(220);
}
#cntSafetyInputsCell_1_ImageList71 {
	@include elemLeft(5);
}
#cntSafetyInputsCell_1_ImageList71 {
	@include elemWidth(20);
}
#cntSafetyInputsCell_1_ImageList71 {
	@include elemHeight(20);
}
#cntSafetyInputsCell_1_ImageList71 {
		z-index: 6;
}
#cntSafetyInputsCell_1_ImageList72 {
	@include elemTop(250);
}
#cntSafetyInputsCell_1_ImageList72 {
	@include elemLeft(5);
}
#cntSafetyInputsCell_1_ImageList72 {
	@include elemWidth(20);
}
#cntSafetyInputsCell_1_ImageList72 {
	@include elemHeight(20);
}
#cntSafetyInputsCell_1_ImageList72 {
		z-index: 7;
}
#cntSafetyInputsCell_1_ImageList73 {
	@include elemTop(280);
}
#cntSafetyInputsCell_1_ImageList73 {
	@include elemLeft(5);
}
#cntSafetyInputsCell_1_ImageList73 {
	@include elemWidth(20);
}
#cntSafetyInputsCell_1_ImageList73 {
	@include elemHeight(20);
}
#cntSafetyInputsCell_1_ImageList73 {
		z-index: 8;
}
#cntSafetyInputsCell_1_ImageList74 {
	@include elemTop(310);
}
#cntSafetyInputsCell_1_ImageList74 {
	@include elemLeft(5);
}
#cntSafetyInputsCell_1_ImageList74 {
	@include elemWidth(20);
}
#cntSafetyInputsCell_1_ImageList74 {
	@include elemHeight(20);
}
#cntSafetyInputsCell_1_ImageList74 {
		z-index: 9;
}
#cntSafetyInputsCell_1_ImageList75 {
	@include elemTop(340);
}
#cntSafetyInputsCell_1_ImageList75 {
	@include elemLeft(5);
}
#cntSafetyInputsCell_1_ImageList75 {
	@include elemWidth(20);
}
#cntSafetyInputsCell_1_ImageList75 {
	@include elemHeight(20);
}
#cntSafetyInputsCell_1_ImageList75 {
		z-index: 10;
}
#cntSafetyInputsCell_1_ImageList76 {
	@include elemTop(370);
}
#cntSafetyInputsCell_1_ImageList76 {
	@include elemLeft(5);
}
#cntSafetyInputsCell_1_ImageList76 {
	@include elemWidth(20);
}
#cntSafetyInputsCell_1_ImageList76 {
	@include elemHeight(20);
}
#cntSafetyInputsCell_1_ImageList76 {
		z-index: 11;
}
#cntSafetyInputsCell_1_ImageList77 {
	@include elemTop(400);
}
#cntSafetyInputsCell_1_ImageList77 {
	@include elemLeft(5);
}
#cntSafetyInputsCell_1_ImageList77 {
	@include elemWidth(20);
}
#cntSafetyInputsCell_1_ImageList77 {
	@include elemHeight(20);
}
#cntSafetyInputsCell_1_ImageList77 {
		z-index: 12;
}
#cntSafetyInputsCell_1_Label_siStatdi19 {
	@include elemTop(40);
}
#cntSafetyInputsCell_1_Label_siStatdi19 {
	@include elemLeft(30);
}
#cntSafetyInputsCell_1_Label_siStatdi19 {
	@include elemAutoWidth(240);
}
#cntSafetyInputsCell_1_Label_siStatdi19 {
	@include elemAutoHeight(20);
}
#cntSafetyInputsCell_1_Label_siStatdi19 {
		z-index: 13;
}
#cntSafetyInputsCell_1_Label_siStatdi19 {
	@include font-weight-bold(false);
}
#cntSafetyInputsCell_1_Label_siStatdi20 {
	@include elemTop(70);
}
#cntSafetyInputsCell_1_Label_siStatdi20 {
	@include elemLeft(30);
}
#cntSafetyInputsCell_1_Label_siStatdi20 {
	@include elemAutoWidth(240);
}
#cntSafetyInputsCell_1_Label_siStatdi20 {
	@include elemAutoHeight(20);
}
#cntSafetyInputsCell_1_Label_siStatdi20 {
		z-index: 14;
}
#cntSafetyInputsCell_1_Label_siStatdi20 {
	@include font-weight-bold(false);
}
#cntSafetyInputsCell_1_Label_siStatdi21 {
	@include elemTop(100);
}
#cntSafetyInputsCell_1_Label_siStatdi21 {
	@include elemLeft(30);
}
#cntSafetyInputsCell_1_Label_siStatdi21 {
	@include elemAutoWidth(240);
}
#cntSafetyInputsCell_1_Label_siStatdi21 {
	@include elemAutoHeight(20);
}
#cntSafetyInputsCell_1_Label_siStatdi21 {
		z-index: 15;
}
#cntSafetyInputsCell_1_Label_siStatdi21 {
	@include font-weight-bold(false);
}
#cntSafetyInputsCell_1_Label_siStatdi22 {
	@include elemTop(130);
}
#cntSafetyInputsCell_1_Label_siStatdi22 {
	@include elemLeft(30);
}
#cntSafetyInputsCell_1_Label_siStatdi22 {
	@include elemAutoWidth(240);
}
#cntSafetyInputsCell_1_Label_siStatdi22 {
	@include elemAutoHeight(20);
}
#cntSafetyInputsCell_1_Label_siStatdi22 {
		z-index: 16;
}
#cntSafetyInputsCell_1_Label_siStatdi22 {
	@include font-weight-bold(false);
}
#cntSafetyInputsCell_1_Label_siStatdi23 {
	@include elemTop(160);
}
#cntSafetyInputsCell_1_Label_siStatdi23 {
	@include elemLeft(30);
}
#cntSafetyInputsCell_1_Label_siStatdi23 {
	@include elemAutoWidth(240);
}
#cntSafetyInputsCell_1_Label_siStatdi23 {
	@include elemAutoHeight(20);
}
#cntSafetyInputsCell_1_Label_siStatdi23 {
		z-index: 17;
}
#cntSafetyInputsCell_1_Label_siStatdi23 {
	@include font-weight-bold(false);
}
#cntSafetyInputsCell_1_Label_siStatdi24 {
	@include elemTop(190);
}
#cntSafetyInputsCell_1_Label_siStatdi24 {
	@include elemLeft(30);
}
#cntSafetyInputsCell_1_Label_siStatdi24 {
	@include elemAutoWidth(240);
}
#cntSafetyInputsCell_1_Label_siStatdi24 {
	@include elemAutoHeight(20);
}
#cntSafetyInputsCell_1_Label_siStatdi24 {
		z-index: 18;
}
#cntSafetyInputsCell_1_Label_siStatdi24 {
	@include font-weight-bold(false);
}
#cntSafetyInputsCell_1_Label_siStatdi25 {
	@include elemTop(220);
}
#cntSafetyInputsCell_1_Label_siStatdi25 {
	@include elemLeft(30);
}
#cntSafetyInputsCell_1_Label_siStatdi25 {
	@include elemAutoWidth(240);
}
#cntSafetyInputsCell_1_Label_siStatdi25 {
	@include elemAutoHeight(20);
}
#cntSafetyInputsCell_1_Label_siStatdi25 {
		z-index: 19;
}
#cntSafetyInputsCell_1_Label_siStatdi25 {
	@include font-weight-bold(false);
}
#cntSafetyInputsCell_1_Label_siStatdi26 {
	@include elemTop(249);
}
#cntSafetyInputsCell_1_Label_siStatdi26 {
	@include elemLeft(30);
}
#cntSafetyInputsCell_1_Label_siStatdi26 {
	@include elemAutoWidth(240);
}
#cntSafetyInputsCell_1_Label_siStatdi26 {
	@include elemAutoHeight(20);
}
#cntSafetyInputsCell_1_Label_siStatdi26 {
		z-index: 20;
}
#cntSafetyInputsCell_1_Label_siStatdi26 {
		font-size: 15px;
}
#cntSafetyInputsCell_1_Label_siStatdi26 {
	@include font-weight-bold(false);
}
#cntSafetyInputsCell_1_Label_siStatdi27 {
	@include elemTop(280);
}
#cntSafetyInputsCell_1_Label_siStatdi27 {
	@include elemLeft(30);
}
#cntSafetyInputsCell_1_Label_siStatdi27 {
	@include elemAutoWidth(240);
}
#cntSafetyInputsCell_1_Label_siStatdi27 {
	@include elemAutoHeight(20);
}
#cntSafetyInputsCell_1_Label_siStatdi27 {
		z-index: 21;
}
#cntSafetyInputsCell_1_Label_siStatdi27 {
	@include text-alignment-all('left top');
}
#cntSafetyInputsCell_1_Label_siStatdi27 {
		font-size: 15px;
}
#cntSafetyInputsCell_1_Label_siStatdi27 {
	@include font-weight-bold(false);
}
#cntSafetyInputsCell_1_Label_siStatdi28 {
	@include elemTop(310);
}
#cntSafetyInputsCell_1_Label_siStatdi28 {
	@include elemLeft(30);
}
#cntSafetyInputsCell_1_Label_siStatdi28 {
	@include elemAutoWidth(240);
}
#cntSafetyInputsCell_1_Label_siStatdi28 {
	@include elemAutoHeight(20);
}
#cntSafetyInputsCell_1_Label_siStatdi28 {
		z-index: 22;
}
#cntSafetyInputsCell_1_Label_siStatdi28 {
		font-size: 15px;
}
#cntSafetyInputsCell_1_Label_siStatdi28 {
	@include font-weight-bold(false);
}
#cntSafetyInputsCell_1_Label_siStatdi29 {
	@include elemTop(340);
}
#cntSafetyInputsCell_1_Label_siStatdi29 {
	@include elemLeft(30);
}
#cntSafetyInputsCell_1_Label_siStatdi29 {
	@include elemAutoWidth(240);
}
#cntSafetyInputsCell_1_Label_siStatdi29 {
	@include elemAutoHeight(20);
}
#cntSafetyInputsCell_1_Label_siStatdi29 {
		z-index: 23;
}
#cntSafetyInputsCell_1_Label_siStatdi29 {
		font-size: 15px;
}
#cntSafetyInputsCell_1_Label_siStatdi29 {
	@include font-weight-bold(false);
}
#cntSafetyInputsCell_1_Label_siStatdi30 {
	@include elemTop(370);
}
#cntSafetyInputsCell_1_Label_siStatdi30 {
	@include elemLeft(30);
}
#cntSafetyInputsCell_1_Label_siStatdi30 {
	@include elemAutoWidth(240);
}
#cntSafetyInputsCell_1_Label_siStatdi30 {
	@include elemAutoHeight(20);
}
#cntSafetyInputsCell_1_Label_siStatdi30 {
		z-index: 24;
}
#cntSafetyInputsCell_1_Label_siStatdi30 {
		font-size: 14px;
}
#cntSafetyInputsCell_1_Label_siStatdi30 {
	@include font-weight-bold(false);
}
#cntSafetyInputsCell_1_LabelSafeModuleOk {
	@include elemTop(400);
}
#cntSafetyInputsCell_1_LabelSafeModuleOk {
	@include elemLeft(30);
}
#cntSafetyInputsCell_1_LabelSafeModuleOk {
	@include elemAutoWidth(240);
}
#cntSafetyInputsCell_1_LabelSafeModuleOk {
	@include elemAutoHeight(20);
}
#cntSafetyInputsCell_1_LabelSafeModuleOk {
		z-index: 25;
}
#cntSafetyInputsCell_1_Label5 {
	@include elemTop(8);
}
#cntSafetyInputsCell_1_Label5 {
	@include elemLeft(10);
}
#cntSafetyInputsCell_1_Label5 {
	@include elemAutoWidth(255);
}
#cntSafetyInputsCell_1_Label5 {
	@include elemAutoHeight(20);
}
#cntSafetyInputsCell_1_Label5 {
		z-index: 26;
}
#cntSafetyInputsCell_1_Label5 {
	& span{
		color: rgba(105, 105, 105, 1);
	}
}
#cntSafetyInputsCell_1_Label5 {
	@include text-alignment-all('center');
}
#cntSafetyInputsCell_1_Label5 {
	span{
	@include text-decoration-underline(true);
	}
}
#cntSafetyInputsCell_1_CheckBox_SafetyIn {
	@include elemTop(0);
}
#cntSafetyInputsCell_1_CheckBox_SafetyIn {
	@include elemLeft(250);
}
#cntSafetyInputsCell_1_CheckBox_SafetyIn {
	@include elemAutoWidth(45);
}
#cntSafetyInputsCell_1_CheckBox_SafetyIn {
	@include elemAutoHeight(45);
}
#cntSafetyInputsCell_1_CheckBox_SafetyIn {
		z-index: 1;
}
#cntSafetyInputsCell_1_CheckBox_SafetyIn {
	span{
	@include font-style-italic(true);
	}
}
#cntSafetyInputsCell_1_CheckBox_SafetyIn {
	&.checked:not(.disabled) svg{
		fill: rgba(255, 0, 0, 1);
	}
}
