#cntSafetyInputsCell_1_GridLine1 {
  top: 0px;
  position: absolute;
}

#cntSafetyInputsCell_1_GridLine1 {
  left: 0px;
  position: absolute;
}

#cntSafetyInputsCell_1_GridLine1 {
  width: 300px;
}

#cntSafetyInputsCell_1_GridLine1 {
  height: 540px;
}

#cntSafetyInputsCell_1_GridLine1 {
  z-index: 0;
}

#cntSafetyInputsCell_1_GridLine1 .container {
  padding: 5px 0px;
}

#cntSafetyInputsCell_1_GridLineItem1 {
  z-index: 0;
}

#cntSafetyInputsCell_1_GridLineItem1 {
  padding: 0px 10px 10px 10px;
}

#cntSafetyInputsCell_1_Label2 {
  height: 30px;
}

#cntSafetyInputsCell_1_Label2 {
  top: 0px;
  position: absolute;
}

#cntSafetyInputsCell_1_Label2 {
  left: 15px;
  position: absolute;
}

#cntSafetyInputsCell_1_Label2 {
  width: 255px;
}

#cntSafetyInputsCell_1_Label2 {
  z-index: 0;
}

#cntSafetyInputsCell_1_Label2 span {
  color: dimgray;
}

#cntSafetyInputsCell_1_Label2 {
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntSafetyInputsCell_1_Label2 span {
  text-decoration: underline;
}

#cntSafetyInputsCell_1_ImageList1 {
  top: 35px;
  position: absolute;
}

#cntSafetyInputsCell_1_ImageList1 {
  left: 5px;
  position: absolute;
}

#cntSafetyInputsCell_1_ImageList1 {
  width: 20px;
}

#cntSafetyInputsCell_1_ImageList1 {
  height: 20px;
}

#cntSafetyInputsCell_1_ImageList1 {
  z-index: 1;
}

#cntSafetyInputsCell_1_ImageList2 {
  top: 65px;
  position: absolute;
}

#cntSafetyInputsCell_1_ImageList2 {
  left: 5px;
  position: absolute;
}

#cntSafetyInputsCell_1_ImageList2 {
  width: 20px;
}

#cntSafetyInputsCell_1_ImageList2 {
  height: 20px;
}

#cntSafetyInputsCell_1_ImageList2 {
  z-index: 2;
}

#cntSafetyInputsCell_1_ImageList3 {
  top: 95px;
  position: absolute;
}

#cntSafetyInputsCell_1_ImageList3 {
  left: 5px;
  position: absolute;
}

#cntSafetyInputsCell_1_ImageList3 {
  width: 20px;
}

#cntSafetyInputsCell_1_ImageList3 {
  height: 20px;
}

#cntSafetyInputsCell_1_ImageList3 {
  z-index: 3;
}

#cntSafetyInputsCell_1_ImageList4 {
  top: 125px;
  position: absolute;
}

#cntSafetyInputsCell_1_ImageList4 {
  left: 5px;
  position: absolute;
}

#cntSafetyInputsCell_1_ImageList4 {
  width: 20px;
}

#cntSafetyInputsCell_1_ImageList4 {
  height: 20px;
}

#cntSafetyInputsCell_1_ImageList4 {
  z-index: 4;
}

#cntSafetyInputsCell_1_ImageList5 {
  top: 155px;
  position: absolute;
}

#cntSafetyInputsCell_1_ImageList5 {
  left: 5px;
  position: absolute;
}

#cntSafetyInputsCell_1_ImageList5 {
  width: 20px;
}

#cntSafetyInputsCell_1_ImageList5 {
  height: 20px;
}

#cntSafetyInputsCell_1_ImageList5 {
  z-index: 5;
}

#cntSafetyInputsCell_1_ImageList6 {
  top: 185px;
  position: absolute;
}

#cntSafetyInputsCell_1_ImageList6 {
  left: 5px;
  position: absolute;
}

#cntSafetyInputsCell_1_ImageList6 {
  width: 20px;
}

#cntSafetyInputsCell_1_ImageList6 {
  height: 20px;
}

#cntSafetyInputsCell_1_ImageList6 {
  z-index: 6;
}

#cntSafetyInputsCell_1_ImageList7 {
  top: 215px;
  position: absolute;
}

#cntSafetyInputsCell_1_ImageList7 {
  left: 5px;
  position: absolute;
}

#cntSafetyInputsCell_1_ImageList7 {
  width: 20px;
}

#cntSafetyInputsCell_1_ImageList7 {
  height: 20px;
}

#cntSafetyInputsCell_1_ImageList7 {
  z-index: 7;
}

#cntSafetyInputsCell_1_ImageList8 {
  top: 245px;
  position: absolute;
}

#cntSafetyInputsCell_1_ImageList8 {
  left: 5px;
  position: absolute;
}

#cntSafetyInputsCell_1_ImageList8 {
  width: 20px;
}

#cntSafetyInputsCell_1_ImageList8 {
  height: 20px;
}

#cntSafetyInputsCell_1_ImageList8 {
  z-index: 8;
}

#cntSafetyInputsCell_1_ImageList9 {
  top: 275px;
  position: absolute;
}

#cntSafetyInputsCell_1_ImageList9 {
  left: 5px;
  position: absolute;
}

#cntSafetyInputsCell_1_ImageList9 {
  width: 20px;
}

#cntSafetyInputsCell_1_ImageList9 {
  height: 20px;
}

#cntSafetyInputsCell_1_ImageList9 {
  z-index: 9;
}

#cntSafetyInputsCell_1_ImageList10 {
  top: 305px;
  position: absolute;
}

#cntSafetyInputsCell_1_ImageList10 {
  left: 5px;
  position: absolute;
}

#cntSafetyInputsCell_1_ImageList10 {
  width: 20px;
}

#cntSafetyInputsCell_1_ImageList10 {
  height: 20px;
}

#cntSafetyInputsCell_1_ImageList10 {
  z-index: 10;
}

#cntSafetyInputsCell_1_ImageList11 {
  top: 335px;
  position: absolute;
}

#cntSafetyInputsCell_1_ImageList11 {
  left: 5px;
  position: absolute;
}

#cntSafetyInputsCell_1_ImageList11 {
  width: 20px;
}

#cntSafetyInputsCell_1_ImageList11 {
  height: 20px;
}

#cntSafetyInputsCell_1_ImageList11 {
  z-index: 11;
}

#cntSafetyInputsCell_1_ImageList12 {
  top: 365px;
  position: absolute;
}

#cntSafetyInputsCell_1_ImageList12 {
  left: 5px;
  position: absolute;
}

#cntSafetyInputsCell_1_ImageList12 {
  width: 20px;
}

#cntSafetyInputsCell_1_ImageList12 {
  height: 20px;
}

#cntSafetyInputsCell_1_ImageList12 {
  z-index: 12;
}

#cntSafetyInputsCell_1_ImageList13 {
  top: 395px;
  position: absolute;
}

#cntSafetyInputsCell_1_ImageList13 {
  left: 5px;
  position: absolute;
}

#cntSafetyInputsCell_1_ImageList13 {
  width: 20px;
}

#cntSafetyInputsCell_1_ImageList13 {
  height: 20px;
}

#cntSafetyInputsCell_1_ImageList13 {
  z-index: 13;
}

#cntSafetyInputsCell_1_ImageList14 {
  top: 425px;
  position: absolute;
}

#cntSafetyInputsCell_1_ImageList14 {
  left: 5px;
  position: absolute;
}

#cntSafetyInputsCell_1_ImageList14 {
  width: 20px;
}

#cntSafetyInputsCell_1_ImageList14 {
  height: 20px;
}

#cntSafetyInputsCell_1_ImageList14 {
  z-index: 14;
}

#cntSafetyInputsCell_1_ImageList15 {
  top: 455px;
  position: absolute;
}

#cntSafetyInputsCell_1_ImageList15 {
  left: 5px;
  position: absolute;
}

#cntSafetyInputsCell_1_ImageList15 {
  width: 20px;
}

#cntSafetyInputsCell_1_ImageList15 {
  height: 20px;
}

#cntSafetyInputsCell_1_ImageList15 {
  z-index: 15;
}

#cntSafetyInputsCell_1_ImageList16 {
  top: 485px;
  position: absolute;
}

#cntSafetyInputsCell_1_ImageList16 {
  left: 5px;
  position: absolute;
}

#cntSafetyInputsCell_1_ImageList16 {
  width: 20px;
}

#cntSafetyInputsCell_1_ImageList16 {
  height: 20px;
}

#cntSafetyInputsCell_1_ImageList16 {
  z-index: 16;
}

#cntSafetyInputsCell_1_Label_si01 {
  top: 35px;
  position: absolute;
}

#cntSafetyInputsCell_1_Label_si01 {
  left: 35px;
  position: absolute;
}

#cntSafetyInputsCell_1_Label_si01 {
  width: 230px;
}

#cntSafetyInputsCell_1_Label_si01 {
  height: 20px;
}

#cntSafetyInputsCell_1_Label_si01 {
  z-index: 17;
}

#cntSafetyInputsCell_1_Label_si2 {
  top: 65px;
  position: absolute;
}

#cntSafetyInputsCell_1_Label_si2 {
  left: 35px;
  position: absolute;
}

#cntSafetyInputsCell_1_Label_si2 {
  width: 230px;
}

#cntSafetyInputsCell_1_Label_si2 {
  height: 20px;
}

#cntSafetyInputsCell_1_Label_si2 {
  z-index: 18;
}

#cntSafetyInputsCell_1_Label_si3 {
  top: 95px;
  position: absolute;
}

#cntSafetyInputsCell_1_Label_si3 {
  left: 35px;
  position: absolute;
}

#cntSafetyInputsCell_1_Label_si3 {
  width: 230px;
}

#cntSafetyInputsCell_1_Label_si3 {
  height: 20px;
}

#cntSafetyInputsCell_1_Label_si3 {
  z-index: 19;
}

#cntSafetyInputsCell_1_Label_si4 {
  top: 125px;
  position: absolute;
}

#cntSafetyInputsCell_1_Label_si4 {
  left: 35px;
  position: absolute;
}

#cntSafetyInputsCell_1_Label_si4 {
  width: 230px;
}

#cntSafetyInputsCell_1_Label_si4 {
  height: 20px;
}

#cntSafetyInputsCell_1_Label_si4 {
  z-index: 20;
}

#cntSafetyInputsCell_1_Label_si5 {
  top: 155px;
  position: absolute;
}

#cntSafetyInputsCell_1_Label_si5 {
  left: 35px;
  position: absolute;
}

#cntSafetyInputsCell_1_Label_si5 {
  width: 230px;
}

#cntSafetyInputsCell_1_Label_si5 {
  height: 20px;
}

#cntSafetyInputsCell_1_Label_si5 {
  z-index: 21;
}

#cntSafetyInputsCell_1_Label_si6 {
  top: 185px;
  position: absolute;
}

#cntSafetyInputsCell_1_Label_si6 {
  left: 35px;
  position: absolute;
}

#cntSafetyInputsCell_1_Label_si6 {
  width: 230px;
}

#cntSafetyInputsCell_1_Label_si6 {
  height: 20px;
}

#cntSafetyInputsCell_1_Label_si6 {
  z-index: 22;
}

#cntSafetyInputsCell_1_Label_si7 {
  top: 215px;
  position: absolute;
}

#cntSafetyInputsCell_1_Label_si7 {
  left: 35px;
  position: absolute;
}

#cntSafetyInputsCell_1_Label_si7 {
  width: 230px;
}

#cntSafetyInputsCell_1_Label_si7 {
  height: 20px;
}

#cntSafetyInputsCell_1_Label_si7 {
  z-index: 23;
}

#cntSafetyInputsCell_1_Label_si8 {
  top: 245px;
  position: absolute;
}

#cntSafetyInputsCell_1_Label_si8 {
  left: 35px;
  position: absolute;
}

#cntSafetyInputsCell_1_Label_si8 {
  width: 230px;
}

#cntSafetyInputsCell_1_Label_si8 {
  height: 20px;
}

#cntSafetyInputsCell_1_Label_si8 {
  z-index: 24;
}

#cntSafetyInputsCell_1_Label_si9 {
  top: 275px;
  position: absolute;
}

#cntSafetyInputsCell_1_Label_si9 {
  left: 35px;
  position: absolute;
}

#cntSafetyInputsCell_1_Label_si9 {
  width: 230px;
}

#cntSafetyInputsCell_1_Label_si9 {
  height: 20px;
}

#cntSafetyInputsCell_1_Label_si9 {
  z-index: 25;
}

#cntSafetyInputsCell_1_Label_si10 {
  top: 305px;
  position: absolute;
}

#cntSafetyInputsCell_1_Label_si10 {
  left: 35px;
  position: absolute;
}

#cntSafetyInputsCell_1_Label_si10 {
  width: 230px;
}

#cntSafetyInputsCell_1_Label_si10 {
  height: 20px;
}

#cntSafetyInputsCell_1_Label_si10 {
  z-index: 26;
}

#cntSafetyInputsCell_1_Label_si11 {
  top: 335px;
  position: absolute;
}

#cntSafetyInputsCell_1_Label_si11 {
  left: 35px;
  position: absolute;
}

#cntSafetyInputsCell_1_Label_si11 {
  width: 230px;
}

#cntSafetyInputsCell_1_Label_si11 {
  height: 20px;
}

#cntSafetyInputsCell_1_Label_si11 {
  z-index: 27;
}

#cntSafetyInputsCell_1_Label_si12 {
  top: 365px;
  position: absolute;
}

#cntSafetyInputsCell_1_Label_si12 {
  left: 35px;
  position: absolute;
}

#cntSafetyInputsCell_1_Label_si12 {
  width: 230px;
}

#cntSafetyInputsCell_1_Label_si12 {
  height: 20px;
}

#cntSafetyInputsCell_1_Label_si12 {
  z-index: 28;
}

#cntSafetyInputsCell_1_Label_si13 {
  top: 395px;
  position: absolute;
}

#cntSafetyInputsCell_1_Label_si13 {
  left: 35px;
  position: absolute;
}

#cntSafetyInputsCell_1_Label_si13 {
  width: 230px;
}

#cntSafetyInputsCell_1_Label_si13 {
  height: 20px;
}

#cntSafetyInputsCell_1_Label_si13 {
  z-index: 29;
}

#cntSafetyInputsCell_1_Label_si14 {
  top: 425px;
  position: absolute;
}

#cntSafetyInputsCell_1_Label_si14 {
  left: 35px;
  position: absolute;
}

#cntSafetyInputsCell_1_Label_si14 {
  width: 230px;
}

#cntSafetyInputsCell_1_Label_si14 {
  height: 20px;
}

#cntSafetyInputsCell_1_Label_si14 {
  z-index: 30;
}

#cntSafetyInputsCell_1_Label_si15 {
  top: 455px;
  position: absolute;
}

#cntSafetyInputsCell_1_Label_si15 {
  left: 35px;
  position: absolute;
}

#cntSafetyInputsCell_1_Label_si15 {
  width: 230px;
}

#cntSafetyInputsCell_1_Label_si15 {
  height: 20px;
}

#cntSafetyInputsCell_1_Label_si15 {
  z-index: 31;
}

#cntSafetyInputsCell_1_Label_si16 {
  top: 480px;
  position: absolute;
}

#cntSafetyInputsCell_1_Label_si16 {
  left: 35px;
  position: absolute;
}

#cntSafetyInputsCell_1_Label_si16 {
  width: 230px;
}

#cntSafetyInputsCell_1_Label_si16 {
  height: 20px;
}

#cntSafetyInputsCell_1_Label_si16 {
  z-index: 32;
}

#cntSafetyInputsCell_1_GridLineItem4 {
  z-index: 1;
}

#cntSafetyInputsCell_1_GridLineItem4 {
  padding: 0px 10px 10px 10px;
}

#cntSafetyInputsCell_1_Label_si17 {
  top: 30px;
  position: absolute;
}

#cntSafetyInputsCell_1_Label_si17 {
  left: 35px;
  position: absolute;
}

#cntSafetyInputsCell_1_Label_si17 {
  width: 230px;
}

#cntSafetyInputsCell_1_Label_si17 {
  height: 20px;
}

#cntSafetyInputsCell_1_Label_si17 {
  z-index: 0;
}

#cntSafetyInputsCell_1_Label_si17 {
  font-weight: normal;
}

#cntSafetyInputsCell_1_ImageList33 {
  top: 30px;
  position: absolute;
}

#cntSafetyInputsCell_1_ImageList33 {
  left: 5px;
  position: absolute;
}

#cntSafetyInputsCell_1_ImageList33 {
  width: 20px;
}

#cntSafetyInputsCell_1_ImageList33 {
  height: 20px;
}

#cntSafetyInputsCell_1_ImageList33 {
  z-index: 1;
}

#cntSafetyInputsCell_1_ImageList34 {
  top: 60px;
  position: absolute;
}

#cntSafetyInputsCell_1_ImageList34 {
  left: 5px;
  position: absolute;
}

#cntSafetyInputsCell_1_ImageList34 {
  width: 20px;
}

#cntSafetyInputsCell_1_ImageList34 {
  height: 20px;
}

#cntSafetyInputsCell_1_ImageList34 {
  z-index: 2;
}

#cntSafetyInputsCell_1_ImageList35 {
  top: 90px;
  position: absolute;
}

#cntSafetyInputsCell_1_ImageList35 {
  left: 5px;
  position: absolute;
}

#cntSafetyInputsCell_1_ImageList35 {
  width: 20px;
}

#cntSafetyInputsCell_1_ImageList35 {
  height: 20px;
}

#cntSafetyInputsCell_1_ImageList35 {
  z-index: 3;
}

#cntSafetyInputsCell_1_ImageList36 {
  top: 120px;
  position: absolute;
}

#cntSafetyInputsCell_1_ImageList36 {
  left: 5px;
  position: absolute;
}

#cntSafetyInputsCell_1_ImageList36 {
  width: 20px;
}

#cntSafetyInputsCell_1_ImageList36 {
  height: 20px;
}

#cntSafetyInputsCell_1_ImageList36 {
  z-index: 4;
}

#cntSafetyInputsCell_1_ImageList37 {
  top: 150px;
  position: absolute;
}

#cntSafetyInputsCell_1_ImageList37 {
  left: 5px;
  position: absolute;
}

#cntSafetyInputsCell_1_ImageList37 {
  width: 20px;
}

#cntSafetyInputsCell_1_ImageList37 {
  height: 20px;
}

#cntSafetyInputsCell_1_ImageList37 {
  z-index: 5;
}

#cntSafetyInputsCell_1_ImageList38 {
  top: 180px;
  position: absolute;
}

#cntSafetyInputsCell_1_ImageList38 {
  left: 5px;
  position: absolute;
}

#cntSafetyInputsCell_1_ImageList38 {
  width: 20px;
}

#cntSafetyInputsCell_1_ImageList38 {
  height: 20px;
}

#cntSafetyInputsCell_1_ImageList38 {
  z-index: 6;
}

#cntSafetyInputsCell_1_ImageList39 {
  top: 210px;
  position: absolute;
}

#cntSafetyInputsCell_1_ImageList39 {
  left: 5px;
  position: absolute;
}

#cntSafetyInputsCell_1_ImageList39 {
  width: 20px;
}

#cntSafetyInputsCell_1_ImageList39 {
  height: 20px;
}

#cntSafetyInputsCell_1_ImageList39 {
  z-index: 7;
}

#cntSafetyInputsCell_1_ImageList40 {
  top: 240px;
  position: absolute;
}

#cntSafetyInputsCell_1_ImageList40 {
  left: 5px;
  position: absolute;
}

#cntSafetyInputsCell_1_ImageList40 {
  width: 20px;
}

#cntSafetyInputsCell_1_ImageList40 {
  height: 20px;
}

#cntSafetyInputsCell_1_ImageList40 {
  z-index: 8;
}

#cntSafetyInputsCell_1_ImageList41 {
  top: 270px;
  position: absolute;
}

#cntSafetyInputsCell_1_ImageList41 {
  left: 5px;
  position: absolute;
}

#cntSafetyInputsCell_1_ImageList41 {
  width: 20px;
}

#cntSafetyInputsCell_1_ImageList41 {
  height: 20px;
}

#cntSafetyInputsCell_1_ImageList41 {
  z-index: 9;
}

#cntSafetyInputsCell_1_ImageList42 {
  top: 300px;
  position: absolute;
}

#cntSafetyInputsCell_1_ImageList42 {
  left: 5px;
  position: absolute;
}

#cntSafetyInputsCell_1_ImageList42 {
  width: 20px;
}

#cntSafetyInputsCell_1_ImageList42 {
  height: 20px;
}

#cntSafetyInputsCell_1_ImageList42 {
  z-index: 10;
}

#cntSafetyInputsCell_1_ImageList43 {
  top: 330px;
  position: absolute;
}

#cntSafetyInputsCell_1_ImageList43 {
  left: 5px;
  position: absolute;
}

#cntSafetyInputsCell_1_ImageList43 {
  width: 20px;
}

#cntSafetyInputsCell_1_ImageList43 {
  height: 20px;
}

#cntSafetyInputsCell_1_ImageList43 {
  z-index: 11;
}

#cntSafetyInputsCell_1_ImageList44 {
  top: 360px;
  position: absolute;
}

#cntSafetyInputsCell_1_ImageList44 {
  left: 5px;
  position: absolute;
}

#cntSafetyInputsCell_1_ImageList44 {
  width: 20px;
}

#cntSafetyInputsCell_1_ImageList44 {
  height: 20px;
}

#cntSafetyInputsCell_1_ImageList44 {
  z-index: 12;
}

#cntSafetyInputsCell_1_ImageList45 {
  top: 390px;
  position: absolute;
}

#cntSafetyInputsCell_1_ImageList45 {
  left: 5px;
  position: absolute;
}

#cntSafetyInputsCell_1_ImageList45 {
  width: 20px;
}

#cntSafetyInputsCell_1_ImageList45 {
  height: 20px;
}

#cntSafetyInputsCell_1_ImageList45 {
  z-index: 13;
}

#cntSafetyInputsCell_1_ImageList46 {
  top: 420px;
  position: absolute;
}

#cntSafetyInputsCell_1_ImageList46 {
  left: 5px;
  position: absolute;
}

#cntSafetyInputsCell_1_ImageList46 {
  width: 20px;
}

#cntSafetyInputsCell_1_ImageList46 {
  height: 20px;
}

#cntSafetyInputsCell_1_ImageList46 {
  z-index: 14;
}

#cntSafetyInputsCell_1_ImageList47 {
  top: 450px;
  position: absolute;
}

#cntSafetyInputsCell_1_ImageList47 {
  left: 5px;
  position: absolute;
}

#cntSafetyInputsCell_1_ImageList47 {
  width: 20px;
}

#cntSafetyInputsCell_1_ImageList47 {
  height: 20px;
}

#cntSafetyInputsCell_1_ImageList47 {
  z-index: 15;
}

#cntSafetyInputsCell_1_ImageList48 {
  top: 480px;
  position: absolute;
}

#cntSafetyInputsCell_1_ImageList48 {
  left: 5px;
  position: absolute;
}

#cntSafetyInputsCell_1_ImageList48 {
  width: 20px;
}

#cntSafetyInputsCell_1_ImageList48 {
  height: 20px;
}

#cntSafetyInputsCell_1_ImageList48 {
  z-index: 16;
}

#cntSafetyInputsCell_1_Label_si18 {
  top: 60px;
  position: absolute;
}

#cntSafetyInputsCell_1_Label_si18 {
  left: 35px;
  position: absolute;
}

#cntSafetyInputsCell_1_Label_si18 {
  width: 230px;
}

#cntSafetyInputsCell_1_Label_si18 {
  height: 20px;
}

#cntSafetyInputsCell_1_Label_si18 {
  z-index: 17;
}

#cntSafetyInputsCell_1_Label_si18 {
  font-weight: normal;
}

#cntSafetyInputsCell_1_Label_si19 {
  top: 90px;
  position: absolute;
}

#cntSafetyInputsCell_1_Label_si19 {
  left: 35px;
  position: absolute;
}

#cntSafetyInputsCell_1_Label_si19 {
  width: 230px;
}

#cntSafetyInputsCell_1_Label_si19 {
  height: 20px;
}

#cntSafetyInputsCell_1_Label_si19 {
  z-index: 18;
}

#cntSafetyInputsCell_1_Label_si19 {
  font-weight: normal;
}

#cntSafetyInputsCell_1_Label_si20 {
  top: 120px;
  position: absolute;
}

#cntSafetyInputsCell_1_Label_si20 {
  left: 35px;
  position: absolute;
}

#cntSafetyInputsCell_1_Label_si20 {
  width: 230px;
}

#cntSafetyInputsCell_1_Label_si20 {
  height: 20px;
}

#cntSafetyInputsCell_1_Label_si20 {
  z-index: 19;
}

#cntSafetyInputsCell_1_Label_si20 {
  font-weight: normal;
}

#cntSafetyInputsCell_1_Label_si0102 {
  top: 150px;
  position: absolute;
}

#cntSafetyInputsCell_1_Label_si0102 {
  left: 35px;
  position: absolute;
}

#cntSafetyInputsCell_1_Label_si0102 {
  width: 230px;
}

#cntSafetyInputsCell_1_Label_si0102 {
  height: 20px;
}

#cntSafetyInputsCell_1_Label_si0102 {
  z-index: 20;
}

#cntSafetyInputsCell_1_Label_si0102 {
  font-weight: normal;
}

#cntSafetyInputsCell_1_Label_si0304 {
  top: 180px;
  position: absolute;
}

#cntSafetyInputsCell_1_Label_si0304 {
  left: 35px;
  position: absolute;
}

#cntSafetyInputsCell_1_Label_si0304 {
  width: 230px;
}

#cntSafetyInputsCell_1_Label_si0304 {
  height: 20px;
}

#cntSafetyInputsCell_1_Label_si0304 {
  z-index: 21;
}

#cntSafetyInputsCell_1_Label_si0304 {
  font-weight: normal;
}

#cntSafetyInputsCell_1_Label_si0506 {
  top: 210px;
  position: absolute;
}

#cntSafetyInputsCell_1_Label_si0506 {
  left: 35px;
  position: absolute;
}

#cntSafetyInputsCell_1_Label_si0506 {
  width: 230px;
}

#cntSafetyInputsCell_1_Label_si0506 {
  height: 20px;
}

#cntSafetyInputsCell_1_Label_si0506 {
  z-index: 22;
}

#cntSafetyInputsCell_1_Label_si0506 {
  font-weight: normal;
}

#cntSafetyInputsCell_1_Label_si0708 {
  top: 240px;
  position: absolute;
}

#cntSafetyInputsCell_1_Label_si0708 {
  left: 35px;
  position: absolute;
}

#cntSafetyInputsCell_1_Label_si0708 {
  width: 230px;
}

#cntSafetyInputsCell_1_Label_si0708 {
  height: 20px;
}

#cntSafetyInputsCell_1_Label_si0708 {
  z-index: 23;
}

#cntSafetyInputsCell_1_Label_si0708 {
  font-weight: normal;
}

#cntSafetyInputsCell_1_Label_si0910 {
  top: 270px;
  position: absolute;
}

#cntSafetyInputsCell_1_Label_si0910 {
  left: 35px;
  position: absolute;
}

#cntSafetyInputsCell_1_Label_si0910 {
  width: 230px;
}

#cntSafetyInputsCell_1_Label_si0910 {
  height: 20px;
}

#cntSafetyInputsCell_1_Label_si0910 {
  z-index: 24;
}

#cntSafetyInputsCell_1_Label_si0910 {
  font-weight: normal;
}

#cntSafetyInputsCell_1_Label_s1112 {
  top: 300px;
  position: absolute;
}

#cntSafetyInputsCell_1_Label_s1112 {
  left: 35px;
  position: absolute;
}

#cntSafetyInputsCell_1_Label_s1112 {
  width: 230px;
}

#cntSafetyInputsCell_1_Label_s1112 {
  height: 20px;
}

#cntSafetyInputsCell_1_Label_s1112 {
  z-index: 25;
}

#cntSafetyInputsCell_1_Label_s1112 {
  font-weight: normal;
}

#cntSafetyInputsCell_1_Label_s1314 {
  top: 330px;
  position: absolute;
}

#cntSafetyInputsCell_1_Label_s1314 {
  left: 35px;
  position: absolute;
}

#cntSafetyInputsCell_1_Label_s1314 {
  width: 230px;
}

#cntSafetyInputsCell_1_Label_s1314 {
  height: 20px;
}

#cntSafetyInputsCell_1_Label_s1314 {
  z-index: 26;
}

#cntSafetyInputsCell_1_Label_s1314 {
  font-weight: normal;
}

#cntSafetyInputsCell_1_Label_s1516 {
  top: 360px;
  position: absolute;
}

#cntSafetyInputsCell_1_Label_s1516 {
  left: 35px;
  position: absolute;
}

#cntSafetyInputsCell_1_Label_s1516 {
  width: 230px;
}

#cntSafetyInputsCell_1_Label_s1516 {
  height: 20px;
}

#cntSafetyInputsCell_1_Label_s1516 {
  z-index: 27;
}

#cntSafetyInputsCell_1_Label_s1516 {
  font-weight: normal;
}

#cntSafetyInputsCell_1_Label_s1718 {
  top: 390px;
  position: absolute;
}

#cntSafetyInputsCell_1_Label_s1718 {
  left: 35px;
  position: absolute;
}

#cntSafetyInputsCell_1_Label_s1718 {
  width: 230px;
}

#cntSafetyInputsCell_1_Label_s1718 {
  height: 20px;
}

#cntSafetyInputsCell_1_Label_s1718 {
  z-index: 28;
}

#cntSafetyInputsCell_1_Label_s1718 {
  font-weight: normal;
}

#cntSafetyInputsCell_1_Label_si1920 {
  top: 420px;
  position: absolute;
}

#cntSafetyInputsCell_1_Label_si1920 {
  left: 35px;
  position: absolute;
}

#cntSafetyInputsCell_1_Label_si1920 {
  width: 230px;
}

#cntSafetyInputsCell_1_Label_si1920 {
  height: 20px;
}

#cntSafetyInputsCell_1_Label_si1920 {
  z-index: 29;
}

#cntSafetyInputsCell_1_Label_si1920 {
  font-weight: normal;
}

#cntSafetyInputsCell_1_Label_siStatdi1 {
  top: 450px;
  position: absolute;
}

#cntSafetyInputsCell_1_Label_siStatdi1 {
  left: 35px;
  position: absolute;
}

#cntSafetyInputsCell_1_Label_siStatdi1 {
  width: 230px;
}

#cntSafetyInputsCell_1_Label_siStatdi1 {
  height: 20px;
}

#cntSafetyInputsCell_1_Label_siStatdi1 {
  z-index: 30;
}

#cntSafetyInputsCell_1_Label_siStatdi1 {
  font-weight: normal;
}

#cntSafetyInputsCell_1_Label_siStatdi2 {
  top: 480px;
  position: absolute;
}

#cntSafetyInputsCell_1_Label_siStatdi2 {
  left: 35px;
  position: absolute;
}

#cntSafetyInputsCell_1_Label_siStatdi2 {
  width: 230px;
}

#cntSafetyInputsCell_1_Label_siStatdi2 {
  height: 20px;
}

#cntSafetyInputsCell_1_Label_siStatdi2 {
  z-index: 31;
}

#cntSafetyInputsCell_1_Label_siStatdi2 {
  font-weight: normal;
}

#cntSafetyInputsCell_1_Label3 {
  top: 5px;
  position: absolute;
}

#cntSafetyInputsCell_1_Label3 {
  left: 10px;
  position: absolute;
}

#cntSafetyInputsCell_1_Label3 {
  width: 255px;
}

#cntSafetyInputsCell_1_Label3 {
  height: 20px;
}

#cntSafetyInputsCell_1_Label3 {
  z-index: 32;
}

#cntSafetyInputsCell_1_Label3 span {
  color: dimgray;
}

#cntSafetyInputsCell_1_Label3 {
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntSafetyInputsCell_1_Label3 span {
  text-decoration: underline;
}

#cntSafetyInputsCell_1_GridLineItem3 {
  z-index: 2;
}

#cntSafetyInputsCell_1_GridLineItem3 {
  padding: 0px 10px 10px 10px;
}

#cntSafetyInputsCell_1_ImageList49 {
  top: 40px;
  position: absolute;
}

#cntSafetyInputsCell_1_ImageList49 {
  left: 5px;
  position: absolute;
}

#cntSafetyInputsCell_1_ImageList49 {
  width: 20px;
}

#cntSafetyInputsCell_1_ImageList49 {
  height: 20px;
}

#cntSafetyInputsCell_1_ImageList49 {
  z-index: 0;
}

#cntSafetyInputsCell_1_ImageList50 {
  top: 70px;
  position: absolute;
}

#cntSafetyInputsCell_1_ImageList50 {
  left: 5px;
  position: absolute;
}

#cntSafetyInputsCell_1_ImageList50 {
  width: 20px;
}

#cntSafetyInputsCell_1_ImageList50 {
  height: 20px;
}

#cntSafetyInputsCell_1_ImageList50 {
  z-index: 1;
}

#cntSafetyInputsCell_1_ImageList51 {
  top: 100px;
  position: absolute;
}

#cntSafetyInputsCell_1_ImageList51 {
  left: 5px;
  position: absolute;
}

#cntSafetyInputsCell_1_ImageList51 {
  width: 20px;
}

#cntSafetyInputsCell_1_ImageList51 {
  height: 20px;
}

#cntSafetyInputsCell_1_ImageList51 {
  z-index: 2;
}

#cntSafetyInputsCell_1_ImageList52 {
  top: 130px;
  position: absolute;
}

#cntSafetyInputsCell_1_ImageList52 {
  left: 5px;
  position: absolute;
}

#cntSafetyInputsCell_1_ImageList52 {
  width: 20px;
}

#cntSafetyInputsCell_1_ImageList52 {
  height: 20px;
}

#cntSafetyInputsCell_1_ImageList52 {
  z-index: 3;
}

#cntSafetyInputsCell_1_ImageList53 {
  top: 160px;
  position: absolute;
}

#cntSafetyInputsCell_1_ImageList53 {
  left: 5px;
  position: absolute;
}

#cntSafetyInputsCell_1_ImageList53 {
  width: 20px;
}

#cntSafetyInputsCell_1_ImageList53 {
  height: 20px;
}

#cntSafetyInputsCell_1_ImageList53 {
  z-index: 4;
}

#cntSafetyInputsCell_1_ImageList54 {
  top: 190px;
  position: absolute;
}

#cntSafetyInputsCell_1_ImageList54 {
  left: 5px;
  position: absolute;
}

#cntSafetyInputsCell_1_ImageList54 {
  width: 20px;
}

#cntSafetyInputsCell_1_ImageList54 {
  height: 20px;
}

#cntSafetyInputsCell_1_ImageList54 {
  z-index: 5;
}

#cntSafetyInputsCell_1_ImageList55 {
  top: 220px;
  position: absolute;
}

#cntSafetyInputsCell_1_ImageList55 {
  left: 5px;
  position: absolute;
}

#cntSafetyInputsCell_1_ImageList55 {
  width: 20px;
}

#cntSafetyInputsCell_1_ImageList55 {
  height: 20px;
}

#cntSafetyInputsCell_1_ImageList55 {
  z-index: 6;
}

#cntSafetyInputsCell_1_ImageList56 {
  top: 250px;
  position: absolute;
}

#cntSafetyInputsCell_1_ImageList56 {
  left: 5px;
  position: absolute;
}

#cntSafetyInputsCell_1_ImageList56 {
  width: 20px;
}

#cntSafetyInputsCell_1_ImageList56 {
  height: 20px;
}

#cntSafetyInputsCell_1_ImageList56 {
  z-index: 7;
}

#cntSafetyInputsCell_1_ImageList57 {
  top: 280px;
  position: absolute;
}

#cntSafetyInputsCell_1_ImageList57 {
  left: 5px;
  position: absolute;
}

#cntSafetyInputsCell_1_ImageList57 {
  width: 20px;
}

#cntSafetyInputsCell_1_ImageList57 {
  height: 20px;
}

#cntSafetyInputsCell_1_ImageList57 {
  z-index: 8;
}

#cntSafetyInputsCell_1_ImageList58 {
  top: 310px;
  position: absolute;
}

#cntSafetyInputsCell_1_ImageList58 {
  left: 5px;
  position: absolute;
}

#cntSafetyInputsCell_1_ImageList58 {
  width: 20px;
}

#cntSafetyInputsCell_1_ImageList58 {
  height: 20px;
}

#cntSafetyInputsCell_1_ImageList58 {
  z-index: 9;
}

#cntSafetyInputsCell_1_ImageList59 {
  top: 340px;
  position: absolute;
}

#cntSafetyInputsCell_1_ImageList59 {
  left: 5px;
  position: absolute;
}

#cntSafetyInputsCell_1_ImageList59 {
  width: 20px;
}

#cntSafetyInputsCell_1_ImageList59 {
  height: 20px;
}

#cntSafetyInputsCell_1_ImageList59 {
  z-index: 10;
}

#cntSafetyInputsCell_1_ImageList60 {
  top: 370px;
  position: absolute;
}

#cntSafetyInputsCell_1_ImageList60 {
  left: 5px;
  position: absolute;
}

#cntSafetyInputsCell_1_ImageList60 {
  width: 20px;
}

#cntSafetyInputsCell_1_ImageList60 {
  height: 20px;
}

#cntSafetyInputsCell_1_ImageList60 {
  z-index: 11;
}

#cntSafetyInputsCell_1_ImageList61 {
  top: 400px;
  position: absolute;
}

#cntSafetyInputsCell_1_ImageList61 {
  left: 5px;
  position: absolute;
}

#cntSafetyInputsCell_1_ImageList61 {
  width: 20px;
}

#cntSafetyInputsCell_1_ImageList61 {
  height: 20px;
}

#cntSafetyInputsCell_1_ImageList61 {
  z-index: 12;
}

#cntSafetyInputsCell_1_ImageList62 {
  top: 430px;
  position: absolute;
}

#cntSafetyInputsCell_1_ImageList62 {
  left: 5px;
  position: absolute;
}

#cntSafetyInputsCell_1_ImageList62 {
  width: 20px;
}

#cntSafetyInputsCell_1_ImageList62 {
  height: 20px;
}

#cntSafetyInputsCell_1_ImageList62 {
  z-index: 13;
}

#cntSafetyInputsCell_1_ImageList63 {
  top: 460px;
  position: absolute;
}

#cntSafetyInputsCell_1_ImageList63 {
  left: 5px;
  position: absolute;
}

#cntSafetyInputsCell_1_ImageList63 {
  width: 20px;
}

#cntSafetyInputsCell_1_ImageList63 {
  height: 20px;
}

#cntSafetyInputsCell_1_ImageList63 {
  z-index: 14;
}

#cntSafetyInputsCell_1_ImageList64 {
  top: 490px;
  position: absolute;
}

#cntSafetyInputsCell_1_ImageList64 {
  left: 5px;
  position: absolute;
}

#cntSafetyInputsCell_1_ImageList64 {
  width: 20px;
}

#cntSafetyInputsCell_1_ImageList64 {
  height: 20px;
}

#cntSafetyInputsCell_1_ImageList64 {
  z-index: 15;
}

#cntSafetyInputsCell_1_Label_siStatdi3 {
  top: 40px;
  position: absolute;
}

#cntSafetyInputsCell_1_Label_siStatdi3 {
  left: 35px;
  position: absolute;
}

#cntSafetyInputsCell_1_Label_siStatdi3 {
  width: 230px;
}

#cntSafetyInputsCell_1_Label_siStatdi3 {
  height: 20px;
}

#cntSafetyInputsCell_1_Label_siStatdi3 {
  z-index: 16;
}

#cntSafetyInputsCell_1_Label_siStatdi3 {
  font-weight: normal;
}

#cntSafetyInputsCell_1_Label_siStatdi4 {
  top: 70px;
  position: absolute;
}

#cntSafetyInputsCell_1_Label_siStatdi4 {
  left: 35px;
  position: absolute;
}

#cntSafetyInputsCell_1_Label_siStatdi4 {
  width: 230px;
}

#cntSafetyInputsCell_1_Label_siStatdi4 {
  height: 20px;
}

#cntSafetyInputsCell_1_Label_siStatdi4 {
  z-index: 17;
}

#cntSafetyInputsCell_1_Label_siStatdi4 {
  font-weight: normal;
}

#cntSafetyInputsCell_1_Label_siStatdi5 {
  top: 100px;
  position: absolute;
}

#cntSafetyInputsCell_1_Label_siStatdi5 {
  left: 35px;
  position: absolute;
}

#cntSafetyInputsCell_1_Label_siStatdi5 {
  width: 230px;
}

#cntSafetyInputsCell_1_Label_siStatdi5 {
  height: 20px;
}

#cntSafetyInputsCell_1_Label_siStatdi5 {
  z-index: 18;
}

#cntSafetyInputsCell_1_Label_siStatdi5 {
  font-weight: normal;
}

#cntSafetyInputsCell_1_Label_siStatdi6 {
  top: 130px;
  position: absolute;
}

#cntSafetyInputsCell_1_Label_siStatdi6 {
  left: 35px;
  position: absolute;
}

#cntSafetyInputsCell_1_Label_siStatdi6 {
  width: 230px;
}

#cntSafetyInputsCell_1_Label_siStatdi6 {
  height: 20px;
}

#cntSafetyInputsCell_1_Label_siStatdi6 {
  z-index: 19;
}

#cntSafetyInputsCell_1_Label_siStatdi6 {
  font-weight: normal;
}

#cntSafetyInputsCell_1_Label_siStatdi7 {
  top: 160px;
  position: absolute;
}

#cntSafetyInputsCell_1_Label_siStatdi7 {
  left: 35px;
  position: absolute;
}

#cntSafetyInputsCell_1_Label_siStatdi7 {
  width: 230px;
}

#cntSafetyInputsCell_1_Label_siStatdi7 {
  height: 20px;
}

#cntSafetyInputsCell_1_Label_siStatdi7 {
  z-index: 20;
}

#cntSafetyInputsCell_1_Label_siStatdi7 {
  font-weight: normal;
}

#cntSafetyInputsCell_1_Label_siStatdi8 {
  top: 190px;
  position: absolute;
}

#cntSafetyInputsCell_1_Label_siStatdi8 {
  left: 35px;
  position: absolute;
}

#cntSafetyInputsCell_1_Label_siStatdi8 {
  width: 230px;
}

#cntSafetyInputsCell_1_Label_siStatdi8 {
  height: 20px;
}

#cntSafetyInputsCell_1_Label_siStatdi8 {
  z-index: 21;
}

#cntSafetyInputsCell_1_Label_siStatdi8 {
  font-weight: normal;
}

#cntSafetyInputsCell_1_Label_siStatdi9 {
  top: 340px;
  position: absolute;
}

#cntSafetyInputsCell_1_Label_siStatdi9 {
  left: 35px;
  position: absolute;
}

#cntSafetyInputsCell_1_Label_siStatdi9 {
  width: 230px;
}

#cntSafetyInputsCell_1_Label_siStatdi9 {
  height: 20px;
}

#cntSafetyInputsCell_1_Label_siStatdi9 {
  z-index: 22;
}

#cntSafetyInputsCell_1_Label_siStatdi9 {
  font-size: 14px;
}

#cntSafetyInputsCell_1_Label_siStatdi9 {
  font-weight: normal;
}

#cntSafetyInputsCell_1_Label_siStatdi10 {
  top: 250px;
  position: absolute;
}

#cntSafetyInputsCell_1_Label_siStatdi10 {
  left: 35px;
  position: absolute;
}

#cntSafetyInputsCell_1_Label_siStatdi10 {
  width: 230px;
}

#cntSafetyInputsCell_1_Label_siStatdi10 {
  height: 20px;
}

#cntSafetyInputsCell_1_Label_siStatdi10 {
  z-index: 23;
}

#cntSafetyInputsCell_1_Label_siStatdi10 {
  font-weight: normal;
}

#cntSafetyInputsCell_1_Label_siStatdi11 {
  top: 280px;
  position: absolute;
}

#cntSafetyInputsCell_1_Label_siStatdi11 {
  left: 35px;
  position: absolute;
}

#cntSafetyInputsCell_1_Label_siStatdi11 {
  width: 230px;
}

#cntSafetyInputsCell_1_Label_siStatdi11 {
  height: 20px;
}

#cntSafetyInputsCell_1_Label_siStatdi11 {
  z-index: 24;
}

#cntSafetyInputsCell_1_Label_siStatdi11 {
  font-weight: normal;
}

#cntSafetyInputsCell_1_Label_siStatdi12 {
  top: 310px;
  position: absolute;
}

#cntSafetyInputsCell_1_Label_siStatdi12 {
  left: 35px;
  position: absolute;
}

#cntSafetyInputsCell_1_Label_siStatdi12 {
  width: 230px;
}

#cntSafetyInputsCell_1_Label_siStatdi12 {
  height: 20px;
}

#cntSafetyInputsCell_1_Label_siStatdi12 {
  z-index: 25;
}

#cntSafetyInputsCell_1_Label_siStatdi12 {
  font-weight: normal;
}

#cntSafetyInputsCell_1_Label_siStatdi13 {
  top: 220px;
  position: absolute;
}

#cntSafetyInputsCell_1_Label_siStatdi13 {
  left: 35px;
  position: absolute;
}

#cntSafetyInputsCell_1_Label_siStatdi13 {
  width: 230px;
}

#cntSafetyInputsCell_1_Label_siStatdi13 {
  height: 20px;
}

#cntSafetyInputsCell_1_Label_siStatdi13 {
  z-index: 26;
}

#cntSafetyInputsCell_1_Label_siStatdi13 {
  font-weight: normal;
}

#cntSafetyInputsCell_1_Label_siStatdi14 {
  top: 370px;
  position: absolute;
}

#cntSafetyInputsCell_1_Label_siStatdi14 {
  left: 35px;
  position: absolute;
}

#cntSafetyInputsCell_1_Label_siStatdi14 {
  width: 230px;
}

#cntSafetyInputsCell_1_Label_siStatdi14 {
  height: 20px;
}

#cntSafetyInputsCell_1_Label_siStatdi14 {
  z-index: 27;
}

#cntSafetyInputsCell_1_Label_siStatdi14 {
  font-size: 14px;
}

#cntSafetyInputsCell_1_Label_siStatdi14 {
  font-weight: normal;
}

#cntSafetyInputsCell_1_Label_siStatdi15 {
  top: 400px;
  position: absolute;
}

#cntSafetyInputsCell_1_Label_siStatdi15 {
  left: 35px;
  position: absolute;
}

#cntSafetyInputsCell_1_Label_siStatdi15 {
  width: 230px;
}

#cntSafetyInputsCell_1_Label_siStatdi15 {
  height: 20px;
}

#cntSafetyInputsCell_1_Label_siStatdi15 {
  z-index: 28;
}

#cntSafetyInputsCell_1_Label_siStatdi15 {
  font-size: 14px;
}

#cntSafetyInputsCell_1_Label_siStatdi15 {
  font-weight: normal;
}

#cntSafetyInputsCell_1_Label_siStatdi16 {
  top: 430px;
  position: absolute;
}

#cntSafetyInputsCell_1_Label_siStatdi16 {
  left: 35px;
  position: absolute;
}

#cntSafetyInputsCell_1_Label_siStatdi16 {
  width: 230px;
}

#cntSafetyInputsCell_1_Label_siStatdi16 {
  height: 20px;
}

#cntSafetyInputsCell_1_Label_siStatdi16 {
  z-index: 29;
}

#cntSafetyInputsCell_1_Label_siStatdi16 {
  font-size: 14px;
}

#cntSafetyInputsCell_1_Label_siStatdi16 {
  font-weight: normal;
}

#cntSafetyInputsCell_1_Label_siStatdi17 {
  top: 460px;
  position: absolute;
}

#cntSafetyInputsCell_1_Label_siStatdi17 {
  left: 35px;
  position: absolute;
}

#cntSafetyInputsCell_1_Label_siStatdi17 {
  width: 230px;
}

#cntSafetyInputsCell_1_Label_siStatdi17 {
  height: 20px;
}

#cntSafetyInputsCell_1_Label_siStatdi17 {
  z-index: 30;
}

#cntSafetyInputsCell_1_Label_siStatdi17 {
  font-weight: normal;
}

#cntSafetyInputsCell_1_Label_siStatdi18 {
  top: 490px;
  position: absolute;
}

#cntSafetyInputsCell_1_Label_siStatdi18 {
  left: 35px;
  position: absolute;
}

#cntSafetyInputsCell_1_Label_siStatdi18 {
  width: 230px;
}

#cntSafetyInputsCell_1_Label_siStatdi18 {
  height: 20px;
}

#cntSafetyInputsCell_1_Label_siStatdi18 {
  z-index: 31;
}

#cntSafetyInputsCell_1_Label_siStatdi18 {
  font-weight: normal;
}

#cntSafetyInputsCell_1_Label4 {
  top: 8px;
  position: absolute;
}

#cntSafetyInputsCell_1_Label4 {
  left: 10px;
  position: absolute;
}

#cntSafetyInputsCell_1_Label4 {
  width: 255px;
}

#cntSafetyInputsCell_1_Label4 {
  height: 20px;
}

#cntSafetyInputsCell_1_Label4 {
  z-index: 32;
}

#cntSafetyInputsCell_1_Label4 span {
  color: dimgray;
}

#cntSafetyInputsCell_1_Label4 {
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntSafetyInputsCell_1_Label4 span {
  text-decoration: underline;
}

#cntSafetyInputsCell_1_GridLineItem5 {
  z-index: 3;
}

#cntSafetyInputsCell_1_GridLineItem5 {
  padding: 0px 10px 10px 10px;
}

#cntSafetyInputsCell_1_ImageList65 {
  top: 40px;
  position: absolute;
}

#cntSafetyInputsCell_1_ImageList65 {
  left: 5px;
  position: absolute;
}

#cntSafetyInputsCell_1_ImageList65 {
  width: 20px;
}

#cntSafetyInputsCell_1_ImageList65 {
  height: 20px;
}

#cntSafetyInputsCell_1_ImageList65 {
  z-index: 0;
}

#cntSafetyInputsCell_1_ImageList66 {
  top: 70px;
  position: absolute;
}

#cntSafetyInputsCell_1_ImageList66 {
  left: 5px;
  position: absolute;
}

#cntSafetyInputsCell_1_ImageList66 {
  width: 20px;
}

#cntSafetyInputsCell_1_ImageList66 {
  height: 20px;
}

#cntSafetyInputsCell_1_ImageList66 {
  z-index: 1;
}

#cntSafetyInputsCell_1_ImageList67 {
  top: 100px;
  position: absolute;
}

#cntSafetyInputsCell_1_ImageList67 {
  left: 5px;
  position: absolute;
}

#cntSafetyInputsCell_1_ImageList67 {
  width: 20px;
}

#cntSafetyInputsCell_1_ImageList67 {
  height: 20px;
}

#cntSafetyInputsCell_1_ImageList67 {
  z-index: 2;
}

#cntSafetyInputsCell_1_ImageList68 {
  top: 130px;
  position: absolute;
}

#cntSafetyInputsCell_1_ImageList68 {
  left: 5px;
  position: absolute;
}

#cntSafetyInputsCell_1_ImageList68 {
  width: 20px;
}

#cntSafetyInputsCell_1_ImageList68 {
  height: 20px;
}

#cntSafetyInputsCell_1_ImageList68 {
  z-index: 3;
}

#cntSafetyInputsCell_1_ImageList69 {
  top: 160px;
  position: absolute;
}

#cntSafetyInputsCell_1_ImageList69 {
  left: 5px;
  position: absolute;
}

#cntSafetyInputsCell_1_ImageList69 {
  width: 20px;
}

#cntSafetyInputsCell_1_ImageList69 {
  height: 20px;
}

#cntSafetyInputsCell_1_ImageList69 {
  z-index: 4;
}

#cntSafetyInputsCell_1_ImageList70 {
  top: 190px;
  position: absolute;
}

#cntSafetyInputsCell_1_ImageList70 {
  left: 5px;
  position: absolute;
}

#cntSafetyInputsCell_1_ImageList70 {
  width: 20px;
}

#cntSafetyInputsCell_1_ImageList70 {
  height: 20px;
}

#cntSafetyInputsCell_1_ImageList70 {
  z-index: 5;
}

#cntSafetyInputsCell_1_ImageList71 {
  top: 220px;
  position: absolute;
}

#cntSafetyInputsCell_1_ImageList71 {
  left: 5px;
  position: absolute;
}

#cntSafetyInputsCell_1_ImageList71 {
  width: 20px;
}

#cntSafetyInputsCell_1_ImageList71 {
  height: 20px;
}

#cntSafetyInputsCell_1_ImageList71 {
  z-index: 6;
}

#cntSafetyInputsCell_1_ImageList72 {
  top: 250px;
  position: absolute;
}

#cntSafetyInputsCell_1_ImageList72 {
  left: 5px;
  position: absolute;
}

#cntSafetyInputsCell_1_ImageList72 {
  width: 20px;
}

#cntSafetyInputsCell_1_ImageList72 {
  height: 20px;
}

#cntSafetyInputsCell_1_ImageList72 {
  z-index: 7;
}

#cntSafetyInputsCell_1_ImageList73 {
  top: 280px;
  position: absolute;
}

#cntSafetyInputsCell_1_ImageList73 {
  left: 5px;
  position: absolute;
}

#cntSafetyInputsCell_1_ImageList73 {
  width: 20px;
}

#cntSafetyInputsCell_1_ImageList73 {
  height: 20px;
}

#cntSafetyInputsCell_1_ImageList73 {
  z-index: 8;
}

#cntSafetyInputsCell_1_ImageList74 {
  top: 310px;
  position: absolute;
}

#cntSafetyInputsCell_1_ImageList74 {
  left: 5px;
  position: absolute;
}

#cntSafetyInputsCell_1_ImageList74 {
  width: 20px;
}

#cntSafetyInputsCell_1_ImageList74 {
  height: 20px;
}

#cntSafetyInputsCell_1_ImageList74 {
  z-index: 9;
}

#cntSafetyInputsCell_1_ImageList75 {
  top: 340px;
  position: absolute;
}

#cntSafetyInputsCell_1_ImageList75 {
  left: 5px;
  position: absolute;
}

#cntSafetyInputsCell_1_ImageList75 {
  width: 20px;
}

#cntSafetyInputsCell_1_ImageList75 {
  height: 20px;
}

#cntSafetyInputsCell_1_ImageList75 {
  z-index: 10;
}

#cntSafetyInputsCell_1_ImageList76 {
  top: 370px;
  position: absolute;
}

#cntSafetyInputsCell_1_ImageList76 {
  left: 5px;
  position: absolute;
}

#cntSafetyInputsCell_1_ImageList76 {
  width: 20px;
}

#cntSafetyInputsCell_1_ImageList76 {
  height: 20px;
}

#cntSafetyInputsCell_1_ImageList76 {
  z-index: 11;
}

#cntSafetyInputsCell_1_ImageList77 {
  top: 400px;
  position: absolute;
}

#cntSafetyInputsCell_1_ImageList77 {
  left: 5px;
  position: absolute;
}

#cntSafetyInputsCell_1_ImageList77 {
  width: 20px;
}

#cntSafetyInputsCell_1_ImageList77 {
  height: 20px;
}

#cntSafetyInputsCell_1_ImageList77 {
  z-index: 12;
}

#cntSafetyInputsCell_1_Label_siStatdi19 {
  top: 40px;
  position: absolute;
}

#cntSafetyInputsCell_1_Label_siStatdi19 {
  left: 30px;
  position: absolute;
}

#cntSafetyInputsCell_1_Label_siStatdi19 {
  width: 240px;
}

#cntSafetyInputsCell_1_Label_siStatdi19 {
  height: 20px;
}

#cntSafetyInputsCell_1_Label_siStatdi19 {
  z-index: 13;
}

#cntSafetyInputsCell_1_Label_siStatdi19 {
  font-weight: normal;
}

#cntSafetyInputsCell_1_Label_siStatdi20 {
  top: 70px;
  position: absolute;
}

#cntSafetyInputsCell_1_Label_siStatdi20 {
  left: 30px;
  position: absolute;
}

#cntSafetyInputsCell_1_Label_siStatdi20 {
  width: 240px;
}

#cntSafetyInputsCell_1_Label_siStatdi20 {
  height: 20px;
}

#cntSafetyInputsCell_1_Label_siStatdi20 {
  z-index: 14;
}

#cntSafetyInputsCell_1_Label_siStatdi20 {
  font-weight: normal;
}

#cntSafetyInputsCell_1_Label_siStatdi21 {
  top: 100px;
  position: absolute;
}

#cntSafetyInputsCell_1_Label_siStatdi21 {
  left: 30px;
  position: absolute;
}

#cntSafetyInputsCell_1_Label_siStatdi21 {
  width: 240px;
}

#cntSafetyInputsCell_1_Label_siStatdi21 {
  height: 20px;
}

#cntSafetyInputsCell_1_Label_siStatdi21 {
  z-index: 15;
}

#cntSafetyInputsCell_1_Label_siStatdi21 {
  font-weight: normal;
}

#cntSafetyInputsCell_1_Label_siStatdi22 {
  top: 130px;
  position: absolute;
}

#cntSafetyInputsCell_1_Label_siStatdi22 {
  left: 30px;
  position: absolute;
}

#cntSafetyInputsCell_1_Label_siStatdi22 {
  width: 240px;
}

#cntSafetyInputsCell_1_Label_siStatdi22 {
  height: 20px;
}

#cntSafetyInputsCell_1_Label_siStatdi22 {
  z-index: 16;
}

#cntSafetyInputsCell_1_Label_siStatdi22 {
  font-weight: normal;
}

#cntSafetyInputsCell_1_Label_siStatdi23 {
  top: 160px;
  position: absolute;
}

#cntSafetyInputsCell_1_Label_siStatdi23 {
  left: 30px;
  position: absolute;
}

#cntSafetyInputsCell_1_Label_siStatdi23 {
  width: 240px;
}

#cntSafetyInputsCell_1_Label_siStatdi23 {
  height: 20px;
}

#cntSafetyInputsCell_1_Label_siStatdi23 {
  z-index: 17;
}

#cntSafetyInputsCell_1_Label_siStatdi23 {
  font-weight: normal;
}

#cntSafetyInputsCell_1_Label_siStatdi24 {
  top: 190px;
  position: absolute;
}

#cntSafetyInputsCell_1_Label_siStatdi24 {
  left: 30px;
  position: absolute;
}

#cntSafetyInputsCell_1_Label_siStatdi24 {
  width: 240px;
}

#cntSafetyInputsCell_1_Label_siStatdi24 {
  height: 20px;
}

#cntSafetyInputsCell_1_Label_siStatdi24 {
  z-index: 18;
}

#cntSafetyInputsCell_1_Label_siStatdi24 {
  font-weight: normal;
}

#cntSafetyInputsCell_1_Label_siStatdi25 {
  top: 220px;
  position: absolute;
}

#cntSafetyInputsCell_1_Label_siStatdi25 {
  left: 30px;
  position: absolute;
}

#cntSafetyInputsCell_1_Label_siStatdi25 {
  width: 240px;
}

#cntSafetyInputsCell_1_Label_siStatdi25 {
  height: 20px;
}

#cntSafetyInputsCell_1_Label_siStatdi25 {
  z-index: 19;
}

#cntSafetyInputsCell_1_Label_siStatdi25 {
  font-weight: normal;
}

#cntSafetyInputsCell_1_Label_siStatdi26 {
  top: 249px;
  position: absolute;
}

#cntSafetyInputsCell_1_Label_siStatdi26 {
  left: 30px;
  position: absolute;
}

#cntSafetyInputsCell_1_Label_siStatdi26 {
  width: 240px;
}

#cntSafetyInputsCell_1_Label_siStatdi26 {
  height: 20px;
}

#cntSafetyInputsCell_1_Label_siStatdi26 {
  z-index: 20;
}

#cntSafetyInputsCell_1_Label_siStatdi26 {
  font-size: 15px;
}

#cntSafetyInputsCell_1_Label_siStatdi26 {
  font-weight: normal;
}

#cntSafetyInputsCell_1_Label_siStatdi27 {
  top: 280px;
  position: absolute;
}

#cntSafetyInputsCell_1_Label_siStatdi27 {
  left: 30px;
  position: absolute;
}

#cntSafetyInputsCell_1_Label_siStatdi27 {
  width: 240px;
}

#cntSafetyInputsCell_1_Label_siStatdi27 {
  height: 20px;
}

#cntSafetyInputsCell_1_Label_siStatdi27 {
  z-index: 21;
}

#cntSafetyInputsCell_1_Label_siStatdi27 {
  justify-content: flex-start;
  text-align: left;
  -webkit-box-align: start;
  -moz-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

#cntSafetyInputsCell_1_Label_siStatdi27 {
  font-size: 15px;
}

#cntSafetyInputsCell_1_Label_siStatdi27 {
  font-weight: normal;
}

#cntSafetyInputsCell_1_Label_siStatdi28 {
  top: 310px;
  position: absolute;
}

#cntSafetyInputsCell_1_Label_siStatdi28 {
  left: 30px;
  position: absolute;
}

#cntSafetyInputsCell_1_Label_siStatdi28 {
  width: 240px;
}

#cntSafetyInputsCell_1_Label_siStatdi28 {
  height: 20px;
}

#cntSafetyInputsCell_1_Label_siStatdi28 {
  z-index: 22;
}

#cntSafetyInputsCell_1_Label_siStatdi28 {
  font-size: 15px;
}

#cntSafetyInputsCell_1_Label_siStatdi28 {
  font-weight: normal;
}

#cntSafetyInputsCell_1_Label_siStatdi29 {
  top: 340px;
  position: absolute;
}

#cntSafetyInputsCell_1_Label_siStatdi29 {
  left: 30px;
  position: absolute;
}

#cntSafetyInputsCell_1_Label_siStatdi29 {
  width: 240px;
}

#cntSafetyInputsCell_1_Label_siStatdi29 {
  height: 20px;
}

#cntSafetyInputsCell_1_Label_siStatdi29 {
  z-index: 23;
}

#cntSafetyInputsCell_1_Label_siStatdi29 {
  font-size: 15px;
}

#cntSafetyInputsCell_1_Label_siStatdi29 {
  font-weight: normal;
}

#cntSafetyInputsCell_1_Label_siStatdi30 {
  top: 370px;
  position: absolute;
}

#cntSafetyInputsCell_1_Label_siStatdi30 {
  left: 30px;
  position: absolute;
}

#cntSafetyInputsCell_1_Label_siStatdi30 {
  width: 240px;
}

#cntSafetyInputsCell_1_Label_siStatdi30 {
  height: 20px;
}

#cntSafetyInputsCell_1_Label_siStatdi30 {
  z-index: 24;
}

#cntSafetyInputsCell_1_Label_siStatdi30 {
  font-size: 14px;
}

#cntSafetyInputsCell_1_Label_siStatdi30 {
  font-weight: normal;
}

#cntSafetyInputsCell_1_LabelSafeModuleOk {
  top: 400px;
  position: absolute;
}

#cntSafetyInputsCell_1_LabelSafeModuleOk {
  left: 30px;
  position: absolute;
}

#cntSafetyInputsCell_1_LabelSafeModuleOk {
  width: 240px;
}

#cntSafetyInputsCell_1_LabelSafeModuleOk {
  height: 20px;
}

#cntSafetyInputsCell_1_LabelSafeModuleOk {
  z-index: 25;
}

#cntSafetyInputsCell_1_Label5 {
  top: 8px;
  position: absolute;
}

#cntSafetyInputsCell_1_Label5 {
  left: 10px;
  position: absolute;
}

#cntSafetyInputsCell_1_Label5 {
  width: 255px;
}

#cntSafetyInputsCell_1_Label5 {
  height: 20px;
}

#cntSafetyInputsCell_1_Label5 {
  z-index: 26;
}

#cntSafetyInputsCell_1_Label5 span {
  color: dimgray;
}

#cntSafetyInputsCell_1_Label5 {
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntSafetyInputsCell_1_Label5 span {
  text-decoration: underline;
}

#cntSafetyInputsCell_1_CheckBox_SafetyIn {
  top: 0px;
  position: absolute;
}

#cntSafetyInputsCell_1_CheckBox_SafetyIn {
  left: 250px;
  position: absolute;
}

#cntSafetyInputsCell_1_CheckBox_SafetyIn {
  width: 45px;
}

#cntSafetyInputsCell_1_CheckBox_SafetyIn {
  height: 45px;
}

#cntSafetyInputsCell_1_CheckBox_SafetyIn {
  z-index: 1;
}

#cntSafetyInputsCell_1_CheckBox_SafetyIn span {
  font-style: italic;
}

#cntSafetyInputsCell_1_CheckBox_SafetyIn.checked:not(.disabled) svg {
  fill: red;
}
