#cntRobotInputsCell_1_GridLine1 {
  top: 0px;
  position: absolute;
}

#cntRobotInputsCell_1_GridLine1 {
  left: 0px;
  position: absolute;
}

#cntRobotInputsCell_1_GridLine1 {
  width: 300px;
}

#cntRobotInputsCell_1_GridLine1 {
  height: 540px;
}

#cntRobotInputsCell_1_GridLine1 {
  z-index: 0;
}

#cntRobotInputsCell_1_GridLine1 .container {
  padding: 5px 0px;
}

#cntRobotInputsCell_1_GridLineItem1 {
  z-index: 0;
}

#cntRobotInputsCell_1_GridLineItem1 {
  padding: 0px 10px 10px 10px;
}

#cntRobotInputsCell_1_ImageList1 {
  top: 95px;
  position: absolute;
}

#cntRobotInputsCell_1_ImageList1 {
  left: 5px;
  position: absolute;
}

#cntRobotInputsCell_1_ImageList1 {
  width: 20px;
}

#cntRobotInputsCell_1_ImageList1 {
  height: 20px;
}

#cntRobotInputsCell_1_ImageList1 {
  z-index: 0;
}

#cntRobotInputsCell_1_ImageList2 {
  top: 125px;
  position: absolute;
}

#cntRobotInputsCell_1_ImageList2 {
  left: 5px;
  position: absolute;
}

#cntRobotInputsCell_1_ImageList2 {
  width: 20px;
}

#cntRobotInputsCell_1_ImageList2 {
  height: 20px;
}

#cntRobotInputsCell_1_ImageList2 {
  z-index: 1;
}

#cntRobotInputsCell_1_ImageList3 {
  top: 155px;
  position: absolute;
}

#cntRobotInputsCell_1_ImageList3 {
  left: 5px;
  position: absolute;
}

#cntRobotInputsCell_1_ImageList3 {
  width: 20px;
}

#cntRobotInputsCell_1_ImageList3 {
  height: 20px;
}

#cntRobotInputsCell_1_ImageList3 {
  z-index: 2;
}

#cntRobotInputsCell_1_ImageList4 {
  top: 185px;
  position: absolute;
}

#cntRobotInputsCell_1_ImageList4 {
  left: 5px;
  position: absolute;
}

#cntRobotInputsCell_1_ImageList4 {
  width: 20px;
}

#cntRobotInputsCell_1_ImageList4 {
  height: 20px;
}

#cntRobotInputsCell_1_ImageList4 {
  z-index: 3;
}

#cntRobotInputsCell_1_ImageList5 {
  top: 215px;
  position: absolute;
}

#cntRobotInputsCell_1_ImageList5 {
  left: 5px;
  position: absolute;
}

#cntRobotInputsCell_1_ImageList5 {
  width: 20px;
}

#cntRobotInputsCell_1_ImageList5 {
  height: 20px;
}

#cntRobotInputsCell_1_ImageList5 {
  z-index: 4;
}

#cntRobotInputsCell_1_ImageList6 {
  top: 245px;
  position: absolute;
}

#cntRobotInputsCell_1_ImageList6 {
  left: 5px;
  position: absolute;
}

#cntRobotInputsCell_1_ImageList6 {
  width: 20px;
}

#cntRobotInputsCell_1_ImageList6 {
  height: 20px;
}

#cntRobotInputsCell_1_ImageList6 {
  z-index: 5;
}

#cntRobotInputsCell_1_ImageList7 {
  top: 275px;
  position: absolute;
}

#cntRobotInputsCell_1_ImageList7 {
  left: 5px;
  position: absolute;
}

#cntRobotInputsCell_1_ImageList7 {
  width: 20px;
}

#cntRobotInputsCell_1_ImageList7 {
  height: 20px;
}

#cntRobotInputsCell_1_ImageList7 {
  z-index: 6;
}

#cntRobotInputsCell_1_ImageList8 {
  top: 305px;
  position: absolute;
}

#cntRobotInputsCell_1_ImageList8 {
  left: 5px;
  position: absolute;
}

#cntRobotInputsCell_1_ImageList8 {
  width: 20px;
}

#cntRobotInputsCell_1_ImageList8 {
  height: 20px;
}

#cntRobotInputsCell_1_ImageList8 {
  z-index: 7;
}

#cntRobotInputsCell_1_ImageList9 {
  top: 335px;
  position: absolute;
}

#cntRobotInputsCell_1_ImageList9 {
  left: 5px;
  position: absolute;
}

#cntRobotInputsCell_1_ImageList9 {
  width: 20px;
}

#cntRobotInputsCell_1_ImageList9 {
  height: 20px;
}

#cntRobotInputsCell_1_ImageList9 {
  z-index: 8;
}

#cntRobotInputsCell_1_ImageList10 {
  top: 365px;
  position: absolute;
}

#cntRobotInputsCell_1_ImageList10 {
  left: 5px;
  position: absolute;
}

#cntRobotInputsCell_1_ImageList10 {
  width: 20px;
}

#cntRobotInputsCell_1_ImageList10 {
  height: 20px;
}

#cntRobotInputsCell_1_ImageList10 {
  z-index: 9;
}

#cntRobotInputsCell_1_ImageList11 {
  top: 395px;
  position: absolute;
}

#cntRobotInputsCell_1_ImageList11 {
  left: 5px;
  position: absolute;
}

#cntRobotInputsCell_1_ImageList11 {
  width: 20px;
}

#cntRobotInputsCell_1_ImageList11 {
  height: 20px;
}

#cntRobotInputsCell_1_ImageList11 {
  z-index: 10;
}

#cntRobotInputsCell_1_ImageList12 {
  top: 425px;
  position: absolute;
}

#cntRobotInputsCell_1_ImageList12 {
  left: 5px;
  position: absolute;
}

#cntRobotInputsCell_1_ImageList12 {
  width: 20px;
}

#cntRobotInputsCell_1_ImageList12 {
  height: 20px;
}

#cntRobotInputsCell_1_ImageList12 {
  z-index: 11;
}

#cntRobotInputsCell_1_ImageList47 {
  top: 65px;
  position: absolute;
}

#cntRobotInputsCell_1_ImageList47 {
  left: 5px;
  position: absolute;
}

#cntRobotInputsCell_1_ImageList47 {
  width: 20px;
}

#cntRobotInputsCell_1_ImageList47 {
  height: 20px;
}

#cntRobotInputsCell_1_ImageList47 {
  z-index: 12;
}

#cntRobotInputsCell_1_ImageList48 {
  top: 35px;
  position: absolute;
}

#cntRobotInputsCell_1_ImageList48 {
  left: 5px;
  position: absolute;
}

#cntRobotInputsCell_1_ImageList48 {
  width: 20px;
}

#cntRobotInputsCell_1_ImageList48 {
  height: 20px;
}

#cntRobotInputsCell_1_ImageList48 {
  z-index: 13;
}

#cntRobotInputsCell_1_Label2 {
  top: 65px;
  position: absolute;
}

#cntRobotInputsCell_1_Label2 {
  left: 35px;
  position: absolute;
}

#cntRobotInputsCell_1_Label2 {
  width: 230px;
}

#cntRobotInputsCell_1_Label2 {
  height: 20px;
}

#cntRobotInputsCell_1_Label2 {
  z-index: 14;
}

#cntRobotInputsCell_1_Label3 {
  top: 35px;
  position: absolute;
}

#cntRobotInputsCell_1_Label3 {
  left: 35px;
  position: absolute;
}

#cntRobotInputsCell_1_Label3 {
  width: 230px;
}

#cntRobotInputsCell_1_Label3 {
  height: 20px;
}

#cntRobotInputsCell_1_Label3 {
  z-index: 15;
}

#cntRobotInputsCell_1_Label4 {
  top: 95px;
  position: absolute;
}

#cntRobotInputsCell_1_Label4 {
  left: 35px;
  position: absolute;
}

#cntRobotInputsCell_1_Label4 {
  width: 230px;
}

#cntRobotInputsCell_1_Label4 {
  height: 20px;
}

#cntRobotInputsCell_1_Label4 {
  z-index: 16;
}

#cntRobotInputsCell_1_Label5 {
  top: 8px;
  position: absolute;
}

#cntRobotInputsCell_1_Label5 {
  left: 8px;
  position: absolute;
}

#cntRobotInputsCell_1_Label5 {
  width: 265px;
}

#cntRobotInputsCell_1_Label5 {
  height: 22px;
}

#cntRobotInputsCell_1_Label5 {
  z-index: 17;
}

#cntRobotInputsCell_1_Label5 span {
  color: dimgray;
}

#cntRobotInputsCell_1_Label5 {
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntRobotInputsCell_1_Label5 {
  font-size: 18px;
}

#cntRobotInputsCell_1_Label5 span {
  text-decoration: underline;
}

#cntRobotInputsCell_1_Label6 {
  top: 125px;
  position: absolute;
}

#cntRobotInputsCell_1_Label6 {
  left: 35px;
  position: absolute;
}

#cntRobotInputsCell_1_Label6 {
  width: 230px;
}

#cntRobotInputsCell_1_Label6 {
  height: 20px;
}

#cntRobotInputsCell_1_Label6 {
  z-index: 18;
}

#cntRobotInputsCell_1_Label7 {
  top: 155px;
  position: absolute;
}

#cntRobotInputsCell_1_Label7 {
  left: 35px;
  position: absolute;
}

#cntRobotInputsCell_1_Label7 {
  width: 230px;
}

#cntRobotInputsCell_1_Label7 {
  height: 20px;
}

#cntRobotInputsCell_1_Label7 {
  z-index: 19;
}

#cntRobotInputsCell_1_Label8 {
  top: 185px;
  position: absolute;
}

#cntRobotInputsCell_1_Label8 {
  left: 35px;
  position: absolute;
}

#cntRobotInputsCell_1_Label8 {
  width: 230px;
}

#cntRobotInputsCell_1_Label8 {
  height: 20px;
}

#cntRobotInputsCell_1_Label8 {
  z-index: 20;
}

#cntRobotInputsCell_1_Label9 {
  top: 215px;
  position: absolute;
}

#cntRobotInputsCell_1_Label9 {
  left: 35px;
  position: absolute;
}

#cntRobotInputsCell_1_Label9 {
  width: 230px;
}

#cntRobotInputsCell_1_Label9 {
  height: 20px;
}

#cntRobotInputsCell_1_Label9 {
  z-index: 21;
}

#cntRobotInputsCell_1_Label10 {
  top: 245px;
  position: absolute;
}

#cntRobotInputsCell_1_Label10 {
  left: 35px;
  position: absolute;
}

#cntRobotInputsCell_1_Label10 {
  width: 230px;
}

#cntRobotInputsCell_1_Label10 {
  height: 20px;
}

#cntRobotInputsCell_1_Label10 {
  z-index: 22;
}

#cntRobotInputsCell_1_Label11 {
  top: 275px;
  position: absolute;
}

#cntRobotInputsCell_1_Label11 {
  left: 35px;
  position: absolute;
}

#cntRobotInputsCell_1_Label11 {
  width: 230px;
}

#cntRobotInputsCell_1_Label11 {
  height: 20px;
}

#cntRobotInputsCell_1_Label11 {
  z-index: 23;
}

#cntRobotInputsCell_1_Label12 {
  top: 305px;
  position: absolute;
}

#cntRobotInputsCell_1_Label12 {
  left: 35px;
  position: absolute;
}

#cntRobotInputsCell_1_Label12 {
  width: 230px;
}

#cntRobotInputsCell_1_Label12 {
  height: 20px;
}

#cntRobotInputsCell_1_Label12 {
  z-index: 24;
}

#cntRobotInputsCell_1_Label13 {
  top: 335px;
  position: absolute;
}

#cntRobotInputsCell_1_Label13 {
  left: 35px;
  position: absolute;
}

#cntRobotInputsCell_1_Label13 {
  width: 230px;
}

#cntRobotInputsCell_1_Label13 {
  height: 20px;
}

#cntRobotInputsCell_1_Label13 {
  z-index: 25;
}

#cntRobotInputsCell_1_Label14 {
  top: 365px;
  position: absolute;
}

#cntRobotInputsCell_1_Label14 {
  left: 35px;
  position: absolute;
}

#cntRobotInputsCell_1_Label14 {
  width: 230px;
}

#cntRobotInputsCell_1_Label14 {
  height: 20px;
}

#cntRobotInputsCell_1_Label14 {
  z-index: 26;
}

#cntRobotInputsCell_1_Label15 {
  top: 395px;
  position: absolute;
}

#cntRobotInputsCell_1_Label15 {
  left: 35px;
  position: absolute;
}

#cntRobotInputsCell_1_Label15 {
  width: 230px;
}

#cntRobotInputsCell_1_Label15 {
  height: 20px;
}

#cntRobotInputsCell_1_Label15 {
  z-index: 27;
}

#cntRobotInputsCell_1_Label16 {
  top: 425px;
  position: absolute;
}

#cntRobotInputsCell_1_Label16 {
  left: 35px;
  position: absolute;
}

#cntRobotInputsCell_1_Label16 {
  width: 230px;
}

#cntRobotInputsCell_1_Label16 {
  height: 20px;
}

#cntRobotInputsCell_1_Label16 {
  z-index: 28;
}

#cntRobotInputsCell_1_ImageList13 {
  top: 455px;
  position: absolute;
}

#cntRobotInputsCell_1_ImageList13 {
  left: 5px;
  position: absolute;
}

#cntRobotInputsCell_1_ImageList13 {
  width: 20px;
}

#cntRobotInputsCell_1_ImageList13 {
  height: 20px;
}

#cntRobotInputsCell_1_ImageList13 {
  z-index: 29;
}

#cntRobotInputsCell_1_ImageList14 {
  top: 485px;
  position: absolute;
}

#cntRobotInputsCell_1_ImageList14 {
  left: 5px;
  position: absolute;
}

#cntRobotInputsCell_1_ImageList14 {
  width: 20px;
}

#cntRobotInputsCell_1_ImageList14 {
  height: 20px;
}

#cntRobotInputsCell_1_ImageList14 {
  z-index: 30;
}

#cntRobotInputsCell_1_Label212 {
  top: 455px;
  position: absolute;
}

#cntRobotInputsCell_1_Label212 {
  left: 35px;
  position: absolute;
}

#cntRobotInputsCell_1_Label212 {
  width: 230px;
}

#cntRobotInputsCell_1_Label212 {
  height: 20px;
}

#cntRobotInputsCell_1_Label212 {
  z-index: 31;
}

#cntRobotInputsCell_1_Label213 {
  top: 485px;
  position: absolute;
}

#cntRobotInputsCell_1_Label213 {
  left: 35px;
  position: absolute;
}

#cntRobotInputsCell_1_Label213 {
  width: 230px;
}

#cntRobotInputsCell_1_Label213 {
  height: 20px;
}

#cntRobotInputsCell_1_Label213 {
  z-index: 32;
}

#cntRobotInputsCell_1_GridLineItem2 {
  z-index: 1;
}

#cntRobotInputsCell_1_GridLineItem2 {
  padding: 0px 10px 10px 10px;
}

#cntRobotInputsCell_1_ImageList15 {
  top: 35px;
  position: absolute;
}

#cntRobotInputsCell_1_ImageList15 {
  left: 5px;
  position: absolute;
}

#cntRobotInputsCell_1_ImageList15 {
  width: 20px;
}

#cntRobotInputsCell_1_ImageList15 {
  height: 20px;
}

#cntRobotInputsCell_1_ImageList15 {
  z-index: 0;
}

#cntRobotInputsCell_1_ImageList16 {
  top: 65px;
  position: absolute;
}

#cntRobotInputsCell_1_ImageList16 {
  left: 5px;
  position: absolute;
}

#cntRobotInputsCell_1_ImageList16 {
  width: 20px;
}

#cntRobotInputsCell_1_ImageList16 {
  height: 20px;
}

#cntRobotInputsCell_1_ImageList16 {
  z-index: 1;
}

#cntRobotInputsCell_1_ImageList17 {
  top: 95px;
  position: absolute;
}

#cntRobotInputsCell_1_ImageList17 {
  left: 5px;
  position: absolute;
}

#cntRobotInputsCell_1_ImageList17 {
  width: 20px;
}

#cntRobotInputsCell_1_ImageList17 {
  height: 20px;
}

#cntRobotInputsCell_1_ImageList17 {
  z-index: 2;
}

#cntRobotInputsCell_1_ImageList18 {
  top: 125px;
  position: absolute;
}

#cntRobotInputsCell_1_ImageList18 {
  left: 5px;
  position: absolute;
}

#cntRobotInputsCell_1_ImageList18 {
  width: 20px;
}

#cntRobotInputsCell_1_ImageList18 {
  height: 20px;
}

#cntRobotInputsCell_1_ImageList18 {
  z-index: 3;
}

#cntRobotInputsCell_1_ImageList19 {
  top: 155px;
  position: absolute;
}

#cntRobotInputsCell_1_ImageList19 {
  left: 5px;
  position: absolute;
}

#cntRobotInputsCell_1_ImageList19 {
  width: 20px;
}

#cntRobotInputsCell_1_ImageList19 {
  height: 20px;
}

#cntRobotInputsCell_1_ImageList19 {
  z-index: 4;
}

#cntRobotInputsCell_1_ImageList20 {
  top: 185px;
  position: absolute;
}

#cntRobotInputsCell_1_ImageList20 {
  left: 5px;
  position: absolute;
}

#cntRobotInputsCell_1_ImageList20 {
  width: 20px;
}

#cntRobotInputsCell_1_ImageList20 {
  height: 20px;
}

#cntRobotInputsCell_1_ImageList20 {
  z-index: 5;
}

#cntRobotInputsCell_1_ImageList22 {
  top: 215px;
  position: absolute;
}

#cntRobotInputsCell_1_ImageList22 {
  left: 5px;
  position: absolute;
}

#cntRobotInputsCell_1_ImageList22 {
  width: 20px;
}

#cntRobotInputsCell_1_ImageList22 {
  height: 20px;
}

#cntRobotInputsCell_1_ImageList22 {
  z-index: 6;
}

#cntRobotInputsCell_1_ImageList23 {
  top: 245px;
  position: absolute;
}

#cntRobotInputsCell_1_ImageList23 {
  left: 5px;
  position: absolute;
}

#cntRobotInputsCell_1_ImageList23 {
  width: 20px;
}

#cntRobotInputsCell_1_ImageList23 {
  height: 20px;
}

#cntRobotInputsCell_1_ImageList23 {
  z-index: 7;
}

#cntRobotInputsCell_1_ImageList24 {
  top: 275px;
  position: absolute;
}

#cntRobotInputsCell_1_ImageList24 {
  left: 5px;
  position: absolute;
}

#cntRobotInputsCell_1_ImageList24 {
  width: 20px;
}

#cntRobotInputsCell_1_ImageList24 {
  height: 20px;
}

#cntRobotInputsCell_1_ImageList24 {
  z-index: 8;
}

#cntRobotInputsCell_1_ImageList25 {
  top: 305px;
  position: absolute;
}

#cntRobotInputsCell_1_ImageList25 {
  left: 5px;
  position: absolute;
}

#cntRobotInputsCell_1_ImageList25 {
  width: 20px;
}

#cntRobotInputsCell_1_ImageList25 {
  height: 20px;
}

#cntRobotInputsCell_1_ImageList25 {
  z-index: 9;
}

#cntRobotInputsCell_1_ImageList26 {
  top: 335px;
  position: absolute;
}

#cntRobotInputsCell_1_ImageList26 {
  left: 5px;
  position: absolute;
}

#cntRobotInputsCell_1_ImageList26 {
  width: 20px;
}

#cntRobotInputsCell_1_ImageList26 {
  height: 20px;
}

#cntRobotInputsCell_1_ImageList26 {
  z-index: 10;
}

#cntRobotInputsCell_1_ImageList27 {
  top: 365px;
  position: absolute;
}

#cntRobotInputsCell_1_ImageList27 {
  left: 5px;
  position: absolute;
}

#cntRobotInputsCell_1_ImageList27 {
  width: 20px;
}

#cntRobotInputsCell_1_ImageList27 {
  height: 20px;
}

#cntRobotInputsCell_1_ImageList27 {
  z-index: 11;
}

#cntRobotInputsCell_1_ImageList29 {
  top: 395px;
  position: absolute;
}

#cntRobotInputsCell_1_ImageList29 {
  left: 5px;
  position: absolute;
}

#cntRobotInputsCell_1_ImageList29 {
  width: 20px;
}

#cntRobotInputsCell_1_ImageList29 {
  height: 20px;
}

#cntRobotInputsCell_1_ImageList29 {
  z-index: 12;
}

#cntRobotInputsCell_1_ImageList30 {
  top: 425px;
  position: absolute;
}

#cntRobotInputsCell_1_ImageList30 {
  left: 5px;
  position: absolute;
}

#cntRobotInputsCell_1_ImageList30 {
  width: 20px;
}

#cntRobotInputsCell_1_ImageList30 {
  height: 20px;
}

#cntRobotInputsCell_1_ImageList30 {
  z-index: 13;
}

#cntRobotInputsCell_1_Label17 {
  top: 8px;
  position: absolute;
}

#cntRobotInputsCell_1_Label17 {
  left: 8px;
  position: absolute;
}

#cntRobotInputsCell_1_Label17 {
  width: 265px;
}

#cntRobotInputsCell_1_Label17 {
  height: 22px;
}

#cntRobotInputsCell_1_Label17 {
  z-index: 14;
}

#cntRobotInputsCell_1_Label17 span {
  color: dimgray;
}

#cntRobotInputsCell_1_Label17 {
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntRobotInputsCell_1_Label17 {
  font-size: 18px;
}

#cntRobotInputsCell_1_Label17 span {
  text-decoration: underline;
}

#cntRobotInputsCell_1_Label20 {
  top: 35px;
  position: absolute;
}

#cntRobotInputsCell_1_Label20 {
  left: 35px;
  position: absolute;
}

#cntRobotInputsCell_1_Label20 {
  width: 230px;
}

#cntRobotInputsCell_1_Label20 {
  height: 20px;
}

#cntRobotInputsCell_1_Label20 {
  z-index: 15;
}

#cntRobotInputsCell_1_Label21 {
  top: 65px;
  position: absolute;
}

#cntRobotInputsCell_1_Label21 {
  left: 35px;
  position: absolute;
}

#cntRobotInputsCell_1_Label21 {
  width: 230px;
}

#cntRobotInputsCell_1_Label21 {
  height: 20px;
}

#cntRobotInputsCell_1_Label21 {
  z-index: 16;
}

#cntRobotInputsCell_1_Label22 {
  top: 95px;
  position: absolute;
}

#cntRobotInputsCell_1_Label22 {
  left: 35px;
  position: absolute;
}

#cntRobotInputsCell_1_Label22 {
  width: 230px;
}

#cntRobotInputsCell_1_Label22 {
  height: 20px;
}

#cntRobotInputsCell_1_Label22 {
  z-index: 17;
}

#cntRobotInputsCell_1_Label23 {
  top: 125px;
  position: absolute;
}

#cntRobotInputsCell_1_Label23 {
  left: 35px;
  position: absolute;
}

#cntRobotInputsCell_1_Label23 {
  width: 230px;
}

#cntRobotInputsCell_1_Label23 {
  height: 20px;
}

#cntRobotInputsCell_1_Label23 {
  z-index: 18;
}

#cntRobotInputsCell_1_Label24 {
  top: 155px;
  position: absolute;
}

#cntRobotInputsCell_1_Label24 {
  left: 35px;
  position: absolute;
}

#cntRobotInputsCell_1_Label24 {
  width: 230px;
}

#cntRobotInputsCell_1_Label24 {
  height: 20px;
}

#cntRobotInputsCell_1_Label24 {
  z-index: 19;
}

#cntRobotInputsCell_1_Label25 {
  top: 185px;
  position: absolute;
}

#cntRobotInputsCell_1_Label25 {
  left: 35px;
  position: absolute;
}

#cntRobotInputsCell_1_Label25 {
  width: 230px;
}

#cntRobotInputsCell_1_Label25 {
  height: 20px;
}

#cntRobotInputsCell_1_Label25 {
  z-index: 20;
}

#cntRobotInputsCell_1_Label26 {
  top: 215px;
  position: absolute;
}

#cntRobotInputsCell_1_Label26 {
  left: 35px;
  position: absolute;
}

#cntRobotInputsCell_1_Label26 {
  width: 230px;
}

#cntRobotInputsCell_1_Label26 {
  height: 20px;
}

#cntRobotInputsCell_1_Label26 {
  z-index: 21;
}

#cntRobotInputsCell_1_Label27 {
  top: 245px;
  position: absolute;
}

#cntRobotInputsCell_1_Label27 {
  left: 35px;
  position: absolute;
}

#cntRobotInputsCell_1_Label27 {
  width: 230px;
}

#cntRobotInputsCell_1_Label27 {
  height: 20px;
}

#cntRobotInputsCell_1_Label27 {
  z-index: 22;
}

#cntRobotInputsCell_1_Label28 {
  top: 275px;
  position: absolute;
}

#cntRobotInputsCell_1_Label28 {
  left: 35px;
  position: absolute;
}

#cntRobotInputsCell_1_Label28 {
  width: 230px;
}

#cntRobotInputsCell_1_Label28 {
  height: 20px;
}

#cntRobotInputsCell_1_Label28 {
  z-index: 23;
}

#cntRobotInputsCell_1_Label29 {
  top: 305px;
  position: absolute;
}

#cntRobotInputsCell_1_Label29 {
  left: 35px;
  position: absolute;
}

#cntRobotInputsCell_1_Label29 {
  width: 230px;
}

#cntRobotInputsCell_1_Label29 {
  height: 20px;
}

#cntRobotInputsCell_1_Label29 {
  z-index: 24;
}

#cntRobotInputsCell_1_Label30 {
  top: 335px;
  position: absolute;
}

#cntRobotInputsCell_1_Label30 {
  left: 35px;
  position: absolute;
}

#cntRobotInputsCell_1_Label30 {
  width: 230px;
}

#cntRobotInputsCell_1_Label30 {
  height: 20px;
}

#cntRobotInputsCell_1_Label30 {
  z-index: 25;
}

#cntRobotInputsCell_1_Label31 {
  top: 365px;
  position: absolute;
}

#cntRobotInputsCell_1_Label31 {
  left: 35px;
  position: absolute;
}

#cntRobotInputsCell_1_Label31 {
  width: 230px;
}

#cntRobotInputsCell_1_Label31 {
  height: 20px;
}

#cntRobotInputsCell_1_Label31 {
  z-index: 26;
}

#cntRobotInputsCell_1_ImageList201 {
  top: 455px;
  position: absolute;
}

#cntRobotInputsCell_1_ImageList201 {
  left: 5px;
  position: absolute;
}

#cntRobotInputsCell_1_ImageList201 {
  width: 20px;
}

#cntRobotInputsCell_1_ImageList201 {
  height: 20px;
}

#cntRobotInputsCell_1_ImageList201 {
  z-index: 27;
}

#cntRobotInputsCell_1_ImageList202 {
  top: 485px;
  position: absolute;
}

#cntRobotInputsCell_1_ImageList202 {
  left: 5px;
  position: absolute;
}

#cntRobotInputsCell_1_ImageList202 {
  width: 20px;
}

#cntRobotInputsCell_1_ImageList202 {
  height: 20px;
}

#cntRobotInputsCell_1_ImageList202 {
  z-index: 28;
}

#cntRobotInputsCell_1_Label214 {
  top: 395px;
  position: absolute;
}

#cntRobotInputsCell_1_Label214 {
  left: 35px;
  position: absolute;
}

#cntRobotInputsCell_1_Label214 {
  width: 230px;
}

#cntRobotInputsCell_1_Label214 {
  height: 20px;
}

#cntRobotInputsCell_1_Label214 {
  z-index: 29;
}

#cntRobotInputsCell_1_Label215 {
  top: 425px;
  position: absolute;
}

#cntRobotInputsCell_1_Label215 {
  left: 35px;
  position: absolute;
}

#cntRobotInputsCell_1_Label215 {
  width: 230px;
}

#cntRobotInputsCell_1_Label215 {
  height: 20px;
}

#cntRobotInputsCell_1_Label215 {
  z-index: 30;
}

#cntRobotInputsCell_1_Label216 {
  top: 455px;
  position: absolute;
}

#cntRobotInputsCell_1_Label216 {
  left: 35px;
  position: absolute;
}

#cntRobotInputsCell_1_Label216 {
  width: 230px;
}

#cntRobotInputsCell_1_Label216 {
  height: 20px;
}

#cntRobotInputsCell_1_Label216 {
  z-index: 31;
}

#cntRobotInputsCell_1_Label217 {
  top: 485px;
  position: absolute;
}

#cntRobotInputsCell_1_Label217 {
  left: 35px;
  position: absolute;
}

#cntRobotInputsCell_1_Label217 {
  width: 230px;
}

#cntRobotInputsCell_1_Label217 {
  height: 20px;
}

#cntRobotInputsCell_1_Label217 {
  z-index: 32;
}

#cntRobotInputsCell_1_GridLineItem3 {
  z-index: 2;
}

#cntRobotInputsCell_1_GridLineItem3 {
  padding: 0px 10px 10px 10px;
}

#cntRobotInputsCell_1_ImageList31 {
  top: 45px;
  position: absolute;
}

#cntRobotInputsCell_1_ImageList31 {
  left: 5px;
  position: absolute;
}

#cntRobotInputsCell_1_ImageList31 {
  width: 20px;
}

#cntRobotInputsCell_1_ImageList31 {
  height: 20px;
}

#cntRobotInputsCell_1_ImageList31 {
  z-index: 0;
}

#cntRobotInputsCell_1_ImageList32 {
  top: 75px;
  position: absolute;
}

#cntRobotInputsCell_1_ImageList32 {
  left: 5px;
  position: absolute;
}

#cntRobotInputsCell_1_ImageList32 {
  width: 20px;
}

#cntRobotInputsCell_1_ImageList32 {
  height: 20px;
}

#cntRobotInputsCell_1_ImageList32 {
  z-index: 1;
}

#cntRobotInputsCell_1_ImageList33 {
  top: 105px;
  position: absolute;
}

#cntRobotInputsCell_1_ImageList33 {
  left: 5px;
  position: absolute;
}

#cntRobotInputsCell_1_ImageList33 {
  width: 20px;
}

#cntRobotInputsCell_1_ImageList33 {
  height: 20px;
}

#cntRobotInputsCell_1_ImageList33 {
  z-index: 2;
}

#cntRobotInputsCell_1_ImageList34 {
  top: 135px;
  position: absolute;
}

#cntRobotInputsCell_1_ImageList34 {
  left: 5px;
  position: absolute;
}

#cntRobotInputsCell_1_ImageList34 {
  width: 20px;
}

#cntRobotInputsCell_1_ImageList34 {
  height: 20px;
}

#cntRobotInputsCell_1_ImageList34 {
  z-index: 3;
}

#cntRobotInputsCell_1_ImageList35 {
  top: 165px;
  position: absolute;
}

#cntRobotInputsCell_1_ImageList35 {
  left: 5px;
  position: absolute;
}

#cntRobotInputsCell_1_ImageList35 {
  width: 20px;
}

#cntRobotInputsCell_1_ImageList35 {
  height: 20px;
}

#cntRobotInputsCell_1_ImageList35 {
  z-index: 4;
}

#cntRobotInputsCell_1_ImageList36 {
  top: 195px;
  position: absolute;
}

#cntRobotInputsCell_1_ImageList36 {
  left: 5px;
  position: absolute;
}

#cntRobotInputsCell_1_ImageList36 {
  width: 20px;
}

#cntRobotInputsCell_1_ImageList36 {
  height: 20px;
}

#cntRobotInputsCell_1_ImageList36 {
  z-index: 5;
}

#cntRobotInputsCell_1_ImageList37 {
  top: 225px;
  position: absolute;
}

#cntRobotInputsCell_1_ImageList37 {
  left: 5px;
  position: absolute;
}

#cntRobotInputsCell_1_ImageList37 {
  width: 20px;
}

#cntRobotInputsCell_1_ImageList37 {
  height: 20px;
}

#cntRobotInputsCell_1_ImageList37 {
  z-index: 6;
}

#cntRobotInputsCell_1_ImageList39 {
  top: 255px;
  position: absolute;
}

#cntRobotInputsCell_1_ImageList39 {
  left: 5px;
  position: absolute;
}

#cntRobotInputsCell_1_ImageList39 {
  width: 20px;
}

#cntRobotInputsCell_1_ImageList39 {
  height: 20px;
}

#cntRobotInputsCell_1_ImageList39 {
  z-index: 7;
}

#cntRobotInputsCell_1_Label36 {
  top: 45px;
  position: absolute;
}

#cntRobotInputsCell_1_Label36 {
  left: 35px;
  position: absolute;
}

#cntRobotInputsCell_1_Label36 {
  width: 230px;
}

#cntRobotInputsCell_1_Label36 {
  height: 20px;
}

#cntRobotInputsCell_1_Label36 {
  z-index: 8;
}

#cntRobotInputsCell_1_Label37 {
  top: 75px;
  position: absolute;
}

#cntRobotInputsCell_1_Label37 {
  left: 35px;
  position: absolute;
}

#cntRobotInputsCell_1_Label37 {
  width: 230px;
}

#cntRobotInputsCell_1_Label37 {
  height: 20px;
}

#cntRobotInputsCell_1_Label37 {
  z-index: 9;
}

#cntRobotInputsCell_1_Label38 {
  top: 105px;
  position: absolute;
}

#cntRobotInputsCell_1_Label38 {
  left: 35px;
  position: absolute;
}

#cntRobotInputsCell_1_Label38 {
  width: 230px;
}

#cntRobotInputsCell_1_Label38 {
  height: 20px;
}

#cntRobotInputsCell_1_Label38 {
  z-index: 10;
}

#cntRobotInputsCell_1_Label39 {
  top: 135px;
  position: absolute;
}

#cntRobotInputsCell_1_Label39 {
  left: 35px;
  position: absolute;
}

#cntRobotInputsCell_1_Label39 {
  width: 230px;
}

#cntRobotInputsCell_1_Label39 {
  height: 20px;
}

#cntRobotInputsCell_1_Label39 {
  z-index: 11;
}

#cntRobotInputsCell_1_Label40 {
  top: 165px;
  position: absolute;
}

#cntRobotInputsCell_1_Label40 {
  left: 35px;
  position: absolute;
}

#cntRobotInputsCell_1_Label40 {
  width: 230px;
}

#cntRobotInputsCell_1_Label40 {
  height: 20px;
}

#cntRobotInputsCell_1_Label40 {
  z-index: 12;
}

#cntRobotInputsCell_1_Label41 {
  top: 195px;
  position: absolute;
}

#cntRobotInputsCell_1_Label41 {
  left: 35px;
  position: absolute;
}

#cntRobotInputsCell_1_Label41 {
  width: 230px;
}

#cntRobotInputsCell_1_Label41 {
  height: 20px;
}

#cntRobotInputsCell_1_Label41 {
  z-index: 13;
}

#cntRobotInputsCell_1_Label42 {
  top: 225px;
  position: absolute;
}

#cntRobotInputsCell_1_Label42 {
  left: 35px;
  position: absolute;
}

#cntRobotInputsCell_1_Label42 {
  width: 230px;
}

#cntRobotInputsCell_1_Label42 {
  height: 20px;
}

#cntRobotInputsCell_1_Label42 {
  z-index: 14;
}

#cntRobotInputsCell_1_Label43 {
  top: 255px;
  position: absolute;
}

#cntRobotInputsCell_1_Label43 {
  left: 35px;
  position: absolute;
}

#cntRobotInputsCell_1_Label43 {
  width: 230px;
}

#cntRobotInputsCell_1_Label43 {
  height: 20px;
}

#cntRobotInputsCell_1_Label43 {
  z-index: 15;
}

#cntRobotInputsCell_1_Label46 {
  top: 8px;
  position: absolute;
}

#cntRobotInputsCell_1_Label46 {
  left: 8px;
  position: absolute;
}

#cntRobotInputsCell_1_Label46 {
  width: 265px;
}

#cntRobotInputsCell_1_Label46 {
  height: 22px;
}

#cntRobotInputsCell_1_Label46 {
  z-index: 16;
}

#cntRobotInputsCell_1_Label46 span {
  color: dimgray;
}

#cntRobotInputsCell_1_Label46 {
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntRobotInputsCell_1_Label46 {
  font-size: 18px;
}

#cntRobotInputsCell_1_Label46 span {
  text-decoration: underline;
}

#cntRobotInputsCell_1_Label57 {
  top: 285px;
  position: absolute;
}

#cntRobotInputsCell_1_Label57 {
  left: 35px;
  position: absolute;
}

#cntRobotInputsCell_1_Label57 {
  width: 210px;
}

#cntRobotInputsCell_1_Label57 {
  height: 20px;
}

#cntRobotInputsCell_1_Label57 {
  z-index: 17;
}

#cntRobotInputsCell_1_Label57 {
  font-size: 16px;
}

#cntRobotInputsCell_1_Label57 span {
  padding: 5px;
}

#cntRobotInputsCell_1_NumericOutput5 {
  top: 285px;
  position: absolute;
}

#cntRobotInputsCell_1_NumericOutput5 {
  left: 0px;
  position: absolute;
}

#cntRobotInputsCell_1_NumericOutput5 {
  width: 60px;
}

#cntRobotInputsCell_1_NumericOutput5 {
  height: 20px;
}

#cntRobotInputsCell_1_NumericOutput5 {
  z-index: 18;
}

#cntRobotInputsCell_1_NumericOutput5 {
  border-color: black;
}

#cntRobotInputsCell_1_NumericOutput5 input {
  color: black;
}

#cntRobotInputsCell_1_NumericOutput5 span.breaseNumericOutput_unit {
  color: black;
}

#cntRobotInputsCell_1_NumericOutput5 input {
  font-size: 14px;
}

#cntRobotInputsCell_1_NumericOutput5 {
  margin: 0px;
}

#cntRobotInputsCell_1_CheckBox_RobotIn {
  top: 0px;
  position: absolute;
}

#cntRobotInputsCell_1_CheckBox_RobotIn {
  left: 250px;
  position: absolute;
}

#cntRobotInputsCell_1_CheckBox_RobotIn {
  width: 45px;
}

#cntRobotInputsCell_1_CheckBox_RobotIn {
  height: 45px;
}

#cntRobotInputsCell_1_CheckBox_RobotIn {
  z-index: 1;
}

#cntRobotInputsCell_1_CheckBox_RobotIn span {
  font-style: italic;
}

#cntRobotInputsCell_1_CheckBox_RobotIn.checked:not(.disabled) svg {
  fill: red;
}
