﻿@import "mixins.scss";
#cntRobotInputsCell_1_GridLine1 {
	@include elemTop(0);
}
#cntRobotInputsCell_1_GridLine1 {
	@include elemLeft(0);
}
#cntRobotInputsCell_1_GridLine1 {
	@include elemWidth(300);
}
#cntRobotInputsCell_1_GridLine1 {
	@include elemHeight(540);
}
#cntRobotInputsCell_1_GridLine1 {
		z-index: 0;
}
#cntRobotInputsCell_1_GridLine1 {
	.container{
		padding: 5px 0px;
	}
}
#cntRobotInputsCell_1_GridLineItem1 {
		z-index: 0;
}
#cntRobotInputsCell_1_GridLineItem1 {
		padding: 0px 10px 10px 10px;
}
#cntRobotInputsCell_1_ImageList1 {
	@include elemTop(95);
}
#cntRobotInputsCell_1_ImageList1 {
	@include elemLeft(5);
}
#cntRobotInputsCell_1_ImageList1 {
	@include elemWidth(20);
}
#cntRobotInputsCell_1_ImageList1 {
	@include elemHeight(20);
}
#cntRobotInputsCell_1_ImageList1 {
		z-index: 0;
}
#cntRobotInputsCell_1_ImageList2 {
	@include elemTop(125);
}
#cntRobotInputsCell_1_ImageList2 {
	@include elemLeft(5);
}
#cntRobotInputsCell_1_ImageList2 {
	@include elemWidth(20);
}
#cntRobotInputsCell_1_ImageList2 {
	@include elemHeight(20);
}
#cntRobotInputsCell_1_ImageList2 {
		z-index: 1;
}
#cntRobotInputsCell_1_ImageList3 {
	@include elemTop(155);
}
#cntRobotInputsCell_1_ImageList3 {
	@include elemLeft(5);
}
#cntRobotInputsCell_1_ImageList3 {
	@include elemWidth(20);
}
#cntRobotInputsCell_1_ImageList3 {
	@include elemHeight(20);
}
#cntRobotInputsCell_1_ImageList3 {
		z-index: 2;
}
#cntRobotInputsCell_1_ImageList4 {
	@include elemTop(185);
}
#cntRobotInputsCell_1_ImageList4 {
	@include elemLeft(5);
}
#cntRobotInputsCell_1_ImageList4 {
	@include elemWidth(20);
}
#cntRobotInputsCell_1_ImageList4 {
	@include elemHeight(20);
}
#cntRobotInputsCell_1_ImageList4 {
		z-index: 3;
}
#cntRobotInputsCell_1_ImageList5 {
	@include elemTop(215);
}
#cntRobotInputsCell_1_ImageList5 {
	@include elemLeft(5);
}
#cntRobotInputsCell_1_ImageList5 {
	@include elemWidth(20);
}
#cntRobotInputsCell_1_ImageList5 {
	@include elemHeight(20);
}
#cntRobotInputsCell_1_ImageList5 {
		z-index: 4;
}
#cntRobotInputsCell_1_ImageList6 {
	@include elemTop(245);
}
#cntRobotInputsCell_1_ImageList6 {
	@include elemLeft(5);
}
#cntRobotInputsCell_1_ImageList6 {
	@include elemWidth(20);
}
#cntRobotInputsCell_1_ImageList6 {
	@include elemHeight(20);
}
#cntRobotInputsCell_1_ImageList6 {
		z-index: 5;
}
#cntRobotInputsCell_1_ImageList7 {
	@include elemTop(275);
}
#cntRobotInputsCell_1_ImageList7 {
	@include elemLeft(5);
}
#cntRobotInputsCell_1_ImageList7 {
	@include elemWidth(20);
}
#cntRobotInputsCell_1_ImageList7 {
	@include elemHeight(20);
}
#cntRobotInputsCell_1_ImageList7 {
		z-index: 6;
}
#cntRobotInputsCell_1_ImageList8 {
	@include elemTop(305);
}
#cntRobotInputsCell_1_ImageList8 {
	@include elemLeft(5);
}
#cntRobotInputsCell_1_ImageList8 {
	@include elemWidth(20);
}
#cntRobotInputsCell_1_ImageList8 {
	@include elemHeight(20);
}
#cntRobotInputsCell_1_ImageList8 {
		z-index: 7;
}
#cntRobotInputsCell_1_ImageList9 {
	@include elemTop(335);
}
#cntRobotInputsCell_1_ImageList9 {
	@include elemLeft(5);
}
#cntRobotInputsCell_1_ImageList9 {
	@include elemWidth(20);
}
#cntRobotInputsCell_1_ImageList9 {
	@include elemHeight(20);
}
#cntRobotInputsCell_1_ImageList9 {
		z-index: 8;
}
#cntRobotInputsCell_1_ImageList10 {
	@include elemTop(365);
}
#cntRobotInputsCell_1_ImageList10 {
	@include elemLeft(5);
}
#cntRobotInputsCell_1_ImageList10 {
	@include elemWidth(20);
}
#cntRobotInputsCell_1_ImageList10 {
	@include elemHeight(20);
}
#cntRobotInputsCell_1_ImageList10 {
		z-index: 9;
}
#cntRobotInputsCell_1_ImageList11 {
	@include elemTop(395);
}
#cntRobotInputsCell_1_ImageList11 {
	@include elemLeft(5);
}
#cntRobotInputsCell_1_ImageList11 {
	@include elemWidth(20);
}
#cntRobotInputsCell_1_ImageList11 {
	@include elemHeight(20);
}
#cntRobotInputsCell_1_ImageList11 {
		z-index: 10;
}
#cntRobotInputsCell_1_ImageList12 {
	@include elemTop(425);
}
#cntRobotInputsCell_1_ImageList12 {
	@include elemLeft(5);
}
#cntRobotInputsCell_1_ImageList12 {
	@include elemWidth(20);
}
#cntRobotInputsCell_1_ImageList12 {
	@include elemHeight(20);
}
#cntRobotInputsCell_1_ImageList12 {
		z-index: 11;
}
#cntRobotInputsCell_1_ImageList47 {
	@include elemTop(65);
}
#cntRobotInputsCell_1_ImageList47 {
	@include elemLeft(5);
}
#cntRobotInputsCell_1_ImageList47 {
	@include elemWidth(20);
}
#cntRobotInputsCell_1_ImageList47 {
	@include elemHeight(20);
}
#cntRobotInputsCell_1_ImageList47 {
		z-index: 12;
}
#cntRobotInputsCell_1_ImageList48 {
	@include elemTop(35);
}
#cntRobotInputsCell_1_ImageList48 {
	@include elemLeft(5);
}
#cntRobotInputsCell_1_ImageList48 {
	@include elemWidth(20);
}
#cntRobotInputsCell_1_ImageList48 {
	@include elemHeight(20);
}
#cntRobotInputsCell_1_ImageList48 {
		z-index: 13;
}
#cntRobotInputsCell_1_Label2 {
	@include elemTop(65);
}
#cntRobotInputsCell_1_Label2 {
	@include elemLeft(35);
}
#cntRobotInputsCell_1_Label2 {
	@include elemAutoWidth(230);
}
#cntRobotInputsCell_1_Label2 {
	@include elemAutoHeight(20);
}
#cntRobotInputsCell_1_Label2 {
		z-index: 14;
}
#cntRobotInputsCell_1_Label3 {
	@include elemTop(35);
}
#cntRobotInputsCell_1_Label3 {
	@include elemLeft(35);
}
#cntRobotInputsCell_1_Label3 {
	@include elemAutoWidth(230);
}
#cntRobotInputsCell_1_Label3 {
	@include elemAutoHeight(20);
}
#cntRobotInputsCell_1_Label3 {
		z-index: 15;
}
#cntRobotInputsCell_1_Label4 {
	@include elemTop(95);
}
#cntRobotInputsCell_1_Label4 {
	@include elemLeft(35);
}
#cntRobotInputsCell_1_Label4 {
	@include elemAutoWidth(230);
}
#cntRobotInputsCell_1_Label4 {
	@include elemAutoHeight(20);
}
#cntRobotInputsCell_1_Label4 {
		z-index: 16;
}
#cntRobotInputsCell_1_Label5 {
	@include elemTop(8);
}
#cntRobotInputsCell_1_Label5 {
	@include elemLeft(8);
}
#cntRobotInputsCell_1_Label5 {
	@include elemAutoWidth(265);
}
#cntRobotInputsCell_1_Label5 {
	@include elemAutoHeight(22);
}
#cntRobotInputsCell_1_Label5 {
		z-index: 17;
}
#cntRobotInputsCell_1_Label5 {
	& span{
		color: rgba(105, 105, 105, 1);
	}
}
#cntRobotInputsCell_1_Label5 {
	@include text-alignment-all('center');
}
#cntRobotInputsCell_1_Label5 {
		font-size: 18px;
}
#cntRobotInputsCell_1_Label5 {
	span{
	@include text-decoration-underline(true);
	}
}
#cntRobotInputsCell_1_Label6 {
	@include elemTop(125);
}
#cntRobotInputsCell_1_Label6 {
	@include elemLeft(35);
}
#cntRobotInputsCell_1_Label6 {
	@include elemAutoWidth(230);
}
#cntRobotInputsCell_1_Label6 {
	@include elemAutoHeight(20);
}
#cntRobotInputsCell_1_Label6 {
		z-index: 18;
}
#cntRobotInputsCell_1_Label7 {
	@include elemTop(155);
}
#cntRobotInputsCell_1_Label7 {
	@include elemLeft(35);
}
#cntRobotInputsCell_1_Label7 {
	@include elemAutoWidth(230);
}
#cntRobotInputsCell_1_Label7 {
	@include elemAutoHeight(20);
}
#cntRobotInputsCell_1_Label7 {
		z-index: 19;
}
#cntRobotInputsCell_1_Label8 {
	@include elemTop(185);
}
#cntRobotInputsCell_1_Label8 {
	@include elemLeft(35);
}
#cntRobotInputsCell_1_Label8 {
	@include elemAutoWidth(230);
}
#cntRobotInputsCell_1_Label8 {
	@include elemAutoHeight(20);
}
#cntRobotInputsCell_1_Label8 {
		z-index: 20;
}
#cntRobotInputsCell_1_Label9 {
	@include elemTop(215);
}
#cntRobotInputsCell_1_Label9 {
	@include elemLeft(35);
}
#cntRobotInputsCell_1_Label9 {
	@include elemAutoWidth(230);
}
#cntRobotInputsCell_1_Label9 {
	@include elemAutoHeight(20);
}
#cntRobotInputsCell_1_Label9 {
		z-index: 21;
}
#cntRobotInputsCell_1_Label10 {
	@include elemTop(245);
}
#cntRobotInputsCell_1_Label10 {
	@include elemLeft(35);
}
#cntRobotInputsCell_1_Label10 {
	@include elemAutoWidth(230);
}
#cntRobotInputsCell_1_Label10 {
	@include elemAutoHeight(20);
}
#cntRobotInputsCell_1_Label10 {
		z-index: 22;
}
#cntRobotInputsCell_1_Label11 {
	@include elemTop(275);
}
#cntRobotInputsCell_1_Label11 {
	@include elemLeft(35);
}
#cntRobotInputsCell_1_Label11 {
	@include elemAutoWidth(230);
}
#cntRobotInputsCell_1_Label11 {
	@include elemAutoHeight(20);
}
#cntRobotInputsCell_1_Label11 {
		z-index: 23;
}
#cntRobotInputsCell_1_Label12 {
	@include elemTop(305);
}
#cntRobotInputsCell_1_Label12 {
	@include elemLeft(35);
}
#cntRobotInputsCell_1_Label12 {
	@include elemAutoWidth(230);
}
#cntRobotInputsCell_1_Label12 {
	@include elemAutoHeight(20);
}
#cntRobotInputsCell_1_Label12 {
		z-index: 24;
}
#cntRobotInputsCell_1_Label13 {
	@include elemTop(335);
}
#cntRobotInputsCell_1_Label13 {
	@include elemLeft(35);
}
#cntRobotInputsCell_1_Label13 {
	@include elemAutoWidth(230);
}
#cntRobotInputsCell_1_Label13 {
	@include elemAutoHeight(20);
}
#cntRobotInputsCell_1_Label13 {
		z-index: 25;
}
#cntRobotInputsCell_1_Label14 {
	@include elemTop(365);
}
#cntRobotInputsCell_1_Label14 {
	@include elemLeft(35);
}
#cntRobotInputsCell_1_Label14 {
	@include elemAutoWidth(230);
}
#cntRobotInputsCell_1_Label14 {
	@include elemAutoHeight(20);
}
#cntRobotInputsCell_1_Label14 {
		z-index: 26;
}
#cntRobotInputsCell_1_Label15 {
	@include elemTop(395);
}
#cntRobotInputsCell_1_Label15 {
	@include elemLeft(35);
}
#cntRobotInputsCell_1_Label15 {
	@include elemAutoWidth(230);
}
#cntRobotInputsCell_1_Label15 {
	@include elemAutoHeight(20);
}
#cntRobotInputsCell_1_Label15 {
		z-index: 27;
}
#cntRobotInputsCell_1_Label16 {
	@include elemTop(425);
}
#cntRobotInputsCell_1_Label16 {
	@include elemLeft(35);
}
#cntRobotInputsCell_1_Label16 {
	@include elemAutoWidth(230);
}
#cntRobotInputsCell_1_Label16 {
	@include elemAutoHeight(20);
}
#cntRobotInputsCell_1_Label16 {
		z-index: 28;
}
#cntRobotInputsCell_1_ImageList13 {
	@include elemTop(455);
}
#cntRobotInputsCell_1_ImageList13 {
	@include elemLeft(5);
}
#cntRobotInputsCell_1_ImageList13 {
	@include elemWidth(20);
}
#cntRobotInputsCell_1_ImageList13 {
	@include elemHeight(20);
}
#cntRobotInputsCell_1_ImageList13 {
		z-index: 29;
}
#cntRobotInputsCell_1_ImageList14 {
	@include elemTop(485);
}
#cntRobotInputsCell_1_ImageList14 {
	@include elemLeft(5);
}
#cntRobotInputsCell_1_ImageList14 {
	@include elemWidth(20);
}
#cntRobotInputsCell_1_ImageList14 {
	@include elemHeight(20);
}
#cntRobotInputsCell_1_ImageList14 {
		z-index: 30;
}
#cntRobotInputsCell_1_Label212 {
	@include elemTop(455);
}
#cntRobotInputsCell_1_Label212 {
	@include elemLeft(35);
}
#cntRobotInputsCell_1_Label212 {
	@include elemAutoWidth(230);
}
#cntRobotInputsCell_1_Label212 {
	@include elemAutoHeight(20);
}
#cntRobotInputsCell_1_Label212 {
		z-index: 31;
}
#cntRobotInputsCell_1_Label213 {
	@include elemTop(485);
}
#cntRobotInputsCell_1_Label213 {
	@include elemLeft(35);
}
#cntRobotInputsCell_1_Label213 {
	@include elemAutoWidth(230);
}
#cntRobotInputsCell_1_Label213 {
	@include elemAutoHeight(20);
}
#cntRobotInputsCell_1_Label213 {
		z-index: 32;
}
#cntRobotInputsCell_1_GridLineItem2 {
		z-index: 1;
}
#cntRobotInputsCell_1_GridLineItem2 {
		padding: 0px 10px 10px 10px;
}
#cntRobotInputsCell_1_ImageList15 {
	@include elemTop(35);
}
#cntRobotInputsCell_1_ImageList15 {
	@include elemLeft(5);
}
#cntRobotInputsCell_1_ImageList15 {
	@include elemWidth(20);
}
#cntRobotInputsCell_1_ImageList15 {
	@include elemHeight(20);
}
#cntRobotInputsCell_1_ImageList15 {
		z-index: 0;
}
#cntRobotInputsCell_1_ImageList16 {
	@include elemTop(65);
}
#cntRobotInputsCell_1_ImageList16 {
	@include elemLeft(5);
}
#cntRobotInputsCell_1_ImageList16 {
	@include elemWidth(20);
}
#cntRobotInputsCell_1_ImageList16 {
	@include elemHeight(20);
}
#cntRobotInputsCell_1_ImageList16 {
		z-index: 1;
}
#cntRobotInputsCell_1_ImageList17 {
	@include elemTop(95);
}
#cntRobotInputsCell_1_ImageList17 {
	@include elemLeft(5);
}
#cntRobotInputsCell_1_ImageList17 {
	@include elemWidth(20);
}
#cntRobotInputsCell_1_ImageList17 {
	@include elemHeight(20);
}
#cntRobotInputsCell_1_ImageList17 {
		z-index: 2;
}
#cntRobotInputsCell_1_ImageList18 {
	@include elemTop(125);
}
#cntRobotInputsCell_1_ImageList18 {
	@include elemLeft(5);
}
#cntRobotInputsCell_1_ImageList18 {
	@include elemWidth(20);
}
#cntRobotInputsCell_1_ImageList18 {
	@include elemHeight(20);
}
#cntRobotInputsCell_1_ImageList18 {
		z-index: 3;
}
#cntRobotInputsCell_1_ImageList19 {
	@include elemTop(155);
}
#cntRobotInputsCell_1_ImageList19 {
	@include elemLeft(5);
}
#cntRobotInputsCell_1_ImageList19 {
	@include elemWidth(20);
}
#cntRobotInputsCell_1_ImageList19 {
	@include elemHeight(20);
}
#cntRobotInputsCell_1_ImageList19 {
		z-index: 4;
}
#cntRobotInputsCell_1_ImageList20 {
	@include elemTop(185);
}
#cntRobotInputsCell_1_ImageList20 {
	@include elemLeft(5);
}
#cntRobotInputsCell_1_ImageList20 {
	@include elemWidth(20);
}
#cntRobotInputsCell_1_ImageList20 {
	@include elemHeight(20);
}
#cntRobotInputsCell_1_ImageList20 {
		z-index: 5;
}
#cntRobotInputsCell_1_ImageList22 {
	@include elemTop(215);
}
#cntRobotInputsCell_1_ImageList22 {
	@include elemLeft(5);
}
#cntRobotInputsCell_1_ImageList22 {
	@include elemWidth(20);
}
#cntRobotInputsCell_1_ImageList22 {
	@include elemHeight(20);
}
#cntRobotInputsCell_1_ImageList22 {
		z-index: 6;
}
#cntRobotInputsCell_1_ImageList23 {
	@include elemTop(245);
}
#cntRobotInputsCell_1_ImageList23 {
	@include elemLeft(5);
}
#cntRobotInputsCell_1_ImageList23 {
	@include elemWidth(20);
}
#cntRobotInputsCell_1_ImageList23 {
	@include elemHeight(20);
}
#cntRobotInputsCell_1_ImageList23 {
		z-index: 7;
}
#cntRobotInputsCell_1_ImageList24 {
	@include elemTop(275);
}
#cntRobotInputsCell_1_ImageList24 {
	@include elemLeft(5);
}
#cntRobotInputsCell_1_ImageList24 {
	@include elemWidth(20);
}
#cntRobotInputsCell_1_ImageList24 {
	@include elemHeight(20);
}
#cntRobotInputsCell_1_ImageList24 {
		z-index: 8;
}
#cntRobotInputsCell_1_ImageList25 {
	@include elemTop(305);
}
#cntRobotInputsCell_1_ImageList25 {
	@include elemLeft(5);
}
#cntRobotInputsCell_1_ImageList25 {
	@include elemWidth(20);
}
#cntRobotInputsCell_1_ImageList25 {
	@include elemHeight(20);
}
#cntRobotInputsCell_1_ImageList25 {
		z-index: 9;
}
#cntRobotInputsCell_1_ImageList26 {
	@include elemTop(335);
}
#cntRobotInputsCell_1_ImageList26 {
	@include elemLeft(5);
}
#cntRobotInputsCell_1_ImageList26 {
	@include elemWidth(20);
}
#cntRobotInputsCell_1_ImageList26 {
	@include elemHeight(20);
}
#cntRobotInputsCell_1_ImageList26 {
		z-index: 10;
}
#cntRobotInputsCell_1_ImageList27 {
	@include elemTop(365);
}
#cntRobotInputsCell_1_ImageList27 {
	@include elemLeft(5);
}
#cntRobotInputsCell_1_ImageList27 {
	@include elemWidth(20);
}
#cntRobotInputsCell_1_ImageList27 {
	@include elemHeight(20);
}
#cntRobotInputsCell_1_ImageList27 {
		z-index: 11;
}
#cntRobotInputsCell_1_ImageList29 {
	@include elemTop(395);
}
#cntRobotInputsCell_1_ImageList29 {
	@include elemLeft(5);
}
#cntRobotInputsCell_1_ImageList29 {
	@include elemWidth(20);
}
#cntRobotInputsCell_1_ImageList29 {
	@include elemHeight(20);
}
#cntRobotInputsCell_1_ImageList29 {
		z-index: 12;
}
#cntRobotInputsCell_1_ImageList30 {
	@include elemTop(425);
}
#cntRobotInputsCell_1_ImageList30 {
	@include elemLeft(5);
}
#cntRobotInputsCell_1_ImageList30 {
	@include elemWidth(20);
}
#cntRobotInputsCell_1_ImageList30 {
	@include elemHeight(20);
}
#cntRobotInputsCell_1_ImageList30 {
		z-index: 13;
}
#cntRobotInputsCell_1_Label17 {
	@include elemTop(8);
}
#cntRobotInputsCell_1_Label17 {
	@include elemLeft(8);
}
#cntRobotInputsCell_1_Label17 {
	@include elemAutoWidth(265);
}
#cntRobotInputsCell_1_Label17 {
	@include elemAutoHeight(22);
}
#cntRobotInputsCell_1_Label17 {
		z-index: 14;
}
#cntRobotInputsCell_1_Label17 {
	& span{
		color: rgba(105, 105, 105, 1);
	}
}
#cntRobotInputsCell_1_Label17 {
	@include text-alignment-all('center');
}
#cntRobotInputsCell_1_Label17 {
		font-size: 18px;
}
#cntRobotInputsCell_1_Label17 {
	span{
	@include text-decoration-underline(true);
	}
}
#cntRobotInputsCell_1_Label20 {
	@include elemTop(35);
}
#cntRobotInputsCell_1_Label20 {
	@include elemLeft(35);
}
#cntRobotInputsCell_1_Label20 {
	@include elemAutoWidth(230);
}
#cntRobotInputsCell_1_Label20 {
	@include elemAutoHeight(20);
}
#cntRobotInputsCell_1_Label20 {
		z-index: 15;
}
#cntRobotInputsCell_1_Label21 {
	@include elemTop(65);
}
#cntRobotInputsCell_1_Label21 {
	@include elemLeft(35);
}
#cntRobotInputsCell_1_Label21 {
	@include elemAutoWidth(230);
}
#cntRobotInputsCell_1_Label21 {
	@include elemAutoHeight(20);
}
#cntRobotInputsCell_1_Label21 {
		z-index: 16;
}
#cntRobotInputsCell_1_Label22 {
	@include elemTop(95);
}
#cntRobotInputsCell_1_Label22 {
	@include elemLeft(35);
}
#cntRobotInputsCell_1_Label22 {
	@include elemAutoWidth(230);
}
#cntRobotInputsCell_1_Label22 {
	@include elemAutoHeight(20);
}
#cntRobotInputsCell_1_Label22 {
		z-index: 17;
}
#cntRobotInputsCell_1_Label23 {
	@include elemTop(125);
}
#cntRobotInputsCell_1_Label23 {
	@include elemLeft(35);
}
#cntRobotInputsCell_1_Label23 {
	@include elemAutoWidth(230);
}
#cntRobotInputsCell_1_Label23 {
	@include elemAutoHeight(20);
}
#cntRobotInputsCell_1_Label23 {
		z-index: 18;
}
#cntRobotInputsCell_1_Label24 {
	@include elemTop(155);
}
#cntRobotInputsCell_1_Label24 {
	@include elemLeft(35);
}
#cntRobotInputsCell_1_Label24 {
	@include elemAutoWidth(230);
}
#cntRobotInputsCell_1_Label24 {
	@include elemAutoHeight(20);
}
#cntRobotInputsCell_1_Label24 {
		z-index: 19;
}
#cntRobotInputsCell_1_Label25 {
	@include elemTop(185);
}
#cntRobotInputsCell_1_Label25 {
	@include elemLeft(35);
}
#cntRobotInputsCell_1_Label25 {
	@include elemAutoWidth(230);
}
#cntRobotInputsCell_1_Label25 {
	@include elemAutoHeight(20);
}
#cntRobotInputsCell_1_Label25 {
		z-index: 20;
}
#cntRobotInputsCell_1_Label26 {
	@include elemTop(215);
}
#cntRobotInputsCell_1_Label26 {
	@include elemLeft(35);
}
#cntRobotInputsCell_1_Label26 {
	@include elemAutoWidth(230);
}
#cntRobotInputsCell_1_Label26 {
	@include elemAutoHeight(20);
}
#cntRobotInputsCell_1_Label26 {
		z-index: 21;
}
#cntRobotInputsCell_1_Label27 {
	@include elemTop(245);
}
#cntRobotInputsCell_1_Label27 {
	@include elemLeft(35);
}
#cntRobotInputsCell_1_Label27 {
	@include elemAutoWidth(230);
}
#cntRobotInputsCell_1_Label27 {
	@include elemAutoHeight(20);
}
#cntRobotInputsCell_1_Label27 {
		z-index: 22;
}
#cntRobotInputsCell_1_Label28 {
	@include elemTop(275);
}
#cntRobotInputsCell_1_Label28 {
	@include elemLeft(35);
}
#cntRobotInputsCell_1_Label28 {
	@include elemAutoWidth(230);
}
#cntRobotInputsCell_1_Label28 {
	@include elemAutoHeight(20);
}
#cntRobotInputsCell_1_Label28 {
		z-index: 23;
}
#cntRobotInputsCell_1_Label29 {
	@include elemTop(305);
}
#cntRobotInputsCell_1_Label29 {
	@include elemLeft(35);
}
#cntRobotInputsCell_1_Label29 {
	@include elemAutoWidth(230);
}
#cntRobotInputsCell_1_Label29 {
	@include elemAutoHeight(20);
}
#cntRobotInputsCell_1_Label29 {
		z-index: 24;
}
#cntRobotInputsCell_1_Label30 {
	@include elemTop(335);
}
#cntRobotInputsCell_1_Label30 {
	@include elemLeft(35);
}
#cntRobotInputsCell_1_Label30 {
	@include elemAutoWidth(230);
}
#cntRobotInputsCell_1_Label30 {
	@include elemAutoHeight(20);
}
#cntRobotInputsCell_1_Label30 {
		z-index: 25;
}
#cntRobotInputsCell_1_Label31 {
	@include elemTop(365);
}
#cntRobotInputsCell_1_Label31 {
	@include elemLeft(35);
}
#cntRobotInputsCell_1_Label31 {
	@include elemAutoWidth(230);
}
#cntRobotInputsCell_1_Label31 {
	@include elemAutoHeight(20);
}
#cntRobotInputsCell_1_Label31 {
		z-index: 26;
}
#cntRobotInputsCell_1_ImageList201 {
	@include elemTop(455);
}
#cntRobotInputsCell_1_ImageList201 {
	@include elemLeft(5);
}
#cntRobotInputsCell_1_ImageList201 {
	@include elemWidth(20);
}
#cntRobotInputsCell_1_ImageList201 {
	@include elemHeight(20);
}
#cntRobotInputsCell_1_ImageList201 {
		z-index: 27;
}
#cntRobotInputsCell_1_ImageList202 {
	@include elemTop(485);
}
#cntRobotInputsCell_1_ImageList202 {
	@include elemLeft(5);
}
#cntRobotInputsCell_1_ImageList202 {
	@include elemWidth(20);
}
#cntRobotInputsCell_1_ImageList202 {
	@include elemHeight(20);
}
#cntRobotInputsCell_1_ImageList202 {
		z-index: 28;
}
#cntRobotInputsCell_1_Label214 {
	@include elemTop(395);
}
#cntRobotInputsCell_1_Label214 {
	@include elemLeft(35);
}
#cntRobotInputsCell_1_Label214 {
	@include elemAutoWidth(230);
}
#cntRobotInputsCell_1_Label214 {
	@include elemAutoHeight(20);
}
#cntRobotInputsCell_1_Label214 {
		z-index: 29;
}
#cntRobotInputsCell_1_Label215 {
	@include elemTop(425);
}
#cntRobotInputsCell_1_Label215 {
	@include elemLeft(35);
}
#cntRobotInputsCell_1_Label215 {
	@include elemAutoWidth(230);
}
#cntRobotInputsCell_1_Label215 {
	@include elemAutoHeight(20);
}
#cntRobotInputsCell_1_Label215 {
		z-index: 30;
}
#cntRobotInputsCell_1_Label216 {
	@include elemTop(455);
}
#cntRobotInputsCell_1_Label216 {
	@include elemLeft(35);
}
#cntRobotInputsCell_1_Label216 {
	@include elemAutoWidth(230);
}
#cntRobotInputsCell_1_Label216 {
	@include elemAutoHeight(20);
}
#cntRobotInputsCell_1_Label216 {
		z-index: 31;
}
#cntRobotInputsCell_1_Label217 {
	@include elemTop(485);
}
#cntRobotInputsCell_1_Label217 {
	@include elemLeft(35);
}
#cntRobotInputsCell_1_Label217 {
	@include elemAutoWidth(230);
}
#cntRobotInputsCell_1_Label217 {
	@include elemAutoHeight(20);
}
#cntRobotInputsCell_1_Label217 {
		z-index: 32;
}
#cntRobotInputsCell_1_GridLineItem3 {
		z-index: 2;
}
#cntRobotInputsCell_1_GridLineItem3 {
		padding: 0px 10px 10px 10px;
}
#cntRobotInputsCell_1_ImageList31 {
	@include elemTop(45);
}
#cntRobotInputsCell_1_ImageList31 {
	@include elemLeft(5);
}
#cntRobotInputsCell_1_ImageList31 {
	@include elemWidth(20);
}
#cntRobotInputsCell_1_ImageList31 {
	@include elemHeight(20);
}
#cntRobotInputsCell_1_ImageList31 {
		z-index: 0;
}
#cntRobotInputsCell_1_ImageList32 {
	@include elemTop(75);
}
#cntRobotInputsCell_1_ImageList32 {
	@include elemLeft(5);
}
#cntRobotInputsCell_1_ImageList32 {
	@include elemWidth(20);
}
#cntRobotInputsCell_1_ImageList32 {
	@include elemHeight(20);
}
#cntRobotInputsCell_1_ImageList32 {
		z-index: 1;
}
#cntRobotInputsCell_1_ImageList33 {
	@include elemTop(105);
}
#cntRobotInputsCell_1_ImageList33 {
	@include elemLeft(5);
}
#cntRobotInputsCell_1_ImageList33 {
	@include elemWidth(20);
}
#cntRobotInputsCell_1_ImageList33 {
	@include elemHeight(20);
}
#cntRobotInputsCell_1_ImageList33 {
		z-index: 2;
}
#cntRobotInputsCell_1_ImageList34 {
	@include elemTop(135);
}
#cntRobotInputsCell_1_ImageList34 {
	@include elemLeft(5);
}
#cntRobotInputsCell_1_ImageList34 {
	@include elemWidth(20);
}
#cntRobotInputsCell_1_ImageList34 {
	@include elemHeight(20);
}
#cntRobotInputsCell_1_ImageList34 {
		z-index: 3;
}
#cntRobotInputsCell_1_ImageList35 {
	@include elemTop(165);
}
#cntRobotInputsCell_1_ImageList35 {
	@include elemLeft(5);
}
#cntRobotInputsCell_1_ImageList35 {
	@include elemWidth(20);
}
#cntRobotInputsCell_1_ImageList35 {
	@include elemHeight(20);
}
#cntRobotInputsCell_1_ImageList35 {
		z-index: 4;
}
#cntRobotInputsCell_1_ImageList36 {
	@include elemTop(195);
}
#cntRobotInputsCell_1_ImageList36 {
	@include elemLeft(5);
}
#cntRobotInputsCell_1_ImageList36 {
	@include elemWidth(20);
}
#cntRobotInputsCell_1_ImageList36 {
	@include elemHeight(20);
}
#cntRobotInputsCell_1_ImageList36 {
		z-index: 5;
}
#cntRobotInputsCell_1_ImageList37 {
	@include elemTop(225);
}
#cntRobotInputsCell_1_ImageList37 {
	@include elemLeft(5);
}
#cntRobotInputsCell_1_ImageList37 {
	@include elemWidth(20);
}
#cntRobotInputsCell_1_ImageList37 {
	@include elemHeight(20);
}
#cntRobotInputsCell_1_ImageList37 {
		z-index: 6;
}
#cntRobotInputsCell_1_ImageList39 {
	@include elemTop(255);
}
#cntRobotInputsCell_1_ImageList39 {
	@include elemLeft(5);
}
#cntRobotInputsCell_1_ImageList39 {
	@include elemWidth(20);
}
#cntRobotInputsCell_1_ImageList39 {
	@include elemHeight(20);
}
#cntRobotInputsCell_1_ImageList39 {
		z-index: 7;
}
#cntRobotInputsCell_1_Label36 {
	@include elemTop(45);
}
#cntRobotInputsCell_1_Label36 {
	@include elemLeft(35);
}
#cntRobotInputsCell_1_Label36 {
	@include elemAutoWidth(230);
}
#cntRobotInputsCell_1_Label36 {
	@include elemAutoHeight(20);
}
#cntRobotInputsCell_1_Label36 {
		z-index: 8;
}
#cntRobotInputsCell_1_Label37 {
	@include elemTop(75);
}
#cntRobotInputsCell_1_Label37 {
	@include elemLeft(35);
}
#cntRobotInputsCell_1_Label37 {
	@include elemAutoWidth(230);
}
#cntRobotInputsCell_1_Label37 {
	@include elemAutoHeight(20);
}
#cntRobotInputsCell_1_Label37 {
		z-index: 9;
}
#cntRobotInputsCell_1_Label38 {
	@include elemTop(105);
}
#cntRobotInputsCell_1_Label38 {
	@include elemLeft(35);
}
#cntRobotInputsCell_1_Label38 {
	@include elemAutoWidth(230);
}
#cntRobotInputsCell_1_Label38 {
	@include elemAutoHeight(20);
}
#cntRobotInputsCell_1_Label38 {
		z-index: 10;
}
#cntRobotInputsCell_1_Label39 {
	@include elemTop(135);
}
#cntRobotInputsCell_1_Label39 {
	@include elemLeft(35);
}
#cntRobotInputsCell_1_Label39 {
	@include elemAutoWidth(230);
}
#cntRobotInputsCell_1_Label39 {
	@include elemAutoHeight(20);
}
#cntRobotInputsCell_1_Label39 {
		z-index: 11;
}
#cntRobotInputsCell_1_Label40 {
	@include elemTop(165);
}
#cntRobotInputsCell_1_Label40 {
	@include elemLeft(35);
}
#cntRobotInputsCell_1_Label40 {
	@include elemAutoWidth(230);
}
#cntRobotInputsCell_1_Label40 {
	@include elemAutoHeight(20);
}
#cntRobotInputsCell_1_Label40 {
		z-index: 12;
}
#cntRobotInputsCell_1_Label41 {
	@include elemTop(195);
}
#cntRobotInputsCell_1_Label41 {
	@include elemLeft(35);
}
#cntRobotInputsCell_1_Label41 {
	@include elemAutoWidth(230);
}
#cntRobotInputsCell_1_Label41 {
	@include elemAutoHeight(20);
}
#cntRobotInputsCell_1_Label41 {
		z-index: 13;
}
#cntRobotInputsCell_1_Label42 {
	@include elemTop(225);
}
#cntRobotInputsCell_1_Label42 {
	@include elemLeft(35);
}
#cntRobotInputsCell_1_Label42 {
	@include elemAutoWidth(230);
}
#cntRobotInputsCell_1_Label42 {
	@include elemAutoHeight(20);
}
#cntRobotInputsCell_1_Label42 {
		z-index: 14;
}
#cntRobotInputsCell_1_Label43 {
	@include elemTop(255);
}
#cntRobotInputsCell_1_Label43 {
	@include elemLeft(35);
}
#cntRobotInputsCell_1_Label43 {
	@include elemAutoWidth(230);
}
#cntRobotInputsCell_1_Label43 {
	@include elemAutoHeight(20);
}
#cntRobotInputsCell_1_Label43 {
		z-index: 15;
}
#cntRobotInputsCell_1_Label46 {
	@include elemTop(8);
}
#cntRobotInputsCell_1_Label46 {
	@include elemLeft(8);
}
#cntRobotInputsCell_1_Label46 {
	@include elemAutoWidth(265);
}
#cntRobotInputsCell_1_Label46 {
	@include elemAutoHeight(22);
}
#cntRobotInputsCell_1_Label46 {
		z-index: 16;
}
#cntRobotInputsCell_1_Label46 {
	& span{
		color: rgba(105, 105, 105, 1);
	}
}
#cntRobotInputsCell_1_Label46 {
	@include text-alignment-all('center');
}
#cntRobotInputsCell_1_Label46 {
		font-size: 18px;
}
#cntRobotInputsCell_1_Label46 {
	span{
	@include text-decoration-underline(true);
	}
}
#cntRobotInputsCell_1_Label57 {
	@include elemTop(285);
}
#cntRobotInputsCell_1_Label57 {
	@include elemLeft(35);
}
#cntRobotInputsCell_1_Label57 {
	@include elemAutoWidth(210);
}
#cntRobotInputsCell_1_Label57 {
	@include elemAutoHeight(20);
}
#cntRobotInputsCell_1_Label57 {
		z-index: 17;
}
#cntRobotInputsCell_1_Label57 {
		font-size: 16px;
}
#cntRobotInputsCell_1_Label57 {
	span{
		padding: 5px;
	}
}
#cntRobotInputsCell_1_NumericOutput5 {
	@include elemTop(285);
}
#cntRobotInputsCell_1_NumericOutput5 {
	@include elemLeft(0);
}
#cntRobotInputsCell_1_NumericOutput5 {
	@include elemAutoWidth(60);
}
#cntRobotInputsCell_1_NumericOutput5 {
	@include elemAutoHeight(20);
}
#cntRobotInputsCell_1_NumericOutput5 {
		z-index: 18;
}
#cntRobotInputsCell_1_NumericOutput5 {
		border-color: rgba(0, 0, 0, 1);
}
#cntRobotInputsCell_1_NumericOutput5 {
	input{
		color: rgba(0, 0, 0, 1);
	}
}
#cntRobotInputsCell_1_NumericOutput5 {
	span.breaseNumericOutput_unit{
		color: rgba(0, 0, 0, 1);
	}
}
#cntRobotInputsCell_1_NumericOutput5 {
	input{
		font-size: 14px;
	}
}
#cntRobotInputsCell_1_NumericOutput5 {
		margin: 0px;
}
#cntRobotInputsCell_1_CheckBox_RobotIn {
	@include elemTop(0);
}
#cntRobotInputsCell_1_CheckBox_RobotIn {
	@include elemLeft(250);
}
#cntRobotInputsCell_1_CheckBox_RobotIn {
	@include elemAutoWidth(45);
}
#cntRobotInputsCell_1_CheckBox_RobotIn {
	@include elemAutoHeight(45);
}
#cntRobotInputsCell_1_CheckBox_RobotIn {
		z-index: 1;
}
#cntRobotInputsCell_1_CheckBox_RobotIn {
	span{
	@include font-style-italic(true);
	}
}
#cntRobotInputsCell_1_CheckBox_RobotIn {
	&.checked:not(.disabled) svg{
		fill: rgba(255, 0, 0, 1);
	}
}
