@import '../../../../css/libs/mixins.scss';

.breaseGridLine {
    position: absolute;
	overflow: hidden;
	@include box-sizing(border-box);

	&.horizontal{
		>.container {
			height: 100%;
			@include box-sizing(border-box);
			>.scrollWrapper {
				@include flex-wrap(nowrap);
				@include displayFlexBox(true);
				@include align-items(start);
				@include flex-direction(row);
			}
		}	
	}

	&.vertical{
		>.container {
			height: 100%;
			@include box-sizing(border-box);
			>.scrollWrapper {
				@include flex-wrap(nowrap);
				@include displayFlexBox(true);
				@include align-items(start);
				@include flex-direction(column);
			}
		}	
	}

}
