#cntRobotOutputsCell_4_GridLine1 {
  top: 0px;
  position: absolute;
}

#cntRobotOutputsCell_4_GridLine1 {
  left: 0px;
  position: absolute;
}

#cntRobotOutputsCell_4_GridLine1 {
  width: 300px;
}

#cntRobotOutputsCell_4_GridLine1 {
  height: 540px;
}

#cntRobotOutputsCell_4_GridLine1 {
  z-index: 0;
}

#cntRobotOutputsCell_4_GridLine1 .container {
  padding: 5px 0px;
}

#cntRobotOutputsCell_4_GridLineItem1 {
  z-index: 0;
}

#cntRobotOutputsCell_4_GridLineItem1 {
  padding: 0px 10px 10px 10px;
}

#cntRobotOutputsCell_4_ImageList1 {
  top: 92px;
  position: absolute;
}

#cntRobotOutputsCell_4_ImageList1 {
  left: 5px;
  position: absolute;
}

#cntRobotOutputsCell_4_ImageList1 {
  width: 20px;
}

#cntRobotOutputsCell_4_ImageList1 {
  height: 20px;
}

#cntRobotOutputsCell_4_ImageList1 {
  z-index: 0;
}

#cntRobotOutputsCell_4_ImageList2 {
  top: 122px;
  position: absolute;
}

#cntRobotOutputsCell_4_ImageList2 {
  left: 5px;
  position: absolute;
}

#cntRobotOutputsCell_4_ImageList2 {
  width: 20px;
}

#cntRobotOutputsCell_4_ImageList2 {
  height: 20px;
}

#cntRobotOutputsCell_4_ImageList2 {
  z-index: 1;
}

#cntRobotOutputsCell_4_ImageList3 {
  top: 152px;
  position: absolute;
}

#cntRobotOutputsCell_4_ImageList3 {
  left: 5px;
  position: absolute;
}

#cntRobotOutputsCell_4_ImageList3 {
  width: 20px;
}

#cntRobotOutputsCell_4_ImageList3 {
  height: 20px;
}

#cntRobotOutputsCell_4_ImageList3 {
  z-index: 2;
}

#cntRobotOutputsCell_4_ImageList4 {
  top: 182px;
  position: absolute;
}

#cntRobotOutputsCell_4_ImageList4 {
  left: 5px;
  position: absolute;
}

#cntRobotOutputsCell_4_ImageList4 {
  width: 20px;
}

#cntRobotOutputsCell_4_ImageList4 {
  height: 20px;
}

#cntRobotOutputsCell_4_ImageList4 {
  z-index: 3;
}

#cntRobotOutputsCell_4_ImageList5 {
  top: 212px;
  position: absolute;
}

#cntRobotOutputsCell_4_ImageList5 {
  left: 5px;
  position: absolute;
}

#cntRobotOutputsCell_4_ImageList5 {
  width: 20px;
}

#cntRobotOutputsCell_4_ImageList5 {
  height: 20px;
}

#cntRobotOutputsCell_4_ImageList5 {
  z-index: 4;
}

#cntRobotOutputsCell_4_ImageList6 {
  top: 242px;
  position: absolute;
}

#cntRobotOutputsCell_4_ImageList6 {
  left: 5px;
  position: absolute;
}

#cntRobotOutputsCell_4_ImageList6 {
  width: 20px;
}

#cntRobotOutputsCell_4_ImageList6 {
  height: 20px;
}

#cntRobotOutputsCell_4_ImageList6 {
  z-index: 5;
}

#cntRobotOutputsCell_4_ImageList7 {
  top: 272px;
  position: absolute;
}

#cntRobotOutputsCell_4_ImageList7 {
  left: 5px;
  position: absolute;
}

#cntRobotOutputsCell_4_ImageList7 {
  width: 20px;
}

#cntRobotOutputsCell_4_ImageList7 {
  height: 20px;
}

#cntRobotOutputsCell_4_ImageList7 {
  z-index: 6;
}

#cntRobotOutputsCell_4_ImageList8 {
  top: 302px;
  position: absolute;
}

#cntRobotOutputsCell_4_ImageList8 {
  left: 5px;
  position: absolute;
}

#cntRobotOutputsCell_4_ImageList8 {
  width: 20px;
}

#cntRobotOutputsCell_4_ImageList8 {
  height: 20px;
}

#cntRobotOutputsCell_4_ImageList8 {
  z-index: 7;
}

#cntRobotOutputsCell_4_ImageList9 {
  top: 332px;
  position: absolute;
}

#cntRobotOutputsCell_4_ImageList9 {
  left: 5px;
  position: absolute;
}

#cntRobotOutputsCell_4_ImageList9 {
  width: 20px;
}

#cntRobotOutputsCell_4_ImageList9 {
  height: 20px;
}

#cntRobotOutputsCell_4_ImageList9 {
  z-index: 8;
}

#cntRobotOutputsCell_4_ImageList10 {
  top: 362px;
  position: absolute;
}

#cntRobotOutputsCell_4_ImageList10 {
  left: 5px;
  position: absolute;
}

#cntRobotOutputsCell_4_ImageList10 {
  width: 20px;
}

#cntRobotOutputsCell_4_ImageList10 {
  height: 20px;
}

#cntRobotOutputsCell_4_ImageList10 {
  z-index: 9;
}

#cntRobotOutputsCell_4_ImageList11 {
  top: 392px;
  position: absolute;
}

#cntRobotOutputsCell_4_ImageList11 {
  left: 5px;
  position: absolute;
}

#cntRobotOutputsCell_4_ImageList11 {
  width: 20px;
}

#cntRobotOutputsCell_4_ImageList11 {
  height: 20px;
}

#cntRobotOutputsCell_4_ImageList11 {
  z-index: 10;
}

#cntRobotOutputsCell_4_ImageList12 {
  top: 422px;
  position: absolute;
}

#cntRobotOutputsCell_4_ImageList12 {
  left: 5px;
  position: absolute;
}

#cntRobotOutputsCell_4_ImageList12 {
  width: 20px;
}

#cntRobotOutputsCell_4_ImageList12 {
  height: 20px;
}

#cntRobotOutputsCell_4_ImageList12 {
  z-index: 11;
}

#cntRobotOutputsCell_4_ImageList13 {
  top: 452px;
  position: absolute;
}

#cntRobotOutputsCell_4_ImageList13 {
  left: 5px;
  position: absolute;
}

#cntRobotOutputsCell_4_ImageList13 {
  width: 20px;
}

#cntRobotOutputsCell_4_ImageList13 {
  height: 20px;
}

#cntRobotOutputsCell_4_ImageList13 {
  z-index: 12;
}

#cntRobotOutputsCell_4_ImageList14 {
  top: 482px;
  position: absolute;
}

#cntRobotOutputsCell_4_ImageList14 {
  left: 5px;
  position: absolute;
}

#cntRobotOutputsCell_4_ImageList14 {
  width: 20px;
}

#cntRobotOutputsCell_4_ImageList14 {
  height: 20px;
}

#cntRobotOutputsCell_4_ImageList14 {
  z-index: 13;
}

#cntRobotOutputsCell_4_ImageList47 {
  top: 62px;
  position: absolute;
}

#cntRobotOutputsCell_4_ImageList47 {
  left: 5px;
  position: absolute;
}

#cntRobotOutputsCell_4_ImageList47 {
  width: 20px;
}

#cntRobotOutputsCell_4_ImageList47 {
  height: 20px;
}

#cntRobotOutputsCell_4_ImageList47 {
  z-index: 14;
}

#cntRobotOutputsCell_4_ImageList48 {
  top: 32px;
  position: absolute;
}

#cntRobotOutputsCell_4_ImageList48 {
  left: 5px;
  position: absolute;
}

#cntRobotOutputsCell_4_ImageList48 {
  width: 20px;
}

#cntRobotOutputsCell_4_ImageList48 {
  height: 20px;
}

#cntRobotOutputsCell_4_ImageList48 {
  z-index: 15;
}

#cntRobotOutputsCell_4_Label2 {
  top: 5px;
  position: absolute;
}

#cntRobotOutputsCell_4_Label2 {
  left: 51px;
  position: absolute;
}

#cntRobotOutputsCell_4_Label2 {
  width: 190px;
}

#cntRobotOutputsCell_4_Label2 {
  height: 20px;
}

#cntRobotOutputsCell_4_Label2 {
  z-index: 16;
}

#cntRobotOutputsCell_4_Label2 span {
  color: dimgray;
}

#cntRobotOutputsCell_4_Label2 {
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntRobotOutputsCell_4_Label2 {
  font-size: 18px;
}

#cntRobotOutputsCell_4_Label2 span {
  text-decoration: underline;
}

#cntRobotOutputsCell_4_Label_do33 {
  top: 32px;
  position: absolute;
}

#cntRobotOutputsCell_4_Label_do33 {
  left: 35px;
  position: absolute;
}

#cntRobotOutputsCell_4_Label_do33 {
  width: 230px;
}

#cntRobotOutputsCell_4_Label_do33 {
  height: 20px;
}

#cntRobotOutputsCell_4_Label_do33 {
  z-index: 17;
}

#cntRobotOutputsCell_4_Label_do34 {
  top: 62px;
  position: absolute;
}

#cntRobotOutputsCell_4_Label_do34 {
  left: 35px;
  position: absolute;
}

#cntRobotOutputsCell_4_Label_do34 {
  width: 230px;
}

#cntRobotOutputsCell_4_Label_do34 {
  height: 20px;
}

#cntRobotOutputsCell_4_Label_do34 {
  z-index: 18;
}

#cntRobotOutputsCell_4_Label_do35 {
  top: 92px;
  position: absolute;
}

#cntRobotOutputsCell_4_Label_do35 {
  left: 35px;
  position: absolute;
}

#cntRobotOutputsCell_4_Label_do35 {
  width: 230px;
}

#cntRobotOutputsCell_4_Label_do35 {
  height: 20px;
}

#cntRobotOutputsCell_4_Label_do35 {
  z-index: 19;
}

#cntRobotOutputsCell_4_Label_do36 {
  top: 122px;
  position: absolute;
}

#cntRobotOutputsCell_4_Label_do36 {
  left: 35px;
  position: absolute;
}

#cntRobotOutputsCell_4_Label_do36 {
  width: 230px;
}

#cntRobotOutputsCell_4_Label_do36 {
  height: 20px;
}

#cntRobotOutputsCell_4_Label_do36 {
  z-index: 20;
}

#cntRobotOutputsCell_4_Label_do37 {
  top: 152px;
  position: absolute;
}

#cntRobotOutputsCell_4_Label_do37 {
  left: 35px;
  position: absolute;
}

#cntRobotOutputsCell_4_Label_do37 {
  width: 230px;
}

#cntRobotOutputsCell_4_Label_do37 {
  height: 20px;
}

#cntRobotOutputsCell_4_Label_do37 {
  z-index: 21;
}

#cntRobotOutputsCell_4_Label_do38 {
  top: 182px;
  position: absolute;
}

#cntRobotOutputsCell_4_Label_do38 {
  left: 35px;
  position: absolute;
}

#cntRobotOutputsCell_4_Label_do38 {
  width: 230px;
}

#cntRobotOutputsCell_4_Label_do38 {
  height: 20px;
}

#cntRobotOutputsCell_4_Label_do38 {
  z-index: 22;
}

#cntRobotOutputsCell_4_Label_do39 {
  top: 212px;
  position: absolute;
}

#cntRobotOutputsCell_4_Label_do39 {
  left: 35px;
  position: absolute;
}

#cntRobotOutputsCell_4_Label_do39 {
  width: 230px;
}

#cntRobotOutputsCell_4_Label_do39 {
  height: 20px;
}

#cntRobotOutputsCell_4_Label_do39 {
  z-index: 23;
}

#cntRobotOutputsCell_4_Label_do40 {
  top: 242px;
  position: absolute;
}

#cntRobotOutputsCell_4_Label_do40 {
  left: 35px;
  position: absolute;
}

#cntRobotOutputsCell_4_Label_do40 {
  width: 230px;
}

#cntRobotOutputsCell_4_Label_do40 {
  height: 20px;
}

#cntRobotOutputsCell_4_Label_do40 {
  z-index: 24;
}

#cntRobotOutputsCell_4_Label_do41 {
  top: 272px;
  position: absolute;
}

#cntRobotOutputsCell_4_Label_do41 {
  left: 35px;
  position: absolute;
}

#cntRobotOutputsCell_4_Label_do41 {
  width: 230px;
}

#cntRobotOutputsCell_4_Label_do41 {
  height: 20px;
}

#cntRobotOutputsCell_4_Label_do41 {
  z-index: 25;
}

#cntRobotOutputsCell_4_Label_do42 {
  top: 302px;
  position: absolute;
}

#cntRobotOutputsCell_4_Label_do42 {
  left: 35px;
  position: absolute;
}

#cntRobotOutputsCell_4_Label_do42 {
  width: 230px;
}

#cntRobotOutputsCell_4_Label_do42 {
  height: 20px;
}

#cntRobotOutputsCell_4_Label_do42 {
  z-index: 26;
}

#cntRobotOutputsCell_4_Label_do43 {
  top: 332px;
  position: absolute;
}

#cntRobotOutputsCell_4_Label_do43 {
  left: 35px;
  position: absolute;
}

#cntRobotOutputsCell_4_Label_do43 {
  width: 230px;
}

#cntRobotOutputsCell_4_Label_do43 {
  height: 20px;
}

#cntRobotOutputsCell_4_Label_do43 {
  z-index: 27;
}

#cntRobotOutputsCell_4_Label_do44 {
  top: 362px;
  position: absolute;
}

#cntRobotOutputsCell_4_Label_do44 {
  left: 35px;
  position: absolute;
}

#cntRobotOutputsCell_4_Label_do44 {
  width: 230px;
}

#cntRobotOutputsCell_4_Label_do44 {
  height: 20px;
}

#cntRobotOutputsCell_4_Label_do44 {
  z-index: 28;
}

#cntRobotOutputsCell_4_Label_do45 {
  top: 392px;
  position: absolute;
}

#cntRobotOutputsCell_4_Label_do45 {
  left: 35px;
  position: absolute;
}

#cntRobotOutputsCell_4_Label_do45 {
  width: 230px;
}

#cntRobotOutputsCell_4_Label_do45 {
  height: 20px;
}

#cntRobotOutputsCell_4_Label_do45 {
  z-index: 29;
}

#cntRobotOutputsCell_4_Label_do46 {
  top: 422px;
  position: absolute;
}

#cntRobotOutputsCell_4_Label_do46 {
  left: 35px;
  position: absolute;
}

#cntRobotOutputsCell_4_Label_do46 {
  width: 230px;
}

#cntRobotOutputsCell_4_Label_do46 {
  height: 20px;
}

#cntRobotOutputsCell_4_Label_do46 {
  z-index: 30;
}

#cntRobotOutputsCell_4_Label_do47 {
  top: 452px;
  position: absolute;
}

#cntRobotOutputsCell_4_Label_do47 {
  left: 35px;
  position: absolute;
}

#cntRobotOutputsCell_4_Label_do47 {
  width: 230px;
}

#cntRobotOutputsCell_4_Label_do47 {
  height: 20px;
}

#cntRobotOutputsCell_4_Label_do47 {
  z-index: 31;
}

#cntRobotOutputsCell_4_Label_do48 {
  top: 482px;
  position: absolute;
}

#cntRobotOutputsCell_4_Label_do48 {
  left: 35px;
  position: absolute;
}

#cntRobotOutputsCell_4_Label_do48 {
  width: 230px;
}

#cntRobotOutputsCell_4_Label_do48 {
  height: 20px;
}

#cntRobotOutputsCell_4_Label_do48 {
  z-index: 32;
}

#cntRobotOutputsCell_4_GridLineItem2 {
  z-index: 1;
}

#cntRobotOutputsCell_4_GridLineItem2 {
  padding: 0px 10px 10px 10px;
}

#cntRobotOutputsCell_4_ImageList15 {
  top: 92px;
  position: absolute;
}

#cntRobotOutputsCell_4_ImageList15 {
  left: 5px;
  position: absolute;
}

#cntRobotOutputsCell_4_ImageList15 {
  width: 20px;
}

#cntRobotOutputsCell_4_ImageList15 {
  height: 20px;
}

#cntRobotOutputsCell_4_ImageList15 {
  z-index: 0;
}

#cntRobotOutputsCell_4_ImageList16 {
  top: 122px;
  position: absolute;
}

#cntRobotOutputsCell_4_ImageList16 {
  left: 5px;
  position: absolute;
}

#cntRobotOutputsCell_4_ImageList16 {
  width: 20px;
}

#cntRobotOutputsCell_4_ImageList16 {
  height: 20px;
}

#cntRobotOutputsCell_4_ImageList16 {
  z-index: 1;
}

#cntRobotOutputsCell_4_ImageList17 {
  top: 152px;
  position: absolute;
}

#cntRobotOutputsCell_4_ImageList17 {
  left: 5px;
  position: absolute;
}

#cntRobotOutputsCell_4_ImageList17 {
  width: 20px;
}

#cntRobotOutputsCell_4_ImageList17 {
  height: 20px;
}

#cntRobotOutputsCell_4_ImageList17 {
  z-index: 2;
}

#cntRobotOutputsCell_4_ImageList18 {
  top: 182px;
  position: absolute;
}

#cntRobotOutputsCell_4_ImageList18 {
  left: 5px;
  position: absolute;
}

#cntRobotOutputsCell_4_ImageList18 {
  width: 20px;
}

#cntRobotOutputsCell_4_ImageList18 {
  height: 20px;
}

#cntRobotOutputsCell_4_ImageList18 {
  z-index: 3;
}

#cntRobotOutputsCell_4_ImageList19 {
  top: 212px;
  position: absolute;
}

#cntRobotOutputsCell_4_ImageList19 {
  left: 5px;
  position: absolute;
}

#cntRobotOutputsCell_4_ImageList19 {
  width: 20px;
}

#cntRobotOutputsCell_4_ImageList19 {
  height: 20px;
}

#cntRobotOutputsCell_4_ImageList19 {
  z-index: 4;
}

#cntRobotOutputsCell_4_ImageList20 {
  top: 242px;
  position: absolute;
}

#cntRobotOutputsCell_4_ImageList20 {
  left: 5px;
  position: absolute;
}

#cntRobotOutputsCell_4_ImageList20 {
  width: 20px;
}

#cntRobotOutputsCell_4_ImageList20 {
  height: 20px;
}

#cntRobotOutputsCell_4_ImageList20 {
  z-index: 5;
}

#cntRobotOutputsCell_4_ImageList24 {
  top: 362px;
  position: absolute;
}

#cntRobotOutputsCell_4_ImageList24 {
  left: 5px;
  position: absolute;
}

#cntRobotOutputsCell_4_ImageList24 {
  width: 20px;
}

#cntRobotOutputsCell_4_ImageList24 {
  height: 20px;
}

#cntRobotOutputsCell_4_ImageList24 {
  z-index: 6;
}

#cntRobotOutputsCell_4_ImageList25 {
  top: 392px;
  position: absolute;
}

#cntRobotOutputsCell_4_ImageList25 {
  left: 5px;
  position: absolute;
}

#cntRobotOutputsCell_4_ImageList25 {
  width: 20px;
}

#cntRobotOutputsCell_4_ImageList25 {
  height: 20px;
}

#cntRobotOutputsCell_4_ImageList25 {
  z-index: 7;
}

#cntRobotOutputsCell_4_ImageList26 {
  top: 422px;
  position: absolute;
}

#cntRobotOutputsCell_4_ImageList26 {
  left: 5px;
  position: absolute;
}

#cntRobotOutputsCell_4_ImageList26 {
  width: 20px;
}

#cntRobotOutputsCell_4_ImageList26 {
  height: 20px;
}

#cntRobotOutputsCell_4_ImageList26 {
  z-index: 8;
}

#cntRobotOutputsCell_4_ImageList27 {
  top: 452px;
  position: absolute;
}

#cntRobotOutputsCell_4_ImageList27 {
  left: 5px;
  position: absolute;
}

#cntRobotOutputsCell_4_ImageList27 {
  width: 20px;
}

#cntRobotOutputsCell_4_ImageList27 {
  height: 20px;
}

#cntRobotOutputsCell_4_ImageList27 {
  z-index: 9;
}

#cntRobotOutputsCell_4_ImageList28 {
  top: 482px;
  position: absolute;
}

#cntRobotOutputsCell_4_ImageList28 {
  left: 5px;
  position: absolute;
}

#cntRobotOutputsCell_4_ImageList28 {
  width: 20px;
}

#cntRobotOutputsCell_4_ImageList28 {
  height: 20px;
}

#cntRobotOutputsCell_4_ImageList28 {
  z-index: 10;
}

#cntRobotOutputsCell_4_ImageList49 {
  top: 62px;
  position: absolute;
}

#cntRobotOutputsCell_4_ImageList49 {
  left: 5px;
  position: absolute;
}

#cntRobotOutputsCell_4_ImageList49 {
  width: 20px;
}

#cntRobotOutputsCell_4_ImageList49 {
  height: 20px;
}

#cntRobotOutputsCell_4_ImageList49 {
  z-index: 11;
}

#cntRobotOutputsCell_4_ImageList50 {
  top: 32px;
  position: absolute;
}

#cntRobotOutputsCell_4_ImageList50 {
  left: 5px;
  position: absolute;
}

#cntRobotOutputsCell_4_ImageList50 {
  width: 20px;
}

#cntRobotOutputsCell_4_ImageList50 {
  height: 20px;
}

#cntRobotOutputsCell_4_ImageList50 {
  z-index: 12;
}

#cntRobotOutputsCell_4_Label3 {
  top: 5px;
  position: absolute;
}

#cntRobotOutputsCell_4_Label3 {
  left: 54px;
  position: absolute;
}

#cntRobotOutputsCell_4_Label3 {
  width: 190px;
}

#cntRobotOutputsCell_4_Label3 {
  height: 20px;
}

#cntRobotOutputsCell_4_Label3 {
  z-index: 13;
}

#cntRobotOutputsCell_4_Label3 span {
  color: dimgray;
}

#cntRobotOutputsCell_4_Label3 {
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntRobotOutputsCell_4_Label3 {
  font-size: 18px;
}

#cntRobotOutputsCell_4_Label3 span {
  text-decoration: underline;
}

#cntRobotOutputsCell_4_Label_do49 {
  top: 32px;
  position: absolute;
}

#cntRobotOutputsCell_4_Label_do49 {
  left: 32px;
  position: absolute;
}

#cntRobotOutputsCell_4_Label_do49 {
  width: 240px;
}

#cntRobotOutputsCell_4_Label_do49 {
  height: 20px;
}

#cntRobotOutputsCell_4_Label_do49 {
  z-index: 14;
}

#cntRobotOutputsCell_4_Label_do50 {
  top: 62px;
  position: absolute;
}

#cntRobotOutputsCell_4_Label_do50 {
  left: 32px;
  position: absolute;
}

#cntRobotOutputsCell_4_Label_do50 {
  width: 240px;
}

#cntRobotOutputsCell_4_Label_do50 {
  height: 20px;
}

#cntRobotOutputsCell_4_Label_do50 {
  z-index: 15;
}

#cntRobotOutputsCell_4_Label_do51 {
  top: 92px;
  position: absolute;
}

#cntRobotOutputsCell_4_Label_do51 {
  left: 32px;
  position: absolute;
}

#cntRobotOutputsCell_4_Label_do51 {
  width: 240px;
}

#cntRobotOutputsCell_4_Label_do51 {
  height: 20px;
}

#cntRobotOutputsCell_4_Label_do51 {
  z-index: 16;
}

#cntRobotOutputsCell_4_Label_do52 {
  top: 122px;
  position: absolute;
}

#cntRobotOutputsCell_4_Label_do52 {
  left: 32px;
  position: absolute;
}

#cntRobotOutputsCell_4_Label_do52 {
  width: 240px;
}

#cntRobotOutputsCell_4_Label_do52 {
  height: 20px;
}

#cntRobotOutputsCell_4_Label_do52 {
  z-index: 17;
}

#cntRobotOutputsCell_4_Label_do53 {
  top: 152px;
  position: absolute;
}

#cntRobotOutputsCell_4_Label_do53 {
  left: 32px;
  position: absolute;
}

#cntRobotOutputsCell_4_Label_do53 {
  width: 240px;
}

#cntRobotOutputsCell_4_Label_do53 {
  height: 20px;
}

#cntRobotOutputsCell_4_Label_do53 {
  z-index: 18;
}

#cntRobotOutputsCell_4_Label_do54 {
  top: 182px;
  position: absolute;
}

#cntRobotOutputsCell_4_Label_do54 {
  left: 32px;
  position: absolute;
}

#cntRobotOutputsCell_4_Label_do54 {
  width: 240px;
}

#cntRobotOutputsCell_4_Label_do54 {
  height: 20px;
}

#cntRobotOutputsCell_4_Label_do54 {
  z-index: 19;
}

#cntRobotOutputsCell_4_Label_do55 {
  top: 212px;
  position: absolute;
}

#cntRobotOutputsCell_4_Label_do55 {
  left: 32px;
  position: absolute;
}

#cntRobotOutputsCell_4_Label_do55 {
  width: 240px;
}

#cntRobotOutputsCell_4_Label_do55 {
  height: 20px;
}

#cntRobotOutputsCell_4_Label_do55 {
  z-index: 20;
}

#cntRobotOutputsCell_4_Label_do56 {
  top: 242px;
  position: absolute;
}

#cntRobotOutputsCell_4_Label_do56 {
  left: 32px;
  position: absolute;
}

#cntRobotOutputsCell_4_Label_do56 {
  width: 240px;
}

#cntRobotOutputsCell_4_Label_do56 {
  height: 20px;
}

#cntRobotOutputsCell_4_Label_do56 {
  z-index: 21;
}

#cntRobotOutputsCell_4_Label_do57 {
  top: 272px;
  position: absolute;
}

#cntRobotOutputsCell_4_Label_do57 {
  left: 32px;
  position: absolute;
}

#cntRobotOutputsCell_4_Label_do57 {
  width: 240px;
}

#cntRobotOutputsCell_4_Label_do57 {
  height: 20px;
}

#cntRobotOutputsCell_4_Label_do57 {
  z-index: 22;
}

#cntRobotOutputsCell_4_Label_do58 {
  top: 302px;
  position: absolute;
}

#cntRobotOutputsCell_4_Label_do58 {
  left: 32px;
  position: absolute;
}

#cntRobotOutputsCell_4_Label_do58 {
  width: 240px;
}

#cntRobotOutputsCell_4_Label_do58 {
  height: 20px;
}

#cntRobotOutputsCell_4_Label_do58 {
  z-index: 23;
}

#cntRobotOutputsCell_4_Label_do59 {
  top: 332px;
  position: absolute;
}

#cntRobotOutputsCell_4_Label_do59 {
  left: 32px;
  position: absolute;
}

#cntRobotOutputsCell_4_Label_do59 {
  width: 240px;
}

#cntRobotOutputsCell_4_Label_do59 {
  height: 20px;
}

#cntRobotOutputsCell_4_Label_do59 {
  z-index: 24;
}

#cntRobotOutputsCell_4_Label_do60 {
  top: 362px;
  position: absolute;
}

#cntRobotOutputsCell_4_Label_do60 {
  left: 32px;
  position: absolute;
}

#cntRobotOutputsCell_4_Label_do60 {
  width: 245px;
}

#cntRobotOutputsCell_4_Label_do60 {
  height: 20px;
}

#cntRobotOutputsCell_4_Label_do60 {
  z-index: 25;
}

#cntRobotOutputsCell_4_Label_do61 {
  top: 392px;
  position: absolute;
}

#cntRobotOutputsCell_4_Label_do61 {
  left: 32px;
  position: absolute;
}

#cntRobotOutputsCell_4_Label_do61 {
  width: 245px;
}

#cntRobotOutputsCell_4_Label_do61 {
  height: 20px;
}

#cntRobotOutputsCell_4_Label_do61 {
  z-index: 26;
}

#cntRobotOutputsCell_4_Label_do62 {
  top: 422px;
  position: absolute;
}

#cntRobotOutputsCell_4_Label_do62 {
  left: 32px;
  position: absolute;
}

#cntRobotOutputsCell_4_Label_do62 {
  width: 245px;
}

#cntRobotOutputsCell_4_Label_do62 {
  height: 20px;
}

#cntRobotOutputsCell_4_Label_do62 {
  z-index: 27;
}

#cntRobotOutputsCell_4_Label_do63 {
  top: 452px;
  position: absolute;
}

#cntRobotOutputsCell_4_Label_do63 {
  left: 32px;
  position: absolute;
}

#cntRobotOutputsCell_4_Label_do63 {
  width: 245px;
}

#cntRobotOutputsCell_4_Label_do63 {
  height: 20px;
}

#cntRobotOutputsCell_4_Label_do63 {
  z-index: 28;
}

#cntRobotOutputsCell_4_Label_do64 {
  top: 482px;
  position: absolute;
}

#cntRobotOutputsCell_4_Label_do64 {
  left: 32px;
  position: absolute;
}

#cntRobotOutputsCell_4_Label_do64 {
  width: 245px;
}

#cntRobotOutputsCell_4_Label_do64 {
  height: 20px;
}

#cntRobotOutputsCell_4_Label_do64 {
  z-index: 29;
}

#cntRobotOutputsCell_4_NumericOutput6 {
  top: 272px;
  position: absolute;
}

#cntRobotOutputsCell_4_NumericOutput6 {
  left: 0px;
  position: absolute;
}

#cntRobotOutputsCell_4_NumericOutput6 {
  width: 40px;
}

#cntRobotOutputsCell_4_NumericOutput6 {
  height: 20px;
}

#cntRobotOutputsCell_4_NumericOutput6 {
  z-index: 30;
}

#cntRobotOutputsCell_4_NumericOutput6 {
  border-color: black;
}

#cntRobotOutputsCell_4_NumericOutput6 input {
  color: black;
}

#cntRobotOutputsCell_4_NumericOutput6 span.breaseNumericOutput_unit {
  color: black;
}

#cntRobotOutputsCell_4_NumericOutput6 input {
  font-size: 14px;
}

#cntRobotOutputsCell_4_NumericOutput6 .breaseNumericOutput_unit {
  font-size: 14px;
}

#cntRobotOutputsCell_4_NumericOutput6 {
  padding: 0px 5px 0px 0px;
}

#cntRobotOutputsCell_4_NumericOutput6 {
  margin: 0px;
}

#cntRobotOutputsCell_4_NumericOutput7 {
  top: 302px;
  position: absolute;
}

#cntRobotOutputsCell_4_NumericOutput7 {
  left: 0px;
  position: absolute;
}

#cntRobotOutputsCell_4_NumericOutput7 {
  width: 60px;
}

#cntRobotOutputsCell_4_NumericOutput7 {
  height: 20px;
}

#cntRobotOutputsCell_4_NumericOutput7 {
  z-index: 31;
}

#cntRobotOutputsCell_4_NumericOutput7 {
  border-color: black;
}

#cntRobotOutputsCell_4_NumericOutput7 input {
  color: black;
}

#cntRobotOutputsCell_4_NumericOutput7 span.breaseNumericOutput_unit {
  color: black;
}

#cntRobotOutputsCell_4_NumericOutput7 input {
  font-size: 14px;
}

#cntRobotOutputsCell_4_NumericOutput7 {
  margin: 0px;
}

#cntRobotOutputsCell_4_NumericOutput8 {
  top: 332px;
  position: absolute;
}

#cntRobotOutputsCell_4_NumericOutput8 {
  left: 0px;
  position: absolute;
}

#cntRobotOutputsCell_4_NumericOutput8 {
  width: 60px;
}

#cntRobotOutputsCell_4_NumericOutput8 {
  height: 20px;
}

#cntRobotOutputsCell_4_NumericOutput8 {
  z-index: 32;
}

#cntRobotOutputsCell_4_NumericOutput8 {
  border-color: black;
}

#cntRobotOutputsCell_4_NumericOutput8 input {
  color: black;
}

#cntRobotOutputsCell_4_NumericOutput8 span.breaseNumericOutput_unit {
  color: black;
}

#cntRobotOutputsCell_4_NumericOutput8 input {
  font-size: 14px;
}

#cntRobotOutputsCell_4_NumericOutput8 {
  margin: 0px;
}

#cntRobotOutputsCell_4_GridLineItem3 {
  z-index: 2;
}

#cntRobotOutputsCell_4_GridLineItem3 {
  padding: 0px 10px 10px 10px;
}

#cntRobotOutputsCell_4_ImageList29 {
  top: 92px;
  position: absolute;
}

#cntRobotOutputsCell_4_ImageList29 {
  left: 5px;
  position: absolute;
}

#cntRobotOutputsCell_4_ImageList29 {
  width: 20px;
}

#cntRobotOutputsCell_4_ImageList29 {
  height: 20px;
}

#cntRobotOutputsCell_4_ImageList29 {
  z-index: 0;
}

#cntRobotOutputsCell_4_ImageList30 {
  top: 122px;
  position: absolute;
}

#cntRobotOutputsCell_4_ImageList30 {
  left: 5px;
  position: absolute;
}

#cntRobotOutputsCell_4_ImageList30 {
  width: 20px;
}

#cntRobotOutputsCell_4_ImageList30 {
  height: 20px;
}

#cntRobotOutputsCell_4_ImageList30 {
  z-index: 1;
}

#cntRobotOutputsCell_4_ImageList31 {
  top: 152px;
  position: absolute;
}

#cntRobotOutputsCell_4_ImageList31 {
  left: 5px;
  position: absolute;
}

#cntRobotOutputsCell_4_ImageList31 {
  width: 20px;
}

#cntRobotOutputsCell_4_ImageList31 {
  height: 20px;
}

#cntRobotOutputsCell_4_ImageList31 {
  z-index: 2;
}

#cntRobotOutputsCell_4_ImageList32 {
  top: 182px;
  position: absolute;
}

#cntRobotOutputsCell_4_ImageList32 {
  left: 5px;
  position: absolute;
}

#cntRobotOutputsCell_4_ImageList32 {
  width: 20px;
}

#cntRobotOutputsCell_4_ImageList32 {
  height: 20px;
}

#cntRobotOutputsCell_4_ImageList32 {
  z-index: 3;
}

#cntRobotOutputsCell_4_ImageList33 {
  top: 212px;
  position: absolute;
}

#cntRobotOutputsCell_4_ImageList33 {
  left: 5px;
  position: absolute;
}

#cntRobotOutputsCell_4_ImageList33 {
  width: 20px;
}

#cntRobotOutputsCell_4_ImageList33 {
  height: 20px;
}

#cntRobotOutputsCell_4_ImageList33 {
  z-index: 4;
}

#cntRobotOutputsCell_4_ImageList34 {
  top: 242px;
  position: absolute;
}

#cntRobotOutputsCell_4_ImageList34 {
  left: 5px;
  position: absolute;
}

#cntRobotOutputsCell_4_ImageList34 {
  width: 20px;
}

#cntRobotOutputsCell_4_ImageList34 {
  height: 20px;
}

#cntRobotOutputsCell_4_ImageList34 {
  z-index: 5;
}

#cntRobotOutputsCell_4_ImageList35 {
  top: 272px;
  position: absolute;
}

#cntRobotOutputsCell_4_ImageList35 {
  left: 5px;
  position: absolute;
}

#cntRobotOutputsCell_4_ImageList35 {
  width: 20px;
}

#cntRobotOutputsCell_4_ImageList35 {
  height: 20px;
}

#cntRobotOutputsCell_4_ImageList35 {
  z-index: 6;
}

#cntRobotOutputsCell_4_ImageList36 {
  top: 302px;
  position: absolute;
}

#cntRobotOutputsCell_4_ImageList36 {
  left: 5px;
  position: absolute;
}

#cntRobotOutputsCell_4_ImageList36 {
  width: 20px;
}

#cntRobotOutputsCell_4_ImageList36 {
  height: 20px;
}

#cntRobotOutputsCell_4_ImageList36 {
  z-index: 7;
}

#cntRobotOutputsCell_4_ImageList37 {
  top: 332px;
  position: absolute;
}

#cntRobotOutputsCell_4_ImageList37 {
  left: 5px;
  position: absolute;
}

#cntRobotOutputsCell_4_ImageList37 {
  width: 20px;
}

#cntRobotOutputsCell_4_ImageList37 {
  height: 20px;
}

#cntRobotOutputsCell_4_ImageList37 {
  z-index: 8;
}

#cntRobotOutputsCell_4_ImageList41 {
  top: 452px;
  position: absolute;
}

#cntRobotOutputsCell_4_ImageList41 {
  left: 5px;
  position: absolute;
}

#cntRobotOutputsCell_4_ImageList41 {
  width: 20px;
}

#cntRobotOutputsCell_4_ImageList41 {
  height: 20px;
}

#cntRobotOutputsCell_4_ImageList41 {
  z-index: 9;
}

#cntRobotOutputsCell_4_ImageList42 {
  top: 482px;
  position: absolute;
}

#cntRobotOutputsCell_4_ImageList42 {
  left: 5px;
  position: absolute;
}

#cntRobotOutputsCell_4_ImageList42 {
  width: 20px;
}

#cntRobotOutputsCell_4_ImageList42 {
  height: 20px;
}

#cntRobotOutputsCell_4_ImageList42 {
  z-index: 10;
}

#cntRobotOutputsCell_4_ImageList51 {
  top: 62px;
  position: absolute;
}

#cntRobotOutputsCell_4_ImageList51 {
  left: 5px;
  position: absolute;
}

#cntRobotOutputsCell_4_ImageList51 {
  width: 20px;
}

#cntRobotOutputsCell_4_ImageList51 {
  height: 20px;
}

#cntRobotOutputsCell_4_ImageList51 {
  z-index: 11;
}

#cntRobotOutputsCell_4_ImageList52 {
  top: 32px;
  position: absolute;
}

#cntRobotOutputsCell_4_ImageList52 {
  left: 5px;
  position: absolute;
}

#cntRobotOutputsCell_4_ImageList52 {
  width: 20px;
}

#cntRobotOutputsCell_4_ImageList52 {
  height: 20px;
}

#cntRobotOutputsCell_4_ImageList52 {
  z-index: 12;
}

#cntRobotOutputsCell_4_Label4 {
  top: 5px;
  position: absolute;
}

#cntRobotOutputsCell_4_Label4 {
  left: 54px;
  position: absolute;
}

#cntRobotOutputsCell_4_Label4 {
  width: 190px;
}

#cntRobotOutputsCell_4_Label4 {
  height: 20px;
}

#cntRobotOutputsCell_4_Label4 {
  z-index: 13;
}

#cntRobotOutputsCell_4_Label4 span {
  color: dimgray;
}

#cntRobotOutputsCell_4_Label4 {
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntRobotOutputsCell_4_Label4 {
  font-size: 18px;
}

#cntRobotOutputsCell_4_Label4 span {
  text-decoration: underline;
}

#cntRobotOutputsCell_4_Label_do65 {
  top: 32px;
  position: absolute;
}

#cntRobotOutputsCell_4_Label_do65 {
  left: 35px;
  position: absolute;
}

#cntRobotOutputsCell_4_Label_do65 {
  width: 230px;
}

#cntRobotOutputsCell_4_Label_do65 {
  height: 20px;
}

#cntRobotOutputsCell_4_Label_do65 {
  z-index: 14;
}

#cntRobotOutputsCell_4_Label_do66 {
  top: 62px;
  position: absolute;
}

#cntRobotOutputsCell_4_Label_do66 {
  left: 35px;
  position: absolute;
}

#cntRobotOutputsCell_4_Label_do66 {
  width: 230px;
}

#cntRobotOutputsCell_4_Label_do66 {
  height: 20px;
}

#cntRobotOutputsCell_4_Label_do66 {
  z-index: 15;
}

#cntRobotOutputsCell_4_Label_do67 {
  top: 92px;
  position: absolute;
}

#cntRobotOutputsCell_4_Label_do67 {
  left: 35px;
  position: absolute;
}

#cntRobotOutputsCell_4_Label_do67 {
  width: 230px;
}

#cntRobotOutputsCell_4_Label_do67 {
  height: 20px;
}

#cntRobotOutputsCell_4_Label_do67 {
  z-index: 16;
}

#cntRobotOutputsCell_4_Label_do68 {
  top: 122px;
  position: absolute;
}

#cntRobotOutputsCell_4_Label_do68 {
  left: 35px;
  position: absolute;
}

#cntRobotOutputsCell_4_Label_do68 {
  width: 230px;
}

#cntRobotOutputsCell_4_Label_do68 {
  height: 20px;
}

#cntRobotOutputsCell_4_Label_do68 {
  z-index: 17;
}

#cntRobotOutputsCell_4_Label_do69 {
  top: 152px;
  position: absolute;
}

#cntRobotOutputsCell_4_Label_do69 {
  left: 35px;
  position: absolute;
}

#cntRobotOutputsCell_4_Label_do69 {
  width: 230px;
}

#cntRobotOutputsCell_4_Label_do69 {
  height: 20px;
}

#cntRobotOutputsCell_4_Label_do69 {
  z-index: 18;
}

#cntRobotOutputsCell_4_Label_do70 {
  top: 182px;
  position: absolute;
}

#cntRobotOutputsCell_4_Label_do70 {
  left: 35px;
  position: absolute;
}

#cntRobotOutputsCell_4_Label_do70 {
  width: 230px;
}

#cntRobotOutputsCell_4_Label_do70 {
  height: 20px;
}

#cntRobotOutputsCell_4_Label_do70 {
  z-index: 19;
}

#cntRobotOutputsCell_4_Label_do71 {
  top: 212px;
  position: absolute;
}

#cntRobotOutputsCell_4_Label_do71 {
  left: 35px;
  position: absolute;
}

#cntRobotOutputsCell_4_Label_do71 {
  width: 230px;
}

#cntRobotOutputsCell_4_Label_do71 {
  height: 20px;
}

#cntRobotOutputsCell_4_Label_do71 {
  z-index: 20;
}

#cntRobotOutputsCell_4_Label_do72 {
  top: 242px;
  position: absolute;
}

#cntRobotOutputsCell_4_Label_do72 {
  left: 35px;
  position: absolute;
}

#cntRobotOutputsCell_4_Label_do72 {
  width: 230px;
}

#cntRobotOutputsCell_4_Label_do72 {
  height: 20px;
}

#cntRobotOutputsCell_4_Label_do72 {
  z-index: 21;
}

#cntRobotOutputsCell_4_Label_do73 {
  top: 272px;
  position: absolute;
}

#cntRobotOutputsCell_4_Label_do73 {
  left: 35px;
  position: absolute;
}

#cntRobotOutputsCell_4_Label_do73 {
  width: 230px;
}

#cntRobotOutputsCell_4_Label_do73 {
  height: 20px;
}

#cntRobotOutputsCell_4_Label_do73 {
  z-index: 22;
}

#cntRobotOutputsCell_4_Label_do74 {
  top: 302px;
  position: absolute;
}

#cntRobotOutputsCell_4_Label_do74 {
  left: 35px;
  position: absolute;
}

#cntRobotOutputsCell_4_Label_do74 {
  width: 230px;
}

#cntRobotOutputsCell_4_Label_do74 {
  height: 20px;
}

#cntRobotOutputsCell_4_Label_do74 {
  z-index: 23;
}

#cntRobotOutputsCell_4_Label_do75 {
  top: 332px;
  position: absolute;
}

#cntRobotOutputsCell_4_Label_do75 {
  left: 35px;
  position: absolute;
}

#cntRobotOutputsCell_4_Label_do75 {
  width: 230px;
}

#cntRobotOutputsCell_4_Label_do75 {
  height: 20px;
}

#cntRobotOutputsCell_4_Label_do75 {
  z-index: 24;
}

#cntRobotOutputsCell_4_Label_do76 {
  top: 362px;
  position: absolute;
}

#cntRobotOutputsCell_4_Label_do76 {
  left: 35px;
  position: absolute;
}

#cntRobotOutputsCell_4_Label_do76 {
  width: 230px;
}

#cntRobotOutputsCell_4_Label_do76 {
  height: 20px;
}

#cntRobotOutputsCell_4_Label_do76 {
  z-index: 25;
}

#cntRobotOutputsCell_4_Label_do77 {
  top: 392px;
  position: absolute;
}

#cntRobotOutputsCell_4_Label_do77 {
  left: 35px;
  position: absolute;
}

#cntRobotOutputsCell_4_Label_do77 {
  width: 230px;
}

#cntRobotOutputsCell_4_Label_do77 {
  height: 20px;
}

#cntRobotOutputsCell_4_Label_do77 {
  z-index: 26;
}

#cntRobotOutputsCell_4_Label_do78 {
  top: 422px;
  position: absolute;
}

#cntRobotOutputsCell_4_Label_do78 {
  left: 35px;
  position: absolute;
}

#cntRobotOutputsCell_4_Label_do78 {
  width: 230px;
}

#cntRobotOutputsCell_4_Label_do78 {
  height: 20px;
}

#cntRobotOutputsCell_4_Label_do78 {
  z-index: 27;
}

#cntRobotOutputsCell_4_Label_do79 {
  top: 452px;
  position: absolute;
}

#cntRobotOutputsCell_4_Label_do79 {
  left: 35px;
  position: absolute;
}

#cntRobotOutputsCell_4_Label_do79 {
  width: 240px;
}

#cntRobotOutputsCell_4_Label_do79 {
  height: 20px;
}

#cntRobotOutputsCell_4_Label_do79 {
  z-index: 28;
}

#cntRobotOutputsCell_4_Label_do80 {
  top: 482px;
  position: absolute;
}

#cntRobotOutputsCell_4_Label_do80 {
  left: 35px;
  position: absolute;
}

#cntRobotOutputsCell_4_Label_do80 {
  width: 240px;
}

#cntRobotOutputsCell_4_Label_do80 {
  height: 20px;
}

#cntRobotOutputsCell_4_Label_do80 {
  z-index: 29;
}

#cntRobotOutputsCell_4_NumericOutput9 {
  top: 362px;
  position: absolute;
}

#cntRobotOutputsCell_4_NumericOutput9 {
  left: 0px;
  position: absolute;
}

#cntRobotOutputsCell_4_NumericOutput9 {
  width: 60px;
}

#cntRobotOutputsCell_4_NumericOutput9 {
  height: 20px;
}

#cntRobotOutputsCell_4_NumericOutput9 {
  z-index: 30;
}

#cntRobotOutputsCell_4_NumericOutput9 {
  border-width: 0px;
}

#cntRobotOutputsCell_4_NumericOutput9 {
  border-radius: 0px;
}

#cntRobotOutputsCell_4_NumericOutput9 {
  border-color: #333333;
}

#cntRobotOutputsCell_4_NumericOutput9 input {
  color: black;
}

#cntRobotOutputsCell_4_NumericOutput9 span.breaseNumericOutput_unit {
  color: black;
}

#cntRobotOutputsCell_4_NumericOutput9 input {
  justify-content: flex-end;
  text-align: right;
}

#cntRobotOutputsCell_4_NumericOutput9 input {
  font-size: 14px;
}

#cntRobotOutputsCell_4_NumericOutput9 {
  margin: 0px;
}

#cntRobotOutputsCell_4_NumericOutput10 {
  top: 392px;
  position: absolute;
}

#cntRobotOutputsCell_4_NumericOutput10 {
  left: 0px;
  position: absolute;
}

#cntRobotOutputsCell_4_NumericOutput10 {
  width: 60px;
}

#cntRobotOutputsCell_4_NumericOutput10 {
  height: 20px;
}

#cntRobotOutputsCell_4_NumericOutput10 {
  z-index: 31;
}

#cntRobotOutputsCell_4_NumericOutput10 {
  border-color: black;
}

#cntRobotOutputsCell_4_NumericOutput10 input {
  color: black;
}

#cntRobotOutputsCell_4_NumericOutput10 span.breaseNumericOutput_unit {
  color: black;
}

#cntRobotOutputsCell_4_NumericOutput10 input {
  font-size: 14px;
}

#cntRobotOutputsCell_4_NumericOutput10 {
  margin: 0px;
}

#cntRobotOutputsCell_4_NumericOutput11 {
  top: 422px;
  position: absolute;
}

#cntRobotOutputsCell_4_NumericOutput11 {
  left: 0px;
  position: absolute;
}

#cntRobotOutputsCell_4_NumericOutput11 {
  width: 60px;
}

#cntRobotOutputsCell_4_NumericOutput11 {
  height: 20px;
}

#cntRobotOutputsCell_4_NumericOutput11 {
  z-index: 32;
}

#cntRobotOutputsCell_4_NumericOutput11 {
  border-color: black;
}

#cntRobotOutputsCell_4_NumericOutput11 input {
  color: black;
}

#cntRobotOutputsCell_4_NumericOutput11 span.breaseNumericOutput_unit {
  color: black;
}

#cntRobotOutputsCell_4_NumericOutput11 input {
  font-size: 14px;
}

#cntRobotOutputsCell_4_NumericOutput11 {
  margin: 0px;
}

#cntRobotOutputsCell_4_GridLineItem4 {
  z-index: 3;
}

#cntRobotOutputsCell_4_GridLineItem4 {
  padding: 0px 10px 10px 10px;
}

#cntRobotOutputsCell_4_ImageList43 {
  top: 92px;
  position: absolute;
}

#cntRobotOutputsCell_4_ImageList43 {
  left: 5px;
  position: absolute;
}

#cntRobotOutputsCell_4_ImageList43 {
  width: 20px;
}

#cntRobotOutputsCell_4_ImageList43 {
  height: 20px;
}

#cntRobotOutputsCell_4_ImageList43 {
  z-index: 0;
}

#cntRobotOutputsCell_4_ImageList44 {
  top: 122px;
  position: absolute;
}

#cntRobotOutputsCell_4_ImageList44 {
  left: 5px;
  position: absolute;
}

#cntRobotOutputsCell_4_ImageList44 {
  width: 20px;
}

#cntRobotOutputsCell_4_ImageList44 {
  height: 20px;
}

#cntRobotOutputsCell_4_ImageList44 {
  z-index: 1;
}

#cntRobotOutputsCell_4_ImageList45 {
  top: 152px;
  position: absolute;
}

#cntRobotOutputsCell_4_ImageList45 {
  left: 5px;
  position: absolute;
}

#cntRobotOutputsCell_4_ImageList45 {
  width: 20px;
}

#cntRobotOutputsCell_4_ImageList45 {
  height: 20px;
}

#cntRobotOutputsCell_4_ImageList45 {
  z-index: 2;
}

#cntRobotOutputsCell_4_ImageList46 {
  top: 182px;
  position: absolute;
}

#cntRobotOutputsCell_4_ImageList46 {
  left: 5px;
  position: absolute;
}

#cntRobotOutputsCell_4_ImageList46 {
  width: 20px;
}

#cntRobotOutputsCell_4_ImageList46 {
  height: 20px;
}

#cntRobotOutputsCell_4_ImageList46 {
  z-index: 3;
}

#cntRobotOutputsCell_4_ImageList53 {
  top: 212px;
  position: absolute;
}

#cntRobotOutputsCell_4_ImageList53 {
  left: 5px;
  position: absolute;
}

#cntRobotOutputsCell_4_ImageList53 {
  width: 20px;
}

#cntRobotOutputsCell_4_ImageList53 {
  height: 20px;
}

#cntRobotOutputsCell_4_ImageList53 {
  z-index: 4;
}

#cntRobotOutputsCell_4_ImageList54 {
  top: 242px;
  position: absolute;
}

#cntRobotOutputsCell_4_ImageList54 {
  left: 5px;
  position: absolute;
}

#cntRobotOutputsCell_4_ImageList54 {
  width: 20px;
}

#cntRobotOutputsCell_4_ImageList54 {
  height: 20px;
}

#cntRobotOutputsCell_4_ImageList54 {
  z-index: 5;
}

#cntRobotOutputsCell_4_ImageList55 {
  top: 272px;
  position: absolute;
}

#cntRobotOutputsCell_4_ImageList55 {
  left: 5px;
  position: absolute;
}

#cntRobotOutputsCell_4_ImageList55 {
  width: 20px;
}

#cntRobotOutputsCell_4_ImageList55 {
  height: 20px;
}

#cntRobotOutputsCell_4_ImageList55 {
  z-index: 6;
}

#cntRobotOutputsCell_4_ImageList56 {
  top: 302px;
  position: absolute;
}

#cntRobotOutputsCell_4_ImageList56 {
  left: 5px;
  position: absolute;
}

#cntRobotOutputsCell_4_ImageList56 {
  width: 20px;
}

#cntRobotOutputsCell_4_ImageList56 {
  height: 20px;
}

#cntRobotOutputsCell_4_ImageList56 {
  z-index: 7;
}

#cntRobotOutputsCell_4_ImageList57 {
  top: 332px;
  position: absolute;
}

#cntRobotOutputsCell_4_ImageList57 {
  left: 5px;
  position: absolute;
}

#cntRobotOutputsCell_4_ImageList57 {
  width: 20px;
}

#cntRobotOutputsCell_4_ImageList57 {
  height: 20px;
}

#cntRobotOutputsCell_4_ImageList57 {
  z-index: 8;
}

#cntRobotOutputsCell_4_ImageList58 {
  top: 362px;
  position: absolute;
}

#cntRobotOutputsCell_4_ImageList58 {
  left: 5px;
  position: absolute;
}

#cntRobotOutputsCell_4_ImageList58 {
  width: 20px;
}

#cntRobotOutputsCell_4_ImageList58 {
  height: 20px;
}

#cntRobotOutputsCell_4_ImageList58 {
  z-index: 9;
}

#cntRobotOutputsCell_4_ImageList59 {
  top: 392px;
  position: absolute;
}

#cntRobotOutputsCell_4_ImageList59 {
  left: 5px;
  position: absolute;
}

#cntRobotOutputsCell_4_ImageList59 {
  width: 20px;
}

#cntRobotOutputsCell_4_ImageList59 {
  height: 20px;
}

#cntRobotOutputsCell_4_ImageList59 {
  z-index: 10;
}

#cntRobotOutputsCell_4_ImageList60 {
  top: 422px;
  position: absolute;
}

#cntRobotOutputsCell_4_ImageList60 {
  left: 5px;
  position: absolute;
}

#cntRobotOutputsCell_4_ImageList60 {
  width: 20px;
}

#cntRobotOutputsCell_4_ImageList60 {
  height: 20px;
}

#cntRobotOutputsCell_4_ImageList60 {
  z-index: 11;
}

#cntRobotOutputsCell_4_ImageList63 {
  top: 62px;
  position: absolute;
}

#cntRobotOutputsCell_4_ImageList63 {
  left: 5px;
  position: absolute;
}

#cntRobotOutputsCell_4_ImageList63 {
  width: 20px;
}

#cntRobotOutputsCell_4_ImageList63 {
  height: 20px;
}

#cntRobotOutputsCell_4_ImageList63 {
  z-index: 12;
}

#cntRobotOutputsCell_4_ImageList64 {
  top: 32px;
  position: absolute;
}

#cntRobotOutputsCell_4_ImageList64 {
  left: 5px;
  position: absolute;
}

#cntRobotOutputsCell_4_ImageList64 {
  width: 20px;
}

#cntRobotOutputsCell_4_ImageList64 {
  height: 20px;
}

#cntRobotOutputsCell_4_ImageList64 {
  z-index: 13;
}

#cntRobotOutputsCell_4_Label5 {
  top: 5px;
  position: absolute;
}

#cntRobotOutputsCell_4_Label5 {
  left: 54px;
  position: absolute;
}

#cntRobotOutputsCell_4_Label5 {
  width: 190px;
}

#cntRobotOutputsCell_4_Label5 {
  height: 20px;
}

#cntRobotOutputsCell_4_Label5 {
  z-index: 14;
}

#cntRobotOutputsCell_4_Label5 span {
  color: dimgray;
}

#cntRobotOutputsCell_4_Label5 {
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntRobotOutputsCell_4_Label5 {
  font-size: 18px;
}

#cntRobotOutputsCell_4_Label5 span {
  text-decoration: underline;
}

#cntRobotOutputsCell_4_Label_do81 {
  top: 35px;
  position: absolute;
}

#cntRobotOutputsCell_4_Label_do81 {
  left: 35px;
  position: absolute;
}

#cntRobotOutputsCell_4_Label_do81 {
  width: 265px;
}

#cntRobotOutputsCell_4_Label_do81 {
  height: 20px;
}

#cntRobotOutputsCell_4_Label_do81 {
  z-index: 15;
}

#cntRobotOutputsCell_4_Label_do81 {
  font-size: 15px;
}

#cntRobotOutputsCell_4_Label_do82 {
  top: 65px;
  position: absolute;
}

#cntRobotOutputsCell_4_Label_do82 {
  left: 35px;
  position: absolute;
}

#cntRobotOutputsCell_4_Label_do82 {
  width: 265px;
}

#cntRobotOutputsCell_4_Label_do82 {
  height: 20px;
}

#cntRobotOutputsCell_4_Label_do82 {
  z-index: 16;
}

#cntRobotOutputsCell_4_Label_do82 {
  font-size: 15px;
}

#cntRobotOutputsCell_4_Label_do83 {
  top: 95px;
  position: absolute;
}

#cntRobotOutputsCell_4_Label_do83 {
  left: 35px;
  position: absolute;
}

#cntRobotOutputsCell_4_Label_do83 {
  width: 265px;
}

#cntRobotOutputsCell_4_Label_do83 {
  height: 20px;
}

#cntRobotOutputsCell_4_Label_do83 {
  z-index: 17;
}

#cntRobotOutputsCell_4_Label_do83 {
  font-size: 15px;
}

#cntRobotOutputsCell_4_Label_do84 {
  top: 125px;
  position: absolute;
}

#cntRobotOutputsCell_4_Label_do84 {
  left: 35px;
  position: absolute;
}

#cntRobotOutputsCell_4_Label_do84 {
  width: 265px;
}

#cntRobotOutputsCell_4_Label_do84 {
  height: 20px;
}

#cntRobotOutputsCell_4_Label_do84 {
  z-index: 18;
}

#cntRobotOutputsCell_4_Label_do84 {
  font-size: 15px;
}

#cntRobotOutputsCell_4_Label_do85 {
  top: 155px;
  position: absolute;
}

#cntRobotOutputsCell_4_Label_do85 {
  left: 35px;
  position: absolute;
}

#cntRobotOutputsCell_4_Label_do85 {
  width: 230px;
}

#cntRobotOutputsCell_4_Label_do85 {
  height: 20px;
}

#cntRobotOutputsCell_4_Label_do85 {
  z-index: 19;
}

#cntRobotOutputsCell_4_Label_do86 {
  top: 182px;
  position: absolute;
}

#cntRobotOutputsCell_4_Label_do86 {
  left: 35px;
  position: absolute;
}

#cntRobotOutputsCell_4_Label_do86 {
  width: 230px;
}

#cntRobotOutputsCell_4_Label_do86 {
  height: 20px;
}

#cntRobotOutputsCell_4_Label_do86 {
  z-index: 20;
}

#cntRobotOutputsCell_4_Label_do87 {
  top: 212px;
  position: absolute;
}

#cntRobotOutputsCell_4_Label_do87 {
  left: 35px;
  position: absolute;
}

#cntRobotOutputsCell_4_Label_do87 {
  width: 230px;
}

#cntRobotOutputsCell_4_Label_do87 {
  height: 20px;
}

#cntRobotOutputsCell_4_Label_do87 {
  z-index: 21;
}

#cntRobotOutputsCell_4_Label_do88 {
  top: 242px;
  position: absolute;
}

#cntRobotOutputsCell_4_Label_do88 {
  left: 35px;
  position: absolute;
}

#cntRobotOutputsCell_4_Label_do88 {
  width: 230px;
}

#cntRobotOutputsCell_4_Label_do88 {
  height: 20px;
}

#cntRobotOutputsCell_4_Label_do88 {
  z-index: 22;
}

#cntRobotOutputsCell_4_Label_do89 {
  top: 272px;
  position: absolute;
}

#cntRobotOutputsCell_4_Label_do89 {
  left: 35px;
  position: absolute;
}

#cntRobotOutputsCell_4_Label_do89 {
  width: 230px;
}

#cntRobotOutputsCell_4_Label_do89 {
  height: 20px;
}

#cntRobotOutputsCell_4_Label_do89 {
  z-index: 23;
}

#cntRobotOutputsCell_4_Label_do90 {
  top: 302px;
  position: absolute;
}

#cntRobotOutputsCell_4_Label_do90 {
  left: 35px;
  position: absolute;
}

#cntRobotOutputsCell_4_Label_do90 {
  width: 230px;
}

#cntRobotOutputsCell_4_Label_do90 {
  height: 20px;
}

#cntRobotOutputsCell_4_Label_do90 {
  z-index: 24;
}

#cntRobotOutputsCell_4_Label_do91 {
  top: 332px;
  position: absolute;
}

#cntRobotOutputsCell_4_Label_do91 {
  left: 35px;
  position: absolute;
}

#cntRobotOutputsCell_4_Label_do91 {
  width: 230px;
}

#cntRobotOutputsCell_4_Label_do91 {
  height: 20px;
}

#cntRobotOutputsCell_4_Label_do91 {
  z-index: 25;
}

#cntRobotOutputsCell_4_Label_do92 {
  top: 362px;
  position: absolute;
}

#cntRobotOutputsCell_4_Label_do92 {
  left: 35px;
  position: absolute;
}

#cntRobotOutputsCell_4_Label_do92 {
  width: 230px;
}

#cntRobotOutputsCell_4_Label_do92 {
  height: 20px;
}

#cntRobotOutputsCell_4_Label_do92 {
  z-index: 26;
}

#cntRobotOutputsCell_4_Label_do93 {
  top: 392px;
  position: absolute;
}

#cntRobotOutputsCell_4_Label_do93 {
  left: 35px;
  position: absolute;
}

#cntRobotOutputsCell_4_Label_do93 {
  width: 230px;
}

#cntRobotOutputsCell_4_Label_do93 {
  height: 20px;
}

#cntRobotOutputsCell_4_Label_do93 {
  z-index: 27;
}

#cntRobotOutputsCell_4_Label_do94 {
  top: 422px;
  position: absolute;
}

#cntRobotOutputsCell_4_Label_do94 {
  left: 35px;
  position: absolute;
}

#cntRobotOutputsCell_4_Label_do94 {
  width: 230px;
}

#cntRobotOutputsCell_4_Label_do94 {
  height: 20px;
}

#cntRobotOutputsCell_4_Label_do94 {
  z-index: 28;
}

#cntRobotOutputsCell_4_Label_do95 {
  top: 455px;
  position: absolute;
}

#cntRobotOutputsCell_4_Label_do95 {
  left: 35px;
  position: absolute;
}

#cntRobotOutputsCell_4_Label_do95 {
  width: 230px;
}

#cntRobotOutputsCell_4_Label_do95 {
  height: 20px;
}

#cntRobotOutputsCell_4_Label_do95 {
  z-index: 29;
}

#cntRobotOutputsCell_4_NumericOutput5 {
  top: 455px;
  position: absolute;
}

#cntRobotOutputsCell_4_NumericOutput5 {
  left: 0px;
  position: absolute;
}

#cntRobotOutputsCell_4_NumericOutput5 {
  width: 60px;
}

#cntRobotOutputsCell_4_NumericOutput5 {
  height: 20px;
}

#cntRobotOutputsCell_4_NumericOutput5 {
  z-index: 30;
}

#cntRobotOutputsCell_4_NumericOutput5 {
  border-color: black;
}

#cntRobotOutputsCell_4_NumericOutput5 input {
  color: black;
}

#cntRobotOutputsCell_4_NumericOutput5 span.breaseNumericOutput_unit {
  color: black;
}

#cntRobotOutputsCell_4_NumericOutput5 input {
  font-size: 14px;
}

#cntRobotOutputsCell_4_NumericOutput5 {
  margin: 0px;
}

#cntRobotOutputsCell_4_CheckBox_RobotOut {
  top: 0px;
  position: absolute;
}

#cntRobotOutputsCell_4_CheckBox_RobotOut {
  left: 250px;
  position: absolute;
}

#cntRobotOutputsCell_4_CheckBox_RobotOut {
  width: 45px;
}

#cntRobotOutputsCell_4_CheckBox_RobotOut {
  height: 45px;
}

#cntRobotOutputsCell_4_CheckBox_RobotOut {
  z-index: 1;
}

#cntRobotOutputsCell_4_CheckBox_RobotOut span {
  font-style: italic;
}

#cntRobotOutputsCell_4_CheckBox_RobotOut.checked:not(.disabled) svg {
  fill: red;
}
