#cntSafetyOutputsCell_1_GridLine1 {
  top: 0px;
  position: absolute;
}

#cntSafetyOutputsCell_1_GridLine1 {
  left: 0px;
  position: absolute;
}

#cntSafetyOutputsCell_1_GridLine1 {
  width: 300px;
}

#cntSafetyOutputsCell_1_GridLine1 {
  height: 540px;
}

#cntSafetyOutputsCell_1_GridLine1 {
  z-index: 0;
}

#cntSafetyOutputsCell_1_GridLine1 {
  margin: 0px 0px 0px 0px;
}

#cntSafetyOutputsCell_1_GridLine1 .container {
  padding: 5px 0px;
}

#cntSafetyOutputsCell_1_GridLineItem1 {
  z-index: 0;
}

#cntSafetyOutputsCell_1_GridLineItem1 {
  padding: 0px 10px 10px 10px;
}

#cntSafetyOutputsCell_1_Label2 {
  height: 30px;
}

#cntSafetyOutputsCell_1_Label2 {
  top: 0px;
  position: absolute;
}

#cntSafetyOutputsCell_1_Label2 {
  left: 0px;
  position: absolute;
}

#cntSafetyOutputsCell_1_Label2 {
  width: 300px;
}

#cntSafetyOutputsCell_1_Label2 {
  z-index: 0;
}

#cntSafetyOutputsCell_1_Label2 span {
  color: dimgray;
}

#cntSafetyOutputsCell_1_Label2 {
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntSafetyOutputsCell_1_Label2 span {
  text-decoration: underline;
}

#cntSafetyOutputsCell_1_ImageList1 {
  top: 45px;
  position: absolute;
}

#cntSafetyOutputsCell_1_ImageList1 {
  left: 5px;
  position: absolute;
}

#cntSafetyOutputsCell_1_ImageList1 {
  width: 20px;
}

#cntSafetyOutputsCell_1_ImageList1 {
  height: 20px;
}

#cntSafetyOutputsCell_1_ImageList1 {
  z-index: 1;
}

#cntSafetyOutputsCell_1_ImageList2 {
  top: 75px;
  position: absolute;
}

#cntSafetyOutputsCell_1_ImageList2 {
  left: 5px;
  position: absolute;
}

#cntSafetyOutputsCell_1_ImageList2 {
  width: 20px;
}

#cntSafetyOutputsCell_1_ImageList2 {
  height: 20px;
}

#cntSafetyOutputsCell_1_ImageList2 {
  z-index: 2;
}

#cntSafetyOutputsCell_1_ImageList3 {
  top: 105px;
  position: absolute;
}

#cntSafetyOutputsCell_1_ImageList3 {
  left: 5px;
  position: absolute;
}

#cntSafetyOutputsCell_1_ImageList3 {
  width: 20px;
}

#cntSafetyOutputsCell_1_ImageList3 {
  height: 20px;
}

#cntSafetyOutputsCell_1_ImageList3 {
  z-index: 3;
}

#cntSafetyOutputsCell_1_ImageList4 {
  top: 135px;
  position: absolute;
}

#cntSafetyOutputsCell_1_ImageList4 {
  left: 5px;
  position: absolute;
}

#cntSafetyOutputsCell_1_ImageList4 {
  width: 20px;
}

#cntSafetyOutputsCell_1_ImageList4 {
  height: 20px;
}

#cntSafetyOutputsCell_1_ImageList4 {
  z-index: 4;
}

#cntSafetyOutputsCell_1_Label1 {
  top: 45px;
  position: absolute;
}

#cntSafetyOutputsCell_1_Label1 {
  left: 35px;
  position: absolute;
}

#cntSafetyOutputsCell_1_Label1 {
  width: 230px;
}

#cntSafetyOutputsCell_1_Label1 {
  height: 20px;
}

#cntSafetyOutputsCell_1_Label1 {
  z-index: 5;
}

#cntSafetyOutputsCell_1_Label5 {
  top: 75px;
  position: absolute;
}

#cntSafetyOutputsCell_1_Label5 {
  left: 35px;
  position: absolute;
}

#cntSafetyOutputsCell_1_Label5 {
  width: 230px;
}

#cntSafetyOutputsCell_1_Label5 {
  height: 20px;
}

#cntSafetyOutputsCell_1_Label5 {
  z-index: 6;
}

#cntSafetyOutputsCell_1_Label6 {
  top: 105px;
  position: absolute;
}

#cntSafetyOutputsCell_1_Label6 {
  left: 35px;
  position: absolute;
}

#cntSafetyOutputsCell_1_Label6 {
  width: 230px;
}

#cntSafetyOutputsCell_1_Label6 {
  height: 20px;
}

#cntSafetyOutputsCell_1_Label6 {
  z-index: 7;
}

#cntSafetyOutputsCell_1_Label7 {
  top: 135px;
  position: absolute;
}

#cntSafetyOutputsCell_1_Label7 {
  left: 35px;
  position: absolute;
}

#cntSafetyOutputsCell_1_Label7 {
  width: 230px;
}

#cntSafetyOutputsCell_1_Label7 {
  height: 20px;
}

#cntSafetyOutputsCell_1_Label7 {
  z-index: 8;
}

#cntSafetyOutputsCell_1_GridLineItem2 {
  z-index: 1;
}

#cntSafetyOutputsCell_1_GridLineItem2 {
  padding: 0px 10px 10px 10px;
}

#cntSafetyOutputsCell_1_Label3 {
  height: 30px;
}

#cntSafetyOutputsCell_1_Label3 {
  top: -1px;
  position: absolute;
}

#cntSafetyOutputsCell_1_Label3 {
  left: -1px;
  position: absolute;
}

#cntSafetyOutputsCell_1_Label3 {
  width: 300px;
}

#cntSafetyOutputsCell_1_Label3 {
  z-index: 0;
}

#cntSafetyOutputsCell_1_Label3 span {
  color: dimgray;
}

#cntSafetyOutputsCell_1_Label3 {
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntSafetyOutputsCell_1_Label3 span {
  text-decoration: underline;
}

#cntSafetyOutputsCell_1_ImageList17 {
  top: 45px;
  position: absolute;
}

#cntSafetyOutputsCell_1_ImageList17 {
  left: 5px;
  position: absolute;
}

#cntSafetyOutputsCell_1_ImageList17 {
  width: 20px;
}

#cntSafetyOutputsCell_1_ImageList17 {
  height: 20px;
}

#cntSafetyOutputsCell_1_ImageList17 {
  z-index: 1;
}

#cntSafetyOutputsCell_1_ImageList18 {
  top: 75px;
  position: absolute;
}

#cntSafetyOutputsCell_1_ImageList18 {
  left: 5px;
  position: absolute;
}

#cntSafetyOutputsCell_1_ImageList18 {
  width: 20px;
}

#cntSafetyOutputsCell_1_ImageList18 {
  height: 20px;
}

#cntSafetyOutputsCell_1_ImageList18 {
  z-index: 2;
}

#cntSafetyOutputsCell_1_ImageList19 {
  top: 105px;
  position: absolute;
}

#cntSafetyOutputsCell_1_ImageList19 {
  left: 5px;
  position: absolute;
}

#cntSafetyOutputsCell_1_ImageList19 {
  width: 20px;
}

#cntSafetyOutputsCell_1_ImageList19 {
  height: 20px;
}

#cntSafetyOutputsCell_1_ImageList19 {
  z-index: 3;
}

#cntSafetyOutputsCell_1_ImageList20 {
  top: 135px;
  position: absolute;
}

#cntSafetyOutputsCell_1_ImageList20 {
  left: 5px;
  position: absolute;
}

#cntSafetyOutputsCell_1_ImageList20 {
  width: 20px;
}

#cntSafetyOutputsCell_1_ImageList20 {
  height: 20px;
}

#cntSafetyOutputsCell_1_ImageList20 {
  z-index: 4;
}

#cntSafetyOutputsCell_1_Label4 {
  top: 45px;
  position: absolute;
}

#cntSafetyOutputsCell_1_Label4 {
  left: 35px;
  position: absolute;
}

#cntSafetyOutputsCell_1_Label4 {
  width: 230px;
}

#cntSafetyOutputsCell_1_Label4 {
  height: 20px;
}

#cntSafetyOutputsCell_1_Label4 {
  z-index: 5;
}

#cntSafetyOutputsCell_1_Label8 {
  top: 75px;
  position: absolute;
}

#cntSafetyOutputsCell_1_Label8 {
  left: 35px;
  position: absolute;
}

#cntSafetyOutputsCell_1_Label8 {
  width: 230px;
}

#cntSafetyOutputsCell_1_Label8 {
  height: 20px;
}

#cntSafetyOutputsCell_1_Label8 {
  z-index: 6;
}

#cntSafetyOutputsCell_1_Label9 {
  top: 105px;
  position: absolute;
}

#cntSafetyOutputsCell_1_Label9 {
  left: 35px;
  position: absolute;
}

#cntSafetyOutputsCell_1_Label9 {
  width: 230px;
}

#cntSafetyOutputsCell_1_Label9 {
  height: 20px;
}

#cntSafetyOutputsCell_1_Label9 {
  z-index: 7;
}

#cntSafetyOutputsCell_1_Label10 {
  top: 135px;
  position: absolute;
}

#cntSafetyOutputsCell_1_Label10 {
  left: 35px;
  position: absolute;
}

#cntSafetyOutputsCell_1_Label10 {
  width: 230px;
}

#cntSafetyOutputsCell_1_Label10 {
  height: 20px;
}

#cntSafetyOutputsCell_1_Label10 {
  z-index: 8;
}

#cntSafetyOutputsCell_1_CheckBox_SafetyIn {
  top: 0px;
  position: absolute;
}

#cntSafetyOutputsCell_1_CheckBox_SafetyIn {
  left: 250px;
  position: absolute;
}

#cntSafetyOutputsCell_1_CheckBox_SafetyIn {
  width: 45px;
}

#cntSafetyOutputsCell_1_CheckBox_SafetyIn {
  height: 45px;
}

#cntSafetyOutputsCell_1_CheckBox_SafetyIn {
  z-index: 1;
}

#cntSafetyOutputsCell_1_CheckBox_SafetyIn span {
  font-style: italic;
}

#cntSafetyOutputsCell_1_CheckBox_SafetyIn.checked:not(.disabled) svg {
  fill: red;
}
