﻿@import "mixins.scss";
#cntSafetyOutputsCell_1_GridLine1 {
	@include elemTop(0);
}
#cntSafetyOutputsCell_1_GridLine1 {
	@include elemLeft(0);
}
#cntSafetyOutputsCell_1_GridLine1 {
	@include elemWidth(300);
}
#cntSafetyOutputsCell_1_GridLine1 {
	@include elemHeight(540);
}
#cntSafetyOutputsCell_1_GridLine1 {
		z-index: 0;
}
#cntSafetyOutputsCell_1_GridLine1 {
		margin: 0px 0px 0px 0px;
}
#cntSafetyOutputsCell_1_GridLine1 {
	.container{
		padding: 5px 0px;
	}
}
#cntSafetyOutputsCell_1_GridLineItem1 {
		z-index: 0;
}
#cntSafetyOutputsCell_1_GridLineItem1 {
		padding: 0px 10px 10px 10px;
}
#cntSafetyOutputsCell_1_Label2 {
	@include elemAutoHeight(30);
}
#cntSafetyOutputsCell_1_Label2 {
	@include elemTop(0);
}
#cntSafetyOutputsCell_1_Label2 {
	@include elemLeft(0);
}
#cntSafetyOutputsCell_1_Label2 {
	@include elemAutoWidth(300);
}
#cntSafetyOutputsCell_1_Label2 {
		z-index: 0;
}
#cntSafetyOutputsCell_1_Label2 {
	& span{
		color: rgba(105, 105, 105, 1);
	}
}
#cntSafetyOutputsCell_1_Label2 {
	@include text-alignment-all('center');
}
#cntSafetyOutputsCell_1_Label2 {
	span{
	@include text-decoration-underline(true);
	}
}
#cntSafetyOutputsCell_1_ImageList1 {
	@include elemTop(45);
}
#cntSafetyOutputsCell_1_ImageList1 {
	@include elemLeft(5);
}
#cntSafetyOutputsCell_1_ImageList1 {
	@include elemWidth(20);
}
#cntSafetyOutputsCell_1_ImageList1 {
	@include elemHeight(20);
}
#cntSafetyOutputsCell_1_ImageList1 {
		z-index: 1;
}
#cntSafetyOutputsCell_1_ImageList2 {
	@include elemTop(75);
}
#cntSafetyOutputsCell_1_ImageList2 {
	@include elemLeft(5);
}
#cntSafetyOutputsCell_1_ImageList2 {
	@include elemWidth(20);
}
#cntSafetyOutputsCell_1_ImageList2 {
	@include elemHeight(20);
}
#cntSafetyOutputsCell_1_ImageList2 {
		z-index: 2;
}
#cntSafetyOutputsCell_1_ImageList3 {
	@include elemTop(105);
}
#cntSafetyOutputsCell_1_ImageList3 {
	@include elemLeft(5);
}
#cntSafetyOutputsCell_1_ImageList3 {
	@include elemWidth(20);
}
#cntSafetyOutputsCell_1_ImageList3 {
	@include elemHeight(20);
}
#cntSafetyOutputsCell_1_ImageList3 {
		z-index: 3;
}
#cntSafetyOutputsCell_1_ImageList4 {
	@include elemTop(135);
}
#cntSafetyOutputsCell_1_ImageList4 {
	@include elemLeft(5);
}
#cntSafetyOutputsCell_1_ImageList4 {
	@include elemWidth(20);
}
#cntSafetyOutputsCell_1_ImageList4 {
	@include elemHeight(20);
}
#cntSafetyOutputsCell_1_ImageList4 {
		z-index: 4;
}
#cntSafetyOutputsCell_1_Label1 {
	@include elemTop(45);
}
#cntSafetyOutputsCell_1_Label1 {
	@include elemLeft(35);
}
#cntSafetyOutputsCell_1_Label1 {
	@include elemAutoWidth(230);
}
#cntSafetyOutputsCell_1_Label1 {
	@include elemAutoHeight(20);
}
#cntSafetyOutputsCell_1_Label1 {
		z-index: 5;
}
#cntSafetyOutputsCell_1_Label5 {
	@include elemTop(75);
}
#cntSafetyOutputsCell_1_Label5 {
	@include elemLeft(35);
}
#cntSafetyOutputsCell_1_Label5 {
	@include elemAutoWidth(230);
}
#cntSafetyOutputsCell_1_Label5 {
	@include elemAutoHeight(20);
}
#cntSafetyOutputsCell_1_Label5 {
		z-index: 6;
}
#cntSafetyOutputsCell_1_Label6 {
	@include elemTop(105);
}
#cntSafetyOutputsCell_1_Label6 {
	@include elemLeft(35);
}
#cntSafetyOutputsCell_1_Label6 {
	@include elemAutoWidth(230);
}
#cntSafetyOutputsCell_1_Label6 {
	@include elemAutoHeight(20);
}
#cntSafetyOutputsCell_1_Label6 {
		z-index: 7;
}
#cntSafetyOutputsCell_1_Label7 {
	@include elemTop(135);
}
#cntSafetyOutputsCell_1_Label7 {
	@include elemLeft(35);
}
#cntSafetyOutputsCell_1_Label7 {
	@include elemAutoWidth(230);
}
#cntSafetyOutputsCell_1_Label7 {
	@include elemAutoHeight(20);
}
#cntSafetyOutputsCell_1_Label7 {
		z-index: 8;
}
#cntSafetyOutputsCell_1_GridLineItem2 {
		z-index: 1;
}
#cntSafetyOutputsCell_1_GridLineItem2 {
		padding: 0px 10px 10px 10px;
}
#cntSafetyOutputsCell_1_Label3 {
	@include elemAutoHeight(30);
}
#cntSafetyOutputsCell_1_Label3 {
	@include elemTop(-1);
}
#cntSafetyOutputsCell_1_Label3 {
	@include elemLeft(-1);
}
#cntSafetyOutputsCell_1_Label3 {
	@include elemAutoWidth(300);
}
#cntSafetyOutputsCell_1_Label3 {
		z-index: 0;
}
#cntSafetyOutputsCell_1_Label3 {
	& span{
		color: rgba(105, 105, 105, 1);
	}
}
#cntSafetyOutputsCell_1_Label3 {
	@include text-alignment-all('center');
}
#cntSafetyOutputsCell_1_Label3 {
	span{
	@include text-decoration-underline(true);
	}
}
#cntSafetyOutputsCell_1_ImageList17 {
	@include elemTop(45);
}
#cntSafetyOutputsCell_1_ImageList17 {
	@include elemLeft(5);
}
#cntSafetyOutputsCell_1_ImageList17 {
	@include elemWidth(20);
}
#cntSafetyOutputsCell_1_ImageList17 {
	@include elemHeight(20);
}
#cntSafetyOutputsCell_1_ImageList17 {
		z-index: 1;
}
#cntSafetyOutputsCell_1_ImageList18 {
	@include elemTop(75);
}
#cntSafetyOutputsCell_1_ImageList18 {
	@include elemLeft(5);
}
#cntSafetyOutputsCell_1_ImageList18 {
	@include elemWidth(20);
}
#cntSafetyOutputsCell_1_ImageList18 {
	@include elemHeight(20);
}
#cntSafetyOutputsCell_1_ImageList18 {
		z-index: 2;
}
#cntSafetyOutputsCell_1_ImageList19 {
	@include elemTop(105);
}
#cntSafetyOutputsCell_1_ImageList19 {
	@include elemLeft(5);
}
#cntSafetyOutputsCell_1_ImageList19 {
	@include elemWidth(20);
}
#cntSafetyOutputsCell_1_ImageList19 {
	@include elemHeight(20);
}
#cntSafetyOutputsCell_1_ImageList19 {
		z-index: 3;
}
#cntSafetyOutputsCell_1_ImageList20 {
	@include elemTop(135);
}
#cntSafetyOutputsCell_1_ImageList20 {
	@include elemLeft(5);
}
#cntSafetyOutputsCell_1_ImageList20 {
	@include elemWidth(20);
}
#cntSafetyOutputsCell_1_ImageList20 {
	@include elemHeight(20);
}
#cntSafetyOutputsCell_1_ImageList20 {
		z-index: 4;
}
#cntSafetyOutputsCell_1_Label4 {
	@include elemTop(45);
}
#cntSafetyOutputsCell_1_Label4 {
	@include elemLeft(35);
}
#cntSafetyOutputsCell_1_Label4 {
	@include elemAutoWidth(230);
}
#cntSafetyOutputsCell_1_Label4 {
	@include elemAutoHeight(20);
}
#cntSafetyOutputsCell_1_Label4 {
		z-index: 5;
}
#cntSafetyOutputsCell_1_Label8 {
	@include elemTop(75);
}
#cntSafetyOutputsCell_1_Label8 {
	@include elemLeft(35);
}
#cntSafetyOutputsCell_1_Label8 {
	@include elemAutoWidth(230);
}
#cntSafetyOutputsCell_1_Label8 {
	@include elemAutoHeight(20);
}
#cntSafetyOutputsCell_1_Label8 {
		z-index: 6;
}
#cntSafetyOutputsCell_1_Label9 {
	@include elemTop(105);
}
#cntSafetyOutputsCell_1_Label9 {
	@include elemLeft(35);
}
#cntSafetyOutputsCell_1_Label9 {
	@include elemAutoWidth(230);
}
#cntSafetyOutputsCell_1_Label9 {
	@include elemAutoHeight(20);
}
#cntSafetyOutputsCell_1_Label9 {
		z-index: 7;
}
#cntSafetyOutputsCell_1_Label10 {
	@include elemTop(135);
}
#cntSafetyOutputsCell_1_Label10 {
	@include elemLeft(35);
}
#cntSafetyOutputsCell_1_Label10 {
	@include elemAutoWidth(230);
}
#cntSafetyOutputsCell_1_Label10 {
	@include elemAutoHeight(20);
}
#cntSafetyOutputsCell_1_Label10 {
		z-index: 8;
}
#cntSafetyOutputsCell_1_CheckBox_SafetyIn {
	@include elemTop(0);
}
#cntSafetyOutputsCell_1_CheckBox_SafetyIn {
	@include elemLeft(250);
}
#cntSafetyOutputsCell_1_CheckBox_SafetyIn {
	@include elemAutoWidth(45);
}
#cntSafetyOutputsCell_1_CheckBox_SafetyIn {
	@include elemAutoHeight(45);
}
#cntSafetyOutputsCell_1_CheckBox_SafetyIn {
		z-index: 1;
}
#cntSafetyOutputsCell_1_CheckBox_SafetyIn {
	span{
	@include font-style-italic(true);
	}
}
#cntSafetyOutputsCell_1_CheckBox_SafetyIn {
	&.checked:not(.disabled) svg{
		fill: rgba(255, 0, 0, 1);
	}
}
