﻿@import "mixins.scss";
#cntIOImageCell_4_ImageList2 {
	@include elemTop(45);
}
#cntIOImageCell_4_ImageList2 {
	@include elemLeft(90);
}
#cntIOImageCell_4_ImageList2 {
	@include elemWidth(70);
}
#cntIOImageCell_4_ImageList2 {
	@include elemHeight(223);
}
#cntIOImageCell_4_ImageList2 {
		z-index: 0;
}
#cntIOImageCell_4_ImageList2 {
		background-color: rgba(255, 255, 255, 0);
}
#cntIOImageCell_4_ImageList2 {
		margin: 0px;
}
#cntIOImageCell_4_ImageList3 {
	@include elemTop(45);
}
#cntIOImageCell_4_ImageList3 {
	@include elemLeft(195);
}
#cntIOImageCell_4_ImageList3 {
	@include elemWidth(30);
}
#cntIOImageCell_4_ImageList3 {
	@include elemHeight(225);
}
#cntIOImageCell_4_ImageList3 {
		z-index: 1;
}
#cntIOImageCell_4_ImageList4 {
	@include elemTop(45);
}
#cntIOImageCell_4_ImageList4 {
	@include elemLeft(225);
}
#cntIOImageCell_4_ImageList4 {
	@include elemWidth(30);
}
#cntIOImageCell_4_ImageList4 {
	@include elemHeight(225);
}
#cntIOImageCell_4_ImageList4 {
		z-index: 2;
}
#cntIOImageCell_4_ImageList5 {
	@include elemTop(45);
}
#cntIOImageCell_4_ImageList5 {
	@include elemLeft(255);
}
#cntIOImageCell_4_ImageList5 {
	@include elemWidth(30);
}
#cntIOImageCell_4_ImageList5 {
	@include elemHeight(225);
}
#cntIOImageCell_4_ImageList5 {
		z-index: 3;
}
#cntIOImageCell_4_ImageList6 {
	@include elemTop(45);
}
#cntIOImageCell_4_ImageList6 {
	@include elemLeft(285);
}
#cntIOImageCell_4_ImageList6 {
	@include elemWidth(30);
}
#cntIOImageCell_4_ImageList6 {
	@include elemHeight(225);
}
#cntIOImageCell_4_ImageList6 {
		z-index: 4;
}
#cntIOImageCell_4_ImageList7 {
	@include elemTop(45);
}
#cntIOImageCell_4_ImageList7 {
	@include elemLeft(315);
}
#cntIOImageCell_4_ImageList7 {
	@include elemWidth(30);
}
#cntIOImageCell_4_ImageList7 {
	@include elemHeight(225);
}
#cntIOImageCell_4_ImageList7 {
		z-index: 5;
}
#cntIOImageCell_4_ImageList8 {
	@include elemTop(45);
}
#cntIOImageCell_4_ImageList8 {
	@include elemLeft(345);
}
#cntIOImageCell_4_ImageList8 {
	@include elemWidth(30);
}
#cntIOImageCell_4_ImageList8 {
	@include elemHeight(225);
}
#cntIOImageCell_4_ImageList8 {
		z-index: 6;
}
#cntIOImageCell_4_ImageList9 {
	@include elemTop(45);
}
#cntIOImageCell_4_ImageList9 {
	@include elemLeft(375);
}
#cntIOImageCell_4_ImageList9 {
	@include elemWidth(30);
}
#cntIOImageCell_4_ImageList9 {
	@include elemHeight(225);
}
#cntIOImageCell_4_ImageList9 {
		z-index: 7;
}
#cntIOImageCell_4_ImageList_SafetyIO {
	@include elemTop(45);
}
#cntIOImageCell_4_ImageList_SafetyIO {
	@include elemLeft(405);
}
#cntIOImageCell_4_ImageList_SafetyIO {
	@include elemWidth(60);
}
#cntIOImageCell_4_ImageList_SafetyIO {
	@include elemHeight(225);
}
#cntIOImageCell_4_ImageList_SafetyIO {
		z-index: 8;
}
#cntIOImageCell_4_ImageList_SafetyIO3 {
	@include elemTop(45);
}
#cntIOImageCell_4_ImageList_SafetyIO3 {
	@include elemLeft(465);
}
#cntIOImageCell_4_ImageList_SafetyIO3 {
	@include elemWidth(60);
}
#cntIOImageCell_4_ImageList_SafetyIO3 {
	@include elemHeight(225);
}
#cntIOImageCell_4_ImageList_SafetyIO3 {
		z-index: 9;
}
#cntIOImageCell_4_ImageList_SafetyIO4 {
	@include elemTop(45);
}
#cntIOImageCell_4_ImageList_SafetyIO4 {
	@include elemLeft(510);
}
#cntIOImageCell_4_ImageList_SafetyIO4 {
	@include elemWidth(60);
}
#cntIOImageCell_4_ImageList_SafetyIO4 {
	@include elemHeight(225);
}
#cntIOImageCell_4_ImageList_SafetyIO4 {
		z-index: 10;
}
#cntIOImageCell_4_ImageList_Robot {
	@include elemTop(330);
}
#cntIOImageCell_4_ImageList_Robot {
	@include elemLeft(270);
}
#cntIOImageCell_4_ImageList_Robot {
	@include elemWidth(180);
}
#cntIOImageCell_4_ImageList_Robot {
	@include elemHeight(240);
}
#cntIOImageCell_4_ImageList_Robot {
		z-index: 11;
}
#cntIOImageCell_4_Button_Safety {
	@include elemTop(40);
}
#cntIOImageCell_4_Button_Safety {
	@include elemLeft(410);
}
#cntIOImageCell_4_Button_Safety {
	@include elemAutoWidth(160);
}
#cntIOImageCell_4_Button_Safety {
	@include elemAutoHeight(225);
}
#cntIOImageCell_4_Button_Safety {
		z-index: 12;
}
#cntIOImageCell_4_Button_Safety {
	@include border-radius(0px);
}
#cntIOImageCell_4_Button_Cntrllr {
	@include elemTop(50);
}
#cntIOImageCell_4_Button_Cntrllr {
	@include elemLeft(90);
}
#cntIOImageCell_4_Button_Cntrllr {
	@include elemAutoWidth(315);
}
#cntIOImageCell_4_Button_Cntrllr {
	@include elemAutoHeight(225);
}
#cntIOImageCell_4_Button_Cntrllr {
		z-index: 14;
}
#cntIOImageCell_4_Button_Cntrllr {
	@include border-radius(0px);
}
#cntIOImageCell_4_ImageList10 {
	@include elemTop(40);
}
#cntIOImageCell_4_ImageList10 {
	@include elemLeft(160);
}
#cntIOImageCell_4_ImageList10 {
	@include elemWidth(35);
}
#cntIOImageCell_4_ImageList10 {
	@include elemHeight(225);
}
#cntIOImageCell_4_ImageList10 {
		z-index: 13;
}
