div[data-brease-dialogId='DialogIOModuleCell_4'] .breaseWindowClose {
  display: block;
}

div[data-brease-dialogId='DialogIOModuleCell_4'] .breaseDialogWindowHeader .textDiv {
  font-weight: bold;
}

div[data-brease-dialogId='DialogIOModuleCell_4'] .breaseDialogWindowHeader .textDiv {
  font-size: 28px;
}
