﻿@import "mixins.scss";
@import "../../../../widgets/brease/DateTimeInput/meta/DateTimeInput_base";
.widgets_brease_DateTimeInput_style_Input {
@include widgets_brease_DateTimeInput_base; 
&:not(.active):not(.disabled) span {
	color: #FFF;
}
&:not(.disabled):not(.active) {
	border-width: 0px 0px 0px 6px;
}
&:not(.active):not(.disabled) {
	border-color: #FF8800;
}
&.active:not(.disabled) {
	border-color: #646464;
}
	font-size: 20px;
&:not(.active):not(.disabled) {
	background-color: #646464;
}
&.active:not(.disabled) {
	background-color: #646464;
}
&.active:not(.disabled) span {
	color: #FFF;
}
@include font-weight-bold(false);

}
@import "../../../../widgets/brease/DateTimeInput/meta/DateTimeInput_base";
.widgets_brease_DateTimeInput_style_InputLarge {
@include widgets_brease_DateTimeInput_base; 
&:not(.active):not(.disabled) span {
	color: #FFF;
}
&:not(.disabled):not(.active) {
	border-width: 0px 0px 0px 6px;
}
&:not(.active):not(.disabled) {
	border-color: #FF8800;
}
&.active:not(.disabled) {
	border-color: #646464;
}
	font-size: 32px;
&:not(.active):not(.disabled) {
	background-color: #646464;
}
&.active:not(.disabled) {
	background-color: #646464;
}
&.active:not(.disabled) span {
	color: #FFF;
}
@include font-weight-bold(false);

}
@import "../../../../widgets/brease/DateTimeInput/meta/DateTimeInput_base";
.widgets_brease_DateTimeInput_style_InputCommand {
@include widgets_brease_DateTimeInput_base; 
&:not(.active):not(.disabled) span {
	color: #646464;
}
&:not(.disabled):not(.active) {
	border-width: 0px 0px 0px 6px;
}
&:not(.active):not(.disabled) {
	border-color: #d6d6d6;
}
&.active:not(.disabled) {
	border-color: #646464;
}
	font-size: 20px;
&:not(.active):not(.disabled) {
	background-color: #FFF;
}
&.active:not(.disabled) {
	background-color: #646464;
}
&.active:not(.disabled) span {
	color: #FFF;
}
@include font-weight-bold(false);

}
@import "../../../../widgets/brease/DateTimeOutput/meta/DateTimeOutput_base";
.widgets_brease_DateTimeOutput_style_Output {
@include widgets_brease_DateTimeOutput_base; 
& span {
	color: #646464;
}
	border-width: 0px;
	font-size: 20px;
	background-color: transparent;
@include font-weight-bold(false);

}
@import "../../../../widgets/brease/DateTimeOutput/meta/DateTimeOutput_base";
.widgets_brease_DateTimeOutput_style_OutputLarge {
@include widgets_brease_DateTimeOutput_base; 
	border-width: 0px;
& span {
	color: #646464;
}
	font-size: 32px;
	background-color: transparent;
@include font-weight-bold(false);

}
@import "../../../../widgets/brease/DateTimeOutput/meta/DateTimeOutput_base";
.widgets_brease_DateTimeOutput_style_Overview {
@include widgets_brease_DateTimeOutput_base; 
& span {
	color: #646464;
}
	border-width: 0px;
	font-size: 52px;
@include font-weight-bold(false);
	background-color: transparent;

}
@import "../../../../widgets/brease/MeasurementSystemSelector/meta/MeasurementSystemSelector_base";
.widgets_brease_MeasurementSystemSelector_style_transparent {
@include widgets_brease_MeasurementSystemSelector_base; 
& > .ItemView:not(.itemSelected):not(.itemDisabled) {
	background-color: transparent;
}
& > .ItemView:not(.itemSelected) {
	border-width: 0px;
}
& > .ItemView.itemSelected:not(.itemDisabled) {
	background-color: transparent;
}
& > .ItemView.itemSelected {
	border-width: 0px;
}
& .TextView {
	font-size: 16px;
}
& .TextView {
	font-size: 16px;
}
& .TextView {
@include font-weight-bold(true);
}
& .TextView {
@include font-weight-bold(true);
}
& > .ItemView:not(.itemSelected):not(.itemDisabled) > .TextView:not(.textSelected) {
	color: #FFFFFF;
}

}
@import "../../../../widgets/brease/ListBox/meta/ListBox_base";
.widgets_brease_ListBox_style_ListBox1 {
@include widgets_brease_ListBox_base; 
.TextView {
	font-size: 14px;
}
.TextView {
@include font-weight-bold(false);
}
.TextView:not(.textSelected) {
	color: #646464;
}
.TextView.textSelected {
	color: #FFFFFF;
}
&.ListBoxView {
	border-width: 0px;
}
.ItemView:not(.itemSelected) {
	background-color: #FFF;
}
.ItemView.itemSelected {
	background-color: #646464;
}
&.ListBoxView {
	border-color: #ff8800;
}
.TextView {
@include text-alignment(center);
}

}
