﻿@import "mixins.scss";
@import "../../../../widgets/brease/FlyOut/meta/FlyOut_base";
.widgets_brease_FlyOut_style_transparent {
@include widgets_brease_FlyOut_base; 
.breaseFlyOutWrapper > .container {
	background-color: transparent;
}
.breaseFlyOutWrapper > .container {
	border-style: none;
}
.breaseFlyOutWrapper > .container {
	border-width: 0px;
}
.breaseFlyOutWrapper > .flyoutButton {
	border-width: 0px;
}
:not(.disabled):not(.active):not(.checked).breaseFlyOutWrapper > .flyoutButton {
	background-color: transparent;
}

}
@import "../../../../widgets/brease/GroupBox/meta/GroupBox_base";
.widgets_brease_GroupBox_style_transparent {
@include widgets_brease_GroupBox_base; 
	border-width: 0px;
> .header {
	border-width: 0px;
}
	background-color: transparent;
> .header span {
	font-size: 16px;
}
> .header {
height: 16px + 20px;
}
> .header span {
@include font-weight-bold(false);
}

}
@import "../../../../widgets/brease/GroupBox/meta/GroupBox_base";
.widgets_brease_GroupBox_style_GroupBox1 {
@include widgets_brease_GroupBox_base; 
> .header {
	background-color: #646464;
}
> .header span {
@include font-weight-bold(false);
}
> .header span {
	font-size: 16px;
}
> .header {
height: 16px + 20px;
}
> .header span {
	color: #ffffff;
}
@include border-radius(0px);
	border-width: 0px;
> .header {
	border-width: 0px;
}
	background-color: #d6d6d6;
	border-color: transparent;
> .header {
	border-color: transparent;
}

}
@import "../../../../widgets/brease/FlexBox/meta/FlexBox_base";
.widgets_brease_FlexBox_style_noPadding {
@include widgets_brease_FlexBox_base; 
> .container {
	padding: 0px;
}

}
