﻿@import "mixins.scss";
#cntHomeCell_4_Camera_ChckBx_Camera_Cell4 {
	@include elemTop(0);
}
#cntHomeCell_4_Camera_ChckBx_Camera_Cell4 {
	@include elemLeft(375);
}
#cntHomeCell_4_Camera_ChckBx_Camera_Cell4 {
	@include elemAutoWidth(45);
}
#cntHomeCell_4_Camera_ChckBx_Camera_Cell4 {
	@include elemAutoHeight(45);
}
#cntHomeCell_4_Camera_ChckBx_Camera_Cell4 {
		z-index: 0;
}
#cntHomeCell_4_Camera_ChckBx_Camera_Cell4 {
	span{
	@include font-style-italic(true);
	}
}
#cntHomeCell_4_Camera_ChckBx_Camera_Cell4 {
		padding: 0px;
}
#cntHomeCell_4_Camera_ChckBx_Camera_Cell4 {
	&.checked:not(.disabled) svg{
		fill: rgba(255, 0, 0, 1);
	}
}
