div[data-brease-dialogId='DialogHomeCell_4_Camera'] .breaseDialogWindowHeader {
  background-color: #dbdbdb;
}

div[data-brease-dialogId='DialogHomeCell_4_Camera'] .breaseDialogWindowHeader .textDiv {
  font-weight: normal;
}

div[data-brease-dialogId='DialogHomeCell_4_Camera'] .breaseDialogWindowHeader .textDiv {
  font-family: Times New Roman;
}

div[data-brease-dialogId='DialogHomeCell_4_Camera'] .breaseDialogWindowHeader .textDiv {
  font-size: 20px;
}

div[data-brease-dialogId='DialogHomeCell_4_Camera'] .breaseWindowClose {
  display: none;
}
