﻿@import "mixins.scss";
div[data-brease-dialogId='DialogHomeCell_4_Camera'] {
	.breaseDialogWindowHeader{
	background-color: rgba(219, 219, 219, 1);
	}
}
div[data-brease-dialogId='DialogHomeCell_4_Camera'] {
	.breaseDialogWindowHeader .textDiv{
@include font-weight-bold(false);
	}
}
div[data-brease-dialogId='DialogHomeCell_4_Camera'] {
	.breaseDialogWindowHeader .textDiv{
	font-family: Times New Roman;
	}
}
div[data-brease-dialogId='DialogHomeCell_4_Camera'] {
	.breaseDialogWindowHeader .textDiv{
	font-size: 20px;
	}
}
div[data-brease-dialogId='DialogHomeCell_4_Camera'] {
	.breaseWindowClose{
@include display(false);
	}
}
