﻿<script>brease.setOptions("cntHomeCell_3_SewingMachine_ChckBx_SM_Cell3",{"top": 0,"left": 375,"width": 45,"height": 45,"zIndex": 0,"boxSize": 35,"checkedBoxImage": "Media/ABB/ABB_picto_48x48_08_pin_0366.svg","uncheckedBoxImage": "Media/Unpin.svg","italic": true,"padding": "0px","checkedBoxImageColor": "rgba(255, 0, 0, 1)","style": "Caption","className":"widgets/brease/CheckBox","parentContentId":"cntHomeCell_3_SewingMachine"});
</script><div id="cntHomeCell_3_SewingMachine_ChckBx_SM_Cell3" data-brease-widget="widgets/brease/CheckBox"></div>