﻿<script>brease.setOptions("cntManual_ImageAllCels",{"top": 20,"left": 0,"width": 1880,"height": 420,"zIndex": 0,"image": "Media/CellPng/AllCellsOff.png","sizeMode": "fill","className":"widgets/brease/Image","parentContentId":"cntManual"});
brease.setOptions("cntManual_Button_Cell1",{"top": 135,"left": 0,"width": 210,"height": 180,"zIndex": 1,"style": "transparent","className":"widgets/brease/Button","parentContentId":"cntManual"});
brease.setOptions("cntManual_Button_Cell2",{"top": 135,"left": 208,"width": 213,"height": 180,"zIndex": 2,"style": "transparent","className":"widgets/brease/Button","parentContentId":"cntManual"});
brease.setOptions("cntManual_Button_Cell3",{"top": 135,"left": 420,"width": 195,"height": 180,"zIndex": 3,"style": "transparent","className":"widgets/brease/Button","parentContentId":"cntManual"});
brease.setOptions("cntManual_Button_Cell4",{"top": 135,"left": 615,"width": 210,"height": 180,"zIndex": 4,"style": "transparent","className":"widgets/brease/Button","parentContentId":"cntManual"});
brease.setOptions("cntManual_Button_Cell5",{"top": 20,"left": 840,"width": 195,"height": 418,"zIndex": 5,"style": "transparent","className":"widgets/brease/Button","parentContentId":"cntManual"});
brease.setOptions("cntManual_Button_Cell6_I",{"top": 30,"left": 1470,"width": 198,"height": 150,"zIndex": 6,"style": "transparent","className":"widgets/brease/Button","parentContentId":"cntManual"});
brease.setOptions("cntManual_Button_Cell7",{"top": 20,"left": 1050,"width": 195,"height": 160,"zIndex": 7,"style": "transparent","className":"widgets/brease/Button","parentContentId":"cntManual"});
brease.setOptions("cntManual_Button_Cell8",{"top": 20,"left": 1260,"width": 193,"height": 175,"zIndex": 8,"style": "transparent","className":"widgets/brease/Button","parentContentId":"cntManual"});
brease.setOptions("cntManual_Button_Cell9",{"top": 20,"left": 1680,"width": 195,"height": 178,"zIndex": 9,"style": "transparent","className":"widgets/brease/Button","parentContentId":"cntManual"});
brease.setOptions("cntManual_Button_Cell10",{"top": 270,"left": 1050,"width": 195,"height": 165,"zIndex": 10,"style": "transparent","className":"widgets/brease/Button","parentContentId":"cntManual"});
brease.setOptions("cntManual_Button_Cell11",{"top": 270,"left": 1270,"width": 195,"height": 165,"zIndex": 11,"style": "transparent","className":"widgets/brease/Button","parentContentId":"cntManual"});
brease.setOptions("cntManual_Button_Cell12",{"top": 270,"left": 1680,"width": 198,"height": 173,"zIndex": 12,"style": "transparent","className":"widgets/brease/Button","parentContentId":"cntManual"});
brease.setOptions("cntManual_Button_Cell6_II",{"top": 270,"left": 1460,"width": 213,"height": 165,"zIndex": 13,"style": "transparent","className":"widgets/brease/Button","parentContentId":"cntManual"});
brease.setOptions("cntManual_Image_Cell1",{"top": 310,"left": 60,"width": 70,"height": 70,"zIndex": 14,"image": "Media/SymbolLib/Arrow/Up2.svg","sizeMode": "cover","visible": false,"className":"widgets/brease/Image","parentContentId":"cntManual"});
brease.setOptions("cntManual_Image_Cell2",{"top": 310,"left": 270,"width": 70,"height": 70,"zIndex": 15,"image": "Media/SymbolLib/Arrow/Up2.svg","sizeMode": "cover","visible": false,"className":"widgets/brease/Image","parentContentId":"cntManual"});
brease.setOptions("cntManual_Image_Cell3",{"top": 310,"left": 480,"width": 70,"height": 70,"zIndex": 16,"image": "Media/SymbolLib/Arrow/Up2.svg","sizeMode": "cover","visible": false,"className":"widgets/brease/Image","parentContentId":"cntManual"});
brease.setOptions("cntManual_Image_Cell4",{"top": 310,"left": 690,"width": 70,"height": 70,"zIndex": 17,"image": "Media/SymbolLib/Arrow/Up2.svg","sizeMode": "cover","visible": false,"className":"widgets/brease/Image","parentContentId":"cntManual"});
</script><div id="cntManual_ImageAllCels" data-brease-widget="widgets/brease/Image"></div><div id="cntManual_Button_Cell1" data-brease-widget="widgets/brease/Button"></div><div id="cntManual_Button_Cell2" data-brease-widget="widgets/brease/Button"></div><div id="cntManual_Button_Cell3" data-brease-widget="widgets/brease/Button"></div><div id="cntManual_Button_Cell4" data-brease-widget="widgets/brease/Button"></div><div id="cntManual_Button_Cell5" data-brease-widget="widgets/brease/Button"></div><div id="cntManual_Button_Cell6_I" data-brease-widget="widgets/brease/Button"></div><div id="cntManual_Button_Cell7" data-brease-widget="widgets/brease/Button"></div><div id="cntManual_Button_Cell8" data-brease-widget="widgets/brease/Button"></div><div id="cntManual_Button_Cell9" data-brease-widget="widgets/brease/Button"></div><div id="cntManual_Button_Cell10" data-brease-widget="widgets/brease/Button"></div><div id="cntManual_Button_Cell11" data-brease-widget="widgets/brease/Button"></div><div id="cntManual_Button_Cell12" data-brease-widget="widgets/brease/Button"></div><div id="cntManual_Button_Cell6_II" data-brease-widget="widgets/brease/Button"></div><div id="cntManual_Image_Cell1" data-brease-widget="widgets/brease/Image"></div><div id="cntManual_Image_Cell2" data-brease-widget="widgets/brease/Image"></div><div id="cntManual_Image_Cell3" data-brease-widget="widgets/brease/Image"></div><div id="cntManual_Image_Cell4" data-brease-widget="widgets/brease/Image"></div>