﻿<script>brease.setOptions("cntRecipe_ChangeReqInfo_Cell_1_Table1",{"top": 70,"left": 640,"width": 860,"height": 530,"zIndex": 0,"ellipsis": true,"headerSize": 50,"showScrollbars": false,"className":"widgets/brease/Table","parentContentId":"cntRecipe_ChangeReqInfo_Cell_1"});
brease.setOptions("cntRecipe_ChangeReqInfo_Cell_1_TableItem1",{"zIndex": 0,"columnWidth": 220,"text": "Recipe Code","headerBold": false,"bold": false,"className":"widgets/brease/TableItem","parentContentId":"cntRecipe_ChangeReqInfo_Cell_1"});
brease.setOptions("cntRecipe_ChangeReqInfo_Cell_1_TableItem2",{"zIndex": 1,"columnWidth": 250,"format": {'metric':{'decimalPlaces':0,'minimumIntegerDigits':1},'imperial':{'decimalPlaces':1,'minimumIntegerDigits':1},'imperial-us':{'decimalPlaces':1,'minimumIntegerDigits':1}},"rowHeight": 40,"text": "$IAT/RecipeTexts/ExpectedBarcode","className":"widgets/brease/TableItem","parentContentId":"cntRecipe_ChangeReqInfo_Cell_1"});
brease.setOptions("cntRecipe_ChangeReqInfo_Cell_1_TableItem3",{"zIndex": 2,"columnWidth": 210,"format": {'metric':{'decimalPlaces':0,'minimumIntegerDigits':1},'imperial':{'decimalPlaces':1,'minimumIntegerDigits':1},'imperial-us':{'decimalPlaces':1,'minimumIntegerDigits':1}},"rowHeight": 25,"text": "$IAT/RecipeTexts/CurrentBarcode","className":"widgets/brease/TableItem","parentContentId":"cntRecipe_ChangeReqInfo_Cell_1"});
brease.setOptions("cntRecipe_ChangeReqInfo_Cell_1_TableItemImageList1",{"zIndex": 3,"columnWidth": 180,"imageList": ['notok.png', 'okey.png'],"imagePrefix": "Media/RecipePage/","rowHeight": 25,"text": "$IAT/RecipeTexts/Result","className":"widgets/brease/TableItemImageList","parentContentId":"cntRecipe_ChangeReqInfo_Cell_1"});
brease.setOptions("cntRecipe_ChangeReqInfo_Cell_1_Image1",{"top": 119,"left": 600,"width": 40,"height": 40,"zIndex": 1,"image": "Media/RecipePage/ArrowRight.svg","className":"widgets/brease/Image","parentContentId":"cntRecipe_ChangeReqInfo_Cell_1"});
brease.setOptions("cntRecipe_ChangeReqInfo_Cell_1_Image2",{"top": 160,"left": 600,"width": 40,"height": 40,"zIndex": 2,"image": "Media/RecipePage/ArrowRight.svg","className":"widgets/brease/Image","parentContentId":"cntRecipe_ChangeReqInfo_Cell_1"});
brease.setOptions("cntRecipe_ChangeReqInfo_Cell_1_Image3",{"top": 200,"left": 600,"width": 40,"height": 40,"zIndex": 3,"image": "Media/RecipePage/ArrowRight.svg","className":"widgets/brease/Image","parentContentId":"cntRecipe_ChangeReqInfo_Cell_1"});
brease.setOptions("cntRecipe_ChangeReqInfo_Cell_1_Image4",{"top": 239,"left": 600,"width": 40,"height": 40,"zIndex": 4,"image": "Media/RecipePage/ArrowRight.svg","className":"widgets/brease/Image","parentContentId":"cntRecipe_ChangeReqInfo_Cell_1"});
brease.setOptions("cntRecipe_ChangeReqInfo_Cell_1_Image5",{"top": 280,"left": 600,"width": 40,"height": 40,"zIndex": 5,"image": "Media/RecipePage/ArrowRight.svg","className":"widgets/brease/Image","parentContentId":"cntRecipe_ChangeReqInfo_Cell_1"});
brease.setOptions("cntRecipe_ChangeReqInfo_Cell_1_Image6",{"top": 320,"left": 600,"width": 40,"height": 40,"zIndex": 6,"image": "Media/RecipePage/ArrowRight.svg","className":"widgets/brease/Image","parentContentId":"cntRecipe_ChangeReqInfo_Cell_1"});
brease.setOptions("cntRecipe_ChangeReqInfo_Cell_1_Image7",{"top": 360,"left": 600,"width": 40,"height": 40,"zIndex": 7,"image": "Media/RecipePage/ArrowRight.svg","className":"widgets/brease/Image","parentContentId":"cntRecipe_ChangeReqInfo_Cell_1"});
brease.setOptions("cntRecipe_ChangeReqInfo_Cell_1_Image8",{"top": 400,"left": 600,"width": 40,"height": 40,"zIndex": 8,"image": "Media/RecipePage/ArrowRight.svg","className":"widgets/brease/Image","parentContentId":"cntRecipe_ChangeReqInfo_Cell_1"});
brease.setOptions("cntRecipe_ChangeReqInfo_Cell_1_Image9",{"top": 439,"left": 600,"width": 40,"height": 40,"zIndex": 9,"image": "Media/RecipePage/ArrowRight.svg","className":"widgets/brease/Image","parentContentId":"cntRecipe_ChangeReqInfo_Cell_1"});
brease.setOptions("cntRecipe_ChangeReqInfo_Cell_1_Image10",{"top": 479,"left": 600,"width": 40,"height": 40,"zIndex": 10,"image": "Media/RecipePage/ArrowRight.svg","className":"widgets/brease/Image","parentContentId":"cntRecipe_ChangeReqInfo_Cell_1"});
brease.setOptions("cntRecipe_ChangeReqInfo_Cell_1_Image11",{"top": 520,"left": 600,"width": 40,"height": 40,"zIndex": 11,"image": "Media/RecipePage/ArrowRight.svg","className":"widgets/brease/Image","parentContentId":"cntRecipe_ChangeReqInfo_Cell_1"});
brease.setOptions("cntRecipe_ChangeReqInfo_Cell_1_Image12",{"top": 560,"left": 600,"width": 40,"height": 40,"zIndex": 12,"image": "Media/RecipePage/ArrowRight.svg","className":"widgets/brease/Image","parentContentId":"cntRecipe_ChangeReqInfo_Cell_1"});
</script><div id="cntRecipe_ChangeReqInfo_Cell_1_Table1" data-brease-widget="widgets/brease/Table"><div id="cntRecipe_ChangeReqInfo_Cell_1_TableItem1" data-brease-widget="widgets/brease/TableItem"></div><div id="cntRecipe_ChangeReqInfo_Cell_1_TableItem2" data-brease-widget="widgets/brease/TableItem"></div><div id="cntRecipe_ChangeReqInfo_Cell_1_TableItem3" data-brease-widget="widgets/brease/TableItem"></div><div id="cntRecipe_ChangeReqInfo_Cell_1_TableItemImageList1" data-brease-widget="widgets/brease/TableItemImageList"></div></div><div id="cntRecipe_ChangeReqInfo_Cell_1_Image1" data-brease-widget="widgets/brease/Image"></div><div id="cntRecipe_ChangeReqInfo_Cell_1_Image2" data-brease-widget="widgets/brease/Image"></div><div id="cntRecipe_ChangeReqInfo_Cell_1_Image3" data-brease-widget="widgets/brease/Image"></div><div id="cntRecipe_ChangeReqInfo_Cell_1_Image4" data-brease-widget="widgets/brease/Image"></div><div id="cntRecipe_ChangeReqInfo_Cell_1_Image5" data-brease-widget="widgets/brease/Image"></div><div id="cntRecipe_ChangeReqInfo_Cell_1_Image6" data-brease-widget="widgets/brease/Image"></div><div id="cntRecipe_ChangeReqInfo_Cell_1_Image7" data-brease-widget="widgets/brease/Image"></div><div id="cntRecipe_ChangeReqInfo_Cell_1_Image8" data-brease-widget="widgets/brease/Image"></div><div id="cntRecipe_ChangeReqInfo_Cell_1_Image9" data-brease-widget="widgets/brease/Image"></div><div id="cntRecipe_ChangeReqInfo_Cell_1_Image10" data-brease-widget="widgets/brease/Image"></div><div id="cntRecipe_ChangeReqInfo_Cell_1_Image11" data-brease-widget="widgets/brease/Image"></div><div id="cntRecipe_ChangeReqInfo_Cell_1_Image12" data-brease-widget="widgets/brease/Image"></div>