﻿<script>brease.setOptions("cntRecipe_Buttons_Button_ActiveRecipe",{"top": 50,"left": 40,"width": 300,"height": 110,"zIndex": 0,"cornerRadius": "0px","className":"widgets/brease/Button","parentContentId":"cntRecipe_Buttons"});
brease.setOptions("cntRecipe_Buttons_Button2",{"top": 219,"left": 40,"width": 300,"height": 108,"zIndex": 1,"cornerRadius": "0px","className":"widgets/brease/Button","parentContentId":"cntRecipe_Buttons"});
</script><div id="cntRecipe_Buttons_Button_ActiveRecipe" data-brease-widget="widgets/brease/Button"></div><div id="cntRecipe_Buttons_Button2" data-brease-widget="widgets/brease/Button"></div>