﻿<script>brease.setOptions("cntSignals_Image1",{"top": 20,"left": 0,"width": 1890,"height": 420,"zIndex": 0,"image": "Media/CellPng/AllCellsOff.png","className":"widgets/brease/Image","parentContentId":"cntSignals"});
brease.setOptions("cntSignals_btnCell_1",{"top": 140,"left": 0,"width": 210,"height": 170,"zIndex": 1,"cornerRadius": "0px","style": "transparent","className":"widgets/brease/Button","parentContentId":"cntSignals"});
brease.setOptions("cntSignals_btnCell_2",{"top": 140,"left": 210,"width": 210,"height": 170,"zIndex": 2,"cornerRadius": "0px","style": "transparent","className":"widgets/brease/Button","parentContentId":"cntSignals"});
brease.setOptions("cntSignals_btnCell_3",{"top": 140,"left": 420,"width": 210,"height": 170,"zIndex": 3,"cornerRadius": "0px","style": "transparent","className":"widgets/brease/Button","parentContentId":"cntSignals"});
brease.setOptions("cntSignals_btnCell_4",{"top": 140,"left": 630,"width": 210,"height": 170,"zIndex": 4,"cornerRadius": "0px","style": "transparent","className":"widgets/brease/Button","parentContentId":"cntSignals"});
brease.setOptions("cntSignals_btnCell_5",{"top": 20,"left": 840,"width": 210,"height": 410,"zIndex": 5,"cornerRadius": "0px","style": "transparent","className":"widgets/brease/Button","parentContentId":"cntSignals"});
brease.setOptions("cntSignals_btnCell_6_I",{"top": 20,"left": 1470,"width": 210,"height": 170,"zIndex": 6,"cornerRadius": "0px","style": "transparent","className":"widgets/brease/Button","parentContentId":"cntSignals"});
brease.setOptions("cntSignals_btnCell_7",{"top": 20,"left": 1050,"width": 210,"height": 170,"zIndex": 7,"cornerRadius": "0px","style": "transparent","className":"widgets/brease/Button","parentContentId":"cntSignals"});
brease.setOptions("cntSignals_btnCell_8",{"top": 20,"left": 1260,"width": 210,"height": 170,"zIndex": 8,"cornerRadius": "0px","style": "transparent","className":"widgets/brease/Button","parentContentId":"cntSignals"});
brease.setOptions("cntSignals_btnCell_9",{"top": 20,"left": 1260,"width": 210,"height": 170,"zIndex": 9,"cornerRadius": "0px","style": "transparent","className":"widgets/brease/Button","parentContentId":"cntSignals"});
brease.setOptions("cntSignals_btnCell_10",{"top": 20,"left": 1680,"width": 210,"height": 170,"zIndex": 10,"cornerRadius": "0px","style": "transparent","className":"widgets/brease/Button","parentContentId":"cntSignals"});
brease.setOptions("cntSignals_btnCell_11",{"top": 270,"left": 1050,"width": 210,"height": 170,"zIndex": 11,"cornerRadius": "0px","style": "transparent","className":"widgets/brease/Button","parentContentId":"cntSignals"});
brease.setOptions("cntSignals_btnCell_12",{"top": 270,"left": 1260,"width": 210,"height": 170,"zIndex": 12,"cornerRadius": "0px","style": "transparent","className":"widgets/brease/Button","parentContentId":"cntSignals"});
brease.setOptions("cntSignals_btnCell_13",{"top": 260,"left": 1680,"width": 210,"height": 170,"zIndex": 13,"cornerRadius": "0px","style": "transparent","className":"widgets/brease/Button","parentContentId":"cntSignals"});
brease.setOptions("cntSignals_btnCell_6_II",{"top": 270,"left": 1470,"width": 210,"height": 170,"zIndex": 14,"cornerRadius": "0px","style": "transparent","className":"widgets/brease/Button","parentContentId":"cntSignals"});
</script><div id="cntSignals_Image1" data-brease-widget="widgets/brease/Image"></div><div id="cntSignals_btnCell_1" data-brease-widget="widgets/brease/Button"></div><div id="cntSignals_btnCell_2" data-brease-widget="widgets/brease/Button"></div><div id="cntSignals_btnCell_3" data-brease-widget="widgets/brease/Button"></div><div id="cntSignals_btnCell_4" data-brease-widget="widgets/brease/Button"></div><div id="cntSignals_btnCell_5" data-brease-widget="widgets/brease/Button"></div><div id="cntSignals_btnCell_6_I" data-brease-widget="widgets/brease/Button"></div><div id="cntSignals_btnCell_7" data-brease-widget="widgets/brease/Button"></div><div id="cntSignals_btnCell_8" data-brease-widget="widgets/brease/Button"></div><div id="cntSignals_btnCell_9" data-brease-widget="widgets/brease/Button"></div><div id="cntSignals_btnCell_10" data-brease-widget="widgets/brease/Button"></div><div id="cntSignals_btnCell_11" data-brease-widget="widgets/brease/Button"></div><div id="cntSignals_btnCell_12" data-brease-widget="widgets/brease/Button"></div><div id="cntSignals_btnCell_13" data-brease-widget="widgets/brease/Button"></div><div id="cntSignals_btnCell_6_II" data-brease-widget="widgets/brease/Button"></div>