﻿@import "mixins.scss";
#cntAnalogInputsCell_1_GridLine1 {
	@include elemTop(0);
}
#cntAnalogInputsCell_1_GridLine1 {
	@include elemLeft(0);
}
#cntAnalogInputsCell_1_GridLine1 {
	@include elemWidth(315);
}
#cntAnalogInputsCell_1_GridLine1 {
	@include elemHeight(540);
}
#cntAnalogInputsCell_1_GridLine1 {
		z-index: 0;
}
#cntAnalogInputsCell_1_GridLine1 {
	.container{
		padding: 5px 0px;
	}
}
#cntAnalogInputsCell_1_GridLineItem2 {
		z-index: 0;
}
#cntAnalogInputsCell_1_GridLineItem2 {
		padding: 0px 10px 10px 10px;
}
#cntAnalogInputsCell_1_Label4 {
	@include elemTop(10);
}
#cntAnalogInputsCell_1_Label4 {
	@include elemLeft(50);
}
#cntAnalogInputsCell_1_Label4 {
	@include elemAutoWidth(165);
}
#cntAnalogInputsCell_1_Label4 {
	@include elemAutoHeight(25);
}
#cntAnalogInputsCell_1_Label4 {
		z-index: 0;
}
#cntAnalogInputsCell_1_Label4 {
	& span{
		color: rgba(105, 105, 105, 1);
	}
}
#cntAnalogInputsCell_1_Label4 {
	@include text-alignment-all('center');
}
#cntAnalogInputsCell_1_Label4 {
	span{
	@include text-decoration-underline(true);
	}
}
#cntAnalogInputsCell_1_NumericOutput1 {
	@include elemTop(55);
}
#cntAnalogInputsCell_1_NumericOutput1 {
	@include elemLeft(5);
}
#cntAnalogInputsCell_1_NumericOutput1 {
	@include elemAutoWidth(70);
}
#cntAnalogInputsCell_1_NumericOutput1 {
	@include elemAutoHeight(35);
}
#cntAnalogInputsCell_1_NumericOutput1 {
		z-index: 1;
}
#cntAnalogInputsCell_1_Label_ai01 {
	@include elemTop(55);
}
#cntAnalogInputsCell_1_Label_ai01 {
	@include elemLeft(95);
}
#cntAnalogInputsCell_1_Label_ai01 {
	@include elemAutoWidth(190);
}
#cntAnalogInputsCell_1_Label_ai01 {
	@include elemAutoHeight(40);
}
#cntAnalogInputsCell_1_Label_ai01 {
		z-index: 2;
}
#cntAnalogInputsCell_1_CheckBox_AnalogInp {
	@include elemTop(-5);
}
#cntAnalogInputsCell_1_CheckBox_AnalogInp {
	@include elemLeft(245);
}
#cntAnalogInputsCell_1_CheckBox_AnalogInp {
	@include elemAutoWidth(45);
}
#cntAnalogInputsCell_1_CheckBox_AnalogInp {
	@include elemAutoHeight(45);
}
#cntAnalogInputsCell_1_CheckBox_AnalogInp {
		z-index: 3;
}
#cntAnalogInputsCell_1_CheckBox_AnalogInp {
	span{
	@include font-style-italic(true);
	}
}
#cntAnalogInputsCell_1_CheckBox_AnalogInp {
	&.checked:not(.disabled) svg{
		fill: rgba(255, 0, 0, 1);
	}
}
