#cntAnalogInputsCell_1_GridLine1 {
  top: 0px;
  position: absolute;
}

#cntAnalogInputsCell_1_GridLine1 {
  left: 0px;
  position: absolute;
}

#cntAnalogInputsCell_1_GridLine1 {
  width: 315px;
}

#cntAnalogInputsCell_1_GridLine1 {
  height: 540px;
}

#cntAnalogInputsCell_1_GridLine1 {
  z-index: 0;
}

#cntAnalogInputsCell_1_GridLine1 .container {
  padding: 5px 0px;
}

#cntAnalogInputsCell_1_GridLineItem2 {
  z-index: 0;
}

#cntAnalogInputsCell_1_GridLineItem2 {
  padding: 0px 10px 10px 10px;
}

#cntAnalogInputsCell_1_Label4 {
  top: 10px;
  position: absolute;
}

#cntAnalogInputsCell_1_Label4 {
  left: 50px;
  position: absolute;
}

#cntAnalogInputsCell_1_Label4 {
  width: 165px;
}

#cntAnalogInputsCell_1_Label4 {
  height: 25px;
}

#cntAnalogInputsCell_1_Label4 {
  z-index: 0;
}

#cntAnalogInputsCell_1_Label4 span {
  color: dimgray;
}

#cntAnalogInputsCell_1_Label4 {
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntAnalogInputsCell_1_Label4 span {
  text-decoration: underline;
}

#cntAnalogInputsCell_1_NumericOutput1 {
  top: 55px;
  position: absolute;
}

#cntAnalogInputsCell_1_NumericOutput1 {
  left: 5px;
  position: absolute;
}

#cntAnalogInputsCell_1_NumericOutput1 {
  width: 70px;
}

#cntAnalogInputsCell_1_NumericOutput1 {
  height: 35px;
}

#cntAnalogInputsCell_1_NumericOutput1 {
  z-index: 1;
}

#cntAnalogInputsCell_1_Label_ai01 {
  top: 55px;
  position: absolute;
}

#cntAnalogInputsCell_1_Label_ai01 {
  left: 95px;
  position: absolute;
}

#cntAnalogInputsCell_1_Label_ai01 {
  width: 190px;
}

#cntAnalogInputsCell_1_Label_ai01 {
  height: 40px;
}

#cntAnalogInputsCell_1_Label_ai01 {
  z-index: 2;
}

#cntAnalogInputsCell_1_CheckBox_AnalogInp {
  top: -5px;
  position: absolute;
}

#cntAnalogInputsCell_1_CheckBox_AnalogInp {
  left: 245px;
  position: absolute;
}

#cntAnalogInputsCell_1_CheckBox_AnalogInp {
  width: 45px;
}

#cntAnalogInputsCell_1_CheckBox_AnalogInp {
  height: 45px;
}

#cntAnalogInputsCell_1_CheckBox_AnalogInp {
  z-index: 3;
}

#cntAnalogInputsCell_1_CheckBox_AnalogInp span {
  font-style: italic;
}

#cntAnalogInputsCell_1_CheckBox_AnalogInp.checked:not(.disabled) svg {
  fill: red;
}
