﻿@import "mixins.scss";
#cntSafetyInputsCell_2_GridLine1 {
	@include elemTop(0);
}
#cntSafetyInputsCell_2_GridLine1 {
	@include elemLeft(0);
}
#cntSafetyInputsCell_2_GridLine1 {
	@include elemWidth(300);
}
#cntSafetyInputsCell_2_GridLine1 {
	@include elemHeight(540);
}
#cntSafetyInputsCell_2_GridLine1 {
		z-index: 0;
}
#cntSafetyInputsCell_2_GridLine1 {
	.container{
		padding: 5px 0px;
	}
}
#cntSafetyInputsCell_2_GridLineItem1 {
		z-index: 0;
}
#cntSafetyInputsCell_2_GridLineItem1 {
		padding: 0px 10px 10px 10px;
}
#cntSafetyInputsCell_2_Label2 {
	@include elemAutoHeight(30);
}
#cntSafetyInputsCell_2_Label2 {
	@include elemTop(1);
}
#cntSafetyInputsCell_2_Label2 {
	@include elemLeft(16);
}
#cntSafetyInputsCell_2_Label2 {
	@include elemAutoWidth(255);
}
#cntSafetyInputsCell_2_Label2 {
		z-index: 0;
}
#cntSafetyInputsCell_2_Label2 {
	& span{
		color: rgba(105, 105, 105, 1);
	}
}
#cntSafetyInputsCell_2_Label2 {
	@include text-alignment-all('center');
}
#cntSafetyInputsCell_2_Label2 {
	span{
	@include text-decoration-underline(true);
	}
}
#cntSafetyInputsCell_2_ImageList1 {
	@include elemTop(36);
}
#cntSafetyInputsCell_2_ImageList1 {
	@include elemLeft(6);
}
#cntSafetyInputsCell_2_ImageList1 {
	@include elemWidth(20);
}
#cntSafetyInputsCell_2_ImageList1 {
	@include elemHeight(20);
}
#cntSafetyInputsCell_2_ImageList1 {
		z-index: 1;
}
#cntSafetyInputsCell_2_ImageList2 {
	@include elemTop(66);
}
#cntSafetyInputsCell_2_ImageList2 {
	@include elemLeft(6);
}
#cntSafetyInputsCell_2_ImageList2 {
	@include elemWidth(20);
}
#cntSafetyInputsCell_2_ImageList2 {
	@include elemHeight(20);
}
#cntSafetyInputsCell_2_ImageList2 {
		z-index: 2;
}
#cntSafetyInputsCell_2_ImageList3 {
	@include elemTop(96);
}
#cntSafetyInputsCell_2_ImageList3 {
	@include elemLeft(6);
}
#cntSafetyInputsCell_2_ImageList3 {
	@include elemWidth(20);
}
#cntSafetyInputsCell_2_ImageList3 {
	@include elemHeight(20);
}
#cntSafetyInputsCell_2_ImageList3 {
		z-index: 3;
}
#cntSafetyInputsCell_2_ImageList4 {
	@include elemTop(126);
}
#cntSafetyInputsCell_2_ImageList4 {
	@include elemLeft(6);
}
#cntSafetyInputsCell_2_ImageList4 {
	@include elemWidth(20);
}
#cntSafetyInputsCell_2_ImageList4 {
	@include elemHeight(20);
}
#cntSafetyInputsCell_2_ImageList4 {
		z-index: 4;
}
#cntSafetyInputsCell_2_ImageList5 {
	@include elemTop(156);
}
#cntSafetyInputsCell_2_ImageList5 {
	@include elemLeft(6);
}
#cntSafetyInputsCell_2_ImageList5 {
	@include elemWidth(20);
}
#cntSafetyInputsCell_2_ImageList5 {
	@include elemHeight(20);
}
#cntSafetyInputsCell_2_ImageList5 {
		z-index: 5;
}
#cntSafetyInputsCell_2_ImageList6 {
	@include elemTop(186);
}
#cntSafetyInputsCell_2_ImageList6 {
	@include elemLeft(6);
}
#cntSafetyInputsCell_2_ImageList6 {
	@include elemWidth(20);
}
#cntSafetyInputsCell_2_ImageList6 {
	@include elemHeight(20);
}
#cntSafetyInputsCell_2_ImageList6 {
		z-index: 6;
}
#cntSafetyInputsCell_2_ImageList7 {
	@include elemTop(216);
}
#cntSafetyInputsCell_2_ImageList7 {
	@include elemLeft(6);
}
#cntSafetyInputsCell_2_ImageList7 {
	@include elemWidth(20);
}
#cntSafetyInputsCell_2_ImageList7 {
	@include elemHeight(20);
}
#cntSafetyInputsCell_2_ImageList7 {
		z-index: 7;
}
#cntSafetyInputsCell_2_ImageList8 {
	@include elemTop(246);
}
#cntSafetyInputsCell_2_ImageList8 {
	@include elemLeft(6);
}
#cntSafetyInputsCell_2_ImageList8 {
	@include elemWidth(20);
}
#cntSafetyInputsCell_2_ImageList8 {
	@include elemHeight(20);
}
#cntSafetyInputsCell_2_ImageList8 {
		z-index: 8;
}
#cntSafetyInputsCell_2_ImageList9 {
	@include elemTop(276);
}
#cntSafetyInputsCell_2_ImageList9 {
	@include elemLeft(6);
}
#cntSafetyInputsCell_2_ImageList9 {
	@include elemWidth(20);
}
#cntSafetyInputsCell_2_ImageList9 {
	@include elemHeight(20);
}
#cntSafetyInputsCell_2_ImageList9 {
		z-index: 9;
}
#cntSafetyInputsCell_2_ImageList10 {
	@include elemTop(306);
}
#cntSafetyInputsCell_2_ImageList10 {
	@include elemLeft(6);
}
#cntSafetyInputsCell_2_ImageList10 {
	@include elemWidth(20);
}
#cntSafetyInputsCell_2_ImageList10 {
	@include elemHeight(20);
}
#cntSafetyInputsCell_2_ImageList10 {
		z-index: 10;
}
#cntSafetyInputsCell_2_ImageList11 {
	@include elemTop(336);
}
#cntSafetyInputsCell_2_ImageList11 {
	@include elemLeft(6);
}
#cntSafetyInputsCell_2_ImageList11 {
	@include elemWidth(20);
}
#cntSafetyInputsCell_2_ImageList11 {
	@include elemHeight(20);
}
#cntSafetyInputsCell_2_ImageList11 {
		z-index: 11;
}
#cntSafetyInputsCell_2_ImageList12 {
	@include elemTop(366);
}
#cntSafetyInputsCell_2_ImageList12 {
	@include elemLeft(6);
}
#cntSafetyInputsCell_2_ImageList12 {
	@include elemWidth(20);
}
#cntSafetyInputsCell_2_ImageList12 {
	@include elemHeight(20);
}
#cntSafetyInputsCell_2_ImageList12 {
		z-index: 12;
}
#cntSafetyInputsCell_2_ImageList13 {
	@include elemTop(396);
}
#cntSafetyInputsCell_2_ImageList13 {
	@include elemLeft(6);
}
#cntSafetyInputsCell_2_ImageList13 {
	@include elemWidth(20);
}
#cntSafetyInputsCell_2_ImageList13 {
	@include elemHeight(20);
}
#cntSafetyInputsCell_2_ImageList13 {
		z-index: 13;
}
#cntSafetyInputsCell_2_ImageList14 {
	@include elemTop(426);
}
#cntSafetyInputsCell_2_ImageList14 {
	@include elemLeft(6);
}
#cntSafetyInputsCell_2_ImageList14 {
	@include elemWidth(20);
}
#cntSafetyInputsCell_2_ImageList14 {
	@include elemHeight(20);
}
#cntSafetyInputsCell_2_ImageList14 {
		z-index: 14;
}
#cntSafetyInputsCell_2_ImageList15 {
	@include elemTop(456);
}
#cntSafetyInputsCell_2_ImageList15 {
	@include elemLeft(6);
}
#cntSafetyInputsCell_2_ImageList15 {
	@include elemWidth(20);
}
#cntSafetyInputsCell_2_ImageList15 {
	@include elemHeight(20);
}
#cntSafetyInputsCell_2_ImageList15 {
		z-index: 15;
}
#cntSafetyInputsCell_2_ImageList16 {
	@include elemTop(486);
}
#cntSafetyInputsCell_2_ImageList16 {
	@include elemLeft(6);
}
#cntSafetyInputsCell_2_ImageList16 {
	@include elemWidth(20);
}
#cntSafetyInputsCell_2_ImageList16 {
	@include elemHeight(20);
}
#cntSafetyInputsCell_2_ImageList16 {
		z-index: 16;
}
#cntSafetyInputsCell_2_Label_do33 {
	@include elemTop(36);
}
#cntSafetyInputsCell_2_Label_do33 {
	@include elemLeft(36);
}
#cntSafetyInputsCell_2_Label_do33 {
	@include elemAutoWidth(220);
}
#cntSafetyInputsCell_2_Label_do33 {
	@include elemAutoHeight(20);
}
#cntSafetyInputsCell_2_Label_do33 {
		z-index: 17;
}
#cntSafetyInputsCell_2_Label_do34 {
	@include elemTop(66);
}
#cntSafetyInputsCell_2_Label_do34 {
	@include elemLeft(36);
}
#cntSafetyInputsCell_2_Label_do34 {
	@include elemAutoWidth(220);
}
#cntSafetyInputsCell_2_Label_do34 {
	@include elemAutoHeight(20);
}
#cntSafetyInputsCell_2_Label_do34 {
		z-index: 18;
}
#cntSafetyInputsCell_2_Label_do35 {
	@include elemTop(96);
}
#cntSafetyInputsCell_2_Label_do35 {
	@include elemLeft(36);
}
#cntSafetyInputsCell_2_Label_do35 {
	@include elemAutoWidth(220);
}
#cntSafetyInputsCell_2_Label_do35 {
	@include elemAutoHeight(20);
}
#cntSafetyInputsCell_2_Label_do35 {
		z-index: 19;
}
#cntSafetyInputsCell_2_Label_do36 {
	@include elemTop(126);
}
#cntSafetyInputsCell_2_Label_do36 {
	@include elemLeft(36);
}
#cntSafetyInputsCell_2_Label_do36 {
	@include elemAutoWidth(220);
}
#cntSafetyInputsCell_2_Label_do36 {
	@include elemAutoHeight(20);
}
#cntSafetyInputsCell_2_Label_do36 {
		z-index: 20;
}
#cntSafetyInputsCell_2_Label_do37 {
	@include elemTop(156);
}
#cntSafetyInputsCell_2_Label_do37 {
	@include elemLeft(36);
}
#cntSafetyInputsCell_2_Label_do37 {
	@include elemAutoWidth(220);
}
#cntSafetyInputsCell_2_Label_do37 {
	@include elemAutoHeight(20);
}
#cntSafetyInputsCell_2_Label_do37 {
		z-index: 21;
}
#cntSafetyInputsCell_2_Label_do38 {
	@include elemTop(186);
}
#cntSafetyInputsCell_2_Label_do38 {
	@include elemLeft(36);
}
#cntSafetyInputsCell_2_Label_do38 {
	@include elemAutoWidth(220);
}
#cntSafetyInputsCell_2_Label_do38 {
	@include elemAutoHeight(20);
}
#cntSafetyInputsCell_2_Label_do38 {
		z-index: 22;
}
#cntSafetyInputsCell_2_Label_do39 {
	@include elemTop(215);
}
#cntSafetyInputsCell_2_Label_do39 {
	@include elemLeft(40);
}
#cntSafetyInputsCell_2_Label_do39 {
	@include elemAutoWidth(220);
}
#cntSafetyInputsCell_2_Label_do39 {
	@include elemAutoHeight(20);
}
#cntSafetyInputsCell_2_Label_do39 {
		z-index: 23;
}
#cntSafetyInputsCell_2_Label_do40 {
	@include elemTop(246);
}
#cntSafetyInputsCell_2_Label_do40 {
	@include elemLeft(36);
}
#cntSafetyInputsCell_2_Label_do40 {
	@include elemAutoWidth(220);
}
#cntSafetyInputsCell_2_Label_do40 {
	@include elemAutoHeight(20);
}
#cntSafetyInputsCell_2_Label_do40 {
		z-index: 24;
}
#cntSafetyInputsCell_2_Label_do41 {
	@include elemTop(276);
}
#cntSafetyInputsCell_2_Label_do41 {
	@include elemLeft(36);
}
#cntSafetyInputsCell_2_Label_do41 {
	@include elemAutoWidth(220);
}
#cntSafetyInputsCell_2_Label_do41 {
	@include elemAutoHeight(20);
}
#cntSafetyInputsCell_2_Label_do41 {
		z-index: 25;
}
#cntSafetyInputsCell_2_Label_do42 {
	@include elemTop(306);
}
#cntSafetyInputsCell_2_Label_do42 {
	@include elemLeft(36);
}
#cntSafetyInputsCell_2_Label_do42 {
	@include elemAutoWidth(220);
}
#cntSafetyInputsCell_2_Label_do42 {
	@include elemAutoHeight(20);
}
#cntSafetyInputsCell_2_Label_do42 {
		z-index: 26;
}
#cntSafetyInputsCell_2_Label_do43 {
	@include elemTop(336);
}
#cntSafetyInputsCell_2_Label_do43 {
	@include elemLeft(36);
}
#cntSafetyInputsCell_2_Label_do43 {
	@include elemAutoWidth(220);
}
#cntSafetyInputsCell_2_Label_do43 {
	@include elemAutoHeight(20);
}
#cntSafetyInputsCell_2_Label_do43 {
		z-index: 27;
}
#cntSafetyInputsCell_2_Label_do44 {
	@include elemTop(366);
}
#cntSafetyInputsCell_2_Label_do44 {
	@include elemLeft(36);
}
#cntSafetyInputsCell_2_Label_do44 {
	@include elemAutoWidth(220);
}
#cntSafetyInputsCell_2_Label_do44 {
	@include elemAutoHeight(20);
}
#cntSafetyInputsCell_2_Label_do44 {
		z-index: 28;
}
#cntSafetyInputsCell_2_Label_do45 {
	@include elemTop(396);
}
#cntSafetyInputsCell_2_Label_do45 {
	@include elemLeft(36);
}
#cntSafetyInputsCell_2_Label_do45 {
	@include elemAutoWidth(220);
}
#cntSafetyInputsCell_2_Label_do45 {
	@include elemAutoHeight(20);
}
#cntSafetyInputsCell_2_Label_do45 {
		z-index: 29;
}
#cntSafetyInputsCell_2_Label_do46 {
	@include elemTop(426);
}
#cntSafetyInputsCell_2_Label_do46 {
	@include elemLeft(36);
}
#cntSafetyInputsCell_2_Label_do46 {
	@include elemAutoWidth(220);
}
#cntSafetyInputsCell_2_Label_do46 {
	@include elemAutoHeight(20);
}
#cntSafetyInputsCell_2_Label_do46 {
		z-index: 30;
}
#cntSafetyInputsCell_2_Label_do47 {
	@include elemTop(456);
}
#cntSafetyInputsCell_2_Label_do47 {
	@include elemLeft(36);
}
#cntSafetyInputsCell_2_Label_do47 {
	@include elemAutoWidth(220);
}
#cntSafetyInputsCell_2_Label_do47 {
	@include elemAutoHeight(20);
}
#cntSafetyInputsCell_2_Label_do47 {
		z-index: 31;
}
#cntSafetyInputsCell_2_Label_do48 {
	@include elemTop(486);
}
#cntSafetyInputsCell_2_Label_do48 {
	@include elemLeft(36);
}
#cntSafetyInputsCell_2_Label_do48 {
	@include elemAutoWidth(220);
}
#cntSafetyInputsCell_2_Label_do48 {
	@include elemAutoHeight(20);
}
#cntSafetyInputsCell_2_Label_do48 {
		z-index: 32;
}
#cntSafetyInputsCell_2_CheckBox_SafetyIn {
	@include elemTop(0);
}
#cntSafetyInputsCell_2_CheckBox_SafetyIn {
	@include elemLeft(250);
}
#cntSafetyInputsCell_2_CheckBox_SafetyIn {
	@include elemAutoWidth(45);
}
#cntSafetyInputsCell_2_CheckBox_SafetyIn {
	@include elemAutoHeight(45);
}
#cntSafetyInputsCell_2_CheckBox_SafetyIn {
		z-index: 1;
}
#cntSafetyInputsCell_2_CheckBox_SafetyIn {
	span{
	@include font-style-italic(true);
	}
}
#cntSafetyInputsCell_2_CheckBox_SafetyIn {
	&.checked:not(.disabled) svg{
		fill: rgba(255, 0, 0, 1);
	}
}
