#cntSafetyInputsCell_2_GridLine1 {
  top: 0px;
  position: absolute;
}

#cntSafetyInputsCell_2_GridLine1 {
  left: 0px;
  position: absolute;
}

#cntSafetyInputsCell_2_GridLine1 {
  width: 300px;
}

#cntSafetyInputsCell_2_GridLine1 {
  height: 540px;
}

#cntSafetyInputsCell_2_GridLine1 {
  z-index: 0;
}

#cntSafetyInputsCell_2_GridLine1 .container {
  padding: 5px 0px;
}

#cntSafetyInputsCell_2_GridLineItem1 {
  z-index: 0;
}

#cntSafetyInputsCell_2_GridLineItem1 {
  padding: 0px 10px 10px 10px;
}

#cntSafetyInputsCell_2_Label2 {
  height: 30px;
}

#cntSafetyInputsCell_2_Label2 {
  top: 1px;
  position: absolute;
}

#cntSafetyInputsCell_2_Label2 {
  left: 16px;
  position: absolute;
}

#cntSafetyInputsCell_2_Label2 {
  width: 255px;
}

#cntSafetyInputsCell_2_Label2 {
  z-index: 0;
}

#cntSafetyInputsCell_2_Label2 span {
  color: dimgray;
}

#cntSafetyInputsCell_2_Label2 {
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntSafetyInputsCell_2_Label2 span {
  text-decoration: underline;
}

#cntSafetyInputsCell_2_ImageList1 {
  top: 36px;
  position: absolute;
}

#cntSafetyInputsCell_2_ImageList1 {
  left: 6px;
  position: absolute;
}

#cntSafetyInputsCell_2_ImageList1 {
  width: 20px;
}

#cntSafetyInputsCell_2_ImageList1 {
  height: 20px;
}

#cntSafetyInputsCell_2_ImageList1 {
  z-index: 1;
}

#cntSafetyInputsCell_2_ImageList2 {
  top: 66px;
  position: absolute;
}

#cntSafetyInputsCell_2_ImageList2 {
  left: 6px;
  position: absolute;
}

#cntSafetyInputsCell_2_ImageList2 {
  width: 20px;
}

#cntSafetyInputsCell_2_ImageList2 {
  height: 20px;
}

#cntSafetyInputsCell_2_ImageList2 {
  z-index: 2;
}

#cntSafetyInputsCell_2_ImageList3 {
  top: 96px;
  position: absolute;
}

#cntSafetyInputsCell_2_ImageList3 {
  left: 6px;
  position: absolute;
}

#cntSafetyInputsCell_2_ImageList3 {
  width: 20px;
}

#cntSafetyInputsCell_2_ImageList3 {
  height: 20px;
}

#cntSafetyInputsCell_2_ImageList3 {
  z-index: 3;
}

#cntSafetyInputsCell_2_ImageList4 {
  top: 126px;
  position: absolute;
}

#cntSafetyInputsCell_2_ImageList4 {
  left: 6px;
  position: absolute;
}

#cntSafetyInputsCell_2_ImageList4 {
  width: 20px;
}

#cntSafetyInputsCell_2_ImageList4 {
  height: 20px;
}

#cntSafetyInputsCell_2_ImageList4 {
  z-index: 4;
}

#cntSafetyInputsCell_2_ImageList5 {
  top: 156px;
  position: absolute;
}

#cntSafetyInputsCell_2_ImageList5 {
  left: 6px;
  position: absolute;
}

#cntSafetyInputsCell_2_ImageList5 {
  width: 20px;
}

#cntSafetyInputsCell_2_ImageList5 {
  height: 20px;
}

#cntSafetyInputsCell_2_ImageList5 {
  z-index: 5;
}

#cntSafetyInputsCell_2_ImageList6 {
  top: 186px;
  position: absolute;
}

#cntSafetyInputsCell_2_ImageList6 {
  left: 6px;
  position: absolute;
}

#cntSafetyInputsCell_2_ImageList6 {
  width: 20px;
}

#cntSafetyInputsCell_2_ImageList6 {
  height: 20px;
}

#cntSafetyInputsCell_2_ImageList6 {
  z-index: 6;
}

#cntSafetyInputsCell_2_ImageList7 {
  top: 216px;
  position: absolute;
}

#cntSafetyInputsCell_2_ImageList7 {
  left: 6px;
  position: absolute;
}

#cntSafetyInputsCell_2_ImageList7 {
  width: 20px;
}

#cntSafetyInputsCell_2_ImageList7 {
  height: 20px;
}

#cntSafetyInputsCell_2_ImageList7 {
  z-index: 7;
}

#cntSafetyInputsCell_2_ImageList8 {
  top: 246px;
  position: absolute;
}

#cntSafetyInputsCell_2_ImageList8 {
  left: 6px;
  position: absolute;
}

#cntSafetyInputsCell_2_ImageList8 {
  width: 20px;
}

#cntSafetyInputsCell_2_ImageList8 {
  height: 20px;
}

#cntSafetyInputsCell_2_ImageList8 {
  z-index: 8;
}

#cntSafetyInputsCell_2_ImageList9 {
  top: 276px;
  position: absolute;
}

#cntSafetyInputsCell_2_ImageList9 {
  left: 6px;
  position: absolute;
}

#cntSafetyInputsCell_2_ImageList9 {
  width: 20px;
}

#cntSafetyInputsCell_2_ImageList9 {
  height: 20px;
}

#cntSafetyInputsCell_2_ImageList9 {
  z-index: 9;
}

#cntSafetyInputsCell_2_ImageList10 {
  top: 306px;
  position: absolute;
}

#cntSafetyInputsCell_2_ImageList10 {
  left: 6px;
  position: absolute;
}

#cntSafetyInputsCell_2_ImageList10 {
  width: 20px;
}

#cntSafetyInputsCell_2_ImageList10 {
  height: 20px;
}

#cntSafetyInputsCell_2_ImageList10 {
  z-index: 10;
}

#cntSafetyInputsCell_2_ImageList11 {
  top: 336px;
  position: absolute;
}

#cntSafetyInputsCell_2_ImageList11 {
  left: 6px;
  position: absolute;
}

#cntSafetyInputsCell_2_ImageList11 {
  width: 20px;
}

#cntSafetyInputsCell_2_ImageList11 {
  height: 20px;
}

#cntSafetyInputsCell_2_ImageList11 {
  z-index: 11;
}

#cntSafetyInputsCell_2_ImageList12 {
  top: 366px;
  position: absolute;
}

#cntSafetyInputsCell_2_ImageList12 {
  left: 6px;
  position: absolute;
}

#cntSafetyInputsCell_2_ImageList12 {
  width: 20px;
}

#cntSafetyInputsCell_2_ImageList12 {
  height: 20px;
}

#cntSafetyInputsCell_2_ImageList12 {
  z-index: 12;
}

#cntSafetyInputsCell_2_ImageList13 {
  top: 396px;
  position: absolute;
}

#cntSafetyInputsCell_2_ImageList13 {
  left: 6px;
  position: absolute;
}

#cntSafetyInputsCell_2_ImageList13 {
  width: 20px;
}

#cntSafetyInputsCell_2_ImageList13 {
  height: 20px;
}

#cntSafetyInputsCell_2_ImageList13 {
  z-index: 13;
}

#cntSafetyInputsCell_2_ImageList14 {
  top: 426px;
  position: absolute;
}

#cntSafetyInputsCell_2_ImageList14 {
  left: 6px;
  position: absolute;
}

#cntSafetyInputsCell_2_ImageList14 {
  width: 20px;
}

#cntSafetyInputsCell_2_ImageList14 {
  height: 20px;
}

#cntSafetyInputsCell_2_ImageList14 {
  z-index: 14;
}

#cntSafetyInputsCell_2_ImageList15 {
  top: 456px;
  position: absolute;
}

#cntSafetyInputsCell_2_ImageList15 {
  left: 6px;
  position: absolute;
}

#cntSafetyInputsCell_2_ImageList15 {
  width: 20px;
}

#cntSafetyInputsCell_2_ImageList15 {
  height: 20px;
}

#cntSafetyInputsCell_2_ImageList15 {
  z-index: 15;
}

#cntSafetyInputsCell_2_ImageList16 {
  top: 486px;
  position: absolute;
}

#cntSafetyInputsCell_2_ImageList16 {
  left: 6px;
  position: absolute;
}

#cntSafetyInputsCell_2_ImageList16 {
  width: 20px;
}

#cntSafetyInputsCell_2_ImageList16 {
  height: 20px;
}

#cntSafetyInputsCell_2_ImageList16 {
  z-index: 16;
}

#cntSafetyInputsCell_2_Label_do33 {
  top: 36px;
  position: absolute;
}

#cntSafetyInputsCell_2_Label_do33 {
  left: 36px;
  position: absolute;
}

#cntSafetyInputsCell_2_Label_do33 {
  width: 220px;
}

#cntSafetyInputsCell_2_Label_do33 {
  height: 20px;
}

#cntSafetyInputsCell_2_Label_do33 {
  z-index: 17;
}

#cntSafetyInputsCell_2_Label_do34 {
  top: 66px;
  position: absolute;
}

#cntSafetyInputsCell_2_Label_do34 {
  left: 36px;
  position: absolute;
}

#cntSafetyInputsCell_2_Label_do34 {
  width: 220px;
}

#cntSafetyInputsCell_2_Label_do34 {
  height: 20px;
}

#cntSafetyInputsCell_2_Label_do34 {
  z-index: 18;
}

#cntSafetyInputsCell_2_Label_do35 {
  top: 96px;
  position: absolute;
}

#cntSafetyInputsCell_2_Label_do35 {
  left: 36px;
  position: absolute;
}

#cntSafetyInputsCell_2_Label_do35 {
  width: 220px;
}

#cntSafetyInputsCell_2_Label_do35 {
  height: 20px;
}

#cntSafetyInputsCell_2_Label_do35 {
  z-index: 19;
}

#cntSafetyInputsCell_2_Label_do36 {
  top: 126px;
  position: absolute;
}

#cntSafetyInputsCell_2_Label_do36 {
  left: 36px;
  position: absolute;
}

#cntSafetyInputsCell_2_Label_do36 {
  width: 220px;
}

#cntSafetyInputsCell_2_Label_do36 {
  height: 20px;
}

#cntSafetyInputsCell_2_Label_do36 {
  z-index: 20;
}

#cntSafetyInputsCell_2_Label_do37 {
  top: 156px;
  position: absolute;
}

#cntSafetyInputsCell_2_Label_do37 {
  left: 36px;
  position: absolute;
}

#cntSafetyInputsCell_2_Label_do37 {
  width: 220px;
}

#cntSafetyInputsCell_2_Label_do37 {
  height: 20px;
}

#cntSafetyInputsCell_2_Label_do37 {
  z-index: 21;
}

#cntSafetyInputsCell_2_Label_do38 {
  top: 186px;
  position: absolute;
}

#cntSafetyInputsCell_2_Label_do38 {
  left: 36px;
  position: absolute;
}

#cntSafetyInputsCell_2_Label_do38 {
  width: 220px;
}

#cntSafetyInputsCell_2_Label_do38 {
  height: 20px;
}

#cntSafetyInputsCell_2_Label_do38 {
  z-index: 22;
}

#cntSafetyInputsCell_2_Label_do39 {
  top: 215px;
  position: absolute;
}

#cntSafetyInputsCell_2_Label_do39 {
  left: 40px;
  position: absolute;
}

#cntSafetyInputsCell_2_Label_do39 {
  width: 220px;
}

#cntSafetyInputsCell_2_Label_do39 {
  height: 20px;
}

#cntSafetyInputsCell_2_Label_do39 {
  z-index: 23;
}

#cntSafetyInputsCell_2_Label_do40 {
  top: 246px;
  position: absolute;
}

#cntSafetyInputsCell_2_Label_do40 {
  left: 36px;
  position: absolute;
}

#cntSafetyInputsCell_2_Label_do40 {
  width: 220px;
}

#cntSafetyInputsCell_2_Label_do40 {
  height: 20px;
}

#cntSafetyInputsCell_2_Label_do40 {
  z-index: 24;
}

#cntSafetyInputsCell_2_Label_do41 {
  top: 276px;
  position: absolute;
}

#cntSafetyInputsCell_2_Label_do41 {
  left: 36px;
  position: absolute;
}

#cntSafetyInputsCell_2_Label_do41 {
  width: 220px;
}

#cntSafetyInputsCell_2_Label_do41 {
  height: 20px;
}

#cntSafetyInputsCell_2_Label_do41 {
  z-index: 25;
}

#cntSafetyInputsCell_2_Label_do42 {
  top: 306px;
  position: absolute;
}

#cntSafetyInputsCell_2_Label_do42 {
  left: 36px;
  position: absolute;
}

#cntSafetyInputsCell_2_Label_do42 {
  width: 220px;
}

#cntSafetyInputsCell_2_Label_do42 {
  height: 20px;
}

#cntSafetyInputsCell_2_Label_do42 {
  z-index: 26;
}

#cntSafetyInputsCell_2_Label_do43 {
  top: 336px;
  position: absolute;
}

#cntSafetyInputsCell_2_Label_do43 {
  left: 36px;
  position: absolute;
}

#cntSafetyInputsCell_2_Label_do43 {
  width: 220px;
}

#cntSafetyInputsCell_2_Label_do43 {
  height: 20px;
}

#cntSafetyInputsCell_2_Label_do43 {
  z-index: 27;
}

#cntSafetyInputsCell_2_Label_do44 {
  top: 366px;
  position: absolute;
}

#cntSafetyInputsCell_2_Label_do44 {
  left: 36px;
  position: absolute;
}

#cntSafetyInputsCell_2_Label_do44 {
  width: 220px;
}

#cntSafetyInputsCell_2_Label_do44 {
  height: 20px;
}

#cntSafetyInputsCell_2_Label_do44 {
  z-index: 28;
}

#cntSafetyInputsCell_2_Label_do45 {
  top: 396px;
  position: absolute;
}

#cntSafetyInputsCell_2_Label_do45 {
  left: 36px;
  position: absolute;
}

#cntSafetyInputsCell_2_Label_do45 {
  width: 220px;
}

#cntSafetyInputsCell_2_Label_do45 {
  height: 20px;
}

#cntSafetyInputsCell_2_Label_do45 {
  z-index: 29;
}

#cntSafetyInputsCell_2_Label_do46 {
  top: 426px;
  position: absolute;
}

#cntSafetyInputsCell_2_Label_do46 {
  left: 36px;
  position: absolute;
}

#cntSafetyInputsCell_2_Label_do46 {
  width: 220px;
}

#cntSafetyInputsCell_2_Label_do46 {
  height: 20px;
}

#cntSafetyInputsCell_2_Label_do46 {
  z-index: 30;
}

#cntSafetyInputsCell_2_Label_do47 {
  top: 456px;
  position: absolute;
}

#cntSafetyInputsCell_2_Label_do47 {
  left: 36px;
  position: absolute;
}

#cntSafetyInputsCell_2_Label_do47 {
  width: 220px;
}

#cntSafetyInputsCell_2_Label_do47 {
  height: 20px;
}

#cntSafetyInputsCell_2_Label_do47 {
  z-index: 31;
}

#cntSafetyInputsCell_2_Label_do48 {
  top: 486px;
  position: absolute;
}

#cntSafetyInputsCell_2_Label_do48 {
  left: 36px;
  position: absolute;
}

#cntSafetyInputsCell_2_Label_do48 {
  width: 220px;
}

#cntSafetyInputsCell_2_Label_do48 {
  height: 20px;
}

#cntSafetyInputsCell_2_Label_do48 {
  z-index: 32;
}

#cntSafetyInputsCell_2_CheckBox_SafetyIn {
  top: 0px;
  position: absolute;
}

#cntSafetyInputsCell_2_CheckBox_SafetyIn {
  left: 250px;
  position: absolute;
}

#cntSafetyInputsCell_2_CheckBox_SafetyIn {
  width: 45px;
}

#cntSafetyInputsCell_2_CheckBox_SafetyIn {
  height: 45px;
}

#cntSafetyInputsCell_2_CheckBox_SafetyIn {
  z-index: 1;
}

#cntSafetyInputsCell_2_CheckBox_SafetyIn span {
  font-style: italic;
}

#cntSafetyInputsCell_2_CheckBox_SafetyIn.checked:not(.disabled) svg {
  fill: red;
}
