﻿@import "mixins.scss";
#cntSuctionOutputsCell_1_GridLine1 {
	@include elemTop(0);
}
#cntSuctionOutputsCell_1_GridLine1 {
	@include elemLeft(0);
}
#cntSuctionOutputsCell_1_GridLine1 {
	@include elemWidth(300);
}
#cntSuctionOutputsCell_1_GridLine1 {
	@include elemHeight(540);
}
#cntSuctionOutputsCell_1_GridLine1 {
		z-index: 0;
}
#cntSuctionOutputsCell_1_GridLine1 {
	.container{
		padding: 5px 0px;
	}
}
#cntSuctionOutputsCell_1_GridLineItem1 {
		z-index: 0;
}
#cntSuctionOutputsCell_1_GridLineItem1 {
		padding: 0px 10px 10px 10px;
}
#cntSuctionOutputsCell_1_ImageList1 {
	@include elemTop(75);
}
#cntSuctionOutputsCell_1_ImageList1 {
	@include elemLeft(30);
}
#cntSuctionOutputsCell_1_ImageList1 {
	@include elemWidth(20);
}
#cntSuctionOutputsCell_1_ImageList1 {
	@include elemHeight(20);
}
#cntSuctionOutputsCell_1_ImageList1 {
		z-index: 0;
}
#cntSuctionOutputsCell_1_NumericOutput1 {
	@include elemAutoHeight(30);
}
#cntSuctionOutputsCell_1_NumericOutput1 {
	@include elemTop(30);
}
#cntSuctionOutputsCell_1_NumericOutput1 {
	@include elemLeft(0);
}
#cntSuctionOutputsCell_1_NumericOutput1 {
	@include elemAutoWidth(105);
}
#cntSuctionOutputsCell_1_NumericOutput1 {
		z-index: 1;
}
#cntSuctionOutputsCell_1_NumericOutput1 {
	input{
	@include text-alignment(left);
	}
}
#cntSuctionOutputsCell_1_ImageList2 {
	@include elemTop(105);
}
#cntSuctionOutputsCell_1_ImageList2 {
	@include elemLeft(30);
}
#cntSuctionOutputsCell_1_ImageList2 {
	@include elemWidth(20);
}
#cntSuctionOutputsCell_1_ImageList2 {
	@include elemHeight(20);
}
#cntSuctionOutputsCell_1_ImageList2 {
		z-index: 2;
}
#cntSuctionOutputsCell_1_ImageList3 {
	@include elemTop(135);
}
#cntSuctionOutputsCell_1_ImageList3 {
	@include elemLeft(30);
}
#cntSuctionOutputsCell_1_ImageList3 {
	@include elemWidth(20);
}
#cntSuctionOutputsCell_1_ImageList3 {
	@include elemHeight(20);
}
#cntSuctionOutputsCell_1_ImageList3 {
		z-index: 3;
}
#cntSuctionOutputsCell_1_ImageList4 {
	@include elemTop(165);
}
#cntSuctionOutputsCell_1_ImageList4 {
	@include elemLeft(30);
}
#cntSuctionOutputsCell_1_ImageList4 {
	@include elemWidth(20);
}
#cntSuctionOutputsCell_1_ImageList4 {
	@include elemHeight(20);
}
#cntSuctionOutputsCell_1_ImageList4 {
		z-index: 4;
}
#cntSuctionOutputsCell_1_ImageList5 {
	@include elemTop(195);
}
#cntSuctionOutputsCell_1_ImageList5 {
	@include elemLeft(30);
}
#cntSuctionOutputsCell_1_ImageList5 {
	@include elemWidth(20);
}
#cntSuctionOutputsCell_1_ImageList5 {
	@include elemHeight(20);
}
#cntSuctionOutputsCell_1_ImageList5 {
		z-index: 5;
}
#cntSuctionOutputsCell_1_ImageList6 {
	@include elemTop(225);
}
#cntSuctionOutputsCell_1_ImageList6 {
	@include elemLeft(30);
}
#cntSuctionOutputsCell_1_ImageList6 {
	@include elemWidth(20);
}
#cntSuctionOutputsCell_1_ImageList6 {
	@include elemHeight(20);
}
#cntSuctionOutputsCell_1_ImageList6 {
		z-index: 6;
}
#cntSuctionOutputsCell_1_ImageList7 {
	@include elemTop(255);
}
#cntSuctionOutputsCell_1_ImageList7 {
	@include elemLeft(30);
}
#cntSuctionOutputsCell_1_ImageList7 {
	@include elemWidth(20);
}
#cntSuctionOutputsCell_1_ImageList7 {
	@include elemHeight(20);
}
#cntSuctionOutputsCell_1_ImageList7 {
		z-index: 7;
}
#cntSuctionOutputsCell_1_ImageList8 {
	@include elemTop(285);
}
#cntSuctionOutputsCell_1_ImageList8 {
	@include elemLeft(30);
}
#cntSuctionOutputsCell_1_ImageList8 {
	@include elemWidth(20);
}
#cntSuctionOutputsCell_1_ImageList8 {
	@include elemHeight(20);
}
#cntSuctionOutputsCell_1_ImageList8 {
		z-index: 8;
}
#cntSuctionOutputsCell_1_ImageList9 {
	@include elemTop(315);
}
#cntSuctionOutputsCell_1_ImageList9 {
	@include elemLeft(30);
}
#cntSuctionOutputsCell_1_ImageList9 {
	@include elemWidth(20);
}
#cntSuctionOutputsCell_1_ImageList9 {
	@include elemHeight(20);
}
#cntSuctionOutputsCell_1_ImageList9 {
		z-index: 9;
}
#cntSuctionOutputsCell_1_ImageList10 {
	@include elemTop(345);
}
#cntSuctionOutputsCell_1_ImageList10 {
	@include elemLeft(30);
}
#cntSuctionOutputsCell_1_ImageList10 {
	@include elemWidth(20);
}
#cntSuctionOutputsCell_1_ImageList10 {
	@include elemHeight(20);
}
#cntSuctionOutputsCell_1_ImageList10 {
		z-index: 10;
}
#cntSuctionOutputsCell_1_Label1 {
	@include elemAutoHeight(30);
}
#cntSuctionOutputsCell_1_Label1 {
	@include elemTop(30);
}
#cntSuctionOutputsCell_1_Label1 {
	@include elemLeft(75);
}
#cntSuctionOutputsCell_1_Label1 {
	@include elemAutoWidth(210);
}
#cntSuctionOutputsCell_1_Label1 {
		z-index: 11;
}
#cntSuctionOutputsCell_1_Label2 {
	@include elemAutoHeight(30);
}
#cntSuctionOutputsCell_1_Label2 {
	@include elemTop(75);
}
#cntSuctionOutputsCell_1_Label2 {
	@include elemLeft(75);
}
#cntSuctionOutputsCell_1_Label2 {
	@include elemAutoWidth(225);
}
#cntSuctionOutputsCell_1_Label2 {
		z-index: 12;
}
#cntSuctionOutputsCell_1_CheckBox_SuctOut {
	@include elemTop(-5);
}
#cntSuctionOutputsCell_1_CheckBox_SuctOut {
	@include elemLeft(245);
}
#cntSuctionOutputsCell_1_CheckBox_SuctOut {
	@include elemAutoWidth(45);
}
#cntSuctionOutputsCell_1_CheckBox_SuctOut {
	@include elemAutoHeight(45);
}
#cntSuctionOutputsCell_1_CheckBox_SuctOut {
		z-index: 13;
}
#cntSuctionOutputsCell_1_CheckBox_SuctOut {
	span{
	@include font-style-italic(true);
	}
}
#cntSuctionOutputsCell_1_CheckBox_SuctOut {
	&.checked:not(.disabled) svg{
		fill: rgba(255, 0, 0, 1);
	}
}
