#cntSuctionOutputsCell_1_GridLine1 {
  top: 0px;
  position: absolute;
}

#cntSuctionOutputsCell_1_GridLine1 {
  left: 0px;
  position: absolute;
}

#cntSuctionOutputsCell_1_GridLine1 {
  width: 300px;
}

#cntSuctionOutputsCell_1_GridLine1 {
  height: 540px;
}

#cntSuctionOutputsCell_1_GridLine1 {
  z-index: 0;
}

#cntSuctionOutputsCell_1_GridLine1 .container {
  padding: 5px 0px;
}

#cntSuctionOutputsCell_1_GridLineItem1 {
  z-index: 0;
}

#cntSuctionOutputsCell_1_GridLineItem1 {
  padding: 0px 10px 10px 10px;
}

#cntSuctionOutputsCell_1_ImageList1 {
  top: 75px;
  position: absolute;
}

#cntSuctionOutputsCell_1_ImageList1 {
  left: 30px;
  position: absolute;
}

#cntSuctionOutputsCell_1_ImageList1 {
  width: 20px;
}

#cntSuctionOutputsCell_1_ImageList1 {
  height: 20px;
}

#cntSuctionOutputsCell_1_ImageList1 {
  z-index: 0;
}

#cntSuctionOutputsCell_1_NumericOutput1 {
  height: 30px;
}

#cntSuctionOutputsCell_1_NumericOutput1 {
  top: 30px;
  position: absolute;
}

#cntSuctionOutputsCell_1_NumericOutput1 {
  left: 0px;
  position: absolute;
}

#cntSuctionOutputsCell_1_NumericOutput1 {
  width: 105px;
}

#cntSuctionOutputsCell_1_NumericOutput1 {
  z-index: 1;
}

#cntSuctionOutputsCell_1_NumericOutput1 input {
  justify-content: flex-start;
  text-align: left;
}

#cntSuctionOutputsCell_1_ImageList2 {
  top: 105px;
  position: absolute;
}

#cntSuctionOutputsCell_1_ImageList2 {
  left: 30px;
  position: absolute;
}

#cntSuctionOutputsCell_1_ImageList2 {
  width: 20px;
}

#cntSuctionOutputsCell_1_ImageList2 {
  height: 20px;
}

#cntSuctionOutputsCell_1_ImageList2 {
  z-index: 2;
}

#cntSuctionOutputsCell_1_ImageList3 {
  top: 135px;
  position: absolute;
}

#cntSuctionOutputsCell_1_ImageList3 {
  left: 30px;
  position: absolute;
}

#cntSuctionOutputsCell_1_ImageList3 {
  width: 20px;
}

#cntSuctionOutputsCell_1_ImageList3 {
  height: 20px;
}

#cntSuctionOutputsCell_1_ImageList3 {
  z-index: 3;
}

#cntSuctionOutputsCell_1_ImageList4 {
  top: 165px;
  position: absolute;
}

#cntSuctionOutputsCell_1_ImageList4 {
  left: 30px;
  position: absolute;
}

#cntSuctionOutputsCell_1_ImageList4 {
  width: 20px;
}

#cntSuctionOutputsCell_1_ImageList4 {
  height: 20px;
}

#cntSuctionOutputsCell_1_ImageList4 {
  z-index: 4;
}

#cntSuctionOutputsCell_1_ImageList5 {
  top: 195px;
  position: absolute;
}

#cntSuctionOutputsCell_1_ImageList5 {
  left: 30px;
  position: absolute;
}

#cntSuctionOutputsCell_1_ImageList5 {
  width: 20px;
}

#cntSuctionOutputsCell_1_ImageList5 {
  height: 20px;
}

#cntSuctionOutputsCell_1_ImageList5 {
  z-index: 5;
}

#cntSuctionOutputsCell_1_ImageList6 {
  top: 225px;
  position: absolute;
}

#cntSuctionOutputsCell_1_ImageList6 {
  left: 30px;
  position: absolute;
}

#cntSuctionOutputsCell_1_ImageList6 {
  width: 20px;
}

#cntSuctionOutputsCell_1_ImageList6 {
  height: 20px;
}

#cntSuctionOutputsCell_1_ImageList6 {
  z-index: 6;
}

#cntSuctionOutputsCell_1_ImageList7 {
  top: 255px;
  position: absolute;
}

#cntSuctionOutputsCell_1_ImageList7 {
  left: 30px;
  position: absolute;
}

#cntSuctionOutputsCell_1_ImageList7 {
  width: 20px;
}

#cntSuctionOutputsCell_1_ImageList7 {
  height: 20px;
}

#cntSuctionOutputsCell_1_ImageList7 {
  z-index: 7;
}

#cntSuctionOutputsCell_1_ImageList8 {
  top: 285px;
  position: absolute;
}

#cntSuctionOutputsCell_1_ImageList8 {
  left: 30px;
  position: absolute;
}

#cntSuctionOutputsCell_1_ImageList8 {
  width: 20px;
}

#cntSuctionOutputsCell_1_ImageList8 {
  height: 20px;
}

#cntSuctionOutputsCell_1_ImageList8 {
  z-index: 8;
}

#cntSuctionOutputsCell_1_ImageList9 {
  top: 315px;
  position: absolute;
}

#cntSuctionOutputsCell_1_ImageList9 {
  left: 30px;
  position: absolute;
}

#cntSuctionOutputsCell_1_ImageList9 {
  width: 20px;
}

#cntSuctionOutputsCell_1_ImageList9 {
  height: 20px;
}

#cntSuctionOutputsCell_1_ImageList9 {
  z-index: 9;
}

#cntSuctionOutputsCell_1_ImageList10 {
  top: 345px;
  position: absolute;
}

#cntSuctionOutputsCell_1_ImageList10 {
  left: 30px;
  position: absolute;
}

#cntSuctionOutputsCell_1_ImageList10 {
  width: 20px;
}

#cntSuctionOutputsCell_1_ImageList10 {
  height: 20px;
}

#cntSuctionOutputsCell_1_ImageList10 {
  z-index: 10;
}

#cntSuctionOutputsCell_1_Label1 {
  height: 30px;
}

#cntSuctionOutputsCell_1_Label1 {
  top: 30px;
  position: absolute;
}

#cntSuctionOutputsCell_1_Label1 {
  left: 75px;
  position: absolute;
}

#cntSuctionOutputsCell_1_Label1 {
  width: 210px;
}

#cntSuctionOutputsCell_1_Label1 {
  z-index: 11;
}

#cntSuctionOutputsCell_1_Label2 {
  height: 30px;
}

#cntSuctionOutputsCell_1_Label2 {
  top: 75px;
  position: absolute;
}

#cntSuctionOutputsCell_1_Label2 {
  left: 75px;
  position: absolute;
}

#cntSuctionOutputsCell_1_Label2 {
  width: 225px;
}

#cntSuctionOutputsCell_1_Label2 {
  z-index: 12;
}

#cntSuctionOutputsCell_1_CheckBox_SuctOut {
  top: -5px;
  position: absolute;
}

#cntSuctionOutputsCell_1_CheckBox_SuctOut {
  left: 245px;
  position: absolute;
}

#cntSuctionOutputsCell_1_CheckBox_SuctOut {
  width: 45px;
}

#cntSuctionOutputsCell_1_CheckBox_SuctOut {
  height: 45px;
}

#cntSuctionOutputsCell_1_CheckBox_SuctOut {
  z-index: 13;
}

#cntSuctionOutputsCell_1_CheckBox_SuctOut span {
  font-style: italic;
}

#cntSuctionOutputsCell_1_CheckBox_SuctOut.checked:not(.disabled) svg {
  fill: red;
}
