@import "mixins.scss";
@mixin widgets_brease_FlyOut_base {
.breaseFlyOutWrapper > .container {
	@include elemWidth(100);
}
.breaseFlyOutWrapper > .container {
	@include elemHeight(200);
}
.breaseFlyOutWrapper > .flyoutButton img {
	@include imageWidth(0);
}
.breaseFlyOutWrapper > .flyoutButton svg {
	@include imageWidth(0);
}
.breaseFlyOutWrapper > .flyoutButton img {
	@include imageHeight(0);
}
.breaseFlyOutWrapper > .flyoutButton svg {
	@include imageHeight(0);
}
.breaseFlyOutWrapper > .flyoutButton svg {
	fill: #000000;
}
.breaseFlyOutWrapper > .flyoutButton {
	@include elemWidth(50);
}
	@include elemWidth(50);
.breaseFlyOutWrapper > .flyoutButton {
	@include elemHeight(50);
}
	@include elemHeight(50);
.breaseFlyOutWrapper > .flyoutButton {
	border-style: solid;
}
.breaseFlyOutWrapper > .flyoutButton {
	@include importantBorderColor(#000000);
}
.breaseFlyOutWrapper > .flyoutButton {
	border-width: 2px;
}
.breaseFlyOutWrapper > .flyoutButton {
	@include border-radius(0px);
}
:not(.disabled):not(.active):not(.checked).breaseFlyOutWrapper > .flyoutButton {
	background-color: #FFFFFF;
}
:not(.disabled):not(.active):not(.checked).breaseFlyOutWrapper > .flyoutButton {
	@include backGroundGradient('');
}
.breaseFlyOutWrapper > .container {
	border-style: solid;
}
.breaseFlyOutWrapper > .container {
	border-color: #000000;
}
.breaseFlyOutWrapper > .container {
	border-width: 2px;
}
.breaseFlyOutWrapper > .container {
	@include border-radius(0px);
}
.breaseFlyOutWrapper > .container {
	background-color: transparent;
}
.breaseFlyOutWrapper > .container {
	@include backGroundGradient('');
}
.breaseFlyOutWrapper > .flyoutButton span {
	color: #000000;
}
.breaseFlyOutWrapper > .flyoutButton {
	@include text-alignment(center);
}
.breaseFlyOutWrapper > .flyoutButton {
	@include writing-mode(horizontal);
}
.breaseFlyOutWrapper {
	opacity: 1;
}
.breaseFlyOutWrapper > .flyoutButton span {
	font-size: 12px;
}
.breaseFlyOutWrapper > .flyoutButton span {
	font-family: Arial;
}
.breaseFlyOutWrapper > .flyoutButton span {
	@include font-weight-bold(true);
}
.breaseFlyOutWrapper > .flyoutButton span {
	@include font-style-italic(false);
}
.breaseFlyOutWrapper > .container {
	@include box-shadow(none);
}

}

.widgets_brease_FlyOut_style_default {
@include widgets_brease_FlyOut_base 
}
