﻿@import "mixins.scss";
#cntDigitalInputsCell_4_GridLine1 {
	@include elemTop(0);
}
#cntDigitalInputsCell_4_GridLine1 {
	@include elemLeft(0);
}
#cntDigitalInputsCell_4_GridLine1 {
	@include elemWidth(300);
}
#cntDigitalInputsCell_4_GridLine1 {
	@include elemHeight(540);
}
#cntDigitalInputsCell_4_GridLine1 {
		z-index: 0;
}
#cntDigitalInputsCell_4_GridLine1 {
	.container{
		padding: 5px 0px;
	}
}
#cntDigitalInputsCell_4_GridLineItem1 {
		z-index: 0;
}
#cntDigitalInputsCell_4_GridLineItem1 {
		padding: 0px 10px 10px 10px;
}
#cntDigitalInputsCell_4_Label2 {
	@include elemAutoHeight(30);
}
#cntDigitalInputsCell_4_Label2 {
	@include elemTop(1);
}
#cntDigitalInputsCell_4_Label2 {
	@include elemLeft(6);
}
#cntDigitalInputsCell_4_Label2 {
	@include elemAutoWidth(265);
}
#cntDigitalInputsCell_4_Label2 {
		z-index: 0;
}
#cntDigitalInputsCell_4_Label2 {
	& span{
		color: rgba(105, 105, 105, 1);
	}
}
#cntDigitalInputsCell_4_Label2 {
	@include text-alignment-all('center');
}
#cntDigitalInputsCell_4_Label2 {
	span{
	@include text-decoration-underline(true);
	}
}
#cntDigitalInputsCell_4_ImageList1 {
	@include elemTop(36);
}
#cntDigitalInputsCell_4_ImageList1 {
	@include elemLeft(11);
}
#cntDigitalInputsCell_4_ImageList1 {
	@include elemWidth(20);
}
#cntDigitalInputsCell_4_ImageList1 {
	@include elemHeight(20);
}
#cntDigitalInputsCell_4_ImageList1 {
		z-index: 1;
}
#cntDigitalInputsCell_4_ImageList2 {
	@include elemTop(66);
}
#cntDigitalInputsCell_4_ImageList2 {
	@include elemLeft(11);
}
#cntDigitalInputsCell_4_ImageList2 {
	@include elemWidth(20);
}
#cntDigitalInputsCell_4_ImageList2 {
	@include elemHeight(20);
}
#cntDigitalInputsCell_4_ImageList2 {
		z-index: 2;
}
#cntDigitalInputsCell_4_ImageList3 {
	@include elemTop(96);
}
#cntDigitalInputsCell_4_ImageList3 {
	@include elemLeft(11);
}
#cntDigitalInputsCell_4_ImageList3 {
	@include elemWidth(20);
}
#cntDigitalInputsCell_4_ImageList3 {
	@include elemHeight(20);
}
#cntDigitalInputsCell_4_ImageList3 {
		z-index: 3;
}
#cntDigitalInputsCell_4_ImageList4 {
	@include elemTop(126);
}
#cntDigitalInputsCell_4_ImageList4 {
	@include elemLeft(11);
}
#cntDigitalInputsCell_4_ImageList4 {
	@include elemWidth(20);
}
#cntDigitalInputsCell_4_ImageList4 {
	@include elemHeight(20);
}
#cntDigitalInputsCell_4_ImageList4 {
		z-index: 4;
}
#cntDigitalInputsCell_4_ImageList5 {
	@include elemTop(156);
}
#cntDigitalInputsCell_4_ImageList5 {
	@include elemLeft(11);
}
#cntDigitalInputsCell_4_ImageList5 {
	@include elemWidth(20);
}
#cntDigitalInputsCell_4_ImageList5 {
	@include elemHeight(20);
}
#cntDigitalInputsCell_4_ImageList5 {
		z-index: 5;
}
#cntDigitalInputsCell_4_ImageList6 {
	@include elemTop(186);
}
#cntDigitalInputsCell_4_ImageList6 {
	@include elemLeft(11);
}
#cntDigitalInputsCell_4_ImageList6 {
	@include elemWidth(20);
}
#cntDigitalInputsCell_4_ImageList6 {
	@include elemHeight(20);
}
#cntDigitalInputsCell_4_ImageList6 {
		z-index: 6;
}
#cntDigitalInputsCell_4_ImageList7 {
	@include elemTop(216);
}
#cntDigitalInputsCell_4_ImageList7 {
	@include elemLeft(11);
}
#cntDigitalInputsCell_4_ImageList7 {
	@include elemWidth(20);
}
#cntDigitalInputsCell_4_ImageList7 {
	@include elemHeight(20);
}
#cntDigitalInputsCell_4_ImageList7 {
		z-index: 7;
}
#cntDigitalInputsCell_4_ImageList8 {
	@include elemTop(246);
}
#cntDigitalInputsCell_4_ImageList8 {
	@include elemLeft(11);
}
#cntDigitalInputsCell_4_ImageList8 {
	@include elemWidth(20);
}
#cntDigitalInputsCell_4_ImageList8 {
	@include elemHeight(20);
}
#cntDigitalInputsCell_4_ImageList8 {
		z-index: 8;
}
#cntDigitalInputsCell_4_ImageList9 {
	@include elemTop(276);
}
#cntDigitalInputsCell_4_ImageList9 {
	@include elemLeft(11);
}
#cntDigitalInputsCell_4_ImageList9 {
	@include elemWidth(20);
}
#cntDigitalInputsCell_4_ImageList9 {
	@include elemHeight(20);
}
#cntDigitalInputsCell_4_ImageList9 {
		z-index: 9;
}
#cntDigitalInputsCell_4_ImageList10 {
	@include elemTop(306);
}
#cntDigitalInputsCell_4_ImageList10 {
	@include elemLeft(11);
}
#cntDigitalInputsCell_4_ImageList10 {
	@include elemWidth(20);
}
#cntDigitalInputsCell_4_ImageList10 {
	@include elemHeight(20);
}
#cntDigitalInputsCell_4_ImageList10 {
		z-index: 10;
}
#cntDigitalInputsCell_4_ImageList11 {
	@include elemTop(336);
}
#cntDigitalInputsCell_4_ImageList11 {
	@include elemLeft(11);
}
#cntDigitalInputsCell_4_ImageList11 {
	@include elemWidth(20);
}
#cntDigitalInputsCell_4_ImageList11 {
	@include elemHeight(20);
}
#cntDigitalInputsCell_4_ImageList11 {
		z-index: 11;
}
#cntDigitalInputsCell_4_ImageList12 {
	@include elemTop(366);
}
#cntDigitalInputsCell_4_ImageList12 {
	@include elemLeft(11);
}
#cntDigitalInputsCell_4_ImageList12 {
	@include elemWidth(20);
}
#cntDigitalInputsCell_4_ImageList12 {
	@include elemHeight(20);
}
#cntDigitalInputsCell_4_ImageList12 {
		z-index: 12;
}
#cntDigitalInputsCell_4_ImageList13 {
	@include elemTop(396);
}
#cntDigitalInputsCell_4_ImageList13 {
	@include elemLeft(11);
}
#cntDigitalInputsCell_4_ImageList13 {
	@include elemWidth(20);
}
#cntDigitalInputsCell_4_ImageList13 {
	@include elemHeight(20);
}
#cntDigitalInputsCell_4_ImageList13 {
		z-index: 13;
}
#cntDigitalInputsCell_4_ImageList14 {
	@include elemTop(426);
}
#cntDigitalInputsCell_4_ImageList14 {
	@include elemLeft(11);
}
#cntDigitalInputsCell_4_ImageList14 {
	@include elemWidth(20);
}
#cntDigitalInputsCell_4_ImageList14 {
	@include elemHeight(20);
}
#cntDigitalInputsCell_4_ImageList14 {
		z-index: 14;
}
#cntDigitalInputsCell_4_ImageList15 {
	@include elemTop(456);
}
#cntDigitalInputsCell_4_ImageList15 {
	@include elemLeft(11);
}
#cntDigitalInputsCell_4_ImageList15 {
	@include elemWidth(20);
}
#cntDigitalInputsCell_4_ImageList15 {
	@include elemHeight(20);
}
#cntDigitalInputsCell_4_ImageList15 {
		z-index: 15;
}
#cntDigitalInputsCell_4_ImageList16 {
	@include elemTop(486);
}
#cntDigitalInputsCell_4_ImageList16 {
	@include elemLeft(11);
}
#cntDigitalInputsCell_4_ImageList16 {
	@include elemWidth(20);
}
#cntDigitalInputsCell_4_ImageList16 {
	@include elemHeight(20);
}
#cntDigitalInputsCell_4_ImageList16 {
		z-index: 16;
}
#cntDigitalInputsCell_4_Label_do1 {
	@include elemTop(36);
}
#cntDigitalInputsCell_4_Label_do1 {
	@include elemLeft(45);
}
#cntDigitalInputsCell_4_Label_do1 {
	@include elemAutoWidth(210);
}
#cntDigitalInputsCell_4_Label_do1 {
	@include elemAutoHeight(20);
}
#cntDigitalInputsCell_4_Label_do1 {
		z-index: 17;
}
#cntDigitalInputsCell_4_Label_do2 {
	@include elemTop(66);
}
#cntDigitalInputsCell_4_Label_do2 {
	@include elemLeft(45);
}
#cntDigitalInputsCell_4_Label_do2 {
	@include elemAutoWidth(210);
}
#cntDigitalInputsCell_4_Label_do2 {
	@include elemAutoHeight(20);
}
#cntDigitalInputsCell_4_Label_do2 {
		z-index: 18;
}
#cntDigitalInputsCell_4_Label_do3 {
	@include elemTop(96);
}
#cntDigitalInputsCell_4_Label_do3 {
	@include elemLeft(45);
}
#cntDigitalInputsCell_4_Label_do3 {
	@include elemAutoWidth(210);
}
#cntDigitalInputsCell_4_Label_do3 {
	@include elemAutoHeight(20);
}
#cntDigitalInputsCell_4_Label_do3 {
		z-index: 19;
}
#cntDigitalInputsCell_4_Label_do4 {
	@include elemTop(126);
}
#cntDigitalInputsCell_4_Label_do4 {
	@include elemLeft(45);
}
#cntDigitalInputsCell_4_Label_do4 {
	@include elemAutoWidth(210);
}
#cntDigitalInputsCell_4_Label_do4 {
	@include elemAutoHeight(20);
}
#cntDigitalInputsCell_4_Label_do4 {
		z-index: 20;
}
#cntDigitalInputsCell_4_Label_do5 {
	@include elemTop(156);
}
#cntDigitalInputsCell_4_Label_do5 {
	@include elemLeft(45);
}
#cntDigitalInputsCell_4_Label_do5 {
	@include elemAutoWidth(210);
}
#cntDigitalInputsCell_4_Label_do5 {
	@include elemAutoHeight(20);
}
#cntDigitalInputsCell_4_Label_do5 {
		z-index: 21;
}
#cntDigitalInputsCell_4_Label_do6 {
	@include elemTop(186);
}
#cntDigitalInputsCell_4_Label_do6 {
	@include elemLeft(45);
}
#cntDigitalInputsCell_4_Label_do6 {
	@include elemAutoWidth(210);
}
#cntDigitalInputsCell_4_Label_do6 {
	@include elemAutoHeight(20);
}
#cntDigitalInputsCell_4_Label_do6 {
		z-index: 22;
}
#cntDigitalInputsCell_4_Label_do7 {
	@include elemTop(216);
}
#cntDigitalInputsCell_4_Label_do7 {
	@include elemLeft(45);
}
#cntDigitalInputsCell_4_Label_do7 {
	@include elemAutoWidth(210);
}
#cntDigitalInputsCell_4_Label_do7 {
	@include elemAutoHeight(20);
}
#cntDigitalInputsCell_4_Label_do7 {
		z-index: 23;
}
#cntDigitalInputsCell_4_Label_do8 {
	@include elemTop(246);
}
#cntDigitalInputsCell_4_Label_do8 {
	@include elemLeft(45);
}
#cntDigitalInputsCell_4_Label_do8 {
	@include elemAutoWidth(210);
}
#cntDigitalInputsCell_4_Label_do8 {
	@include elemAutoHeight(20);
}
#cntDigitalInputsCell_4_Label_do8 {
		z-index: 24;
}
#cntDigitalInputsCell_4_Label_do9 {
	@include elemTop(276);
}
#cntDigitalInputsCell_4_Label_do9 {
	@include elemLeft(45);
}
#cntDigitalInputsCell_4_Label_do9 {
	@include elemAutoWidth(210);
}
#cntDigitalInputsCell_4_Label_do9 {
	@include elemAutoHeight(20);
}
#cntDigitalInputsCell_4_Label_do9 {
		z-index: 25;
}
#cntDigitalInputsCell_4_Label_do10 {
	@include elemTop(306);
}
#cntDigitalInputsCell_4_Label_do10 {
	@include elemLeft(45);
}
#cntDigitalInputsCell_4_Label_do10 {
	@include elemAutoWidth(210);
}
#cntDigitalInputsCell_4_Label_do10 {
	@include elemAutoHeight(20);
}
#cntDigitalInputsCell_4_Label_do10 {
		z-index: 26;
}
#cntDigitalInputsCell_4_Label_do11 {
	@include elemTop(336);
}
#cntDigitalInputsCell_4_Label_do11 {
	@include elemLeft(45);
}
#cntDigitalInputsCell_4_Label_do11 {
	@include elemAutoWidth(210);
}
#cntDigitalInputsCell_4_Label_do11 {
	@include elemAutoHeight(20);
}
#cntDigitalInputsCell_4_Label_do11 {
		z-index: 27;
}
#cntDigitalInputsCell_4_Label_do12 {
	@include elemTop(366);
}
#cntDigitalInputsCell_4_Label_do12 {
	@include elemLeft(45);
}
#cntDigitalInputsCell_4_Label_do12 {
	@include elemAutoWidth(210);
}
#cntDigitalInputsCell_4_Label_do12 {
	@include elemAutoHeight(20);
}
#cntDigitalInputsCell_4_Label_do12 {
		z-index: 28;
}
#cntDigitalInputsCell_4_Label_do13 {
	@include elemTop(396);
}
#cntDigitalInputsCell_4_Label_do13 {
	@include elemLeft(45);
}
#cntDigitalInputsCell_4_Label_do13 {
	@include elemAutoWidth(210);
}
#cntDigitalInputsCell_4_Label_do13 {
	@include elemAutoHeight(20);
}
#cntDigitalInputsCell_4_Label_do13 {
		z-index: 29;
}
#cntDigitalInputsCell_4_Label_do14 {
	@include elemTop(426);
}
#cntDigitalInputsCell_4_Label_do14 {
	@include elemLeft(45);
}
#cntDigitalInputsCell_4_Label_do14 {
	@include elemAutoWidth(210);
}
#cntDigitalInputsCell_4_Label_do14 {
	@include elemAutoHeight(20);
}
#cntDigitalInputsCell_4_Label_do14 {
		z-index: 30;
}
#cntDigitalInputsCell_4_Label_do15 {
	@include elemTop(456);
}
#cntDigitalInputsCell_4_Label_do15 {
	@include elemLeft(45);
}
#cntDigitalInputsCell_4_Label_do15 {
	@include elemAutoWidth(210);
}
#cntDigitalInputsCell_4_Label_do15 {
	@include elemAutoHeight(20);
}
#cntDigitalInputsCell_4_Label_do15 {
		z-index: 31;
}
#cntDigitalInputsCell_4_Label_do16 {
	@include elemTop(486);
}
#cntDigitalInputsCell_4_Label_do16 {
	@include elemLeft(45);
}
#cntDigitalInputsCell_4_Label_do16 {
	@include elemAutoWidth(210);
}
#cntDigitalInputsCell_4_Label_do16 {
	@include elemAutoHeight(20);
}
#cntDigitalInputsCell_4_Label_do16 {
		z-index: 32;
}
#cntDigitalInputsCell_4_GridLineItem3 {
		z-index: 1;
}
#cntDigitalInputsCell_4_GridLineItem3 {
		padding: 0px 10px 10px 10px;
}
#cntDigitalInputsCell_4_Label3 {
	@include elemAutoHeight(30);
}
#cntDigitalInputsCell_4_Label3 {
	@include elemTop(1);
}
#cntDigitalInputsCell_4_Label3 {
	@include elemLeft(6);
}
#cntDigitalInputsCell_4_Label3 {
	@include elemAutoWidth(265);
}
#cntDigitalInputsCell_4_Label3 {
		z-index: 0;
}
#cntDigitalInputsCell_4_Label3 {
	& span{
		color: rgba(105, 105, 105, 1);
	}
}
#cntDigitalInputsCell_4_Label3 {
	@include text-alignment-all('center');
}
#cntDigitalInputsCell_4_Label3 {
	span{
	@include text-decoration-underline(true);
	}
}
#cntDigitalInputsCell_4_ImageList17 {
	@include elemTop(36);
}
#cntDigitalInputsCell_4_ImageList17 {
	@include elemLeft(11);
}
#cntDigitalInputsCell_4_ImageList17 {
	@include elemWidth(20);
}
#cntDigitalInputsCell_4_ImageList17 {
	@include elemHeight(20);
}
#cntDigitalInputsCell_4_ImageList17 {
		z-index: 1;
}
#cntDigitalInputsCell_4_ImageList18 {
	@include elemTop(66);
}
#cntDigitalInputsCell_4_ImageList18 {
	@include elemLeft(11);
}
#cntDigitalInputsCell_4_ImageList18 {
	@include elemWidth(20);
}
#cntDigitalInputsCell_4_ImageList18 {
	@include elemHeight(20);
}
#cntDigitalInputsCell_4_ImageList18 {
		z-index: 2;
}
#cntDigitalInputsCell_4_ImageList19 {
	@include elemTop(96);
}
#cntDigitalInputsCell_4_ImageList19 {
	@include elemLeft(11);
}
#cntDigitalInputsCell_4_ImageList19 {
	@include elemWidth(20);
}
#cntDigitalInputsCell_4_ImageList19 {
	@include elemHeight(20);
}
#cntDigitalInputsCell_4_ImageList19 {
		z-index: 3;
}
#cntDigitalInputsCell_4_ImageList20 {
	@include elemTop(126);
}
#cntDigitalInputsCell_4_ImageList20 {
	@include elemLeft(11);
}
#cntDigitalInputsCell_4_ImageList20 {
	@include elemWidth(20);
}
#cntDigitalInputsCell_4_ImageList20 {
	@include elemHeight(20);
}
#cntDigitalInputsCell_4_ImageList20 {
		z-index: 4;
}
#cntDigitalInputsCell_4_ImageList21 {
	@include elemTop(156);
}
#cntDigitalInputsCell_4_ImageList21 {
	@include elemLeft(11);
}
#cntDigitalInputsCell_4_ImageList21 {
	@include elemWidth(20);
}
#cntDigitalInputsCell_4_ImageList21 {
	@include elemHeight(20);
}
#cntDigitalInputsCell_4_ImageList21 {
		z-index: 5;
}
#cntDigitalInputsCell_4_ImageList22 {
	@include elemTop(186);
}
#cntDigitalInputsCell_4_ImageList22 {
	@include elemLeft(11);
}
#cntDigitalInputsCell_4_ImageList22 {
	@include elemWidth(20);
}
#cntDigitalInputsCell_4_ImageList22 {
	@include elemHeight(20);
}
#cntDigitalInputsCell_4_ImageList22 {
		z-index: 6;
}
#cntDigitalInputsCell_4_ImageList23 {
	@include elemTop(216);
}
#cntDigitalInputsCell_4_ImageList23 {
	@include elemLeft(11);
}
#cntDigitalInputsCell_4_ImageList23 {
	@include elemWidth(20);
}
#cntDigitalInputsCell_4_ImageList23 {
	@include elemHeight(20);
}
#cntDigitalInputsCell_4_ImageList23 {
		z-index: 7;
}
#cntDigitalInputsCell_4_ImageList24 {
	@include elemTop(246);
}
#cntDigitalInputsCell_4_ImageList24 {
	@include elemLeft(11);
}
#cntDigitalInputsCell_4_ImageList24 {
	@include elemWidth(20);
}
#cntDigitalInputsCell_4_ImageList24 {
	@include elemHeight(20);
}
#cntDigitalInputsCell_4_ImageList24 {
		z-index: 8;
}
#cntDigitalInputsCell_4_ImageList25 {
	@include elemTop(276);
}
#cntDigitalInputsCell_4_ImageList25 {
	@include elemLeft(11);
}
#cntDigitalInputsCell_4_ImageList25 {
	@include elemWidth(20);
}
#cntDigitalInputsCell_4_ImageList25 {
	@include elemHeight(20);
}
#cntDigitalInputsCell_4_ImageList25 {
		z-index: 9;
}
#cntDigitalInputsCell_4_ImageList26 {
	@include elemTop(306);
}
#cntDigitalInputsCell_4_ImageList26 {
	@include elemLeft(11);
}
#cntDigitalInputsCell_4_ImageList26 {
	@include elemWidth(20);
}
#cntDigitalInputsCell_4_ImageList26 {
	@include elemHeight(20);
}
#cntDigitalInputsCell_4_ImageList26 {
		z-index: 10;
}
#cntDigitalInputsCell_4_ImageList27 {
	@include elemTop(336);
}
#cntDigitalInputsCell_4_ImageList27 {
	@include elemLeft(11);
}
#cntDigitalInputsCell_4_ImageList27 {
	@include elemWidth(20);
}
#cntDigitalInputsCell_4_ImageList27 {
	@include elemHeight(20);
}
#cntDigitalInputsCell_4_ImageList27 {
		z-index: 11;
}
#cntDigitalInputsCell_4_ImageList28 {
	@include elemTop(366);
}
#cntDigitalInputsCell_4_ImageList28 {
	@include elemLeft(11);
}
#cntDigitalInputsCell_4_ImageList28 {
	@include elemWidth(20);
}
#cntDigitalInputsCell_4_ImageList28 {
	@include elemHeight(20);
}
#cntDigitalInputsCell_4_ImageList28 {
		z-index: 12;
}
#cntDigitalInputsCell_4_ImageList29 {
	@include elemTop(396);
}
#cntDigitalInputsCell_4_ImageList29 {
	@include elemLeft(11);
}
#cntDigitalInputsCell_4_ImageList29 {
	@include elemWidth(20);
}
#cntDigitalInputsCell_4_ImageList29 {
	@include elemHeight(20);
}
#cntDigitalInputsCell_4_ImageList29 {
		z-index: 13;
}
#cntDigitalInputsCell_4_ImageList30 {
	@include elemTop(426);
}
#cntDigitalInputsCell_4_ImageList30 {
	@include elemLeft(11);
}
#cntDigitalInputsCell_4_ImageList30 {
	@include elemWidth(20);
}
#cntDigitalInputsCell_4_ImageList30 {
	@include elemHeight(20);
}
#cntDigitalInputsCell_4_ImageList30 {
		z-index: 14;
}
#cntDigitalInputsCell_4_ImageList31 {
	@include elemTop(456);
}
#cntDigitalInputsCell_4_ImageList31 {
	@include elemLeft(11);
}
#cntDigitalInputsCell_4_ImageList31 {
	@include elemWidth(20);
}
#cntDigitalInputsCell_4_ImageList31 {
	@include elemHeight(20);
}
#cntDigitalInputsCell_4_ImageList31 {
		z-index: 15;
}
#cntDigitalInputsCell_4_ImageList32 {
	@include elemTop(486);
}
#cntDigitalInputsCell_4_ImageList32 {
	@include elemLeft(11);
}
#cntDigitalInputsCell_4_ImageList32 {
	@include elemWidth(20);
}
#cntDigitalInputsCell_4_ImageList32 {
	@include elemHeight(20);
}
#cntDigitalInputsCell_4_ImageList32 {
		z-index: 16;
}
#cntDigitalInputsCell_4_Label_do17 {
	@include elemTop(36);
}
#cntDigitalInputsCell_4_Label_do17 {
	@include elemLeft(45);
}
#cntDigitalInputsCell_4_Label_do17 {
	@include elemAutoWidth(210);
}
#cntDigitalInputsCell_4_Label_do17 {
	@include elemAutoHeight(20);
}
#cntDigitalInputsCell_4_Label_do17 {
		z-index: 17;
}
#cntDigitalInputsCell_4_Label_do18 {
	@include elemTop(66);
}
#cntDigitalInputsCell_4_Label_do18 {
	@include elemLeft(45);
}
#cntDigitalInputsCell_4_Label_do18 {
	@include elemAutoWidth(210);
}
#cntDigitalInputsCell_4_Label_do18 {
	@include elemAutoHeight(20);
}
#cntDigitalInputsCell_4_Label_do18 {
		z-index: 18;
}
#cntDigitalInputsCell_4_Label_do19 {
	@include elemTop(96);
}
#cntDigitalInputsCell_4_Label_do19 {
	@include elemLeft(45);
}
#cntDigitalInputsCell_4_Label_do19 {
	@include elemAutoWidth(210);
}
#cntDigitalInputsCell_4_Label_do19 {
	@include elemAutoHeight(20);
}
#cntDigitalInputsCell_4_Label_do19 {
		z-index: 19;
}
#cntDigitalInputsCell_4_Label_do20 {
	@include elemTop(126);
}
#cntDigitalInputsCell_4_Label_do20 {
	@include elemLeft(45);
}
#cntDigitalInputsCell_4_Label_do20 {
	@include elemAutoWidth(210);
}
#cntDigitalInputsCell_4_Label_do20 {
	@include elemAutoHeight(20);
}
#cntDigitalInputsCell_4_Label_do20 {
		z-index: 20;
}
#cntDigitalInputsCell_4_Label_do21 {
	@include elemTop(156);
}
#cntDigitalInputsCell_4_Label_do21 {
	@include elemLeft(45);
}
#cntDigitalInputsCell_4_Label_do21 {
	@include elemAutoWidth(210);
}
#cntDigitalInputsCell_4_Label_do21 {
	@include elemAutoHeight(20);
}
#cntDigitalInputsCell_4_Label_do21 {
		z-index: 21;
}
#cntDigitalInputsCell_4_Label_do22 {
	@include elemTop(186);
}
#cntDigitalInputsCell_4_Label_do22 {
	@include elemLeft(45);
}
#cntDigitalInputsCell_4_Label_do22 {
	@include elemAutoWidth(210);
}
#cntDigitalInputsCell_4_Label_do22 {
	@include elemAutoHeight(20);
}
#cntDigitalInputsCell_4_Label_do22 {
		z-index: 22;
}
#cntDigitalInputsCell_4_Label_do23 {
	@include elemTop(216);
}
#cntDigitalInputsCell_4_Label_do23 {
	@include elemLeft(45);
}
#cntDigitalInputsCell_4_Label_do23 {
	@include elemAutoWidth(210);
}
#cntDigitalInputsCell_4_Label_do23 {
	@include elemAutoHeight(20);
}
#cntDigitalInputsCell_4_Label_do23 {
		z-index: 23;
}
#cntDigitalInputsCell_4_Label_do24 {
	@include elemTop(246);
}
#cntDigitalInputsCell_4_Label_do24 {
	@include elemLeft(45);
}
#cntDigitalInputsCell_4_Label_do24 {
	@include elemAutoWidth(210);
}
#cntDigitalInputsCell_4_Label_do24 {
	@include elemAutoHeight(20);
}
#cntDigitalInputsCell_4_Label_do24 {
		z-index: 24;
}
#cntDigitalInputsCell_4_Label_do25 {
	@include elemTop(276);
}
#cntDigitalInputsCell_4_Label_do25 {
	@include elemLeft(45);
}
#cntDigitalInputsCell_4_Label_do25 {
	@include elemAutoWidth(210);
}
#cntDigitalInputsCell_4_Label_do25 {
	@include elemAutoHeight(20);
}
#cntDigitalInputsCell_4_Label_do25 {
		z-index: 25;
}
#cntDigitalInputsCell_4_Label_do26 {
	@include elemTop(306);
}
#cntDigitalInputsCell_4_Label_do26 {
	@include elemLeft(45);
}
#cntDigitalInputsCell_4_Label_do26 {
	@include elemAutoWidth(210);
}
#cntDigitalInputsCell_4_Label_do26 {
	@include elemAutoHeight(20);
}
#cntDigitalInputsCell_4_Label_do26 {
		z-index: 26;
}
#cntDigitalInputsCell_4_Label_do27 {
	@include elemTop(336);
}
#cntDigitalInputsCell_4_Label_do27 {
	@include elemLeft(45);
}
#cntDigitalInputsCell_4_Label_do27 {
	@include elemAutoWidth(210);
}
#cntDigitalInputsCell_4_Label_do27 {
	@include elemAutoHeight(20);
}
#cntDigitalInputsCell_4_Label_do27 {
		z-index: 27;
}
#cntDigitalInputsCell_4_Label_do28 {
	@include elemTop(366);
}
#cntDigitalInputsCell_4_Label_do28 {
	@include elemLeft(45);
}
#cntDigitalInputsCell_4_Label_do28 {
	@include elemAutoWidth(210);
}
#cntDigitalInputsCell_4_Label_do28 {
	@include elemAutoHeight(20);
}
#cntDigitalInputsCell_4_Label_do28 {
		z-index: 28;
}
#cntDigitalInputsCell_4_Label_do29 {
	@include elemTop(396);
}
#cntDigitalInputsCell_4_Label_do29 {
	@include elemLeft(45);
}
#cntDigitalInputsCell_4_Label_do29 {
	@include elemAutoWidth(210);
}
#cntDigitalInputsCell_4_Label_do29 {
	@include elemAutoHeight(20);
}
#cntDigitalInputsCell_4_Label_do29 {
		z-index: 29;
}
#cntDigitalInputsCell_4_Label_do30 {
	@include elemTop(426);
}
#cntDigitalInputsCell_4_Label_do30 {
	@include elemLeft(45);
}
#cntDigitalInputsCell_4_Label_do30 {
	@include elemAutoWidth(210);
}
#cntDigitalInputsCell_4_Label_do30 {
	@include elemAutoHeight(20);
}
#cntDigitalInputsCell_4_Label_do30 {
		z-index: 30;
}
#cntDigitalInputsCell_4_Label_do31 {
	@include elemTop(456);
}
#cntDigitalInputsCell_4_Label_do31 {
	@include elemLeft(45);
}
#cntDigitalInputsCell_4_Label_do31 {
	@include elemAutoWidth(210);
}
#cntDigitalInputsCell_4_Label_do31 {
	@include elemAutoHeight(20);
}
#cntDigitalInputsCell_4_Label_do31 {
		z-index: 31;
}
#cntDigitalInputsCell_4_Label_do32 {
	@include elemTop(486);
}
#cntDigitalInputsCell_4_Label_do32 {
	@include elemLeft(45);
}
#cntDigitalInputsCell_4_Label_do32 {
	@include elemAutoWidth(210);
}
#cntDigitalInputsCell_4_Label_do32 {
	@include elemAutoHeight(20);
}
#cntDigitalInputsCell_4_Label_do32 {
		z-index: 32;
}
#cntDigitalInputsCell_4_GridLineItem2 {
		z-index: 2;
}
#cntDigitalInputsCell_4_GridLineItem2 {
		padding: 0px 10px 10px 10px;
}
#cntDigitalInputsCell_4_Label4 {
	@include elemAutoHeight(30);
}
#cntDigitalInputsCell_4_Label4 {
	@include elemTop(1);
}
#cntDigitalInputsCell_4_Label4 {
	@include elemLeft(6);
}
#cntDigitalInputsCell_4_Label4 {
	@include elemAutoWidth(265);
}
#cntDigitalInputsCell_4_Label4 {
		z-index: 0;
}
#cntDigitalInputsCell_4_Label4 {
	& span{
		color: rgba(105, 105, 105, 1);
	}
}
#cntDigitalInputsCell_4_Label4 {
	@include text-alignment-all('center');
}
#cntDigitalInputsCell_4_Label4 {
	span{
	@include text-decoration-underline(true);
	}
}
#cntDigitalInputsCell_4_ImageList33 {
	@include elemTop(36);
}
#cntDigitalInputsCell_4_ImageList33 {
	@include elemLeft(11);
}
#cntDigitalInputsCell_4_ImageList33 {
	@include elemWidth(20);
}
#cntDigitalInputsCell_4_ImageList33 {
	@include elemHeight(20);
}
#cntDigitalInputsCell_4_ImageList33 {
		z-index: 1;
}
#cntDigitalInputsCell_4_ImageList34 {
	@include elemTop(66);
}
#cntDigitalInputsCell_4_ImageList34 {
	@include elemLeft(11);
}
#cntDigitalInputsCell_4_ImageList34 {
	@include elemWidth(20);
}
#cntDigitalInputsCell_4_ImageList34 {
	@include elemHeight(20);
}
#cntDigitalInputsCell_4_ImageList34 {
		z-index: 2;
}
#cntDigitalInputsCell_4_ImageList35 {
	@include elemTop(96);
}
#cntDigitalInputsCell_4_ImageList35 {
	@include elemLeft(11);
}
#cntDigitalInputsCell_4_ImageList35 {
	@include elemWidth(20);
}
#cntDigitalInputsCell_4_ImageList35 {
	@include elemHeight(20);
}
#cntDigitalInputsCell_4_ImageList35 {
		z-index: 3;
}
#cntDigitalInputsCell_4_ImageList36 {
	@include elemTop(126);
}
#cntDigitalInputsCell_4_ImageList36 {
	@include elemLeft(11);
}
#cntDigitalInputsCell_4_ImageList36 {
	@include elemWidth(20);
}
#cntDigitalInputsCell_4_ImageList36 {
	@include elemHeight(20);
}
#cntDigitalInputsCell_4_ImageList36 {
		z-index: 4;
}
#cntDigitalInputsCell_4_ImageList37 {
	@include elemTop(156);
}
#cntDigitalInputsCell_4_ImageList37 {
	@include elemLeft(11);
}
#cntDigitalInputsCell_4_ImageList37 {
	@include elemWidth(20);
}
#cntDigitalInputsCell_4_ImageList37 {
	@include elemHeight(20);
}
#cntDigitalInputsCell_4_ImageList37 {
		z-index: 5;
}
#cntDigitalInputsCell_4_ImageList38 {
	@include elemTop(186);
}
#cntDigitalInputsCell_4_ImageList38 {
	@include elemLeft(11);
}
#cntDigitalInputsCell_4_ImageList38 {
	@include elemWidth(20);
}
#cntDigitalInputsCell_4_ImageList38 {
	@include elemHeight(20);
}
#cntDigitalInputsCell_4_ImageList38 {
		z-index: 6;
}
#cntDigitalInputsCell_4_ImageList39 {
	@include elemTop(216);
}
#cntDigitalInputsCell_4_ImageList39 {
	@include elemLeft(11);
}
#cntDigitalInputsCell_4_ImageList39 {
	@include elemWidth(20);
}
#cntDigitalInputsCell_4_ImageList39 {
	@include elemHeight(20);
}
#cntDigitalInputsCell_4_ImageList39 {
		z-index: 7;
}
#cntDigitalInputsCell_4_ImageList40 {
	@include elemTop(246);
}
#cntDigitalInputsCell_4_ImageList40 {
	@include elemLeft(11);
}
#cntDigitalInputsCell_4_ImageList40 {
	@include elemWidth(20);
}
#cntDigitalInputsCell_4_ImageList40 {
	@include elemHeight(20);
}
#cntDigitalInputsCell_4_ImageList40 {
		z-index: 8;
}
#cntDigitalInputsCell_4_ImageList41 {
	@include elemTop(276);
}
#cntDigitalInputsCell_4_ImageList41 {
	@include elemLeft(11);
}
#cntDigitalInputsCell_4_ImageList41 {
	@include elemWidth(20);
}
#cntDigitalInputsCell_4_ImageList41 {
	@include elemHeight(20);
}
#cntDigitalInputsCell_4_ImageList41 {
		z-index: 9;
}
#cntDigitalInputsCell_4_ImageList42 {
	@include elemTop(306);
}
#cntDigitalInputsCell_4_ImageList42 {
	@include elemLeft(11);
}
#cntDigitalInputsCell_4_ImageList42 {
	@include elemWidth(20);
}
#cntDigitalInputsCell_4_ImageList42 {
	@include elemHeight(20);
}
#cntDigitalInputsCell_4_ImageList42 {
		z-index: 10;
}
#cntDigitalInputsCell_4_ImageList43 {
	@include elemTop(336);
}
#cntDigitalInputsCell_4_ImageList43 {
	@include elemLeft(11);
}
#cntDigitalInputsCell_4_ImageList43 {
	@include elemWidth(20);
}
#cntDigitalInputsCell_4_ImageList43 {
	@include elemHeight(20);
}
#cntDigitalInputsCell_4_ImageList43 {
		z-index: 11;
}
#cntDigitalInputsCell_4_ImageList44 {
	@include elemTop(366);
}
#cntDigitalInputsCell_4_ImageList44 {
	@include elemLeft(11);
}
#cntDigitalInputsCell_4_ImageList44 {
	@include elemWidth(20);
}
#cntDigitalInputsCell_4_ImageList44 {
	@include elemHeight(20);
}
#cntDigitalInputsCell_4_ImageList44 {
		z-index: 12;
}
#cntDigitalInputsCell_4_ImageList45 {
	@include elemTop(396);
}
#cntDigitalInputsCell_4_ImageList45 {
	@include elemLeft(11);
}
#cntDigitalInputsCell_4_ImageList45 {
	@include elemWidth(20);
}
#cntDigitalInputsCell_4_ImageList45 {
	@include elemHeight(20);
}
#cntDigitalInputsCell_4_ImageList45 {
		z-index: 13;
}
#cntDigitalInputsCell_4_ImageList46 {
	@include elemTop(426);
}
#cntDigitalInputsCell_4_ImageList46 {
	@include elemLeft(11);
}
#cntDigitalInputsCell_4_ImageList46 {
	@include elemWidth(20);
}
#cntDigitalInputsCell_4_ImageList46 {
	@include elemHeight(20);
}
#cntDigitalInputsCell_4_ImageList46 {
		z-index: 14;
}
#cntDigitalInputsCell_4_ImageList47 {
	@include elemTop(456);
}
#cntDigitalInputsCell_4_ImageList47 {
	@include elemLeft(11);
}
#cntDigitalInputsCell_4_ImageList47 {
	@include elemWidth(20);
}
#cntDigitalInputsCell_4_ImageList47 {
	@include elemHeight(20);
}
#cntDigitalInputsCell_4_ImageList47 {
		z-index: 15;
}
#cntDigitalInputsCell_4_ImageList48 {
	@include elemTop(486);
}
#cntDigitalInputsCell_4_ImageList48 {
	@include elemLeft(11);
}
#cntDigitalInputsCell_4_ImageList48 {
	@include elemWidth(20);
}
#cntDigitalInputsCell_4_ImageList48 {
	@include elemHeight(20);
}
#cntDigitalInputsCell_4_ImageList48 {
		z-index: 16;
}
#cntDigitalInputsCell_4_Label_do33 {
	@include elemTop(36);
}
#cntDigitalInputsCell_4_Label_do33 {
	@include elemLeft(45);
}
#cntDigitalInputsCell_4_Label_do33 {
	@include elemAutoWidth(210);
}
#cntDigitalInputsCell_4_Label_do33 {
	@include elemAutoHeight(20);
}
#cntDigitalInputsCell_4_Label_do33 {
		z-index: 17;
}
#cntDigitalInputsCell_4_Label_do34 {
	@include elemTop(66);
}
#cntDigitalInputsCell_4_Label_do34 {
	@include elemLeft(45);
}
#cntDigitalInputsCell_4_Label_do34 {
	@include elemAutoWidth(210);
}
#cntDigitalInputsCell_4_Label_do34 {
	@include elemAutoHeight(20);
}
#cntDigitalInputsCell_4_Label_do34 {
		z-index: 18;
}
#cntDigitalInputsCell_4_Label_do35 {
	@include elemTop(96);
}
#cntDigitalInputsCell_4_Label_do35 {
	@include elemLeft(45);
}
#cntDigitalInputsCell_4_Label_do35 {
	@include elemAutoWidth(210);
}
#cntDigitalInputsCell_4_Label_do35 {
	@include elemAutoHeight(20);
}
#cntDigitalInputsCell_4_Label_do35 {
		z-index: 19;
}
#cntDigitalInputsCell_4_Label_do36 {
	@include elemTop(126);
}
#cntDigitalInputsCell_4_Label_do36 {
	@include elemLeft(45);
}
#cntDigitalInputsCell_4_Label_do36 {
	@include elemAutoWidth(210);
}
#cntDigitalInputsCell_4_Label_do36 {
	@include elemAutoHeight(20);
}
#cntDigitalInputsCell_4_Label_do36 {
		z-index: 20;
}
#cntDigitalInputsCell_4_Label_do37 {
	@include elemTop(156);
}
#cntDigitalInputsCell_4_Label_do37 {
	@include elemLeft(45);
}
#cntDigitalInputsCell_4_Label_do37 {
	@include elemAutoWidth(210);
}
#cntDigitalInputsCell_4_Label_do37 {
	@include elemAutoHeight(20);
}
#cntDigitalInputsCell_4_Label_do37 {
		z-index: 21;
}
#cntDigitalInputsCell_4_Label_do38 {
	@include elemTop(186);
}
#cntDigitalInputsCell_4_Label_do38 {
	@include elemLeft(45);
}
#cntDigitalInputsCell_4_Label_do38 {
	@include elemAutoWidth(210);
}
#cntDigitalInputsCell_4_Label_do38 {
	@include elemAutoHeight(20);
}
#cntDigitalInputsCell_4_Label_do38 {
		z-index: 22;
}
#cntDigitalInputsCell_4_Label_do39 {
	@include elemTop(216);
}
#cntDigitalInputsCell_4_Label_do39 {
	@include elemLeft(45);
}
#cntDigitalInputsCell_4_Label_do39 {
	@include elemAutoWidth(210);
}
#cntDigitalInputsCell_4_Label_do39 {
	@include elemAutoHeight(20);
}
#cntDigitalInputsCell_4_Label_do39 {
		z-index: 23;
}
#cntDigitalInputsCell_4_Label_do40 {
	@include elemTop(246);
}
#cntDigitalInputsCell_4_Label_do40 {
	@include elemLeft(45);
}
#cntDigitalInputsCell_4_Label_do40 {
	@include elemAutoWidth(210);
}
#cntDigitalInputsCell_4_Label_do40 {
	@include elemAutoHeight(20);
}
#cntDigitalInputsCell_4_Label_do40 {
		z-index: 24;
}
#cntDigitalInputsCell_4_Label_do41 {
	@include elemTop(276);
}
#cntDigitalInputsCell_4_Label_do41 {
	@include elemLeft(45);
}
#cntDigitalInputsCell_4_Label_do41 {
	@include elemAutoWidth(210);
}
#cntDigitalInputsCell_4_Label_do41 {
	@include elemAutoHeight(20);
}
#cntDigitalInputsCell_4_Label_do41 {
		z-index: 25;
}
#cntDigitalInputsCell_4_Label_do42 {
	@include elemTop(306);
}
#cntDigitalInputsCell_4_Label_do42 {
	@include elemLeft(45);
}
#cntDigitalInputsCell_4_Label_do42 {
	@include elemAutoWidth(210);
}
#cntDigitalInputsCell_4_Label_do42 {
	@include elemAutoHeight(20);
}
#cntDigitalInputsCell_4_Label_do42 {
		z-index: 26;
}
#cntDigitalInputsCell_4_Label_do43 {
	@include elemTop(336);
}
#cntDigitalInputsCell_4_Label_do43 {
	@include elemLeft(45);
}
#cntDigitalInputsCell_4_Label_do43 {
	@include elemAutoWidth(210);
}
#cntDigitalInputsCell_4_Label_do43 {
	@include elemAutoHeight(20);
}
#cntDigitalInputsCell_4_Label_do43 {
		z-index: 27;
}
#cntDigitalInputsCell_4_Label_do44 {
	@include elemTop(366);
}
#cntDigitalInputsCell_4_Label_do44 {
	@include elemLeft(45);
}
#cntDigitalInputsCell_4_Label_do44 {
	@include elemAutoWidth(210);
}
#cntDigitalInputsCell_4_Label_do44 {
	@include elemAutoHeight(20);
}
#cntDigitalInputsCell_4_Label_do44 {
		z-index: 28;
}
#cntDigitalInputsCell_4_Label_do45 {
	@include elemTop(396);
}
#cntDigitalInputsCell_4_Label_do45 {
	@include elemLeft(45);
}
#cntDigitalInputsCell_4_Label_do45 {
	@include elemAutoWidth(210);
}
#cntDigitalInputsCell_4_Label_do45 {
	@include elemAutoHeight(20);
}
#cntDigitalInputsCell_4_Label_do45 {
		z-index: 29;
}
#cntDigitalInputsCell_4_Label_do46 {
	@include elemTop(426);
}
#cntDigitalInputsCell_4_Label_do46 {
	@include elemLeft(45);
}
#cntDigitalInputsCell_4_Label_do46 {
	@include elemAutoWidth(210);
}
#cntDigitalInputsCell_4_Label_do46 {
	@include elemAutoHeight(20);
}
#cntDigitalInputsCell_4_Label_do46 {
		z-index: 30;
}
#cntDigitalInputsCell_4_Label_do47 {
	@include elemTop(456);
}
#cntDigitalInputsCell_4_Label_do47 {
	@include elemLeft(45);
}
#cntDigitalInputsCell_4_Label_do47 {
	@include elemAutoWidth(210);
}
#cntDigitalInputsCell_4_Label_do47 {
	@include elemAutoHeight(20);
}
#cntDigitalInputsCell_4_Label_do47 {
		z-index: 31;
}
#cntDigitalInputsCell_4_Label_do48 {
	@include elemTop(486);
}
#cntDigitalInputsCell_4_Label_do48 {
	@include elemLeft(45);
}
#cntDigitalInputsCell_4_Label_do48 {
	@include elemAutoWidth(210);
}
#cntDigitalInputsCell_4_Label_do48 {
	@include elemAutoHeight(20);
}
#cntDigitalInputsCell_4_Label_do48 {
		z-index: 32;
}
#cntDigitalInputsCell_4_CheckBox_DigitalINput {
	@include elemTop(0);
}
#cntDigitalInputsCell_4_CheckBox_DigitalINput {
	@include elemLeft(250);
}
#cntDigitalInputsCell_4_CheckBox_DigitalINput {
	@include elemAutoWidth(45);
}
#cntDigitalInputsCell_4_CheckBox_DigitalINput {
	@include elemAutoHeight(45);
}
#cntDigitalInputsCell_4_CheckBox_DigitalINput {
		z-index: 1;
}
#cntDigitalInputsCell_4_CheckBox_DigitalINput {
	span{
	@include font-style-italic(true);
	}
}
#cntDigitalInputsCell_4_CheckBox_DigitalINput {
		padding: 0px;
}
#cntDigitalInputsCell_4_CheckBox_DigitalINput {
	&.checked:not(.disabled) svg{
		fill: rgba(255, 0, 0, 1);
	}
}
