#cntDigitalInputsCell_4_GridLine1 {
  top: 0px;
  position: absolute;
}

#cntDigitalInputsCell_4_GridLine1 {
  left: 0px;
  position: absolute;
}

#cntDigitalInputsCell_4_GridLine1 {
  width: 300px;
}

#cntDigitalInputsCell_4_GridLine1 {
  height: 540px;
}

#cntDigitalInputsCell_4_GridLine1 {
  z-index: 0;
}

#cntDigitalInputsCell_4_GridLine1 .container {
  padding: 5px 0px;
}

#cntDigitalInputsCell_4_GridLineItem1 {
  z-index: 0;
}

#cntDigitalInputsCell_4_GridLineItem1 {
  padding: 0px 10px 10px 10px;
}

#cntDigitalInputsCell_4_Label2 {
  height: 30px;
}

#cntDigitalInputsCell_4_Label2 {
  top: 1px;
  position: absolute;
}

#cntDigitalInputsCell_4_Label2 {
  left: 6px;
  position: absolute;
}

#cntDigitalInputsCell_4_Label2 {
  width: 265px;
}

#cntDigitalInputsCell_4_Label2 {
  z-index: 0;
}

#cntDigitalInputsCell_4_Label2 span {
  color: dimgray;
}

#cntDigitalInputsCell_4_Label2 {
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntDigitalInputsCell_4_Label2 span {
  text-decoration: underline;
}

#cntDigitalInputsCell_4_ImageList1 {
  top: 36px;
  position: absolute;
}

#cntDigitalInputsCell_4_ImageList1 {
  left: 11px;
  position: absolute;
}

#cntDigitalInputsCell_4_ImageList1 {
  width: 20px;
}

#cntDigitalInputsCell_4_ImageList1 {
  height: 20px;
}

#cntDigitalInputsCell_4_ImageList1 {
  z-index: 1;
}

#cntDigitalInputsCell_4_ImageList2 {
  top: 66px;
  position: absolute;
}

#cntDigitalInputsCell_4_ImageList2 {
  left: 11px;
  position: absolute;
}

#cntDigitalInputsCell_4_ImageList2 {
  width: 20px;
}

#cntDigitalInputsCell_4_ImageList2 {
  height: 20px;
}

#cntDigitalInputsCell_4_ImageList2 {
  z-index: 2;
}

#cntDigitalInputsCell_4_ImageList3 {
  top: 96px;
  position: absolute;
}

#cntDigitalInputsCell_4_ImageList3 {
  left: 11px;
  position: absolute;
}

#cntDigitalInputsCell_4_ImageList3 {
  width: 20px;
}

#cntDigitalInputsCell_4_ImageList3 {
  height: 20px;
}

#cntDigitalInputsCell_4_ImageList3 {
  z-index: 3;
}

#cntDigitalInputsCell_4_ImageList4 {
  top: 126px;
  position: absolute;
}

#cntDigitalInputsCell_4_ImageList4 {
  left: 11px;
  position: absolute;
}

#cntDigitalInputsCell_4_ImageList4 {
  width: 20px;
}

#cntDigitalInputsCell_4_ImageList4 {
  height: 20px;
}

#cntDigitalInputsCell_4_ImageList4 {
  z-index: 4;
}

#cntDigitalInputsCell_4_ImageList5 {
  top: 156px;
  position: absolute;
}

#cntDigitalInputsCell_4_ImageList5 {
  left: 11px;
  position: absolute;
}

#cntDigitalInputsCell_4_ImageList5 {
  width: 20px;
}

#cntDigitalInputsCell_4_ImageList5 {
  height: 20px;
}

#cntDigitalInputsCell_4_ImageList5 {
  z-index: 5;
}

#cntDigitalInputsCell_4_ImageList6 {
  top: 186px;
  position: absolute;
}

#cntDigitalInputsCell_4_ImageList6 {
  left: 11px;
  position: absolute;
}

#cntDigitalInputsCell_4_ImageList6 {
  width: 20px;
}

#cntDigitalInputsCell_4_ImageList6 {
  height: 20px;
}

#cntDigitalInputsCell_4_ImageList6 {
  z-index: 6;
}

#cntDigitalInputsCell_4_ImageList7 {
  top: 216px;
  position: absolute;
}

#cntDigitalInputsCell_4_ImageList7 {
  left: 11px;
  position: absolute;
}

#cntDigitalInputsCell_4_ImageList7 {
  width: 20px;
}

#cntDigitalInputsCell_4_ImageList7 {
  height: 20px;
}

#cntDigitalInputsCell_4_ImageList7 {
  z-index: 7;
}

#cntDigitalInputsCell_4_ImageList8 {
  top: 246px;
  position: absolute;
}

#cntDigitalInputsCell_4_ImageList8 {
  left: 11px;
  position: absolute;
}

#cntDigitalInputsCell_4_ImageList8 {
  width: 20px;
}

#cntDigitalInputsCell_4_ImageList8 {
  height: 20px;
}

#cntDigitalInputsCell_4_ImageList8 {
  z-index: 8;
}

#cntDigitalInputsCell_4_ImageList9 {
  top: 276px;
  position: absolute;
}

#cntDigitalInputsCell_4_ImageList9 {
  left: 11px;
  position: absolute;
}

#cntDigitalInputsCell_4_ImageList9 {
  width: 20px;
}

#cntDigitalInputsCell_4_ImageList9 {
  height: 20px;
}

#cntDigitalInputsCell_4_ImageList9 {
  z-index: 9;
}

#cntDigitalInputsCell_4_ImageList10 {
  top: 306px;
  position: absolute;
}

#cntDigitalInputsCell_4_ImageList10 {
  left: 11px;
  position: absolute;
}

#cntDigitalInputsCell_4_ImageList10 {
  width: 20px;
}

#cntDigitalInputsCell_4_ImageList10 {
  height: 20px;
}

#cntDigitalInputsCell_4_ImageList10 {
  z-index: 10;
}

#cntDigitalInputsCell_4_ImageList11 {
  top: 336px;
  position: absolute;
}

#cntDigitalInputsCell_4_ImageList11 {
  left: 11px;
  position: absolute;
}

#cntDigitalInputsCell_4_ImageList11 {
  width: 20px;
}

#cntDigitalInputsCell_4_ImageList11 {
  height: 20px;
}

#cntDigitalInputsCell_4_ImageList11 {
  z-index: 11;
}

#cntDigitalInputsCell_4_ImageList12 {
  top: 366px;
  position: absolute;
}

#cntDigitalInputsCell_4_ImageList12 {
  left: 11px;
  position: absolute;
}

#cntDigitalInputsCell_4_ImageList12 {
  width: 20px;
}

#cntDigitalInputsCell_4_ImageList12 {
  height: 20px;
}

#cntDigitalInputsCell_4_ImageList12 {
  z-index: 12;
}

#cntDigitalInputsCell_4_ImageList13 {
  top: 396px;
  position: absolute;
}

#cntDigitalInputsCell_4_ImageList13 {
  left: 11px;
  position: absolute;
}

#cntDigitalInputsCell_4_ImageList13 {
  width: 20px;
}

#cntDigitalInputsCell_4_ImageList13 {
  height: 20px;
}

#cntDigitalInputsCell_4_ImageList13 {
  z-index: 13;
}

#cntDigitalInputsCell_4_ImageList14 {
  top: 426px;
  position: absolute;
}

#cntDigitalInputsCell_4_ImageList14 {
  left: 11px;
  position: absolute;
}

#cntDigitalInputsCell_4_ImageList14 {
  width: 20px;
}

#cntDigitalInputsCell_4_ImageList14 {
  height: 20px;
}

#cntDigitalInputsCell_4_ImageList14 {
  z-index: 14;
}

#cntDigitalInputsCell_4_ImageList15 {
  top: 456px;
  position: absolute;
}

#cntDigitalInputsCell_4_ImageList15 {
  left: 11px;
  position: absolute;
}

#cntDigitalInputsCell_4_ImageList15 {
  width: 20px;
}

#cntDigitalInputsCell_4_ImageList15 {
  height: 20px;
}

#cntDigitalInputsCell_4_ImageList15 {
  z-index: 15;
}

#cntDigitalInputsCell_4_ImageList16 {
  top: 486px;
  position: absolute;
}

#cntDigitalInputsCell_4_ImageList16 {
  left: 11px;
  position: absolute;
}

#cntDigitalInputsCell_4_ImageList16 {
  width: 20px;
}

#cntDigitalInputsCell_4_ImageList16 {
  height: 20px;
}

#cntDigitalInputsCell_4_ImageList16 {
  z-index: 16;
}

#cntDigitalInputsCell_4_Label_do1 {
  top: 36px;
  position: absolute;
}

#cntDigitalInputsCell_4_Label_do1 {
  left: 45px;
  position: absolute;
}

#cntDigitalInputsCell_4_Label_do1 {
  width: 210px;
}

#cntDigitalInputsCell_4_Label_do1 {
  height: 20px;
}

#cntDigitalInputsCell_4_Label_do1 {
  z-index: 17;
}

#cntDigitalInputsCell_4_Label_do2 {
  top: 66px;
  position: absolute;
}

#cntDigitalInputsCell_4_Label_do2 {
  left: 45px;
  position: absolute;
}

#cntDigitalInputsCell_4_Label_do2 {
  width: 210px;
}

#cntDigitalInputsCell_4_Label_do2 {
  height: 20px;
}

#cntDigitalInputsCell_4_Label_do2 {
  z-index: 18;
}

#cntDigitalInputsCell_4_Label_do3 {
  top: 96px;
  position: absolute;
}

#cntDigitalInputsCell_4_Label_do3 {
  left: 45px;
  position: absolute;
}

#cntDigitalInputsCell_4_Label_do3 {
  width: 210px;
}

#cntDigitalInputsCell_4_Label_do3 {
  height: 20px;
}

#cntDigitalInputsCell_4_Label_do3 {
  z-index: 19;
}

#cntDigitalInputsCell_4_Label_do4 {
  top: 126px;
  position: absolute;
}

#cntDigitalInputsCell_4_Label_do4 {
  left: 45px;
  position: absolute;
}

#cntDigitalInputsCell_4_Label_do4 {
  width: 210px;
}

#cntDigitalInputsCell_4_Label_do4 {
  height: 20px;
}

#cntDigitalInputsCell_4_Label_do4 {
  z-index: 20;
}

#cntDigitalInputsCell_4_Label_do5 {
  top: 156px;
  position: absolute;
}

#cntDigitalInputsCell_4_Label_do5 {
  left: 45px;
  position: absolute;
}

#cntDigitalInputsCell_4_Label_do5 {
  width: 210px;
}

#cntDigitalInputsCell_4_Label_do5 {
  height: 20px;
}

#cntDigitalInputsCell_4_Label_do5 {
  z-index: 21;
}

#cntDigitalInputsCell_4_Label_do6 {
  top: 186px;
  position: absolute;
}

#cntDigitalInputsCell_4_Label_do6 {
  left: 45px;
  position: absolute;
}

#cntDigitalInputsCell_4_Label_do6 {
  width: 210px;
}

#cntDigitalInputsCell_4_Label_do6 {
  height: 20px;
}

#cntDigitalInputsCell_4_Label_do6 {
  z-index: 22;
}

#cntDigitalInputsCell_4_Label_do7 {
  top: 216px;
  position: absolute;
}

#cntDigitalInputsCell_4_Label_do7 {
  left: 45px;
  position: absolute;
}

#cntDigitalInputsCell_4_Label_do7 {
  width: 210px;
}

#cntDigitalInputsCell_4_Label_do7 {
  height: 20px;
}

#cntDigitalInputsCell_4_Label_do7 {
  z-index: 23;
}

#cntDigitalInputsCell_4_Label_do8 {
  top: 246px;
  position: absolute;
}

#cntDigitalInputsCell_4_Label_do8 {
  left: 45px;
  position: absolute;
}

#cntDigitalInputsCell_4_Label_do8 {
  width: 210px;
}

#cntDigitalInputsCell_4_Label_do8 {
  height: 20px;
}

#cntDigitalInputsCell_4_Label_do8 {
  z-index: 24;
}

#cntDigitalInputsCell_4_Label_do9 {
  top: 276px;
  position: absolute;
}

#cntDigitalInputsCell_4_Label_do9 {
  left: 45px;
  position: absolute;
}

#cntDigitalInputsCell_4_Label_do9 {
  width: 210px;
}

#cntDigitalInputsCell_4_Label_do9 {
  height: 20px;
}

#cntDigitalInputsCell_4_Label_do9 {
  z-index: 25;
}

#cntDigitalInputsCell_4_Label_do10 {
  top: 306px;
  position: absolute;
}

#cntDigitalInputsCell_4_Label_do10 {
  left: 45px;
  position: absolute;
}

#cntDigitalInputsCell_4_Label_do10 {
  width: 210px;
}

#cntDigitalInputsCell_4_Label_do10 {
  height: 20px;
}

#cntDigitalInputsCell_4_Label_do10 {
  z-index: 26;
}

#cntDigitalInputsCell_4_Label_do11 {
  top: 336px;
  position: absolute;
}

#cntDigitalInputsCell_4_Label_do11 {
  left: 45px;
  position: absolute;
}

#cntDigitalInputsCell_4_Label_do11 {
  width: 210px;
}

#cntDigitalInputsCell_4_Label_do11 {
  height: 20px;
}

#cntDigitalInputsCell_4_Label_do11 {
  z-index: 27;
}

#cntDigitalInputsCell_4_Label_do12 {
  top: 366px;
  position: absolute;
}

#cntDigitalInputsCell_4_Label_do12 {
  left: 45px;
  position: absolute;
}

#cntDigitalInputsCell_4_Label_do12 {
  width: 210px;
}

#cntDigitalInputsCell_4_Label_do12 {
  height: 20px;
}

#cntDigitalInputsCell_4_Label_do12 {
  z-index: 28;
}

#cntDigitalInputsCell_4_Label_do13 {
  top: 396px;
  position: absolute;
}

#cntDigitalInputsCell_4_Label_do13 {
  left: 45px;
  position: absolute;
}

#cntDigitalInputsCell_4_Label_do13 {
  width: 210px;
}

#cntDigitalInputsCell_4_Label_do13 {
  height: 20px;
}

#cntDigitalInputsCell_4_Label_do13 {
  z-index: 29;
}

#cntDigitalInputsCell_4_Label_do14 {
  top: 426px;
  position: absolute;
}

#cntDigitalInputsCell_4_Label_do14 {
  left: 45px;
  position: absolute;
}

#cntDigitalInputsCell_4_Label_do14 {
  width: 210px;
}

#cntDigitalInputsCell_4_Label_do14 {
  height: 20px;
}

#cntDigitalInputsCell_4_Label_do14 {
  z-index: 30;
}

#cntDigitalInputsCell_4_Label_do15 {
  top: 456px;
  position: absolute;
}

#cntDigitalInputsCell_4_Label_do15 {
  left: 45px;
  position: absolute;
}

#cntDigitalInputsCell_4_Label_do15 {
  width: 210px;
}

#cntDigitalInputsCell_4_Label_do15 {
  height: 20px;
}

#cntDigitalInputsCell_4_Label_do15 {
  z-index: 31;
}

#cntDigitalInputsCell_4_Label_do16 {
  top: 486px;
  position: absolute;
}

#cntDigitalInputsCell_4_Label_do16 {
  left: 45px;
  position: absolute;
}

#cntDigitalInputsCell_4_Label_do16 {
  width: 210px;
}

#cntDigitalInputsCell_4_Label_do16 {
  height: 20px;
}

#cntDigitalInputsCell_4_Label_do16 {
  z-index: 32;
}

#cntDigitalInputsCell_4_GridLineItem3 {
  z-index: 1;
}

#cntDigitalInputsCell_4_GridLineItem3 {
  padding: 0px 10px 10px 10px;
}

#cntDigitalInputsCell_4_Label3 {
  height: 30px;
}

#cntDigitalInputsCell_4_Label3 {
  top: 1px;
  position: absolute;
}

#cntDigitalInputsCell_4_Label3 {
  left: 6px;
  position: absolute;
}

#cntDigitalInputsCell_4_Label3 {
  width: 265px;
}

#cntDigitalInputsCell_4_Label3 {
  z-index: 0;
}

#cntDigitalInputsCell_4_Label3 span {
  color: dimgray;
}

#cntDigitalInputsCell_4_Label3 {
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntDigitalInputsCell_4_Label3 span {
  text-decoration: underline;
}

#cntDigitalInputsCell_4_ImageList17 {
  top: 36px;
  position: absolute;
}

#cntDigitalInputsCell_4_ImageList17 {
  left: 11px;
  position: absolute;
}

#cntDigitalInputsCell_4_ImageList17 {
  width: 20px;
}

#cntDigitalInputsCell_4_ImageList17 {
  height: 20px;
}

#cntDigitalInputsCell_4_ImageList17 {
  z-index: 1;
}

#cntDigitalInputsCell_4_ImageList18 {
  top: 66px;
  position: absolute;
}

#cntDigitalInputsCell_4_ImageList18 {
  left: 11px;
  position: absolute;
}

#cntDigitalInputsCell_4_ImageList18 {
  width: 20px;
}

#cntDigitalInputsCell_4_ImageList18 {
  height: 20px;
}

#cntDigitalInputsCell_4_ImageList18 {
  z-index: 2;
}

#cntDigitalInputsCell_4_ImageList19 {
  top: 96px;
  position: absolute;
}

#cntDigitalInputsCell_4_ImageList19 {
  left: 11px;
  position: absolute;
}

#cntDigitalInputsCell_4_ImageList19 {
  width: 20px;
}

#cntDigitalInputsCell_4_ImageList19 {
  height: 20px;
}

#cntDigitalInputsCell_4_ImageList19 {
  z-index: 3;
}

#cntDigitalInputsCell_4_ImageList20 {
  top: 126px;
  position: absolute;
}

#cntDigitalInputsCell_4_ImageList20 {
  left: 11px;
  position: absolute;
}

#cntDigitalInputsCell_4_ImageList20 {
  width: 20px;
}

#cntDigitalInputsCell_4_ImageList20 {
  height: 20px;
}

#cntDigitalInputsCell_4_ImageList20 {
  z-index: 4;
}

#cntDigitalInputsCell_4_ImageList21 {
  top: 156px;
  position: absolute;
}

#cntDigitalInputsCell_4_ImageList21 {
  left: 11px;
  position: absolute;
}

#cntDigitalInputsCell_4_ImageList21 {
  width: 20px;
}

#cntDigitalInputsCell_4_ImageList21 {
  height: 20px;
}

#cntDigitalInputsCell_4_ImageList21 {
  z-index: 5;
}

#cntDigitalInputsCell_4_ImageList22 {
  top: 186px;
  position: absolute;
}

#cntDigitalInputsCell_4_ImageList22 {
  left: 11px;
  position: absolute;
}

#cntDigitalInputsCell_4_ImageList22 {
  width: 20px;
}

#cntDigitalInputsCell_4_ImageList22 {
  height: 20px;
}

#cntDigitalInputsCell_4_ImageList22 {
  z-index: 6;
}

#cntDigitalInputsCell_4_ImageList23 {
  top: 216px;
  position: absolute;
}

#cntDigitalInputsCell_4_ImageList23 {
  left: 11px;
  position: absolute;
}

#cntDigitalInputsCell_4_ImageList23 {
  width: 20px;
}

#cntDigitalInputsCell_4_ImageList23 {
  height: 20px;
}

#cntDigitalInputsCell_4_ImageList23 {
  z-index: 7;
}

#cntDigitalInputsCell_4_ImageList24 {
  top: 246px;
  position: absolute;
}

#cntDigitalInputsCell_4_ImageList24 {
  left: 11px;
  position: absolute;
}

#cntDigitalInputsCell_4_ImageList24 {
  width: 20px;
}

#cntDigitalInputsCell_4_ImageList24 {
  height: 20px;
}

#cntDigitalInputsCell_4_ImageList24 {
  z-index: 8;
}

#cntDigitalInputsCell_4_ImageList25 {
  top: 276px;
  position: absolute;
}

#cntDigitalInputsCell_4_ImageList25 {
  left: 11px;
  position: absolute;
}

#cntDigitalInputsCell_4_ImageList25 {
  width: 20px;
}

#cntDigitalInputsCell_4_ImageList25 {
  height: 20px;
}

#cntDigitalInputsCell_4_ImageList25 {
  z-index: 9;
}

#cntDigitalInputsCell_4_ImageList26 {
  top: 306px;
  position: absolute;
}

#cntDigitalInputsCell_4_ImageList26 {
  left: 11px;
  position: absolute;
}

#cntDigitalInputsCell_4_ImageList26 {
  width: 20px;
}

#cntDigitalInputsCell_4_ImageList26 {
  height: 20px;
}

#cntDigitalInputsCell_4_ImageList26 {
  z-index: 10;
}

#cntDigitalInputsCell_4_ImageList27 {
  top: 336px;
  position: absolute;
}

#cntDigitalInputsCell_4_ImageList27 {
  left: 11px;
  position: absolute;
}

#cntDigitalInputsCell_4_ImageList27 {
  width: 20px;
}

#cntDigitalInputsCell_4_ImageList27 {
  height: 20px;
}

#cntDigitalInputsCell_4_ImageList27 {
  z-index: 11;
}

#cntDigitalInputsCell_4_ImageList28 {
  top: 366px;
  position: absolute;
}

#cntDigitalInputsCell_4_ImageList28 {
  left: 11px;
  position: absolute;
}

#cntDigitalInputsCell_4_ImageList28 {
  width: 20px;
}

#cntDigitalInputsCell_4_ImageList28 {
  height: 20px;
}

#cntDigitalInputsCell_4_ImageList28 {
  z-index: 12;
}

#cntDigitalInputsCell_4_ImageList29 {
  top: 396px;
  position: absolute;
}

#cntDigitalInputsCell_4_ImageList29 {
  left: 11px;
  position: absolute;
}

#cntDigitalInputsCell_4_ImageList29 {
  width: 20px;
}

#cntDigitalInputsCell_4_ImageList29 {
  height: 20px;
}

#cntDigitalInputsCell_4_ImageList29 {
  z-index: 13;
}

#cntDigitalInputsCell_4_ImageList30 {
  top: 426px;
  position: absolute;
}

#cntDigitalInputsCell_4_ImageList30 {
  left: 11px;
  position: absolute;
}

#cntDigitalInputsCell_4_ImageList30 {
  width: 20px;
}

#cntDigitalInputsCell_4_ImageList30 {
  height: 20px;
}

#cntDigitalInputsCell_4_ImageList30 {
  z-index: 14;
}

#cntDigitalInputsCell_4_ImageList31 {
  top: 456px;
  position: absolute;
}

#cntDigitalInputsCell_4_ImageList31 {
  left: 11px;
  position: absolute;
}

#cntDigitalInputsCell_4_ImageList31 {
  width: 20px;
}

#cntDigitalInputsCell_4_ImageList31 {
  height: 20px;
}

#cntDigitalInputsCell_4_ImageList31 {
  z-index: 15;
}

#cntDigitalInputsCell_4_ImageList32 {
  top: 486px;
  position: absolute;
}

#cntDigitalInputsCell_4_ImageList32 {
  left: 11px;
  position: absolute;
}

#cntDigitalInputsCell_4_ImageList32 {
  width: 20px;
}

#cntDigitalInputsCell_4_ImageList32 {
  height: 20px;
}

#cntDigitalInputsCell_4_ImageList32 {
  z-index: 16;
}

#cntDigitalInputsCell_4_Label_do17 {
  top: 36px;
  position: absolute;
}

#cntDigitalInputsCell_4_Label_do17 {
  left: 45px;
  position: absolute;
}

#cntDigitalInputsCell_4_Label_do17 {
  width: 210px;
}

#cntDigitalInputsCell_4_Label_do17 {
  height: 20px;
}

#cntDigitalInputsCell_4_Label_do17 {
  z-index: 17;
}

#cntDigitalInputsCell_4_Label_do18 {
  top: 66px;
  position: absolute;
}

#cntDigitalInputsCell_4_Label_do18 {
  left: 45px;
  position: absolute;
}

#cntDigitalInputsCell_4_Label_do18 {
  width: 210px;
}

#cntDigitalInputsCell_4_Label_do18 {
  height: 20px;
}

#cntDigitalInputsCell_4_Label_do18 {
  z-index: 18;
}

#cntDigitalInputsCell_4_Label_do19 {
  top: 96px;
  position: absolute;
}

#cntDigitalInputsCell_4_Label_do19 {
  left: 45px;
  position: absolute;
}

#cntDigitalInputsCell_4_Label_do19 {
  width: 210px;
}

#cntDigitalInputsCell_4_Label_do19 {
  height: 20px;
}

#cntDigitalInputsCell_4_Label_do19 {
  z-index: 19;
}

#cntDigitalInputsCell_4_Label_do20 {
  top: 126px;
  position: absolute;
}

#cntDigitalInputsCell_4_Label_do20 {
  left: 45px;
  position: absolute;
}

#cntDigitalInputsCell_4_Label_do20 {
  width: 210px;
}

#cntDigitalInputsCell_4_Label_do20 {
  height: 20px;
}

#cntDigitalInputsCell_4_Label_do20 {
  z-index: 20;
}

#cntDigitalInputsCell_4_Label_do21 {
  top: 156px;
  position: absolute;
}

#cntDigitalInputsCell_4_Label_do21 {
  left: 45px;
  position: absolute;
}

#cntDigitalInputsCell_4_Label_do21 {
  width: 210px;
}

#cntDigitalInputsCell_4_Label_do21 {
  height: 20px;
}

#cntDigitalInputsCell_4_Label_do21 {
  z-index: 21;
}

#cntDigitalInputsCell_4_Label_do22 {
  top: 186px;
  position: absolute;
}

#cntDigitalInputsCell_4_Label_do22 {
  left: 45px;
  position: absolute;
}

#cntDigitalInputsCell_4_Label_do22 {
  width: 210px;
}

#cntDigitalInputsCell_4_Label_do22 {
  height: 20px;
}

#cntDigitalInputsCell_4_Label_do22 {
  z-index: 22;
}

#cntDigitalInputsCell_4_Label_do23 {
  top: 216px;
  position: absolute;
}

#cntDigitalInputsCell_4_Label_do23 {
  left: 45px;
  position: absolute;
}

#cntDigitalInputsCell_4_Label_do23 {
  width: 210px;
}

#cntDigitalInputsCell_4_Label_do23 {
  height: 20px;
}

#cntDigitalInputsCell_4_Label_do23 {
  z-index: 23;
}

#cntDigitalInputsCell_4_Label_do24 {
  top: 246px;
  position: absolute;
}

#cntDigitalInputsCell_4_Label_do24 {
  left: 45px;
  position: absolute;
}

#cntDigitalInputsCell_4_Label_do24 {
  width: 210px;
}

#cntDigitalInputsCell_4_Label_do24 {
  height: 20px;
}

#cntDigitalInputsCell_4_Label_do24 {
  z-index: 24;
}

#cntDigitalInputsCell_4_Label_do25 {
  top: 276px;
  position: absolute;
}

#cntDigitalInputsCell_4_Label_do25 {
  left: 45px;
  position: absolute;
}

#cntDigitalInputsCell_4_Label_do25 {
  width: 210px;
}

#cntDigitalInputsCell_4_Label_do25 {
  height: 20px;
}

#cntDigitalInputsCell_4_Label_do25 {
  z-index: 25;
}

#cntDigitalInputsCell_4_Label_do26 {
  top: 306px;
  position: absolute;
}

#cntDigitalInputsCell_4_Label_do26 {
  left: 45px;
  position: absolute;
}

#cntDigitalInputsCell_4_Label_do26 {
  width: 210px;
}

#cntDigitalInputsCell_4_Label_do26 {
  height: 20px;
}

#cntDigitalInputsCell_4_Label_do26 {
  z-index: 26;
}

#cntDigitalInputsCell_4_Label_do27 {
  top: 336px;
  position: absolute;
}

#cntDigitalInputsCell_4_Label_do27 {
  left: 45px;
  position: absolute;
}

#cntDigitalInputsCell_4_Label_do27 {
  width: 210px;
}

#cntDigitalInputsCell_4_Label_do27 {
  height: 20px;
}

#cntDigitalInputsCell_4_Label_do27 {
  z-index: 27;
}

#cntDigitalInputsCell_4_Label_do28 {
  top: 366px;
  position: absolute;
}

#cntDigitalInputsCell_4_Label_do28 {
  left: 45px;
  position: absolute;
}

#cntDigitalInputsCell_4_Label_do28 {
  width: 210px;
}

#cntDigitalInputsCell_4_Label_do28 {
  height: 20px;
}

#cntDigitalInputsCell_4_Label_do28 {
  z-index: 28;
}

#cntDigitalInputsCell_4_Label_do29 {
  top: 396px;
  position: absolute;
}

#cntDigitalInputsCell_4_Label_do29 {
  left: 45px;
  position: absolute;
}

#cntDigitalInputsCell_4_Label_do29 {
  width: 210px;
}

#cntDigitalInputsCell_4_Label_do29 {
  height: 20px;
}

#cntDigitalInputsCell_4_Label_do29 {
  z-index: 29;
}

#cntDigitalInputsCell_4_Label_do30 {
  top: 426px;
  position: absolute;
}

#cntDigitalInputsCell_4_Label_do30 {
  left: 45px;
  position: absolute;
}

#cntDigitalInputsCell_4_Label_do30 {
  width: 210px;
}

#cntDigitalInputsCell_4_Label_do30 {
  height: 20px;
}

#cntDigitalInputsCell_4_Label_do30 {
  z-index: 30;
}

#cntDigitalInputsCell_4_Label_do31 {
  top: 456px;
  position: absolute;
}

#cntDigitalInputsCell_4_Label_do31 {
  left: 45px;
  position: absolute;
}

#cntDigitalInputsCell_4_Label_do31 {
  width: 210px;
}

#cntDigitalInputsCell_4_Label_do31 {
  height: 20px;
}

#cntDigitalInputsCell_4_Label_do31 {
  z-index: 31;
}

#cntDigitalInputsCell_4_Label_do32 {
  top: 486px;
  position: absolute;
}

#cntDigitalInputsCell_4_Label_do32 {
  left: 45px;
  position: absolute;
}

#cntDigitalInputsCell_4_Label_do32 {
  width: 210px;
}

#cntDigitalInputsCell_4_Label_do32 {
  height: 20px;
}

#cntDigitalInputsCell_4_Label_do32 {
  z-index: 32;
}

#cntDigitalInputsCell_4_GridLineItem2 {
  z-index: 2;
}

#cntDigitalInputsCell_4_GridLineItem2 {
  padding: 0px 10px 10px 10px;
}

#cntDigitalInputsCell_4_Label4 {
  height: 30px;
}

#cntDigitalInputsCell_4_Label4 {
  top: 1px;
  position: absolute;
}

#cntDigitalInputsCell_4_Label4 {
  left: 6px;
  position: absolute;
}

#cntDigitalInputsCell_4_Label4 {
  width: 265px;
}

#cntDigitalInputsCell_4_Label4 {
  z-index: 0;
}

#cntDigitalInputsCell_4_Label4 span {
  color: dimgray;
}

#cntDigitalInputsCell_4_Label4 {
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntDigitalInputsCell_4_Label4 span {
  text-decoration: underline;
}

#cntDigitalInputsCell_4_ImageList33 {
  top: 36px;
  position: absolute;
}

#cntDigitalInputsCell_4_ImageList33 {
  left: 11px;
  position: absolute;
}

#cntDigitalInputsCell_4_ImageList33 {
  width: 20px;
}

#cntDigitalInputsCell_4_ImageList33 {
  height: 20px;
}

#cntDigitalInputsCell_4_ImageList33 {
  z-index: 1;
}

#cntDigitalInputsCell_4_ImageList34 {
  top: 66px;
  position: absolute;
}

#cntDigitalInputsCell_4_ImageList34 {
  left: 11px;
  position: absolute;
}

#cntDigitalInputsCell_4_ImageList34 {
  width: 20px;
}

#cntDigitalInputsCell_4_ImageList34 {
  height: 20px;
}

#cntDigitalInputsCell_4_ImageList34 {
  z-index: 2;
}

#cntDigitalInputsCell_4_ImageList35 {
  top: 96px;
  position: absolute;
}

#cntDigitalInputsCell_4_ImageList35 {
  left: 11px;
  position: absolute;
}

#cntDigitalInputsCell_4_ImageList35 {
  width: 20px;
}

#cntDigitalInputsCell_4_ImageList35 {
  height: 20px;
}

#cntDigitalInputsCell_4_ImageList35 {
  z-index: 3;
}

#cntDigitalInputsCell_4_ImageList36 {
  top: 126px;
  position: absolute;
}

#cntDigitalInputsCell_4_ImageList36 {
  left: 11px;
  position: absolute;
}

#cntDigitalInputsCell_4_ImageList36 {
  width: 20px;
}

#cntDigitalInputsCell_4_ImageList36 {
  height: 20px;
}

#cntDigitalInputsCell_4_ImageList36 {
  z-index: 4;
}

#cntDigitalInputsCell_4_ImageList37 {
  top: 156px;
  position: absolute;
}

#cntDigitalInputsCell_4_ImageList37 {
  left: 11px;
  position: absolute;
}

#cntDigitalInputsCell_4_ImageList37 {
  width: 20px;
}

#cntDigitalInputsCell_4_ImageList37 {
  height: 20px;
}

#cntDigitalInputsCell_4_ImageList37 {
  z-index: 5;
}

#cntDigitalInputsCell_4_ImageList38 {
  top: 186px;
  position: absolute;
}

#cntDigitalInputsCell_4_ImageList38 {
  left: 11px;
  position: absolute;
}

#cntDigitalInputsCell_4_ImageList38 {
  width: 20px;
}

#cntDigitalInputsCell_4_ImageList38 {
  height: 20px;
}

#cntDigitalInputsCell_4_ImageList38 {
  z-index: 6;
}

#cntDigitalInputsCell_4_ImageList39 {
  top: 216px;
  position: absolute;
}

#cntDigitalInputsCell_4_ImageList39 {
  left: 11px;
  position: absolute;
}

#cntDigitalInputsCell_4_ImageList39 {
  width: 20px;
}

#cntDigitalInputsCell_4_ImageList39 {
  height: 20px;
}

#cntDigitalInputsCell_4_ImageList39 {
  z-index: 7;
}

#cntDigitalInputsCell_4_ImageList40 {
  top: 246px;
  position: absolute;
}

#cntDigitalInputsCell_4_ImageList40 {
  left: 11px;
  position: absolute;
}

#cntDigitalInputsCell_4_ImageList40 {
  width: 20px;
}

#cntDigitalInputsCell_4_ImageList40 {
  height: 20px;
}

#cntDigitalInputsCell_4_ImageList40 {
  z-index: 8;
}

#cntDigitalInputsCell_4_ImageList41 {
  top: 276px;
  position: absolute;
}

#cntDigitalInputsCell_4_ImageList41 {
  left: 11px;
  position: absolute;
}

#cntDigitalInputsCell_4_ImageList41 {
  width: 20px;
}

#cntDigitalInputsCell_4_ImageList41 {
  height: 20px;
}

#cntDigitalInputsCell_4_ImageList41 {
  z-index: 9;
}

#cntDigitalInputsCell_4_ImageList42 {
  top: 306px;
  position: absolute;
}

#cntDigitalInputsCell_4_ImageList42 {
  left: 11px;
  position: absolute;
}

#cntDigitalInputsCell_4_ImageList42 {
  width: 20px;
}

#cntDigitalInputsCell_4_ImageList42 {
  height: 20px;
}

#cntDigitalInputsCell_4_ImageList42 {
  z-index: 10;
}

#cntDigitalInputsCell_4_ImageList43 {
  top: 336px;
  position: absolute;
}

#cntDigitalInputsCell_4_ImageList43 {
  left: 11px;
  position: absolute;
}

#cntDigitalInputsCell_4_ImageList43 {
  width: 20px;
}

#cntDigitalInputsCell_4_ImageList43 {
  height: 20px;
}

#cntDigitalInputsCell_4_ImageList43 {
  z-index: 11;
}

#cntDigitalInputsCell_4_ImageList44 {
  top: 366px;
  position: absolute;
}

#cntDigitalInputsCell_4_ImageList44 {
  left: 11px;
  position: absolute;
}

#cntDigitalInputsCell_4_ImageList44 {
  width: 20px;
}

#cntDigitalInputsCell_4_ImageList44 {
  height: 20px;
}

#cntDigitalInputsCell_4_ImageList44 {
  z-index: 12;
}

#cntDigitalInputsCell_4_ImageList45 {
  top: 396px;
  position: absolute;
}

#cntDigitalInputsCell_4_ImageList45 {
  left: 11px;
  position: absolute;
}

#cntDigitalInputsCell_4_ImageList45 {
  width: 20px;
}

#cntDigitalInputsCell_4_ImageList45 {
  height: 20px;
}

#cntDigitalInputsCell_4_ImageList45 {
  z-index: 13;
}

#cntDigitalInputsCell_4_ImageList46 {
  top: 426px;
  position: absolute;
}

#cntDigitalInputsCell_4_ImageList46 {
  left: 11px;
  position: absolute;
}

#cntDigitalInputsCell_4_ImageList46 {
  width: 20px;
}

#cntDigitalInputsCell_4_ImageList46 {
  height: 20px;
}

#cntDigitalInputsCell_4_ImageList46 {
  z-index: 14;
}

#cntDigitalInputsCell_4_ImageList47 {
  top: 456px;
  position: absolute;
}

#cntDigitalInputsCell_4_ImageList47 {
  left: 11px;
  position: absolute;
}

#cntDigitalInputsCell_4_ImageList47 {
  width: 20px;
}

#cntDigitalInputsCell_4_ImageList47 {
  height: 20px;
}

#cntDigitalInputsCell_4_ImageList47 {
  z-index: 15;
}

#cntDigitalInputsCell_4_ImageList48 {
  top: 486px;
  position: absolute;
}

#cntDigitalInputsCell_4_ImageList48 {
  left: 11px;
  position: absolute;
}

#cntDigitalInputsCell_4_ImageList48 {
  width: 20px;
}

#cntDigitalInputsCell_4_ImageList48 {
  height: 20px;
}

#cntDigitalInputsCell_4_ImageList48 {
  z-index: 16;
}

#cntDigitalInputsCell_4_Label_do33 {
  top: 36px;
  position: absolute;
}

#cntDigitalInputsCell_4_Label_do33 {
  left: 45px;
  position: absolute;
}

#cntDigitalInputsCell_4_Label_do33 {
  width: 210px;
}

#cntDigitalInputsCell_4_Label_do33 {
  height: 20px;
}

#cntDigitalInputsCell_4_Label_do33 {
  z-index: 17;
}

#cntDigitalInputsCell_4_Label_do34 {
  top: 66px;
  position: absolute;
}

#cntDigitalInputsCell_4_Label_do34 {
  left: 45px;
  position: absolute;
}

#cntDigitalInputsCell_4_Label_do34 {
  width: 210px;
}

#cntDigitalInputsCell_4_Label_do34 {
  height: 20px;
}

#cntDigitalInputsCell_4_Label_do34 {
  z-index: 18;
}

#cntDigitalInputsCell_4_Label_do35 {
  top: 96px;
  position: absolute;
}

#cntDigitalInputsCell_4_Label_do35 {
  left: 45px;
  position: absolute;
}

#cntDigitalInputsCell_4_Label_do35 {
  width: 210px;
}

#cntDigitalInputsCell_4_Label_do35 {
  height: 20px;
}

#cntDigitalInputsCell_4_Label_do35 {
  z-index: 19;
}

#cntDigitalInputsCell_4_Label_do36 {
  top: 126px;
  position: absolute;
}

#cntDigitalInputsCell_4_Label_do36 {
  left: 45px;
  position: absolute;
}

#cntDigitalInputsCell_4_Label_do36 {
  width: 210px;
}

#cntDigitalInputsCell_4_Label_do36 {
  height: 20px;
}

#cntDigitalInputsCell_4_Label_do36 {
  z-index: 20;
}

#cntDigitalInputsCell_4_Label_do37 {
  top: 156px;
  position: absolute;
}

#cntDigitalInputsCell_4_Label_do37 {
  left: 45px;
  position: absolute;
}

#cntDigitalInputsCell_4_Label_do37 {
  width: 210px;
}

#cntDigitalInputsCell_4_Label_do37 {
  height: 20px;
}

#cntDigitalInputsCell_4_Label_do37 {
  z-index: 21;
}

#cntDigitalInputsCell_4_Label_do38 {
  top: 186px;
  position: absolute;
}

#cntDigitalInputsCell_4_Label_do38 {
  left: 45px;
  position: absolute;
}

#cntDigitalInputsCell_4_Label_do38 {
  width: 210px;
}

#cntDigitalInputsCell_4_Label_do38 {
  height: 20px;
}

#cntDigitalInputsCell_4_Label_do38 {
  z-index: 22;
}

#cntDigitalInputsCell_4_Label_do39 {
  top: 216px;
  position: absolute;
}

#cntDigitalInputsCell_4_Label_do39 {
  left: 45px;
  position: absolute;
}

#cntDigitalInputsCell_4_Label_do39 {
  width: 210px;
}

#cntDigitalInputsCell_4_Label_do39 {
  height: 20px;
}

#cntDigitalInputsCell_4_Label_do39 {
  z-index: 23;
}

#cntDigitalInputsCell_4_Label_do40 {
  top: 246px;
  position: absolute;
}

#cntDigitalInputsCell_4_Label_do40 {
  left: 45px;
  position: absolute;
}

#cntDigitalInputsCell_4_Label_do40 {
  width: 210px;
}

#cntDigitalInputsCell_4_Label_do40 {
  height: 20px;
}

#cntDigitalInputsCell_4_Label_do40 {
  z-index: 24;
}

#cntDigitalInputsCell_4_Label_do41 {
  top: 276px;
  position: absolute;
}

#cntDigitalInputsCell_4_Label_do41 {
  left: 45px;
  position: absolute;
}

#cntDigitalInputsCell_4_Label_do41 {
  width: 210px;
}

#cntDigitalInputsCell_4_Label_do41 {
  height: 20px;
}

#cntDigitalInputsCell_4_Label_do41 {
  z-index: 25;
}

#cntDigitalInputsCell_4_Label_do42 {
  top: 306px;
  position: absolute;
}

#cntDigitalInputsCell_4_Label_do42 {
  left: 45px;
  position: absolute;
}

#cntDigitalInputsCell_4_Label_do42 {
  width: 210px;
}

#cntDigitalInputsCell_4_Label_do42 {
  height: 20px;
}

#cntDigitalInputsCell_4_Label_do42 {
  z-index: 26;
}

#cntDigitalInputsCell_4_Label_do43 {
  top: 336px;
  position: absolute;
}

#cntDigitalInputsCell_4_Label_do43 {
  left: 45px;
  position: absolute;
}

#cntDigitalInputsCell_4_Label_do43 {
  width: 210px;
}

#cntDigitalInputsCell_4_Label_do43 {
  height: 20px;
}

#cntDigitalInputsCell_4_Label_do43 {
  z-index: 27;
}

#cntDigitalInputsCell_4_Label_do44 {
  top: 366px;
  position: absolute;
}

#cntDigitalInputsCell_4_Label_do44 {
  left: 45px;
  position: absolute;
}

#cntDigitalInputsCell_4_Label_do44 {
  width: 210px;
}

#cntDigitalInputsCell_4_Label_do44 {
  height: 20px;
}

#cntDigitalInputsCell_4_Label_do44 {
  z-index: 28;
}

#cntDigitalInputsCell_4_Label_do45 {
  top: 396px;
  position: absolute;
}

#cntDigitalInputsCell_4_Label_do45 {
  left: 45px;
  position: absolute;
}

#cntDigitalInputsCell_4_Label_do45 {
  width: 210px;
}

#cntDigitalInputsCell_4_Label_do45 {
  height: 20px;
}

#cntDigitalInputsCell_4_Label_do45 {
  z-index: 29;
}

#cntDigitalInputsCell_4_Label_do46 {
  top: 426px;
  position: absolute;
}

#cntDigitalInputsCell_4_Label_do46 {
  left: 45px;
  position: absolute;
}

#cntDigitalInputsCell_4_Label_do46 {
  width: 210px;
}

#cntDigitalInputsCell_4_Label_do46 {
  height: 20px;
}

#cntDigitalInputsCell_4_Label_do46 {
  z-index: 30;
}

#cntDigitalInputsCell_4_Label_do47 {
  top: 456px;
  position: absolute;
}

#cntDigitalInputsCell_4_Label_do47 {
  left: 45px;
  position: absolute;
}

#cntDigitalInputsCell_4_Label_do47 {
  width: 210px;
}

#cntDigitalInputsCell_4_Label_do47 {
  height: 20px;
}

#cntDigitalInputsCell_4_Label_do47 {
  z-index: 31;
}

#cntDigitalInputsCell_4_Label_do48 {
  top: 486px;
  position: absolute;
}

#cntDigitalInputsCell_4_Label_do48 {
  left: 45px;
  position: absolute;
}

#cntDigitalInputsCell_4_Label_do48 {
  width: 210px;
}

#cntDigitalInputsCell_4_Label_do48 {
  height: 20px;
}

#cntDigitalInputsCell_4_Label_do48 {
  z-index: 32;
}

#cntDigitalInputsCell_4_CheckBox_DigitalINput {
  top: 0px;
  position: absolute;
}

#cntDigitalInputsCell_4_CheckBox_DigitalINput {
  left: 250px;
  position: absolute;
}

#cntDigitalInputsCell_4_CheckBox_DigitalINput {
  width: 45px;
}

#cntDigitalInputsCell_4_CheckBox_DigitalINput {
  height: 45px;
}

#cntDigitalInputsCell_4_CheckBox_DigitalINput {
  z-index: 1;
}

#cntDigitalInputsCell_4_CheckBox_DigitalINput span {
  font-style: italic;
}

#cntDigitalInputsCell_4_CheckBox_DigitalINput {
  padding: 0px;
}

#cntDigitalInputsCell_4_CheckBox_DigitalINput.checked:not(.disabled) svg {
  fill: red;
}
