﻿@import "mixins.scss";
@import "../../../../../types/Page_base";
.system_brease_Page_style_default {
@include system_brease_Page_base; 

}
@import "../../../../../types/Dialog_base";
.system_brease_Dialog_style_default {
@include system_brease_Dialog_base; 
.breaseDialogWindowHeader {
	background-image: linear-gradient(to bottom,#F7F7F7 0%,#C6C6C6 100%);
}
.breaseDialogWindowHeader .textDiv {
	font-size: 20px;
}
.breaseDialogWindowHeader .textDiv {
	color: #474747;
}
@include border-radius(8px 8px 0px 0px);
.breaseDialogWindowContentBox {
@include border-bottom-right-radius(8px 8px 0px 0px);
}
.breaseDialogWindowContentBox {
@include border-bottom-left-radius(8px 8px 0px 0px);
}
.breaseDialogWindowHeader {
@include border-radius(8px 8px 0px 0px);
}
.breaseDialogWindowContentBox {
	border-width: 1px;
}
.breaseDialogWindowContentBox {
	border-color: #A899A0 #5F5F5F #5F5F5F #A899A0;
}
@include box-shadow(5px 5px 20px 0px rgba(62, 79, 92, 0.75));

}
@import "../../../../../types/MessageBox_base";
.system_brease_MessageBox_style_default {
@include system_brease_MessageBox_base; 
.breaseMessageBoxHeader {
	background-image: linear-gradient(to bottom, #FFAA4D 0%,#FF8500 100%);
}
.breaseMessageBoxContentBox div.content {
	font-size: 20px;
}
.breaseMessageBoxContentBox div.content {
	color: #474747;
}
.breaseMessageBoxHeader {
	border-radius: 8px 8px 0px 0px;
}
.messageBoxFooter {
	border-radius: 8px 8px 0px 0px;
}
.breaseMessageBoxContentBox {
	border-width: 1px;
}
.breaseMessageBoxContentBox {
	border-color: #A899A0 #5F5F5F #5F5F5F #A899A0;
}
@include box-shadow(5px 5px 20px 0px rgba(62, 79, 92, 0.75));

}
@import "../../../../../types/Area_base";
.system_brease_Area_style_default {
@include system_brease_Area_base; 
	background-color: #ffffff;

}
@import "../../../../../types/Scrollbar_base";
.system_brease_Scrollbar_style_default {
@include system_brease_Scrollbar_base; 
.iScrollIndicator {
	background-color: rgba(0,0,0,0.5);
}
.dataTables_scrollBody::-webkit-scrollbar-thumb {
	background: rgba(0,0,0,0.5);
}
.iScrollIndicator {
	border-color: rgba(255,255,255,0.9);
}
.dataTables_scrollBody::-webkit-scrollbar-thumb {
	border-color: rgba(255,255,255,0.9);
}

}
@import "../../../../../types/Tooltip_base";
.system_brease_Tooltip_style_default {
@include system_brease_Tooltip_base; 
.tooltip-arrow {
@include display(true);
}
.breaseTooltip .breaseTooltipText {
	font-size: 14px;
}
.breaseTooltip {
@include border-radius(0px);
}
.breaseTooltip {
	border-style: none;
}

}
@import "../../../../../types/StartupProgressBar_base";
.system_brease_StartupProgressBar_style_default {
@include system_brease_StartupProgressBar_base; 
.startupProgressBar {
	border-style: none;
}

}
@import "../../../../../types/Dialog_base";
.system_brease_Dialog_style_default22 {
@include system_brease_Dialog_base; 
.breaseDialogWindowHeader {
	background-image: linear-gradient(to bottom,#F7F7F7 0%,#C6C6C6 100%);
}
.breaseDialogWindowHeader .textDiv {
	font-size: 20px;
}
.breaseDialogWindowHeader {
	height: 38px;
}
.breaseDialogWindowHeader .breaseWindowClose {
	height: 38px;
}
.breaseDialogWindowHeader .breaseWindowClose {
	line-height: 38px;
}
.breaseDialogWindowHeader .imageDiv {
	min-width: 38px;
}
.breaseDialogWindowHeader div.innerHeader {
	line-height: 38px;
}
.breaseDialogWindowHeader div.textDiv {
	line-height: 38px;
}
.breaseDialogWindowHeader div.innerHeader {
	height: 38px;
}
.breaseDialogWindowHeader div.imageDiv {
@include factor('max-width',38px, 2);
}
.breaseDialogWindowHeader .textDiv {
	color: #474747;
}
@include border-radius(8px 8px 0px 0px);
.breaseDialogWindowContentBox {
@include border-bottom-right-radius(8px 8px 0px 0px);
}
.breaseDialogWindowContentBox {
@include border-bottom-left-radius(8px 8px 0px 0px);
}
.breaseDialogWindowHeader {
@include border-radius(8px 8px 0px 0px);
}
.breaseDialogWindowContentBox {
	border-width: 1px;
}
.breaseDialogWindowContentBox {
	border-color: #A899A0 #5F5F5F #5F5F5F #A899A0;
}
.breaseWindowClose {
@include display(false);
}
.breaseDialogWindowContentBox > .breaseLayout {
	background-color: #e3dede;
}
.breaseDialogWindowContentBox > .breaseLayout {
	background-image: linear-gradient(to bottom, #ffffff 0%,#dcdcdc 100%);
}
@include box-shadow(5px 5px 20px 0px rgba(62, 79, 92, 0.75));

}
@import "../../../../../types/Dialog_base";
.system_brease_Dialog_style_messageBoxStyle {
@include system_brease_Dialog_base; 
.breaseDialogWindowHeader {
	background-image: linear-gradient(to bottom, #FFAA4D 0%,#FF8500 100%);
}
.breaseDialogWindowHeader .textDiv {
	font-size: 20px;
}
.breaseDialogWindowHeader .textDiv {
	color: #474747;
}
@include border-radius(8px 8px 0px 0px);
.breaseDialogWindowContentBox {
@include border-bottom-right-radius(8px 8px 0px 0px);
}
.breaseDialogWindowContentBox {
@include border-bottom-left-radius(8px 8px 0px 0px);
}
.breaseDialogWindowHeader {
@include border-radius(8px 8px 0px 0px);
}
.breaseDialogWindowContentBox {
	border-width: 1px;
}
.breaseWindowClose {
@include display(false);
}
.breaseDialogWindowContentBox {
	border-color: #A899A0 #5F5F5F #5F5F5F #A899A0;
}
@include box-shadow(5px 5px 20px 0px rgba(62, 79, 92, 0.75));

}
@import "../../../../../types/Area_base";
.system_brease_Area_style_transparent {
@include system_brease_Area_base; 
	background-color: transparent;

}
@import "../../../../../types/Area_base";
.system_brease_Area_style_gradient {
@include system_brease_Area_base; 
	background-color: #ffffff;
	background-image: linear-gradient(to bottom, #ffffff 0%,#dcdcdc 100%);

}
@import "../../../../../types/Area_base";
.system_brease_Area_style_Header {
@include system_brease_Area_base; 
	background-color: #ffffff;
	background-image: linear-gradient(to bottom, #ffffff 0%,#dcdcdc 100%);

}
@import "../../../../../types/Area_base";
.system_brease_Area_style_Header_eecet {
@include system_brease_Area_base; 
	background-color: #ffffff;
	background-image: linear-gradient(to bottom, #e5e5e5,#ffffff,#ffffff );

}
@import "../../../../../types/Area_base";
.system_brease_Area_style_gradient_eecet {
@include system_brease_Area_base; 
	background-color: #ffffff;
	background-image: linear-gradient(to bottom, rgba(255,255,255,1),rgba(229,229,229,1));

}
