#cntHomeCell_3_Camera_ChckBx_Camera_Cell3 {
  top: 0px;
  position: absolute;
}

#cntHomeCell_3_Camera_ChckBx_Camera_Cell3 {
  left: 375px;
  position: absolute;
}

#cntHomeCell_3_Camera_ChckBx_Camera_Cell3 {
  width: 45px;
}

#cntHomeCell_3_Camera_ChckBx_Camera_Cell3 {
  height: 45px;
}

#cntHomeCell_3_Camera_ChckBx_Camera_Cell3 {
  z-index: 0;
}

#cntHomeCell_3_Camera_ChckBx_Camera_Cell3 span {
  font-style: italic;
}

#cntHomeCell_3_Camera_ChckBx_Camera_Cell3 {
  padding: 0px;
}

#cntHomeCell_3_Camera_ChckBx_Camera_Cell3.checked:not(.disabled) svg {
  fill: red;
}
