#cntDigitalOutputsCell_2_GridLine1 {
  top: 0px;
  position: absolute;
}

#cntDigitalOutputsCell_2_GridLine1 {
  left: 0px;
  position: absolute;
}

#cntDigitalOutputsCell_2_GridLine1 {
  width: 300px;
}

#cntDigitalOutputsCell_2_GridLine1 {
  height: 540px;
}

#cntDigitalOutputsCell_2_GridLine1 {
  z-index: 0;
}

#cntDigitalOutputsCell_2_GridLine1 .container {
  padding: 5px 0px;
}

#cntDigitalOutputsCell_2_GridLineItem1 {
  z-index: 0;
}

#cntDigitalOutputsCell_2_GridLineItem1 {
  padding: 0px 10px 10px 10px;
}

#cntDigitalOutputsCell_2_Label2 {
  top: 0px;
  position: absolute;
}

#cntDigitalOutputsCell_2_Label2 {
  left: 60px;
  position: absolute;
}

#cntDigitalOutputsCell_2_Label2 {
  width: 150px;
}

#cntDigitalOutputsCell_2_Label2 {
  height: 45px;
}

#cntDigitalOutputsCell_2_Label2 {
  z-index: 0;
}

#cntDigitalOutputsCell_2_Label2 span {
  color: dimgray;
}

#cntDigitalOutputsCell_2_Label2 {
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntDigitalOutputsCell_2_Label2 span {
  text-decoration: underline;
}

#cntDigitalOutputsCell_2_ImageList1 {
  top: 35px;
  position: absolute;
}

#cntDigitalOutputsCell_2_ImageList1 {
  left: 5px;
  position: absolute;
}

#cntDigitalOutputsCell_2_ImageList1 {
  width: 20px;
}

#cntDigitalOutputsCell_2_ImageList1 {
  height: 20px;
}

#cntDigitalOutputsCell_2_ImageList1 {
  z-index: 1;
}

#cntDigitalOutputsCell_2_ImageList2 {
  top: 65px;
  position: absolute;
}

#cntDigitalOutputsCell_2_ImageList2 {
  left: 5px;
  position: absolute;
}

#cntDigitalOutputsCell_2_ImageList2 {
  width: 20px;
}

#cntDigitalOutputsCell_2_ImageList2 {
  height: 20px;
}

#cntDigitalOutputsCell_2_ImageList2 {
  z-index: 2;
}

#cntDigitalOutputsCell_2_ImageList3 {
  top: 95px;
  position: absolute;
}

#cntDigitalOutputsCell_2_ImageList3 {
  left: 5px;
  position: absolute;
}

#cntDigitalOutputsCell_2_ImageList3 {
  width: 20px;
}

#cntDigitalOutputsCell_2_ImageList3 {
  height: 20px;
}

#cntDigitalOutputsCell_2_ImageList3 {
  z-index: 3;
}

#cntDigitalOutputsCell_2_ImageList4 {
  top: 125px;
  position: absolute;
}

#cntDigitalOutputsCell_2_ImageList4 {
  left: 5px;
  position: absolute;
}

#cntDigitalOutputsCell_2_ImageList4 {
  width: 20px;
}

#cntDigitalOutputsCell_2_ImageList4 {
  height: 20px;
}

#cntDigitalOutputsCell_2_ImageList4 {
  z-index: 4;
}

#cntDigitalOutputsCell_2_ImageList5 {
  top: 155px;
  position: absolute;
}

#cntDigitalOutputsCell_2_ImageList5 {
  left: 5px;
  position: absolute;
}

#cntDigitalOutputsCell_2_ImageList5 {
  width: 20px;
}

#cntDigitalOutputsCell_2_ImageList5 {
  height: 20px;
}

#cntDigitalOutputsCell_2_ImageList5 {
  z-index: 5;
}

#cntDigitalOutputsCell_2_ImageList6 {
  top: 185px;
  position: absolute;
}

#cntDigitalOutputsCell_2_ImageList6 {
  left: 5px;
  position: absolute;
}

#cntDigitalOutputsCell_2_ImageList6 {
  width: 20px;
}

#cntDigitalOutputsCell_2_ImageList6 {
  height: 20px;
}

#cntDigitalOutputsCell_2_ImageList6 {
  z-index: 6;
}

#cntDigitalOutputsCell_2_ImageList7 {
  top: 215px;
  position: absolute;
}

#cntDigitalOutputsCell_2_ImageList7 {
  left: 5px;
  position: absolute;
}

#cntDigitalOutputsCell_2_ImageList7 {
  width: 20px;
}

#cntDigitalOutputsCell_2_ImageList7 {
  height: 20px;
}

#cntDigitalOutputsCell_2_ImageList7 {
  z-index: 7;
}

#cntDigitalOutputsCell_2_ImageList8 {
  top: 245px;
  position: absolute;
}

#cntDigitalOutputsCell_2_ImageList8 {
  left: 5px;
  position: absolute;
}

#cntDigitalOutputsCell_2_ImageList8 {
  width: 20px;
}

#cntDigitalOutputsCell_2_ImageList8 {
  height: 20px;
}

#cntDigitalOutputsCell_2_ImageList8 {
  z-index: 8;
}

#cntDigitalOutputsCell_2_ImageList9 {
  top: 275px;
  position: absolute;
}

#cntDigitalOutputsCell_2_ImageList9 {
  left: 5px;
  position: absolute;
}

#cntDigitalOutputsCell_2_ImageList9 {
  width: 20px;
}

#cntDigitalOutputsCell_2_ImageList9 {
  height: 20px;
}

#cntDigitalOutputsCell_2_ImageList9 {
  z-index: 9;
}

#cntDigitalOutputsCell_2_ImageList10 {
  top: 305px;
  position: absolute;
}

#cntDigitalOutputsCell_2_ImageList10 {
  left: 5px;
  position: absolute;
}

#cntDigitalOutputsCell_2_ImageList10 {
  width: 20px;
}

#cntDigitalOutputsCell_2_ImageList10 {
  height: 20px;
}

#cntDigitalOutputsCell_2_ImageList10 {
  z-index: 10;
}

#cntDigitalOutputsCell_2_ImageList11 {
  top: 335px;
  position: absolute;
}

#cntDigitalOutputsCell_2_ImageList11 {
  left: 5px;
  position: absolute;
}

#cntDigitalOutputsCell_2_ImageList11 {
  width: 20px;
}

#cntDigitalOutputsCell_2_ImageList11 {
  height: 20px;
}

#cntDigitalOutputsCell_2_ImageList11 {
  z-index: 11;
}

#cntDigitalOutputsCell_2_ImageList12 {
  top: 365px;
  position: absolute;
}

#cntDigitalOutputsCell_2_ImageList12 {
  left: 5px;
  position: absolute;
}

#cntDigitalOutputsCell_2_ImageList12 {
  width: 20px;
}

#cntDigitalOutputsCell_2_ImageList12 {
  height: 20px;
}

#cntDigitalOutputsCell_2_ImageList12 {
  z-index: 12;
}

#cntDigitalOutputsCell_2_ImageList13 {
  top: 395px;
  position: absolute;
}

#cntDigitalOutputsCell_2_ImageList13 {
  left: 5px;
  position: absolute;
}

#cntDigitalOutputsCell_2_ImageList13 {
  width: 20px;
}

#cntDigitalOutputsCell_2_ImageList13 {
  height: 20px;
}

#cntDigitalOutputsCell_2_ImageList13 {
  z-index: 13;
}

#cntDigitalOutputsCell_2_ImageList14 {
  top: 425px;
  position: absolute;
}

#cntDigitalOutputsCell_2_ImageList14 {
  left: 5px;
  position: absolute;
}

#cntDigitalOutputsCell_2_ImageList14 {
  width: 20px;
}

#cntDigitalOutputsCell_2_ImageList14 {
  height: 20px;
}

#cntDigitalOutputsCell_2_ImageList14 {
  z-index: 14;
}

#cntDigitalOutputsCell_2_ImageList15 {
  top: 455px;
  position: absolute;
}

#cntDigitalOutputsCell_2_ImageList15 {
  left: 5px;
  position: absolute;
}

#cntDigitalOutputsCell_2_ImageList15 {
  width: 20px;
}

#cntDigitalOutputsCell_2_ImageList15 {
  height: 20px;
}

#cntDigitalOutputsCell_2_ImageList15 {
  z-index: 15;
}

#cntDigitalOutputsCell_2_ImageList16 {
  top: 485px;
  position: absolute;
}

#cntDigitalOutputsCell_2_ImageList16 {
  left: 5px;
  position: absolute;
}

#cntDigitalOutputsCell_2_ImageList16 {
  width: 20px;
}

#cntDigitalOutputsCell_2_ImageList16 {
  height: 20px;
}

#cntDigitalOutputsCell_2_ImageList16 {
  z-index: 16;
}

#cntDigitalOutputsCell_2_Label_di17 {
  top: 35px;
  position: absolute;
}

#cntDigitalOutputsCell_2_Label_di17 {
  left: 35px;
  position: absolute;
}

#cntDigitalOutputsCell_2_Label_di17 {
  width: 219px;
}

#cntDigitalOutputsCell_2_Label_di17 {
  height: 20px;
}

#cntDigitalOutputsCell_2_Label_di17 {
  z-index: 17;
}

#cntDigitalOutputsCell_2_Label_di18 {
  top: 65px;
  position: absolute;
}

#cntDigitalOutputsCell_2_Label_di18 {
  left: 35px;
  position: absolute;
}

#cntDigitalOutputsCell_2_Label_di18 {
  width: 219px;
}

#cntDigitalOutputsCell_2_Label_di18 {
  height: 20px;
}

#cntDigitalOutputsCell_2_Label_di18 {
  z-index: 18;
}

#cntDigitalOutputsCell_2_Label_di19 {
  top: 95px;
  position: absolute;
}

#cntDigitalOutputsCell_2_Label_di19 {
  left: 35px;
  position: absolute;
}

#cntDigitalOutputsCell_2_Label_di19 {
  width: 219px;
}

#cntDigitalOutputsCell_2_Label_di19 {
  height: 20px;
}

#cntDigitalOutputsCell_2_Label_di19 {
  z-index: 19;
}

#cntDigitalOutputsCell_2_Label_di20 {
  top: 125px;
  position: absolute;
}

#cntDigitalOutputsCell_2_Label_di20 {
  left: 35px;
  position: absolute;
}

#cntDigitalOutputsCell_2_Label_di20 {
  width: 219px;
}

#cntDigitalOutputsCell_2_Label_di20 {
  height: 20px;
}

#cntDigitalOutputsCell_2_Label_di20 {
  z-index: 20;
}

#cntDigitalOutputsCell_2_Label_di21 {
  top: 155px;
  position: absolute;
}

#cntDigitalOutputsCell_2_Label_di21 {
  left: 35px;
  position: absolute;
}

#cntDigitalOutputsCell_2_Label_di21 {
  width: 219px;
}

#cntDigitalOutputsCell_2_Label_di21 {
  height: 20px;
}

#cntDigitalOutputsCell_2_Label_di21 {
  z-index: 21;
}

#cntDigitalOutputsCell_2_Label_di22 {
  top: 185px;
  position: absolute;
}

#cntDigitalOutputsCell_2_Label_di22 {
  left: 35px;
  position: absolute;
}

#cntDigitalOutputsCell_2_Label_di22 {
  width: 219px;
}

#cntDigitalOutputsCell_2_Label_di22 {
  height: 20px;
}

#cntDigitalOutputsCell_2_Label_di22 {
  z-index: 22;
}

#cntDigitalOutputsCell_2_Label_di23 {
  top: 215px;
  position: absolute;
}

#cntDigitalOutputsCell_2_Label_di23 {
  left: 35px;
  position: absolute;
}

#cntDigitalOutputsCell_2_Label_di23 {
  width: 219px;
}

#cntDigitalOutputsCell_2_Label_di23 {
  height: 20px;
}

#cntDigitalOutputsCell_2_Label_di23 {
  z-index: 23;
}

#cntDigitalOutputsCell_2_Label_di24 {
  top: 245px;
  position: absolute;
}

#cntDigitalOutputsCell_2_Label_di24 {
  left: 35px;
  position: absolute;
}

#cntDigitalOutputsCell_2_Label_di24 {
  width: 219px;
}

#cntDigitalOutputsCell_2_Label_di24 {
  height: 20px;
}

#cntDigitalOutputsCell_2_Label_di24 {
  z-index: 24;
}

#cntDigitalOutputsCell_2_Label_di25 {
  top: 275px;
  position: absolute;
}

#cntDigitalOutputsCell_2_Label_di25 {
  left: 35px;
  position: absolute;
}

#cntDigitalOutputsCell_2_Label_di25 {
  width: 219px;
}

#cntDigitalOutputsCell_2_Label_di25 {
  height: 20px;
}

#cntDigitalOutputsCell_2_Label_di25 {
  z-index: 25;
}

#cntDigitalOutputsCell_2_Label_di26 {
  top: 305px;
  position: absolute;
}

#cntDigitalOutputsCell_2_Label_di26 {
  left: 35px;
  position: absolute;
}

#cntDigitalOutputsCell_2_Label_di26 {
  width: 219px;
}

#cntDigitalOutputsCell_2_Label_di26 {
  height: 20px;
}

#cntDigitalOutputsCell_2_Label_di26 {
  z-index: 26;
}

#cntDigitalOutputsCell_2_Label_di27 {
  top: 335px;
  position: absolute;
}

#cntDigitalOutputsCell_2_Label_di27 {
  left: 35px;
  position: absolute;
}

#cntDigitalOutputsCell_2_Label_di27 {
  width: 219px;
}

#cntDigitalOutputsCell_2_Label_di27 {
  height: 20px;
}

#cntDigitalOutputsCell_2_Label_di27 {
  z-index: 27;
}

#cntDigitalOutputsCell_2_Label_di28 {
  top: 365px;
  position: absolute;
}

#cntDigitalOutputsCell_2_Label_di28 {
  left: 35px;
  position: absolute;
}

#cntDigitalOutputsCell_2_Label_di28 {
  width: 219px;
}

#cntDigitalOutputsCell_2_Label_di28 {
  height: 20px;
}

#cntDigitalOutputsCell_2_Label_di28 {
  z-index: 28;
}

#cntDigitalOutputsCell_2_Label_di29 {
  top: 395px;
  position: absolute;
}

#cntDigitalOutputsCell_2_Label_di29 {
  left: 35px;
  position: absolute;
}

#cntDigitalOutputsCell_2_Label_di29 {
  width: 219px;
}

#cntDigitalOutputsCell_2_Label_di29 {
  height: 20px;
}

#cntDigitalOutputsCell_2_Label_di29 {
  z-index: 29;
}

#cntDigitalOutputsCell_2_Label_di30 {
  top: 425px;
  position: absolute;
}

#cntDigitalOutputsCell_2_Label_di30 {
  left: 35px;
  position: absolute;
}

#cntDigitalOutputsCell_2_Label_di30 {
  width: 219px;
}

#cntDigitalOutputsCell_2_Label_di30 {
  height: 20px;
}

#cntDigitalOutputsCell_2_Label_di30 {
  z-index: 30;
}

#cntDigitalOutputsCell_2_Label_di31 {
  top: 455px;
  position: absolute;
}

#cntDigitalOutputsCell_2_Label_di31 {
  left: 35px;
  position: absolute;
}

#cntDigitalOutputsCell_2_Label_di31 {
  width: 219px;
}

#cntDigitalOutputsCell_2_Label_di31 {
  height: 20px;
}

#cntDigitalOutputsCell_2_Label_di31 {
  z-index: 31;
}

#cntDigitalOutputsCell_2_Label_di32 {
  top: 485px;
  position: absolute;
}

#cntDigitalOutputsCell_2_Label_di32 {
  left: 35px;
  position: absolute;
}

#cntDigitalOutputsCell_2_Label_di32 {
  width: 219px;
}

#cntDigitalOutputsCell_2_Label_di32 {
  height: 20px;
}

#cntDigitalOutputsCell_2_Label_di32 {
  z-index: 32;
}

#cntDigitalOutputsCell_2_GridLineItem3 {
  z-index: 1;
}

#cntDigitalOutputsCell_2_GridLineItem3 {
  padding: 0px 10px 10px 10px;
}

#cntDigitalOutputsCell_2_Label3 {
  top: 5px;
  position: absolute;
}

#cntDigitalOutputsCell_2_Label3 {
  left: 29px;
  position: absolute;
}

#cntDigitalOutputsCell_2_Label3 {
  width: 210px;
}

#cntDigitalOutputsCell_2_Label3 {
  height: 25px;
}

#cntDigitalOutputsCell_2_Label3 {
  z-index: 0;
}

#cntDigitalOutputsCell_2_Label3 span {
  color: dimgray;
}

#cntDigitalOutputsCell_2_Label3 {
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntDigitalOutputsCell_2_Label3 span {
  text-decoration: underline;
}

#cntDigitalOutputsCell_2_ImageList17 {
  top: 35px;
  position: absolute;
}

#cntDigitalOutputsCell_2_ImageList17 {
  left: 5px;
  position: absolute;
}

#cntDigitalOutputsCell_2_ImageList17 {
  width: 20px;
}

#cntDigitalOutputsCell_2_ImageList17 {
  height: 20px;
}

#cntDigitalOutputsCell_2_ImageList17 {
  z-index: 1;
}

#cntDigitalOutputsCell_2_ImageList18 {
  top: 65px;
  position: absolute;
}

#cntDigitalOutputsCell_2_ImageList18 {
  left: 5px;
  position: absolute;
}

#cntDigitalOutputsCell_2_ImageList18 {
  width: 20px;
}

#cntDigitalOutputsCell_2_ImageList18 {
  height: 20px;
}

#cntDigitalOutputsCell_2_ImageList18 {
  z-index: 2;
}

#cntDigitalOutputsCell_2_ImageList19 {
  top: 95px;
  position: absolute;
}

#cntDigitalOutputsCell_2_ImageList19 {
  left: 5px;
  position: absolute;
}

#cntDigitalOutputsCell_2_ImageList19 {
  width: 20px;
}

#cntDigitalOutputsCell_2_ImageList19 {
  height: 20px;
}

#cntDigitalOutputsCell_2_ImageList19 {
  z-index: 3;
}

#cntDigitalOutputsCell_2_ImageList20 {
  top: 125px;
  position: absolute;
}

#cntDigitalOutputsCell_2_ImageList20 {
  left: 5px;
  position: absolute;
}

#cntDigitalOutputsCell_2_ImageList20 {
  width: 20px;
}

#cntDigitalOutputsCell_2_ImageList20 {
  height: 20px;
}

#cntDigitalOutputsCell_2_ImageList20 {
  z-index: 4;
}

#cntDigitalOutputsCell_2_ImageList21 {
  top: 155px;
  position: absolute;
}

#cntDigitalOutputsCell_2_ImageList21 {
  left: 5px;
  position: absolute;
}

#cntDigitalOutputsCell_2_ImageList21 {
  width: 20px;
}

#cntDigitalOutputsCell_2_ImageList21 {
  height: 20px;
}

#cntDigitalOutputsCell_2_ImageList21 {
  z-index: 5;
}

#cntDigitalOutputsCell_2_ImageList22 {
  top: 185px;
  position: absolute;
}

#cntDigitalOutputsCell_2_ImageList22 {
  left: 5px;
  position: absolute;
}

#cntDigitalOutputsCell_2_ImageList22 {
  width: 20px;
}

#cntDigitalOutputsCell_2_ImageList22 {
  height: 20px;
}

#cntDigitalOutputsCell_2_ImageList22 {
  z-index: 6;
}

#cntDigitalOutputsCell_2_ImageList23 {
  top: 215px;
  position: absolute;
}

#cntDigitalOutputsCell_2_ImageList23 {
  left: 5px;
  position: absolute;
}

#cntDigitalOutputsCell_2_ImageList23 {
  width: 20px;
}

#cntDigitalOutputsCell_2_ImageList23 {
  height: 20px;
}

#cntDigitalOutputsCell_2_ImageList23 {
  z-index: 7;
}

#cntDigitalOutputsCell_2_ImageList24 {
  top: 245px;
  position: absolute;
}

#cntDigitalOutputsCell_2_ImageList24 {
  left: 5px;
  position: absolute;
}

#cntDigitalOutputsCell_2_ImageList24 {
  width: 20px;
}

#cntDigitalOutputsCell_2_ImageList24 {
  height: 20px;
}

#cntDigitalOutputsCell_2_ImageList24 {
  z-index: 8;
}

#cntDigitalOutputsCell_2_ImageList25 {
  top: 275px;
  position: absolute;
}

#cntDigitalOutputsCell_2_ImageList25 {
  left: 5px;
  position: absolute;
}

#cntDigitalOutputsCell_2_ImageList25 {
  width: 20px;
}

#cntDigitalOutputsCell_2_ImageList25 {
  height: 20px;
}

#cntDigitalOutputsCell_2_ImageList25 {
  z-index: 9;
}

#cntDigitalOutputsCell_2_ImageList26 {
  top: 305px;
  position: absolute;
}

#cntDigitalOutputsCell_2_ImageList26 {
  left: 5px;
  position: absolute;
}

#cntDigitalOutputsCell_2_ImageList26 {
  width: 20px;
}

#cntDigitalOutputsCell_2_ImageList26 {
  height: 20px;
}

#cntDigitalOutputsCell_2_ImageList26 {
  z-index: 10;
}

#cntDigitalOutputsCell_2_ImageList27 {
  top: 335px;
  position: absolute;
}

#cntDigitalOutputsCell_2_ImageList27 {
  left: 5px;
  position: absolute;
}

#cntDigitalOutputsCell_2_ImageList27 {
  width: 20px;
}

#cntDigitalOutputsCell_2_ImageList27 {
  height: 20px;
}

#cntDigitalOutputsCell_2_ImageList27 {
  z-index: 11;
}

#cntDigitalOutputsCell_2_ImageList28 {
  top: 365px;
  position: absolute;
}

#cntDigitalOutputsCell_2_ImageList28 {
  left: 5px;
  position: absolute;
}

#cntDigitalOutputsCell_2_ImageList28 {
  width: 20px;
}

#cntDigitalOutputsCell_2_ImageList28 {
  height: 20px;
}

#cntDigitalOutputsCell_2_ImageList28 {
  z-index: 12;
}

#cntDigitalOutputsCell_2_ImageList29 {
  top: 395px;
  position: absolute;
}

#cntDigitalOutputsCell_2_ImageList29 {
  left: 5px;
  position: absolute;
}

#cntDigitalOutputsCell_2_ImageList29 {
  width: 20px;
}

#cntDigitalOutputsCell_2_ImageList29 {
  height: 20px;
}

#cntDigitalOutputsCell_2_ImageList29 {
  z-index: 13;
}

#cntDigitalOutputsCell_2_ImageList30 {
  top: 425px;
  position: absolute;
}

#cntDigitalOutputsCell_2_ImageList30 {
  left: 5px;
  position: absolute;
}

#cntDigitalOutputsCell_2_ImageList30 {
  width: 20px;
}

#cntDigitalOutputsCell_2_ImageList30 {
  height: 20px;
}

#cntDigitalOutputsCell_2_ImageList30 {
  z-index: 14;
}

#cntDigitalOutputsCell_2_ImageList31 {
  top: 455px;
  position: absolute;
}

#cntDigitalOutputsCell_2_ImageList31 {
  left: 5px;
  position: absolute;
}

#cntDigitalOutputsCell_2_ImageList31 {
  width: 20px;
}

#cntDigitalOutputsCell_2_ImageList31 {
  height: 20px;
}

#cntDigitalOutputsCell_2_ImageList31 {
  z-index: 15;
}

#cntDigitalOutputsCell_2_ImageList32 {
  top: 485px;
  position: absolute;
}

#cntDigitalOutputsCell_2_ImageList32 {
  left: 5px;
  position: absolute;
}

#cntDigitalOutputsCell_2_ImageList32 {
  width: 20px;
}

#cntDigitalOutputsCell_2_ImageList32 {
  height: 20px;
}

#cntDigitalOutputsCell_2_ImageList32 {
  z-index: 16;
}

#cntDigitalOutputsCell_2_Label_di33 {
  top: 35px;
  position: absolute;
}

#cntDigitalOutputsCell_2_Label_di33 {
  left: 35px;
  position: absolute;
}

#cntDigitalOutputsCell_2_Label_di33 {
  width: 219px;
}

#cntDigitalOutputsCell_2_Label_di33 {
  height: 20px;
}

#cntDigitalOutputsCell_2_Label_di33 {
  z-index: 17;
}

#cntDigitalOutputsCell_2_Label_di34 {
  top: 65px;
  position: absolute;
}

#cntDigitalOutputsCell_2_Label_di34 {
  left: 35px;
  position: absolute;
}

#cntDigitalOutputsCell_2_Label_di34 {
  width: 219px;
}

#cntDigitalOutputsCell_2_Label_di34 {
  height: 20px;
}

#cntDigitalOutputsCell_2_Label_di34 {
  z-index: 18;
}

#cntDigitalOutputsCell_2_Label_di35 {
  top: 95px;
  position: absolute;
}

#cntDigitalOutputsCell_2_Label_di35 {
  left: 35px;
  position: absolute;
}

#cntDigitalOutputsCell_2_Label_di35 {
  width: 219px;
}

#cntDigitalOutputsCell_2_Label_di35 {
  height: 20px;
}

#cntDigitalOutputsCell_2_Label_di35 {
  z-index: 19;
}

#cntDigitalOutputsCell_2_Label_di36 {
  top: 125px;
  position: absolute;
}

#cntDigitalOutputsCell_2_Label_di36 {
  left: 35px;
  position: absolute;
}

#cntDigitalOutputsCell_2_Label_di36 {
  width: 219px;
}

#cntDigitalOutputsCell_2_Label_di36 {
  height: 20px;
}

#cntDigitalOutputsCell_2_Label_di36 {
  z-index: 20;
}

#cntDigitalOutputsCell_2_Label_di37 {
  top: 155px;
  position: absolute;
}

#cntDigitalOutputsCell_2_Label_di37 {
  left: 35px;
  position: absolute;
}

#cntDigitalOutputsCell_2_Label_di37 {
  width: 219px;
}

#cntDigitalOutputsCell_2_Label_di37 {
  height: 20px;
}

#cntDigitalOutputsCell_2_Label_di37 {
  z-index: 21;
}

#cntDigitalOutputsCell_2_Label_di38 {
  top: 185px;
  position: absolute;
}

#cntDigitalOutputsCell_2_Label_di38 {
  left: 35px;
  position: absolute;
}

#cntDigitalOutputsCell_2_Label_di38 {
  width: 219px;
}

#cntDigitalOutputsCell_2_Label_di38 {
  height: 20px;
}

#cntDigitalOutputsCell_2_Label_di38 {
  z-index: 22;
}

#cntDigitalOutputsCell_2_Label_di39 {
  top: 215px;
  position: absolute;
}

#cntDigitalOutputsCell_2_Label_di39 {
  left: 35px;
  position: absolute;
}

#cntDigitalOutputsCell_2_Label_di39 {
  width: 219px;
}

#cntDigitalOutputsCell_2_Label_di39 {
  height: 20px;
}

#cntDigitalOutputsCell_2_Label_di39 {
  z-index: 23;
}

#cntDigitalOutputsCell_2_Label_di40 {
  top: 245px;
  position: absolute;
}

#cntDigitalOutputsCell_2_Label_di40 {
  left: 35px;
  position: absolute;
}

#cntDigitalOutputsCell_2_Label_di40 {
  width: 219px;
}

#cntDigitalOutputsCell_2_Label_di40 {
  height: 20px;
}

#cntDigitalOutputsCell_2_Label_di40 {
  z-index: 24;
}

#cntDigitalOutputsCell_2_Label_di41 {
  top: 275px;
  position: absolute;
}

#cntDigitalOutputsCell_2_Label_di41 {
  left: 35px;
  position: absolute;
}

#cntDigitalOutputsCell_2_Label_di41 {
  width: 219px;
}

#cntDigitalOutputsCell_2_Label_di41 {
  height: 20px;
}

#cntDigitalOutputsCell_2_Label_di41 {
  z-index: 25;
}

#cntDigitalOutputsCell_2_Label_di42 {
  top: 305px;
  position: absolute;
}

#cntDigitalOutputsCell_2_Label_di42 {
  left: 35px;
  position: absolute;
}

#cntDigitalOutputsCell_2_Label_di42 {
  width: 219px;
}

#cntDigitalOutputsCell_2_Label_di42 {
  height: 20px;
}

#cntDigitalOutputsCell_2_Label_di42 {
  z-index: 26;
}

#cntDigitalOutputsCell_2_Label_di43 {
  top: 335px;
  position: absolute;
}

#cntDigitalOutputsCell_2_Label_di43 {
  left: 35px;
  position: absolute;
}

#cntDigitalOutputsCell_2_Label_di43 {
  width: 219px;
}

#cntDigitalOutputsCell_2_Label_di43 {
  height: 20px;
}

#cntDigitalOutputsCell_2_Label_di43 {
  z-index: 27;
}

#cntDigitalOutputsCell_2_Label_di44 {
  top: 365px;
  position: absolute;
}

#cntDigitalOutputsCell_2_Label_di44 {
  left: 35px;
  position: absolute;
}

#cntDigitalOutputsCell_2_Label_di44 {
  width: 219px;
}

#cntDigitalOutputsCell_2_Label_di44 {
  height: 20px;
}

#cntDigitalOutputsCell_2_Label_di44 {
  z-index: 28;
}

#cntDigitalOutputsCell_2_Label_di45 {
  top: 395px;
  position: absolute;
}

#cntDigitalOutputsCell_2_Label_di45 {
  left: 35px;
  position: absolute;
}

#cntDigitalOutputsCell_2_Label_di45 {
  width: 219px;
}

#cntDigitalOutputsCell_2_Label_di45 {
  height: 20px;
}

#cntDigitalOutputsCell_2_Label_di45 {
  z-index: 29;
}

#cntDigitalOutputsCell_2_Label_di46 {
  top: 425px;
  position: absolute;
}

#cntDigitalOutputsCell_2_Label_di46 {
  left: 35px;
  position: absolute;
}

#cntDigitalOutputsCell_2_Label_di46 {
  width: 219px;
}

#cntDigitalOutputsCell_2_Label_di46 {
  height: 20px;
}

#cntDigitalOutputsCell_2_Label_di46 {
  z-index: 30;
}

#cntDigitalOutputsCell_2_Label_di47 {
  top: 455px;
  position: absolute;
}

#cntDigitalOutputsCell_2_Label_di47 {
  left: 35px;
  position: absolute;
}

#cntDigitalOutputsCell_2_Label_di47 {
  width: 219px;
}

#cntDigitalOutputsCell_2_Label_di47 {
  height: 20px;
}

#cntDigitalOutputsCell_2_Label_di47 {
  z-index: 31;
}

#cntDigitalOutputsCell_2_Label_di48 {
  top: 485px;
  position: absolute;
}

#cntDigitalOutputsCell_2_Label_di48 {
  left: 35px;
  position: absolute;
}

#cntDigitalOutputsCell_2_Label_di48 {
  width: 219px;
}

#cntDigitalOutputsCell_2_Label_di48 {
  height: 20px;
}

#cntDigitalOutputsCell_2_Label_di48 {
  z-index: 32;
}

#cntDigitalOutputsCell_2_GridLineItem2 {
  z-index: 2;
}

#cntDigitalOutputsCell_2_GridLineItem2 {
  padding: 0px 10px 10px 10px;
}

#cntDigitalOutputsCell_2_Label4 {
  top: 10px;
  position: absolute;
}

#cntDigitalOutputsCell_2_Label4 {
  left: 29px;
  position: absolute;
}

#cntDigitalOutputsCell_2_Label4 {
  width: 210px;
}

#cntDigitalOutputsCell_2_Label4 {
  height: 20px;
}

#cntDigitalOutputsCell_2_Label4 {
  z-index: 0;
}

#cntDigitalOutputsCell_2_Label4 span {
  color: dimgray;
}

#cntDigitalOutputsCell_2_Label4 {
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntDigitalOutputsCell_2_Label4 span {
  text-decoration: underline;
}

#cntDigitalOutputsCell_2_ImageList33 {
  top: 35px;
  position: absolute;
}

#cntDigitalOutputsCell_2_ImageList33 {
  left: 5px;
  position: absolute;
}

#cntDigitalOutputsCell_2_ImageList33 {
  width: 20px;
}

#cntDigitalOutputsCell_2_ImageList33 {
  height: 20px;
}

#cntDigitalOutputsCell_2_ImageList33 {
  z-index: 1;
}

#cntDigitalOutputsCell_2_ImageList34 {
  top: 65px;
  position: absolute;
}

#cntDigitalOutputsCell_2_ImageList34 {
  left: 5px;
  position: absolute;
}

#cntDigitalOutputsCell_2_ImageList34 {
  width: 20px;
}

#cntDigitalOutputsCell_2_ImageList34 {
  height: 20px;
}

#cntDigitalOutputsCell_2_ImageList34 {
  z-index: 2;
}

#cntDigitalOutputsCell_2_ImageList35 {
  top: 95px;
  position: absolute;
}

#cntDigitalOutputsCell_2_ImageList35 {
  left: 5px;
  position: absolute;
}

#cntDigitalOutputsCell_2_ImageList35 {
  width: 20px;
}

#cntDigitalOutputsCell_2_ImageList35 {
  height: 20px;
}

#cntDigitalOutputsCell_2_ImageList35 {
  z-index: 3;
}

#cntDigitalOutputsCell_2_ImageList36 {
  top: 125px;
  position: absolute;
}

#cntDigitalOutputsCell_2_ImageList36 {
  left: 5px;
  position: absolute;
}

#cntDigitalOutputsCell_2_ImageList36 {
  width: 20px;
}

#cntDigitalOutputsCell_2_ImageList36 {
  height: 20px;
}

#cntDigitalOutputsCell_2_ImageList36 {
  z-index: 4;
}

#cntDigitalOutputsCell_2_ImageList37 {
  top: 155px;
  position: absolute;
}

#cntDigitalOutputsCell_2_ImageList37 {
  left: 5px;
  position: absolute;
}

#cntDigitalOutputsCell_2_ImageList37 {
  width: 20px;
}

#cntDigitalOutputsCell_2_ImageList37 {
  height: 20px;
}

#cntDigitalOutputsCell_2_ImageList37 {
  z-index: 5;
}

#cntDigitalOutputsCell_2_ImageList38 {
  top: 185px;
  position: absolute;
}

#cntDigitalOutputsCell_2_ImageList38 {
  left: 5px;
  position: absolute;
}

#cntDigitalOutputsCell_2_ImageList38 {
  width: 20px;
}

#cntDigitalOutputsCell_2_ImageList38 {
  height: 20px;
}

#cntDigitalOutputsCell_2_ImageList38 {
  z-index: 6;
}

#cntDigitalOutputsCell_2_ImageList39 {
  top: 215px;
  position: absolute;
}

#cntDigitalOutputsCell_2_ImageList39 {
  left: 5px;
  position: absolute;
}

#cntDigitalOutputsCell_2_ImageList39 {
  width: 20px;
}

#cntDigitalOutputsCell_2_ImageList39 {
  height: 20px;
}

#cntDigitalOutputsCell_2_ImageList39 {
  z-index: 7;
}

#cntDigitalOutputsCell_2_ImageList40 {
  top: 245px;
  position: absolute;
}

#cntDigitalOutputsCell_2_ImageList40 {
  left: 5px;
  position: absolute;
}

#cntDigitalOutputsCell_2_ImageList40 {
  width: 20px;
}

#cntDigitalOutputsCell_2_ImageList40 {
  height: 20px;
}

#cntDigitalOutputsCell_2_ImageList40 {
  z-index: 8;
}

#cntDigitalOutputsCell_2_ImageList41 {
  top: 275px;
  position: absolute;
}

#cntDigitalOutputsCell_2_ImageList41 {
  left: 5px;
  position: absolute;
}

#cntDigitalOutputsCell_2_ImageList41 {
  width: 20px;
}

#cntDigitalOutputsCell_2_ImageList41 {
  height: 20px;
}

#cntDigitalOutputsCell_2_ImageList41 {
  z-index: 9;
}

#cntDigitalOutputsCell_2_ImageList42 {
  top: 305px;
  position: absolute;
}

#cntDigitalOutputsCell_2_ImageList42 {
  left: 5px;
  position: absolute;
}

#cntDigitalOutputsCell_2_ImageList42 {
  width: 20px;
}

#cntDigitalOutputsCell_2_ImageList42 {
  height: 20px;
}

#cntDigitalOutputsCell_2_ImageList42 {
  z-index: 10;
}

#cntDigitalOutputsCell_2_ImageList43 {
  top: 335px;
  position: absolute;
}

#cntDigitalOutputsCell_2_ImageList43 {
  left: 5px;
  position: absolute;
}

#cntDigitalOutputsCell_2_ImageList43 {
  width: 20px;
}

#cntDigitalOutputsCell_2_ImageList43 {
  height: 20px;
}

#cntDigitalOutputsCell_2_ImageList43 {
  z-index: 11;
}

#cntDigitalOutputsCell_2_ImageList44 {
  top: 365px;
  position: absolute;
}

#cntDigitalOutputsCell_2_ImageList44 {
  left: 5px;
  position: absolute;
}

#cntDigitalOutputsCell_2_ImageList44 {
  width: 20px;
}

#cntDigitalOutputsCell_2_ImageList44 {
  height: 20px;
}

#cntDigitalOutputsCell_2_ImageList44 {
  z-index: 12;
}

#cntDigitalOutputsCell_2_ImageList45 {
  top: 395px;
  position: absolute;
}

#cntDigitalOutputsCell_2_ImageList45 {
  left: 5px;
  position: absolute;
}

#cntDigitalOutputsCell_2_ImageList45 {
  width: 20px;
}

#cntDigitalOutputsCell_2_ImageList45 {
  height: 20px;
}

#cntDigitalOutputsCell_2_ImageList45 {
  z-index: 13;
}

#cntDigitalOutputsCell_2_ImageList46 {
  top: 425px;
  position: absolute;
}

#cntDigitalOutputsCell_2_ImageList46 {
  left: 5px;
  position: absolute;
}

#cntDigitalOutputsCell_2_ImageList46 {
  width: 20px;
}

#cntDigitalOutputsCell_2_ImageList46 {
  height: 20px;
}

#cntDigitalOutputsCell_2_ImageList46 {
  z-index: 14;
}

#cntDigitalOutputsCell_2_ImageList47 {
  top: 455px;
  position: absolute;
}

#cntDigitalOutputsCell_2_ImageList47 {
  left: 5px;
  position: absolute;
}

#cntDigitalOutputsCell_2_ImageList47 {
  width: 20px;
}

#cntDigitalOutputsCell_2_ImageList47 {
  height: 20px;
}

#cntDigitalOutputsCell_2_ImageList47 {
  z-index: 15;
}

#cntDigitalOutputsCell_2_ImageList48 {
  top: 485px;
  position: absolute;
}

#cntDigitalOutputsCell_2_ImageList48 {
  left: 5px;
  position: absolute;
}

#cntDigitalOutputsCell_2_ImageList48 {
  width: 20px;
}

#cntDigitalOutputsCell_2_ImageList48 {
  height: 20px;
}

#cntDigitalOutputsCell_2_ImageList48 {
  z-index: 16;
}

#cntDigitalOutputsCell_2_Label_di49 {
  top: 35px;
  position: absolute;
}

#cntDigitalOutputsCell_2_Label_di49 {
  left: 35px;
  position: absolute;
}

#cntDigitalOutputsCell_2_Label_di49 {
  width: 235px;
}

#cntDigitalOutputsCell_2_Label_di49 {
  height: 20px;
}

#cntDigitalOutputsCell_2_Label_di49 {
  z-index: 17;
}

#cntDigitalOutputsCell_2_Label_di50 {
  top: 65px;
  position: absolute;
}

#cntDigitalOutputsCell_2_Label_di50 {
  left: 35px;
  position: absolute;
}

#cntDigitalOutputsCell_2_Label_di50 {
  width: 235px;
}

#cntDigitalOutputsCell_2_Label_di50 {
  height: 20px;
}

#cntDigitalOutputsCell_2_Label_di50 {
  z-index: 18;
}

#cntDigitalOutputsCell_2_Label_di51 {
  top: 95px;
  position: absolute;
}

#cntDigitalOutputsCell_2_Label_di51 {
  left: 35px;
  position: absolute;
}

#cntDigitalOutputsCell_2_Label_di51 {
  width: 235px;
}

#cntDigitalOutputsCell_2_Label_di51 {
  height: 20px;
}

#cntDigitalOutputsCell_2_Label_di51 {
  z-index: 19;
}

#cntDigitalOutputsCell_2_Label_di52 {
  top: 125px;
  position: absolute;
}

#cntDigitalOutputsCell_2_Label_di52 {
  left: 35px;
  position: absolute;
}

#cntDigitalOutputsCell_2_Label_di52 {
  width: 235px;
}

#cntDigitalOutputsCell_2_Label_di52 {
  height: 20px;
}

#cntDigitalOutputsCell_2_Label_di52 {
  z-index: 20;
}

#cntDigitalOutputsCell_2_Label_di53 {
  top: 155px;
  position: absolute;
}

#cntDigitalOutputsCell_2_Label_di53 {
  left: 35px;
  position: absolute;
}

#cntDigitalOutputsCell_2_Label_di53 {
  width: 235px;
}

#cntDigitalOutputsCell_2_Label_di53 {
  height: 20px;
}

#cntDigitalOutputsCell_2_Label_di53 {
  z-index: 21;
}

#cntDigitalOutputsCell_2_Label_di54 {
  top: 185px;
  position: absolute;
}

#cntDigitalOutputsCell_2_Label_di54 {
  left: 35px;
  position: absolute;
}

#cntDigitalOutputsCell_2_Label_di54 {
  width: 235px;
}

#cntDigitalOutputsCell_2_Label_di54 {
  height: 20px;
}

#cntDigitalOutputsCell_2_Label_di54 {
  z-index: 22;
}

#cntDigitalOutputsCell_2_Label_di55 {
  top: 215px;
  position: absolute;
}

#cntDigitalOutputsCell_2_Label_di55 {
  left: 35px;
  position: absolute;
}

#cntDigitalOutputsCell_2_Label_di55 {
  width: 235px;
}

#cntDigitalOutputsCell_2_Label_di55 {
  height: 20px;
}

#cntDigitalOutputsCell_2_Label_di55 {
  z-index: 23;
}

#cntDigitalOutputsCell_2_Label_di56 {
  top: 245px;
  position: absolute;
}

#cntDigitalOutputsCell_2_Label_di56 {
  left: 35px;
  position: absolute;
}

#cntDigitalOutputsCell_2_Label_di56 {
  width: 235px;
}

#cntDigitalOutputsCell_2_Label_di56 {
  height: 20px;
}

#cntDigitalOutputsCell_2_Label_di56 {
  z-index: 24;
}

#cntDigitalOutputsCell_2_Label_di57 {
  top: 275px;
  position: absolute;
}

#cntDigitalOutputsCell_2_Label_di57 {
  left: 35px;
  position: absolute;
}

#cntDigitalOutputsCell_2_Label_di57 {
  width: 235px;
}

#cntDigitalOutputsCell_2_Label_di57 {
  height: 20px;
}

#cntDigitalOutputsCell_2_Label_di57 {
  z-index: 25;
}

#cntDigitalOutputsCell_2_Label_di58 {
  top: 305px;
  position: absolute;
}

#cntDigitalOutputsCell_2_Label_di58 {
  left: 35px;
  position: absolute;
}

#cntDigitalOutputsCell_2_Label_di58 {
  width: 235px;
}

#cntDigitalOutputsCell_2_Label_di58 {
  height: 20px;
}

#cntDigitalOutputsCell_2_Label_di58 {
  z-index: 26;
}

#cntDigitalOutputsCell_2_Label_di59 {
  top: 335px;
  position: absolute;
}

#cntDigitalOutputsCell_2_Label_di59 {
  left: 35px;
  position: absolute;
}

#cntDigitalOutputsCell_2_Label_di59 {
  width: 235px;
}

#cntDigitalOutputsCell_2_Label_di59 {
  height: 20px;
}

#cntDigitalOutputsCell_2_Label_di59 {
  z-index: 27;
}

#cntDigitalOutputsCell_2_Label_di60 {
  top: 365px;
  position: absolute;
}

#cntDigitalOutputsCell_2_Label_di60 {
  left: 35px;
  position: absolute;
}

#cntDigitalOutputsCell_2_Label_di60 {
  width: 235px;
}

#cntDigitalOutputsCell_2_Label_di60 {
  height: 20px;
}

#cntDigitalOutputsCell_2_Label_di60 {
  z-index: 28;
}

#cntDigitalOutputsCell_2_Label_di61 {
  top: 395px;
  position: absolute;
}

#cntDigitalOutputsCell_2_Label_di61 {
  left: 35px;
  position: absolute;
}

#cntDigitalOutputsCell_2_Label_di61 {
  width: 235px;
}

#cntDigitalOutputsCell_2_Label_di61 {
  height: 20px;
}

#cntDigitalOutputsCell_2_Label_di61 {
  z-index: 29;
}

#cntDigitalOutputsCell_2_Label_di62 {
  top: 425px;
  position: absolute;
}

#cntDigitalOutputsCell_2_Label_di62 {
  left: 35px;
  position: absolute;
}

#cntDigitalOutputsCell_2_Label_di62 {
  width: 235px;
}

#cntDigitalOutputsCell_2_Label_di62 {
  height: 20px;
}

#cntDigitalOutputsCell_2_Label_di62 {
  z-index: 30;
}

#cntDigitalOutputsCell_2_Label_di63 {
  top: 455px;
  position: absolute;
}

#cntDigitalOutputsCell_2_Label_di63 {
  left: 35px;
  position: absolute;
}

#cntDigitalOutputsCell_2_Label_di63 {
  width: 235px;
}

#cntDigitalOutputsCell_2_Label_di63 {
  height: 20px;
}

#cntDigitalOutputsCell_2_Label_di63 {
  z-index: 31;
}

#cntDigitalOutputsCell_2_Label_di64 {
  top: 485px;
  position: absolute;
}

#cntDigitalOutputsCell_2_Label_di64 {
  left: 35px;
  position: absolute;
}

#cntDigitalOutputsCell_2_Label_di64 {
  width: 235px;
}

#cntDigitalOutputsCell_2_Label_di64 {
  height: 20px;
}

#cntDigitalOutputsCell_2_Label_di64 {
  z-index: 32;
}

#cntDigitalOutputsCell_2_CheckBox_SafetyRelayInput {
  top: 0px;
  position: absolute;
}

#cntDigitalOutputsCell_2_CheckBox_SafetyRelayInput {
  left: 250px;
  position: absolute;
}

#cntDigitalOutputsCell_2_CheckBox_SafetyRelayInput {
  width: 45px;
}

#cntDigitalOutputsCell_2_CheckBox_SafetyRelayInput {
  height: 45px;
}

#cntDigitalOutputsCell_2_CheckBox_SafetyRelayInput {
  z-index: 1;
}

#cntDigitalOutputsCell_2_CheckBox_SafetyRelayInput span {
  font-style: italic;
}

#cntDigitalOutputsCell_2_CheckBox_SafetyRelayInput {
  padding: 0px;
}

#cntDigitalOutputsCell_2_CheckBox_SafetyRelayInput.checked:not(.disabled) svg {
  fill: red;
}
