#cntIOImageCell_3_ImageList2 {
  top: 40px;
  position: absolute;
}

#cntIOImageCell_3_ImageList2 {
  left: 90px;
  position: absolute;
}

#cntIOImageCell_3_ImageList2 {
  width: 70px;
}

#cntIOImageCell_3_ImageList2 {
  height: 225px;
}

#cntIOImageCell_3_ImageList2 {
  z-index: 0;
}

#cntIOImageCell_3_ImageList2 {
  background-color: rgba(255, 255, 255, 0);
}

#cntIOImageCell_3_ImageList2 {
  margin: 0px;
}

#cntIOImageCell_3_ImageList3 {
  top: 45px;
  position: absolute;
}

#cntIOImageCell_3_ImageList3 {
  left: 195px;
  position: absolute;
}

#cntIOImageCell_3_ImageList3 {
  width: 30px;
}

#cntIOImageCell_3_ImageList3 {
  height: 225px;
}

#cntIOImageCell_3_ImageList3 {
  z-index: 1;
}

#cntIOImageCell_3_ImageList4 {
  top: 45px;
  position: absolute;
}

#cntIOImageCell_3_ImageList4 {
  left: 225px;
  position: absolute;
}

#cntIOImageCell_3_ImageList4 {
  width: 30px;
}

#cntIOImageCell_3_ImageList4 {
  height: 225px;
}

#cntIOImageCell_3_ImageList4 {
  z-index: 2;
}

#cntIOImageCell_3_ImageList5 {
  top: 45px;
  position: absolute;
}

#cntIOImageCell_3_ImageList5 {
  left: 255px;
  position: absolute;
}

#cntIOImageCell_3_ImageList5 {
  width: 30px;
}

#cntIOImageCell_3_ImageList5 {
  height: 225px;
}

#cntIOImageCell_3_ImageList5 {
  z-index: 3;
}

#cntIOImageCell_3_ImageList6 {
  top: 45px;
  position: absolute;
}

#cntIOImageCell_3_ImageList6 {
  left: 285px;
  position: absolute;
}

#cntIOImageCell_3_ImageList6 {
  width: 30px;
}

#cntIOImageCell_3_ImageList6 {
  height: 225px;
}

#cntIOImageCell_3_ImageList6 {
  z-index: 4;
}

#cntIOImageCell_3_ImageList7 {
  top: 45px;
  position: absolute;
}

#cntIOImageCell_3_ImageList7 {
  left: 315px;
  position: absolute;
}

#cntIOImageCell_3_ImageList7 {
  width: 30px;
}

#cntIOImageCell_3_ImageList7 {
  height: 225px;
}

#cntIOImageCell_3_ImageList7 {
  z-index: 5;
}

#cntIOImageCell_3_ImageList8 {
  top: 45px;
  position: absolute;
}

#cntIOImageCell_3_ImageList8 {
  left: 345px;
  position: absolute;
}

#cntIOImageCell_3_ImageList8 {
  width: 30px;
}

#cntIOImageCell_3_ImageList8 {
  height: 225px;
}

#cntIOImageCell_3_ImageList8 {
  z-index: 6;
}

#cntIOImageCell_3_ImageList9 {
  top: 45px;
  position: absolute;
}

#cntIOImageCell_3_ImageList9 {
  left: 375px;
  position: absolute;
}

#cntIOImageCell_3_ImageList9 {
  width: 30px;
}

#cntIOImageCell_3_ImageList9 {
  height: 225px;
}

#cntIOImageCell_3_ImageList9 {
  z-index: 7;
}

#cntIOImageCell_3_ImageList_SafetyIO {
  top: 45px;
  position: absolute;
}

#cntIOImageCell_3_ImageList_SafetyIO {
  left: 405px;
  position: absolute;
}

#cntIOImageCell_3_ImageList_SafetyIO {
  width: 60px;
}

#cntIOImageCell_3_ImageList_SafetyIO {
  height: 225px;
}

#cntIOImageCell_3_ImageList_SafetyIO {
  z-index: 8;
}

#cntIOImageCell_3_ImageList_SafetyIO3 {
  top: 45px;
  position: absolute;
}

#cntIOImageCell_3_ImageList_SafetyIO3 {
  left: 465px;
  position: absolute;
}

#cntIOImageCell_3_ImageList_SafetyIO3 {
  width: 60px;
}

#cntIOImageCell_3_ImageList_SafetyIO3 {
  height: 225px;
}

#cntIOImageCell_3_ImageList_SafetyIO3 {
  z-index: 9;
}

#cntIOImageCell_3_ImageList_SafetyIO4 {
  top: 45px;
  position: absolute;
}

#cntIOImageCell_3_ImageList_SafetyIO4 {
  left: 510px;
  position: absolute;
}

#cntIOImageCell_3_ImageList_SafetyIO4 {
  width: 60px;
}

#cntIOImageCell_3_ImageList_SafetyIO4 {
  height: 225px;
}

#cntIOImageCell_3_ImageList_SafetyIO4 {
  z-index: 10;
}

#cntIOImageCell_3_ImageList_Robot {
  top: 330px;
  position: absolute;
}

#cntIOImageCell_3_ImageList_Robot {
  left: 270px;
  position: absolute;
}

#cntIOImageCell_3_ImageList_Robot {
  width: 180px;
}

#cntIOImageCell_3_ImageList_Robot {
  height: 240px;
}

#cntIOImageCell_3_ImageList_Robot {
  z-index: 11;
}

#cntIOImageCell_3_Button_Safety {
  top: 50px;
  position: absolute;
}

#cntIOImageCell_3_Button_Safety {
  left: 410px;
  position: absolute;
}

#cntIOImageCell_3_Button_Safety {
  width: 165px;
}

#cntIOImageCell_3_Button_Safety {
  height: 225px;
}

#cntIOImageCell_3_Button_Safety {
  z-index: 12;
}

#cntIOImageCell_3_Button_Safety {
  border-radius: 0px;
}

#cntIOImageCell_3_Button_Cntrllr {
  top: 40px;
  position: absolute;
}

#cntIOImageCell_3_Button_Cntrllr {
  left: 100px;
  position: absolute;
}

#cntIOImageCell_3_Button_Cntrllr {
  width: 300px;
}

#cntIOImageCell_3_Button_Cntrllr {
  height: 225px;
}

#cntIOImageCell_3_Button_Cntrllr {
  z-index: 14;
}

#cntIOImageCell_3_Button_Cntrllr {
  border-radius: 0px;
}

#cntIOImageCell_3_ImageList10 {
  top: 40px;
  position: absolute;
}

#cntIOImageCell_3_ImageList10 {
  left: 160px;
  position: absolute;
}

#cntIOImageCell_3_ImageList10 {
  width: 35px;
}

#cntIOImageCell_3_ImageList10 {
  height: 223px;
}

#cntIOImageCell_3_ImageList10 {
  z-index: 13;
}
