﻿@import "mixins.scss";
div[data-brease-dialogId='DialogIOModuleCell_3'] {
	.breaseWindowClose{
@include display(true);
	}
}
div[data-brease-dialogId='DialogIOModuleCell_3'] {
	.breaseDialogWindowHeader .textDiv{
@include font-weight-bold(true);
	}
}
div[data-brease-dialogId='DialogIOModuleCell_3'] {
	.breaseDialogWindowHeader .textDiv{
	font-size: 28px;
	}
}
