#cntDigitalInputsCell_3_GridLine1 {
  top: 0px;
  position: absolute;
}

#cntDigitalInputsCell_3_GridLine1 {
  left: 0px;
  position: absolute;
}

#cntDigitalInputsCell_3_GridLine1 {
  width: 300px;
}

#cntDigitalInputsCell_3_GridLine1 {
  height: 540px;
}

#cntDigitalInputsCell_3_GridLine1 {
  z-index: 0;
}

#cntDigitalInputsCell_3_GridLine1 .container {
  padding: 5px 0px;
}

#cntDigitalInputsCell_3_GridLineItem1 {
  z-index: 0;
}

#cntDigitalInputsCell_3_GridLineItem1 {
  padding: 0px 10px 10px 10px;
}

#cntDigitalInputsCell_3_Label2 {
  height: 30px;
}

#cntDigitalInputsCell_3_Label2 {
  top: 0px;
  position: absolute;
}

#cntDigitalInputsCell_3_Label2 {
  left: 5px;
  position: absolute;
}

#cntDigitalInputsCell_3_Label2 {
  width: 265px;
}

#cntDigitalInputsCell_3_Label2 {
  z-index: 0;
}

#cntDigitalInputsCell_3_Label2 span {
  color: dimgray;
}

#cntDigitalInputsCell_3_Label2 {
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntDigitalInputsCell_3_Label2 span {
  text-decoration: underline;
}

#cntDigitalInputsCell_3_ImageList1 {
  top: 35px;
  position: absolute;
}

#cntDigitalInputsCell_3_ImageList1 {
  left: 10px;
  position: absolute;
}

#cntDigitalInputsCell_3_ImageList1 {
  width: 20px;
}

#cntDigitalInputsCell_3_ImageList1 {
  height: 20px;
}

#cntDigitalInputsCell_3_ImageList1 {
  z-index: 1;
}

#cntDigitalInputsCell_3_ImageList2 {
  top: 65px;
  position: absolute;
}

#cntDigitalInputsCell_3_ImageList2 {
  left: 10px;
  position: absolute;
}

#cntDigitalInputsCell_3_ImageList2 {
  width: 20px;
}

#cntDigitalInputsCell_3_ImageList2 {
  height: 20px;
}

#cntDigitalInputsCell_3_ImageList2 {
  z-index: 2;
}

#cntDigitalInputsCell_3_ImageList3 {
  top: 95px;
  position: absolute;
}

#cntDigitalInputsCell_3_ImageList3 {
  left: 10px;
  position: absolute;
}

#cntDigitalInputsCell_3_ImageList3 {
  width: 20px;
}

#cntDigitalInputsCell_3_ImageList3 {
  height: 20px;
}

#cntDigitalInputsCell_3_ImageList3 {
  z-index: 3;
}

#cntDigitalInputsCell_3_ImageList4 {
  top: 125px;
  position: absolute;
}

#cntDigitalInputsCell_3_ImageList4 {
  left: 10px;
  position: absolute;
}

#cntDigitalInputsCell_3_ImageList4 {
  width: 20px;
}

#cntDigitalInputsCell_3_ImageList4 {
  height: 20px;
}

#cntDigitalInputsCell_3_ImageList4 {
  z-index: 4;
}

#cntDigitalInputsCell_3_ImageList5 {
  top: 155px;
  position: absolute;
}

#cntDigitalInputsCell_3_ImageList5 {
  left: 10px;
  position: absolute;
}

#cntDigitalInputsCell_3_ImageList5 {
  width: 20px;
}

#cntDigitalInputsCell_3_ImageList5 {
  height: 20px;
}

#cntDigitalInputsCell_3_ImageList5 {
  z-index: 5;
}

#cntDigitalInputsCell_3_ImageList6 {
  top: 185px;
  position: absolute;
}

#cntDigitalInputsCell_3_ImageList6 {
  left: 10px;
  position: absolute;
}

#cntDigitalInputsCell_3_ImageList6 {
  width: 20px;
}

#cntDigitalInputsCell_3_ImageList6 {
  height: 20px;
}

#cntDigitalInputsCell_3_ImageList6 {
  z-index: 6;
}

#cntDigitalInputsCell_3_ImageList7 {
  top: 215px;
  position: absolute;
}

#cntDigitalInputsCell_3_ImageList7 {
  left: 10px;
  position: absolute;
}

#cntDigitalInputsCell_3_ImageList7 {
  width: 20px;
}

#cntDigitalInputsCell_3_ImageList7 {
  height: 20px;
}

#cntDigitalInputsCell_3_ImageList7 {
  z-index: 7;
}

#cntDigitalInputsCell_3_ImageList8 {
  top: 245px;
  position: absolute;
}

#cntDigitalInputsCell_3_ImageList8 {
  left: 10px;
  position: absolute;
}

#cntDigitalInputsCell_3_ImageList8 {
  width: 20px;
}

#cntDigitalInputsCell_3_ImageList8 {
  height: 20px;
}

#cntDigitalInputsCell_3_ImageList8 {
  z-index: 8;
}

#cntDigitalInputsCell_3_ImageList9 {
  top: 275px;
  position: absolute;
}

#cntDigitalInputsCell_3_ImageList9 {
  left: 10px;
  position: absolute;
}

#cntDigitalInputsCell_3_ImageList9 {
  width: 20px;
}

#cntDigitalInputsCell_3_ImageList9 {
  height: 20px;
}

#cntDigitalInputsCell_3_ImageList9 {
  z-index: 9;
}

#cntDigitalInputsCell_3_ImageList10 {
  top: 305px;
  position: absolute;
}

#cntDigitalInputsCell_3_ImageList10 {
  left: 10px;
  position: absolute;
}

#cntDigitalInputsCell_3_ImageList10 {
  width: 20px;
}

#cntDigitalInputsCell_3_ImageList10 {
  height: 20px;
}

#cntDigitalInputsCell_3_ImageList10 {
  z-index: 10;
}

#cntDigitalInputsCell_3_ImageList11 {
  top: 335px;
  position: absolute;
}

#cntDigitalInputsCell_3_ImageList11 {
  left: 10px;
  position: absolute;
}

#cntDigitalInputsCell_3_ImageList11 {
  width: 20px;
}

#cntDigitalInputsCell_3_ImageList11 {
  height: 20px;
}

#cntDigitalInputsCell_3_ImageList11 {
  z-index: 11;
}

#cntDigitalInputsCell_3_ImageList12 {
  top: 365px;
  position: absolute;
}

#cntDigitalInputsCell_3_ImageList12 {
  left: 10px;
  position: absolute;
}

#cntDigitalInputsCell_3_ImageList12 {
  width: 20px;
}

#cntDigitalInputsCell_3_ImageList12 {
  height: 20px;
}

#cntDigitalInputsCell_3_ImageList12 {
  z-index: 12;
}

#cntDigitalInputsCell_3_ImageList13 {
  top: 395px;
  position: absolute;
}

#cntDigitalInputsCell_3_ImageList13 {
  left: 10px;
  position: absolute;
}

#cntDigitalInputsCell_3_ImageList13 {
  width: 20px;
}

#cntDigitalInputsCell_3_ImageList13 {
  height: 20px;
}

#cntDigitalInputsCell_3_ImageList13 {
  z-index: 13;
}

#cntDigitalInputsCell_3_ImageList14 {
  top: 425px;
  position: absolute;
}

#cntDigitalInputsCell_3_ImageList14 {
  left: 10px;
  position: absolute;
}

#cntDigitalInputsCell_3_ImageList14 {
  width: 20px;
}

#cntDigitalInputsCell_3_ImageList14 {
  height: 20px;
}

#cntDigitalInputsCell_3_ImageList14 {
  z-index: 14;
}

#cntDigitalInputsCell_3_ImageList15 {
  top: 455px;
  position: absolute;
}

#cntDigitalInputsCell_3_ImageList15 {
  left: 10px;
  position: absolute;
}

#cntDigitalInputsCell_3_ImageList15 {
  width: 20px;
}

#cntDigitalInputsCell_3_ImageList15 {
  height: 20px;
}

#cntDigitalInputsCell_3_ImageList15 {
  z-index: 15;
}

#cntDigitalInputsCell_3_ImageList16 {
  top: 485px;
  position: absolute;
}

#cntDigitalInputsCell_3_ImageList16 {
  left: 10px;
  position: absolute;
}

#cntDigitalInputsCell_3_ImageList16 {
  width: 20px;
}

#cntDigitalInputsCell_3_ImageList16 {
  height: 20px;
}

#cntDigitalInputsCell_3_ImageList16 {
  z-index: 16;
}

#cntDigitalInputsCell_3_Label_do1 {
  top: 35px;
  position: absolute;
}

#cntDigitalInputsCell_3_Label_do1 {
  left: 50px;
  position: absolute;
}

#cntDigitalInputsCell_3_Label_do1 {
  width: 210px;
}

#cntDigitalInputsCell_3_Label_do1 {
  height: 20px;
}

#cntDigitalInputsCell_3_Label_do1 {
  z-index: 17;
}

#cntDigitalInputsCell_3_Label_do2 {
  top: 65px;
  position: absolute;
}

#cntDigitalInputsCell_3_Label_do2 {
  left: 50px;
  position: absolute;
}

#cntDigitalInputsCell_3_Label_do2 {
  width: 210px;
}

#cntDigitalInputsCell_3_Label_do2 {
  height: 20px;
}

#cntDigitalInputsCell_3_Label_do2 {
  z-index: 18;
}

#cntDigitalInputsCell_3_Label_do3 {
  top: 95px;
  position: absolute;
}

#cntDigitalInputsCell_3_Label_do3 {
  left: 50px;
  position: absolute;
}

#cntDigitalInputsCell_3_Label_do3 {
  width: 210px;
}

#cntDigitalInputsCell_3_Label_do3 {
  height: 20px;
}

#cntDigitalInputsCell_3_Label_do3 {
  z-index: 19;
}

#cntDigitalInputsCell_3_Label_do4 {
  top: 125px;
  position: absolute;
}

#cntDigitalInputsCell_3_Label_do4 {
  left: 50px;
  position: absolute;
}

#cntDigitalInputsCell_3_Label_do4 {
  width: 210px;
}

#cntDigitalInputsCell_3_Label_do4 {
  height: 20px;
}

#cntDigitalInputsCell_3_Label_do4 {
  z-index: 20;
}

#cntDigitalInputsCell_3_Label_do5 {
  top: 155px;
  position: absolute;
}

#cntDigitalInputsCell_3_Label_do5 {
  left: 50px;
  position: absolute;
}

#cntDigitalInputsCell_3_Label_do5 {
  width: 210px;
}

#cntDigitalInputsCell_3_Label_do5 {
  height: 20px;
}

#cntDigitalInputsCell_3_Label_do5 {
  z-index: 21;
}

#cntDigitalInputsCell_3_Label_do6 {
  top: 185px;
  position: absolute;
}

#cntDigitalInputsCell_3_Label_do6 {
  left: 50px;
  position: absolute;
}

#cntDigitalInputsCell_3_Label_do6 {
  width: 210px;
}

#cntDigitalInputsCell_3_Label_do6 {
  height: 20px;
}

#cntDigitalInputsCell_3_Label_do6 {
  z-index: 22;
}

#cntDigitalInputsCell_3_Label_do7 {
  top: 215px;
  position: absolute;
}

#cntDigitalInputsCell_3_Label_do7 {
  left: 50px;
  position: absolute;
}

#cntDigitalInputsCell_3_Label_do7 {
  width: 210px;
}

#cntDigitalInputsCell_3_Label_do7 {
  height: 20px;
}

#cntDigitalInputsCell_3_Label_do7 {
  z-index: 23;
}

#cntDigitalInputsCell_3_Label_do8 {
  top: 245px;
  position: absolute;
}

#cntDigitalInputsCell_3_Label_do8 {
  left: 50px;
  position: absolute;
}

#cntDigitalInputsCell_3_Label_do8 {
  width: 210px;
}

#cntDigitalInputsCell_3_Label_do8 {
  height: 20px;
}

#cntDigitalInputsCell_3_Label_do8 {
  z-index: 24;
}

#cntDigitalInputsCell_3_Label_do9 {
  top: 275px;
  position: absolute;
}

#cntDigitalInputsCell_3_Label_do9 {
  left: 50px;
  position: absolute;
}

#cntDigitalInputsCell_3_Label_do9 {
  width: 210px;
}

#cntDigitalInputsCell_3_Label_do9 {
  height: 20px;
}

#cntDigitalInputsCell_3_Label_do9 {
  z-index: 25;
}

#cntDigitalInputsCell_3_Label_do10 {
  top: 305px;
  position: absolute;
}

#cntDigitalInputsCell_3_Label_do10 {
  left: 50px;
  position: absolute;
}

#cntDigitalInputsCell_3_Label_do10 {
  width: 210px;
}

#cntDigitalInputsCell_3_Label_do10 {
  height: 20px;
}

#cntDigitalInputsCell_3_Label_do10 {
  z-index: 26;
}

#cntDigitalInputsCell_3_Label_do11 {
  top: 335px;
  position: absolute;
}

#cntDigitalInputsCell_3_Label_do11 {
  left: 50px;
  position: absolute;
}

#cntDigitalInputsCell_3_Label_do11 {
  width: 210px;
}

#cntDigitalInputsCell_3_Label_do11 {
  height: 20px;
}

#cntDigitalInputsCell_3_Label_do11 {
  z-index: 27;
}

#cntDigitalInputsCell_3_Label_do12 {
  top: 365px;
  position: absolute;
}

#cntDigitalInputsCell_3_Label_do12 {
  left: 50px;
  position: absolute;
}

#cntDigitalInputsCell_3_Label_do12 {
  width: 210px;
}

#cntDigitalInputsCell_3_Label_do12 {
  height: 20px;
}

#cntDigitalInputsCell_3_Label_do12 {
  z-index: 28;
}

#cntDigitalInputsCell_3_Label_do13 {
  top: 395px;
  position: absolute;
}

#cntDigitalInputsCell_3_Label_do13 {
  left: 50px;
  position: absolute;
}

#cntDigitalInputsCell_3_Label_do13 {
  width: 210px;
}

#cntDigitalInputsCell_3_Label_do13 {
  height: 20px;
}

#cntDigitalInputsCell_3_Label_do13 {
  z-index: 29;
}

#cntDigitalInputsCell_3_Label_do14 {
  top: 425px;
  position: absolute;
}

#cntDigitalInputsCell_3_Label_do14 {
  left: 50px;
  position: absolute;
}

#cntDigitalInputsCell_3_Label_do14 {
  width: 210px;
}

#cntDigitalInputsCell_3_Label_do14 {
  height: 20px;
}

#cntDigitalInputsCell_3_Label_do14 {
  z-index: 30;
}

#cntDigitalInputsCell_3_Label_do15 {
  top: 455px;
  position: absolute;
}

#cntDigitalInputsCell_3_Label_do15 {
  left: 50px;
  position: absolute;
}

#cntDigitalInputsCell_3_Label_do15 {
  width: 210px;
}

#cntDigitalInputsCell_3_Label_do15 {
  height: 20px;
}

#cntDigitalInputsCell_3_Label_do15 {
  z-index: 31;
}

#cntDigitalInputsCell_3_Label_do16 {
  top: 485px;
  position: absolute;
}

#cntDigitalInputsCell_3_Label_do16 {
  left: 50px;
  position: absolute;
}

#cntDigitalInputsCell_3_Label_do16 {
  width: 210px;
}

#cntDigitalInputsCell_3_Label_do16 {
  height: 20px;
}

#cntDigitalInputsCell_3_Label_do16 {
  z-index: 32;
}

#cntDigitalInputsCell_3_GridLineItem3 {
  z-index: 1;
}

#cntDigitalInputsCell_3_GridLineItem3 {
  padding: 0px 10px 10px 10px;
}

#cntDigitalInputsCell_3_Label3 {
  height: 30px;
}

#cntDigitalInputsCell_3_Label3 {
  top: 0px;
  position: absolute;
}

#cntDigitalInputsCell_3_Label3 {
  left: 5px;
  position: absolute;
}

#cntDigitalInputsCell_3_Label3 {
  width: 265px;
}

#cntDigitalInputsCell_3_Label3 {
  z-index: 0;
}

#cntDigitalInputsCell_3_Label3 span {
  color: dimgray;
}

#cntDigitalInputsCell_3_Label3 {
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntDigitalInputsCell_3_Label3 span {
  text-decoration: underline;
}

#cntDigitalInputsCell_3_ImageList17 {
  top: 35px;
  position: absolute;
}

#cntDigitalInputsCell_3_ImageList17 {
  left: 10px;
  position: absolute;
}

#cntDigitalInputsCell_3_ImageList17 {
  width: 20px;
}

#cntDigitalInputsCell_3_ImageList17 {
  height: 20px;
}

#cntDigitalInputsCell_3_ImageList17 {
  z-index: 1;
}

#cntDigitalInputsCell_3_ImageList18 {
  top: 65px;
  position: absolute;
}

#cntDigitalInputsCell_3_ImageList18 {
  left: 10px;
  position: absolute;
}

#cntDigitalInputsCell_3_ImageList18 {
  width: 20px;
}

#cntDigitalInputsCell_3_ImageList18 {
  height: 20px;
}

#cntDigitalInputsCell_3_ImageList18 {
  z-index: 2;
}

#cntDigitalInputsCell_3_ImageList19 {
  top: 95px;
  position: absolute;
}

#cntDigitalInputsCell_3_ImageList19 {
  left: 10px;
  position: absolute;
}

#cntDigitalInputsCell_3_ImageList19 {
  width: 20px;
}

#cntDigitalInputsCell_3_ImageList19 {
  height: 20px;
}

#cntDigitalInputsCell_3_ImageList19 {
  z-index: 3;
}

#cntDigitalInputsCell_3_ImageList20 {
  top: 125px;
  position: absolute;
}

#cntDigitalInputsCell_3_ImageList20 {
  left: 10px;
  position: absolute;
}

#cntDigitalInputsCell_3_ImageList20 {
  width: 20px;
}

#cntDigitalInputsCell_3_ImageList20 {
  height: 20px;
}

#cntDigitalInputsCell_3_ImageList20 {
  z-index: 4;
}

#cntDigitalInputsCell_3_ImageList21 {
  top: 155px;
  position: absolute;
}

#cntDigitalInputsCell_3_ImageList21 {
  left: 10px;
  position: absolute;
}

#cntDigitalInputsCell_3_ImageList21 {
  width: 20px;
}

#cntDigitalInputsCell_3_ImageList21 {
  height: 20px;
}

#cntDigitalInputsCell_3_ImageList21 {
  z-index: 5;
}

#cntDigitalInputsCell_3_ImageList22 {
  top: 185px;
  position: absolute;
}

#cntDigitalInputsCell_3_ImageList22 {
  left: 10px;
  position: absolute;
}

#cntDigitalInputsCell_3_ImageList22 {
  width: 20px;
}

#cntDigitalInputsCell_3_ImageList22 {
  height: 20px;
}

#cntDigitalInputsCell_3_ImageList22 {
  z-index: 6;
}

#cntDigitalInputsCell_3_ImageList23 {
  top: 215px;
  position: absolute;
}

#cntDigitalInputsCell_3_ImageList23 {
  left: 10px;
  position: absolute;
}

#cntDigitalInputsCell_3_ImageList23 {
  width: 20px;
}

#cntDigitalInputsCell_3_ImageList23 {
  height: 20px;
}

#cntDigitalInputsCell_3_ImageList23 {
  z-index: 7;
}

#cntDigitalInputsCell_3_ImageList24 {
  top: 245px;
  position: absolute;
}

#cntDigitalInputsCell_3_ImageList24 {
  left: 10px;
  position: absolute;
}

#cntDigitalInputsCell_3_ImageList24 {
  width: 20px;
}

#cntDigitalInputsCell_3_ImageList24 {
  height: 20px;
}

#cntDigitalInputsCell_3_ImageList24 {
  z-index: 8;
}

#cntDigitalInputsCell_3_ImageList25 {
  top: 275px;
  position: absolute;
}

#cntDigitalInputsCell_3_ImageList25 {
  left: 10px;
  position: absolute;
}

#cntDigitalInputsCell_3_ImageList25 {
  width: 20px;
}

#cntDigitalInputsCell_3_ImageList25 {
  height: 20px;
}

#cntDigitalInputsCell_3_ImageList25 {
  z-index: 9;
}

#cntDigitalInputsCell_3_ImageList26 {
  top: 305px;
  position: absolute;
}

#cntDigitalInputsCell_3_ImageList26 {
  left: 10px;
  position: absolute;
}

#cntDigitalInputsCell_3_ImageList26 {
  width: 20px;
}

#cntDigitalInputsCell_3_ImageList26 {
  height: 20px;
}

#cntDigitalInputsCell_3_ImageList26 {
  z-index: 10;
}

#cntDigitalInputsCell_3_ImageList27 {
  top: 335px;
  position: absolute;
}

#cntDigitalInputsCell_3_ImageList27 {
  left: 10px;
  position: absolute;
}

#cntDigitalInputsCell_3_ImageList27 {
  width: 20px;
}

#cntDigitalInputsCell_3_ImageList27 {
  height: 20px;
}

#cntDigitalInputsCell_3_ImageList27 {
  z-index: 11;
}

#cntDigitalInputsCell_3_ImageList28 {
  top: 365px;
  position: absolute;
}

#cntDigitalInputsCell_3_ImageList28 {
  left: 10px;
  position: absolute;
}

#cntDigitalInputsCell_3_ImageList28 {
  width: 20px;
}

#cntDigitalInputsCell_3_ImageList28 {
  height: 20px;
}

#cntDigitalInputsCell_3_ImageList28 {
  z-index: 12;
}

#cntDigitalInputsCell_3_ImageList29 {
  top: 395px;
  position: absolute;
}

#cntDigitalInputsCell_3_ImageList29 {
  left: 10px;
  position: absolute;
}

#cntDigitalInputsCell_3_ImageList29 {
  width: 20px;
}

#cntDigitalInputsCell_3_ImageList29 {
  height: 20px;
}

#cntDigitalInputsCell_3_ImageList29 {
  z-index: 13;
}

#cntDigitalInputsCell_3_ImageList30 {
  top: 425px;
  position: absolute;
}

#cntDigitalInputsCell_3_ImageList30 {
  left: 10px;
  position: absolute;
}

#cntDigitalInputsCell_3_ImageList30 {
  width: 20px;
}

#cntDigitalInputsCell_3_ImageList30 {
  height: 20px;
}

#cntDigitalInputsCell_3_ImageList30 {
  z-index: 14;
}

#cntDigitalInputsCell_3_ImageList31 {
  top: 455px;
  position: absolute;
}

#cntDigitalInputsCell_3_ImageList31 {
  left: 10px;
  position: absolute;
}

#cntDigitalInputsCell_3_ImageList31 {
  width: 20px;
}

#cntDigitalInputsCell_3_ImageList31 {
  height: 20px;
}

#cntDigitalInputsCell_3_ImageList31 {
  z-index: 15;
}

#cntDigitalInputsCell_3_ImageList32 {
  top: 485px;
  position: absolute;
}

#cntDigitalInputsCell_3_ImageList32 {
  left: 10px;
  position: absolute;
}

#cntDigitalInputsCell_3_ImageList32 {
  width: 20px;
}

#cntDigitalInputsCell_3_ImageList32 {
  height: 20px;
}

#cntDigitalInputsCell_3_ImageList32 {
  z-index: 16;
}

#cntDigitalInputsCell_3_Label_do17 {
  top: 35px;
  position: absolute;
}

#cntDigitalInputsCell_3_Label_do17 {
  left: 50px;
  position: absolute;
}

#cntDigitalInputsCell_3_Label_do17 {
  width: 210px;
}

#cntDigitalInputsCell_3_Label_do17 {
  height: 20px;
}

#cntDigitalInputsCell_3_Label_do17 {
  z-index: 17;
}

#cntDigitalInputsCell_3_Label_do18 {
  top: 65px;
  position: absolute;
}

#cntDigitalInputsCell_3_Label_do18 {
  left: 50px;
  position: absolute;
}

#cntDigitalInputsCell_3_Label_do18 {
  width: 210px;
}

#cntDigitalInputsCell_3_Label_do18 {
  height: 20px;
}

#cntDigitalInputsCell_3_Label_do18 {
  z-index: 18;
}

#cntDigitalInputsCell_3_Label_do19 {
  top: 95px;
  position: absolute;
}

#cntDigitalInputsCell_3_Label_do19 {
  left: 50px;
  position: absolute;
}

#cntDigitalInputsCell_3_Label_do19 {
  width: 210px;
}

#cntDigitalInputsCell_3_Label_do19 {
  height: 20px;
}

#cntDigitalInputsCell_3_Label_do19 {
  z-index: 19;
}

#cntDigitalInputsCell_3_Label_do20 {
  top: 125px;
  position: absolute;
}

#cntDigitalInputsCell_3_Label_do20 {
  left: 50px;
  position: absolute;
}

#cntDigitalInputsCell_3_Label_do20 {
  width: 210px;
}

#cntDigitalInputsCell_3_Label_do20 {
  height: 20px;
}

#cntDigitalInputsCell_3_Label_do20 {
  z-index: 20;
}

#cntDigitalInputsCell_3_Label_do21 {
  top: 155px;
  position: absolute;
}

#cntDigitalInputsCell_3_Label_do21 {
  left: 50px;
  position: absolute;
}

#cntDigitalInputsCell_3_Label_do21 {
  width: 210px;
}

#cntDigitalInputsCell_3_Label_do21 {
  height: 20px;
}

#cntDigitalInputsCell_3_Label_do21 {
  z-index: 21;
}

#cntDigitalInputsCell_3_Label_do22 {
  top: 185px;
  position: absolute;
}

#cntDigitalInputsCell_3_Label_do22 {
  left: 50px;
  position: absolute;
}

#cntDigitalInputsCell_3_Label_do22 {
  width: 210px;
}

#cntDigitalInputsCell_3_Label_do22 {
  height: 20px;
}

#cntDigitalInputsCell_3_Label_do22 {
  z-index: 22;
}

#cntDigitalInputsCell_3_Label_do23 {
  top: 215px;
  position: absolute;
}

#cntDigitalInputsCell_3_Label_do23 {
  left: 50px;
  position: absolute;
}

#cntDigitalInputsCell_3_Label_do23 {
  width: 210px;
}

#cntDigitalInputsCell_3_Label_do23 {
  height: 20px;
}

#cntDigitalInputsCell_3_Label_do23 {
  z-index: 23;
}

#cntDigitalInputsCell_3_Label_do24 {
  top: 245px;
  position: absolute;
}

#cntDigitalInputsCell_3_Label_do24 {
  left: 50px;
  position: absolute;
}

#cntDigitalInputsCell_3_Label_do24 {
  width: 210px;
}

#cntDigitalInputsCell_3_Label_do24 {
  height: 20px;
}

#cntDigitalInputsCell_3_Label_do24 {
  z-index: 24;
}

#cntDigitalInputsCell_3_Label_do25 {
  top: 275px;
  position: absolute;
}

#cntDigitalInputsCell_3_Label_do25 {
  left: 50px;
  position: absolute;
}

#cntDigitalInputsCell_3_Label_do25 {
  width: 210px;
}

#cntDigitalInputsCell_3_Label_do25 {
  height: 20px;
}

#cntDigitalInputsCell_3_Label_do25 {
  z-index: 25;
}

#cntDigitalInputsCell_3_Label_do26 {
  top: 305px;
  position: absolute;
}

#cntDigitalInputsCell_3_Label_do26 {
  left: 50px;
  position: absolute;
}

#cntDigitalInputsCell_3_Label_do26 {
  width: 210px;
}

#cntDigitalInputsCell_3_Label_do26 {
  height: 20px;
}

#cntDigitalInputsCell_3_Label_do26 {
  z-index: 26;
}

#cntDigitalInputsCell_3_Label_do27 {
  top: 335px;
  position: absolute;
}

#cntDigitalInputsCell_3_Label_do27 {
  left: 50px;
  position: absolute;
}

#cntDigitalInputsCell_3_Label_do27 {
  width: 210px;
}

#cntDigitalInputsCell_3_Label_do27 {
  height: 20px;
}

#cntDigitalInputsCell_3_Label_do27 {
  z-index: 27;
}

#cntDigitalInputsCell_3_Label_do28 {
  top: 365px;
  position: absolute;
}

#cntDigitalInputsCell_3_Label_do28 {
  left: 50px;
  position: absolute;
}

#cntDigitalInputsCell_3_Label_do28 {
  width: 210px;
}

#cntDigitalInputsCell_3_Label_do28 {
  height: 20px;
}

#cntDigitalInputsCell_3_Label_do28 {
  z-index: 28;
}

#cntDigitalInputsCell_3_Label_do29 {
  top: 395px;
  position: absolute;
}

#cntDigitalInputsCell_3_Label_do29 {
  left: 50px;
  position: absolute;
}

#cntDigitalInputsCell_3_Label_do29 {
  width: 210px;
}

#cntDigitalInputsCell_3_Label_do29 {
  height: 20px;
}

#cntDigitalInputsCell_3_Label_do29 {
  z-index: 29;
}

#cntDigitalInputsCell_3_Label_do30 {
  top: 425px;
  position: absolute;
}

#cntDigitalInputsCell_3_Label_do30 {
  left: 50px;
  position: absolute;
}

#cntDigitalInputsCell_3_Label_do30 {
  width: 210px;
}

#cntDigitalInputsCell_3_Label_do30 {
  height: 20px;
}

#cntDigitalInputsCell_3_Label_do30 {
  z-index: 30;
}

#cntDigitalInputsCell_3_Label_do31 {
  top: 455px;
  position: absolute;
}

#cntDigitalInputsCell_3_Label_do31 {
  left: 50px;
  position: absolute;
}

#cntDigitalInputsCell_3_Label_do31 {
  width: 210px;
}

#cntDigitalInputsCell_3_Label_do31 {
  height: 20px;
}

#cntDigitalInputsCell_3_Label_do31 {
  z-index: 31;
}

#cntDigitalInputsCell_3_Label_do32 {
  top: 485px;
  position: absolute;
}

#cntDigitalInputsCell_3_Label_do32 {
  left: 50px;
  position: absolute;
}

#cntDigitalInputsCell_3_Label_do32 {
  width: 210px;
}

#cntDigitalInputsCell_3_Label_do32 {
  height: 20px;
}

#cntDigitalInputsCell_3_Label_do32 {
  z-index: 32;
}

#cntDigitalInputsCell_3_GridLineItem2 {
  z-index: 2;
}

#cntDigitalInputsCell_3_GridLineItem2 {
  padding: 0px 10px 10px 10px;
}

#cntDigitalInputsCell_3_Label4 {
  top: 0px;
  position: absolute;
}

#cntDigitalInputsCell_3_Label4 {
  left: 5px;
  position: absolute;
}

#cntDigitalInputsCell_3_Label4 {
  width: 235px;
}

#cntDigitalInputsCell_3_Label4 {
  height: 35px;
}

#cntDigitalInputsCell_3_Label4 {
  z-index: 0;
}

#cntDigitalInputsCell_3_Label4 span {
  color: dimgray;
}

#cntDigitalInputsCell_3_Label4 {
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntDigitalInputsCell_3_Label4 span {
  text-decoration: underline;
}

#cntDigitalInputsCell_3_ImageList33 {
  top: 35px;
  position: absolute;
}

#cntDigitalInputsCell_3_ImageList33 {
  left: 10px;
  position: absolute;
}

#cntDigitalInputsCell_3_ImageList33 {
  width: 20px;
}

#cntDigitalInputsCell_3_ImageList33 {
  height: 20px;
}

#cntDigitalInputsCell_3_ImageList33 {
  z-index: 1;
}

#cntDigitalInputsCell_3_ImageList34 {
  top: 65px;
  position: absolute;
}

#cntDigitalInputsCell_3_ImageList34 {
  left: 10px;
  position: absolute;
}

#cntDigitalInputsCell_3_ImageList34 {
  width: 20px;
}

#cntDigitalInputsCell_3_ImageList34 {
  height: 20px;
}

#cntDigitalInputsCell_3_ImageList34 {
  z-index: 2;
}

#cntDigitalInputsCell_3_ImageList35 {
  top: 95px;
  position: absolute;
}

#cntDigitalInputsCell_3_ImageList35 {
  left: 10px;
  position: absolute;
}

#cntDigitalInputsCell_3_ImageList35 {
  width: 20px;
}

#cntDigitalInputsCell_3_ImageList35 {
  height: 20px;
}

#cntDigitalInputsCell_3_ImageList35 {
  z-index: 3;
}

#cntDigitalInputsCell_3_ImageList36 {
  top: 125px;
  position: absolute;
}

#cntDigitalInputsCell_3_ImageList36 {
  left: 10px;
  position: absolute;
}

#cntDigitalInputsCell_3_ImageList36 {
  width: 20px;
}

#cntDigitalInputsCell_3_ImageList36 {
  height: 20px;
}

#cntDigitalInputsCell_3_ImageList36 {
  z-index: 4;
}

#cntDigitalInputsCell_3_ImageList37 {
  top: 155px;
  position: absolute;
}

#cntDigitalInputsCell_3_ImageList37 {
  left: 10px;
  position: absolute;
}

#cntDigitalInputsCell_3_ImageList37 {
  width: 20px;
}

#cntDigitalInputsCell_3_ImageList37 {
  height: 20px;
}

#cntDigitalInputsCell_3_ImageList37 {
  z-index: 5;
}

#cntDigitalInputsCell_3_ImageList38 {
  top: 185px;
  position: absolute;
}

#cntDigitalInputsCell_3_ImageList38 {
  left: 10px;
  position: absolute;
}

#cntDigitalInputsCell_3_ImageList38 {
  width: 20px;
}

#cntDigitalInputsCell_3_ImageList38 {
  height: 20px;
}

#cntDigitalInputsCell_3_ImageList38 {
  z-index: 6;
}

#cntDigitalInputsCell_3_ImageList39 {
  top: 215px;
  position: absolute;
}

#cntDigitalInputsCell_3_ImageList39 {
  left: 10px;
  position: absolute;
}

#cntDigitalInputsCell_3_ImageList39 {
  width: 20px;
}

#cntDigitalInputsCell_3_ImageList39 {
  height: 20px;
}

#cntDigitalInputsCell_3_ImageList39 {
  z-index: 7;
}

#cntDigitalInputsCell_3_ImageList40 {
  top: 245px;
  position: absolute;
}

#cntDigitalInputsCell_3_ImageList40 {
  left: 10px;
  position: absolute;
}

#cntDigitalInputsCell_3_ImageList40 {
  width: 20px;
}

#cntDigitalInputsCell_3_ImageList40 {
  height: 20px;
}

#cntDigitalInputsCell_3_ImageList40 {
  z-index: 8;
}

#cntDigitalInputsCell_3_ImageList41 {
  top: 275px;
  position: absolute;
}

#cntDigitalInputsCell_3_ImageList41 {
  left: 10px;
  position: absolute;
}

#cntDigitalInputsCell_3_ImageList41 {
  width: 20px;
}

#cntDigitalInputsCell_3_ImageList41 {
  height: 20px;
}

#cntDigitalInputsCell_3_ImageList41 {
  z-index: 9;
}

#cntDigitalInputsCell_3_ImageList42 {
  top: 305px;
  position: absolute;
}

#cntDigitalInputsCell_3_ImageList42 {
  left: 10px;
  position: absolute;
}

#cntDigitalInputsCell_3_ImageList42 {
  width: 20px;
}

#cntDigitalInputsCell_3_ImageList42 {
  height: 20px;
}

#cntDigitalInputsCell_3_ImageList42 {
  z-index: 10;
}

#cntDigitalInputsCell_3_ImageList43 {
  top: 335px;
  position: absolute;
}

#cntDigitalInputsCell_3_ImageList43 {
  left: 10px;
  position: absolute;
}

#cntDigitalInputsCell_3_ImageList43 {
  width: 20px;
}

#cntDigitalInputsCell_3_ImageList43 {
  height: 20px;
}

#cntDigitalInputsCell_3_ImageList43 {
  z-index: 11;
}

#cntDigitalInputsCell_3_ImageList44 {
  top: 365px;
  position: absolute;
}

#cntDigitalInputsCell_3_ImageList44 {
  left: 10px;
  position: absolute;
}

#cntDigitalInputsCell_3_ImageList44 {
  width: 20px;
}

#cntDigitalInputsCell_3_ImageList44 {
  height: 20px;
}

#cntDigitalInputsCell_3_ImageList44 {
  z-index: 12;
}

#cntDigitalInputsCell_3_ImageList45 {
  top: 395px;
  position: absolute;
}

#cntDigitalInputsCell_3_ImageList45 {
  left: 10px;
  position: absolute;
}

#cntDigitalInputsCell_3_ImageList45 {
  width: 20px;
}

#cntDigitalInputsCell_3_ImageList45 {
  height: 20px;
}

#cntDigitalInputsCell_3_ImageList45 {
  z-index: 13;
}

#cntDigitalInputsCell_3_ImageList46 {
  top: 425px;
  position: absolute;
}

#cntDigitalInputsCell_3_ImageList46 {
  left: 10px;
  position: absolute;
}

#cntDigitalInputsCell_3_ImageList46 {
  width: 20px;
}

#cntDigitalInputsCell_3_ImageList46 {
  height: 20px;
}

#cntDigitalInputsCell_3_ImageList46 {
  z-index: 14;
}

#cntDigitalInputsCell_3_ImageList47 {
  top: 455px;
  position: absolute;
}

#cntDigitalInputsCell_3_ImageList47 {
  left: 10px;
  position: absolute;
}

#cntDigitalInputsCell_3_ImageList47 {
  width: 20px;
}

#cntDigitalInputsCell_3_ImageList47 {
  height: 20px;
}

#cntDigitalInputsCell_3_ImageList47 {
  z-index: 15;
}

#cntDigitalInputsCell_3_ImageList48 {
  top: 485px;
  position: absolute;
}

#cntDigitalInputsCell_3_ImageList48 {
  left: 10px;
  position: absolute;
}

#cntDigitalInputsCell_3_ImageList48 {
  width: 20px;
}

#cntDigitalInputsCell_3_ImageList48 {
  height: 20px;
}

#cntDigitalInputsCell_3_ImageList48 {
  z-index: 16;
}

#cntDigitalInputsCell_3_Label_do33 {
  top: 35px;
  position: absolute;
}

#cntDigitalInputsCell_3_Label_do33 {
  left: 50px;
  position: absolute;
}

#cntDigitalInputsCell_3_Label_do33 {
  width: 210px;
}

#cntDigitalInputsCell_3_Label_do33 {
  height: 20px;
}

#cntDigitalInputsCell_3_Label_do33 {
  z-index: 17;
}

#cntDigitalInputsCell_3_Label_do34 {
  top: 65px;
  position: absolute;
}

#cntDigitalInputsCell_3_Label_do34 {
  left: 50px;
  position: absolute;
}

#cntDigitalInputsCell_3_Label_do34 {
  width: 210px;
}

#cntDigitalInputsCell_3_Label_do34 {
  height: 20px;
}

#cntDigitalInputsCell_3_Label_do34 {
  z-index: 18;
}

#cntDigitalInputsCell_3_Label_do35 {
  top: 95px;
  position: absolute;
}

#cntDigitalInputsCell_3_Label_do35 {
  left: 50px;
  position: absolute;
}

#cntDigitalInputsCell_3_Label_do35 {
  width: 210px;
}

#cntDigitalInputsCell_3_Label_do35 {
  height: 20px;
}

#cntDigitalInputsCell_3_Label_do35 {
  z-index: 19;
}

#cntDigitalInputsCell_3_Label_do36 {
  top: 125px;
  position: absolute;
}

#cntDigitalInputsCell_3_Label_do36 {
  left: 50px;
  position: absolute;
}

#cntDigitalInputsCell_3_Label_do36 {
  width: 210px;
}

#cntDigitalInputsCell_3_Label_do36 {
  height: 20px;
}

#cntDigitalInputsCell_3_Label_do36 {
  z-index: 20;
}

#cntDigitalInputsCell_3_Label_do37 {
  top: 155px;
  position: absolute;
}

#cntDigitalInputsCell_3_Label_do37 {
  left: 50px;
  position: absolute;
}

#cntDigitalInputsCell_3_Label_do37 {
  width: 210px;
}

#cntDigitalInputsCell_3_Label_do37 {
  height: 20px;
}

#cntDigitalInputsCell_3_Label_do37 {
  z-index: 21;
}

#cntDigitalInputsCell_3_Label_do38 {
  top: 185px;
  position: absolute;
}

#cntDigitalInputsCell_3_Label_do38 {
  left: 50px;
  position: absolute;
}

#cntDigitalInputsCell_3_Label_do38 {
  width: 210px;
}

#cntDigitalInputsCell_3_Label_do38 {
  height: 20px;
}

#cntDigitalInputsCell_3_Label_do38 {
  z-index: 22;
}

#cntDigitalInputsCell_3_Label_do39 {
  top: 215px;
  position: absolute;
}

#cntDigitalInputsCell_3_Label_do39 {
  left: 50px;
  position: absolute;
}

#cntDigitalInputsCell_3_Label_do39 {
  width: 210px;
}

#cntDigitalInputsCell_3_Label_do39 {
  height: 20px;
}

#cntDigitalInputsCell_3_Label_do39 {
  z-index: 23;
}

#cntDigitalInputsCell_3_Label_do40 {
  top: 245px;
  position: absolute;
}

#cntDigitalInputsCell_3_Label_do40 {
  left: 50px;
  position: absolute;
}

#cntDigitalInputsCell_3_Label_do40 {
  width: 210px;
}

#cntDigitalInputsCell_3_Label_do40 {
  height: 20px;
}

#cntDigitalInputsCell_3_Label_do40 {
  z-index: 24;
}

#cntDigitalInputsCell_3_Label_do41 {
  top: 275px;
  position: absolute;
}

#cntDigitalInputsCell_3_Label_do41 {
  left: 50px;
  position: absolute;
}

#cntDigitalInputsCell_3_Label_do41 {
  width: 210px;
}

#cntDigitalInputsCell_3_Label_do41 {
  height: 20px;
}

#cntDigitalInputsCell_3_Label_do41 {
  z-index: 25;
}

#cntDigitalInputsCell_3_Label_do42 {
  top: 305px;
  position: absolute;
}

#cntDigitalInputsCell_3_Label_do42 {
  left: 50px;
  position: absolute;
}

#cntDigitalInputsCell_3_Label_do42 {
  width: 210px;
}

#cntDigitalInputsCell_3_Label_do42 {
  height: 20px;
}

#cntDigitalInputsCell_3_Label_do42 {
  z-index: 26;
}

#cntDigitalInputsCell_3_Label_do43 {
  top: 335px;
  position: absolute;
}

#cntDigitalInputsCell_3_Label_do43 {
  left: 50px;
  position: absolute;
}

#cntDigitalInputsCell_3_Label_do43 {
  width: 210px;
}

#cntDigitalInputsCell_3_Label_do43 {
  height: 20px;
}

#cntDigitalInputsCell_3_Label_do43 {
  z-index: 27;
}

#cntDigitalInputsCell_3_Label_do44 {
  top: 365px;
  position: absolute;
}

#cntDigitalInputsCell_3_Label_do44 {
  left: 50px;
  position: absolute;
}

#cntDigitalInputsCell_3_Label_do44 {
  width: 210px;
}

#cntDigitalInputsCell_3_Label_do44 {
  height: 20px;
}

#cntDigitalInputsCell_3_Label_do44 {
  z-index: 28;
}

#cntDigitalInputsCell_3_Label_do45 {
  top: 395px;
  position: absolute;
}

#cntDigitalInputsCell_3_Label_do45 {
  left: 50px;
  position: absolute;
}

#cntDigitalInputsCell_3_Label_do45 {
  width: 210px;
}

#cntDigitalInputsCell_3_Label_do45 {
  height: 20px;
}

#cntDigitalInputsCell_3_Label_do45 {
  z-index: 29;
}

#cntDigitalInputsCell_3_Label_do46 {
  top: 425px;
  position: absolute;
}

#cntDigitalInputsCell_3_Label_do46 {
  left: 50px;
  position: absolute;
}

#cntDigitalInputsCell_3_Label_do46 {
  width: 210px;
}

#cntDigitalInputsCell_3_Label_do46 {
  height: 20px;
}

#cntDigitalInputsCell_3_Label_do46 {
  z-index: 30;
}

#cntDigitalInputsCell_3_Label_do47 {
  top: 455px;
  position: absolute;
}

#cntDigitalInputsCell_3_Label_do47 {
  left: 50px;
  position: absolute;
}

#cntDigitalInputsCell_3_Label_do47 {
  width: 210px;
}

#cntDigitalInputsCell_3_Label_do47 {
  height: 20px;
}

#cntDigitalInputsCell_3_Label_do47 {
  z-index: 31;
}

#cntDigitalInputsCell_3_Label_do48 {
  top: 485px;
  position: absolute;
}

#cntDigitalInputsCell_3_Label_do48 {
  left: 50px;
  position: absolute;
}

#cntDigitalInputsCell_3_Label_do48 {
  width: 210px;
}

#cntDigitalInputsCell_3_Label_do48 {
  height: 20px;
}

#cntDigitalInputsCell_3_Label_do48 {
  z-index: 32;
}

#cntDigitalInputsCell_3_CheckBox_DigitalINput {
  top: 0px;
  position: absolute;
}

#cntDigitalInputsCell_3_CheckBox_DigitalINput {
  left: 250px;
  position: absolute;
}

#cntDigitalInputsCell_3_CheckBox_DigitalINput {
  width: 45px;
}

#cntDigitalInputsCell_3_CheckBox_DigitalINput {
  height: 45px;
}

#cntDigitalInputsCell_3_CheckBox_DigitalINput {
  z-index: 1;
}

#cntDigitalInputsCell_3_CheckBox_DigitalINput span {
  font-style: italic;
}

#cntDigitalInputsCell_3_CheckBox_DigitalINput {
  padding: 0px;
}

#cntDigitalInputsCell_3_CheckBox_DigitalINput.checked:not(.disabled) svg {
  fill: red;
}
