﻿@import "mixins.scss";
#cntDigitalOutputsCell_1_GridLine1 {
	@include elemTop(0);
}
#cntDigitalOutputsCell_1_GridLine1 {
	@include elemLeft(0);
}
#cntDigitalOutputsCell_1_GridLine1 {
	@include elemWidth(300);
}
#cntDigitalOutputsCell_1_GridLine1 {
	@include elemHeight(540);
}
#cntDigitalOutputsCell_1_GridLine1 {
		z-index: 0;
}
#cntDigitalOutputsCell_1_GridLine1 {
	.container{
		padding: 5px 0px;
	}
}
#cntDigitalOutputsCell_1_GridLineItem1 {
		z-index: 0;
}
#cntDigitalOutputsCell_1_GridLineItem1 {
		padding: 0px 10px 10px 10px;
}
#cntDigitalOutputsCell_1_Label2 {
	@include elemTop(0);
}
#cntDigitalOutputsCell_1_Label2 {
	@include elemLeft(60);
}
#cntDigitalOutputsCell_1_Label2 {
	@include elemAutoWidth(150);
}
#cntDigitalOutputsCell_1_Label2 {
	@include elemAutoHeight(45);
}
#cntDigitalOutputsCell_1_Label2 {
		z-index: 0;
}
#cntDigitalOutputsCell_1_Label2 {
	& span{
		color: rgba(105, 105, 105, 1);
	}
}
#cntDigitalOutputsCell_1_Label2 {
	@include text-alignment-all('center');
}
#cntDigitalOutputsCell_1_Label2 {
	span{
	@include text-decoration-underline(true);
	}
}
#cntDigitalOutputsCell_1_ImageList1 {
	@include elemTop(35);
}
#cntDigitalOutputsCell_1_ImageList1 {
	@include elemLeft(5);
}
#cntDigitalOutputsCell_1_ImageList1 {
	@include elemWidth(20);
}
#cntDigitalOutputsCell_1_ImageList1 {
	@include elemHeight(20);
}
#cntDigitalOutputsCell_1_ImageList1 {
		z-index: 1;
}
#cntDigitalOutputsCell_1_ImageList2 {
	@include elemTop(65);
}
#cntDigitalOutputsCell_1_ImageList2 {
	@include elemLeft(5);
}
#cntDigitalOutputsCell_1_ImageList2 {
	@include elemWidth(20);
}
#cntDigitalOutputsCell_1_ImageList2 {
	@include elemHeight(20);
}
#cntDigitalOutputsCell_1_ImageList2 {
		z-index: 2;
}
#cntDigitalOutputsCell_1_ImageList3 {
	@include elemTop(95);
}
#cntDigitalOutputsCell_1_ImageList3 {
	@include elemLeft(5);
}
#cntDigitalOutputsCell_1_ImageList3 {
	@include elemWidth(20);
}
#cntDigitalOutputsCell_1_ImageList3 {
	@include elemHeight(20);
}
#cntDigitalOutputsCell_1_ImageList3 {
		z-index: 3;
}
#cntDigitalOutputsCell_1_ImageList4 {
	@include elemTop(125);
}
#cntDigitalOutputsCell_1_ImageList4 {
	@include elemLeft(5);
}
#cntDigitalOutputsCell_1_ImageList4 {
	@include elemWidth(20);
}
#cntDigitalOutputsCell_1_ImageList4 {
	@include elemHeight(20);
}
#cntDigitalOutputsCell_1_ImageList4 {
		z-index: 4;
}
#cntDigitalOutputsCell_1_ImageList5 {
	@include elemTop(155);
}
#cntDigitalOutputsCell_1_ImageList5 {
	@include elemLeft(5);
}
#cntDigitalOutputsCell_1_ImageList5 {
	@include elemWidth(20);
}
#cntDigitalOutputsCell_1_ImageList5 {
	@include elemHeight(20);
}
#cntDigitalOutputsCell_1_ImageList5 {
		z-index: 5;
}
#cntDigitalOutputsCell_1_ImageList6 {
	@include elemTop(185);
}
#cntDigitalOutputsCell_1_ImageList6 {
	@include elemLeft(5);
}
#cntDigitalOutputsCell_1_ImageList6 {
	@include elemWidth(20);
}
#cntDigitalOutputsCell_1_ImageList6 {
	@include elemHeight(20);
}
#cntDigitalOutputsCell_1_ImageList6 {
		z-index: 6;
}
#cntDigitalOutputsCell_1_ImageList7 {
	@include elemTop(215);
}
#cntDigitalOutputsCell_1_ImageList7 {
	@include elemLeft(5);
}
#cntDigitalOutputsCell_1_ImageList7 {
	@include elemWidth(20);
}
#cntDigitalOutputsCell_1_ImageList7 {
	@include elemHeight(20);
}
#cntDigitalOutputsCell_1_ImageList7 {
		z-index: 7;
}
#cntDigitalOutputsCell_1_ImageList8 {
	@include elemTop(245);
}
#cntDigitalOutputsCell_1_ImageList8 {
	@include elemLeft(5);
}
#cntDigitalOutputsCell_1_ImageList8 {
	@include elemWidth(20);
}
#cntDigitalOutputsCell_1_ImageList8 {
	@include elemHeight(20);
}
#cntDigitalOutputsCell_1_ImageList8 {
		z-index: 8;
}
#cntDigitalOutputsCell_1_ImageList9 {
	@include elemTop(275);
}
#cntDigitalOutputsCell_1_ImageList9 {
	@include elemLeft(5);
}
#cntDigitalOutputsCell_1_ImageList9 {
	@include elemWidth(20);
}
#cntDigitalOutputsCell_1_ImageList9 {
	@include elemHeight(20);
}
#cntDigitalOutputsCell_1_ImageList9 {
		z-index: 9;
}
#cntDigitalOutputsCell_1_ImageList10 {
	@include elemTop(305);
}
#cntDigitalOutputsCell_1_ImageList10 {
	@include elemLeft(5);
}
#cntDigitalOutputsCell_1_ImageList10 {
	@include elemWidth(20);
}
#cntDigitalOutputsCell_1_ImageList10 {
	@include elemHeight(20);
}
#cntDigitalOutputsCell_1_ImageList10 {
		z-index: 10;
}
#cntDigitalOutputsCell_1_ImageList11 {
	@include elemTop(335);
}
#cntDigitalOutputsCell_1_ImageList11 {
	@include elemLeft(5);
}
#cntDigitalOutputsCell_1_ImageList11 {
	@include elemWidth(20);
}
#cntDigitalOutputsCell_1_ImageList11 {
	@include elemHeight(20);
}
#cntDigitalOutputsCell_1_ImageList11 {
		z-index: 11;
}
#cntDigitalOutputsCell_1_ImageList12 {
	@include elemTop(365);
}
#cntDigitalOutputsCell_1_ImageList12 {
	@include elemLeft(5);
}
#cntDigitalOutputsCell_1_ImageList12 {
	@include elemWidth(20);
}
#cntDigitalOutputsCell_1_ImageList12 {
	@include elemHeight(20);
}
#cntDigitalOutputsCell_1_ImageList12 {
		z-index: 12;
}
#cntDigitalOutputsCell_1_ImageList13 {
	@include elemTop(395);
}
#cntDigitalOutputsCell_1_ImageList13 {
	@include elemLeft(5);
}
#cntDigitalOutputsCell_1_ImageList13 {
	@include elemWidth(20);
}
#cntDigitalOutputsCell_1_ImageList13 {
	@include elemHeight(20);
}
#cntDigitalOutputsCell_1_ImageList13 {
		z-index: 13;
}
#cntDigitalOutputsCell_1_ImageList14 {
	@include elemTop(425);
}
#cntDigitalOutputsCell_1_ImageList14 {
	@include elemLeft(5);
}
#cntDigitalOutputsCell_1_ImageList14 {
	@include elemWidth(20);
}
#cntDigitalOutputsCell_1_ImageList14 {
	@include elemHeight(20);
}
#cntDigitalOutputsCell_1_ImageList14 {
		z-index: 14;
}
#cntDigitalOutputsCell_1_ImageList15 {
	@include elemTop(455);
}
#cntDigitalOutputsCell_1_ImageList15 {
	@include elemLeft(5);
}
#cntDigitalOutputsCell_1_ImageList15 {
	@include elemWidth(20);
}
#cntDigitalOutputsCell_1_ImageList15 {
	@include elemHeight(20);
}
#cntDigitalOutputsCell_1_ImageList15 {
		z-index: 15;
}
#cntDigitalOutputsCell_1_ImageList16 {
	@include elemTop(485);
}
#cntDigitalOutputsCell_1_ImageList16 {
	@include elemLeft(5);
}
#cntDigitalOutputsCell_1_ImageList16 {
	@include elemWidth(20);
}
#cntDigitalOutputsCell_1_ImageList16 {
	@include elemHeight(20);
}
#cntDigitalOutputsCell_1_ImageList16 {
		z-index: 16;
}
#cntDigitalOutputsCell_1_Label_do1 {
	@include elemTop(35);
}
#cntDigitalOutputsCell_1_Label_do1 {
	@include elemLeft(35);
}
#cntDigitalOutputsCell_1_Label_do1 {
	@include elemAutoWidth(230);
}
#cntDigitalOutputsCell_1_Label_do1 {
	@include elemAutoHeight(20);
}
#cntDigitalOutputsCell_1_Label_do1 {
		z-index: 17;
}
#cntDigitalOutputsCell_1_Label_do2 {
	@include elemTop(65);
}
#cntDigitalOutputsCell_1_Label_do2 {
	@include elemLeft(35);
}
#cntDigitalOutputsCell_1_Label_do2 {
	@include elemAutoWidth(230);
}
#cntDigitalOutputsCell_1_Label_do2 {
	@include elemAutoHeight(20);
}
#cntDigitalOutputsCell_1_Label_do2 {
		z-index: 18;
}
#cntDigitalOutputsCell_1_Label_do3 {
	@include elemTop(95);
}
#cntDigitalOutputsCell_1_Label_do3 {
	@include elemLeft(35);
}
#cntDigitalOutputsCell_1_Label_do3 {
	@include elemAutoWidth(230);
}
#cntDigitalOutputsCell_1_Label_do3 {
	@include elemAutoHeight(20);
}
#cntDigitalOutputsCell_1_Label_do3 {
		z-index: 19;
}
#cntDigitalOutputsCell_1_Label_do4 {
	@include elemTop(125);
}
#cntDigitalOutputsCell_1_Label_do4 {
	@include elemLeft(35);
}
#cntDigitalOutputsCell_1_Label_do4 {
	@include elemAutoWidth(230);
}
#cntDigitalOutputsCell_1_Label_do4 {
	@include elemAutoHeight(20);
}
#cntDigitalOutputsCell_1_Label_do4 {
		z-index: 20;
}
#cntDigitalOutputsCell_1_Label_do5 {
	@include elemTop(155);
}
#cntDigitalOutputsCell_1_Label_do5 {
	@include elemLeft(35);
}
#cntDigitalOutputsCell_1_Label_do5 {
	@include elemAutoWidth(230);
}
#cntDigitalOutputsCell_1_Label_do5 {
	@include elemAutoHeight(20);
}
#cntDigitalOutputsCell_1_Label_do5 {
		z-index: 21;
}
#cntDigitalOutputsCell_1_Label_do6 {
	@include elemTop(185);
}
#cntDigitalOutputsCell_1_Label_do6 {
	@include elemLeft(35);
}
#cntDigitalOutputsCell_1_Label_do6 {
	@include elemAutoWidth(230);
}
#cntDigitalOutputsCell_1_Label_do6 {
	@include elemAutoHeight(20);
}
#cntDigitalOutputsCell_1_Label_do6 {
		z-index: 22;
}
#cntDigitalOutputsCell_1_Label_do7 {
	@include elemTop(215);
}
#cntDigitalOutputsCell_1_Label_do7 {
	@include elemLeft(35);
}
#cntDigitalOutputsCell_1_Label_do7 {
	@include elemAutoWidth(230);
}
#cntDigitalOutputsCell_1_Label_do7 {
	@include elemAutoHeight(20);
}
#cntDigitalOutputsCell_1_Label_do7 {
		z-index: 23;
}
#cntDigitalOutputsCell_1_Label_do8 {
	@include elemTop(245);
}
#cntDigitalOutputsCell_1_Label_do8 {
	@include elemLeft(35);
}
#cntDigitalOutputsCell_1_Label_do8 {
	@include elemAutoWidth(230);
}
#cntDigitalOutputsCell_1_Label_do8 {
	@include elemAutoHeight(20);
}
#cntDigitalOutputsCell_1_Label_do8 {
		z-index: 24;
}
#cntDigitalOutputsCell_1_Label_d09 {
	@include elemTop(275);
}
#cntDigitalOutputsCell_1_Label_d09 {
	@include elemLeft(35);
}
#cntDigitalOutputsCell_1_Label_d09 {
	@include elemAutoWidth(230);
}
#cntDigitalOutputsCell_1_Label_d09 {
	@include elemAutoHeight(20);
}
#cntDigitalOutputsCell_1_Label_d09 {
		z-index: 25;
}
#cntDigitalOutputsCell_1_Label_do10 {
	@include elemTop(305);
}
#cntDigitalOutputsCell_1_Label_do10 {
	@include elemLeft(35);
}
#cntDigitalOutputsCell_1_Label_do10 {
	@include elemAutoWidth(230);
}
#cntDigitalOutputsCell_1_Label_do10 {
	@include elemAutoHeight(20);
}
#cntDigitalOutputsCell_1_Label_do10 {
		z-index: 26;
}
#cntDigitalOutputsCell_1_Label_di11 {
	@include elemTop(335);
}
#cntDigitalOutputsCell_1_Label_di11 {
	@include elemLeft(35);
}
#cntDigitalOutputsCell_1_Label_di11 {
	@include elemAutoWidth(230);
}
#cntDigitalOutputsCell_1_Label_di11 {
	@include elemAutoHeight(20);
}
#cntDigitalOutputsCell_1_Label_di11 {
		z-index: 27;
}
#cntDigitalOutputsCell_1_Label_do12 {
	@include elemTop(365);
}
#cntDigitalOutputsCell_1_Label_do12 {
	@include elemLeft(35);
}
#cntDigitalOutputsCell_1_Label_do12 {
	@include elemAutoWidth(230);
}
#cntDigitalOutputsCell_1_Label_do12 {
	@include elemAutoHeight(20);
}
#cntDigitalOutputsCell_1_Label_do12 {
		z-index: 28;
}
#cntDigitalOutputsCell_1_Label_d013 {
	@include elemTop(395);
}
#cntDigitalOutputsCell_1_Label_d013 {
	@include elemLeft(35);
}
#cntDigitalOutputsCell_1_Label_d013 {
	@include elemAutoWidth(230);
}
#cntDigitalOutputsCell_1_Label_d013 {
	@include elemAutoHeight(20);
}
#cntDigitalOutputsCell_1_Label_d013 {
		z-index: 29;
}
#cntDigitalOutputsCell_1_Label_do14 {
	@include elemTop(425);
}
#cntDigitalOutputsCell_1_Label_do14 {
	@include elemLeft(35);
}
#cntDigitalOutputsCell_1_Label_do14 {
	@include elemAutoWidth(230);
}
#cntDigitalOutputsCell_1_Label_do14 {
	@include elemAutoHeight(20);
}
#cntDigitalOutputsCell_1_Label_do14 {
		z-index: 30;
}
#cntDigitalOutputsCell_1_Label_do15 {
	@include elemTop(455);
}
#cntDigitalOutputsCell_1_Label_do15 {
	@include elemLeft(35);
}
#cntDigitalOutputsCell_1_Label_do15 {
	@include elemAutoWidth(230);
}
#cntDigitalOutputsCell_1_Label_do15 {
	@include elemAutoHeight(20);
}
#cntDigitalOutputsCell_1_Label_do15 {
		z-index: 31;
}
#cntDigitalOutputsCell_1_Label_do16 {
	@include elemTop(485);
}
#cntDigitalOutputsCell_1_Label_do16 {
	@include elemLeft(35);
}
#cntDigitalOutputsCell_1_Label_do16 {
	@include elemAutoWidth(230);
}
#cntDigitalOutputsCell_1_Label_do16 {
	@include elemAutoHeight(20);
}
#cntDigitalOutputsCell_1_Label_do16 {
		z-index: 32;
}
#cntDigitalOutputsCell_1_GridLineItem3 {
		z-index: 1;
}
#cntDigitalOutputsCell_1_GridLineItem3 {
		padding: 0px 10px 10px 10px;
}
#cntDigitalOutputsCell_1_Label3 {
	@include elemTop(5);
}
#cntDigitalOutputsCell_1_Label3 {
	@include elemLeft(29);
}
#cntDigitalOutputsCell_1_Label3 {
	@include elemAutoWidth(210);
}
#cntDigitalOutputsCell_1_Label3 {
	@include elemAutoHeight(25);
}
#cntDigitalOutputsCell_1_Label3 {
		z-index: 0;
}
#cntDigitalOutputsCell_1_Label3 {
	& span{
		color: rgba(105, 105, 105, 1);
	}
}
#cntDigitalOutputsCell_1_Label3 {
	@include text-alignment-all('center');
}
#cntDigitalOutputsCell_1_Label3 {
	span{
	@include text-decoration-underline(true);
	}
}
#cntDigitalOutputsCell_1_ImageList17 {
	@include elemTop(35);
}
#cntDigitalOutputsCell_1_ImageList17 {
	@include elemLeft(5);
}
#cntDigitalOutputsCell_1_ImageList17 {
	@include elemWidth(20);
}
#cntDigitalOutputsCell_1_ImageList17 {
	@include elemHeight(20);
}
#cntDigitalOutputsCell_1_ImageList17 {
		z-index: 1;
}
#cntDigitalOutputsCell_1_ImageList18 {
	@include elemTop(65);
}
#cntDigitalOutputsCell_1_ImageList18 {
	@include elemLeft(5);
}
#cntDigitalOutputsCell_1_ImageList18 {
	@include elemWidth(20);
}
#cntDigitalOutputsCell_1_ImageList18 {
	@include elemHeight(20);
}
#cntDigitalOutputsCell_1_ImageList18 {
		z-index: 2;
}
#cntDigitalOutputsCell_1_ImageList19 {
	@include elemTop(95);
}
#cntDigitalOutputsCell_1_ImageList19 {
	@include elemLeft(5);
}
#cntDigitalOutputsCell_1_ImageList19 {
	@include elemWidth(20);
}
#cntDigitalOutputsCell_1_ImageList19 {
	@include elemHeight(20);
}
#cntDigitalOutputsCell_1_ImageList19 {
		z-index: 3;
}
#cntDigitalOutputsCell_1_ImageList20 {
	@include elemTop(125);
}
#cntDigitalOutputsCell_1_ImageList20 {
	@include elemLeft(5);
}
#cntDigitalOutputsCell_1_ImageList20 {
	@include elemWidth(20);
}
#cntDigitalOutputsCell_1_ImageList20 {
	@include elemHeight(20);
}
#cntDigitalOutputsCell_1_ImageList20 {
		z-index: 4;
}
#cntDigitalOutputsCell_1_ImageList21 {
	@include elemTop(155);
}
#cntDigitalOutputsCell_1_ImageList21 {
	@include elemLeft(5);
}
#cntDigitalOutputsCell_1_ImageList21 {
	@include elemWidth(20);
}
#cntDigitalOutputsCell_1_ImageList21 {
	@include elemHeight(20);
}
#cntDigitalOutputsCell_1_ImageList21 {
		z-index: 5;
}
#cntDigitalOutputsCell_1_ImageList22 {
	@include elemTop(185);
}
#cntDigitalOutputsCell_1_ImageList22 {
	@include elemLeft(5);
}
#cntDigitalOutputsCell_1_ImageList22 {
	@include elemWidth(20);
}
#cntDigitalOutputsCell_1_ImageList22 {
	@include elemHeight(20);
}
#cntDigitalOutputsCell_1_ImageList22 {
		z-index: 6;
}
#cntDigitalOutputsCell_1_ImageList23 {
	@include elemTop(215);
}
#cntDigitalOutputsCell_1_ImageList23 {
	@include elemLeft(5);
}
#cntDigitalOutputsCell_1_ImageList23 {
	@include elemWidth(20);
}
#cntDigitalOutputsCell_1_ImageList23 {
	@include elemHeight(20);
}
#cntDigitalOutputsCell_1_ImageList23 {
		z-index: 7;
}
#cntDigitalOutputsCell_1_ImageList24 {
	@include elemTop(245);
}
#cntDigitalOutputsCell_1_ImageList24 {
	@include elemLeft(5);
}
#cntDigitalOutputsCell_1_ImageList24 {
	@include elemWidth(20);
}
#cntDigitalOutputsCell_1_ImageList24 {
	@include elemHeight(20);
}
#cntDigitalOutputsCell_1_ImageList24 {
		z-index: 8;
}
#cntDigitalOutputsCell_1_ImageList25 {
	@include elemTop(275);
}
#cntDigitalOutputsCell_1_ImageList25 {
	@include elemLeft(5);
}
#cntDigitalOutputsCell_1_ImageList25 {
	@include elemWidth(20);
}
#cntDigitalOutputsCell_1_ImageList25 {
	@include elemHeight(20);
}
#cntDigitalOutputsCell_1_ImageList25 {
		z-index: 9;
}
#cntDigitalOutputsCell_1_ImageList26 {
	@include elemTop(305);
}
#cntDigitalOutputsCell_1_ImageList26 {
	@include elemLeft(5);
}
#cntDigitalOutputsCell_1_ImageList26 {
	@include elemWidth(20);
}
#cntDigitalOutputsCell_1_ImageList26 {
	@include elemHeight(20);
}
#cntDigitalOutputsCell_1_ImageList26 {
		z-index: 10;
}
#cntDigitalOutputsCell_1_ImageList27 {
	@include elemTop(335);
}
#cntDigitalOutputsCell_1_ImageList27 {
	@include elemLeft(5);
}
#cntDigitalOutputsCell_1_ImageList27 {
	@include elemWidth(20);
}
#cntDigitalOutputsCell_1_ImageList27 {
	@include elemHeight(20);
}
#cntDigitalOutputsCell_1_ImageList27 {
		z-index: 11;
}
#cntDigitalOutputsCell_1_ImageList28 {
	@include elemTop(365);
}
#cntDigitalOutputsCell_1_ImageList28 {
	@include elemLeft(5);
}
#cntDigitalOutputsCell_1_ImageList28 {
	@include elemWidth(20);
}
#cntDigitalOutputsCell_1_ImageList28 {
	@include elemHeight(20);
}
#cntDigitalOutputsCell_1_ImageList28 {
		z-index: 12;
}
#cntDigitalOutputsCell_1_ImageList29 {
	@include elemTop(395);
}
#cntDigitalOutputsCell_1_ImageList29 {
	@include elemLeft(5);
}
#cntDigitalOutputsCell_1_ImageList29 {
	@include elemWidth(20);
}
#cntDigitalOutputsCell_1_ImageList29 {
	@include elemHeight(20);
}
#cntDigitalOutputsCell_1_ImageList29 {
		z-index: 13;
}
#cntDigitalOutputsCell_1_ImageList30 {
	@include elemTop(425);
}
#cntDigitalOutputsCell_1_ImageList30 {
	@include elemLeft(5);
}
#cntDigitalOutputsCell_1_ImageList30 {
	@include elemWidth(20);
}
#cntDigitalOutputsCell_1_ImageList30 {
	@include elemHeight(20);
}
#cntDigitalOutputsCell_1_ImageList30 {
		z-index: 14;
}
#cntDigitalOutputsCell_1_ImageList31 {
	@include elemTop(455);
}
#cntDigitalOutputsCell_1_ImageList31 {
	@include elemLeft(5);
}
#cntDigitalOutputsCell_1_ImageList31 {
	@include elemWidth(20);
}
#cntDigitalOutputsCell_1_ImageList31 {
	@include elemHeight(20);
}
#cntDigitalOutputsCell_1_ImageList31 {
		z-index: 15;
}
#cntDigitalOutputsCell_1_ImageList32 {
	@include elemTop(485);
}
#cntDigitalOutputsCell_1_ImageList32 {
	@include elemLeft(5);
}
#cntDigitalOutputsCell_1_ImageList32 {
	@include elemWidth(20);
}
#cntDigitalOutputsCell_1_ImageList32 {
	@include elemHeight(20);
}
#cntDigitalOutputsCell_1_ImageList32 {
		z-index: 16;
}
#cntDigitalOutputsCell_1_Label_do17 {
	@include elemAutoHeight(30);
}
#cntDigitalOutputsCell_1_Label_do17 {
	@include elemTop(35);
}
#cntDigitalOutputsCell_1_Label_do17 {
	@include elemLeft(35);
}
#cntDigitalOutputsCell_1_Label_do17 {
	@include elemAutoWidth(240);
}
#cntDigitalOutputsCell_1_Label_do17 {
		z-index: 17;
}
#cntDigitalOutputsCell_1_Label_do18 {
	@include elemAutoHeight(30);
}
#cntDigitalOutputsCell_1_Label_do18 {
	@include elemTop(65);
}
#cntDigitalOutputsCell_1_Label_do18 {
	@include elemLeft(35);
}
#cntDigitalOutputsCell_1_Label_do18 {
	@include elemAutoWidth(240);
}
#cntDigitalOutputsCell_1_Label_do18 {
		z-index: 18;
}
#cntDigitalOutputsCell_1_Label_do19 {
	@include elemAutoHeight(30);
}
#cntDigitalOutputsCell_1_Label_do19 {
	@include elemTop(95);
}
#cntDigitalOutputsCell_1_Label_do19 {
	@include elemLeft(35);
}
#cntDigitalOutputsCell_1_Label_do19 {
	@include elemAutoWidth(240);
}
#cntDigitalOutputsCell_1_Label_do19 {
		z-index: 19;
}
#cntDigitalOutputsCell_1_Label_do20 {
	@include elemAutoHeight(30);
}
#cntDigitalOutputsCell_1_Label_do20 {
	@include elemTop(125);
}
#cntDigitalOutputsCell_1_Label_do20 {
	@include elemLeft(35);
}
#cntDigitalOutputsCell_1_Label_do20 {
	@include elemAutoWidth(240);
}
#cntDigitalOutputsCell_1_Label_do20 {
		z-index: 20;
}
#cntDigitalOutputsCell_1_Label_d021 {
	@include elemAutoHeight(30);
}
#cntDigitalOutputsCell_1_Label_d021 {
	@include elemTop(155);
}
#cntDigitalOutputsCell_1_Label_d021 {
	@include elemLeft(35);
}
#cntDigitalOutputsCell_1_Label_d021 {
	@include elemAutoWidth(240);
}
#cntDigitalOutputsCell_1_Label_d021 {
		z-index: 21;
}
#cntDigitalOutputsCell_1_Label_do22 {
	@include elemAutoHeight(30);
}
#cntDigitalOutputsCell_1_Label_do22 {
	@include elemTop(185);
}
#cntDigitalOutputsCell_1_Label_do22 {
	@include elemLeft(35);
}
#cntDigitalOutputsCell_1_Label_do22 {
	@include elemAutoWidth(240);
}
#cntDigitalOutputsCell_1_Label_do22 {
		z-index: 22;
}
#cntDigitalOutputsCell_1_Label_do23 {
	@include elemAutoHeight(30);
}
#cntDigitalOutputsCell_1_Label_do23 {
	@include elemTop(215);
}
#cntDigitalOutputsCell_1_Label_do23 {
	@include elemLeft(35);
}
#cntDigitalOutputsCell_1_Label_do23 {
	@include elemAutoWidth(240);
}
#cntDigitalOutputsCell_1_Label_do23 {
		z-index: 23;
}
#cntDigitalOutputsCell_1_Label_do24 {
	@include elemAutoHeight(30);
}
#cntDigitalOutputsCell_1_Label_do24 {
	@include elemTop(245);
}
#cntDigitalOutputsCell_1_Label_do24 {
	@include elemLeft(35);
}
#cntDigitalOutputsCell_1_Label_do24 {
	@include elemAutoWidth(240);
}
#cntDigitalOutputsCell_1_Label_do24 {
		z-index: 24;
}
#cntDigitalOutputsCell_1_Label_do25 {
	@include elemAutoHeight(30);
}
#cntDigitalOutputsCell_1_Label_do25 {
	@include elemTop(275);
}
#cntDigitalOutputsCell_1_Label_do25 {
	@include elemLeft(35);
}
#cntDigitalOutputsCell_1_Label_do25 {
	@include elemAutoWidth(240);
}
#cntDigitalOutputsCell_1_Label_do25 {
		z-index: 25;
}
#cntDigitalOutputsCell_1_Label_do26 {
	@include elemAutoHeight(30);
}
#cntDigitalOutputsCell_1_Label_do26 {
	@include elemTop(305);
}
#cntDigitalOutputsCell_1_Label_do26 {
	@include elemLeft(35);
}
#cntDigitalOutputsCell_1_Label_do26 {
	@include elemAutoWidth(240);
}
#cntDigitalOutputsCell_1_Label_do26 {
		z-index: 26;
}
#cntDigitalOutputsCell_1_Label_do27 {
	@include elemAutoHeight(30);
}
#cntDigitalOutputsCell_1_Label_do27 {
	@include elemTop(335);
}
#cntDigitalOutputsCell_1_Label_do27 {
	@include elemLeft(35);
}
#cntDigitalOutputsCell_1_Label_do27 {
	@include elemAutoWidth(240);
}
#cntDigitalOutputsCell_1_Label_do27 {
		z-index: 27;
}
#cntDigitalOutputsCell_1_Label_do28 {
	@include elemAutoHeight(30);
}
#cntDigitalOutputsCell_1_Label_do28 {
	@include elemTop(365);
}
#cntDigitalOutputsCell_1_Label_do28 {
	@include elemLeft(35);
}
#cntDigitalOutputsCell_1_Label_do28 {
	@include elemAutoWidth(240);
}
#cntDigitalOutputsCell_1_Label_do28 {
		z-index: 28;
}
#cntDigitalOutputsCell_1_doCell1_Dummy29 {
	@include elemAutoHeight(30);
}
#cntDigitalOutputsCell_1_doCell1_Dummy29 {
	@include elemTop(395);
}
#cntDigitalOutputsCell_1_doCell1_Dummy29 {
	@include elemLeft(35);
}
#cntDigitalOutputsCell_1_doCell1_Dummy29 {
	@include elemAutoWidth(240);
}
#cntDigitalOutputsCell_1_doCell1_Dummy29 {
		z-index: 29;
}
#cntDigitalOutputsCell_1_Label_do30 {
	@include elemAutoHeight(30);
}
#cntDigitalOutputsCell_1_Label_do30 {
	@include elemTop(425);
}
#cntDigitalOutputsCell_1_Label_do30 {
	@include elemLeft(35);
}
#cntDigitalOutputsCell_1_Label_do30 {
	@include elemAutoWidth(240);
}
#cntDigitalOutputsCell_1_Label_do30 {
		z-index: 30;
}
#cntDigitalOutputsCell_1_Label_do31 {
	@include elemAutoHeight(30);
}
#cntDigitalOutputsCell_1_Label_do31 {
	@include elemTop(455);
}
#cntDigitalOutputsCell_1_Label_do31 {
	@include elemLeft(35);
}
#cntDigitalOutputsCell_1_Label_do31 {
	@include elemAutoWidth(240);
}
#cntDigitalOutputsCell_1_Label_do31 {
		z-index: 31;
}
#cntDigitalOutputsCell_1_Label_do32 {
	@include elemAutoHeight(30);
}
#cntDigitalOutputsCell_1_Label_do32 {
	@include elemTop(485);
}
#cntDigitalOutputsCell_1_Label_do32 {
	@include elemLeft(35);
}
#cntDigitalOutputsCell_1_Label_do32 {
	@include elemAutoWidth(240);
}
#cntDigitalOutputsCell_1_Label_do32 {
		z-index: 32;
}
#cntDigitalOutputsCell_1_CheckBox_SafetyRelayInput {
	@include elemTop(0);
}
#cntDigitalOutputsCell_1_CheckBox_SafetyRelayInput {
	@include elemLeft(250);
}
#cntDigitalOutputsCell_1_CheckBox_SafetyRelayInput {
	@include elemAutoWidth(45);
}
#cntDigitalOutputsCell_1_CheckBox_SafetyRelayInput {
	@include elemAutoHeight(45);
}
#cntDigitalOutputsCell_1_CheckBox_SafetyRelayInput {
		z-index: 1;
}
#cntDigitalOutputsCell_1_CheckBox_SafetyRelayInput {
	span{
	@include font-style-italic(true);
	}
}
#cntDigitalOutputsCell_1_CheckBox_SafetyRelayInput {
		padding: 0px;
}
#cntDigitalOutputsCell_1_CheckBox_SafetyRelayInput {
	&.checked:not(.disabled) svg{
		fill: rgba(255, 0, 0, 1);
	}
}
