#cntDigitalOutputsCell_1_GridLine1 {
  top: 0px;
  position: absolute;
}

#cntDigitalOutputsCell_1_GridLine1 {
  left: 0px;
  position: absolute;
}

#cntDigitalOutputsCell_1_GridLine1 {
  width: 300px;
}

#cntDigitalOutputsCell_1_GridLine1 {
  height: 540px;
}

#cntDigitalOutputsCell_1_GridLine1 {
  z-index: 0;
}

#cntDigitalOutputsCell_1_GridLine1 .container {
  padding: 5px 0px;
}

#cntDigitalOutputsCell_1_GridLineItem1 {
  z-index: 0;
}

#cntDigitalOutputsCell_1_GridLineItem1 {
  padding: 0px 10px 10px 10px;
}

#cntDigitalOutputsCell_1_Label2 {
  top: 0px;
  position: absolute;
}

#cntDigitalOutputsCell_1_Label2 {
  left: 60px;
  position: absolute;
}

#cntDigitalOutputsCell_1_Label2 {
  width: 150px;
}

#cntDigitalOutputsCell_1_Label2 {
  height: 45px;
}

#cntDigitalOutputsCell_1_Label2 {
  z-index: 0;
}

#cntDigitalOutputsCell_1_Label2 span {
  color: dimgray;
}

#cntDigitalOutputsCell_1_Label2 {
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntDigitalOutputsCell_1_Label2 span {
  text-decoration: underline;
}

#cntDigitalOutputsCell_1_ImageList1 {
  top: 35px;
  position: absolute;
}

#cntDigitalOutputsCell_1_ImageList1 {
  left: 5px;
  position: absolute;
}

#cntDigitalOutputsCell_1_ImageList1 {
  width: 20px;
}

#cntDigitalOutputsCell_1_ImageList1 {
  height: 20px;
}

#cntDigitalOutputsCell_1_ImageList1 {
  z-index: 1;
}

#cntDigitalOutputsCell_1_ImageList2 {
  top: 65px;
  position: absolute;
}

#cntDigitalOutputsCell_1_ImageList2 {
  left: 5px;
  position: absolute;
}

#cntDigitalOutputsCell_1_ImageList2 {
  width: 20px;
}

#cntDigitalOutputsCell_1_ImageList2 {
  height: 20px;
}

#cntDigitalOutputsCell_1_ImageList2 {
  z-index: 2;
}

#cntDigitalOutputsCell_1_ImageList3 {
  top: 95px;
  position: absolute;
}

#cntDigitalOutputsCell_1_ImageList3 {
  left: 5px;
  position: absolute;
}

#cntDigitalOutputsCell_1_ImageList3 {
  width: 20px;
}

#cntDigitalOutputsCell_1_ImageList3 {
  height: 20px;
}

#cntDigitalOutputsCell_1_ImageList3 {
  z-index: 3;
}

#cntDigitalOutputsCell_1_ImageList4 {
  top: 125px;
  position: absolute;
}

#cntDigitalOutputsCell_1_ImageList4 {
  left: 5px;
  position: absolute;
}

#cntDigitalOutputsCell_1_ImageList4 {
  width: 20px;
}

#cntDigitalOutputsCell_1_ImageList4 {
  height: 20px;
}

#cntDigitalOutputsCell_1_ImageList4 {
  z-index: 4;
}

#cntDigitalOutputsCell_1_ImageList5 {
  top: 155px;
  position: absolute;
}

#cntDigitalOutputsCell_1_ImageList5 {
  left: 5px;
  position: absolute;
}

#cntDigitalOutputsCell_1_ImageList5 {
  width: 20px;
}

#cntDigitalOutputsCell_1_ImageList5 {
  height: 20px;
}

#cntDigitalOutputsCell_1_ImageList5 {
  z-index: 5;
}

#cntDigitalOutputsCell_1_ImageList6 {
  top: 185px;
  position: absolute;
}

#cntDigitalOutputsCell_1_ImageList6 {
  left: 5px;
  position: absolute;
}

#cntDigitalOutputsCell_1_ImageList6 {
  width: 20px;
}

#cntDigitalOutputsCell_1_ImageList6 {
  height: 20px;
}

#cntDigitalOutputsCell_1_ImageList6 {
  z-index: 6;
}

#cntDigitalOutputsCell_1_ImageList7 {
  top: 215px;
  position: absolute;
}

#cntDigitalOutputsCell_1_ImageList7 {
  left: 5px;
  position: absolute;
}

#cntDigitalOutputsCell_1_ImageList7 {
  width: 20px;
}

#cntDigitalOutputsCell_1_ImageList7 {
  height: 20px;
}

#cntDigitalOutputsCell_1_ImageList7 {
  z-index: 7;
}

#cntDigitalOutputsCell_1_ImageList8 {
  top: 245px;
  position: absolute;
}

#cntDigitalOutputsCell_1_ImageList8 {
  left: 5px;
  position: absolute;
}

#cntDigitalOutputsCell_1_ImageList8 {
  width: 20px;
}

#cntDigitalOutputsCell_1_ImageList8 {
  height: 20px;
}

#cntDigitalOutputsCell_1_ImageList8 {
  z-index: 8;
}

#cntDigitalOutputsCell_1_ImageList9 {
  top: 275px;
  position: absolute;
}

#cntDigitalOutputsCell_1_ImageList9 {
  left: 5px;
  position: absolute;
}

#cntDigitalOutputsCell_1_ImageList9 {
  width: 20px;
}

#cntDigitalOutputsCell_1_ImageList9 {
  height: 20px;
}

#cntDigitalOutputsCell_1_ImageList9 {
  z-index: 9;
}

#cntDigitalOutputsCell_1_ImageList10 {
  top: 305px;
  position: absolute;
}

#cntDigitalOutputsCell_1_ImageList10 {
  left: 5px;
  position: absolute;
}

#cntDigitalOutputsCell_1_ImageList10 {
  width: 20px;
}

#cntDigitalOutputsCell_1_ImageList10 {
  height: 20px;
}

#cntDigitalOutputsCell_1_ImageList10 {
  z-index: 10;
}

#cntDigitalOutputsCell_1_ImageList11 {
  top: 335px;
  position: absolute;
}

#cntDigitalOutputsCell_1_ImageList11 {
  left: 5px;
  position: absolute;
}

#cntDigitalOutputsCell_1_ImageList11 {
  width: 20px;
}

#cntDigitalOutputsCell_1_ImageList11 {
  height: 20px;
}

#cntDigitalOutputsCell_1_ImageList11 {
  z-index: 11;
}

#cntDigitalOutputsCell_1_ImageList12 {
  top: 365px;
  position: absolute;
}

#cntDigitalOutputsCell_1_ImageList12 {
  left: 5px;
  position: absolute;
}

#cntDigitalOutputsCell_1_ImageList12 {
  width: 20px;
}

#cntDigitalOutputsCell_1_ImageList12 {
  height: 20px;
}

#cntDigitalOutputsCell_1_ImageList12 {
  z-index: 12;
}

#cntDigitalOutputsCell_1_ImageList13 {
  top: 395px;
  position: absolute;
}

#cntDigitalOutputsCell_1_ImageList13 {
  left: 5px;
  position: absolute;
}

#cntDigitalOutputsCell_1_ImageList13 {
  width: 20px;
}

#cntDigitalOutputsCell_1_ImageList13 {
  height: 20px;
}

#cntDigitalOutputsCell_1_ImageList13 {
  z-index: 13;
}

#cntDigitalOutputsCell_1_ImageList14 {
  top: 425px;
  position: absolute;
}

#cntDigitalOutputsCell_1_ImageList14 {
  left: 5px;
  position: absolute;
}

#cntDigitalOutputsCell_1_ImageList14 {
  width: 20px;
}

#cntDigitalOutputsCell_1_ImageList14 {
  height: 20px;
}

#cntDigitalOutputsCell_1_ImageList14 {
  z-index: 14;
}

#cntDigitalOutputsCell_1_ImageList15 {
  top: 455px;
  position: absolute;
}

#cntDigitalOutputsCell_1_ImageList15 {
  left: 5px;
  position: absolute;
}

#cntDigitalOutputsCell_1_ImageList15 {
  width: 20px;
}

#cntDigitalOutputsCell_1_ImageList15 {
  height: 20px;
}

#cntDigitalOutputsCell_1_ImageList15 {
  z-index: 15;
}

#cntDigitalOutputsCell_1_ImageList16 {
  top: 485px;
  position: absolute;
}

#cntDigitalOutputsCell_1_ImageList16 {
  left: 5px;
  position: absolute;
}

#cntDigitalOutputsCell_1_ImageList16 {
  width: 20px;
}

#cntDigitalOutputsCell_1_ImageList16 {
  height: 20px;
}

#cntDigitalOutputsCell_1_ImageList16 {
  z-index: 16;
}

#cntDigitalOutputsCell_1_Label_do1 {
  top: 35px;
  position: absolute;
}

#cntDigitalOutputsCell_1_Label_do1 {
  left: 35px;
  position: absolute;
}

#cntDigitalOutputsCell_1_Label_do1 {
  width: 230px;
}

#cntDigitalOutputsCell_1_Label_do1 {
  height: 20px;
}

#cntDigitalOutputsCell_1_Label_do1 {
  z-index: 17;
}

#cntDigitalOutputsCell_1_Label_do2 {
  top: 65px;
  position: absolute;
}

#cntDigitalOutputsCell_1_Label_do2 {
  left: 35px;
  position: absolute;
}

#cntDigitalOutputsCell_1_Label_do2 {
  width: 230px;
}

#cntDigitalOutputsCell_1_Label_do2 {
  height: 20px;
}

#cntDigitalOutputsCell_1_Label_do2 {
  z-index: 18;
}

#cntDigitalOutputsCell_1_Label_do3 {
  top: 95px;
  position: absolute;
}

#cntDigitalOutputsCell_1_Label_do3 {
  left: 35px;
  position: absolute;
}

#cntDigitalOutputsCell_1_Label_do3 {
  width: 230px;
}

#cntDigitalOutputsCell_1_Label_do3 {
  height: 20px;
}

#cntDigitalOutputsCell_1_Label_do3 {
  z-index: 19;
}

#cntDigitalOutputsCell_1_Label_do4 {
  top: 125px;
  position: absolute;
}

#cntDigitalOutputsCell_1_Label_do4 {
  left: 35px;
  position: absolute;
}

#cntDigitalOutputsCell_1_Label_do4 {
  width: 230px;
}

#cntDigitalOutputsCell_1_Label_do4 {
  height: 20px;
}

#cntDigitalOutputsCell_1_Label_do4 {
  z-index: 20;
}

#cntDigitalOutputsCell_1_Label_do5 {
  top: 155px;
  position: absolute;
}

#cntDigitalOutputsCell_1_Label_do5 {
  left: 35px;
  position: absolute;
}

#cntDigitalOutputsCell_1_Label_do5 {
  width: 230px;
}

#cntDigitalOutputsCell_1_Label_do5 {
  height: 20px;
}

#cntDigitalOutputsCell_1_Label_do5 {
  z-index: 21;
}

#cntDigitalOutputsCell_1_Label_do6 {
  top: 185px;
  position: absolute;
}

#cntDigitalOutputsCell_1_Label_do6 {
  left: 35px;
  position: absolute;
}

#cntDigitalOutputsCell_1_Label_do6 {
  width: 230px;
}

#cntDigitalOutputsCell_1_Label_do6 {
  height: 20px;
}

#cntDigitalOutputsCell_1_Label_do6 {
  z-index: 22;
}

#cntDigitalOutputsCell_1_Label_do7 {
  top: 215px;
  position: absolute;
}

#cntDigitalOutputsCell_1_Label_do7 {
  left: 35px;
  position: absolute;
}

#cntDigitalOutputsCell_1_Label_do7 {
  width: 230px;
}

#cntDigitalOutputsCell_1_Label_do7 {
  height: 20px;
}

#cntDigitalOutputsCell_1_Label_do7 {
  z-index: 23;
}

#cntDigitalOutputsCell_1_Label_do8 {
  top: 245px;
  position: absolute;
}

#cntDigitalOutputsCell_1_Label_do8 {
  left: 35px;
  position: absolute;
}

#cntDigitalOutputsCell_1_Label_do8 {
  width: 230px;
}

#cntDigitalOutputsCell_1_Label_do8 {
  height: 20px;
}

#cntDigitalOutputsCell_1_Label_do8 {
  z-index: 24;
}

#cntDigitalOutputsCell_1_Label_d09 {
  top: 275px;
  position: absolute;
}

#cntDigitalOutputsCell_1_Label_d09 {
  left: 35px;
  position: absolute;
}

#cntDigitalOutputsCell_1_Label_d09 {
  width: 230px;
}

#cntDigitalOutputsCell_1_Label_d09 {
  height: 20px;
}

#cntDigitalOutputsCell_1_Label_d09 {
  z-index: 25;
}

#cntDigitalOutputsCell_1_Label_do10 {
  top: 305px;
  position: absolute;
}

#cntDigitalOutputsCell_1_Label_do10 {
  left: 35px;
  position: absolute;
}

#cntDigitalOutputsCell_1_Label_do10 {
  width: 230px;
}

#cntDigitalOutputsCell_1_Label_do10 {
  height: 20px;
}

#cntDigitalOutputsCell_1_Label_do10 {
  z-index: 26;
}

#cntDigitalOutputsCell_1_Label_di11 {
  top: 335px;
  position: absolute;
}

#cntDigitalOutputsCell_1_Label_di11 {
  left: 35px;
  position: absolute;
}

#cntDigitalOutputsCell_1_Label_di11 {
  width: 230px;
}

#cntDigitalOutputsCell_1_Label_di11 {
  height: 20px;
}

#cntDigitalOutputsCell_1_Label_di11 {
  z-index: 27;
}

#cntDigitalOutputsCell_1_Label_do12 {
  top: 365px;
  position: absolute;
}

#cntDigitalOutputsCell_1_Label_do12 {
  left: 35px;
  position: absolute;
}

#cntDigitalOutputsCell_1_Label_do12 {
  width: 230px;
}

#cntDigitalOutputsCell_1_Label_do12 {
  height: 20px;
}

#cntDigitalOutputsCell_1_Label_do12 {
  z-index: 28;
}

#cntDigitalOutputsCell_1_Label_d013 {
  top: 395px;
  position: absolute;
}

#cntDigitalOutputsCell_1_Label_d013 {
  left: 35px;
  position: absolute;
}

#cntDigitalOutputsCell_1_Label_d013 {
  width: 230px;
}

#cntDigitalOutputsCell_1_Label_d013 {
  height: 20px;
}

#cntDigitalOutputsCell_1_Label_d013 {
  z-index: 29;
}

#cntDigitalOutputsCell_1_Label_do14 {
  top: 425px;
  position: absolute;
}

#cntDigitalOutputsCell_1_Label_do14 {
  left: 35px;
  position: absolute;
}

#cntDigitalOutputsCell_1_Label_do14 {
  width: 230px;
}

#cntDigitalOutputsCell_1_Label_do14 {
  height: 20px;
}

#cntDigitalOutputsCell_1_Label_do14 {
  z-index: 30;
}

#cntDigitalOutputsCell_1_Label_do15 {
  top: 455px;
  position: absolute;
}

#cntDigitalOutputsCell_1_Label_do15 {
  left: 35px;
  position: absolute;
}

#cntDigitalOutputsCell_1_Label_do15 {
  width: 230px;
}

#cntDigitalOutputsCell_1_Label_do15 {
  height: 20px;
}

#cntDigitalOutputsCell_1_Label_do15 {
  z-index: 31;
}

#cntDigitalOutputsCell_1_Label_do16 {
  top: 485px;
  position: absolute;
}

#cntDigitalOutputsCell_1_Label_do16 {
  left: 35px;
  position: absolute;
}

#cntDigitalOutputsCell_1_Label_do16 {
  width: 230px;
}

#cntDigitalOutputsCell_1_Label_do16 {
  height: 20px;
}

#cntDigitalOutputsCell_1_Label_do16 {
  z-index: 32;
}

#cntDigitalOutputsCell_1_GridLineItem3 {
  z-index: 1;
}

#cntDigitalOutputsCell_1_GridLineItem3 {
  padding: 0px 10px 10px 10px;
}

#cntDigitalOutputsCell_1_Label3 {
  top: 5px;
  position: absolute;
}

#cntDigitalOutputsCell_1_Label3 {
  left: 29px;
  position: absolute;
}

#cntDigitalOutputsCell_1_Label3 {
  width: 210px;
}

#cntDigitalOutputsCell_1_Label3 {
  height: 25px;
}

#cntDigitalOutputsCell_1_Label3 {
  z-index: 0;
}

#cntDigitalOutputsCell_1_Label3 span {
  color: dimgray;
}

#cntDigitalOutputsCell_1_Label3 {
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntDigitalOutputsCell_1_Label3 span {
  text-decoration: underline;
}

#cntDigitalOutputsCell_1_ImageList17 {
  top: 35px;
  position: absolute;
}

#cntDigitalOutputsCell_1_ImageList17 {
  left: 5px;
  position: absolute;
}

#cntDigitalOutputsCell_1_ImageList17 {
  width: 20px;
}

#cntDigitalOutputsCell_1_ImageList17 {
  height: 20px;
}

#cntDigitalOutputsCell_1_ImageList17 {
  z-index: 1;
}

#cntDigitalOutputsCell_1_ImageList18 {
  top: 65px;
  position: absolute;
}

#cntDigitalOutputsCell_1_ImageList18 {
  left: 5px;
  position: absolute;
}

#cntDigitalOutputsCell_1_ImageList18 {
  width: 20px;
}

#cntDigitalOutputsCell_1_ImageList18 {
  height: 20px;
}

#cntDigitalOutputsCell_1_ImageList18 {
  z-index: 2;
}

#cntDigitalOutputsCell_1_ImageList19 {
  top: 95px;
  position: absolute;
}

#cntDigitalOutputsCell_1_ImageList19 {
  left: 5px;
  position: absolute;
}

#cntDigitalOutputsCell_1_ImageList19 {
  width: 20px;
}

#cntDigitalOutputsCell_1_ImageList19 {
  height: 20px;
}

#cntDigitalOutputsCell_1_ImageList19 {
  z-index: 3;
}

#cntDigitalOutputsCell_1_ImageList20 {
  top: 125px;
  position: absolute;
}

#cntDigitalOutputsCell_1_ImageList20 {
  left: 5px;
  position: absolute;
}

#cntDigitalOutputsCell_1_ImageList20 {
  width: 20px;
}

#cntDigitalOutputsCell_1_ImageList20 {
  height: 20px;
}

#cntDigitalOutputsCell_1_ImageList20 {
  z-index: 4;
}

#cntDigitalOutputsCell_1_ImageList21 {
  top: 155px;
  position: absolute;
}

#cntDigitalOutputsCell_1_ImageList21 {
  left: 5px;
  position: absolute;
}

#cntDigitalOutputsCell_1_ImageList21 {
  width: 20px;
}

#cntDigitalOutputsCell_1_ImageList21 {
  height: 20px;
}

#cntDigitalOutputsCell_1_ImageList21 {
  z-index: 5;
}

#cntDigitalOutputsCell_1_ImageList22 {
  top: 185px;
  position: absolute;
}

#cntDigitalOutputsCell_1_ImageList22 {
  left: 5px;
  position: absolute;
}

#cntDigitalOutputsCell_1_ImageList22 {
  width: 20px;
}

#cntDigitalOutputsCell_1_ImageList22 {
  height: 20px;
}

#cntDigitalOutputsCell_1_ImageList22 {
  z-index: 6;
}

#cntDigitalOutputsCell_1_ImageList23 {
  top: 215px;
  position: absolute;
}

#cntDigitalOutputsCell_1_ImageList23 {
  left: 5px;
  position: absolute;
}

#cntDigitalOutputsCell_1_ImageList23 {
  width: 20px;
}

#cntDigitalOutputsCell_1_ImageList23 {
  height: 20px;
}

#cntDigitalOutputsCell_1_ImageList23 {
  z-index: 7;
}

#cntDigitalOutputsCell_1_ImageList24 {
  top: 245px;
  position: absolute;
}

#cntDigitalOutputsCell_1_ImageList24 {
  left: 5px;
  position: absolute;
}

#cntDigitalOutputsCell_1_ImageList24 {
  width: 20px;
}

#cntDigitalOutputsCell_1_ImageList24 {
  height: 20px;
}

#cntDigitalOutputsCell_1_ImageList24 {
  z-index: 8;
}

#cntDigitalOutputsCell_1_ImageList25 {
  top: 275px;
  position: absolute;
}

#cntDigitalOutputsCell_1_ImageList25 {
  left: 5px;
  position: absolute;
}

#cntDigitalOutputsCell_1_ImageList25 {
  width: 20px;
}

#cntDigitalOutputsCell_1_ImageList25 {
  height: 20px;
}

#cntDigitalOutputsCell_1_ImageList25 {
  z-index: 9;
}

#cntDigitalOutputsCell_1_ImageList26 {
  top: 305px;
  position: absolute;
}

#cntDigitalOutputsCell_1_ImageList26 {
  left: 5px;
  position: absolute;
}

#cntDigitalOutputsCell_1_ImageList26 {
  width: 20px;
}

#cntDigitalOutputsCell_1_ImageList26 {
  height: 20px;
}

#cntDigitalOutputsCell_1_ImageList26 {
  z-index: 10;
}

#cntDigitalOutputsCell_1_ImageList27 {
  top: 335px;
  position: absolute;
}

#cntDigitalOutputsCell_1_ImageList27 {
  left: 5px;
  position: absolute;
}

#cntDigitalOutputsCell_1_ImageList27 {
  width: 20px;
}

#cntDigitalOutputsCell_1_ImageList27 {
  height: 20px;
}

#cntDigitalOutputsCell_1_ImageList27 {
  z-index: 11;
}

#cntDigitalOutputsCell_1_ImageList28 {
  top: 365px;
  position: absolute;
}

#cntDigitalOutputsCell_1_ImageList28 {
  left: 5px;
  position: absolute;
}

#cntDigitalOutputsCell_1_ImageList28 {
  width: 20px;
}

#cntDigitalOutputsCell_1_ImageList28 {
  height: 20px;
}

#cntDigitalOutputsCell_1_ImageList28 {
  z-index: 12;
}

#cntDigitalOutputsCell_1_ImageList29 {
  top: 395px;
  position: absolute;
}

#cntDigitalOutputsCell_1_ImageList29 {
  left: 5px;
  position: absolute;
}

#cntDigitalOutputsCell_1_ImageList29 {
  width: 20px;
}

#cntDigitalOutputsCell_1_ImageList29 {
  height: 20px;
}

#cntDigitalOutputsCell_1_ImageList29 {
  z-index: 13;
}

#cntDigitalOutputsCell_1_ImageList30 {
  top: 425px;
  position: absolute;
}

#cntDigitalOutputsCell_1_ImageList30 {
  left: 5px;
  position: absolute;
}

#cntDigitalOutputsCell_1_ImageList30 {
  width: 20px;
}

#cntDigitalOutputsCell_1_ImageList30 {
  height: 20px;
}

#cntDigitalOutputsCell_1_ImageList30 {
  z-index: 14;
}

#cntDigitalOutputsCell_1_ImageList31 {
  top: 455px;
  position: absolute;
}

#cntDigitalOutputsCell_1_ImageList31 {
  left: 5px;
  position: absolute;
}

#cntDigitalOutputsCell_1_ImageList31 {
  width: 20px;
}

#cntDigitalOutputsCell_1_ImageList31 {
  height: 20px;
}

#cntDigitalOutputsCell_1_ImageList31 {
  z-index: 15;
}

#cntDigitalOutputsCell_1_ImageList32 {
  top: 485px;
  position: absolute;
}

#cntDigitalOutputsCell_1_ImageList32 {
  left: 5px;
  position: absolute;
}

#cntDigitalOutputsCell_1_ImageList32 {
  width: 20px;
}

#cntDigitalOutputsCell_1_ImageList32 {
  height: 20px;
}

#cntDigitalOutputsCell_1_ImageList32 {
  z-index: 16;
}

#cntDigitalOutputsCell_1_Label_do17 {
  height: 30px;
}

#cntDigitalOutputsCell_1_Label_do17 {
  top: 35px;
  position: absolute;
}

#cntDigitalOutputsCell_1_Label_do17 {
  left: 35px;
  position: absolute;
}

#cntDigitalOutputsCell_1_Label_do17 {
  width: 240px;
}

#cntDigitalOutputsCell_1_Label_do17 {
  z-index: 17;
}

#cntDigitalOutputsCell_1_Label_do18 {
  height: 30px;
}

#cntDigitalOutputsCell_1_Label_do18 {
  top: 65px;
  position: absolute;
}

#cntDigitalOutputsCell_1_Label_do18 {
  left: 35px;
  position: absolute;
}

#cntDigitalOutputsCell_1_Label_do18 {
  width: 240px;
}

#cntDigitalOutputsCell_1_Label_do18 {
  z-index: 18;
}

#cntDigitalOutputsCell_1_Label_do19 {
  height: 30px;
}

#cntDigitalOutputsCell_1_Label_do19 {
  top: 95px;
  position: absolute;
}

#cntDigitalOutputsCell_1_Label_do19 {
  left: 35px;
  position: absolute;
}

#cntDigitalOutputsCell_1_Label_do19 {
  width: 240px;
}

#cntDigitalOutputsCell_1_Label_do19 {
  z-index: 19;
}

#cntDigitalOutputsCell_1_Label_do20 {
  height: 30px;
}

#cntDigitalOutputsCell_1_Label_do20 {
  top: 125px;
  position: absolute;
}

#cntDigitalOutputsCell_1_Label_do20 {
  left: 35px;
  position: absolute;
}

#cntDigitalOutputsCell_1_Label_do20 {
  width: 240px;
}

#cntDigitalOutputsCell_1_Label_do20 {
  z-index: 20;
}

#cntDigitalOutputsCell_1_Label_d021 {
  height: 30px;
}

#cntDigitalOutputsCell_1_Label_d021 {
  top: 155px;
  position: absolute;
}

#cntDigitalOutputsCell_1_Label_d021 {
  left: 35px;
  position: absolute;
}

#cntDigitalOutputsCell_1_Label_d021 {
  width: 240px;
}

#cntDigitalOutputsCell_1_Label_d021 {
  z-index: 21;
}

#cntDigitalOutputsCell_1_Label_do22 {
  height: 30px;
}

#cntDigitalOutputsCell_1_Label_do22 {
  top: 185px;
  position: absolute;
}

#cntDigitalOutputsCell_1_Label_do22 {
  left: 35px;
  position: absolute;
}

#cntDigitalOutputsCell_1_Label_do22 {
  width: 240px;
}

#cntDigitalOutputsCell_1_Label_do22 {
  z-index: 22;
}

#cntDigitalOutputsCell_1_Label_do23 {
  height: 30px;
}

#cntDigitalOutputsCell_1_Label_do23 {
  top: 215px;
  position: absolute;
}

#cntDigitalOutputsCell_1_Label_do23 {
  left: 35px;
  position: absolute;
}

#cntDigitalOutputsCell_1_Label_do23 {
  width: 240px;
}

#cntDigitalOutputsCell_1_Label_do23 {
  z-index: 23;
}

#cntDigitalOutputsCell_1_Label_do24 {
  height: 30px;
}

#cntDigitalOutputsCell_1_Label_do24 {
  top: 245px;
  position: absolute;
}

#cntDigitalOutputsCell_1_Label_do24 {
  left: 35px;
  position: absolute;
}

#cntDigitalOutputsCell_1_Label_do24 {
  width: 240px;
}

#cntDigitalOutputsCell_1_Label_do24 {
  z-index: 24;
}

#cntDigitalOutputsCell_1_Label_do25 {
  height: 30px;
}

#cntDigitalOutputsCell_1_Label_do25 {
  top: 275px;
  position: absolute;
}

#cntDigitalOutputsCell_1_Label_do25 {
  left: 35px;
  position: absolute;
}

#cntDigitalOutputsCell_1_Label_do25 {
  width: 240px;
}

#cntDigitalOutputsCell_1_Label_do25 {
  z-index: 25;
}

#cntDigitalOutputsCell_1_Label_do26 {
  height: 30px;
}

#cntDigitalOutputsCell_1_Label_do26 {
  top: 305px;
  position: absolute;
}

#cntDigitalOutputsCell_1_Label_do26 {
  left: 35px;
  position: absolute;
}

#cntDigitalOutputsCell_1_Label_do26 {
  width: 240px;
}

#cntDigitalOutputsCell_1_Label_do26 {
  z-index: 26;
}

#cntDigitalOutputsCell_1_Label_do27 {
  height: 30px;
}

#cntDigitalOutputsCell_1_Label_do27 {
  top: 335px;
  position: absolute;
}

#cntDigitalOutputsCell_1_Label_do27 {
  left: 35px;
  position: absolute;
}

#cntDigitalOutputsCell_1_Label_do27 {
  width: 240px;
}

#cntDigitalOutputsCell_1_Label_do27 {
  z-index: 27;
}

#cntDigitalOutputsCell_1_Label_do28 {
  height: 30px;
}

#cntDigitalOutputsCell_1_Label_do28 {
  top: 365px;
  position: absolute;
}

#cntDigitalOutputsCell_1_Label_do28 {
  left: 35px;
  position: absolute;
}

#cntDigitalOutputsCell_1_Label_do28 {
  width: 240px;
}

#cntDigitalOutputsCell_1_Label_do28 {
  z-index: 28;
}

#cntDigitalOutputsCell_1_doCell1_Dummy29 {
  height: 30px;
}

#cntDigitalOutputsCell_1_doCell1_Dummy29 {
  top: 395px;
  position: absolute;
}

#cntDigitalOutputsCell_1_doCell1_Dummy29 {
  left: 35px;
  position: absolute;
}

#cntDigitalOutputsCell_1_doCell1_Dummy29 {
  width: 240px;
}

#cntDigitalOutputsCell_1_doCell1_Dummy29 {
  z-index: 29;
}

#cntDigitalOutputsCell_1_Label_do30 {
  height: 30px;
}

#cntDigitalOutputsCell_1_Label_do30 {
  top: 425px;
  position: absolute;
}

#cntDigitalOutputsCell_1_Label_do30 {
  left: 35px;
  position: absolute;
}

#cntDigitalOutputsCell_1_Label_do30 {
  width: 240px;
}

#cntDigitalOutputsCell_1_Label_do30 {
  z-index: 30;
}

#cntDigitalOutputsCell_1_Label_do31 {
  height: 30px;
}

#cntDigitalOutputsCell_1_Label_do31 {
  top: 455px;
  position: absolute;
}

#cntDigitalOutputsCell_1_Label_do31 {
  left: 35px;
  position: absolute;
}

#cntDigitalOutputsCell_1_Label_do31 {
  width: 240px;
}

#cntDigitalOutputsCell_1_Label_do31 {
  z-index: 31;
}

#cntDigitalOutputsCell_1_Label_do32 {
  height: 30px;
}

#cntDigitalOutputsCell_1_Label_do32 {
  top: 485px;
  position: absolute;
}

#cntDigitalOutputsCell_1_Label_do32 {
  left: 35px;
  position: absolute;
}

#cntDigitalOutputsCell_1_Label_do32 {
  width: 240px;
}

#cntDigitalOutputsCell_1_Label_do32 {
  z-index: 32;
}

#cntDigitalOutputsCell_1_CheckBox_SafetyRelayInput {
  top: 0px;
  position: absolute;
}

#cntDigitalOutputsCell_1_CheckBox_SafetyRelayInput {
  left: 250px;
  position: absolute;
}

#cntDigitalOutputsCell_1_CheckBox_SafetyRelayInput {
  width: 45px;
}

#cntDigitalOutputsCell_1_CheckBox_SafetyRelayInput {
  height: 45px;
}

#cntDigitalOutputsCell_1_CheckBox_SafetyRelayInput {
  z-index: 1;
}

#cntDigitalOutputsCell_1_CheckBox_SafetyRelayInput span {
  font-style: italic;
}

#cntDigitalOutputsCell_1_CheckBox_SafetyRelayInput {
  padding: 0px;
}

#cntDigitalOutputsCell_1_CheckBox_SafetyRelayInput.checked:not(.disabled) svg {
  fill: red;
}
