﻿@import "mixins.scss";
#cntDialogRFIDAssign_PushButton_Confirm {
	@include elemTop(140);
}
#cntDialogRFIDAssign_PushButton_Confirm {
	@include elemLeft(240);
}
#cntDialogRFIDAssign_PushButton_Confirm {
	@include elemAutoWidth(130);
}
#cntDialogRFIDAssign_PushButton_Confirm {
	@include elemAutoHeight(50);
}
#cntDialogRFIDAssign_PushButton_Confirm {
		z-index: 0;
}
#cntDialogRFIDAssign_PushButton_Confirm {
	@include border-radius(8px);
}
#cntDialogRFIDAssign_PushButton_Confirm1 {
	@include elemTop(140);
}
#cntDialogRFIDAssign_PushButton_Confirm1 {
	@include elemLeft(20);
}
#cntDialogRFIDAssign_PushButton_Confirm1 {
	@include elemAutoWidth(130);
}
#cntDialogRFIDAssign_PushButton_Confirm1 {
	@include elemAutoHeight(50);
}
#cntDialogRFIDAssign_PushButton_Confirm1 {
		z-index: 1;
}
#cntDialogRFIDAssign_PushButton_Confirm1 {
	@include border-radius(8px);
}
#cntDialogRFIDAssign_labUserManagment {
	@include elemTop(10);
}
#cntDialogRFIDAssign_labUserManagment {
	@include elemLeft(0);
}
#cntDialogRFIDAssign_labUserManagment {
	@include elemAutoWidth(140);
}
#cntDialogRFIDAssign_labUserManagment {
	@include elemAutoHeight(37);
}
#cntDialogRFIDAssign_labUserManagment {
		z-index: 2;
}
#cntDialogRFIDAssign_labUserManagment {
	@include text-alignment-all('right');
}
#cntDialogRFIDAssign_labUserManagment {
		font-size: 20px;
}
#cntDialogRFIDAssign_labUserManagment {
	span{
		padding: 0px;
	}
}
#cntDialogRFIDAssign_DropDownBox1 {
	@include elemTop(10);
}
#cntDialogRFIDAssign_DropDownBox1 {
	@include elemLeft(190);
}
#cntDialogRFIDAssign_DropDownBox1 {
	&.DropDownBoxView{
	@include elemWidth(180);
	}
}
#cntDialogRFIDAssign_DropDownBox1 {
	&.DropDownBoxView{
	@include elemHeight(40);
	}
}
#cntDialogRFIDAssign_DropDownBox1 {
		z-index: 3;
}
#cntDialogRFIDAssign_labUserManagment1 {
	@include elemTop(80);
}
#cntDialogRFIDAssign_labUserManagment1 {
	@include elemLeft(0);
}
#cntDialogRFIDAssign_labUserManagment1 {
	@include elemAutoWidth(140);
}
#cntDialogRFIDAssign_labUserManagment1 {
	@include elemAutoHeight(37);
}
#cntDialogRFIDAssign_labUserManagment1 {
		z-index: 4;
}
#cntDialogRFIDAssign_labUserManagment1 {
	@include text-alignment-all('right');
}
#cntDialogRFIDAssign_labUserManagment1 {
		font-size: 20px;
}
#cntDialogRFIDAssign_labUserManagment1 {
	span{
		padding: 0px;
	}
}
#cntDialogRFIDAssign_TextOutput1 {
	@include elemAutoHeight(30);
}
#cntDialogRFIDAssign_TextOutput1 {
	@include elemTop(80);
}
#cntDialogRFIDAssign_TextOutput1 {
	@include elemLeft(190);
}
#cntDialogRFIDAssign_TextOutput1 {
	@include elemAutoWidth(190);
}
#cntDialogRFIDAssign_TextOutput1 {
		z-index: 5;
}
