#cntDialogRFIDAssign_PushButton_Confirm {
  top: 140px;
  position: absolute;
}

#cntDialogRFIDAssign_PushButton_Confirm {
  left: 240px;
  position: absolute;
}

#cntDialogRFIDAssign_PushButton_Confirm {
  width: 130px;
}

#cntDialogRFIDAssign_PushButton_Confirm {
  height: 50px;
}

#cntDialogRFIDAssign_PushButton_Confirm {
  z-index: 0;
}

#cntDialogRFIDAssign_PushButton_Confirm {
  border-radius: 8px;
}

#cntDialogRFIDAssign_PushButton_Confirm1 {
  top: 140px;
  position: absolute;
}

#cntDialogRFIDAssign_PushButton_Confirm1 {
  left: 20px;
  position: absolute;
}

#cntDialogRFIDAssign_PushButton_Confirm1 {
  width: 130px;
}

#cntDialogRFIDAssign_PushButton_Confirm1 {
  height: 50px;
}

#cntDialogRFIDAssign_PushButton_Confirm1 {
  z-index: 1;
}

#cntDialogRFIDAssign_PushButton_Confirm1 {
  border-radius: 8px;
}

#cntDialogRFIDAssign_labUserManagment {
  top: 10px;
  position: absolute;
}

#cntDialogRFIDAssign_labUserManagment {
  left: 0px;
  position: absolute;
}

#cntDialogRFIDAssign_labUserManagment {
  width: 140px;
}

#cntDialogRFIDAssign_labUserManagment {
  height: 37px;
}

#cntDialogRFIDAssign_labUserManagment {
  z-index: 2;
}

#cntDialogRFIDAssign_labUserManagment {
  justify-content: flex-end;
  text-align: right;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntDialogRFIDAssign_labUserManagment {
  font-size: 20px;
}

#cntDialogRFIDAssign_labUserManagment span {
  padding: 0px;
}

#cntDialogRFIDAssign_DropDownBox1 {
  top: 10px;
  position: absolute;
}

#cntDialogRFIDAssign_DropDownBox1 {
  left: 190px;
  position: absolute;
}

#cntDialogRFIDAssign_DropDownBox1.DropDownBoxView {
  width: 180px;
}

#cntDialogRFIDAssign_DropDownBox1.DropDownBoxView {
  height: 40px;
}

#cntDialogRFIDAssign_DropDownBox1 {
  z-index: 3;
}

#cntDialogRFIDAssign_labUserManagment1 {
  top: 80px;
  position: absolute;
}

#cntDialogRFIDAssign_labUserManagment1 {
  left: 0px;
  position: absolute;
}

#cntDialogRFIDAssign_labUserManagment1 {
  width: 140px;
}

#cntDialogRFIDAssign_labUserManagment1 {
  height: 37px;
}

#cntDialogRFIDAssign_labUserManagment1 {
  z-index: 4;
}

#cntDialogRFIDAssign_labUserManagment1 {
  justify-content: flex-end;
  text-align: right;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntDialogRFIDAssign_labUserManagment1 {
  font-size: 20px;
}

#cntDialogRFIDAssign_labUserManagment1 span {
  padding: 0px;
}

#cntDialogRFIDAssign_TextOutput1 {
  height: 30px;
}

#cntDialogRFIDAssign_TextOutput1 {
  top: 80px;
  position: absolute;
}

#cntDialogRFIDAssign_TextOutput1 {
  left: 190px;
  position: absolute;
}

#cntDialogRFIDAssign_TextOutput1 {
  width: 190px;
}

#cntDialogRFIDAssign_TextOutput1 {
  z-index: 5;
}
