﻿@import "mixins.scss";
div[data-brease-dialogId='DialogRFIDAssign'] {
	.breaseDialogWindowHeader{
	height: 0px;
	}
}
div[data-brease-dialogId='DialogRFIDAssign'] {
	.breaseDialogWindowHeader .breaseWindowClose{
	height: 0px;
	}
}
div[data-brease-dialogId='DialogRFIDAssign'] {
	.breaseDialogWindowHeader .breaseWindowClose{
	line-height: 0px;
	}
}
div[data-brease-dialogId='DialogRFIDAssign'] {
	.breaseDialogWindowHeader .imageDiv{
	min-width: 0px;
	}
}
div[data-brease-dialogId='DialogRFIDAssign'] {
	.breaseDialogWindowHeader div.innerHeader{
	line-height: 0px;
	}
}
div[data-brease-dialogId='DialogRFIDAssign'] {
	.breaseDialogWindowHeader div.textDiv{
	line-height: 0px;
	}
}
div[data-brease-dialogId='DialogRFIDAssign'] {
	.breaseDialogWindowHeader div.innerHeader{
	height: 0px;
	}
}
div[data-brease-dialogId='DialogRFIDAssign'] {
	.breaseDialogWindowHeader div.imageDiv{
@include factor('max-width',0px, 2);
	}
}
