﻿@import '../../../../css/libs/variables.scss';
@import '../../../../css/libs/mixins.scss';

.breaseLinearGauge {

    display: flex;
    background-color: transparent;
    height: 60px;
    width: 380px;

    .scaleContainer{
        flex-basis: 100%;
    }

    .axis{
        line{
            fill: transparent;
            stroke: #000000;
            stroke-width: 2px;
        }
        path{
            fill: transparent;
            stroke: #000000;
            stroke-width: 1px;
        }
        text{
            font-size: 12px;
        }
    }

    .axisMinorTicks{
        line{
            fill: transparent;
            stroke: #DCDCDC;
            stroke-width: 2px;
        }
        path{
            fill: transparent;
            stroke: transparent;
            stroke-width: 0px;
        }
        text{
            font-size: 0px;
        }
    }

    .pointer{
        fill: #ff8800;
        stroke: #000000;
        stroke-width: 1px;
    }

    .scaleArea1{
        fill: #99ccff;
        stroke: #000000;
        stroke-width: 1px;
    }

    .scaleArea2{
        fill: #99ff99;
        stroke: #000000;
        stroke-width: 1px;
    }

    .scaleArea3{
        fill: #47d147;
        stroke: #000000;
        stroke-width: 1px;
    }

    .scaleArea4{
        fill: #ffcc66;
        stroke: #000000;
        stroke-width: 1px;
    }

    .scaleArea5{
        fill: #ff704d;
        stroke: #000000;
        stroke-width: 1px;
    }
}