#cntIOImageCell_1_ImageList1 {
  top: 40px;
  position: absolute;
}

#cntIOImageCell_1_ImageList1 {
  left: 170px;
  position: absolute;
}

#cntIOImageCell_1_ImageList1 {
  width: 60px;
}

#cntIOImageCell_1_ImageList1 {
  height: 225px;
}

#cntIOImageCell_1_ImageList1 {
  z-index: 0;
}

#cntIOImageCell_1_ImageList2 {
  top: 40px;
  position: absolute;
}

#cntIOImageCell_1_ImageList2 {
  left: 225px;
  position: absolute;
}

#cntIOImageCell_1_ImageList2 {
  width: 60px;
}

#cntIOImageCell_1_ImageList2 {
  height: 230px;
}

#cntIOImageCell_1_ImageList2 {
  z-index: 1;
}

#cntIOImageCell_1_ImageList2 {
  background-color: rgba(255, 255, 255, 0);
}

#cntIOImageCell_1_ImageList2 {
  margin: 0px;
}

#cntIOImageCell_1_ImageList3 {
  top: 45px;
  position: absolute;
}

#cntIOImageCell_1_ImageList3 {
  left: 315px;
  position: absolute;
}

#cntIOImageCell_1_ImageList3 {
  width: 30px;
}

#cntIOImageCell_1_ImageList3 {
  height: 225px;
}

#cntIOImageCell_1_ImageList3 {
  z-index: 2;
}

#cntIOImageCell_1_ImageList4 {
  top: 45px;
  position: absolute;
}

#cntIOImageCell_1_ImageList4 {
  left: 345px;
  position: absolute;
}

#cntIOImageCell_1_ImageList4 {
  width: 30px;
}

#cntIOImageCell_1_ImageList4 {
  height: 225px;
}

#cntIOImageCell_1_ImageList4 {
  z-index: 3;
}

#cntIOImageCell_1_ImageList5 {
  top: 45px;
  position: absolute;
}

#cntIOImageCell_1_ImageList5 {
  left: 375px;
  position: absolute;
}

#cntIOImageCell_1_ImageList5 {
  width: 30px;
}

#cntIOImageCell_1_ImageList5 {
  height: 225px;
}

#cntIOImageCell_1_ImageList5 {
  z-index: 4;
}

#cntIOImageCell_1_ImageList6 {
  top: 45px;
  position: absolute;
}

#cntIOImageCell_1_ImageList6 {
  left: 405px;
  position: absolute;
}

#cntIOImageCell_1_ImageList6 {
  width: 30px;
}

#cntIOImageCell_1_ImageList6 {
  height: 225px;
}

#cntIOImageCell_1_ImageList6 {
  z-index: 5;
}

#cntIOImageCell_1_ImageList7 {
  top: 45px;
  position: absolute;
}

#cntIOImageCell_1_ImageList7 {
  left: 435px;
  position: absolute;
}

#cntIOImageCell_1_ImageList7 {
  width: 30px;
}

#cntIOImageCell_1_ImageList7 {
  height: 225px;
}

#cntIOImageCell_1_ImageList7 {
  z-index: 6;
}

#cntIOImageCell_1_ImageList_SafetyIO {
  top: 45px;
  position: absolute;
}

#cntIOImageCell_1_ImageList_SafetyIO {
  left: 465px;
  position: absolute;
}

#cntIOImageCell_1_ImageList_SafetyIO {
  width: 45px;
}

#cntIOImageCell_1_ImageList_SafetyIO {
  height: 225px;
}

#cntIOImageCell_1_ImageList_SafetyIO {
  z-index: 7;
}

#cntIOImageCell_1_ImageList_SafetyIO2 {
  top: 45px;
  position: absolute;
}

#cntIOImageCell_1_ImageList_SafetyIO2 {
  left: 510px;
  position: absolute;
}

#cntIOImageCell_1_ImageList_SafetyIO2 {
  width: 60px;
}

#cntIOImageCell_1_ImageList_SafetyIO2 {
  height: 225px;
}

#cntIOImageCell_1_ImageList_SafetyIO2 {
  z-index: 8;
}

#cntIOImageCell_1_ImageList10 {
  top: 45px;
  position: absolute;
}

#cntIOImageCell_1_ImageList10 {
  left: 570px;
  position: absolute;
}

#cntIOImageCell_1_ImageList10 {
  width: 60px;
}

#cntIOImageCell_1_ImageList10 {
  height: 225px;
}

#cntIOImageCell_1_ImageList10 {
  z-index: 9;
}

#cntIOImageCell_1_ImageList11 {
  top: 45px;
  position: absolute;
}

#cntIOImageCell_1_ImageList11 {
  left: 630px;
  position: absolute;
}

#cntIOImageCell_1_ImageList11 {
  width: 30px;
}

#cntIOImageCell_1_ImageList11 {
  height: 225px;
}

#cntIOImageCell_1_ImageList11 {
  z-index: 10;
}

#cntIOImageCell_1_ImageList_SafetyRelay {
  top: 45px;
  position: absolute;
}

#cntIOImageCell_1_ImageList_SafetyRelay {
  left: 45px;
  position: absolute;
}

#cntIOImageCell_1_ImageList_SafetyRelay {
  width: 90px;
}

#cntIOImageCell_1_ImageList_SafetyRelay {
  height: 225px;
}

#cntIOImageCell_1_ImageList_SafetyRelay {
  z-index: 11;
}

#cntIOImageCell_1_ImageList_Robot {
  top: 300px;
  position: absolute;
}

#cntIOImageCell_1_ImageList_Robot {
  left: 90px;
  position: absolute;
}

#cntIOImageCell_1_ImageList_Robot {
  width: 165px;
}

#cntIOImageCell_1_ImageList_Robot {
  height: 240px;
}

#cntIOImageCell_1_ImageList_Robot {
  z-index: 12;
}

#cntIOImageCell_1_Button1_Cntller {
  top: 40px;
  position: absolute;
}

#cntIOImageCell_1_Button1_Cntller {
  left: 170px;
  position: absolute;
}

#cntIOImageCell_1_Button1_Cntller {
  width: 295px;
}

#cntIOImageCell_1_Button1_Cntller {
  height: 225px;
}

#cntIOImageCell_1_Button1_Cntller {
  z-index: 16;
}

#cntIOImageCell_1_ImageList_SuctionModule {
  top: 315px;
  position: absolute;
}

#cntIOImageCell_1_ImageList_SuctionModule {
  left: 375px;
  position: absolute;
}

#cntIOImageCell_1_ImageList_SuctionModule {
  width: 195px;
}

#cntIOImageCell_1_ImageList_SuctionModule {
  height: 205px;
}

#cntIOImageCell_1_ImageList_SuctionModule {
  z-index: 13;
}

#cntIOImageCell_1_Button_SafetyIO {
  top: 50px;
  position: absolute;
}

#cntIOImageCell_1_Button_SafetyIO {
  left: 470px;
  position: absolute;
}

#cntIOImageCell_1_Button_SafetyIO {
  width: 160px;
}

#cntIOImageCell_1_Button_SafetyIO {
  height: 215px;
}

#cntIOImageCell_1_Button_SafetyIO {
  z-index: 14;
}

#cntIOImageCell_1_ImageList8 {
  top: 40px;
  position: absolute;
}

#cntIOImageCell_1_ImageList8 {
  left: 285px;
  position: absolute;
}

#cntIOImageCell_1_ImageList8 {
  width: 30px;
}

#cntIOImageCell_1_ImageList8 {
  height: 225px;
}

#cntIOImageCell_1_ImageList8 {
  z-index: 15;
}
