﻿@import "mixins.scss";
#cntIOImageCell_1_ImageList1 {
	@include elemTop(40);
}
#cntIOImageCell_1_ImageList1 {
	@include elemLeft(170);
}
#cntIOImageCell_1_ImageList1 {
	@include elemWidth(60);
}
#cntIOImageCell_1_ImageList1 {
	@include elemHeight(225);
}
#cntIOImageCell_1_ImageList1 {
		z-index: 0;
}
#cntIOImageCell_1_ImageList2 {
	@include elemTop(40);
}
#cntIOImageCell_1_ImageList2 {
	@include elemLeft(225);
}
#cntIOImageCell_1_ImageList2 {
	@include elemWidth(60);
}
#cntIOImageCell_1_ImageList2 {
	@include elemHeight(230);
}
#cntIOImageCell_1_ImageList2 {
		z-index: 1;
}
#cntIOImageCell_1_ImageList2 {
		background-color: rgba(255, 255, 255, 0);
}
#cntIOImageCell_1_ImageList2 {
		margin: 0px;
}
#cntIOImageCell_1_ImageList3 {
	@include elemTop(45);
}
#cntIOImageCell_1_ImageList3 {
	@include elemLeft(315);
}
#cntIOImageCell_1_ImageList3 {
	@include elemWidth(30);
}
#cntIOImageCell_1_ImageList3 {
	@include elemHeight(225);
}
#cntIOImageCell_1_ImageList3 {
		z-index: 2;
}
#cntIOImageCell_1_ImageList4 {
	@include elemTop(45);
}
#cntIOImageCell_1_ImageList4 {
	@include elemLeft(345);
}
#cntIOImageCell_1_ImageList4 {
	@include elemWidth(30);
}
#cntIOImageCell_1_ImageList4 {
	@include elemHeight(225);
}
#cntIOImageCell_1_ImageList4 {
		z-index: 3;
}
#cntIOImageCell_1_ImageList5 {
	@include elemTop(45);
}
#cntIOImageCell_1_ImageList5 {
	@include elemLeft(375);
}
#cntIOImageCell_1_ImageList5 {
	@include elemWidth(30);
}
#cntIOImageCell_1_ImageList5 {
	@include elemHeight(225);
}
#cntIOImageCell_1_ImageList5 {
		z-index: 4;
}
#cntIOImageCell_1_ImageList6 {
	@include elemTop(45);
}
#cntIOImageCell_1_ImageList6 {
	@include elemLeft(405);
}
#cntIOImageCell_1_ImageList6 {
	@include elemWidth(30);
}
#cntIOImageCell_1_ImageList6 {
	@include elemHeight(225);
}
#cntIOImageCell_1_ImageList6 {
		z-index: 5;
}
#cntIOImageCell_1_ImageList7 {
	@include elemTop(45);
}
#cntIOImageCell_1_ImageList7 {
	@include elemLeft(435);
}
#cntIOImageCell_1_ImageList7 {
	@include elemWidth(30);
}
#cntIOImageCell_1_ImageList7 {
	@include elemHeight(225);
}
#cntIOImageCell_1_ImageList7 {
		z-index: 6;
}
#cntIOImageCell_1_ImageList_SafetyIO {
	@include elemTop(45);
}
#cntIOImageCell_1_ImageList_SafetyIO {
	@include elemLeft(465);
}
#cntIOImageCell_1_ImageList_SafetyIO {
	@include elemWidth(45);
}
#cntIOImageCell_1_ImageList_SafetyIO {
	@include elemHeight(225);
}
#cntIOImageCell_1_ImageList_SafetyIO {
		z-index: 7;
}
#cntIOImageCell_1_ImageList_SafetyIO2 {
	@include elemTop(45);
}
#cntIOImageCell_1_ImageList_SafetyIO2 {
	@include elemLeft(510);
}
#cntIOImageCell_1_ImageList_SafetyIO2 {
	@include elemWidth(60);
}
#cntIOImageCell_1_ImageList_SafetyIO2 {
	@include elemHeight(225);
}
#cntIOImageCell_1_ImageList_SafetyIO2 {
		z-index: 8;
}
#cntIOImageCell_1_ImageList10 {
	@include elemTop(45);
}
#cntIOImageCell_1_ImageList10 {
	@include elemLeft(570);
}
#cntIOImageCell_1_ImageList10 {
	@include elemWidth(60);
}
#cntIOImageCell_1_ImageList10 {
	@include elemHeight(225);
}
#cntIOImageCell_1_ImageList10 {
		z-index: 9;
}
#cntIOImageCell_1_ImageList11 {
	@include elemTop(45);
}
#cntIOImageCell_1_ImageList11 {
	@include elemLeft(630);
}
#cntIOImageCell_1_ImageList11 {
	@include elemWidth(30);
}
#cntIOImageCell_1_ImageList11 {
	@include elemHeight(225);
}
#cntIOImageCell_1_ImageList11 {
		z-index: 10;
}
#cntIOImageCell_1_ImageList_SafetyRelay {
	@include elemTop(45);
}
#cntIOImageCell_1_ImageList_SafetyRelay {
	@include elemLeft(45);
}
#cntIOImageCell_1_ImageList_SafetyRelay {
	@include elemWidth(90);
}
#cntIOImageCell_1_ImageList_SafetyRelay {
	@include elemHeight(225);
}
#cntIOImageCell_1_ImageList_SafetyRelay {
		z-index: 11;
}
#cntIOImageCell_1_ImageList_Robot {
	@include elemTop(300);
}
#cntIOImageCell_1_ImageList_Robot {
	@include elemLeft(90);
}
#cntIOImageCell_1_ImageList_Robot {
	@include elemWidth(165);
}
#cntIOImageCell_1_ImageList_Robot {
	@include elemHeight(240);
}
#cntIOImageCell_1_ImageList_Robot {
		z-index: 12;
}
#cntIOImageCell_1_Button1_Cntller {
	@include elemTop(40);
}
#cntIOImageCell_1_Button1_Cntller {
	@include elemLeft(170);
}
#cntIOImageCell_1_Button1_Cntller {
	@include elemAutoWidth(295);
}
#cntIOImageCell_1_Button1_Cntller {
	@include elemAutoHeight(225);
}
#cntIOImageCell_1_Button1_Cntller {
		z-index: 16;
}
#cntIOImageCell_1_ImageList_SuctionModule {
	@include elemTop(315);
}
#cntIOImageCell_1_ImageList_SuctionModule {
	@include elemLeft(375);
}
#cntIOImageCell_1_ImageList_SuctionModule {
	@include elemWidth(195);
}
#cntIOImageCell_1_ImageList_SuctionModule {
	@include elemHeight(205);
}
#cntIOImageCell_1_ImageList_SuctionModule {
		z-index: 13;
}
#cntIOImageCell_1_Button_SafetyIO {
	@include elemTop(50);
}
#cntIOImageCell_1_Button_SafetyIO {
	@include elemLeft(470);
}
#cntIOImageCell_1_Button_SafetyIO {
	@include elemAutoWidth(160);
}
#cntIOImageCell_1_Button_SafetyIO {
	@include elemAutoHeight(215);
}
#cntIOImageCell_1_Button_SafetyIO {
		z-index: 14;
}
#cntIOImageCell_1_ImageList8 {
	@include elemTop(40);
}
#cntIOImageCell_1_ImageList8 {
	@include elemLeft(285);
}
#cntIOImageCell_1_ImageList8 {
	@include elemWidth(30);
}
#cntIOImageCell_1_ImageList8 {
	@include elemHeight(225);
}
#cntIOImageCell_1_ImageList8 {
		z-index: 15;
}
