﻿@import "mixins.scss";
#cntRecipe_ChangeReqImage_Image_Cell1 {
	@include elemHeight(100);
}
#cntRecipe_ChangeReqImage_Image_Cell1 {
	@include elemTop(128);
}
#cntRecipe_ChangeReqImage_Image_Cell1 {
	@include elemLeft(8);
}
#cntRecipe_ChangeReqImage_Image_Cell1 {
	@include elemWidth(160);
}
#cntRecipe_ChangeReqImage_Image_Cell1 {
		z-index: 0;
}
#cntRecipe_ChangeReqImage_ImageCell_2 {
	@include elemHeight(100);
}
#cntRecipe_ChangeReqImage_ImageCell_2 {
	@include elemTop(128);
}
#cntRecipe_ChangeReqImage_ImageCell_2 {
	@include elemLeft(170);
}
#cntRecipe_ChangeReqImage_ImageCell_2 {
	@include elemWidth(160);
}
#cntRecipe_ChangeReqImage_ImageCell_2 {
		z-index: 1;
}
#cntRecipe_ChangeReqImage_ImageCell_3 {
	@include elemHeight(100);
}
#cntRecipe_ChangeReqImage_ImageCell_3 {
	@include elemTop(128);
}
#cntRecipe_ChangeReqImage_ImageCell_3 {
	@include elemLeft(330);
}
#cntRecipe_ChangeReqImage_ImageCell_3 {
	@include elemWidth(160);
}
#cntRecipe_ChangeReqImage_ImageCell_3 {
		z-index: 2;
}
#cntRecipe_ChangeReqImage_ImageCell_4 {
	@include elemHeight(100);
}
#cntRecipe_ChangeReqImage_ImageCell_4 {
	@include elemTop(128);
}
#cntRecipe_ChangeReqImage_ImageCell_4 {
	@include elemLeft(488);
}
#cntRecipe_ChangeReqImage_ImageCell_4 {
	@include elemWidth(160);
}
#cntRecipe_ChangeReqImage_ImageCell_4 {
		z-index: 3;
}
#cntRecipe_ChangeReqImage_ImageCell_5 {
	@include elemTop(29);
}
#cntRecipe_ChangeReqImage_ImageCell_5 {
	@include elemLeft(650);
}
#cntRecipe_ChangeReqImage_ImageCell_5 {
	@include elemWidth(160);
}
#cntRecipe_ChangeReqImage_ImageCell_5 {
	@include elemHeight(300);
}
#cntRecipe_ChangeReqImage_ImageCell_5 {
		z-index: 4;
}
#cntRecipe_ChangeReqImage_ImageCell_6I {
	@include elemHeight(100);
}
#cntRecipe_ChangeReqImage_ImageCell_6I {
	@include elemTop(29);
}
#cntRecipe_ChangeReqImage_ImageCell_6I {
	@include elemLeft(1130);
}
#cntRecipe_ChangeReqImage_ImageCell_6I {
	@include elemWidth(160);
}
#cntRecipe_ChangeReqImage_ImageCell_6I {
		z-index: 5;
}
#cntRecipe_ChangeReqImage_ImageCell_7 {
	@include elemHeight(100);
}
#cntRecipe_ChangeReqImage_ImageCell_7 {
	@include elemTop(29);
}
#cntRecipe_ChangeReqImage_ImageCell_7 {
	@include elemLeft(810);
}
#cntRecipe_ChangeReqImage_ImageCell_7 {
	@include elemWidth(160);
}
#cntRecipe_ChangeReqImage_ImageCell_7 {
		z-index: 6;
}
#cntRecipe_ChangeReqImage_ImageCell_8 {
	@include elemHeight(100);
}
#cntRecipe_ChangeReqImage_ImageCell_8 {
	@include elemTop(29);
}
#cntRecipe_ChangeReqImage_ImageCell_8 {
	@include elemLeft(967);
}
#cntRecipe_ChangeReqImage_ImageCell_8 {
	@include elemWidth(160);
}
#cntRecipe_ChangeReqImage_ImageCell_8 {
		z-index: 7;
}
#cntRecipe_ChangeReqImage_ImageCell_9 {
	@include elemHeight(100);
}
#cntRecipe_ChangeReqImage_ImageCell_9 {
	@include elemTop(29);
}
#cntRecipe_ChangeReqImage_ImageCell_9 {
	@include elemLeft(1290);
}
#cntRecipe_ChangeReqImage_ImageCell_9 {
	@include elemWidth(160);
}
#cntRecipe_ChangeReqImage_ImageCell_9 {
		z-index: 8;
}
#cntRecipe_ChangeReqImage_ImageCell_10 {
	@include elemHeight(100);
}
#cntRecipe_ChangeReqImage_ImageCell_10 {
	@include elemTop(227);
}
#cntRecipe_ChangeReqImage_ImageCell_10 {
	@include elemLeft(810);
}
#cntRecipe_ChangeReqImage_ImageCell_10 {
	@include elemWidth(160);
}
#cntRecipe_ChangeReqImage_ImageCell_10 {
		z-index: 9;
}
#cntRecipe_ChangeReqImage_ImageCell_11 {
	@include elemHeight(100);
}
#cntRecipe_ChangeReqImage_ImageCell_11 {
	@include elemTop(227);
}
#cntRecipe_ChangeReqImage_ImageCell_11 {
	@include elemLeft(967);
}
#cntRecipe_ChangeReqImage_ImageCell_11 {
	@include elemWidth(160);
}
#cntRecipe_ChangeReqImage_ImageCell_11 {
		z-index: 10;
}
#cntRecipe_ChangeReqImage_ImageCell_12 {
	@include elemHeight(100);
}
#cntRecipe_ChangeReqImage_ImageCell_12 {
	@include elemTop(227);
}
#cntRecipe_ChangeReqImage_ImageCell_12 {
	@include elemLeft(1290);
}
#cntRecipe_ChangeReqImage_ImageCell_12 {
	@include elemWidth(160);
}
#cntRecipe_ChangeReqImage_ImageCell_12 {
		z-index: 11;
}
#cntRecipe_ChangeReqImage_ImageCell_6II {
	@include elemHeight(100);
}
#cntRecipe_ChangeReqImage_ImageCell_6II {
	@include elemTop(227);
}
#cntRecipe_ChangeReqImage_ImageCell_6II {
	@include elemLeft(1130);
}
#cntRecipe_ChangeReqImage_ImageCell_6II {
	@include elemWidth(160);
}
#cntRecipe_ChangeReqImage_ImageCell_6II {
		z-index: 12;
}
