﻿@import "mixins.scss";
#cntRecipe_Buttons_Button_ActiveRecipe {
	@include elemTop(50);
}
#cntRecipe_Buttons_Button_ActiveRecipe {
	@include elemLeft(40);
}
#cntRecipe_Buttons_Button_ActiveRecipe {
	@include elemAutoWidth(300);
}
#cntRecipe_Buttons_Button_ActiveRecipe {
	@include elemAutoHeight(110);
}
#cntRecipe_Buttons_Button_ActiveRecipe {
		z-index: 0;
}
#cntRecipe_Buttons_Button_ActiveRecipe {
	@include border-radius(0px);
}
#cntRecipe_Buttons_Button2 {
	@include elemTop(219);
}
#cntRecipe_Buttons_Button2 {
	@include elemLeft(40);
}
#cntRecipe_Buttons_Button2 {
	@include elemAutoWidth(300);
}
#cntRecipe_Buttons_Button2 {
	@include elemAutoHeight(108);
}
#cntRecipe_Buttons_Button2 {
		z-index: 1;
}
#cntRecipe_Buttons_Button2 {
	@include border-radius(0px);
}
