#cntRecipe_ActiveRecInfo_GroupBox1 {
  top: 0px;
  position: absolute;
}

#cntRecipe_ActiveRecInfo_GroupBox1 {
  left: -10px;
  position: absolute;
}

#cntRecipe_ActiveRecInfo_GroupBox1 {
  width: 390px;
}

#cntRecipe_ActiveRecInfo_GroupBox1 {
  height: 600px;
}

#cntRecipe_ActiveRecInfo_GroupBox1 {
  z-index: 0;
}

#cntRecipe_ActiveRecInfo_GroupBox1 > .container {
  background-image: linear-gradient(to top, #ffffff 0%,#dcdcdc 100%);
}

#cntRecipe_ActiveRecInfo_Label1 {
  top: 39px;
  position: absolute;
}

#cntRecipe_ActiveRecInfo_Label1 {
  left: 9px;
  position: absolute;
}

#cntRecipe_ActiveRecInfo_Label1 {
  width: 381px;
}

#cntRecipe_ActiveRecInfo_Label1 {
  height: 51px;
}

#cntRecipe_ActiveRecInfo_Label1 {
  z-index: 0;
}

#cntRecipe_ActiveRecInfo_NumericOutput1 {
  top: 39px;
  position: absolute;
}

#cntRecipe_ActiveRecInfo_NumericOutput1 {
  left: 269px;
  position: absolute;
}

#cntRecipe_ActiveRecInfo_NumericOutput1 {
  width: 119px;
}

#cntRecipe_ActiveRecInfo_NumericOutput1 {
  height: 50px;
}

#cntRecipe_ActiveRecInfo_NumericOutput1 {
  z-index: 1;
}

#cntRecipe_ActiveRecInfo_NumericOutput1 input {
  justify-content: center;
  text-align: center;
}

#cntRecipe_ActiveRecInfo_GroupBox2 {
  top: 0px;
  position: absolute;
}

#cntRecipe_ActiveRecInfo_GroupBox2 {
  left: 380px;
  position: absolute;
}

#cntRecipe_ActiveRecInfo_GroupBox2 {
  width: 380px;
}

#cntRecipe_ActiveRecInfo_GroupBox2 {
  height: 600px;
}

#cntRecipe_ActiveRecInfo_GroupBox2 {
  z-index: 1;
}

#cntRecipe_ActiveRecInfo_GroupBox2 > .container {
  background-image: linear-gradient(to top, #ffffff 0%,#dcdcdc 100%);
}

#cntRecipe_ActiveRecInfo_GroupBox3 {
  top: 0px;
  position: absolute;
}

#cntRecipe_ActiveRecInfo_GroupBox3 {
  left: 760px;
  position: absolute;
}

#cntRecipe_ActiveRecInfo_GroupBox3 {
  width: 380px;
}

#cntRecipe_ActiveRecInfo_GroupBox3 {
  height: 610px;
}

#cntRecipe_ActiveRecInfo_GroupBox3 {
  z-index: 2;
}

#cntRecipe_ActiveRecInfo_GroupBox3 > .container {
  background-image: linear-gradient(to top, #ffffff 0%,#dcdcdc 100%);
}

#cntRecipe_ActiveRecInfo_GroupBox4 {
  top: 0px;
  position: absolute;
}

#cntRecipe_ActiveRecInfo_GroupBox4 {
  left: 1140px;
  position: absolute;
}

#cntRecipe_ActiveRecInfo_GroupBox4 {
  width: 380px;
}

#cntRecipe_ActiveRecInfo_GroupBox4 {
  height: 600px;
}

#cntRecipe_ActiveRecInfo_GroupBox4 {
  z-index: 3;
}

#cntRecipe_ActiveRecInfo_GroupBox4 > .container {
  background-image: linear-gradient(to top, #ffffff 0%,#dcdcdc 100%);
}

#cntRecipe_ActiveRecInfo_GroupBox5 {
  top: 0px;
  position: absolute;
}

#cntRecipe_ActiveRecInfo_GroupBox5 {
  left: 1520px;
  position: absolute;
}

#cntRecipe_ActiveRecInfo_GroupBox5 {
  width: 360px;
}

#cntRecipe_ActiveRecInfo_GroupBox5 {
  height: 600px;
}

#cntRecipe_ActiveRecInfo_GroupBox5 {
  z-index: 4;
}

#cntRecipe_ActiveRecInfo_GroupBox5 > .container {
  background-image: linear-gradient(to top, #ffffff 0%,#dcdcdc 100%);
}
