﻿@import "mixins.scss";
#cntRecipe_ActiveRecipeImage_Image1 {
	@include elemTop(0);
}
#cntRecipe_ActiveRecipeImage_Image1 {
	@include elemLeft(80);
}
#cntRecipe_ActiveRecipeImage_Image1 {
	@include elemAutoWidth(1379);
}
#cntRecipe_ActiveRecipeImage_Image1 {
	@include elemAutoHeight(340);
}
#cntRecipe_ActiveRecipeImage_Image1 {
		z-index: 0;
}
#cntRecipe_ActiveRecipeImage_Button_Cell12345 {
	@include elemTop(109);
}
#cntRecipe_ActiveRecipeImage_Button_Cell12345 {
	@include elemLeft(109);
}
#cntRecipe_ActiveRecipeImage_Button_Cell12345 {
	@include elemAutoWidth(592);
}
#cntRecipe_ActiveRecipeImage_Button_Cell12345 {
	@include elemAutoHeight(123);
}
#cntRecipe_ActiveRecipeImage_Button_Cell12345 {
		z-index: 1;
}
#cntRecipe_ActiveRecipeImage_Button_Cell6789 {
	@include elemTop(20);
}
#cntRecipe_ActiveRecipeImage_Button_Cell6789 {
	@include elemLeft(710);
}
#cntRecipe_ActiveRecipeImage_Button_Cell6789 {
	@include elemAutoWidth(730);
}
#cntRecipe_ActiveRecipeImage_Button_Cell6789 {
	@include elemAutoHeight(123);
}
#cntRecipe_ActiveRecipeImage_Button_Cell6789 {
		z-index: 2;
}
#cntRecipe_ActiveRecipeImage_Button_Cell1011126 {
	@include elemTop(200);
}
#cntRecipe_ActiveRecipeImage_Button_Cell1011126 {
	@include elemLeft(710);
}
#cntRecipe_ActiveRecipeImage_Button_Cell1011126 {
	@include elemAutoWidth(730);
}
#cntRecipe_ActiveRecipeImage_Button_Cell1011126 {
	@include elemAutoHeight(123);
}
#cntRecipe_ActiveRecipeImage_Button_Cell1011126 {
		z-index: 3;
}
