#cntRecipe_Buttons_Button_ActiveRecipe {
  top: 50px;
  position: absolute;
}

#cntRecipe_Buttons_Button_ActiveRecipe {
  left: 40px;
  position: absolute;
}

#cntRecipe_Buttons_Button_ActiveRecipe {
  width: 300px;
}

#cntRecipe_Buttons_Button_ActiveRecipe {
  height: 110px;
}

#cntRecipe_Buttons_Button_ActiveRecipe {
  z-index: 0;
}

#cntRecipe_Buttons_Button_ActiveRecipe {
  border-radius: 0px;
}

#cntRecipe_Buttons_Button2 {
  top: 219px;
  position: absolute;
}

#cntRecipe_Buttons_Button2 {
  left: 40px;
  position: absolute;
}

#cntRecipe_Buttons_Button2 {
  width: 300px;
}

#cntRecipe_Buttons_Button2 {
  height: 108px;
}

#cntRecipe_Buttons_Button2 {
  z-index: 1;
}

#cntRecipe_Buttons_Button2 {
  border-radius: 0px;
}
