﻿@import "mixins.scss";
#cntRecipe_ActiveRecInfo_GroupBox1 {
	@include elemTop(0);
}
#cntRecipe_ActiveRecInfo_GroupBox1 {
	@include elemLeft(-10);
}
#cntRecipe_ActiveRecInfo_GroupBox1 {
	@include elemWidth(390);
}
#cntRecipe_ActiveRecInfo_GroupBox1 {
	@include elemHeight(600);
}
#cntRecipe_ActiveRecInfo_GroupBox1 {
		z-index: 0;
}
#cntRecipe_ActiveRecInfo_GroupBox1 {
	> .container{
	@include backGroundGradient('linear-gradient(to top, #ffffff 0%,#dcdcdc 100%)');
	}
}
#cntRecipe_ActiveRecInfo_Label1 {
	@include elemTop(39);
}
#cntRecipe_ActiveRecInfo_Label1 {
	@include elemLeft(9);
}
#cntRecipe_ActiveRecInfo_Label1 {
	@include elemAutoWidth(381);
}
#cntRecipe_ActiveRecInfo_Label1 {
	@include elemAutoHeight(51);
}
#cntRecipe_ActiveRecInfo_Label1 {
		z-index: 0;
}
#cntRecipe_ActiveRecInfo_NumericOutput1 {
	@include elemTop(39);
}
#cntRecipe_ActiveRecInfo_NumericOutput1 {
	@include elemLeft(269);
}
#cntRecipe_ActiveRecInfo_NumericOutput1 {
	@include elemAutoWidth(119);
}
#cntRecipe_ActiveRecInfo_NumericOutput1 {
	@include elemAutoHeight(50);
}
#cntRecipe_ActiveRecInfo_NumericOutput1 {
		z-index: 1;
}
#cntRecipe_ActiveRecInfo_NumericOutput1 {
	input{
	@include text-alignment(center);
	}
}
#cntRecipe_ActiveRecInfo_GroupBox2 {
	@include elemTop(0);
}
#cntRecipe_ActiveRecInfo_GroupBox2 {
	@include elemLeft(380);
}
#cntRecipe_ActiveRecInfo_GroupBox2 {
	@include elemWidth(380);
}
#cntRecipe_ActiveRecInfo_GroupBox2 {
	@include elemHeight(600);
}
#cntRecipe_ActiveRecInfo_GroupBox2 {
		z-index: 1;
}
#cntRecipe_ActiveRecInfo_GroupBox2 {
	> .container{
	@include backGroundGradient('linear-gradient(to top, #ffffff 0%,#dcdcdc 100%)');
	}
}
#cntRecipe_ActiveRecInfo_GroupBox3 {
	@include elemTop(0);
}
#cntRecipe_ActiveRecInfo_GroupBox3 {
	@include elemLeft(760);
}
#cntRecipe_ActiveRecInfo_GroupBox3 {
	@include elemWidth(380);
}
#cntRecipe_ActiveRecInfo_GroupBox3 {
	@include elemHeight(610);
}
#cntRecipe_ActiveRecInfo_GroupBox3 {
		z-index: 2;
}
#cntRecipe_ActiveRecInfo_GroupBox3 {
	> .container{
	@include backGroundGradient('linear-gradient(to top, #ffffff 0%,#dcdcdc 100%)');
	}
}
#cntRecipe_ActiveRecInfo_GroupBox4 {
	@include elemTop(0);
}
#cntRecipe_ActiveRecInfo_GroupBox4 {
	@include elemLeft(1140);
}
#cntRecipe_ActiveRecInfo_GroupBox4 {
	@include elemWidth(380);
}
#cntRecipe_ActiveRecInfo_GroupBox4 {
	@include elemHeight(600);
}
#cntRecipe_ActiveRecInfo_GroupBox4 {
		z-index: 3;
}
#cntRecipe_ActiveRecInfo_GroupBox4 {
	> .container{
	@include backGroundGradient('linear-gradient(to top, #ffffff 0%,#dcdcdc 100%)');
	}
}
#cntRecipe_ActiveRecInfo_GroupBox5 {
	@include elemTop(0);
}
#cntRecipe_ActiveRecInfo_GroupBox5 {
	@include elemLeft(1520);
}
#cntRecipe_ActiveRecInfo_GroupBox5 {
	@include elemWidth(360);
}
#cntRecipe_ActiveRecInfo_GroupBox5 {
	@include elemHeight(600);
}
#cntRecipe_ActiveRecInfo_GroupBox5 {
		z-index: 4;
}
#cntRecipe_ActiveRecInfo_GroupBox5 {
	> .container{
	@include backGroundGradient('linear-gradient(to top, #ffffff 0%,#dcdcdc 100%)');
	}
}
