#cntRecipe_ActiveRecipeImage_Image1 {
  top: 0px;
  position: absolute;
}

#cntRecipe_ActiveRecipeImage_Image1 {
  left: 80px;
  position: absolute;
}

#cntRecipe_ActiveRecipeImage_Image1 {
  width: 1379px;
}

#cntRecipe_ActiveRecipeImage_Image1 {
  height: 340px;
}

#cntRecipe_ActiveRecipeImage_Image1 {
  z-index: 0;
}

#cntRecipe_ActiveRecipeImage_Button_Cell12345 {
  top: 109px;
  position: absolute;
}

#cntRecipe_ActiveRecipeImage_Button_Cell12345 {
  left: 109px;
  position: absolute;
}

#cntRecipe_ActiveRecipeImage_Button_Cell12345 {
  width: 592px;
}

#cntRecipe_ActiveRecipeImage_Button_Cell12345 {
  height: 123px;
}

#cntRecipe_ActiveRecipeImage_Button_Cell12345 {
  z-index: 1;
}

#cntRecipe_ActiveRecipeImage_Button_Cell6789 {
  top: 20px;
  position: absolute;
}

#cntRecipe_ActiveRecipeImage_Button_Cell6789 {
  left: 710px;
  position: absolute;
}

#cntRecipe_ActiveRecipeImage_Button_Cell6789 {
  width: 730px;
}

#cntRecipe_ActiveRecipeImage_Button_Cell6789 {
  height: 123px;
}

#cntRecipe_ActiveRecipeImage_Button_Cell6789 {
  z-index: 2;
}

#cntRecipe_ActiveRecipeImage_Button_Cell1011126 {
  top: 200px;
  position: absolute;
}

#cntRecipe_ActiveRecipeImage_Button_Cell1011126 {
  left: 710px;
  position: absolute;
}

#cntRecipe_ActiveRecipeImage_Button_Cell1011126 {
  width: 730px;
}

#cntRecipe_ActiveRecipeImage_Button_Cell1011126 {
  height: 123px;
}

#cntRecipe_ActiveRecipeImage_Button_Cell1011126 {
  z-index: 3;
}
