﻿@import "mixins.scss";
#cntRecipe_ChangeReqInfo_Cell_5_Table1 {
	@include elemTop(70);
}
#cntRecipe_ChangeReqInfo_Cell_5_Table1 {
	@include elemLeft(640);
}
#cntRecipe_ChangeReqInfo_Cell_5_Table1 {
	@include elemWidth(860);
}
#cntRecipe_ChangeReqInfo_Cell_5_Table1 {
	@include elemHeight(530);
}
#cntRecipe_ChangeReqInfo_Cell_5_Table1 {
		z-index: 0;
}
#cntRecipe_ChangeReqInfo_Cell_5_TableItem1 {
		z-index: 0;
}
#cntRecipe_ChangeReqInfo_Cell_5_TableItem1 {
	&.headerElement.override > span{
	@include importantBoldText(false);
	}
}
#cntRecipe_ChangeReqInfo_Cell_5_TableItem1 {
	&:not(.headerElement):not(.disabled).override{
	@include importantBoldText(false);
	}
}
#cntRecipe_ChangeReqInfo_Cell_5_TableItem1 {
	&:not(.headerElement).override.disabled{
	@include importantBoldText(false);
	}
}
#cntRecipe_ChangeReqInfo_Cell_5_TableItem2 {
		z-index: 1;
}
#cntRecipe_ChangeReqInfo_Cell_5_TableItem3 {
		z-index: 2;
}
#cntRecipe_ChangeReqInfo_Cell_5_TableItemImageList1 {
		z-index: 3;
}
#cntRecipe_ChangeReqInfo_Cell_5_Image1 {
	@include elemTop(119);
}
#cntRecipe_ChangeReqInfo_Cell_5_Image1 {
	@include elemLeft(600);
}
#cntRecipe_ChangeReqInfo_Cell_5_Image1 {
	@include elemAutoWidth(40);
}
#cntRecipe_ChangeReqInfo_Cell_5_Image1 {
	@include elemAutoHeight(40);
}
#cntRecipe_ChangeReqInfo_Cell_5_Image1 {
		z-index: 1;
}
#cntRecipe_ChangeReqInfo_Cell_5_Image2 {
	@include elemTop(160);
}
#cntRecipe_ChangeReqInfo_Cell_5_Image2 {
	@include elemLeft(600);
}
#cntRecipe_ChangeReqInfo_Cell_5_Image2 {
	@include elemAutoWidth(40);
}
#cntRecipe_ChangeReqInfo_Cell_5_Image2 {
	@include elemAutoHeight(40);
}
#cntRecipe_ChangeReqInfo_Cell_5_Image2 {
		z-index: 2;
}
#cntRecipe_ChangeReqInfo_Cell_5_Image3 {
	@include elemTop(200);
}
#cntRecipe_ChangeReqInfo_Cell_5_Image3 {
	@include elemLeft(600);
}
#cntRecipe_ChangeReqInfo_Cell_5_Image3 {
	@include elemAutoWidth(40);
}
#cntRecipe_ChangeReqInfo_Cell_5_Image3 {
	@include elemAutoHeight(40);
}
#cntRecipe_ChangeReqInfo_Cell_5_Image3 {
		z-index: 3;
}
#cntRecipe_ChangeReqInfo_Cell_5_Image4 {
	@include elemTop(239);
}
#cntRecipe_ChangeReqInfo_Cell_5_Image4 {
	@include elemLeft(600);
}
#cntRecipe_ChangeReqInfo_Cell_5_Image4 {
	@include elemAutoWidth(40);
}
#cntRecipe_ChangeReqInfo_Cell_5_Image4 {
	@include elemAutoHeight(40);
}
#cntRecipe_ChangeReqInfo_Cell_5_Image4 {
		z-index: 4;
}
#cntRecipe_ChangeReqInfo_Cell_5_Image5 {
	@include elemTop(280);
}
#cntRecipe_ChangeReqInfo_Cell_5_Image5 {
	@include elemLeft(600);
}
#cntRecipe_ChangeReqInfo_Cell_5_Image5 {
	@include elemAutoWidth(40);
}
#cntRecipe_ChangeReqInfo_Cell_5_Image5 {
	@include elemAutoHeight(40);
}
#cntRecipe_ChangeReqInfo_Cell_5_Image5 {
		z-index: 5;
}
#cntRecipe_ChangeReqInfo_Cell_5_Image6 {
	@include elemTop(320);
}
#cntRecipe_ChangeReqInfo_Cell_5_Image6 {
	@include elemLeft(600);
}
#cntRecipe_ChangeReqInfo_Cell_5_Image6 {
	@include elemAutoWidth(40);
}
#cntRecipe_ChangeReqInfo_Cell_5_Image6 {
	@include elemAutoHeight(40);
}
#cntRecipe_ChangeReqInfo_Cell_5_Image6 {
		z-index: 6;
}
#cntRecipe_ChangeReqInfo_Cell_5_Image7 {
	@include elemTop(360);
}
#cntRecipe_ChangeReqInfo_Cell_5_Image7 {
	@include elemLeft(600);
}
#cntRecipe_ChangeReqInfo_Cell_5_Image7 {
	@include elemAutoWidth(40);
}
#cntRecipe_ChangeReqInfo_Cell_5_Image7 {
	@include elemAutoHeight(40);
}
#cntRecipe_ChangeReqInfo_Cell_5_Image7 {
		z-index: 7;
}
#cntRecipe_ChangeReqInfo_Cell_5_Image8 {
	@include elemTop(400);
}
#cntRecipe_ChangeReqInfo_Cell_5_Image8 {
	@include elemLeft(600);
}
#cntRecipe_ChangeReqInfo_Cell_5_Image8 {
	@include elemAutoWidth(40);
}
#cntRecipe_ChangeReqInfo_Cell_5_Image8 {
	@include elemAutoHeight(40);
}
#cntRecipe_ChangeReqInfo_Cell_5_Image8 {
		z-index: 8;
}
#cntRecipe_ChangeReqInfo_Cell_5_Image9 {
	@include elemTop(439);
}
#cntRecipe_ChangeReqInfo_Cell_5_Image9 {
	@include elemLeft(600);
}
#cntRecipe_ChangeReqInfo_Cell_5_Image9 {
	@include elemAutoWidth(40);
}
#cntRecipe_ChangeReqInfo_Cell_5_Image9 {
	@include elemAutoHeight(40);
}
#cntRecipe_ChangeReqInfo_Cell_5_Image9 {
		z-index: 9;
}
#cntRecipe_ChangeReqInfo_Cell_5_Image10 {
	@include elemTop(479);
}
#cntRecipe_ChangeReqInfo_Cell_5_Image10 {
	@include elemLeft(600);
}
#cntRecipe_ChangeReqInfo_Cell_5_Image10 {
	@include elemAutoWidth(40);
}
#cntRecipe_ChangeReqInfo_Cell_5_Image10 {
	@include elemAutoHeight(40);
}
#cntRecipe_ChangeReqInfo_Cell_5_Image10 {
		z-index: 10;
}
#cntRecipe_ChangeReqInfo_Cell_5_Image11 {
	@include elemTop(520);
}
#cntRecipe_ChangeReqInfo_Cell_5_Image11 {
	@include elemLeft(600);
}
#cntRecipe_ChangeReqInfo_Cell_5_Image11 {
	@include elemAutoWidth(40);
}
#cntRecipe_ChangeReqInfo_Cell_5_Image11 {
	@include elemAutoHeight(40);
}
#cntRecipe_ChangeReqInfo_Cell_5_Image11 {
		z-index: 11;
}
#cntRecipe_ChangeReqInfo_Cell_5_Image12 {
	@include elemTop(560);
}
#cntRecipe_ChangeReqInfo_Cell_5_Image12 {
	@include elemLeft(600);
}
#cntRecipe_ChangeReqInfo_Cell_5_Image12 {
	@include elemAutoWidth(40);
}
#cntRecipe_ChangeReqInfo_Cell_5_Image12 {
	@include elemAutoHeight(40);
}
#cntRecipe_ChangeReqInfo_Cell_5_Image12 {
		z-index: 12;
}
