#cntRecipe_ChangeReqInfo_Cell_4_Table1 {
  top: 70px;
  position: absolute;
}

#cntRecipe_ChangeReqInfo_Cell_4_Table1 {
  left: 640px;
  position: absolute;
}

#cntRecipe_ChangeReqInfo_Cell_4_Table1 {
  width: 860px;
}

#cntRecipe_ChangeReqInfo_Cell_4_Table1 {
  height: 530px;
}

#cntRecipe_ChangeReqInfo_Cell_4_Table1 {
  z-index: 0;
}

#cntRecipe_ChangeReqInfo_Cell_4_TableItem1 {
  z-index: 0;
}

#cntRecipe_ChangeReqInfo_Cell_4_TableItem1.headerElement.override > span {
  font-weight: normal !important;
}

#cntRecipe_ChangeReqInfo_Cell_4_TableItem1:not(.headerElement):not(.disabled).override {
  font-weight: normal !important;
}

#cntRecipe_ChangeReqInfo_Cell_4_TableItem1:not(.headerElement).override.disabled {
  font-weight: normal !important;
}

#cntRecipe_ChangeReqInfo_Cell_4_TableItem2 {
  z-index: 1;
}

#cntRecipe_ChangeReqInfo_Cell_4_TableItem3 {
  z-index: 2;
}

#cntRecipe_ChangeReqInfo_Cell_4_TableItemImageList1 {
  z-index: 3;
}

#cntRecipe_ChangeReqInfo_Cell_4_Image1 {
  top: 119px;
  position: absolute;
}

#cntRecipe_ChangeReqInfo_Cell_4_Image1 {
  left: 600px;
  position: absolute;
}

#cntRecipe_ChangeReqInfo_Cell_4_Image1 {
  width: 40px;
}

#cntRecipe_ChangeReqInfo_Cell_4_Image1 {
  height: 40px;
}

#cntRecipe_ChangeReqInfo_Cell_4_Image1 {
  z-index: 1;
}

#cntRecipe_ChangeReqInfo_Cell_4_Image2 {
  top: 160px;
  position: absolute;
}

#cntRecipe_ChangeReqInfo_Cell_4_Image2 {
  left: 600px;
  position: absolute;
}

#cntRecipe_ChangeReqInfo_Cell_4_Image2 {
  width: 40px;
}

#cntRecipe_ChangeReqInfo_Cell_4_Image2 {
  height: 40px;
}

#cntRecipe_ChangeReqInfo_Cell_4_Image2 {
  z-index: 2;
}

#cntRecipe_ChangeReqInfo_Cell_4_Image3 {
  top: 200px;
  position: absolute;
}

#cntRecipe_ChangeReqInfo_Cell_4_Image3 {
  left: 600px;
  position: absolute;
}

#cntRecipe_ChangeReqInfo_Cell_4_Image3 {
  width: 40px;
}

#cntRecipe_ChangeReqInfo_Cell_4_Image3 {
  height: 40px;
}

#cntRecipe_ChangeReqInfo_Cell_4_Image3 {
  z-index: 3;
}

#cntRecipe_ChangeReqInfo_Cell_4_Image4 {
  top: 239px;
  position: absolute;
}

#cntRecipe_ChangeReqInfo_Cell_4_Image4 {
  left: 600px;
  position: absolute;
}

#cntRecipe_ChangeReqInfo_Cell_4_Image4 {
  width: 40px;
}

#cntRecipe_ChangeReqInfo_Cell_4_Image4 {
  height: 40px;
}

#cntRecipe_ChangeReqInfo_Cell_4_Image4 {
  z-index: 4;
}

#cntRecipe_ChangeReqInfo_Cell_4_Image5 {
  top: 280px;
  position: absolute;
}

#cntRecipe_ChangeReqInfo_Cell_4_Image5 {
  left: 600px;
  position: absolute;
}

#cntRecipe_ChangeReqInfo_Cell_4_Image5 {
  width: 40px;
}

#cntRecipe_ChangeReqInfo_Cell_4_Image5 {
  height: 40px;
}

#cntRecipe_ChangeReqInfo_Cell_4_Image5 {
  z-index: 5;
}

#cntRecipe_ChangeReqInfo_Cell_4_Image6 {
  top: 320px;
  position: absolute;
}

#cntRecipe_ChangeReqInfo_Cell_4_Image6 {
  left: 600px;
  position: absolute;
}

#cntRecipe_ChangeReqInfo_Cell_4_Image6 {
  width: 40px;
}

#cntRecipe_ChangeReqInfo_Cell_4_Image6 {
  height: 40px;
}

#cntRecipe_ChangeReqInfo_Cell_4_Image6 {
  z-index: 6;
}

#cntRecipe_ChangeReqInfo_Cell_4_Image7 {
  top: 360px;
  position: absolute;
}

#cntRecipe_ChangeReqInfo_Cell_4_Image7 {
  left: 600px;
  position: absolute;
}

#cntRecipe_ChangeReqInfo_Cell_4_Image7 {
  width: 40px;
}

#cntRecipe_ChangeReqInfo_Cell_4_Image7 {
  height: 40px;
}

#cntRecipe_ChangeReqInfo_Cell_4_Image7 {
  z-index: 7;
}

#cntRecipe_ChangeReqInfo_Cell_4_Image8 {
  top: 400px;
  position: absolute;
}

#cntRecipe_ChangeReqInfo_Cell_4_Image8 {
  left: 600px;
  position: absolute;
}

#cntRecipe_ChangeReqInfo_Cell_4_Image8 {
  width: 40px;
}

#cntRecipe_ChangeReqInfo_Cell_4_Image8 {
  height: 40px;
}

#cntRecipe_ChangeReqInfo_Cell_4_Image8 {
  z-index: 8;
}

#cntRecipe_ChangeReqInfo_Cell_4_Image9 {
  top: 439px;
  position: absolute;
}

#cntRecipe_ChangeReqInfo_Cell_4_Image9 {
  left: 600px;
  position: absolute;
}

#cntRecipe_ChangeReqInfo_Cell_4_Image9 {
  width: 40px;
}

#cntRecipe_ChangeReqInfo_Cell_4_Image9 {
  height: 40px;
}

#cntRecipe_ChangeReqInfo_Cell_4_Image9 {
  z-index: 9;
}

#cntRecipe_ChangeReqInfo_Cell_4_Image10 {
  top: 479px;
  position: absolute;
}

#cntRecipe_ChangeReqInfo_Cell_4_Image10 {
  left: 600px;
  position: absolute;
}

#cntRecipe_ChangeReqInfo_Cell_4_Image10 {
  width: 40px;
}

#cntRecipe_ChangeReqInfo_Cell_4_Image10 {
  height: 40px;
}

#cntRecipe_ChangeReqInfo_Cell_4_Image10 {
  z-index: 10;
}

#cntRecipe_ChangeReqInfo_Cell_4_Image11 {
  top: 520px;
  position: absolute;
}

#cntRecipe_ChangeReqInfo_Cell_4_Image11 {
  left: 600px;
  position: absolute;
}

#cntRecipe_ChangeReqInfo_Cell_4_Image11 {
  width: 40px;
}

#cntRecipe_ChangeReqInfo_Cell_4_Image11 {
  height: 40px;
}

#cntRecipe_ChangeReqInfo_Cell_4_Image11 {
  z-index: 11;
}

#cntRecipe_ChangeReqInfo_Cell_4_Image12 {
  top: 560px;
  position: absolute;
}

#cntRecipe_ChangeReqInfo_Cell_4_Image12 {
  left: 600px;
  position: absolute;
}

#cntRecipe_ChangeReqInfo_Cell_4_Image12 {
  width: 40px;
}

#cntRecipe_ChangeReqInfo_Cell_4_Image12 {
  height: 40px;
}

#cntRecipe_ChangeReqInfo_Cell_4_Image12 {
  z-index: 12;
}
