@import '../../../../css/libs/mixins.scss';

$text-color: #333;

div[data-brease-widget='widgets/brease/FlexBoxItem'] {
    display: none;
}

.breaseFlexBoxItem {
    &.initialized {
        display: block;
    }

    top: 0px !important;
    left: 0px !important;
    background-color: #ffffff;
    top:0px;
    left:0px;
    border: 1px solid #dfdfdf;
    position:relative !important;
    overflow: hidden;
    @include box-sizing(border-box);
    flex-grow: 1;
    flex-shrink: 0;
    transition: flex-grow 0s;

    > .container {
        display: block;
        position: absolute;
        @include box-sizing(border-box);
        width: 100%;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        overflow: hidden;

        > .scrollWrapper {
            position: absolute;
            min-height: 100%;
            min-width: 100%;
        }
    }

    &.editMode {
        > .container {
            > .scrollWrapper {
                width:inherit;
            }
        }
    }

    .header {
        width: 100%;
        height: 35px;
        overflow: hidden;
        @include box-sizing(border-box);
        padding: 0 10px;
        border-bottom: 1px solid #dfdfdf;
        @include displayFlexBox(true);
        @include flex-direction(row);
        @include align-items(center);
        @include flex-wrap(nowrap);
        @include justify-content(left);
        text-align: left;
        border-bottom-left-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
        border-radius: inherit;

        span {
            display: inline-block;
            overflow: hidden;
            white-space: nowrap;
            pointer-events: none;
            margin: 0;
            padding: 0;
            @include flex(0 1 auto);
        }

        img {
            display: inline-block;
            vertical-align: middle;
            pointer-events: none;
            padding: 0;
            margin: 0;
            @include flex(none);
        }

        &.image-left img {
            margin: 0 10px 0 0;
        }

        &.image-right img {
            margin: 0 0 0 10px;
        }

        &.ellipsis span {
            @include text-overflow(ellipsis);
        }
    }
}
