﻿@import "mixins.scss";
#cntRobotOutputsCell_1_GridLine1 {
	@include elemTop(0);
}
#cntRobotOutputsCell_1_GridLine1 {
	@include elemLeft(0);
}
#cntRobotOutputsCell_1_GridLine1 {
	@include elemWidth(300);
}
#cntRobotOutputsCell_1_GridLine1 {
	@include elemHeight(540);
}
#cntRobotOutputsCell_1_GridLine1 {
		z-index: 0;
}
#cntRobotOutputsCell_1_GridLine1 {
	.container{
		padding: 5px 0px;
	}
}
#cntRobotOutputsCell_1_GridLineItem1 {
		z-index: 0;
}
#cntRobotOutputsCell_1_GridLineItem1 {
		padding: 0px 10px 10px 10px;
}
#cntRobotOutputsCell_1_ImageList1 {
	@include elemTop(105);
}
#cntRobotOutputsCell_1_ImageList1 {
	@include elemLeft(15);
}
#cntRobotOutputsCell_1_ImageList1 {
	@include elemWidth(20);
}
#cntRobotOutputsCell_1_ImageList1 {
	@include elemHeight(20);
}
#cntRobotOutputsCell_1_ImageList1 {
		z-index: 0;
}
#cntRobotOutputsCell_1_Label1 {
	@include elemTop(45);
}
#cntRobotOutputsCell_1_Label1 {
	@include elemLeft(50);
}
#cntRobotOutputsCell_1_Label1 {
	@include elemAutoWidth(210);
}
#cntRobotOutputsCell_1_Label1 {
	@include elemAutoHeight(20);
}
#cntRobotOutputsCell_1_Label1 {
		z-index: 1;
}
#cntRobotOutputsCell_1_ImageList2 {
	@include elemTop(135);
}
#cntRobotOutputsCell_1_ImageList2 {
	@include elemLeft(15);
}
#cntRobotOutputsCell_1_ImageList2 {
	@include elemWidth(20);
}
#cntRobotOutputsCell_1_ImageList2 {
	@include elemHeight(20);
}
#cntRobotOutputsCell_1_ImageList2 {
		z-index: 2;
}
#cntRobotOutputsCell_1_ImageList3 {
	@include elemTop(165);
}
#cntRobotOutputsCell_1_ImageList3 {
	@include elemLeft(15);
}
#cntRobotOutputsCell_1_ImageList3 {
	@include elemWidth(20);
}
#cntRobotOutputsCell_1_ImageList3 {
	@include elemHeight(20);
}
#cntRobotOutputsCell_1_ImageList3 {
		z-index: 3;
}
#cntRobotOutputsCell_1_ImageList4 {
	@include elemTop(195);
}
#cntRobotOutputsCell_1_ImageList4 {
	@include elemLeft(15);
}
#cntRobotOutputsCell_1_ImageList4 {
	@include elemWidth(20);
}
#cntRobotOutputsCell_1_ImageList4 {
	@include elemHeight(20);
}
#cntRobotOutputsCell_1_ImageList4 {
		z-index: 4;
}
#cntRobotOutputsCell_1_ImageList5 {
	@include elemTop(225);
}
#cntRobotOutputsCell_1_ImageList5 {
	@include elemLeft(15);
}
#cntRobotOutputsCell_1_ImageList5 {
	@include elemWidth(20);
}
#cntRobotOutputsCell_1_ImageList5 {
	@include elemHeight(20);
}
#cntRobotOutputsCell_1_ImageList5 {
		z-index: 5;
}
#cntRobotOutputsCell_1_ImageList6 {
	@include elemTop(255);
}
#cntRobotOutputsCell_1_ImageList6 {
	@include elemLeft(15);
}
#cntRobotOutputsCell_1_ImageList6 {
	@include elemWidth(20);
}
#cntRobotOutputsCell_1_ImageList6 {
	@include elemHeight(20);
}
#cntRobotOutputsCell_1_ImageList6 {
		z-index: 6;
}
#cntRobotOutputsCell_1_ImageList7 {
	@include elemTop(285);
}
#cntRobotOutputsCell_1_ImageList7 {
	@include elemLeft(15);
}
#cntRobotOutputsCell_1_ImageList7 {
	@include elemWidth(20);
}
#cntRobotOutputsCell_1_ImageList7 {
	@include elemHeight(20);
}
#cntRobotOutputsCell_1_ImageList7 {
		z-index: 7;
}
#cntRobotOutputsCell_1_ImageList8 {
	@include elemTop(315);
}
#cntRobotOutputsCell_1_ImageList8 {
	@include elemLeft(15);
}
#cntRobotOutputsCell_1_ImageList8 {
	@include elemWidth(20);
}
#cntRobotOutputsCell_1_ImageList8 {
	@include elemHeight(20);
}
#cntRobotOutputsCell_1_ImageList8 {
		z-index: 8;
}
#cntRobotOutputsCell_1_ImageList9 {
	@include elemTop(345);
}
#cntRobotOutputsCell_1_ImageList9 {
	@include elemLeft(15);
}
#cntRobotOutputsCell_1_ImageList9 {
	@include elemWidth(20);
}
#cntRobotOutputsCell_1_ImageList9 {
	@include elemHeight(20);
}
#cntRobotOutputsCell_1_ImageList9 {
		z-index: 9;
}
#cntRobotOutputsCell_1_ImageList10 {
	@include elemTop(375);
}
#cntRobotOutputsCell_1_ImageList10 {
	@include elemLeft(15);
}
#cntRobotOutputsCell_1_ImageList10 {
	@include elemWidth(20);
}
#cntRobotOutputsCell_1_ImageList10 {
	@include elemHeight(20);
}
#cntRobotOutputsCell_1_ImageList10 {
		z-index: 10;
}
#cntRobotOutputsCell_1_ImageList11 {
	@include elemTop(405);
}
#cntRobotOutputsCell_1_ImageList11 {
	@include elemLeft(15);
}
#cntRobotOutputsCell_1_ImageList11 {
	@include elemWidth(20);
}
#cntRobotOutputsCell_1_ImageList11 {
	@include elemHeight(20);
}
#cntRobotOutputsCell_1_ImageList11 {
		z-index: 11;
}
#cntRobotOutputsCell_1_ImageList12 {
	@include elemTop(435);
}
#cntRobotOutputsCell_1_ImageList12 {
	@include elemLeft(15);
}
#cntRobotOutputsCell_1_ImageList12 {
	@include elemWidth(20);
}
#cntRobotOutputsCell_1_ImageList12 {
	@include elemHeight(20);
}
#cntRobotOutputsCell_1_ImageList12 {
		z-index: 12;
}
#cntRobotOutputsCell_1_ImageList13 {
	@include elemTop(465);
}
#cntRobotOutputsCell_1_ImageList13 {
	@include elemLeft(15);
}
#cntRobotOutputsCell_1_ImageList13 {
	@include elemWidth(20);
}
#cntRobotOutputsCell_1_ImageList13 {
	@include elemHeight(20);
}
#cntRobotOutputsCell_1_ImageList13 {
		z-index: 13;
}
#cntRobotOutputsCell_1_ImageList14 {
	@include elemTop(495);
}
#cntRobotOutputsCell_1_ImageList14 {
	@include elemLeft(15);
}
#cntRobotOutputsCell_1_ImageList14 {
	@include elemWidth(20);
}
#cntRobotOutputsCell_1_ImageList14 {
	@include elemHeight(20);
}
#cntRobotOutputsCell_1_ImageList14 {
		z-index: 14;
}
#cntRobotOutputsCell_1_ImageList47 {
	@include elemTop(75);
}
#cntRobotOutputsCell_1_ImageList47 {
	@include elemLeft(15);
}
#cntRobotOutputsCell_1_ImageList47 {
	@include elemWidth(20);
}
#cntRobotOutputsCell_1_ImageList47 {
	@include elemHeight(20);
}
#cntRobotOutputsCell_1_ImageList47 {
		z-index: 15;
}
#cntRobotOutputsCell_1_ImageList48 {
	@include elemTop(45);
}
#cntRobotOutputsCell_1_ImageList48 {
	@include elemLeft(15);
}
#cntRobotOutputsCell_1_ImageList48 {
	@include elemWidth(20);
}
#cntRobotOutputsCell_1_ImageList48 {
	@include elemHeight(20);
}
#cntRobotOutputsCell_1_ImageList48 {
		z-index: 16;
}
#cntRobotOutputsCell_1_Label2 {
	@include elemTop(75);
}
#cntRobotOutputsCell_1_Label2 {
	@include elemLeft(50);
}
#cntRobotOutputsCell_1_Label2 {
	@include elemAutoWidth(165);
}
#cntRobotOutputsCell_1_Label2 {
	@include elemAutoHeight(20);
}
#cntRobotOutputsCell_1_Label2 {
		z-index: 17;
}
#cntRobotOutputsCell_1_Label5 {
	@include elemTop(8);
}
#cntRobotOutputsCell_1_Label5 {
	@include elemLeft(8);
}
#cntRobotOutputsCell_1_Label5 {
	@include elemAutoWidth(265);
}
#cntRobotOutputsCell_1_Label5 {
	@include elemAutoHeight(22);
}
#cntRobotOutputsCell_1_Label5 {
		z-index: 18;
}
#cntRobotOutputsCell_1_Label5 {
	& span{
		color: rgba(105, 105, 105, 1);
	}
}
#cntRobotOutputsCell_1_Label5 {
	@include text-alignment-all('center');
}
#cntRobotOutputsCell_1_Label5 {
		font-size: 18px;
}
#cntRobotOutputsCell_1_Label5 {
	span{
	@include text-decoration-underline(true);
	}
}
#cntRobotOutputsCell_1_Label4 {
	@include elemTop(105);
}
#cntRobotOutputsCell_1_Label4 {
	@include elemLeft(50);
}
#cntRobotOutputsCell_1_Label4 {
	@include elemAutoWidth(165);
}
#cntRobotOutputsCell_1_Label4 {
	@include elemAutoHeight(20);
}
#cntRobotOutputsCell_1_Label4 {
		z-index: 19;
}
#cntRobotOutputsCell_1_Label8 {
	@include elemTop(135);
}
#cntRobotOutputsCell_1_Label8 {
	@include elemLeft(50);
}
#cntRobotOutputsCell_1_Label8 {
	@include elemAutoWidth(165);
}
#cntRobotOutputsCell_1_Label8 {
	@include elemAutoHeight(20);
}
#cntRobotOutputsCell_1_Label8 {
		z-index: 20;
}
#cntRobotOutputsCell_1_Label9 {
	@include elemTop(165);
}
#cntRobotOutputsCell_1_Label9 {
	@include elemLeft(50);
}
#cntRobotOutputsCell_1_Label9 {
	@include elemAutoWidth(165);
}
#cntRobotOutputsCell_1_Label9 {
	@include elemAutoHeight(20);
}
#cntRobotOutputsCell_1_Label9 {
		z-index: 21;
}
#cntRobotOutputsCell_1_Label10 {
	@include elemTop(195);
}
#cntRobotOutputsCell_1_Label10 {
	@include elemLeft(50);
}
#cntRobotOutputsCell_1_Label10 {
	@include elemAutoWidth(165);
}
#cntRobotOutputsCell_1_Label10 {
	@include elemAutoHeight(20);
}
#cntRobotOutputsCell_1_Label10 {
		z-index: 22;
}
#cntRobotOutputsCell_1_Label11 {
	@include elemTop(225);
}
#cntRobotOutputsCell_1_Label11 {
	@include elemLeft(50);
}
#cntRobotOutputsCell_1_Label11 {
	@include elemAutoWidth(165);
}
#cntRobotOutputsCell_1_Label11 {
	@include elemAutoHeight(20);
}
#cntRobotOutputsCell_1_Label11 {
		z-index: 23;
}
#cntRobotOutputsCell_1_Label12 {
	@include elemTop(255);
}
#cntRobotOutputsCell_1_Label12 {
	@include elemLeft(50);
}
#cntRobotOutputsCell_1_Label12 {
	@include elemAutoWidth(165);
}
#cntRobotOutputsCell_1_Label12 {
	@include elemAutoHeight(20);
}
#cntRobotOutputsCell_1_Label12 {
		z-index: 24;
}
#cntRobotOutputsCell_1_Label13 {
	@include elemTop(285);
}
#cntRobotOutputsCell_1_Label13 {
	@include elemLeft(50);
}
#cntRobotOutputsCell_1_Label13 {
	@include elemAutoWidth(165);
}
#cntRobotOutputsCell_1_Label13 {
	@include elemAutoHeight(20);
}
#cntRobotOutputsCell_1_Label13 {
		z-index: 25;
}
#cntRobotOutputsCell_1_Label14 {
	@include elemTop(315);
}
#cntRobotOutputsCell_1_Label14 {
	@include elemLeft(50);
}
#cntRobotOutputsCell_1_Label14 {
	@include elemAutoWidth(165);
}
#cntRobotOutputsCell_1_Label14 {
	@include elemAutoHeight(20);
}
#cntRobotOutputsCell_1_Label14 {
		z-index: 26;
}
#cntRobotOutputsCell_1_Label15 {
	@include elemTop(345);
}
#cntRobotOutputsCell_1_Label15 {
	@include elemLeft(50);
}
#cntRobotOutputsCell_1_Label15 {
	@include elemAutoWidth(210);
}
#cntRobotOutputsCell_1_Label15 {
	@include elemAutoHeight(20);
}
#cntRobotOutputsCell_1_Label15 {
		z-index: 27;
}
#cntRobotOutputsCell_1_Label16 {
	@include elemTop(375);
}
#cntRobotOutputsCell_1_Label16 {
	@include elemLeft(50);
}
#cntRobotOutputsCell_1_Label16 {
	@include elemAutoWidth(210);
}
#cntRobotOutputsCell_1_Label16 {
	@include elemAutoHeight(20);
}
#cntRobotOutputsCell_1_Label16 {
		z-index: 28;
}
#cntRobotOutputsCell_1_Label17 {
	@include elemTop(405);
}
#cntRobotOutputsCell_1_Label17 {
	@include elemLeft(50);
}
#cntRobotOutputsCell_1_Label17 {
	@include elemAutoWidth(210);
}
#cntRobotOutputsCell_1_Label17 {
	@include elemAutoHeight(20);
}
#cntRobotOutputsCell_1_Label17 {
		z-index: 29;
}
#cntRobotOutputsCell_1_Label18 {
	@include elemTop(435);
}
#cntRobotOutputsCell_1_Label18 {
	@include elemLeft(50);
}
#cntRobotOutputsCell_1_Label18 {
	@include elemAutoWidth(210);
}
#cntRobotOutputsCell_1_Label18 {
	@include elemAutoHeight(20);
}
#cntRobotOutputsCell_1_Label18 {
		z-index: 30;
}
#cntRobotOutputsCell_1_Label19 {
	@include elemTop(465);
}
#cntRobotOutputsCell_1_Label19 {
	@include elemLeft(50);
}
#cntRobotOutputsCell_1_Label19 {
	@include elemAutoWidth(210);
}
#cntRobotOutputsCell_1_Label19 {
	@include elemAutoHeight(20);
}
#cntRobotOutputsCell_1_Label19 {
		z-index: 31;
}
#cntRobotOutputsCell_1_Label20 {
	@include elemTop(495);
}
#cntRobotOutputsCell_1_Label20 {
	@include elemLeft(50);
}
#cntRobotOutputsCell_1_Label20 {
	@include elemAutoWidth(210);
}
#cntRobotOutputsCell_1_Label20 {
	@include elemAutoHeight(20);
}
#cntRobotOutputsCell_1_Label20 {
		z-index: 32;
}
#cntRobotOutputsCell_1_GridLineItem2 {
		z-index: 1;
}
#cntRobotOutputsCell_1_GridLineItem2 {
		padding: 0px 10px 10px 10px;
}
#cntRobotOutputsCell_1_ImageList15 {
	@include elemTop(45);
}
#cntRobotOutputsCell_1_ImageList15 {
	@include elemLeft(15);
}
#cntRobotOutputsCell_1_ImageList15 {
	@include elemWidth(20);
}
#cntRobotOutputsCell_1_ImageList15 {
	@include elemHeight(20);
}
#cntRobotOutputsCell_1_ImageList15 {
		z-index: 0;
}
#cntRobotOutputsCell_1_ImageList16 {
	@include elemTop(75);
}
#cntRobotOutputsCell_1_ImageList16 {
	@include elemLeft(15);
}
#cntRobotOutputsCell_1_ImageList16 {
	@include elemWidth(20);
}
#cntRobotOutputsCell_1_ImageList16 {
	@include elemHeight(20);
}
#cntRobotOutputsCell_1_ImageList16 {
		z-index: 1;
}
#cntRobotOutputsCell_1_ImageList17 {
	@include elemTop(105);
}
#cntRobotOutputsCell_1_ImageList17 {
	@include elemLeft(15);
}
#cntRobotOutputsCell_1_ImageList17 {
	@include elemWidth(20);
}
#cntRobotOutputsCell_1_ImageList17 {
	@include elemHeight(20);
}
#cntRobotOutputsCell_1_ImageList17 {
		z-index: 2;
}
#cntRobotOutputsCell_1_ImageList18 {
	@include elemTop(135);
}
#cntRobotOutputsCell_1_ImageList18 {
	@include elemLeft(15);
}
#cntRobotOutputsCell_1_ImageList18 {
	@include elemWidth(20);
}
#cntRobotOutputsCell_1_ImageList18 {
	@include elemHeight(20);
}
#cntRobotOutputsCell_1_ImageList18 {
		z-index: 3;
}
#cntRobotOutputsCell_1_ImageList19 {
	@include elemTop(165);
}
#cntRobotOutputsCell_1_ImageList19 {
	@include elemLeft(15);
}
#cntRobotOutputsCell_1_ImageList19 {
	@include elemWidth(20);
}
#cntRobotOutputsCell_1_ImageList19 {
	@include elemHeight(20);
}
#cntRobotOutputsCell_1_ImageList19 {
		z-index: 4;
}
#cntRobotOutputsCell_1_ImageList20 {
	@include elemTop(195);
}
#cntRobotOutputsCell_1_ImageList20 {
	@include elemLeft(15);
}
#cntRobotOutputsCell_1_ImageList20 {
	@include elemWidth(20);
}
#cntRobotOutputsCell_1_ImageList20 {
	@include elemHeight(20);
}
#cntRobotOutputsCell_1_ImageList20 {
		z-index: 5;
}
#cntRobotOutputsCell_1_ImageList21 {
	@include elemTop(225);
}
#cntRobotOutputsCell_1_ImageList21 {
	@include elemLeft(15);
}
#cntRobotOutputsCell_1_ImageList21 {
	@include elemWidth(20);
}
#cntRobotOutputsCell_1_ImageList21 {
	@include elemHeight(20);
}
#cntRobotOutputsCell_1_ImageList21 {
		z-index: 6;
}
#cntRobotOutputsCell_1_ImageList22 {
	@include elemTop(255);
}
#cntRobotOutputsCell_1_ImageList22 {
	@include elemLeft(15);
}
#cntRobotOutputsCell_1_ImageList22 {
	@include elemWidth(20);
}
#cntRobotOutputsCell_1_ImageList22 {
	@include elemHeight(20);
}
#cntRobotOutputsCell_1_ImageList22 {
		z-index: 7;
}
#cntRobotOutputsCell_1_ImageList27 {
	@include elemTop(405);
}
#cntRobotOutputsCell_1_ImageList27 {
	@include elemLeft(15);
}
#cntRobotOutputsCell_1_ImageList27 {
	@include elemWidth(20);
}
#cntRobotOutputsCell_1_ImageList27 {
	@include elemHeight(20);
}
#cntRobotOutputsCell_1_ImageList27 {
		z-index: 8;
}
#cntRobotOutputsCell_1_ImageList28 {
	@include elemTop(435);
}
#cntRobotOutputsCell_1_ImageList28 {
	@include elemLeft(15);
}
#cntRobotOutputsCell_1_ImageList28 {
	@include elemWidth(20);
}
#cntRobotOutputsCell_1_ImageList28 {
	@include elemHeight(20);
}
#cntRobotOutputsCell_1_ImageList28 {
		z-index: 9;
}
#cntRobotOutputsCell_1_ImageList29 {
	@include elemTop(465);
}
#cntRobotOutputsCell_1_ImageList29 {
	@include elemLeft(15);
}
#cntRobotOutputsCell_1_ImageList29 {
	@include elemWidth(20);
}
#cntRobotOutputsCell_1_ImageList29 {
	@include elemHeight(20);
}
#cntRobotOutputsCell_1_ImageList29 {
		z-index: 10;
}
#cntRobotOutputsCell_1_ImageList30 {
	@include elemTop(495);
}
#cntRobotOutputsCell_1_ImageList30 {
	@include elemLeft(16);
}
#cntRobotOutputsCell_1_ImageList30 {
	@include elemWidth(20);
}
#cntRobotOutputsCell_1_ImageList30 {
	@include elemHeight(20);
}
#cntRobotOutputsCell_1_ImageList30 {
		z-index: 11;
}
#cntRobotOutputsCell_1_Label6 {
	@include elemTop(8);
}
#cntRobotOutputsCell_1_Label6 {
	@include elemLeft(8);
}
#cntRobotOutputsCell_1_Label6 {
	@include elemAutoWidth(265);
}
#cntRobotOutputsCell_1_Label6 {
	@include elemAutoHeight(22);
}
#cntRobotOutputsCell_1_Label6 {
		z-index: 12;
}
#cntRobotOutputsCell_1_Label6 {
	& span{
		color: rgba(105, 105, 105, 1);
	}
}
#cntRobotOutputsCell_1_Label6 {
	@include text-alignment-all('center');
}
#cntRobotOutputsCell_1_Label6 {
		font-size: 18px;
}
#cntRobotOutputsCell_1_Label6 {
	span{
	@include text-decoration-underline(true);
	}
}
#cntRobotOutputsCell_1_Label3 {
	@include elemTop(45);
}
#cntRobotOutputsCell_1_Label3 {
	@include elemLeft(50);
}
#cntRobotOutputsCell_1_Label3 {
	@include elemAutoWidth(210);
}
#cntRobotOutputsCell_1_Label3 {
	@include elemAutoHeight(20);
}
#cntRobotOutputsCell_1_Label3 {
		z-index: 13;
}
#cntRobotOutputsCell_1_Label3 {
		font-size: 16px;
}
#cntRobotOutputsCell_1_Label3 {
	span{
		padding: 5px;
	}
}
#cntRobotOutputsCell_1_Label21 {
	@include elemTop(75);
}
#cntRobotOutputsCell_1_Label21 {
	@include elemLeft(50);
}
#cntRobotOutputsCell_1_Label21 {
	@include elemAutoWidth(210);
}
#cntRobotOutputsCell_1_Label21 {
	@include elemAutoHeight(20);
}
#cntRobotOutputsCell_1_Label21 {
		z-index: 14;
}
#cntRobotOutputsCell_1_Label21 {
		font-size: 16px;
}
#cntRobotOutputsCell_1_Label21 {
	span{
		padding: 5px;
	}
}
#cntRobotOutputsCell_1_Label22 {
	@include elemTop(105);
}
#cntRobotOutputsCell_1_Label22 {
	@include elemLeft(50);
}
#cntRobotOutputsCell_1_Label22 {
	@include elemAutoWidth(210);
}
#cntRobotOutputsCell_1_Label22 {
	@include elemAutoHeight(20);
}
#cntRobotOutputsCell_1_Label22 {
		z-index: 15;
}
#cntRobotOutputsCell_1_Label22 {
		font-size: 16px;
}
#cntRobotOutputsCell_1_Label22 {
	span{
		padding: 5px;
	}
}
#cntRobotOutputsCell_1_Label23 {
	@include elemTop(135);
}
#cntRobotOutputsCell_1_Label23 {
	@include elemLeft(50);
}
#cntRobotOutputsCell_1_Label23 {
	@include elemAutoWidth(210);
}
#cntRobotOutputsCell_1_Label23 {
	@include elemAutoHeight(20);
}
#cntRobotOutputsCell_1_Label23 {
		z-index: 16;
}
#cntRobotOutputsCell_1_Label23 {
		font-size: 16px;
}
#cntRobotOutputsCell_1_Label23 {
	span{
		padding: 5px;
	}
}
#cntRobotOutputsCell_1_Label24 {
	@include elemTop(165);
}
#cntRobotOutputsCell_1_Label24 {
	@include elemLeft(50);
}
#cntRobotOutputsCell_1_Label24 {
	@include elemAutoWidth(210);
}
#cntRobotOutputsCell_1_Label24 {
	@include elemAutoHeight(20);
}
#cntRobotOutputsCell_1_Label24 {
		z-index: 17;
}
#cntRobotOutputsCell_1_Label24 {
		font-size: 16px;
}
#cntRobotOutputsCell_1_Label24 {
	span{
		padding: 5px;
	}
}
#cntRobotOutputsCell_1_Label25 {
	@include elemTop(195);
}
#cntRobotOutputsCell_1_Label25 {
	@include elemLeft(50);
}
#cntRobotOutputsCell_1_Label25 {
	@include elemAutoWidth(210);
}
#cntRobotOutputsCell_1_Label25 {
	@include elemAutoHeight(20);
}
#cntRobotOutputsCell_1_Label25 {
		z-index: 18;
}
#cntRobotOutputsCell_1_Label25 {
		font-size: 16px;
}
#cntRobotOutputsCell_1_Label25 {
	span{
		padding: 5px;
	}
}
#cntRobotOutputsCell_1_Label26 {
	@include elemTop(225);
}
#cntRobotOutputsCell_1_Label26 {
	@include elemLeft(50);
}
#cntRobotOutputsCell_1_Label26 {
	@include elemAutoWidth(210);
}
#cntRobotOutputsCell_1_Label26 {
	@include elemAutoHeight(20);
}
#cntRobotOutputsCell_1_Label26 {
		z-index: 19;
}
#cntRobotOutputsCell_1_Label26 {
		font-size: 16px;
}
#cntRobotOutputsCell_1_Label26 {
	span{
		padding: 5px;
	}
}
#cntRobotOutputsCell_1_Label27 {
	@include elemTop(255);
}
#cntRobotOutputsCell_1_Label27 {
	@include elemLeft(50);
}
#cntRobotOutputsCell_1_Label27 {
	@include elemAutoWidth(210);
}
#cntRobotOutputsCell_1_Label27 {
	@include elemAutoHeight(20);
}
#cntRobotOutputsCell_1_Label27 {
		z-index: 20;
}
#cntRobotOutputsCell_1_Label27 {
		font-size: 16px;
}
#cntRobotOutputsCell_1_Label27 {
	span{
		padding: 5px;
	}
}
#cntRobotOutputsCell_1_Label28 {
	@include elemTop(285);
}
#cntRobotOutputsCell_1_Label28 {
	@include elemLeft(50);
}
#cntRobotOutputsCell_1_Label28 {
	@include elemAutoWidth(210);
}
#cntRobotOutputsCell_1_Label28 {
	@include elemAutoHeight(20);
}
#cntRobotOutputsCell_1_Label28 {
		z-index: 21;
}
#cntRobotOutputsCell_1_Label28 {
		font-size: 16px;
}
#cntRobotOutputsCell_1_Label28 {
	span{
		padding: 5px;
	}
}
#cntRobotOutputsCell_1_Label29 {
	@include elemTop(315);
}
#cntRobotOutputsCell_1_Label29 {
	@include elemLeft(50);
}
#cntRobotOutputsCell_1_Label29 {
	@include elemAutoWidth(210);
}
#cntRobotOutputsCell_1_Label29 {
	@include elemAutoHeight(20);
}
#cntRobotOutputsCell_1_Label29 {
		z-index: 22;
}
#cntRobotOutputsCell_1_Label29 {
		font-size: 16px;
}
#cntRobotOutputsCell_1_Label29 {
	span{
		padding: 5px;
	}
}
#cntRobotOutputsCell_1_Label30 {
	@include elemTop(345);
}
#cntRobotOutputsCell_1_Label30 {
	@include elemLeft(50);
}
#cntRobotOutputsCell_1_Label30 {
	@include elemAutoWidth(210);
}
#cntRobotOutputsCell_1_Label30 {
	@include elemAutoHeight(20);
}
#cntRobotOutputsCell_1_Label30 {
		z-index: 23;
}
#cntRobotOutputsCell_1_Label30 {
		font-size: 16px;
}
#cntRobotOutputsCell_1_Label30 {
	span{
		padding: 5px;
	}
}
#cntRobotOutputsCell_1_Label31 {
	@include elemTop(375);
}
#cntRobotOutputsCell_1_Label31 {
	@include elemLeft(50);
}
#cntRobotOutputsCell_1_Label31 {
	@include elemAutoWidth(210);
}
#cntRobotOutputsCell_1_Label31 {
	@include elemAutoHeight(20);
}
#cntRobotOutputsCell_1_Label31 {
		z-index: 24;
}
#cntRobotOutputsCell_1_Label31 {
		font-size: 16px;
}
#cntRobotOutputsCell_1_Label31 {
	span{
		padding: 5px;
	}
}
#cntRobotOutputsCell_1_Label32 {
	@include elemTop(405);
}
#cntRobotOutputsCell_1_Label32 {
	@include elemLeft(50);
}
#cntRobotOutputsCell_1_Label32 {
	@include elemAutoWidth(210);
}
#cntRobotOutputsCell_1_Label32 {
	@include elemAutoHeight(20);
}
#cntRobotOutputsCell_1_Label32 {
		z-index: 25;
}
#cntRobotOutputsCell_1_Label32 {
		font-size: 16px;
}
#cntRobotOutputsCell_1_Label32 {
	span{
		padding: 5px;
	}
}
#cntRobotOutputsCell_1_Label33 {
	@include elemTop(435);
}
#cntRobotOutputsCell_1_Label33 {
	@include elemLeft(50);
}
#cntRobotOutputsCell_1_Label33 {
	@include elemAutoWidth(210);
}
#cntRobotOutputsCell_1_Label33 {
	@include elemAutoHeight(20);
}
#cntRobotOutputsCell_1_Label33 {
		z-index: 26;
}
#cntRobotOutputsCell_1_Label33 {
		font-size: 16px;
}
#cntRobotOutputsCell_1_Label33 {
	span{
		padding: 5px;
	}
}
#cntRobotOutputsCell_1_Label34 {
	@include elemTop(465);
}
#cntRobotOutputsCell_1_Label34 {
	@include elemLeft(50);
}
#cntRobotOutputsCell_1_Label34 {
	@include elemAutoWidth(210);
}
#cntRobotOutputsCell_1_Label34 {
	@include elemAutoHeight(20);
}
#cntRobotOutputsCell_1_Label34 {
		z-index: 27;
}
#cntRobotOutputsCell_1_Label34 {
		font-size: 16px;
}
#cntRobotOutputsCell_1_Label34 {
	span{
		padding: 5px;
	}
}
#cntRobotOutputsCell_1_Label35 {
	@include elemTop(495);
}
#cntRobotOutputsCell_1_Label35 {
	@include elemLeft(50);
}
#cntRobotOutputsCell_1_Label35 {
	@include elemAutoWidth(210);
}
#cntRobotOutputsCell_1_Label35 {
	@include elemAutoHeight(20);
}
#cntRobotOutputsCell_1_Label35 {
		z-index: 28;
}
#cntRobotOutputsCell_1_Label35 {
		font-size: 16px;
}
#cntRobotOutputsCell_1_Label35 {
	span{
		padding: 5px;
	}
}
#cntRobotOutputsCell_1_NumericOutput1 {
	@include elemTop(285);
}
#cntRobotOutputsCell_1_NumericOutput1 {
	@include elemLeft(0);
}
#cntRobotOutputsCell_1_NumericOutput1 {
	@include elemAutoWidth(60);
}
#cntRobotOutputsCell_1_NumericOutput1 {
	@include elemAutoHeight(20);
}
#cntRobotOutputsCell_1_NumericOutput1 {
		z-index: 29;
}
#cntRobotOutputsCell_1_NumericOutput1 {
		border-color: rgba(0, 0, 0, 1);
}
#cntRobotOutputsCell_1_NumericOutput1 {
	input{
		color: rgba(0, 0, 0, 1);
	}
}
#cntRobotOutputsCell_1_NumericOutput1 {
	span.breaseNumericOutput_unit{
		color: rgba(0, 0, 0, 1);
	}
}
#cntRobotOutputsCell_1_NumericOutput1 {
	input{
		font-size: 14px;
	}
}
#cntRobotOutputsCell_1_NumericOutput1 {
		margin: 0px;
}
#cntRobotOutputsCell_1_NumericOutput2 {
	@include elemTop(315);
}
#cntRobotOutputsCell_1_NumericOutput2 {
	@include elemLeft(0);
}
#cntRobotOutputsCell_1_NumericOutput2 {
	@include elemAutoWidth(60);
}
#cntRobotOutputsCell_1_NumericOutput2 {
	@include elemAutoHeight(20);
}
#cntRobotOutputsCell_1_NumericOutput2 {
		z-index: 30;
}
#cntRobotOutputsCell_1_NumericOutput2 {
		border-color: rgba(0, 0, 0, 1);
}
#cntRobotOutputsCell_1_NumericOutput2 {
	input{
		color: rgba(0, 0, 0, 1);
	}
}
#cntRobotOutputsCell_1_NumericOutput2 {
	span.breaseNumericOutput_unit{
		color: rgba(0, 0, 0, 1);
	}
}
#cntRobotOutputsCell_1_NumericOutput2 {
	input{
		font-size: 14px;
	}
}
#cntRobotOutputsCell_1_NumericOutput2 {
		margin: 0px;
}
#cntRobotOutputsCell_1_NumericOutput3 {
	@include elemTop(345);
}
#cntRobotOutputsCell_1_NumericOutput3 {
	@include elemLeft(0);
}
#cntRobotOutputsCell_1_NumericOutput3 {
	@include elemAutoWidth(60);
}
#cntRobotOutputsCell_1_NumericOutput3 {
	@include elemAutoHeight(20);
}
#cntRobotOutputsCell_1_NumericOutput3 {
		z-index: 31;
}
#cntRobotOutputsCell_1_NumericOutput3 {
		border-color: rgba(0, 0, 0, 1);
}
#cntRobotOutputsCell_1_NumericOutput3 {
	input{
		color: rgba(0, 0, 0, 1);
	}
}
#cntRobotOutputsCell_1_NumericOutput3 {
	span.breaseNumericOutput_unit{
		color: rgba(0, 0, 0, 1);
	}
}
#cntRobotOutputsCell_1_NumericOutput3 {
	input{
		font-size: 14px;
	}
}
#cntRobotOutputsCell_1_NumericOutput3 {
		margin: 0px;
}
#cntRobotOutputsCell_1_NumericOutput4 {
	@include elemTop(375);
}
#cntRobotOutputsCell_1_NumericOutput4 {
	@include elemLeft(0);
}
#cntRobotOutputsCell_1_NumericOutput4 {
	@include elemAutoWidth(60);
}
#cntRobotOutputsCell_1_NumericOutput4 {
	@include elemAutoHeight(20);
}
#cntRobotOutputsCell_1_NumericOutput4 {
		z-index: 32;
}
#cntRobotOutputsCell_1_NumericOutput4 {
		border-color: rgba(0, 0, 0, 1);
}
#cntRobotOutputsCell_1_NumericOutput4 {
	input{
		color: rgba(0, 0, 0, 1);
	}
}
#cntRobotOutputsCell_1_NumericOutput4 {
	span.breaseNumericOutput_unit{
		color: rgba(0, 0, 0, 1);
	}
}
#cntRobotOutputsCell_1_NumericOutput4 {
	input{
		font-size: 14px;
	}
}
#cntRobotOutputsCell_1_NumericOutput4 {
		margin: 0px;
}
#cntRobotOutputsCell_1_GridLineItem3 {
		z-index: 2;
}
#cntRobotOutputsCell_1_GridLineItem3 {
		padding: 0px 10px 10px 10px;
}
#cntRobotOutputsCell_1_ImageList31 {
	@include elemTop(45);
}
#cntRobotOutputsCell_1_ImageList31 {
	@include elemLeft(15);
}
#cntRobotOutputsCell_1_ImageList31 {
	@include elemWidth(20);
}
#cntRobotOutputsCell_1_ImageList31 {
	@include elemHeight(20);
}
#cntRobotOutputsCell_1_ImageList31 {
		z-index: 0;
}
#cntRobotOutputsCell_1_ImageList32 {
	@include elemTop(75);
}
#cntRobotOutputsCell_1_ImageList32 {
	@include elemLeft(15);
}
#cntRobotOutputsCell_1_ImageList32 {
	@include elemWidth(20);
}
#cntRobotOutputsCell_1_ImageList32 {
	@include elemHeight(20);
}
#cntRobotOutputsCell_1_ImageList32 {
		z-index: 1;
}
#cntRobotOutputsCell_1_ImageList33 {
	@include elemTop(105);
}
#cntRobotOutputsCell_1_ImageList33 {
	@include elemLeft(15);
}
#cntRobotOutputsCell_1_ImageList33 {
	@include elemWidth(20);
}
#cntRobotOutputsCell_1_ImageList33 {
	@include elemHeight(20);
}
#cntRobotOutputsCell_1_ImageList33 {
		z-index: 2;
}
#cntRobotOutputsCell_1_ImageList34 {
	@include elemTop(135);
}
#cntRobotOutputsCell_1_ImageList34 {
	@include elemLeft(15);
}
#cntRobotOutputsCell_1_ImageList34 {
	@include elemWidth(20);
}
#cntRobotOutputsCell_1_ImageList34 {
	@include elemHeight(20);
}
#cntRobotOutputsCell_1_ImageList34 {
		z-index: 3;
}
#cntRobotOutputsCell_1_ImageList35 {
	@include elemTop(165);
}
#cntRobotOutputsCell_1_ImageList35 {
	@include elemLeft(15);
}
#cntRobotOutputsCell_1_ImageList35 {
	@include elemWidth(20);
}
#cntRobotOutputsCell_1_ImageList35 {
	@include elemHeight(20);
}
#cntRobotOutputsCell_1_ImageList35 {
		z-index: 4;
}
#cntRobotOutputsCell_1_ImageList36 {
	@include elemTop(195);
}
#cntRobotOutputsCell_1_ImageList36 {
	@include elemLeft(15);
}
#cntRobotOutputsCell_1_ImageList36 {
	@include elemWidth(20);
}
#cntRobotOutputsCell_1_ImageList36 {
	@include elemHeight(25);
}
#cntRobotOutputsCell_1_ImageList36 {
		z-index: 5;
}
#cntRobotOutputsCell_1_ImageList37 {
	@include elemTop(225);
}
#cntRobotOutputsCell_1_ImageList37 {
	@include elemLeft(15);
}
#cntRobotOutputsCell_1_ImageList37 {
	@include elemWidth(20);
}
#cntRobotOutputsCell_1_ImageList37 {
	@include elemHeight(20);
}
#cntRobotOutputsCell_1_ImageList37 {
		z-index: 6;
}
#cntRobotOutputsCell_1_ImageList38 {
	@include elemTop(255);
}
#cntRobotOutputsCell_1_ImageList38 {
	@include elemLeft(15);
}
#cntRobotOutputsCell_1_ImageList38 {
	@include elemWidth(20);
}
#cntRobotOutputsCell_1_ImageList38 {
	@include elemHeight(20);
}
#cntRobotOutputsCell_1_ImageList38 {
		z-index: 7;
}
#cntRobotOutputsCell_1_ImageList39 {
	@include elemTop(285);
}
#cntRobotOutputsCell_1_ImageList39 {
	@include elemLeft(15);
}
#cntRobotOutputsCell_1_ImageList39 {
	@include elemWidth(20);
}
#cntRobotOutputsCell_1_ImageList39 {
	@include elemHeight(20);
}
#cntRobotOutputsCell_1_ImageList39 {
		z-index: 8;
}
#cntRobotOutputsCell_1_ImageList40 {
	@include elemTop(315);
}
#cntRobotOutputsCell_1_ImageList40 {
	@include elemLeft(15);
}
#cntRobotOutputsCell_1_ImageList40 {
	@include elemWidth(20);
}
#cntRobotOutputsCell_1_ImageList40 {
	@include elemHeight(20);
}
#cntRobotOutputsCell_1_ImageList40 {
		z-index: 9;
}
#cntRobotOutputsCell_1_ImageList41 {
	@include elemTop(345);
}
#cntRobotOutputsCell_1_ImageList41 {
	@include elemLeft(15);
}
#cntRobotOutputsCell_1_ImageList41 {
	@include elemWidth(20);
}
#cntRobotOutputsCell_1_ImageList41 {
	@include elemHeight(20);
}
#cntRobotOutputsCell_1_ImageList41 {
		z-index: 10;
}
#cntRobotOutputsCell_1_ImageList42 {
	@include elemTop(375);
}
#cntRobotOutputsCell_1_ImageList42 {
	@include elemLeft(15);
}
#cntRobotOutputsCell_1_ImageList42 {
	@include elemWidth(20);
}
#cntRobotOutputsCell_1_ImageList42 {
	@include elemHeight(20);
}
#cntRobotOutputsCell_1_ImageList42 {
		z-index: 11;
}
#cntRobotOutputsCell_1_ImageList43 {
	@include elemTop(405);
}
#cntRobotOutputsCell_1_ImageList43 {
	@include elemLeft(15);
}
#cntRobotOutputsCell_1_ImageList43 {
	@include elemWidth(20);
}
#cntRobotOutputsCell_1_ImageList43 {
	@include elemHeight(20);
}
#cntRobotOutputsCell_1_ImageList43 {
		z-index: 12;
}
#cntRobotOutputsCell_1_ImageList44 {
	@include elemTop(435);
}
#cntRobotOutputsCell_1_ImageList44 {
	@include elemLeft(15);
}
#cntRobotOutputsCell_1_ImageList44 {
	@include elemWidth(20);
}
#cntRobotOutputsCell_1_ImageList44 {
	@include elemHeight(20);
}
#cntRobotOutputsCell_1_ImageList44 {
		z-index: 13;
}
#cntRobotOutputsCell_1_ImageList45 {
	@include elemTop(465);
}
#cntRobotOutputsCell_1_ImageList45 {
	@include elemLeft(15);
}
#cntRobotOutputsCell_1_ImageList45 {
	@include elemWidth(20);
}
#cntRobotOutputsCell_1_ImageList45 {
	@include elemHeight(20);
}
#cntRobotOutputsCell_1_ImageList45 {
		z-index: 14;
}
#cntRobotOutputsCell_1_ImageList46 {
	@include elemTop(495);
}
#cntRobotOutputsCell_1_ImageList46 {
	@include elemLeft(15);
}
#cntRobotOutputsCell_1_ImageList46 {
	@include elemWidth(20);
}
#cntRobotOutputsCell_1_ImageList46 {
	@include elemHeight(20);
}
#cntRobotOutputsCell_1_ImageList46 {
		z-index: 15;
}
#cntRobotOutputsCell_1_Label7 {
	@include elemTop(8);
}
#cntRobotOutputsCell_1_Label7 {
	@include elemLeft(8);
}
#cntRobotOutputsCell_1_Label7 {
	@include elemAutoWidth(265);
}
#cntRobotOutputsCell_1_Label7 {
	@include elemAutoHeight(22);
}
#cntRobotOutputsCell_1_Label7 {
		z-index: 16;
}
#cntRobotOutputsCell_1_Label7 {
	& span{
		color: rgba(105, 105, 105, 1);
	}
}
#cntRobotOutputsCell_1_Label7 {
	@include text-alignment-all('center');
}
#cntRobotOutputsCell_1_Label7 {
		font-size: 18px;
}
#cntRobotOutputsCell_1_Label7 {
	span{
	@include text-decoration-underline(true);
	}
}
#cntRobotOutputsCell_1_Label36 {
	@include elemTop(45);
}
#cntRobotOutputsCell_1_Label36 {
	@include elemLeft(50);
}
#cntRobotOutputsCell_1_Label36 {
	@include elemAutoWidth(210);
}
#cntRobotOutputsCell_1_Label36 {
	@include elemAutoHeight(20);
}
#cntRobotOutputsCell_1_Label36 {
		z-index: 17;
}
#cntRobotOutputsCell_1_Label36 {
		font-size: 16px;
}
#cntRobotOutputsCell_1_Label36 {
	span{
		padding: 5px;
	}
}
#cntRobotOutputsCell_1_Label37 {
	@include elemTop(75);
}
#cntRobotOutputsCell_1_Label37 {
	@include elemLeft(50);
}
#cntRobotOutputsCell_1_Label37 {
	@include elemAutoWidth(210);
}
#cntRobotOutputsCell_1_Label37 {
	@include elemAutoHeight(20);
}
#cntRobotOutputsCell_1_Label37 {
		z-index: 18;
}
#cntRobotOutputsCell_1_Label37 {
		font-size: 16px;
}
#cntRobotOutputsCell_1_Label37 {
	span{
		padding: 5px;
	}
}
#cntRobotOutputsCell_1_Label38 {
	@include elemTop(105);
}
#cntRobotOutputsCell_1_Label38 {
	@include elemLeft(50);
}
#cntRobotOutputsCell_1_Label38 {
	@include elemAutoWidth(210);
}
#cntRobotOutputsCell_1_Label38 {
	@include elemAutoHeight(20);
}
#cntRobotOutputsCell_1_Label38 {
		z-index: 19;
}
#cntRobotOutputsCell_1_Label38 {
		font-size: 16px;
}
#cntRobotOutputsCell_1_Label38 {
	span{
		padding: 5px;
	}
}
#cntRobotOutputsCell_1_Label39 {
	@include elemTop(135);
}
#cntRobotOutputsCell_1_Label39 {
	@include elemLeft(50);
}
#cntRobotOutputsCell_1_Label39 {
	@include elemAutoWidth(210);
}
#cntRobotOutputsCell_1_Label39 {
	@include elemAutoHeight(20);
}
#cntRobotOutputsCell_1_Label39 {
		z-index: 20;
}
#cntRobotOutputsCell_1_Label39 {
		font-size: 16px;
}
#cntRobotOutputsCell_1_Label39 {
	span{
		padding: 5px;
	}
}
#cntRobotOutputsCell_1_Label40 {
	@include elemTop(165);
}
#cntRobotOutputsCell_1_Label40 {
	@include elemLeft(50);
}
#cntRobotOutputsCell_1_Label40 {
	@include elemAutoWidth(210);
}
#cntRobotOutputsCell_1_Label40 {
	@include elemAutoHeight(20);
}
#cntRobotOutputsCell_1_Label40 {
		z-index: 21;
}
#cntRobotOutputsCell_1_Label40 {
		font-size: 16px;
}
#cntRobotOutputsCell_1_Label40 {
	span{
		padding: 5px;
	}
}
#cntRobotOutputsCell_1_Label41 {
	@include elemTop(195);
}
#cntRobotOutputsCell_1_Label41 {
	@include elemLeft(50);
}
#cntRobotOutputsCell_1_Label41 {
	@include elemAutoWidth(210);
}
#cntRobotOutputsCell_1_Label41 {
	@include elemAutoHeight(20);
}
#cntRobotOutputsCell_1_Label41 {
		z-index: 22;
}
#cntRobotOutputsCell_1_Label41 {
		font-size: 16px;
}
#cntRobotOutputsCell_1_Label41 {
	span{
		padding: 5px;
	}
}
#cntRobotOutputsCell_1_Label42 {
	@include elemTop(225);
}
#cntRobotOutputsCell_1_Label42 {
	@include elemLeft(50);
}
#cntRobotOutputsCell_1_Label42 {
	@include elemAutoWidth(210);
}
#cntRobotOutputsCell_1_Label42 {
	@include elemAutoHeight(20);
}
#cntRobotOutputsCell_1_Label42 {
		z-index: 23;
}
#cntRobotOutputsCell_1_Label42 {
		font-size: 16px;
}
#cntRobotOutputsCell_1_Label42 {
	span{
		padding: 5px;
	}
}
#cntRobotOutputsCell_1_Label43 {
	@include elemTop(255);
}
#cntRobotOutputsCell_1_Label43 {
	@include elemLeft(50);
}
#cntRobotOutputsCell_1_Label43 {
	@include elemAutoWidth(210);
}
#cntRobotOutputsCell_1_Label43 {
	@include elemAutoHeight(20);
}
#cntRobotOutputsCell_1_Label43 {
		z-index: 24;
}
#cntRobotOutputsCell_1_Label43 {
		font-size: 16px;
}
#cntRobotOutputsCell_1_Label43 {
	span{
		padding: 5px;
	}
}
#cntRobotOutputsCell_1_Label44 {
	@include elemTop(285);
}
#cntRobotOutputsCell_1_Label44 {
	@include elemLeft(50);
}
#cntRobotOutputsCell_1_Label44 {
	@include elemAutoWidth(210);
}
#cntRobotOutputsCell_1_Label44 {
	@include elemAutoHeight(20);
}
#cntRobotOutputsCell_1_Label44 {
		z-index: 25;
}
#cntRobotOutputsCell_1_Label44 {
		font-size: 16px;
}
#cntRobotOutputsCell_1_Label44 {
	span{
		padding: 5px;
	}
}
#cntRobotOutputsCell_1_Label45 {
	@include elemTop(315);
}
#cntRobotOutputsCell_1_Label45 {
	@include elemLeft(50);
}
#cntRobotOutputsCell_1_Label45 {
	@include elemAutoWidth(210);
}
#cntRobotOutputsCell_1_Label45 {
	@include elemAutoHeight(20);
}
#cntRobotOutputsCell_1_Label45 {
		z-index: 26;
}
#cntRobotOutputsCell_1_Label45 {
		font-size: 16px;
}
#cntRobotOutputsCell_1_Label45 {
	span{
		padding: 5px;
	}
}
#cntRobotOutputsCell_1_Label46 {
	@include elemTop(345);
}
#cntRobotOutputsCell_1_Label46 {
	@include elemLeft(50);
}
#cntRobotOutputsCell_1_Label46 {
	@include elemAutoWidth(210);
}
#cntRobotOutputsCell_1_Label46 {
	@include elemAutoHeight(20);
}
#cntRobotOutputsCell_1_Label46 {
		z-index: 27;
}
#cntRobotOutputsCell_1_Label46 {
		font-size: 16px;
}
#cntRobotOutputsCell_1_Label46 {
	span{
		padding: 5px;
	}
}
#cntRobotOutputsCell_1_Label47 {
	@include elemTop(375);
}
#cntRobotOutputsCell_1_Label47 {
	@include elemLeft(50);
}
#cntRobotOutputsCell_1_Label47 {
	@include elemAutoWidth(210);
}
#cntRobotOutputsCell_1_Label47 {
	@include elemAutoHeight(20);
}
#cntRobotOutputsCell_1_Label47 {
		z-index: 28;
}
#cntRobotOutputsCell_1_Label47 {
		font-size: 16px;
}
#cntRobotOutputsCell_1_Label47 {
	span{
		padding: 5px;
	}
}
#cntRobotOutputsCell_1_Label48 {
	@include elemTop(405);
}
#cntRobotOutputsCell_1_Label48 {
	@include elemLeft(50);
}
#cntRobotOutputsCell_1_Label48 {
	@include elemAutoWidth(210);
}
#cntRobotOutputsCell_1_Label48 {
	@include elemAutoHeight(20);
}
#cntRobotOutputsCell_1_Label48 {
		z-index: 29;
}
#cntRobotOutputsCell_1_Label48 {
		font-size: 16px;
}
#cntRobotOutputsCell_1_Label48 {
	span{
		padding: 5px;
	}
}
#cntRobotOutputsCell_1_Label49 {
	@include elemTop(435);
}
#cntRobotOutputsCell_1_Label49 {
	@include elemLeft(50);
}
#cntRobotOutputsCell_1_Label49 {
	@include elemAutoWidth(210);
}
#cntRobotOutputsCell_1_Label49 {
	@include elemAutoHeight(20);
}
#cntRobotOutputsCell_1_Label49 {
		z-index: 30;
}
#cntRobotOutputsCell_1_Label49 {
		font-size: 16px;
}
#cntRobotOutputsCell_1_Label49 {
	span{
		padding: 5px;
	}
}
#cntRobotOutputsCell_1_Label50 {
	@include elemTop(465);
}
#cntRobotOutputsCell_1_Label50 {
	@include elemLeft(50);
}
#cntRobotOutputsCell_1_Label50 {
	@include elemAutoWidth(210);
}
#cntRobotOutputsCell_1_Label50 {
	@include elemAutoHeight(20);
}
#cntRobotOutputsCell_1_Label50 {
		z-index: 31;
}
#cntRobotOutputsCell_1_Label50 {
		font-size: 16px;
}
#cntRobotOutputsCell_1_Label50 {
	span{
		padding: 5px;
	}
}
#cntRobotOutputsCell_1_Label51 {
	@include elemTop(495);
}
#cntRobotOutputsCell_1_Label51 {
	@include elemLeft(50);
}
#cntRobotOutputsCell_1_Label51 {
	@include elemAutoWidth(210);
}
#cntRobotOutputsCell_1_Label51 {
	@include elemAutoHeight(20);
}
#cntRobotOutputsCell_1_Label51 {
		z-index: 32;
}
#cntRobotOutputsCell_1_Label51 {
		font-size: 16px;
}
#cntRobotOutputsCell_1_Label51 {
	span{
		padding: 5px;
	}
}
#cntRobotOutputsCell_1_GridLineItem5 {
		z-index: 3;
}
#cntRobotOutputsCell_1_GridLineItem5 {
		padding: 0px 10px 10px 10px;
}
#cntRobotOutputsCell_1_Label52 {
	@include elemTop(8);
}
#cntRobotOutputsCell_1_Label52 {
	@include elemLeft(8);
}
#cntRobotOutputsCell_1_Label52 {
	@include elemAutoWidth(265);
}
#cntRobotOutputsCell_1_Label52 {
	@include elemAutoHeight(22);
}
#cntRobotOutputsCell_1_Label52 {
		z-index: 0;
}
#cntRobotOutputsCell_1_Label52 {
	& span{
		color: rgba(105, 105, 105, 1);
	}
}
#cntRobotOutputsCell_1_Label52 {
	@include text-alignment-all('center');
}
#cntRobotOutputsCell_1_Label52 {
		font-size: 18px;
}
#cntRobotOutputsCell_1_Label52 {
	span{
	@include text-decoration-underline(true);
	}
}
#cntRobotOutputsCell_1_ImageList49 {
	@include elemTop(45);
}
#cntRobotOutputsCell_1_ImageList49 {
	@include elemLeft(15);
}
#cntRobotOutputsCell_1_ImageList49 {
	@include elemWidth(20);
}
#cntRobotOutputsCell_1_ImageList49 {
	@include elemHeight(20);
}
#cntRobotOutputsCell_1_ImageList49 {
		z-index: 1;
}
#cntRobotOutputsCell_1_Label53 {
	@include elemTop(45);
}
#cntRobotOutputsCell_1_Label53 {
	@include elemLeft(50);
}
#cntRobotOutputsCell_1_Label53 {
	@include elemAutoWidth(210);
}
#cntRobotOutputsCell_1_Label53 {
	@include elemAutoHeight(20);
}
#cntRobotOutputsCell_1_Label53 {
		z-index: 2;
}
#cntRobotOutputsCell_1_Label53 {
		font-size: 16px;
}
#cntRobotOutputsCell_1_Label53 {
	span{
		padding: 5px;
	}
}
#cntRobotOutputsCell_1_ImageList50 {
	@include elemTop(75);
}
#cntRobotOutputsCell_1_ImageList50 {
	@include elemLeft(15);
}
#cntRobotOutputsCell_1_ImageList50 {
	@include elemWidth(20);
}
#cntRobotOutputsCell_1_ImageList50 {
	@include elemHeight(20);
}
#cntRobotOutputsCell_1_ImageList50 {
		z-index: 3;
}
#cntRobotOutputsCell_1_Label54 {
	@include elemTop(75);
}
#cntRobotOutputsCell_1_Label54 {
	@include elemLeft(50);
}
#cntRobotOutputsCell_1_Label54 {
	@include elemAutoWidth(210);
}
#cntRobotOutputsCell_1_Label54 {
	@include elemAutoHeight(20);
}
#cntRobotOutputsCell_1_Label54 {
		z-index: 4;
}
#cntRobotOutputsCell_1_Label54 {
		font-size: 16px;
}
#cntRobotOutputsCell_1_Label54 {
	span{
		padding: 5px;
	}
}
#cntRobotOutputsCell_1_ImageList51 {
	@include elemTop(105);
}
#cntRobotOutputsCell_1_ImageList51 {
	@include elemLeft(15);
}
#cntRobotOutputsCell_1_ImageList51 {
	@include elemWidth(20);
}
#cntRobotOutputsCell_1_ImageList51 {
	@include elemHeight(20);
}
#cntRobotOutputsCell_1_ImageList51 {
		z-index: 5;
}
#cntRobotOutputsCell_1_Label55 {
	@include elemTop(105);
}
#cntRobotOutputsCell_1_Label55 {
	@include elemLeft(50);
}
#cntRobotOutputsCell_1_Label55 {
	@include elemAutoWidth(210);
}
#cntRobotOutputsCell_1_Label55 {
	@include elemAutoHeight(20);
}
#cntRobotOutputsCell_1_Label55 {
		z-index: 6;
}
#cntRobotOutputsCell_1_Label55 {
		font-size: 16px;
}
#cntRobotOutputsCell_1_Label55 {
	span{
		padding: 5px;
	}
}
#cntRobotOutputsCell_1_ImageList52 {
	@include elemTop(135);
}
#cntRobotOutputsCell_1_ImageList52 {
	@include elemLeft(15);
}
#cntRobotOutputsCell_1_ImageList52 {
	@include elemWidth(20);
}
#cntRobotOutputsCell_1_ImageList52 {
	@include elemHeight(20);
}
#cntRobotOutputsCell_1_ImageList52 {
		z-index: 7;
}
#cntRobotOutputsCell_1_Label56 {
	@include elemTop(135);
}
#cntRobotOutputsCell_1_Label56 {
	@include elemLeft(50);
}
#cntRobotOutputsCell_1_Label56 {
	@include elemAutoWidth(210);
}
#cntRobotOutputsCell_1_Label56 {
	@include elemAutoHeight(20);
}
#cntRobotOutputsCell_1_Label56 {
		z-index: 8;
}
#cntRobotOutputsCell_1_Label56 {
		font-size: 16px;
}
#cntRobotOutputsCell_1_Label56 {
	span{
		padding: 5px;
	}
}
#cntRobotOutputsCell_1_Label57 {
	@include elemTop(165);
}
#cntRobotOutputsCell_1_Label57 {
	@include elemLeft(50);
}
#cntRobotOutputsCell_1_Label57 {
	@include elemAutoWidth(210);
}
#cntRobotOutputsCell_1_Label57 {
	@include elemAutoHeight(20);
}
#cntRobotOutputsCell_1_Label57 {
		z-index: 9;
}
#cntRobotOutputsCell_1_Label57 {
		font-size: 16px;
}
#cntRobotOutputsCell_1_Label57 {
	span{
		padding: 5px;
	}
}
#cntRobotOutputsCell_1_Label58 {
	@include elemTop(195);
}
#cntRobotOutputsCell_1_Label58 {
	@include elemLeft(50);
}
#cntRobotOutputsCell_1_Label58 {
	@include elemAutoWidth(210);
}
#cntRobotOutputsCell_1_Label58 {
	@include elemAutoHeight(20);
}
#cntRobotOutputsCell_1_Label58 {
		z-index: 10;
}
#cntRobotOutputsCell_1_Label58 {
		font-size: 16px;
}
#cntRobotOutputsCell_1_Label58 {
	span{
		padding: 5px;
	}
}
#cntRobotOutputsCell_1_Label59 {
	@include elemTop(225);
}
#cntRobotOutputsCell_1_Label59 {
	@include elemLeft(50);
}
#cntRobotOutputsCell_1_Label59 {
	@include elemAutoWidth(210);
}
#cntRobotOutputsCell_1_Label59 {
	@include elemAutoHeight(20);
}
#cntRobotOutputsCell_1_Label59 {
		z-index: 11;
}
#cntRobotOutputsCell_1_Label59 {
		font-size: 16px;
}
#cntRobotOutputsCell_1_Label59 {
	span{
		padding: 5px;
	}
}
#cntRobotOutputsCell_1_Label60 {
	@include elemTop(255);
}
#cntRobotOutputsCell_1_Label60 {
	@include elemLeft(50);
}
#cntRobotOutputsCell_1_Label60 {
	@include elemAutoWidth(210);
}
#cntRobotOutputsCell_1_Label60 {
	@include elemAutoHeight(20);
}
#cntRobotOutputsCell_1_Label60 {
		z-index: 12;
}
#cntRobotOutputsCell_1_Label60 {
		font-size: 16px;
}
#cntRobotOutputsCell_1_Label60 {
	span{
		padding: 5px;
	}
}
#cntRobotOutputsCell_1_Label61 {
	@include elemTop(285);
}
#cntRobotOutputsCell_1_Label61 {
	@include elemLeft(50);
}
#cntRobotOutputsCell_1_Label61 {
	@include elemAutoWidth(210);
}
#cntRobotOutputsCell_1_Label61 {
	@include elemAutoHeight(20);
}
#cntRobotOutputsCell_1_Label61 {
		z-index: 13;
}
#cntRobotOutputsCell_1_Label61 {
		font-size: 16px;
}
#cntRobotOutputsCell_1_Label61 {
	span{
		padding: 5px;
	}
}
#cntRobotOutputsCell_1_NumericOutput5 {
	@include elemTop(165);
}
#cntRobotOutputsCell_1_NumericOutput5 {
	@include elemLeft(0);
}
#cntRobotOutputsCell_1_NumericOutput5 {
	@include elemAutoWidth(60);
}
#cntRobotOutputsCell_1_NumericOutput5 {
	@include elemAutoHeight(20);
}
#cntRobotOutputsCell_1_NumericOutput5 {
		z-index: 14;
}
#cntRobotOutputsCell_1_NumericOutput5 {
		border-color: rgba(0, 0, 0, 1);
}
#cntRobotOutputsCell_1_NumericOutput5 {
	input{
		color: rgba(0, 0, 0, 1);
	}
}
#cntRobotOutputsCell_1_NumericOutput5 {
	span.breaseNumericOutput_unit{
		color: rgba(0, 0, 0, 1);
	}
}
#cntRobotOutputsCell_1_NumericOutput5 {
	input{
		font-size: 14px;
	}
}
#cntRobotOutputsCell_1_NumericOutput5 {
		margin: 0px;
}
#cntRobotOutputsCell_1_NumericOutput6 {
	@include elemTop(195);
}
#cntRobotOutputsCell_1_NumericOutput6 {
	@include elemLeft(0);
}
#cntRobotOutputsCell_1_NumericOutput6 {
	@include elemAutoWidth(60);
}
#cntRobotOutputsCell_1_NumericOutput6 {
	@include elemAutoHeight(20);
}
#cntRobotOutputsCell_1_NumericOutput6 {
		z-index: 15;
}
#cntRobotOutputsCell_1_NumericOutput6 {
		border-color: rgba(0, 0, 0, 1);
}
#cntRobotOutputsCell_1_NumericOutput6 {
	input{
		color: rgba(0, 0, 0, 1);
	}
}
#cntRobotOutputsCell_1_NumericOutput6 {
	span.breaseNumericOutput_unit{
		color: rgba(0, 0, 0, 1);
	}
}
#cntRobotOutputsCell_1_NumericOutput6 {
	input{
		font-size: 14px;
	}
}
#cntRobotOutputsCell_1_NumericOutput6 {
		margin: 0px;
}
#cntRobotOutputsCell_1_NumericOutput7 {
	@include elemTop(225);
}
#cntRobotOutputsCell_1_NumericOutput7 {
	@include elemLeft(0);
}
#cntRobotOutputsCell_1_NumericOutput7 {
	@include elemAutoWidth(60);
}
#cntRobotOutputsCell_1_NumericOutput7 {
	@include elemAutoHeight(20);
}
#cntRobotOutputsCell_1_NumericOutput7 {
		z-index: 16;
}
#cntRobotOutputsCell_1_NumericOutput7 {
		border-color: rgba(0, 0, 0, 1);
}
#cntRobotOutputsCell_1_NumericOutput7 {
	input{
		color: rgba(0, 0, 0, 1);
	}
}
#cntRobotOutputsCell_1_NumericOutput7 {
	span.breaseNumericOutput_unit{
		color: rgba(0, 0, 0, 1);
	}
}
#cntRobotOutputsCell_1_NumericOutput7 {
	input{
		font-size: 14px;
	}
}
#cntRobotOutputsCell_1_NumericOutput7 {
		margin: 0px;
}
#cntRobotOutputsCell_1_NumericOutput8 {
	@include elemTop(255);
}
#cntRobotOutputsCell_1_NumericOutput8 {
	@include elemLeft(0);
}
#cntRobotOutputsCell_1_NumericOutput8 {
	@include elemAutoWidth(60);
}
#cntRobotOutputsCell_1_NumericOutput8 {
	@include elemAutoHeight(20);
}
#cntRobotOutputsCell_1_NumericOutput8 {
		z-index: 17;
}
#cntRobotOutputsCell_1_NumericOutput8 {
		border-color: rgba(0, 0, 0, 1);
}
#cntRobotOutputsCell_1_NumericOutput8 {
	input{
		color: rgba(0, 0, 0, 1);
	}
}
#cntRobotOutputsCell_1_NumericOutput8 {
	span.breaseNumericOutput_unit{
		color: rgba(0, 0, 0, 1);
	}
}
#cntRobotOutputsCell_1_NumericOutput8 {
	input{
		font-size: 14px;
	}
}
#cntRobotOutputsCell_1_NumericOutput8 {
		margin: 0px;
}
#cntRobotOutputsCell_1_NumericOutput9 {
	@include elemTop(285);
}
#cntRobotOutputsCell_1_NumericOutput9 {
	@include elemLeft(0);
}
#cntRobotOutputsCell_1_NumericOutput9 {
	@include elemAutoWidth(60);
}
#cntRobotOutputsCell_1_NumericOutput9 {
	@include elemAutoHeight(15);
}
#cntRobotOutputsCell_1_NumericOutput9 {
		z-index: 18;
}
#cntRobotOutputsCell_1_NumericOutput9 {
		border-color: rgba(0, 0, 0, 1);
}
#cntRobotOutputsCell_1_NumericOutput9 {
	input{
		color: rgba(0, 0, 0, 1);
	}
}
#cntRobotOutputsCell_1_NumericOutput9 {
	span.breaseNumericOutput_unit{
		color: rgba(0, 0, 0, 1);
	}
}
#cntRobotOutputsCell_1_NumericOutput9 {
	input{
		font-size: 14px;
	}
}
#cntRobotOutputsCell_1_NumericOutput9 {
		margin: 0px;
}
#cntRobotOutputsCell_1_CheckBox_SafetyRelOut {
	@include elemTop(0);
}
#cntRobotOutputsCell_1_CheckBox_SafetyRelOut {
	@include elemLeft(250);
}
#cntRobotOutputsCell_1_CheckBox_SafetyRelOut {
	@include elemAutoWidth(45);
}
#cntRobotOutputsCell_1_CheckBox_SafetyRelOut {
	@include elemAutoHeight(45);
}
#cntRobotOutputsCell_1_CheckBox_SafetyRelOut {
		z-index: 1;
}
#cntRobotOutputsCell_1_CheckBox_SafetyRelOut {
	span{
	@include font-style-italic(true);
	}
}
#cntRobotOutputsCell_1_CheckBox_SafetyRelOut {
	&.checked:not(.disabled) svg{
		fill: rgba(255, 0, 0, 1);
	}
}
