#cntRobotOutputsCell_1_GridLine1 {
  top: 0px;
  position: absolute;
}

#cntRobotOutputsCell_1_GridLine1 {
  left: 0px;
  position: absolute;
}

#cntRobotOutputsCell_1_GridLine1 {
  width: 300px;
}

#cntRobotOutputsCell_1_GridLine1 {
  height: 540px;
}

#cntRobotOutputsCell_1_GridLine1 {
  z-index: 0;
}

#cntRobotOutputsCell_1_GridLine1 .container {
  padding: 5px 0px;
}

#cntRobotOutputsCell_1_GridLineItem1 {
  z-index: 0;
}

#cntRobotOutputsCell_1_GridLineItem1 {
  padding: 0px 10px 10px 10px;
}

#cntRobotOutputsCell_1_ImageList1 {
  top: 105px;
  position: absolute;
}

#cntRobotOutputsCell_1_ImageList1 {
  left: 15px;
  position: absolute;
}

#cntRobotOutputsCell_1_ImageList1 {
  width: 20px;
}

#cntRobotOutputsCell_1_ImageList1 {
  height: 20px;
}

#cntRobotOutputsCell_1_ImageList1 {
  z-index: 0;
}

#cntRobotOutputsCell_1_Label1 {
  top: 45px;
  position: absolute;
}

#cntRobotOutputsCell_1_Label1 {
  left: 50px;
  position: absolute;
}

#cntRobotOutputsCell_1_Label1 {
  width: 210px;
}

#cntRobotOutputsCell_1_Label1 {
  height: 20px;
}

#cntRobotOutputsCell_1_Label1 {
  z-index: 1;
}

#cntRobotOutputsCell_1_ImageList2 {
  top: 135px;
  position: absolute;
}

#cntRobotOutputsCell_1_ImageList2 {
  left: 15px;
  position: absolute;
}

#cntRobotOutputsCell_1_ImageList2 {
  width: 20px;
}

#cntRobotOutputsCell_1_ImageList2 {
  height: 20px;
}

#cntRobotOutputsCell_1_ImageList2 {
  z-index: 2;
}

#cntRobotOutputsCell_1_ImageList3 {
  top: 165px;
  position: absolute;
}

#cntRobotOutputsCell_1_ImageList3 {
  left: 15px;
  position: absolute;
}

#cntRobotOutputsCell_1_ImageList3 {
  width: 20px;
}

#cntRobotOutputsCell_1_ImageList3 {
  height: 20px;
}

#cntRobotOutputsCell_1_ImageList3 {
  z-index: 3;
}

#cntRobotOutputsCell_1_ImageList4 {
  top: 195px;
  position: absolute;
}

#cntRobotOutputsCell_1_ImageList4 {
  left: 15px;
  position: absolute;
}

#cntRobotOutputsCell_1_ImageList4 {
  width: 20px;
}

#cntRobotOutputsCell_1_ImageList4 {
  height: 20px;
}

#cntRobotOutputsCell_1_ImageList4 {
  z-index: 4;
}

#cntRobotOutputsCell_1_ImageList5 {
  top: 225px;
  position: absolute;
}

#cntRobotOutputsCell_1_ImageList5 {
  left: 15px;
  position: absolute;
}

#cntRobotOutputsCell_1_ImageList5 {
  width: 20px;
}

#cntRobotOutputsCell_1_ImageList5 {
  height: 20px;
}

#cntRobotOutputsCell_1_ImageList5 {
  z-index: 5;
}

#cntRobotOutputsCell_1_ImageList6 {
  top: 255px;
  position: absolute;
}

#cntRobotOutputsCell_1_ImageList6 {
  left: 15px;
  position: absolute;
}

#cntRobotOutputsCell_1_ImageList6 {
  width: 20px;
}

#cntRobotOutputsCell_1_ImageList6 {
  height: 20px;
}

#cntRobotOutputsCell_1_ImageList6 {
  z-index: 6;
}

#cntRobotOutputsCell_1_ImageList7 {
  top: 285px;
  position: absolute;
}

#cntRobotOutputsCell_1_ImageList7 {
  left: 15px;
  position: absolute;
}

#cntRobotOutputsCell_1_ImageList7 {
  width: 20px;
}

#cntRobotOutputsCell_1_ImageList7 {
  height: 20px;
}

#cntRobotOutputsCell_1_ImageList7 {
  z-index: 7;
}

#cntRobotOutputsCell_1_ImageList8 {
  top: 315px;
  position: absolute;
}

#cntRobotOutputsCell_1_ImageList8 {
  left: 15px;
  position: absolute;
}

#cntRobotOutputsCell_1_ImageList8 {
  width: 20px;
}

#cntRobotOutputsCell_1_ImageList8 {
  height: 20px;
}

#cntRobotOutputsCell_1_ImageList8 {
  z-index: 8;
}

#cntRobotOutputsCell_1_ImageList9 {
  top: 345px;
  position: absolute;
}

#cntRobotOutputsCell_1_ImageList9 {
  left: 15px;
  position: absolute;
}

#cntRobotOutputsCell_1_ImageList9 {
  width: 20px;
}

#cntRobotOutputsCell_1_ImageList9 {
  height: 20px;
}

#cntRobotOutputsCell_1_ImageList9 {
  z-index: 9;
}

#cntRobotOutputsCell_1_ImageList10 {
  top: 375px;
  position: absolute;
}

#cntRobotOutputsCell_1_ImageList10 {
  left: 15px;
  position: absolute;
}

#cntRobotOutputsCell_1_ImageList10 {
  width: 20px;
}

#cntRobotOutputsCell_1_ImageList10 {
  height: 20px;
}

#cntRobotOutputsCell_1_ImageList10 {
  z-index: 10;
}

#cntRobotOutputsCell_1_ImageList11 {
  top: 405px;
  position: absolute;
}

#cntRobotOutputsCell_1_ImageList11 {
  left: 15px;
  position: absolute;
}

#cntRobotOutputsCell_1_ImageList11 {
  width: 20px;
}

#cntRobotOutputsCell_1_ImageList11 {
  height: 20px;
}

#cntRobotOutputsCell_1_ImageList11 {
  z-index: 11;
}

#cntRobotOutputsCell_1_ImageList12 {
  top: 435px;
  position: absolute;
}

#cntRobotOutputsCell_1_ImageList12 {
  left: 15px;
  position: absolute;
}

#cntRobotOutputsCell_1_ImageList12 {
  width: 20px;
}

#cntRobotOutputsCell_1_ImageList12 {
  height: 20px;
}

#cntRobotOutputsCell_1_ImageList12 {
  z-index: 12;
}

#cntRobotOutputsCell_1_ImageList13 {
  top: 465px;
  position: absolute;
}

#cntRobotOutputsCell_1_ImageList13 {
  left: 15px;
  position: absolute;
}

#cntRobotOutputsCell_1_ImageList13 {
  width: 20px;
}

#cntRobotOutputsCell_1_ImageList13 {
  height: 20px;
}

#cntRobotOutputsCell_1_ImageList13 {
  z-index: 13;
}

#cntRobotOutputsCell_1_ImageList14 {
  top: 495px;
  position: absolute;
}

#cntRobotOutputsCell_1_ImageList14 {
  left: 15px;
  position: absolute;
}

#cntRobotOutputsCell_1_ImageList14 {
  width: 20px;
}

#cntRobotOutputsCell_1_ImageList14 {
  height: 20px;
}

#cntRobotOutputsCell_1_ImageList14 {
  z-index: 14;
}

#cntRobotOutputsCell_1_ImageList47 {
  top: 75px;
  position: absolute;
}

#cntRobotOutputsCell_1_ImageList47 {
  left: 15px;
  position: absolute;
}

#cntRobotOutputsCell_1_ImageList47 {
  width: 20px;
}

#cntRobotOutputsCell_1_ImageList47 {
  height: 20px;
}

#cntRobotOutputsCell_1_ImageList47 {
  z-index: 15;
}

#cntRobotOutputsCell_1_ImageList48 {
  top: 45px;
  position: absolute;
}

#cntRobotOutputsCell_1_ImageList48 {
  left: 15px;
  position: absolute;
}

#cntRobotOutputsCell_1_ImageList48 {
  width: 20px;
}

#cntRobotOutputsCell_1_ImageList48 {
  height: 20px;
}

#cntRobotOutputsCell_1_ImageList48 {
  z-index: 16;
}

#cntRobotOutputsCell_1_Label2 {
  top: 75px;
  position: absolute;
}

#cntRobotOutputsCell_1_Label2 {
  left: 50px;
  position: absolute;
}

#cntRobotOutputsCell_1_Label2 {
  width: 165px;
}

#cntRobotOutputsCell_1_Label2 {
  height: 20px;
}

#cntRobotOutputsCell_1_Label2 {
  z-index: 17;
}

#cntRobotOutputsCell_1_Label5 {
  top: 8px;
  position: absolute;
}

#cntRobotOutputsCell_1_Label5 {
  left: 8px;
  position: absolute;
}

#cntRobotOutputsCell_1_Label5 {
  width: 265px;
}

#cntRobotOutputsCell_1_Label5 {
  height: 22px;
}

#cntRobotOutputsCell_1_Label5 {
  z-index: 18;
}

#cntRobotOutputsCell_1_Label5 span {
  color: dimgray;
}

#cntRobotOutputsCell_1_Label5 {
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntRobotOutputsCell_1_Label5 {
  font-size: 18px;
}

#cntRobotOutputsCell_1_Label5 span {
  text-decoration: underline;
}

#cntRobotOutputsCell_1_Label4 {
  top: 105px;
  position: absolute;
}

#cntRobotOutputsCell_1_Label4 {
  left: 50px;
  position: absolute;
}

#cntRobotOutputsCell_1_Label4 {
  width: 165px;
}

#cntRobotOutputsCell_1_Label4 {
  height: 20px;
}

#cntRobotOutputsCell_1_Label4 {
  z-index: 19;
}

#cntRobotOutputsCell_1_Label8 {
  top: 135px;
  position: absolute;
}

#cntRobotOutputsCell_1_Label8 {
  left: 50px;
  position: absolute;
}

#cntRobotOutputsCell_1_Label8 {
  width: 165px;
}

#cntRobotOutputsCell_1_Label8 {
  height: 20px;
}

#cntRobotOutputsCell_1_Label8 {
  z-index: 20;
}

#cntRobotOutputsCell_1_Label9 {
  top: 165px;
  position: absolute;
}

#cntRobotOutputsCell_1_Label9 {
  left: 50px;
  position: absolute;
}

#cntRobotOutputsCell_1_Label9 {
  width: 165px;
}

#cntRobotOutputsCell_1_Label9 {
  height: 20px;
}

#cntRobotOutputsCell_1_Label9 {
  z-index: 21;
}

#cntRobotOutputsCell_1_Label10 {
  top: 195px;
  position: absolute;
}

#cntRobotOutputsCell_1_Label10 {
  left: 50px;
  position: absolute;
}

#cntRobotOutputsCell_1_Label10 {
  width: 165px;
}

#cntRobotOutputsCell_1_Label10 {
  height: 20px;
}

#cntRobotOutputsCell_1_Label10 {
  z-index: 22;
}

#cntRobotOutputsCell_1_Label11 {
  top: 225px;
  position: absolute;
}

#cntRobotOutputsCell_1_Label11 {
  left: 50px;
  position: absolute;
}

#cntRobotOutputsCell_1_Label11 {
  width: 165px;
}

#cntRobotOutputsCell_1_Label11 {
  height: 20px;
}

#cntRobotOutputsCell_1_Label11 {
  z-index: 23;
}

#cntRobotOutputsCell_1_Label12 {
  top: 255px;
  position: absolute;
}

#cntRobotOutputsCell_1_Label12 {
  left: 50px;
  position: absolute;
}

#cntRobotOutputsCell_1_Label12 {
  width: 165px;
}

#cntRobotOutputsCell_1_Label12 {
  height: 20px;
}

#cntRobotOutputsCell_1_Label12 {
  z-index: 24;
}

#cntRobotOutputsCell_1_Label13 {
  top: 285px;
  position: absolute;
}

#cntRobotOutputsCell_1_Label13 {
  left: 50px;
  position: absolute;
}

#cntRobotOutputsCell_1_Label13 {
  width: 165px;
}

#cntRobotOutputsCell_1_Label13 {
  height: 20px;
}

#cntRobotOutputsCell_1_Label13 {
  z-index: 25;
}

#cntRobotOutputsCell_1_Label14 {
  top: 315px;
  position: absolute;
}

#cntRobotOutputsCell_1_Label14 {
  left: 50px;
  position: absolute;
}

#cntRobotOutputsCell_1_Label14 {
  width: 165px;
}

#cntRobotOutputsCell_1_Label14 {
  height: 20px;
}

#cntRobotOutputsCell_1_Label14 {
  z-index: 26;
}

#cntRobotOutputsCell_1_Label15 {
  top: 345px;
  position: absolute;
}

#cntRobotOutputsCell_1_Label15 {
  left: 50px;
  position: absolute;
}

#cntRobotOutputsCell_1_Label15 {
  width: 210px;
}

#cntRobotOutputsCell_1_Label15 {
  height: 20px;
}

#cntRobotOutputsCell_1_Label15 {
  z-index: 27;
}

#cntRobotOutputsCell_1_Label16 {
  top: 375px;
  position: absolute;
}

#cntRobotOutputsCell_1_Label16 {
  left: 50px;
  position: absolute;
}

#cntRobotOutputsCell_1_Label16 {
  width: 210px;
}

#cntRobotOutputsCell_1_Label16 {
  height: 20px;
}

#cntRobotOutputsCell_1_Label16 {
  z-index: 28;
}

#cntRobotOutputsCell_1_Label17 {
  top: 405px;
  position: absolute;
}

#cntRobotOutputsCell_1_Label17 {
  left: 50px;
  position: absolute;
}

#cntRobotOutputsCell_1_Label17 {
  width: 210px;
}

#cntRobotOutputsCell_1_Label17 {
  height: 20px;
}

#cntRobotOutputsCell_1_Label17 {
  z-index: 29;
}

#cntRobotOutputsCell_1_Label18 {
  top: 435px;
  position: absolute;
}

#cntRobotOutputsCell_1_Label18 {
  left: 50px;
  position: absolute;
}

#cntRobotOutputsCell_1_Label18 {
  width: 210px;
}

#cntRobotOutputsCell_1_Label18 {
  height: 20px;
}

#cntRobotOutputsCell_1_Label18 {
  z-index: 30;
}

#cntRobotOutputsCell_1_Label19 {
  top: 465px;
  position: absolute;
}

#cntRobotOutputsCell_1_Label19 {
  left: 50px;
  position: absolute;
}

#cntRobotOutputsCell_1_Label19 {
  width: 210px;
}

#cntRobotOutputsCell_1_Label19 {
  height: 20px;
}

#cntRobotOutputsCell_1_Label19 {
  z-index: 31;
}

#cntRobotOutputsCell_1_Label20 {
  top: 495px;
  position: absolute;
}

#cntRobotOutputsCell_1_Label20 {
  left: 50px;
  position: absolute;
}

#cntRobotOutputsCell_1_Label20 {
  width: 210px;
}

#cntRobotOutputsCell_1_Label20 {
  height: 20px;
}

#cntRobotOutputsCell_1_Label20 {
  z-index: 32;
}

#cntRobotOutputsCell_1_GridLineItem2 {
  z-index: 1;
}

#cntRobotOutputsCell_1_GridLineItem2 {
  padding: 0px 10px 10px 10px;
}

#cntRobotOutputsCell_1_ImageList15 {
  top: 45px;
  position: absolute;
}

#cntRobotOutputsCell_1_ImageList15 {
  left: 15px;
  position: absolute;
}

#cntRobotOutputsCell_1_ImageList15 {
  width: 20px;
}

#cntRobotOutputsCell_1_ImageList15 {
  height: 20px;
}

#cntRobotOutputsCell_1_ImageList15 {
  z-index: 0;
}

#cntRobotOutputsCell_1_ImageList16 {
  top: 75px;
  position: absolute;
}

#cntRobotOutputsCell_1_ImageList16 {
  left: 15px;
  position: absolute;
}

#cntRobotOutputsCell_1_ImageList16 {
  width: 20px;
}

#cntRobotOutputsCell_1_ImageList16 {
  height: 20px;
}

#cntRobotOutputsCell_1_ImageList16 {
  z-index: 1;
}

#cntRobotOutputsCell_1_ImageList17 {
  top: 105px;
  position: absolute;
}

#cntRobotOutputsCell_1_ImageList17 {
  left: 15px;
  position: absolute;
}

#cntRobotOutputsCell_1_ImageList17 {
  width: 20px;
}

#cntRobotOutputsCell_1_ImageList17 {
  height: 20px;
}

#cntRobotOutputsCell_1_ImageList17 {
  z-index: 2;
}

#cntRobotOutputsCell_1_ImageList18 {
  top: 135px;
  position: absolute;
}

#cntRobotOutputsCell_1_ImageList18 {
  left: 15px;
  position: absolute;
}

#cntRobotOutputsCell_1_ImageList18 {
  width: 20px;
}

#cntRobotOutputsCell_1_ImageList18 {
  height: 20px;
}

#cntRobotOutputsCell_1_ImageList18 {
  z-index: 3;
}

#cntRobotOutputsCell_1_ImageList19 {
  top: 165px;
  position: absolute;
}

#cntRobotOutputsCell_1_ImageList19 {
  left: 15px;
  position: absolute;
}

#cntRobotOutputsCell_1_ImageList19 {
  width: 20px;
}

#cntRobotOutputsCell_1_ImageList19 {
  height: 20px;
}

#cntRobotOutputsCell_1_ImageList19 {
  z-index: 4;
}

#cntRobotOutputsCell_1_ImageList20 {
  top: 195px;
  position: absolute;
}

#cntRobotOutputsCell_1_ImageList20 {
  left: 15px;
  position: absolute;
}

#cntRobotOutputsCell_1_ImageList20 {
  width: 20px;
}

#cntRobotOutputsCell_1_ImageList20 {
  height: 20px;
}

#cntRobotOutputsCell_1_ImageList20 {
  z-index: 5;
}

#cntRobotOutputsCell_1_ImageList21 {
  top: 225px;
  position: absolute;
}

#cntRobotOutputsCell_1_ImageList21 {
  left: 15px;
  position: absolute;
}

#cntRobotOutputsCell_1_ImageList21 {
  width: 20px;
}

#cntRobotOutputsCell_1_ImageList21 {
  height: 20px;
}

#cntRobotOutputsCell_1_ImageList21 {
  z-index: 6;
}

#cntRobotOutputsCell_1_ImageList22 {
  top: 255px;
  position: absolute;
}

#cntRobotOutputsCell_1_ImageList22 {
  left: 15px;
  position: absolute;
}

#cntRobotOutputsCell_1_ImageList22 {
  width: 20px;
}

#cntRobotOutputsCell_1_ImageList22 {
  height: 20px;
}

#cntRobotOutputsCell_1_ImageList22 {
  z-index: 7;
}

#cntRobotOutputsCell_1_ImageList27 {
  top: 405px;
  position: absolute;
}

#cntRobotOutputsCell_1_ImageList27 {
  left: 15px;
  position: absolute;
}

#cntRobotOutputsCell_1_ImageList27 {
  width: 20px;
}

#cntRobotOutputsCell_1_ImageList27 {
  height: 20px;
}

#cntRobotOutputsCell_1_ImageList27 {
  z-index: 8;
}

#cntRobotOutputsCell_1_ImageList28 {
  top: 435px;
  position: absolute;
}

#cntRobotOutputsCell_1_ImageList28 {
  left: 15px;
  position: absolute;
}

#cntRobotOutputsCell_1_ImageList28 {
  width: 20px;
}

#cntRobotOutputsCell_1_ImageList28 {
  height: 20px;
}

#cntRobotOutputsCell_1_ImageList28 {
  z-index: 9;
}

#cntRobotOutputsCell_1_ImageList29 {
  top: 465px;
  position: absolute;
}

#cntRobotOutputsCell_1_ImageList29 {
  left: 15px;
  position: absolute;
}

#cntRobotOutputsCell_1_ImageList29 {
  width: 20px;
}

#cntRobotOutputsCell_1_ImageList29 {
  height: 20px;
}

#cntRobotOutputsCell_1_ImageList29 {
  z-index: 10;
}

#cntRobotOutputsCell_1_ImageList30 {
  top: 495px;
  position: absolute;
}

#cntRobotOutputsCell_1_ImageList30 {
  left: 16px;
  position: absolute;
}

#cntRobotOutputsCell_1_ImageList30 {
  width: 20px;
}

#cntRobotOutputsCell_1_ImageList30 {
  height: 20px;
}

#cntRobotOutputsCell_1_ImageList30 {
  z-index: 11;
}

#cntRobotOutputsCell_1_Label6 {
  top: 8px;
  position: absolute;
}

#cntRobotOutputsCell_1_Label6 {
  left: 8px;
  position: absolute;
}

#cntRobotOutputsCell_1_Label6 {
  width: 265px;
}

#cntRobotOutputsCell_1_Label6 {
  height: 22px;
}

#cntRobotOutputsCell_1_Label6 {
  z-index: 12;
}

#cntRobotOutputsCell_1_Label6 span {
  color: dimgray;
}

#cntRobotOutputsCell_1_Label6 {
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntRobotOutputsCell_1_Label6 {
  font-size: 18px;
}

#cntRobotOutputsCell_1_Label6 span {
  text-decoration: underline;
}

#cntRobotOutputsCell_1_Label3 {
  top: 45px;
  position: absolute;
}

#cntRobotOutputsCell_1_Label3 {
  left: 50px;
  position: absolute;
}

#cntRobotOutputsCell_1_Label3 {
  width: 210px;
}

#cntRobotOutputsCell_1_Label3 {
  height: 20px;
}

#cntRobotOutputsCell_1_Label3 {
  z-index: 13;
}

#cntRobotOutputsCell_1_Label3 {
  font-size: 16px;
}

#cntRobotOutputsCell_1_Label3 span {
  padding: 5px;
}

#cntRobotOutputsCell_1_Label21 {
  top: 75px;
  position: absolute;
}

#cntRobotOutputsCell_1_Label21 {
  left: 50px;
  position: absolute;
}

#cntRobotOutputsCell_1_Label21 {
  width: 210px;
}

#cntRobotOutputsCell_1_Label21 {
  height: 20px;
}

#cntRobotOutputsCell_1_Label21 {
  z-index: 14;
}

#cntRobotOutputsCell_1_Label21 {
  font-size: 16px;
}

#cntRobotOutputsCell_1_Label21 span {
  padding: 5px;
}

#cntRobotOutputsCell_1_Label22 {
  top: 105px;
  position: absolute;
}

#cntRobotOutputsCell_1_Label22 {
  left: 50px;
  position: absolute;
}

#cntRobotOutputsCell_1_Label22 {
  width: 210px;
}

#cntRobotOutputsCell_1_Label22 {
  height: 20px;
}

#cntRobotOutputsCell_1_Label22 {
  z-index: 15;
}

#cntRobotOutputsCell_1_Label22 {
  font-size: 16px;
}

#cntRobotOutputsCell_1_Label22 span {
  padding: 5px;
}

#cntRobotOutputsCell_1_Label23 {
  top: 135px;
  position: absolute;
}

#cntRobotOutputsCell_1_Label23 {
  left: 50px;
  position: absolute;
}

#cntRobotOutputsCell_1_Label23 {
  width: 210px;
}

#cntRobotOutputsCell_1_Label23 {
  height: 20px;
}

#cntRobotOutputsCell_1_Label23 {
  z-index: 16;
}

#cntRobotOutputsCell_1_Label23 {
  font-size: 16px;
}

#cntRobotOutputsCell_1_Label23 span {
  padding: 5px;
}

#cntRobotOutputsCell_1_Label24 {
  top: 165px;
  position: absolute;
}

#cntRobotOutputsCell_1_Label24 {
  left: 50px;
  position: absolute;
}

#cntRobotOutputsCell_1_Label24 {
  width: 210px;
}

#cntRobotOutputsCell_1_Label24 {
  height: 20px;
}

#cntRobotOutputsCell_1_Label24 {
  z-index: 17;
}

#cntRobotOutputsCell_1_Label24 {
  font-size: 16px;
}

#cntRobotOutputsCell_1_Label24 span {
  padding: 5px;
}

#cntRobotOutputsCell_1_Label25 {
  top: 195px;
  position: absolute;
}

#cntRobotOutputsCell_1_Label25 {
  left: 50px;
  position: absolute;
}

#cntRobotOutputsCell_1_Label25 {
  width: 210px;
}

#cntRobotOutputsCell_1_Label25 {
  height: 20px;
}

#cntRobotOutputsCell_1_Label25 {
  z-index: 18;
}

#cntRobotOutputsCell_1_Label25 {
  font-size: 16px;
}

#cntRobotOutputsCell_1_Label25 span {
  padding: 5px;
}

#cntRobotOutputsCell_1_Label26 {
  top: 225px;
  position: absolute;
}

#cntRobotOutputsCell_1_Label26 {
  left: 50px;
  position: absolute;
}

#cntRobotOutputsCell_1_Label26 {
  width: 210px;
}

#cntRobotOutputsCell_1_Label26 {
  height: 20px;
}

#cntRobotOutputsCell_1_Label26 {
  z-index: 19;
}

#cntRobotOutputsCell_1_Label26 {
  font-size: 16px;
}

#cntRobotOutputsCell_1_Label26 span {
  padding: 5px;
}

#cntRobotOutputsCell_1_Label27 {
  top: 255px;
  position: absolute;
}

#cntRobotOutputsCell_1_Label27 {
  left: 50px;
  position: absolute;
}

#cntRobotOutputsCell_1_Label27 {
  width: 210px;
}

#cntRobotOutputsCell_1_Label27 {
  height: 20px;
}

#cntRobotOutputsCell_1_Label27 {
  z-index: 20;
}

#cntRobotOutputsCell_1_Label27 {
  font-size: 16px;
}

#cntRobotOutputsCell_1_Label27 span {
  padding: 5px;
}

#cntRobotOutputsCell_1_Label28 {
  top: 285px;
  position: absolute;
}

#cntRobotOutputsCell_1_Label28 {
  left: 50px;
  position: absolute;
}

#cntRobotOutputsCell_1_Label28 {
  width: 210px;
}

#cntRobotOutputsCell_1_Label28 {
  height: 20px;
}

#cntRobotOutputsCell_1_Label28 {
  z-index: 21;
}

#cntRobotOutputsCell_1_Label28 {
  font-size: 16px;
}

#cntRobotOutputsCell_1_Label28 span {
  padding: 5px;
}

#cntRobotOutputsCell_1_Label29 {
  top: 315px;
  position: absolute;
}

#cntRobotOutputsCell_1_Label29 {
  left: 50px;
  position: absolute;
}

#cntRobotOutputsCell_1_Label29 {
  width: 210px;
}

#cntRobotOutputsCell_1_Label29 {
  height: 20px;
}

#cntRobotOutputsCell_1_Label29 {
  z-index: 22;
}

#cntRobotOutputsCell_1_Label29 {
  font-size: 16px;
}

#cntRobotOutputsCell_1_Label29 span {
  padding: 5px;
}

#cntRobotOutputsCell_1_Label30 {
  top: 345px;
  position: absolute;
}

#cntRobotOutputsCell_1_Label30 {
  left: 50px;
  position: absolute;
}

#cntRobotOutputsCell_1_Label30 {
  width: 210px;
}

#cntRobotOutputsCell_1_Label30 {
  height: 20px;
}

#cntRobotOutputsCell_1_Label30 {
  z-index: 23;
}

#cntRobotOutputsCell_1_Label30 {
  font-size: 16px;
}

#cntRobotOutputsCell_1_Label30 span {
  padding: 5px;
}

#cntRobotOutputsCell_1_Label31 {
  top: 375px;
  position: absolute;
}

#cntRobotOutputsCell_1_Label31 {
  left: 50px;
  position: absolute;
}

#cntRobotOutputsCell_1_Label31 {
  width: 210px;
}

#cntRobotOutputsCell_1_Label31 {
  height: 20px;
}

#cntRobotOutputsCell_1_Label31 {
  z-index: 24;
}

#cntRobotOutputsCell_1_Label31 {
  font-size: 16px;
}

#cntRobotOutputsCell_1_Label31 span {
  padding: 5px;
}

#cntRobotOutputsCell_1_Label32 {
  top: 405px;
  position: absolute;
}

#cntRobotOutputsCell_1_Label32 {
  left: 50px;
  position: absolute;
}

#cntRobotOutputsCell_1_Label32 {
  width: 210px;
}

#cntRobotOutputsCell_1_Label32 {
  height: 20px;
}

#cntRobotOutputsCell_1_Label32 {
  z-index: 25;
}

#cntRobotOutputsCell_1_Label32 {
  font-size: 16px;
}

#cntRobotOutputsCell_1_Label32 span {
  padding: 5px;
}

#cntRobotOutputsCell_1_Label33 {
  top: 435px;
  position: absolute;
}

#cntRobotOutputsCell_1_Label33 {
  left: 50px;
  position: absolute;
}

#cntRobotOutputsCell_1_Label33 {
  width: 210px;
}

#cntRobotOutputsCell_1_Label33 {
  height: 20px;
}

#cntRobotOutputsCell_1_Label33 {
  z-index: 26;
}

#cntRobotOutputsCell_1_Label33 {
  font-size: 16px;
}

#cntRobotOutputsCell_1_Label33 span {
  padding: 5px;
}

#cntRobotOutputsCell_1_Label34 {
  top: 465px;
  position: absolute;
}

#cntRobotOutputsCell_1_Label34 {
  left: 50px;
  position: absolute;
}

#cntRobotOutputsCell_1_Label34 {
  width: 210px;
}

#cntRobotOutputsCell_1_Label34 {
  height: 20px;
}

#cntRobotOutputsCell_1_Label34 {
  z-index: 27;
}

#cntRobotOutputsCell_1_Label34 {
  font-size: 16px;
}

#cntRobotOutputsCell_1_Label34 span {
  padding: 5px;
}

#cntRobotOutputsCell_1_Label35 {
  top: 495px;
  position: absolute;
}

#cntRobotOutputsCell_1_Label35 {
  left: 50px;
  position: absolute;
}

#cntRobotOutputsCell_1_Label35 {
  width: 210px;
}

#cntRobotOutputsCell_1_Label35 {
  height: 20px;
}

#cntRobotOutputsCell_1_Label35 {
  z-index: 28;
}

#cntRobotOutputsCell_1_Label35 {
  font-size: 16px;
}

#cntRobotOutputsCell_1_Label35 span {
  padding: 5px;
}

#cntRobotOutputsCell_1_NumericOutput1 {
  top: 285px;
  position: absolute;
}

#cntRobotOutputsCell_1_NumericOutput1 {
  left: 0px;
  position: absolute;
}

#cntRobotOutputsCell_1_NumericOutput1 {
  width: 60px;
}

#cntRobotOutputsCell_1_NumericOutput1 {
  height: 20px;
}

#cntRobotOutputsCell_1_NumericOutput1 {
  z-index: 29;
}

#cntRobotOutputsCell_1_NumericOutput1 {
  border-color: black;
}

#cntRobotOutputsCell_1_NumericOutput1 input {
  color: black;
}

#cntRobotOutputsCell_1_NumericOutput1 span.breaseNumericOutput_unit {
  color: black;
}

#cntRobotOutputsCell_1_NumericOutput1 input {
  font-size: 14px;
}

#cntRobotOutputsCell_1_NumericOutput1 {
  margin: 0px;
}

#cntRobotOutputsCell_1_NumericOutput2 {
  top: 315px;
  position: absolute;
}

#cntRobotOutputsCell_1_NumericOutput2 {
  left: 0px;
  position: absolute;
}

#cntRobotOutputsCell_1_NumericOutput2 {
  width: 60px;
}

#cntRobotOutputsCell_1_NumericOutput2 {
  height: 20px;
}

#cntRobotOutputsCell_1_NumericOutput2 {
  z-index: 30;
}

#cntRobotOutputsCell_1_NumericOutput2 {
  border-color: black;
}

#cntRobotOutputsCell_1_NumericOutput2 input {
  color: black;
}

#cntRobotOutputsCell_1_NumericOutput2 span.breaseNumericOutput_unit {
  color: black;
}

#cntRobotOutputsCell_1_NumericOutput2 input {
  font-size: 14px;
}

#cntRobotOutputsCell_1_NumericOutput2 {
  margin: 0px;
}

#cntRobotOutputsCell_1_NumericOutput3 {
  top: 345px;
  position: absolute;
}

#cntRobotOutputsCell_1_NumericOutput3 {
  left: 0px;
  position: absolute;
}

#cntRobotOutputsCell_1_NumericOutput3 {
  width: 60px;
}

#cntRobotOutputsCell_1_NumericOutput3 {
  height: 20px;
}

#cntRobotOutputsCell_1_NumericOutput3 {
  z-index: 31;
}

#cntRobotOutputsCell_1_NumericOutput3 {
  border-color: black;
}

#cntRobotOutputsCell_1_NumericOutput3 input {
  color: black;
}

#cntRobotOutputsCell_1_NumericOutput3 span.breaseNumericOutput_unit {
  color: black;
}

#cntRobotOutputsCell_1_NumericOutput3 input {
  font-size: 14px;
}

#cntRobotOutputsCell_1_NumericOutput3 {
  margin: 0px;
}

#cntRobotOutputsCell_1_NumericOutput4 {
  top: 375px;
  position: absolute;
}

#cntRobotOutputsCell_1_NumericOutput4 {
  left: 0px;
  position: absolute;
}

#cntRobotOutputsCell_1_NumericOutput4 {
  width: 60px;
}

#cntRobotOutputsCell_1_NumericOutput4 {
  height: 20px;
}

#cntRobotOutputsCell_1_NumericOutput4 {
  z-index: 32;
}

#cntRobotOutputsCell_1_NumericOutput4 {
  border-color: black;
}

#cntRobotOutputsCell_1_NumericOutput4 input {
  color: black;
}

#cntRobotOutputsCell_1_NumericOutput4 span.breaseNumericOutput_unit {
  color: black;
}

#cntRobotOutputsCell_1_NumericOutput4 input {
  font-size: 14px;
}

#cntRobotOutputsCell_1_NumericOutput4 {
  margin: 0px;
}

#cntRobotOutputsCell_1_GridLineItem3 {
  z-index: 2;
}

#cntRobotOutputsCell_1_GridLineItem3 {
  padding: 0px 10px 10px 10px;
}

#cntRobotOutputsCell_1_ImageList31 {
  top: 45px;
  position: absolute;
}

#cntRobotOutputsCell_1_ImageList31 {
  left: 15px;
  position: absolute;
}

#cntRobotOutputsCell_1_ImageList31 {
  width: 20px;
}

#cntRobotOutputsCell_1_ImageList31 {
  height: 20px;
}

#cntRobotOutputsCell_1_ImageList31 {
  z-index: 0;
}

#cntRobotOutputsCell_1_ImageList32 {
  top: 75px;
  position: absolute;
}

#cntRobotOutputsCell_1_ImageList32 {
  left: 15px;
  position: absolute;
}

#cntRobotOutputsCell_1_ImageList32 {
  width: 20px;
}

#cntRobotOutputsCell_1_ImageList32 {
  height: 20px;
}

#cntRobotOutputsCell_1_ImageList32 {
  z-index: 1;
}

#cntRobotOutputsCell_1_ImageList33 {
  top: 105px;
  position: absolute;
}

#cntRobotOutputsCell_1_ImageList33 {
  left: 15px;
  position: absolute;
}

#cntRobotOutputsCell_1_ImageList33 {
  width: 20px;
}

#cntRobotOutputsCell_1_ImageList33 {
  height: 20px;
}

#cntRobotOutputsCell_1_ImageList33 {
  z-index: 2;
}

#cntRobotOutputsCell_1_ImageList34 {
  top: 135px;
  position: absolute;
}

#cntRobotOutputsCell_1_ImageList34 {
  left: 15px;
  position: absolute;
}

#cntRobotOutputsCell_1_ImageList34 {
  width: 20px;
}

#cntRobotOutputsCell_1_ImageList34 {
  height: 20px;
}

#cntRobotOutputsCell_1_ImageList34 {
  z-index: 3;
}

#cntRobotOutputsCell_1_ImageList35 {
  top: 165px;
  position: absolute;
}

#cntRobotOutputsCell_1_ImageList35 {
  left: 15px;
  position: absolute;
}

#cntRobotOutputsCell_1_ImageList35 {
  width: 20px;
}

#cntRobotOutputsCell_1_ImageList35 {
  height: 20px;
}

#cntRobotOutputsCell_1_ImageList35 {
  z-index: 4;
}

#cntRobotOutputsCell_1_ImageList36 {
  top: 195px;
  position: absolute;
}

#cntRobotOutputsCell_1_ImageList36 {
  left: 15px;
  position: absolute;
}

#cntRobotOutputsCell_1_ImageList36 {
  width: 20px;
}

#cntRobotOutputsCell_1_ImageList36 {
  height: 25px;
}

#cntRobotOutputsCell_1_ImageList36 {
  z-index: 5;
}

#cntRobotOutputsCell_1_ImageList37 {
  top: 225px;
  position: absolute;
}

#cntRobotOutputsCell_1_ImageList37 {
  left: 15px;
  position: absolute;
}

#cntRobotOutputsCell_1_ImageList37 {
  width: 20px;
}

#cntRobotOutputsCell_1_ImageList37 {
  height: 20px;
}

#cntRobotOutputsCell_1_ImageList37 {
  z-index: 6;
}

#cntRobotOutputsCell_1_ImageList38 {
  top: 255px;
  position: absolute;
}

#cntRobotOutputsCell_1_ImageList38 {
  left: 15px;
  position: absolute;
}

#cntRobotOutputsCell_1_ImageList38 {
  width: 20px;
}

#cntRobotOutputsCell_1_ImageList38 {
  height: 20px;
}

#cntRobotOutputsCell_1_ImageList38 {
  z-index: 7;
}

#cntRobotOutputsCell_1_ImageList39 {
  top: 285px;
  position: absolute;
}

#cntRobotOutputsCell_1_ImageList39 {
  left: 15px;
  position: absolute;
}

#cntRobotOutputsCell_1_ImageList39 {
  width: 20px;
}

#cntRobotOutputsCell_1_ImageList39 {
  height: 20px;
}

#cntRobotOutputsCell_1_ImageList39 {
  z-index: 8;
}

#cntRobotOutputsCell_1_ImageList40 {
  top: 315px;
  position: absolute;
}

#cntRobotOutputsCell_1_ImageList40 {
  left: 15px;
  position: absolute;
}

#cntRobotOutputsCell_1_ImageList40 {
  width: 20px;
}

#cntRobotOutputsCell_1_ImageList40 {
  height: 20px;
}

#cntRobotOutputsCell_1_ImageList40 {
  z-index: 9;
}

#cntRobotOutputsCell_1_ImageList41 {
  top: 345px;
  position: absolute;
}

#cntRobotOutputsCell_1_ImageList41 {
  left: 15px;
  position: absolute;
}

#cntRobotOutputsCell_1_ImageList41 {
  width: 20px;
}

#cntRobotOutputsCell_1_ImageList41 {
  height: 20px;
}

#cntRobotOutputsCell_1_ImageList41 {
  z-index: 10;
}

#cntRobotOutputsCell_1_ImageList42 {
  top: 375px;
  position: absolute;
}

#cntRobotOutputsCell_1_ImageList42 {
  left: 15px;
  position: absolute;
}

#cntRobotOutputsCell_1_ImageList42 {
  width: 20px;
}

#cntRobotOutputsCell_1_ImageList42 {
  height: 20px;
}

#cntRobotOutputsCell_1_ImageList42 {
  z-index: 11;
}

#cntRobotOutputsCell_1_ImageList43 {
  top: 405px;
  position: absolute;
}

#cntRobotOutputsCell_1_ImageList43 {
  left: 15px;
  position: absolute;
}

#cntRobotOutputsCell_1_ImageList43 {
  width: 20px;
}

#cntRobotOutputsCell_1_ImageList43 {
  height: 20px;
}

#cntRobotOutputsCell_1_ImageList43 {
  z-index: 12;
}

#cntRobotOutputsCell_1_ImageList44 {
  top: 435px;
  position: absolute;
}

#cntRobotOutputsCell_1_ImageList44 {
  left: 15px;
  position: absolute;
}

#cntRobotOutputsCell_1_ImageList44 {
  width: 20px;
}

#cntRobotOutputsCell_1_ImageList44 {
  height: 20px;
}

#cntRobotOutputsCell_1_ImageList44 {
  z-index: 13;
}

#cntRobotOutputsCell_1_ImageList45 {
  top: 465px;
  position: absolute;
}

#cntRobotOutputsCell_1_ImageList45 {
  left: 15px;
  position: absolute;
}

#cntRobotOutputsCell_1_ImageList45 {
  width: 20px;
}

#cntRobotOutputsCell_1_ImageList45 {
  height: 20px;
}

#cntRobotOutputsCell_1_ImageList45 {
  z-index: 14;
}

#cntRobotOutputsCell_1_ImageList46 {
  top: 495px;
  position: absolute;
}

#cntRobotOutputsCell_1_ImageList46 {
  left: 15px;
  position: absolute;
}

#cntRobotOutputsCell_1_ImageList46 {
  width: 20px;
}

#cntRobotOutputsCell_1_ImageList46 {
  height: 20px;
}

#cntRobotOutputsCell_1_ImageList46 {
  z-index: 15;
}

#cntRobotOutputsCell_1_Label7 {
  top: 8px;
  position: absolute;
}

#cntRobotOutputsCell_1_Label7 {
  left: 8px;
  position: absolute;
}

#cntRobotOutputsCell_1_Label7 {
  width: 265px;
}

#cntRobotOutputsCell_1_Label7 {
  height: 22px;
}

#cntRobotOutputsCell_1_Label7 {
  z-index: 16;
}

#cntRobotOutputsCell_1_Label7 span {
  color: dimgray;
}

#cntRobotOutputsCell_1_Label7 {
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntRobotOutputsCell_1_Label7 {
  font-size: 18px;
}

#cntRobotOutputsCell_1_Label7 span {
  text-decoration: underline;
}

#cntRobotOutputsCell_1_Label36 {
  top: 45px;
  position: absolute;
}

#cntRobotOutputsCell_1_Label36 {
  left: 50px;
  position: absolute;
}

#cntRobotOutputsCell_1_Label36 {
  width: 210px;
}

#cntRobotOutputsCell_1_Label36 {
  height: 20px;
}

#cntRobotOutputsCell_1_Label36 {
  z-index: 17;
}

#cntRobotOutputsCell_1_Label36 {
  font-size: 16px;
}

#cntRobotOutputsCell_1_Label36 span {
  padding: 5px;
}

#cntRobotOutputsCell_1_Label37 {
  top: 75px;
  position: absolute;
}

#cntRobotOutputsCell_1_Label37 {
  left: 50px;
  position: absolute;
}

#cntRobotOutputsCell_1_Label37 {
  width: 210px;
}

#cntRobotOutputsCell_1_Label37 {
  height: 20px;
}

#cntRobotOutputsCell_1_Label37 {
  z-index: 18;
}

#cntRobotOutputsCell_1_Label37 {
  font-size: 16px;
}

#cntRobotOutputsCell_1_Label37 span {
  padding: 5px;
}

#cntRobotOutputsCell_1_Label38 {
  top: 105px;
  position: absolute;
}

#cntRobotOutputsCell_1_Label38 {
  left: 50px;
  position: absolute;
}

#cntRobotOutputsCell_1_Label38 {
  width: 210px;
}

#cntRobotOutputsCell_1_Label38 {
  height: 20px;
}

#cntRobotOutputsCell_1_Label38 {
  z-index: 19;
}

#cntRobotOutputsCell_1_Label38 {
  font-size: 16px;
}

#cntRobotOutputsCell_1_Label38 span {
  padding: 5px;
}

#cntRobotOutputsCell_1_Label39 {
  top: 135px;
  position: absolute;
}

#cntRobotOutputsCell_1_Label39 {
  left: 50px;
  position: absolute;
}

#cntRobotOutputsCell_1_Label39 {
  width: 210px;
}

#cntRobotOutputsCell_1_Label39 {
  height: 20px;
}

#cntRobotOutputsCell_1_Label39 {
  z-index: 20;
}

#cntRobotOutputsCell_1_Label39 {
  font-size: 16px;
}

#cntRobotOutputsCell_1_Label39 span {
  padding: 5px;
}

#cntRobotOutputsCell_1_Label40 {
  top: 165px;
  position: absolute;
}

#cntRobotOutputsCell_1_Label40 {
  left: 50px;
  position: absolute;
}

#cntRobotOutputsCell_1_Label40 {
  width: 210px;
}

#cntRobotOutputsCell_1_Label40 {
  height: 20px;
}

#cntRobotOutputsCell_1_Label40 {
  z-index: 21;
}

#cntRobotOutputsCell_1_Label40 {
  font-size: 16px;
}

#cntRobotOutputsCell_1_Label40 span {
  padding: 5px;
}

#cntRobotOutputsCell_1_Label41 {
  top: 195px;
  position: absolute;
}

#cntRobotOutputsCell_1_Label41 {
  left: 50px;
  position: absolute;
}

#cntRobotOutputsCell_1_Label41 {
  width: 210px;
}

#cntRobotOutputsCell_1_Label41 {
  height: 20px;
}

#cntRobotOutputsCell_1_Label41 {
  z-index: 22;
}

#cntRobotOutputsCell_1_Label41 {
  font-size: 16px;
}

#cntRobotOutputsCell_1_Label41 span {
  padding: 5px;
}

#cntRobotOutputsCell_1_Label42 {
  top: 225px;
  position: absolute;
}

#cntRobotOutputsCell_1_Label42 {
  left: 50px;
  position: absolute;
}

#cntRobotOutputsCell_1_Label42 {
  width: 210px;
}

#cntRobotOutputsCell_1_Label42 {
  height: 20px;
}

#cntRobotOutputsCell_1_Label42 {
  z-index: 23;
}

#cntRobotOutputsCell_1_Label42 {
  font-size: 16px;
}

#cntRobotOutputsCell_1_Label42 span {
  padding: 5px;
}

#cntRobotOutputsCell_1_Label43 {
  top: 255px;
  position: absolute;
}

#cntRobotOutputsCell_1_Label43 {
  left: 50px;
  position: absolute;
}

#cntRobotOutputsCell_1_Label43 {
  width: 210px;
}

#cntRobotOutputsCell_1_Label43 {
  height: 20px;
}

#cntRobotOutputsCell_1_Label43 {
  z-index: 24;
}

#cntRobotOutputsCell_1_Label43 {
  font-size: 16px;
}

#cntRobotOutputsCell_1_Label43 span {
  padding: 5px;
}

#cntRobotOutputsCell_1_Label44 {
  top: 285px;
  position: absolute;
}

#cntRobotOutputsCell_1_Label44 {
  left: 50px;
  position: absolute;
}

#cntRobotOutputsCell_1_Label44 {
  width: 210px;
}

#cntRobotOutputsCell_1_Label44 {
  height: 20px;
}

#cntRobotOutputsCell_1_Label44 {
  z-index: 25;
}

#cntRobotOutputsCell_1_Label44 {
  font-size: 16px;
}

#cntRobotOutputsCell_1_Label44 span {
  padding: 5px;
}

#cntRobotOutputsCell_1_Label45 {
  top: 315px;
  position: absolute;
}

#cntRobotOutputsCell_1_Label45 {
  left: 50px;
  position: absolute;
}

#cntRobotOutputsCell_1_Label45 {
  width: 210px;
}

#cntRobotOutputsCell_1_Label45 {
  height: 20px;
}

#cntRobotOutputsCell_1_Label45 {
  z-index: 26;
}

#cntRobotOutputsCell_1_Label45 {
  font-size: 16px;
}

#cntRobotOutputsCell_1_Label45 span {
  padding: 5px;
}

#cntRobotOutputsCell_1_Label46 {
  top: 345px;
  position: absolute;
}

#cntRobotOutputsCell_1_Label46 {
  left: 50px;
  position: absolute;
}

#cntRobotOutputsCell_1_Label46 {
  width: 210px;
}

#cntRobotOutputsCell_1_Label46 {
  height: 20px;
}

#cntRobotOutputsCell_1_Label46 {
  z-index: 27;
}

#cntRobotOutputsCell_1_Label46 {
  font-size: 16px;
}

#cntRobotOutputsCell_1_Label46 span {
  padding: 5px;
}

#cntRobotOutputsCell_1_Label47 {
  top: 375px;
  position: absolute;
}

#cntRobotOutputsCell_1_Label47 {
  left: 50px;
  position: absolute;
}

#cntRobotOutputsCell_1_Label47 {
  width: 210px;
}

#cntRobotOutputsCell_1_Label47 {
  height: 20px;
}

#cntRobotOutputsCell_1_Label47 {
  z-index: 28;
}

#cntRobotOutputsCell_1_Label47 {
  font-size: 16px;
}

#cntRobotOutputsCell_1_Label47 span {
  padding: 5px;
}

#cntRobotOutputsCell_1_Label48 {
  top: 405px;
  position: absolute;
}

#cntRobotOutputsCell_1_Label48 {
  left: 50px;
  position: absolute;
}

#cntRobotOutputsCell_1_Label48 {
  width: 210px;
}

#cntRobotOutputsCell_1_Label48 {
  height: 20px;
}

#cntRobotOutputsCell_1_Label48 {
  z-index: 29;
}

#cntRobotOutputsCell_1_Label48 {
  font-size: 16px;
}

#cntRobotOutputsCell_1_Label48 span {
  padding: 5px;
}

#cntRobotOutputsCell_1_Label49 {
  top: 435px;
  position: absolute;
}

#cntRobotOutputsCell_1_Label49 {
  left: 50px;
  position: absolute;
}

#cntRobotOutputsCell_1_Label49 {
  width: 210px;
}

#cntRobotOutputsCell_1_Label49 {
  height: 20px;
}

#cntRobotOutputsCell_1_Label49 {
  z-index: 30;
}

#cntRobotOutputsCell_1_Label49 {
  font-size: 16px;
}

#cntRobotOutputsCell_1_Label49 span {
  padding: 5px;
}

#cntRobotOutputsCell_1_Label50 {
  top: 465px;
  position: absolute;
}

#cntRobotOutputsCell_1_Label50 {
  left: 50px;
  position: absolute;
}

#cntRobotOutputsCell_1_Label50 {
  width: 210px;
}

#cntRobotOutputsCell_1_Label50 {
  height: 20px;
}

#cntRobotOutputsCell_1_Label50 {
  z-index: 31;
}

#cntRobotOutputsCell_1_Label50 {
  font-size: 16px;
}

#cntRobotOutputsCell_1_Label50 span {
  padding: 5px;
}

#cntRobotOutputsCell_1_Label51 {
  top: 495px;
  position: absolute;
}

#cntRobotOutputsCell_1_Label51 {
  left: 50px;
  position: absolute;
}

#cntRobotOutputsCell_1_Label51 {
  width: 210px;
}

#cntRobotOutputsCell_1_Label51 {
  height: 20px;
}

#cntRobotOutputsCell_1_Label51 {
  z-index: 32;
}

#cntRobotOutputsCell_1_Label51 {
  font-size: 16px;
}

#cntRobotOutputsCell_1_Label51 span {
  padding: 5px;
}

#cntRobotOutputsCell_1_GridLineItem5 {
  z-index: 3;
}

#cntRobotOutputsCell_1_GridLineItem5 {
  padding: 0px 10px 10px 10px;
}

#cntRobotOutputsCell_1_Label52 {
  top: 8px;
  position: absolute;
}

#cntRobotOutputsCell_1_Label52 {
  left: 8px;
  position: absolute;
}

#cntRobotOutputsCell_1_Label52 {
  width: 265px;
}

#cntRobotOutputsCell_1_Label52 {
  height: 22px;
}

#cntRobotOutputsCell_1_Label52 {
  z-index: 0;
}

#cntRobotOutputsCell_1_Label52 span {
  color: dimgray;
}

#cntRobotOutputsCell_1_Label52 {
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntRobotOutputsCell_1_Label52 {
  font-size: 18px;
}

#cntRobotOutputsCell_1_Label52 span {
  text-decoration: underline;
}

#cntRobotOutputsCell_1_ImageList49 {
  top: 45px;
  position: absolute;
}

#cntRobotOutputsCell_1_ImageList49 {
  left: 15px;
  position: absolute;
}

#cntRobotOutputsCell_1_ImageList49 {
  width: 20px;
}

#cntRobotOutputsCell_1_ImageList49 {
  height: 20px;
}

#cntRobotOutputsCell_1_ImageList49 {
  z-index: 1;
}

#cntRobotOutputsCell_1_Label53 {
  top: 45px;
  position: absolute;
}

#cntRobotOutputsCell_1_Label53 {
  left: 50px;
  position: absolute;
}

#cntRobotOutputsCell_1_Label53 {
  width: 210px;
}

#cntRobotOutputsCell_1_Label53 {
  height: 20px;
}

#cntRobotOutputsCell_1_Label53 {
  z-index: 2;
}

#cntRobotOutputsCell_1_Label53 {
  font-size: 16px;
}

#cntRobotOutputsCell_1_Label53 span {
  padding: 5px;
}

#cntRobotOutputsCell_1_ImageList50 {
  top: 75px;
  position: absolute;
}

#cntRobotOutputsCell_1_ImageList50 {
  left: 15px;
  position: absolute;
}

#cntRobotOutputsCell_1_ImageList50 {
  width: 20px;
}

#cntRobotOutputsCell_1_ImageList50 {
  height: 20px;
}

#cntRobotOutputsCell_1_ImageList50 {
  z-index: 3;
}

#cntRobotOutputsCell_1_Label54 {
  top: 75px;
  position: absolute;
}

#cntRobotOutputsCell_1_Label54 {
  left: 50px;
  position: absolute;
}

#cntRobotOutputsCell_1_Label54 {
  width: 210px;
}

#cntRobotOutputsCell_1_Label54 {
  height: 20px;
}

#cntRobotOutputsCell_1_Label54 {
  z-index: 4;
}

#cntRobotOutputsCell_1_Label54 {
  font-size: 16px;
}

#cntRobotOutputsCell_1_Label54 span {
  padding: 5px;
}

#cntRobotOutputsCell_1_ImageList51 {
  top: 105px;
  position: absolute;
}

#cntRobotOutputsCell_1_ImageList51 {
  left: 15px;
  position: absolute;
}

#cntRobotOutputsCell_1_ImageList51 {
  width: 20px;
}

#cntRobotOutputsCell_1_ImageList51 {
  height: 20px;
}

#cntRobotOutputsCell_1_ImageList51 {
  z-index: 5;
}

#cntRobotOutputsCell_1_Label55 {
  top: 105px;
  position: absolute;
}

#cntRobotOutputsCell_1_Label55 {
  left: 50px;
  position: absolute;
}

#cntRobotOutputsCell_1_Label55 {
  width: 210px;
}

#cntRobotOutputsCell_1_Label55 {
  height: 20px;
}

#cntRobotOutputsCell_1_Label55 {
  z-index: 6;
}

#cntRobotOutputsCell_1_Label55 {
  font-size: 16px;
}

#cntRobotOutputsCell_1_Label55 span {
  padding: 5px;
}

#cntRobotOutputsCell_1_ImageList52 {
  top: 135px;
  position: absolute;
}

#cntRobotOutputsCell_1_ImageList52 {
  left: 15px;
  position: absolute;
}

#cntRobotOutputsCell_1_ImageList52 {
  width: 20px;
}

#cntRobotOutputsCell_1_ImageList52 {
  height: 20px;
}

#cntRobotOutputsCell_1_ImageList52 {
  z-index: 7;
}

#cntRobotOutputsCell_1_Label56 {
  top: 135px;
  position: absolute;
}

#cntRobotOutputsCell_1_Label56 {
  left: 50px;
  position: absolute;
}

#cntRobotOutputsCell_1_Label56 {
  width: 210px;
}

#cntRobotOutputsCell_1_Label56 {
  height: 20px;
}

#cntRobotOutputsCell_1_Label56 {
  z-index: 8;
}

#cntRobotOutputsCell_1_Label56 {
  font-size: 16px;
}

#cntRobotOutputsCell_1_Label56 span {
  padding: 5px;
}

#cntRobotOutputsCell_1_Label57 {
  top: 165px;
  position: absolute;
}

#cntRobotOutputsCell_1_Label57 {
  left: 50px;
  position: absolute;
}

#cntRobotOutputsCell_1_Label57 {
  width: 210px;
}

#cntRobotOutputsCell_1_Label57 {
  height: 20px;
}

#cntRobotOutputsCell_1_Label57 {
  z-index: 9;
}

#cntRobotOutputsCell_1_Label57 {
  font-size: 16px;
}

#cntRobotOutputsCell_1_Label57 span {
  padding: 5px;
}

#cntRobotOutputsCell_1_Label58 {
  top: 195px;
  position: absolute;
}

#cntRobotOutputsCell_1_Label58 {
  left: 50px;
  position: absolute;
}

#cntRobotOutputsCell_1_Label58 {
  width: 210px;
}

#cntRobotOutputsCell_1_Label58 {
  height: 20px;
}

#cntRobotOutputsCell_1_Label58 {
  z-index: 10;
}

#cntRobotOutputsCell_1_Label58 {
  font-size: 16px;
}

#cntRobotOutputsCell_1_Label58 span {
  padding: 5px;
}

#cntRobotOutputsCell_1_Label59 {
  top: 225px;
  position: absolute;
}

#cntRobotOutputsCell_1_Label59 {
  left: 50px;
  position: absolute;
}

#cntRobotOutputsCell_1_Label59 {
  width: 210px;
}

#cntRobotOutputsCell_1_Label59 {
  height: 20px;
}

#cntRobotOutputsCell_1_Label59 {
  z-index: 11;
}

#cntRobotOutputsCell_1_Label59 {
  font-size: 16px;
}

#cntRobotOutputsCell_1_Label59 span {
  padding: 5px;
}

#cntRobotOutputsCell_1_Label60 {
  top: 255px;
  position: absolute;
}

#cntRobotOutputsCell_1_Label60 {
  left: 50px;
  position: absolute;
}

#cntRobotOutputsCell_1_Label60 {
  width: 210px;
}

#cntRobotOutputsCell_1_Label60 {
  height: 20px;
}

#cntRobotOutputsCell_1_Label60 {
  z-index: 12;
}

#cntRobotOutputsCell_1_Label60 {
  font-size: 16px;
}

#cntRobotOutputsCell_1_Label60 span {
  padding: 5px;
}

#cntRobotOutputsCell_1_Label61 {
  top: 285px;
  position: absolute;
}

#cntRobotOutputsCell_1_Label61 {
  left: 50px;
  position: absolute;
}

#cntRobotOutputsCell_1_Label61 {
  width: 210px;
}

#cntRobotOutputsCell_1_Label61 {
  height: 20px;
}

#cntRobotOutputsCell_1_Label61 {
  z-index: 13;
}

#cntRobotOutputsCell_1_Label61 {
  font-size: 16px;
}

#cntRobotOutputsCell_1_Label61 span {
  padding: 5px;
}

#cntRobotOutputsCell_1_NumericOutput5 {
  top: 165px;
  position: absolute;
}

#cntRobotOutputsCell_1_NumericOutput5 {
  left: 0px;
  position: absolute;
}

#cntRobotOutputsCell_1_NumericOutput5 {
  width: 60px;
}

#cntRobotOutputsCell_1_NumericOutput5 {
  height: 20px;
}

#cntRobotOutputsCell_1_NumericOutput5 {
  z-index: 14;
}

#cntRobotOutputsCell_1_NumericOutput5 {
  border-color: black;
}

#cntRobotOutputsCell_1_NumericOutput5 input {
  color: black;
}

#cntRobotOutputsCell_1_NumericOutput5 span.breaseNumericOutput_unit {
  color: black;
}

#cntRobotOutputsCell_1_NumericOutput5 input {
  font-size: 14px;
}

#cntRobotOutputsCell_1_NumericOutput5 {
  margin: 0px;
}

#cntRobotOutputsCell_1_NumericOutput6 {
  top: 195px;
  position: absolute;
}

#cntRobotOutputsCell_1_NumericOutput6 {
  left: 0px;
  position: absolute;
}

#cntRobotOutputsCell_1_NumericOutput6 {
  width: 60px;
}

#cntRobotOutputsCell_1_NumericOutput6 {
  height: 20px;
}

#cntRobotOutputsCell_1_NumericOutput6 {
  z-index: 15;
}

#cntRobotOutputsCell_1_NumericOutput6 {
  border-color: black;
}

#cntRobotOutputsCell_1_NumericOutput6 input {
  color: black;
}

#cntRobotOutputsCell_1_NumericOutput6 span.breaseNumericOutput_unit {
  color: black;
}

#cntRobotOutputsCell_1_NumericOutput6 input {
  font-size: 14px;
}

#cntRobotOutputsCell_1_NumericOutput6 {
  margin: 0px;
}

#cntRobotOutputsCell_1_NumericOutput7 {
  top: 225px;
  position: absolute;
}

#cntRobotOutputsCell_1_NumericOutput7 {
  left: 0px;
  position: absolute;
}

#cntRobotOutputsCell_1_NumericOutput7 {
  width: 60px;
}

#cntRobotOutputsCell_1_NumericOutput7 {
  height: 20px;
}

#cntRobotOutputsCell_1_NumericOutput7 {
  z-index: 16;
}

#cntRobotOutputsCell_1_NumericOutput7 {
  border-color: black;
}

#cntRobotOutputsCell_1_NumericOutput7 input {
  color: black;
}

#cntRobotOutputsCell_1_NumericOutput7 span.breaseNumericOutput_unit {
  color: black;
}

#cntRobotOutputsCell_1_NumericOutput7 input {
  font-size: 14px;
}

#cntRobotOutputsCell_1_NumericOutput7 {
  margin: 0px;
}

#cntRobotOutputsCell_1_NumericOutput8 {
  top: 255px;
  position: absolute;
}

#cntRobotOutputsCell_1_NumericOutput8 {
  left: 0px;
  position: absolute;
}

#cntRobotOutputsCell_1_NumericOutput8 {
  width: 60px;
}

#cntRobotOutputsCell_1_NumericOutput8 {
  height: 20px;
}

#cntRobotOutputsCell_1_NumericOutput8 {
  z-index: 17;
}

#cntRobotOutputsCell_1_NumericOutput8 {
  border-color: black;
}

#cntRobotOutputsCell_1_NumericOutput8 input {
  color: black;
}

#cntRobotOutputsCell_1_NumericOutput8 span.breaseNumericOutput_unit {
  color: black;
}

#cntRobotOutputsCell_1_NumericOutput8 input {
  font-size: 14px;
}

#cntRobotOutputsCell_1_NumericOutput8 {
  margin: 0px;
}

#cntRobotOutputsCell_1_NumericOutput9 {
  top: 285px;
  position: absolute;
}

#cntRobotOutputsCell_1_NumericOutput9 {
  left: 0px;
  position: absolute;
}

#cntRobotOutputsCell_1_NumericOutput9 {
  width: 60px;
}

#cntRobotOutputsCell_1_NumericOutput9 {
  height: 15px;
}

#cntRobotOutputsCell_1_NumericOutput9 {
  z-index: 18;
}

#cntRobotOutputsCell_1_NumericOutput9 {
  border-color: black;
}

#cntRobotOutputsCell_1_NumericOutput9 input {
  color: black;
}

#cntRobotOutputsCell_1_NumericOutput9 span.breaseNumericOutput_unit {
  color: black;
}

#cntRobotOutputsCell_1_NumericOutput9 input {
  font-size: 14px;
}

#cntRobotOutputsCell_1_NumericOutput9 {
  margin: 0px;
}

#cntRobotOutputsCell_1_CheckBox_SafetyRelOut {
  top: 0px;
  position: absolute;
}

#cntRobotOutputsCell_1_CheckBox_SafetyRelOut {
  left: 250px;
  position: absolute;
}

#cntRobotOutputsCell_1_CheckBox_SafetyRelOut {
  width: 45px;
}

#cntRobotOutputsCell_1_CheckBox_SafetyRelOut {
  height: 45px;
}

#cntRobotOutputsCell_1_CheckBox_SafetyRelOut {
  z-index: 1;
}

#cntRobotOutputsCell_1_CheckBox_SafetyRelOut span {
  font-style: italic;
}

#cntRobotOutputsCell_1_CheckBox_SafetyRelOut.checked:not(.disabled) svg {
  fill: red;
}
