﻿<?xml version="1.0" encoding="utf-8"?>
<pdef:Page xmlns:pdef="http://www.br-automation.com/iat2015/pageDefinition/v2" id="pgRecipe" layoutRefId="lytRecipe">
  <Assignments>
    <Assignment type="Content" baseContentRefId="cntHeader" areaRefId="AreaHeader" styleRefId="Header_eecet" />
    <Assignment type="Content" baseContentRefId="cntRecipe_ChangeReqImage" areaRefId="AreaRecipe" styleRefId="gradient_eecet" />
    <Assignment type="Content" baseContentRefId="cntRecipe_Buttons" areaRefId="AreaButtons" styleRefId="gradient_eecet" />
    <Assignment type="Content" baseContentRefId="cntRecipe_Empty" areaRefId="AreaRecipeInfo" styleRefId="gradient" backGroundGradient="linear-gradient(to top, rgba(255,255,255,1),rgba(229,229,229,1))" />
    <Assignment type="Content" baseContentRefId="cntMenu" areaRefId="AreaMenu" styleRefId="gradient" />
  </Assignments>
</pdef:Page>