#cntHomeCell_1_YSockParts_ChckBx_Cell1_YSockParts {
  top: 0px;
  position: absolute;
}

#cntHomeCell_1_YSockParts_ChckBx_Cell1_YSockParts {
  left: 375px;
  position: absolute;
}

#cntHomeCell_1_YSockParts_ChckBx_Cell1_YSockParts {
  width: 60px;
}

#cntHomeCell_1_YSockParts_ChckBx_Cell1_YSockParts {
  height: 45px;
}

#cntHomeCell_1_YSockParts_ChckBx_Cell1_YSockParts {
  z-index: 0;
}

#cntHomeCell_1_YSockParts_ChckBx_Cell1_YSockParts span {
  font-style: italic;
}

#cntHomeCell_1_YSockParts_ChckBx_Cell1_YSockParts {
  padding: 0px;
}

#cntHomeCell_1_YSockParts_ChckBx_Cell1_YSockParts.checked:not(.disabled) svg {
  fill: red;
}
