.ListBoxView {
    box-sizing: border-box;
    overflow: hidden;
    border-width: 2px;
    border-style: solid;
    border-color: #535353;
    @include border-radius(0px);
    opacity: 1;
    margin: 0px;
}