#cntHeader_DateTimeOutput1 {
  width: 200px;
}

#cntHeader_DateTimeOutput1 {
  top: 0px;
  position: absolute;
}

#cntHeader_DateTimeOutput1 {
  left: 1720px;
  position: absolute;
}

#cntHeader_DateTimeOutput1 {
  height: 60px;
}

#cntHeader_DateTimeOutput1 {
  z-index: 0;
}

#cntHeader_DateTimeOutput1 {
  background-color: rgba(255, 255, 255, 0);
}

#cntHeader_DateTimeOutput1 {
  border-style: none;
}

#cntHeader_DateTimeOutput1 {
  justify-content: center;
  text-align: center;
}

#cntHeader_DateTimeOutput1 {
  padding: 0px 0px 0px 0px;
}

#cntHeader_Image_Logo {
  height: 100px;
}

#cntHeader_Image_Logo {
  top: 0px;
  position: absolute;
}

#cntHeader_Image_Logo {
  left: 0px;
  position: absolute;
}

#cntHeader_Image_Logo {
  width: 260px;
}

#cntHeader_Image_Logo {
  z-index: 1;
}

#cntHeader_Image_Logo > .ImageView > svg {
  fill: #ff000d;
}

#cntHeader_DateTimeOutput2 {
  width: 200px;
}

#cntHeader_DateTimeOutput2 {
  top: 60px;
  position: absolute;
}

#cntHeader_DateTimeOutput2 {
  left: 1720px;
  position: absolute;
}

#cntHeader_DateTimeOutput2 {
  height: 40px;
}

#cntHeader_DateTimeOutput2 {
  z-index: 2;
}

#cntHeader_DateTimeOutput2 {
  background-color: rgba(255, 255, 255, 0);
}

#cntHeader_DateTimeOutput2 {
  border-style: none;
}

#cntHeader_DateTimeOutput2 {
  justify-content: center;
  text-align: center;
}

#cntHeader_DateTimeOutput2 {
  padding: 0px 0px 0px 0px;
}

#cntHeader_TextOutput1 {
  top: 20px;
  position: absolute;
}

#cntHeader_TextOutput1 {
  left: 260px;
  position: absolute;
}

#cntHeader_TextOutput1 {
  width: 230px;
}

#cntHeader_TextOutput1 {
  height: 60px;
}

#cntHeader_TextOutput1 {
  z-index: 3;
}

#cntHeader_TextOutput1 {
  border-width: 5px;
}

#cntHeader_TextOutput1 {
  background-color: rgba(255, 255, 255, 0);
}

#cntHeader_TextOutput1 {
  background-image: linear-gradient(to top, rgba(235,235,235,0.1) 100%, rgba(235,235,235,0.5) 0%);
}

#cntHeader_TextOutput1 {
  border-color: lightgray;
}

#cntHeader_TextOutput1:before {
  border-color: lightgray;
}

#cntHeader_TextOutput1:after {
  border-color: lightgray;
}

#cntHeader_TextOutput1 {
  border-style: double;
}

#cntHeader_TextOutput1:before {
  border-style: double;
}

#cntHeader_TextOutput1:after {
  border-style: double;
}

#cntHeader_TextOutput1 {
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntHeader_TextOutput1 span {
  font-family: Times New Roman;
}

#cntHeader_TextOutput1 {
  font-size: 34px;
}

#cntHeader_TextOutput1 {
  font-weight: normal;
}

#cntHeader_TextOutput1 {
  font-style: italic;
}

#cntHeader_Image1 {
  height: 100px;
}

#cntHeader_Image1 {
  top: 0px;
  position: absolute;
}

#cntHeader_Image1 {
  left: 1600px;
  position: absolute;
}

#cntHeader_Image1 {
  width: 100px;
}

#cntHeader_Image1 {
  z-index: 4;
}

#cntHeader_Image2 {
  height: 100px;
}

#cntHeader_Image2 {
  top: 0px;
  position: absolute;
}

#cntHeader_Image2 {
  left: 1300px;
  position: absolute;
}

#cntHeader_Image2 {
  width: 100px;
}

#cntHeader_Image2 {
  z-index: 5;
}

#cntHeader_Image3 {
  height: 100px;
}

#cntHeader_Image3 {
  top: 0px;
  position: absolute;
}

#cntHeader_Image3 {
  left: 1440px;
  position: absolute;
}

#cntHeader_Image3 {
  width: 110px;
}

#cntHeader_Image3 {
  z-index: 6;
}
