﻿@import "mixins.scss";
#cntHeader_DateTimeOutput1 {
	@include elemAutoWidth(200);
}
#cntHeader_DateTimeOutput1 {
	@include elemTop(0);
}
#cntHeader_DateTimeOutput1 {
	@include elemLeft(1720);
}
#cntHeader_DateTimeOutput1 {
	@include elemAutoHeight(60);
}
#cntHeader_DateTimeOutput1 {
		z-index: 0;
}
#cntHeader_DateTimeOutput1 {
		background-color: rgba(255, 255, 255, 0);
}
#cntHeader_DateTimeOutput1 {
	@include backGroundGradient('');
}
#cntHeader_DateTimeOutput1 {
		border-style: none;
}
#cntHeader_DateTimeOutput1 {
	@include text-alignment(center);
}
#cntHeader_DateTimeOutput1 {
		padding: 0px 0px 0px 0px;
}
#cntHeader_Image_Logo {
	@include elemAutoHeight(100);
}
#cntHeader_Image_Logo {
	@include elemTop(0);
}
#cntHeader_Image_Logo {
	@include elemLeft(0);
}
#cntHeader_Image_Logo {
	@include elemAutoWidth(260);
}
#cntHeader_Image_Logo {
		z-index: 1;
}
#cntHeader_Image_Logo {
	& > .ImageView > svg{
		fill: rgba(255, 0, 13, 1);
	}
}
#cntHeader_DateTimeOutput2 {
	@include elemAutoWidth(200);
}
#cntHeader_DateTimeOutput2 {
	@include elemTop(60);
}
#cntHeader_DateTimeOutput2 {
	@include elemLeft(1720);
}
#cntHeader_DateTimeOutput2 {
	@include elemAutoHeight(40);
}
#cntHeader_DateTimeOutput2 {
		z-index: 2;
}
#cntHeader_DateTimeOutput2 {
		background-color: rgba(255, 255, 255, 0);
}
#cntHeader_DateTimeOutput2 {
	@include backGroundGradient('');
}
#cntHeader_DateTimeOutput2 {
		border-style: none;
}
#cntHeader_DateTimeOutput2 {
	@include text-alignment(center);
}
#cntHeader_DateTimeOutput2 {
		padding: 0px 0px 0px 0px;
}
#cntHeader_TextOutput1 {
	@include elemTop(20);
}
#cntHeader_TextOutput1 {
	@include elemLeft(260);
}
#cntHeader_TextOutput1 {
	@include elemAutoWidth(230);
}
#cntHeader_TextOutput1 {
	@include elemAutoHeight(60);
}
#cntHeader_TextOutput1 {
		z-index: 3;
}
#cntHeader_TextOutput1 {
		border-width: 5px;
}
#cntHeader_TextOutput1 {
		background-color: rgba(255, 255, 255, 0);
}
#cntHeader_TextOutput1 {
	@include backGroundGradient('linear-gradient(to top, rgba(235,235,235,0.1) 100%, rgba(235,235,235,0.5) 0%)');
}
#cntHeader_TextOutput1 {
		border-color: rgba(211, 211, 211, 1);
}
#cntHeader_TextOutput1 {
	&:before{
		border-color: rgba(211, 211, 211, 1);
	}
}
#cntHeader_TextOutput1 {
	&:after{
		border-color: rgba(211, 211, 211, 1);
	}
}
#cntHeader_TextOutput1 {
		border-style: double;
}
#cntHeader_TextOutput1 {
	&:before{
		border-style: double;
	}
}
#cntHeader_TextOutput1 {
	&:after{
		border-style: double;
	}
}
#cntHeader_TextOutput1 {
	@include text-alignment-all('center');
}
#cntHeader_TextOutput1 {
	span{
		font-family: Times New Roman;
	}
}
#cntHeader_TextOutput1 {
		font-size: 34px;
}
#cntHeader_TextOutput1 {
	@include font-weight-bold(false);
}
#cntHeader_TextOutput1 {
	@include font-style-italic(true);
}
#cntHeader_TextOutput1 {
	span{
	@include text-decoration-underline(false);
	}
}
#cntHeader_Image1 {
	@include elemAutoHeight(100);
}
#cntHeader_Image1 {
	@include elemTop(0);
}
#cntHeader_Image1 {
	@include elemLeft(1600);
}
#cntHeader_Image1 {
	@include elemAutoWidth(100);
}
#cntHeader_Image1 {
		z-index: 4;
}
#cntHeader_Image2 {
	@include elemAutoHeight(100);
}
#cntHeader_Image2 {
	@include elemTop(0);
}
#cntHeader_Image2 {
	@include elemLeft(1300);
}
#cntHeader_Image2 {
	@include elemAutoWidth(100);
}
#cntHeader_Image2 {
		z-index: 5;
}
#cntHeader_Image3 {
	@include elemAutoHeight(100);
}
#cntHeader_Image3 {
	@include elemTop(0);
}
#cntHeader_Image3 {
	@include elemLeft(1440);
}
#cntHeader_Image3 {
	@include elemAutoWidth(110);
}
#cntHeader_Image3 {
		z-index: 6;
}
