#cntMenu_FlyOut1.right {
  top: 0px;
  position: absolute;
}

#cntMenu_FlyOut1.left {
  top: 0px;
  position: absolute;
}

#cntMenu_FlyOut1.top {
  left: 0px;
  position: absolute;
}

#cntMenu_FlyOut1.bottom {
  left: 0px;
  position: absolute;
}

#cntMenu_FlyOut1_breaseFlyOutWrapper .breaseFlyOutWrapper > .container {
  width: 175px;
}

#cntMenu_FlyOut1_breaseFlyOutWrapper .breaseFlyOutWrapper > .container {
  height: 980px;
}

#cntMenu_FlyOut1 {
  z-index: 2;
}

#cntMenu_FlyOut1_breaseFlyOutWrapper .breaseFlyOutWrapper > .flyoutButton {
  height: 100px;
}

#cntMenu_FlyOut1 {
  height: 100px;
}

#cntMenu_FlyOut1_breaseFlyOutWrapper .breaseFlyOutWrapper > .flyoutButton {
  width: 30px;
}

#cntMenu_FlyOut1 {
  width: 30px;
}

#cntMenu_FlyOut1_breaseFlyOutWrapper .breaseFlyOutWrapper > .flyoutButton img {
  height: 80px;
}

#cntMenu_FlyOut1_breaseFlyOutWrapper .breaseFlyOutWrapper > .flyoutButton svg {
  height: 80px;
}

#cntMenu_FlyOut1_breaseFlyOutWrapper .breaseFlyOutWrapper > .flyoutButton svg {
  fill: #ff000d;
}

#cntMenu_FlyOut1_breaseFlyOutWrapper :not(.disabled):not(.active):not(.checked).breaseFlyOutWrapper > .flyoutButton {
  background-color: rgba(255, 255, 255, 0);
}

#cntMenu_FlyOut1_breaseFlyOutWrapper .breaseFlyOutWrapper > .container {
  background-color: rgba(255, 255, 255, 0);
}

#cntMenu_NavigationBar1 {
  width: 150px;
}

#cntMenu_NavigationBar1 {
  top: 0px;
  position: absolute;
}

#cntMenu_NavigationBar1 {
  left: 0px;
  position: absolute;
}

#cntMenu_NavigationBar1 {
  height: 1080px;
}

#cntMenu_NavigationBar1 {
  z-index: 0;
}

#cntMenu_NavigationButton1 {
  top: 0px;
  position: absolute;
}

#cntMenu_NavigationButton1 {
  left: 0px;
  position: absolute;
}

#cntMenu_NavigationButton1 {
  width: 145px;
}

#cntMenu_NavigationButton1 {
  height: 139px;
}

#cntMenu_NavigationButton1 {
  z-index: 0;
}

#cntMenu_NavigationButton1 img {
  height: 80px;
}

#cntMenu_NavigationButton1 svg {
  height: 80px;
}

#cntMenu_NavigationButton1 {
  border-style: solid;
}

#cntMenu_NavigationButton1.active {
  border-style: solid;
}

#cntMenu_NavigationButton1.checked {
  border-style: solid;
}

#cntMenu_NavigationButton1.disabled {
  border-style: solid;
}

#cntMenu_NavigationButton1:not(.active):not(.checked) {
  border-width: 0px 0px 4px 0px;
}

#cntMenu_NavigationButton1.disabled {
  border-width: 0px 0px 4px 0px;
}

#cntMenu_NavigationButton1:not(.disabled):not(.active):not(.checked) {
  background-color: rgba(255, 255, 255, 0);
}

#cntMenu_NavigationButton1:not(.disabled):not(.checked) {
  border-color: red;
}

#cntMenu_NavigationButton1.disabled:not(.active):not(.checked) {
  border-color: red;
}

#cntMenu_NavigationButton1.active:not(.disabled):not(.editMode) {
  border-color: red;
}

#cntMenu_NavigationButton1.active:not(.disabled):not(.editMode) {
  border-width: 0px 0px 4px 0px;
}

#cntMenu_NavigationButton1.checked:not(.disabled) {
  border-width: 0px 0px 4px 0px;
}

#cntMenu_NavigationButton1 span {
  font-size: 24px;
}

#cntMenu_NavigationButton1.checked:not(.active):not(.disabled) {
  background-color: rgba(255, 255, 255, 0);
}

#cntMenu_NavigationButton1.checked:not(.active):not(.disabled) {
  border-color: red;
}

#cntMenu_NavigationButton1.disabled.checked {
  background-color: rgba(255, 255, 255, 0);
}

#cntMenu_NavigationButton2 {
  top: 0px;
  position: absolute;
}

#cntMenu_NavigationButton2 {
  left: 0px;
  position: absolute;
}

#cntMenu_NavigationButton2 {
  width: 145px;
}

#cntMenu_NavigationButton2 {
  height: 139px;
}

#cntMenu_NavigationButton2 {
  z-index: 1;
}

#cntMenu_NavigationButton2 img {
  height: 80px;
}

#cntMenu_NavigationButton2 svg {
  height: 80px;
}

#cntMenu_NavigationButton2:not(.active):not(.checked) {
  border-width: 0px 0px 4px 0px;
}

#cntMenu_NavigationButton2.disabled {
  border-width: 0px 0px 4px 0px;
}

#cntMenu_NavigationButton2:not(.disabled):not(.checked) {
  border-color: red;
}

#cntMenu_NavigationButton2.active:not(.disabled):not(.editMode) {
  border-color: red;
}

#cntMenu_NavigationButton2.active:not(.disabled):not(.editMode) {
  border-width: 0px 0px 4px 0px;
}

#cntMenu_NavigationButton2.checked:not(.disabled) {
  border-width: 0px 0px 4px 0px;
}

#cntMenu_NavigationButton2 span {
  font-size: 24px;
}

#cntMenu_NavigationButton3 {
  top: 0px;
  position: absolute;
}

#cntMenu_NavigationButton3 {
  left: 0px;
  position: absolute;
}

#cntMenu_NavigationButton3 {
  width: 145px;
}

#cntMenu_NavigationButton3 {
  height: 139px;
}

#cntMenu_NavigationButton3 {
  z-index: 2;
}

#cntMenu_NavigationButton3 img {
  height: 80px;
}

#cntMenu_NavigationButton3 svg {
  height: 80px;
}

#cntMenu_NavigationButton3:not(.active):not(.checked) {
  border-width: 0px 0px 4px 0px;
}

#cntMenu_NavigationButton3.disabled {
  border-width: 0px 0px 4px 0px;
}

#cntMenu_NavigationButton3:not(.disabled):not(.checked) {
  border-color: red;
}

#cntMenu_NavigationButton3.active:not(.disabled):not(.editMode) {
  border-color: red;
}

#cntMenu_NavigationButton3.active:not(.disabled):not(.editMode) {
  border-width: 0px 0px 4px 0px;
}

#cntMenu_NavigationButton3.checked:not(.disabled) {
  border-width: 0px 0px 4px 0px;
}

#cntMenu_NavigationButton3 span {
  font-size: 24px;
}

#cntMenu_NavigationButton4 {
  top: 0px;
  position: absolute;
}

#cntMenu_NavigationButton4 {
  left: 0px;
  position: absolute;
}

#cntMenu_NavigationButton4 {
  width: 145px;
}

#cntMenu_NavigationButton4 {
  height: 139px;
}

#cntMenu_NavigationButton4 {
  z-index: 3;
}

#cntMenu_NavigationButton4 img {
  height: 80px;
}

#cntMenu_NavigationButton4 svg {
  height: 80px;
}

#cntMenu_NavigationButton4:not(.active):not(.checked) {
  border-width: 0px 0px 4px 0px;
}

#cntMenu_NavigationButton4.disabled {
  border-width: 0px 0px 4px 0px;
}

#cntMenu_NavigationButton4:not(.disabled):not(.checked) {
  border-color: red;
}

#cntMenu_NavigationButton4.active:not(.disabled):not(.editMode) {
  border-color: red;
}

#cntMenu_NavigationButton4.active:not(.disabled):not(.editMode) {
  border-width: 0px 0px 4px 0px;
}

#cntMenu_NavigationButton4.checked:not(.disabled) {
  border-width: 0px 0px 4px 0px;
}

#cntMenu_NavigationButton4 span {
  font-size: 24px;
}

#cntMenu_NavigationButton5 {
  top: 0px;
  position: absolute;
}

#cntMenu_NavigationButton5 {
  left: 0px;
  position: absolute;
}

#cntMenu_NavigationButton5 {
  width: 145px;
}

#cntMenu_NavigationButton5 {
  height: 139px;
}

#cntMenu_NavigationButton5 {
  z-index: 4;
}

#cntMenu_NavigationButton5 img {
  height: 80px;
}

#cntMenu_NavigationButton5 svg {
  height: 80px;
}

#cntMenu_NavigationButton5:not(.active):not(.checked) {
  border-width: 0px 0px 4px 0px;
}

#cntMenu_NavigationButton5.disabled {
  border-width: 0px 0px 4px 0px;
}

#cntMenu_NavigationButton5:not(.disabled):not(.checked) {
  border-color: red;
}

#cntMenu_NavigationButton5.active:not(.disabled):not(.editMode) {
  border-color: red;
}

#cntMenu_NavigationButton5.active:not(.disabled):not(.editMode) {
  border-width: 0px 0px 4px 0px;
}

#cntMenu_NavigationButton5.checked:not(.disabled) {
  border-width: 0px 0px 4px 0px;
}

#cntMenu_NavigationButton5 span {
  font-size: 24px;
}

#cntMenu_NavigationButton6 {
  top: 0px;
  position: absolute;
}

#cntMenu_NavigationButton6 {
  left: 0px;
  position: absolute;
}

#cntMenu_NavigationButton6 {
  width: 145px;
}

#cntMenu_NavigationButton6 {
  height: 139px;
}

#cntMenu_NavigationButton6 {
  z-index: 5;
}

#cntMenu_NavigationButton6 img {
  height: 80px;
}

#cntMenu_NavigationButton6 svg {
  height: 80px;
}

#cntMenu_NavigationButton6:not(.active):not(.checked) {
  border-width: 0px 0px 4px 0px;
}

#cntMenu_NavigationButton6.disabled {
  border-width: 0px 0px 4px 0px;
}

#cntMenu_NavigationButton6:not(.disabled):not(.checked) {
  border-color: red;
}

#cntMenu_NavigationButton6.active:not(.disabled):not(.editMode) {
  border-color: red;
}

#cntMenu_NavigationButton6.active:not(.disabled):not(.editMode) {
  border-width: 0px 0px 4px 0px;
}

#cntMenu_NavigationButton6.checked:not(.disabled) {
  border-width: 0px 0px 4px 0px;
}

#cntMenu_NavigationButton6 span {
  font-size: 24px;
}

#cntMenu_NavigationButton7 {
  top: 0px;
  position: absolute;
}

#cntMenu_NavigationButton7 {
  left: 0px;
  position: absolute;
}

#cntMenu_NavigationButton7 {
  width: 145px;
}

#cntMenu_NavigationButton7 {
  height: 139px;
}

#cntMenu_NavigationButton7 {
  z-index: 6;
}

#cntMenu_NavigationButton7 img {
  height: 80px;
}

#cntMenu_NavigationButton7 svg {
  height: 80px;
}

#cntMenu_NavigationButton7:not(.active):not(.checked) {
  border-width: 0px 0px 0px 0px;
}

#cntMenu_NavigationButton7.disabled {
  border-width: 0px 0px 0px 0px;
}

#cntMenu_NavigationButton7:not(.disabled):not(.checked) {
  border-color: red;
}

#cntMenu_NavigationButton7 span {
  font-size: 24px;
}

#cntMenu_FlyOut2.right {
  top: 0px;
  position: absolute;
}

#cntMenu_FlyOut2.left {
  top: 0px;
  position: absolute;
}

#cntMenu_FlyOut2.top {
  left: 0px;
  position: absolute;
}

#cntMenu_FlyOut2.bottom {
  left: 0px;
  position: absolute;
}

#cntMenu_FlyOut2_breaseFlyOutWrapper .breaseFlyOutWrapper > .container {
  width: 175px;
}

#cntMenu_FlyOut2_breaseFlyOutWrapper .breaseFlyOutWrapper > .container {
  height: 980px;
}

#cntMenu_FlyOut2 {
  z-index: 1;
}

#cntMenu_FlyOut2_breaseFlyOutWrapper .breaseFlyOutWrapper > .flyoutButton {
  height: 100px;
}

#cntMenu_FlyOut2 {
  height: 100px;
}

#cntMenu_FlyOut2_breaseFlyOutWrapper .breaseFlyOutWrapper > .flyoutButton {
  width: 30px;
}

#cntMenu_FlyOut2 {
  width: 30px;
}

#cntMenu_FlyOut2_breaseFlyOutWrapper .breaseFlyOutWrapper > .flyoutButton img {
  height: 80px;
}

#cntMenu_FlyOut2_breaseFlyOutWrapper .breaseFlyOutWrapper > .flyoutButton svg {
  height: 80px;
}

#cntMenu_FlyOut2_breaseFlyOutWrapper .breaseFlyOutWrapper > .flyoutButton svg {
  fill: #ff000d;
}

#cntMenu_FlyOut2_breaseFlyOutWrapper :not(.disabled):not(.active):not(.checked).breaseFlyOutWrapper > .flyoutButton {
  background-color: rgba(255, 255, 255, 0);
}

#cntMenu_FlyOut2_breaseFlyOutWrapper .breaseFlyOutWrapper > .container {
  background-color: darkgray;
}

#cntMenu_FlyOut2_breaseFlyOutWrapper .breaseFlyOutWrapper {
  opacity: 0.3;
}
