﻿@import "mixins.scss";
#cntMenu_FlyOut1 {
	&.right{
	@include elemTop(0);
	}
}
#cntMenu_FlyOut1 {
	&.left{
	@include elemTop(0);
	}
}
#cntMenu_FlyOut1 {
	&.top{
	@include elemLeft(0);
	}
}
#cntMenu_FlyOut1 {
	&.bottom{
	@include elemLeft(0);
	}
}
#cntMenu_FlyOut1_breaseFlyOutWrapper {
	.breaseFlyOutWrapper > .container{
	@include elemWidth(175);
	}
}
#cntMenu_FlyOut1_breaseFlyOutWrapper {
	.breaseFlyOutWrapper > .container{
	@include elemHeight(980);
	}
}
#cntMenu_FlyOut1 {
		z-index: 2;
}
#cntMenu_FlyOut1_breaseFlyOutWrapper {
	.breaseFlyOutWrapper > .flyoutButton{
	@include elemHeight(100);
	}
}
#cntMenu_FlyOut1 {
	@include elemHeight(100);
}
#cntMenu_FlyOut1_breaseFlyOutWrapper {
	.breaseFlyOutWrapper > .flyoutButton{
	@include elemWidth(30);
	}
}
#cntMenu_FlyOut1 {
	@include elemWidth(30);
}
#cntMenu_FlyOut1_breaseFlyOutWrapper {
	.breaseFlyOutWrapper > .flyoutButton img{
	@include imageHeight(80);
	}
}
#cntMenu_FlyOut1_breaseFlyOutWrapper {
	.breaseFlyOutWrapper > .flyoutButton svg{
	@include imageHeight(80);
	}
}
#cntMenu_FlyOut1_breaseFlyOutWrapper {
	.breaseFlyOutWrapper > .flyoutButton svg{
		fill: rgba(255, 0, 13, 1);
	}
}
#cntMenu_FlyOut1_breaseFlyOutWrapper {
	:not(.disabled):not(.active):not(.checked).breaseFlyOutWrapper > .flyoutButton{
		background-color: rgba(255, 255, 255, 0);
	}
}
#cntMenu_FlyOut1_breaseFlyOutWrapper {
	.breaseFlyOutWrapper > .container{
		background-color: rgba(255, 255, 255, 0);
	}
}
#cntMenu_NavigationBar1 {
	@include elemWidth(150);
}
#cntMenu_NavigationBar1 {
	@include elemTop(0);
}
#cntMenu_NavigationBar1 {
	@include elemLeft(0);
}
#cntMenu_NavigationBar1 {
	@include elemHeight(1080);
}
#cntMenu_NavigationBar1 {
		z-index: 0;
}
#cntMenu_NavigationButton1 {
	@include elemTop(0);
}
#cntMenu_NavigationButton1 {
	@include elemLeft(0);
}
#cntMenu_NavigationButton1 {
	@include elemAutoWidth(145);
}
#cntMenu_NavigationButton1 {
	@include elemAutoHeight(139);
}
#cntMenu_NavigationButton1 {
		z-index: 0;
}
#cntMenu_NavigationButton1 {
	img{
	@include imageHeight(80);
	}
}
#cntMenu_NavigationButton1 {
	svg{
	@include imageHeight(80);
	}
}
#cntMenu_NavigationButton1 {
		border-style: solid;
}
#cntMenu_NavigationButton1 {
	&.active{
		border-style: solid;
	}
}
#cntMenu_NavigationButton1 {
	&.checked{
		border-style: solid;
	}
}
#cntMenu_NavigationButton1 {
	&.disabled{
		border-style: solid;
	}
}
#cntMenu_NavigationButton1 {
	&:not(.active):not(.checked){
		border-width: 0px 0px 4px 0px;
	}
}
#cntMenu_NavigationButton1 {
	&.disabled{
		border-width: 0px 0px 4px 0px;
	}
}
#cntMenu_NavigationButton1 {
	&:not(.disabled):not(.active):not(.checked){
		background-color: rgba(255, 255, 255, 0);
	}
}
#cntMenu_NavigationButton1 {
	&:not(.disabled):not(.checked){
		border-color: rgba(255, 0, 0, 1);
	}
}
#cntMenu_NavigationButton1 {
	&.disabled:not(.active):not(.checked){
		border-color: rgba(255, 0, 0, 1);
	}
}
#cntMenu_NavigationButton1 {
	&.active:not(.disabled):not(.editMode){
		border-color: rgba(255, 0, 0, 1);
	}
}
#cntMenu_NavigationButton1 {
	&.active:not(.disabled):not(.editMode){
		border-width: 0px 0px 4px 0px;
	}
}
#cntMenu_NavigationButton1 {
	&.checked:not(.disabled){
		border-width: 0px 0px 4px 0px;
	}
}
#cntMenu_NavigationButton1 {
	span{
		font-size: 24px;
	}
}
#cntMenu_NavigationButton1 {
	&.checked:not(.active):not(.disabled){
		background-color: rgba(255, 255, 255, 0);
	}
}
#cntMenu_NavigationButton1 {
	&.checked:not(.active):not(.disabled){
		border-color: rgba(255, 0, 0, 1);
	}
}
#cntMenu_NavigationButton1 {
	&.disabled.checked{
		background-color: rgba(255, 255, 255, 0);
	}
}
#cntMenu_NavigationButton2 {
	@include elemTop(0);
}
#cntMenu_NavigationButton2 {
	@include elemLeft(0);
}
#cntMenu_NavigationButton2 {
	@include elemAutoWidth(145);
}
#cntMenu_NavigationButton2 {
	@include elemAutoHeight(139);
}
#cntMenu_NavigationButton2 {
		z-index: 1;
}
#cntMenu_NavigationButton2 {
	img{
	@include imageHeight(80);
	}
}
#cntMenu_NavigationButton2 {
	svg{
	@include imageHeight(80);
	}
}
#cntMenu_NavigationButton2 {
	&:not(.active):not(.checked){
		border-width: 0px 0px 4px 0px;
	}
}
#cntMenu_NavigationButton2 {
	&.disabled{
		border-width: 0px 0px 4px 0px;
	}
}
#cntMenu_NavigationButton2 {
	&:not(.disabled):not(.checked){
		border-color: rgba(255, 0, 0, 1);
	}
}
#cntMenu_NavigationButton2 {
	&.active:not(.disabled):not(.editMode){
		border-color: rgba(255, 0, 0, 1);
	}
}
#cntMenu_NavigationButton2 {
	&.active:not(.disabled):not(.editMode){
		border-width: 0px 0px 4px 0px;
	}
}
#cntMenu_NavigationButton2 {
	&.checked:not(.disabled){
		border-width: 0px 0px 4px 0px;
	}
}
#cntMenu_NavigationButton2 {
	span{
		font-size: 24px;
	}
}
#cntMenu_NavigationButton3 {
	@include elemTop(0);
}
#cntMenu_NavigationButton3 {
	@include elemLeft(0);
}
#cntMenu_NavigationButton3 {
	@include elemAutoWidth(145);
}
#cntMenu_NavigationButton3 {
	@include elemAutoHeight(139);
}
#cntMenu_NavigationButton3 {
		z-index: 2;
}
#cntMenu_NavigationButton3 {
	img{
	@include imageHeight(80);
	}
}
#cntMenu_NavigationButton3 {
	svg{
	@include imageHeight(80);
	}
}
#cntMenu_NavigationButton3 {
	&:not(.active):not(.checked){
		border-width: 0px 0px 4px 0px;
	}
}
#cntMenu_NavigationButton3 {
	&.disabled{
		border-width: 0px 0px 4px 0px;
	}
}
#cntMenu_NavigationButton3 {
	&:not(.disabled):not(.checked){
		border-color: rgba(255, 0, 0, 1);
	}
}
#cntMenu_NavigationButton3 {
	&.active:not(.disabled):not(.editMode){
		border-color: rgba(255, 0, 0, 1);
	}
}
#cntMenu_NavigationButton3 {
	&.active:not(.disabled):not(.editMode){
		border-width: 0px 0px 4px 0px;
	}
}
#cntMenu_NavigationButton3 {
	&.checked:not(.disabled){
		border-width: 0px 0px 4px 0px;
	}
}
#cntMenu_NavigationButton3 {
	span{
		font-size: 24px;
	}
}
#cntMenu_NavigationButton4 {
	@include elemTop(0);
}
#cntMenu_NavigationButton4 {
	@include elemLeft(0);
}
#cntMenu_NavigationButton4 {
	@include elemAutoWidth(145);
}
#cntMenu_NavigationButton4 {
	@include elemAutoHeight(139);
}
#cntMenu_NavigationButton4 {
		z-index: 3;
}
#cntMenu_NavigationButton4 {
	img{
	@include imageHeight(80);
	}
}
#cntMenu_NavigationButton4 {
	svg{
	@include imageHeight(80);
	}
}
#cntMenu_NavigationButton4 {
	&:not(.active):not(.checked){
		border-width: 0px 0px 4px 0px;
	}
}
#cntMenu_NavigationButton4 {
	&.disabled{
		border-width: 0px 0px 4px 0px;
	}
}
#cntMenu_NavigationButton4 {
	&:not(.disabled):not(.checked){
		border-color: rgba(255, 0, 0, 1);
	}
}
#cntMenu_NavigationButton4 {
	&.active:not(.disabled):not(.editMode){
		border-color: rgba(255, 0, 0, 1);
	}
}
#cntMenu_NavigationButton4 {
	&.active:not(.disabled):not(.editMode){
		border-width: 0px 0px 4px 0px;
	}
}
#cntMenu_NavigationButton4 {
	&.checked:not(.disabled){
		border-width: 0px 0px 4px 0px;
	}
}
#cntMenu_NavigationButton4 {
	span{
		font-size: 24px;
	}
}
#cntMenu_NavigationButton5 {
	@include elemTop(0);
}
#cntMenu_NavigationButton5 {
	@include elemLeft(0);
}
#cntMenu_NavigationButton5 {
	@include elemAutoWidth(145);
}
#cntMenu_NavigationButton5 {
	@include elemAutoHeight(139);
}
#cntMenu_NavigationButton5 {
		z-index: 4;
}
#cntMenu_NavigationButton5 {
	img{
	@include imageHeight(80);
	}
}
#cntMenu_NavigationButton5 {
	svg{
	@include imageHeight(80);
	}
}
#cntMenu_NavigationButton5 {
	&:not(.active):not(.checked){
		border-width: 0px 0px 4px 0px;
	}
}
#cntMenu_NavigationButton5 {
	&.disabled{
		border-width: 0px 0px 4px 0px;
	}
}
#cntMenu_NavigationButton5 {
	&:not(.disabled):not(.checked){
		border-color: rgba(255, 0, 0, 1);
	}
}
#cntMenu_NavigationButton5 {
	&.active:not(.disabled):not(.editMode){
		border-color: rgba(255, 0, 0, 1);
	}
}
#cntMenu_NavigationButton5 {
	&.active:not(.disabled):not(.editMode){
		border-width: 0px 0px 4px 0px;
	}
}
#cntMenu_NavigationButton5 {
	&.checked:not(.disabled){
		border-width: 0px 0px 4px 0px;
	}
}
#cntMenu_NavigationButton5 {
	span{
		font-size: 24px;
	}
}
#cntMenu_NavigationButton6 {
	@include elemTop(0);
}
#cntMenu_NavigationButton6 {
	@include elemLeft(0);
}
#cntMenu_NavigationButton6 {
	@include elemAutoWidth(145);
}
#cntMenu_NavigationButton6 {
	@include elemAutoHeight(139);
}
#cntMenu_NavigationButton6 {
		z-index: 5;
}
#cntMenu_NavigationButton6 {
	img{
	@include imageHeight(80);
	}
}
#cntMenu_NavigationButton6 {
	svg{
	@include imageHeight(80);
	}
}
#cntMenu_NavigationButton6 {
	&:not(.active):not(.checked){
		border-width: 0px 0px 4px 0px;
	}
}
#cntMenu_NavigationButton6 {
	&.disabled{
		border-width: 0px 0px 4px 0px;
	}
}
#cntMenu_NavigationButton6 {
	&:not(.disabled):not(.checked){
		border-color: rgba(255, 0, 0, 1);
	}
}
#cntMenu_NavigationButton6 {
	&.active:not(.disabled):not(.editMode){
		border-color: rgba(255, 0, 0, 1);
	}
}
#cntMenu_NavigationButton6 {
	&.active:not(.disabled):not(.editMode){
		border-width: 0px 0px 4px 0px;
	}
}
#cntMenu_NavigationButton6 {
	&.checked:not(.disabled){
		border-width: 0px 0px 4px 0px;
	}
}
#cntMenu_NavigationButton6 {
	span{
		font-size: 24px;
	}
}
#cntMenu_NavigationButton7 {
	@include elemTop(0);
}
#cntMenu_NavigationButton7 {
	@include elemLeft(0);
}
#cntMenu_NavigationButton7 {
	@include elemAutoWidth(145);
}
#cntMenu_NavigationButton7 {
	@include elemAutoHeight(139);
}
#cntMenu_NavigationButton7 {
		z-index: 6;
}
#cntMenu_NavigationButton7 {
	img{
	@include imageHeight(80);
	}
}
#cntMenu_NavigationButton7 {
	svg{
	@include imageHeight(80);
	}
}
#cntMenu_NavigationButton7 {
	&:not(.active):not(.checked){
		border-width: 0px 0px 0px 0px;
	}
}
#cntMenu_NavigationButton7 {
	&.disabled{
		border-width: 0px 0px 0px 0px;
	}
}
#cntMenu_NavigationButton7 {
	&:not(.disabled):not(.checked){
		border-color: rgba(255, 0, 0, 1);
	}
}
#cntMenu_NavigationButton7 {
	span{
		font-size: 24px;
	}
}
#cntMenu_FlyOut2 {
	&.right{
	@include elemTop(0);
	}
}
#cntMenu_FlyOut2 {
	&.left{
	@include elemTop(0);
	}
}
#cntMenu_FlyOut2 {
	&.top{
	@include elemLeft(0);
	}
}
#cntMenu_FlyOut2 {
	&.bottom{
	@include elemLeft(0);
	}
}
#cntMenu_FlyOut2_breaseFlyOutWrapper {
	.breaseFlyOutWrapper > .container{
	@include elemWidth(175);
	}
}
#cntMenu_FlyOut2_breaseFlyOutWrapper {
	.breaseFlyOutWrapper > .container{
	@include elemHeight(980);
	}
}
#cntMenu_FlyOut2 {
		z-index: 1;
}
#cntMenu_FlyOut2_breaseFlyOutWrapper {
	.breaseFlyOutWrapper > .flyoutButton{
	@include elemHeight(100);
	}
}
#cntMenu_FlyOut2 {
	@include elemHeight(100);
}
#cntMenu_FlyOut2_breaseFlyOutWrapper {
	.breaseFlyOutWrapper > .flyoutButton{
	@include elemWidth(30);
	}
}
#cntMenu_FlyOut2 {
	@include elemWidth(30);
}
#cntMenu_FlyOut2_breaseFlyOutWrapper {
	.breaseFlyOutWrapper > .flyoutButton img{
	@include imageHeight(80);
	}
}
#cntMenu_FlyOut2_breaseFlyOutWrapper {
	.breaseFlyOutWrapper > .flyoutButton svg{
	@include imageHeight(80);
	}
}
#cntMenu_FlyOut2_breaseFlyOutWrapper {
	.breaseFlyOutWrapper > .flyoutButton svg{
		fill: rgba(255, 0, 13, 1);
	}
}
#cntMenu_FlyOut2_breaseFlyOutWrapper {
	:not(.disabled):not(.active):not(.checked).breaseFlyOutWrapper > .flyoutButton{
		background-color: rgba(255, 255, 255, 0);
	}
}
#cntMenu_FlyOut2_breaseFlyOutWrapper {
	.breaseFlyOutWrapper > .container{
		background-color: rgba(169, 169, 169, 1);
	}
}
#cntMenu_FlyOut2_breaseFlyOutWrapper {
	.breaseFlyOutWrapper{
		opacity: 0.3;
	}
}
