@import "mixins.scss";
@mixin widgets_brease_GridLineItem_base {
> .container {
	border-width: 1px;
}
> .container {
	border-color: #000000;
}
> .container {
	border-style: solid;
}
> .container {
	background-color: transparent;
}
> .container {
	@include backGroundGradient('');
}
	padding: 0px 10px 0px 0px;
> .container {
	@include box-shadow(none);
}
> .container {
	@include border-radius(0px);
}

}

.widgets_brease_GridLineItem_style_default {
@include widgets_brease_GridLineItem_base 
}
