﻿@import "mixins.scss";
#cntDialogManagerUIError_TextOutputError {
	@include elemTop(30);
}
#cntDialogManagerUIError_TextOutputError {
	@include elemLeft(0);
}
#cntDialogManagerUIError_TextOutputError {
	@include elemAutoWidth(405);
}
#cntDialogManagerUIError_TextOutputError {
	@include elemAutoHeight(105);
}
#cntDialogManagerUIError_TextOutputError {
		z-index: 0;
}
#cntDialogManagerUIError_TextOutputError {
		border-width: 0px;
}
#cntDialogManagerUIError_TextOutputError {
		background-color: rgba(169, 169, 169, 1);
}
#cntDialogManagerUIError_TextOutputError {
	& span{
		color: rgba(0, 0, 0, 1);
	}
}
#cntDialogManagerUIError_TextOutputError {
	@include text-alignment-all('left');
}
#cntDialogManagerUIError_TextOutputError {
		font-size: 25px;
}
#cntDialogManagerUIError_PushButton_ManagerError {
	@include elemTop(150);
}
#cntDialogManagerUIError_PushButton_ManagerError {
	@include elemLeft(135);
}
#cntDialogManagerUIError_PushButton_ManagerError {
	@include elemAutoWidth(165);
}
#cntDialogManagerUIError_PushButton_ManagerError {
	@include elemAutoHeight(45);
}
#cntDialogManagerUIError_PushButton_ManagerError {
		z-index: 1;
}
#cntDialogManagerUIError_PushButton_ManagerError {
	&:not(.active):not(.disabled):not(.checked) svg{
		fill: rgba(0, 128, 0, 1);
	}
}
#cntDialogManagerUIError_PushButton_ManagerError {
	span{
		font-size: 25px;
	}
}
