#cntDialogManagerUIError_TextOutputError {
  top: 30px;
  position: absolute;
}

#cntDialogManagerUIError_TextOutputError {
  left: 0px;
  position: absolute;
}

#cntDialogManagerUIError_TextOutputError {
  width: 405px;
}

#cntDialogManagerUIError_TextOutputError {
  height: 105px;
}

#cntDialogManagerUIError_TextOutputError {
  z-index: 0;
}

#cntDialogManagerUIError_TextOutputError {
  border-width: 0px;
}

#cntDialogManagerUIError_TextOutputError {
  background-color: darkgray;
}

#cntDialogManagerUIError_TextOutputError span {
  color: black;
}

#cntDialogManagerUIError_TextOutputError {
  justify-content: flex-start;
  text-align: left;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntDialogManagerUIError_TextOutputError {
  font-size: 25px;
}

#cntDialogManagerUIError_PushButton_ManagerError {
  top: 150px;
  position: absolute;
}

#cntDialogManagerUIError_PushButton_ManagerError {
  left: 135px;
  position: absolute;
}

#cntDialogManagerUIError_PushButton_ManagerError {
  width: 165px;
}

#cntDialogManagerUIError_PushButton_ManagerError {
  height: 45px;
}

#cntDialogManagerUIError_PushButton_ManagerError {
  z-index: 1;
}

#cntDialogManagerUIError_PushButton_ManagerError:not(.active):not(.disabled):not(.checked) svg {
  fill: green;
}

#cntDialogManagerUIError_PushButton_ManagerError span {
  font-size: 25px;
}
