﻿@import "mixins.scss";
div[data-brease-dialogId='DialogManagerUIConnectError'] {
	.breaseDialogWindowHeader .imageDiv{
@include pureBackgroundImage('../Media/SymbolLib/Alarm/Error.svg');
	}
}
div[data-brease-dialogId='DialogManagerUIConnectError'] {
	.breaseDialogWindowHeader .textDiv{
@include font-weight-bold(true);
	}
}
div[data-brease-dialogId='DialogManagerUIConnectError'] {
	.breaseDialogWindowHeader .textDiv{
	font-size: 25px;
	}
}
div[data-brease-dialogId='DialogManagerUIConnectError'] {
	.breaseWindowClose{
@include display(false);
	}
}
