@import "mixins.scss";
@mixin widgets_brease_GridLine_base {
	@include elemWidth(500);
	@include elemHeight(200);
	border-width: 1px;
	border-color: #000000;
	border-style: solid;
	background-color: transparent;
	@include backGroundGradient('');
	margin: 0px;
.container {
	padding: 10px 0px;
}
& .container .breaseGridLineItem  svg.expanded {
	fill: #000000;
}
& .container .breaseGridLineItem svg.collapsed {
	fill: #000000;
}
& .container .breaseGridLineItem svg.modify {
	fill: #000000;
}
	@include border-radius(0px);

}

.widgets_brease_GridLine_style_default {
@include widgets_brease_GridLine_base 
}
