﻿@import "mixins.scss";
#cntHome_Cell6_Bot_Image1 {
	@include elemTop(330);
}
#cntHome_Cell6_Bot_Image1 {
	@include elemLeft(50);
}
#cntHome_Cell6_Bot_Image1 {
	@include elemAutoWidth(460);
}
#cntHome_Cell6_Bot_Image1 {
	@include elemAutoHeight(455);
}
#cntHome_Cell6_Bot_Image1 {
		z-index: 0;
}
#cntHome_Cell6_Bot_Image_TopDoor {
	@include elemTop(180);
}
#cntHome_Cell6_Bot_Image_TopDoor {
	@include elemLeft(50);
}
#cntHome_Cell6_Bot_Image_TopDoor {
	@include elemAutoWidth(315);
}
#cntHome_Cell6_Bot_Image_TopDoor {
	@include elemAutoHeight(150);
}
#cntHome_Cell6_Bot_Image_TopDoor {
		z-index: 2;
}
#cntHome_Cell6_Bot_Image_BottomDoor {
	@include elemTop(780);
}
#cntHome_Cell6_Bot_Image_BottomDoor {
	@include elemLeft(90);
}
#cntHome_Cell6_Bot_Image_BottomDoor {
	@include elemAutoWidth(345);
}
#cntHome_Cell6_Bot_Image_BottomDoor {
	@include elemAutoHeight(135);
}
#cntHome_Cell6_Bot_Image_BottomDoor {
		z-index: 1;
}
#cntHome_Cell6_Bot_Image_Cell1Tepe {
	@include elemTop(220);
}
#cntHome_Cell6_Bot_Image_Cell1Tepe {
	@include elemLeft(410);
}
#cntHome_Cell6_Bot_Image_Cell1Tepe {
	@include elemAutoWidth(30);
}
#cntHome_Cell6_Bot_Image_Cell1Tepe {
	@include elemAutoHeight(105);
}
#cntHome_Cell6_Bot_Image_Cell1Tepe {
		z-index: 6;
}
#cntHome_Cell6_Bot_ImageList_Cell1Lamb {
	@include elemTop(221);
}
#cntHome_Cell6_Bot_ImageList_Cell1Lamb {
	@include elemLeft(410);
}
#cntHome_Cell6_Bot_ImageList_Cell1Lamb {
	@include elemWidth(30);
}
#cntHome_Cell6_Bot_ImageList_Cell1Lamb {
	@include elemHeight(105);
}
#cntHome_Cell6_Bot_ImageList_Cell1Lamb {
		z-index: 4;
}
#cntHome_Cell6_Bot_ImageList_EmgRedCell1 {
	@include elemTop(780);
}
#cntHome_Cell6_Bot_ImageList_EmgRedCell1 {
	@include elemLeft(435);
}
#cntHome_Cell6_Bot_ImageList_EmgRedCell1 {
	@include elemWidth(75);
}
#cntHome_Cell6_Bot_ImageList_EmgRedCell1 {
	@include elemHeight(60);
}
#cntHome_Cell6_Bot_ImageList_EmgRedCell1 {
		z-index: 3;
}
#cntHome_Cell6_Bot_Image_EmgGreenCell1 {
	@include elemTop(780);
}
#cntHome_Cell6_Bot_Image_EmgGreenCell1 {
	@include elemLeft(435);
}
#cntHome_Cell6_Bot_Image_EmgGreenCell1 {
	@include elemAutoWidth(75);
}
#cntHome_Cell6_Bot_Image_EmgGreenCell1 {
	@include elemAutoHeight(60);
}
#cntHome_Cell6_Bot_Image_EmgGreenCell1 {
		z-index: 5;
}
#cntHome_Cell6_Bot_Rectangle1 {
	@include elemTop(0);
}
#cntHome_Cell6_Bot_Rectangle1 {
	@include elemLeft(420);
}
#cntHome_Cell6_Bot_Rectangle1 {
	@include elemWidth(470);
}
#cntHome_Cell6_Bot_Rectangle1 {
	@include elemHeight(135);
}
#cntHome_Cell6_Bot_Rectangle1 {
		z-index: 7;
}
#cntHome_Cell6_Bot_Rectangle1 {
		border-style: outset;
}
#cntHome_Cell6_Bot_Rectangle1 {
		border-width: 5px;
}
#cntHome_Cell6_Bot_Rectangle1 {
		border-color: rgba(200, 200, 200, 1);
}
#cntHome_Cell6_Bot_Label1 {
	@include elemTop(0);
}
#cntHome_Cell6_Bot_Label1 {
	@include elemLeft(0);
}
#cntHome_Cell6_Bot_Label1 {
	@include elemAutoWidth(420);
}
#cntHome_Cell6_Bot_Label1 {
	@include elemAutoHeight(135);
}
#cntHome_Cell6_Bot_Label1 {
		z-index: 8;
}
#cntHome_Cell6_Bot_Label1 {
		border-width: 5px 0px 5px 5px;
}
#cntHome_Cell6_Bot_Label1 {
		border-style: outset;
}
#cntHome_Cell6_Bot_Label1 {
	&:before{
		border-style: outset;
	}
}
#cntHome_Cell6_Bot_Label1 {
	&:after{
		border-style: outset;
	}
}
#cntHome_Cell6_Bot_Label1 {
		font-size: 50px;
}
#cntHome_Cell6_Bot_Label2 {
	@include elemTop(20);
}
#cntHome_Cell6_Bot_Label2 {
	@include elemLeft(440);
}
#cntHome_Cell6_Bot_Label2 {
	@include elemAutoWidth(195);
}
#cntHome_Cell6_Bot_Label2 {
	@include elemAutoHeight(45);
}
#cntHome_Cell6_Bot_Label2 {
		z-index: 9;
}
#cntHome_Cell6_Bot_Information {
	@include elemTop(70);
}
#cntHome_Cell6_Bot_Information {
	@include elemLeft(440);
}
#cntHome_Cell6_Bot_Information {
	@include elemAutoWidth(195);
}
#cntHome_Cell6_Bot_Information {
	@include elemAutoHeight(45);
}
#cntHome_Cell6_Bot_Information {
		z-index: 10;
}
