﻿@import "mixins.scss";
#cntHome_Cell1_Image_TopDoor {
	@include elemTop(195);
}
#cntHome_Cell1_Image_TopDoor {
	@include elemLeft(180);
}
#cntHome_Cell1_Image_TopDoor {
	@include elemAutoWidth(420);
}
#cntHome_Cell1_Image_TopDoor {
	@include elemAutoHeight(150);
}
#cntHome_Cell1_Image_TopDoor {
		z-index: 0;
}
#cntHome_Cell1_Image1 {
	@include elemTop(345);
}
#cntHome_Cell1_Image1 {
	@include elemLeft(180);
}
#cntHome_Cell1_Image1 {
	@include elemAutoWidth(555);
}
#cntHome_Cell1_Image1 {
	@include elemAutoHeight(420);
}
#cntHome_Cell1_Image1 {
		z-index: 1;
}
#cntHome_Cell1_Image_SideDoor {
	@include elemTop(420);
}
#cntHome_Cell1_Image_SideDoor {
	@include elemLeft(15);
}
#cntHome_Cell1_Image_SideDoor {
	@include elemAutoWidth(165);
}
#cntHome_Cell1_Image_SideDoor {
	@include elemAutoHeight(270);
}
#cntHome_Cell1_Image_SideDoor {
		z-index: 2;
}
#cntHome_Cell1_Image_BottomDoor {
	@include elemTop(765);
}
#cntHome_Cell1_Image_BottomDoor {
	@include elemLeft(195);
}
#cntHome_Cell1_Image_BottomDoor {
	@include elemAutoWidth(390);
}
#cntHome_Cell1_Image_BottomDoor {
	@include elemAutoHeight(165);
}
#cntHome_Cell1_Image_BottomDoor {
		z-index: 3;
}
#cntHome_Cell1_ImageList_EmgRedCell1 {
	@include elemTop(765);
}
#cntHome_Cell1_ImageList_EmgRedCell1 {
	@include elemLeft(600);
}
#cntHome_Cell1_ImageList_EmgRedCell1 {
	@include elemWidth(75);
}
#cntHome_Cell1_ImageList_EmgRedCell1 {
	@include elemHeight(75);
}
#cntHome_Cell1_ImageList_EmgRedCell1 {
		z-index: 4;
}
#cntHome_Cell1_Image_EmgGreenCell1 {
	@include elemTop(765);
}
#cntHome_Cell1_Image_EmgGreenCell1 {
	@include elemLeft(600);
}
#cntHome_Cell1_Image_EmgGreenCell1 {
	@include elemAutoWidth(75);
}
#cntHome_Cell1_Image_EmgGreenCell1 {
	@include elemAutoHeight(75);
}
#cntHome_Cell1_Image_EmgGreenCell1 {
		z-index: 5;
}
#cntHome_Cell1_btnYSockParts {
	@include elemTop(345);
}
#cntHome_Cell1_btnYSockParts {
	@include elemLeft(195);
}
#cntHome_Cell1_btnYSockParts {
	@include elemAutoWidth(525);
}
#cntHome_Cell1_btnYSockParts {
	@include elemAutoHeight(120);
}
#cntHome_Cell1_btnYSockParts {
		z-index: 6;
}
#cntHome_Cell1_btnRobot {
	@include elemTop(495);
}
#cntHome_Cell1_btnRobot {
	@include elemLeft(390);
}
#cntHome_Cell1_btnRobot {
	@include elemAutoWidth(90);
}
#cntHome_Cell1_btnRobot {
	@include elemAutoHeight(105);
}
#cntHome_Cell1_btnRobot {
		z-index: 7;
}
#cntHome_Cell1_btnCamera {
	@include elemTop(480);
}
#cntHome_Cell1_btnCamera {
	@include elemLeft(480);
}
#cntHome_Cell1_btnCamera {
	@include elemAutoWidth(105);
}
#cntHome_Cell1_btnCamera {
	@include elemAutoHeight(150);
}
#cntHome_Cell1_btnCamera {
		z-index: 8;
}
#cntHome_Cell1_btnCamera {
	@include text-alignment(left);
}
#cntHome_Cell1_btnLeftPlate {
	@include elemTop(480);
}
#cntHome_Cell1_btnLeftPlate {
	@include elemLeft(615);
}
#cntHome_Cell1_btnLeftPlate {
	@include elemAutoWidth(105);
}
#cntHome_Cell1_btnLeftPlate {
	@include elemAutoHeight(75);
}
#cntHome_Cell1_btnLeftPlate {
		z-index: 9;
}
#cntHome_Cell1_btnLeftPlate {
	@include border-radius(0px);
}
#cntHome_Cell1_btnRightPlate {
	@include elemTop(555);
}
#cntHome_Cell1_btnRightPlate {
	@include elemLeft(615);
}
#cntHome_Cell1_btnRightPlate {
	@include elemAutoWidth(105);
}
#cntHome_Cell1_btnRightPlate {
	@include elemAutoHeight(75);
}
#cntHome_Cell1_btnRightPlate {
		z-index: 10;
}
#cntHome_Cell1_btnRightPlate {
	@include border-radius(0px);
}
#cntHome_Cell1_btnYSockParts1 {
	@include elemTop(645);
}
#cntHome_Cell1_btnYSockParts1 {
	@include elemLeft(180);
}
#cntHome_Cell1_btnYSockParts1 {
	@include elemAutoWidth(555);
}
#cntHome_Cell1_btnYSockParts1 {
	@include elemAutoHeight(120);
}
#cntHome_Cell1_btnYSockParts1 {
		z-index: 11;
}
#cntHome_Cell1_Rectangle1 {
	@include elemTop(0);
}
#cntHome_Cell1_Rectangle1 {
	@include elemLeft(210);
}
#cntHome_Cell1_Rectangle1 {
	@include elemWidth(525);
}
#cntHome_Cell1_Rectangle1 {
	@include elemHeight(135);
}
#cntHome_Cell1_Rectangle1 {
		z-index: 12;
}
#cntHome_Cell1_Rectangle1 {
		border-style: outset;
}
#cntHome_Cell1_Rectangle1 {
		border-width: 5px;
}
#cntHome_Cell1_Rectangle1 {
		border-color: rgba(200, 200, 200, 1);
}
#cntHome_Cell1_Label1 {
	@include elemTop(0);
}
#cntHome_Cell1_Label1 {
	@include elemLeft(0);
}
#cntHome_Cell1_Label1 {
	@include elemAutoWidth(210);
}
#cntHome_Cell1_Label1 {
	@include elemAutoHeight(135);
}
#cntHome_Cell1_Label1 {
		z-index: 13;
}
#cntHome_Cell1_Label1 {
		border-width: 5px 0px 5px 5px;
}
#cntHome_Cell1_Label1 {
		border-style: outset;
}
#cntHome_Cell1_Label1 {
	&:before{
		border-style: outset;
	}
}
#cntHome_Cell1_Label1 {
	&:after{
		border-style: outset;
	}
}
#cntHome_Cell1_Label1 {
		font-size: 50px;
}
#cntHome_Cell1_Label2 {
	@include elemTop(30);
}
#cntHome_Cell1_Label2 {
	@include elemLeft(230);
}
#cntHome_Cell1_Label2 {
	@include elemAutoWidth(195);
}
#cntHome_Cell1_Label2 {
	@include elemAutoHeight(45);
}
#cntHome_Cell1_Label2 {
		z-index: 14;
}
#cntHome_Cell1_Information {
	@include elemTop(80);
}
#cntHome_Cell1_Information {
	@include elemLeft(230);
}
#cntHome_Cell1_Information {
	@include elemAutoWidth(195);
}
#cntHome_Cell1_Information {
	@include elemAutoHeight(45);
}
#cntHome_Cell1_Information {
		z-index: 15;
}
#cntHome_Cell1_Image_Cell1Tepe {
	@include elemTop(239);
}
#cntHome_Cell1_Image_Cell1Tepe {
	@include elemLeft(645);
}
#cntHome_Cell1_Image_Cell1Tepe {
	@include elemAutoWidth(30);
}
#cntHome_Cell1_Image_Cell1Tepe {
	@include elemAutoHeight(105);
}
#cntHome_Cell1_Image_Cell1Tepe {
		z-index: 16;
}
#cntHome_Cell1_ImageList_Cell1Lamb {
	@include elemTop(240);
}
#cntHome_Cell1_ImageList_Cell1Lamb {
	@include elemLeft(645);
}
#cntHome_Cell1_ImageList_Cell1Lamb {
	@include elemWidth(30);
}
#cntHome_Cell1_ImageList_Cell1Lamb {
	@include elemHeight(105);
}
#cntHome_Cell1_ImageList_Cell1Lamb {
		z-index: 17;
}
