#cntHome_Cell3_ImageCell2 {
  top: 330px;
  position: absolute;
}

#cntHome_Cell3_ImageCell2 {
  left: 74px;
  position: absolute;
}

#cntHome_Cell3_ImageCell2 {
  width: 516px;
}

#cntHome_Cell3_ImageCell2 {
  height: 465px;
}

#cntHome_Cell3_ImageCell2 {
  z-index: 0;
}

#cntHome_Cell3_Image_TopDoor {
  top: 164px;
  position: absolute;
}

#cntHome_Cell3_Image_TopDoor {
  left: 74px;
  position: absolute;
}

#cntHome_Cell3_Image_TopDoor {
  width: 420px;
}

#cntHome_Cell3_Image_TopDoor {
  height: 165px;
}

#cntHome_Cell3_Image_TopDoor {
  z-index: 1;
}

#cntHome_Cell3_Image_BottomDoor {
  top: 795px;
  position: absolute;
}

#cntHome_Cell3_Image_BottomDoor {
  left: 105px;
  position: absolute;
}

#cntHome_Cell3_Image_BottomDoor {
  width: 405px;
}

#cntHome_Cell3_Image_BottomDoor {
  height: 165px;
}

#cntHome_Cell3_Image_BottomDoor {
  z-index: 2;
}

#cntHome_Cell3_Image_Cell1Tepe {
  top: 223px;
  position: absolute;
}

#cntHome_Cell3_Image_Cell1Tepe {
  left: 524px;
  position: absolute;
}

#cntHome_Cell3_Image_Cell1Tepe {
  width: 30px;
}

#cntHome_Cell3_Image_Cell1Tepe {
  height: 105px;
}

#cntHome_Cell3_Image_Cell1Tepe {
  z-index: 3;
}

#cntHome_Cell3_ImageList_Cell1Lamb {
  top: 225px;
  position: absolute;
}

#cntHome_Cell3_ImageList_Cell1Lamb {
  left: 524px;
  position: absolute;
}

#cntHome_Cell3_ImageList_Cell1Lamb {
  width: 30px;
}

#cntHome_Cell3_ImageList_Cell1Lamb {
  height: 105px;
}

#cntHome_Cell3_ImageList_Cell1Lamb {
  z-index: 4;
}

#cntHome_Cell3_ImageList_EmgRedCell1 {
  top: 795px;
  position: absolute;
}

#cntHome_Cell3_ImageList_EmgRedCell1 {
  left: 509px;
  position: absolute;
}

#cntHome_Cell3_ImageList_EmgRedCell1 {
  width: 75px;
}

#cntHome_Cell3_ImageList_EmgRedCell1 {
  height: 75px;
}

#cntHome_Cell3_ImageList_EmgRedCell1 {
  z-index: 5;
}

#cntHome_Cell3_Image_EmgGreenCell1 {
  top: 795px;
  position: absolute;
}

#cntHome_Cell3_Image_EmgGreenCell1 {
  left: 509px;
  position: absolute;
}

#cntHome_Cell3_Image_EmgGreenCell1 {
  width: 75px;
}

#cntHome_Cell3_Image_EmgGreenCell1 {
  height: 75px;
}

#cntHome_Cell3_Image_EmgGreenCell1 {
  z-index: 6;
}

#cntHome_Cell3_Btn_SMachine2 {
  top: 550px;
  position: absolute;
}

#cntHome_Cell3_Btn_SMachine2 {
  left: 329px;
  position: absolute;
}

#cntHome_Cell3_Btn_SMachine2 {
  width: 151px;
}

#cntHome_Cell3_Btn_SMachine2 {
  height: 244px;
}

#cntHome_Cell3_Btn_SMachine2 {
  z-index: 7;
}

#cntHome_Cell3_Btn_LinearTransfer {
  top: 480px;
  position: absolute;
}

#cntHome_Cell3_Btn_LinearTransfer {
  left: 74px;
  position: absolute;
}

#cntHome_Cell3_Btn_LinearTransfer {
  width: 156px;
}

#cntHome_Cell3_Btn_LinearTransfer {
  height: 60px;
}

#cntHome_Cell3_Btn_LinearTransfer {
  z-index: 8;
}

#cntHome_Cell3_Btn_Camera {
  top: 375px;
  position: absolute;
}

#cntHome_Cell3_Btn_Camera {
  left: 210px;
  position: absolute;
}

#cntHome_Cell3_Btn_Camera {
  width: 110px;
}

#cntHome_Cell3_Btn_Camera {
  height: 85px;
}

#cntHome_Cell3_Btn_Camera {
  z-index: 9;
}

#cntHome_Cell3_btn_Robot3 {
  top: 430px;
  position: absolute;
}

#cntHome_Cell3_btn_Robot3 {
  left: 330px;
  position: absolute;
}

#cntHome_Cell3_btn_Robot3 {
  width: 94px;
}

#cntHome_Cell3_btn_Robot3 {
  height: 105px;
}

#cntHome_Cell3_btn_Robot3 {
  z-index: 10;
}

#cntHome_Cell3_btn_Robot3 {
  border-radius: 60px;
}

#cntHome_Cell3_Rectangle1 {
  top: 0px;
  position: absolute;
}

#cntHome_Cell3_Rectangle1 {
  left: 210px;
  position: absolute;
}

#cntHome_Cell3_Rectangle1 {
  width: 525px;
}

#cntHome_Cell3_Rectangle1 {
  height: 135px;
}

#cntHome_Cell3_Rectangle1 {
  z-index: 11;
}

#cntHome_Cell3_Rectangle1 {
  border-style: outset;
}

#cntHome_Cell3_Rectangle1 {
  border-width: 5px;
}

#cntHome_Cell3_Rectangle1 {
  border-color: #c8c8c8;
}

#cntHome_Cell3_Label1 {
  top: 0px;
  position: absolute;
}

#cntHome_Cell3_Label1 {
  left: 0px;
  position: absolute;
}

#cntHome_Cell3_Label1 {
  width: 210px;
}

#cntHome_Cell3_Label1 {
  height: 135px;
}

#cntHome_Cell3_Label1 {
  z-index: 12;
}

#cntHome_Cell3_Label1 {
  border-width: 5px 0px 5px 5px;
}

#cntHome_Cell3_Label1 {
  border-style: outset;
}

#cntHome_Cell3_Label1:before {
  border-style: outset;
}

#cntHome_Cell3_Label1:after {
  border-style: outset;
}

#cntHome_Cell3_Label1 {
  font-size: 50px;
}

#cntHome_Cell3_Label2 {
  top: 30px;
  position: absolute;
}

#cntHome_Cell3_Label2 {
  left: 230px;
  position: absolute;
}

#cntHome_Cell3_Label2 {
  width: 195px;
}

#cntHome_Cell3_Label2 {
  height: 45px;
}

#cntHome_Cell3_Label2 {
  z-index: 13;
}

#cntHome_Cell3_Information {
  top: 80px;
  position: absolute;
}

#cntHome_Cell3_Information {
  left: 230px;
  position: absolute;
}

#cntHome_Cell3_Information {
  width: 195px;
}

#cntHome_Cell3_Information {
  height: 45px;
}

#cntHome_Cell3_Information {
  z-index: 14;
}
