#cntHome_Cell2_ImageCell2 {
  top: 300px;
  position: absolute;
}

#cntHome_Cell2_ImageCell2 {
  left: 30px;
  position: absolute;
}

#cntHome_Cell2_ImageCell2 {
  width: 525px;
}

#cntHome_Cell2_ImageCell2 {
  height: 465px;
}

#cntHome_Cell2_ImageCell2 {
  z-index: 0;
}

#cntHome_Cell2_Image_TopDoor {
  top: 150px;
  position: absolute;
}

#cntHome_Cell2_Image_TopDoor {
  left: 0px;
  position: absolute;
}

#cntHome_Cell2_Image_TopDoor {
  width: 435px;
}

#cntHome_Cell2_Image_TopDoor {
  height: 150px;
}

#cntHome_Cell2_Image_TopDoor {
  z-index: 1;
}

#cntHome_Cell2_Image_BottomDoor {
  top: 765px;
  position: absolute;
}

#cntHome_Cell2_Image_BottomDoor {
  left: 30px;
  position: absolute;
}

#cntHome_Cell2_Image_BottomDoor {
  width: 405px;
}

#cntHome_Cell2_Image_BottomDoor {
  height: 165px;
}

#cntHome_Cell2_Image_BottomDoor {
  z-index: 2;
}

#cntHome_Cell2_Image_Cell1Tepe {
  top: 194px;
  position: absolute;
}

#cntHome_Cell2_Image_Cell1Tepe {
  left: 495px;
  position: absolute;
}

#cntHome_Cell2_Image_Cell1Tepe {
  width: 30px;
}

#cntHome_Cell2_Image_Cell1Tepe {
  height: 105px;
}

#cntHome_Cell2_Image_Cell1Tepe {
  z-index: 3;
}

#cntHome_Cell2_ImageList_Cell1Lamb {
  top: 195px;
  position: absolute;
}

#cntHome_Cell2_ImageList_Cell1Lamb {
  left: 495px;
  position: absolute;
}

#cntHome_Cell2_ImageList_Cell1Lamb {
  width: 30px;
}

#cntHome_Cell2_ImageList_Cell1Lamb {
  height: 105px;
}

#cntHome_Cell2_ImageList_Cell1Lamb {
  z-index: 4;
}

#cntHome_Cell2_ImageList_EmgRedCell1 {
  top: 765px;
  position: absolute;
}

#cntHome_Cell2_ImageList_EmgRedCell1 {
  left: 465px;
  position: absolute;
}

#cntHome_Cell2_ImageList_EmgRedCell1 {
  width: 75px;
}

#cntHome_Cell2_ImageList_EmgRedCell1 {
  height: 75px;
}

#cntHome_Cell2_ImageList_EmgRedCell1 {
  z-index: 5;
}

#cntHome_Cell2_Image_EmgGreenCell1 {
  top: 765px;
  position: absolute;
}

#cntHome_Cell2_Image_EmgGreenCell1 {
  left: 465px;
  position: absolute;
}

#cntHome_Cell2_Image_EmgGreenCell1 {
  width: 75px;
}

#cntHome_Cell2_Image_EmgGreenCell1 {
  height: 75px;
}

#cntHome_Cell2_Image_EmgGreenCell1 {
  z-index: 6;
}

#cntHome_Cell2_Btn_SMachine1 {
  top: 525px;
  position: absolute;
}

#cntHome_Cell2_Btn_SMachine1 {
  left: 285px;
  position: absolute;
}

#cntHome_Cell2_Btn_SMachine1 {
  width: 165px;
}

#cntHome_Cell2_Btn_SMachine1 {
  height: 240px;
}

#cntHome_Cell2_Btn_SMachine1 {
  z-index: 7;
}

#cntHome_Cell2_Btn_LinearTransfer {
  top: 450px;
  position: absolute;
}

#cntHome_Cell2_Btn_LinearTransfer {
  left: 315px;
  position: absolute;
}

#cntHome_Cell2_Btn_LinearTransfer {
  width: 225px;
}

#cntHome_Cell2_Btn_LinearTransfer {
  height: 60px;
}

#cntHome_Cell2_Btn_LinearTransfer {
  z-index: 8;
}

#cntHome_Cell2_Btn_Camera {
  top: 315px;
  position: absolute;
}

#cntHome_Cell2_Btn_Camera {
  left: 300px;
  position: absolute;
}

#cntHome_Cell2_Btn_Camera {
  width: 135px;
}

#cntHome_Cell2_Btn_Camera {
  height: 120px;
}

#cntHome_Cell2_Btn_Camera {
  z-index: 9;
}

#cntHome_Cell2_btn_Robot {
  top: 390px;
  position: absolute;
}

#cntHome_Cell2_btn_Robot {
  left: 105px;
  position: absolute;
}

#cntHome_Cell2_btn_Robot {
  width: 120px;
}

#cntHome_Cell2_btn_Robot {
  height: 120px;
}

#cntHome_Cell2_btn_Robot {
  z-index: 10;
}

#cntHome_Cell2_btn_Robot {
  border-radius: 60px;
}

#cntHome_Cell2_Rectangle1 {
  top: 0px;
  position: absolute;
}

#cntHome_Cell2_Rectangle1 {
  left: 210px;
  position: absolute;
}

#cntHome_Cell2_Rectangle1 {
  width: 525px;
}

#cntHome_Cell2_Rectangle1 {
  height: 135px;
}

#cntHome_Cell2_Rectangle1 {
  z-index: 11;
}

#cntHome_Cell2_Rectangle1 {
  border-style: outset;
}

#cntHome_Cell2_Rectangle1 {
  border-width: 5px;
}

#cntHome_Cell2_Rectangle1 {
  border-color: #c8c8c8;
}

#cntHome_Cell2_Label1 {
  top: 0px;
  position: absolute;
}

#cntHome_Cell2_Label1 {
  left: 0px;
  position: absolute;
}

#cntHome_Cell2_Label1 {
  width: 210px;
}

#cntHome_Cell2_Label1 {
  height: 135px;
}

#cntHome_Cell2_Label1 {
  z-index: 12;
}

#cntHome_Cell2_Label1 {
  border-width: 5px 0px 5px 5px;
}

#cntHome_Cell2_Label1 {
  border-style: outset;
}

#cntHome_Cell2_Label1:before {
  border-style: outset;
}

#cntHome_Cell2_Label1:after {
  border-style: outset;
}

#cntHome_Cell2_Label1 {
  font-size: 50px;
}

#cntHome_Cell2_Label2 {
  top: 30px;
  position: absolute;
}

#cntHome_Cell2_Label2 {
  left: 230px;
  position: absolute;
}

#cntHome_Cell2_Label2 {
  width: 195px;
}

#cntHome_Cell2_Label2 {
  height: 45px;
}

#cntHome_Cell2_Label2 {
  z-index: 13;
}

#cntHome_Cell2_Information {
  top: 80px;
  position: absolute;
}

#cntHome_Cell2_Information {
  left: 230px;
  position: absolute;
}

#cntHome_Cell2_Information {
  width: 195px;
}

#cntHome_Cell2_Information {
  height: 45px;
}

#cntHome_Cell2_Information {
  z-index: 14;
}
