#cntHome_Cell7_Top_Image1 {
  top: 255px;
  position: absolute;
}

#cntHome_Cell7_Top_Image1 {
  left: 90px;
  position: absolute;
}

#cntHome_Cell7_Top_Image1 {
  width: 420px;
}

#cntHome_Cell7_Top_Image1 {
  height: 525px;
}

#cntHome_Cell7_Top_Image1 {
  z-index: 0;
}

#cntHome_Cell7_Top_Image_TopDoor {
  top: 105px;
  position: absolute;
}

#cntHome_Cell7_Top_Image_TopDoor {
  left: 90px;
  position: absolute;
}

#cntHome_Cell7_Top_Image_TopDoor {
  width: 315px;
}

#cntHome_Cell7_Top_Image_TopDoor {
  height: 150px;
}

#cntHome_Cell7_Top_Image_TopDoor {
  z-index: 2;
}

#cntHome_Cell7_Top_Image_BottomDoor {
  top: 780px;
  position: absolute;
}

#cntHome_Cell7_Top_Image_BottomDoor {
  left: 90px;
  position: absolute;
}

#cntHome_Cell7_Top_Image_BottomDoor {
  width: 345px;
}

#cntHome_Cell7_Top_Image_BottomDoor {
  height: 135px;
}

#cntHome_Cell7_Top_Image_BottomDoor {
  z-index: 1;
}

#cntHome_Cell7_Top_Image_Cell1Tepe {
  top: 149px;
  position: absolute;
}

#cntHome_Cell7_Top_Image_Cell1Tepe {
  left: 450px;
  position: absolute;
}

#cntHome_Cell7_Top_Image_Cell1Tepe {
  width: 30px;
}

#cntHome_Cell7_Top_Image_Cell1Tepe {
  height: 105px;
}

#cntHome_Cell7_Top_Image_Cell1Tepe {
  z-index: 6;
}

#cntHome_Cell7_Top_ImageList_Cell1Lamb {
  top: 150px;
  position: absolute;
}

#cntHome_Cell7_Top_ImageList_Cell1Lamb {
  left: 450px;
  position: absolute;
}

#cntHome_Cell7_Top_ImageList_Cell1Lamb {
  width: 30px;
}

#cntHome_Cell7_Top_ImageList_Cell1Lamb {
  height: 105px;
}

#cntHome_Cell7_Top_ImageList_Cell1Lamb {
  z-index: 4;
}

#cntHome_Cell7_Top_ImageList_EmgRedCell1 {
  top: 780px;
  position: absolute;
}

#cntHome_Cell7_Top_ImageList_EmgRedCell1 {
  left: 435px;
  position: absolute;
}

#cntHome_Cell7_Top_ImageList_EmgRedCell1 {
  width: 75px;
}

#cntHome_Cell7_Top_ImageList_EmgRedCell1 {
  height: 60px;
}

#cntHome_Cell7_Top_ImageList_EmgRedCell1 {
  z-index: 3;
}

#cntHome_Cell7_Top_Image_EmgGreenCell1 {
  top: 780px;
  position: absolute;
}

#cntHome_Cell7_Top_Image_EmgGreenCell1 {
  left: 435px;
  position: absolute;
}

#cntHome_Cell7_Top_Image_EmgGreenCell1 {
  width: 75px;
}

#cntHome_Cell7_Top_Image_EmgGreenCell1 {
  height: 60px;
}

#cntHome_Cell7_Top_Image_EmgGreenCell1 {
  z-index: 5;
}
