#cntHome_Cell4_ImageCell2 {
  top: 330px;
  position: absolute;
}

#cntHome_Cell4_ImageCell2 {
  left: 60px;
  position: absolute;
}

#cntHome_Cell4_ImageCell2 {
  width: 525px;
}

#cntHome_Cell4_ImageCell2 {
  height: 465px;
}

#cntHome_Cell4_ImageCell2 {
  z-index: 0;
}

#cntHome_Cell4_Image_TopDoor {
  top: 165px;
  position: absolute;
}

#cntHome_Cell4_Image_TopDoor {
  left: 75px;
  position: absolute;
}

#cntHome_Cell4_Image_TopDoor {
  width: 420px;
}

#cntHome_Cell4_Image_TopDoor {
  height: 165px;
}

#cntHome_Cell4_Image_TopDoor {
  z-index: 1;
}

#cntHome_Cell4_Image_BottomDoor {
  top: 795px;
  position: absolute;
}

#cntHome_Cell4_Image_BottomDoor {
  left: 105px;
  position: absolute;
}

#cntHome_Cell4_Image_BottomDoor {
  width: 405px;
}

#cntHome_Cell4_Image_BottomDoor {
  height: 165px;
}

#cntHome_Cell4_Image_BottomDoor {
  z-index: 2;
}

#cntHome_Cell4_Image_Cell1Tepe {
  top: 224px;
  position: absolute;
}

#cntHome_Cell4_Image_Cell1Tepe {
  left: 525px;
  position: absolute;
}

#cntHome_Cell4_Image_Cell1Tepe {
  width: 30px;
}

#cntHome_Cell4_Image_Cell1Tepe {
  height: 105px;
}

#cntHome_Cell4_Image_Cell1Tepe {
  z-index: 3;
}

#cntHome_Cell4_ImageList_Cell1Lamb {
  top: 225px;
  position: absolute;
}

#cntHome_Cell4_ImageList_Cell1Lamb {
  left: 525px;
  position: absolute;
}

#cntHome_Cell4_ImageList_Cell1Lamb {
  width: 30px;
}

#cntHome_Cell4_ImageList_Cell1Lamb {
  height: 105px;
}

#cntHome_Cell4_ImageList_Cell1Lamb {
  z-index: 4;
}

#cntHome_Cell4_ImageList_EmgRedCell1 {
  top: 795px;
  position: absolute;
}

#cntHome_Cell4_ImageList_EmgRedCell1 {
  left: 510px;
  position: absolute;
}

#cntHome_Cell4_ImageList_EmgRedCell1 {
  width: 75px;
}

#cntHome_Cell4_ImageList_EmgRedCell1 {
  height: 75px;
}

#cntHome_Cell4_ImageList_EmgRedCell1 {
  z-index: 5;
}

#cntHome_Cell4_Image_EmgGreenCell1 {
  top: 795px;
  position: absolute;
}

#cntHome_Cell4_Image_EmgGreenCell1 {
  left: 510px;
  position: absolute;
}

#cntHome_Cell4_Image_EmgGreenCell1 {
  width: 75px;
}

#cntHome_Cell4_Image_EmgGreenCell1 {
  height: 75px;
}

#cntHome_Cell4_Image_EmgGreenCell1 {
  z-index: 6;
}

#cntHome_Cell4_Btn_SMachine3 {
  top: 555px;
  position: absolute;
}

#cntHome_Cell4_Btn_SMachine3 {
  left: 345px;
  position: absolute;
}

#cntHome_Cell4_Btn_SMachine3 {
  width: 150px;
}

#cntHome_Cell4_Btn_SMachine3 {
  height: 240px;
}

#cntHome_Cell4_Btn_SMachine3 {
  z-index: 7;
}

#cntHome_Cell4_Btn_Camera {
  top: 510px;
  position: absolute;
}

#cntHome_Cell4_Btn_Camera {
  left: 90px;
  position: absolute;
}

#cntHome_Cell4_Btn_Camera {
  width: 105px;
}

#cntHome_Cell4_Btn_Camera {
  height: 90px;
}

#cntHome_Cell4_Btn_Camera {
  z-index: 8;
}

#cntHome_Cell4_btn_Robot4 {
  top: 465px;
  position: absolute;
}

#cntHome_Cell4_btn_Robot4 {
  left: 225px;
  position: absolute;
}

#cntHome_Cell4_btn_Robot4 {
  width: 90px;
}

#cntHome_Cell4_btn_Robot4 {
  height: 105px;
}

#cntHome_Cell4_btn_Robot4 {
  z-index: 9;
}

#cntHome_Cell4_btn_Robot4 {
  border-radius: 60px;
}

#cntHome_Cell4_btn_Conveyor {
  top: 360px;
  position: absolute;
}

#cntHome_Cell4_btn_Conveyor {
  left: 345px;
  position: absolute;
}

#cntHome_Cell4_btn_Conveyor {
  width: 240px;
}

#cntHome_Cell4_btn_Conveyor {
  height: 90px;
}

#cntHome_Cell4_btn_Conveyor {
  z-index: 10;
}

#cntHome_Cell4_Rectangle1 {
  top: 0px;
  position: absolute;
}

#cntHome_Cell4_Rectangle1 {
  left: 210px;
  position: absolute;
}

#cntHome_Cell4_Rectangle1 {
  width: 525px;
}

#cntHome_Cell4_Rectangle1 {
  height: 135px;
}

#cntHome_Cell4_Rectangle1 {
  z-index: 11;
}

#cntHome_Cell4_Rectangle1 {
  border-style: outset;
}

#cntHome_Cell4_Rectangle1 {
  border-width: 5px;
}

#cntHome_Cell4_Rectangle1 {
  border-color: #c8c8c8;
}

#cntHome_Cell4_Label1 {
  top: 0px;
  position: absolute;
}

#cntHome_Cell4_Label1 {
  left: 0px;
  position: absolute;
}

#cntHome_Cell4_Label1 {
  width: 210px;
}

#cntHome_Cell4_Label1 {
  height: 135px;
}

#cntHome_Cell4_Label1 {
  z-index: 12;
}

#cntHome_Cell4_Label1 {
  border-width: 5px 0px 5px 5px;
}

#cntHome_Cell4_Label1 {
  border-style: outset;
}

#cntHome_Cell4_Label1:before {
  border-style: outset;
}

#cntHome_Cell4_Label1:after {
  border-style: outset;
}

#cntHome_Cell4_Label1 {
  font-size: 50px;
}

#cntHome_Cell4_Label2 {
  top: 30px;
  position: absolute;
}

#cntHome_Cell4_Label2 {
  left: 230px;
  position: absolute;
}

#cntHome_Cell4_Label2 {
  width: 195px;
}

#cntHome_Cell4_Label2 {
  height: 45px;
}

#cntHome_Cell4_Label2 {
  z-index: 13;
}

#cntHome_Cell4_Information {
  top: 80px;
  position: absolute;
}

#cntHome_Cell4_Information {
  left: 230px;
  position: absolute;
}

#cntHome_Cell4_Information {
  width: 195px;
}

#cntHome_Cell4_Information {
  height: 45px;
}

#cntHome_Cell4_Information {
  z-index: 14;
}
