﻿@import "mixins.scss";
#cntHome_Cell8_Bot_Image1 {
	@include elemTop(255);
}
#cntHome_Cell8_Bot_Image1 {
	@include elemLeft(90);
}
#cntHome_Cell8_Bot_Image1 {
	@include elemAutoWidth(420);
}
#cntHome_Cell8_Bot_Image1 {
	@include elemAutoHeight(525);
}
#cntHome_Cell8_Bot_Image1 {
		z-index: 0;
}
#cntHome_Cell8_Bot_Image_TopDoor {
	@include elemTop(105);
}
#cntHome_Cell8_Bot_Image_TopDoor {
	@include elemLeft(90);
}
#cntHome_Cell8_Bot_Image_TopDoor {
	@include elemAutoWidth(315);
}
#cntHome_Cell8_Bot_Image_TopDoor {
	@include elemAutoHeight(150);
}
#cntHome_Cell8_Bot_Image_TopDoor {
		z-index: 2;
}
#cntHome_Cell8_Bot_Image_BottomDoor {
	@include elemTop(780);
}
#cntHome_Cell8_Bot_Image_BottomDoor {
	@include elemLeft(90);
}
#cntHome_Cell8_Bot_Image_BottomDoor {
	@include elemAutoWidth(345);
}
#cntHome_Cell8_Bot_Image_BottomDoor {
	@include elemAutoHeight(135);
}
#cntHome_Cell8_Bot_Image_BottomDoor {
		z-index: 1;
}
#cntHome_Cell8_Bot_Image_Cell1Tepe {
	@include elemTop(149);
}
#cntHome_Cell8_Bot_Image_Cell1Tepe {
	@include elemLeft(450);
}
#cntHome_Cell8_Bot_Image_Cell1Tepe {
	@include elemAutoWidth(30);
}
#cntHome_Cell8_Bot_Image_Cell1Tepe {
	@include elemAutoHeight(105);
}
#cntHome_Cell8_Bot_Image_Cell1Tepe {
		z-index: 6;
}
#cntHome_Cell8_Bot_ImageList_Cell1Lamb {
	@include elemTop(150);
}
#cntHome_Cell8_Bot_ImageList_Cell1Lamb {
	@include elemLeft(450);
}
#cntHome_Cell8_Bot_ImageList_Cell1Lamb {
	@include elemWidth(30);
}
#cntHome_Cell8_Bot_ImageList_Cell1Lamb {
	@include elemHeight(105);
}
#cntHome_Cell8_Bot_ImageList_Cell1Lamb {
		z-index: 4;
}
#cntHome_Cell8_Bot_ImageList_EmgRedCell1 {
	@include elemTop(780);
}
#cntHome_Cell8_Bot_ImageList_EmgRedCell1 {
	@include elemLeft(435);
}
#cntHome_Cell8_Bot_ImageList_EmgRedCell1 {
	@include elemWidth(75);
}
#cntHome_Cell8_Bot_ImageList_EmgRedCell1 {
	@include elemHeight(60);
}
#cntHome_Cell8_Bot_ImageList_EmgRedCell1 {
		z-index: 3;
}
#cntHome_Cell8_Bot_Image_EmgGreenCell1 {
	@include elemTop(780);
}
#cntHome_Cell8_Bot_Image_EmgGreenCell1 {
	@include elemLeft(435);
}
#cntHome_Cell8_Bot_Image_EmgGreenCell1 {
	@include elemAutoWidth(75);
}
#cntHome_Cell8_Bot_Image_EmgGreenCell1 {
	@include elemAutoHeight(60);
}
#cntHome_Cell8_Bot_Image_EmgGreenCell1 {
		z-index: 5;
}
