﻿@import "mixins.scss";
#cntHome_Cell3_ImageCell2 {
	@include elemTop(330);
}
#cntHome_Cell3_ImageCell2 {
	@include elemLeft(74);
}
#cntHome_Cell3_ImageCell2 {
	@include elemAutoWidth(516);
}
#cntHome_Cell3_ImageCell2 {
	@include elemAutoHeight(465);
}
#cntHome_Cell3_ImageCell2 {
		z-index: 0;
}
#cntHome_Cell3_Image_TopDoor {
	@include elemTop(164);
}
#cntHome_Cell3_Image_TopDoor {
	@include elemLeft(74);
}
#cntHome_Cell3_Image_TopDoor {
	@include elemAutoWidth(420);
}
#cntHome_Cell3_Image_TopDoor {
	@include elemAutoHeight(165);
}
#cntHome_Cell3_Image_TopDoor {
		z-index: 1;
}
#cntHome_Cell3_Image_BottomDoor {
	@include elemTop(795);
}
#cntHome_Cell3_Image_BottomDoor {
	@include elemLeft(105);
}
#cntHome_Cell3_Image_BottomDoor {
	@include elemAutoWidth(405);
}
#cntHome_Cell3_Image_BottomDoor {
	@include elemAutoHeight(165);
}
#cntHome_Cell3_Image_BottomDoor {
		z-index: 2;
}
#cntHome_Cell3_Image_Cell1Tepe {
	@include elemTop(223);
}
#cntHome_Cell3_Image_Cell1Tepe {
	@include elemLeft(524);
}
#cntHome_Cell3_Image_Cell1Tepe {
	@include elemAutoWidth(30);
}
#cntHome_Cell3_Image_Cell1Tepe {
	@include elemAutoHeight(105);
}
#cntHome_Cell3_Image_Cell1Tepe {
		z-index: 3;
}
#cntHome_Cell3_ImageList_Cell1Lamb {
	@include elemTop(225);
}
#cntHome_Cell3_ImageList_Cell1Lamb {
	@include elemLeft(524);
}
#cntHome_Cell3_ImageList_Cell1Lamb {
	@include elemWidth(30);
}
#cntHome_Cell3_ImageList_Cell1Lamb {
	@include elemHeight(105);
}
#cntHome_Cell3_ImageList_Cell1Lamb {
		z-index: 4;
}
#cntHome_Cell3_ImageList_EmgRedCell1 {
	@include elemTop(795);
}
#cntHome_Cell3_ImageList_EmgRedCell1 {
	@include elemLeft(509);
}
#cntHome_Cell3_ImageList_EmgRedCell1 {
	@include elemWidth(75);
}
#cntHome_Cell3_ImageList_EmgRedCell1 {
	@include elemHeight(75);
}
#cntHome_Cell3_ImageList_EmgRedCell1 {
		z-index: 5;
}
#cntHome_Cell3_Image_EmgGreenCell1 {
	@include elemTop(795);
}
#cntHome_Cell3_Image_EmgGreenCell1 {
	@include elemLeft(509);
}
#cntHome_Cell3_Image_EmgGreenCell1 {
	@include elemAutoWidth(75);
}
#cntHome_Cell3_Image_EmgGreenCell1 {
	@include elemAutoHeight(75);
}
#cntHome_Cell3_Image_EmgGreenCell1 {
		z-index: 6;
}
#cntHome_Cell3_Btn_SMachine2 {
	@include elemTop(550);
}
#cntHome_Cell3_Btn_SMachine2 {
	@include elemLeft(329);
}
#cntHome_Cell3_Btn_SMachine2 {
	@include elemAutoWidth(151);
}
#cntHome_Cell3_Btn_SMachine2 {
	@include elemAutoHeight(244);
}
#cntHome_Cell3_Btn_SMachine2 {
		z-index: 7;
}
#cntHome_Cell3_Btn_LinearTransfer {
	@include elemTop(480);
}
#cntHome_Cell3_Btn_LinearTransfer {
	@include elemLeft(74);
}
#cntHome_Cell3_Btn_LinearTransfer {
	@include elemAutoWidth(156);
}
#cntHome_Cell3_Btn_LinearTransfer {
	@include elemAutoHeight(60);
}
#cntHome_Cell3_Btn_LinearTransfer {
		z-index: 8;
}
#cntHome_Cell3_Btn_Camera {
	@include elemTop(375);
}
#cntHome_Cell3_Btn_Camera {
	@include elemLeft(210);
}
#cntHome_Cell3_Btn_Camera {
	@include elemAutoWidth(110);
}
#cntHome_Cell3_Btn_Camera {
	@include elemAutoHeight(85);
}
#cntHome_Cell3_Btn_Camera {
		z-index: 9;
}
#cntHome_Cell3_btn_Robot3 {
	@include elemTop(430);
}
#cntHome_Cell3_btn_Robot3 {
	@include elemLeft(330);
}
#cntHome_Cell3_btn_Robot3 {
	@include elemAutoWidth(94);
}
#cntHome_Cell3_btn_Robot3 {
	@include elemAutoHeight(105);
}
#cntHome_Cell3_btn_Robot3 {
		z-index: 10;
}
#cntHome_Cell3_btn_Robot3 {
	@include border-radius(60px);
}
#cntHome_Cell3_Rectangle1 {
	@include elemTop(0);
}
#cntHome_Cell3_Rectangle1 {
	@include elemLeft(210);
}
#cntHome_Cell3_Rectangle1 {
	@include elemWidth(525);
}
#cntHome_Cell3_Rectangle1 {
	@include elemHeight(135);
}
#cntHome_Cell3_Rectangle1 {
		z-index: 11;
}
#cntHome_Cell3_Rectangle1 {
		border-style: outset;
}
#cntHome_Cell3_Rectangle1 {
		border-width: 5px;
}
#cntHome_Cell3_Rectangle1 {
		border-color: rgba(200, 200, 200, 1);
}
#cntHome_Cell3_Label1 {
	@include elemTop(0);
}
#cntHome_Cell3_Label1 {
	@include elemLeft(0);
}
#cntHome_Cell3_Label1 {
	@include elemAutoWidth(210);
}
#cntHome_Cell3_Label1 {
	@include elemAutoHeight(135);
}
#cntHome_Cell3_Label1 {
		z-index: 12;
}
#cntHome_Cell3_Label1 {
		border-width: 5px 0px 5px 5px;
}
#cntHome_Cell3_Label1 {
		border-style: outset;
}
#cntHome_Cell3_Label1 {
	&:before{
		border-style: outset;
	}
}
#cntHome_Cell3_Label1 {
	&:after{
		border-style: outset;
	}
}
#cntHome_Cell3_Label1 {
		font-size: 50px;
}
#cntHome_Cell3_Label2 {
	@include elemTop(30);
}
#cntHome_Cell3_Label2 {
	@include elemLeft(230);
}
#cntHome_Cell3_Label2 {
	@include elemAutoWidth(195);
}
#cntHome_Cell3_Label2 {
	@include elemAutoHeight(45);
}
#cntHome_Cell3_Label2 {
		z-index: 13;
}
#cntHome_Cell3_Information {
	@include elemTop(80);
}
#cntHome_Cell3_Information {
	@include elemLeft(230);
}
#cntHome_Cell3_Information {
	@include elemAutoWidth(195);
}
#cntHome_Cell3_Information {
	@include elemAutoHeight(45);
}
#cntHome_Cell3_Information {
		z-index: 14;
}
