#cntHome_Cell5_Image1 {
  top: 300px;
  position: absolute;
}

#cntHome_Cell5_Image1 {
  left: 90px;
  position: absolute;
}

#cntHome_Cell5_Image1 {
  width: 420px;
}

#cntHome_Cell5_Image1 {
  height: 480px;
}

#cntHome_Cell5_Image1 {
  z-index: 0;
}

#cntHome_Cell5_Image_TopDoor {
  top: 160px;
  position: absolute;
}

#cntHome_Cell5_Image_TopDoor {
  left: 90px;
  position: absolute;
}

#cntHome_Cell5_Image_TopDoor {
  width: 315px;
}

#cntHome_Cell5_Image_TopDoor {
  height: 135px;
}

#cntHome_Cell5_Image_TopDoor {
  z-index: 1;
}

#cntHome_Cell5_Image_BottomDoor {
  top: 780px;
  position: absolute;
}

#cntHome_Cell5_Image_BottomDoor {
  left: 90px;
  position: absolute;
}

#cntHome_Cell5_Image_BottomDoor {
  width: 345px;
}

#cntHome_Cell5_Image_BottomDoor {
  height: 135px;
}

#cntHome_Cell5_Image_BottomDoor {
  z-index: 2;
}

#cntHome_Cell5_Image_Cell1Tepe {
  top: 189px;
  position: absolute;
}

#cntHome_Cell5_Image_Cell1Tepe {
  left: 440px;
  position: absolute;
}

#cntHome_Cell5_Image_Cell1Tepe {
  width: 30px;
}

#cntHome_Cell5_Image_Cell1Tepe {
  height: 105px;
}

#cntHome_Cell5_Image_Cell1Tepe {
  z-index: 3;
}

#cntHome_Cell5_ImageList_Cell1Lamb {
  top: 190px;
  position: absolute;
}

#cntHome_Cell5_ImageList_Cell1Lamb {
  left: 440px;
  position: absolute;
}

#cntHome_Cell5_ImageList_Cell1Lamb {
  width: 30px;
}

#cntHome_Cell5_ImageList_Cell1Lamb {
  height: 105px;
}

#cntHome_Cell5_ImageList_Cell1Lamb {
  z-index: 4;
}

#cntHome_Cell5_ImageList_EmgRedCell1 {
  top: 780px;
  position: absolute;
}

#cntHome_Cell5_ImageList_EmgRedCell1 {
  left: 435px;
  position: absolute;
}

#cntHome_Cell5_ImageList_EmgRedCell1 {
  width: 75px;
}

#cntHome_Cell5_ImageList_EmgRedCell1 {
  height: 60px;
}

#cntHome_Cell5_ImageList_EmgRedCell1 {
  z-index: 5;
}

#cntHome_Cell5_Image_EmgGreenCell1 {
  top: 780px;
  position: absolute;
}

#cntHome_Cell5_Image_EmgGreenCell1 {
  left: 435px;
  position: absolute;
}

#cntHome_Cell5_Image_EmgGreenCell1 {
  width: 75px;
}

#cntHome_Cell5_Image_EmgGreenCell1 {
  height: 60px;
}

#cntHome_Cell5_Image_EmgGreenCell1 {
  z-index: 6;
}

#cntHome_Cell5_Rectangle1 {
  top: 0px;
  position: absolute;
}

#cntHome_Cell5_Rectangle1 {
  left: 210px;
  position: absolute;
}

#cntHome_Cell5_Rectangle1 {
  width: 525px;
}

#cntHome_Cell5_Rectangle1 {
  height: 135px;
}

#cntHome_Cell5_Rectangle1 {
  z-index: 7;
}

#cntHome_Cell5_Rectangle1 {
  border-style: outset;
}

#cntHome_Cell5_Rectangle1 {
  border-width: 5px;
}

#cntHome_Cell5_Rectangle1 {
  border-color: #c8c8c8;
}

#cntHome_Cell5_Label1 {
  top: 0px;
  position: absolute;
}

#cntHome_Cell5_Label1 {
  left: 0px;
  position: absolute;
}

#cntHome_Cell5_Label1 {
  width: 210px;
}

#cntHome_Cell5_Label1 {
  height: 135px;
}

#cntHome_Cell5_Label1 {
  z-index: 8;
}

#cntHome_Cell5_Label1 {
  border-width: 5px 0px 5px 5px;
}

#cntHome_Cell5_Label1 {
  border-style: outset;
}

#cntHome_Cell5_Label1:before {
  border-style: outset;
}

#cntHome_Cell5_Label1:after {
  border-style: outset;
}

#cntHome_Cell5_Label1 {
  font-size: 50px;
}

#cntHome_Cell5_Label2 {
  top: 20px;
  position: absolute;
}

#cntHome_Cell5_Label2 {
  left: 230px;
  position: absolute;
}

#cntHome_Cell5_Label2 {
  width: 195px;
}

#cntHome_Cell5_Label2 {
  height: 45px;
}

#cntHome_Cell5_Label2 {
  z-index: 9;
}

#cntHome_Cell5_Information {
  top: 80px;
  position: absolute;
}

#cntHome_Cell5_Information {
  left: 230px;
  position: absolute;
}

#cntHome_Cell5_Information {
  width: 195px;
}

#cntHome_Cell5_Information {
  height: 45px;
}

#cntHome_Cell5_Information {
  z-index: 10;
}
