#cntHome_Cell1_Image_TopDoor {
  top: 195px;
  position: absolute;
}

#cntHome_Cell1_Image_TopDoor {
  left: 180px;
  position: absolute;
}

#cntHome_Cell1_Image_TopDoor {
  width: 420px;
}

#cntHome_Cell1_Image_TopDoor {
  height: 150px;
}

#cntHome_Cell1_Image_TopDoor {
  z-index: 0;
}

#cntHome_Cell1_Image1 {
  top: 345px;
  position: absolute;
}

#cntHome_Cell1_Image1 {
  left: 180px;
  position: absolute;
}

#cntHome_Cell1_Image1 {
  width: 555px;
}

#cntHome_Cell1_Image1 {
  height: 420px;
}

#cntHome_Cell1_Image1 {
  z-index: 1;
}

#cntHome_Cell1_Image_SideDoor {
  top: 420px;
  position: absolute;
}

#cntHome_Cell1_Image_SideDoor {
  left: 15px;
  position: absolute;
}

#cntHome_Cell1_Image_SideDoor {
  width: 165px;
}

#cntHome_Cell1_Image_SideDoor {
  height: 270px;
}

#cntHome_Cell1_Image_SideDoor {
  z-index: 2;
}

#cntHome_Cell1_Image_BottomDoor {
  top: 765px;
  position: absolute;
}

#cntHome_Cell1_Image_BottomDoor {
  left: 195px;
  position: absolute;
}

#cntHome_Cell1_Image_BottomDoor {
  width: 390px;
}

#cntHome_Cell1_Image_BottomDoor {
  height: 165px;
}

#cntHome_Cell1_Image_BottomDoor {
  z-index: 3;
}

#cntHome_Cell1_ImageList_EmgRedCell1 {
  top: 765px;
  position: absolute;
}

#cntHome_Cell1_ImageList_EmgRedCell1 {
  left: 600px;
  position: absolute;
}

#cntHome_Cell1_ImageList_EmgRedCell1 {
  width: 75px;
}

#cntHome_Cell1_ImageList_EmgRedCell1 {
  height: 75px;
}

#cntHome_Cell1_ImageList_EmgRedCell1 {
  z-index: 4;
}

#cntHome_Cell1_Image_EmgGreenCell1 {
  top: 765px;
  position: absolute;
}

#cntHome_Cell1_Image_EmgGreenCell1 {
  left: 600px;
  position: absolute;
}

#cntHome_Cell1_Image_EmgGreenCell1 {
  width: 75px;
}

#cntHome_Cell1_Image_EmgGreenCell1 {
  height: 75px;
}

#cntHome_Cell1_Image_EmgGreenCell1 {
  z-index: 5;
}

#cntHome_Cell1_btnYSockParts {
  top: 345px;
  position: absolute;
}

#cntHome_Cell1_btnYSockParts {
  left: 195px;
  position: absolute;
}

#cntHome_Cell1_btnYSockParts {
  width: 525px;
}

#cntHome_Cell1_btnYSockParts {
  height: 120px;
}

#cntHome_Cell1_btnYSockParts {
  z-index: 6;
}

#cntHome_Cell1_btnRobot {
  top: 495px;
  position: absolute;
}

#cntHome_Cell1_btnRobot {
  left: 390px;
  position: absolute;
}

#cntHome_Cell1_btnRobot {
  width: 90px;
}

#cntHome_Cell1_btnRobot {
  height: 105px;
}

#cntHome_Cell1_btnRobot {
  z-index: 7;
}

#cntHome_Cell1_btnCamera {
  top: 480px;
  position: absolute;
}

#cntHome_Cell1_btnCamera {
  left: 480px;
  position: absolute;
}

#cntHome_Cell1_btnCamera {
  width: 105px;
}

#cntHome_Cell1_btnCamera {
  height: 150px;
}

#cntHome_Cell1_btnCamera {
  z-index: 8;
}

#cntHome_Cell1_btnCamera {
  justify-content: flex-start;
  text-align: left;
}

#cntHome_Cell1_btnLeftPlate {
  top: 480px;
  position: absolute;
}

#cntHome_Cell1_btnLeftPlate {
  left: 615px;
  position: absolute;
}

#cntHome_Cell1_btnLeftPlate {
  width: 105px;
}

#cntHome_Cell1_btnLeftPlate {
  height: 75px;
}

#cntHome_Cell1_btnLeftPlate {
  z-index: 9;
}

#cntHome_Cell1_btnLeftPlate {
  border-radius: 0px;
}

#cntHome_Cell1_btnRightPlate {
  top: 555px;
  position: absolute;
}

#cntHome_Cell1_btnRightPlate {
  left: 615px;
  position: absolute;
}

#cntHome_Cell1_btnRightPlate {
  width: 105px;
}

#cntHome_Cell1_btnRightPlate {
  height: 75px;
}

#cntHome_Cell1_btnRightPlate {
  z-index: 10;
}

#cntHome_Cell1_btnRightPlate {
  border-radius: 0px;
}

#cntHome_Cell1_btnYSockParts1 {
  top: 645px;
  position: absolute;
}

#cntHome_Cell1_btnYSockParts1 {
  left: 180px;
  position: absolute;
}

#cntHome_Cell1_btnYSockParts1 {
  width: 555px;
}

#cntHome_Cell1_btnYSockParts1 {
  height: 120px;
}

#cntHome_Cell1_btnYSockParts1 {
  z-index: 11;
}

#cntHome_Cell1_Rectangle1 {
  top: 0px;
  position: absolute;
}

#cntHome_Cell1_Rectangle1 {
  left: 210px;
  position: absolute;
}

#cntHome_Cell1_Rectangle1 {
  width: 525px;
}

#cntHome_Cell1_Rectangle1 {
  height: 135px;
}

#cntHome_Cell1_Rectangle1 {
  z-index: 12;
}

#cntHome_Cell1_Rectangle1 {
  border-style: outset;
}

#cntHome_Cell1_Rectangle1 {
  border-width: 5px;
}

#cntHome_Cell1_Rectangle1 {
  border-color: #c8c8c8;
}

#cntHome_Cell1_Label1 {
  top: 0px;
  position: absolute;
}

#cntHome_Cell1_Label1 {
  left: 0px;
  position: absolute;
}

#cntHome_Cell1_Label1 {
  width: 210px;
}

#cntHome_Cell1_Label1 {
  height: 135px;
}

#cntHome_Cell1_Label1 {
  z-index: 13;
}

#cntHome_Cell1_Label1 {
  border-width: 5px 0px 5px 5px;
}

#cntHome_Cell1_Label1 {
  border-style: outset;
}

#cntHome_Cell1_Label1:before {
  border-style: outset;
}

#cntHome_Cell1_Label1:after {
  border-style: outset;
}

#cntHome_Cell1_Label1 {
  font-size: 50px;
}

#cntHome_Cell1_Label2 {
  top: 30px;
  position: absolute;
}

#cntHome_Cell1_Label2 {
  left: 230px;
  position: absolute;
}

#cntHome_Cell1_Label2 {
  width: 195px;
}

#cntHome_Cell1_Label2 {
  height: 45px;
}

#cntHome_Cell1_Label2 {
  z-index: 14;
}

#cntHome_Cell1_Information {
  top: 80px;
  position: absolute;
}

#cntHome_Cell1_Information {
  left: 230px;
  position: absolute;
}

#cntHome_Cell1_Information {
  width: 195px;
}

#cntHome_Cell1_Information {
  height: 45px;
}

#cntHome_Cell1_Information {
  z-index: 15;
}

#cntHome_Cell1_Image_Cell1Tepe {
  top: 239px;
  position: absolute;
}

#cntHome_Cell1_Image_Cell1Tepe {
  left: 645px;
  position: absolute;
}

#cntHome_Cell1_Image_Cell1Tepe {
  width: 30px;
}

#cntHome_Cell1_Image_Cell1Tepe {
  height: 105px;
}

#cntHome_Cell1_Image_Cell1Tepe {
  z-index: 16;
}

#cntHome_Cell1_ImageList_Cell1Lamb {
  top: 240px;
  position: absolute;
}

#cntHome_Cell1_ImageList_Cell1Lamb {
  left: 645px;
  position: absolute;
}

#cntHome_Cell1_ImageList_Cell1Lamb {
  width: 30px;
}

#cntHome_Cell1_ImageList_Cell1Lamb {
  height: 105px;
}

#cntHome_Cell1_ImageList_Cell1Lamb {
  z-index: 17;
}
