﻿@import "mixins.scss";
#cntHome_Cell4_ImageCell2 {
	@include elemTop(330);
}
#cntHome_Cell4_ImageCell2 {
	@include elemLeft(60);
}
#cntHome_Cell4_ImageCell2 {
	@include elemAutoWidth(525);
}
#cntHome_Cell4_ImageCell2 {
	@include elemAutoHeight(465);
}
#cntHome_Cell4_ImageCell2 {
		z-index: 0;
}
#cntHome_Cell4_Image_TopDoor {
	@include elemTop(165);
}
#cntHome_Cell4_Image_TopDoor {
	@include elemLeft(75);
}
#cntHome_Cell4_Image_TopDoor {
	@include elemAutoWidth(420);
}
#cntHome_Cell4_Image_TopDoor {
	@include elemAutoHeight(165);
}
#cntHome_Cell4_Image_TopDoor {
		z-index: 1;
}
#cntHome_Cell4_Image_BottomDoor {
	@include elemTop(795);
}
#cntHome_Cell4_Image_BottomDoor {
	@include elemLeft(105);
}
#cntHome_Cell4_Image_BottomDoor {
	@include elemAutoWidth(405);
}
#cntHome_Cell4_Image_BottomDoor {
	@include elemAutoHeight(165);
}
#cntHome_Cell4_Image_BottomDoor {
		z-index: 2;
}
#cntHome_Cell4_Image_Cell1Tepe {
	@include elemTop(224);
}
#cntHome_Cell4_Image_Cell1Tepe {
	@include elemLeft(525);
}
#cntHome_Cell4_Image_Cell1Tepe {
	@include elemAutoWidth(30);
}
#cntHome_Cell4_Image_Cell1Tepe {
	@include elemAutoHeight(105);
}
#cntHome_Cell4_Image_Cell1Tepe {
		z-index: 3;
}
#cntHome_Cell4_ImageList_Cell1Lamb {
	@include elemTop(225);
}
#cntHome_Cell4_ImageList_Cell1Lamb {
	@include elemLeft(525);
}
#cntHome_Cell4_ImageList_Cell1Lamb {
	@include elemWidth(30);
}
#cntHome_Cell4_ImageList_Cell1Lamb {
	@include elemHeight(105);
}
#cntHome_Cell4_ImageList_Cell1Lamb {
		z-index: 4;
}
#cntHome_Cell4_ImageList_EmgRedCell1 {
	@include elemTop(795);
}
#cntHome_Cell4_ImageList_EmgRedCell1 {
	@include elemLeft(510);
}
#cntHome_Cell4_ImageList_EmgRedCell1 {
	@include elemWidth(75);
}
#cntHome_Cell4_ImageList_EmgRedCell1 {
	@include elemHeight(75);
}
#cntHome_Cell4_ImageList_EmgRedCell1 {
		z-index: 5;
}
#cntHome_Cell4_Image_EmgGreenCell1 {
	@include elemTop(795);
}
#cntHome_Cell4_Image_EmgGreenCell1 {
	@include elemLeft(510);
}
#cntHome_Cell4_Image_EmgGreenCell1 {
	@include elemAutoWidth(75);
}
#cntHome_Cell4_Image_EmgGreenCell1 {
	@include elemAutoHeight(75);
}
#cntHome_Cell4_Image_EmgGreenCell1 {
		z-index: 6;
}
#cntHome_Cell4_Btn_SMachine3 {
	@include elemTop(555);
}
#cntHome_Cell4_Btn_SMachine3 {
	@include elemLeft(345);
}
#cntHome_Cell4_Btn_SMachine3 {
	@include elemAutoWidth(150);
}
#cntHome_Cell4_Btn_SMachine3 {
	@include elemAutoHeight(240);
}
#cntHome_Cell4_Btn_SMachine3 {
		z-index: 7;
}
#cntHome_Cell4_Btn_Camera {
	@include elemTop(510);
}
#cntHome_Cell4_Btn_Camera {
	@include elemLeft(90);
}
#cntHome_Cell4_Btn_Camera {
	@include elemAutoWidth(105);
}
#cntHome_Cell4_Btn_Camera {
	@include elemAutoHeight(90);
}
#cntHome_Cell4_Btn_Camera {
		z-index: 8;
}
#cntHome_Cell4_btn_Robot4 {
	@include elemTop(465);
}
#cntHome_Cell4_btn_Robot4 {
	@include elemLeft(225);
}
#cntHome_Cell4_btn_Robot4 {
	@include elemAutoWidth(90);
}
#cntHome_Cell4_btn_Robot4 {
	@include elemAutoHeight(105);
}
#cntHome_Cell4_btn_Robot4 {
		z-index: 9;
}
#cntHome_Cell4_btn_Robot4 {
	@include border-radius(60px);
}
#cntHome_Cell4_btn_Conveyor {
	@include elemTop(360);
}
#cntHome_Cell4_btn_Conveyor {
	@include elemLeft(345);
}
#cntHome_Cell4_btn_Conveyor {
	@include elemAutoWidth(240);
}
#cntHome_Cell4_btn_Conveyor {
	@include elemAutoHeight(90);
}
#cntHome_Cell4_btn_Conveyor {
		z-index: 10;
}
#cntHome_Cell4_Rectangle1 {
	@include elemTop(0);
}
#cntHome_Cell4_Rectangle1 {
	@include elemLeft(210);
}
#cntHome_Cell4_Rectangle1 {
	@include elemWidth(525);
}
#cntHome_Cell4_Rectangle1 {
	@include elemHeight(135);
}
#cntHome_Cell4_Rectangle1 {
		z-index: 11;
}
#cntHome_Cell4_Rectangle1 {
		border-style: outset;
}
#cntHome_Cell4_Rectangle1 {
		border-width: 5px;
}
#cntHome_Cell4_Rectangle1 {
		border-color: rgba(200, 200, 200, 1);
}
#cntHome_Cell4_Label1 {
	@include elemTop(0);
}
#cntHome_Cell4_Label1 {
	@include elemLeft(0);
}
#cntHome_Cell4_Label1 {
	@include elemAutoWidth(210);
}
#cntHome_Cell4_Label1 {
	@include elemAutoHeight(135);
}
#cntHome_Cell4_Label1 {
		z-index: 12;
}
#cntHome_Cell4_Label1 {
		border-width: 5px 0px 5px 5px;
}
#cntHome_Cell4_Label1 {
		border-style: outset;
}
#cntHome_Cell4_Label1 {
	&:before{
		border-style: outset;
	}
}
#cntHome_Cell4_Label1 {
	&:after{
		border-style: outset;
	}
}
#cntHome_Cell4_Label1 {
		font-size: 50px;
}
#cntHome_Cell4_Label2 {
	@include elemTop(30);
}
#cntHome_Cell4_Label2 {
	@include elemLeft(230);
}
#cntHome_Cell4_Label2 {
	@include elemAutoWidth(195);
}
#cntHome_Cell4_Label2 {
	@include elemAutoHeight(45);
}
#cntHome_Cell4_Label2 {
		z-index: 13;
}
#cntHome_Cell4_Information {
	@include elemTop(80);
}
#cntHome_Cell4_Information {
	@include elemLeft(230);
}
#cntHome_Cell4_Information {
	@include elemAutoWidth(195);
}
#cntHome_Cell4_Information {
	@include elemAutoHeight(45);
}
#cntHome_Cell4_Information {
		z-index: 14;
}
