#cntHome_Image_Cell1 {
  top: 390px;
  position: absolute;
}

#cntHome_Image_Cell1 {
  left: 241px;
  position: absolute;
}

#cntHome_Image_Cell1 {
  width: 160px;
}

#cntHome_Image_Cell1 {
  height: 165px;
}

#cntHome_Image_Cell1 {
  z-index: 1;
}

#cntHome_Image_TopDoor {
  top: 275px;
  position: absolute;
}

#cntHome_Image_TopDoor {
  left: 241px;
  position: absolute;
}

#cntHome_Image_TopDoor {
  width: 110px;
}

#cntHome_Image_TopDoor {
  height: 112px;
}

#cntHome_Image_TopDoor {
  z-index: 0;
}

#cntHome_Image_BottomDoor {
  top: 555px;
  position: absolute;
}

#cntHome_Image_BottomDoor {
  left: 241px;
  position: absolute;
}

#cntHome_Image_BottomDoor {
  width: 110px;
}

#cntHome_Image_BottomDoor {
  height: 115px;
}

#cntHome_Image_BottomDoor {
  z-index: 2;
}

#cntHome_Image_SideDoor {
  top: 420px;
  position: absolute;
}

#cntHome_Image_SideDoor {
  left: 122px;
  position: absolute;
}

#cntHome_Image_SideDoor {
  width: 115px;
}

#cntHome_Image_SideDoor {
  height: 90px;
}

#cntHome_Image_SideDoor {
  z-index: 3;
}

#cntHome_Image_Cell1Tepe {
  top: 315px;
  position: absolute;
}

#cntHome_Image_Cell1Tepe {
  left: 359px;
  position: absolute;
}

#cntHome_Image_Cell1Tepe {
  width: 30px;
}

#cntHome_Image_Cell1Tepe {
  height: 75px;
}

#cntHome_Image_Cell1Tepe {
  z-index: 4;
}

#cntHome_ImageList_Cell1Lamb {
  top: 315px;
  position: absolute;
}

#cntHome_ImageList_Cell1Lamb {
  left: 359px;
  position: absolute;
}

#cntHome_ImageList_Cell1Lamb {
  width: 30px;
}

#cntHome_ImageList_Cell1Lamb {
  height: 75px;
}

#cntHome_ImageList_Cell1Lamb {
  z-index: 5;
}

#cntHome_ImageList_EmgRedCell1 {
  top: 560px;
  position: absolute;
}

#cntHome_ImageList_EmgRedCell1 {
  left: 350px;
  position: absolute;
}

#cntHome_ImageList_EmgRedCell1 {
  width: 50px;
}

#cntHome_ImageList_EmgRedCell1 {
  height: 50px;
}

#cntHome_ImageList_EmgRedCell1 {
  z-index: 6;
}

#cntHome_Image_TopDoorCell2 {
  top: 280px;
  position: absolute;
}

#cntHome_Image_TopDoorCell2 {
  left: 401px;
  position: absolute;
}

#cntHome_Image_TopDoorCell2 {
  width: 110px;
}

#cntHome_Image_TopDoorCell2 {
  height: 110px;
}

#cntHome_Image_TopDoorCell2 {
  z-index: 7;
}

#cntHome_Image_Cell2Tepe {
  top: 315px;
  position: absolute;
}

#cntHome_Image_Cell2Tepe {
  left: 520px;
  position: absolute;
}

#cntHome_Image_Cell2Tepe {
  width: 30px;
}

#cntHome_Image_Cell2Tepe {
  height: 75px;
}

#cntHome_Image_Cell2Tepe {
  z-index: 10;
}

#cntHome_ImageList_Cell1 {
  top: 315px;
  position: absolute;
}

#cntHome_ImageList_Cell1 {
  left: 520px;
  position: absolute;
}

#cntHome_ImageList_Cell1 {
  width: 30px;
}

#cntHome_ImageList_Cell1 {
  height: 75px;
}

#cntHome_ImageList_Cell1 {
  z-index: 11;
}

#cntHome_ImageList_EmgRedCell2 {
  top: 560px;
  position: absolute;
}

#cntHome_ImageList_EmgRedCell2 {
  left: 510px;
  position: absolute;
}

#cntHome_ImageList_EmgRedCell2 {
  width: 50px;
}

#cntHome_ImageList_EmgRedCell2 {
  height: 50px;
}

#cntHome_ImageList_EmgRedCell2 {
  z-index: 12;
}

#cntHome_Image_Cell2 {
  top: 390px;
  position: absolute;
}

#cntHome_Image_Cell2 {
  left: 401px;
  position: absolute;
}

#cntHome_Image_Cell2 {
  width: 160px;
}

#cntHome_Image_Cell2 {
  height: 165px;
}

#cntHome_Image_Cell2 {
  z-index: 8;
}

#cntHome_Image_BottomDoorCell2 {
  top: 555px;
  position: absolute;
}

#cntHome_Image_BottomDoorCell2 {
  left: 401px;
  position: absolute;
}

#cntHome_Image_BottomDoorCell2 {
  width: 110px;
}

#cntHome_Image_BottomDoorCell2 {
  height: 115px;
}

#cntHome_Image_BottomDoorCell2 {
  z-index: 9;
}

#cntHome_Image_TopDoorCell3 {
  top: 276px;
  position: absolute;
}

#cntHome_Image_TopDoorCell3 {
  left: 560px;
  position: absolute;
}

#cntHome_Image_TopDoorCell3 {
  width: 110px;
}

#cntHome_Image_TopDoorCell3 {
  height: 110px;
}

#cntHome_Image_TopDoorCell3 {
  z-index: 13;
}

#cntHome_Image_Cell4Tepe {
  top: 311px;
  position: absolute;
}

#cntHome_Image_Cell4Tepe {
  left: 681px;
  position: absolute;
}

#cntHome_Image_Cell4Tepe {
  width: 30px;
}

#cntHome_Image_Cell4Tepe {
  height: 75px;
}

#cntHome_Image_Cell4Tepe {
  z-index: 16;
}

#cntHome_ImageList_Cell2 {
  top: 311px;
  position: absolute;
}

#cntHome_ImageList_Cell2 {
  left: 681px;
  position: absolute;
}

#cntHome_ImageList_Cell2 {
  width: 30px;
}

#cntHome_ImageList_Cell2 {
  height: 75px;
}

#cntHome_ImageList_Cell2 {
  z-index: 17;
}

#cntHome_ImageList_EmgRedCell3 {
  top: 550px;
  position: absolute;
}

#cntHome_ImageList_EmgRedCell3 {
  left: 670px;
  position: absolute;
}

#cntHome_ImageList_EmgRedCell3 {
  width: 50px;
}

#cntHome_ImageList_EmgRedCell3 {
  height: 60px;
}

#cntHome_ImageList_EmgRedCell3 {
  z-index: 18;
}

#cntHome_Image_Cell3 {
  top: 390px;
  position: absolute;
}

#cntHome_Image_Cell3 {
  left: 560px;
  position: absolute;
}

#cntHome_Image_Cell3 {
  width: 160px;
}

#cntHome_Image_Cell3 {
  height: 165px;
}

#cntHome_Image_Cell3 {
  z-index: 14;
}

#cntHome_Image_BottomDoorCell3 {
  top: 551px;
  position: absolute;
}

#cntHome_Image_BottomDoorCell3 {
  left: 560px;
  position: absolute;
}

#cntHome_Image_BottomDoorCell3 {
  width: 110px;
}

#cntHome_Image_BottomDoorCell3 {
  height: 115px;
}

#cntHome_Image_BottomDoorCell3 {
  z-index: 15;
}

#cntHome_Image_TopDoorCell4 {
  top: 276px;
  position: absolute;
}

#cntHome_Image_TopDoorCell4 {
  left: 721px;
  position: absolute;
}

#cntHome_Image_TopDoorCell4 {
  width: 110px;
}

#cntHome_Image_TopDoorCell4 {
  height: 110px;
}

#cntHome_Image_TopDoorCell4 {
  z-index: 19;
}

#cntHome_Image_Cell6 {
  top: 311px;
  position: absolute;
}

#cntHome_Image_Cell6 {
  left: 840px;
  position: absolute;
}

#cntHome_Image_Cell6 {
  width: 30px;
}

#cntHome_Image_Cell6 {
  height: 75px;
}

#cntHome_Image_Cell6 {
  z-index: 22;
}

#cntHome_ImageList_Cell3 {
  top: 311px;
  position: absolute;
}

#cntHome_ImageList_Cell3 {
  left: 840px;
  position: absolute;
}

#cntHome_ImageList_Cell3 {
  width: 30px;
}

#cntHome_ImageList_Cell3 {
  height: 75px;
}

#cntHome_ImageList_Cell3 {
  z-index: 23;
}

#cntHome_ImageList_EmgRedCell4 {
  top: 560px;
  position: absolute;
}

#cntHome_ImageList_EmgRedCell4 {
  left: 830px;
  position: absolute;
}

#cntHome_ImageList_EmgRedCell4 {
  width: 50px;
}

#cntHome_ImageList_EmgRedCell4 {
  height: 50px;
}

#cntHome_ImageList_EmgRedCell4 {
  z-index: 24;
}

#cntHome_ImageCell_4 {
  top: 390px;
  position: absolute;
}

#cntHome_ImageCell_4 {
  left: 721px;
  position: absolute;
}

#cntHome_ImageCell_4 {
  width: 160px;
}

#cntHome_ImageCell_4 {
  height: 165px;
}

#cntHome_ImageCell_4 {
  z-index: 20;
}

#cntHome_Image_BottomDoorCell4 {
  top: 551px;
  position: absolute;
}

#cntHome_Image_BottomDoorCell4 {
  left: 721px;
  position: absolute;
}

#cntHome_Image_BottomDoorCell4 {
  width: 110px;
}

#cntHome_Image_BottomDoorCell4 {
  height: 115px;
}

#cntHome_Image_BottomDoorCell4 {
  z-index: 21;
}

#cntHome_Image_Cell5 {
  top: 219px;
  position: absolute;
}

#cntHome_Image_Cell5 {
  left: 879px;
  position: absolute;
}

#cntHome_Image_Cell5 {
  width: 175px;
}

#cntHome_Image_Cell5 {
  height: 530px;
}

#cntHome_Image_Cell5 {
  z-index: 25;
}

#cntHome_Image_Cell_7Bot {
  top: 585px;
  position: absolute;
}

#cntHome_Image_Cell_7Bot {
  left: 1055px;
  position: absolute;
}

#cntHome_Image_Cell_7Bot {
  width: 177px;
}

#cntHome_Image_Cell_7Bot {
  height: 165px;
}

#cntHome_Image_Cell_7Bot {
  z-index: 26;
}

#cntHome_Image_Cell_8Bot {
  top: 585px;
  position: absolute;
}

#cntHome_Image_Cell_8Bot {
  left: 1232px;
  position: absolute;
}

#cntHome_Image_Cell_8Bot {
  width: 175px;
}

#cntHome_Image_Cell_8Bot {
  height: 165px;
}

#cntHome_Image_Cell_8Bot {
  z-index: 27;
}

#cntHome_Image_Cell_6Bot {
  top: 585px;
  position: absolute;
}

#cntHome_Image_Cell_6Bot {
  left: 1407px;
  position: absolute;
}

#cntHome_Image_Cell_6Bot {
  width: 170px;
}

#cntHome_Image_Cell_6Bot {
  height: 165px;
}

#cntHome_Image_Cell_6Bot {
  z-index: 28;
}

#cntHome_Image_Cell_9Bot {
  top: 585px;
  position: absolute;
}

#cntHome_Image_Cell_9Bot {
  left: 1579px;
  position: absolute;
}

#cntHome_Image_Cell_9Bot {
  width: 180px;
}

#cntHome_Image_Cell_9Bot {
  height: 165px;
}

#cntHome_Image_Cell_9Bot {
  z-index: 29;
}

#cntHome_Image_Cell_7Top {
  top: 219px;
  position: absolute;
}

#cntHome_Image_Cell_7Top {
  left: 1055px;
  position: absolute;
}

#cntHome_Image_Cell_7Top {
  width: 175px;
}

#cntHome_Image_Cell_7Top {
  height: 165px;
}

#cntHome_Image_Cell_7Top {
  z-index: 30;
}

#cntHome_Image_Cell_8Top {
  top: 219px;
  position: absolute;
}

#cntHome_Image_Cell_8Top {
  left: 1231px;
  position: absolute;
}

#cntHome_Image_Cell_8Top {
  width: 175px;
}

#cntHome_Image_Cell_8Top {
  height: 165px;
}

#cntHome_Image_Cell_8Top {
  z-index: 31;
}

#cntHome_Image_Cell_6Top {
  top: 219px;
  position: absolute;
}

#cntHome_Image_Cell_6Top {
  left: 1406px;
  position: absolute;
}

#cntHome_Image_Cell_6Top {
  width: 170px;
}

#cntHome_Image_Cell_6Top {
  height: 165px;
}

#cntHome_Image_Cell_6Top {
  z-index: 32;
}

#cntHome_Image_Cell_9Top {
  top: 219px;
  position: absolute;
}

#cntHome_Image_Cell_9Top {
  left: 1576px;
  position: absolute;
}

#cntHome_Image_Cell_9Top {
  width: 180px;
}

#cntHome_Image_Cell_9Top {
  height: 165px;
}

#cntHome_Image_Cell_9Top {
  z-index: 33;
}

#cntHome_Image_TopDoorCell5 {
  top: 100px;
  position: absolute;
}

#cntHome_Image_TopDoorCell5 {
  left: 879px;
  position: absolute;
}

#cntHome_Image_TopDoorCell5 {
  width: 121px;
}

#cntHome_Image_TopDoorCell5 {
  height: 120px;
}

#cntHome_Image_TopDoorCell5 {
  z-index: 34;
}

#cntHome_Image_BottomDoorCell5 {
  top: 750px;
  position: absolute;
}

#cntHome_Image_BottomDoorCell5 {
  left: 869px;
  position: absolute;
}

#cntHome_Image_BottomDoorCell5 {
  width: 131px;
}

#cntHome_Image_BottomDoorCell5 {
  height: 120px;
}

#cntHome_Image_BottomDoorCell5 {
  z-index: 35;
}

#cntHome_ImageList_EmgRedCell5 {
  top: 750px;
  position: absolute;
}

#cntHome_ImageList_EmgRedCell5 {
  left: 1000px;
  position: absolute;
}

#cntHome_ImageList_EmgRedCell5 {
  width: 50px;
}

#cntHome_ImageList_EmgRedCell5 {
  height: 60px;
}

#cntHome_ImageList_EmgRedCell5 {
  z-index: 36;
}

#cntHome_Image_BottomDoorCell7 {
  top: 385px;
  position: absolute;
}

#cntHome_Image_BottomDoorCell7 {
  left: 1060px;
  position: absolute;
}

#cntHome_Image_BottomDoorCell7 {
  width: 120px;
}

#cntHome_Image_BottomDoorCell7 {
  height: 120px;
}

#cntHome_Image_BottomDoorCell7 {
  z-index: 37;
}

#cntHome_Image_BottomDoorCell8_Top {
  top: 385px;
  position: absolute;
}

#cntHome_Image_BottomDoorCell8_Top {
  left: 1231px;
  position: absolute;
}

#cntHome_Image_BottomDoorCell8_Top {
  width: 120px;
}

#cntHome_Image_BottomDoorCell8_Top {
  height: 120px;
}

#cntHome_Image_BottomDoorCell8_Top {
  z-index: 38;
}

#cntHome_Image_TopDoorCell8 {
  top: 100px;
  position: absolute;
}

#cntHome_Image_TopDoorCell8 {
  left: 1231px;
  position: absolute;
}

#cntHome_Image_TopDoorCell8 {
  width: 122px;
}

#cntHome_Image_TopDoorCell8 {
  height: 120px;
}

#cntHome_Image_TopDoorCell8 {
  z-index: 39;
}

#cntHome_Image_TopDoorCell6 {
  top: 100px;
  position: absolute;
}

#cntHome_Image_TopDoorCell6 {
  left: 1411px;
  position: absolute;
}

#cntHome_Image_TopDoorCell6 {
  width: 122px;
}

#cntHome_Image_TopDoorCell6 {
  height: 120px;
}

#cntHome_Image_TopDoorCell6 {
  z-index: 40;
}

#cntHome_Image_TopDoorCell9 {
  top: 100px;
  position: absolute;
}

#cntHome_Image_TopDoorCell9 {
  left: 1579px;
  position: absolute;
}

#cntHome_Image_TopDoorCell9 {
  width: 122px;
}

#cntHome_Image_TopDoorCell9 {
  height: 120px;
}

#cntHome_Image_TopDoorCell9 {
  z-index: 41;
}

#cntHome_Image_BottomDoorCell6_Top {
  top: 385px;
  position: absolute;
}

#cntHome_Image_BottomDoorCell6_Top {
  left: 1411px;
  position: absolute;
}

#cntHome_Image_BottomDoorCell6_Top {
  width: 120px;
}

#cntHome_Image_BottomDoorCell6_Top {
  height: 120px;
}

#cntHome_Image_BottomDoorCell6_Top {
  z-index: 42;
}

#cntHome_Image_BottomDooCell9_Top {
  top: 385px;
  position: absolute;
}

#cntHome_Image_BottomDooCell9_Top {
  left: 1589px;
  position: absolute;
}

#cntHome_Image_BottomDooCell9_Top {
  width: 120px;
}

#cntHome_Image_BottomDooCell9_Top {
  height: 120px;
}

#cntHome_Image_BottomDooCell9_Top {
  z-index: 43;
}

#cntHome_Image_BottomCell8_Bot {
  top: 750px;
  position: absolute;
}

#cntHome_Image_BottomCell8_Bot {
  left: 1231px;
  position: absolute;
}

#cntHome_Image_BottomCell8_Bot {
  width: 120px;
}

#cntHome_Image_BottomCell8_Bot {
  height: 120px;
}

#cntHome_Image_BottomCell8_Bot {
  z-index: 44;
}

#cntHome_Image_BottomCell6_Bot {
  top: 750px;
  position: absolute;
}

#cntHome_Image_BottomCell6_Bot {
  left: 1411px;
  position: absolute;
}

#cntHome_Image_BottomCell6_Bot {
  width: 120px;
}

#cntHome_Image_BottomCell6_Bot {
  height: 120px;
}

#cntHome_Image_BottomCell6_Bot {
  z-index: 45;
}

#cntHome_Image_BottomCell9_Bot {
  top: 750px;
  position: absolute;
}

#cntHome_Image_BottomCell9_Bot {
  left: 1581px;
  position: absolute;
}

#cntHome_Image_BottomCell9_Bot {
  width: 120px;
}

#cntHome_Image_BottomCell9_Bot {
  height: 120px;
}

#cntHome_Image_BottomCell9_Bot {
  z-index: 46;
}

#cntHome_ImageList_EmgRedCell6 {
  top: 750px;
  position: absolute;
}

#cntHome_ImageList_EmgRedCell6 {
  left: 1350px;
  position: absolute;
}

#cntHome_ImageList_EmgRedCell6 {
  width: 50px;
}

#cntHome_ImageList_EmgRedCell6 {
  height: 60px;
}

#cntHome_ImageList_EmgRedCell6 {
  z-index: 47;
}

#cntHome_ImageList_EmgRedCell7 {
  top: 750px;
  position: absolute;
}

#cntHome_ImageList_EmgRedCell7 {
  left: 1530px;
  position: absolute;
}

#cntHome_ImageList_EmgRedCell7 {
  width: 50px;
}

#cntHome_ImageList_EmgRedCell7 {
  height: 60px;
}

#cntHome_ImageList_EmgRedCell7 {
  z-index: 48;
}

#cntHome_ImageList_EmgRedCell8 {
  top: 750px;
  position: absolute;
}

#cntHome_ImageList_EmgRedCell8 {
  left: 1700px;
  position: absolute;
}

#cntHome_ImageList_EmgRedCell8 {
  width: 50px;
}

#cntHome_ImageList_EmgRedCell8 {
  height: 60px;
}

#cntHome_ImageList_EmgRedCell8 {
  z-index: 49;
}

#cntHome_ImageList_EmgRedCell9 {
  top: 390px;
  position: absolute;
}

#cntHome_ImageList_EmgRedCell9 {
  left: 1350px;
  position: absolute;
}

#cntHome_ImageList_EmgRedCell9 {
  width: 50px;
}

#cntHome_ImageList_EmgRedCell9 {
  height: 60px;
}

#cntHome_ImageList_EmgRedCell9 {
  z-index: 50;
}

#cntHome_ImageList_EmgRedCell10 {
  top: 390px;
  position: absolute;
}

#cntHome_ImageList_EmgRedCell10 {
  left: 1530px;
  position: absolute;
}

#cntHome_ImageList_EmgRedCell10 {
  width: 50px;
}

#cntHome_ImageList_EmgRedCell10 {
  height: 60px;
}

#cntHome_ImageList_EmgRedCell10 {
  z-index: 51;
}

#cntHome_ImageList_EmgRedCell11 {
  top: 390px;
  position: absolute;
}

#cntHome_ImageList_EmgRedCell11 {
  left: 1710px;
  position: absolute;
}

#cntHome_ImageList_EmgRedCell11 {
  width: 50px;
}

#cntHome_ImageList_EmgRedCell11 {
  height: 60px;
}

#cntHome_ImageList_EmgRedCell11 {
  z-index: 52;
}
