﻿@import "mixins.scss";
#cntHome_Image_Cell1 {
	@include elemTop(390);
}
#cntHome_Image_Cell1 {
	@include elemLeft(241);
}
#cntHome_Image_Cell1 {
	@include elemAutoWidth(160);
}
#cntHome_Image_Cell1 {
	@include elemAutoHeight(165);
}
#cntHome_Image_Cell1 {
		z-index: 1;
}
#cntHome_Image_TopDoor {
	@include elemTop(275);
}
#cntHome_Image_TopDoor {
	@include elemLeft(241);
}
#cntHome_Image_TopDoor {
	@include elemAutoWidth(110);
}
#cntHome_Image_TopDoor {
	@include elemAutoHeight(112);
}
#cntHome_Image_TopDoor {
		z-index: 0;
}
#cntHome_Image_BottomDoor {
	@include elemTop(555);
}
#cntHome_Image_BottomDoor {
	@include elemLeft(241);
}
#cntHome_Image_BottomDoor {
	@include elemAutoWidth(110);
}
#cntHome_Image_BottomDoor {
	@include elemAutoHeight(115);
}
#cntHome_Image_BottomDoor {
		z-index: 2;
}
#cntHome_Image_SideDoor {
	@include elemTop(420);
}
#cntHome_Image_SideDoor {
	@include elemLeft(122);
}
#cntHome_Image_SideDoor {
	@include elemAutoWidth(115);
}
#cntHome_Image_SideDoor {
	@include elemAutoHeight(90);
}
#cntHome_Image_SideDoor {
		z-index: 3;
}
#cntHome_Image_Cell1Tepe {
	@include elemTop(315);
}
#cntHome_Image_Cell1Tepe {
	@include elemLeft(359);
}
#cntHome_Image_Cell1Tepe {
	@include elemAutoWidth(30);
}
#cntHome_Image_Cell1Tepe {
	@include elemAutoHeight(75);
}
#cntHome_Image_Cell1Tepe {
		z-index: 4;
}
#cntHome_ImageList_Cell1Lamb {
	@include elemTop(315);
}
#cntHome_ImageList_Cell1Lamb {
	@include elemLeft(359);
}
#cntHome_ImageList_Cell1Lamb {
	@include elemWidth(30);
}
#cntHome_ImageList_Cell1Lamb {
	@include elemHeight(75);
}
#cntHome_ImageList_Cell1Lamb {
		z-index: 5;
}
#cntHome_ImageList_EmgRedCell1 {
	@include elemTop(560);
}
#cntHome_ImageList_EmgRedCell1 {
	@include elemLeft(350);
}
#cntHome_ImageList_EmgRedCell1 {
	@include elemWidth(50);
}
#cntHome_ImageList_EmgRedCell1 {
	@include elemHeight(50);
}
#cntHome_ImageList_EmgRedCell1 {
		z-index: 6;
}
#cntHome_Image_TopDoorCell2 {
	@include elemTop(280);
}
#cntHome_Image_TopDoorCell2 {
	@include elemLeft(401);
}
#cntHome_Image_TopDoorCell2 {
	@include elemAutoWidth(110);
}
#cntHome_Image_TopDoorCell2 {
	@include elemAutoHeight(110);
}
#cntHome_Image_TopDoorCell2 {
		z-index: 7;
}
#cntHome_Image_Cell2Tepe {
	@include elemTop(315);
}
#cntHome_Image_Cell2Tepe {
	@include elemLeft(520);
}
#cntHome_Image_Cell2Tepe {
	@include elemAutoWidth(30);
}
#cntHome_Image_Cell2Tepe {
	@include elemAutoHeight(75);
}
#cntHome_Image_Cell2Tepe {
		z-index: 10;
}
#cntHome_ImageList_Cell1 {
	@include elemTop(315);
}
#cntHome_ImageList_Cell1 {
	@include elemLeft(520);
}
#cntHome_ImageList_Cell1 {
	@include elemWidth(30);
}
#cntHome_ImageList_Cell1 {
	@include elemHeight(75);
}
#cntHome_ImageList_Cell1 {
		z-index: 11;
}
#cntHome_ImageList_EmgRedCell2 {
	@include elemTop(560);
}
#cntHome_ImageList_EmgRedCell2 {
	@include elemLeft(510);
}
#cntHome_ImageList_EmgRedCell2 {
	@include elemWidth(50);
}
#cntHome_ImageList_EmgRedCell2 {
	@include elemHeight(50);
}
#cntHome_ImageList_EmgRedCell2 {
		z-index: 12;
}
#cntHome_Image_Cell2 {
	@include elemTop(390);
}
#cntHome_Image_Cell2 {
	@include elemLeft(401);
}
#cntHome_Image_Cell2 {
	@include elemAutoWidth(160);
}
#cntHome_Image_Cell2 {
	@include elemAutoHeight(165);
}
#cntHome_Image_Cell2 {
		z-index: 8;
}
#cntHome_Image_BottomDoorCell2 {
	@include elemTop(555);
}
#cntHome_Image_BottomDoorCell2 {
	@include elemLeft(401);
}
#cntHome_Image_BottomDoorCell2 {
	@include elemAutoWidth(110);
}
#cntHome_Image_BottomDoorCell2 {
	@include elemAutoHeight(115);
}
#cntHome_Image_BottomDoorCell2 {
		z-index: 9;
}
#cntHome_Image_TopDoorCell3 {
	@include elemTop(276);
}
#cntHome_Image_TopDoorCell3 {
	@include elemLeft(560);
}
#cntHome_Image_TopDoorCell3 {
	@include elemAutoWidth(110);
}
#cntHome_Image_TopDoorCell3 {
	@include elemAutoHeight(110);
}
#cntHome_Image_TopDoorCell3 {
		z-index: 13;
}
#cntHome_Image_Cell4Tepe {
	@include elemTop(311);
}
#cntHome_Image_Cell4Tepe {
	@include elemLeft(681);
}
#cntHome_Image_Cell4Tepe {
	@include elemAutoWidth(30);
}
#cntHome_Image_Cell4Tepe {
	@include elemAutoHeight(75);
}
#cntHome_Image_Cell4Tepe {
		z-index: 16;
}
#cntHome_ImageList_Cell2 {
	@include elemTop(311);
}
#cntHome_ImageList_Cell2 {
	@include elemLeft(681);
}
#cntHome_ImageList_Cell2 {
	@include elemWidth(30);
}
#cntHome_ImageList_Cell2 {
	@include elemHeight(75);
}
#cntHome_ImageList_Cell2 {
		z-index: 17;
}
#cntHome_ImageList_EmgRedCell3 {
	@include elemTop(550);
}
#cntHome_ImageList_EmgRedCell3 {
	@include elemLeft(670);
}
#cntHome_ImageList_EmgRedCell3 {
	@include elemWidth(50);
}
#cntHome_ImageList_EmgRedCell3 {
	@include elemHeight(60);
}
#cntHome_ImageList_EmgRedCell3 {
		z-index: 18;
}
#cntHome_Image_Cell3 {
	@include elemTop(390);
}
#cntHome_Image_Cell3 {
	@include elemLeft(560);
}
#cntHome_Image_Cell3 {
	@include elemAutoWidth(160);
}
#cntHome_Image_Cell3 {
	@include elemAutoHeight(165);
}
#cntHome_Image_Cell3 {
		z-index: 14;
}
#cntHome_Image_BottomDoorCell3 {
	@include elemTop(551);
}
#cntHome_Image_BottomDoorCell3 {
	@include elemLeft(560);
}
#cntHome_Image_BottomDoorCell3 {
	@include elemAutoWidth(110);
}
#cntHome_Image_BottomDoorCell3 {
	@include elemAutoHeight(115);
}
#cntHome_Image_BottomDoorCell3 {
		z-index: 15;
}
#cntHome_Image_TopDoorCell4 {
	@include elemTop(276);
}
#cntHome_Image_TopDoorCell4 {
	@include elemLeft(721);
}
#cntHome_Image_TopDoorCell4 {
	@include elemAutoWidth(110);
}
#cntHome_Image_TopDoorCell4 {
	@include elemAutoHeight(110);
}
#cntHome_Image_TopDoorCell4 {
		z-index: 19;
}
#cntHome_Image_Cell6 {
	@include elemTop(311);
}
#cntHome_Image_Cell6 {
	@include elemLeft(840);
}
#cntHome_Image_Cell6 {
	@include elemAutoWidth(30);
}
#cntHome_Image_Cell6 {
	@include elemAutoHeight(75);
}
#cntHome_Image_Cell6 {
		z-index: 22;
}
#cntHome_ImageList_Cell3 {
	@include elemTop(311);
}
#cntHome_ImageList_Cell3 {
	@include elemLeft(840);
}
#cntHome_ImageList_Cell3 {
	@include elemWidth(30);
}
#cntHome_ImageList_Cell3 {
	@include elemHeight(75);
}
#cntHome_ImageList_Cell3 {
		z-index: 23;
}
#cntHome_ImageList_EmgRedCell4 {
	@include elemTop(560);
}
#cntHome_ImageList_EmgRedCell4 {
	@include elemLeft(830);
}
#cntHome_ImageList_EmgRedCell4 {
	@include elemWidth(50);
}
#cntHome_ImageList_EmgRedCell4 {
	@include elemHeight(50);
}
#cntHome_ImageList_EmgRedCell4 {
		z-index: 24;
}
#cntHome_ImageCell_4 {
	@include elemTop(390);
}
#cntHome_ImageCell_4 {
	@include elemLeft(721);
}
#cntHome_ImageCell_4 {
	@include elemAutoWidth(160);
}
#cntHome_ImageCell_4 {
	@include elemAutoHeight(165);
}
#cntHome_ImageCell_4 {
		z-index: 20;
}
#cntHome_Image_BottomDoorCell4 {
	@include elemTop(551);
}
#cntHome_Image_BottomDoorCell4 {
	@include elemLeft(721);
}
#cntHome_Image_BottomDoorCell4 {
	@include elemAutoWidth(110);
}
#cntHome_Image_BottomDoorCell4 {
	@include elemAutoHeight(115);
}
#cntHome_Image_BottomDoorCell4 {
		z-index: 21;
}
#cntHome_Image_Cell5 {
	@include elemTop(219);
}
#cntHome_Image_Cell5 {
	@include elemLeft(879);
}
#cntHome_Image_Cell5 {
	@include elemAutoWidth(175);
}
#cntHome_Image_Cell5 {
	@include elemAutoHeight(530);
}
#cntHome_Image_Cell5 {
		z-index: 25;
}
#cntHome_Image_Cell_7Bot {
	@include elemTop(585);
}
#cntHome_Image_Cell_7Bot {
	@include elemLeft(1055);
}
#cntHome_Image_Cell_7Bot {
	@include elemAutoWidth(177);
}
#cntHome_Image_Cell_7Bot {
	@include elemAutoHeight(165);
}
#cntHome_Image_Cell_7Bot {
		z-index: 26;
}
#cntHome_Image_Cell_8Bot {
	@include elemTop(585);
}
#cntHome_Image_Cell_8Bot {
	@include elemLeft(1232);
}
#cntHome_Image_Cell_8Bot {
	@include elemAutoWidth(175);
}
#cntHome_Image_Cell_8Bot {
	@include elemAutoHeight(165);
}
#cntHome_Image_Cell_8Bot {
		z-index: 27;
}
#cntHome_Image_Cell_6Bot {
	@include elemTop(585);
}
#cntHome_Image_Cell_6Bot {
	@include elemLeft(1407);
}
#cntHome_Image_Cell_6Bot {
	@include elemAutoWidth(170);
}
#cntHome_Image_Cell_6Bot {
	@include elemAutoHeight(165);
}
#cntHome_Image_Cell_6Bot {
		z-index: 28;
}
#cntHome_Image_Cell_9Bot {
	@include elemTop(585);
}
#cntHome_Image_Cell_9Bot {
	@include elemLeft(1579);
}
#cntHome_Image_Cell_9Bot {
	@include elemAutoWidth(180);
}
#cntHome_Image_Cell_9Bot {
	@include elemAutoHeight(165);
}
#cntHome_Image_Cell_9Bot {
		z-index: 29;
}
#cntHome_Image_Cell_7Top {
	@include elemTop(219);
}
#cntHome_Image_Cell_7Top {
	@include elemLeft(1055);
}
#cntHome_Image_Cell_7Top {
	@include elemAutoWidth(175);
}
#cntHome_Image_Cell_7Top {
	@include elemAutoHeight(165);
}
#cntHome_Image_Cell_7Top {
		z-index: 30;
}
#cntHome_Image_Cell_8Top {
	@include elemTop(219);
}
#cntHome_Image_Cell_8Top {
	@include elemLeft(1231);
}
#cntHome_Image_Cell_8Top {
	@include elemAutoWidth(175);
}
#cntHome_Image_Cell_8Top {
	@include elemAutoHeight(165);
}
#cntHome_Image_Cell_8Top {
		z-index: 31;
}
#cntHome_Image_Cell_6Top {
	@include elemTop(219);
}
#cntHome_Image_Cell_6Top {
	@include elemLeft(1406);
}
#cntHome_Image_Cell_6Top {
	@include elemAutoWidth(170);
}
#cntHome_Image_Cell_6Top {
	@include elemAutoHeight(165);
}
#cntHome_Image_Cell_6Top {
		z-index: 32;
}
#cntHome_Image_Cell_9Top {
	@include elemTop(219);
}
#cntHome_Image_Cell_9Top {
	@include elemLeft(1576);
}
#cntHome_Image_Cell_9Top {
	@include elemAutoWidth(180);
}
#cntHome_Image_Cell_9Top {
	@include elemAutoHeight(165);
}
#cntHome_Image_Cell_9Top {
		z-index: 33;
}
#cntHome_Image_TopDoorCell5 {
	@include elemTop(100);
}
#cntHome_Image_TopDoorCell5 {
	@include elemLeft(879);
}
#cntHome_Image_TopDoorCell5 {
	@include elemAutoWidth(121);
}
#cntHome_Image_TopDoorCell5 {
	@include elemAutoHeight(120);
}
#cntHome_Image_TopDoorCell5 {
		z-index: 34;
}
#cntHome_Image_BottomDoorCell5 {
	@include elemTop(750);
}
#cntHome_Image_BottomDoorCell5 {
	@include elemLeft(869);
}
#cntHome_Image_BottomDoorCell5 {
	@include elemAutoWidth(131);
}
#cntHome_Image_BottomDoorCell5 {
	@include elemAutoHeight(120);
}
#cntHome_Image_BottomDoorCell5 {
		z-index: 35;
}
#cntHome_ImageList_EmgRedCell5 {
	@include elemTop(750);
}
#cntHome_ImageList_EmgRedCell5 {
	@include elemLeft(1000);
}
#cntHome_ImageList_EmgRedCell5 {
	@include elemWidth(50);
}
#cntHome_ImageList_EmgRedCell5 {
	@include elemHeight(60);
}
#cntHome_ImageList_EmgRedCell5 {
		z-index: 36;
}
#cntHome_Image_BottomDoorCell7 {
	@include elemTop(385);
}
#cntHome_Image_BottomDoorCell7 {
	@include elemLeft(1060);
}
#cntHome_Image_BottomDoorCell7 {
	@include elemAutoWidth(120);
}
#cntHome_Image_BottomDoorCell7 {
	@include elemAutoHeight(120);
}
#cntHome_Image_BottomDoorCell7 {
		z-index: 37;
}
#cntHome_Image_BottomDoorCell8_Top {
	@include elemTop(385);
}
#cntHome_Image_BottomDoorCell8_Top {
	@include elemLeft(1231);
}
#cntHome_Image_BottomDoorCell8_Top {
	@include elemAutoWidth(120);
}
#cntHome_Image_BottomDoorCell8_Top {
	@include elemAutoHeight(120);
}
#cntHome_Image_BottomDoorCell8_Top {
		z-index: 38;
}
#cntHome_Image_TopDoorCell8 {
	@include elemTop(100);
}
#cntHome_Image_TopDoorCell8 {
	@include elemLeft(1231);
}
#cntHome_Image_TopDoorCell8 {
	@include elemAutoWidth(122);
}
#cntHome_Image_TopDoorCell8 {
	@include elemAutoHeight(120);
}
#cntHome_Image_TopDoorCell8 {
		z-index: 39;
}
#cntHome_Image_TopDoorCell6 {
	@include elemTop(100);
}
#cntHome_Image_TopDoorCell6 {
	@include elemLeft(1411);
}
#cntHome_Image_TopDoorCell6 {
	@include elemAutoWidth(122);
}
#cntHome_Image_TopDoorCell6 {
	@include elemAutoHeight(120);
}
#cntHome_Image_TopDoorCell6 {
		z-index: 40;
}
#cntHome_Image_TopDoorCell9 {
	@include elemTop(100);
}
#cntHome_Image_TopDoorCell9 {
	@include elemLeft(1579);
}
#cntHome_Image_TopDoorCell9 {
	@include elemAutoWidth(122);
}
#cntHome_Image_TopDoorCell9 {
	@include elemAutoHeight(120);
}
#cntHome_Image_TopDoorCell9 {
		z-index: 41;
}
#cntHome_Image_BottomDoorCell6_Top {
	@include elemTop(385);
}
#cntHome_Image_BottomDoorCell6_Top {
	@include elemLeft(1411);
}
#cntHome_Image_BottomDoorCell6_Top {
	@include elemAutoWidth(120);
}
#cntHome_Image_BottomDoorCell6_Top {
	@include elemAutoHeight(120);
}
#cntHome_Image_BottomDoorCell6_Top {
		z-index: 42;
}
#cntHome_Image_BottomDooCell9_Top {
	@include elemTop(385);
}
#cntHome_Image_BottomDooCell9_Top {
	@include elemLeft(1589);
}
#cntHome_Image_BottomDooCell9_Top {
	@include elemAutoWidth(120);
}
#cntHome_Image_BottomDooCell9_Top {
	@include elemAutoHeight(120);
}
#cntHome_Image_BottomDooCell9_Top {
		z-index: 43;
}
#cntHome_Image_BottomCell8_Bot {
	@include elemTop(750);
}
#cntHome_Image_BottomCell8_Bot {
	@include elemLeft(1231);
}
#cntHome_Image_BottomCell8_Bot {
	@include elemAutoWidth(120);
}
#cntHome_Image_BottomCell8_Bot {
	@include elemAutoHeight(120);
}
#cntHome_Image_BottomCell8_Bot {
		z-index: 44;
}
#cntHome_Image_BottomCell6_Bot {
	@include elemTop(750);
}
#cntHome_Image_BottomCell6_Bot {
	@include elemLeft(1411);
}
#cntHome_Image_BottomCell6_Bot {
	@include elemAutoWidth(120);
}
#cntHome_Image_BottomCell6_Bot {
	@include elemAutoHeight(120);
}
#cntHome_Image_BottomCell6_Bot {
		z-index: 45;
}
#cntHome_Image_BottomCell9_Bot {
	@include elemTop(750);
}
#cntHome_Image_BottomCell9_Bot {
	@include elemLeft(1581);
}
#cntHome_Image_BottomCell9_Bot {
	@include elemAutoWidth(120);
}
#cntHome_Image_BottomCell9_Bot {
	@include elemAutoHeight(120);
}
#cntHome_Image_BottomCell9_Bot {
		z-index: 46;
}
#cntHome_ImageList_EmgRedCell6 {
	@include elemTop(750);
}
#cntHome_ImageList_EmgRedCell6 {
	@include elemLeft(1350);
}
#cntHome_ImageList_EmgRedCell6 {
	@include elemWidth(50);
}
#cntHome_ImageList_EmgRedCell6 {
	@include elemHeight(60);
}
#cntHome_ImageList_EmgRedCell6 {
		z-index: 47;
}
#cntHome_ImageList_EmgRedCell7 {
	@include elemTop(750);
}
#cntHome_ImageList_EmgRedCell7 {
	@include elemLeft(1530);
}
#cntHome_ImageList_EmgRedCell7 {
	@include elemWidth(50);
}
#cntHome_ImageList_EmgRedCell7 {
	@include elemHeight(60);
}
#cntHome_ImageList_EmgRedCell7 {
		z-index: 48;
}
#cntHome_ImageList_EmgRedCell8 {
	@include elemTop(750);
}
#cntHome_ImageList_EmgRedCell8 {
	@include elemLeft(1700);
}
#cntHome_ImageList_EmgRedCell8 {
	@include elemWidth(50);
}
#cntHome_ImageList_EmgRedCell8 {
	@include elemHeight(60);
}
#cntHome_ImageList_EmgRedCell8 {
		z-index: 49;
}
#cntHome_ImageList_EmgRedCell9 {
	@include elemTop(390);
}
#cntHome_ImageList_EmgRedCell9 {
	@include elemLeft(1350);
}
#cntHome_ImageList_EmgRedCell9 {
	@include elemWidth(50);
}
#cntHome_ImageList_EmgRedCell9 {
	@include elemHeight(60);
}
#cntHome_ImageList_EmgRedCell9 {
		z-index: 50;
}
#cntHome_ImageList_EmgRedCell10 {
	@include elemTop(390);
}
#cntHome_ImageList_EmgRedCell10 {
	@include elemLeft(1530);
}
#cntHome_ImageList_EmgRedCell10 {
	@include elemWidth(50);
}
#cntHome_ImageList_EmgRedCell10 {
	@include elemHeight(60);
}
#cntHome_ImageList_EmgRedCell10 {
		z-index: 51;
}
#cntHome_ImageList_EmgRedCell11 {
	@include elemTop(390);
}
#cntHome_ImageList_EmgRedCell11 {
	@include elemLeft(1710);
}
#cntHome_ImageList_EmgRedCell11 {
	@include elemWidth(50);
}
#cntHome_ImageList_EmgRedCell11 {
	@include elemHeight(60);
}
#cntHome_ImageList_EmgRedCell11 {
		z-index: 52;
}
