#cntRobotInputsCell_3_GridLine1 {
  top: 0px;
  position: absolute;
}

#cntRobotInputsCell_3_GridLine1 {
  left: 0px;
  position: absolute;
}

#cntRobotInputsCell_3_GridLine1 {
  width: 300px;
}

#cntRobotInputsCell_3_GridLine1 {
  height: 540px;
}

#cntRobotInputsCell_3_GridLine1 {
  z-index: 0;
}

#cntRobotInputsCell_3_GridLine1 .container {
  padding: 5px 0px;
}

#cntRobotInputsCell_3_GridLineItem1 {
  z-index: 0;
}

#cntRobotInputsCell_3_GridLineItem1 {
  padding: 0px 10px 10px 10px;
}

#cntRobotInputsCell_3_ImageList1 {
  top: 95px;
  position: absolute;
}

#cntRobotInputsCell_3_ImageList1 {
  left: 10px;
  position: absolute;
}

#cntRobotInputsCell_3_ImageList1 {
  width: 20px;
}

#cntRobotInputsCell_3_ImageList1 {
  height: 20px;
}

#cntRobotInputsCell_3_ImageList1 {
  z-index: 0;
}

#cntRobotInputsCell_3_ImageList2 {
  top: 125px;
  position: absolute;
}

#cntRobotInputsCell_3_ImageList2 {
  left: 10px;
  position: absolute;
}

#cntRobotInputsCell_3_ImageList2 {
  width: 20px;
}

#cntRobotInputsCell_3_ImageList2 {
  height: 20px;
}

#cntRobotInputsCell_3_ImageList2 {
  z-index: 1;
}

#cntRobotInputsCell_3_ImageList3 {
  top: 155px;
  position: absolute;
}

#cntRobotInputsCell_3_ImageList3 {
  left: 10px;
  position: absolute;
}

#cntRobotInputsCell_3_ImageList3 {
  width: 20px;
}

#cntRobotInputsCell_3_ImageList3 {
  height: 20px;
}

#cntRobotInputsCell_3_ImageList3 {
  z-index: 2;
}

#cntRobotInputsCell_3_ImageList4 {
  top: 185px;
  position: absolute;
}

#cntRobotInputsCell_3_ImageList4 {
  left: 10px;
  position: absolute;
}

#cntRobotInputsCell_3_ImageList4 {
  width: 20px;
}

#cntRobotInputsCell_3_ImageList4 {
  height: 20px;
}

#cntRobotInputsCell_3_ImageList4 {
  z-index: 3;
}

#cntRobotInputsCell_3_ImageList5 {
  top: 215px;
  position: absolute;
}

#cntRobotInputsCell_3_ImageList5 {
  left: 10px;
  position: absolute;
}

#cntRobotInputsCell_3_ImageList5 {
  width: 20px;
}

#cntRobotInputsCell_3_ImageList5 {
  height: 20px;
}

#cntRobotInputsCell_3_ImageList5 {
  z-index: 4;
}

#cntRobotInputsCell_3_ImageList6 {
  top: 245px;
  position: absolute;
}

#cntRobotInputsCell_3_ImageList6 {
  left: 10px;
  position: absolute;
}

#cntRobotInputsCell_3_ImageList6 {
  width: 20px;
}

#cntRobotInputsCell_3_ImageList6 {
  height: 20px;
}

#cntRobotInputsCell_3_ImageList6 {
  z-index: 5;
}

#cntRobotInputsCell_3_ImageList7 {
  top: 275px;
  position: absolute;
}

#cntRobotInputsCell_3_ImageList7 {
  left: 10px;
  position: absolute;
}

#cntRobotInputsCell_3_ImageList7 {
  width: 20px;
}

#cntRobotInputsCell_3_ImageList7 {
  height: 20px;
}

#cntRobotInputsCell_3_ImageList7 {
  z-index: 6;
}

#cntRobotInputsCell_3_ImageList8 {
  top: 305px;
  position: absolute;
}

#cntRobotInputsCell_3_ImageList8 {
  left: 10px;
  position: absolute;
}

#cntRobotInputsCell_3_ImageList8 {
  width: 20px;
}

#cntRobotInputsCell_3_ImageList8 {
  height: 20px;
}

#cntRobotInputsCell_3_ImageList8 {
  z-index: 7;
}

#cntRobotInputsCell_3_ImageList9 {
  top: 335px;
  position: absolute;
}

#cntRobotInputsCell_3_ImageList9 {
  left: 10px;
  position: absolute;
}

#cntRobotInputsCell_3_ImageList9 {
  width: 20px;
}

#cntRobotInputsCell_3_ImageList9 {
  height: 20px;
}

#cntRobotInputsCell_3_ImageList9 {
  z-index: 8;
}

#cntRobotInputsCell_3_ImageList10 {
  top: 365px;
  position: absolute;
}

#cntRobotInputsCell_3_ImageList10 {
  left: 10px;
  position: absolute;
}

#cntRobotInputsCell_3_ImageList10 {
  width: 20px;
}

#cntRobotInputsCell_3_ImageList10 {
  height: 20px;
}

#cntRobotInputsCell_3_ImageList10 {
  z-index: 9;
}

#cntRobotInputsCell_3_ImageList11 {
  top: 395px;
  position: absolute;
}

#cntRobotInputsCell_3_ImageList11 {
  left: 10px;
  position: absolute;
}

#cntRobotInputsCell_3_ImageList11 {
  width: 20px;
}

#cntRobotInputsCell_3_ImageList11 {
  height: 20px;
}

#cntRobotInputsCell_3_ImageList11 {
  z-index: 10;
}

#cntRobotInputsCell_3_ImageList12 {
  top: 425px;
  position: absolute;
}

#cntRobotInputsCell_3_ImageList12 {
  left: 10px;
  position: absolute;
}

#cntRobotInputsCell_3_ImageList12 {
  width: 20px;
}

#cntRobotInputsCell_3_ImageList12 {
  height: 20px;
}

#cntRobotInputsCell_3_ImageList12 {
  z-index: 11;
}

#cntRobotInputsCell_3_ImageList13 {
  top: 455px;
  position: absolute;
}

#cntRobotInputsCell_3_ImageList13 {
  left: 10px;
  position: absolute;
}

#cntRobotInputsCell_3_ImageList13 {
  width: 20px;
}

#cntRobotInputsCell_3_ImageList13 {
  height: 20px;
}

#cntRobotInputsCell_3_ImageList13 {
  z-index: 12;
}

#cntRobotInputsCell_3_ImageList14 {
  top: 485px;
  position: absolute;
}

#cntRobotInputsCell_3_ImageList14 {
  left: 10px;
  position: absolute;
}

#cntRobotInputsCell_3_ImageList14 {
  width: 20px;
}

#cntRobotInputsCell_3_ImageList14 {
  height: 20px;
}

#cntRobotInputsCell_3_ImageList14 {
  z-index: 13;
}

#cntRobotInputsCell_3_ImageList47 {
  top: 65px;
  position: absolute;
}

#cntRobotInputsCell_3_ImageList47 {
  left: 10px;
  position: absolute;
}

#cntRobotInputsCell_3_ImageList47 {
  width: 20px;
}

#cntRobotInputsCell_3_ImageList47 {
  height: 20px;
}

#cntRobotInputsCell_3_ImageList47 {
  z-index: 14;
}

#cntRobotInputsCell_3_ImageList48 {
  top: 35px;
  position: absolute;
}

#cntRobotInputsCell_3_ImageList48 {
  left: 10px;
  position: absolute;
}

#cntRobotInputsCell_3_ImageList48 {
  width: 20px;
}

#cntRobotInputsCell_3_ImageList48 {
  height: 20px;
}

#cntRobotInputsCell_3_ImageList48 {
  z-index: 15;
}

#cntRobotInputsCell_3_Label2 {
  top: 8px;
  position: absolute;
}

#cntRobotInputsCell_3_Label2 {
  left: 50px;
  position: absolute;
}

#cntRobotInputsCell_3_Label2 {
  width: 190px;
}

#cntRobotInputsCell_3_Label2 {
  height: 20px;
}

#cntRobotInputsCell_3_Label2 {
  z-index: 16;
}

#cntRobotInputsCell_3_Label2 span {
  color: dimgray;
}

#cntRobotInputsCell_3_Label2 {
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntRobotInputsCell_3_Label2 {
  font-size: 18px;
}

#cntRobotInputsCell_3_Label2 span {
  text-decoration: underline;
}

#cntRobotInputsCell_3_Label_do33 {
  top: 35px;
  position: absolute;
}

#cntRobotInputsCell_3_Label_do33 {
  left: 45px;
  position: absolute;
}

#cntRobotInputsCell_3_Label_do33 {
  width: 220px;
}

#cntRobotInputsCell_3_Label_do33 {
  height: 20px;
}

#cntRobotInputsCell_3_Label_do33 {
  z-index: 17;
}

#cntRobotInputsCell_3_Label_do34 {
  top: 65px;
  position: absolute;
}

#cntRobotInputsCell_3_Label_do34 {
  left: 45px;
  position: absolute;
}

#cntRobotInputsCell_3_Label_do34 {
  width: 220px;
}

#cntRobotInputsCell_3_Label_do34 {
  height: 20px;
}

#cntRobotInputsCell_3_Label_do34 {
  z-index: 18;
}

#cntRobotInputsCell_3_Label_do35 {
  top: 95px;
  position: absolute;
}

#cntRobotInputsCell_3_Label_do35 {
  left: 45px;
  position: absolute;
}

#cntRobotInputsCell_3_Label_do35 {
  width: 220px;
}

#cntRobotInputsCell_3_Label_do35 {
  height: 20px;
}

#cntRobotInputsCell_3_Label_do35 {
  z-index: 19;
}

#cntRobotInputsCell_3_Label_do36 {
  top: 125px;
  position: absolute;
}

#cntRobotInputsCell_3_Label_do36 {
  left: 45px;
  position: absolute;
}

#cntRobotInputsCell_3_Label_do36 {
  width: 220px;
}

#cntRobotInputsCell_3_Label_do36 {
  height: 20px;
}

#cntRobotInputsCell_3_Label_do36 {
  z-index: 20;
}

#cntRobotInputsCell_3_Label_do37 {
  top: 155px;
  position: absolute;
}

#cntRobotInputsCell_3_Label_do37 {
  left: 45px;
  position: absolute;
}

#cntRobotInputsCell_3_Label_do37 {
  width: 220px;
}

#cntRobotInputsCell_3_Label_do37 {
  height: 20px;
}

#cntRobotInputsCell_3_Label_do37 {
  z-index: 21;
}

#cntRobotInputsCell_3_Label_do38 {
  top: 185px;
  position: absolute;
}

#cntRobotInputsCell_3_Label_do38 {
  left: 45px;
  position: absolute;
}

#cntRobotInputsCell_3_Label_do38 {
  width: 220px;
}

#cntRobotInputsCell_3_Label_do38 {
  height: 20px;
}

#cntRobotInputsCell_3_Label_do38 {
  z-index: 22;
}

#cntRobotInputsCell_3_Label_do39 {
  top: 215px;
  position: absolute;
}

#cntRobotInputsCell_3_Label_do39 {
  left: 45px;
  position: absolute;
}

#cntRobotInputsCell_3_Label_do39 {
  width: 220px;
}

#cntRobotInputsCell_3_Label_do39 {
  height: 20px;
}

#cntRobotInputsCell_3_Label_do39 {
  z-index: 23;
}

#cntRobotInputsCell_3_Label_do40 {
  top: 245px;
  position: absolute;
}

#cntRobotInputsCell_3_Label_do40 {
  left: 45px;
  position: absolute;
}

#cntRobotInputsCell_3_Label_do40 {
  width: 220px;
}

#cntRobotInputsCell_3_Label_do40 {
  height: 20px;
}

#cntRobotInputsCell_3_Label_do40 {
  z-index: 24;
}

#cntRobotInputsCell_3_Label_do41 {
  top: 275px;
  position: absolute;
}

#cntRobotInputsCell_3_Label_do41 {
  left: 45px;
  position: absolute;
}

#cntRobotInputsCell_3_Label_do41 {
  width: 220px;
}

#cntRobotInputsCell_3_Label_do41 {
  height: 20px;
}

#cntRobotInputsCell_3_Label_do41 {
  z-index: 25;
}

#cntRobotInputsCell_3_Label_do42 {
  top: 305px;
  position: absolute;
}

#cntRobotInputsCell_3_Label_do42 {
  left: 45px;
  position: absolute;
}

#cntRobotInputsCell_3_Label_do42 {
  width: 220px;
}

#cntRobotInputsCell_3_Label_do42 {
  height: 20px;
}

#cntRobotInputsCell_3_Label_do42 {
  z-index: 26;
}

#cntRobotInputsCell_3_Label_do43 {
  top: 335px;
  position: absolute;
}

#cntRobotInputsCell_3_Label_do43 {
  left: 45px;
  position: absolute;
}

#cntRobotInputsCell_3_Label_do43 {
  width: 220px;
}

#cntRobotInputsCell_3_Label_do43 {
  height: 20px;
}

#cntRobotInputsCell_3_Label_do43 {
  z-index: 27;
}

#cntRobotInputsCell_3_Label_do44 {
  top: 365px;
  position: absolute;
}

#cntRobotInputsCell_3_Label_do44 {
  left: 45px;
  position: absolute;
}

#cntRobotInputsCell_3_Label_do44 {
  width: 220px;
}

#cntRobotInputsCell_3_Label_do44 {
  height: 20px;
}

#cntRobotInputsCell_3_Label_do44 {
  z-index: 28;
}

#cntRobotInputsCell_3_Label_do45 {
  top: 395px;
  position: absolute;
}

#cntRobotInputsCell_3_Label_do45 {
  left: 45px;
  position: absolute;
}

#cntRobotInputsCell_3_Label_do45 {
  width: 220px;
}

#cntRobotInputsCell_3_Label_do45 {
  height: 20px;
}

#cntRobotInputsCell_3_Label_do45 {
  z-index: 29;
}

#cntRobotInputsCell_3_Label_do46 {
  top: 425px;
  position: absolute;
}

#cntRobotInputsCell_3_Label_do46 {
  left: 45px;
  position: absolute;
}

#cntRobotInputsCell_3_Label_do46 {
  width: 220px;
}

#cntRobotInputsCell_3_Label_do46 {
  height: 20px;
}

#cntRobotInputsCell_3_Label_do46 {
  z-index: 30;
}

#cntRobotInputsCell_3_Label_do47 {
  top: 455px;
  position: absolute;
}

#cntRobotInputsCell_3_Label_do47 {
  left: 45px;
  position: absolute;
}

#cntRobotInputsCell_3_Label_do47 {
  width: 220px;
}

#cntRobotInputsCell_3_Label_do47 {
  height: 20px;
}

#cntRobotInputsCell_3_Label_do47 {
  z-index: 31;
}

#cntRobotInputsCell_3_Label_do48 {
  top: 485px;
  position: absolute;
}

#cntRobotInputsCell_3_Label_do48 {
  left: 45px;
  position: absolute;
}

#cntRobotInputsCell_3_Label_do48 {
  width: 220px;
}

#cntRobotInputsCell_3_Label_do48 {
  height: 20px;
}

#cntRobotInputsCell_3_Label_do48 {
  z-index: 32;
}

#cntRobotInputsCell_3_GridLineItem2 {
  z-index: 1;
}

#cntRobotInputsCell_3_GridLineItem2 {
  padding: 0px 10px 10px 10px;
}

#cntRobotInputsCell_3_ImageList15 {
  top: 35px;
  position: absolute;
}

#cntRobotInputsCell_3_ImageList15 {
  left: 10px;
  position: absolute;
}

#cntRobotInputsCell_3_ImageList15 {
  width: 20px;
}

#cntRobotInputsCell_3_ImageList15 {
  height: 20px;
}

#cntRobotInputsCell_3_ImageList15 {
  z-index: 0;
}

#cntRobotInputsCell_3_ImageList16 {
  top: 65px;
  position: absolute;
}

#cntRobotInputsCell_3_ImageList16 {
  left: 10px;
  position: absolute;
}

#cntRobotInputsCell_3_ImageList16 {
  width: 20px;
}

#cntRobotInputsCell_3_ImageList16 {
  height: 20px;
}

#cntRobotInputsCell_3_ImageList16 {
  z-index: 1;
}

#cntRobotInputsCell_3_ImageList17 {
  top: 95px;
  position: absolute;
}

#cntRobotInputsCell_3_ImageList17 {
  left: 10px;
  position: absolute;
}

#cntRobotInputsCell_3_ImageList17 {
  width: 20px;
}

#cntRobotInputsCell_3_ImageList17 {
  height: 20px;
}

#cntRobotInputsCell_3_ImageList17 {
  z-index: 2;
}

#cntRobotInputsCell_3_ImageList18 {
  top: 125px;
  position: absolute;
}

#cntRobotInputsCell_3_ImageList18 {
  left: 10px;
  position: absolute;
}

#cntRobotInputsCell_3_ImageList18 {
  width: 20px;
}

#cntRobotInputsCell_3_ImageList18 {
  height: 20px;
}

#cntRobotInputsCell_3_ImageList18 {
  z-index: 3;
}

#cntRobotInputsCell_3_ImageList19 {
  top: 155px;
  position: absolute;
}

#cntRobotInputsCell_3_ImageList19 {
  left: 10px;
  position: absolute;
}

#cntRobotInputsCell_3_ImageList19 {
  width: 20px;
}

#cntRobotInputsCell_3_ImageList19 {
  height: 20px;
}

#cntRobotInputsCell_3_ImageList19 {
  z-index: 4;
}

#cntRobotInputsCell_3_ImageList20 {
  top: 185px;
  position: absolute;
}

#cntRobotInputsCell_3_ImageList20 {
  left: 10px;
  position: absolute;
}

#cntRobotInputsCell_3_ImageList20 {
  width: 20px;
}

#cntRobotInputsCell_3_ImageList20 {
  height: 20px;
}

#cntRobotInputsCell_3_ImageList20 {
  z-index: 5;
}

#cntRobotInputsCell_3_ImageList21 {
  top: 215px;
  position: absolute;
}

#cntRobotInputsCell_3_ImageList21 {
  left: 10px;
  position: absolute;
}

#cntRobotInputsCell_3_ImageList21 {
  width: 20px;
}

#cntRobotInputsCell_3_ImageList21 {
  height: 20px;
}

#cntRobotInputsCell_3_ImageList21 {
  z-index: 6;
}

#cntRobotInputsCell_3_ImageList22 {
  top: 245px;
  position: absolute;
}

#cntRobotInputsCell_3_ImageList22 {
  left: 10px;
  position: absolute;
}

#cntRobotInputsCell_3_ImageList22 {
  width: 20px;
}

#cntRobotInputsCell_3_ImageList22 {
  height: 20px;
}

#cntRobotInputsCell_3_ImageList22 {
  z-index: 7;
}

#cntRobotInputsCell_3_ImageList23 {
  top: 275px;
  position: absolute;
}

#cntRobotInputsCell_3_ImageList23 {
  left: 10px;
  position: absolute;
}

#cntRobotInputsCell_3_ImageList23 {
  width: 20px;
}

#cntRobotInputsCell_3_ImageList23 {
  height: 20px;
}

#cntRobotInputsCell_3_ImageList23 {
  z-index: 8;
}

#cntRobotInputsCell_3_ImageList24 {
  top: 305px;
  position: absolute;
}

#cntRobotInputsCell_3_ImageList24 {
  left: 10px;
  position: absolute;
}

#cntRobotInputsCell_3_ImageList24 {
  width: 20px;
}

#cntRobotInputsCell_3_ImageList24 {
  height: 20px;
}

#cntRobotInputsCell_3_ImageList24 {
  z-index: 9;
}

#cntRobotInputsCell_3_ImageList25 {
  top: 335px;
  position: absolute;
}

#cntRobotInputsCell_3_ImageList25 {
  left: 10px;
  position: absolute;
}

#cntRobotInputsCell_3_ImageList25 {
  width: 20px;
}

#cntRobotInputsCell_3_ImageList25 {
  height: 20px;
}

#cntRobotInputsCell_3_ImageList25 {
  z-index: 10;
}

#cntRobotInputsCell_3_ImageList26 {
  top: 365px;
  position: absolute;
}

#cntRobotInputsCell_3_ImageList26 {
  left: 10px;
  position: absolute;
}

#cntRobotInputsCell_3_ImageList26 {
  width: 20px;
}

#cntRobotInputsCell_3_ImageList26 {
  height: 20px;
}

#cntRobotInputsCell_3_ImageList26 {
  z-index: 11;
}

#cntRobotInputsCell_3_ImageList27 {
  top: 395px;
  position: absolute;
}

#cntRobotInputsCell_3_ImageList27 {
  left: 10px;
  position: absolute;
}

#cntRobotInputsCell_3_ImageList27 {
  width: 20px;
}

#cntRobotInputsCell_3_ImageList27 {
  height: 20px;
}

#cntRobotInputsCell_3_ImageList27 {
  z-index: 12;
}

#cntRobotInputsCell_3_ImageList28 {
  top: 425px;
  position: absolute;
}

#cntRobotInputsCell_3_ImageList28 {
  left: 10px;
  position: absolute;
}

#cntRobotInputsCell_3_ImageList28 {
  width: 20px;
}

#cntRobotInputsCell_3_ImageList28 {
  height: 20px;
}

#cntRobotInputsCell_3_ImageList28 {
  z-index: 13;
}

#cntRobotInputsCell_3_ImageList29 {
  top: 455px;
  position: absolute;
}

#cntRobotInputsCell_3_ImageList29 {
  left: 10px;
  position: absolute;
}

#cntRobotInputsCell_3_ImageList29 {
  width: 20px;
}

#cntRobotInputsCell_3_ImageList29 {
  height: 20px;
}

#cntRobotInputsCell_3_ImageList29 {
  z-index: 14;
}

#cntRobotInputsCell_3_ImageList30 {
  top: 485px;
  position: absolute;
}

#cntRobotInputsCell_3_ImageList30 {
  left: 10px;
  position: absolute;
}

#cntRobotInputsCell_3_ImageList30 {
  width: 20px;
}

#cntRobotInputsCell_3_ImageList30 {
  height: 20px;
}

#cntRobotInputsCell_3_ImageList30 {
  z-index: 15;
}

#cntRobotInputsCell_3_Label3 {
  top: 8px;
  position: absolute;
}

#cntRobotInputsCell_3_Label3 {
  left: 50px;
  position: absolute;
}

#cntRobotInputsCell_3_Label3 {
  width: 190px;
}

#cntRobotInputsCell_3_Label3 {
  height: 20px;
}

#cntRobotInputsCell_3_Label3 {
  z-index: 16;
}

#cntRobotInputsCell_3_Label3 span {
  color: dimgray;
}

#cntRobotInputsCell_3_Label3 {
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntRobotInputsCell_3_Label3 {
  font-size: 18px;
}

#cntRobotInputsCell_3_Label3 span {
  text-decoration: underline;
}

#cntRobotInputsCell_3_Label_do49 {
  top: 35px;
  position: absolute;
}

#cntRobotInputsCell_3_Label_do49 {
  left: 35px;
  position: absolute;
}

#cntRobotInputsCell_3_Label_do49 {
  width: 230px;
}

#cntRobotInputsCell_3_Label_do49 {
  height: 20px;
}

#cntRobotInputsCell_3_Label_do49 {
  z-index: 17;
}

#cntRobotInputsCell_3_Label_do50 {
  top: 65px;
  position: absolute;
}

#cntRobotInputsCell_3_Label_do50 {
  left: 35px;
  position: absolute;
}

#cntRobotInputsCell_3_Label_do50 {
  width: 230px;
}

#cntRobotInputsCell_3_Label_do50 {
  height: 20px;
}

#cntRobotInputsCell_3_Label_do50 {
  z-index: 18;
}

#cntRobotInputsCell_3_Label_do51 {
  top: 335px;
  position: absolute;
}

#cntRobotInputsCell_3_Label_do51 {
  left: 35px;
  position: absolute;
}

#cntRobotInputsCell_3_Label_do51 {
  width: 230px;
}

#cntRobotInputsCell_3_Label_do51 {
  height: 20px;
}

#cntRobotInputsCell_3_Label_do51 {
  z-index: 19;
}

#cntRobotInputsCell_3_Label_do52 {
  top: 305px;
  position: absolute;
}

#cntRobotInputsCell_3_Label_do52 {
  left: 35px;
  position: absolute;
}

#cntRobotInputsCell_3_Label_do52 {
  width: 230px;
}

#cntRobotInputsCell_3_Label_do52 {
  height: 20px;
}

#cntRobotInputsCell_3_Label_do52 {
  z-index: 20;
}

#cntRobotInputsCell_3_Label_do53 {
  top: 455px;
  position: absolute;
}

#cntRobotInputsCell_3_Label_do53 {
  left: 35px;
  position: absolute;
}

#cntRobotInputsCell_3_Label_do53 {
  width: 230px;
}

#cntRobotInputsCell_3_Label_do53 {
  height: 20px;
}

#cntRobotInputsCell_3_Label_do53 {
  z-index: 21;
}

#cntRobotInputsCell_3_Label_do54 {
  top: 485px;
  position: absolute;
}

#cntRobotInputsCell_3_Label_do54 {
  left: 35px;
  position: absolute;
}

#cntRobotInputsCell_3_Label_do54 {
  width: 230px;
}

#cntRobotInputsCell_3_Label_do54 {
  height: 20px;
}

#cntRobotInputsCell_3_Label_do54 {
  z-index: 22;
}

#cntRobotInputsCell_3_Label_do56 {
  top: 425px;
  position: absolute;
}

#cntRobotInputsCell_3_Label_do56 {
  left: 35px;
  position: absolute;
}

#cntRobotInputsCell_3_Label_do56 {
  width: 230px;
}

#cntRobotInputsCell_3_Label_do56 {
  height: 20px;
}

#cntRobotInputsCell_3_Label_do56 {
  z-index: 23;
}

#cntRobotInputsCell_3_Label_do57 {
  top: 395px;
  position: absolute;
}

#cntRobotInputsCell_3_Label_do57 {
  left: 35px;
  position: absolute;
}

#cntRobotInputsCell_3_Label_do57 {
  width: 230px;
}

#cntRobotInputsCell_3_Label_do57 {
  height: 20px;
}

#cntRobotInputsCell_3_Label_do57 {
  z-index: 24;
}

#cntRobotInputsCell_3_Label_do58 {
  top: 365px;
  position: absolute;
}

#cntRobotInputsCell_3_Label_do58 {
  left: 35px;
  position: absolute;
}

#cntRobotInputsCell_3_Label_do58 {
  width: 230px;
}

#cntRobotInputsCell_3_Label_do58 {
  height: 20px;
}

#cntRobotInputsCell_3_Label_do58 {
  z-index: 25;
}

#cntRobotInputsCell_3_Label_do59 {
  top: 245px;
  position: absolute;
}

#cntRobotInputsCell_3_Label_do59 {
  left: 35px;
  position: absolute;
}

#cntRobotInputsCell_3_Label_do59 {
  width: 230px;
}

#cntRobotInputsCell_3_Label_do59 {
  height: 20px;
}

#cntRobotInputsCell_3_Label_do59 {
  z-index: 26;
}

#cntRobotInputsCell_3_Label_do60 {
  top: 275px;
  position: absolute;
}

#cntRobotInputsCell_3_Label_do60 {
  left: 35px;
  position: absolute;
}

#cntRobotInputsCell_3_Label_do60 {
  width: 230px;
}

#cntRobotInputsCell_3_Label_do60 {
  height: 20px;
}

#cntRobotInputsCell_3_Label_do60 {
  z-index: 27;
}

#cntRobotInputsCell_3_Label_do61 {
  top: 215px;
  position: absolute;
}

#cntRobotInputsCell_3_Label_do61 {
  left: 35px;
  position: absolute;
}

#cntRobotInputsCell_3_Label_do61 {
  width: 230px;
}

#cntRobotInputsCell_3_Label_do61 {
  height: 20px;
}

#cntRobotInputsCell_3_Label_do61 {
  z-index: 28;
}

#cntRobotInputsCell_3_Label_do62 {
  top: 185px;
  position: absolute;
}

#cntRobotInputsCell_3_Label_do62 {
  left: 35px;
  position: absolute;
}

#cntRobotInputsCell_3_Label_do62 {
  width: 230px;
}

#cntRobotInputsCell_3_Label_do62 {
  height: 20px;
}

#cntRobotInputsCell_3_Label_do62 {
  z-index: 29;
}

#cntRobotInputsCell_3_Label_do63 {
  top: 155px;
  position: absolute;
}

#cntRobotInputsCell_3_Label_do63 {
  left: 35px;
  position: absolute;
}

#cntRobotInputsCell_3_Label_do63 {
  width: 230px;
}

#cntRobotInputsCell_3_Label_do63 {
  height: 20px;
}

#cntRobotInputsCell_3_Label_do63 {
  z-index: 30;
}

#cntRobotInputsCell_3_Label_do64 {
  top: 125px;
  position: absolute;
}

#cntRobotInputsCell_3_Label_do64 {
  left: 35px;
  position: absolute;
}

#cntRobotInputsCell_3_Label_do64 {
  width: 230px;
}

#cntRobotInputsCell_3_Label_do64 {
  height: 20px;
}

#cntRobotInputsCell_3_Label_do64 {
  z-index: 31;
}

#cntRobotInputsCell_3_Label_do65 {
  top: 95px;
  position: absolute;
}

#cntRobotInputsCell_3_Label_do65 {
  left: 35px;
  position: absolute;
}

#cntRobotInputsCell_3_Label_do65 {
  width: 230px;
}

#cntRobotInputsCell_3_Label_do65 {
  height: 20px;
}

#cntRobotInputsCell_3_Label_do65 {
  z-index: 32;
}

#cntRobotInputsCell_3_GridLineItem3 {
  z-index: 2;
}

#cntRobotInputsCell_3_GridLineItem3 {
  padding: 0px 10px 10px 10px;
}

#cntRobotInputsCell_3_ImageList32 {
  top: 65px;
  position: absolute;
}

#cntRobotInputsCell_3_ImageList32 {
  left: 5px;
  position: absolute;
}

#cntRobotInputsCell_3_ImageList32 {
  width: 20px;
}

#cntRobotInputsCell_3_ImageList32 {
  height: 20px;
}

#cntRobotInputsCell_3_ImageList32 {
  z-index: 0;
}

#cntRobotInputsCell_3_ImageList33 {
  top: 95px;
  position: absolute;
}

#cntRobotInputsCell_3_ImageList33 {
  left: 5px;
  position: absolute;
}

#cntRobotInputsCell_3_ImageList33 {
  width: 20px;
}

#cntRobotInputsCell_3_ImageList33 {
  height: 20px;
}

#cntRobotInputsCell_3_ImageList33 {
  z-index: 1;
}

#cntRobotInputsCell_3_ImageList34 {
  top: 125px;
  position: absolute;
}

#cntRobotInputsCell_3_ImageList34 {
  left: 5px;
  position: absolute;
}

#cntRobotInputsCell_3_ImageList34 {
  width: 20px;
}

#cntRobotInputsCell_3_ImageList34 {
  height: 20px;
}

#cntRobotInputsCell_3_ImageList34 {
  z-index: 2;
}

#cntRobotInputsCell_3_ImageList35 {
  top: 155px;
  position: absolute;
}

#cntRobotInputsCell_3_ImageList35 {
  left: 5px;
  position: absolute;
}

#cntRobotInputsCell_3_ImageList35 {
  width: 20px;
}

#cntRobotInputsCell_3_ImageList35 {
  height: 20px;
}

#cntRobotInputsCell_3_ImageList35 {
  z-index: 3;
}

#cntRobotInputsCell_3_ImageList36 {
  top: 185px;
  position: absolute;
}

#cntRobotInputsCell_3_ImageList36 {
  left: 5px;
  position: absolute;
}

#cntRobotInputsCell_3_ImageList36 {
  width: 20px;
}

#cntRobotInputsCell_3_ImageList36 {
  height: 20px;
}

#cntRobotInputsCell_3_ImageList36 {
  z-index: 4;
}

#cntRobotInputsCell_3_ImageList37 {
  top: 215px;
  position: absolute;
}

#cntRobotInputsCell_3_ImageList37 {
  left: 5px;
  position: absolute;
}

#cntRobotInputsCell_3_ImageList37 {
  width: 20px;
}

#cntRobotInputsCell_3_ImageList37 {
  height: 20px;
}

#cntRobotInputsCell_3_ImageList37 {
  z-index: 5;
}

#cntRobotInputsCell_3_ImageList38 {
  top: 245px;
  position: absolute;
}

#cntRobotInputsCell_3_ImageList38 {
  left: 5px;
  position: absolute;
}

#cntRobotInputsCell_3_ImageList38 {
  width: 20px;
}

#cntRobotInputsCell_3_ImageList38 {
  height: 20px;
}

#cntRobotInputsCell_3_ImageList38 {
  z-index: 6;
}

#cntRobotInputsCell_3_ImageList39 {
  top: 275px;
  position: absolute;
}

#cntRobotInputsCell_3_ImageList39 {
  left: 5px;
  position: absolute;
}

#cntRobotInputsCell_3_ImageList39 {
  width: 20px;
}

#cntRobotInputsCell_3_ImageList39 {
  height: 20px;
}

#cntRobotInputsCell_3_ImageList39 {
  z-index: 7;
}

#cntRobotInputsCell_3_ImageList40 {
  top: 305px;
  position: absolute;
}

#cntRobotInputsCell_3_ImageList40 {
  left: 5px;
  position: absolute;
}

#cntRobotInputsCell_3_ImageList40 {
  width: 20px;
}

#cntRobotInputsCell_3_ImageList40 {
  height: 20px;
}

#cntRobotInputsCell_3_ImageList40 {
  z-index: 8;
}

#cntRobotInputsCell_3_ImageList41 {
  top: 335px;
  position: absolute;
}

#cntRobotInputsCell_3_ImageList41 {
  left: 5px;
  position: absolute;
}

#cntRobotInputsCell_3_ImageList41 {
  width: 20px;
}

#cntRobotInputsCell_3_ImageList41 {
  height: 20px;
}

#cntRobotInputsCell_3_ImageList41 {
  z-index: 9;
}

#cntRobotInputsCell_3_ImageList42 {
  top: 365px;
  position: absolute;
}

#cntRobotInputsCell_3_ImageList42 {
  left: 5px;
  position: absolute;
}

#cntRobotInputsCell_3_ImageList42 {
  width: 20px;
}

#cntRobotInputsCell_3_ImageList42 {
  height: 20px;
}

#cntRobotInputsCell_3_ImageList42 {
  z-index: 10;
}

#cntRobotInputsCell_3_ImageList43 {
  top: 395px;
  position: absolute;
}

#cntRobotInputsCell_3_ImageList43 {
  left: 5px;
  position: absolute;
}

#cntRobotInputsCell_3_ImageList43 {
  width: 20px;
}

#cntRobotInputsCell_3_ImageList43 {
  height: 20px;
}

#cntRobotInputsCell_3_ImageList43 {
  z-index: 11;
}

#cntRobotInputsCell_3_ImageList44 {
  top: 425px;
  position: absolute;
}

#cntRobotInputsCell_3_ImageList44 {
  left: 5px;
  position: absolute;
}

#cntRobotInputsCell_3_ImageList44 {
  width: 20px;
}

#cntRobotInputsCell_3_ImageList44 {
  height: 20px;
}

#cntRobotInputsCell_3_ImageList44 {
  z-index: 12;
}

#cntRobotInputsCell_3_ImageList45 {
  top: 455px;
  position: absolute;
}

#cntRobotInputsCell_3_ImageList45 {
  left: 5px;
  position: absolute;
}

#cntRobotInputsCell_3_ImageList45 {
  width: 20px;
}

#cntRobotInputsCell_3_ImageList45 {
  height: 20px;
}

#cntRobotInputsCell_3_ImageList45 {
  z-index: 13;
}

#cntRobotInputsCell_3_ImageList46 {
  top: 485px;
  position: absolute;
}

#cntRobotInputsCell_3_ImageList46 {
  left: 5px;
  position: absolute;
}

#cntRobotInputsCell_3_ImageList46 {
  width: 20px;
}

#cntRobotInputsCell_3_ImageList46 {
  height: 20px;
}

#cntRobotInputsCell_3_ImageList46 {
  z-index: 14;
}

#cntRobotInputsCell_3_Label4 {
  top: 8px;
  position: absolute;
}

#cntRobotInputsCell_3_Label4 {
  left: 50px;
  position: absolute;
}

#cntRobotInputsCell_3_Label4 {
  width: 190px;
}

#cntRobotInputsCell_3_Label4 {
  height: 20px;
}

#cntRobotInputsCell_3_Label4 {
  z-index: 15;
}

#cntRobotInputsCell_3_Label4 span {
  color: dimgray;
}

#cntRobotInputsCell_3_Label4 {
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntRobotInputsCell_3_Label4 {
  font-size: 18px;
}

#cntRobotInputsCell_3_Label4 span {
  text-decoration: underline;
}

#cntRobotInputsCell_3_Label_do55 {
  top: 35px;
  position: absolute;
}

#cntRobotInputsCell_3_Label_do55 {
  left: 35px;
  position: absolute;
}

#cntRobotInputsCell_3_Label_do55 {
  width: 230px;
}

#cntRobotInputsCell_3_Label_do55 {
  height: 20px;
}

#cntRobotInputsCell_3_Label_do55 {
  z-index: 16;
}

#cntRobotInputsCell_3_Label_do66 {
  top: 65px;
  position: absolute;
}

#cntRobotInputsCell_3_Label_do66 {
  left: 35px;
  position: absolute;
}

#cntRobotInputsCell_3_Label_do66 {
  width: 240px;
}

#cntRobotInputsCell_3_Label_do66 {
  height: 20px;
}

#cntRobotInputsCell_3_Label_do66 {
  z-index: 17;
}

#cntRobotInputsCell_3_Label_do67 {
  top: 95px;
  position: absolute;
}

#cntRobotInputsCell_3_Label_do67 {
  left: 35px;
  position: absolute;
}

#cntRobotInputsCell_3_Label_do67 {
  width: 240px;
}

#cntRobotInputsCell_3_Label_do67 {
  height: 20px;
}

#cntRobotInputsCell_3_Label_do67 {
  z-index: 18;
}

#cntRobotInputsCell_3_Label_do68 {
  top: 125px;
  position: absolute;
}

#cntRobotInputsCell_3_Label_do68 {
  left: 35px;
  position: absolute;
}

#cntRobotInputsCell_3_Label_do68 {
  width: 240px;
}

#cntRobotInputsCell_3_Label_do68 {
  height: 20px;
}

#cntRobotInputsCell_3_Label_do68 {
  z-index: 19;
}

#cntRobotInputsCell_3_Label_do69 {
  top: 155px;
  position: absolute;
}

#cntRobotInputsCell_3_Label_do69 {
  left: 35px;
  position: absolute;
}

#cntRobotInputsCell_3_Label_do69 {
  width: 240px;
}

#cntRobotInputsCell_3_Label_do69 {
  height: 20px;
}

#cntRobotInputsCell_3_Label_do69 {
  z-index: 20;
}

#cntRobotInputsCell_3_Label_do70 {
  top: 185px;
  position: absolute;
}

#cntRobotInputsCell_3_Label_do70 {
  left: 35px;
  position: absolute;
}

#cntRobotInputsCell_3_Label_do70 {
  width: 240px;
}

#cntRobotInputsCell_3_Label_do70 {
  height: 20px;
}

#cntRobotInputsCell_3_Label_do70 {
  z-index: 21;
}

#cntRobotInputsCell_3_Label_do71 {
  top: 215px;
  position: absolute;
}

#cntRobotInputsCell_3_Label_do71 {
  left: 35px;
  position: absolute;
}

#cntRobotInputsCell_3_Label_do71 {
  width: 240px;
}

#cntRobotInputsCell_3_Label_do71 {
  height: 20px;
}

#cntRobotInputsCell_3_Label_do71 {
  z-index: 22;
}

#cntRobotInputsCell_3_Label_do72 {
  top: 245px;
  position: absolute;
}

#cntRobotInputsCell_3_Label_do72 {
  left: 35px;
  position: absolute;
}

#cntRobotInputsCell_3_Label_do72 {
  width: 240px;
}

#cntRobotInputsCell_3_Label_do72 {
  height: 20px;
}

#cntRobotInputsCell_3_Label_do72 {
  z-index: 23;
}

#cntRobotInputsCell_3_Label_do73 {
  top: 275px;
  position: absolute;
}

#cntRobotInputsCell_3_Label_do73 {
  left: 35px;
  position: absolute;
}

#cntRobotInputsCell_3_Label_do73 {
  width: 230px;
}

#cntRobotInputsCell_3_Label_do73 {
  height: 20px;
}

#cntRobotInputsCell_3_Label_do73 {
  z-index: 24;
}

#cntRobotInputsCell_3_Label_do74 {
  top: 305px;
  position: absolute;
}

#cntRobotInputsCell_3_Label_do74 {
  left: 35px;
  position: absolute;
}

#cntRobotInputsCell_3_Label_do74 {
  width: 230px;
}

#cntRobotInputsCell_3_Label_do74 {
  height: 20px;
}

#cntRobotInputsCell_3_Label_do74 {
  z-index: 25;
}

#cntRobotInputsCell_3_Label_do75 {
  top: 335px;
  position: absolute;
}

#cntRobotInputsCell_3_Label_do75 {
  left: 35px;
  position: absolute;
}

#cntRobotInputsCell_3_Label_do75 {
  width: 230px;
}

#cntRobotInputsCell_3_Label_do75 {
  height: 20px;
}

#cntRobotInputsCell_3_Label_do75 {
  z-index: 26;
}

#cntRobotInputsCell_3_Label_do76 {
  top: 365px;
  position: absolute;
}

#cntRobotInputsCell_3_Label_do76 {
  left: 35px;
  position: absolute;
}

#cntRobotInputsCell_3_Label_do76 {
  width: 230px;
}

#cntRobotInputsCell_3_Label_do76 {
  height: 20px;
}

#cntRobotInputsCell_3_Label_do76 {
  z-index: 27;
}

#cntRobotInputsCell_3_Label_do77 {
  top: 395px;
  position: absolute;
}

#cntRobotInputsCell_3_Label_do77 {
  left: 35px;
  position: absolute;
}

#cntRobotInputsCell_3_Label_do77 {
  width: 230px;
}

#cntRobotInputsCell_3_Label_do77 {
  height: 20px;
}

#cntRobotInputsCell_3_Label_do77 {
  z-index: 28;
}

#cntRobotInputsCell_3_Label_do78 {
  top: 425px;
  position: absolute;
}

#cntRobotInputsCell_3_Label_do78 {
  left: 35px;
  position: absolute;
}

#cntRobotInputsCell_3_Label_do78 {
  width: 230px;
}

#cntRobotInputsCell_3_Label_do78 {
  height: 20px;
}

#cntRobotInputsCell_3_Label_do78 {
  z-index: 29;
}

#cntRobotInputsCell_3_Label_do79 {
  top: 455px;
  position: absolute;
}

#cntRobotInputsCell_3_Label_do79 {
  left: 35px;
  position: absolute;
}

#cntRobotInputsCell_3_Label_do79 {
  width: 230px;
}

#cntRobotInputsCell_3_Label_do79 {
  height: 20px;
}

#cntRobotInputsCell_3_Label_do79 {
  z-index: 30;
}

#cntRobotInputsCell_3_Label_do80 {
  top: 485px;
  position: absolute;
}

#cntRobotInputsCell_3_Label_do80 {
  left: 35px;
  position: absolute;
}

#cntRobotInputsCell_3_Label_do80 {
  width: 230px;
}

#cntRobotInputsCell_3_Label_do80 {
  height: 20px;
}

#cntRobotInputsCell_3_Label_do80 {
  z-index: 31;
}

#cntRobotInputsCell_3_NumericOutput5 {
  top: 35px;
  position: absolute;
}

#cntRobotInputsCell_3_NumericOutput5 {
  left: 0px;
  position: absolute;
}

#cntRobotInputsCell_3_NumericOutput5 {
  width: 60px;
}

#cntRobotInputsCell_3_NumericOutput5 {
  height: 20px;
}

#cntRobotInputsCell_3_NumericOutput5 {
  z-index: 32;
}

#cntRobotInputsCell_3_NumericOutput5 {
  border-color: black;
}

#cntRobotInputsCell_3_NumericOutput5 input {
  color: black;
}

#cntRobotInputsCell_3_NumericOutput5 span.breaseNumericOutput_unit {
  color: black;
}

#cntRobotInputsCell_3_NumericOutput5 input {
  font-size: 14px;
}

#cntRobotInputsCell_3_NumericOutput5 {
  margin: 0px;
}

#cntRobotInputsCell_3_CheckBox_RobotIn {
  top: 0px;
  position: absolute;
}

#cntRobotInputsCell_3_CheckBox_RobotIn {
  left: 250px;
  position: absolute;
}

#cntRobotInputsCell_3_CheckBox_RobotIn {
  width: 45px;
}

#cntRobotInputsCell_3_CheckBox_RobotIn {
  height: 45px;
}

#cntRobotInputsCell_3_CheckBox_RobotIn {
  z-index: 1;
}

#cntRobotInputsCell_3_CheckBox_RobotIn span {
  font-style: italic;
}

#cntRobotInputsCell_3_CheckBox_RobotIn.checked:not(.disabled) svg {
  fill: red;
}
