﻿@import "mixins.scss";
#cntSignals_Image1 {
	@include elemTop(20);
}
#cntSignals_Image1 {
	@include elemLeft(0);
}
#cntSignals_Image1 {
	@include elemAutoWidth(1890);
}
#cntSignals_Image1 {
	@include elemAutoHeight(420);
}
#cntSignals_Image1 {
		z-index: 0;
}
#cntSignals_btnCell_1 {
	@include elemTop(140);
}
#cntSignals_btnCell_1 {
	@include elemLeft(0);
}
#cntSignals_btnCell_1 {
	@include elemAutoWidth(210);
}
#cntSignals_btnCell_1 {
	@include elemAutoHeight(170);
}
#cntSignals_btnCell_1 {
		z-index: 1;
}
#cntSignals_btnCell_1 {
	@include border-radius(0px);
}
#cntSignals_btnCell_2 {
	@include elemTop(140);
}
#cntSignals_btnCell_2 {
	@include elemLeft(210);
}
#cntSignals_btnCell_2 {
	@include elemAutoWidth(210);
}
#cntSignals_btnCell_2 {
	@include elemAutoHeight(170);
}
#cntSignals_btnCell_2 {
		z-index: 2;
}
#cntSignals_btnCell_2 {
	@include border-radius(0px);
}
#cntSignals_btnCell_3 {
	@include elemTop(140);
}
#cntSignals_btnCell_3 {
	@include elemLeft(420);
}
#cntSignals_btnCell_3 {
	@include elemAutoWidth(210);
}
#cntSignals_btnCell_3 {
	@include elemAutoHeight(170);
}
#cntSignals_btnCell_3 {
		z-index: 3;
}
#cntSignals_btnCell_3 {
	@include border-radius(0px);
}
#cntSignals_btnCell_4 {
	@include elemTop(140);
}
#cntSignals_btnCell_4 {
	@include elemLeft(630);
}
#cntSignals_btnCell_4 {
	@include elemAutoWidth(210);
}
#cntSignals_btnCell_4 {
	@include elemAutoHeight(170);
}
#cntSignals_btnCell_4 {
		z-index: 4;
}
#cntSignals_btnCell_4 {
	@include border-radius(0px);
}
#cntSignals_btnCell_5 {
	@include elemTop(20);
}
#cntSignals_btnCell_5 {
	@include elemLeft(840);
}
#cntSignals_btnCell_5 {
	@include elemAutoWidth(210);
}
#cntSignals_btnCell_5 {
	@include elemAutoHeight(410);
}
#cntSignals_btnCell_5 {
		z-index: 5;
}
#cntSignals_btnCell_5 {
	@include border-radius(0px);
}
#cntSignals_btnCell_6_I {
	@include elemTop(20);
}
#cntSignals_btnCell_6_I {
	@include elemLeft(1470);
}
#cntSignals_btnCell_6_I {
	@include elemAutoWidth(210);
}
#cntSignals_btnCell_6_I {
	@include elemAutoHeight(170);
}
#cntSignals_btnCell_6_I {
		z-index: 6;
}
#cntSignals_btnCell_6_I {
	@include border-radius(0px);
}
#cntSignals_btnCell_7 {
	@include elemTop(20);
}
#cntSignals_btnCell_7 {
	@include elemLeft(1050);
}
#cntSignals_btnCell_7 {
	@include elemAutoWidth(210);
}
#cntSignals_btnCell_7 {
	@include elemAutoHeight(170);
}
#cntSignals_btnCell_7 {
		z-index: 7;
}
#cntSignals_btnCell_7 {
	@include border-radius(0px);
}
#cntSignals_btnCell_8 {
	@include elemTop(20);
}
#cntSignals_btnCell_8 {
	@include elemLeft(1260);
}
#cntSignals_btnCell_8 {
	@include elemAutoWidth(210);
}
#cntSignals_btnCell_8 {
	@include elemAutoHeight(170);
}
#cntSignals_btnCell_8 {
		z-index: 8;
}
#cntSignals_btnCell_8 {
	@include border-radius(0px);
}
#cntSignals_btnCell_9 {
	@include elemTop(20);
}
#cntSignals_btnCell_9 {
	@include elemLeft(1260);
}
#cntSignals_btnCell_9 {
	@include elemAutoWidth(210);
}
#cntSignals_btnCell_9 {
	@include elemAutoHeight(170);
}
#cntSignals_btnCell_9 {
		z-index: 9;
}
#cntSignals_btnCell_9 {
	@include border-radius(0px);
}
#cntSignals_btnCell_10 {
	@include elemTop(20);
}
#cntSignals_btnCell_10 {
	@include elemLeft(1680);
}
#cntSignals_btnCell_10 {
	@include elemAutoWidth(210);
}
#cntSignals_btnCell_10 {
	@include elemAutoHeight(170);
}
#cntSignals_btnCell_10 {
		z-index: 10;
}
#cntSignals_btnCell_10 {
	@include border-radius(0px);
}
#cntSignals_btnCell_11 {
	@include elemTop(270);
}
#cntSignals_btnCell_11 {
	@include elemLeft(1050);
}
#cntSignals_btnCell_11 {
	@include elemAutoWidth(210);
}
#cntSignals_btnCell_11 {
	@include elemAutoHeight(170);
}
#cntSignals_btnCell_11 {
		z-index: 11;
}
#cntSignals_btnCell_11 {
	@include border-radius(0px);
}
#cntSignals_btnCell_12 {
	@include elemTop(270);
}
#cntSignals_btnCell_12 {
	@include elemLeft(1260);
}
#cntSignals_btnCell_12 {
	@include elemAutoWidth(210);
}
#cntSignals_btnCell_12 {
	@include elemAutoHeight(170);
}
#cntSignals_btnCell_12 {
		z-index: 12;
}
#cntSignals_btnCell_12 {
	@include border-radius(0px);
}
#cntSignals_btnCell_13 {
	@include elemTop(260);
}
#cntSignals_btnCell_13 {
	@include elemLeft(1680);
}
#cntSignals_btnCell_13 {
	@include elemAutoWidth(210);
}
#cntSignals_btnCell_13 {
	@include elemAutoHeight(170);
}
#cntSignals_btnCell_13 {
		z-index: 13;
}
#cntSignals_btnCell_13 {
	@include border-radius(0px);
}
#cntSignals_btnCell_6_II {
	@include elemTop(270);
}
#cntSignals_btnCell_6_II {
	@include elemLeft(1470);
}
#cntSignals_btnCell_6_II {
	@include elemAutoWidth(210);
}
#cntSignals_btnCell_6_II {
	@include elemAutoHeight(170);
}
#cntSignals_btnCell_6_II {
		z-index: 14;
}
#cntSignals_btnCell_6_II {
	@include border-radius(0px);
}
