#cntSignals_Image1 {
  top: 20px;
  position: absolute;
}

#cntSignals_Image1 {
  left: 0px;
  position: absolute;
}

#cntSignals_Image1 {
  width: 1890px;
}

#cntSignals_Image1 {
  height: 420px;
}

#cntSignals_Image1 {
  z-index: 0;
}

#cntSignals_btnCell_1 {
  top: 140px;
  position: absolute;
}

#cntSignals_btnCell_1 {
  left: 0px;
  position: absolute;
}

#cntSignals_btnCell_1 {
  width: 210px;
}

#cntSignals_btnCell_1 {
  height: 170px;
}

#cntSignals_btnCell_1 {
  z-index: 1;
}

#cntSignals_btnCell_1 {
  border-radius: 0px;
}

#cntSignals_btnCell_2 {
  top: 140px;
  position: absolute;
}

#cntSignals_btnCell_2 {
  left: 210px;
  position: absolute;
}

#cntSignals_btnCell_2 {
  width: 210px;
}

#cntSignals_btnCell_2 {
  height: 170px;
}

#cntSignals_btnCell_2 {
  z-index: 2;
}

#cntSignals_btnCell_2 {
  border-radius: 0px;
}

#cntSignals_btnCell_3 {
  top: 140px;
  position: absolute;
}

#cntSignals_btnCell_3 {
  left: 420px;
  position: absolute;
}

#cntSignals_btnCell_3 {
  width: 210px;
}

#cntSignals_btnCell_3 {
  height: 170px;
}

#cntSignals_btnCell_3 {
  z-index: 3;
}

#cntSignals_btnCell_3 {
  border-radius: 0px;
}

#cntSignals_btnCell_4 {
  top: 140px;
  position: absolute;
}

#cntSignals_btnCell_4 {
  left: 630px;
  position: absolute;
}

#cntSignals_btnCell_4 {
  width: 210px;
}

#cntSignals_btnCell_4 {
  height: 170px;
}

#cntSignals_btnCell_4 {
  z-index: 4;
}

#cntSignals_btnCell_4 {
  border-radius: 0px;
}

#cntSignals_btnCell_5 {
  top: 20px;
  position: absolute;
}

#cntSignals_btnCell_5 {
  left: 840px;
  position: absolute;
}

#cntSignals_btnCell_5 {
  width: 210px;
}

#cntSignals_btnCell_5 {
  height: 410px;
}

#cntSignals_btnCell_5 {
  z-index: 5;
}

#cntSignals_btnCell_5 {
  border-radius: 0px;
}

#cntSignals_btnCell_6_I {
  top: 20px;
  position: absolute;
}

#cntSignals_btnCell_6_I {
  left: 1470px;
  position: absolute;
}

#cntSignals_btnCell_6_I {
  width: 210px;
}

#cntSignals_btnCell_6_I {
  height: 170px;
}

#cntSignals_btnCell_6_I {
  z-index: 6;
}

#cntSignals_btnCell_6_I {
  border-radius: 0px;
}

#cntSignals_btnCell_7 {
  top: 20px;
  position: absolute;
}

#cntSignals_btnCell_7 {
  left: 1050px;
  position: absolute;
}

#cntSignals_btnCell_7 {
  width: 210px;
}

#cntSignals_btnCell_7 {
  height: 170px;
}

#cntSignals_btnCell_7 {
  z-index: 7;
}

#cntSignals_btnCell_7 {
  border-radius: 0px;
}

#cntSignals_btnCell_8 {
  top: 20px;
  position: absolute;
}

#cntSignals_btnCell_8 {
  left: 1260px;
  position: absolute;
}

#cntSignals_btnCell_8 {
  width: 210px;
}

#cntSignals_btnCell_8 {
  height: 170px;
}

#cntSignals_btnCell_8 {
  z-index: 8;
}

#cntSignals_btnCell_8 {
  border-radius: 0px;
}

#cntSignals_btnCell_9 {
  top: 20px;
  position: absolute;
}

#cntSignals_btnCell_9 {
  left: 1260px;
  position: absolute;
}

#cntSignals_btnCell_9 {
  width: 210px;
}

#cntSignals_btnCell_9 {
  height: 170px;
}

#cntSignals_btnCell_9 {
  z-index: 9;
}

#cntSignals_btnCell_9 {
  border-radius: 0px;
}

#cntSignals_btnCell_10 {
  top: 20px;
  position: absolute;
}

#cntSignals_btnCell_10 {
  left: 1680px;
  position: absolute;
}

#cntSignals_btnCell_10 {
  width: 210px;
}

#cntSignals_btnCell_10 {
  height: 170px;
}

#cntSignals_btnCell_10 {
  z-index: 10;
}

#cntSignals_btnCell_10 {
  border-radius: 0px;
}

#cntSignals_btnCell_11 {
  top: 270px;
  position: absolute;
}

#cntSignals_btnCell_11 {
  left: 1050px;
  position: absolute;
}

#cntSignals_btnCell_11 {
  width: 210px;
}

#cntSignals_btnCell_11 {
  height: 170px;
}

#cntSignals_btnCell_11 {
  z-index: 11;
}

#cntSignals_btnCell_11 {
  border-radius: 0px;
}

#cntSignals_btnCell_12 {
  top: 270px;
  position: absolute;
}

#cntSignals_btnCell_12 {
  left: 1260px;
  position: absolute;
}

#cntSignals_btnCell_12 {
  width: 210px;
}

#cntSignals_btnCell_12 {
  height: 170px;
}

#cntSignals_btnCell_12 {
  z-index: 12;
}

#cntSignals_btnCell_12 {
  border-radius: 0px;
}

#cntSignals_btnCell_13 {
  top: 260px;
  position: absolute;
}

#cntSignals_btnCell_13 {
  left: 1680px;
  position: absolute;
}

#cntSignals_btnCell_13 {
  width: 210px;
}

#cntSignals_btnCell_13 {
  height: 170px;
}

#cntSignals_btnCell_13 {
  z-index: 13;
}

#cntSignals_btnCell_13 {
  border-radius: 0px;
}

#cntSignals_btnCell_6_II {
  top: 270px;
  position: absolute;
}

#cntSignals_btnCell_6_II {
  left: 1470px;
  position: absolute;
}

#cntSignals_btnCell_6_II {
  width: 210px;
}

#cntSignals_btnCell_6_II {
  height: 170px;
}

#cntSignals_btnCell_6_II {
  z-index: 14;
}

#cntSignals_btnCell_6_II {
  border-radius: 0px;
}
