#cntCreateUser_TextInput1 {
  top: 40px;
  position: absolute;
}

#cntCreateUser_TextInput1 {
  left: 180px;
  position: absolute;
}

#cntCreateUser_TextInput1 {
  width: 250px;
}

#cntCreateUser_TextInput1 {
  height: 40px;
}

#cntCreateUser_TextInput1 {
  z-index: 0;
}

#cntCreateUser_labUserManagment {
  top: 40px;
  position: absolute;
}

#cntCreateUser_labUserManagment {
  left: 0px;
  position: absolute;
}

#cntCreateUser_labUserManagment {
  width: 150px;
}

#cntCreateUser_labUserManagment {
  height: 47px;
}

#cntCreateUser_labUserManagment {
  z-index: 1;
}

#cntCreateUser_labUserManagment {
  justify-content: flex-end;
  text-align: right;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntCreateUser_labUserManagment {
  font-size: 20px;
}

#cntCreateUser_labUserManagment span {
  padding: 0px;
}

#cntCreateUser_labUserManagment1 {
  top: 120px;
  position: absolute;
}

#cntCreateUser_labUserManagment1 {
  left: 0px;
  position: absolute;
}

#cntCreateUser_labUserManagment1 {
  width: 150px;
}

#cntCreateUser_labUserManagment1 {
  height: 47px;
}

#cntCreateUser_labUserManagment1 {
  z-index: 2;
}

#cntCreateUser_labUserManagment1 {
  justify-content: flex-end;
  text-align: right;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntCreateUser_labUserManagment1 {
  font-size: 20px;
}

#cntCreateUser_labUserManagment1 span {
  padding: 0px;
}

#cntCreateUser_labUserManagment2 {
  top: 190px;
  position: absolute;
}

#cntCreateUser_labUserManagment2 {
  left: 0px;
  position: absolute;
}

#cntCreateUser_labUserManagment2 {
  width: 170px;
}

#cntCreateUser_labUserManagment2 {
  height: 47px;
}

#cntCreateUser_labUserManagment2 {
  z-index: 3;
}

#cntCreateUser_labUserManagment2 {
  justify-content: flex-end;
  text-align: right;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntCreateUser_labUserManagment2 {
  font-size: 20px;
}

#cntCreateUser_labUserManagment2 span {
  padding: 0px;
}

#cntCreateUser_labUserManagment3 {
  top: 270px;
  position: absolute;
}

#cntCreateUser_labUserManagment3 {
  left: 0px;
  position: absolute;
}

#cntCreateUser_labUserManagment3 {
  width: 160px;
}

#cntCreateUser_labUserManagment3 {
  height: 47px;
}

#cntCreateUser_labUserManagment3 {
  z-index: 4;
}

#cntCreateUser_labUserManagment3 {
  justify-content: flex-end;
  text-align: right;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntCreateUser_labUserManagment3 {
  font-size: 20px;
}

#cntCreateUser_labUserManagment3 span {
  padding: 0px;
}

#cntCreateUser_DropDownBox1 {
  top: 270px;
  position: absolute;
}

#cntCreateUser_DropDownBox1 {
  left: 180px;
  position: absolute;
}

#cntCreateUser_DropDownBox1.DropDownBoxView {
  width: 255px;
}

#cntCreateUser_DropDownBox1.DropDownBoxView {
  height: 45px;
}

#cntCreateUser_DropDownBox1 {
  z-index: 5;
}

#cntCreateUser_PushButton_Confirm {
  top: 420px;
  position: absolute;
}

#cntCreateUser_PushButton_Confirm {
  left: 285px;
  position: absolute;
}

#cntCreateUser_PushButton_Confirm {
  width: 180px;
}

#cntCreateUser_PushButton_Confirm {
  height: 60px;
}

#cntCreateUser_PushButton_Confirm {
  z-index: 6;
}

#cntCreateUser_PushButton_Confirm {
  border-radius: 8px;
}

#cntCreateUser_PushButton_Cancel {
  top: 420px;
  position: absolute;
}

#cntCreateUser_PushButton_Cancel {
  left: 30px;
  position: absolute;
}

#cntCreateUser_PushButton_Cancel {
  width: 180px;
}

#cntCreateUser_PushButton_Cancel {
  height: 60px;
}

#cntCreateUser_PushButton_Cancel {
  z-index: 7;
}

#cntCreateUser_PushButton_Cancel {
  border-radius: 8px;
}

#cntCreateUser_CheckBox1 {
  height: 30px;
}

#cntCreateUser_CheckBox1 {
  top: 50px;
  position: absolute;
}

#cntCreateUser_CheckBox1 {
  left: 450px;
  position: absolute;
}

#cntCreateUser_CheckBox1 {
  width: 30px;
}

#cntCreateUser_CheckBox1 {
  z-index: 8;
}

#cntCreateUser_CheckBox1.active:not(.disabled):not(.editMode) {
  border-width: 0px;
}

#cntCreateUser_CheckBox1.checked:not(.disabled) {
  border-width: 0px;
}

#cntCreateUser_CheckBox2 {
  height: 30px;
}

#cntCreateUser_CheckBox2 {
  top: 130px;
  position: absolute;
}

#cntCreateUser_CheckBox2 {
  left: 450px;
  position: absolute;
}

#cntCreateUser_CheckBox2 {
  width: 30px;
}

#cntCreateUser_CheckBox2 {
  z-index: 9;
}

#cntCreateUser_CheckBox2.active:not(.disabled):not(.editMode) {
  border-width: 0px;
}

#cntCreateUser_CheckBox2.checked:not(.disabled) {
  border-width: 0px;
}

#cntCreateUser_CheckBox3 {
  height: 30px;
}

#cntCreateUser_CheckBox3 {
  top: 200px;
  position: absolute;
}

#cntCreateUser_CheckBox3 {
  left: 450px;
  position: absolute;
}

#cntCreateUser_CheckBox3 {
  width: 30px;
}

#cntCreateUser_CheckBox3 {
  z-index: 10;
}

#cntCreateUser_CheckBox3.active:not(.disabled):not(.editMode) {
  border-width: 0px;
}

#cntCreateUser_CheckBox3.checked:not(.disabled) {
  border-width: 0px;
}

#cntCreateUser_labUserManagment4 {
  top: 330px;
  position: absolute;
}

#cntCreateUser_labUserManagment4 {
  left: 10px;
  position: absolute;
}

#cntCreateUser_labUserManagment4 {
  width: 150px;
}

#cntCreateUser_labUserManagment4 {
  height: 47px;
}

#cntCreateUser_labUserManagment4 {
  z-index: 11;
}

#cntCreateUser_labUserManagment4 {
  justify-content: flex-end;
  text-align: right;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntCreateUser_labUserManagment4 {
  font-size: 20px;
}

#cntCreateUser_labUserManagment4 span {
  padding: 0px;
}

#cntCreateUser_DropDownBox2 {
  top: 330px;
  position: absolute;
}

#cntCreateUser_DropDownBox2 {
  left: 180px;
  position: absolute;
}

#cntCreateUser_DropDownBox2.DropDownBoxView {
  width: 255px;
}

#cntCreateUser_DropDownBox2.DropDownBoxView {
  height: 45px;
}

#cntCreateUser_DropDownBox2 {
  z-index: 12;
}

#cntCreateUser_Password1 {
  top: 120px;
  position: absolute;
}

#cntCreateUser_Password1 {
  left: 180px;
  position: absolute;
}

#cntCreateUser_Password1 {
  width: 250px;
}

#cntCreateUser_Password1 {
  height: 40px;
}

#cntCreateUser_Password1 {
  z-index: 13;
}

#cntCreateUser_Password_repeat {
  top: 190px;
  position: absolute;
}

#cntCreateUser_Password_repeat {
  left: 180px;
  position: absolute;
}

#cntCreateUser_Password_repeat {
  width: 250px;
}

#cntCreateUser_Password_repeat {
  height: 40px;
}

#cntCreateUser_Password_repeat {
  z-index: 14;
}
