﻿@import "mixins.scss";
#cntCreateUser_TextInput1 {
	@include elemTop(40);
}
#cntCreateUser_TextInput1 {
	@include elemLeft(180);
}
#cntCreateUser_TextInput1 {
	@include elemWidth(250);
}
#cntCreateUser_TextInput1 {
	@include elemHeight(40);
}
#cntCreateUser_TextInput1 {
		z-index: 0;
}
#cntCreateUser_labUserManagment {
	@include elemTop(40);
}
#cntCreateUser_labUserManagment {
	@include elemLeft(0);
}
#cntCreateUser_labUserManagment {
	@include elemAutoWidth(150);
}
#cntCreateUser_labUserManagment {
	@include elemAutoHeight(47);
}
#cntCreateUser_labUserManagment {
		z-index: 1;
}
#cntCreateUser_labUserManagment {
	@include text-alignment-all('right');
}
#cntCreateUser_labUserManagment {
		font-size: 20px;
}
#cntCreateUser_labUserManagment {
	span{
		padding: 0px;
	}
}
#cntCreateUser_labUserManagment1 {
	@include elemTop(120);
}
#cntCreateUser_labUserManagment1 {
	@include elemLeft(0);
}
#cntCreateUser_labUserManagment1 {
	@include elemAutoWidth(150);
}
#cntCreateUser_labUserManagment1 {
	@include elemAutoHeight(47);
}
#cntCreateUser_labUserManagment1 {
		z-index: 2;
}
#cntCreateUser_labUserManagment1 {
	@include text-alignment-all('right');
}
#cntCreateUser_labUserManagment1 {
		font-size: 20px;
}
#cntCreateUser_labUserManagment1 {
	span{
		padding: 0px;
	}
}
#cntCreateUser_labUserManagment2 {
	@include elemTop(190);
}
#cntCreateUser_labUserManagment2 {
	@include elemLeft(0);
}
#cntCreateUser_labUserManagment2 {
	@include elemAutoWidth(170);
}
#cntCreateUser_labUserManagment2 {
	@include elemAutoHeight(47);
}
#cntCreateUser_labUserManagment2 {
		z-index: 3;
}
#cntCreateUser_labUserManagment2 {
	@include text-alignment-all('right');
}
#cntCreateUser_labUserManagment2 {
		font-size: 20px;
}
#cntCreateUser_labUserManagment2 {
	span{
		padding: 0px;
	}
}
#cntCreateUser_labUserManagment3 {
	@include elemTop(270);
}
#cntCreateUser_labUserManagment3 {
	@include elemLeft(0);
}
#cntCreateUser_labUserManagment3 {
	@include elemAutoWidth(160);
}
#cntCreateUser_labUserManagment3 {
	@include elemAutoHeight(47);
}
#cntCreateUser_labUserManagment3 {
		z-index: 4;
}
#cntCreateUser_labUserManagment3 {
	@include text-alignment-all('right');
}
#cntCreateUser_labUserManagment3 {
		font-size: 20px;
}
#cntCreateUser_labUserManagment3 {
	span{
		padding: 0px;
	}
}
#cntCreateUser_DropDownBox1 {
	@include elemTop(270);
}
#cntCreateUser_DropDownBox1 {
	@include elemLeft(180);
}
#cntCreateUser_DropDownBox1 {
	&.DropDownBoxView{
	@include elemWidth(255);
	}
}
#cntCreateUser_DropDownBox1 {
	&.DropDownBoxView{
	@include elemHeight(45);
	}
}
#cntCreateUser_DropDownBox1 {
		z-index: 5;
}
#cntCreateUser_PushButton_Confirm {
	@include elemTop(420);
}
#cntCreateUser_PushButton_Confirm {
	@include elemLeft(285);
}
#cntCreateUser_PushButton_Confirm {
	@include elemAutoWidth(180);
}
#cntCreateUser_PushButton_Confirm {
	@include elemAutoHeight(60);
}
#cntCreateUser_PushButton_Confirm {
		z-index: 6;
}
#cntCreateUser_PushButton_Confirm {
	@include border-radius(8px);
}
#cntCreateUser_PushButton_Cancel {
	@include elemTop(420);
}
#cntCreateUser_PushButton_Cancel {
	@include elemLeft(30);
}
#cntCreateUser_PushButton_Cancel {
	@include elemAutoWidth(180);
}
#cntCreateUser_PushButton_Cancel {
	@include elemAutoHeight(60);
}
#cntCreateUser_PushButton_Cancel {
		z-index: 7;
}
#cntCreateUser_PushButton_Cancel {
	@include border-radius(8px);
}
#cntCreateUser_CheckBox1 {
	@include elemAutoHeight(30);
}
#cntCreateUser_CheckBox1 {
	@include elemTop(50);
}
#cntCreateUser_CheckBox1 {
	@include elemLeft(450);
}
#cntCreateUser_CheckBox1 {
	@include elemAutoWidth(30);
}
#cntCreateUser_CheckBox1 {
		z-index: 8;
}
#cntCreateUser_CheckBox1 {
	&.active:not(.disabled):not(.editMode){
		border-width: 0px;
	}
}
#cntCreateUser_CheckBox1 {
	&.checked:not(.disabled){
		border-width: 0px;
	}
}
#cntCreateUser_CheckBox2 {
	@include elemAutoHeight(30);
}
#cntCreateUser_CheckBox2 {
	@include elemTop(130);
}
#cntCreateUser_CheckBox2 {
	@include elemLeft(450);
}
#cntCreateUser_CheckBox2 {
	@include elemAutoWidth(30);
}
#cntCreateUser_CheckBox2 {
		z-index: 9;
}
#cntCreateUser_CheckBox2 {
	&.active:not(.disabled):not(.editMode){
		border-width: 0px;
	}
}
#cntCreateUser_CheckBox2 {
	&.checked:not(.disabled){
		border-width: 0px;
	}
}
#cntCreateUser_CheckBox3 {
	@include elemAutoHeight(30);
}
#cntCreateUser_CheckBox3 {
	@include elemTop(200);
}
#cntCreateUser_CheckBox3 {
	@include elemLeft(450);
}
#cntCreateUser_CheckBox3 {
	@include elemAutoWidth(30);
}
#cntCreateUser_CheckBox3 {
		z-index: 10;
}
#cntCreateUser_CheckBox3 {
	&.active:not(.disabled):not(.editMode){
		border-width: 0px;
	}
}
#cntCreateUser_CheckBox3 {
	&.checked:not(.disabled){
		border-width: 0px;
	}
}
#cntCreateUser_labUserManagment4 {
	@include elemTop(330);
}
#cntCreateUser_labUserManagment4 {
	@include elemLeft(10);
}
#cntCreateUser_labUserManagment4 {
	@include elemAutoWidth(150);
}
#cntCreateUser_labUserManagment4 {
	@include elemAutoHeight(47);
}
#cntCreateUser_labUserManagment4 {
		z-index: 11;
}
#cntCreateUser_labUserManagment4 {
	@include text-alignment-all('right');
}
#cntCreateUser_labUserManagment4 {
		font-size: 20px;
}
#cntCreateUser_labUserManagment4 {
	span{
		padding: 0px;
	}
}
#cntCreateUser_DropDownBox2 {
	@include elemTop(330);
}
#cntCreateUser_DropDownBox2 {
	@include elemLeft(180);
}
#cntCreateUser_DropDownBox2 {
	&.DropDownBoxView{
	@include elemWidth(255);
	}
}
#cntCreateUser_DropDownBox2 {
	&.DropDownBoxView{
	@include elemHeight(45);
	}
}
#cntCreateUser_DropDownBox2 {
		z-index: 12;
}
#cntCreateUser_Password1 {
	@include elemTop(120);
}
#cntCreateUser_Password1 {
	@include elemLeft(180);
}
#cntCreateUser_Password1 {
	@include elemWidth(250);
}
#cntCreateUser_Password1 {
	@include elemHeight(40);
}
#cntCreateUser_Password1 {
		z-index: 13;
}
#cntCreateUser_Password_repeat {
	@include elemTop(190);
}
#cntCreateUser_Password_repeat {
	@include elemLeft(180);
}
#cntCreateUser_Password_repeat {
	@include elemWidth(250);
}
#cntCreateUser_Password_repeat {
	@include elemHeight(40);
}
#cntCreateUser_Password_repeat {
		z-index: 14;
}
