#cntHomeCell_1_RightPlate_ChckBx_RightPLate_Cell1 {
  top: 0px;
  position: absolute;
}

#cntHomeCell_1_RightPlate_ChckBx_RightPLate_Cell1 {
  left: 375px;
  position: absolute;
}

#cntHomeCell_1_RightPlate_ChckBx_RightPLate_Cell1 {
  width: 45px;
}

#cntHomeCell_1_RightPlate_ChckBx_RightPLate_Cell1 {
  height: 45px;
}

#cntHomeCell_1_RightPlate_ChckBx_RightPLate_Cell1 {
  z-index: 0;
}

#cntHomeCell_1_RightPlate_ChckBx_RightPLate_Cell1 span {
  font-style: italic;
}

#cntHomeCell_1_RightPlate_ChckBx_RightPLate_Cell1 {
  padding: 0px;
}

#cntHomeCell_1_RightPlate_ChckBx_RightPLate_Cell1.checked:not(.disabled) svg {
  fill: red;
}
