@import '../../../../css/libs/mixins.scss';

	.breaseGridLineItem {
	    position: relative;
		overflow: hidden;
		@include box-sizing(border-box);
	
		&.horizontal {
			height: 100%;
			width: initial;
		}
		
		&.vertical {
			width: 100%;
			height: initial;
		}
	
		> .container {
			height: 100%;
			width: 100%;
			overflow: hidden;
			position: relative;
			@include box-sizing(border-box);
			> img {
				position:absolute;
				height: 20px;
				width: 20px;

				&.right {
					top: 5px;
					right: 5px;		
					left: initial;		
				}
				&.left {
					top: 5px;
					left: 5px;
					right: initial;				
				}
			}
			> svg {
				position:absolute;
				height: 20px;
				width: 20px;

				&.right {
					top: 5px;
					right: 5px;		
					left: initial;		
				}
				&.left {
					top: 5px;
					left: 5px;
					right: initial;				
				}
			}
		}
	
		&.shake:not(.sortable-chosen) {
			animation: shake 0.2s infinite;
		}

		&.shakeAlternate:not(.sortable-chosen) {
			animation: shakeAlternate 0.2s infinite;		
		}
	}

	@keyframes shake {
		0% {
		    transform: rotate(-0.5deg);
			animation-timing-function: ease-in;
			transform-origin: 50% 10%;
		}
		50% {
		    transform: rotate(0.5deg);
			animation-timing-function: ease-out;
			transform-origin: 50% 10%;
		}		
	}

	@keyframes shakeAlternate {
		0% {
		    transform: rotate(0.5deg);
			animation-timing-function: ease-in;
			transform-origin: 30% 5%;
		}
		50% {
		    transform: rotate(-0.5deg);
			animation-timing-function: ease-out;
			transform-origin: 30% 5%;
		}		
	}
