﻿@import "mixins.scss";
#cntSettings_Documents_TabControl1 {
	@include elemTop(0);
}
#cntSettings_Documents_TabControl1 {
	@include elemLeft(60);
}
#cntSettings_Documents_TabControl1 {
	@include elemWidth(1530);
}
#cntSettings_Documents_TabControl1 {
	@include elemHeight(975);
}
#cntSettings_Documents_TabControl1 {
		z-index: 0;
}
#cntSettings_Documents_TabItem1_breaseTabItemTab {
	&.tabItem{
	@include elemWidth(450);
	}
}
#cntSettings_Documents_TabItem1_breaseTabItemTab {
	&.tabItem{
	@include elemHeight(75);
	}
}
#cntSettings_Documents_TabItem1 {
		z-index: 0;
}
#cntSettings_Documents_PDFViewer1 {
	@include elemTop(0);
}
#cntSettings_Documents_PDFViewer1 {
	@include elemLeft(0);
}
#cntSettings_Documents_PDFViewer1 {
	@include elemWidth(1170);
}
#cntSettings_Documents_PDFViewer1 {
	@include elemHeight(880);
}
#cntSettings_Documents_PDFViewer1 {
		z-index: 0;
}
#cntSettings_Documents_TabItem2_breaseTabItemTab {
	&.tabItem{
	@include elemWidth(450);
	}
}
#cntSettings_Documents_TabItem2_breaseTabItemTab {
	&.tabItem{
	@include elemHeight(75);
	}
}
#cntSettings_Documents_TabItem2 {
		z-index: 1;
}
