#cntSettings_Documents_TabControl1 {
  top: 0px;
  position: absolute;
}

#cntSettings_Documents_TabControl1 {
  left: 60px;
  position: absolute;
}

#cntSettings_Documents_TabControl1 {
  width: 1530px;
}

#cntSettings_Documents_TabControl1 {
  height: 975px;
}

#cntSettings_Documents_TabControl1 {
  z-index: 0;
}

#cntSettings_Documents_TabItem1_breaseTabItemTab.tabItem {
  width: 450px;
}

#cntSettings_Documents_TabItem1_breaseTabItemTab.tabItem {
  height: 75px;
}

#cntSettings_Documents_TabItem1 {
  z-index: 0;
}

#cntSettings_Documents_PDFViewer1 {
  top: 0px;
  position: absolute;
}

#cntSettings_Documents_PDFViewer1 {
  left: 0px;
  position: absolute;
}

#cntSettings_Documents_PDFViewer1 {
  width: 1170px;
}

#cntSettings_Documents_PDFViewer1 {
  height: 880px;
}

#cntSettings_Documents_PDFViewer1 {
  z-index: 0;
}

#cntSettings_Documents_TabItem2_breaseTabItemTab.tabItem {
  width: 450px;
}

#cntSettings_Documents_TabItem2_breaseTabItemTab.tabItem {
  height: 75px;
}

#cntSettings_Documents_TabItem2 {
  z-index: 1;
}
