#cntSettings_Main_TextPicker1 {
  top: 30px;
  position: absolute;
}

#cntSettings_Main_TextPicker1 {
  left: 0px;
  position: absolute;
}

#cntSettings_Main_TextPicker1 {
  width: 310px;
}

#cntSettings_Main_TextPicker1 {
  height: 690px;
}

#cntSettings_Main_TextPicker1 {
  z-index: 0;
}

#cntSettings_Main_TextPicker1 {
  border-width: 1px;
}

#cntSettings_Main_TextPicker1 {
  border-style: none;
}

#cntSettings_Main_TextPicker1 {
  border-radius: 0px 999px 999px 0px;
}

#cntSettings_Main_TextPicker1 #textWheel div.itemFragment div span {
  font-size: 18px;
}

#cntSettings_Main_TextPicker1 #textWheel div.marker {
  height: 3px;
}

#cntSettings_Main_TextPicker1:not(.disabled) #textWheel div.marker {
  background-color: rgba(255, 255, 255, 0);
}

#cntSettings_Main_TextPicker1 #textWheel div.itemFragment div {
  box-shadow: 5px 5px 20px rgba(62, 79, 92, 0.75);
}

#cntSettings_Main_TextPicker1:not(.disabled) #textWheel div.itemFragment div:not(.selected) {
  background-color: white;
}

#cntSettings_Main_TextPicker1:not(.disabled) #textWheel div.itemFragment div.selected {
  background-color: gray;
}
