﻿@import "mixins.scss";
#cntSettings_Main_TextPicker1 {
	@include elemTop(30);
}
#cntSettings_Main_TextPicker1 {
	@include elemLeft(0);
}
#cntSettings_Main_TextPicker1 {
	@include elemWidth(310);
}
#cntSettings_Main_TextPicker1 {
	@include elemHeight(690);
}
#cntSettings_Main_TextPicker1 {
		z-index: 0;
}
#cntSettings_Main_TextPicker1 {
		border-width: 1px;
}
#cntSettings_Main_TextPicker1 {
		border-style: none;
}
#cntSettings_Main_TextPicker1 {
	@include border-radius(0px 999px 999px 0px);
}
#cntSettings_Main_TextPicker1 {
	&:not(.disabled){
	@include backGroundGradient('');
	}
}
#cntSettings_Main_TextPicker1 {
	#textWheel div.itemFragment div span{
		font-size: 18px;
	}
}
#cntSettings_Main_TextPicker1 {
	#textWheel div.marker{
		height: 3px;
	}
}
#cntSettings_Main_TextPicker1 {
	&:not(.disabled) #textWheel div.marker{
		background-color: rgba(255, 255, 255, 0);
	}
}
#cntSettings_Main_TextPicker1 {
	#textWheel div.itemFragment div{
	@include box-shadow(5px 5px 20px rgba(62, 79, 92, 0.75));
	}
}
#cntSettings_Main_TextPicker1 {
	&:not(.disabled) #textWheel div.itemFragment div:not(.selected){
		background-color: rgba(255, 255, 255, 1);
	}
}
#cntSettings_Main_TextPicker1 {
	&:not(.disabled) #textWheel div.itemFragment div.selected{
		background-color: rgba(128, 128, 128, 1);
	}
}
