﻿@import "mixins.scss";
#cntSettings_UserPref_GroupBox1 {
	@include elemTop(600);
}
#cntSettings_UserPref_GroupBox1 {
	@include elemLeft(735);
}
#cntSettings_UserPref_GroupBox1 {
	@include elemWidth(870);
}
#cntSettings_UserPref_GroupBox1 {
	@include elemHeight(360);
}
#cntSettings_UserPref_GroupBox1 {
		z-index: 0;
}
#cntSettings_UserPref_GroupBox1 {
	> .header span{
		font-family: Times New Roman;
	}
}
#cntSettings_UserPref_GroupBox1 {
	> .header span{
		font-size: 24px;
	}
}
#cntSettings_UserPref_GroupBox1 {
	> .header{
	height: 24px + 20px;
	}
}
#cntSettings_UserPref_Label2 {
	@include elemTop(229);
}
#cntSettings_UserPref_Label2 {
	@include elemLeft(0);
}
#cntSettings_UserPref_Label2 {
	@include elemAutoWidth(391);
}
#cntSettings_UserPref_Label2 {
	@include elemAutoHeight(38);
}
#cntSettings_UserPref_Label2 {
		z-index: 0;
}
#cntSettings_UserPref_Label2 {
		font-size: 22px;
}
#cntSettings_UserPref_Label2 {
	span{
		padding: 5px;
	}
}
#cntSettings_UserPref_Label2 {
		margin: 5px;
}
#cntSettings_UserPref_MeasurementSystemSelector1 {
	@include elemTop(210);
}
#cntSettings_UserPref_MeasurementSystemSelector1 {
	@include elemLeft(433);
}
#cntSettings_UserPref_MeasurementSystemSelector1 {
	&.DropDownBoxView{
	@include elemWidth(422);
	}
}
#cntSettings_UserPref_MeasurementSystemSelector1 {
	&.DropDownBoxView{
	@include elemHeight(82);
	}
}
#cntSettings_UserPref_MeasurementSystemSelector1 {
		z-index: 1;
}
#cntSettings_UserPref_MeasurementSystemSelector1 {
	&.DropDownBoxView{
	@include box-shadow(4px 4px 14px rgba(62, 79, 92, 0.75));
	}
}
#cntSettings_UserPref_MeasurementSystemSelector1 {
	& > .ItemView:not(.itemSelected):not(.itemDisabled){
	@include backGroundGradient('linear-gradient(to bottom,#F7F7F7 0%,#C6C6C6 100%)');
	}
}
#cntSettings_UserPref_MeasurementSystemSelector1 {
	& > .ItemView{
		padding: 0px 10px;
	}
}
#cntSettings_UserPref_MeasurementSystemSelector1 {
	& > .ItemView > .ImageView.ImageIndicator{
	@include display(true, 'flex');
	}
}
#cntSettings_UserPref_MeasurementSystemSelector1_listBoxWrapper {
	& > .ListView.Container > .ListView.List > .ItemView{
		padding: 0px 10px;
	}
}
#cntSettings_UserPref_MeasurementSystemSelector1 {
	& .TextView{
	@include text-alignment(center);
	}
}
#cntSettings_UserPref_MeasurementSystemSelector1_listBoxWrapper {
	& .TextView{
	@include text-alignment(center);
	}
}
#cntSettings_UserPref_MeasurementSystemSelector1 {
	& .TextView{
		font-size: 20px;
	}
}
#cntSettings_UserPref_MeasurementSystemSelector1_listBoxWrapper {
	& .TextView{
		font-size: 20px;
	}
}
#cntSettings_UserPref_DateTimeInput1 {
	@include elemTop(8);
}
#cntSettings_UserPref_DateTimeInput1 {
	@include elemLeft(434);
}
#cntSettings_UserPref_DateTimeInput1 {
	@include elemWidth(424);
}
#cntSettings_UserPref_DateTimeInput1 {
	@include elemHeight(84);
}
#cntSettings_UserPref_DateTimeInput1 {
		z-index: 2;
}
#cntSettings_UserPref_DateTimeInput1 {
	&:not(.disabled){
	@include backGroundGradient('linear-gradient(to bottom,#F7F7F7 0%,#C6C6C6 100%)');
	}
}
#cntSettings_UserPref_DateTimeInput1 {
	@include font-weight-bold(true);
}
#cntSettings_UserPref_Label3 {
	@include elemTop(143);
}
#cntSettings_UserPref_Label3 {
	@include elemLeft(119);
}
#cntSettings_UserPref_Label3 {
	@include elemAutoWidth(286);
}
#cntSettings_UserPref_Label3 {
	@include elemAutoHeight(39);
}
#cntSettings_UserPref_Label3 {
		z-index: 3;
}
#cntSettings_UserPref_Label3 {
		font-size: 22px;
}
#cntSettings_UserPref_Label3 {
		margin: 5px;
}
#cntSettings_UserPref_LanguageSelector1 {
	@include elemTop(111);
}
#cntSettings_UserPref_LanguageSelector1 {
	@include elemLeft(434);
}
#cntSettings_UserPref_LanguageSelector1 {
	&.DropDownBoxView{
	@include elemWidth(422);
	}
}
#cntSettings_UserPref_LanguageSelector1 {
	&.DropDownBoxView{
	@include elemHeight(80);
	}
}
#cntSettings_UserPref_LanguageSelector1 {
		z-index: 4;
}
#cntSettings_UserPref_LanguageSelector1 {
	&.DropDownBoxView{
	@include box-shadow(4px 4px 14px rgba(62, 79, 92, 0.75));
	}
}
#cntSettings_UserPref_LanguageSelector1 {
	& > .ItemView:not(.itemSelected):not(.itemDisabled){
	@include backGroundGradient('linear-gradient(to bottom,#F7F7F7 0%,#C6C6C6 100%)');
	}
}
#cntSettings_UserPref_LanguageSelector1 {
	& > .ItemView > .ImageView.ImageIndicator{
	@include display(true, 'flex');
	}
}
#cntSettings_UserPref_LanguageSelector1 {
	& .TextView{
		font-size: 20px;
	}
}
#cntSettings_UserPref_LanguageSelector1_listBoxWrapper {
	& .TextView{
		font-size: 20px;
	}
}
#cntSettings_UserPref_Label1 {
	@include elemTop(21);
}
#cntSettings_UserPref_Label1 {
	@include elemLeft(90);
}
#cntSettings_UserPref_Label1 {
	@include elemAutoWidth(283);
}
#cntSettings_UserPref_Label1 {
	@include elemAutoHeight(75);
}
#cntSettings_UserPref_Label1 {
		z-index: 5;
}
#cntSettings_UserPref_Label1 {
		font-size: 22px;
}
#cntSettings_UserPref_Label1 {
		margin: 5px;
}
