﻿@import "mixins.scss";
#cntSettings_UserManangement_grpRoleManagment {
	@include elemTop(0);
}
#cntSettings_UserManangement_grpRoleManagment {
	@include elemLeft(740);
}
#cntSettings_UserManangement_grpRoleManagment {
	@include elemWidth(860);
}
#cntSettings_UserManangement_grpRoleManagment {
	@include elemHeight(530);
}
#cntSettings_UserManangement_grpRoleManagment {
		z-index: 0;
}
#cntSettings_UserManangement_ListBox1 {
	@include elemTop(50);
}
#cntSettings_UserManangement_ListBox1 {
	@include elemLeft(9);
}
#cntSettings_UserManangement_ListBox1 {
	&.ListBoxView{
	@include elemWidth(231);
	}
}
#cntSettings_UserManangement_ListBox1 {
	&.ListBoxView{
	@include elemHeight(330);
	}
}
#cntSettings_UserManangement_ListBox1 {
		z-index: 0;
}
#cntSettings_UserManangement_ListBox1 {
	&.ListBoxView{
		border-width: 2px;
	}
}
#cntSettings_UserManangement_ListBox1 {
	&.ListBoxView{
		border-style: double;
	}
}
#cntSettings_UserManangement_ListBox1 {
	&.ListBoxView{
		border-color: rgba(71, 71, 71, 1);
	}
}
#cntSettings_UserManangement_ListBox1 {
	.ItemView:not(.itemSelected){
		background-color: rgba(255, 255, 255, 1);
	}
}
#cntSettings_UserManangement_ListBox1 {
	.ItemView.itemSelected{
		background-color: rgba(255, 136, 0, 1);
	}
}
#cntSettings_UserManangement_ListBox1 {
	.ItemView:not(.lastItem){
		border-bottom-color: rgba(255, 255, 255, 0);
	}
}
#cntSettings_UserManangement_ListBox2 {
	@include elemTop(143);
}
#cntSettings_UserManangement_ListBox2 {
	@include elemLeft(589);
}
#cntSettings_UserManangement_ListBox2 {
	&.ListBoxView{
	@include elemWidth(241);
	}
}
#cntSettings_UserManangement_ListBox2 {
	&.ListBoxView{
	@include elemHeight(27);
	}
}
#cntSettings_UserManangement_ListBox2 {
		z-index: 1;
}
#cntSettings_UserManangement_ListBox2 {
	.ItemView{
		padding: 0px;
	}
}
#cntSettings_UserManangement_ListBox2 {
	.ItemView:not(.itemSelected){
		background-color: rgba(255, 255, 255, 0);
	}
}
#cntSettings_UserManangement_ListBox2 {
	.ItemView.itemSelected{
		background-color: rgba(255, 255, 255, 0);
	}
}
#cntSettings_UserManangement_ListBox2 {
	.ItemView.itemSelected{
	@include backGroundGradient('linear-gradient(to bottom, #FFAA4D 0%,#ffffff 0%)');
	}
}
#cntSettings_UserManangement_ListBox2 {
	.ItemView:not(.lastItem){
		border-bottom-color: rgba(255, 255, 255, 0);
	}
}
#cntSettings_UserManangement_ListBox2 {
	.TextView.textSelected{
		color: rgba(0, 0, 0, 1);
	}
}
#cntSettings_UserManangement_ListBox2 {
	.TextView{
	@include text-alignment(center);
	}
}
#cntSettings_UserManangement_labPasswordLogin2 {
	@include elemTop(3);
}
#cntSettings_UserManangement_labPasswordLogin2 {
	@include elemLeft(-1);
}
#cntSettings_UserManangement_labPasswordLogin2 {
	@include elemAutoWidth(241);
}
#cntSettings_UserManangement_labPasswordLogin2 {
	@include elemAutoHeight(37);
}
#cntSettings_UserManangement_labPasswordLogin2 {
		z-index: 2;
}
#cntSettings_UserManangement_labPasswordLogin2 {
	@include text-alignment-all('center');
}
#cntSettings_UserManangement_labPasswordLogin2 {
		font-size: 20px;
}
#cntSettings_UserManangement_labPasswordLogin2 {
	span{
		padding: 0px;
	}
}
#cntSettings_UserManangement_labUserLogin1 {
	@include elemAutoHeight(30);
}
#cntSettings_UserManangement_labUserLogin1 {
	@include elemTop(93);
}
#cntSettings_UserManangement_labUserLogin1 {
	@include elemLeft(319);
}
#cntSettings_UserManangement_labUserLogin1 {
	@include elemAutoWidth(161);
}
#cntSettings_UserManangement_labUserLogin1 {
		z-index: 3;
}
#cntSettings_UserManangement_labUserLogin1 {
	@include text-alignment-all('left');
}
#cntSettings_UserManangement_labUserLogin1 {
		font-size: 20px;
}
#cntSettings_UserManangement_labUserLogin1 {
	span{
		padding: 0px;
	}
}
#cntSettings_UserManangement_labUserLogin2 {
	@include elemAutoHeight(30);
}
#cntSettings_UserManangement_labUserLogin2 {
	@include elemTop(143);
}
#cntSettings_UserManangement_labUserLogin2 {
	@include elemLeft(319);
}
#cntSettings_UserManangement_labUserLogin2 {
	@include elemAutoWidth(161);
}
#cntSettings_UserManangement_labUserLogin2 {
		z-index: 4;
}
#cntSettings_UserManangement_labUserLogin2 {
	@include text-alignment-all('left');
}
#cntSettings_UserManangement_labUserLogin2 {
		font-size: 20px;
}
#cntSettings_UserManangement_labUserLogin2 {
	span{
		padding: 0px;
	}
}
#cntSettings_UserManangement_labUserLogin3 {
	@include elemAutoHeight(30);
}
#cntSettings_UserManangement_labUserLogin3 {
	@include elemTop(203);
}
#cntSettings_UserManangement_labUserLogin3 {
	@include elemLeft(319);
}
#cntSettings_UserManangement_labUserLogin3 {
	@include elemAutoWidth(161);
}
#cntSettings_UserManangement_labUserLogin3 {
		z-index: 5;
}
#cntSettings_UserManangement_labUserLogin3 {
	@include text-alignment-all('left');
}
#cntSettings_UserManangement_labUserLogin3 {
		font-size: 20px;
}
#cntSettings_UserManangement_labUserLogin3 {
	span{
		padding: 0px;
	}
}
#cntSettings_UserManangement_labUserLogin4 {
	@include elemAutoHeight(30);
}
#cntSettings_UserManangement_labUserLogin4 {
	@include elemTop(263);
}
#cntSettings_UserManangement_labUserLogin4 {
	@include elemLeft(319);
}
#cntSettings_UserManangement_labUserLogin4 {
	@include elemAutoWidth(161);
}
#cntSettings_UserManangement_labUserLogin4 {
		z-index: 6;
}
#cntSettings_UserManangement_labUserLogin4 {
	@include text-alignment-all('left');
}
#cntSettings_UserManangement_labUserLogin4 {
		font-size: 20px;
}
#cntSettings_UserManangement_labUserLogin4 {
	span{
		padding: 0px;
	}
}
#cntSettings_UserManangement_labUserLogin5 {
	@include elemAutoHeight(30);
}
#cntSettings_UserManangement_labUserLogin5 {
	@include elemTop(323);
}
#cntSettings_UserManangement_labUserLogin5 {
	@include elemLeft(319);
}
#cntSettings_UserManangement_labUserLogin5 {
	@include elemAutoWidth(161);
}
#cntSettings_UserManangement_labUserLogin5 {
		z-index: 7;
}
#cntSettings_UserManangement_labUserLogin5 {
	@include text-alignment-all('left');
}
#cntSettings_UserManangement_labUserLogin5 {
		font-size: 20px;
}
#cntSettings_UserManangement_labUserLogin5 {
	span{
		padding: 0px;
	}
}
#cntSettings_UserManangement_TextOutput1 {
	@include elemTop(83);
}
#cntSettings_UserManangement_TextOutput1 {
	@include elemLeft(559);
}
#cntSettings_UserManangement_TextOutput1 {
	@include elemAutoWidth(280);
}
#cntSettings_UserManangement_TextOutput1 {
	@include elemAutoHeight(37);
}
#cntSettings_UserManangement_TextOutput1 {
		z-index: 8;
}
#cntSettings_UserManangement_TextOutput1 {
	@include text-alignment-all('center');
}
#cntSettings_UserManangement_DateTimeOutput1 {
	@include elemAutoHeight(30);
}
#cntSettings_UserManangement_DateTimeOutput1 {
	@include elemTop(203);
}
#cntSettings_UserManangement_DateTimeOutput1 {
	@include elemLeft(499);
}
#cntSettings_UserManangement_DateTimeOutput1 {
	@include elemAutoWidth(331);
}
#cntSettings_UserManangement_DateTimeOutput1 {
		z-index: 9;
}
#cntSettings_UserManangement_DateTimeOutput1 {
	@include text-alignment(right);
}
#cntSettings_UserManangement_DateTimeOutput1 {
		padding: 0px 0px 0px 0px;
}
#cntSettings_UserManangement_DateTimeOutput2 {
	@include elemAutoHeight(30);
}
#cntSettings_UserManangement_DateTimeOutput2 {
	@include elemTop(263);
}
#cntSettings_UserManangement_DateTimeOutput2 {
	@include elemLeft(479);
}
#cntSettings_UserManangement_DateTimeOutput2 {
	@include elemAutoWidth(351);
}
#cntSettings_UserManangement_DateTimeOutput2 {
		z-index: 10;
}
#cntSettings_UserManangement_DateTimeOutput2 {
	@include text-alignment(right);
}
#cntSettings_UserManangement_DateTimeOutput2 {
		padding: 0px;
}
#cntSettings_UserManangement_DateTimeOutput3 {
	@include elemAutoHeight(30);
}
#cntSettings_UserManangement_DateTimeOutput3 {
	@include elemTop(323);
}
#cntSettings_UserManangement_DateTimeOutput3 {
	@include elemLeft(479);
}
#cntSettings_UserManangement_DateTimeOutput3 {
	@include elemAutoWidth(351);
}
#cntSettings_UserManangement_DateTimeOutput3 {
		z-index: 11;
}
#cntSettings_UserManangement_DateTimeOutput3 {
	@include text-alignment(right);
}
#cntSettings_UserManangement_DateTimeOutput3 {
		padding: 0px;
}
#cntSettings_UserManangement_Image1 {
	@include elemTop(193);
}
#cntSettings_UserManangement_Image1 {
	@include elemLeft(239);
}
#cntSettings_UserManangement_Image1 {
	@include elemAutoWidth(61);
}
#cntSettings_UserManangement_Image1 {
	@include elemAutoHeight(67);
}
#cntSettings_UserManangement_Image1 {
		z-index: 12;
}
#cntSettings_UserManangement_labPasswordLogin3 {
	@include elemTop(3);
}
#cntSettings_UserManangement_labPasswordLogin3 {
	@include elemLeft(429);
}
#cntSettings_UserManangement_labPasswordLogin3 {
	@include elemAutoWidth(291);
}
#cntSettings_UserManangement_labPasswordLogin3 {
	@include elemAutoHeight(37);
}
#cntSettings_UserManangement_labPasswordLogin3 {
		z-index: 13;
}
#cntSettings_UserManangement_labPasswordLogin3 {
	@include text-alignment-all('center');
}
#cntSettings_UserManangement_labPasswordLogin3 {
		font-size: 20px;
}
#cntSettings_UserManangement_labPasswordLogin3 {
	span{
		padding: 0px;
	}
}
#cntSettings_UserManangement_Rectangle1 {
	@include elemTop(53);
}
#cntSettings_UserManangement_Rectangle1 {
	@include elemLeft(299);
}
#cntSettings_UserManangement_Rectangle1 {
	@include elemWidth(540);
}
#cntSettings_UserManangement_Rectangle1 {
	@include elemHeight(327);
}
#cntSettings_UserManangement_Rectangle1 {
		z-index: 14;
}
#cntSettings_UserManangement_Rectangle1 {
		border-width: 2px;
}
#cntSettings_UserManangement_PushButton_CreateNewUser {
	@include elemTop(423);
}
#cntSettings_UserManangement_PushButton_CreateNewUser {
	@include elemLeft(19);
}
#cntSettings_UserManangement_PushButton_CreateNewUser {
	@include elemAutoWidth(241);
}
#cntSettings_UserManangement_PushButton_CreateNewUser {
	@include elemAutoHeight(52);
}
#cntSettings_UserManangement_PushButton_CreateNewUser {
		z-index: 15;
}
#cntSettings_UserManangement_PushButton_CreateNewUser {
	@include border-radius(8px);
}
#cntSettings_UserManangement_PushButton_removeSelectedUser {
	@include elemTop(423);
}
#cntSettings_UserManangement_PushButton_removeSelectedUser {
	@include elemLeft(359);
}
#cntSettings_UserManangement_PushButton_removeSelectedUser {
	@include elemAutoWidth(241);
}
#cntSettings_UserManangement_PushButton_removeSelectedUser {
	@include elemAutoHeight(52);
}
#cntSettings_UserManangement_PushButton_removeSelectedUser {
		z-index: 16;
}
#cntSettings_UserManangement_PushButton_removeSelectedUser {
	@include border-radius(8px);
}
#cntSettings_UserManangement_PushButton_removeSelectedUser {
	&:not(.disabled):not(.active):not(.checked){
	@include backGroundGradient('linear-gradient(to bottom,#eb0909 0%,#eda6a6 100%)');
	}
}
#cntSettings_UserManangement_grpExportUserdata {
	@include elemTop(750);
}
#cntSettings_UserManangement_grpExportUserdata {
	@include elemLeft(0);
}
#cntSettings_UserManangement_grpExportUserdata {
	@include elemWidth(735);
}
#cntSettings_UserManangement_grpExportUserdata {
	@include elemHeight(227);
}
#cntSettings_UserManangement_grpExportUserdata {
		z-index: 1;
}
#cntSettings_UserManangement_labExportUsers {
	@include elemTop(7);
}
#cntSettings_UserManangement_labExportUsers {
	@include elemLeft(-1);
}
#cntSettings_UserManangement_labExportUsers {
	@include elemAutoWidth(106);
}
#cntSettings_UserManangement_labExportUsers {
	@include elemAutoHeight(38);
}
#cntSettings_UserManangement_labExportUsers {
		z-index: 0;
}
#cntSettings_UserManangement_labExportUsers {
		font-size: 20px;
}
#cntSettings_UserManangement_txtFilePath {
	@include elemTop(8);
}
#cntSettings_UserManangement_txtFilePath {
	@include elemLeft(104);
}
#cntSettings_UserManangement_txtFilePath {
	@include elemWidth(461);
}
#cntSettings_UserManangement_txtFilePath {
	@include elemHeight(40);
}
#cntSettings_UserManangement_txtFilePath {
		z-index: 1;
}
#cntSettings_UserManangement_txtFilePath {
	@include border-radius(3px);
}
#cntSettings_UserManangement_btnExportUserData {
	@include elemTop(93);
}
#cntSettings_UserManangement_btnExportUserData {
	@include elemLeft(69);
}
#cntSettings_UserManangement_btnExportUserData {
	@include elemAutoWidth(212);
}
#cntSettings_UserManangement_btnExportUserData {
	@include elemAutoHeight(68);
}
#cntSettings_UserManangement_btnExportUserData {
		z-index: 2;
}
#cntSettings_UserManangement_btnExportUserData {
	@include border-radius(10px);
}
#cntSettings_UserManangement_btnImportUserData {
	@include elemTop(93);
}
#cntSettings_UserManangement_btnImportUserData {
	@include elemLeft(379);
}
#cntSettings_UserManangement_btnImportUserData {
	@include elemAutoWidth(212);
}
#cntSettings_UserManangement_btnImportUserData {
	@include elemAutoHeight(68);
}
#cntSettings_UserManangement_btnImportUserData {
		z-index: 3;
}
#cntSettings_UserManangement_btnImportUserData {
	@include border-radius(10px);
}
#cntSettings_UserManangement_grpLogin {
	@include elemTop(0);
}
#cntSettings_UserManangement_grpLogin {
	@include elemLeft(0);
}
#cntSettings_UserManangement_grpLogin {
	@include elemWidth(740);
}
#cntSettings_UserManangement_grpLogin {
	@include elemHeight(300);
}
#cntSettings_UserManangement_grpLogin {
		z-index: 2;
}
#cntSettings_UserManangement_labUserLogin {
	@include elemAutoHeight(30);
}
#cntSettings_UserManangement_labUserLogin {
	@include elemTop(33);
}
#cntSettings_UserManangement_labUserLogin {
	@include elemLeft(59);
}
#cntSettings_UserManangement_labUserLogin {
	@include elemAutoWidth(101);
}
#cntSettings_UserManangement_labUserLogin {
		z-index: 0;
}
#cntSettings_UserManangement_labUserLogin {
	@include text-alignment-all('right');
}
#cntSettings_UserManangement_labUserLogin {
		font-size: 20px;
}
#cntSettings_UserManangement_labUserLogin {
	span{
		padding: 0px;
	}
}
#cntSettings_UserManangement_labPasswordLogin {
	@include elemAutoHeight(30);
}
#cntSettings_UserManangement_labPasswordLogin {
	@include elemTop(113);
}
#cntSettings_UserManangement_labPasswordLogin {
	@include elemLeft(59);
}
#cntSettings_UserManangement_labPasswordLogin {
	@include elemAutoWidth(95);
}
#cntSettings_UserManangement_labPasswordLogin {
		z-index: 1;
}
#cntSettings_UserManangement_labPasswordLogin {
	@include text-alignment-all('right');
}
#cntSettings_UserManangement_labPasswordLogin {
		font-size: 20px;
}
#cntSettings_UserManangement_labPasswordLogin {
	span{
		padding: 0px;
	}
}
#cntSettings_UserManangement_txtUserNameLogin {
	@include elemTop(23);
}
#cntSettings_UserManangement_txtUserNameLogin {
	@include elemLeft(179);
}
#cntSettings_UserManangement_txtUserNameLogin {
	@include elemWidth(226);
}
#cntSettings_UserManangement_txtUserNameLogin {
	@include elemHeight(37);
}
#cntSettings_UserManangement_txtUserNameLogin {
		z-index: 2;
}
#cntSettings_UserManangement_txtUserNameLogin {
	@include border-radius(3px);
}
#cntSettings_UserManangement_labUserActive {
	@include elemAutoHeight(30);
}
#cntSettings_UserManangement_labUserActive {
	@include elemTop(183);
}
#cntSettings_UserManangement_labUserActive {
	@include elemLeft(9);
}
#cntSettings_UserManangement_labUserActive {
	@include elemAutoWidth(150);
}
#cntSettings_UserManangement_labUserActive {
		z-index: 3;
}
#cntSettings_UserManangement_labUserActive {
	@include text-alignment-all('right');
}
#cntSettings_UserManangement_labUserActive {
		font-size: 20px;
}
#cntSettings_UserManangement_labUserActive {
	span{
		padding: 0px;
	}
}
#cntSettings_UserManangement_txtUserLoginPassword {
	@include elemTop(103);
}
#cntSettings_UserManangement_txtUserLoginPassword {
	@include elemLeft(179);
}
#cntSettings_UserManangement_txtUserLoginPassword {
	@include elemWidth(225);
}
#cntSettings_UserManangement_txtUserLoginPassword {
	@include elemHeight(37);
}
#cntSettings_UserManangement_txtUserLoginPassword {
		z-index: 4;
}
#cntSettings_UserManangement_Button_LogOut {
	@include elemTop(23);
}
#cntSettings_UserManangement_Button_LogOut {
	@include elemLeft(469);
}
#cntSettings_UserManangement_Button_LogOut {
	@include elemAutoWidth(241);
}
#cntSettings_UserManangement_Button_LogOut {
	@include elemAutoHeight(52);
}
#cntSettings_UserManangement_Button_LogOut {
		z-index: 5;
}
#cntSettings_UserManangement_Button_LogOut {
	@include border-radius(8px);
}
#cntSettings_UserManangement_TextOutput_Login {
	@include elemAutoHeight(30);
}
#cntSettings_UserManangement_TextOutput_Login {
	@include elemTop(183);
}
#cntSettings_UserManangement_TextOutput_Login {
	@include elemLeft(189);
}
#cntSettings_UserManangement_TextOutput_Login {
	@include elemAutoWidth(226);
}
#cntSettings_UserManangement_TextOutput_Login {
		z-index: 6;
}
#cntSettings_UserManangement_Button_Login {
	@include elemTop(103);
}
#cntSettings_UserManangement_Button_Login {
	@include elemLeft(469);
}
#cntSettings_UserManangement_Button_Login {
	@include elemAutoWidth(241);
}
#cntSettings_UserManangement_Button_Login {
	@include elemAutoHeight(52);
}
#cntSettings_UserManangement_Button_Login {
		z-index: 7;
}
#cntSettings_UserManangement_Button_Login {
	@include border-radius(8px);
}
#cntSettings_UserManangement_grpRFID {
	@include elemTop(300);
}
#cntSettings_UserManangement_grpRFID {
	@include elemLeft(0);
}
#cntSettings_UserManangement_grpRFID {
	@include elemWidth(740);
}
#cntSettings_UserManangement_grpRFID {
	@include elemHeight(450);
}
#cntSettings_UserManangement_grpRFID {
		z-index: 3;
}
#cntSettings_UserManangement_labTokenData {
	@include elemTop(13);
}
#cntSettings_UserManangement_labTokenData {
	@include elemLeft(9);
}
#cntSettings_UserManangement_labTokenData {
	@include elemAutoWidth(152);
}
#cntSettings_UserManangement_labTokenData {
	@include elemAutoHeight(52);
}
#cntSettings_UserManangement_labTokenData {
		z-index: 0;
}
#cntSettings_UserManangement_labTokenData {
	@include text-alignment-all('right');
}
#cntSettings_UserManangement_labTokenData {
		font-size: 20px;
}
#cntSettings_UserManangement_labTokenData {
	span{
		padding: 0px;
	}
}
#cntSettings_UserManangement_txtUserTokenData {
	@include elemTop(13);
}
#cntSettings_UserManangement_txtUserTokenData {
	@include elemLeft(199);
}
#cntSettings_UserManangement_txtUserTokenData {
	@include elemAutoWidth(371);
}
#cntSettings_UserManangement_txtUserTokenData {
	@include elemAutoHeight(52);
}
#cntSettings_UserManangement_txtUserTokenData {
		z-index: 1;
}
#cntSettings_UserManangement_txtUserTokenData {
		border-width: 1px;
}
#cntSettings_UserManangement_txtUserTokenData {
		border-style: solid;
}
#cntSettings_UserManangement_txtUserTokenData {
	&:before{
		border-style: solid;
	}
}
#cntSettings_UserManangement_txtUserTokenData {
	&:after{
		border-style: solid;
	}
}
#cntSettings_UserManangement_txtUserTokenData {
	span{
		padding: 0px 5px 0px 5px;
	}
}
#cntSettings_UserManangement_chkRFIDconnected {
	@include elemAutoHeight(30);
}
#cntSettings_UserManangement_chkRFIDconnected {
	@include elemTop(93);
}
#cntSettings_UserManangement_chkRFIDconnected {
	@include elemLeft(279);
}
#cntSettings_UserManangement_chkRFIDconnected {
	@include elemAutoWidth(181);
}
#cntSettings_UserManangement_chkRFIDconnected {
		z-index: 2;
}
#cntSettings_UserManangement_chkRFIDconnected {
	&.disabled span{
		color: rgba(0, 0, 0, 1);
	}
}
#cntSettings_UserManangement_chkRFIDconnected {
	&.disabled.checked span{
		border-color: rgba(0, 0, 0, 1);
	}
}
#cntSettings_UserManangement_chkRFIDconnected {
	&.disabled.active span{
		border-color: rgba(0, 0, 0, 1);
	}
}
#cntSettings_UserManangement_chkRFIDconnected {
	span{
		text-align: left;
	}
}
#cntSettings_UserManangement_chkRFIDconnected {
	span{
		font-size: 16px;
	}
}
#cntSettings_UserManangement_chkRFIDscan {
	@include elemTop(83);
}
#cntSettings_UserManangement_chkRFIDscan {
	@include elemLeft(59);
}
#cntSettings_UserManangement_chkRFIDscan {
	@include elemAutoWidth(180);
}
#cntSettings_UserManangement_chkRFIDscan {
	@include elemAutoHeight(47);
}
#cntSettings_UserManangement_chkRFIDscan {
		z-index: 3;
}
#cntSettings_UserManangement_chkRFIDscan {
	span{
		text-align: right;
	}
}
#cntSettings_UserManangement_chkRFIDscan {
	span{
		font-size: 20px;
	}
}
#cntSettings_UserManangement_labReaderStatus {
	@include elemTop(283);
}
#cntSettings_UserManangement_labReaderStatus {
	@include elemLeft(29);
}
#cntSettings_UserManangement_labReaderStatus {
	@include elemAutoWidth(136);
}
#cntSettings_UserManangement_labReaderStatus {
	@include elemAutoHeight(47);
}
#cntSettings_UserManangement_labReaderStatus {
		z-index: 4;
}
#cntSettings_UserManangement_labReaderStatus {
	@include text-alignment-all('right');
}
#cntSettings_UserManangement_labReaderStatus {
		font-size: 20px;
}
#cntSettings_UserManangement_labReaderStatus {
	span{
		padding: 0px;
	}
}
#cntSettings_UserManangement_txtReaderState {
	@include elemTop(283);
}
#cntSettings_UserManangement_txtReaderState {
	@include elemLeft(179);
}
#cntSettings_UserManangement_txtReaderState {
	@include elemAutoWidth(526);
}
#cntSettings_UserManangement_txtReaderState {
	@include elemAutoHeight(52);
}
#cntSettings_UserManangement_txtReaderState {
		z-index: 5;
}
#cntSettings_UserManangement_txtReaderState {
		border-width: 1px;
}
#cntSettings_UserManangement_txtReaderState {
		border-style: solid;
}
#cntSettings_UserManangement_txtReaderState {
	&:before{
		border-style: solid;
	}
}
#cntSettings_UserManangement_txtReaderState {
	&:after{
		border-style: solid;
	}
}
#cntSettings_UserManangement_txtReaderState {
	span{
		padding: 0px 5px 0px 5px;
	}
}
#cntSettings_UserManangement_PushButton_AssignTagID {
	@include elemTop(183);
}
#cntSettings_UserManangement_PushButton_AssignTagID {
	@include elemLeft(249);
}
#cntSettings_UserManangement_PushButton_AssignTagID {
	@include elemAutoWidth(241);
}
#cntSettings_UserManangement_PushButton_AssignTagID {
	@include elemAutoHeight(55);
}
#cntSettings_UserManangement_PushButton_AssignTagID {
		z-index: 6;
}
#cntSettings_UserManangement_PushButton_AssignTagID {
	@include border-radius(8px);
}
#cntSettings_UserManangement_GroupBox1 {
	@include elemTop(530);
}
#cntSettings_UserManangement_GroupBox1 {
	@include elemLeft(740);
}
#cntSettings_UserManangement_GroupBox1 {
	@include elemWidth(860);
}
#cntSettings_UserManangement_GroupBox1 {
	@include elemHeight(470);
}
#cntSettings_UserManangement_GroupBox1 {
		z-index: 4;
}
#cntSettings_UserManangement_Image2 {
	@include elemTop(123);
}
#cntSettings_UserManangement_Image2 {
	@include elemLeft(239);
}
#cntSettings_UserManangement_Image2 {
	@include elemAutoWidth(61);
}
#cntSettings_UserManangement_Image2 {
	@include elemAutoHeight(67);
}
#cntSettings_UserManangement_Image2 {
		z-index: 0;
}
#cntSettings_UserManangement_ListBox3 {
	@include elemTop(43);
}
#cntSettings_UserManangement_ListBox3 {
	@include elemLeft(9);
}
#cntSettings_UserManangement_ListBox3 {
	&.ListBoxView{
	@include elemWidth(233);
	}
}
#cntSettings_UserManangement_ListBox3 {
	&.ListBoxView{
	@include elemHeight(278);
	}
}
#cntSettings_UserManangement_ListBox3 {
		z-index: 1;
}
#cntSettings_UserManangement_ListBox3 {
	&.ListBoxView{
		border-width: 2px;
	}
}
#cntSettings_UserManangement_ListBox3 {
	&.ListBoxView{
		border-style: double;
	}
}
#cntSettings_UserManangement_ListBox3 {
	&.ListBoxView{
		border-color: rgba(71, 71, 71, 1);
	}
}
#cntSettings_UserManangement_ListBox3 {
	.ItemView:not(.itemSelected){
		background-color: rgba(255, 255, 255, 1);
	}
}
#cntSettings_UserManangement_ListBox3 {
	.ItemView.itemSelected{
		background-color: rgba(255, 136, 0, 1);
	}
}
#cntSettings_UserManangement_ListBox3 {
	.ItemView:not(.lastItem){
		border-bottom-color: rgba(255, 255, 255, 0);
	}
}
#cntSettings_UserManangement_Rectangle2 {
	@include elemTop(53);
}
#cntSettings_UserManangement_Rectangle2 {
	@include elemLeft(299);
}
#cntSettings_UserManangement_Rectangle2 {
	@include elemWidth(521);
}
#cntSettings_UserManangement_Rectangle2 {
	@include elemHeight(200);
}
#cntSettings_UserManangement_Rectangle2 {
		z-index: 2;
}
#cntSettings_UserManangement_Rectangle2 {
		border-width: 2px;
}
#cntSettings_UserManangement_labPasswordLogin4 {
	@include elemTop(2);
}
#cntSettings_UserManangement_labPasswordLogin4 {
	@include elemLeft(-1);
}
#cntSettings_UserManangement_labPasswordLogin4 {
	@include elemAutoWidth(241);
}
#cntSettings_UserManangement_labPasswordLogin4 {
	@include elemAutoHeight(37);
}
#cntSettings_UserManangement_labPasswordLogin4 {
		z-index: 3;
}
#cntSettings_UserManangement_labPasswordLogin4 {
	@include text-alignment-all('center');
}
#cntSettings_UserManangement_labPasswordLogin4 {
		font-size: 20px;
}
#cntSettings_UserManangement_labPasswordLogin4 {
	span{
		padding: 0px;
	}
}
#cntSettings_UserManangement_labPasswordLogin5 {
	@include elemTop(13);
}
#cntSettings_UserManangement_labPasswordLogin5 {
	@include elemLeft(459);
}
#cntSettings_UserManangement_labPasswordLogin5 {
	@include elemAutoWidth(241);
}
#cntSettings_UserManangement_labPasswordLogin5 {
	@include elemAutoHeight(37);
}
#cntSettings_UserManangement_labPasswordLogin5 {
		z-index: 4;
}
#cntSettings_UserManangement_labPasswordLogin5 {
	@include text-alignment-all('center');
}
#cntSettings_UserManangement_labPasswordLogin5 {
		font-size: 20px;
}
#cntSettings_UserManangement_labPasswordLogin5 {
	span{
		padding: 0px;
	}
}
#cntSettings_UserManangement_labUserLogin6 {
	@include elemAutoHeight(30);
}
#cntSettings_UserManangement_labUserLogin6 {
	@include elemTop(83);
}
#cntSettings_UserManangement_labUserLogin6 {
	@include elemLeft(309);
}
#cntSettings_UserManangement_labUserLogin6 {
	@include elemAutoWidth(161);
}
#cntSettings_UserManangement_labUserLogin6 {
		z-index: 5;
}
#cntSettings_UserManangement_labUserLogin6 {
	@include text-alignment-all('left');
}
#cntSettings_UserManangement_labUserLogin6 {
		font-size: 20px;
}
#cntSettings_UserManangement_labUserLogin6 {
	span{
		padding: 0px;
	}
}
#cntSettings_UserManangement_labUserLogin7 {
	@include elemAutoHeight(30);
}
#cntSettings_UserManangement_labUserLogin7 {
	@include elemTop(143);
}
#cntSettings_UserManangement_labUserLogin7 {
	@include elemLeft(309);
}
#cntSettings_UserManangement_labUserLogin7 {
	@include elemAutoWidth(161);
}
#cntSettings_UserManangement_labUserLogin7 {
		z-index: 6;
}
#cntSettings_UserManangement_labUserLogin7 {
	@include text-alignment-all('left');
}
#cntSettings_UserManangement_labUserLogin7 {
		font-size: 20px;
}
#cntSettings_UserManangement_labUserLogin7 {
	span{
		padding: 0px;
	}
}
#cntSettings_UserManangement_labUserLogin8 {
	@include elemAutoHeight(30);
}
#cntSettings_UserManangement_labUserLogin8 {
	@include elemTop(203);
}
#cntSettings_UserManangement_labUserLogin8 {
	@include elemLeft(309);
}
#cntSettings_UserManangement_labUserLogin8 {
	@include elemAutoWidth(161);
}
#cntSettings_UserManangement_labUserLogin8 {
		z-index: 7;
}
#cntSettings_UserManangement_labUserLogin8 {
	@include text-alignment-all('left');
}
#cntSettings_UserManangement_labUserLogin8 {
		font-size: 20px;
}
#cntSettings_UserManangement_labUserLogin8 {
	span{
		padding: 0px;
	}
}
#cntSettings_UserManangement_TextOutput2 {
	@include elemAutoHeight(30);
}
#cntSettings_UserManangement_TextOutput2 {
	@include elemTop(83);
}
#cntSettings_UserManangement_TextOutput2 {
	@include elemLeft(599);
}
#cntSettings_UserManangement_TextOutput2 {
	@include elemAutoWidth(231);
}
#cntSettings_UserManangement_TextOutput2 {
		z-index: 8;
}
#cntSettings_UserManangement_TextOutput2 {
	@include text-alignment-all('right');
}
#cntSettings_UserManangement_NumericOutput1 {
	@include elemAutoHeight(30);
}
#cntSettings_UserManangement_NumericOutput1 {
	@include elemTop(143);
}
#cntSettings_UserManangement_NumericOutput1 {
	@include elemLeft(589);
}
#cntSettings_UserManangement_NumericOutput1 {
	@include elemAutoWidth(241);
}
#cntSettings_UserManangement_NumericOutput1 {
		z-index: 9;
}
#cntSettings_UserManangement_TextOutput_AdminRight {
	@include elemTop(203);
}
#cntSettings_UserManangement_TextOutput_AdminRight {
	@include elemLeft(739);
}
#cntSettings_UserManangement_TextOutput_AdminRight {
	@include elemAutoWidth(91);
}
#cntSettings_UserManangement_TextOutput_AdminRight {
	@include elemAutoHeight(33);
}
#cntSettings_UserManangement_TextOutput_AdminRight {
		z-index: 10;
}
#cntSettings_UserManangement_PushButton_CreateNewUser1 {
	@include elemTop(343);
}
#cntSettings_UserManangement_PushButton_CreateNewUser1 {
	@include elemLeft(19);
}
#cntSettings_UserManangement_PushButton_CreateNewUser1 {
	@include elemAutoWidth(241);
}
#cntSettings_UserManangement_PushButton_CreateNewUser1 {
	@include elemAutoHeight(52);
}
#cntSettings_UserManangement_PushButton_CreateNewUser1 {
		z-index: 11;
}
#cntSettings_UserManangement_PushButton_CreateNewUser1 {
	@include border-radius(8px);
}
#cntSettings_UserManangement_PushButton_removeSelectedRole {
	@include elemTop(353);
}
#cntSettings_UserManangement_PushButton_removeSelectedRole {
	@include elemLeft(359);
}
#cntSettings_UserManangement_PushButton_removeSelectedRole {
	@include elemAutoWidth(241);
}
#cntSettings_UserManangement_PushButton_removeSelectedRole {
	@include elemAutoHeight(52);
}
#cntSettings_UserManangement_PushButton_removeSelectedRole {
		z-index: 12;
}
#cntSettings_UserManangement_PushButton_removeSelectedRole {
	@include border-radius(8px);
}
#cntSettings_UserManangement_PushButton_removeSelectedRole {
	&:not(.disabled):not(.active):not(.checked){
	@include backGroundGradient('linear-gradient(to bottom,#eb0909 0%,#eda6a6 100%)');
	}
}
