#cntSettings_UserPref_GroupBox1 {
  top: 600px;
  position: absolute;
}

#cntSettings_UserPref_GroupBox1 {
  left: 735px;
  position: absolute;
}

#cntSettings_UserPref_GroupBox1 {
  width: 870px;
}

#cntSettings_UserPref_GroupBox1 {
  height: 360px;
}

#cntSettings_UserPref_GroupBox1 {
  z-index: 0;
}

#cntSettings_UserPref_GroupBox1 > .header span {
  font-family: Times New Roman;
}

#cntSettings_UserPref_GroupBox1 > .header span {
  font-size: 24px;
}

#cntSettings_UserPref_GroupBox1 > .header {
  height: 44px;
}

#cntSettings_UserPref_Label2 {
  top: 229px;
  position: absolute;
}

#cntSettings_UserPref_Label2 {
  left: 0px;
  position: absolute;
}

#cntSettings_UserPref_Label2 {
  width: 391px;
}

#cntSettings_UserPref_Label2 {
  height: 38px;
}

#cntSettings_UserPref_Label2 {
  z-index: 0;
}

#cntSettings_UserPref_Label2 {
  font-size: 22px;
}

#cntSettings_UserPref_Label2 span {
  padding: 5px;
}

#cntSettings_UserPref_Label2 {
  margin: 5px;
}

#cntSettings_UserPref_MeasurementSystemSelector1 {
  top: 210px;
  position: absolute;
}

#cntSettings_UserPref_MeasurementSystemSelector1 {
  left: 433px;
  position: absolute;
}

#cntSettings_UserPref_MeasurementSystemSelector1.DropDownBoxView {
  width: 422px;
}

#cntSettings_UserPref_MeasurementSystemSelector1.DropDownBoxView {
  height: 82px;
}

#cntSettings_UserPref_MeasurementSystemSelector1 {
  z-index: 1;
}

#cntSettings_UserPref_MeasurementSystemSelector1.DropDownBoxView {
  box-shadow: 4px 4px 14px rgba(62, 79, 92, 0.75);
}

#cntSettings_UserPref_MeasurementSystemSelector1 > .ItemView:not(.itemSelected):not(.itemDisabled) {
  background-image: linear-gradient(to bottom,#F7F7F7 0%,#C6C6C6 100%);
}

#cntSettings_UserPref_MeasurementSystemSelector1 > .ItemView {
  padding: 0px 10px;
}

#cntSettings_UserPref_MeasurementSystemSelector1 > .ItemView > .ImageView.ImageIndicator {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
}

#cntSettings_UserPref_MeasurementSystemSelector1_listBoxWrapper > .ListView.Container > .ListView.List > .ItemView {
  padding: 0px 10px;
}

#cntSettings_UserPref_MeasurementSystemSelector1 .TextView {
  justify-content: center;
  text-align: center;
}

#cntSettings_UserPref_MeasurementSystemSelector1_listBoxWrapper .TextView {
  justify-content: center;
  text-align: center;
}

#cntSettings_UserPref_MeasurementSystemSelector1 .TextView {
  font-size: 20px;
}

#cntSettings_UserPref_MeasurementSystemSelector1_listBoxWrapper .TextView {
  font-size: 20px;
}

#cntSettings_UserPref_DateTimeInput1 {
  top: 8px;
  position: absolute;
}

#cntSettings_UserPref_DateTimeInput1 {
  left: 434px;
  position: absolute;
}

#cntSettings_UserPref_DateTimeInput1 {
  width: 424px;
}

#cntSettings_UserPref_DateTimeInput1 {
  height: 84px;
}

#cntSettings_UserPref_DateTimeInput1 {
  z-index: 2;
}

#cntSettings_UserPref_DateTimeInput1:not(.disabled) {
  background-image: linear-gradient(to bottom,#F7F7F7 0%,#C6C6C6 100%);
}

#cntSettings_UserPref_DateTimeInput1 {
  font-weight: bold;
}

#cntSettings_UserPref_Label3 {
  top: 143px;
  position: absolute;
}

#cntSettings_UserPref_Label3 {
  left: 119px;
  position: absolute;
}

#cntSettings_UserPref_Label3 {
  width: 286px;
}

#cntSettings_UserPref_Label3 {
  height: 39px;
}

#cntSettings_UserPref_Label3 {
  z-index: 3;
}

#cntSettings_UserPref_Label3 {
  font-size: 22px;
}

#cntSettings_UserPref_Label3 {
  margin: 5px;
}

#cntSettings_UserPref_LanguageSelector1 {
  top: 111px;
  position: absolute;
}

#cntSettings_UserPref_LanguageSelector1 {
  left: 434px;
  position: absolute;
}

#cntSettings_UserPref_LanguageSelector1.DropDownBoxView {
  width: 422px;
}

#cntSettings_UserPref_LanguageSelector1.DropDownBoxView {
  height: 80px;
}

#cntSettings_UserPref_LanguageSelector1 {
  z-index: 4;
}

#cntSettings_UserPref_LanguageSelector1.DropDownBoxView {
  box-shadow: 4px 4px 14px rgba(62, 79, 92, 0.75);
}

#cntSettings_UserPref_LanguageSelector1 > .ItemView:not(.itemSelected):not(.itemDisabled) {
  background-image: linear-gradient(to bottom,#F7F7F7 0%,#C6C6C6 100%);
}

#cntSettings_UserPref_LanguageSelector1 > .ItemView > .ImageView.ImageIndicator {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
}

#cntSettings_UserPref_LanguageSelector1 .TextView {
  font-size: 20px;
}

#cntSettings_UserPref_LanguageSelector1_listBoxWrapper .TextView {
  font-size: 20px;
}

#cntSettings_UserPref_Label1 {
  top: 21px;
  position: absolute;
}

#cntSettings_UserPref_Label1 {
  left: 90px;
  position: absolute;
}

#cntSettings_UserPref_Label1 {
  width: 283px;
}

#cntSettings_UserPref_Label1 {
  height: 75px;
}

#cntSettings_UserPref_Label1 {
  z-index: 5;
}

#cntSettings_UserPref_Label1 {
  font-size: 22px;
}

#cntSettings_UserPref_Label1 {
  margin: 5px;
}
