#cntSettings_UserManangement_grpRoleManagment {
  top: 0px;
  position: absolute;
}

#cntSettings_UserManangement_grpRoleManagment {
  left: 740px;
  position: absolute;
}

#cntSettings_UserManangement_grpRoleManagment {
  width: 860px;
}

#cntSettings_UserManangement_grpRoleManagment {
  height: 530px;
}

#cntSettings_UserManangement_grpRoleManagment {
  z-index: 0;
}

#cntSettings_UserManangement_ListBox1 {
  top: 50px;
  position: absolute;
}

#cntSettings_UserManangement_ListBox1 {
  left: 9px;
  position: absolute;
}

#cntSettings_UserManangement_ListBox1.ListBoxView {
  width: 231px;
}

#cntSettings_UserManangement_ListBox1.ListBoxView {
  height: 330px;
}

#cntSettings_UserManangement_ListBox1 {
  z-index: 0;
}

#cntSettings_UserManangement_ListBox1.ListBoxView {
  border-width: 2px;
}

#cntSettings_UserManangement_ListBox1.ListBoxView {
  border-style: double;
}

#cntSettings_UserManangement_ListBox1.ListBoxView {
  border-color: #474747;
}

#cntSettings_UserManangement_ListBox1 .ItemView:not(.itemSelected) {
  background-color: white;
}

#cntSettings_UserManangement_ListBox1 .ItemView.itemSelected {
  background-color: #ff8800;
}

#cntSettings_UserManangement_ListBox1 .ItemView:not(.lastItem) {
  border-bottom-color: rgba(255, 255, 255, 0);
}

#cntSettings_UserManangement_ListBox2 {
  top: 143px;
  position: absolute;
}

#cntSettings_UserManangement_ListBox2 {
  left: 589px;
  position: absolute;
}

#cntSettings_UserManangement_ListBox2.ListBoxView {
  width: 241px;
}

#cntSettings_UserManangement_ListBox2.ListBoxView {
  height: 27px;
}

#cntSettings_UserManangement_ListBox2 {
  z-index: 1;
}

#cntSettings_UserManangement_ListBox2 .ItemView {
  padding: 0px;
}

#cntSettings_UserManangement_ListBox2 .ItemView:not(.itemSelected) {
  background-color: rgba(255, 255, 255, 0);
}

#cntSettings_UserManangement_ListBox2 .ItemView.itemSelected {
  background-color: rgba(255, 255, 255, 0);
}

#cntSettings_UserManangement_ListBox2 .ItemView.itemSelected {
  background-image: linear-gradient(to bottom, #FFAA4D 0%,#ffffff 0%);
}

#cntSettings_UserManangement_ListBox2 .ItemView:not(.lastItem) {
  border-bottom-color: rgba(255, 255, 255, 0);
}

#cntSettings_UserManangement_ListBox2 .TextView.textSelected {
  color: black;
}

#cntSettings_UserManangement_ListBox2 .TextView {
  justify-content: center;
  text-align: center;
}

#cntSettings_UserManangement_labPasswordLogin2 {
  top: 3px;
  position: absolute;
}

#cntSettings_UserManangement_labPasswordLogin2 {
  left: -1px;
  position: absolute;
}

#cntSettings_UserManangement_labPasswordLogin2 {
  width: 241px;
}

#cntSettings_UserManangement_labPasswordLogin2 {
  height: 37px;
}

#cntSettings_UserManangement_labPasswordLogin2 {
  z-index: 2;
}

#cntSettings_UserManangement_labPasswordLogin2 {
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntSettings_UserManangement_labPasswordLogin2 {
  font-size: 20px;
}

#cntSettings_UserManangement_labPasswordLogin2 span {
  padding: 0px;
}

#cntSettings_UserManangement_labUserLogin1 {
  height: 30px;
}

#cntSettings_UserManangement_labUserLogin1 {
  top: 93px;
  position: absolute;
}

#cntSettings_UserManangement_labUserLogin1 {
  left: 319px;
  position: absolute;
}

#cntSettings_UserManangement_labUserLogin1 {
  width: 161px;
}

#cntSettings_UserManangement_labUserLogin1 {
  z-index: 3;
}

#cntSettings_UserManangement_labUserLogin1 {
  justify-content: flex-start;
  text-align: left;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntSettings_UserManangement_labUserLogin1 {
  font-size: 20px;
}

#cntSettings_UserManangement_labUserLogin1 span {
  padding: 0px;
}

#cntSettings_UserManangement_labUserLogin2 {
  height: 30px;
}

#cntSettings_UserManangement_labUserLogin2 {
  top: 143px;
  position: absolute;
}

#cntSettings_UserManangement_labUserLogin2 {
  left: 319px;
  position: absolute;
}

#cntSettings_UserManangement_labUserLogin2 {
  width: 161px;
}

#cntSettings_UserManangement_labUserLogin2 {
  z-index: 4;
}

#cntSettings_UserManangement_labUserLogin2 {
  justify-content: flex-start;
  text-align: left;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntSettings_UserManangement_labUserLogin2 {
  font-size: 20px;
}

#cntSettings_UserManangement_labUserLogin2 span {
  padding: 0px;
}

#cntSettings_UserManangement_labUserLogin3 {
  height: 30px;
}

#cntSettings_UserManangement_labUserLogin3 {
  top: 203px;
  position: absolute;
}

#cntSettings_UserManangement_labUserLogin3 {
  left: 319px;
  position: absolute;
}

#cntSettings_UserManangement_labUserLogin3 {
  width: 161px;
}

#cntSettings_UserManangement_labUserLogin3 {
  z-index: 5;
}

#cntSettings_UserManangement_labUserLogin3 {
  justify-content: flex-start;
  text-align: left;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntSettings_UserManangement_labUserLogin3 {
  font-size: 20px;
}

#cntSettings_UserManangement_labUserLogin3 span {
  padding: 0px;
}

#cntSettings_UserManangement_labUserLogin4 {
  height: 30px;
}

#cntSettings_UserManangement_labUserLogin4 {
  top: 263px;
  position: absolute;
}

#cntSettings_UserManangement_labUserLogin4 {
  left: 319px;
  position: absolute;
}

#cntSettings_UserManangement_labUserLogin4 {
  width: 161px;
}

#cntSettings_UserManangement_labUserLogin4 {
  z-index: 6;
}

#cntSettings_UserManangement_labUserLogin4 {
  justify-content: flex-start;
  text-align: left;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntSettings_UserManangement_labUserLogin4 {
  font-size: 20px;
}

#cntSettings_UserManangement_labUserLogin4 span {
  padding: 0px;
}

#cntSettings_UserManangement_labUserLogin5 {
  height: 30px;
}

#cntSettings_UserManangement_labUserLogin5 {
  top: 323px;
  position: absolute;
}

#cntSettings_UserManangement_labUserLogin5 {
  left: 319px;
  position: absolute;
}

#cntSettings_UserManangement_labUserLogin5 {
  width: 161px;
}

#cntSettings_UserManangement_labUserLogin5 {
  z-index: 7;
}

#cntSettings_UserManangement_labUserLogin5 {
  justify-content: flex-start;
  text-align: left;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntSettings_UserManangement_labUserLogin5 {
  font-size: 20px;
}

#cntSettings_UserManangement_labUserLogin5 span {
  padding: 0px;
}

#cntSettings_UserManangement_TextOutput1 {
  top: 83px;
  position: absolute;
}

#cntSettings_UserManangement_TextOutput1 {
  left: 559px;
  position: absolute;
}

#cntSettings_UserManangement_TextOutput1 {
  width: 280px;
}

#cntSettings_UserManangement_TextOutput1 {
  height: 37px;
}

#cntSettings_UserManangement_TextOutput1 {
  z-index: 8;
}

#cntSettings_UserManangement_TextOutput1 {
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntSettings_UserManangement_DateTimeOutput1 {
  height: 30px;
}

#cntSettings_UserManangement_DateTimeOutput1 {
  top: 203px;
  position: absolute;
}

#cntSettings_UserManangement_DateTimeOutput1 {
  left: 499px;
  position: absolute;
}

#cntSettings_UserManangement_DateTimeOutput1 {
  width: 331px;
}

#cntSettings_UserManangement_DateTimeOutput1 {
  z-index: 9;
}

#cntSettings_UserManangement_DateTimeOutput1 {
  justify-content: flex-end;
  text-align: right;
}

#cntSettings_UserManangement_DateTimeOutput1 {
  padding: 0px 0px 0px 0px;
}

#cntSettings_UserManangement_DateTimeOutput2 {
  height: 30px;
}

#cntSettings_UserManangement_DateTimeOutput2 {
  top: 263px;
  position: absolute;
}

#cntSettings_UserManangement_DateTimeOutput2 {
  left: 479px;
  position: absolute;
}

#cntSettings_UserManangement_DateTimeOutput2 {
  width: 351px;
}

#cntSettings_UserManangement_DateTimeOutput2 {
  z-index: 10;
}

#cntSettings_UserManangement_DateTimeOutput2 {
  justify-content: flex-end;
  text-align: right;
}

#cntSettings_UserManangement_DateTimeOutput2 {
  padding: 0px;
}

#cntSettings_UserManangement_DateTimeOutput3 {
  height: 30px;
}

#cntSettings_UserManangement_DateTimeOutput3 {
  top: 323px;
  position: absolute;
}

#cntSettings_UserManangement_DateTimeOutput3 {
  left: 479px;
  position: absolute;
}

#cntSettings_UserManangement_DateTimeOutput3 {
  width: 351px;
}

#cntSettings_UserManangement_DateTimeOutput3 {
  z-index: 11;
}

#cntSettings_UserManangement_DateTimeOutput3 {
  justify-content: flex-end;
  text-align: right;
}

#cntSettings_UserManangement_DateTimeOutput3 {
  padding: 0px;
}

#cntSettings_UserManangement_Image1 {
  top: 193px;
  position: absolute;
}

#cntSettings_UserManangement_Image1 {
  left: 239px;
  position: absolute;
}

#cntSettings_UserManangement_Image1 {
  width: 61px;
}

#cntSettings_UserManangement_Image1 {
  height: 67px;
}

#cntSettings_UserManangement_Image1 {
  z-index: 12;
}

#cntSettings_UserManangement_labPasswordLogin3 {
  top: 3px;
  position: absolute;
}

#cntSettings_UserManangement_labPasswordLogin3 {
  left: 429px;
  position: absolute;
}

#cntSettings_UserManangement_labPasswordLogin3 {
  width: 291px;
}

#cntSettings_UserManangement_labPasswordLogin3 {
  height: 37px;
}

#cntSettings_UserManangement_labPasswordLogin3 {
  z-index: 13;
}

#cntSettings_UserManangement_labPasswordLogin3 {
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntSettings_UserManangement_labPasswordLogin3 {
  font-size: 20px;
}

#cntSettings_UserManangement_labPasswordLogin3 span {
  padding: 0px;
}

#cntSettings_UserManangement_Rectangle1 {
  top: 53px;
  position: absolute;
}

#cntSettings_UserManangement_Rectangle1 {
  left: 299px;
  position: absolute;
}

#cntSettings_UserManangement_Rectangle1 {
  width: 540px;
}

#cntSettings_UserManangement_Rectangle1 {
  height: 327px;
}

#cntSettings_UserManangement_Rectangle1 {
  z-index: 14;
}

#cntSettings_UserManangement_Rectangle1 {
  border-width: 2px;
}

#cntSettings_UserManangement_PushButton_CreateNewUser {
  top: 423px;
  position: absolute;
}

#cntSettings_UserManangement_PushButton_CreateNewUser {
  left: 19px;
  position: absolute;
}

#cntSettings_UserManangement_PushButton_CreateNewUser {
  width: 241px;
}

#cntSettings_UserManangement_PushButton_CreateNewUser {
  height: 52px;
}

#cntSettings_UserManangement_PushButton_CreateNewUser {
  z-index: 15;
}

#cntSettings_UserManangement_PushButton_CreateNewUser {
  border-radius: 8px;
}

#cntSettings_UserManangement_PushButton_removeSelectedUser {
  top: 423px;
  position: absolute;
}

#cntSettings_UserManangement_PushButton_removeSelectedUser {
  left: 359px;
  position: absolute;
}

#cntSettings_UserManangement_PushButton_removeSelectedUser {
  width: 241px;
}

#cntSettings_UserManangement_PushButton_removeSelectedUser {
  height: 52px;
}

#cntSettings_UserManangement_PushButton_removeSelectedUser {
  z-index: 16;
}

#cntSettings_UserManangement_PushButton_removeSelectedUser {
  border-radius: 8px;
}

#cntSettings_UserManangement_PushButton_removeSelectedUser:not(.disabled):not(.active):not(.checked) {
  background-image: linear-gradient(to bottom,#eb0909 0%,#eda6a6 100%);
}

#cntSettings_UserManangement_grpExportUserdata {
  top: 750px;
  position: absolute;
}

#cntSettings_UserManangement_grpExportUserdata {
  left: 0px;
  position: absolute;
}

#cntSettings_UserManangement_grpExportUserdata {
  width: 735px;
}

#cntSettings_UserManangement_grpExportUserdata {
  height: 227px;
}

#cntSettings_UserManangement_grpExportUserdata {
  z-index: 1;
}

#cntSettings_UserManangement_labExportUsers {
  top: 7px;
  position: absolute;
}

#cntSettings_UserManangement_labExportUsers {
  left: -1px;
  position: absolute;
}

#cntSettings_UserManangement_labExportUsers {
  width: 106px;
}

#cntSettings_UserManangement_labExportUsers {
  height: 38px;
}

#cntSettings_UserManangement_labExportUsers {
  z-index: 0;
}

#cntSettings_UserManangement_labExportUsers {
  font-size: 20px;
}

#cntSettings_UserManangement_txtFilePath {
  top: 8px;
  position: absolute;
}

#cntSettings_UserManangement_txtFilePath {
  left: 104px;
  position: absolute;
}

#cntSettings_UserManangement_txtFilePath {
  width: 461px;
}

#cntSettings_UserManangement_txtFilePath {
  height: 40px;
}

#cntSettings_UserManangement_txtFilePath {
  z-index: 1;
}

#cntSettings_UserManangement_txtFilePath {
  border-radius: 3px;
}

#cntSettings_UserManangement_btnExportUserData {
  top: 93px;
  position: absolute;
}

#cntSettings_UserManangement_btnExportUserData {
  left: 69px;
  position: absolute;
}

#cntSettings_UserManangement_btnExportUserData {
  width: 212px;
}

#cntSettings_UserManangement_btnExportUserData {
  height: 68px;
}

#cntSettings_UserManangement_btnExportUserData {
  z-index: 2;
}

#cntSettings_UserManangement_btnExportUserData {
  border-radius: 10px;
}

#cntSettings_UserManangement_btnImportUserData {
  top: 93px;
  position: absolute;
}

#cntSettings_UserManangement_btnImportUserData {
  left: 379px;
  position: absolute;
}

#cntSettings_UserManangement_btnImportUserData {
  width: 212px;
}

#cntSettings_UserManangement_btnImportUserData {
  height: 68px;
}

#cntSettings_UserManangement_btnImportUserData {
  z-index: 3;
}

#cntSettings_UserManangement_btnImportUserData {
  border-radius: 10px;
}

#cntSettings_UserManangement_grpLogin {
  top: 0px;
  position: absolute;
}

#cntSettings_UserManangement_grpLogin {
  left: 0px;
  position: absolute;
}

#cntSettings_UserManangement_grpLogin {
  width: 740px;
}

#cntSettings_UserManangement_grpLogin {
  height: 300px;
}

#cntSettings_UserManangement_grpLogin {
  z-index: 2;
}

#cntSettings_UserManangement_labUserLogin {
  height: 30px;
}

#cntSettings_UserManangement_labUserLogin {
  top: 33px;
  position: absolute;
}

#cntSettings_UserManangement_labUserLogin {
  left: 59px;
  position: absolute;
}

#cntSettings_UserManangement_labUserLogin {
  width: 101px;
}

#cntSettings_UserManangement_labUserLogin {
  z-index: 0;
}

#cntSettings_UserManangement_labUserLogin {
  justify-content: flex-end;
  text-align: right;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntSettings_UserManangement_labUserLogin {
  font-size: 20px;
}

#cntSettings_UserManangement_labUserLogin span {
  padding: 0px;
}

#cntSettings_UserManangement_labPasswordLogin {
  height: 30px;
}

#cntSettings_UserManangement_labPasswordLogin {
  top: 113px;
  position: absolute;
}

#cntSettings_UserManangement_labPasswordLogin {
  left: 59px;
  position: absolute;
}

#cntSettings_UserManangement_labPasswordLogin {
  width: 95px;
}

#cntSettings_UserManangement_labPasswordLogin {
  z-index: 1;
}

#cntSettings_UserManangement_labPasswordLogin {
  justify-content: flex-end;
  text-align: right;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntSettings_UserManangement_labPasswordLogin {
  font-size: 20px;
}

#cntSettings_UserManangement_labPasswordLogin span {
  padding: 0px;
}

#cntSettings_UserManangement_txtUserNameLogin {
  top: 23px;
  position: absolute;
}

#cntSettings_UserManangement_txtUserNameLogin {
  left: 179px;
  position: absolute;
}

#cntSettings_UserManangement_txtUserNameLogin {
  width: 226px;
}

#cntSettings_UserManangement_txtUserNameLogin {
  height: 37px;
}

#cntSettings_UserManangement_txtUserNameLogin {
  z-index: 2;
}

#cntSettings_UserManangement_txtUserNameLogin {
  border-radius: 3px;
}

#cntSettings_UserManangement_labUserActive {
  height: 30px;
}

#cntSettings_UserManangement_labUserActive {
  top: 183px;
  position: absolute;
}

#cntSettings_UserManangement_labUserActive {
  left: 9px;
  position: absolute;
}

#cntSettings_UserManangement_labUserActive {
  width: 150px;
}

#cntSettings_UserManangement_labUserActive {
  z-index: 3;
}

#cntSettings_UserManangement_labUserActive {
  justify-content: flex-end;
  text-align: right;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntSettings_UserManangement_labUserActive {
  font-size: 20px;
}

#cntSettings_UserManangement_labUserActive span {
  padding: 0px;
}

#cntSettings_UserManangement_txtUserLoginPassword {
  top: 103px;
  position: absolute;
}

#cntSettings_UserManangement_txtUserLoginPassword {
  left: 179px;
  position: absolute;
}

#cntSettings_UserManangement_txtUserLoginPassword {
  width: 225px;
}

#cntSettings_UserManangement_txtUserLoginPassword {
  height: 37px;
}

#cntSettings_UserManangement_txtUserLoginPassword {
  z-index: 4;
}

#cntSettings_UserManangement_Button_LogOut {
  top: 23px;
  position: absolute;
}

#cntSettings_UserManangement_Button_LogOut {
  left: 469px;
  position: absolute;
}

#cntSettings_UserManangement_Button_LogOut {
  width: 241px;
}

#cntSettings_UserManangement_Button_LogOut {
  height: 52px;
}

#cntSettings_UserManangement_Button_LogOut {
  z-index: 5;
}

#cntSettings_UserManangement_Button_LogOut {
  border-radius: 8px;
}

#cntSettings_UserManangement_TextOutput_Login {
  height: 30px;
}

#cntSettings_UserManangement_TextOutput_Login {
  top: 183px;
  position: absolute;
}

#cntSettings_UserManangement_TextOutput_Login {
  left: 189px;
  position: absolute;
}

#cntSettings_UserManangement_TextOutput_Login {
  width: 226px;
}

#cntSettings_UserManangement_TextOutput_Login {
  z-index: 6;
}

#cntSettings_UserManangement_Button_Login {
  top: 103px;
  position: absolute;
}

#cntSettings_UserManangement_Button_Login {
  left: 469px;
  position: absolute;
}

#cntSettings_UserManangement_Button_Login {
  width: 241px;
}

#cntSettings_UserManangement_Button_Login {
  height: 52px;
}

#cntSettings_UserManangement_Button_Login {
  z-index: 7;
}

#cntSettings_UserManangement_Button_Login {
  border-radius: 8px;
}

#cntSettings_UserManangement_grpRFID {
  top: 300px;
  position: absolute;
}

#cntSettings_UserManangement_grpRFID {
  left: 0px;
  position: absolute;
}

#cntSettings_UserManangement_grpRFID {
  width: 740px;
}

#cntSettings_UserManangement_grpRFID {
  height: 450px;
}

#cntSettings_UserManangement_grpRFID {
  z-index: 3;
}

#cntSettings_UserManangement_labTokenData {
  top: 13px;
  position: absolute;
}

#cntSettings_UserManangement_labTokenData {
  left: 9px;
  position: absolute;
}

#cntSettings_UserManangement_labTokenData {
  width: 152px;
}

#cntSettings_UserManangement_labTokenData {
  height: 52px;
}

#cntSettings_UserManangement_labTokenData {
  z-index: 0;
}

#cntSettings_UserManangement_labTokenData {
  justify-content: flex-end;
  text-align: right;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntSettings_UserManangement_labTokenData {
  font-size: 20px;
}

#cntSettings_UserManangement_labTokenData span {
  padding: 0px;
}

#cntSettings_UserManangement_txtUserTokenData {
  top: 13px;
  position: absolute;
}

#cntSettings_UserManangement_txtUserTokenData {
  left: 199px;
  position: absolute;
}

#cntSettings_UserManangement_txtUserTokenData {
  width: 371px;
}

#cntSettings_UserManangement_txtUserTokenData {
  height: 52px;
}

#cntSettings_UserManangement_txtUserTokenData {
  z-index: 1;
}

#cntSettings_UserManangement_txtUserTokenData {
  border-width: 1px;
}

#cntSettings_UserManangement_txtUserTokenData {
  border-style: solid;
}

#cntSettings_UserManangement_txtUserTokenData:before {
  border-style: solid;
}

#cntSettings_UserManangement_txtUserTokenData:after {
  border-style: solid;
}

#cntSettings_UserManangement_txtUserTokenData span {
  padding: 0px 5px 0px 5px;
}

#cntSettings_UserManangement_chkRFIDconnected {
  height: 30px;
}

#cntSettings_UserManangement_chkRFIDconnected {
  top: 93px;
  position: absolute;
}

#cntSettings_UserManangement_chkRFIDconnected {
  left: 279px;
  position: absolute;
}

#cntSettings_UserManangement_chkRFIDconnected {
  width: 181px;
}

#cntSettings_UserManangement_chkRFIDconnected {
  z-index: 2;
}

#cntSettings_UserManangement_chkRFIDconnected.disabled span {
  color: black;
}

#cntSettings_UserManangement_chkRFIDconnected.disabled.checked span {
  border-color: black;
}

#cntSettings_UserManangement_chkRFIDconnected.disabled.active span {
  border-color: black;
}

#cntSettings_UserManangement_chkRFIDconnected span {
  text-align: left;
}

#cntSettings_UserManangement_chkRFIDconnected span {
  font-size: 16px;
}

#cntSettings_UserManangement_chkRFIDscan {
  top: 83px;
  position: absolute;
}

#cntSettings_UserManangement_chkRFIDscan {
  left: 59px;
  position: absolute;
}

#cntSettings_UserManangement_chkRFIDscan {
  width: 180px;
}

#cntSettings_UserManangement_chkRFIDscan {
  height: 47px;
}

#cntSettings_UserManangement_chkRFIDscan {
  z-index: 3;
}

#cntSettings_UserManangement_chkRFIDscan span {
  text-align: right;
}

#cntSettings_UserManangement_chkRFIDscan span {
  font-size: 20px;
}

#cntSettings_UserManangement_labReaderStatus {
  top: 283px;
  position: absolute;
}

#cntSettings_UserManangement_labReaderStatus {
  left: 29px;
  position: absolute;
}

#cntSettings_UserManangement_labReaderStatus {
  width: 136px;
}

#cntSettings_UserManangement_labReaderStatus {
  height: 47px;
}

#cntSettings_UserManangement_labReaderStatus {
  z-index: 4;
}

#cntSettings_UserManangement_labReaderStatus {
  justify-content: flex-end;
  text-align: right;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntSettings_UserManangement_labReaderStatus {
  font-size: 20px;
}

#cntSettings_UserManangement_labReaderStatus span {
  padding: 0px;
}

#cntSettings_UserManangement_txtReaderState {
  top: 283px;
  position: absolute;
}

#cntSettings_UserManangement_txtReaderState {
  left: 179px;
  position: absolute;
}

#cntSettings_UserManangement_txtReaderState {
  width: 526px;
}

#cntSettings_UserManangement_txtReaderState {
  height: 52px;
}

#cntSettings_UserManangement_txtReaderState {
  z-index: 5;
}

#cntSettings_UserManangement_txtReaderState {
  border-width: 1px;
}

#cntSettings_UserManangement_txtReaderState {
  border-style: solid;
}

#cntSettings_UserManangement_txtReaderState:before {
  border-style: solid;
}

#cntSettings_UserManangement_txtReaderState:after {
  border-style: solid;
}

#cntSettings_UserManangement_txtReaderState span {
  padding: 0px 5px 0px 5px;
}

#cntSettings_UserManangement_PushButton_AssignTagID {
  top: 183px;
  position: absolute;
}

#cntSettings_UserManangement_PushButton_AssignTagID {
  left: 249px;
  position: absolute;
}

#cntSettings_UserManangement_PushButton_AssignTagID {
  width: 241px;
}

#cntSettings_UserManangement_PushButton_AssignTagID {
  height: 55px;
}

#cntSettings_UserManangement_PushButton_AssignTagID {
  z-index: 6;
}

#cntSettings_UserManangement_PushButton_AssignTagID {
  border-radius: 8px;
}

#cntSettings_UserManangement_GroupBox1 {
  top: 530px;
  position: absolute;
}

#cntSettings_UserManangement_GroupBox1 {
  left: 740px;
  position: absolute;
}

#cntSettings_UserManangement_GroupBox1 {
  width: 860px;
}

#cntSettings_UserManangement_GroupBox1 {
  height: 470px;
}

#cntSettings_UserManangement_GroupBox1 {
  z-index: 4;
}

#cntSettings_UserManangement_Image2 {
  top: 123px;
  position: absolute;
}

#cntSettings_UserManangement_Image2 {
  left: 239px;
  position: absolute;
}

#cntSettings_UserManangement_Image2 {
  width: 61px;
}

#cntSettings_UserManangement_Image2 {
  height: 67px;
}

#cntSettings_UserManangement_Image2 {
  z-index: 0;
}

#cntSettings_UserManangement_ListBox3 {
  top: 43px;
  position: absolute;
}

#cntSettings_UserManangement_ListBox3 {
  left: 9px;
  position: absolute;
}

#cntSettings_UserManangement_ListBox3.ListBoxView {
  width: 233px;
}

#cntSettings_UserManangement_ListBox3.ListBoxView {
  height: 278px;
}

#cntSettings_UserManangement_ListBox3 {
  z-index: 1;
}

#cntSettings_UserManangement_ListBox3.ListBoxView {
  border-width: 2px;
}

#cntSettings_UserManangement_ListBox3.ListBoxView {
  border-style: double;
}

#cntSettings_UserManangement_ListBox3.ListBoxView {
  border-color: #474747;
}

#cntSettings_UserManangement_ListBox3 .ItemView:not(.itemSelected) {
  background-color: white;
}

#cntSettings_UserManangement_ListBox3 .ItemView.itemSelected {
  background-color: #ff8800;
}

#cntSettings_UserManangement_ListBox3 .ItemView:not(.lastItem) {
  border-bottom-color: rgba(255, 255, 255, 0);
}

#cntSettings_UserManangement_Rectangle2 {
  top: 53px;
  position: absolute;
}

#cntSettings_UserManangement_Rectangle2 {
  left: 299px;
  position: absolute;
}

#cntSettings_UserManangement_Rectangle2 {
  width: 521px;
}

#cntSettings_UserManangement_Rectangle2 {
  height: 200px;
}

#cntSettings_UserManangement_Rectangle2 {
  z-index: 2;
}

#cntSettings_UserManangement_Rectangle2 {
  border-width: 2px;
}

#cntSettings_UserManangement_labPasswordLogin4 {
  top: 2px;
  position: absolute;
}

#cntSettings_UserManangement_labPasswordLogin4 {
  left: -1px;
  position: absolute;
}

#cntSettings_UserManangement_labPasswordLogin4 {
  width: 241px;
}

#cntSettings_UserManangement_labPasswordLogin4 {
  height: 37px;
}

#cntSettings_UserManangement_labPasswordLogin4 {
  z-index: 3;
}

#cntSettings_UserManangement_labPasswordLogin4 {
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntSettings_UserManangement_labPasswordLogin4 {
  font-size: 20px;
}

#cntSettings_UserManangement_labPasswordLogin4 span {
  padding: 0px;
}

#cntSettings_UserManangement_labPasswordLogin5 {
  top: 13px;
  position: absolute;
}

#cntSettings_UserManangement_labPasswordLogin5 {
  left: 459px;
  position: absolute;
}

#cntSettings_UserManangement_labPasswordLogin5 {
  width: 241px;
}

#cntSettings_UserManangement_labPasswordLogin5 {
  height: 37px;
}

#cntSettings_UserManangement_labPasswordLogin5 {
  z-index: 4;
}

#cntSettings_UserManangement_labPasswordLogin5 {
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntSettings_UserManangement_labPasswordLogin5 {
  font-size: 20px;
}

#cntSettings_UserManangement_labPasswordLogin5 span {
  padding: 0px;
}

#cntSettings_UserManangement_labUserLogin6 {
  height: 30px;
}

#cntSettings_UserManangement_labUserLogin6 {
  top: 83px;
  position: absolute;
}

#cntSettings_UserManangement_labUserLogin6 {
  left: 309px;
  position: absolute;
}

#cntSettings_UserManangement_labUserLogin6 {
  width: 161px;
}

#cntSettings_UserManangement_labUserLogin6 {
  z-index: 5;
}

#cntSettings_UserManangement_labUserLogin6 {
  justify-content: flex-start;
  text-align: left;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntSettings_UserManangement_labUserLogin6 {
  font-size: 20px;
}

#cntSettings_UserManangement_labUserLogin6 span {
  padding: 0px;
}

#cntSettings_UserManangement_labUserLogin7 {
  height: 30px;
}

#cntSettings_UserManangement_labUserLogin7 {
  top: 143px;
  position: absolute;
}

#cntSettings_UserManangement_labUserLogin7 {
  left: 309px;
  position: absolute;
}

#cntSettings_UserManangement_labUserLogin7 {
  width: 161px;
}

#cntSettings_UserManangement_labUserLogin7 {
  z-index: 6;
}

#cntSettings_UserManangement_labUserLogin7 {
  justify-content: flex-start;
  text-align: left;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntSettings_UserManangement_labUserLogin7 {
  font-size: 20px;
}

#cntSettings_UserManangement_labUserLogin7 span {
  padding: 0px;
}

#cntSettings_UserManangement_labUserLogin8 {
  height: 30px;
}

#cntSettings_UserManangement_labUserLogin8 {
  top: 203px;
  position: absolute;
}

#cntSettings_UserManangement_labUserLogin8 {
  left: 309px;
  position: absolute;
}

#cntSettings_UserManangement_labUserLogin8 {
  width: 161px;
}

#cntSettings_UserManangement_labUserLogin8 {
  z-index: 7;
}

#cntSettings_UserManangement_labUserLogin8 {
  justify-content: flex-start;
  text-align: left;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntSettings_UserManangement_labUserLogin8 {
  font-size: 20px;
}

#cntSettings_UserManangement_labUserLogin8 span {
  padding: 0px;
}

#cntSettings_UserManangement_TextOutput2 {
  height: 30px;
}

#cntSettings_UserManangement_TextOutput2 {
  top: 83px;
  position: absolute;
}

#cntSettings_UserManangement_TextOutput2 {
  left: 599px;
  position: absolute;
}

#cntSettings_UserManangement_TextOutput2 {
  width: 231px;
}

#cntSettings_UserManangement_TextOutput2 {
  z-index: 8;
}

#cntSettings_UserManangement_TextOutput2 {
  justify-content: flex-end;
  text-align: right;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntSettings_UserManangement_NumericOutput1 {
  height: 30px;
}

#cntSettings_UserManangement_NumericOutput1 {
  top: 143px;
  position: absolute;
}

#cntSettings_UserManangement_NumericOutput1 {
  left: 589px;
  position: absolute;
}

#cntSettings_UserManangement_NumericOutput1 {
  width: 241px;
}

#cntSettings_UserManangement_NumericOutput1 {
  z-index: 9;
}

#cntSettings_UserManangement_TextOutput_AdminRight {
  top: 203px;
  position: absolute;
}

#cntSettings_UserManangement_TextOutput_AdminRight {
  left: 739px;
  position: absolute;
}

#cntSettings_UserManangement_TextOutput_AdminRight {
  width: 91px;
}

#cntSettings_UserManangement_TextOutput_AdminRight {
  height: 33px;
}

#cntSettings_UserManangement_TextOutput_AdminRight {
  z-index: 10;
}

#cntSettings_UserManangement_PushButton_CreateNewUser1 {
  top: 343px;
  position: absolute;
}

#cntSettings_UserManangement_PushButton_CreateNewUser1 {
  left: 19px;
  position: absolute;
}

#cntSettings_UserManangement_PushButton_CreateNewUser1 {
  width: 241px;
}

#cntSettings_UserManangement_PushButton_CreateNewUser1 {
  height: 52px;
}

#cntSettings_UserManangement_PushButton_CreateNewUser1 {
  z-index: 11;
}

#cntSettings_UserManangement_PushButton_CreateNewUser1 {
  border-radius: 8px;
}

#cntSettings_UserManangement_PushButton_removeSelectedRole {
  top: 353px;
  position: absolute;
}

#cntSettings_UserManangement_PushButton_removeSelectedRole {
  left: 359px;
  position: absolute;
}

#cntSettings_UserManangement_PushButton_removeSelectedRole {
  width: 241px;
}

#cntSettings_UserManangement_PushButton_removeSelectedRole {
  height: 52px;
}

#cntSettings_UserManangement_PushButton_removeSelectedRole {
  z-index: 12;
}

#cntSettings_UserManangement_PushButton_removeSelectedRole {
  border-radius: 8px;
}

#cntSettings_UserManangement_PushButton_removeSelectedRole:not(.disabled):not(.active):not(.checked) {
  background-image: linear-gradient(to bottom,#eb0909 0%,#eda6a6 100%);
}
