#cntSafetyOutputsCell_2_GridLine1 {
  top: 0px;
  position: absolute;
}

#cntSafetyOutputsCell_2_GridLine1 {
  left: 0px;
  position: absolute;
}

#cntSafetyOutputsCell_2_GridLine1 {
  width: 300px;
}

#cntSafetyOutputsCell_2_GridLine1 {
  height: 540px;
}

#cntSafetyOutputsCell_2_GridLine1 {
  z-index: 0;
}

#cntSafetyOutputsCell_2_GridLine1 {
  margin: 0px 0px 0px 0px;
}

#cntSafetyOutputsCell_2_GridLine1 .container {
  padding: 5px 0px;
}

#cntSafetyOutputsCell_2_GridLineItem1 {
  z-index: 0;
}

#cntSafetyOutputsCell_2_GridLineItem1 {
  padding: 0px 10px 10px 10px;
}

#cntSafetyOutputsCell_2_Label3 {
  top: 0px;
  position: absolute;
}

#cntSafetyOutputsCell_2_Label3 {
  left: 35px;
  position: absolute;
}

#cntSafetyOutputsCell_2_Label3 {
  width: 200px;
}

#cntSafetyOutputsCell_2_Label3 {
  height: 20px;
}

#cntSafetyOutputsCell_2_Label3 {
  z-index: 0;
}

#cntSafetyOutputsCell_2_Label3 span {
  color: dimgray;
}

#cntSafetyOutputsCell_2_Label3 {
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntSafetyOutputsCell_2_Label3 span {
  text-decoration: underline;
}

#cntSafetyOutputsCell_2_ImageList5 {
  top: 35px;
  position: absolute;
}

#cntSafetyOutputsCell_2_ImageList5 {
  left: 10px;
  position: absolute;
}

#cntSafetyOutputsCell_2_ImageList5 {
  width: 20px;
}

#cntSafetyOutputsCell_2_ImageList5 {
  height: 20px;
}

#cntSafetyOutputsCell_2_ImageList5 {
  z-index: 1;
}

#cntSafetyOutputsCell_2_ImageList6 {
  top: 65px;
  position: absolute;
}

#cntSafetyOutputsCell_2_ImageList6 {
  left: 10px;
  position: absolute;
}

#cntSafetyOutputsCell_2_ImageList6 {
  width: 20px;
}

#cntSafetyOutputsCell_2_ImageList6 {
  height: 20px;
}

#cntSafetyOutputsCell_2_ImageList6 {
  z-index: 2;
}

#cntSafetyOutputsCell_2_ImageList7 {
  top: 95px;
  position: absolute;
}

#cntSafetyOutputsCell_2_ImageList7 {
  left: 10px;
  position: absolute;
}

#cntSafetyOutputsCell_2_ImageList7 {
  width: 20px;
}

#cntSafetyOutputsCell_2_ImageList7 {
  height: 20px;
}

#cntSafetyOutputsCell_2_ImageList7 {
  z-index: 3;
}

#cntSafetyOutputsCell_2_ImageList8 {
  top: 125px;
  position: absolute;
}

#cntSafetyOutputsCell_2_ImageList8 {
  left: 10px;
  position: absolute;
}

#cntSafetyOutputsCell_2_ImageList8 {
  width: 20px;
}

#cntSafetyOutputsCell_2_ImageList8 {
  height: 20px;
}

#cntSafetyOutputsCell_2_ImageList8 {
  z-index: 4;
}

#cntSafetyOutputsCell_2_Label_do37 {
  top: 35px;
  position: absolute;
}

#cntSafetyOutputsCell_2_Label_do37 {
  left: 45px;
  position: absolute;
}

#cntSafetyOutputsCell_2_Label_do37 {
  width: 220px;
}

#cntSafetyOutputsCell_2_Label_do37 {
  height: 20px;
}

#cntSafetyOutputsCell_2_Label_do37 {
  z-index: 5;
}

#cntSafetyOutputsCell_2_Label_do38 {
  top: 65px;
  position: absolute;
}

#cntSafetyOutputsCell_2_Label_do38 {
  left: 45px;
  position: absolute;
}

#cntSafetyOutputsCell_2_Label_do38 {
  width: 220px;
}

#cntSafetyOutputsCell_2_Label_do38 {
  height: 20px;
}

#cntSafetyOutputsCell_2_Label_do38 {
  z-index: 6;
}

#cntSafetyOutputsCell_2_Label_do39 {
  top: 95px;
  position: absolute;
}

#cntSafetyOutputsCell_2_Label_do39 {
  left: 45px;
  position: absolute;
}

#cntSafetyOutputsCell_2_Label_do39 {
  width: 220px;
}

#cntSafetyOutputsCell_2_Label_do39 {
  height: 20px;
}

#cntSafetyOutputsCell_2_Label_do39 {
  z-index: 7;
}

#cntSafetyOutputsCell_2_Label_do40 {
  top: 125px;
  position: absolute;
}

#cntSafetyOutputsCell_2_Label_do40 {
  left: 45px;
  position: absolute;
}

#cntSafetyOutputsCell_2_Label_do40 {
  width: 220px;
}

#cntSafetyOutputsCell_2_Label_do40 {
  height: 20px;
}

#cntSafetyOutputsCell_2_Label_do40 {
  z-index: 8;
}

#cntSafetyOutputsCell_2_GridLineItem2 {
  z-index: 1;
}

#cntSafetyOutputsCell_2_GridLineItem2 {
  padding: 0px 10px 10px 10px;
}

#cntSafetyOutputsCell_2_Label2 {
  top: 0px;
  position: absolute;
}

#cntSafetyOutputsCell_2_Label2 {
  left: 50px;
  position: absolute;
}

#cntSafetyOutputsCell_2_Label2 {
  width: 200px;
}

#cntSafetyOutputsCell_2_Label2 {
  height: 20px;
}

#cntSafetyOutputsCell_2_Label2 {
  z-index: 0;
}

#cntSafetyOutputsCell_2_Label2 span {
  color: dimgray;
}

#cntSafetyOutputsCell_2_Label2 {
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntSafetyOutputsCell_2_Label2 span {
  text-decoration: underline;
}

#cntSafetyOutputsCell_2_ImageList1 {
  top: 35px;
  position: absolute;
}

#cntSafetyOutputsCell_2_ImageList1 {
  left: 10px;
  position: absolute;
}

#cntSafetyOutputsCell_2_ImageList1 {
  width: 20px;
}

#cntSafetyOutputsCell_2_ImageList1 {
  height: 20px;
}

#cntSafetyOutputsCell_2_ImageList1 {
  z-index: 1;
}

#cntSafetyOutputsCell_2_ImageList2 {
  top: 65px;
  position: absolute;
}

#cntSafetyOutputsCell_2_ImageList2 {
  left: 10px;
  position: absolute;
}

#cntSafetyOutputsCell_2_ImageList2 {
  width: 20px;
}

#cntSafetyOutputsCell_2_ImageList2 {
  height: 20px;
}

#cntSafetyOutputsCell_2_ImageList2 {
  z-index: 2;
}

#cntSafetyOutputsCell_2_ImageList3 {
  top: 95px;
  position: absolute;
}

#cntSafetyOutputsCell_2_ImageList3 {
  left: 10px;
  position: absolute;
}

#cntSafetyOutputsCell_2_ImageList3 {
  width: 20px;
}

#cntSafetyOutputsCell_2_ImageList3 {
  height: 20px;
}

#cntSafetyOutputsCell_2_ImageList3 {
  z-index: 3;
}

#cntSafetyOutputsCell_2_ImageList4 {
  top: 125px;
  position: absolute;
}

#cntSafetyOutputsCell_2_ImageList4 {
  left: 10px;
  position: absolute;
}

#cntSafetyOutputsCell_2_ImageList4 {
  width: 20px;
}

#cntSafetyOutputsCell_2_ImageList4 {
  height: 20px;
}

#cntSafetyOutputsCell_2_ImageList4 {
  z-index: 4;
}

#cntSafetyOutputsCell_2_Label_do33 {
  top: 35px;
  position: absolute;
}

#cntSafetyOutputsCell_2_Label_do33 {
  left: 45px;
  position: absolute;
}

#cntSafetyOutputsCell_2_Label_do33 {
  width: 220px;
}

#cntSafetyOutputsCell_2_Label_do33 {
  height: 20px;
}

#cntSafetyOutputsCell_2_Label_do33 {
  z-index: 5;
}

#cntSafetyOutputsCell_2_Label_do34 {
  top: 65px;
  position: absolute;
}

#cntSafetyOutputsCell_2_Label_do34 {
  left: 45px;
  position: absolute;
}

#cntSafetyOutputsCell_2_Label_do34 {
  width: 220px;
}

#cntSafetyOutputsCell_2_Label_do34 {
  height: 20px;
}

#cntSafetyOutputsCell_2_Label_do34 {
  z-index: 6;
}

#cntSafetyOutputsCell_2_Label_do35 {
  top: 95px;
  position: absolute;
}

#cntSafetyOutputsCell_2_Label_do35 {
  left: 45px;
  position: absolute;
}

#cntSafetyOutputsCell_2_Label_do35 {
  width: 220px;
}

#cntSafetyOutputsCell_2_Label_do35 {
  height: 20px;
}

#cntSafetyOutputsCell_2_Label_do35 {
  z-index: 7;
}

#cntSafetyOutputsCell_2_Label_do36 {
  top: 125px;
  position: absolute;
}

#cntSafetyOutputsCell_2_Label_do36 {
  left: 45px;
  position: absolute;
}

#cntSafetyOutputsCell_2_Label_do36 {
  width: 220px;
}

#cntSafetyOutputsCell_2_Label_do36 {
  height: 20px;
}

#cntSafetyOutputsCell_2_Label_do36 {
  z-index: 8;
}

#cntSafetyOutputsCell_2_GridLineItem3 {
  z-index: 2;
}

#cntSafetyOutputsCell_2_GridLineItem3 {
  padding: 0px 10px 10px 10px;
}

#cntSafetyOutputsCell_2_Label4 {
  top: 0px;
  position: absolute;
}

#cntSafetyOutputsCell_2_Label4 {
  left: 50px;
  position: absolute;
}

#cntSafetyOutputsCell_2_Label4 {
  width: 200px;
}

#cntSafetyOutputsCell_2_Label4 {
  height: 20px;
}

#cntSafetyOutputsCell_2_Label4 {
  z-index: 0;
}

#cntSafetyOutputsCell_2_Label4 span {
  color: dimgray;
}

#cntSafetyOutputsCell_2_Label4 {
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntSafetyOutputsCell_2_Label4 span {
  text-decoration: underline;
}

#cntSafetyOutputsCell_2_ImageList9 {
  top: 35px;
  position: absolute;
}

#cntSafetyOutputsCell_2_ImageList9 {
  left: 10px;
  position: absolute;
}

#cntSafetyOutputsCell_2_ImageList9 {
  width: 20px;
}

#cntSafetyOutputsCell_2_ImageList9 {
  height: 20px;
}

#cntSafetyOutputsCell_2_ImageList9 {
  z-index: 1;
}

#cntSafetyOutputsCell_2_ImageList10 {
  top: 65px;
  position: absolute;
}

#cntSafetyOutputsCell_2_ImageList10 {
  left: 10px;
  position: absolute;
}

#cntSafetyOutputsCell_2_ImageList10 {
  width: 20px;
}

#cntSafetyOutputsCell_2_ImageList10 {
  height: 20px;
}

#cntSafetyOutputsCell_2_ImageList10 {
  z-index: 2;
}

#cntSafetyOutputsCell_2_ImageList11 {
  top: 95px;
  position: absolute;
}

#cntSafetyOutputsCell_2_ImageList11 {
  left: 10px;
  position: absolute;
}

#cntSafetyOutputsCell_2_ImageList11 {
  width: 20px;
}

#cntSafetyOutputsCell_2_ImageList11 {
  height: 20px;
}

#cntSafetyOutputsCell_2_ImageList11 {
  z-index: 3;
}

#cntSafetyOutputsCell_2_ImageList12 {
  top: 125px;
  position: absolute;
}

#cntSafetyOutputsCell_2_ImageList12 {
  left: 10px;
  position: absolute;
}

#cntSafetyOutputsCell_2_ImageList12 {
  width: 20px;
}

#cntSafetyOutputsCell_2_ImageList12 {
  height: 20px;
}

#cntSafetyOutputsCell_2_ImageList12 {
  z-index: 4;
}

#cntSafetyOutputsCell_2_Label_do41 {
  top: 35px;
  position: absolute;
}

#cntSafetyOutputsCell_2_Label_do41 {
  left: 45px;
  position: absolute;
}

#cntSafetyOutputsCell_2_Label_do41 {
  width: 220px;
}

#cntSafetyOutputsCell_2_Label_do41 {
  height: 20px;
}

#cntSafetyOutputsCell_2_Label_do41 {
  z-index: 5;
}

#cntSafetyOutputsCell_2_Label_do42 {
  top: 65px;
  position: absolute;
}

#cntSafetyOutputsCell_2_Label_do42 {
  left: 45px;
  position: absolute;
}

#cntSafetyOutputsCell_2_Label_do42 {
  width: 220px;
}

#cntSafetyOutputsCell_2_Label_do42 {
  height: 20px;
}

#cntSafetyOutputsCell_2_Label_do42 {
  z-index: 6;
}

#cntSafetyOutputsCell_2_Label_do43 {
  top: 95px;
  position: absolute;
}

#cntSafetyOutputsCell_2_Label_do43 {
  left: 45px;
  position: absolute;
}

#cntSafetyOutputsCell_2_Label_do43 {
  width: 220px;
}

#cntSafetyOutputsCell_2_Label_do43 {
  height: 20px;
}

#cntSafetyOutputsCell_2_Label_do43 {
  z-index: 7;
}

#cntSafetyOutputsCell_2_Label_do44 {
  top: 125px;
  position: absolute;
}

#cntSafetyOutputsCell_2_Label_do44 {
  left: 45px;
  position: absolute;
}

#cntSafetyOutputsCell_2_Label_do44 {
  width: 220px;
}

#cntSafetyOutputsCell_2_Label_do44 {
  height: 20px;
}

#cntSafetyOutputsCell_2_Label_do44 {
  z-index: 8;
}

#cntSafetyOutputsCell_2_CheckBox_SafetyOut {
  top: 0px;
  position: absolute;
}

#cntSafetyOutputsCell_2_CheckBox_SafetyOut {
  left: 250px;
  position: absolute;
}

#cntSafetyOutputsCell_2_CheckBox_SafetyOut {
  width: 45px;
}

#cntSafetyOutputsCell_2_CheckBox_SafetyOut {
  height: 45px;
}

#cntSafetyOutputsCell_2_CheckBox_SafetyOut {
  z-index: 1;
}

#cntSafetyOutputsCell_2_CheckBox_SafetyOut span {
  font-style: italic;
}

#cntSafetyOutputsCell_2_CheckBox_SafetyOut.checked:not(.disabled) svg {
  fill: red;
}
