﻿@import "mixins.scss";
#cntSafetyOutputsCell_2_GridLine1 {
	@include elemTop(0);
}
#cntSafetyOutputsCell_2_GridLine1 {
	@include elemLeft(0);
}
#cntSafetyOutputsCell_2_GridLine1 {
	@include elemWidth(300);
}
#cntSafetyOutputsCell_2_GridLine1 {
	@include elemHeight(540);
}
#cntSafetyOutputsCell_2_GridLine1 {
		z-index: 0;
}
#cntSafetyOutputsCell_2_GridLine1 {
		margin: 0px 0px 0px 0px;
}
#cntSafetyOutputsCell_2_GridLine1 {
	.container{
		padding: 5px 0px;
	}
}
#cntSafetyOutputsCell_2_GridLineItem1 {
		z-index: 0;
}
#cntSafetyOutputsCell_2_GridLineItem1 {
		padding: 0px 10px 10px 10px;
}
#cntSafetyOutputsCell_2_Label3 {
	@include elemTop(0);
}
#cntSafetyOutputsCell_2_Label3 {
	@include elemLeft(35);
}
#cntSafetyOutputsCell_2_Label3 {
	@include elemAutoWidth(200);
}
#cntSafetyOutputsCell_2_Label3 {
	@include elemAutoHeight(20);
}
#cntSafetyOutputsCell_2_Label3 {
		z-index: 0;
}
#cntSafetyOutputsCell_2_Label3 {
	& span{
		color: rgba(105, 105, 105, 1);
	}
}
#cntSafetyOutputsCell_2_Label3 {
	@include text-alignment-all('center');
}
#cntSafetyOutputsCell_2_Label3 {
	span{
	@include text-decoration-underline(true);
	}
}
#cntSafetyOutputsCell_2_ImageList5 {
	@include elemTop(35);
}
#cntSafetyOutputsCell_2_ImageList5 {
	@include elemLeft(10);
}
#cntSafetyOutputsCell_2_ImageList5 {
	@include elemWidth(20);
}
#cntSafetyOutputsCell_2_ImageList5 {
	@include elemHeight(20);
}
#cntSafetyOutputsCell_2_ImageList5 {
		z-index: 1;
}
#cntSafetyOutputsCell_2_ImageList6 {
	@include elemTop(65);
}
#cntSafetyOutputsCell_2_ImageList6 {
	@include elemLeft(10);
}
#cntSafetyOutputsCell_2_ImageList6 {
	@include elemWidth(20);
}
#cntSafetyOutputsCell_2_ImageList6 {
	@include elemHeight(20);
}
#cntSafetyOutputsCell_2_ImageList6 {
		z-index: 2;
}
#cntSafetyOutputsCell_2_ImageList7 {
	@include elemTop(95);
}
#cntSafetyOutputsCell_2_ImageList7 {
	@include elemLeft(10);
}
#cntSafetyOutputsCell_2_ImageList7 {
	@include elemWidth(20);
}
#cntSafetyOutputsCell_2_ImageList7 {
	@include elemHeight(20);
}
#cntSafetyOutputsCell_2_ImageList7 {
		z-index: 3;
}
#cntSafetyOutputsCell_2_ImageList8 {
	@include elemTop(125);
}
#cntSafetyOutputsCell_2_ImageList8 {
	@include elemLeft(10);
}
#cntSafetyOutputsCell_2_ImageList8 {
	@include elemWidth(20);
}
#cntSafetyOutputsCell_2_ImageList8 {
	@include elemHeight(20);
}
#cntSafetyOutputsCell_2_ImageList8 {
		z-index: 4;
}
#cntSafetyOutputsCell_2_Label_do37 {
	@include elemTop(35);
}
#cntSafetyOutputsCell_2_Label_do37 {
	@include elemLeft(45);
}
#cntSafetyOutputsCell_2_Label_do37 {
	@include elemAutoWidth(220);
}
#cntSafetyOutputsCell_2_Label_do37 {
	@include elemAutoHeight(20);
}
#cntSafetyOutputsCell_2_Label_do37 {
		z-index: 5;
}
#cntSafetyOutputsCell_2_Label_do38 {
	@include elemTop(65);
}
#cntSafetyOutputsCell_2_Label_do38 {
	@include elemLeft(45);
}
#cntSafetyOutputsCell_2_Label_do38 {
	@include elemAutoWidth(220);
}
#cntSafetyOutputsCell_2_Label_do38 {
	@include elemAutoHeight(20);
}
#cntSafetyOutputsCell_2_Label_do38 {
		z-index: 6;
}
#cntSafetyOutputsCell_2_Label_do39 {
	@include elemTop(95);
}
#cntSafetyOutputsCell_2_Label_do39 {
	@include elemLeft(45);
}
#cntSafetyOutputsCell_2_Label_do39 {
	@include elemAutoWidth(220);
}
#cntSafetyOutputsCell_2_Label_do39 {
	@include elemAutoHeight(20);
}
#cntSafetyOutputsCell_2_Label_do39 {
		z-index: 7;
}
#cntSafetyOutputsCell_2_Label_do40 {
	@include elemTop(125);
}
#cntSafetyOutputsCell_2_Label_do40 {
	@include elemLeft(45);
}
#cntSafetyOutputsCell_2_Label_do40 {
	@include elemAutoWidth(220);
}
#cntSafetyOutputsCell_2_Label_do40 {
	@include elemAutoHeight(20);
}
#cntSafetyOutputsCell_2_Label_do40 {
		z-index: 8;
}
#cntSafetyOutputsCell_2_GridLineItem2 {
		z-index: 1;
}
#cntSafetyOutputsCell_2_GridLineItem2 {
		padding: 0px 10px 10px 10px;
}
#cntSafetyOutputsCell_2_Label2 {
	@include elemTop(0);
}
#cntSafetyOutputsCell_2_Label2 {
	@include elemLeft(50);
}
#cntSafetyOutputsCell_2_Label2 {
	@include elemAutoWidth(200);
}
#cntSafetyOutputsCell_2_Label2 {
	@include elemAutoHeight(20);
}
#cntSafetyOutputsCell_2_Label2 {
		z-index: 0;
}
#cntSafetyOutputsCell_2_Label2 {
	& span{
		color: rgba(105, 105, 105, 1);
	}
}
#cntSafetyOutputsCell_2_Label2 {
	@include text-alignment-all('center');
}
#cntSafetyOutputsCell_2_Label2 {
	span{
	@include text-decoration-underline(true);
	}
}
#cntSafetyOutputsCell_2_ImageList1 {
	@include elemTop(35);
}
#cntSafetyOutputsCell_2_ImageList1 {
	@include elemLeft(10);
}
#cntSafetyOutputsCell_2_ImageList1 {
	@include elemWidth(20);
}
#cntSafetyOutputsCell_2_ImageList1 {
	@include elemHeight(20);
}
#cntSafetyOutputsCell_2_ImageList1 {
		z-index: 1;
}
#cntSafetyOutputsCell_2_ImageList2 {
	@include elemTop(65);
}
#cntSafetyOutputsCell_2_ImageList2 {
	@include elemLeft(10);
}
#cntSafetyOutputsCell_2_ImageList2 {
	@include elemWidth(20);
}
#cntSafetyOutputsCell_2_ImageList2 {
	@include elemHeight(20);
}
#cntSafetyOutputsCell_2_ImageList2 {
		z-index: 2;
}
#cntSafetyOutputsCell_2_ImageList3 {
	@include elemTop(95);
}
#cntSafetyOutputsCell_2_ImageList3 {
	@include elemLeft(10);
}
#cntSafetyOutputsCell_2_ImageList3 {
	@include elemWidth(20);
}
#cntSafetyOutputsCell_2_ImageList3 {
	@include elemHeight(20);
}
#cntSafetyOutputsCell_2_ImageList3 {
		z-index: 3;
}
#cntSafetyOutputsCell_2_ImageList4 {
	@include elemTop(125);
}
#cntSafetyOutputsCell_2_ImageList4 {
	@include elemLeft(10);
}
#cntSafetyOutputsCell_2_ImageList4 {
	@include elemWidth(20);
}
#cntSafetyOutputsCell_2_ImageList4 {
	@include elemHeight(20);
}
#cntSafetyOutputsCell_2_ImageList4 {
		z-index: 4;
}
#cntSafetyOutputsCell_2_Label_do33 {
	@include elemTop(35);
}
#cntSafetyOutputsCell_2_Label_do33 {
	@include elemLeft(45);
}
#cntSafetyOutputsCell_2_Label_do33 {
	@include elemAutoWidth(220);
}
#cntSafetyOutputsCell_2_Label_do33 {
	@include elemAutoHeight(20);
}
#cntSafetyOutputsCell_2_Label_do33 {
		z-index: 5;
}
#cntSafetyOutputsCell_2_Label_do34 {
	@include elemTop(65);
}
#cntSafetyOutputsCell_2_Label_do34 {
	@include elemLeft(45);
}
#cntSafetyOutputsCell_2_Label_do34 {
	@include elemAutoWidth(220);
}
#cntSafetyOutputsCell_2_Label_do34 {
	@include elemAutoHeight(20);
}
#cntSafetyOutputsCell_2_Label_do34 {
		z-index: 6;
}
#cntSafetyOutputsCell_2_Label_do35 {
	@include elemTop(95);
}
#cntSafetyOutputsCell_2_Label_do35 {
	@include elemLeft(45);
}
#cntSafetyOutputsCell_2_Label_do35 {
	@include elemAutoWidth(220);
}
#cntSafetyOutputsCell_2_Label_do35 {
	@include elemAutoHeight(20);
}
#cntSafetyOutputsCell_2_Label_do35 {
		z-index: 7;
}
#cntSafetyOutputsCell_2_Label_do36 {
	@include elemTop(125);
}
#cntSafetyOutputsCell_2_Label_do36 {
	@include elemLeft(45);
}
#cntSafetyOutputsCell_2_Label_do36 {
	@include elemAutoWidth(220);
}
#cntSafetyOutputsCell_2_Label_do36 {
	@include elemAutoHeight(20);
}
#cntSafetyOutputsCell_2_Label_do36 {
		z-index: 8;
}
#cntSafetyOutputsCell_2_GridLineItem3 {
		z-index: 2;
}
#cntSafetyOutputsCell_2_GridLineItem3 {
		padding: 0px 10px 10px 10px;
}
#cntSafetyOutputsCell_2_Label4 {
	@include elemTop(0);
}
#cntSafetyOutputsCell_2_Label4 {
	@include elemLeft(50);
}
#cntSafetyOutputsCell_2_Label4 {
	@include elemAutoWidth(200);
}
#cntSafetyOutputsCell_2_Label4 {
	@include elemAutoHeight(20);
}
#cntSafetyOutputsCell_2_Label4 {
		z-index: 0;
}
#cntSafetyOutputsCell_2_Label4 {
	& span{
		color: rgba(105, 105, 105, 1);
	}
}
#cntSafetyOutputsCell_2_Label4 {
	@include text-alignment-all('center');
}
#cntSafetyOutputsCell_2_Label4 {
	span{
	@include text-decoration-underline(true);
	}
}
#cntSafetyOutputsCell_2_ImageList9 {
	@include elemTop(35);
}
#cntSafetyOutputsCell_2_ImageList9 {
	@include elemLeft(10);
}
#cntSafetyOutputsCell_2_ImageList9 {
	@include elemWidth(20);
}
#cntSafetyOutputsCell_2_ImageList9 {
	@include elemHeight(20);
}
#cntSafetyOutputsCell_2_ImageList9 {
		z-index: 1;
}
#cntSafetyOutputsCell_2_ImageList10 {
	@include elemTop(65);
}
#cntSafetyOutputsCell_2_ImageList10 {
	@include elemLeft(10);
}
#cntSafetyOutputsCell_2_ImageList10 {
	@include elemWidth(20);
}
#cntSafetyOutputsCell_2_ImageList10 {
	@include elemHeight(20);
}
#cntSafetyOutputsCell_2_ImageList10 {
		z-index: 2;
}
#cntSafetyOutputsCell_2_ImageList11 {
	@include elemTop(95);
}
#cntSafetyOutputsCell_2_ImageList11 {
	@include elemLeft(10);
}
#cntSafetyOutputsCell_2_ImageList11 {
	@include elemWidth(20);
}
#cntSafetyOutputsCell_2_ImageList11 {
	@include elemHeight(20);
}
#cntSafetyOutputsCell_2_ImageList11 {
		z-index: 3;
}
#cntSafetyOutputsCell_2_ImageList12 {
	@include elemTop(125);
}
#cntSafetyOutputsCell_2_ImageList12 {
	@include elemLeft(10);
}
#cntSafetyOutputsCell_2_ImageList12 {
	@include elemWidth(20);
}
#cntSafetyOutputsCell_2_ImageList12 {
	@include elemHeight(20);
}
#cntSafetyOutputsCell_2_ImageList12 {
		z-index: 4;
}
#cntSafetyOutputsCell_2_Label_do41 {
	@include elemTop(35);
}
#cntSafetyOutputsCell_2_Label_do41 {
	@include elemLeft(45);
}
#cntSafetyOutputsCell_2_Label_do41 {
	@include elemAutoWidth(220);
}
#cntSafetyOutputsCell_2_Label_do41 {
	@include elemAutoHeight(20);
}
#cntSafetyOutputsCell_2_Label_do41 {
		z-index: 5;
}
#cntSafetyOutputsCell_2_Label_do42 {
	@include elemTop(65);
}
#cntSafetyOutputsCell_2_Label_do42 {
	@include elemLeft(45);
}
#cntSafetyOutputsCell_2_Label_do42 {
	@include elemAutoWidth(220);
}
#cntSafetyOutputsCell_2_Label_do42 {
	@include elemAutoHeight(20);
}
#cntSafetyOutputsCell_2_Label_do42 {
		z-index: 6;
}
#cntSafetyOutputsCell_2_Label_do43 {
	@include elemTop(95);
}
#cntSafetyOutputsCell_2_Label_do43 {
	@include elemLeft(45);
}
#cntSafetyOutputsCell_2_Label_do43 {
	@include elemAutoWidth(220);
}
#cntSafetyOutputsCell_2_Label_do43 {
	@include elemAutoHeight(20);
}
#cntSafetyOutputsCell_2_Label_do43 {
		z-index: 7;
}
#cntSafetyOutputsCell_2_Label_do44 {
	@include elemTop(125);
}
#cntSafetyOutputsCell_2_Label_do44 {
	@include elemLeft(45);
}
#cntSafetyOutputsCell_2_Label_do44 {
	@include elemAutoWidth(220);
}
#cntSafetyOutputsCell_2_Label_do44 {
	@include elemAutoHeight(20);
}
#cntSafetyOutputsCell_2_Label_do44 {
		z-index: 8;
}
#cntSafetyOutputsCell_2_CheckBox_SafetyOut {
	@include elemTop(0);
}
#cntSafetyOutputsCell_2_CheckBox_SafetyOut {
	@include elemLeft(250);
}
#cntSafetyOutputsCell_2_CheckBox_SafetyOut {
	@include elemAutoWidth(45);
}
#cntSafetyOutputsCell_2_CheckBox_SafetyOut {
	@include elemAutoHeight(45);
}
#cntSafetyOutputsCell_2_CheckBox_SafetyOut {
		z-index: 1;
}
#cntSafetyOutputsCell_2_CheckBox_SafetyOut {
	span{
	@include font-style-italic(true);
	}
}
#cntSafetyOutputsCell_2_CheckBox_SafetyOut {
	&.checked:not(.disabled) svg{
		fill: rgba(255, 0, 0, 1);
	}
}
