﻿@import "mixins.scss";
#cntCPXOutputsCell_2_GridLine1 {
	@include elemTop(0);
}
#cntCPXOutputsCell_2_GridLine1 {
	@include elemLeft(0);
}
#cntCPXOutputsCell_2_GridLine1 {
	@include elemWidth(300);
}
#cntCPXOutputsCell_2_GridLine1 {
	@include elemHeight(540);
}
#cntCPXOutputsCell_2_GridLine1 {
		z-index: 0;
}
#cntCPXOutputsCell_2_GridLine1 {
	.container{
		padding: 5px 0px;
	}
}
#cntCPXOutputsCell_2_GridLineItem1 {
		z-index: 0;
}
#cntCPXOutputsCell_2_GridLineItem1 {
		padding: 0px 10px 10px 10px;
}
#cntCPXOutputsCell_2_CheckBox_CPXOut {
	@include elemTop(-5);
}
#cntCPXOutputsCell_2_CheckBox_CPXOut {
	@include elemLeft(245);
}
#cntCPXOutputsCell_2_CheckBox_CPXOut {
	@include elemAutoWidth(45);
}
#cntCPXOutputsCell_2_CheckBox_CPXOut {
	@include elemAutoHeight(45);
}
#cntCPXOutputsCell_2_CheckBox_CPXOut {
		z-index: 0;
}
#cntCPXOutputsCell_2_CheckBox_CPXOut {
	span{
	@include font-style-italic(true);
	}
}
#cntCPXOutputsCell_2_CheckBox_CPXOut {
	&.checked:not(.disabled) svg{
		fill: rgba(255, 0, 0, 1);
	}
}
#cntCPXOutputsCell_2_Label3 {
	@include elemTop(2);
}
#cntCPXOutputsCell_2_Label3 {
	@include elemLeft(30);
}
#cntCPXOutputsCell_2_Label3 {
	@include elemAutoWidth(221);
}
#cntCPXOutputsCell_2_Label3 {
	@include elemAutoHeight(20);
}
#cntCPXOutputsCell_2_Label3 {
		z-index: 1;
}
#cntCPXOutputsCell_2_Label3 {
	& span{
		color: rgba(105, 105, 105, 1);
	}
}
#cntCPXOutputsCell_2_Label3 {
	@include text-alignment-all('center');
}
#cntCPXOutputsCell_2_Label3 {
		font-size: 18px;
}
#cntCPXOutputsCell_2_Label3 {
	span{
	@include text-decoration-underline(true);
	}
}
#cntCPXOutputsCell_2_ImageList15 {
	@include elemTop(95);
}
#cntCPXOutputsCell_2_ImageList15 {
	@include elemLeft(15);
}
#cntCPXOutputsCell_2_ImageList15 {
	@include elemWidth(20);
}
#cntCPXOutputsCell_2_ImageList15 {
	@include elemHeight(20);
}
#cntCPXOutputsCell_2_ImageList15 {
		z-index: 1;
}
#cntCPXOutputsCell_2_ImageList16 {
	@include elemTop(125);
}
#cntCPXOutputsCell_2_ImageList16 {
	@include elemLeft(15);
}
#cntCPXOutputsCell_2_ImageList16 {
	@include elemWidth(20);
}
#cntCPXOutputsCell_2_ImageList16 {
	@include elemHeight(20);
}
#cntCPXOutputsCell_2_ImageList16 {
		z-index: 2;
}
#cntCPXOutputsCell_2_ImageList17 {
	@include elemTop(155);
}
#cntCPXOutputsCell_2_ImageList17 {
	@include elemLeft(15);
}
#cntCPXOutputsCell_2_ImageList17 {
	@include elemWidth(20);
}
#cntCPXOutputsCell_2_ImageList17 {
	@include elemHeight(20);
}
#cntCPXOutputsCell_2_ImageList17 {
		z-index: 3;
}
#cntCPXOutputsCell_2_ImageList18 {
	@include elemTop(185);
}
#cntCPXOutputsCell_2_ImageList18 {
	@include elemLeft(15);
}
#cntCPXOutputsCell_2_ImageList18 {
	@include elemWidth(20);
}
#cntCPXOutputsCell_2_ImageList18 {
	@include elemHeight(20);
}
#cntCPXOutputsCell_2_ImageList18 {
		z-index: 4;
}
#cntCPXOutputsCell_2_ImageList19 {
	@include elemTop(215);
}
#cntCPXOutputsCell_2_ImageList19 {
	@include elemLeft(15);
}
#cntCPXOutputsCell_2_ImageList19 {
	@include elemWidth(20);
}
#cntCPXOutputsCell_2_ImageList19 {
	@include elemHeight(20);
}
#cntCPXOutputsCell_2_ImageList19 {
		z-index: 5;
}
#cntCPXOutputsCell_2_ImageList20 {
	@include elemTop(245);
}
#cntCPXOutputsCell_2_ImageList20 {
	@include elemLeft(15);
}
#cntCPXOutputsCell_2_ImageList20 {
	@include elemWidth(20);
}
#cntCPXOutputsCell_2_ImageList20 {
	@include elemHeight(20);
}
#cntCPXOutputsCell_2_ImageList20 {
		z-index: 6;
}
#cntCPXOutputsCell_2_ImageList49 {
	@include elemTop(65);
}
#cntCPXOutputsCell_2_ImageList49 {
	@include elemLeft(15);
}
#cntCPXOutputsCell_2_ImageList49 {
	@include elemWidth(20);
}
#cntCPXOutputsCell_2_ImageList49 {
	@include elemHeight(20);
}
#cntCPXOutputsCell_2_ImageList49 {
		z-index: 7;
}
#cntCPXOutputsCell_2_ImageList50 {
	@include elemTop(35);
}
#cntCPXOutputsCell_2_ImageList50 {
	@include elemLeft(15);
}
#cntCPXOutputsCell_2_ImageList50 {
	@include elemWidth(20);
}
#cntCPXOutputsCell_2_ImageList50 {
	@include elemHeight(20);
}
#cntCPXOutputsCell_2_ImageList50 {
		z-index: 8;
}
#cntCPXOutputsCell_2_Label_do49 {
	@include elemTop(35);
}
#cntCPXOutputsCell_2_Label_do49 {
	@include elemLeft(45);
}
#cntCPXOutputsCell_2_Label_do49 {
	@include elemAutoWidth(230);
}
#cntCPXOutputsCell_2_Label_do49 {
	@include elemAutoHeight(20);
}
#cntCPXOutputsCell_2_Label_do49 {
		z-index: 9;
}
#cntCPXOutputsCell_2_Label_do50 {
	@include elemTop(65);
}
#cntCPXOutputsCell_2_Label_do50 {
	@include elemLeft(45);
}
#cntCPXOutputsCell_2_Label_do50 {
	@include elemAutoWidth(230);
}
#cntCPXOutputsCell_2_Label_do50 {
	@include elemAutoHeight(20);
}
#cntCPXOutputsCell_2_Label_do50 {
		z-index: 10;
}
#cntCPXOutputsCell_2_Label_do51 {
	@include elemTop(95);
}
#cntCPXOutputsCell_2_Label_do51 {
	@include elemLeft(45);
}
#cntCPXOutputsCell_2_Label_do51 {
	@include elemAutoWidth(230);
}
#cntCPXOutputsCell_2_Label_do51 {
	@include elemAutoHeight(20);
}
#cntCPXOutputsCell_2_Label_do51 {
		z-index: 11;
}
#cntCPXOutputsCell_2_Label_do52 {
	@include elemTop(125);
}
#cntCPXOutputsCell_2_Label_do52 {
	@include elemLeft(45);
}
#cntCPXOutputsCell_2_Label_do52 {
	@include elemAutoWidth(230);
}
#cntCPXOutputsCell_2_Label_do52 {
	@include elemAutoHeight(20);
}
#cntCPXOutputsCell_2_Label_do52 {
		z-index: 12;
}
#cntCPXOutputsCell_2_Label_do53 {
	@include elemTop(155);
}
#cntCPXOutputsCell_2_Label_do53 {
	@include elemLeft(45);
}
#cntCPXOutputsCell_2_Label_do53 {
	@include elemAutoWidth(230);
}
#cntCPXOutputsCell_2_Label_do53 {
	@include elemAutoHeight(20);
}
#cntCPXOutputsCell_2_Label_do53 {
		z-index: 13;
}
#cntCPXOutputsCell_2_Label_do54 {
	@include elemTop(185);
}
#cntCPXOutputsCell_2_Label_do54 {
	@include elemLeft(45);
}
#cntCPXOutputsCell_2_Label_do54 {
	@include elemAutoWidth(230);
}
#cntCPXOutputsCell_2_Label_do54 {
	@include elemAutoHeight(20);
}
#cntCPXOutputsCell_2_Label_do54 {
		z-index: 14;
}
#cntCPXOutputsCell_2_Label_do55 {
	@include elemTop(215);
}
#cntCPXOutputsCell_2_Label_do55 {
	@include elemLeft(45);
}
#cntCPXOutputsCell_2_Label_do55 {
	@include elemAutoWidth(230);
}
#cntCPXOutputsCell_2_Label_do55 {
	@include elemAutoHeight(20);
}
#cntCPXOutputsCell_2_Label_do55 {
		z-index: 15;
}
#cntCPXOutputsCell_2_Label_do56 {
	@include elemTop(245);
}
#cntCPXOutputsCell_2_Label_do56 {
	@include elemLeft(45);
}
#cntCPXOutputsCell_2_Label_do56 {
	@include elemAutoWidth(230);
}
#cntCPXOutputsCell_2_Label_do56 {
	@include elemAutoHeight(20);
}
#cntCPXOutputsCell_2_Label_do56 {
		z-index: 16;
}
