#cntCPXOutputsCell_2_GridLine1 {
  top: 0px;
  position: absolute;
}

#cntCPXOutputsCell_2_GridLine1 {
  left: 0px;
  position: absolute;
}

#cntCPXOutputsCell_2_GridLine1 {
  width: 300px;
}

#cntCPXOutputsCell_2_GridLine1 {
  height: 540px;
}

#cntCPXOutputsCell_2_GridLine1 {
  z-index: 0;
}

#cntCPXOutputsCell_2_GridLine1 .container {
  padding: 5px 0px;
}

#cntCPXOutputsCell_2_GridLineItem1 {
  z-index: 0;
}

#cntCPXOutputsCell_2_GridLineItem1 {
  padding: 0px 10px 10px 10px;
}

#cntCPXOutputsCell_2_CheckBox_CPXOut {
  top: -5px;
  position: absolute;
}

#cntCPXOutputsCell_2_CheckBox_CPXOut {
  left: 245px;
  position: absolute;
}

#cntCPXOutputsCell_2_CheckBox_CPXOut {
  width: 45px;
}

#cntCPXOutputsCell_2_CheckBox_CPXOut {
  height: 45px;
}

#cntCPXOutputsCell_2_CheckBox_CPXOut {
  z-index: 0;
}

#cntCPXOutputsCell_2_CheckBox_CPXOut span {
  font-style: italic;
}

#cntCPXOutputsCell_2_CheckBox_CPXOut.checked:not(.disabled) svg {
  fill: red;
}

#cntCPXOutputsCell_2_Label3 {
  top: 2px;
  position: absolute;
}

#cntCPXOutputsCell_2_Label3 {
  left: 30px;
  position: absolute;
}

#cntCPXOutputsCell_2_Label3 {
  width: 221px;
}

#cntCPXOutputsCell_2_Label3 {
  height: 20px;
}

#cntCPXOutputsCell_2_Label3 {
  z-index: 1;
}

#cntCPXOutputsCell_2_Label3 span {
  color: dimgray;
}

#cntCPXOutputsCell_2_Label3 {
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cntCPXOutputsCell_2_Label3 {
  font-size: 18px;
}

#cntCPXOutputsCell_2_Label3 span {
  text-decoration: underline;
}

#cntCPXOutputsCell_2_ImageList15 {
  top: 95px;
  position: absolute;
}

#cntCPXOutputsCell_2_ImageList15 {
  left: 15px;
  position: absolute;
}

#cntCPXOutputsCell_2_ImageList15 {
  width: 20px;
}

#cntCPXOutputsCell_2_ImageList15 {
  height: 20px;
}

#cntCPXOutputsCell_2_ImageList15 {
  z-index: 1;
}

#cntCPXOutputsCell_2_ImageList16 {
  top: 125px;
  position: absolute;
}

#cntCPXOutputsCell_2_ImageList16 {
  left: 15px;
  position: absolute;
}

#cntCPXOutputsCell_2_ImageList16 {
  width: 20px;
}

#cntCPXOutputsCell_2_ImageList16 {
  height: 20px;
}

#cntCPXOutputsCell_2_ImageList16 {
  z-index: 2;
}

#cntCPXOutputsCell_2_ImageList17 {
  top: 155px;
  position: absolute;
}

#cntCPXOutputsCell_2_ImageList17 {
  left: 15px;
  position: absolute;
}

#cntCPXOutputsCell_2_ImageList17 {
  width: 20px;
}

#cntCPXOutputsCell_2_ImageList17 {
  height: 20px;
}

#cntCPXOutputsCell_2_ImageList17 {
  z-index: 3;
}

#cntCPXOutputsCell_2_ImageList18 {
  top: 185px;
  position: absolute;
}

#cntCPXOutputsCell_2_ImageList18 {
  left: 15px;
  position: absolute;
}

#cntCPXOutputsCell_2_ImageList18 {
  width: 20px;
}

#cntCPXOutputsCell_2_ImageList18 {
  height: 20px;
}

#cntCPXOutputsCell_2_ImageList18 {
  z-index: 4;
}

#cntCPXOutputsCell_2_ImageList19 {
  top: 215px;
  position: absolute;
}

#cntCPXOutputsCell_2_ImageList19 {
  left: 15px;
  position: absolute;
}

#cntCPXOutputsCell_2_ImageList19 {
  width: 20px;
}

#cntCPXOutputsCell_2_ImageList19 {
  height: 20px;
}

#cntCPXOutputsCell_2_ImageList19 {
  z-index: 5;
}

#cntCPXOutputsCell_2_ImageList20 {
  top: 245px;
  position: absolute;
}

#cntCPXOutputsCell_2_ImageList20 {
  left: 15px;
  position: absolute;
}

#cntCPXOutputsCell_2_ImageList20 {
  width: 20px;
}

#cntCPXOutputsCell_2_ImageList20 {
  height: 20px;
}

#cntCPXOutputsCell_2_ImageList20 {
  z-index: 6;
}

#cntCPXOutputsCell_2_ImageList49 {
  top: 65px;
  position: absolute;
}

#cntCPXOutputsCell_2_ImageList49 {
  left: 15px;
  position: absolute;
}

#cntCPXOutputsCell_2_ImageList49 {
  width: 20px;
}

#cntCPXOutputsCell_2_ImageList49 {
  height: 20px;
}

#cntCPXOutputsCell_2_ImageList49 {
  z-index: 7;
}

#cntCPXOutputsCell_2_ImageList50 {
  top: 35px;
  position: absolute;
}

#cntCPXOutputsCell_2_ImageList50 {
  left: 15px;
  position: absolute;
}

#cntCPXOutputsCell_2_ImageList50 {
  width: 20px;
}

#cntCPXOutputsCell_2_ImageList50 {
  height: 20px;
}

#cntCPXOutputsCell_2_ImageList50 {
  z-index: 8;
}

#cntCPXOutputsCell_2_Label_do49 {
  top: 35px;
  position: absolute;
}

#cntCPXOutputsCell_2_Label_do49 {
  left: 45px;
  position: absolute;
}

#cntCPXOutputsCell_2_Label_do49 {
  width: 230px;
}

#cntCPXOutputsCell_2_Label_do49 {
  height: 20px;
}

#cntCPXOutputsCell_2_Label_do49 {
  z-index: 9;
}

#cntCPXOutputsCell_2_Label_do50 {
  top: 65px;
  position: absolute;
}

#cntCPXOutputsCell_2_Label_do50 {
  left: 45px;
  position: absolute;
}

#cntCPXOutputsCell_2_Label_do50 {
  width: 230px;
}

#cntCPXOutputsCell_2_Label_do50 {
  height: 20px;
}

#cntCPXOutputsCell_2_Label_do50 {
  z-index: 10;
}

#cntCPXOutputsCell_2_Label_do51 {
  top: 95px;
  position: absolute;
}

#cntCPXOutputsCell_2_Label_do51 {
  left: 45px;
  position: absolute;
}

#cntCPXOutputsCell_2_Label_do51 {
  width: 230px;
}

#cntCPXOutputsCell_2_Label_do51 {
  height: 20px;
}

#cntCPXOutputsCell_2_Label_do51 {
  z-index: 11;
}

#cntCPXOutputsCell_2_Label_do52 {
  top: 125px;
  position: absolute;
}

#cntCPXOutputsCell_2_Label_do52 {
  left: 45px;
  position: absolute;
}

#cntCPXOutputsCell_2_Label_do52 {
  width: 230px;
}

#cntCPXOutputsCell_2_Label_do52 {
  height: 20px;
}

#cntCPXOutputsCell_2_Label_do52 {
  z-index: 12;
}

#cntCPXOutputsCell_2_Label_do53 {
  top: 155px;
  position: absolute;
}

#cntCPXOutputsCell_2_Label_do53 {
  left: 45px;
  position: absolute;
}

#cntCPXOutputsCell_2_Label_do53 {
  width: 230px;
}

#cntCPXOutputsCell_2_Label_do53 {
  height: 20px;
}

#cntCPXOutputsCell_2_Label_do53 {
  z-index: 13;
}

#cntCPXOutputsCell_2_Label_do54 {
  top: 185px;
  position: absolute;
}

#cntCPXOutputsCell_2_Label_do54 {
  left: 45px;
  position: absolute;
}

#cntCPXOutputsCell_2_Label_do54 {
  width: 230px;
}

#cntCPXOutputsCell_2_Label_do54 {
  height: 20px;
}

#cntCPXOutputsCell_2_Label_do54 {
  z-index: 14;
}

#cntCPXOutputsCell_2_Label_do55 {
  top: 215px;
  position: absolute;
}

#cntCPXOutputsCell_2_Label_do55 {
  left: 45px;
  position: absolute;
}

#cntCPXOutputsCell_2_Label_do55 {
  width: 230px;
}

#cntCPXOutputsCell_2_Label_do55 {
  height: 20px;
}

#cntCPXOutputsCell_2_Label_do55 {
  z-index: 15;
}

#cntCPXOutputsCell_2_Label_do56 {
  top: 245px;
  position: absolute;
}

#cntCPXOutputsCell_2_Label_do56 {
  left: 45px;
  position: absolute;
}

#cntCPXOutputsCell_2_Label_do56 {
  width: 230px;
}

#cntCPXOutputsCell_2_Label_do56 {
  height: 20px;
}

#cntCPXOutputsCell_2_Label_do56 {
  z-index: 16;
}
