﻿@import "mixins.scss";
#cntIOImageCell_2_ImageList3 {
	@include elemTop(30);
}
#cntIOImageCell_2_ImageList3 {
	@include elemLeft(195);
}
#cntIOImageCell_2_ImageList3 {
	@include elemWidth(30);
}
#cntIOImageCell_2_ImageList3 {
	@include elemHeight(225);
}
#cntIOImageCell_2_ImageList3 {
		z-index: 0;
}
#cntIOImageCell_2_ImageList4 {
	@include elemTop(30);
}
#cntIOImageCell_2_ImageList4 {
	@include elemLeft(225);
}
#cntIOImageCell_2_ImageList4 {
	@include elemWidth(30);
}
#cntIOImageCell_2_ImageList4 {
	@include elemHeight(225);
}
#cntIOImageCell_2_ImageList4 {
		z-index: 1;
}
#cntIOImageCell_2_ImageList5 {
	@include elemTop(30);
}
#cntIOImageCell_2_ImageList5 {
	@include elemLeft(255);
}
#cntIOImageCell_2_ImageList5 {
	@include elemWidth(30);
}
#cntIOImageCell_2_ImageList5 {
	@include elemHeight(225);
}
#cntIOImageCell_2_ImageList5 {
		z-index: 2;
}
#cntIOImageCell_2_ImageList6 {
	@include elemTop(30);
}
#cntIOImageCell_2_ImageList6 {
	@include elemLeft(285);
}
#cntIOImageCell_2_ImageList6 {
	@include elemWidth(30);
}
#cntIOImageCell_2_ImageList6 {
	@include elemHeight(225);
}
#cntIOImageCell_2_ImageList6 {
		z-index: 3;
}
#cntIOImageCell_2_ImageList7 {
	@include elemTop(30);
}
#cntIOImageCell_2_ImageList7 {
	@include elemLeft(315);
}
#cntIOImageCell_2_ImageList7 {
	@include elemWidth(30);
}
#cntIOImageCell_2_ImageList7 {
	@include elemHeight(225);
}
#cntIOImageCell_2_ImageList7 {
		z-index: 4;
}
#cntIOImageCell_2_ImageList8 {
	@include elemTop(30);
}
#cntIOImageCell_2_ImageList8 {
	@include elemLeft(375);
}
#cntIOImageCell_2_ImageList8 {
	@include elemWidth(30);
}
#cntIOImageCell_2_ImageList8 {
	@include elemHeight(225);
}
#cntIOImageCell_2_ImageList8 {
		z-index: 5;
}
#cntIOImageCell_2_ImageList9 {
	@include elemTop(30);
}
#cntIOImageCell_2_ImageList9 {
	@include elemLeft(345);
}
#cntIOImageCell_2_ImageList9 {
	@include elemWidth(30);
}
#cntIOImageCell_2_ImageList9 {
	@include elemHeight(225);
}
#cntIOImageCell_2_ImageList9 {
		z-index: 6;
}
#cntIOImageCell_2_ImageList_SafetyIO {
	@include elemTop(30);
}
#cntIOImageCell_2_ImageList_SafetyIO {
	@include elemLeft(405);
}
#cntIOImageCell_2_ImageList_SafetyIO {
	@include elemWidth(45);
}
#cntIOImageCell_2_ImageList_SafetyIO {
	@include elemHeight(225);
}
#cntIOImageCell_2_ImageList_SafetyIO {
		z-index: 7;
}
#cntIOImageCell_2_ImageList_SafetyIO2 {
	@include elemTop(30);
}
#cntIOImageCell_2_ImageList_SafetyIO2 {
	@include elemLeft(450);
}
#cntIOImageCell_2_ImageList_SafetyIO2 {
	@include elemWidth(45);
}
#cntIOImageCell_2_ImageList_SafetyIO2 {
	@include elemHeight(225);
}
#cntIOImageCell_2_ImageList_SafetyIO2 {
		z-index: 8;
}
#cntIOImageCell_2_ImageList_SafetyIO3 {
	@include elemTop(30);
}
#cntIOImageCell_2_ImageList_SafetyIO3 {
	@include elemLeft(495);
}
#cntIOImageCell_2_ImageList_SafetyIO3 {
	@include elemWidth(45);
}
#cntIOImageCell_2_ImageList_SafetyIO3 {
	@include elemHeight(225);
}
#cntIOImageCell_2_ImageList_SafetyIO3 {
		z-index: 9;
}
#cntIOImageCell_2_ImageList_SafetyIO4 {
	@include elemTop(30);
}
#cntIOImageCell_2_ImageList_SafetyIO4 {
	@include elemLeft(540);
}
#cntIOImageCell_2_ImageList_SafetyIO4 {
	@include elemWidth(45);
}
#cntIOImageCell_2_ImageList_SafetyIO4 {
	@include elemHeight(225);
}
#cntIOImageCell_2_ImageList_SafetyIO4 {
		z-index: 10;
}
#cntIOImageCell_2_ImageList_Robot {
	@include elemTop(300);
}
#cntIOImageCell_2_ImageList_Robot {
	@include elemLeft(45);
}
#cntIOImageCell_2_ImageList_Robot {
	@include elemWidth(165);
}
#cntIOImageCell_2_ImageList_Robot {
	@include elemHeight(240);
}
#cntIOImageCell_2_ImageList_Robot {
		z-index: 11;
}
#cntIOImageCell_2_ImageList_CPX {
	@include elemTop(300);
}
#cntIOImageCell_2_ImageList_CPX {
	@include elemLeft(285);
}
#cntIOImageCell_2_ImageList_CPX {
	@include elemWidth(375);
}
#cntIOImageCell_2_ImageList_CPX {
	@include elemHeight(195);
}
#cntIOImageCell_2_ImageList_CPX {
		z-index: 12;
}
#cntIOImageCell_2_Button_ControllerCell2 {
	@include elemTop(30);
}
#cntIOImageCell_2_Button_ControllerCell2 {
	@include elemLeft(90);
}
#cntIOImageCell_2_Button_ControllerCell2 {
	@include elemAutoWidth(320);
}
#cntIOImageCell_2_Button_ControllerCell2 {
	@include elemAutoHeight(225);
}
#cntIOImageCell_2_Button_ControllerCell2 {
		z-index: 16;
}
#cntIOImageCell_2_Button_ControllerCell2 {
	@include border-radius(0px);
}
#cntIOImageCell_2_Button_SafetyCell2 {
	@include elemTop(110);
}
#cntIOImageCell_2_Button_SafetyCell2 {
	@include elemLeft(420);
}
#cntIOImageCell_2_Button_SafetyCell2 {
	@include elemAutoWidth(180);
}
#cntIOImageCell_2_Button_SafetyCell2 {
	@include elemAutoHeight(225);
}
#cntIOImageCell_2_Button_SafetyCell2 {
		z-index: 13;
}
#cntIOImageCell_2_Button_SafetyCell2 {
	@include border-radius(0px);
}
#cntIOImageCell_2_ImageList2 {
	@include elemTop(25);
}
#cntIOImageCell_2_ImageList2 {
	@include elemLeft(84);
}
#cntIOImageCell_2_ImageList2 {
	@include elemWidth(80);
}
#cntIOImageCell_2_ImageList2 {
	@include elemHeight(230);
}
#cntIOImageCell_2_ImageList2 {
		z-index: 14;
}
#cntIOImageCell_2_ImageList2 {
		background-color: rgba(255, 255, 255, 0);
}
#cntIOImageCell_2_ImageList2 {
		margin: 0px;
}
#cntIOImageCell_2_ImageList10 {
	@include elemTop(25);
}
#cntIOImageCell_2_ImageList10 {
	@include elemLeft(162);
}
#cntIOImageCell_2_ImageList10 {
	@include elemWidth(34);
}
#cntIOImageCell_2_ImageList10 {
	@include elemHeight(225);
}
#cntIOImageCell_2_ImageList10 {
		z-index: 15;
}
