#cntIOImageCell_2_ImageList3 {
  top: 30px;
  position: absolute;
}

#cntIOImageCell_2_ImageList3 {
  left: 195px;
  position: absolute;
}

#cntIOImageCell_2_ImageList3 {
  width: 30px;
}

#cntIOImageCell_2_ImageList3 {
  height: 225px;
}

#cntIOImageCell_2_ImageList3 {
  z-index: 0;
}

#cntIOImageCell_2_ImageList4 {
  top: 30px;
  position: absolute;
}

#cntIOImageCell_2_ImageList4 {
  left: 225px;
  position: absolute;
}

#cntIOImageCell_2_ImageList4 {
  width: 30px;
}

#cntIOImageCell_2_ImageList4 {
  height: 225px;
}

#cntIOImageCell_2_ImageList4 {
  z-index: 1;
}

#cntIOImageCell_2_ImageList5 {
  top: 30px;
  position: absolute;
}

#cntIOImageCell_2_ImageList5 {
  left: 255px;
  position: absolute;
}

#cntIOImageCell_2_ImageList5 {
  width: 30px;
}

#cntIOImageCell_2_ImageList5 {
  height: 225px;
}

#cntIOImageCell_2_ImageList5 {
  z-index: 2;
}

#cntIOImageCell_2_ImageList6 {
  top: 30px;
  position: absolute;
}

#cntIOImageCell_2_ImageList6 {
  left: 285px;
  position: absolute;
}

#cntIOImageCell_2_ImageList6 {
  width: 30px;
}

#cntIOImageCell_2_ImageList6 {
  height: 225px;
}

#cntIOImageCell_2_ImageList6 {
  z-index: 3;
}

#cntIOImageCell_2_ImageList7 {
  top: 30px;
  position: absolute;
}

#cntIOImageCell_2_ImageList7 {
  left: 315px;
  position: absolute;
}

#cntIOImageCell_2_ImageList7 {
  width: 30px;
}

#cntIOImageCell_2_ImageList7 {
  height: 225px;
}

#cntIOImageCell_2_ImageList7 {
  z-index: 4;
}

#cntIOImageCell_2_ImageList8 {
  top: 30px;
  position: absolute;
}

#cntIOImageCell_2_ImageList8 {
  left: 375px;
  position: absolute;
}

#cntIOImageCell_2_ImageList8 {
  width: 30px;
}

#cntIOImageCell_2_ImageList8 {
  height: 225px;
}

#cntIOImageCell_2_ImageList8 {
  z-index: 5;
}

#cntIOImageCell_2_ImageList9 {
  top: 30px;
  position: absolute;
}

#cntIOImageCell_2_ImageList9 {
  left: 345px;
  position: absolute;
}

#cntIOImageCell_2_ImageList9 {
  width: 30px;
}

#cntIOImageCell_2_ImageList9 {
  height: 225px;
}

#cntIOImageCell_2_ImageList9 {
  z-index: 6;
}

#cntIOImageCell_2_ImageList_SafetyIO {
  top: 30px;
  position: absolute;
}

#cntIOImageCell_2_ImageList_SafetyIO {
  left: 405px;
  position: absolute;
}

#cntIOImageCell_2_ImageList_SafetyIO {
  width: 45px;
}

#cntIOImageCell_2_ImageList_SafetyIO {
  height: 225px;
}

#cntIOImageCell_2_ImageList_SafetyIO {
  z-index: 7;
}

#cntIOImageCell_2_ImageList_SafetyIO2 {
  top: 30px;
  position: absolute;
}

#cntIOImageCell_2_ImageList_SafetyIO2 {
  left: 450px;
  position: absolute;
}

#cntIOImageCell_2_ImageList_SafetyIO2 {
  width: 45px;
}

#cntIOImageCell_2_ImageList_SafetyIO2 {
  height: 225px;
}

#cntIOImageCell_2_ImageList_SafetyIO2 {
  z-index: 8;
}

#cntIOImageCell_2_ImageList_SafetyIO3 {
  top: 30px;
  position: absolute;
}

#cntIOImageCell_2_ImageList_SafetyIO3 {
  left: 495px;
  position: absolute;
}

#cntIOImageCell_2_ImageList_SafetyIO3 {
  width: 45px;
}

#cntIOImageCell_2_ImageList_SafetyIO3 {
  height: 225px;
}

#cntIOImageCell_2_ImageList_SafetyIO3 {
  z-index: 9;
}

#cntIOImageCell_2_ImageList_SafetyIO4 {
  top: 30px;
  position: absolute;
}

#cntIOImageCell_2_ImageList_SafetyIO4 {
  left: 540px;
  position: absolute;
}

#cntIOImageCell_2_ImageList_SafetyIO4 {
  width: 45px;
}

#cntIOImageCell_2_ImageList_SafetyIO4 {
  height: 225px;
}

#cntIOImageCell_2_ImageList_SafetyIO4 {
  z-index: 10;
}

#cntIOImageCell_2_ImageList_Robot {
  top: 300px;
  position: absolute;
}

#cntIOImageCell_2_ImageList_Robot {
  left: 45px;
  position: absolute;
}

#cntIOImageCell_2_ImageList_Robot {
  width: 165px;
}

#cntIOImageCell_2_ImageList_Robot {
  height: 240px;
}

#cntIOImageCell_2_ImageList_Robot {
  z-index: 11;
}

#cntIOImageCell_2_ImageList_CPX {
  top: 300px;
  position: absolute;
}

#cntIOImageCell_2_ImageList_CPX {
  left: 285px;
  position: absolute;
}

#cntIOImageCell_2_ImageList_CPX {
  width: 375px;
}

#cntIOImageCell_2_ImageList_CPX {
  height: 195px;
}

#cntIOImageCell_2_ImageList_CPX {
  z-index: 12;
}

#cntIOImageCell_2_Button_ControllerCell2 {
  top: 30px;
  position: absolute;
}

#cntIOImageCell_2_Button_ControllerCell2 {
  left: 90px;
  position: absolute;
}

#cntIOImageCell_2_Button_ControllerCell2 {
  width: 320px;
}

#cntIOImageCell_2_Button_ControllerCell2 {
  height: 225px;
}

#cntIOImageCell_2_Button_ControllerCell2 {
  z-index: 16;
}

#cntIOImageCell_2_Button_ControllerCell2 {
  border-radius: 0px;
}

#cntIOImageCell_2_Button_SafetyCell2 {
  top: 110px;
  position: absolute;
}

#cntIOImageCell_2_Button_SafetyCell2 {
  left: 420px;
  position: absolute;
}

#cntIOImageCell_2_Button_SafetyCell2 {
  width: 180px;
}

#cntIOImageCell_2_Button_SafetyCell2 {
  height: 225px;
}

#cntIOImageCell_2_Button_SafetyCell2 {
  z-index: 13;
}

#cntIOImageCell_2_Button_SafetyCell2 {
  border-radius: 0px;
}

#cntIOImageCell_2_ImageList2 {
  top: 25px;
  position: absolute;
}

#cntIOImageCell_2_ImageList2 {
  left: 84px;
  position: absolute;
}

#cntIOImageCell_2_ImageList2 {
  width: 80px;
}

#cntIOImageCell_2_ImageList2 {
  height: 230px;
}

#cntIOImageCell_2_ImageList2 {
  z-index: 14;
}

#cntIOImageCell_2_ImageList2 {
  background-color: rgba(255, 255, 255, 0);
}

#cntIOImageCell_2_ImageList2 {
  margin: 0px;
}

#cntIOImageCell_2_ImageList10 {
  top: 25px;
  position: absolute;
}

#cntIOImageCell_2_ImageList10 {
  left: 162px;
  position: absolute;
}

#cntIOImageCell_2_ImageList10 {
  width: 34px;
}

#cntIOImageCell_2_ImageList10 {
  height: 225px;
}

#cntIOImageCell_2_ImageList10 {
  z-index: 15;
}
