div[data-brease-dialogId='DialogIOModuleCell_2'] .breaseDialogWindowHeader .textDiv {
  font-size: 28px;
}

div[data-brease-dialogId='DialogIOModuleCell_2'] .breaseDialogWindowHeader .textDiv {
  font-weight: bold;
}
